In [1]:
import numpy as np
import pandas as pd
import zipfile
from zipfile import ZipFile
import glob
import os
from openpyxl import load_workbook
pd.options.display.float_format = '{:,.2f}'.format

# SFTP

## HEADERS

In [2]:
name_file=["Tipo de Columna","Afiliación","Referencia","Tarjeta","Monto depositado","Comisiones","Fecha txn","Importe Bruto"
           ,"Tipo Moneda","Tipo txn","Iva","Iva por pago diferido","Iva pagado por cashback","Iva cobrado por cashback"
           ,"Comisión pagada por cashback","Comisión cobrada por cashback","Comisión por pago diferido","Monto del Cashback"
           ,"Núm Pagos","Diferimiento Inicial","Tipo de Plan","Código de Autorización","Empty","ECI","Ref. Interbancaria"
           ,"Empty.1","Empty.2","Empty.3","order_id_xpay","Ref. de Payworks","Customer_ref1","Customer_ref2","Customer_ref3"
           ,"Núm de Control"]
dtypes_file={'Importe Bruto':float,'Ref. Interbancaria': object,'Afiliación':object,'Referencia':object,'Tarjeta':object
             ,'Núm Pagos':object,'Diferimiento Inicial':object,'Tipo de Plan':object,'Código de Autorización':object
             ,'ECI':object,'order_id_xpay':object}

In [3]:
use_cols = ['Afiliación','Tipo txn','Fecha txn','Importe Bruto','Código de Autorización','Ref. Interbancaria','order_id_xpay','Tarjeta','ECI']

### MARZO 2019

In [4]:
sftp_mar_1_19 = glob.glob(r'G:\My Drive\2.-CONCILIACIONES Y POLIZA\SFTP BANORTE\2019 SFTP Banorte\MARZO\**\PAYCLIP_Settlement*.csv', recursive=False)
sftp_mar_1_19

['G:\\My Drive\\2.-CONCILIACIONES Y POLIZA\\SFTP BANORTE\\2019 SFTP Banorte\\MARZO\\01032019\\PAYCLIP_Settlement_01032019_V1.csv',
 'G:\\My Drive\\2.-CONCILIACIONES Y POLIZA\\SFTP BANORTE\\2019 SFTP Banorte\\MARZO\\02032019\\PAYCLIP_Settlement_02032019_V1.csv',
 'G:\\My Drive\\2.-CONCILIACIONES Y POLIZA\\SFTP BANORTE\\2019 SFTP Banorte\\MARZO\\08032019\\PAYCLIP_Settlement_08032019_V1.csv',
 'G:\\My Drive\\2.-CONCILIACIONES Y POLIZA\\SFTP BANORTE\\2019 SFTP Banorte\\MARZO\\12032019\\PAYCLIP_Settlement_12032019_V1.csv',
 'G:\\My Drive\\2.-CONCILIACIONES Y POLIZA\\SFTP BANORTE\\2019 SFTP Banorte\\MARZO\\13032019\\PAYCLIP_Settlement_13032019_V1.csv',
 'G:\\My Drive\\2.-CONCILIACIONES Y POLIZA\\SFTP BANORTE\\2019 SFTP Banorte\\MARZO\\14032019\\PAYCLIP_Settlement_14032019_V1.csv',
 'G:\\My Drive\\2.-CONCILIACIONES Y POLIZA\\SFTP BANORTE\\2019 SFTP Banorte\\MARZO\\15032019\\PAYCLIP_Settlement_15032019_V1.csv',
 'G:\\My Drive\\2.-CONCILIACIONES Y POLIZA\\SFTP BANORTE\\2019 SFTP Banorte\\MARZO\\20032019\\PAYCLIP_Settlement_20032019_V1.csv',
 'G:\\My Drive\\2.-CONCILIACIONES Y POLIZA\\SFTP BANORTE\\2019 SFTP Banorte\\MARZO\\16032019\\PAYCLIP_Settlement_16032019_V1.csv',
 'G:\\My Drive\\2.-CONCILIACIONES Y POLIZA\\SFTP BANORTE\\2019 SFTP Banorte\\MARZO\\21032019\\PAYCLIP_Settlement_21032019_V1.csv',
 'G:\\My Drive\\2.-CONCILIACIONES Y POLIZA\\SFTP BANORTE\\2019 SFTP Banorte\\MARZO\\22032019\\PAYCLIP_Settlement_22032019_V1.csv',
 'G:\\My Drive\\2.-CONCILIACIONES Y POLIZA\\SFTP BANORTE\\2019 SFTP Banorte\\MARZO\\26032019\\PAYCLIP_Settlement_26032019_V1.csv',
 'G:\\My Drive\\2.-CONCILIACIONES Y POLIZA\\SFTP BANORTE\\2019 SFTP Banorte\\MARZO\\27032019\\PAYCLIP_Settlement_27032019_V1.csv',
 'G:\\My Drive\\2.-CONCILIACIONES Y POLIZA\\SFTP BANORTE\\2019 SFTP Banorte\\MARZO\\28032019\\PAYCLIP_Settlement_28032019_V1.csv',
 'G:\\My Drive\\2.-CONCILIACIONES Y POLIZA\\SFTP BANORTE\\2019 SFTP Banorte\\MARZO\\23032019\\PAYCLIP_Settlement_23032019_V1.csv',
 'G:\\My Drive\\2.-CONCILIACIONES Y POLIZA\\SFTP BANORTE\\2019 SFTP Banorte\\MARZO\\29032019\\PAYCLIP_Settlement_29032019_V1.csv',
 'G:\\My Drive\\2.-CONCILIACIONES Y POLIZA\\SFTP BANORTE\\2019 SFTP Banorte\\MARZO\\30032019\\PAYCLIP_Settlement_30032019_V1.csv',
 'G:\\My Drive\\2.-CONCILIACIONES Y POLIZA\\SFTP BANORTE\\2019 SFTP Banorte\\MARZO\\05032019\\PAYCLIP_Settlement_05032019_V1.csv',
 'G:\\My Drive\\2.-CONCILIACIONES Y POLIZA\\SFTP BANORTE\\2019 SFTP Banorte\\MARZO\\06032019\\PAYCLIP_Settlement_06032019_V1.csv',
 'G:\\My Drive\\2.-CONCILIACIONES Y POLIZA\\SFTP BANORTE\\2019 SFTP Banorte\\MARZO\\07032019\\PAYCLIP_Settlement_07032019_V1.csv',
 'G:\\My Drive\\2.-CONCILIACIONES Y POLIZA\\SFTP BANORTE\\2019 SFTP Banorte\\MARZO\\09032019\\PAYCLIP_Settlement_09032019_V1.csv']

In [5]:
sftp_mar_19 = pd.concat([pd.read_csv(f,names=name_file,dtype=dtypes_file,usecols=use_cols)
                         .assign(file_name=os.path.basename(f)) for f in sftp_mar_1_19])
sftp_mar_19.rename(columns ={'Ref. Interbancaria':'order_id','Código de Autorización':'codigo_autorizacion'}, inplace=True)
sftp_mar_19['date_file'] = sftp_mar_19["file_name"].str[-15:-7]
sftp_mar_19['date_file']= pd.to_datetime(sftp_mar_19['date_file'], format='%d%m%Y').dt.date
sftp_mar_19['date_file']= pd.to_datetime(sftp_mar_19['date_file'])
sftp_mar_19.sort_values(by=['date_file'],ascending=True,inplace=True)
sftp_mar_19['month'] = sftp_mar_19['date_file'].dt.strftime('%B')
sftp_mar_19.head()

,Afiliación,Tarjeta,Fecha txn,Importe Bruto,Tipo txn,codigo_autorizacion,ECI,order_id,order_id_xpay,file_name,date_file,month
0,MXN,-91703835,2802191,"20,190,228.00",BANORTE,NaN,NaN,NaN,NaN,PAYCLIP_Settlement_01032019_V1.csv,2019-03-01,March
35783,07927517,5063034068,20190227,"2,000.00",SETTLED,944399,75445509058896579275170,766904878348,NaN,PAYCLIP_Settlement_01032019_V1.csv,2019-03-01,March
35784,07927517,5204165796,20190227,"6,500.00",SETTLED,025034,75445509058940879275173,100601516038,NaN,PAYCLIP_Settlement_01032019_V1.csv,2019-03-01,March
35785,07927517,5204164095,20190227,"12,000.00",SETTLED,001264,75445509058941279275177,696573308138,NaN,PAYCLIP_Settlement_01032019_V1.csv,2019-03-01,March
35786,07927517,5359432349,20190227,"7,900.00",SETTLED,594196,75445509058027679275171,286806345207,NaN,PAYCLIP_Settlement_01032019_V1.csv,2019-03-01,March

In [6]:
sftp_mar_19.shape

(1686706, 12)

### FEBRERO 2019

In [7]:
sftp_feb_1_19 = glob.glob(r'G:\My Drive\2.-CONCILIACIONES Y POLIZA\SFTP BANORTE\2019 SFTP Banorte\FEBRERO\**\PAYCLIP_Settlement*.csv', recursive=False)
sftp_feb_1_19

['G:\\My Drive\\2.-CONCILIACIONES Y POLIZA\\SFTP BANORTE\\2019 SFTP Banorte\\FEBRERO\\01022019\\PAYCLIP_Settlement_01022019_V1.csv',
 'G:\\My Drive\\2.-CONCILIACIONES Y POLIZA\\SFTP BANORTE\\2019 SFTP Banorte\\FEBRERO\\02022019\\PAYCLIP_Settlement_02022019_V1.csv',
 'G:\\My Drive\\2.-CONCILIACIONES Y POLIZA\\SFTP BANORTE\\2019 SFTP Banorte\\FEBRERO\\06022019\\PAYCLIP_Settlement_06022019_V1.csv',
 'G:\\My Drive\\2.-CONCILIACIONES Y POLIZA\\SFTP BANORTE\\2019 SFTP Banorte\\FEBRERO\\07022019\\PAYCLIP_Settlement_07022019_V1.csv',
 'G:\\My Drive\\2.-CONCILIACIONES Y POLIZA\\SFTP BANORTE\\2019 SFTP Banorte\\FEBRERO\\08022019\\PAYCLIP_Settlement_08022019_V1.csv',
 'G:\\My Drive\\2.-CONCILIACIONES Y POLIZA\\SFTP BANORTE\\2019 SFTP Banorte\\FEBRERO\\09022019\\PAYCLIP_Settlement_09022019_V1.csv',
 'G:\\My Drive\\2.-CONCILIACIONES Y POLIZA\\SFTP BANORTE\\2019 SFTP Banorte\\FEBRERO\\12022019\\PAYCLIP_Settlement_12022019_V1.csv',
 'G:\\My Drive\\2.-CONCILIACIONES Y POLIZA\\SFTP BANORTE\\2019 SFTP Banorte\\FEBRERO\\13022019\\PAYCLIP_Settlement_13022019_V1.csv',
 'G:\\My Drive\\2.-CONCILIACIONES Y POLIZA\\SFTP BANORTE\\2019 SFTP Banorte\\FEBRERO\\14022019\\PAYCLIP_Settlement_14022019_V1.csv',
 'G:\\My Drive\\2.-CONCILIACIONES Y POLIZA\\SFTP BANORTE\\2019 SFTP Banorte\\FEBRERO\\15022019\\PAYCLIP_Settlement_15022019_V1.csv',
 'G:\\My Drive\\2.-CONCILIACIONES Y POLIZA\\SFTP BANORTE\\2019 SFTP Banorte\\FEBRERO\\19022019\\PAYCLIP_Settlement_19022019_V1.csv',
 'G:\\My Drive\\2.-CONCILIACIONES Y POLIZA\\SFTP BANORTE\\2019 SFTP Banorte\\FEBRERO\\20022019\\PAYCLIP_Settlement_20022019_V1.csv',
 'G:\\My Drive\\2.-CONCILIACIONES Y POLIZA\\SFTP BANORTE\\2019 SFTP Banorte\\FEBRERO\\21022019\\PAYCLIP_Settlement_21022019_V1.csv',
 'G:\\My Drive\\2.-CONCILIACIONES Y POLIZA\\SFTP BANORTE\\2019 SFTP Banorte\\FEBRERO\\22022019\\PAYCLIP_Settlement_22022019_V1.csv',
 'G:\\My Drive\\2.-CONCILIACIONES Y POLIZA\\SFTP BANORTE\\2019 SFTP Banorte\\FEBRERO\\23022019\\PAYCLIP_Settlement_23022019_V1.csv',
 'G:\\My Drive\\2.-CONCILIACIONES Y POLIZA\\SFTP BANORTE\\2019 SFTP Banorte\\FEBRERO\\26022019\\PAYCLIP_Settlement_26022019_V1.csv',
 'G:\\My Drive\\2.-CONCILIACIONES Y POLIZA\\SFTP BANORTE\\2019 SFTP Banorte\\FEBRERO\\27022019\\PAYCLIP_Settlement_27022019_V1.csv',
 'G:\\My Drive\\2.-CONCILIACIONES Y POLIZA\\SFTP BANORTE\\2019 SFTP Banorte\\FEBRERO\\28022019\\PAYCLIP_Settlement_28022019_V1.csv',
 'G:\\My Drive\\2.-CONCILIACIONES Y POLIZA\\SFTP BANORTE\\2019 SFTP Banorte\\FEBRERO\\16022019\\PAYCLIP_Settlement_16022019_V1.csv']

In [8]:
sftp_feb_19 = pd.concat([pd.read_csv(f,names=name_file,dtype=dtypes_file,usecols=use_cols)
                         .assign(file_name=os.path.basename(f)) for f in sftp_feb_1_19])
sftp_feb_19.rename(columns ={'Ref. Interbancaria':'order_id','Código de Autorización':'codigo_autorizacion'}, inplace=True)
sftp_feb_19['date_file'] = sftp_feb_19["file_name"].str[-15:-7]
sftp_feb_19['date_file']= pd.to_datetime(sftp_feb_19['date_file'], format='%d%m%Y').dt.date
sftp_feb_19['date_file']= pd.to_datetime(sftp_feb_19['date_file'])
sftp_feb_19.sort_values(by=['date_file'],ascending=True,inplace=True)
sftp_feb_19['month'] = sftp_feb_19['date_file'].dt.strftime('%B')
sftp_feb_19.head()

,Afiliación,Tarjeta,Fecha txn,Importe Bruto,Tipo txn,codigo_autorizacion,ECI,order_id,order_id_xpay,file_name,date_file,month
0,MXN,-83590681,3101191,"20,190,131.00",BANORTE,NaN,NaN,NaN,NaN,PAYCLIP_Settlement_01022019_V1.csv,2019-02-01,February
32618,07927517,4152319122,20190130,"11,000.00",SETTLED,986848,74518999030661079275174,427366334871,NaN,PAYCLIP_Settlement_01022019_V1.csv,2019-02-01,February
32619,07927517,5063036267,20190130,"1,500.00",SETTLED,759247,75445509030825979275178,088839756435,NaN,PAYCLIP_Settlement_01022019_V1.csv,2019-02-01,February
32620,07927517,4152312522,20190130,"3,300.00",SETTLED,987894,74518999030670579275170,989610538412,NaN,PAYCLIP_Settlement_01022019_V1.csv,2019-02-01,February
32621,07927517,4152319965,20190130,"67,000.00",SETTLED,987973,74518999030694779275178,376335557047,NaN,PAYCLIP_Settlement_01022019_V1.csv,2019-02-01,February

In [9]:
sftp_feb_19.shape

(1449680, 12)

# ALL SFTP

In [10]:
sftp = pd.concat([sftp_feb_19,sftp_mar_19])
sftp.head()

,Afiliación,Tarjeta,Fecha txn,Importe Bruto,Tipo txn,codigo_autorizacion,ECI,order_id,order_id_xpay,file_name,date_file,month
0,MXN,-83590681,3101191,"20,190,131.00",BANORTE,NaN,NaN,NaN,NaN,PAYCLIP_Settlement_01022019_V1.csv,2019-02-01,February
32618,07927517,4152319122,20190130,"11,000.00",SETTLED,986848,74518999030661079275174,427366334871,NaN,PAYCLIP_Settlement_01022019_V1.csv,2019-02-01,February
32619,07927517,5063036267,20190130,"1,500.00",SETTLED,759247,75445509030825979275178,088839756435,NaN,PAYCLIP_Settlement_01022019_V1.csv,2019-02-01,February
32620,07927517,4152312522,20190130,"3,300.00",SETTLED,987894,74518999030670579275170,989610538412,NaN,PAYCLIP_Settlement_01022019_V1.csv,2019-02-01,February
32621,07927517,4152319965,20190130,"67,000.00",SETTLED,987973,74518999030694779275178,376335557047,NaN,PAYCLIP_Settlement_01022019_V1.csv,2019-02-01,February

In [11]:
sftp.shape

(3136386, 12)

In [12]:
sftp_fecha_deposito = sftp[(sftp['Tipo txn'] == 'BANORTE')]
sftp_fecha_deposito = sftp_fecha_deposito[['date_file', 'Importe Bruto']]
sftp_fecha_deposito.rename(columns ={'Importe Bruto': 'Fecha_deposito'},inplace=True)
sftp_fecha_deposito.head()

   date_file  Fecha_deposito
0 2019-02-01   20,190,131.00
0 2019-02-02   20,190,201.00
0 2019-02-06   20,190,205.00
0 2019-02-07   20,190,206.00
0 2019-02-08   20,190,207.00

In [13]:
sftp = sftp[(sftp['Tipo txn'] != 'BANORTE')]
sftp = sftp.merge(sftp_fecha_deposito[['date_file', 'Fecha_deposito']],on='date_file',how='left')

In [14]:
sftp['Fecha txn'] = pd.to_datetime(sftp['Fecha txn'], format='%Y%m%d').dt.date
sftp['Fecha_deposito'] = pd.to_datetime(sftp['Fecha_deposito'], format='%Y%m%d').dt.date

In [15]:
sftp['Fecha txn'] = pd.to_datetime(sftp['Fecha txn'])
sftp['Fecha_deposito'] = pd.to_datetime(sftp['Fecha_deposito'])

In [16]:
sftp['Net Amount'] = sftp['Importe Bruto']/100
sftp['LAST4_SFTP'] = sftp['Tarjeta'].str[-4:].astype(str)
sftp['BIN_SFTP'] = sftp['Tarjeta'].str[:6].astype(str)
sftp['INDEX_TOTAL'] = (sftp['BIN_SFTP'].astype(str).replace(' ', '',regex=True)+'_'
                       +sftp['LAST4_SFTP'].astype(str).replace(' ', '',regex=True)+'_'
                       +sftp['order_id'].astype(str).replace(' ', '',regex=True)+'_'
                       +sftp['Net Amount'].astype(str).replace(' ', '',regex=True))
sftp['INDEX_TOTAL_XPAY'] = (sftp['BIN_SFTP'].astype(str).replace(' ', '',regex=True)+'_'
                       +sftp['LAST4_SFTP'].astype(str).replace(' ', '',regex=True)+'_'
                       +sftp['order_id_xpay'].astype(str).replace(' ', '',regex=True)+'_'
                       +sftp['Net Amount'].astype(str).replace(' ', '',regex=True))
sftp['INDEX_PARCIAL'] = (sftp['BIN_SFTP'].astype(str).replace(' ', '',regex=True)+'_'
                       +sftp['LAST4_SFTP'].astype(str).replace(' ', '',regex=True)+'_'
                       +sftp['codigo_autorizacion'].astype(str).replace(' ', '',regex=True)+'_'
                       +sftp['Net Amount'].astype(str).replace(' ', '',regex=True))
sftp['order_id'].fillna('NO EXISTE EN SFTP',inplace=True)
sftp.head()

,Afiliación,Tarjeta,Fecha txn,Importe Bruto,Tipo txn,codigo_autorizacion,ECI,order_id,order_id_xpay,file_name,date_file,month,Fecha_deposito,Net Amount,LAST4_SFTP,BIN_SFTP,INDEX_TOTAL,INDEX_TOTAL_XPAY,INDEX_PARCIAL
0,07927517,4152319122,2019-01-30,"11,000.00",SETTLED,986848,74518999030661079275174,427366334871,NaN,PAYCLIP_Settlement_01022019_V1.csv,2019-02-01,February,2019-01-31,110.00,9122,415231,415231_9122_427366334871_110.0,415231_9122_nan_110.0,415231_9122_986848_110.0
1,07927517,5063036267,2019-01-30,"1,500.00",SETTLED,759247,75445509030825979275178,088839756435,NaN,PAYCLIP_Settlement_01022019_V1.csv,2019-02-01,February,2019-01-31,15.00,6267,506303,506303_6267_088839756435_15.0,506303_6267_nan_15.0,506303_6267_759247_15.0
2,07927517,4152312522,2019-01-30,"3,300.00",SETTLED,987894,74518999030670579275170,989610538412,NaN,PAYCLIP_Settlement_01022019_V1.csv,2019-02-01,February,2019-01-31,33.00,2522,415231,415231_2522_989610538412_33.0,415231_2522_nan_33.0,415231_2522_987894_33.0
3,07927517,4152319965,2019-01-30,"67,000.00",SETTLED,987973,74518999030694779275178,376335557047,NaN,PAYCLIP_Settlement_01022019_V1.csv,2019-02-01,February,2019-01-31,670.00,9965,415231,415231_9965_376335557047_670.0,415231_9965_nan_670.0,415231_9965_987973_670.0
4,07927517,4213160488,2019-01-30,"6,800.00",SETTLED,003807,74518999030706979275178,124403828831,NaN,PAYCLIP_Settlement_01022019_V1.csv,2019-02-01,February,2019-01-31,68.00,0488,421316,421316_0488_124403828831_68.0,421316_0488_nan_68.0,421316_0488_003807_68.0

In [17]:
sftp.shape

(3136346, 19)

# DATA POR AFILIACION

In [ ]:
sftp_por_afiliacion = sftp.loc[sftp['Afiliación'].str.contains('8380402')]
sftp_por_afiliacion.head()

In [ ]:
sftp_por_afiliacion.shape

In [ ]:
sftp_por_afiliacion.to_excel('MIT.xlsx',index=False)

# CHECKS

In [ ]:
# ticket_zendesk = pd.read_csv('EXAMPLE_2.csv',dtype={'AMOUNT':float,'CLAVE_AUTORIZACION': object,'BIN':object,'LAST4':object,'ORDER_ID':object})
# ticket_zendesk = pd.read_excel('DATA.xlsx',converters={'ORDER_ID':str})
# ticket_zendesk.rename(columns={'ORDER_ID':'order_id'},inplace=True)
# ticket_zendesk.sort_values(by=['order_id','Fecha txn'],inplace=True)

In [18]:
ticket_zendesk = pd.read_csv('TXN 2019.csv',dtype={'amount':float,'clave_autorizacion': object,'bin':object
                                                  ,'last4':object,'order_id':object})
ticket_zendesk['INDEX_TOTAL'] = (ticket_zendesk['bin'].astype(str).replace(' ', '',regex=True)+'_'
                       +ticket_zendesk['last4'].astype(str).replace(' ', '',regex=True)+'_'
                       +ticket_zendesk['order_id'].astype(str).replace(' ', '',regex=True)+'_'
                       +ticket_zendesk['amount'].astype(str).replace(' ', '',regex=True))
ticket_zendesk['INDEX_TOTAL_XPAY'] = (ticket_zendesk['bin'].astype(str).replace(' ', '',regex=True)+'_'
                       +ticket_zendesk['last4'].astype(str).replace(' ', '',regex=True)+'_'
                       +ticket_zendesk['order_id'].astype(str).replace(' ', '',regex=True)+'_'
                       +ticket_zendesk['amount'].astype(str).replace(' ', '',regex=True))
ticket_zendesk['INDEX_PARCIAL'] = (ticket_zendesk['bin'].astype(str).replace(' ', '',regex=True)+'_'
                       +ticket_zendesk['last4'].astype(str).replace(' ', '',regex=True)+'_'
                       +ticket_zendesk['order_id'].astype(str).replace(' ', '',regex=True)+'_'
                       +ticket_zendesk['amount'].astype(str).replace(' ', '',regex=True))
ticket_zendesk.head()

,merchant_id,uuid,transaction_id,psp,affiliation_type,order_id,affiliation,sub_affiliation,mcc,date,...,status_code,msi,device_id,clip_reader,status_msg,issuer,brand,INDEX_TOTAL,INDEX_TOTAL_XPAY,INDEX_PARCIAL
0,236e8ab4-c456-48dc-a79a-966b917241a3,c20d3297-d6c7-497d-b6ad-7f7457a8de38,f6f63c4b-23d3-4642-b63c-6859c7178121,PROSA,nan,912958002843,nan,nan,nan,2019-02-03,...,3,0,37303030303834300A270003,Clip Plus,Cancelled. Initiated by Clip risk team.,USALLIANCE F.C.U.,VISA,440881_0516_912958002843_14000.0,440881_0516_912958002843_14000.0,440881_0516_912958002843_14000.0

In [19]:
ticket_zendesk.shape

(1, 28)

In [20]:
ticket_zendesk['psp'].unique()

array(['PROSA'], dtype=object)

In [21]:
ticket_zendesk['status_code'].unique()

array([3], dtype=int64)

In [22]:
ticket_zendesk['order_id_busqueda'] = "'"+ticket_zendesk['order_id'].replace(' ', '',regex=True)+"',"
print (ticket_zendesk['order_id_busqueda'].to_string(index=False))

 '912958002843',

# IMPORTANTE: REVISAR A QUE PSP CORRESPONDE EL ORDER ID (PROSA O XPAY)

In [23]:
# select columns by name
check_txn = sftp[sftp['order_id'].isin(['912958002843']) | sftp.order_id_xpay.isin(['912958002843'])]
# check_txn = sftp[sftp['ECI'].isin(['74518990297102774892283'])]
# check_txn = sftp[sftp['order_id'] == '082566136893']
# check_txn = sftp[sftp['order_id_xpay'].isin(['223432604325'])]
# check_txn = sftp[(sftp.order_id == ('470520706509')) | (sftp.order_id ==('684089225828'))]
# check_txn = sftp[(sftp.CONCAT_2 == ('4388-2460.0')) | (sftp.CONCAT_2 == ('4388--2460.0'))]
# check_txn = sftp[(sftp.CONCAT_3 == ('314771-2718-295.0')) | (sftp.CONCAT_3 == ('314771-2718--295.0'))]
# check_txn = sftp[(sftp['LAST4'] == '7206')]
# check_txn.sort_values(by=['order_id','Fecha txn'],inplace=True)
check_txn.head()

,Afiliación,Tarjeta,Fecha txn,Importe Bruto,Tipo txn,codigo_autorizacion,ECI,order_id,order_id_xpay,file_name,date_file,month,Fecha_deposito,Net Amount,LAST4_SFTP,BIN_SFTP,INDEX_TOTAL,INDEX_TOTAL_XPAY,INDEX_PARCIAL
227790,07668673,4408810516,2019-02-03,"1,400,000.00",SETTLED,953897,74518999034105476686738,912958002843,NaN,PAYCLIP_Settlement_06022019_V1.csv,2019-02-06,February,2019-02-05,"14,000.00",0516,440881,440881_0516_912958002843_14000.0,440881_0516_nan_14000.0,440881_0516_953897_14000.0
540173,07668673,4408810516,2019-02-03,"-1,400,000.00",REFUNDED,953897,74518999041265876686737,912958002843,NaN,PAYCLIP_Settlement_12022019_V1.csv,2019-02-12,February,2019-02-11,"-14,000.00",0516,440881,440881_0516_912958002843_-14000.0,440881_0516_nan_-14000.0,440881_0516_953897_-14000.0

In [24]:
check_txn.shape

(2, 19)

In [ ]:
# check_txn.to_excel('LAST4_7106.xlsx',index=False)

In [ ]:
# writer = pd.ExcelWriter('EXAMPLE_SFTP(2).xlsx', engine='openpyxl', options={'encoding':'utf-8'})
# check_txn.to_excel(writer, sheet_name='MATCH TXN 1', index=False)
# ticket_zendesk.to_excel(writer, sheet_name='TICKET', index=False)
# writer.save()
# writer.close()

# MATCH DEPENDIENDO DEL PSP (INDEX_TOTAL O INDEX_TOTAL_XPAY)

In [25]:
match = check_txn.merge(ticket_zendesk[['INDEX_TOTAL','merchant_id','transaction_id','status_code','status_msg',
                                       'bin','last4','amount']],on='INDEX_TOTAL',how='left')
# match = check_txn.merge(ticket_zendesk[['INDEX_TOTAL_XPAY','merchant_id','transaction_id','status_code','status_msg',
#                                        'bin','last4','amount']],on='INDEX_TOTAL_XPAY',how='left')
# match = check_txn.merge(ticket_zendesk[['order_id','ISSUER','BRAND']],on='order_id',how='left')
# match['transaction_id'].fillna('NO MATCH',inplace=True)
# match['status_code'].fillna('NO MATCH',inplace=True)
# match['status_msg'].fillna('NO MATCH',inplace=True)
match.head()

,Afiliación,Tarjeta,Fecha txn,Importe Bruto,Tipo txn,codigo_autorizacion,ECI,order_id,order_id_xpay,file_name,...,INDEX_TOTAL,INDEX_TOTAL_XPAY,INDEX_PARCIAL,merchant_id,transaction_id,status_code,status_msg,bin,last4,amount
0,07668673,4408810516,2019-02-03,"1,400,000.00",SETTLED,953897,74518999034105476686738,912958002843,NaN,PAYCLIP_Settlement_06022019_V1.csv,...,440881_0516_912958002843_14000.0,440881_0516_nan_14000.0,440881_0516_953897_14000.0,236e8ab4-c456-48dc-a79a-966b917241a3,f6f63c4b-23d3-4642-b63c-6859c7178121,3.00,Cancelled. Initiated by Clip risk team.,440881,0516,"14,000.00"
1,07668673,4408810516,2019-02-03,"-1,400,000.00",REFUNDED,953897,74518999041265876686737,912958002843,NaN,PAYCLIP_Settlement_12022019_V1.csv,...,440881_0516_912958002843_-14000.0,440881_0516_nan_-14000.0,440881_0516_953897_-14000.0,NaN,NaN,nan,NaN,NaN,NaN,nan

In [26]:
match.shape

(2, 26)

In [27]:
match_final = match[['Fecha txn','Tipo txn','order_id','order_id_xpay','Fecha_deposito','Net Amount','merchant_id',
                    'transaction_id','status_code','status_msg']]

In [28]:
writer = pd.ExcelWriter('DATA FINAL TXN 2019.xlsx', engine='openpyxl', options={'encoding':'utf-8'})
match_final.to_excel(writer, sheet_name='MATCH_FINAL', index=False)
match.to_excel(writer, sheet_name='MATCH', index=False)
writer.save()
writer.close()