In [1]:
import numpy as np
import pandas as pd
import zipfile
from zipfile import ZipFile
import glob
import os
from openpyxl import load_workbook
pd.options.display.float_format = '{:,.2f}'.format

# SFTP

## HEADERS

In [2]:
name_file=['column_type','affiliation_sftp','merchant_reference','card','settled_amount','commisions','transaction_date',
           'gross_amount','currency','transaction_type','tax','installments_tax','iva_cashback_paid','iva_cashback_charged',
          'cashback_fees_paid','cashback_fees_charged','installments_fees','cashback_amount','number_of_payments',
           'initial_deferment','plan_type','auth_code','unknown.1','eci','interbank_reference','empty.1','unknown.2','empty.2',
          'payworks_reference','card_type','transaction_source','prosa_reference','acquirer_commision','acquirer_tax',
          'unknown.3','unknown.4','unknown.5']
dtypes_file={'interbank_reference':object,'affiliation_sftp':object,'card':object,'number_of_payments':object,
             'initial_deferment':object,'plan_type':object,'auth_code':object,'payworks_reference':object}

In [3]:
use_cols = ['affiliation_sftp','transaction_type','transaction_date','gross_amount','auth_code','interbank_reference',
            'payworks_reference','card','commisions','tax','installments_fees','installments_tax','acquirer_commision',
            'acquirer_tax']

### DICIEMBRE 2021

In [4]:
sftp_dec_1_21 = glob.glob(r'G:\My Drive\2.-CONCILIACIONES Y POLIZA\SFTP BANORTE\2021 SFTP Banorte\12. DICIEMBRE\**\PAYCLIP_Settlement*.csv', recursive=False)
sftp_dec_1_21

['G:\\My Drive\\2.-CONCILIACIONES Y POLIZA\\SFTP BANORTE\\2021 SFTP Banorte\\12. DICIEMBRE\\01122021\\PAYCLIP_Settlement_01122021_V1.csv',
 'G:\\My Drive\\2.-CONCILIACIONES Y POLIZA\\SFTP BANORTE\\2021 SFTP Banorte\\12. DICIEMBRE\\02122021\\PAYCLIP_Settlement_02122021_V1.csv',
 'G:\\My Drive\\2.-CONCILIACIONES Y POLIZA\\SFTP BANORTE\\2021 SFTP Banorte\\12. DICIEMBRE\\03122021\\PAYCLIP_Settlement_03122021_V1.csv',
 'G:\\My Drive\\2.-CONCILIACIONES Y POLIZA\\SFTP BANORTE\\2021 SFTP Banorte\\12. DICIEMBRE\\04122021\\PAYCLIP_Settlement_04122021_V1.csv',
 'G:\\My Drive\\2.-CONCILIACIONES Y POLIZA\\SFTP BANORTE\\2021 SFTP Banorte\\12. DICIEMBRE\\07122021\\PAYCLIP_Settlement_07122021_V1.csv',
 'G:\\My Drive\\2.-CONCILIACIONES Y POLIZA\\SFTP BANORTE\\2021 SFTP Banorte\\12. DICIEMBRE\\08122021\\PAYCLIP_Settlement_08122021_V1.csv',
 'G:\\My Drive\\2.-CONCILIACIONES Y POLIZA\\SFTP BANORTE\\2021 SFTP Banorte\\12. DICIEMBRE\\09122021\\PAYCLIP_Settlement_09122021_V1.csv',
 'G:\\My Drive\\2.-CONCILIACIONES Y POLIZA\\SFTP BANORTE\\2021 SFTP Banorte\\12. DICIEMBRE\\10122021\\PAYCLIP_Settlement_10122021_V1.csv',
 'G:\\My Drive\\2.-CONCILIACIONES Y POLIZA\\SFTP BANORTE\\2021 SFTP Banorte\\12. DICIEMBRE\\11122021\\PAYCLIP_Settlement_11122021_V1.csv',
 'G:\\My Drive\\2.-CONCILIACIONES Y POLIZA\\SFTP BANORTE\\2021 SFTP Banorte\\12. DICIEMBRE\\14122021\\PAYCLIP_Settlement_14122021_V1.csv',
 'G:\\My Drive\\2.-CONCILIACIONES Y POLIZA\\SFTP BANORTE\\2021 SFTP Banorte\\12. DICIEMBRE\\15122021\\PAYCLIP_Settlement_15122021_V1.csv',
 'G:\\My Drive\\2.-CONCILIACIONES Y POLIZA\\SFTP BANORTE\\2021 SFTP Banorte\\12. DICIEMBRE\\21122021\\PAYCLIP_Settlement_21122021_V1.csv',
 'G:\\My Drive\\2.-CONCILIACIONES Y POLIZA\\SFTP BANORTE\\2021 SFTP Banorte\\12. DICIEMBRE\\16122021\\PAYCLIP_Settlement_16122021_V1.csv',
 'G:\\My Drive\\2.-CONCILIACIONES Y POLIZA\\SFTP BANORTE\\2021 SFTP Banorte\\12. DICIEMBRE\\18122021\\PAYCLIP_Settlement_18122021_V1.csv',
 'G:\\My Drive\\2.-CONCILIACIONES Y POLIZA\\SFTP BANORTE\\2021 SFTP Banorte\\12. DICIEMBRE\\17122021\\PAYCLIP_Settlement_17122021_V1.csv',
 'G:\\My Drive\\2.-CONCILIACIONES Y POLIZA\\SFTP BANORTE\\2021 SFTP Banorte\\12. DICIEMBRE\\22122021\\PAYCLIP_Settlement_22122021_V1.csv',
 'G:\\My Drive\\2.-CONCILIACIONES Y POLIZA\\SFTP BANORTE\\2021 SFTP Banorte\\12. DICIEMBRE\\23122021\\PAYCLIP_Settlement_23122021_V1.csv',
 'G:\\My Drive\\2.-CONCILIACIONES Y POLIZA\\SFTP BANORTE\\2021 SFTP Banorte\\12. DICIEMBRE\\25122021\\PAYCLIP_Settlement_25122021_V1.csv',
 'G:\\My Drive\\2.-CONCILIACIONES Y POLIZA\\SFTP BANORTE\\2021 SFTP Banorte\\12. DICIEMBRE\\24122021\\PAYCLIP_Settlement_24122021_V1.csv',
 'G:\\My Drive\\2.-CONCILIACIONES Y POLIZA\\SFTP BANORTE\\2021 SFTP Banorte\\12. DICIEMBRE\\28122021\\PAYCLIP_Settlement_28122021_V1.csv',
 'G:\\My Drive\\2.-CONCILIACIONES Y POLIZA\\SFTP BANORTE\\2021 SFTP Banorte\\12. DICIEMBRE\\29122021\\PAYCLIP_Settlement_29122021_V1.csv',
 'G:\\My Drive\\2.-CONCILIACIONES Y POLIZA\\SFTP BANORTE\\2021 SFTP Banorte\\12. DICIEMBRE\\30122021\\PAYCLIP_Settlement_30122021_V1.csv',
 'G:\\My Drive\\2.-CONCILIACIONES Y POLIZA\\SFTP BANORTE\\2021 SFTP Banorte\\12. DICIEMBRE\\31122021\\PAYCLIP_Settlement_31122021_V1.csv']

In [5]:
sftp_dec_21 = pd.concat([pd.read_csv(f,names=name_file,dtype=dtypes_file,usecols=use_cols)
                         .assign(file_name=os.path.basename(f)) for f in sftp_dec_1_21])
sftp_dec_21.rename(columns ={'interbank_reference':'order_id','auth_code':'codigo_autorizacion',
                             'payworks_reference':'order_id_xpay'}, inplace=True)
sftp_dec_21['date_file'] = sftp_dec_21["file_name"].str[-15:-7]
sftp_dec_21['date_file']= pd.to_datetime(sftp_dec_21['date_file'], format='%d%m%Y').dt.date
sftp_dec_21['date_file']= pd.to_datetime(sftp_dec_21['date_file'])
sftp_dec_21.sort_values(by=['date_file'],ascending=True,inplace=True)
sftp_dec_21['month'] = sftp_dec_21['date_file'].dt.strftime('%B')
sftp_dec_21.head()

,affiliation_sftp,card,commisions,transaction_date,gross_amount,transaction_type,tax,installments_tax,installments_fees,codigo_autorizacion,order_id,order_id_xpay,acquirer_commision,acquirer_tax,file_name,date_file,month
0,MXN,-242036863,244241,3011211,20211130,BANORTE,20211130,"3,011,211.00",NaN,NaN,NaN,NaN,NaN,NaN,PAYCLIP_Settlement_01122021_V1.csv,2021-12-01,December
162821,07927517,4427423593,-486,20211129,24200,SETTLED,-78,0.00,0.00,015301,932698054263,NaN,-486.00,-78.00,PAYCLIP_Settlement_01122021_V1.csv,2021-12-01,December
162822,07927517,4152316106,-702,20211129,54000,SETTLED,-112,0.00,0.00,809321,612473379508,NaN,-702.00,-112.00,PAYCLIP_Settlement_01122021_V1.csv,2021-12-01,December
162823,07927517,4741744924,-1,20211129,100,SETTLED,0,0.00,0.00,041948,306159004244,NaN,-1.00,0.00,PAYCLIP_Settlement_01122021_V1.csv,2021-12-01,December
162824,07927517,5579088285,-933,20211129,71800,SETTLED,-149,0.00,0.00,042255,330501058747,NaN,-933.00,-149.00,PAYCLIP_Settlement_01122021_V1.csv,2021-12-01,December

In [6]:
sftp_dec_21.shape

(8912859, 17)

### NOVIEMBRE 2021

In [7]:
sftp_nov_1_21 = glob.glob(r'G:\My Drive\2.-CONCILIACIONES Y POLIZA\SFTP BANORTE\2021 SFTP Banorte\11. NOVIEMBRE\**\PAYCLIP_Settlement*.csv', recursive=False)
sftp_nov_1_21

['G:\\My Drive\\2.-CONCILIACIONES Y POLIZA\\SFTP BANORTE\\2021 SFTP Banorte\\11. NOVIEMBRE\\02112021\\PAYCLIP_Settlement_02112021_V1.csv',
 'G:\\My Drive\\2.-CONCILIACIONES Y POLIZA\\SFTP BANORTE\\2021 SFTP Banorte\\11. NOVIEMBRE\\04112021\\PAYCLIP_Settlement_04112021_V1.csv',
 'G:\\My Drive\\2.-CONCILIACIONES Y POLIZA\\SFTP BANORTE\\2021 SFTP Banorte\\11. NOVIEMBRE\\05112021\\PAYCLIP_Settlement_05112021_V1.csv',
 'G:\\My Drive\\2.-CONCILIACIONES Y POLIZA\\SFTP BANORTE\\2021 SFTP Banorte\\11. NOVIEMBRE\\06112021\\PAYCLIP_Settlement_06112021_V1.csv',
 'G:\\My Drive\\2.-CONCILIACIONES Y POLIZA\\SFTP BANORTE\\2021 SFTP Banorte\\11. NOVIEMBRE\\09112021\\PAYCLIP_Settlement_09112021_V1.csv',
 'G:\\My Drive\\2.-CONCILIACIONES Y POLIZA\\SFTP BANORTE\\2021 SFTP Banorte\\11. NOVIEMBRE\\10112021\\PAYCLIP_Settlement_10112021_V1.csv',
 'G:\\My Drive\\2.-CONCILIACIONES Y POLIZA\\SFTP BANORTE\\2021 SFTP Banorte\\11. NOVIEMBRE\\11112021\\PAYCLIP_Settlement_11112021_V1.csv',
 'G:\\My Drive\\2.-CONCILIACIONES Y POLIZA\\SFTP BANORTE\\2021 SFTP Banorte\\11. NOVIEMBRE\\12112021\\PAYCLIP_Settlement_12112021_V1.csv',
 'G:\\My Drive\\2.-CONCILIACIONES Y POLIZA\\SFTP BANORTE\\2021 SFTP Banorte\\11. NOVIEMBRE\\13112021\\PAYCLIP_Settlement_13112021_V1.csv',
 'G:\\My Drive\\2.-CONCILIACIONES Y POLIZA\\SFTP BANORTE\\2021 SFTP Banorte\\11. NOVIEMBRE\\17112021\\PAYCLIP_Settlement_17112021_V1.csv',
 'G:\\My Drive\\2.-CONCILIACIONES Y POLIZA\\SFTP BANORTE\\2021 SFTP Banorte\\11. NOVIEMBRE\\18112021\\PAYCLIP_Settlement_18112021_V1.csv',
 'G:\\My Drive\\2.-CONCILIACIONES Y POLIZA\\SFTP BANORTE\\2021 SFTP Banorte\\11. NOVIEMBRE\\19112021\\PAYCLIP_Settlement_19112021_V1.csv',
 'G:\\My Drive\\2.-CONCILIACIONES Y POLIZA\\SFTP BANORTE\\2021 SFTP Banorte\\11. NOVIEMBRE\\20112021\\PAYCLIP_Settlement_20112021_V1.csv',
 'G:\\My Drive\\2.-CONCILIACIONES Y POLIZA\\SFTP BANORTE\\2021 SFTP Banorte\\11. NOVIEMBRE\\23112021\\PAYCLIP_Settlement_23112021_V1.csv',
 'G:\\My Drive\\2.-CONCILIACIONES Y POLIZA\\SFTP BANORTE\\2021 SFTP Banorte\\11. NOVIEMBRE\\24112021\\PAYCLIP_Settlement_24112021_V1.csv',
 'G:\\My Drive\\2.-CONCILIACIONES Y POLIZA\\SFTP BANORTE\\2021 SFTP Banorte\\11. NOVIEMBRE\\25112021\\PAYCLIP_Settlement_25112021_V1.csv',
 'G:\\My Drive\\2.-CONCILIACIONES Y POLIZA\\SFTP BANORTE\\2021 SFTP Banorte\\11. NOVIEMBRE\\26112021\\PAYCLIP_Settlement_26112021_V1.csv',
 'G:\\My Drive\\2.-CONCILIACIONES Y POLIZA\\SFTP BANORTE\\2021 SFTP Banorte\\11. NOVIEMBRE\\27112021\\PAYCLIP_Settlement_27112021_V1.csv',
 'G:\\My Drive\\2.-CONCILIACIONES Y POLIZA\\SFTP BANORTE\\2021 SFTP Banorte\\11. NOVIEMBRE\\30112021\\PAYCLIP_Settlement_30112021_V1.csv']

In [8]:
sftp_nov_21 = pd.concat([pd.read_csv(f,names=name_file,dtype=dtypes_file,usecols=use_cols)
                         .assign(file_name=os.path.basename(f)) for f in sftp_nov_1_21])
sftp_nov_21.rename(columns ={'interbank_reference':'order_id','auth_code':'codigo_autorizacion',
                             'payworks_reference':'order_id_xpay'}, inplace=True)
sftp_nov_21['date_file'] = sftp_nov_21["file_name"].str[-15:-7]
sftp_nov_21['date_file']= pd.to_datetime(sftp_nov_21['date_file'], format='%d%m%Y').dt.date
sftp_nov_21['date_file']= pd.to_datetime(sftp_nov_21['date_file'])
sftp_nov_21.sort_values(by=['date_file'],ascending=True,inplace=True)
sftp_nov_21['month'] = sftp_nov_21['date_file'].dt.strftime('%B')
sftp_nov_21.head()

,affiliation_sftp,card,commisions,transaction_date,gross_amount,transaction_type,tax,installments_tax,installments_fees,codigo_autorizacion,order_id,order_id_xpay,acquirer_commision,acquirer_tax,file_name,date_file,month
0,MXN,-807293107,974361,111211,20211101,BANORTE,20211101,"111,211.00",NaN,NaN,NaN,NaN,NaN,NaN,PAYCLIP_Settlement_02112021_V1.csv,2021-11-02,November
115296,07927489,4147098223,-965,20211030,48000,SETTLED,-154,0.00,0.00,08589C,651119372481,NaN,-965.00,-154.00,PAYCLIP_Settlement_02112021_V1.csv,2021-11-02,November
115297,07927489,5579076076,-1859,20211030,143000,SETTLED,-297,0.00,0.00,095450,430562300562,NaN,"-1,859.00",-297.00,PAYCLIP_Settlement_02112021_V1.csv,2021-11-02,November
115298,07927489,4152314288,-845,20211030,65000,SETTLED,-135,0.00,0.00,176860,083850442059,NaN,-845.00,-135.00,PAYCLIP_Settlement_02112021_V1.csv,2021-11-02,November
115299,07927489,4152316987,-247,20211030,19000,SETTLED,-40,0.00,0.00,177087,452904791822,NaN,-247.00,-40.00,PAYCLIP_Settlement_02112021_V1.csv,2021-11-02,November

In [9]:
sftp_nov_21.shape

(7765641, 17)

### OCTUBRE 2021

In [ ]:
sftp_oct_1_21 = glob.glob(r'G:\My Drive\2.-CONCILIACIONES Y POLIZA\SFTP BANORTE\2021 SFTP Banorte\10. OCTUBRE\**\PAYCLIP_Settlement*.csv', recursive=False)
sftp_oct_1_21

In [ ]:
sftp_oct_21 = pd.concat([pd.read_csv(f,names=name_file,dtype=dtypes_file,usecols=use_cols)
                         .assign(file_name=os.path.basename(f)) for f in sftp_oct_1_21])
sftp_oct_21.rename(columns ={'interbank_reference':'order_id','auth_code':'codigo_autorizacion',
                             'payworks_reference':'order_id_xpay'}, inplace=True)
sftp_oct_21['date_file'] = sftp_oct_21["file_name"].str[-15:-7]
sftp_oct_21['date_file']= pd.to_datetime(sftp_oct_21['date_file'], format='%d%m%Y').dt.date
sftp_oct_21['date_file']= pd.to_datetime(sftp_oct_21['date_file'])
sftp_oct_21.sort_values(by=['date_file'],ascending=True,inplace=True)
sftp_oct_21['month'] = sftp_oct_21['date_file'].dt.strftime('%B')
sftp_oct_21.head()

In [ ]:
sftp_oct_21.shape

### SEPTIEMBRE 2021

In [ ]:
sftp_sep_1_21 = glob.glob(r'G:\My Drive\2.-CONCILIACIONES Y POLIZA\SFTP BANORTE\2021 SFTP Banorte\09. SEPTIEMBRE\**\PAYCLIP_Settlement*.csv', recursive=False)
sftp_sep_1_21

In [ ]:
sftp_sep_21 = pd.concat([pd.read_csv(f,names=name_file,dtype=dtypes_file,usecols=use_cols)
                         .assign(file_name=os.path.basename(f)) for f in sftp_sep_1_21])
sftp_sep_21.rename(columns ={'interbank_reference':'order_id','auth_code':'codigo_autorizacion',
                             'payworks_reference':'order_id_xpay'}, inplace=True)
sftp_sep_21['date_file'] = sftp_sep_21["file_name"].str[-15:-7]
sftp_sep_21['date_file']= pd.to_datetime(sftp_sep_21['date_file'], format='%d%m%Y').dt.date
sftp_sep_21['date_file']= pd.to_datetime(sftp_sep_21['date_file'])
sftp_sep_21.sort_values(by=['date_file'],ascending=True,inplace=True)
sftp_sep_21['month'] = sftp_sep_21['date_file'].dt.strftime('%B')
sftp_sep_21.head()

In [ ]:
sftp_sep_21.shape

### AGOSTO 2021

In [ ]:
sftp_aug_1_21 = glob.glob(r'G:\My Drive\2.-CONCILIACIONES Y POLIZA\SFTP BANORTE\2021 SFTP Banorte\08. AGOSTO\**\PAYCLIP_Settlement*.csv', recursive=False)
sftp_aug_1_21

In [ ]:
sftp_aug_21 = pd.concat([pd.read_csv(f,names=name_file,dtype=dtypes_file,usecols=use_cols)
                         .assign(file_name=os.path.basename(f)) for f in sftp_aug_1_21])
sftp_aug_21.rename(columns ={'interbank_reference':'order_id','auth_code':'codigo_autorizacion',
                             'payworks_reference':'order_id_xpay'}, inplace=True)
sftp_aug_21['date_file'] = sftp_aug_21["file_name"].str[-15:-7]
sftp_aug_21['date_file']= pd.to_datetime(sftp_aug_21['date_file'], format='%d%m%Y').dt.date
sftp_aug_21['date_file']= pd.to_datetime(sftp_aug_21['date_file'])
sftp_aug_21.sort_values(by=['date_file'],ascending=True,inplace=True)
sftp_aug_21['month'] = sftp_aug_21['date_file'].dt.strftime('%B')
sftp_aug_21.head()

In [ ]:
sftp_aug_21.shape

### JULIO 2021

In [ ]:
sftp_jul_1_21 = glob.glob(r'G:\My Drive\2.-CONCILIACIONES Y POLIZA\SFTP BANORTE\2021 SFTP Banorte\07. JULIO\**\PAYCLIP_Settlement*.csv', recursive=False)
sftp_jul_1_21

In [ ]:
sftp_jul_21 = pd.concat([pd.read_csv(f,names=name_file,dtype=dtypes_file,usecols=use_cols)
                         .assign(file_name=os.path.basename(f)) for f in sftp_jul_1_21])
sftp_jul_21.rename(columns ={'interbank_reference':'order_id','auth_code':'codigo_autorizacion',
                             'payworks_reference':'order_id_xpay'}, inplace=True)
sftp_jul_21['date_file'] = sftp_jul_21["file_name"].str[-15:-7]
sftp_jul_21['date_file']= pd.to_datetime(sftp_jul_21['date_file'], format='%d%m%Y').dt.date
sftp_jul_21['date_file']= pd.to_datetime(sftp_jul_21['date_file'])
sftp_jul_21.sort_values(by=['date_file'],ascending=True,inplace=True)
sftp_jul_21['month'] = sftp_jul_21['date_file'].dt.strftime('%B')
sftp_jul_21.head()

In [ ]:
sftp_jul_21.shape

### JUNIO 2021

In [ ]:
sftp_jun_1_21 = glob.glob(r'G:\My Drive\2.-CONCILIACIONES Y POLIZA\SFTP BANORTE\2021 SFTP Banorte\06. JUNIO\**\PAYCLIP_Settlement*.csv', recursive=False)
sftp_jun_1_21

In [ ]:
sftp_jun_21 = pd.concat([pd.read_csv(f,names=name_file,dtype=dtypes_file,usecols=use_cols)
                         .assign(file_name=os.path.basename(f)) for f in sftp_jun_1_21])
sftp_jun_21.rename(columns ={'interbank_reference':'order_id','auth_code':'codigo_autorizacion',
                             'payworks_reference':'order_id_xpay'}, inplace=True)
sftp_jun_21['date_file'] = sftp_jun_21["file_name"].str[-15:-7]
sftp_jun_21['date_file']= pd.to_datetime(sftp_jun_21['date_file'], format='%d%m%Y').dt.date
sftp_jun_21['date_file']= pd.to_datetime(sftp_jun_21['date_file'])
sftp_jun_21.sort_values(by=['date_file'],ascending=True,inplace=True)
sftp_jun_21['month'] = sftp_jun_21['date_file'].dt.strftime('%B')
sftp_jun_21.head()

In [ ]:
sftp_jun_21.shape

### MAYO 2021

In [ ]:
sftp_may_1_21 = glob.glob(r'G:\My Drive\2.-CONCILIACIONES Y POLIZA\SFTP BANORTE\2021 SFTP Banorte\05. MAYO\**\PAYCLIP_Settlement*.csv', recursive=False)
sftp_may_1_21

In [ ]:
sftp_may_21 = pd.concat([pd.read_csv(f,names=name_file,dtype=dtypes_file,usecols=use_cols)
                         .assign(file_name=os.path.basename(f)) for f in sftp_may_1_21])
sftp_may_21.rename(columns ={'interbank_reference':'order_id','auth_code':'codigo_autorizacion',
                             'payworks_reference':'order_id_xpay'}, inplace=True)
sftp_may_21['date_file'] = sftp_may_21["file_name"].str[-15:-7]
sftp_may_21['date_file']= pd.to_datetime(sftp_may_21['date_file'], format='%d%m%Y').dt.date
sftp_may_21['date_file']= pd.to_datetime(sftp_may_21['date_file'])
sftp_may_21.sort_values(by=['date_file'],ascending=True,inplace=True)
sftp_may_21['month'] = sftp_may_21['date_file'].dt.strftime('%B')
sftp_may_21.head()

In [ ]:
sftp_may_21.shape

### ABRIL 2021

In [ ]:
sftp_apr_1_21 = glob.glob(r'G:\My Drive\2.-CONCILIACIONES Y POLIZA\SFTP BANORTE\2021 SFTP Banorte\04. ABRIL\**\PAYCLIP_Settlement*.csv', recursive=False)
sftp_apr_1_21

In [ ]:
sftp_apr_21 = pd.concat([pd.read_csv(f,names=name_file,dtype=dtypes_file,usecols=use_cols)
                         .assign(file_name=os.path.basename(f)) for f in sftp_apr_1_21])
sftp_apr_21.rename(columns ={'interbank_reference':'order_id','auth_code':'codigo_autorizacion',
                             'payworks_reference':'order_id_xpay'}, inplace=True)
sftp_apr_21['date_file'] = sftp_apr_21["file_name"].str[-15:-7]
sftp_apr_21['date_file']= pd.to_datetime(sftp_apr_21['date_file'], format='%d%m%Y').dt.date
sftp_apr_21['date_file']= pd.to_datetime(sftp_apr_21['date_file'])
sftp_apr_21.sort_values(by=['date_file'],ascending=True,inplace=True)
sftp_apr_21['month'] = sftp_apr_21['date_file'].dt.strftime('%B')
sftp_apr_21.head()

In [ ]:
sftp_apr_21.shape

### MARZO 2021

In [ ]:
sftp_mar_1_21 = glob.glob(r'G:\My Drive\2.-CONCILIACIONES Y POLIZA\SFTP BANORTE\2021 SFTP Banorte\03. MARZO\**\PAYCLIP_Settlement*.csv', recursive=False)
sftp_mar_1_21

In [ ]:
sftp_mar_21 = pd.concat([pd.read_csv(f,names=name_file,dtype=dtypes_file,usecols=use_cols)
                         .assign(file_name=os.path.basename(f)) for f in sftp_mar_1_21])
sftp_mar_21.rename(columns ={'interbank_reference':'order_id','auth_code':'codigo_autorizacion',
                             'payworks_reference':'order_id_xpay'}, inplace=True)
sftp_mar_21['date_file'] = sftp_mar_21["file_name"].str[-15:-7]
sftp_mar_21['date_file']= pd.to_datetime(sftp_mar_21['date_file'], format='%d%m%Y').dt.date
sftp_mar_21['date_file']= pd.to_datetime(sftp_mar_21['date_file'])
sftp_mar_21.sort_values(by=['date_file'],ascending=True,inplace=True)
sftp_mar_21['month'] = sftp_mar_21['date_file'].dt.strftime('%B')
sftp_mar_21.head()

In [ ]:
sftp_mar_21.shape

### FEBRERO 2021

In [ ]:
sftp_feb_1_21 = glob.glob(r'G:\My Drive\2.-CONCILIACIONES Y POLIZA\SFTP BANORTE\2021 SFTP Banorte\02. FEBRERO\**\PAYCLIP_Settlement*.csv', recursive=False)
sftp_feb_1_21

In [ ]:
sftp_feb_21 = pd.concat([pd.read_csv(f,names=name_file,dtype=dtypes_file,usecols=use_cols)
                         .assign(file_name=os.path.basename(f)) for f in sftp_feb_1_21])
sftp_feb_21.rename(columns ={'interbank_reference':'order_id','auth_code':'codigo_autorizacion',
                             'payworks_reference':'order_id_xpay'}, inplace=True)
sftp_feb_21['date_file'] = sftp_feb_21["file_name"].str[-15:-7]
sftp_feb_21['date_file']= pd.to_datetime(sftp_feb_21['date_file'], format='%d%m%Y').dt.date
sftp_feb_21['date_file']= pd.to_datetime(sftp_feb_21['date_file'])
sftp_feb_21.sort_values(by=['date_file'],ascending=True,inplace=True)
sftp_feb_21['month'] = sftp_feb_21['date_file'].dt.strftime('%B')
sftp_feb_21.head()

In [ ]:
sftp_feb_21.shape

### ENERO 2021

In [ ]:
sftp_jan_1_21 = glob.glob(r'G:\My Drive\2.-CONCILIACIONES Y POLIZA\SFTP BANORTE\2021 SFTP Banorte\01. ENERO\**\PAYCLIP_Settlement*.csv', recursive=False)

In [ ]:
sftp_jan_21 = pd.concat([pd.read_csv(f,names=name_file,dtype=dtypes_file,usecols=use_cols)
                         .assign(file_name=os.path.basename(f)) for f in sftp_jan_1_21])
sftp_jan_21.rename(columns ={'interbank_reference':'order_id','auth_code':'codigo_autorizacion',
                             'payworks_reference':'order_id_xpay'}, inplace=True)
sftp_jan_21['date_file'] = sftp_jan_21["file_name"].str[-15:-7]
sftp_jan_21['date_file']= pd.to_datetime(sftp_jan_21['date_file'], format='%d%m%Y').dt.date
sftp_jan_21['date_file']= pd.to_datetime(sftp_jan_21['date_file'])
sftp_jan_21.sort_values(by=['date_file'],ascending=True,inplace=True)
sftp_jan_21['month'] = sftp_jan_21['date_file'].dt.strftime('%B')
sftp_jan_21.head()

In [ ]:
sftp_jan_21.shape

### DICIEMBRE

In [ ]:
sftp_dec_1 = glob.glob(r'G:\My Drive\2.-CONCILIACIONES Y POLIZA\SFTP BANORTE\2020 SFTP Banorte\12. DICIEMBRE\**\PAYCLIP_Settlement*.csv', recursive=False)

In [ ]:
sftp_dec = pd.concat([pd.read_csv(f,names=name_file,dtype=dtypes_file,usecols=use_cols)
                         .assign(file_name=os.path.basename(f)) for f in sftp_dec_1])
sftp_dec.rename(columns ={'interbank_reference':'order_id','auth_code':'codigo_autorizacion',
                             'payworks_reference':'order_id_xpay'}, inplace=True)
sftp_dec['date_file'] = sftp_dec["file_name"].str[-15:-7]
sftp_dec['date_file']= pd.to_datetime(sftp_dec['date_file'], format='%d%m%Y').dt.date
sftp_dec['date_file']= pd.to_datetime(sftp_dec['date_file'])
sftp_dec.sort_values(by=['date_file'],ascending=True,inplace=True)
sftp_dec['month'] = sftp_dec['date_file'].dt.strftime('%B')
sftp_dec.head()

In [ ]:
sftp_dec.shape

### NOVIEMBRE

In [ ]:
sftp_nov_1 = glob.glob(r'G:\My Drive\2.-CONCILIACIONES Y POLIZA\SFTP BANORTE\2020 SFTP Banorte\11. NOVIEMBRE\**\PAYCLIP_Settlement*.csv', recursive=False)

In [ ]:
sftp_nov = pd.concat([pd.read_csv(f,names=name_file,dtype=dtypes_file,usecols=use_cols)
                         .assign(file_name=os.path.basename(f)) for f in sftp_nov_1])
sftp_nov.rename(columns ={'interbank_reference':'order_id','auth_code':'codigo_autorizacion',
                             'payworks_reference':'order_id_xpay'}, inplace=True)
sftp_nov['date_file'] = sftp_nov["file_name"].str[-15:-7]
sftp_nov['date_file']= pd.to_datetime(sftp_nov['date_file'], format='%d%m%Y').dt.date
sftp_nov['date_file']= pd.to_datetime(sftp_nov['date_file'])
sftp_nov.sort_values(by=['date_file'],ascending=True,inplace=True)
sftp_nov['month'] = sftp_nov['date_file'].dt.strftime('%B')
sftp_nov.head()

In [ ]:
sftp_nov.shape

### OCTUBRE

In [ ]:
sftp_oct_1 = glob.glob(r'G:\My Drive\2.-CONCILIACIONES Y POLIZA\SFTP BANORTE\2020 SFTP Banorte\10. OCTUBRE\**\PAYCLIP_Settlement*.csv', recursive=False)

In [ ]:
sftp_oct = pd.concat([pd.read_csv(f,names=name_file,dtype=dtypes_file,usecols=use_cols)
                         .assign(file_name=os.path.basename(f)) for f in sftp_oct_1])
sftp_oct.rename(columns ={'interbank_reference':'order_id','auth_code':'codigo_autorizacion',
                             'payworks_reference':'order_id_xpay'}, inplace=True)
sftp_oct['date_file'] = sftp_oct["file_name"].str[-15:-7]
sftp_oct['date_file']= pd.to_datetime(sftp_oct['date_file'], format='%d%m%Y').dt.date
sftp_oct['date_file']= pd.to_datetime(sftp_oct['date_file'])
sftp_oct.sort_values(by=['date_file'],ascending=True,inplace=True)
sftp_oct['month'] = sftp_oct['date_file'].dt.strftime('%B')
sftp_oct.head()

In [ ]:
sftp_oct.shape

### SEPTIEMBRE

In [ ]:
sftp_sep_1 = glob.glob(r'C:\Users\Cristian.Aparicio\Google Drive\2.-CONCILIACIONES Y POLIZA\SFTP BANORTE\2020 SFTP Banorte\09. SEPTIEMBRE\**\PAYCLIP_Settlement*.csv', recursive=False)

In [ ]:
sftp_sep = pd.concat([pd.read_csv(f,names=name_file,dtype=dtypes_file).assign(file_name=os.path.basename(f)) for f in sftp_sep_1])
sftp_sep.rename(columns ={'interbank_reference':'order_id','auth_code':'codigo_autorizacion',
                             'payworks_reference':'order_id_xpay'}, inplace=True)
sftp_sep['date_file'] = sftp_sep["file_name"].str[-15:-7]
sftp_sep['date_file']= pd.to_datetime(sftp_sep['date_file'], format='%d%m%Y').dt.date
sftp_sep['date_file']= pd.to_datetime(sftp_sep['date_file'])
sftp_sep.head()

In [ ]:
sftp_sep.shape

### AGOSTO

In [ ]:
sftp_aug_1 = glob.glob(r'C:\Users\Cristian.Aparicio\Google Drive\2.-CONCILIACIONES Y POLIZA\SFTP BANORTE\2020 SFTP Banorte\08. AGOSTO\**\PAYCLIP_Settlement*.csv', recursive=False)

In [ ]:
sftp_aug = pd.concat([pd.read_csv(f,names=name_file,dtype=dtypes_file).assign(file_name=os.path.basename(f)) for f in sftp_aug_1])
sftp_aug.rename(columns ={'interbank_reference':'order_id','auth_code':'codigo_autorizacion',
                             'payworks_reference':'order_id_xpay'}, inplace=True)
sftp_aug['date_file'] = sftp_aug["file_name"].str[-15:-7]
sftp_aug['date_file']= pd.to_datetime(sftp_aug['date_file'], format='%d%m%Y').dt.date
sftp_aug['date_file']= pd.to_datetime(sftp_aug['date_file'])
sftp_aug.head()

In [ ]:
sftp_aug.shape

### JULIO

In [ ]:
sftp_jul_1 = glob.glob(r'C:\Users\Cristian.Aparicio\Google Drive\2.-CONCILIACIONES Y POLIZA\SFTP BANORTE\2020 SFTP Banorte\07. JULIO\**\PAYCLIP_Settlement*.csv', recursive=False)

In [ ]:
sftp_jul = pd.concat([pd.read_csv(f,names=name_file,dtype=dtypes_file).assign(file_name=os.path.basename(f)) for f in sftp_jul_1])
sftp_jul.rename(columns ={'interbank_reference':'order_id','auth_code':'codigo_autorizacion',
                             'payworks_reference':'order_id_xpay'}, inplace=True)
sftp_jul['date_file'] = sftp_jul["file_name"].str[-15:-7]
sftp_jul['date_file']= pd.to_datetime(sftp_jul['date_file'], format='%d%m%Y').dt.date
sftp_jul['date_file']= pd.to_datetime(sftp_jul['date_file'])
sftp_jul.head()

In [ ]:
sftp_jul.shape

### JUNIO

In [ ]:
sftp_jun_1 = glob.glob(r'C:\Users\Cristian.Aparicio\Google Drive\2.-CONCILIACIONES Y POLIZA\SFTP BANORTE\2020 SFTP Banorte\06. JUNIO\**\PAYCLIP_Settlement*.csv', recursive=False)

In [ ]:
sftp_jun = pd.concat([pd.read_csv(f,names=name_file,dtype=dtypes_file).assign(file_name=os.path.basename(f)) for f in sftp_jun_1])
sftp_jun.rename(columns ={'interbank_reference':'order_id','auth_code':'codigo_autorizacion',
                             'payworks_reference':'order_id_xpay'}, inplace=True)
sftp_jun['date_file'] = sftp_jun["file_name"].str[-15:-7]
sftp_jun['date_file']= pd.to_datetime(sftp_jun['date_file'], format='%d%m%Y').dt.date
sftp_jun['date_file']= pd.to_datetime(sftp_jun['date_file'])
sftp_jun.head()

In [ ]:
sftp_jun.shape

# ALL SFTP

In [10]:
sftp = pd.concat([sftp_nov_21,sftp_dec_21])
sftp.head()

,affiliation_sftp,card,commisions,transaction_date,gross_amount,transaction_type,tax,installments_tax,installments_fees,codigo_autorizacion,order_id,order_id_xpay,acquirer_commision,acquirer_tax,file_name,date_file,month
0,MXN,-807293107,974361,111211,20211101,BANORTE,20211101,"111,211.00",NaN,NaN,NaN,NaN,NaN,NaN,PAYCLIP_Settlement_02112021_V1.csv,2021-11-02,November
115296,07927489,4147098223,-965,20211030,48000,SETTLED,-154,0.00,0.00,08589C,651119372481,NaN,-965.00,-154.00,PAYCLIP_Settlement_02112021_V1.csv,2021-11-02,November
115297,07927489,5579076076,-1859,20211030,143000,SETTLED,-297,0.00,0.00,095450,430562300562,NaN,"-1,859.00",-297.00,PAYCLIP_Settlement_02112021_V1.csv,2021-11-02,November
115298,07927489,4152314288,-845,20211030,65000,SETTLED,-135,0.00,0.00,176860,083850442059,NaN,-845.00,-135.00,PAYCLIP_Settlement_02112021_V1.csv,2021-11-02,November
115299,07927489,4152316987,-247,20211030,19000,SETTLED,-40,0.00,0.00,177087,452904791822,NaN,-247.00,-40.00,PAYCLIP_Settlement_02112021_V1.csv,2021-11-02,November

In [11]:
sftp.shape

(16678500, 17)

In [12]:
sftp_fecha_deposito = sftp[(sftp['transaction_type'] == 'BANORTE')]
sftp_fecha_deposito = sftp_fecha_deposito[['date_file', 'gross_amount']]
sftp_fecha_deposito.rename(columns ={'gross_amount': 'deposit_date'},inplace=True)
sftp_fecha_deposito.head()

   date_file  deposit_date
0 2021-11-02      20211101
0 2021-11-04      20211103
0 2021-11-05      20211104
0 2021-11-06      20211105
0 2021-11-09      20211108

In [13]:
sftp = sftp[(sftp['transaction_type'] != 'BANORTE')]
sftp = sftp.merge(sftp_fecha_deposito[['date_file', 'deposit_date']],on='date_file',how='left')

In [14]:
sftp['transaction_date'] = pd.to_datetime(sftp['transaction_date'], format='%Y%m%d').dt.date
sftp['deposit_date'] = pd.to_datetime(sftp['deposit_date'], format='%Y%m%d').dt.date

In [15]:
sftp['transaction_date'] = pd.to_datetime(sftp['transaction_date'])
sftp['deposit_date'] = pd.to_datetime(sftp['deposit_date'])

In [16]:
sftp['gross_amount'] = sftp['gross_amount']/100
sftp['commisions'] = sftp['commisions']/100
sftp['tax'] = sftp['tax']/100
sftp['installments_fees'] = sftp['installments_fees']/100
sftp['installments_tax'] = sftp['installments_tax']/100
sftp['acquirer_commision'] = sftp['acquirer_commision']/100
sftp['acquirer_tax'] = sftp['acquirer_tax']/100
sftp.loc[sftp['transaction_type'] != 'SETTLED', 'gross_amount'] = sftp['gross_amount']*-1
sftp['LAST4_SFTP'] = sftp['card'].str[-4:].astype(str)
sftp['BIN_SFTP'] = sftp['card'].str[:6].astype(str)
sftp['INDEX_TOTAL'] = (sftp['BIN_SFTP'].astype(str).replace(' ', '',regex=True)+'_'
                       +sftp['LAST4_SFTP'].astype(str).replace(' ', '',regex=True)+'_'
                       +sftp['order_id'].astype(str).replace(' ', '',regex=True)+'_'
                       +sftp['gross_amount'].astype(str).replace(' ', '',regex=True))
sftp['INDEX_TOTAL_XPAY'] = (sftp['BIN_SFTP'].astype(str).replace(' ', '',regex=True)+'_'
                       +sftp['LAST4_SFTP'].astype(str).replace(' ', '',regex=True)+'_'
                       +sftp['order_id_xpay'].astype(str).replace(' ', '',regex=True)+'_'
                       +sftp['gross_amount'].astype(str).replace(' ', '',regex=True))
sftp['order_id'].fillna('NO EXISTE EN SFTP',inplace=True)
sftp.head()

,affiliation_sftp,card,commisions,transaction_date,gross_amount,transaction_type,tax,installments_tax,installments_fees,codigo_autorizacion,...,acquirer_commision,acquirer_tax,file_name,date_file,month,deposit_date,LAST4_SFTP,BIN_SFTP,INDEX_TOTAL,INDEX_TOTAL_XPAY
0,07927489,4147098223,-9.65,2021-10-30,480.00,SETTLED,-1.54,0.00,0.00,08589C,...,-9.65,-1.54,PAYCLIP_Settlement_02112021_V1.csv,2021-11-02,November,2021-11-01,8223,414709,414709_8223_651119372481_480.0,414709_8223_nan_480.0
1,07927489,5579076076,-18.59,2021-10-30,"1,430.00",SETTLED,-2.97,0.00,0.00,095450,...,-18.59,-2.97,PAYCLIP_Settlement_02112021_V1.csv,2021-11-02,November,2021-11-01,6076,557907,557907_6076_430562300562_1430.0,557907_6076_nan_1430.0
2,07927489,4152314288,-8.45,2021-10-30,650.00,SETTLED,-1.35,0.00,0.00,176860,...,-8.45,-1.35,PAYCLIP_Settlement_02112021_V1.csv,2021-11-02,November,2021-11-01,4288,415231,415231_4288_083850442059_650.0,415231_4288_nan_650.0
3,07927489,4152316987,-2.47,2021-10-30,190.00,SETTLED,-0.40,0.00,0.00,177087,...,-2.47,-0.40,PAYCLIP_Settlement_02112021_V1.csv,2021-11-02,November,2021-11-01,6987,415231,415231_6987_452904791822_190.0,415231_6987_nan_190.0
4,07927489,4915665860,-10.37,2021-10-30,798.00,SETTLED,-1.66,0.00,0.00,000460,...,-10.37,-1.66,PAYCLIP_Settlement_02112021_V1.csv,2021-11-02,November,2021-11-01,5860,491566,491566_5860_439324301768_798.0,491566_5860_nan_798.0

In [17]:
sftp.shape

(16678458, 22)

# DATA POR AFILIACION

In [ ]:
sftp_por_afiliacion = sftp.loc[sftp['affiliation_sftp'].str.contains('8380402')]
sftp_por_afiliacion.head()

In [ ]:
sftp_por_afiliacion.shape

In [ ]:
sftp_por_afiliacion.to_excel('MIT.xlsx',index=False)

# CHECKS

In [18]:
ticket_zendesk = pd.read_csv('DISPUTAS BNTE 2022.04.08.csv',dtype={'amount':float,'clave_autorizacion': object,'bin':object
                                                  ,'last4':object,'order_id':object})
ticket_zendesk.columns = ticket_zendesk.columns.str.strip().str.lower() 
ticket_zendesk['INDEX_TOTAL'] = (ticket_zendesk['bin'].astype(str).replace(' ', '',regex=True)+'_'
                       +ticket_zendesk['last4'].astype(str).replace(' ', '',regex=True)+'_'
                       +ticket_zendesk['order_id'].astype(str).replace(' ', '',regex=True)+'_'
                       +ticket_zendesk['amount'].astype(str).replace(' ', '',regex=True))
ticket_zendesk['INDEX_TOTAL_XPAY'] = (ticket_zendesk['bin'].astype(str).replace(' ', '',regex=True)+'_'
                       +ticket_zendesk['last4'].astype(str).replace(' ', '',regex=True)+'_'
                       +ticket_zendesk['order_id'].astype(str).replace(' ', '',regex=True)+'_'
                       +ticket_zendesk['amount'].astype(str).replace(' ', '',regex=True))
ticket_zendesk.head()

,merchant_id,uuid,transaction_id,order_id,affiliation,affiliation_type,sub_affiliation,mcc,date_transaction,created_at,...,last4,status_code,msi,device_id,clip_reader,status_msg,issuer,brand,INDEX_TOTAL,INDEX_TOTAL_XPAY
0,d57e8704-b380-41c1-b198-bbe625c481ee,b1c92903-d5e6-42e5-a6e8-a14b04d6edc9,eed85b13-d767-4359-8409-c03ebd521010,823278240578,8672604,ECOMMERCE,1233013,5814,2021-11-05,2021-11-06 00:00:30,...,6396,-6,0,80010001,Clip Classic,Cancel Error,CITIBANAMEX,MASTERCARD,525678_6396_823278240578_292.0,525678_6396_823278240578_292.0
1,b627f1c2-3c9c-4139-9fef-d3c7b0e0cd2b,d6a015f5-80c3-42f0-9d50-7954aded52f3,cb2db857-12c4-4748-a886-6c30c77e2a4d,395878731662,8672604,ECOMMERCE,1233013,5814,2021-11-06,2021-11-06 18:08:31,...,4700,-6,0,80010001,Clip Classic,Cancel Error,BBVA,VISA,481516_4700_395878731662_105.0,481516_4700_395878731662_105.0
2,b627f1c2-3c9c-4139-9fef-d3c7b0e0cd2b,45319264-2fb0-48f0-ad5b-3a3474b52adf,8ecc237c-c18b-4fbb-920f-6b066bb26e3e,338092735976,8672604,ECOMMERCE,1233013,5814,2021-11-06,2021-11-06 18:10:10,...,4700,-6,0,80010001,Clip Classic,Cancel Error,BBVA,VISA,481516_4700_338092735976_105.0,481516_4700_338092735976_105.0
3,e834a637-db99-425c-9ba7-a5401f8615af,4f0a0043-689c-4b87-86de-e3675da8e780,aa174c7f-3bc1-4c44-b8c2-60c847c15444,486187894763,8672604,ECOMMERCE,1233036,7297,2021-11-10,2021-11-10 22:52:12,...,3339,-6,0,80010001,Clip Classic,Cancel Error,BANCOPPEL,VISA,426807_3339_486187894763_3058.0,426807_3339_486187894763_3058.0
4,e4199d86-a553-4b7d-94c6-9ae4155f037b,963e86fd-344e-48ce-a816-1f49577101f9,1a8dd537-e296-433d-803a-fccff8aa3f19,323931072524,8672604,ECOMMERCE,136052,5812,2021-11-12,2021-11-13 02:17:29,...,7180,-6,0,80010001,Clip Classic,Cancel Error,BBVA,VISA,415231_7180_323931072524_378.0,415231_7180_323931072524_378.0

In [19]:
ticket_zendesk.shape

(9, 26)

In [20]:
ticket_zendesk['psp'].unique()

array(['PAYWORKS-BANORTE'], dtype=object)

In [21]:
ticket_zendesk['status_code'].unique()

array([-6,  8], dtype=int64)

In [22]:
ticket_zendesk['order_id_busqueda'] = "'"+ticket_zendesk['order_id'].replace(' ', '',regex=True)+"',"
print (ticket_zendesk['order_id_busqueda'].to_string(index=False))

'823278240578',
'395878731662',
'338092735976',
'486187894763',
'323931072524',
'698861351381',
'783957835035',
'727527537026',
'345329711146',

# IMPORTANTE: REVISAR A QUE PSP CORRESPONDE EL ORDER ID (PROSA O XPAY)

In [23]:
# select columns by name
check_txn = sftp[sftp['order_id'].isin(['823278240578',
'395878731662',
'338092735976',
'486187894763',
'323931072524',
'698861351381',
'783957835035',
'727527537026',
'345329711146']) | sftp.order_id_xpay.isin(['823278240578',
'395878731662',
'338092735976',
'486187894763',
'323931072524',
'698861351381',
'783957835035',
'727527537026',
'345329711146'])]
# check_txn = sftp[sftp['ECI'].isin(['74518990297102774892283'])]
# check_txn = sftp[sftp['order_id'] == '082566136893']
# check_txn = sftp[sftp['order_id_xpay'].isin(['223432604325'])]
# check_txn = sftp[(sftp.order_id == ('470520706509')) | (sftp.order_id ==('684089225828'))]
# check_txn = sftp[(sftp.CONCAT_2 == ('4388-2460.0')) | (sftp.CONCAT_2 == ('4388--2460.0'))]
# check_txn = sftp[(sftp.CONCAT_3 == ('314771-2718-295.0')) | (sftp.CONCAT_3 == ('314771-2718--295.0'))]
# check_txn = sftp[(sftp['LAST4'] == '7206')]
# check_txn.sort_values(by=['order_id','Fecha txn'],inplace=True)
check_txn.head()

Empty DataFrame
Columns: [affiliation_sftp, card, commisions, transaction_date, gross_amount, transaction_type, tax, installments_tax, installments_fees, codigo_autorizacion, order_id, order_id_xpay, acquirer_commision, acquirer_tax, file_name, date_file, month, deposit_date, LAST4_SFTP, BIN_SFTP, INDEX_TOTAL, INDEX_TOTAL_XPAY]
Index: []

[0 rows x 22 columns]

In [24]:
check_txn.shape

(0, 22)

In [25]:
# check_txn.to_excel('LAST4_7106.xlsx',index=False)

In [26]:
# writer = pd.ExcelWriter('EXAMPLE_SFTP(2).xlsx', engine='openpyxl', options={'encoding':'utf-8'})
# check_txn.to_excel(writer, sheet_name='MATCH TXN 1', index=False)
# ticket_zendesk.to_excel(writer, sheet_name='TICKET', index=False)
# writer.save()
# writer.close()

# MATCH DEPENDIENDO DEL PSP (INDEX_TOTAL O INDEX_TOTAL_XPAY)

In [27]:
match = ticket_zendesk.merge(check_txn[['INDEX_TOTAL','affiliation_sftp','transaction_date','transaction_type','order_id',
                                        'order_id_xpay','deposit_date','gross_amount']],on='INDEX_TOTAL',how='left')
match_2 = ticket_zendesk.merge(check_txn[['INDEX_TOTAL_XPAY','affiliation_sftp','transaction_date','transaction_type','order_id',
                                          'order_id_xpay','deposit_date','gross_amount']],on='INDEX_TOTAL_XPAY',how='left')
# match = check_txn.merge(ticket_zendesk[['order_id','ISSUER','BRAND']],on='order_id',how='left')
# match['transaction_id'].fillna('NO MATCH',inplace=True)
# match['status_code'].fillna('NO MATCH',inplace=True)
# match['status_msg'].fillna('NO MATCH',inplace=True)

In [28]:
match.head()

,merchant_id,uuid,transaction_id,order_id_x,affiliation,affiliation_type,sub_affiliation,mcc,date_transaction,created_at,...,INDEX_TOTAL,INDEX_TOTAL_XPAY,order_id_busqueda,affiliation_sftp,transaction_date,transaction_type,order_id_y,order_id_xpay,deposit_date,gross_amount
0,d57e8704-b380-41c1-b198-bbe625c481ee,b1c92903-d5e6-42e5-a6e8-a14b04d6edc9,eed85b13-d767-4359-8409-c03ebd521010,823278240578,8672604,ECOMMERCE,1233013,5814,2021-11-05,2021-11-06 00:00:30,...,525678_6396_823278240578_292.0,525678_6396_823278240578_292.0,"'823278240578',",NaN,NaT,NaN,NaN,NaN,NaT,NaN
1,b627f1c2-3c9c-4139-9fef-d3c7b0e0cd2b,d6a015f5-80c3-42f0-9d50-7954aded52f3,cb2db857-12c4-4748-a886-6c30c77e2a4d,395878731662,8672604,ECOMMERCE,1233013,5814,2021-11-06,2021-11-06 18:08:31,...,481516_4700_395878731662_105.0,481516_4700_395878731662_105.0,"'395878731662',",NaN,NaT,NaN,NaN,NaN,NaT,NaN
2,b627f1c2-3c9c-4139-9fef-d3c7b0e0cd2b,45319264-2fb0-48f0-ad5b-3a3474b52adf,8ecc237c-c18b-4fbb-920f-6b066bb26e3e,338092735976,8672604,ECOMMERCE,1233013,5814,2021-11-06,2021-11-06 18:10:10,...,481516_4700_338092735976_105.0,481516_4700_338092735976_105.0,"'338092735976',",NaN,NaT,NaN,NaN,NaN,NaT,NaN
3,e834a637-db99-425c-9ba7-a5401f8615af,4f0a0043-689c-4b87-86de-e3675da8e780,aa174c7f-3bc1-4c44-b8c2-60c847c15444,486187894763,8672604,ECOMMERCE,1233036,7297,2021-11-10,2021-11-10 22:52:12,...,426807_3339_486187894763_3058.0,426807_3339_486187894763_3058.0,"'486187894763',",NaN,NaT,NaN,NaN,NaN,NaT,NaN
4,e4199d86-a553-4b7d-94c6-9ae4155f037b,963e86fd-344e-48ce-a816-1f49577101f9,1a8dd537-e296-433d-803a-fccff8aa3f19,323931072524,8672604,ECOMMERCE,136052,5812,2021-11-12,2021-11-13 02:17:29,...,415231_7180_323931072524_378.0,415231_7180_323931072524_378.0,"'323931072524',",NaN,NaT,NaN,NaN,NaN,NaT,NaN

In [29]:
match_2.head()

,merchant_id,uuid,transaction_id,order_id_x,affiliation,affiliation_type,sub_affiliation,mcc,date_transaction,created_at,...,INDEX_TOTAL,INDEX_TOTAL_XPAY,order_id_busqueda,affiliation_sftp,transaction_date,transaction_type,order_id_y,order_id_xpay,deposit_date,gross_amount
0,d57e8704-b380-41c1-b198-bbe625c481ee,b1c92903-d5e6-42e5-a6e8-a14b04d6edc9,eed85b13-d767-4359-8409-c03ebd521010,823278240578,8672604,ECOMMERCE,1233013,5814,2021-11-05,2021-11-06 00:00:30,...,525678_6396_823278240578_292.0,525678_6396_823278240578_292.0,"'823278240578',",NaN,NaT,NaN,NaN,NaN,NaT,NaN
1,b627f1c2-3c9c-4139-9fef-d3c7b0e0cd2b,d6a015f5-80c3-42f0-9d50-7954aded52f3,cb2db857-12c4-4748-a886-6c30c77e2a4d,395878731662,8672604,ECOMMERCE,1233013,5814,2021-11-06,2021-11-06 18:08:31,...,481516_4700_395878731662_105.0,481516_4700_395878731662_105.0,"'395878731662',",NaN,NaT,NaN,NaN,NaN,NaT,NaN
2,b627f1c2-3c9c-4139-9fef-d3c7b0e0cd2b,45319264-2fb0-48f0-ad5b-3a3474b52adf,8ecc237c-c18b-4fbb-920f-6b066bb26e3e,338092735976,8672604,ECOMMERCE,1233013,5814,2021-11-06,2021-11-06 18:10:10,...,481516_4700_338092735976_105.0,481516_4700_338092735976_105.0,"'338092735976',",NaN,NaT,NaN,NaN,NaN,NaT,NaN
3,e834a637-db99-425c-9ba7-a5401f8615af,4f0a0043-689c-4b87-86de-e3675da8e780,aa174c7f-3bc1-4c44-b8c2-60c847c15444,486187894763,8672604,ECOMMERCE,1233036,7297,2021-11-10,2021-11-10 22:52:12,...,426807_3339_486187894763_3058.0,426807_3339_486187894763_3058.0,"'486187894763',",NaN,NaT,NaN,NaN,NaN,NaT,NaN
4,e4199d86-a553-4b7d-94c6-9ae4155f037b,963e86fd-344e-48ce-a816-1f49577101f9,1a8dd537-e296-433d-803a-fccff8aa3f19,323931072524,8672604,ECOMMERCE,136052,5812,2021-11-12,2021-11-13 02:17:29,...,415231_7180_323931072524_378.0,415231_7180_323931072524_378.0,"'323931072524',",NaN,NaT,NaN,NaN,NaN,NaT,NaN

In [30]:
match.shape

(9, 34)

In [31]:
match_2.shape

(9, 34)

In [ ]:
match_final = match[['merchant_id','transaction_id','status_code','order_id_y','order_id_xpay',
                     'affiliation_sftp','transaction_date','transaction_type','deposit_date','gross_amount']]

In [ ]:
match_final_2 = match_2[['merchant_id','transaction_id','status_code','order_id_y','order_id_xpay',
                     'affiliation_sftp','transaction_date','transaction_type','deposit_date','gross_amount']]

In [ ]:
writer = pd.ExcelWriter('DATA FINAL DISPUTAS 2022.01.31-2.xlsx',
                        engine='xlsxwriter',
                        engine_kwargs={'options': {'encoding':'utf-8'}})
match_final.to_excel(writer, sheet_name='MATCH_FINAL', index=False)
match_final_2.to_excel(writer, sheet_name='MATCH_FINAL_2', index=False)
match.to_excel(writer, sheet_name='MATCH', index=False)
match_2.to_excel(writer, sheet_name='MATCH_2', index=False)
writer.close()