In [1]:
import pandas as pd
import numpy as np
import glob
import os
from openpyxl import load_workbook
pd.options.display.float_format = '{:,.2f}'.format

In [2]:
names_header = ['Cuenta','Fecha_operacion','Fecha_valor','Referencia_bancaria','Descripcion','Tipo_movimiento',
                'Credito','Debito','Monto','Moneda','Codigo_ppto']

# READING FILES

In [3]:
all_mov_2021 = glob.glob(r'G:\My Drive\RESPALDO-PC\DEVOLUCIONES BANAMEX\2021\**\EDO CTA\TX-P*.csv', recursive=False)
all_mov_2021

[]

In [4]:
all_mov_2021_v1 = glob.glob(r'G:\My Drive\RESPALDO-PC\DEVOLUCIONES BANAMEX\2021\06. JUNIO\EDO CTA\TX-V1*.csv', recursive=False)
all_mov_2021_v1

[]

# DATA EDO CTA

In [5]:
edo_cta_all = pd.concat([pd.read_csv(f,skiprows=1,names=names_header)
                     .assign(file_name=os.path.basename(f)) for f in all_mov_2021])
edo_cta_all.reset_index(inplace=True)
edo_cta_all.head()

,index,Cuenta,Fecha_operacion,Fecha_valor,Referencia_bancaria,Descripcion,Tipo_movimiento,Credito,Debito,Monto,Moneda,Codigo_ppto,file_name
0,0,70047593261,22/07/2021,22/07/2021,17AD13545CF1529C,PW6VWHTN4FR:INTERBANKENDT:20210722TRID:PW6VWHT...,D,0.00,"-1,897.32","-1,897.32",MXN,Merchant Outflow,TX-Payclip_3261_22_Julio_2021.csv
1,1,70047593261,22/07/2021,22/07/2021,17AD135463C0953C,FX5D5MLW6FR:INTERBANKENDT:20210722TRID:FX5D5ML...,D,0.00,-38.81,-38.81,MXN,Merchant Outflow,TX-Payclip_3261_22_Julio_2021.csv
2,2,70047593261,22/07/2021,22/07/2021,17AD0224244F1787,2MRYCNTVFR:INTERBANKENDT:20210722TRID:2MRYCNTV...,D,0.00,-49.01,-49.01,MXN,Merchant Outflow,TX-Payclip_3261_22_Julio_2021.csv
3,3,70047593261,22/07/2021,22/07/2021,17AD022450925563,873NL7275FR:INTERBANKENDT:20210722TRID:873NL72...,D,0.00,-126.80,-126.80,MXN,Merchant Outflow,TX-Payclip_3261_22_Julio_2021.csv
4,4,70047593261,22/07/2021,22/07/2021,17AD13506BD441E8,X8MNDM36GFR:INTERBANKENDT:20210722TRID:X8MNDM3...,D,0.00,-76.47,-76.47,MXN,Merchant Outflow,TX-Payclip_3261_22_Julio_2021.csv

In [6]:
edo_cta_all.shape

(252384, 13)

In [16]:
check = edo_cta_all[(edo_cta_all['Referencia_bancaria'].str.contains('17AFAB153889A74E'))]
check.head()

,index,Cuenta,Fecha_operacion,Fecha_valor,Referencia_bancaria,Descripcion,Tipo_movimiento,Credito,Debito,Monto,Moneda,Codigo_ppto,file_name
35935,967,70047593261,30-07-2021,30-07-2021,17AFAB153889A74E,2RRW62T2KFR:INTERBANKENDT:20210730TRID:2RRW62T...,D,0.00,"-1,070.34","-1,070.34",MXN,Merchant Outflow,TX-Payclip_3261_30_Julio_01_Agosto_2021.csv

In [17]:
check = edo_cta_all[(edo_cta_all['Descripcion'].str.contains('17AFAB153889A74E'))]
check.head()

Empty DataFrame
Columns: [index, Cuenta, Fecha_operacion, Fecha_valor, Referencia_bancaria, Descripcion, Tipo_movimiento, Credito, Debito, Monto, Moneda, Codigo_ppto, file_name]
Index: []

# DATA SPEI

In [9]:
check_spei = edo_cta_all[(edo_cta_all['Descripcion'].str.contains('17C37A7BF6850BD9'))]
check_spei.head()

Empty DataFrame
Columns: [index, Cuenta, Fecha_operacion, Fecha_valor, Referencia_bancaria, Descripcion, Tipo_movimiento, Credito, Debito, Monto, Moneda, Codigo_ppto, file_name]
Index: []

# DATA EDO DE CUENTA V1

In [10]:
edo_cta_all_v1 = pd.concat([pd.read_csv(f)
                     .assign(file_name=os.path.basename(f)) for f in all_mov_2021_v1])
edo_cta_all_v1.reset_index(inplace=True)
edo_cta_all_v1.head()

,index,BTID,Account ID,Account Name,Bank Account Number,IBAN,CCY,Account Type,Bank Group,Bank Country,...,Debit,Bank Reference,Instrument Code,Instrument Type,Budget Code,Customer Reference,Intradays,Description 1,Description 2,file_name
0,0,12651032,PAYCLIPMX_CITI_MXN_2617,PAYCLIPMX_CITI_MXN_2617,70047593261,2180700475932617,MXN,Settlement Account,Citibank,MEXICO,...,"-163,613.76",0000085900077309,NaN,NaN,NaN,117500077309,nan,nan,nan,TX-V1-Payclip_3261_24_Junio_2021.csv
1,1,12651033,PAYCLIPMX_CITI_MXN_2617,PAYCLIPMX_CITI_MXN_2617,70047593261,2180700475932617,MXN,Settlement Account,Citibank,MEXICO,...,"-1,022,586.00",0000085900077309,NaN,NaN,NaN,117500077309,nan,nan,nan,TX-V1-Payclip_3261_24_Junio_2021.csv
2,2,12651034,PAYCLIPMX_CITI_MXN_2617,PAYCLIPMX_CITI_MXN_2617,70047593261,2180700475932617,MXN,Settlement Account,Citibank,MEXICO,...,"-171,451.36",0000085900077120,NaN,NaN,NaN,117500077120,nan,nan,nan,TX-V1-Payclip_3261_24_Junio_2021.csv
3,3,12651035,PAYCLIPMX_CITI_MXN_2617,PAYCLIPMX_CITI_MXN_2617,70047593261,2180700475932617,MXN,Settlement Account,Citibank,MEXICO,...,"-1,071,571.00",0000085900077120,NaN,NaN,NaN,117500077120,nan,nan,nan,TX-V1-Payclip_3261_24_Junio_2021.csv
4,4,12651036,PAYCLIPMX_CITI_MXN_2617,PAYCLIPMX_CITI_MXN_2617,70047593261,2180700475932617,MXN,Settlement Account,Citibank,MEXICO,...,0.00,17A3BDC9DA9C2790,Merchants,Merchants,Merchant payments rejection,606960717414,nan,nan,nan,TX-V1-Payclip_3261_24_Junio_2021.csv

In [11]:
edo_cta_all_v1.shape

(3327, 43)

In [12]:
edo_cta_v1 = edo_cta_all_v1[['Bank','Description','Operation Date','Value Date','Amount','Credit','Debit','Bank Reference',
                       'Customer Reference']]
edo_cta_v1.head()

,Bank,Description,Operation Date,Value Date,Amount,Credit,Debit,Bank Reference,Customer Reference
0,CitiBanamex,117500077309//0000085900077309 /CTC/937/IVA CO...,24-Jun-2021,24-Jun-2021,"-163,613.76",0.00,"-163,613.76",0000085900077309,117500077309
1,CitiBanamex,117500077309//0000085900077309 /CTC/936/COMM S...,24-Jun-2021,24-Jun-2021,"-1,022,586.00",0.00,"-1,022,586.00",0000085900077309,117500077309
2,CitiBanamex,117500077120//0000085900077120 /CTC/937/IVA CO...,24-Jun-2021,24-Jun-2021,"-171,451.36",0.00,"-171,451.36",0000085900077120,117500077120
3,CitiBanamex,117500077120//0000085900077120 /CTC/936/COMM S...,24-Jun-2021,24-Jun-2021,"-1,071,571.00",0.00,"-1,071,571.00",0000085900077120,117500077120
4,CitiBanamex,606960717414//17A3BDC9DA9C2790 /CTC/306/OPERAT...,24-Jun-2021,24-Jun-2021,"1,136.47","1,136.47",0.00,17A3BDC9DA9C2790,606960717414

In [13]:
edo_cta_v1.shape

(3327, 9)

### CHECK DEVOLUCIONES V1 (24 DE JUNIO 2021)

In [15]:
check_v1 = edo_cta_v1[(edo_cta_v1['Bank Reference'].str.contains('17AFAB153889A74E'))]
check_v1.head()

Empty DataFrame
Columns: [Bank, Description, Operation Date, Value Date, Amount, Credit, Debit, Bank Reference, Customer Reference]
Index: []