In [1]:
import numpy as np
import pandas as pd
import zipfile
from zipfile import ZipFile
import glob
import os
from openpyxl import load_workbook
pd.options.display.float_format = '{:,.2f}'.format

# SFTP

## HEADERS

In [2]:
name_file=['column_type','affiliation_sftp','merchant_reference','card','settled_amount','commisions','transaction_date',
           'gross_amount','currency','transaction_type','tax','installments_tax','iva_cashback_paid','iva_cashback_charged',
          'cashback_fees_paid','cashback_fees_charged','installments_fees','cashback_amount','number_of_payments',
           'initial_deferment','plan_type','auth_code','unknown.1','eci','interbank_reference','empty.1','unknown.2','empty.2',
          'payworks_reference','card_type','transaction_source','prosa_reference','acquirer_commision','acquirer_tax',
          'unknown.3','unknown.4','unknown.5']
dtypes_file={'interbank_reference':object,'affiliation_sftp':object,'card':object,'number_of_payments':object,
             'initial_deferment':object,'plan_type':object,'auth_code':object,'payworks_reference':object,'eci':object}

In [3]:
use_cols = ['column_type','affiliation_sftp','merchant_reference','card','settled_amount','commisions','transaction_date',
           'gross_amount','currency','transaction_type','tax','installments_tax','iva_cashback_paid','iva_cashback_charged',
          'cashback_fees_paid','cashback_fees_charged','installments_fees','cashback_amount','number_of_payments',
           'initial_deferment','plan_type','auth_code','unknown.1','eci','interbank_reference','empty.1','unknown.2','empty.2',
          'payworks_reference','card_type','transaction_source','prosa_reference','acquirer_commision','acquirer_tax',
          'unknown.3','unknown.4','unknown.5']

### MAYO

In [ ]:
sftp_may_1_22 = sorted(glob.glob(r'G:\My Drive\2.-CONCILIACIONES Y POLIZA\SFTP BANORTE\2022 SFTP Banorte\05. MAYO\**\PAYCLIP_Settlement*.csv', recursive=False))
sftp_may_1_22

In [ ]:
sftp_may_22 = pd.concat([pd.read_csv(f,names=name_file,dtype=dtypes_file,usecols=use_cols)
                         .assign(file_name=os.path.basename(f)) for f in sftp_may_1_22])
sftp_may_22.rename(columns ={'interbank_reference':'order_id','auth_code':'codigo_autorizacion',
                             'payworks_reference':'order_id_xpay'}, inplace=True)
sftp_may_22['date_file'] = sftp_may_22["file_name"].str[-15:-7]
sftp_may_22['date_file']= pd.to_datetime(sftp_may_22['date_file'], format='%d%m%Y').dt.date
sftp_may_22['date_file']= pd.to_datetime(sftp_may_22['date_file'])
sftp_may_22.sort_values(by=['date_file'],ascending=True,inplace=True)
sftp_may_22['month'] = sftp_may_22['date_file'].dt.strftime('%B')
sftp_may_22.head()

In [ ]:
sftp_may_22.shape

### ABRIL

In [ ]:
sftp_apr_1_22 = sorted(glob.glob(r'G:\My Drive\2.-CONCILIACIONES Y POLIZA\SFTP BANORTE\2022 SFTP Banorte\04. ABRIL\**\PAYCLIP_Settlement*.csv', recursive=False))
sftp_apr_1_22

In [ ]:
sftp_apr_22 = pd.concat([pd.read_csv(f,names=name_file,dtype=dtypes_file,usecols=use_cols)
                         .assign(file_name=os.path.basename(f)) for f in sftp_apr_1_22])
sftp_apr_22.rename(columns ={'interbank_reference':'order_id','auth_code':'codigo_autorizacion',
                             'payworks_reference':'order_id_xpay'}, inplace=True)
sftp_apr_22['date_file'] = sftp_apr_22["file_name"].str[-15:-7]
sftp_apr_22['date_file']= pd.to_datetime(sftp_apr_22['date_file'], format='%d%m%Y').dt.date
sftp_apr_22['date_file']= pd.to_datetime(sftp_apr_22['date_file'])
sftp_apr_22.sort_values(by=['date_file'],ascending=True,inplace=True)
sftp_apr_22['month'] = sftp_apr_22['date_file'].dt.strftime('%B')
sftp_apr_22.head()

In [ ]:
sftp_apr_22.shape

### MARZO

In [4]:
sftp_mar_1_22 = sorted(glob.glob(r'G:\My Drive\2.-CONCILIACIONES Y POLIZA\SFTP BANORTE\2022 SFTP Banorte\03. MARZO\**\PAYCLIP_Settlement*.csv', recursive=False))
sftp_mar_1_22

['G:\\My Drive\\2.-CONCILIACIONES Y POLIZA\\SFTP BANORTE\\2022 SFTP Banorte\\03. MARZO\\01032022\\PAYCLIP_Settlement_01032022_V1.csv',
 'G:\\My Drive\\2.-CONCILIACIONES Y POLIZA\\SFTP BANORTE\\2022 SFTP Banorte\\03. MARZO\\02032022\\PAYCLIP_Settlement_02032022_V1.csv',
 'G:\\My Drive\\2.-CONCILIACIONES Y POLIZA\\SFTP BANORTE\\2022 SFTP Banorte\\03. MARZO\\03032022\\PAYCLIP_Settlement_03032022_V1.csv',
 'G:\\My Drive\\2.-CONCILIACIONES Y POLIZA\\SFTP BANORTE\\2022 SFTP Banorte\\03. MARZO\\04032022\\PAYCLIP_Settlement_04032022_V1.csv',
 'G:\\My Drive\\2.-CONCILIACIONES Y POLIZA\\SFTP BANORTE\\2022 SFTP Banorte\\03. MARZO\\05032022\\PAYCLIP_Settlement_05032022_V1.csv',
 'G:\\My Drive\\2.-CONCILIACIONES Y POLIZA\\SFTP BANORTE\\2022 SFTP Banorte\\03. MARZO\\08032022\\PAYCLIP_Settlement_08032022_V1.csv',
 'G:\\My Drive\\2.-CONCILIACIONES Y POLIZA\\SFTP BANORTE\\2022 SFTP Banorte\\03. MARZO\\09032022\\PAYCLIP_Settlement_09032022_V1.csv',
 'G:\\My Drive\\2.-CONCILIACIONES Y POLIZA\\SFTP BANORTE\\2022 SFTP Banorte\\03. MARZO\\10032022\\PAYCLIP_Settlement_10032022_V1.csv',
 'G:\\My Drive\\2.-CONCILIACIONES Y POLIZA\\SFTP BANORTE\\2022 SFTP Banorte\\03. MARZO\\11032022\\PAYCLIP_Settlement_11032022_V1.csv',
 'G:\\My Drive\\2.-CONCILIACIONES Y POLIZA\\SFTP BANORTE\\2022 SFTP Banorte\\03. MARZO\\12032022\\PAYCLIP_Settlement_12032022_V1.csv',
 'G:\\My Drive\\2.-CONCILIACIONES Y POLIZA\\SFTP BANORTE\\2022 SFTP Banorte\\03. MARZO\\15032022\\PAYCLIP_Settlement_15032022_V1.csv',
 'G:\\My Drive\\2.-CONCILIACIONES Y POLIZA\\SFTP BANORTE\\2022 SFTP Banorte\\03. MARZO\\16032022\\PAYCLIP_Settlement_16032022_V1.csv',
 'G:\\My Drive\\2.-CONCILIACIONES Y POLIZA\\SFTP BANORTE\\2022 SFTP Banorte\\03. MARZO\\17032022\\PAYCLIP_Settlement_17032022_V1.csv',
 'G:\\My Drive\\2.-CONCILIACIONES Y POLIZA\\SFTP BANORTE\\2022 SFTP Banorte\\03. MARZO\\18032022\\PAYCLIP_Settlement_18032022_V1.csv',
 'G:\\My Drive\\2.-CONCILIACIONES Y POLIZA\\SFTP BANORTE\\2022 SFTP Banorte\\03. MARZO\\19032022\\PAYCLIP_Settlement_19032022_V1.csv',
 'G:\\My Drive\\2.-CONCILIACIONES Y POLIZA\\SFTP BANORTE\\2022 SFTP Banorte\\03. MARZO\\23032022\\PAYCLIP_Settlement_23032022_V1.csv',
 'G:\\My Drive\\2.-CONCILIACIONES Y POLIZA\\SFTP BANORTE\\2022 SFTP Banorte\\03. MARZO\\24032022\\PAYCLIP_Settlement_24032022_V1.csv',
 'G:\\My Drive\\2.-CONCILIACIONES Y POLIZA\\SFTP BANORTE\\2022 SFTP Banorte\\03. MARZO\\25032022\\PAYCLIP_Settlement_25032022_V1.csv',
 'G:\\My Drive\\2.-CONCILIACIONES Y POLIZA\\SFTP BANORTE\\2022 SFTP Banorte\\03. MARZO\\26032022\\PAYCLIP_Settlement_26032022_V1.csv',
 'G:\\My Drive\\2.-CONCILIACIONES Y POLIZA\\SFTP BANORTE\\2022 SFTP Banorte\\03. MARZO\\29032022\\PAYCLIP_Settlement_29032022_V1.csv',
 'G:\\My Drive\\2.-CONCILIACIONES Y POLIZA\\SFTP BANORTE\\2022 SFTP Banorte\\03. MARZO\\30032022\\PAYCLIP_Settlement_30032022_V1.csv',
 'G:\\My Drive\\2.-CONCILIACIONES Y POLIZA\\SFTP BANORTE\\2022 SFTP Banorte\\03. MARZO\\31032022\\PAYCLIP_Settlement_31032022_V1.csv']

In [5]:
sftp_mar_22 = pd.concat([pd.read_csv(f,names=name_file,dtype=dtypes_file,usecols=use_cols)
                         .assign(file_name=os.path.basename(f)) for f in sftp_mar_1_22])
sftp_mar_22.rename(columns ={'interbank_reference':'order_id','auth_code':'codigo_autorizacion',
                             'payworks_reference':'order_id_xpay'}, inplace=True)
sftp_mar_22['date_file'] = sftp_mar_22["file_name"].str[-15:-7]
sftp_mar_22['date_file']= pd.to_datetime(sftp_mar_22['date_file'], format='%d%m%Y').dt.date
sftp_mar_22['date_file']= pd.to_datetime(sftp_mar_22['date_file'])
sftp_mar_22.sort_values(by=['date_file'],ascending=True,inplace=True)
sftp_mar_22['month'] = sftp_mar_22['date_file'].dt.strftime('%B')
sftp_mar_22.head()

C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_1212\3867596032.py:1: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  sftp_mar_22 = pd.concat([pd.read_csv(f,names=name_file,dtype=dtypes_file,usecols=use_cols)

,column_type,affiliation_sftp,merchant_reference,card,settled_amount,commisions,transaction_date,gross_amount,currency,transaction_type,...,transaction_source,prosa_reference,acquirer_commision,acquirer_tax,unknown.3,unknown.4,unknown.5,file_name,date_file,month
0,H,MXN,"52,643,066,514.00",-923237110,0,1072741,2802221,20220228,NaN,BANORTE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PAYCLIP_Settlement_01032022_V1.csv,2022-03-01,March
715153,D,07927517,"7,927,517.00",5546252887,12379,-234,20220225,12650,MXN,SETTLED,...,N,PP36811901002153,-234.00,-37.00,N,0.00,0.00,PAYCLIP_Settlement_01032022_V1.csv,2022-03-01,March
715154,D,07927517,"7,927,517.00",4772140578,128678,-2433,20220225,131500,MXN,SETTLED,...,N,7duzA8LPrEJdPZzK,"-2,433.00",-389.00,N,0.00,0.00,PAYCLIP_Settlement_01032022_V1.csv,2022-03-01,March
715155,D,07927517,"7,927,517.00",5267776366,8121,-154,20220225,8300,MXN,SETTLED,...,NaN,bKYXDmDvMGQQ6XAx,-154.00,-25.00,N,0.00,0.00,PAYCLIP_Settlement_01032022_V1.csv,2022-03-01,March
715156,D,07927517,"7,927,517.00",4213167593,30039,-397,20220225,30500,MXN,SETTLED,...,N,N500W4E1423,-397.00,-64.00,N,0.00,0.00,PAYCLIP_Settlement_01032022_V1.csv,2022-03-01,March

In [6]:
sftp_mar_22.shape

(10389419, 40)

### FEBRERO 2022

In [ ]:
sftp_feb_1_22 = sorted(glob.glob(r'G:\My Drive\2.-CONCILIACIONES Y POLIZA\SFTP BANORTE\2022 SFTP Banorte\02. FEBRERO\**\PAYCLIP_Settlement*.csv', recursive=False))
sftp_feb_1_22

In [ ]:
sftp_feb_22 = pd.concat([pd.read_csv(f,names=name_file,dtype=dtypes_file,usecols=use_cols)
                         .assign(file_name=os.path.basename(f)) for f in sftp_feb_1_22])
sftp_feb_22.rename(columns ={'interbank_reference':'order_id','auth_code':'codigo_autorizacion',
                             'payworks_reference':'order_id_xpay'}, inplace=True)
sftp_feb_22['date_file'] = sftp_feb_22["file_name"].str[-15:-7]
sftp_feb_22['date_file']= pd.to_datetime(sftp_feb_22['date_file'], format='%d%m%Y').dt.date
sftp_feb_22['date_file']= pd.to_datetime(sftp_feb_22['date_file'])
sftp_feb_22.sort_values(by=['date_file'],ascending=True,inplace=True)
sftp_feb_22['month'] = sftp_feb_22['date_file'].dt.strftime('%B')
sftp_feb_22.head()

In [ ]:
sftp_feb_22.shape

### ENERO 2022

In [ ]:
sftp_jan_1_22 = glob.glob(r'G:\My Drive\2.-CONCILIACIONES Y POLIZA\SFTP BANORTE\2022 SFTP Banorte\01. ENERO\**\PAYCLIP_Settlement*.csv', recursive=False)
sftp_jan_1_22

In [ ]:
sftp_jan_22 = pd.concat([pd.read_csv(f,names=name_file,dtype=dtypes_file)
                         .assign(file_name=os.path.basename(f)) for f in sftp_jan_1_22])
sftp_jan_22.rename(columns ={'interbank_reference':'order_id','auth_code':'codigo_autorizacion',
                             'payworks_reference':'order_id_xpay'}, inplace=True)
sftp_jan_22['date_file'] = sftp_jan_22["file_name"].str[-15:-7]
sftp_jan_22['date_file']= pd.to_datetime(sftp_jan_22['date_file'], format='%d%m%Y').dt.date
sftp_jan_22['date_file']= pd.to_datetime(sftp_jan_22['date_file'])
sftp_jan_22.sort_values(by=['date_file'],ascending=True,inplace=True)
sftp_jan_22['month'] = sftp_jan_22['date_file'].dt.strftime('%B')
sftp_jan_22.head()

In [ ]:
sftp_jan_22.shape

### DICIEMBRE 2021

In [ ]:
sftp_dec_1_21 = glob.glob(r'G:\My Drive\2.-CONCILIACIONES Y POLIZA\SFTP BANORTE\2021 SFTP Banorte\12. DICIEMBRE\**\PAYCLIP_Settlement*.csv', recursive=False)
sftp_dec_1_21

In [ ]:
sftp_dec_21 = pd.concat([pd.read_csv(f,names=name_file,dtype=dtypes_file)
                         .assign(file_name=os.path.basename(f)) for f in sftp_dec_1_21])
sftp_dec_21.rename(columns ={'interbank_reference':'order_id','auth_code':'codigo_autorizacion',
                             'payworks_reference':'order_id_xpay'}, inplace=True)
sftp_dec_21['date_file'] = sftp_dec_21["file_name"].str[-15:-7]
sftp_dec_21['date_file']= pd.to_datetime(sftp_dec_21['date_file'], format='%d%m%Y').dt.date
sftp_dec_21['date_file']= pd.to_datetime(sftp_dec_21['date_file'])
sftp_dec_21.sort_values(by=['date_file'],ascending=True,inplace=True)
sftp_dec_21['month'] = sftp_dec_21['date_file'].dt.strftime('%B')
sftp_dec_21.head()

In [ ]:
sftp_dec_21.shape

### NOVIEMBRE 2021

In [ ]:
sftp_nov_1_21 = glob.glob(r'G:\My Drive\2.-CONCILIACIONES Y POLIZA\SFTP BANORTE\2021 SFTP Banorte\11. NOVIEMBRE\**\PAYCLIP_Settlement*.csv', recursive=False)
sftp_nov_1_21

In [ ]:
sftp_nov_21 = pd.concat([pd.read_csv(f,names=name_file,dtype=dtypes_file)
                         .assign(file_name=os.path.basename(f)) for f in sftp_nov_1_21])
sftp_nov_21.rename(columns ={'interbank_reference':'order_id','auth_code':'codigo_autorizacion',
                             'payworks_reference':'order_id_xpay'}, inplace=True)
sftp_nov_21['date_file'] = sftp_nov_21["file_name"].str[-15:-7]
sftp_nov_21['date_file']= pd.to_datetime(sftp_nov_21['date_file'], format='%d%m%Y').dt.date
sftp_nov_21['date_file']= pd.to_datetime(sftp_nov_21['date_file'])
sftp_nov_21.sort_values(by=['date_file'],ascending=True,inplace=True)
sftp_nov_21['month'] = sftp_nov_21['date_file'].dt.strftime('%B')
sftp_nov_21.head()

In [ ]:
sftp_nov_21.shape

# ALL SFTP

In [7]:
sftp = pd.concat([sftp_mar_22])
sftp.head()

,column_type,affiliation_sftp,merchant_reference,card,settled_amount,commisions,transaction_date,gross_amount,currency,transaction_type,...,transaction_source,prosa_reference,acquirer_commision,acquirer_tax,unknown.3,unknown.4,unknown.5,file_name,date_file,month
0,H,MXN,"52,643,066,514.00",-923237110,0,1072741,2802221,20220228,NaN,BANORTE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PAYCLIP_Settlement_01032022_V1.csv,2022-03-01,March
715153,D,07927517,"7,927,517.00",5546252887,12379,-234,20220225,12650,MXN,SETTLED,...,N,PP36811901002153,-234.00,-37.00,N,0.00,0.00,PAYCLIP_Settlement_01032022_V1.csv,2022-03-01,March
715154,D,07927517,"7,927,517.00",4772140578,128678,-2433,20220225,131500,MXN,SETTLED,...,N,7duzA8LPrEJdPZzK,"-2,433.00",-389.00,N,0.00,0.00,PAYCLIP_Settlement_01032022_V1.csv,2022-03-01,March
715155,D,07927517,"7,927,517.00",5267776366,8121,-154,20220225,8300,MXN,SETTLED,...,NaN,bKYXDmDvMGQQ6XAx,-154.00,-25.00,N,0.00,0.00,PAYCLIP_Settlement_01032022_V1.csv,2022-03-01,March
715156,D,07927517,"7,927,517.00",4213167593,30039,-397,20220225,30500,MXN,SETTLED,...,N,N500W4E1423,-397.00,-64.00,N,0.00,0.00,PAYCLIP_Settlement_01032022_V1.csv,2022-03-01,March

In [8]:
sftp.shape

(10389419, 40)

In [9]:
sftp_fecha_deposito = sftp[(sftp['transaction_type'] == 'BANORTE')]
sftp_fecha_deposito = sftp_fecha_deposito[['date_file', 'gross_amount']]
sftp_fecha_deposito.rename(columns ={'gross_amount': 'deposit_date'},inplace=True)
sftp_fecha_deposito.head()

   date_file  deposit_date
0 2022-03-01      20220228
0 2022-03-02      20220301
0 2022-03-03      20220302
0 2022-03-04      20220303
0 2022-03-05      20220304

In [10]:
sftp = sftp[(sftp['transaction_type'] != 'BANORTE')]
sftp = sftp.merge(sftp_fecha_deposito[['date_file', 'deposit_date']],on='date_file',how='left')

In [11]:
sftp.head()

,column_type,affiliation_sftp,merchant_reference,card,settled_amount,commisions,transaction_date,gross_amount,currency,transaction_type,...,prosa_reference,acquirer_commision,acquirer_tax,unknown.3,unknown.4,unknown.5,file_name,date_file,month,deposit_date
0,D,07927517,"7,927,517.00",5546252887,12379,-234,20220225,12650,MXN,SETTLED,...,PP36811901002153,-234.00,-37.00,N,0.00,0.00,PAYCLIP_Settlement_01032022_V1.csv,2022-03-01,March,20220228
1,D,07927517,"7,927,517.00",4772140578,128678,-2433,20220225,131500,MXN,SETTLED,...,7duzA8LPrEJdPZzK,"-2,433.00",-389.00,N,0.00,0.00,PAYCLIP_Settlement_01032022_V1.csv,2022-03-01,March,20220228
2,D,07927517,"7,927,517.00",5267776366,8121,-154,20220225,8300,MXN,SETTLED,...,bKYXDmDvMGQQ6XAx,-154.00,-25.00,N,0.00,0.00,PAYCLIP_Settlement_01032022_V1.csv,2022-03-01,March,20220228
3,D,07927517,"7,927,517.00",4213167593,30039,-397,20220225,30500,MXN,SETTLED,...,N500W4E1423,-397.00,-64.00,N,0.00,0.00,PAYCLIP_Settlement_01032022_V1.csv,2022-03-01,March,20220228
4,D,07927517,"7,927,517.00",5256780194,31616,-417,20220225,32100,MXN,SETTLED,...,N500W150352,-417.00,-67.00,N,0.00,0.00,PAYCLIP_Settlement_01032022_V1.csv,2022-03-01,March,20220228

In [12]:
sftp['transaction_type'].unique()

array(['SETTLED', 'REFUNDED', 'CHARGE_BACK'], dtype=object)

In [13]:
sftp['transaction_date'] = pd.to_datetime(sftp['transaction_date'], format='%Y%m%d').dt.date
sftp['deposit_date'] = pd.to_datetime(sftp['deposit_date'], format='%Y%m%d').dt.date

In [14]:
sftp['transaction_date'] = pd.to_datetime(sftp['transaction_date'])
sftp['deposit_date'] = pd.to_datetime(sftp['deposit_date'])

In [15]:
sftp['gross_amount'] = sftp['gross_amount']/100
sftp['commisions'] = sftp['commisions']/100
sftp['tax'] = sftp['tax']/100
sftp['installments_fees'] = sftp['installments_fees']/100
sftp['installments_tax'] = sftp['installments_tax']/100
sftp['acquirer_commision'] = sftp['acquirer_commision']/100
sftp['acquirer_tax'] = sftp['acquirer_tax']/100
sftp.loc[sftp['transaction_type'] != 'SETTLED', 'gross_amount'] = sftp['gross_amount']*-1
sftp['LAST2_SFTP'] = sftp['card'].str[-2:].astype(str)
sftp['BIN_SFTP'] = sftp['card'].str[:6].astype(str)
sftp['INDEX_TOTAL'] = (sftp['BIN_SFTP'].astype(str).replace(' ', '',regex=True)+'_'
                       +sftp['LAST2_SFTP'].astype(str).replace(' ', '',regex=True)+'_'
                       +sftp['order_id'].astype(str).replace(' ', '',regex=True)+'_'
                       +sftp['gross_amount'].astype(str).replace(' ', '',regex=True))
sftp['INDEX_TOTAL_XPAY'] = (sftp['BIN_SFTP'].astype(str).replace(' ', '',regex=True)+'_'
                       +sftp['LAST2_SFTP'].astype(str).replace(' ', '',regex=True)+'_'
                       +sftp['order_id_xpay'].astype(str).replace(' ', '',regex=True)+'_'
                       +sftp['gross_amount'].astype(str).replace(' ', '',regex=True))
sftp['INDEX_COD_AUTH'] = (sftp['BIN_SFTP'].astype(str).replace(' ', '',regex=True)+'_'
                       +sftp['LAST2_SFTP'].astype(str).replace(' ', '',regex=True)+'_'
                       +sftp['codigo_autorizacion'].astype(str).replace(' ', '',regex=True)+'_'
                       +sftp['gross_amount'].astype(str).replace(' ', '',regex=True))
sftp['order_id'].fillna('NO EXISTE EN SFTP',inplace=True)
sftp.head()

,column_type,affiliation_sftp,merchant_reference,card,settled_amount,commisions,transaction_date,gross_amount,currency,transaction_type,...,unknown.5,file_name,date_file,month,deposit_date,LAST2_SFTP,BIN_SFTP,INDEX_TOTAL,INDEX_TOTAL_XPAY,INDEX_COD_AUTH
0,D,07927517,"7,927,517.00",5546252887,12379,-2.34,2022-02-25,126.50,MXN,SETTLED,...,0.00,PAYCLIP_Settlement_01032022_V1.csv,2022-03-01,March,2022-02-28,87,554625,554625_87_016985988715_126.5,554625_87_nan_126.5,554625_87_102387_126.5
1,D,07927517,"7,927,517.00",4772140578,128678,-24.33,2022-02-25,"1,315.00",MXN,SETTLED,...,0.00,PAYCLIP_Settlement_01032022_V1.csv,2022-03-01,March,2022-02-28,78,477214,477214_78_007512147352_1315.0,477214_78_nan_1315.0,477214_78_205438_1315.0
2,D,07927517,"7,927,517.00",5267776366,8121,-1.54,2022-02-25,83.00,MXN,SETTLED,...,0.00,PAYCLIP_Settlement_01032022_V1.csv,2022-03-01,March,2022-02-28,66,526777,526777_66_291425921035_83.0,526777_66_nan_83.0,526777_66_718111_83.0
3,D,07927517,"7,927,517.00",4213167593,30039,-3.97,2022-02-25,305.00,MXN,SETTLED,...,0.00,PAYCLIP_Settlement_01032022_V1.csv,2022-03-01,March,2022-02-28,93,421316,421316_93_771260171093_305.0,421316_93_nan_305.0,421316_93_043383_305.0
4,D,07927517,"7,927,517.00",5256780194,31616,-4.17,2022-02-25,321.00,MXN,SETTLED,...,0.00,PAYCLIP_Settlement_01032022_V1.csv,2022-03-01,March,2022-02-28,94,525678,525678_94_764699883577_321.0,525678_94_nan_321.0,525678_94_031492_321.0

In [16]:
sftp.shape

(10389397, 46)

In [ ]:
sftp['affiliation_sftp'].fillna('NULL',inplace=True)

# DATA POR AFILIACION

In [17]:
sftp_por_afiliacion = sftp.loc[(sftp['merchant_reference'].isnull()) & (sftp['transaction_type'] != 'CHARGE_BACK')]
sftp_por_afiliacion.head()

,column_type,affiliation_sftp,merchant_reference,card,settled_amount,commisions,transaction_date,gross_amount,currency,transaction_type,...,unknown.5,file_name,date_file,month,deposit_date,LAST2_SFTP,BIN_SFTP,INDEX_TOTAL,INDEX_TOTAL_XPAY,INDEX_COD_AUTH
688709,D,07927482,NaN,5351995108,19534,-4.02,2022-02-25,200.00,MXN,SETTLED,...,0.00,PAYCLIP_Settlement_01032022_V1.csv,2022-03-01,March,2022-02-28,08,535199,535199_08_141916353343_200.0,535199_08_nan_200.0,535199_08_AGDAD3_200.0
688718,D,07927482,NaN,5256782792,35457,-4.68,2022-02-25,360.00,MXN,SETTLED,...,0.00,PAYCLIP_Settlement_01032022_V1.csv,2022-03-01,March,2022-02-28,92,525678,525678_92_244530539536_360.0,525678_92_nan_360.0,525678_92_024368_360.0
688981,D,07927482,NaN,4169161347,21472,-2.83,2022-02-25,218.00,MXN,SETTLED,...,0.00,PAYCLIP_Settlement_01032022_V1.csv,2022-03-01,March,2022-02-28,47,416916,416916_47_112105280897_218.0,416916_47_nan_218.0,416916_47_325130_218.0
689000,D,07927482,NaN,5227940560,97854,-18.50,2022-02-25,"1,000.00",MXN,SETTLED,...,0.00,PAYCLIP_Settlement_01032022_V1.csv,2022-03-01,March,2022-02-28,60,522794,522794_60_326241361669_1000.0,522794_60_nan_1000.0,522794_60_939872_1000.0
941159,D,07927515,NaN,5256783699,8668,-1.14,2022-02-25,88.00,MXN,SETTLED,...,0.00,PAYCLIP_Settlement_01032022_V1.csv,2022-03-01,March,2022-02-28,99,525678,525678_99_553056032204_88.0,525678_99_nan_88.0,525678_99_022935_88.0

In [18]:
sftp_por_afiliacion.shape

(123, 46)

In [19]:
sftp_por_afiliacion.to_excel('DATA MARZO 2022.xlsx',index=False)

# CHECKS

### QUERIES DB

In [ ]:
ticket_zendesk = pd.read_csv('PeticionesPagare - 2022-05-06_2.csv',dtype={'FOLIO': object,'FOLIO UNICO':object
                                                  ,'REFERENCIA':object,'AFILIACION':object,'CODIGO DE AUTORIZACION':object,
                                                                         'TERMINALID':object})
ticket_zendesk.columns = ticket_zendesk.columns.str.strip().str.lower()
ticket_zendesk['last2'] = ticket_zendesk['numero de tarjeta'].str[-2:].astype(str)
ticket_zendesk['bin'] = ticket_zendesk['numero de tarjeta'].str[:6].astype(str)
ticket_zendesk['INDEX_COD_AUTH'] = (ticket_zendesk['bin'].astype(str).replace(' ', '',regex=True)+'_'
                       +ticket_zendesk['last2'].astype(str).replace(' ', '',regex=True)+'_'
                       +ticket_zendesk['codigo de autorizacion'].astype(str).replace(' ', '',regex=True)+'_'
                       +ticket_zendesk['importe'].astype(str).replace(' ', '',regex=True))
ticket_zendesk.head()

In [ ]:
ticket_zendesk.shape

In [ ]:
ticket_zendesk.columns

In [ ]:
match = ticket_zendesk.merge(sftp[['INDEX_COD_AUTH','order_id','order_id_xpay','transaction_date','deposit_date','date_file',
                                           'transaction_type']]
                                 ,on='INDEX_COD_AUTH'
                                 ,how='left')
match.head()

In [ ]:
match.shape

In [ ]:
match.to_excel('PAGARE_SFTP_MARZO_2022.xlsx',index=False)

In [ ]:
ticket_zendesk = pd.read_csv('DISPUTAS BNTE 2022.05.05.csv',dtype={'amount':float,'clave_autorizacion': object,'bin':object
                                                  ,'last4':object,'order_id':object})
ticket_zendesk.columns = ticket_zendesk.columns.str.strip().str.lower()
ticket_zendesk['order_id_xpay'] = ticket_zendesk['order_id'] 
ticket_zendesk['INDEX_TOTAL'] = (ticket_zendesk['bin'].astype(str).replace(' ', '',regex=True)+'_'
                       +ticket_zendesk['last4'].astype(str).replace(' ', '',regex=True)+'_'
                       +ticket_zendesk['order_id'].astype(str).replace(' ', '',regex=True)+'_'
                       +ticket_zendesk['amount'].astype(str).replace(' ', '',regex=True))
ticket_zendesk['INDEX_TOTAL_XPAY'] = (ticket_zendesk['bin'].astype(str).replace(' ', '',regex=True)+'_'
                       +ticket_zendesk['last4'].astype(str).replace(' ', '',regex=True)+'_'
                       +ticket_zendesk['order_id'].astype(str).replace(' ', '',regex=True)+'_'
                       +ticket_zendesk['amount'].astype(str).replace(' ', '',regex=True))
ticket_zendesk.head()

In [ ]:
ticket_zendesk.shape

In [ ]:
ticket_zendesk.columns

### FILES DE AUDITORIA

In [ ]:
ticket_zendesk = pd.read_excel('AUDITORIA_DICIEMBRE_TXN_2021.xlsx',converters={'TRANSACTION_AMOUNT':float,'CLAVE_AUTORIZACION': str,
                                                                                'BIN':str,'LAST4':str,'ORDER_ID':str})
ticket_zendesk.columns = ticket_zendesk.columns.str.strip().str.lower() 
ticket_zendesk['INDEX_TOTAL'] = (ticket_zendesk['bin'].astype(str).replace(' ', '',regex=True)+'_'
                       +ticket_zendesk['last4'].astype(str).replace(' ', '',regex=True)+'_'
                       +ticket_zendesk['order_id'].astype(str).replace(' ', '',regex=True)+'_'
                       +ticket_zendesk['transaction_amount'].astype(str).replace(' ', '',regex=True))
ticket_zendesk['INDEX_TOTAL_XPAY'] = (ticket_zendesk['bin'].astype(str).replace(' ', '',regex=True)+'_'
                       +ticket_zendesk['last4'].astype(str).replace(' ', '',regex=True)+'_'
                       +ticket_zendesk['order_id'].astype(str).replace(' ', '',regex=True)+'_'
                       +ticket_zendesk['transaction_amount'].astype(str).replace(' ', '',regex=True))
ticket_zendesk.head()

In [ ]:
ticket_zendesk.shape

## EXTRACCIÓN DE ORDER_ID

In [ ]:
ticket_zendesk['psp'].unique()

In [ ]:
ticket_zendesk['status_code'].unique()

In [ ]:
ticket_zendesk['order_id_busqueda'] = "'"+ticket_zendesk['order_id'].replace(' ', '',regex=True)+"',"
print (ticket_zendesk['order_id_busqueda'].to_string(index=False))

# IMPORTANTE: REVISAR A QUE PSP CORRESPONDE EL ORDER ID (PROSA O XPAY)

In [ ]:
# select columns by name
check_txn = sftp[(sftp['order_id'].isin(['629352244482'])) | (sftp['order_id_xpay'].isin(['629352244482']))]
# check_txn = sftp[sftp['ECI'].isin(['74518990297102774892283'])]
# check_txn = sftp[sftp['order_id'] == '082566136893']
# check_txn = sftp[sftp['order_id_xpay'].isin(['223432604325'])]
# check_txn = sftp[(sftp.order_id == ('470520706509')) | (sftp.order_id ==('684089225828'))]
# check_txn = sftp[(sftp.CONCAT_2 == ('4388-2460.0')) | (sftp.CONCAT_2 == ('4388--2460.0'))]
# check_txn = sftp[(sftp.CONCAT_3 == ('314771-2718-295.0')) | (sftp.CONCAT_3 == ('314771-2718--295.0'))]
# check_txn = sftp[(sftp['LAST4'] == '7206')]
# check_txn.sort_values(by=['order_id','Fecha txn'],inplace=True)
check_txn.head()

In [ ]:
check_txn.shape

In [ ]:
# writer = pd.ExcelWriter('EXAMPLE_SFTP(2).xlsx', engine='openpyxl', options={'encoding':'utf-8'})
# check_txn.to_excel(writer, sheet_name='MATCH TXN 1', index=False)
# ticket_zendesk.to_excel(writer, sheet_name='TICKET', index=False)
# writer.save()
# writer.close()

# MATCH DEPENDIENDO DEL PSP (INDEX_TOTAL O INDEX_TOTAL_XPAY)

In [ ]:
match = ticket_zendesk.merge(check_txn[['order_id','affiliation_sftp','transaction_date','transaction_type','INDEX_TOTAL',
                                        'order_id_xpay','deposit_date','gross_amount']],on='order_id',how='left')
match_2 = ticket_zendesk.merge(check_txn[['order_id_xpay','affiliation_sftp','transaction_date','transaction_type','order_id',
                                          'INDEX_TOTAL_XPAY','deposit_date','gross_amount']],on='order_id_xpay',how='left')
# match = check_txn.merge(ticket_zendesk[['order_id','ISSUER','BRAND']],on='order_id',how='left')
# match['transaction_id'].fillna('NO MATCH',inplace=True)
# match['status_code'].fillna('NO MATCH',inplace=True)
# match['status_msg'].fillna('NO MATCH',inplace=True)

In [ ]:
match.head()

In [ ]:
match_2.head()

In [ ]:
match.shape

In [ ]:
match_2.shape

In [ ]:
match_final = match[['merchant_id','transaction_id','status_code','order_id','order_id_xpay_x',
                     'affiliation_sftp','transaction_date','transaction_type','deposit_date','gross_amount']]

In [ ]:
match_final_2 = match_2[['merchant_id','transaction_id','status_code','order_id_x','order_id_xpay',
                     'affiliation_sftp','transaction_date','transaction_type','deposit_date','gross_amount']]

In [ ]:
writer = pd.ExcelWriter('DATA FINAL DISPUTAS BNTE 2022.05.05.xlsx',
                        engine='xlsxwriter',
                        engine_kwargs={'options': {'encoding':'utf-8'}})
match_final.to_excel(writer, sheet_name='MATCH_FINAL', index=False)
match_final_2.to_excel(writer, sheet_name='MATCH_FINAL_2', index=False)
match.to_excel(writer, sheet_name='MATCH', index=False)
match_2.to_excel(writer, sheet_name='MATCH_2', index=False)
writer.close()