In [1]:
import pandas as pd
import numpy as np
import glob
import os
from openpyxl import load_workbook
pd.options.display.float_format = '{:,.2f}'.format

# DISPERSIONES FP

In [3]:
fp_files_1 = sorted(glob.glob(r'G:\My Drive\3.-Settlement\1.-Resultado-dispersión\2022\05. MAYO\Dispersión-FP*.xlsx', recursive=False))
fp_files_1

['G:\\My Drive\\3.-Settlement\\1.-Resultado-dispersión\\2022\\05. MAYO\\Dispersión-FP 2022-05-01.xlsx',
 'G:\\My Drive\\3.-Settlement\\1.-Resultado-dispersión\\2022\\05. MAYO\\Dispersión-FP 2022-05-03.xlsx',
 'G:\\My Drive\\3.-Settlement\\1.-Resultado-dispersión\\2022\\05. MAYO\\Dispersión-FP 2022-05-04.xlsx',
 'G:\\My Drive\\3.-Settlement\\1.-Resultado-dispersión\\2022\\05. MAYO\\Dispersión-FP 2022-05-07.xlsx',
 'G:\\My Drive\\3.-Settlement\\1.-Resultado-dispersión\\2022\\05. MAYO\\Dispersión-FP 2022-05-08.xlsx',
 'G:\\My Drive\\3.-Settlement\\1.-Resultado-dispersión\\2022\\05. MAYO\\Dispersión-FP 2022-05-14.xlsx',
 'G:\\My Drive\\3.-Settlement\\1.-Resultado-dispersión\\2022\\05. MAYO\\Dispersión-FP 2022-05-15.xlsx',
 'G:\\My Drive\\3.-Settlement\\1.-Resultado-dispersión\\2022\\05. MAYO\\Dispersión-FP 2022-05-17.xlsx',
 'G:\\My Drive\\3.-Settlement\\1.-Resultado-dispersión\\2022\\05. MAYO\\Dispersión-FP 2022-05-18.xlsx',
 'G:\\My Drive\\3.-Settlement\\1.-Resultado-dispersión\\2022\\05. MAYO\\Dispersión-FP 2022-05-19.xlsx',
 'G:\\My Drive\\3.-Settlement\\1.-Resultado-dispersión\\2022\\05. MAYO\\Dispersión-FP 2022-05-20.xlsx',
 'G:\\My Drive\\3.-Settlement\\1.-Resultado-dispersión\\2022\\05. MAYO\\Dispersión-FP 2022-05-21.xlsx',
 'G:\\My Drive\\3.-Settlement\\1.-Resultado-dispersión\\2022\\05. MAYO\\Dispersión-FP 2022-05-22.xlsx',
 'G:\\My Drive\\3.-Settlement\\1.-Resultado-dispersión\\2022\\05. MAYO\\Dispersión-FP 2022-05-23.xlsx',
 'G:\\My Drive\\3.-Settlement\\1.-Resultado-dispersión\\2022\\05. MAYO\\Dispersión-FP 2022-05-24.xlsx',
 'G:\\My Drive\\3.-Settlement\\1.-Resultado-dispersión\\2022\\05. MAYO\\Dispersión-FP- 2022-05-13.xlsx',
 'G:\\My Drive\\3.-Settlement\\1.-Resultado-dispersión\\2022\\05. MAYO\\Dispersión-FP-2022-05-02.xlsx',
 'G:\\My Drive\\3.-Settlement\\1.-Resultado-dispersión\\2022\\05. MAYO\\Dispersión-FP-2022-05-05.xlsx',
 'G:\\My Drive\\3.-Settlement\\1.-Resultado-dispersión\\2022\\05. MAYO\\Dispersión-FP-2022-05-06.xlsx',
 'G:\\My Drive\\3.-Settlement\\1.-Resultado-dispersión\\2022\\05. MAYO\\Dispersión-FP-2022-05-09.xlsx',
 'G:\\My Drive\\3.-Settlement\\1.-Resultado-dispersión\\2022\\05. MAYO\\Dispersión-FP-2022-05-10.xlsx',
 'G:\\My Drive\\3.-Settlement\\1.-Resultado-dispersión\\2022\\05. MAYO\\Dispersión-FP-2022-05-11.xlsx',
 'G:\\My Drive\\3.-Settlement\\1.-Resultado-dispersión\\2022\\05. MAYO\\Dispersión-FP-2022-05-12.xlsx']

In [3]:
pagos_2 = pd.concat([pd.read_excel(f,sheet_name='FAST PAYMENTS').assign(file_name=os.path.basename(f)) for f in fp_files_1])
pagos_2['date_file'] = pagos_2["file_name"].str[-15:-4]
pagos_2['date_file']= pd.to_datetime(pagos_2['date_file']) 
pagos_2.sort_values(by=['date_file'],ascending=True,inplace=True)
pagos_2['report_date_local']= pd.to_datetime(pagos_2['report_date_local']) 
pagos_2.head()

,merchant_id,merchant_name,user_email,report_id,report_date_local,total_due,tipo,bank,swap,CLABE,status,CEP,Time,Banco_emisor,file_name,date_file
0,0077de15-2d6d-4e8e-8b08-fabfa914b7c1,BOCKBIER,Anthony-carwash@hotmail.com,7JPSHKWDX,2022-04-30,183.02,Pago del día,ASP INTEGRA OPC,Luis Antonio Montes Suárez,659802020000058487,PAID,"2022-04-30,42644264202204301700946456,40072,90...",09:00,BANORTE,Dispersión-FP 2022-04-30.xlsx,2022-04-30
4329,db3d0502-a093-4027-add8-06edc610bda7,COCONOCO,ruben@martinez.net,RRRW4MX4W,2022-04-30,229.97,Pago del día,ASP INTEGRA OPC,Ruben Edmundo Martinez Alvarez,659802020000121466,PAID,"2022-04-30,42644264202204301701581976,40072,90...",16:00,BANORTE,Dispersión-FP 2022-04-30.xlsx,2022-04-30
4328,db28f9ec-b96f-4cc7-8707-5e73aa3848f0,Xiluet,jaqueline.tovar2002@gmail.com,4M6B6R9XJ,2022-04-30,"1,178.64",Pago del día,ASP INTEGRA OPC,Jose Antonio Tovar Lara,659802020000104108,PAID,"2022-04-30,42644264202204301701582522,40072,90...",16:00,BANORTE,Dispersión-FP 2022-04-30.xlsx,2022-04-30
4327,dafd48db-e5b9-44ef-b4be-d8945fcbee1e,La Michoacana De VillaMagna,lilivianeysl@hotmail.com,3VN3YM8VP,2022-04-30,128.41,Pago del día,ASP INTEGRA OPC,Liliana Vianey Solorio Lopez,659802020000401283,PAID,"2022-04-30,42644264202204301701581682,40072,90...",16:00,BANORTE,Dispersión-FP 2022-04-30.xlsx,2022-04-30
4326,daede979-5687-4bae-b987-ad8b16534960,Barbacoa Gamero,barbacoagamero@gmail.com,ZKZTYRGQJ,2022-04-30,418.75,Pago del día,ASP INTEGRA OPC,Alejandra Garnica Ramirez,659802020000004376,PAID,"2022-04-30,42644264202204301701582266,40072,90...",16:00,BANORTE,Dispersión-FP 2022-04-30.xlsx,2022-04-30

In [4]:
pagos_2.shape

(126164, 16)

In [5]:
pagos_2['status'].unique()

array(['PAID', 'ERROR'], dtype=object)

In [6]:
pagos_2_paid = pagos_2[(pagos_2['status'].isin(['PAID']))]
pagos_2_paid.head()

,merchant_id,merchant_name,user_email,report_id,report_date_local,total_due,tipo,bank,swap,CLABE,status,CEP,Time,Banco_emisor,file_name,date_file
0,0077de15-2d6d-4e8e-8b08-fabfa914b7c1,BOCKBIER,Anthony-carwash@hotmail.com,7JPSHKWDX,2022-04-30,183.02,Pago del día,ASP INTEGRA OPC,Luis Antonio Montes Suárez,659802020000058487,PAID,"2022-04-30,42644264202204301700946456,40072,90...",09:00,BANORTE,Dispersión-FP 2022-04-30.xlsx,2022-04-30
4329,db3d0502-a093-4027-add8-06edc610bda7,COCONOCO,ruben@martinez.net,RRRW4MX4W,2022-04-30,229.97,Pago del día,ASP INTEGRA OPC,Ruben Edmundo Martinez Alvarez,659802020000121466,PAID,"2022-04-30,42644264202204301701581976,40072,90...",16:00,BANORTE,Dispersión-FP 2022-04-30.xlsx,2022-04-30
4328,db28f9ec-b96f-4cc7-8707-5e73aa3848f0,Xiluet,jaqueline.tovar2002@gmail.com,4M6B6R9XJ,2022-04-30,"1,178.64",Pago del día,ASP INTEGRA OPC,Jose Antonio Tovar Lara,659802020000104108,PAID,"2022-04-30,42644264202204301701582522,40072,90...",16:00,BANORTE,Dispersión-FP 2022-04-30.xlsx,2022-04-30
4327,dafd48db-e5b9-44ef-b4be-d8945fcbee1e,La Michoacana De VillaMagna,lilivianeysl@hotmail.com,3VN3YM8VP,2022-04-30,128.41,Pago del día,ASP INTEGRA OPC,Liliana Vianey Solorio Lopez,659802020000401283,PAID,"2022-04-30,42644264202204301701581682,40072,90...",16:00,BANORTE,Dispersión-FP 2022-04-30.xlsx,2022-04-30
4326,daede979-5687-4bae-b987-ad8b16534960,Barbacoa Gamero,barbacoagamero@gmail.com,ZKZTYRGQJ,2022-04-30,418.75,Pago del día,ASP INTEGRA OPC,Alejandra Garnica Ramirez,659802020000004376,PAID,"2022-04-30,42644264202204301701582266,40072,90...",16:00,BANORTE,Dispersión-FP 2022-04-30.xlsx,2022-04-30

In [7]:
pagos_2_paid.shape

(125836, 16)

# READING FILES XLSX

In [28]:
all_mov_xlsx = glob.glob(r'G:\My Drive\2.-CONCILIACIONES Y POLIZA\EDO CTA BANAMEX\2022\**\TX-NV-P*.xlsx', recursive=False)
all_mov_xlsx

['G:\\My Drive\\2.-CONCILIACIONES Y POLIZA\\EDO CTA BANAMEX\\2022\\01. ENERO\\TX-NV-Payclip_3261_27_Enero_2022.xlsx',
 'G:\\My Drive\\2.-CONCILIACIONES Y POLIZA\\EDO CTA BANAMEX\\2022\\01. ENERO\\TX-NV-Payclip_3261_28_Enero_30_Enero_2022.xlsx',
 'G:\\My Drive\\2.-CONCILIACIONES Y POLIZA\\EDO CTA BANAMEX\\2022\\01. ENERO\\TX-NV-Payclip_3261_31_Enero_2022.xlsx',
 'G:\\My Drive\\2.-CONCILIACIONES Y POLIZA\\EDO CTA BANAMEX\\2022\\02. FEBRERO\\TX-NV-Payclip_3261_01_Febrero_2022.xlsx',
 'G:\\My Drive\\2.-CONCILIACIONES Y POLIZA\\EDO CTA BANAMEX\\2022\\02. FEBRERO\\TX-NV-Payclip_3261_02_Febrero_2022.xlsx',
 'G:\\My Drive\\2.-CONCILIACIONES Y POLIZA\\EDO CTA BANAMEX\\2022\\02. FEBRERO\\TX-NV-Payclip_3261_03_Febrero_2022.xlsx',
 'G:\\My Drive\\2.-CONCILIACIONES Y POLIZA\\EDO CTA BANAMEX\\2022\\02. FEBRERO\\TX-NV-Payclip_3261_04_Febrero_07_Febrero_2022.xlsx',
 'G:\\My Drive\\2.-CONCILIACIONES Y POLIZA\\EDO CTA BANAMEX\\2022\\02. FEBRERO\\TX-NV-Payclip_3261_08_Febrero_2022.xlsx',
 'G:\\My Drive\\2.-CONCILIACIONES Y POLIZA\\EDO CTA BANAMEX\\2022\\02. FEBRERO\\TX-NV-Payclip_3261_09_Febrero_2022.xlsx',
 'G:\\My Drive\\2.-CONCILIACIONES Y POLIZA\\EDO CTA BANAMEX\\2022\\02. FEBRERO\\TX-NV-Payclip_3261_10_Febrero_2022.xlsx',
 'G:\\My Drive\\2.-CONCILIACIONES Y POLIZA\\EDO CTA BANAMEX\\2022\\02. FEBRERO\\TX-NV-Payclip_3261_11_Febrero_13_Febrero_2022.xlsx',
 'G:\\My Drive\\2.-CONCILIACIONES Y POLIZA\\EDO CTA BANAMEX\\2022\\02. FEBRERO\\TX-NV-Payclip_3261_14_Febrero_2022.xlsx',
 'G:\\My Drive\\2.-CONCILIACIONES Y POLIZA\\EDO CTA BANAMEX\\2022\\02. FEBRERO\\TX-NV-Payclip_3261_15_Febrero_2022.xlsx',
 'G:\\My Drive\\2.-CONCILIACIONES Y POLIZA\\EDO CTA BANAMEX\\2022\\02. FEBRERO\\TX-NV-Payclip_3261_16_Febrero_2022.xlsx',
 'G:\\My Drive\\2.-CONCILIACIONES Y POLIZA\\EDO CTA BANAMEX\\2022\\02. FEBRERO\\TX-NV-Payclip_3261_17_Febrero_2022.xlsx',
 'G:\\My Drive\\2.-CONCILIACIONES Y POLIZA\\EDO CTA BANAMEX\\2022\\02. FEBRERO\\TX-NV-Payclip_3261_18_Febrero_20_Febrero_2022.xlsx',
 'G:\\My Drive\\2.-CONCILIACIONES Y POLIZA\\EDO CTA BANAMEX\\2022\\02. FEBRERO\\TX-NV-Payclip_3261_21_Febrero_2022.xlsx',
 'G:\\My Drive\\2.-CONCILIACIONES Y POLIZA\\EDO CTA BANAMEX\\2022\\02. FEBRERO\\TX-NV-Payclip_3261_22_Febrero_2022.xlsx',
 'G:\\My Drive\\2.-CONCILIACIONES Y POLIZA\\EDO CTA BANAMEX\\2022\\02. FEBRERO\\TX-NV-Payclip_3261_23_Febrero_2022.xlsx',
 'G:\\My Drive\\2.-CONCILIACIONES Y POLIZA\\EDO CTA BANAMEX\\2022\\02. FEBRERO\\TX-NV-Payclip_3261_24_Febrero_2022.xlsx',
 'G:\\My Drive\\2.-CONCILIACIONES Y POLIZA\\EDO CTA BANAMEX\\2022\\02. FEBRERO\\TX-NV-Payclip_3261_25_Febero_27_Febrero_2022.xlsx',
 'G:\\My Drive\\2.-CONCILIACIONES Y POLIZA\\EDO CTA BANAMEX\\2022\\02. FEBRERO\\TX-NV-Payclip_3261_28_Febrero_2022.xlsx',
 'G:\\My Drive\\2.-CONCILIACIONES Y POLIZA\\EDO CTA BANAMEX\\2022\\03. MARZO\\TX-NV-Payclip_3261_01_Marzo_2022.xlsx',
 'G:\\My Drive\\2.-CONCILIACIONES Y POLIZA\\EDO CTA BANAMEX\\2022\\03. MARZO\\TX-NV-Payclip_3261_02_Marzo_2022.xlsx',
 'G:\\My Drive\\2.-CONCILIACIONES Y POLIZA\\EDO CTA BANAMEX\\2022\\03. MARZO\\TX-NV-Payclip_3261_03_Marzo_2022.xlsx',
 'G:\\My Drive\\2.-CONCILIACIONES Y POLIZA\\EDO CTA BANAMEX\\2022\\03. MARZO\\TX-NV-Payclip_3261_04_Marzo_06_Marzo_2022.xlsx',
 'G:\\My Drive\\2.-CONCILIACIONES Y POLIZA\\EDO CTA BANAMEX\\2022\\03. MARZO\\TX-NV-Payclip_3261_07_Marzo_2022.xlsx',
 'G:\\My Drive\\2.-CONCILIACIONES Y POLIZA\\EDO CTA BANAMEX\\2022\\03. MARZO\\TX-NV-Payclip_3261_08_Marzo_2022.xlsx',
 'G:\\My Drive\\2.-CONCILIACIONES Y POLIZA\\EDO CTA BANAMEX\\2022\\03. MARZO\\TX-NV-Payclip_3261_09_Marzo_2022.xlsx',
 'G:\\My Drive\\2.-CONCILIACIONES Y POLIZA\\EDO CTA BANAMEX\\2022\\03. MARZO\\TX-NV-Payclip_3261_10_Marzo_2022.xlsx',
 'G:\\My Drive\\2.-CONCILIACIONES Y POLIZA\\EDO CTA BANAMEX\\2022\\03. MARZO\\TX-NV-Payclip_3261_11_Marzo_13_Marzo_2022.xlsx',
 'G:\\My Drive\\2.-CONCILIACIONES Y POLIZA\\EDO CTA BANAMEX\\2022\\03. MARZO\\TX-NV-Payclip_3261_14_Marzo_2022.xlsx',
 'G:\\My Drive\\2.-CONCILIACIONES Y POLIZA\\EDO CTA BANAMEX\\2022\\03. MARZO\\TX-NV-Payclip_3261_15_Marzo_31_Marzo_2022.xlsx',
 'G:\\My Drive\\2.-CONCILIACIONES Y POLIZA\\EDO CTA BANAMEX\\2022\\04. ABRIL\\TX-NV-Payclip_3261_01_Abril_04_Abril_2022.xlsx',
 'G:\\My Drive\\2.-CONCILIACIONES Y POLIZA\\EDO CTA BANAMEX\\2022\\04. ABRIL\\TX-NV-Payclip_3261_05_Abril_06_Abril_2022.xlsx',
 'G:\\My Drive\\2.-CONCILIACIONES Y POLIZA\\EDO CTA BANAMEX\\2022\\04. ABRIL\\TX-NV-Payclip_3261_07_Abril_2022.xlsx',
 'G:\\My Drive\\2.-CONCILIACIONES Y POLIZA\\EDO CTA BANAMEX\\2022\\04. ABRIL\\TX-NV-Payclip_3261_08_Abril_10_Abril_2022.xlsx',
 'G:\\My Drive\\2.-CONCILIACIONES Y POLIZA\\EDO CTA BANAMEX\\2022\\04. ABRIL\\TX-NV-Payclip_3261_11_Abrill_2022.xlsx',
 'G:\\My Drive\\2.-CONCILIACIONES Y POLIZA\\EDO CTA BANAMEX\\2022\\04. ABRIL\\TX-NV-Payclip_3261_12_Abril_2022.xlsx',
 'G:\\My Drive\\2.-CONCILIACIONES Y POLIZA\\EDO CTA BANAMEX\\2022\\04. ABRIL\\TX-NV-Payclip_3261_13_Abril_17_Abril_2022.xlsx',
 'G:\\My Drive\\2.-CONCILIACIONES Y POLIZA\\EDO CTA BANAMEX\\2022\\04. ABRIL\\TX-NV-Payclip_3261_18_Abril_2022.xlsx',
 'G:\\My Drive\\2.-CONCILIACIONES Y POLIZA\\EDO CTA BANAMEX\\2022\\04. ABRIL\\TX-NV-Payclip_3261_19_Abril_2022.xlsx',
 'G:\\My Drive\\2.-CONCILIACIONES Y POLIZA\\EDO CTA BANAMEX\\2022\\04. ABRIL\\TX-NV-Payclip_3261_20_Abril_2022.xlsx',
 'G:\\My Drive\\2.-CONCILIACIONES Y POLIZA\\EDO CTA BANAMEX\\2022\\04. ABRIL\\TX-NV-Payclip_3261_21_Abril_2022.xlsx',
 'G:\\My Drive\\2.-CONCILIACIONES Y POLIZA\\EDO CTA BANAMEX\\2022\\04. ABRIL\\TX-NV-Payclip_3261_22_Abril_24_Abril_2022.xlsx',
 'G:\\My Drive\\2.-CONCILIACIONES Y POLIZA\\EDO CTA BANAMEX\\2022\\04. ABRIL\\TX-NV-Payclip_3261_25_Abril_2022.xlsx',
 'G:\\My Drive\\2.-CONCILIACIONES Y POLIZA\\EDO CTA BANAMEX\\2022\\04. ABRIL\\TX-NV-Payclip_3261_26_Abril_2022.xlsx',
 'G:\\My Drive\\2.-CONCILIACIONES Y POLIZA\\EDO CTA BANAMEX\\2022\\04. ABRIL\\TX-NV-Payclip_3261_27_Abril_2022.xlsx',
 'G:\\My Drive\\2.-CONCILIACIONES Y POLIZA\\EDO CTA BANAMEX\\2022\\04. ABRIL\\TX-NV-Payclip_3261_28_Abril_2022.xlsx',
 'G:\\My Drive\\2.-CONCILIACIONES Y POLIZA\\EDO CTA BANAMEX\\2022\\04. ABRIL\\TX-NV-Payclip_3261_29_Abril_01_Mayo_2022.xlsx',
 'G:\\My Drive\\2.-CONCILIACIONES Y POLIZA\\EDO CTA BANAMEX\\2022\\05. MAYO\\TX-NV-Payclip_3261_02_Mayo_2022.xlsx',
 'G:\\My Drive\\2.-CONCILIACIONES Y POLIZA\\EDO CTA BANAMEX\\2022\\05. MAYO\\TX-NV-Payclip_3261_03_Mayo_2022.xlsx',
 'G:\\My Drive\\2.-CONCILIACIONES Y POLIZA\\EDO CTA BANAMEX\\2022\\05. MAYO\\TX-NV-Payclip_3261_04_Mayo_05_Mayo_2022.xlsx',
 'G:\\My Drive\\2.-CONCILIACIONES Y POLIZA\\EDO CTA BANAMEX\\2022\\05. MAYO\\TX-NV-Payclip_3261_05_Mayo_10_Mayo_2022.xlsx',
 'G:\\My Drive\\2.-CONCILIACIONES Y POLIZA\\EDO CTA BANAMEX\\2022\\05. MAYO\\TX-NV-Payclip_3261_11_Mayo_2022.xlsx',
 'G:\\My Drive\\2.-CONCILIACIONES Y POLIZA\\EDO CTA BANAMEX\\2022\\05. MAYO\\TX-NV-Payclip_3261_12_Mayo_22_Mayo_2022.xlsx',
 'G:\\My Drive\\2.-CONCILIACIONES Y POLIZA\\EDO CTA BANAMEX\\2022\\05. MAYO\\TX-NV-Payclip_3261_23_Mayo_24_Mayo_2022.xlsx']

# DATA EDO CTA

### XLSX

In [9]:
edo_cta_2 = pd.concat([pd.read_excel(f).assign(file_name=os.path.basename(f)) for f in all_mov_xlsx])
edo_cta_2.reset_index(inplace=True)
edo_cta_2.head()

,index,Instrument Type,Operation Date,Budget Code,Local Code,Bank Reference,Description,Description 1,Credit,Debit,Opening Balance Amount,Closing Balance Amount,file_name,Bank Account Number,Bank Group,Description Local Code,Value Date,Amount,Instrument Code,BTID
0,0,Merchants,2022-01-27,Merchant Outflow,699,17E9CB49F00BD0BE,4Q4XK32S2FR:INTERBANKENDT:20220127TRID:4Q4XK32...,NaN,0.00,-149.97,"7,674,034.69","7,893,583.67",TX-NV-Payclip_3261_27_Enero_2022.xlsx,NaN,NaN,NaN,NaT,NaN,NaN,NaN
1,1,Merchants,2022-01-27,Merchant Outflow,699,17E9CB49E7F10234,YYC39S9RDFR:INTERBANKENDT:20220127TRID:YYC39S9...,NaN,0.00,-90.08,"7,674,034.69","7,893,583.67",TX-NV-Payclip_3261_27_Enero_2022.xlsx,NaN,NaN,NaN,NaT,NaN,NaN,NaN
2,2,Merchants,2022-01-27,Merchant Outflow,699,17E9CB49F14CEEA2,2DTHSGCRYFR:INTERBANKENDT:20220127TRID:2DTHSGC...,NaN,0.00,-543.62,"7,674,034.69","7,893,583.67",TX-NV-Payclip_3261_27_Enero_2022.xlsx,NaN,NaN,NaN,NaT,NaN,NaN,NaN
3,3,Merchants,2022-01-27,Merchant Outflow,699,17E9CB4A1B391214,Y52PR4S3HFR:INTERBANKENDT:20220127TRID:Y52PR4S...,NaN,0.00,-229.02,"7,674,034.69","7,893,583.67",TX-NV-Payclip_3261_27_Enero_2022.xlsx,NaN,NaN,NaN,NaT,NaN,NaN,NaN
4,4,Merchants,2022-01-27,Merchant Outflow,699,17E9CB4A1A842897,23KH82LRWFR:INTERBANKENDT:20220127TRID:23KH82L...,NaN,0.00,"-2,164.18","7,674,034.69","7,893,583.67",TX-NV-Payclip_3261_27_Enero_2022.xlsx,NaN,NaN,NaN,NaT,NaN,NaN,NaN

In [10]:
edo_cta_2.shape

(396215, 20)

### CONSOLIDADO

In [11]:
edo_cta = pd.concat([edo_cta_2])
edo_cta.head()

,index,Instrument Type,Operation Date,Budget Code,Local Code,Bank Reference,Description,Description 1,Credit,Debit,Opening Balance Amount,Closing Balance Amount,file_name,Bank Account Number,Bank Group,Description Local Code,Value Date,Amount,Instrument Code,BTID
0,0,Merchants,2022-01-27,Merchant Outflow,699,17E9CB49F00BD0BE,4Q4XK32S2FR:INTERBANKENDT:20220127TRID:4Q4XK32...,NaN,0.00,-149.97,"7,674,034.69","7,893,583.67",TX-NV-Payclip_3261_27_Enero_2022.xlsx,NaN,NaN,NaN,NaT,NaN,NaN,NaN
1,1,Merchants,2022-01-27,Merchant Outflow,699,17E9CB49E7F10234,YYC39S9RDFR:INTERBANKENDT:20220127TRID:YYC39S9...,NaN,0.00,-90.08,"7,674,034.69","7,893,583.67",TX-NV-Payclip_3261_27_Enero_2022.xlsx,NaN,NaN,NaN,NaT,NaN,NaN,NaN
2,2,Merchants,2022-01-27,Merchant Outflow,699,17E9CB49F14CEEA2,2DTHSGCRYFR:INTERBANKENDT:20220127TRID:2DTHSGC...,NaN,0.00,-543.62,"7,674,034.69","7,893,583.67",TX-NV-Payclip_3261_27_Enero_2022.xlsx,NaN,NaN,NaN,NaT,NaN,NaN,NaN
3,3,Merchants,2022-01-27,Merchant Outflow,699,17E9CB4A1B391214,Y52PR4S3HFR:INTERBANKENDT:20220127TRID:Y52PR4S...,NaN,0.00,-229.02,"7,674,034.69","7,893,583.67",TX-NV-Payclip_3261_27_Enero_2022.xlsx,NaN,NaN,NaN,NaT,NaN,NaN,NaN
4,4,Merchants,2022-01-27,Merchant Outflow,699,17E9CB4A1A842897,23KH82LRWFR:INTERBANKENDT:20220127TRID:23KH82L...,NaN,0.00,"-2,164.18","7,674,034.69","7,893,583.67",TX-NV-Payclip_3261_27_Enero_2022.xlsx,NaN,NaN,NaN,NaT,NaN,NaN,NaN

In [12]:
edo_cta.shape

(396215, 20)

In [13]:
edo_cta_all = edo_cta [['Bank Account Number','Operation Date','Value Date','Bank Reference','Description',
                       'Credit','Debit','Amount','Budget Code','file_name']]
edo_cta_all['Bank Reference'].fillna('blank_spaces',inplace=True)
edo_cta_all.head()

C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_1672\1106876473.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  edo_cta_all['Bank Reference'].fillna('blank_spaces',inplace=True)

,Bank Account Number,Operation Date,Value Date,Bank Reference,Description,Credit,Debit,Amount,Budget Code,file_name
0,NaN,2022-01-27,NaT,17E9CB49F00BD0BE,4Q4XK32S2FR:INTERBANKENDT:20220127TRID:4Q4XK32...,0.00,-149.97,NaN,Merchant Outflow,TX-NV-Payclip_3261_27_Enero_2022.xlsx
1,NaN,2022-01-27,NaT,17E9CB49E7F10234,YYC39S9RDFR:INTERBANKENDT:20220127TRID:YYC39S9...,0.00,-90.08,NaN,Merchant Outflow,TX-NV-Payclip_3261_27_Enero_2022.xlsx
2,NaN,2022-01-27,NaT,17E9CB49F14CEEA2,2DTHSGCRYFR:INTERBANKENDT:20220127TRID:2DTHSGC...,0.00,-543.62,NaN,Merchant Outflow,TX-NV-Payclip_3261_27_Enero_2022.xlsx
3,NaN,2022-01-27,NaT,17E9CB4A1B391214,Y52PR4S3HFR:INTERBANKENDT:20220127TRID:Y52PR4S...,0.00,-229.02,NaN,Merchant Outflow,TX-NV-Payclip_3261_27_Enero_2022.xlsx
4,NaN,2022-01-27,NaT,17E9CB4A1A842897,23KH82LRWFR:INTERBANKENDT:20220127TRID:23KH82L...,0.00,"-2,164.18",NaN,Merchant Outflow,TX-NV-Payclip_3261_27_Enero_2022.xlsx

In [14]:
edo_cta_all['Budget Code'].unique()

array(['Merchant Outflow', 'Merchant payments rejection', 'Other revenue',
       'Payclip Funding', 'VAT charged per ME transactions',
       'Bank fees per ME transaction', 'Profesional Services', 'WhoT',
       'FX Deals', 'Payroll Payments', nan, 'Merchant Inflow',
       'Merchant chargeback', 'Bank fees', 'VAT Bank fees',
       'Investment intrests', 'Income TAX', 'Readers',
       'Intercompany ME Funding', 'Processor Inflows',
       "Bank fees per TPV'S transactions",
       "VAT Bank fees per TPV's transactions",
       'Bank fees per ME transactions',
       'VAT Bank fees per ME transactions'], dtype=object)

In [15]:
edo_cta_all_dev = edo_cta_all[(edo_cta_all['Budget Code'].isin(['Merchant payments rejection']))]
edo_cta_all_dev.head()

,Bank Account Number,Operation Date,Value Date,Bank Reference,Description,Credit,Debit,Amount,Budget Code,file_name
16,NaN,2022-01-27,NaT,17E9DA192C4004B7,540700702729FR:OPERATION REVERSALENDT:20220127...,326.27,0.00,NaN,Merchant payments rejection,TX-NV-Payclip_3261_27_Enero_2022.xlsx
17,NaN,2022-01-27,NaT,17E9DA189B0B4B15,538980702722FR:OPERATION REVERSALENDT:20220127...,"1,728.65",0.00,NaN,Merchant payments rejection,TX-NV-Payclip_3261_27_Enero_2022.xlsx
18,NaN,2022-01-27,NaT,17E9DA172FFA17C6,534270702729FR:OPERATION REVERSALENDT:20220127...,"2,458.86",0.00,NaN,Merchant payments rejection,TX-NV-Payclip_3261_27_Enero_2022.xlsx
19,NaN,2022-01-27,NaT,17E9DA16393ABB99,531360702722FR:OPERATION REVERSALENDT:20220127...,193.56,0.00,NaN,Merchant payments rejection,TX-NV-Payclip_3261_27_Enero_2022.xlsx
20,NaN,2022-01-27,NaT,17E9DA16D5F093C7,533230702727FR:OPERATION REVERSALENDT:20220127...,13.96,0.00,NaN,Merchant payments rejection,TX-NV-Payclip_3261_27_Enero_2022.xlsx

In [16]:
edo_cta_all_dev.shape

(6115, 10)

# CRUCE DISPERSIONES VS MOVIMIENTOS BANCARIOS

In [17]:
split = pagos_2_paid["CEP"].str.split(",",n=8,expand=True)
split.head()

,0,1,2,3,4,5
0,2022-04-30,42644264202204301700946456,40072,90659,659802020000058487,183.02
4329,2022-04-30,42644264202204301701581976,40072,90659,659802020000121466,229.97
4328,2022-04-30,42644264202204301701582522,40072,90659,659802020000104108,1178.64
4327,2022-04-30,42644264202204301701581682,40072,90659,659802020000401283,128.41
4326,2022-04-30,42644264202204301701582266,40072,90659,659802020000004376,418.75

In [18]:
pagos_2_paid["Bank Reference"] = split[1]
pagos_2_paid.head()

C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_1672\1453815343.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pagos_2_paid["Bank Reference"] = split[1]

,merchant_id,merchant_name,user_email,report_id,report_date_local,total_due,tipo,bank,swap,CLABE,status,CEP,Time,Banco_emisor,file_name,date_file,Bank Reference
0,0077de15-2d6d-4e8e-8b08-fabfa914b7c1,BOCKBIER,Anthony-carwash@hotmail.com,7JPSHKWDX,2022-04-30,183.02,Pago del día,ASP INTEGRA OPC,Luis Antonio Montes Suárez,659802020000058487,PAID,"2022-04-30,42644264202204301700946456,40072,90...",09:00,BANORTE,Dispersión-FP 2022-04-30.xlsx,2022-04-30,42644264202204301700946456
4329,db3d0502-a093-4027-add8-06edc610bda7,COCONOCO,ruben@martinez.net,RRRW4MX4W,2022-04-30,229.97,Pago del día,ASP INTEGRA OPC,Ruben Edmundo Martinez Alvarez,659802020000121466,PAID,"2022-04-30,42644264202204301701581976,40072,90...",16:00,BANORTE,Dispersión-FP 2022-04-30.xlsx,2022-04-30,42644264202204301701581976
4328,db28f9ec-b96f-4cc7-8707-5e73aa3848f0,Xiluet,jaqueline.tovar2002@gmail.com,4M6B6R9XJ,2022-04-30,"1,178.64",Pago del día,ASP INTEGRA OPC,Jose Antonio Tovar Lara,659802020000104108,PAID,"2022-04-30,42644264202204301701582522,40072,90...",16:00,BANORTE,Dispersión-FP 2022-04-30.xlsx,2022-04-30,42644264202204301701582522
4327,dafd48db-e5b9-44ef-b4be-d8945fcbee1e,La Michoacana De VillaMagna,lilivianeysl@hotmail.com,3VN3YM8VP,2022-04-30,128.41,Pago del día,ASP INTEGRA OPC,Liliana Vianey Solorio Lopez,659802020000401283,PAID,"2022-04-30,42644264202204301701581682,40072,90...",16:00,BANORTE,Dispersión-FP 2022-04-30.xlsx,2022-04-30,42644264202204301701581682
4326,daede979-5687-4bae-b987-ad8b16534960,Barbacoa Gamero,barbacoagamero@gmail.com,ZKZTYRGQJ,2022-04-30,418.75,Pago del día,ASP INTEGRA OPC,Alejandra Garnica Ramirez,659802020000004376,PAID,"2022-04-30,42644264202204301701582266,40072,90...",16:00,BANORTE,Dispersión-FP 2022-04-30.xlsx,2022-04-30,42644264202204301701582266

In [19]:
pagos_2_paid.shape

(125836, 17)

In [20]:
cruce_1 = pagos_2_paid.merge(edo_cta_all_dev[['Bank Reference','Operation Date','Value Date','Description','Credit']],
                             on='Bank Reference',how='left')
cruce_1['Description'].fillna('sin_devolucion',inplace=True)
cruce_1.head()

,merchant_id,merchant_name,user_email,report_id,report_date_local,total_due,tipo,bank,swap,CLABE,...,CEP,Time,Banco_emisor,file_name,date_file,Bank Reference,Operation Date,Value Date,Description,Credit
0,0077de15-2d6d-4e8e-8b08-fabfa914b7c1,BOCKBIER,Anthony-carwash@hotmail.com,7JPSHKWDX,2022-04-30,183.02,Pago del día,ASP INTEGRA OPC,Luis Antonio Montes Suárez,659802020000058487,...,"2022-04-30,42644264202204301700946456,40072,90...",09:00,BANORTE,Dispersión-FP 2022-04-30.xlsx,2022-04-30,42644264202204301700946456,NaT,NaT,sin_devolucion,NaN
1,db3d0502-a093-4027-add8-06edc610bda7,COCONOCO,ruben@martinez.net,RRRW4MX4W,2022-04-30,229.97,Pago del día,ASP INTEGRA OPC,Ruben Edmundo Martinez Alvarez,659802020000121466,...,"2022-04-30,42644264202204301701581976,40072,90...",16:00,BANORTE,Dispersión-FP 2022-04-30.xlsx,2022-04-30,42644264202204301701581976,NaT,NaT,sin_devolucion,NaN
2,db28f9ec-b96f-4cc7-8707-5e73aa3848f0,Xiluet,jaqueline.tovar2002@gmail.com,4M6B6R9XJ,2022-04-30,"1,178.64",Pago del día,ASP INTEGRA OPC,Jose Antonio Tovar Lara,659802020000104108,...,"2022-04-30,42644264202204301701582522,40072,90...",16:00,BANORTE,Dispersión-FP 2022-04-30.xlsx,2022-04-30,42644264202204301701582522,NaT,NaT,sin_devolucion,NaN
3,dafd48db-e5b9-44ef-b4be-d8945fcbee1e,La Michoacana De VillaMagna,lilivianeysl@hotmail.com,3VN3YM8VP,2022-04-30,128.41,Pago del día,ASP INTEGRA OPC,Liliana Vianey Solorio Lopez,659802020000401283,...,"2022-04-30,42644264202204301701581682,40072,90...",16:00,BANORTE,Dispersión-FP 2022-04-30.xlsx,2022-04-30,42644264202204301701581682,NaT,NaT,sin_devolucion,NaN
4,daede979-5687-4bae-b987-ad8b16534960,Barbacoa Gamero,barbacoagamero@gmail.com,ZKZTYRGQJ,2022-04-30,418.75,Pago del día,ASP INTEGRA OPC,Alejandra Garnica Ramirez,659802020000004376,...,"2022-04-30,42644264202204301701582266,40072,90...",16:00,BANORTE,Dispersión-FP 2022-04-30.xlsx,2022-04-30,42644264202204301701582266,NaT,NaT,sin_devolucion,NaN

In [21]:
cruce_1.shape

(125836, 21)

In [22]:
cruce_1_final = cruce_1[(cruce_1['Description'] != 'sin_devolucion')]
cruce_1_final.head()

,merchant_id,merchant_name,user_email,report_id,report_date_local,total_due,tipo,bank,swap,CLABE,...,CEP,Time,Banco_emisor,file_name,date_file,Bank Reference,Operation Date,Value Date,Description,Credit
37321,240c2082-4c5d-4638-9002-85d328a940a4,El Guero De mexicali,rodriguezabril510@gmail.com,N8S96D54Y,2022-05-06,956.32,Pago del día,ASP INTEGRA OPC,Abril Jussette Rodriguez Reyes,659802020000247311,...,"2022-05-06,1809C375F5A7FAF1,40002,90659,659802...",20:00,BANAMEX,Dispersión-FP 2022-05-06.xlsx,2022-05-06,1809C375F5A7FAF1,2022-05-06,NaT,165350712625FR:OPERATION REVERSALENDT:20220506...,956.32
57070,6f3ca2cf-5301-4b78-a48c-9f16cb15e6ad,RT LOS DOS CARNALES,robertog92@hotmail.com,CF8RNP3Z6,2022-05-10,548.73,Pago del día,ASP INTEGRA OPC,Rodolpho Jesus Treviño Cavazos,659802020000422893,...,"2022-05-10,180B0D08C5EF356D,40002,90659,659802...",20:00,BANAMEX,Dispersión-FP 2022-05-10.xlsx,2022-05-10,180B0D08C5EF356D,2022-05-10,NaT,734320713029FR:OPERATION REVERSALENDT:20220510...,548.73
57492,f2ab1d9c-3c46-47f7-afe0-5ef4fafe8345,Six Triomas,anavalenzuela668@gmail.com,7YNS5KHQJ,2022-05-10,86.24,Pago del día,ASP INTEGRA OPC,Ana Guadalupe Valenzuela Juarez,659802020000122410,...,"2022-05-10,180B0D079B113CD7,40002,90659,659802...",20:00,BANAMEX,Dispersión-FP 2022-05-10.xlsx,2022-05-10,180B0D079B113CD7,2022-05-10,NaT,731250713028FR:OPERATION REVERSALENDT:20220510...,86.24
62271,6328eb0b-4e66-4f4e-9323-693af61a0676,Studio In,dulce_iniguez@hotmail.com,5P2F2FY8X,2022-05-11,"15,131.65",Pago del día,ASP INTEGRA OPC,Dulce Maria Iñiguez Serrano,659802020000271073,...,"2022-05-11,180B5F76CEB60BB8,40002,90659,659802...",20:00,BANAMEX,Dispersión-FP 2022-05-11.xlsx,2022-05-11,180B5F76CEB60BB8,2022-05-11,NaT,828130713121FR:OPERATION REVERSALENDT:20220511...,"15,131.65"
62301,82319e28-c6ac-496d-84a0-1bbb85ba28fa,Aires Acondicionados Guerra,guerra.gutierrez@hotmail.com,6YRJCMPYT,2022-05-11,"8,141.78",Pago del día,ASP INTEGRA OPC,David Guerra Gutierrez,659802020000217118,...,"2022-05-11,180B5F7754D170EE,40002,90659,659802...",20:00,BANAMEX,Dispersión-FP 2022-05-11.xlsx,2022-05-11,180B5F7754D170EE,2022-05-11,NaT,829630713122FR:OPERATION REVERSALENDT:20220511...,"8,141.78"

In [23]:
cruce_1_final.shape

(54, 21)

In [24]:
cruce_1_final['file_name'].unique()

array(['Dispersión-FP 2022-05-06.xlsx', 'Dispersión-FP 2022-05-10.xlsx',
       'Dispersión-FP 2022-05-11.xlsx', 'Dispersión-FP 2022-05-12.xlsx',
       'Dispersión-FP 2022-05-13.xlsx', 'Dispersión-FP 2022-05-16.xlsx',
       'Dispersión-FP 2022-05-17.xlsx', 'Dispersión-FP 2022-05-18.xlsx',
       'Dispersión-FP 2022-05-20.xlsx'], dtype=object)

In [25]:
grouped = cruce_1_final.groupby(cruce_1_final.file_name)

In [26]:
group_1 = grouped.get_group('Dispersión-FP 2022-05-06.xlsx')
group_2 = grouped.get_group('Dispersión-FP 2022-05-10.xlsx')
group_3 = grouped.get_group('Dispersión-FP 2022-05-11.xlsx')
group_4 = grouped.get_group('Dispersión-FP 2022-05-12.xlsx')
group_5 = grouped.get_group('Dispersión-FP 2022-05-13.xlsx')
group_6 = grouped.get_group('Dispersión-FP 2022-05-16.xlsx')
group_7 = grouped.get_group('Dispersión-FP 2022-05-17.xlsx')
group_8 = grouped.get_group('Dispersión-FP 2022-05-18.xlsx')
group_9 = grouped.get_group('Dispersión-FP 2022-05-20.xlsx')
# group_10 = grouped.get_group('Dispersión-FP 2022-04-19.xlsx')
# group_11 = grouped.get_group('Dispersión-FP 2022-04-20.xlsx')
# group_12 = grouped.get_group('Dispersión-FP 2022-04-21.xlsx')
# group_13 = grouped.get_group('Dispersión-FP 2022-04-22.xlsx')
# group_14 = grouped.get_group('Dispersión-FP 2022-04-25.xlsx')
# group_15 = grouped.get_group('Dispersión-FP 2022-04-26.xlsx')
# group_16 = grouped.get_group('Dispersión-FP 2022-04-27.xlsx')
# group_17 = grouped.get_group('Dispersión-FP 2022-03-23.xlsx')
# group_18 = grouped.get_group('Dispersión-FP 2022-03-24.xlsx')
# group_19 = grouped.get_group('Dispersión-FP 2022-03-25.xlsx')
# group_20 = grouped.get_group('Dispersión-FP 2022-03-27.xlsx')
# group_21 = grouped.get_group('Dispersión-FP 2022-03-28.xlsx')
# group_22 = grouped.get_group('Dispersión-FP 2022-03-29.xlsx')
# group_23 = grouped.get_group('Dispersión-FP 2022-03-30.xlsx')
# group_24 = grouped.get_group('Dispersión-FP 2022-03-31.xlsx')

In [27]:
writer = pd.ExcelWriter('DEV EXT CITI MAYO 2022.xlsx',
                        engine='xlsxwriter',
                        engine_kwargs={'options': {'encoding':'utf-8'}})
group_1.to_excel(writer, sheet_name='2022.05.06', index=False)
group_2.to_excel(writer, sheet_name='2022.05.10', index=False)
group_3.to_excel(writer, sheet_name='2022.05.11', index=False)
group_4.to_excel(writer, sheet_name='2022.05.12', index=False)
group_5.to_excel(writer, sheet_name='2022.05.13', index=False)
group_6.to_excel(writer, sheet_name='2022.05.16', index=False)
group_7.to_excel(writer, sheet_name='2022.05.17', index=False)
group_8.to_excel(writer, sheet_name='2022.05.18', index=False)
group_9.to_excel(writer, sheet_name='2022.05.20', index=False)
# group_10.to_excel(writer, sheet_name='2022.04.19', index=False)
# group_11.to_excel(writer, sheet_name='2022.04.20', index=False)
# group_12.to_excel(writer, sheet_name='2022.04.21', index=False)
# group_13.to_excel(writer, sheet_name='2022.04.22', index=False)
# group_14.to_excel(writer, sheet_name='2022.04.25', index=False)
# group_15.to_excel(writer, sheet_name='2022.04.26', index=False)
# group_16.to_excel(writer, sheet_name='2022.04.27', index=False)
# group_17.to_excel(writer, sheet_name='2022.03.23', index=False)
# group_18.to_excel(writer, sheet_name='2022.03.24', index=False)
# group_19.to_excel(writer, sheet_name='2022.03.25', index=False)
# group_20.to_excel(writer, sheet_name='2022.03.27', index=False)
# group_21.to_excel(writer, sheet_name='2022.03.28', index=False)
# group_22.to_excel(writer, sheet_name='2022.03.29', index=False)
# group_23.to_excel(writer, sheet_name='2022.03.30', index=False)
# group_24.to_excel(writer, sheet_name='2022.03.31', index=False)
writer.close()