In [1]:
import pandas as pd
import numpy as np
from openpyxl import load_workbook
import glob
import os
from datetime import datetime
pd.options.display.float_format = '{:,.2f}'.format

# READING FILES

In [2]:
date_respuesta = '2022-02-22'
date_respuesta = pd.to_datetime(date_respuesta)

## RESPUESTAS FP

In [7]:
names_resp = ['report_id','status','report_date_local','amount','disbursement_batch_id','merchant_id','bank_account_number',
             'bank_name','bank_account_owner_name','execution_date','aplication_date','disbursement_tracking_key',
             'error_description','reference_number']

In [8]:
rs = glob.glob(r'C:\Users\Cristian.Aparicio\Documents\FAST PAYMENTS\2022\02. FEBRERO\Respuesta-FP-CITI*.xlsx', recursive=False)
rs

['C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2022\\02. FEBRERO\\Respuesta-FP-CITI-1 2022-02-22.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2022\\02. FEBRERO\\Respuesta-FP-CITI-2 2022-02-22.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2022\\02. FEBRERO\\Respuesta-FP-CITI-3 2022-02-22.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2022\\02. FEBRERO\\Respuesta-FP-CITI-4 2022-02-22.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2022\\02. FEBRERO\\Respuesta-FP-CITI-5 2022-02-22.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2022\\02. FEBRERO\\Respuesta-FP-CITI-6 2022-02-22.xlsx']

In [9]:
rs_concat = pd.concat([pd.read_excel(f,sheet_name='Report',names=names_resp,
                                     converters={'bank_account_number':str,'disbursement_tracking_key':str,'report_id':str})
                       .assign(file_name=os.path.basename(f)) for f in rs])
rs_concat.loc[rs_concat['file_name'].str.contains('CITI-1'), 'Time_rs'] = '09:00'
rs_concat.loc[rs_concat['file_name'].str.contains('CITI-2'), 'Time_rs'] = '11:00'
rs_concat.loc[rs_concat['file_name'].str.contains('CITI-3'), 'Time_rs'] = '14:00'
rs_concat.loc[rs_concat['file_name'].str.contains('CITI-4'), 'Time_rs'] = '16:00'
rs_concat.loc[rs_concat['file_name'].str.contains('CITI-5'), 'Time_rs'] = '18:00'
rs_concat.loc[rs_concat['file_name'].str.contains('CITI-6'), 'Time_rs'] = '20:00'
rs_concat['INDEX'] = (rs_concat['report_id'].astype(str).replace(' ', '',regex=True)+'_'
                       +rs_concat['Time_rs'].astype(str).replace(' ', '',regex=True))
rs_concat.head()

C:\Users\Cristian.Aparicio\anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
C:\Users\Cristian.Aparicio\anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
C:\Users\Cristian.Aparicio\anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
C:\Users\Cristian.Aparicio\anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
C:\Users\Cristian.Aparicio\anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

,report_id,status,report_date_local,amount,disbursement_batch_id,merchant_id,bank_account_number,bank_name,bank_account_owner_name,execution_date,aplication_date,disbursement_tracking_key,error_description,reference_number,file_name,Time_rs,INDEX
0,M6DJ2JPYC,PAID,2022-02-22T00:00,177.27,f162b1c9-8cac-4ffe-b01d-3bd898d5b9f9,00d0dc90-b79a-4c33-9100-66ba255c3a46,659802020000276573,"Opciones Empresariales del Noreste, S.A. de C....",Felix Ilich Ortiz Rangel,2022-02-22T15:46:38,2022-02-22T09:46:39,NaN,NaN,900001,Respuesta-FP-CITI-1 2022-02-22.xlsx,09:00,M6DJ2JPYC_09:00
1,RWG32XG7L,PAID,2022-02-22T00:00,117.82,f162b1c9-8cac-4ffe-b01d-3bd898d5b9f9,01054eec-e90e-42a8-9471-3fb1711cbbc1,659802020000300038,"Opciones Empresariales del Noreste, S.A. de C....",Miguel Hernandez Ramirez,2022-02-22T15:46:38,2022-02-22T09:46:39,NaN,NaN,900002,Respuesta-FP-CITI-1 2022-02-22.xlsx,09:00,RWG32XG7L_09:00
2,MNCW9KNDX,PAID,2022-02-22T00:00,474.33,f162b1c9-8cac-4ffe-b01d-3bd898d5b9f9,013fc256-a2c1-466a-a916-3b55aec4e7e9,659802020000047786,"Opciones Empresariales del Noreste, S.A. de C....",Otoniel Flores Torres,2022-02-22T15:46:38,2022-02-22T09:46:39,NaN,NaN,900003,Respuesta-FP-CITI-1 2022-02-22.xlsx,09:00,MNCW9KNDX_09:00
3,NPRTVY92L,PAID,2022-02-22T00:00,958.24,f162b1c9-8cac-4ffe-b01d-3bd898d5b9f9,01675b63-28cd-49b0-bf6d-ecdc88b36e21,659802020000375542,"Opciones Empresariales del Noreste, S.A. de C....",Lisbeth Vazques Jimenez,2022-02-22T15:46:38,2022-02-22T09:46:39,NaN,NaN,900004,Respuesta-FP-CITI-1 2022-02-22.xlsx,09:00,NPRTVY92L_09:00
4,ZSYXDMYTY,PAID,2022-02-22T00:00,113.07,f162b1c9-8cac-4ffe-b01d-3bd898d5b9f9,01737347-0bfd-4308-9ad5-adff4885b455,659802020000154462,"Opciones Empresariales del Noreste, S.A. de C....",Juan Nestor Ruiz Boone,2022-02-22T15:46:38,2022-02-22T09:46:39,NaN,NaN,900005,Respuesta-FP-CITI-1 2022-02-22.xlsx,09:00,ZSYXDMYTY_09:00

In [10]:
rs_concat.shape

(4932, 17)

In [11]:
duplicates = rs_concat[rs_concat.duplicated(['report_id'] , keep=False)]
duplicates.head()

Empty DataFrame
Columns: [report_id, status, report_date_local, amount, disbursement_batch_id, merchant_id, bank_account_number, bank_name, bank_account_owner_name, execution_date, aplication_date, disbursement_tracking_key, error_description, reference_number, file_name, Time_rs, INDEX]
Index: []

In [12]:
duplicates.shape

(0, 17)

## QUERY PAYMENTS

In [13]:
query = pd.read_csv(r'G:\My Drive\Settlement\5.-HISTORICO FILES PAGOS\02. FAST PAYMENTS\2022\02. FEBRERO\FP-CITI 2022-02-22.csv')
query['batch_created_date'] = pd.to_datetime(query['batch_created_date'])
query.set_index('batch_created_date',inplace=True)
query.head()

,merchant_id,merchant_name,user_email,report_id,report_date_local,amount,status,bank_name,payment_date_local,bank_account_owner_name,bank_account_number,swap
batch_created_date,,,,,,,,,,,,
2022-02-22 16:16:06,00094c06-2b54-4569-9314-00c3c213297c,5antas Alitas Dgo,lacosa0012@gmail.com,MPDKS5G38,2022-02-22 00:00:00,"1,029.65",PAID,"Opciones Empresariales del Noreste, S.A. de C....",2022-02-22 16:22:26,Guadalupe Carmen Villa Vazquez,'659802020000471271,"Guadalupe Carmen Villa Vazquez,,1029.65,659802..."
2022-02-22 18:26:30,00477f23-0b3c-45d2-9770-c4c9fff2f572,West Town Burgers,montoya.david96@outlook.com,G443FW4TC,2022-02-22 00:00:00,221.35,PAID,"Opciones Empresariales del Noreste, S.A. de C....",2022-02-22 18:33:14,David Romo Montoya,'659802020000434726,"David Romo Montoya,,221.35,659802020000434726,..."
2022-02-22 18:26:30,0079b7bd-0713-4cf9-9b37-992cbbba9c1e,Zaida Sarai,zaida.sarai.aguirre.hernandez@gmail.com,HZRMYJL7M,2022-02-22 00:00:00,287.47,PAID,"Opciones Empresariales del Noreste, S.A. de C....",2022-02-22 18:33:14,Zaida Sarai Aguirre Hernandez,'659802020000524814,"Zaida Sarai Aguirre Hernandez,,287.47,65980202..."
2022-02-22 14:06:12,00ae274c-a015-4d09-ae9e-ab557f4c156c,Cremeria Los Angeles,arnold0019@hotmail.com,7WT9MFWZR,2022-02-22 00:00:00,47.91,PAID,"Opciones Empresariales del Noreste, S.A. de C....",2022-02-22 14:12:32,Arnoldo Toledano Gutierrez,'659802020000281607,"Arnoldo Toledano Gutierrez,,47.91,659802020000..."
2022-02-22 16:16:06,00ae274c-a015-4d09-ae9e-ab557f4c156c,Cremeria Los Angeles,arnold0019@hotmail.com,YFZYWS6WT,2022-02-22 00:00:00,29.70,PAID,"Opciones Empresariales del Noreste, S.A. de C....",2022-02-22 16:22:34,Arnoldo Toledano Gutierrez,'659802020000281607,"Arnoldo Toledano Gutierrez,,29.70,659802020000..."

In [14]:
query.shape

(4932, 12)

In [15]:
hour1 = query.between_time('08:00','10:59')
hour1['Time'] = '09:00'
hour2 = query.between_time('11:00','13:59')
hour2['Time'] = '11:00'
hour3 = query.between_time('14:00','15:59')
hour3['Time'] = '14:00'
hour4 = query.between_time('16:00','17:59')
hour4['Time'] = '16:00'
hour5 = query.between_time('18:00','19:59')
hour5['Time'] = '18:00'
hour6 = query.between_time('20:00','23:59')
hour6['Time'] = '20:00'

C:\Users\CRISTI~1.APA\AppData\Local\Temp/ipykernel_3764/1214382282.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hour1['Time'] = '09:00'
C:\Users\CRISTI~1.APA\AppData\Local\Temp/ipykernel_3764/1214382282.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hour2['Time'] = '11:00'
C:\Users\CRISTI~1.APA\AppData\Local\Temp/ipykernel_3764/1214382282.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hour3['Time'] = '14:00'
C:\Users\CRISTI~1.APA\AppData\Local\Temp/ipykernel_3764/1214382282.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hour4['Time'] = '16:00'
C:\Users\CRISTI~1.APA\AppData\Local\Temp/ipykernel_3764/1214382282.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hour5['Time'] = '18:00'
C:\Users\CRISTI~1.APA\AppData\Local\Temp/ipykernel_3764/1214382282.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hour6['Time'] = '20:00'

In [16]:
disp1 = pd.concat([hour1,hour2,hour3,hour4,hour5,hour6])
disp1['INDEX'] = (disp1['report_id'].astype(str).replace(' ', '',regex=True)+'_'
                       +disp1['Time'].astype(str).replace(' ', '',regex=True))
disp1.head()

,merchant_id,merchant_name,user_email,report_id,report_date_local,amount,status,bank_name,payment_date_local,bank_account_owner_name,bank_account_number,swap,Time,INDEX
batch_created_date,,,,,,,,,,,,,,
2022-02-22 09:46:38,00d0dc90-b79a-4c33-9100-66ba255c3a46,PITBOSSES VEGAN BBQ,thephytophagous@gmail.com,M6DJ2JPYC,2022-02-22 00:00:00,177.27,PAID,"Opciones Empresariales del Noreste, S.A. de C....",2022-02-22 10:00:58,Felix Ilich Ortiz Rangel,'659802020000276573,"Felix Ilich Ortiz Rangel,,177.27,6598020200002...",09:00,M6DJ2JPYC_09:00
2022-02-22 09:46:38,01054eec-e90e-42a8-9471-3fb1711cbbc1,Abarrotes La Perla De Magon,laperlademagon2021@hotmail.com,RWG32XG7L,2022-02-22 00:00:00,117.82,PAID,"Opciones Empresariales del Noreste, S.A. de C....",2022-02-22 10:00:54,Miguel Hernandez Ramirez,'659802020000300038,"Miguel Hernandez Ramirez,,117.82,6598020200003...",09:00,RWG32XG7L_09:00
2022-02-22 09:46:38,013fc256-a2c1-466a-a916-3b55aec4e7e9,Tacos Don Carmelo,tacosdoncarmelo@gmail.com,MNCW9KNDX,2022-02-22 00:00:00,474.33,PAID,"Opciones Empresariales del Noreste, S.A. de C....",2022-02-22 10:00:40,Otoniel Flores Torres,'659802020000047786,"Otoniel Flores Torres,,474.33,6598020200000477...",09:00,MNCW9KNDX_09:00
2022-02-22 09:46:38,01675b63-28cd-49b0-bf6d-ecdc88b36e21,Jr Taxi Company,juniorvc55@icloud.com,NPRTVY92L,2022-02-22 00:00:00,958.24,PAID,"Opciones Empresariales del Noreste, S.A. de C....",2022-02-22 10:00:41,Lisbeth Vazques Jimenez,'659802020000375542,"Lisbeth Vazques Jimenez,,958.24,65980202000037...",09:00,NPRTVY92L_09:00
2022-02-22 09:46:38,01737347-0bfd-4308-9ad5-adff4885b455,Abarrotes Las Orqudeas,abarrotes.orquideas@gmail.com,ZSYXDMYTY,2022-02-22 00:00:00,113.07,PAID,"Opciones Empresariales del Noreste, S.A. de C....",2022-02-22 10:01:18,Juan Nestor Ruiz Boone,'659802020000154462,"Juan Nestor Ruiz Boone,,113.07,659802020000154...",09:00,ZSYXDMYTY_09:00

In [17]:
disp1.shape

(4932, 14)

## ARCHIVO TREASURY XPRESS

In [19]:
all_mov_tx_2022 = glob.glob(r'G:\My Drive\2.-CONCILIACIONES Y POLIZA\EDO CTA BANAMEX\2022\02. FEBRERO\TX-NV-Payclip_3261_22_Febrero_2022.xlsx', recursive=False)
all_mov_tx_2022

['G:\\My Drive\\2.-CONCILIACIONES Y POLIZA\\EDO CTA BANAMEX\\2022\\02. FEBRERO\\TX-NV-Payclip_3261_22_Febrero_2022.xlsx']

In [23]:
edo_cta = pd.concat([pd.read_excel(f).assign(file_name=os.path.basename(f)) for f in all_mov_tx_2022])
edo_cta.reset_index(inplace=True)
edo_cta.rename(columns={'Bank Reference':'clave_rastreo'},inplace=True)
edo_cta.head()

,index,Instrument Type,Operation Date,Budget Code,Local Code,clave_rastreo,Description,Description 1,Credit,Debit,Opening Balance Amount,Closing Balance Amount,file_name
0,0,Merchants,2022-02-22,Merchant Outflow,699,17F230FF8B9B0736,5GFQK3S8PFR:INTERBANKENDT:20220222TRID:5GFQK3S...,NaN,0.00,-35.19,"8,174,053.42","8,686,911.99",TX-NV-Payclip_3261_22_Febrero_2022.xlsx
1,1,Merchants,2022-02-22,Merchant Outflow,699,17F230FF8CA05F99,4HDZR6WPTFR:INTERBANKENDT:20220222TRID:4HDZR6W...,NaN,0.00,"-1,054.06","8,174,053.42","8,686,911.99",TX-NV-Payclip_3261_22_Febrero_2022.xlsx
2,2,Merchants,2022-02-22,Merchant Outflow,699,17F230FFFCD279E1,SPR755BXXFR:INTERBANKENDT:20220222TRID:SPR755B...,NaN,0.00,-280.76,"8,174,053.42","8,686,911.99",TX-NV-Payclip_3261_22_Febrero_2022.xlsx
3,3,Merchants,2022-02-22,Merchant Outflow,699,17F2310004DD04F1,FMZZKX2T7FR:INTERBANKENDT:20220222TRID:FMZZKX2...,NaN,0.00,-203.15,"8,174,053.42","8,686,911.99",TX-NV-Payclip_3261_22_Febrero_2022.xlsx
4,4,Merchants,2022-02-22,Merchant Outflow,699,17F230FFFFE4B6E1,85D8FDT9PFR:INTERBANKENDT:20220222TRID:85D8FDT...,NaN,0.00,-574.94,"8,174,053.42","8,686,911.99",TX-NV-Payclip_3261_22_Febrero_2022.xlsx

In [24]:
edo_cta.shape

(5074, 13)

In [25]:
split = edo_cta["Description"].str.split(":",n=7,expand=True)
split.head()

,0,1,2,3,4
0,5GFQK3S8PFR,INTERBANKENDT,20220222TRID,5GFQK3S8PEI,549564 PAYCLIP S D...
1,4HDZR6WPTFR,INTERBANKENDT,20220222TRID,4HDZR6WPTEI,549565 PAYCLIP S D...
2,SPR755BXXFR,INTERBANKENDT,20220222TRID,SPR755BXXEI,549698 PAYCLIP S D...
3,FMZZKX2T7FR,INTERBANKENDT,20220222TRID,FMZZKX2T7EI,549697 PAYCLIP S D...
4,85D8FDT9PFR,INTERBANKENDT,20220222TRID,85D8FDT9PEI,549694 PAYCLIP S D...

In [26]:
split.shape

(5074, 5)

In [31]:
edo_cta['report_id'] = split[3].str[:9].replace(' ', '',regex=True)
edo_cta.head()

,index,Instrument Type,Operation Date,Budget Code,Local Code,clave_rastreo,Description,Description 1,Credit,Debit,Opening Balance Amount,Closing Balance Amount,file_name,report_id
0,0,Merchants,2022-02-22,Merchant Outflow,699,17F230FF8B9B0736,5GFQK3S8PFR:INTERBANKENDT:20220222TRID:5GFQK3S...,NaN,0.00,-35.19,"8,174,053.42","8,686,911.99",TX-NV-Payclip_3261_22_Febrero_2022.xlsx,5GFQK3S8P
1,1,Merchants,2022-02-22,Merchant Outflow,699,17F230FF8CA05F99,4HDZR6WPTFR:INTERBANKENDT:20220222TRID:4HDZR6W...,NaN,0.00,"-1,054.06","8,174,053.42","8,686,911.99",TX-NV-Payclip_3261_22_Febrero_2022.xlsx,4HDZR6WPT
2,2,Merchants,2022-02-22,Merchant Outflow,699,17F230FFFCD279E1,SPR755BXXFR:INTERBANKENDT:20220222TRID:SPR755B...,NaN,0.00,-280.76,"8,174,053.42","8,686,911.99",TX-NV-Payclip_3261_22_Febrero_2022.xlsx,SPR755BXX
3,3,Merchants,2022-02-22,Merchant Outflow,699,17F2310004DD04F1,FMZZKX2T7FR:INTERBANKENDT:20220222TRID:FMZZKX2...,NaN,0.00,-203.15,"8,174,053.42","8,686,911.99",TX-NV-Payclip_3261_22_Febrero_2022.xlsx,FMZZKX2T7
4,4,Merchants,2022-02-22,Merchant Outflow,699,17F230FFFFE4B6E1,85D8FDT9PFR:INTERBANKENDT:20220222TRID:85D8FDT...,NaN,0.00,-574.94,"8,174,053.42","8,686,911.99",TX-NV-Payclip_3261_22_Febrero_2022.xlsx,85D8FDT9P

In [33]:
edo_cta.shape

(5074, 14)

## BIN

In [34]:
bin1 = pd.read_csv(r'C:\Users\Cristian.Aparicio\Documents\DISPERSIONES\Catalogo_Bancos.csv'
                  ,dtype={'BIN':str,'Clave de la institucin':str,'Nombre de la institucin':str})

In [35]:
bin1.head()

   BIN Clave de la institucin Nombre de la institucin
0  138                   40138              ABC CAPITAL
1  102                   40102            ACCENDO BANCO
2  133                   40133                 ACTINVER
3  062                   40062                   AFIRME
4  638                   90638                    AKALA

In [36]:
bin1.shape

(88, 3)

# ARCHIVO RESPUESTA

In [37]:
rs_concat['Date_respuesta'] = date_respuesta
rs_concat.rename(columns ={'bank_account_number':'CLABE'}, inplace=True)
rs_concat['BIN'] = rs_concat['CLABE'].str[:3].replace(' ', '',regex=True)
rs_concat.head()

,report_id,status,report_date_local,amount,disbursement_batch_id,merchant_id,CLABE,bank_name,bank_account_owner_name,execution_date,aplication_date,disbursement_tracking_key,error_description,reference_number,file_name,Time_rs,INDEX,Date_respuesta,BIN
0,M6DJ2JPYC,PAID,2022-02-22T00:00,177.27,f162b1c9-8cac-4ffe-b01d-3bd898d5b9f9,00d0dc90-b79a-4c33-9100-66ba255c3a46,659802020000276573,"Opciones Empresariales del Noreste, S.A. de C....",Felix Ilich Ortiz Rangel,2022-02-22T15:46:38,2022-02-22T09:46:39,NaN,NaN,900001,Respuesta-FP-CITI-1 2022-02-22.xlsx,09:00,M6DJ2JPYC_09:00,2022-02-22,659
1,RWG32XG7L,PAID,2022-02-22T00:00,117.82,f162b1c9-8cac-4ffe-b01d-3bd898d5b9f9,01054eec-e90e-42a8-9471-3fb1711cbbc1,659802020000300038,"Opciones Empresariales del Noreste, S.A. de C....",Miguel Hernandez Ramirez,2022-02-22T15:46:38,2022-02-22T09:46:39,NaN,NaN,900002,Respuesta-FP-CITI-1 2022-02-22.xlsx,09:00,RWG32XG7L_09:00,2022-02-22,659
2,MNCW9KNDX,PAID,2022-02-22T00:00,474.33,f162b1c9-8cac-4ffe-b01d-3bd898d5b9f9,013fc256-a2c1-466a-a916-3b55aec4e7e9,659802020000047786,"Opciones Empresariales del Noreste, S.A. de C....",Otoniel Flores Torres,2022-02-22T15:46:38,2022-02-22T09:46:39,NaN,NaN,900003,Respuesta-FP-CITI-1 2022-02-22.xlsx,09:00,MNCW9KNDX_09:00,2022-02-22,659
3,NPRTVY92L,PAID,2022-02-22T00:00,958.24,f162b1c9-8cac-4ffe-b01d-3bd898d5b9f9,01675b63-28cd-49b0-bf6d-ecdc88b36e21,659802020000375542,"Opciones Empresariales del Noreste, S.A. de C....",Lisbeth Vazques Jimenez,2022-02-22T15:46:38,2022-02-22T09:46:39,NaN,NaN,900004,Respuesta-FP-CITI-1 2022-02-22.xlsx,09:00,NPRTVY92L_09:00,2022-02-22,659
4,ZSYXDMYTY,PAID,2022-02-22T00:00,113.07,f162b1c9-8cac-4ffe-b01d-3bd898d5b9f9,01737347-0bfd-4308-9ad5-adff4885b455,659802020000154462,"Opciones Empresariales del Noreste, S.A. de C....",Juan Nestor Ruiz Boone,2022-02-22T15:46:38,2022-02-22T09:46:39,NaN,NaN,900005,Respuesta-FP-CITI-1 2022-02-22.xlsx,09:00,ZSYXDMYTY_09:00,2022-02-22,659

In [38]:
rs_concat.shape

(4932, 19)

In [39]:
rs_concat_2 = rs_concat.merge(bin1[['BIN','Clave de la institucin','Nombre de la institucin']] ,on='BIN', how='left')
rs_concat_2['Banco emisor'] = '40002'
rs_concat_2['Banco_emisor'] = 'BANAMEX'
rs_concat_2.head()

,report_id,status,report_date_local,amount,disbursement_batch_id,merchant_id,CLABE,bank_name,bank_account_owner_name,execution_date,...,reference_number,file_name,Time_rs,INDEX,Date_respuesta,BIN,Clave de la institucin,Nombre de la institucin,Banco emisor,Banco_emisor
0,M6DJ2JPYC,PAID,2022-02-22T00:00,177.27,f162b1c9-8cac-4ffe-b01d-3bd898d5b9f9,00d0dc90-b79a-4c33-9100-66ba255c3a46,659802020000276573,"Opciones Empresariales del Noreste, S.A. de C....",Felix Ilich Ortiz Rangel,2022-02-22T15:46:38,...,900001,Respuesta-FP-CITI-1 2022-02-22.xlsx,09:00,M6DJ2JPYC_09:00,2022-02-22,659,90659,ASP INTEGRA OPC,40002,BANAMEX
1,RWG32XG7L,PAID,2022-02-22T00:00,117.82,f162b1c9-8cac-4ffe-b01d-3bd898d5b9f9,01054eec-e90e-42a8-9471-3fb1711cbbc1,659802020000300038,"Opciones Empresariales del Noreste, S.A. de C....",Miguel Hernandez Ramirez,2022-02-22T15:46:38,...,900002,Respuesta-FP-CITI-1 2022-02-22.xlsx,09:00,RWG32XG7L_09:00,2022-02-22,659,90659,ASP INTEGRA OPC,40002,BANAMEX
2,MNCW9KNDX,PAID,2022-02-22T00:00,474.33,f162b1c9-8cac-4ffe-b01d-3bd898d5b9f9,013fc256-a2c1-466a-a916-3b55aec4e7e9,659802020000047786,"Opciones Empresariales del Noreste, S.A. de C....",Otoniel Flores Torres,2022-02-22T15:46:38,...,900003,Respuesta-FP-CITI-1 2022-02-22.xlsx,09:00,MNCW9KNDX_09:00,2022-02-22,659,90659,ASP INTEGRA OPC,40002,BANAMEX
3,NPRTVY92L,PAID,2022-02-22T00:00,958.24,f162b1c9-8cac-4ffe-b01d-3bd898d5b9f9,01675b63-28cd-49b0-bf6d-ecdc88b36e21,659802020000375542,"Opciones Empresariales del Noreste, S.A. de C....",Lisbeth Vazques Jimenez,2022-02-22T15:46:38,...,900004,Respuesta-FP-CITI-1 2022-02-22.xlsx,09:00,NPRTVY92L_09:00,2022-02-22,659,90659,ASP INTEGRA OPC,40002,BANAMEX
4,ZSYXDMYTY,PAID,2022-02-22T00:00,113.07,f162b1c9-8cac-4ffe-b01d-3bd898d5b9f9,01737347-0bfd-4308-9ad5-adff4885b455,659802020000154462,"Opciones Empresariales del Noreste, S.A. de C....",Juan Nestor Ruiz Boone,2022-02-22T15:46:38,...,900005,Respuesta-FP-CITI-1 2022-02-22.xlsx,09:00,ZSYXDMYTY_09:00,2022-02-22,659,90659,ASP INTEGRA OPC,40002,BANAMEX

In [40]:
rs_concat_2.shape

(4932, 23)

In [41]:
rs_concat_3 = rs_concat_2.merge(edo_cta[['report_id','clave_rastreo']] ,on='report_id', how='left')
rs_concat_3['LINEA CEP'] = (rs_concat_3['Date_respuesta'].astype(str).replace(' ', '',regex=True)+','
                            +rs_concat_3['clave_rastreo'].astype(str).replace(' ', '',regex=True)+','
                            +rs_concat_3['Banco emisor'].astype(str).replace(' ', '',regex=True)+','
                            +rs_concat_3['Clave de la institucin'].astype(str).replace(' ', '',regex=True)+','
                            +rs_concat_3['CLABE'].astype(str).replace(' ', '',regex=True)+','
                            +rs_concat_3['amount'].astype(str).replace(' ', '',regex=True))
rs_concat_3.head()

,report_id,status,report_date_local,amount,disbursement_batch_id,merchant_id,CLABE,bank_name,bank_account_owner_name,execution_date,...,Time_rs,INDEX,Date_respuesta,BIN,Clave de la institucin,Nombre de la institucin,Banco emisor,Banco_emisor,clave_rastreo,LINEA CEP
0,M6DJ2JPYC,PAID,2022-02-22T00:00,177.27,f162b1c9-8cac-4ffe-b01d-3bd898d5b9f9,00d0dc90-b79a-4c33-9100-66ba255c3a46,659802020000276573,"Opciones Empresariales del Noreste, S.A. de C....",Felix Ilich Ortiz Rangel,2022-02-22T15:46:38,...,09:00,M6DJ2JPYC_09:00,2022-02-22,659,90659,ASP INTEGRA OPC,40002,BANAMEX,17F2225001BE500A,"2022-02-22,17F2225001BE500A,40002,90659,659802..."
1,RWG32XG7L,PAID,2022-02-22T00:00,117.82,f162b1c9-8cac-4ffe-b01d-3bd898d5b9f9,01054eec-e90e-42a8-9471-3fb1711cbbc1,659802020000300038,"Opciones Empresariales del Noreste, S.A. de C....",Miguel Hernandez Ramirez,2022-02-22T15:46:38,...,09:00,RWG32XG7L_09:00,2022-02-22,659,90659,ASP INTEGRA OPC,40002,BANAMEX,17F22250038D059C,"2022-02-22,17F22250038D059C,40002,90659,659802..."
2,MNCW9KNDX,PAID,2022-02-22T00:00,474.33,f162b1c9-8cac-4ffe-b01d-3bd898d5b9f9,013fc256-a2c1-466a-a916-3b55aec4e7e9,659802020000047786,"Opciones Empresariales del Noreste, S.A. de C....",Otoniel Flores Torres,2022-02-22T15:46:38,...,09:00,MNCW9KNDX_09:00,2022-02-22,659,90659,ASP INTEGRA OPC,40002,BANAMEX,17F2225004F77D98,"2022-02-22,17F2225004F77D98,40002,90659,659802..."
3,NPRTVY92L,PAID,2022-02-22T00:00,958.24,f162b1c9-8cac-4ffe-b01d-3bd898d5b9f9,01675b63-28cd-49b0-bf6d-ecdc88b36e21,659802020000375542,"Opciones Empresariales del Noreste, S.A. de C....",Lisbeth Vazques Jimenez,2022-02-22T15:46:38,...,09:00,NPRTVY92L_09:00,2022-02-22,659,90659,ASP INTEGRA OPC,40002,BANAMEX,17F2224FF908180A,"2022-02-22,17F2224FF908180A,40002,90659,659802..."
4,ZSYXDMYTY,PAID,2022-02-22T00:00,113.07,f162b1c9-8cac-4ffe-b01d-3bd898d5b9f9,01737347-0bfd-4308-9ad5-adff4885b455,659802020000154462,"Opciones Empresariales del Noreste, S.A. de C....",Juan Nestor Ruiz Boone,2022-02-22T15:46:38,...,09:00,ZSYXDMYTY_09:00,2022-02-22,659,90659,ASP INTEGRA OPC,40002,BANAMEX,17F22250103375C1,"2022-02-22,17F22250103375C1,40002,90659,659802..."

In [42]:
rs_concat_3.shape

(4932, 25)

In [43]:
duplicates = rs_concat_3[rs_concat_3.duplicated(['INDEX'] , keep=False)]
duplicates.head()

Empty DataFrame
Columns: [report_id, status, report_date_local, amount, disbursement_batch_id, merchant_id, CLABE, bank_name, bank_account_owner_name, execution_date, aplication_date, disbursement_tracking_key, error_description, reference_number, file_name, Time_rs, INDEX, Date_respuesta, BIN, Clave de la institucin, Nombre de la institucin, Banco emisor, Banco_emisor, clave_rastreo, LINEA CEP]
Index: []

[0 rows x 25 columns]

In [44]:
duplicates.shape

(0, 25)

In [45]:
rs_concat_3.drop_duplicates(subset ="INDEX", keep = 'last', inplace = True)
rs_concat_3.head()

,report_id,status,report_date_local,amount,disbursement_batch_id,merchant_id,CLABE,bank_name,bank_account_owner_name,execution_date,...,Time_rs,INDEX,Date_respuesta,BIN,Clave de la institucin,Nombre de la institucin,Banco emisor,Banco_emisor,clave_rastreo,LINEA CEP
0,M6DJ2JPYC,PAID,2022-02-22T00:00,177.27,f162b1c9-8cac-4ffe-b01d-3bd898d5b9f9,00d0dc90-b79a-4c33-9100-66ba255c3a46,659802020000276573,"Opciones Empresariales del Noreste, S.A. de C....",Felix Ilich Ortiz Rangel,2022-02-22T15:46:38,...,09:00,M6DJ2JPYC_09:00,2022-02-22,659,90659,ASP INTEGRA OPC,40002,BANAMEX,17F2225001BE500A,"2022-02-22,17F2225001BE500A,40002,90659,659802..."
1,RWG32XG7L,PAID,2022-02-22T00:00,117.82,f162b1c9-8cac-4ffe-b01d-3bd898d5b9f9,01054eec-e90e-42a8-9471-3fb1711cbbc1,659802020000300038,"Opciones Empresariales del Noreste, S.A. de C....",Miguel Hernandez Ramirez,2022-02-22T15:46:38,...,09:00,RWG32XG7L_09:00,2022-02-22,659,90659,ASP INTEGRA OPC,40002,BANAMEX,17F22250038D059C,"2022-02-22,17F22250038D059C,40002,90659,659802..."
2,MNCW9KNDX,PAID,2022-02-22T00:00,474.33,f162b1c9-8cac-4ffe-b01d-3bd898d5b9f9,013fc256-a2c1-466a-a916-3b55aec4e7e9,659802020000047786,"Opciones Empresariales del Noreste, S.A. de C....",Otoniel Flores Torres,2022-02-22T15:46:38,...,09:00,MNCW9KNDX_09:00,2022-02-22,659,90659,ASP INTEGRA OPC,40002,BANAMEX,17F2225004F77D98,"2022-02-22,17F2225004F77D98,40002,90659,659802..."
3,NPRTVY92L,PAID,2022-02-22T00:00,958.24,f162b1c9-8cac-4ffe-b01d-3bd898d5b9f9,01675b63-28cd-49b0-bf6d-ecdc88b36e21,659802020000375542,"Opciones Empresariales del Noreste, S.A. de C....",Lisbeth Vazques Jimenez,2022-02-22T15:46:38,...,09:00,NPRTVY92L_09:00,2022-02-22,659,90659,ASP INTEGRA OPC,40002,BANAMEX,17F2224FF908180A,"2022-02-22,17F2224FF908180A,40002,90659,659802..."
4,ZSYXDMYTY,PAID,2022-02-22T00:00,113.07,f162b1c9-8cac-4ffe-b01d-3bd898d5b9f9,01737347-0bfd-4308-9ad5-adff4885b455,659802020000154462,"Opciones Empresariales del Noreste, S.A. de C....",Juan Nestor Ruiz Boone,2022-02-22T15:46:38,...,09:00,ZSYXDMYTY_09:00,2022-02-22,659,90659,ASP INTEGRA OPC,40002,BANAMEX,17F22250103375C1,"2022-02-22,17F22250103375C1,40002,90659,659802..."

In [46]:
rs_concat_3.shape

(4932, 25)

# ARCHIVO DISPERSION

In [47]:
disp1.head()

,merchant_id,merchant_name,user_email,report_id,report_date_local,amount,status,bank_name,payment_date_local,bank_account_owner_name,bank_account_number,swap,Time,INDEX
batch_created_date,,,,,,,,,,,,,,
2022-02-22 09:46:38,00d0dc90-b79a-4c33-9100-66ba255c3a46,PITBOSSES VEGAN BBQ,thephytophagous@gmail.com,M6DJ2JPYC,2022-02-22 00:00:00,177.27,PAID,"Opciones Empresariales del Noreste, S.A. de C....",2022-02-22 10:00:58,Felix Ilich Ortiz Rangel,'659802020000276573,"Felix Ilich Ortiz Rangel,,177.27,6598020200002...",09:00,M6DJ2JPYC_09:00
2022-02-22 09:46:38,01054eec-e90e-42a8-9471-3fb1711cbbc1,Abarrotes La Perla De Magon,laperlademagon2021@hotmail.com,RWG32XG7L,2022-02-22 00:00:00,117.82,PAID,"Opciones Empresariales del Noreste, S.A. de C....",2022-02-22 10:00:54,Miguel Hernandez Ramirez,'659802020000300038,"Miguel Hernandez Ramirez,,117.82,6598020200003...",09:00,RWG32XG7L_09:00
2022-02-22 09:46:38,013fc256-a2c1-466a-a916-3b55aec4e7e9,Tacos Don Carmelo,tacosdoncarmelo@gmail.com,MNCW9KNDX,2022-02-22 00:00:00,474.33,PAID,"Opciones Empresariales del Noreste, S.A. de C....",2022-02-22 10:00:40,Otoniel Flores Torres,'659802020000047786,"Otoniel Flores Torres,,474.33,6598020200000477...",09:00,MNCW9KNDX_09:00
2022-02-22 09:46:38,01675b63-28cd-49b0-bf6d-ecdc88b36e21,Jr Taxi Company,juniorvc55@icloud.com,NPRTVY92L,2022-02-22 00:00:00,958.24,PAID,"Opciones Empresariales del Noreste, S.A. de C....",2022-02-22 10:00:41,Lisbeth Vazques Jimenez,'659802020000375542,"Lisbeth Vazques Jimenez,,958.24,65980202000037...",09:00,NPRTVY92L_09:00
2022-02-22 09:46:38,01737347-0bfd-4308-9ad5-adff4885b455,Abarrotes Las Orqudeas,abarrotes.orquideas@gmail.com,ZSYXDMYTY,2022-02-22 00:00:00,113.07,PAID,"Opciones Empresariales del Noreste, S.A. de C....",2022-02-22 10:01:18,Juan Nestor Ruiz Boone,'659802020000154462,"Juan Nestor Ruiz Boone,,113.07,659802020000154...",09:00,ZSYXDMYTY_09:00

In [48]:
disp1['report_date_local'] = pd.to_datetime(disp1['report_date_local'])

In [49]:
split = disp1["swap"].str.split(",",n=7,expand=True)
split.head()

,0,1,2,3,4
batch_created_date,,,,,
2022-02-22 09:46:38,Felix Ilich Ortiz Rangel,,177.27,659802020000276573,CLIP-M6DJ2JPYC
2022-02-22 09:46:38,Miguel Hernandez Ramirez,,117.82,659802020000300038,CLIP-RWG32XG7L
2022-02-22 09:46:38,Otoniel Flores Torres,,474.33,659802020000047786,CLIP-MNCW9KNDX
2022-02-22 09:46:38,Lisbeth Vazques Jimenez,,958.24,659802020000375542,CLIP-NPRTVY92L
2022-02-22 09:46:38,Juan Nestor Ruiz Boone,,113.07,659802020000154462,CLIP-ZSYXDMYTY

In [50]:
disp1["swap"] = split[0] 
disp1["CLABE"] = split[3]

In [51]:
disp1.head()

,merchant_id,merchant_name,user_email,report_id,report_date_local,amount,status,bank_name,payment_date_local,bank_account_owner_name,bank_account_number,swap,Time,INDEX,CLABE
batch_created_date,,,,,,,,,,,,,,,
2022-02-22 09:46:38,00d0dc90-b79a-4c33-9100-66ba255c3a46,PITBOSSES VEGAN BBQ,thephytophagous@gmail.com,M6DJ2JPYC,2022-02-22,177.27,PAID,"Opciones Empresariales del Noreste, S.A. de C....",2022-02-22 10:00:58,Felix Ilich Ortiz Rangel,'659802020000276573,Felix Ilich Ortiz Rangel,09:00,M6DJ2JPYC_09:00,659802020000276573
2022-02-22 09:46:38,01054eec-e90e-42a8-9471-3fb1711cbbc1,Abarrotes La Perla De Magon,laperlademagon2021@hotmail.com,RWG32XG7L,2022-02-22,117.82,PAID,"Opciones Empresariales del Noreste, S.A. de C....",2022-02-22 10:00:54,Miguel Hernandez Ramirez,'659802020000300038,Miguel Hernandez Ramirez,09:00,RWG32XG7L_09:00,659802020000300038
2022-02-22 09:46:38,013fc256-a2c1-466a-a916-3b55aec4e7e9,Tacos Don Carmelo,tacosdoncarmelo@gmail.com,MNCW9KNDX,2022-02-22,474.33,PAID,"Opciones Empresariales del Noreste, S.A. de C....",2022-02-22 10:00:40,Otoniel Flores Torres,'659802020000047786,Otoniel Flores Torres,09:00,MNCW9KNDX_09:00,659802020000047786
2022-02-22 09:46:38,01675b63-28cd-49b0-bf6d-ecdc88b36e21,Jr Taxi Company,juniorvc55@icloud.com,NPRTVY92L,2022-02-22,958.24,PAID,"Opciones Empresariales del Noreste, S.A. de C....",2022-02-22 10:00:41,Lisbeth Vazques Jimenez,'659802020000375542,Lisbeth Vazques Jimenez,09:00,NPRTVY92L_09:00,659802020000375542
2022-02-22 09:46:38,01737347-0bfd-4308-9ad5-adff4885b455,Abarrotes Las Orqudeas,abarrotes.orquideas@gmail.com,ZSYXDMYTY,2022-02-22,113.07,PAID,"Opciones Empresariales del Noreste, S.A. de C....",2022-02-22 10:01:18,Juan Nestor Ruiz Boone,'659802020000154462,Juan Nestor Ruiz Boone,09:00,ZSYXDMYTY_09:00,659802020000154462

In [52]:
disp1.loc[disp1['report_date_local'] == date_respuesta, 'tipo'] = 'Pago del da'
disp1.loc[disp1['report_date_local'] != date_respuesta, 'tipo'] = 'Reprogramacin'
disp1.drop(['bank_name','CLABE','status'],axis=1,inplace=True)
disp1.head()

,merchant_id,merchant_name,user_email,report_id,report_date_local,amount,payment_date_local,bank_account_owner_name,bank_account_number,swap,Time,INDEX,tipo
batch_created_date,,,,,,,,,,,,,
2022-02-22 09:46:38,00d0dc90-b79a-4c33-9100-66ba255c3a46,PITBOSSES VEGAN BBQ,thephytophagous@gmail.com,M6DJ2JPYC,2022-02-22,177.27,2022-02-22 10:00:58,Felix Ilich Ortiz Rangel,'659802020000276573,Felix Ilich Ortiz Rangel,09:00,M6DJ2JPYC_09:00,Pago del da
2022-02-22 09:46:38,01054eec-e90e-42a8-9471-3fb1711cbbc1,Abarrotes La Perla De Magon,laperlademagon2021@hotmail.com,RWG32XG7L,2022-02-22,117.82,2022-02-22 10:00:54,Miguel Hernandez Ramirez,'659802020000300038,Miguel Hernandez Ramirez,09:00,RWG32XG7L_09:00,Pago del da
2022-02-22 09:46:38,013fc256-a2c1-466a-a916-3b55aec4e7e9,Tacos Don Carmelo,tacosdoncarmelo@gmail.com,MNCW9KNDX,2022-02-22,474.33,2022-02-22 10:00:40,Otoniel Flores Torres,'659802020000047786,Otoniel Flores Torres,09:00,MNCW9KNDX_09:00,Pago del da
2022-02-22 09:46:38,01675b63-28cd-49b0-bf6d-ecdc88b36e21,Jr Taxi Company,juniorvc55@icloud.com,NPRTVY92L,2022-02-22,958.24,2022-02-22 10:00:41,Lisbeth Vazques Jimenez,'659802020000375542,Lisbeth Vazques Jimenez,09:00,NPRTVY92L_09:00,Pago del da
2022-02-22 09:46:38,01737347-0bfd-4308-9ad5-adff4885b455,Abarrotes Las Orqudeas,abarrotes.orquideas@gmail.com,ZSYXDMYTY,2022-02-22,113.07,2022-02-22 10:01:18,Juan Nestor Ruiz Boone,'659802020000154462,Juan Nestor Ruiz Boone,09:00,ZSYXDMYTY_09:00,Pago del da

In [53]:
disp_2 = disp1.merge(rs_concat_3[['report_id','status','Nombre de la institucin','CLABE','LINEA CEP','Time_rs','Banco_emisor']]
                     ,on='report_id', how='left')
disp_2.sort_values(by=['status'])
disp_2["Time"].fillna('NO TIME',inplace=True)
disp_2.loc[disp_2['Time'] == 'NO TIME', 'status'] = 'ERROR'
disp_2.loc[(disp_2['LINEA CEP'].str.contains('nan')) & (['Nombre de la institucin'] == 'BANAMEX'), 'status'] = 'ERROR'
# disp_2.loc[pd.notnull(disp_2['error_description']), 'status'] = 'ERROR'
disp_2.head()

,merchant_id,merchant_name,user_email,report_id,report_date_local,amount,payment_date_local,bank_account_owner_name,bank_account_number,swap,Time,INDEX,tipo,status,Nombre de la institucin,CLABE,LINEA CEP,Time_rs,Banco_emisor
0,00d0dc90-b79a-4c33-9100-66ba255c3a46,PITBOSSES VEGAN BBQ,thephytophagous@gmail.com,M6DJ2JPYC,2022-02-22,177.27,2022-02-22 10:00:58,Felix Ilich Ortiz Rangel,'659802020000276573,Felix Ilich Ortiz Rangel,09:00,M6DJ2JPYC_09:00,Pago del da,PAID,ASP INTEGRA OPC,659802020000276573,"2022-02-22,17F2225001BE500A,40002,90659,659802...",09:00,BANAMEX
1,01054eec-e90e-42a8-9471-3fb1711cbbc1,Abarrotes La Perla De Magon,laperlademagon2021@hotmail.com,RWG32XG7L,2022-02-22,117.82,2022-02-22 10:00:54,Miguel Hernandez Ramirez,'659802020000300038,Miguel Hernandez Ramirez,09:00,RWG32XG7L_09:00,Pago del da,PAID,ASP INTEGRA OPC,659802020000300038,"2022-02-22,17F22250038D059C,40002,90659,659802...",09:00,BANAMEX
2,013fc256-a2c1-466a-a916-3b55aec4e7e9,Tacos Don Carmelo,tacosdoncarmelo@gmail.com,MNCW9KNDX,2022-02-22,474.33,2022-02-22 10:00:40,Otoniel Flores Torres,'659802020000047786,Otoniel Flores Torres,09:00,MNCW9KNDX_09:00,Pago del da,PAID,ASP INTEGRA OPC,659802020000047786,"2022-02-22,17F2225004F77D98,40002,90659,659802...",09:00,BANAMEX
3,01675b63-28cd-49b0-bf6d-ecdc88b36e21,Jr Taxi Company,juniorvc55@icloud.com,NPRTVY92L,2022-02-22,958.24,2022-02-22 10:00:41,Lisbeth Vazques Jimenez,'659802020000375542,Lisbeth Vazques Jimenez,09:00,NPRTVY92L_09:00,Pago del da,PAID,ASP INTEGRA OPC,659802020000375542,"2022-02-22,17F2224FF908180A,40002,90659,659802...",09:00,BANAMEX
4,01737347-0bfd-4308-9ad5-adff4885b455,Abarrotes Las Orqudeas,abarrotes.orquideas@gmail.com,ZSYXDMYTY,2022-02-22,113.07,2022-02-22 10:01:18,Juan Nestor Ruiz Boone,'659802020000154462,Juan Nestor Ruiz Boone,09:00,ZSYXDMYTY_09:00,Pago del da,PAID,ASP INTEGRA OPC,659802020000154462,"2022-02-22,17F22250103375C1,40002,90659,659802...",09:00,BANAMEX

In [54]:
disp_2.loc[disp_2['Nombre de la institucin'] == 'BANAMEX', 'LINEA CEP'] = 'COMPROBANTE MISMO BANCO BANAMEX'
disp_2.loc[disp_2['status'] == 'ERROR', 'LINEA CEP'] = ''

In [55]:
for col in disp_2.columns: 
    print(col)

merchant_id
merchant_name
user_email
report_id
report_date_local
amount
payment_date_local
bank_account_owner_name
bank_account_number
swap
Time
INDEX
tipo
status
Nombre de la institucin
CLABE
LINEA CEP
Time_rs
Banco_emisor

In [56]:
disp_final = disp_2[['merchant_id','merchant_name','user_email','report_id','report_date_local','amount','tipo'
                    ,'Nombre de la institucin','swap','CLABE','status','LINEA CEP','Time','Banco_emisor']]
disp_final.rename(columns ={'Nombre de la institucin':'bank','amount':'total_due','LINEA CEP':'CEP'}, inplace=True)
disp_final.sort_values(by=['status','Time'], ascending=True, inplace=True)
disp_final.drop_duplicates(subset =['report_id','Time'], keep ='first', inplace=True)
disp_final.head()

C:\Users\CRISTI~1.APA\AppData\Local\Temp/ipykernel_3764/1391529971.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  disp_final.rename(columns ={'Nombre de la institucin':'bank','amount':'total_due','LINEA CEP':'CEP'}, inplace=True)
C:\Users\CRISTI~1.APA\AppData\Local\Temp/ipykernel_3764/1391529971.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  disp_final.sort_values(by=['status','Time'], ascending=True, inplace=True)
C:\Users\CRISTI~1.APA\AppData\Local\Temp/ipykernel_3764/1391529971.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  disp_final.drop_duplicates(subset =['report_id','Time'], keep ='first', inplace=True)

,merchant_id,merchant_name,user_email,report_id,report_date_local,total_due,tipo,bank,swap,CLABE,status,CEP,Time,Banco_emisor
0,00d0dc90-b79a-4c33-9100-66ba255c3a46,PITBOSSES VEGAN BBQ,thephytophagous@gmail.com,M6DJ2JPYC,2022-02-22,177.27,Pago del da,ASP INTEGRA OPC,Felix Ilich Ortiz Rangel,659802020000276573,PAID,"2022-02-22,17F2225001BE500A,40002,90659,659802...",09:00,BANAMEX
1,01054eec-e90e-42a8-9471-3fb1711cbbc1,Abarrotes La Perla De Magon,laperlademagon2021@hotmail.com,RWG32XG7L,2022-02-22,117.82,Pago del da,ASP INTEGRA OPC,Miguel Hernandez Ramirez,659802020000300038,PAID,"2022-02-22,17F22250038D059C,40002,90659,659802...",09:00,BANAMEX
2,013fc256-a2c1-466a-a916-3b55aec4e7e9,Tacos Don Carmelo,tacosdoncarmelo@gmail.com,MNCW9KNDX,2022-02-22,474.33,Pago del da,ASP INTEGRA OPC,Otoniel Flores Torres,659802020000047786,PAID,"2022-02-22,17F2225004F77D98,40002,90659,659802...",09:00,BANAMEX
3,01675b63-28cd-49b0-bf6d-ecdc88b36e21,Jr Taxi Company,juniorvc55@icloud.com,NPRTVY92L,2022-02-22,958.24,Pago del da,ASP INTEGRA OPC,Lisbeth Vazques Jimenez,659802020000375542,PAID,"2022-02-22,17F2224FF908180A,40002,90659,659802...",09:00,BANAMEX
4,01737347-0bfd-4308-9ad5-adff4885b455,Abarrotes Las Orqudeas,abarrotes.orquideas@gmail.com,ZSYXDMYTY,2022-02-22,113.07,Pago del da,ASP INTEGRA OPC,Juan Nestor Ruiz Boone,659802020000154462,PAID,"2022-02-22,17F22250103375C1,40002,90659,659802...",09:00,BANAMEX

In [57]:
disp_final.shape

(4932, 14)

# ERROR

In [58]:
error = disp_final[(disp_final['status'] != 'PAID')]
error.head()

Empty DataFrame
Columns: [merchant_id, merchant_name, user_email, report_id, report_date_local, total_due, tipo, bank, swap, CLABE, status, CEP, Time, Banco_emisor]
Index: []

In [59]:
error.shape

(0, 14)

In [60]:
error.drop(['swap','CLABE','status','CEP','Banco_emisor'],axis=1,inplace=True)

C:\Users\CRISTI~1.APA\AppData\Local\Temp/ipykernel_3764/3363876278.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  error.drop(['swap','CLABE','status','CEP','Banco_emisor'],axis=1,inplace=True)

In [61]:
error_final = error
error_final.head()

Empty DataFrame
Columns: [merchant_id, merchant_name, user_email, report_id, report_date_local, total_due, tipo, bank, Time]
Index: []

In [ ]:
error.loc[error['bank'] == 'BANAMEX', 'Check'] = 'SPEI DEVUELTO MISMO BANCO'
error.loc[error['bank'] != 'BANAMEX', 'Check'] = 'SPEI DEVUELTO'

In [ ]:
error.shape

In [ ]:
error_final = error.merge(rs_concat_2[['report_id','error_description']],on='report_id',how='left')
error_final.head()

In [ ]:
error_final.shape

# ARCHIVOS FINALES

### ARCHIVO DISPERSION

In [62]:
writer = pd.ExcelWriter(r'C:\Users\Cristian.Aparicio\Documents\FAST PAYMENTS\2022\02. FEBRERO\ARCHIVO DISPERSIONES FP\CITI\Dispersin-FP-CITI 2022-02-22.xlsx',
                        engine='xlsxwriter', engine_kwargs={'options': {'encoding':'utf-8'}})
disp_final.to_excel(writer, sheet_name='FAST PAYMENTS',index=False)
error_final.to_excel(writer, sheet_name='ERROR',index=False)
writer.close()

### ARCHIVO DISPERSIN - TODO POR CITI

In [63]:
writer = pd.ExcelWriter(r'C:\Users\Cristian.Aparicio\Documents\FAST PAYMENTS\2022\02. FEBRERO\ARCHIVO DISPERSIONES FP\Dispersin-FP 2022-02-22.xlsx',
                        engine='xlsxwriter', engine_kwargs={'options': {'encoding':'utf-8'}})
disp_final.to_excel(writer, sheet_name='FAST PAYMENTS',index=False)
error_final.to_excel(writer, sheet_name='ERROR',index=False)
writer.close()

### ARCHIVO RESPUESTA

In [64]:
rs_concat.to_csv(r'C:\Users\Cristian.Aparicio\Documents\FAST PAYMENTS\2022\02. FEBRERO\ARCHIVO RESPUESTAS FINALES\Respuesta-FP-CITI 2022-02-21.csv',index=False)

In [ ]:
# book = load_workbook('Dispersin-FP 2020-07-20.xlsx')
# writer = pd.ExcelWriter('Dispersin-FP 2020-07-20.xlsx', engine='openpyxl', options={'encoding':'utf-8'})
# writer.book = book
# match_final.to_excel(writer, sheet_name='FP-2 2020-07-20', index=False)
# writer.save()
# writer.close()