In [1]:
import numpy as np
import pandas as pd
import zipfile
from zipfile import ZipFile
import glob
import os
from openpyxl import load_workbook
pd.options.display.float_format = '{:,.2f}'.format

In [2]:
start_date = '2022-04-01'

# SFTP

## HEADERS

In [3]:
name_file=['column_type','affiliation_sftp','merchant_reference','card','settled_amount','commisions','transaction_date',
           'gross_amount','currency','transaction_type','tax','installments_tax','iva_cashback_paid','iva_cashback_charged',
          'cashback_fees_paid','cashback_fees_charged','installments_fees','cashback_amount','number_of_payments',
           'initial_deferment','plan_type','auth_code','unknown.1','eci','interbank_reference','empty.1','unknown.2','empty.2',
          'payworks_reference','card_type','transaction_source','prosa_reference','acquirer_commision','acquirer_tax',
          'unknown.3','unknown.4','unknown.5']
dtypes_file={'interbank_reference':object,'affiliation_sftp':object,'card':object,'number_of_payments':object,
             'initial_deferment':object,'plan_type':object,'auth_code':object,'payworks_reference':object}

In [4]:
use_cols = ['affiliation_sftp','transaction_type','transaction_date','gross_amount','auth_code','interbank_reference',
            'payworks_reference','card','commisions','tax','installments_fees','installments_tax','acquirer_commision',
            'acquirer_tax']

### ABRIL

In [5]:
sftp_apr_1_22 = glob.glob(r'G:\My Drive\2.-CONCILIACIONES Y POLIZA\SFTP BANORTE\2022 SFTP Banorte\04. ABRIL\**\PAYCLIP_Settlement*.csv', recursive=False)
sftp_apr_1_22

['G:\\My Drive\\2.-CONCILIACIONES Y POLIZA\\SFTP BANORTE\\2022 SFTP Banorte\\04. ABRIL\\01042022\\PAYCLIP_Settlement_01042022_V1.csv',
 'G:\\My Drive\\2.-CONCILIACIONES Y POLIZA\\SFTP BANORTE\\2022 SFTP Banorte\\04. ABRIL\\02042022\\PAYCLIP_Settlement_02042022_V1.csv',
 'G:\\My Drive\\2.-CONCILIACIONES Y POLIZA\\SFTP BANORTE\\2022 SFTP Banorte\\04. ABRIL\\05042022\\PAYCLIP_Settlement_05042022_V1.csv',
 'G:\\My Drive\\2.-CONCILIACIONES Y POLIZA\\SFTP BANORTE\\2022 SFTP Banorte\\04. ABRIL\\06042022\\PAYCLIP_Settlement_06042022_V1.csv',
 'G:\\My Drive\\2.-CONCILIACIONES Y POLIZA\\SFTP BANORTE\\2022 SFTP Banorte\\04. ABRIL\\07042022\\PAYCLIP_Settlement_07042022_V1.csv',
 'G:\\My Drive\\2.-CONCILIACIONES Y POLIZA\\SFTP BANORTE\\2022 SFTP Banorte\\04. ABRIL\\08042022\\PAYCLIP_Settlement_08042022_V1.csv',
 'G:\\My Drive\\2.-CONCILIACIONES Y POLIZA\\SFTP BANORTE\\2022 SFTP Banorte\\04. ABRIL\\09042022\\PAYCLIP_Settlement_09042022_V1.csv',
 'G:\\My Drive\\2.-CONCILIACIONES Y POLIZA\\SFTP BANORTE\\2022 SFTP Banorte\\04. ABRIL\\13042022\\PAYCLIP_Settlement_13042022_V1.csv',
 'G:\\My Drive\\2.-CONCILIACIONES Y POLIZA\\SFTP BANORTE\\2022 SFTP Banorte\\04. ABRIL\\12042022\\PAYCLIP_Settlement_12042022_V1.csv',
 'G:\\My Drive\\2.-CONCILIACIONES Y POLIZA\\SFTP BANORTE\\2022 SFTP Banorte\\04. ABRIL\\14042022\\PAYCLIP_Settlement_14042022_V1.csv',
 'G:\\My Drive\\2.-CONCILIACIONES Y POLIZA\\SFTP BANORTE\\2022 SFTP Banorte\\04. ABRIL\\19042022\\PAYCLIP_Settlement_19042022_V1.csv',
 'G:\\My Drive\\2.-CONCILIACIONES Y POLIZA\\SFTP BANORTE\\2022 SFTP Banorte\\04. ABRIL\\20042022\\PAYCLIP_Settlement_20042022_V1.csv',
 'G:\\My Drive\\2.-CONCILIACIONES Y POLIZA\\SFTP BANORTE\\2022 SFTP Banorte\\04. ABRIL\\21042022\\PAYCLIP_Settlement_21042022_V1.csv',
 'G:\\My Drive\\2.-CONCILIACIONES Y POLIZA\\SFTP BANORTE\\2022 SFTP Banorte\\04. ABRIL\\22042022\\PAYCLIP_Settlement_22042022_V1.csv']

In [6]:
sftp_apr_22 = pd.concat([pd.read_csv(f,names=name_file,dtype=dtypes_file,usecols=use_cols)
                         .assign(file_name=os.path.basename(f)) for f in sftp_apr_1_22])
sftp_apr_22.rename(columns ={'interbank_reference':'order_id','auth_code':'codigo_autorizacion',
                             'payworks_reference':'order_id_xpay'}, inplace=True)
sftp_apr_22['date_file'] = sftp_apr_22["file_name"].str[-15:-7]
sftp_apr_22['date_file']= pd.to_datetime(sftp_apr_22['date_file'], format='%d%m%Y').dt.date
sftp_apr_22['date_file']= pd.to_datetime(sftp_apr_22['date_file'])
sftp_apr_22.sort_values(by=['date_file'],ascending=True,inplace=True)
sftp_apr_22['month'] = sftp_apr_22['date_file'].dt.strftime('%B')
sftp_apr_22.head()

,affiliation_sftp,card,commisions,transaction_date,gross_amount,transaction_type,tax,installments_tax,installments_fees,codigo_autorizacion,order_id,order_id_xpay,acquirer_commision,acquirer_tax,file_name,date_file,month
0,MXN,-269247836,"306,406.00","3,103,221.00","20,220,331.00",BANORTE,"20,220,331.00","3,103,221.00",NaN,NaN,NaN,NaN,NaN,NaN,PAYCLIP_Settlement_01042022_V1.csv,2022-04-01,April
204274,07927517,4213166057,-94.00,"20,220,330.00","7,200.00",SETTLED,-15.00,0.00,0.00,064001,937612239379,NaN,-94.00,-15.00,PAYCLIP_Settlement_01042022_V1.csv,2022-04-01,April
204273,07927517,4152313982,-133.00,"20,220,330.00","10,200.00",SETTLED,-21.00,0.00,0.00,501765,995435292868,NaN,-133.00,-21.00,PAYCLIP_Settlement_01042022_V1.csv,2022-04-01,April
204272,07927517,4152313546,-390.00,"20,220,330.00","30,000.00",SETTLED,-62.00,0.00,0.00,501521,620885192697,NaN,-390.00,-62.00,PAYCLIP_Settlement_01042022_V1.csv,2022-04-01,April
204271,07927517,5579099034,-81.00,"20,220,330.00","6,200.00",SETTLED,-13.00,0.00,0.00,070208,214939165761,NaN,-81.00,-13.00,PAYCLIP_Settlement_01042022_V1.csv,2022-04-01,April

In [7]:
sftp_apr_22.shape

(7076457, 17)

### MARZO

In [21]:
sftp_mar_1_22 = glob.glob(r'G:\My Drive\2.-CONCILIACIONES Y POLIZA\SFTP BANORTE\2022 SFTP Banorte\03. MARZO\**\PAYCLIP_Settlement*.csv', recursive=False)
sftp_mar_1_22

['G:\\My Drive\\2.-CONCILIACIONES Y POLIZA\\SFTP BANORTE\\2022 SFTP Banorte\\03. MARZO\\01032022\\PAYCLIP_Settlement_01032022_V1.csv',
 'G:\\My Drive\\2.-CONCILIACIONES Y POLIZA\\SFTP BANORTE\\2022 SFTP Banorte\\03. MARZO\\02032022\\PAYCLIP_Settlement_02032022_V1.csv',
 'G:\\My Drive\\2.-CONCILIACIONES Y POLIZA\\SFTP BANORTE\\2022 SFTP Banorte\\03. MARZO\\03032022\\PAYCLIP_Settlement_03032022_V1.csv',
 'G:\\My Drive\\2.-CONCILIACIONES Y POLIZA\\SFTP BANORTE\\2022 SFTP Banorte\\03. MARZO\\04032022\\PAYCLIP_Settlement_04032022_V1.csv',
 'G:\\My Drive\\2.-CONCILIACIONES Y POLIZA\\SFTP BANORTE\\2022 SFTP Banorte\\03. MARZO\\05032022\\PAYCLIP_Settlement_05032022_V1.csv',
 'G:\\My Drive\\2.-CONCILIACIONES Y POLIZA\\SFTP BANORTE\\2022 SFTP Banorte\\03. MARZO\\08032022\\PAYCLIP_Settlement_08032022_V1.csv',
 'G:\\My Drive\\2.-CONCILIACIONES Y POLIZA\\SFTP BANORTE\\2022 SFTP Banorte\\03. MARZO\\09032022\\PAYCLIP_Settlement_09032022_V1.csv',
 'G:\\My Drive\\2.-CONCILIACIONES Y POLIZA\\SFTP BANORTE\\2022 SFTP Banorte\\03. MARZO\\10032022\\PAYCLIP_Settlement_10032022_V1.csv',
 'G:\\My Drive\\2.-CONCILIACIONES Y POLIZA\\SFTP BANORTE\\2022 SFTP Banorte\\03. MARZO\\11032022\\PAYCLIP_Settlement_11032022_V1.csv',
 'G:\\My Drive\\2.-CONCILIACIONES Y POLIZA\\SFTP BANORTE\\2022 SFTP Banorte\\03. MARZO\\12032022\\PAYCLIP_Settlement_12032022_V1.csv',
 'G:\\My Drive\\2.-CONCILIACIONES Y POLIZA\\SFTP BANORTE\\2022 SFTP Banorte\\03. MARZO\\15032022\\PAYCLIP_Settlement_15032022_V1.csv',
 'G:\\My Drive\\2.-CONCILIACIONES Y POLIZA\\SFTP BANORTE\\2022 SFTP Banorte\\03. MARZO\\30032022\\PAYCLIP_Settlement_30032022_V1.csv',
 'G:\\My Drive\\2.-CONCILIACIONES Y POLIZA\\SFTP BANORTE\\2022 SFTP Banorte\\03. MARZO\\26032022\\PAYCLIP_Settlement_26032022_V1.csv',
 'G:\\My Drive\\2.-CONCILIACIONES Y POLIZA\\SFTP BANORTE\\2022 SFTP Banorte\\03. MARZO\\29032022\\PAYCLIP_Settlement_29032022_V1.csv',
 'G:\\My Drive\\2.-CONCILIACIONES Y POLIZA\\SFTP BANORTE\\2022 SFTP Banorte\\03. MARZO\\25032022\\PAYCLIP_Settlement_25032022_V1.csv',
 'G:\\My Drive\\2.-CONCILIACIONES Y POLIZA\\SFTP BANORTE\\2022 SFTP Banorte\\03. MARZO\\16032022\\PAYCLIP_Settlement_16032022_V1.csv',
 'G:\\My Drive\\2.-CONCILIACIONES Y POLIZA\\SFTP BANORTE\\2022 SFTP Banorte\\03. MARZO\\19032022\\PAYCLIP_Settlement_19032022_V1.csv',
 'G:\\My Drive\\2.-CONCILIACIONES Y POLIZA\\SFTP BANORTE\\2022 SFTP Banorte\\03. MARZO\\18032022\\PAYCLIP_Settlement_18032022_V1.csv',
 'G:\\My Drive\\2.-CONCILIACIONES Y POLIZA\\SFTP BANORTE\\2022 SFTP Banorte\\03. MARZO\\17032022\\PAYCLIP_Settlement_17032022_V1.csv',
 'G:\\My Drive\\2.-CONCILIACIONES Y POLIZA\\SFTP BANORTE\\2022 SFTP Banorte\\03. MARZO\\24032022\\PAYCLIP_Settlement_24032022_V1.csv',
 'G:\\My Drive\\2.-CONCILIACIONES Y POLIZA\\SFTP BANORTE\\2022 SFTP Banorte\\03. MARZO\\31032022\\PAYCLIP_Settlement_31032022_V1.csv',
 'G:\\My Drive\\2.-CONCILIACIONES Y POLIZA\\SFTP BANORTE\\2022 SFTP Banorte\\03. MARZO\\23032022\\PAYCLIP_Settlement_23032022_V1.csv']

In [22]:
sftp_mar_22 = pd.concat([pd.read_csv(f,names=name_file,dtype=dtypes_file,usecols=use_cols)
                         .assign(file_name=os.path.basename(f)) for f in sftp_mar_1_22])
sftp_mar_22.rename(columns ={'interbank_reference':'order_id','auth_code':'codigo_autorizacion',
                             'payworks_reference':'order_id_xpay'}, inplace=True)
sftp_mar_22['date_file'] = sftp_mar_22["file_name"].str[-15:-7]
sftp_mar_22['date_file']= pd.to_datetime(sftp_mar_22['date_file'], format='%d%m%Y').dt.date
sftp_mar_22['date_file']= pd.to_datetime(sftp_mar_22['date_file'])
sftp_mar_22.sort_values(by=['date_file'],ascending=True,inplace=True)
sftp_mar_22['month'] = sftp_mar_22['date_file'].dt.strftime('%B')
sftp_mar_22.head()

,affiliation_sftp,card,commisions,transaction_date,gross_amount,transaction_type,tax,installments_tax,installments_fees,codigo_autorizacion,order_id,order_id_xpay,acquirer_commision,acquirer_tax,file_name,date_file,month
0,MXN,-923237110,1072741,2802221,20220228,BANORTE,20220228,"2,802,221.00",NaN,NaN,NaN,NaN,NaN,NaN,PAYCLIP_Settlement_01032022_V1.csv,2022-03-01,March
715153,07927517,5546252887,-234,20220225,12650,SETTLED,-37,0.00,0.00,102387,016985988715,NaN,-234.00,-37.00,PAYCLIP_Settlement_01032022_V1.csv,2022-03-01,March
715154,07927517,4772140578,-2433,20220225,131500,SETTLED,-389,0.00,0.00,205438,007512147352,NaN,"-2,433.00",-389.00,PAYCLIP_Settlement_01032022_V1.csv,2022-03-01,March
715155,07927517,5267776366,-154,20220225,8300,SETTLED,-25,0.00,0.00,718111,291425921035,NaN,-154.00,-25.00,PAYCLIP_Settlement_01032022_V1.csv,2022-03-01,March
715156,07927517,4213167593,-397,20220225,30500,SETTLED,-64,0.00,0.00,043383,771260171093,NaN,-397.00,-64.00,PAYCLIP_Settlement_01032022_V1.csv,2022-03-01,March

In [23]:
sftp_mar_22.shape

(10389419, 17)

### FEBRERO 2022

In [ ]:
sftp_feb_1_22 = glob.glob(r'G:\My Drive\2.-CONCILIACIONES Y POLIZA\SFTP BANORTE\2022 SFTP Banorte\02. FEBRERO\**\PAYCLIP_Settlement*.csv', recursive=False)
sftp_feb_1_22

In [ ]:
sftp_feb_22 = pd.concat([pd.read_csv(f,names=name_file,dtype=dtypes_file,usecols=use_cols)
                         .assign(file_name=os.path.basename(f)) for f in sftp_feb_1_22])
sftp_feb_22.rename(columns ={'interbank_reference':'order_id','auth_code':'codigo_autorizacion',
                             'payworks_reference':'order_id_xpay'}, inplace=True)
sftp_feb_22['date_file'] = sftp_feb_22["file_name"].str[-15:-7]
sftp_feb_22['date_file']= pd.to_datetime(sftp_feb_22['date_file'], format='%d%m%Y').dt.date
sftp_feb_22['date_file']= pd.to_datetime(sftp_feb_22['date_file'])
sftp_feb_22.sort_values(by=['date_file'],ascending=True,inplace=True)
sftp_feb_22['month'] = sftp_feb_22['date_file'].dt.strftime('%B')
sftp_feb_22.head()

In [ ]:
sftp_feb_22.shape

### ENERO 2022

In [ ]:
sftp_jan_1_22 = glob.glob(r'G:\My Drive\2.-CONCILIACIONES Y POLIZA\SFTP BANORTE\2022 SFTP Banorte\01. ENERO\**\PAYCLIP_Settlement*.csv', recursive=False)
sftp_jan_1_22

In [ ]:
sftp_jan_22 = pd.concat([pd.read_csv(f,names=name_file,dtype=dtypes_file,usecols=use_cols)
                         .assign(file_name=os.path.basename(f)) for f in sftp_jan_1_22])
sftp_jan_22.rename(columns ={'interbank_reference':'order_id','auth_code':'codigo_autorizacion',
                             'payworks_reference':'order_id_xpay'}, inplace=True)
sftp_jan_22['date_file'] = sftp_jan_22["file_name"].str[-15:-7]
sftp_jan_22['date_file']= pd.to_datetime(sftp_jan_22['date_file'], format='%d%m%Y').dt.date
sftp_jan_22['date_file']= pd.to_datetime(sftp_jan_22['date_file'])
sftp_jan_22.sort_values(by=['date_file'],ascending=True,inplace=True)
sftp_jan_22['month'] = sftp_jan_22['date_file'].dt.strftime('%B')
sftp_jan_22.head()

In [ ]:
sftp_jan_22.shape

### DICIEMBRE 2021

In [ ]:
sftp_dec_1_21 = glob.glob(r'G:\My Drive\2.-CONCILIACIONES Y POLIZA\SFTP BANORTE\2021 SFTP Banorte\12. DICIEMBRE\**\PAYCLIP_Settlement*.csv', recursive=False)
sftp_dec_1_21

In [ ]:
sftp_dec_21 = pd.concat([pd.read_csv(f,names=name_file,dtype=dtypes_file,usecols=use_cols)
                         .assign(file_name=os.path.basename(f)) for f in sftp_dec_1_21])
sftp_dec_21.rename(columns ={'interbank_reference':'order_id','auth_code':'codigo_autorizacion',
                             'payworks_reference':'order_id_xpay'}, inplace=True)
sftp_dec_21['date_file'] = sftp_dec_21["file_name"].str[-15:-7]
sftp_dec_21['date_file']= pd.to_datetime(sftp_dec_21['date_file'], format='%d%m%Y').dt.date
sftp_dec_21['date_file']= pd.to_datetime(sftp_dec_21['date_file'])
sftp_dec_21.sort_values(by=['date_file'],ascending=True,inplace=True)
sftp_dec_21['month'] = sftp_dec_21['date_file'].dt.strftime('%B')
sftp_dec_21.head()

In [ ]:
sftp_dec_21.shape

### NOVIEMBRE 2021

In [ ]:
sftp_nov_1_21 = glob.glob(r'G:\My Drive\2.-CONCILIACIONES Y POLIZA\SFTP BANORTE\2021 SFTP Banorte\11. NOVIEMBRE\**\PAYCLIP_Settlement*.csv', recursive=False)
sftp_nov_1_21

In [ ]:
sftp_nov_21 = pd.concat([pd.read_csv(f,names=name_file,dtype=dtypes_file,usecols=use_cols)
                         .assign(file_name=os.path.basename(f)) for f in sftp_nov_1_21])
sftp_nov_21.rename(columns ={'interbank_reference':'order_id','auth_code':'codigo_autorizacion',
                             'payworks_reference':'order_id_xpay'}, inplace=True)
sftp_nov_21['date_file'] = sftp_nov_21["file_name"].str[-15:-7]
sftp_nov_21['date_file']= pd.to_datetime(sftp_nov_21['date_file'], format='%d%m%Y').dt.date
sftp_nov_21['date_file']= pd.to_datetime(sftp_nov_21['date_file'])
sftp_nov_21.sort_values(by=['date_file'],ascending=True,inplace=True)
sftp_nov_21['month'] = sftp_nov_21['date_file'].dt.strftime('%B')
sftp_nov_21.head()

In [ ]:
sftp_nov_21.shape

# ALL SFTP

In [24]:
sftp = pd.concat([sftp_mar_22])
sftp.head()

,affiliation_sftp,card,commisions,transaction_date,gross_amount,transaction_type,tax,installments_tax,installments_fees,codigo_autorizacion,order_id,order_id_xpay,acquirer_commision,acquirer_tax,file_name,date_file,month
0,MXN,-923237110,1072741,2802221,20220228,BANORTE,20220228,"2,802,221.00",NaN,NaN,NaN,NaN,NaN,NaN,PAYCLIP_Settlement_01032022_V1.csv,2022-03-01,March
715153,07927517,5546252887,-234,20220225,12650,SETTLED,-37,0.00,0.00,102387,016985988715,NaN,-234.00,-37.00,PAYCLIP_Settlement_01032022_V1.csv,2022-03-01,March
715154,07927517,4772140578,-2433,20220225,131500,SETTLED,-389,0.00,0.00,205438,007512147352,NaN,"-2,433.00",-389.00,PAYCLIP_Settlement_01032022_V1.csv,2022-03-01,March
715155,07927517,5267776366,-154,20220225,8300,SETTLED,-25,0.00,0.00,718111,291425921035,NaN,-154.00,-25.00,PAYCLIP_Settlement_01032022_V1.csv,2022-03-01,March
715156,07927517,4213167593,-397,20220225,30500,SETTLED,-64,0.00,0.00,043383,771260171093,NaN,-397.00,-64.00,PAYCLIP_Settlement_01032022_V1.csv,2022-03-01,March

In [25]:
sftp.shape

(10389419, 17)

In [26]:
sftp_fecha_deposito = sftp[(sftp['transaction_type'] == 'BANORTE')]
sftp_fecha_deposito = sftp_fecha_deposito[['date_file', 'gross_amount']]
sftp_fecha_deposito.rename(columns ={'gross_amount': 'deposit_date'},inplace=True)
sftp_fecha_deposito.head()

   date_file  deposit_date
0 2022-03-01      20220228
0 2022-03-02      20220301
0 2022-03-03      20220302
0 2022-03-04      20220303
0 2022-03-05      20220304

In [27]:
sftp = sftp[(sftp['transaction_type'] != 'BANORTE')]
sftp = sftp.merge(sftp_fecha_deposito[['date_file', 'deposit_date']],on='date_file',how='left')

In [28]:
sftp.head()

,affiliation_sftp,card,commisions,transaction_date,gross_amount,transaction_type,tax,installments_tax,installments_fees,codigo_autorizacion,order_id,order_id_xpay,acquirer_commision,acquirer_tax,file_name,date_file,month,deposit_date
0,07927517,5546252887,-234,20220225,12650,SETTLED,-37,0.00,0.00,102387,016985988715,NaN,-234.00,-37.00,PAYCLIP_Settlement_01032022_V1.csv,2022-03-01,March,20220228
1,07927517,4772140578,-2433,20220225,131500,SETTLED,-389,0.00,0.00,205438,007512147352,NaN,"-2,433.00",-389.00,PAYCLIP_Settlement_01032022_V1.csv,2022-03-01,March,20220228
2,07927517,5267776366,-154,20220225,8300,SETTLED,-25,0.00,0.00,718111,291425921035,NaN,-154.00,-25.00,PAYCLIP_Settlement_01032022_V1.csv,2022-03-01,March,20220228
3,07927517,4213167593,-397,20220225,30500,SETTLED,-64,0.00,0.00,043383,771260171093,NaN,-397.00,-64.00,PAYCLIP_Settlement_01032022_V1.csv,2022-03-01,March,20220228
4,07927517,5256780194,-417,20220225,32100,SETTLED,-67,0.00,0.00,031492,764699883577,NaN,-417.00,-67.00,PAYCLIP_Settlement_01032022_V1.csv,2022-03-01,March,20220228

In [29]:
sftp['transaction_date'] = pd.to_datetime(sftp['transaction_date'], format='%Y%m%d').dt.date
sftp['deposit_date'] = pd.to_datetime(sftp['deposit_date'], format='%Y%m%d').dt.date

In [30]:
sftp['transaction_date'] = pd.to_datetime(sftp['transaction_date'])
sftp['deposit_date'] = pd.to_datetime(sftp['deposit_date'])

In [31]:
sftp['gross_amount'] = sftp['gross_amount']/100
sftp['commisions'] = sftp['commisions']/100
sftp['tax'] = sftp['tax']/100
sftp['installments_fees'] = sftp['installments_fees']/100
sftp['installments_tax'] = sftp['installments_tax']/100
sftp['acquirer_commision'] = sftp['acquirer_commision']/100
sftp['acquirer_tax'] = sftp['acquirer_tax']/100
sftp.loc[sftp['transaction_type'] != 'SETTLED', 'gross_amount'] = sftp['gross_amount']*-1
sftp['LAST2_SFTP'] = sftp['card'].str[-2:].astype(str)
sftp['BIN_SFTP'] = sftp['card'].str[:8].astype(str)
sftp['INDEX_TOTAL'] = (sftp['BIN_SFTP'].astype(str).replace(' ', '',regex=True)+'_'
                       +sftp['LAST2_SFTP'].astype(str).replace(' ', '',regex=True)+'_'
                       +sftp['order_id'].astype(str).replace(' ', '',regex=True)+'_'
                       +sftp['codigo_autorizacion'].astype(str).replace(' ', '',regex=True)+'_'
                       +sftp['gross_amount'].astype(str).replace(' ', '',regex=True))
sftp['INDEX_TOTAL_XPAY'] = (sftp['BIN_SFTP'].astype(str).replace(' ', '',regex=True)+'_'
                       +sftp['LAST2_SFTP'].astype(str).replace(' ', '',regex=True)+'_'
                       +sftp['order_id_xpay'].astype(str).replace(' ', '',regex=True)+'_'
                        +sftp['codigo_autorizacion'].astype(str).replace(' ', '',regex=True)+'_'
                       +sftp['gross_amount'].astype(str).replace(' ', '',regex=True))
sftp['order_id'].fillna('NO EXISTE EN SFTP',inplace=True)
sftp.head()

,affiliation_sftp,card,commisions,transaction_date,gross_amount,transaction_type,tax,installments_tax,installments_fees,codigo_autorizacion,...,acquirer_commision,acquirer_tax,file_name,date_file,month,deposit_date,LAST2_SFTP,BIN_SFTP,INDEX_TOTAL,INDEX_TOTAL_XPAY
0,07927517,5546252887,-2.34,2022-02-25,126.50,SETTLED,-0.37,0.00,0.00,102387,...,-2.34,-0.37,PAYCLIP_Settlement_01032022_V1.csv,2022-03-01,March,2022-02-28,87,55462528,55462528_87_016985988715_102387_126.5,55462528_87_nan_102387_126.5
1,07927517,4772140578,-24.33,2022-02-25,"1,315.00",SETTLED,-3.89,0.00,0.00,205438,...,-24.33,-3.89,PAYCLIP_Settlement_01032022_V1.csv,2022-03-01,March,2022-02-28,78,47721405,47721405_78_007512147352_205438_1315.0,47721405_78_nan_205438_1315.0
2,07927517,5267776366,-1.54,2022-02-25,83.00,SETTLED,-0.25,0.00,0.00,718111,...,-1.54,-0.25,PAYCLIP_Settlement_01032022_V1.csv,2022-03-01,March,2022-02-28,66,52677763,52677763_66_291425921035_718111_83.0,52677763_66_nan_718111_83.0
3,07927517,4213167593,-3.97,2022-02-25,305.00,SETTLED,-0.64,0.00,0.00,043383,...,-3.97,-0.64,PAYCLIP_Settlement_01032022_V1.csv,2022-03-01,March,2022-02-28,93,42131675,42131675_93_771260171093_043383_305.0,42131675_93_nan_043383_305.0
4,07927517,5256780194,-4.17,2022-02-25,321.00,SETTLED,-0.67,0.00,0.00,031492,...,-4.17,-0.67,PAYCLIP_Settlement_01032022_V1.csv,2022-03-01,March,2022-02-28,94,52567801,52567801_94_764699883577_031492_321.0,52567801_94_nan_031492_321.0

In [32]:
sftp.shape

(10389397, 22)

## IDENTIFICACIÓN PAGOS SETTLED Y REFUNDED

### SETTLED

In [33]:
sftp_settled = sftp[(sftp['transaction_type'] == 'SETTLED')]
sftp_settled.head()

,affiliation_sftp,card,commisions,transaction_date,gross_amount,transaction_type,tax,installments_tax,installments_fees,codigo_autorizacion,...,acquirer_commision,acquirer_tax,file_name,date_file,month,deposit_date,LAST2_SFTP,BIN_SFTP,INDEX_TOTAL,INDEX_TOTAL_XPAY
0,07927517,5546252887,-2.34,2022-02-25,126.50,SETTLED,-0.37,0.00,0.00,102387,...,-2.34,-0.37,PAYCLIP_Settlement_01032022_V1.csv,2022-03-01,March,2022-02-28,87,55462528,55462528_87_016985988715_102387_126.5,55462528_87_nan_102387_126.5
1,07927517,4772140578,-24.33,2022-02-25,"1,315.00",SETTLED,-3.89,0.00,0.00,205438,...,-24.33,-3.89,PAYCLIP_Settlement_01032022_V1.csv,2022-03-01,March,2022-02-28,78,47721405,47721405_78_007512147352_205438_1315.0,47721405_78_nan_205438_1315.0
2,07927517,5267776366,-1.54,2022-02-25,83.00,SETTLED,-0.25,0.00,0.00,718111,...,-1.54,-0.25,PAYCLIP_Settlement_01032022_V1.csv,2022-03-01,March,2022-02-28,66,52677763,52677763_66_291425921035_718111_83.0,52677763_66_nan_718111_83.0
3,07927517,4213167593,-3.97,2022-02-25,305.00,SETTLED,-0.64,0.00,0.00,043383,...,-3.97,-0.64,PAYCLIP_Settlement_01032022_V1.csv,2022-03-01,March,2022-02-28,93,42131675,42131675_93_771260171093_043383_305.0,42131675_93_nan_043383_305.0
4,07927517,5256780194,-4.17,2022-02-25,321.00,SETTLED,-0.67,0.00,0.00,031492,...,-4.17,-0.67,PAYCLIP_Settlement_01032022_V1.csv,2022-03-01,March,2022-02-28,94,52567801,52567801_94_764699883577_031492_321.0,52567801_94_nan_031492_321.0

In [34]:
sftp_settled.shape

(10382932, 22)

In [35]:
duplicates_settled = sftp_settled[sftp_settled.duplicated(['INDEX_TOTAL'] , keep=False)]
duplicates_settled.head()

Empty DataFrame
Columns: [affiliation_sftp, card, commisions, transaction_date, gross_amount, transaction_type, tax, installments_tax, installments_fees, codigo_autorizacion, order_id, order_id_xpay, acquirer_commision, acquirer_tax, file_name, date_file, month, deposit_date, LAST2_SFTP, BIN_SFTP, INDEX_TOTAL, INDEX_TOTAL_XPAY]
Index: []

[0 rows x 22 columns]

In [36]:
duplicates_settled.shape

(0, 22)

### REFUNDED

In [17]:
sftp_refunded = sftp[(sftp['transaction_type'] == 'REFUNDED')]
sftp_refunded.head()

,affiliation_sftp,card,commisions,transaction_date,gross_amount,transaction_type,tax,installments_tax,installments_fees,codigo_autorizacion,...,acquirer_commision,acquirer_tax,file_name,date_file,month,deposit_date,LAST2_SFTP,BIN_SFTP,INDEX_TOTAL,INDEX_TOTAL_XPAY
6035,07927517,4915664428,1.43,2022-03-30,110.00,REFUNDED,0.23,0.00,0.00,002263,...,1.43,0.23,PAYCLIP_Settlement_01042022_V1.csv,2022-04-01,April,2022-03-31,28,49156644,49156644_28_773695614705_002263_110.0,49156644_28_nan_002263_110.0
11921,07927517,4152313579,3.17,2022-03-30,244.00,REFUNDED,0.51,0.00,0.00,547649,...,3.17,0.51,PAYCLIP_Settlement_01042022_V1.csv,2022-04-01,April,2022-03-31,79,41523135,41523135_79_124061496763_547649_244.0,41523135_79_nan_547649_244.0
13249,07927517,4152313384,0.82,2022-03-30,63.00,REFUNDED,0.13,0.00,0.00,276452,...,0.82,0.13,PAYCLIP_Settlement_01042022_V1.csv,2022-04-01,April,2022-03-31,84,41523133,41523133_84_431650581827_276452_63.0,41523133_84_nan_276452_63.0
15707,07927517,6363180121,20.58,2022-03-30,"1,583.00",REFUNDED,3.29,0.00,0.00,787849,...,20.58,3.29,PAYCLIP_Settlement_01042022_V1.csv,2022-04-01,April,2022-03-31,21,63631801,63631801_21_647415815485_787849_1583.0,63631801_21_nan_787849_1583.0
16085,07927517,4152313754,0.46,2022-03-30,35.00,REFUNDED,0.07,0.00,0.00,152568,...,0.46,0.07,PAYCLIP_Settlement_01042022_V1.csv,2022-04-01,April,2022-03-31,54,41523137,41523137_54_877442222039_152568_35.0,41523137_54_nan_152568_35.0

In [18]:
sftp_refunded.shape

(3627, 22)

In [19]:
duplicates_refunded = sftp_refunded[sftp_refunded.duplicated(['INDEX_TOTAL'] , keep=False)]
duplicates_refunded.head()

Empty DataFrame
Columns: [affiliation_sftp, card, commisions, transaction_date, gross_amount, transaction_type, tax, installments_tax, installments_fees, codigo_autorizacion, order_id, order_id_xpay, acquirer_commision, acquirer_tax, file_name, date_file, month, deposit_date, LAST2_SFTP, BIN_SFTP, INDEX_TOTAL, INDEX_TOTAL_XPAY]
Index: []

[0 rows x 22 columns]

In [20]:
duplicates_refunded.shape

(0, 22)

# CRUCE 1

In [37]:
cruce_1 = sftp_refunded.merge(sftp_settled[['INDEX_TOTAL','affiliation_sftp','transaction_type','transaction_date',
                                            'deposit_date','gross_amount','file_name','date_file']],on='INDEX_TOTAL',how='left')
cruce_1['transaction_type_y'].fillna('not_found',inplace=True)
cruce_1.head()

,affiliation_sftp_x,card,commisions,transaction_date_x,gross_amount_x,transaction_type_x,tax,installments_tax,installments_fees,codigo_autorizacion,...,BIN_SFTP,INDEX_TOTAL,INDEX_TOTAL_XPAY,affiliation_sftp_y,transaction_type_y,transaction_date_y,deposit_date_y,gross_amount_y,file_name_y,date_file_y
0,07927517,4915664428,1.43,2022-03-30,110.00,REFUNDED,0.23,0.00,0.00,002263,...,49156644,49156644_28_773695614705_002263_110.0,49156644_28_nan_002263_110.0,NaN,not_found,NaT,NaT,NaN,NaN,NaT
1,07927517,4152313579,3.17,2022-03-30,244.00,REFUNDED,0.51,0.00,0.00,547649,...,41523135,41523135_79_124061496763_547649_244.0,41523135_79_nan_547649_244.0,NaN,not_found,NaT,NaT,NaN,NaN,NaT
2,07927517,4152313384,0.82,2022-03-30,63.00,REFUNDED,0.13,0.00,0.00,276452,...,41523133,41523133_84_431650581827_276452_63.0,41523133_84_nan_276452_63.0,NaN,not_found,NaT,NaT,NaN,NaN,NaT
3,07927517,6363180121,20.58,2022-03-30,"1,583.00",REFUNDED,3.29,0.00,0.00,787849,...,63631801,63631801_21_647415815485_787849_1583.0,63631801_21_nan_787849_1583.0,NaN,not_found,NaT,NaT,NaN,NaN,NaT
4,07927517,4152313754,0.46,2022-03-30,35.00,REFUNDED,0.07,0.00,0.00,152568,...,41523137,41523137_54_877442222039_152568_35.0,41523137_54_nan_152568_35.0,NaN,not_found,NaT,NaT,NaN,NaN,NaT

In [38]:
cruce_1.shape

(3627, 29)

In [39]:
cruce_1_delimited = cruce_1[(cruce_1['date_file_x'] >= start_date)]
cruce_1_delimited.head()

,affiliation_sftp_x,card,commisions,transaction_date_x,gross_amount_x,transaction_type_x,tax,installments_tax,installments_fees,codigo_autorizacion,...,BIN_SFTP,INDEX_TOTAL,INDEX_TOTAL_XPAY,affiliation_sftp_y,transaction_type_y,transaction_date_y,deposit_date_y,gross_amount_y,file_name_y,date_file_y
0,07927517,4915664428,1.43,2022-03-30,110.00,REFUNDED,0.23,0.00,0.00,002263,...,49156644,49156644_28_773695614705_002263_110.0,49156644_28_nan_002263_110.0,NaN,not_found,NaT,NaT,NaN,NaN,NaT
1,07927517,4152313579,3.17,2022-03-30,244.00,REFUNDED,0.51,0.00,0.00,547649,...,41523135,41523135_79_124061496763_547649_244.0,41523135_79_nan_547649_244.0,NaN,not_found,NaT,NaT,NaN,NaN,NaT
2,07927517,4152313384,0.82,2022-03-30,63.00,REFUNDED,0.13,0.00,0.00,276452,...,41523133,41523133_84_431650581827_276452_63.0,41523133_84_nan_276452_63.0,NaN,not_found,NaT,NaT,NaN,NaN,NaT
3,07927517,6363180121,20.58,2022-03-30,"1,583.00",REFUNDED,3.29,0.00,0.00,787849,...,63631801,63631801_21_647415815485_787849_1583.0,63631801_21_nan_787849_1583.0,NaN,not_found,NaT,NaT,NaN,NaN,NaT
4,07927517,4152313754,0.46,2022-03-30,35.00,REFUNDED,0.07,0.00,0.00,152568,...,41523137,41523137_54_877442222039_152568_35.0,41523137_54_nan_152568_35.0,NaN,not_found,NaT,NaT,NaN,NaN,NaT

In [40]:
cruce_1_delimited.shape

(3627, 29)

### ENCONTRADOS

In [41]:
cruce_1_found = cruce_1_delimited[(cruce_1_delimited['transaction_type_y'] != 'not_found')]
cruce_1_found.head()

,affiliation_sftp_x,card,commisions,transaction_date_x,gross_amount_x,transaction_type_x,tax,installments_tax,installments_fees,codigo_autorizacion,...,BIN_SFTP,INDEX_TOTAL,INDEX_TOTAL_XPAY,affiliation_sftp_y,transaction_type_y,transaction_date_y,deposit_date_y,gross_amount_y,file_name_y,date_file_y
31,07927517,4152313365,1.30,2022-03-29,100.00,REFUNDED,0.21,0.00,0.00,207478,...,41523133,41523133_65_399853265559_207478_100.0,41523133_65_nan_207478_100.0,07927517,SETTLED,2022-03-29,2022-03-30,100.00,PAYCLIP_Settlement_31032022_V1.csv,2022-03-31
32,07927517,5122303203,32.06,2022-03-28,"1,595.00",REFUNDED,5.13,0.00,0.00,20514Z,...,51223032,51223032_03_875972813134_20514Z_1595.0,51223032_03_nan_20514Z_1595.0,07927517,SETTLED,2022-03-28,2022-03-29,"1,595.00",PAYCLIP_Settlement_30032022_V1.csv,2022-03-30
33,07927517,4941330105,1.11,2022-03-28,60.00,REFUNDED,0.18,0.00,0.00,033760,...,49413301,49413301_05_811034733366_033760_60.0,49413301_05_nan_033760_60.0,07927517,SETTLED,2022-03-28,2022-03-29,60.00,PAYCLIP_Settlement_30032022_V1.csv,2022-03-30
88,07927500,6363180132,0.39,2022-03-28,30.00,REFUNDED,0.06,0.00,0.00,316796,...,63631801,63631801_32_470813573517_316796_30.0,63631801_32_nan_316796_30.0,07927500,SETTLED,2022-03-28,2022-03-29,30.00,PAYCLIP_Settlement_30032022_V1.csv,2022-03-30
89,07927500,5064295083,0.78,2022-03-28,60.00,REFUNDED,0.12,0.00,0.00,544807,...,50642950,50642950_83_370403649127_544807_60.0,50642950_83_nan_544807_60.0,07927500,SETTLED,2022-03-28,2022-03-29,60.00,PAYCLIP_Settlement_30032022_V1.csv,2022-03-30

In [42]:
cruce_1_found.shape

(65, 29)

In [43]:
cruce_1_notfound = cruce_1_delimited[(cruce_1_delimited['transaction_type_y'] == 'not_found')]
cruce_1_notfound.head()

,affiliation_sftp_x,card,commisions,transaction_date_x,gross_amount_x,transaction_type_x,tax,installments_tax,installments_fees,codigo_autorizacion,...,BIN_SFTP,INDEX_TOTAL,INDEX_TOTAL_XPAY,affiliation_sftp_y,transaction_type_y,transaction_date_y,deposit_date_y,gross_amount_y,file_name_y,date_file_y
0,07927517,4915664428,1.43,2022-03-30,110.00,REFUNDED,0.23,0.00,0.00,002263,...,49156644,49156644_28_773695614705_002263_110.0,49156644_28_nan_002263_110.0,NaN,not_found,NaT,NaT,NaN,NaN,NaT
1,07927517,4152313579,3.17,2022-03-30,244.00,REFUNDED,0.51,0.00,0.00,547649,...,41523135,41523135_79_124061496763_547649_244.0,41523135_79_nan_547649_244.0,NaN,not_found,NaT,NaT,NaN,NaN,NaT
2,07927517,4152313384,0.82,2022-03-30,63.00,REFUNDED,0.13,0.00,0.00,276452,...,41523133,41523133_84_431650581827_276452_63.0,41523133_84_nan_276452_63.0,NaN,not_found,NaT,NaT,NaN,NaN,NaT
3,07927517,6363180121,20.58,2022-03-30,"1,583.00",REFUNDED,3.29,0.00,0.00,787849,...,63631801,63631801_21_647415815485_787849_1583.0,63631801_21_nan_787849_1583.0,NaN,not_found,NaT,NaT,NaN,NaN,NaT
4,07927517,4152313754,0.46,2022-03-30,35.00,REFUNDED,0.07,0.00,0.00,152568,...,41523137,41523137_54_877442222039_152568_35.0,41523137_54_nan_152568_35.0,NaN,not_found,NaT,NaT,NaN,NaN,NaT

In [44]:
cruce_1_notfound.shape

(3562, 29)

In [45]:
writer = pd.ExcelWriter('REFUNDED_ABRIL_2022_2.xlsx',
                        engine='xlsxwriter',
                        engine_kwargs={'options': {'encoding':'utf-8'}})
sftp_refunded.to_excel(writer, sheet_name='DATA_REFUNDED', index=False)
cruce_1_found.to_excel(writer, sheet_name='FOUND', index=False)
cruce_1_notfound.to_excel(writer, sheet_name='NOT_FOUND', index=False)
writer.close()