In [1]:
import pandas as pd
import numpy as np
import openpyxl
from openpyxl import load_workbook
import xlsxwriter
import glob
import os
from datetime import datetime
pd.options.display.float_format = '{:,.2f}'.format

# READING FILES

In [2]:
date_respuesta = '2024-01-31'
date_respuesta = pd.to_datetime(date_respuesta)

## RESPUESTAS FP

In [3]:
names_resp = ['report_id','status','report_date_local','amount','disbursement_batch_id','merchant_id','bank_account_number',
             'bank_name','bank_account_owner_name','execution_date','aplication_date','disbursement_tracking_key',
             'error_description','reference_number','cep']

In [4]:
rs = glob.glob(r'C:\Users\Cristian.Aparicio\Documents\FAST PAYMENTS\2024\01. ENERO\Respuesta-*.xlsx', recursive=False)
rs

['C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2024\\01. ENERO\\Respuesta-CITI-FP-5 2024-01-31.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2024\\01. ENERO\\Respuesta-CITI-FP-6 2024-01-31.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2024\\01. ENERO\\Respuesta-SANT-FP-2 2024-01-31.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2024\\01. ENERO\\Respuesta-SANT-FP-4 2024-01-31.xlsx']

In [5]:
rs_concat = pd.concat([pd.read_excel(f,sheet_name='Report',names=names_resp,
                                     converters={'bank_account_number':str,'disbursement_tracking_key':str,'report_id':str})
                       .assign(file_name=os.path.basename(f)) for f in rs])
rs_concat.loc[rs_concat['file_name'].str.contains('FP-1'), 'Batch_time'] = '01. First_batch'
rs_concat.loc[rs_concat['file_name'].str.contains('FP-2'), 'Batch_time'] = '02. Second_batch'
rs_concat.loc[rs_concat['file_name'].str.contains('FP-3'), 'Batch_time'] = '03. Third_batch'
rs_concat.loc[rs_concat['file_name'].str.contains('FP-4'), 'Batch_time'] = '04. Fourth_batch'
rs_concat.loc[rs_concat['file_name'].str.contains('FP-5'), 'Batch_time'] = '05. Fifth_batch'
rs_concat.loc[rs_concat['file_name'].str.contains('FP-6'), 'Batch_time'] = '06. Sixth_batch'
rs_concat.loc[rs_concat['file_name'].str.contains('FP-7'), 'Batch_time'] = '07. Seventh_batch'
rs_concat.loc[rs_concat['file_name'].str.contains('CITI'), "Banco_emisor"] = 'BANAMEX'
rs_concat.loc[rs_concat['file_name'].str.contains('BNTE'), "Banco_emisor"] = 'BANORTE'
rs_concat.loc[rs_concat['file_name'].str.contains('SANT'), "Banco_emisor"] = 'SANTANDER'
rs_concat.loc[rs_concat['Banco_emisor'] == 'BANAMEX', "Banco emisor"] = '40002'
rs_concat.loc[rs_concat['Banco_emisor'] == 'BANORTE', "Banco emisor"] = '40072'
rs_concat.loc[rs_concat['Banco_emisor'] == 'SANTANDER', "Banco emisor"] = '40014'
rs_concat['INDEX'] = (rs_concat['report_id'].astype(str).replace(' ', '',regex=True)+'_'
                       +rs_concat['Batch_time'].astype(str).replace(' ', '',regex=True))
rs_concat.head()

C:\Users\Cristian.Aparicio\anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
C:\Users\Cristian.Aparicio\anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
C:\Users\Cristian.Aparicio\anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
C:\Users\Cristian.Aparicio\anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

,report_id,status,report_date_local,amount,disbursement_batch_id,merchant_id,bank_account_number,bank_name,bank_account_owner_name,execution_date,aplication_date,disbursement_tracking_key,error_description,reference_number,cep,file_name,Batch_time,Banco_emisor,Banco emisor,INDEX
0,A55QHSWW2,PAID,2024-02-01T00:10:55,7.18,9bcb998e-1c68-4283-ac83-6d9c92503ea5,0079b7bd-0713-4cf9-9b37-992cbbba9c1e,137028104796418508,"BanCoppel, S.A.",Zaida sarai aguirre hernandez,2024-02-01T00:25:27,2024-01-31T18:25:28,18D6214626346DF3,NaN,100001,"2024-02-01,18D6214626346DF3,40002,40137,137028...",Respuesta-CITI-FP-5 2024-01-31.xlsx,05. Fifth_batch,BANAMEX,40002,A55QHSWW2_05.Fifth_batch
1,AFZ8BCWQH,PAID,2024-02-01T00:11:29,479.12,9bcb998e-1c68-4283-ac83-6d9c92503ea5,0088f97f-8701-4084-837b-c5cf2c0688f7,659802020000566076,"Opciones Empresariales del Noreste, S.A. de C....",Rosa Sierra Garcia,2024-02-01T00:25:27,2024-01-31T18:25:28,18D6214626413BED,NaN,100002,"2024-02-01,18D6214626413BED,40002,90659,659802...",Respuesta-CITI-FP-5 2024-01-31.xlsx,05. Fifth_batch,BANAMEX,40002,AFZ8BCWQH_05.Fifth_batch
2,AYDYM4JS3,ERROR,2024-01-31T12:06:19,622.86,9bcb998e-1c68-4283-ac83-6d9c92503ea5,012c539f-c3e7-47e0-8f0a-17d8c3c5ad85,058597000021452105,Banco Regional de Monterrey,Enrique Villafuerte,2024-02-01T00:25:27,2024-01-31T18:25:28,18D621462699D4C8,/21/CB Return Exceeds the limit of credits all...,100003,"2024-02-01,18D621462699D4C8,40002,40058,058597...",Respuesta-CITI-FP-5 2024-01-31.xlsx,05. Fifth_batch,BANAMEX,40002,AYDYM4JS3_05.Fifth_batch
3,AWJ7N76NH,PAID,2024-02-01T00:11:27,405.95,9bcb998e-1c68-4283-ac83-6d9c92503ea5,015ad6c6-8b77-47c6-9841-f4f7ba8354eb,659802020000173650,"Opciones Empresariales del Noreste, S.A. de C....",Maricela Crisostomo Jimenez,2024-02-01T00:25:27,2024-01-31T18:25:28,18D6214626E1AE13,NaN,100004,"2024-02-01,18D6214626E1AE13,40002,90659,659802...",Respuesta-CITI-FP-5 2024-01-31.xlsx,05. Fifth_batch,BANAMEX,40002,AWJ7N76NH_05.Fifth_batch
4,ACR5TZN85,PAID,2024-02-01T00:11,367.97,9bcb998e-1c68-4283-ac83-6d9c92503ea5,019d425c-787f-4b39-99bd-e6641505ee39,659802020000267294,"Opciones Empresariales del Noreste, S.A. de C....",Jose Guadalupe Herrera Acosta,2024-02-01T00:25:27,2024-01-31T18:25:28,18D6214627B180F8,NaN,100005,"2024-02-01,18D6214627B180F8,40002,90659,659802...",Respuesta-CITI-FP-5 2024-01-31.xlsx,05. Fifth_batch,BANAMEX,40002,ACR5TZN85_05.Fifth_batch

In [6]:
rs_concat.shape

(2689, 20)

In [7]:
rs_concat.columns

Index(['report_id', 'status', 'report_date_local', 'amount',
       'disbursement_batch_id', 'merchant_id', 'bank_account_number',
       'bank_name', 'bank_account_owner_name', 'execution_date',
       'aplication_date', 'disbursement_tracking_key', 'error_description',
       'reference_number', 'cep', 'file_name', 'Batch_time', 'Banco_emisor',
       'Banco emisor', 'INDEX'],
      dtype='object')

In [8]:
duplicates = rs_concat[rs_concat.duplicated(['report_id'] , keep=False)]
duplicates.head()

,report_id,status,report_date_local,amount,disbursement_batch_id,merchant_id,bank_account_number,bank_name,bank_account_owner_name,execution_date,aplication_date,disbursement_tracking_key,error_description,reference_number,cep,file_name,Batch_time,Banco_emisor,Banco emisor,INDEX
18,AKYWJVFK9,ERROR,2024-01-31T17:40:10,215.60,9bcb998e-1c68-4283-ac83-6d9c92503ea5,08a08b69-9ba4-4da4-bd3e-941b274ea808,659802020000117399,"Opciones Empresariales del Noreste, S.A. de C....",Ricardo Torres Hernandez,2024-02-01T00:25:27,2024-01-31T18:25:28,18D62146782A555B,/21/CB Return Exceeds the limit of credits all...,100019,"2024-02-01,18D62146782A555B,40002,90659,659802...",Respuesta-CITI-FP-5 2024-01-31.xlsx,05. Fifth_batch,BANAMEX,40002,AKYWJVFK9_05.Fifth_batch
19,A2GJ6MF2C,ERROR,2024-01-31T22:05:50,386.17,9bcb998e-1c68-4283-ac83-6d9c92503ea5,08a08b69-9ba4-4da4-bd3e-941b274ea808,659802020000117399,"Opciones Empresariales del Noreste, S.A. de C....",Ricardo Torres Hernandez,2024-02-01T00:25:27,2024-01-31T18:25:28,18D62146D8B8DD19,/21/CB Return Exceeds the limit of credits all...,100020,"2024-02-01,18D62146D8B8DD19,40002,90659,659802...",Respuesta-CITI-FP-5 2024-01-31.xlsx,05. Fifth_batch,BANAMEX,40002,A2GJ6MF2C_05.Fifth_batch
53,AT3ZSM5WY,ERROR,2024-01-31T22:06:07,143.74,9bcb998e-1c68-4283-ac83-6d9c92503ea5,0d232756-7664-422a-8953-48483ce26b90,659802020000021304,ASP INTEGRA OPC,Juan Cruz Martinez,2024-02-01T00:25:28,2024-01-31T18:25:28,18D62146B13396CD,/21/CB Return Exceeds the limit of credits all...,100054,"2024-02-01,18D62146B13396CD,40002,90659,659802...",Respuesta-CITI-FP-5 2024-01-31.xlsx,05. Fifth_batch,BANAMEX,40002,AT3ZSM5WY_05.Fifth_batch
70,A2632Q7CR,ERROR,2024-01-30T12:06:18,"1,058.85",9bcb998e-1c68-4283-ac83-6d9c92503ea5,16ddbeb1-fe42-4c50-acdc-7458bec4f47d,021180065049226475,HSBC México,Ricarfo Vega,2024-02-01T00:25:28,2024-01-31T18:25:28,18D62147511F4017,/21/CB Return Blocked account (BNMX_RET_2) /SB...,100071,"2024-02-01,18D62147511F4017,40002,40021,021180...",Respuesta-CITI-FP-5 2024-01-31.xlsx,05. Fifth_batch,BANAMEX,40002,A2632Q7CR_05.Fifth_batch
71,ATG4VTCVZ,ERROR,2024-01-31T12:06:17,"1,135.52",9bcb998e-1c68-4283-ac83-6d9c92503ea5,16ddbeb1-fe42-4c50-acdc-7458bec4f47d,021180065049226475,HSBC México,Ricarfo Vega,2024-02-01T00:25:28,2024-01-31T18:25:28,18D62147859CC4D8,/21/CB Return Blocked account (BNMX_RET_2) /SB...,100072,"2024-02-01,18D62147859CC4D8,40002,40021,021180...",Respuesta-CITI-FP-5 2024-01-31.xlsx,05. Fifth_batch,BANAMEX,40002,ATG4VTCVZ_05.Fifth_batch

In [9]:
duplicates.shape

(140, 20)

## QUERY PAYMENTS

In [10]:
query = pd.read_csv(r'G:\.shortcut-targets-by-id\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\3.-Settlement\5.-HISTORICO FILES PAGOS\02. FAST PAYMENTS\2024\01. ENERO\FP-ALL 2024-01-31.csv')
query.columns = query.columns.str.strip().str.lower() 
query.loc[query['type'].isnull(), 'type'] = 'LEDGER_FP'
query['batch_created_date'] = pd.to_datetime(query['batch_created_date']).dt.tz_localize(None)
query['payment_date_local'] = pd.to_datetime(query['payment_date_local']).dt.tz_localize(None)
query.set_index('batch_created_date',inplace=True)
query.head()

C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_4244\2654718769.py:3: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'LEDGER_FP' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  query.loc[query['type'].isnull(), 'type'] = 'LEDGER_FP'

,type,merchant_id,merchant_token,merchant_name,user_email,report_id,report_date_local,amount,status,bank_name,payment_date_local,bank_account_owner_name,bank_account_number,disbursement_method,swap
batch_created_date,,,,,,,,,,,,,,,
2024-01-31 11:55:23,LEDGER_FP,0079b7bd-0713-4cf9-9b37-992cbbba9c1e,NaN,NaN,NaN,AXS7XLPCR,2024-01-31,152.57,PAID,"BanCoppel, S.A.",2024-01-31 12:04:43,Zaida sarai aguirre hernandez,'137028104796418508,SANTANDER,"Zaida sarai aguirre hernandez,,152.57,13702810..."
2024-01-31 16:15:55,LEDGER_FP,0079b7bd-0713-4cf9-9b37-992cbbba9c1e,NaN,NaN,NaN,AF634B5K9,2024-01-31,2.00,PAID,"BanCoppel, S.A.",2024-01-31 16:31:44,Zaida sarai aguirre hernandez,'137028104796418508,SANTANDER,"Zaida sarai aguirre hernandez,,2,1370281047964..."
2024-01-31 18:25:27,LEDGER_FP,0079b7bd-0713-4cf9-9b37-992cbbba9c1e,NaN,NaN,NaN,A55QHSWW2,2024-01-31,7.18,PAID,"BanCoppel, S.A.",2024-01-31 18:32:29,Zaida sarai aguirre hernandez,'137028104796418508,CITI,"Zaida sarai aguirre hernandez,,7.18,1370281047..."
2024-01-31 20:45:54,LEDGER_FP,0079b7bd-0713-4cf9-9b37-992cbbba9c1e,NaN,NaN,NaN,ATXWSLYVZ,2024-01-31,107.80,PAID,"BanCoppel, S.A.",2024-01-31 20:52:06,Zaida sarai aguirre hernandez,'137028104796418508,CITI,"Zaida sarai aguirre hernandez,,107.8,137028104..."
2024-01-31 18:25:27,LEDGER_FP,0088f97f-8701-4084-837b-c5cf2c0688f7,NaN,NaN,NaN,AFZ8BCWQH,2024-01-31,479.12,PAID,"Opciones Empresariales del Noreste, S.A. de C....",2024-01-31 18:32:29,Rosa Sierra Garcia,'659802020000566076,CITI,"Rosa Sierra Garcia,,479.12,659802020000566076,..."

In [11]:
query.shape

(2689, 15)

In [12]:
hour1 = query.between_time('08:00','10:59')
hour1['Time'] = '01. First_batch'
hour2 = query.between_time('11:00','13:59')
hour2['Time'] = '02. Second_batch'
hour3 = query.between_time('14:00','15:59')
hour3['Time'] = '03. Third_batch'
hour4 = query.between_time('16:00','17:59')
hour4['Time'] = '04. Fourth_batch'
hour5 = query.between_time('18:00','19:59')
hour5['Time'] = '05. Fifth_batch'
hour6 = query.between_time('20:00','23:59')
hour6['Time'] = '06. Sixth_batch'

C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_4244\4078691392.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hour2['Time'] = '02. Second_batch'
C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_4244\4078691392.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hour4['Time'] = '04. Fourth_batch'
C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_4244\4078691392.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hour5['Time'] = '05. Fifth_batch'
C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_4244\4078691392.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hour6['Time'] = '06. Sixth_batch'

In [13]:
disp1 = pd.concat([hour1,hour2,hour3,hour4,hour5,hour6])
disp1['INDEX'] = (disp1['report_id'].astype(str).replace(' ', '',regex=True)+'_'
                       +disp1['Time'].astype(str).replace(' ', '',regex=True))
disp1.head()

,type,merchant_id,merchant_token,merchant_name,user_email,report_id,report_date_local,amount,status,bank_name,payment_date_local,bank_account_owner_name,bank_account_number,disbursement_method,swap,Time,INDEX
batch_created_date,,,,,,,,,,,,,,,,,
2024-01-31 11:55:23,LEDGER_FP,0079b7bd-0713-4cf9-9b37-992cbbba9c1e,NaN,NaN,NaN,AXS7XLPCR,2024-01-31,152.57,PAID,"BanCoppel, S.A.",2024-01-31 12:04:43,Zaida sarai aguirre hernandez,'137028104796418508,SANTANDER,"Zaida sarai aguirre hernandez,,152.57,13702810...",02. Second_batch,AXS7XLPCR_02.Second_batch
2024-01-31 11:55:23,LEDGER_FP,015ad6c6-8b77-47c6-9841-f4f7ba8354eb,NaN,NaN,NaN,AQ72RYQH9,2024-01-31,14.99,PAID,"Opciones Empresariales del Noreste, S.A. de C....",2024-01-31 12:04:43,Maricela Crisostomo Jimenez,'659802020000173650,SANTANDER,"Maricela Crisostomo Jimenez,,14.99,65980202000...",02. Second_batch,AQ72RYQH9_02.Second_batch
2024-01-31 11:55:23,LEDGER_FP,019d425c-787f-4b39-99bd-e6641505ee39,NaN,NaN,NaN,A9WWNJK7T,2024-01-31,858.59,PAID,"Opciones Empresariales del Noreste, S.A. de C....",2024-01-31 12:04:43,Jose Guadalupe Herrera Acosta,'659802020000267294,SANTANDER,"Jose Guadalupe Herrera Acosta,,858.59,65980202...",02. Second_batch,A9WWNJK7T_02.Second_batch
2024-01-31 11:55:23,LEDGER_FP,037913d1-041e-4084-910b-8062f0eed2dd,NaN,NaN,NaN,A897J8S47,2024-01-31,"6,278.48",PAID,"Opciones Empresariales del Noreste, S.A. de C....",2024-01-31 12:04:43,Arie Meir Hammer null,'659802020000512622,SANTANDER,"Arie Meir Hammer null,,6278.48,659802020000512...",02. Second_batch,A897J8S47_02.Second_batch
2024-01-31 11:55:23,LEDGER_FP,03cbdd55-5b5d-45b8-91f7-b503aa3d62f1,NaN,NaN,NaN,ALD9DW8W3,2024-01-31,208.41,PAID,"Opciones Empresariales del Noreste, S.A. de C....",2024-01-31 12:04:43,Ana Rosa Gonzalez Medellin,'659802020000378455,SANTANDER,"Ana Rosa Gonzalez Medellin,,208.41,65980202000...",02. Second_batch,ALD9DW8W3_02.Second_batch

In [14]:
disp1.shape

(2689, 17)

In [15]:
disp1['type'].unique()

array(['LEDGER_FP'], dtype=object)

## BIN

In [16]:
bin1 = pd.read_csv(r'C:\Users\Cristian.Aparicio\Documents\DISPERSIONES\Catalogo_Bancos.csv'
                  ,dtype={'BIN':str,'Clave de la institución':str,'Nombre de la institución':str})

In [17]:
bin1.head()

   BIN Clave de la institución Nombre de la institución
0  138                   40138              ABC CAPITAL
1  102                   40102            ACCENDO BANCO
2  133                   40133                 ACTINVER
3  062                   40062                   AFIRME
4  638                   90638                    AKALA

In [18]:
bin1.shape

(94, 3)

# ARCHIVO RESPUESTA

In [19]:
rs_concat['Date_respuesta'] = date_respuesta
rs_concat.rename(columns ={'bank_account_number':'CLABE'}, inplace=True)
rs_concat['BIN'] = rs_concat['CLABE'].str[:3].replace(' ', '',regex=True)
rs_concat.head()

,report_id,status,report_date_local,amount,disbursement_batch_id,merchant_id,CLABE,bank_name,bank_account_owner_name,execution_date,...,error_description,reference_number,cep,file_name,Batch_time,Banco_emisor,Banco emisor,INDEX,Date_respuesta,BIN
0,A55QHSWW2,PAID,2024-02-01T00:10:55,7.18,9bcb998e-1c68-4283-ac83-6d9c92503ea5,0079b7bd-0713-4cf9-9b37-992cbbba9c1e,137028104796418508,"BanCoppel, S.A.",Zaida sarai aguirre hernandez,2024-02-01T00:25:27,...,NaN,100001,"2024-02-01,18D6214626346DF3,40002,40137,137028...",Respuesta-CITI-FP-5 2024-01-31.xlsx,05. Fifth_batch,BANAMEX,40002,A55QHSWW2_05.Fifth_batch,2024-01-31,137
1,AFZ8BCWQH,PAID,2024-02-01T00:11:29,479.12,9bcb998e-1c68-4283-ac83-6d9c92503ea5,0088f97f-8701-4084-837b-c5cf2c0688f7,659802020000566076,"Opciones Empresariales del Noreste, S.A. de C....",Rosa Sierra Garcia,2024-02-01T00:25:27,...,NaN,100002,"2024-02-01,18D6214626413BED,40002,90659,659802...",Respuesta-CITI-FP-5 2024-01-31.xlsx,05. Fifth_batch,BANAMEX,40002,AFZ8BCWQH_05.Fifth_batch,2024-01-31,659
2,AYDYM4JS3,ERROR,2024-01-31T12:06:19,622.86,9bcb998e-1c68-4283-ac83-6d9c92503ea5,012c539f-c3e7-47e0-8f0a-17d8c3c5ad85,058597000021452105,Banco Regional de Monterrey,Enrique Villafuerte,2024-02-01T00:25:27,...,/21/CB Return Exceeds the limit of credits all...,100003,"2024-02-01,18D621462699D4C8,40002,40058,058597...",Respuesta-CITI-FP-5 2024-01-31.xlsx,05. Fifth_batch,BANAMEX,40002,AYDYM4JS3_05.Fifth_batch,2024-01-31,058
3,AWJ7N76NH,PAID,2024-02-01T00:11:27,405.95,9bcb998e-1c68-4283-ac83-6d9c92503ea5,015ad6c6-8b77-47c6-9841-f4f7ba8354eb,659802020000173650,"Opciones Empresariales del Noreste, S.A. de C....",Maricela Crisostomo Jimenez,2024-02-01T00:25:27,...,NaN,100004,"2024-02-01,18D6214626E1AE13,40002,90659,659802...",Respuesta-CITI-FP-5 2024-01-31.xlsx,05. Fifth_batch,BANAMEX,40002,AWJ7N76NH_05.Fifth_batch,2024-01-31,659
4,ACR5TZN85,PAID,2024-02-01T00:11,367.97,9bcb998e-1c68-4283-ac83-6d9c92503ea5,019d425c-787f-4b39-99bd-e6641505ee39,659802020000267294,"Opciones Empresariales del Noreste, S.A. de C....",Jose Guadalupe Herrera Acosta,2024-02-01T00:25:27,...,NaN,100005,"2024-02-01,18D6214627B180F8,40002,90659,659802...",Respuesta-CITI-FP-5 2024-01-31.xlsx,05. Fifth_batch,BANAMEX,40002,ACR5TZN85_05.Fifth_batch,2024-01-31,659

In [20]:
rs_concat.shape

(2689, 22)

In [21]:
rs_concat_2 = rs_concat.merge(bin1[['BIN','Clave de la institución','Nombre de la institución']] ,on='BIN', how='left')
rs_concat_2['LINEA CEP'] = (rs_concat_2['Date_respuesta'].astype(str).replace(' ', '',regex=True)+','
                            +rs_concat_2['disbursement_tracking_key']+','
                            +rs_concat_2['Banco emisor'].astype(str).replace(' ', '',regex=True)+','
                            +rs_concat_2['Clave de la institución'].astype(str).replace(' ', '',regex=True)+','
                            +rs_concat_2['CLABE'].astype(str).replace(' ', '',regex=True)+','
                            +rs_concat_2['amount'].astype(str).replace(' ', '',regex=True))
rs_concat_2.head()

,report_id,status,report_date_local,amount,disbursement_batch_id,merchant_id,CLABE,bank_name,bank_account_owner_name,execution_date,...,file_name,Batch_time,Banco_emisor,Banco emisor,INDEX,Date_respuesta,BIN,Clave de la institución,Nombre de la institución,LINEA CEP
0,A55QHSWW2,PAID,2024-02-01T00:10:55,7.18,9bcb998e-1c68-4283-ac83-6d9c92503ea5,0079b7bd-0713-4cf9-9b37-992cbbba9c1e,137028104796418508,"BanCoppel, S.A.",Zaida sarai aguirre hernandez,2024-02-01T00:25:27,...,Respuesta-CITI-FP-5 2024-01-31.xlsx,05. Fifth_batch,BANAMEX,40002,A55QHSWW2_05.Fifth_batch,2024-01-31,137,40137,BANCOPPEL,"2024-01-31,18D6214626346DF3,40002,40137,137028..."
1,AFZ8BCWQH,PAID,2024-02-01T00:11:29,479.12,9bcb998e-1c68-4283-ac83-6d9c92503ea5,0088f97f-8701-4084-837b-c5cf2c0688f7,659802020000566076,"Opciones Empresariales del Noreste, S.A. de C....",Rosa Sierra Garcia,2024-02-01T00:25:27,...,Respuesta-CITI-FP-5 2024-01-31.xlsx,05. Fifth_batch,BANAMEX,40002,AFZ8BCWQH_05.Fifth_batch,2024-01-31,659,90659,ASP INTEGRA OPC,"2024-01-31,18D6214626413BED,40002,90659,659802..."
2,AYDYM4JS3,ERROR,2024-01-31T12:06:19,622.86,9bcb998e-1c68-4283-ac83-6d9c92503ea5,012c539f-c3e7-47e0-8f0a-17d8c3c5ad85,058597000021452105,Banco Regional de Monterrey,Enrique Villafuerte,2024-02-01T00:25:27,...,Respuesta-CITI-FP-5 2024-01-31.xlsx,05. Fifth_batch,BANAMEX,40002,AYDYM4JS3_05.Fifth_batch,2024-01-31,058,40058,BANREGIO,"2024-01-31,18D621462699D4C8,40002,40058,058597..."
3,AWJ7N76NH,PAID,2024-02-01T00:11:27,405.95,9bcb998e-1c68-4283-ac83-6d9c92503ea5,015ad6c6-8b77-47c6-9841-f4f7ba8354eb,659802020000173650,"Opciones Empresariales del Noreste, S.A. de C....",Maricela Crisostomo Jimenez,2024-02-01T00:25:27,...,Respuesta-CITI-FP-5 2024-01-31.xlsx,05. Fifth_batch,BANAMEX,40002,AWJ7N76NH_05.Fifth_batch,2024-01-31,659,90659,ASP INTEGRA OPC,"2024-01-31,18D6214626E1AE13,40002,90659,659802..."
4,ACR5TZN85,PAID,2024-02-01T00:11,367.97,9bcb998e-1c68-4283-ac83-6d9c92503ea5,019d425c-787f-4b39-99bd-e6641505ee39,659802020000267294,"Opciones Empresariales del Noreste, S.A. de C....",Jose Guadalupe Herrera Acosta,2024-02-01T00:25:27,...,Respuesta-CITI-FP-5 2024-01-31.xlsx,05. Fifth_batch,BANAMEX,40002,ACR5TZN85_05.Fifth_batch,2024-01-31,659,90659,ASP INTEGRA OPC,"2024-01-31,18D6214627B180F8,40002,90659,659802..."

In [22]:
rs_concat_2.shape

(2689, 25)

# ARCHIVO DISPERSION

In [23]:
disp1.head()

,type,merchant_id,merchant_token,merchant_name,user_email,report_id,report_date_local,amount,status,bank_name,payment_date_local,bank_account_owner_name,bank_account_number,disbursement_method,swap,Time,INDEX
batch_created_date,,,,,,,,,,,,,,,,,
2024-01-31 11:55:23,LEDGER_FP,0079b7bd-0713-4cf9-9b37-992cbbba9c1e,NaN,NaN,NaN,AXS7XLPCR,2024-01-31,152.57,PAID,"BanCoppel, S.A.",2024-01-31 12:04:43,Zaida sarai aguirre hernandez,'137028104796418508,SANTANDER,"Zaida sarai aguirre hernandez,,152.57,13702810...",02. Second_batch,AXS7XLPCR_02.Second_batch
2024-01-31 11:55:23,LEDGER_FP,015ad6c6-8b77-47c6-9841-f4f7ba8354eb,NaN,NaN,NaN,AQ72RYQH9,2024-01-31,14.99,PAID,"Opciones Empresariales del Noreste, S.A. de C....",2024-01-31 12:04:43,Maricela Crisostomo Jimenez,'659802020000173650,SANTANDER,"Maricela Crisostomo Jimenez,,14.99,65980202000...",02. Second_batch,AQ72RYQH9_02.Second_batch
2024-01-31 11:55:23,LEDGER_FP,019d425c-787f-4b39-99bd-e6641505ee39,NaN,NaN,NaN,A9WWNJK7T,2024-01-31,858.59,PAID,"Opciones Empresariales del Noreste, S.A. de C....",2024-01-31 12:04:43,Jose Guadalupe Herrera Acosta,'659802020000267294,SANTANDER,"Jose Guadalupe Herrera Acosta,,858.59,65980202...",02. Second_batch,A9WWNJK7T_02.Second_batch
2024-01-31 11:55:23,LEDGER_FP,037913d1-041e-4084-910b-8062f0eed2dd,NaN,NaN,NaN,A897J8S47,2024-01-31,"6,278.48",PAID,"Opciones Empresariales del Noreste, S.A. de C....",2024-01-31 12:04:43,Arie Meir Hammer null,'659802020000512622,SANTANDER,"Arie Meir Hammer null,,6278.48,659802020000512...",02. Second_batch,A897J8S47_02.Second_batch
2024-01-31 11:55:23,LEDGER_FP,03cbdd55-5b5d-45b8-91f7-b503aa3d62f1,NaN,NaN,NaN,ALD9DW8W3,2024-01-31,208.41,PAID,"Opciones Empresariales del Noreste, S.A. de C....",2024-01-31 12:04:43,Ana Rosa Gonzalez Medellin,'659802020000378455,SANTANDER,"Ana Rosa Gonzalez Medellin,,208.41,65980202000...",02. Second_batch,ALD9DW8W3_02.Second_batch

In [24]:
disp1['report_date_local'] = pd.to_datetime(disp1['report_date_local'])

In [25]:
split = disp1["swap"].str.split(",",n=7,expand=True)
split.head()

,0,1,2,3,4
batch_created_date,,,,,
2024-01-31 11:55:23,Zaida sarai aguirre hernandez,,152.57,137028104796418508,CLIP-AXS7XLPCR
2024-01-31 11:55:23,Maricela Crisostomo Jimenez,,14.99,659802020000173650,CLIP-AQ72RYQH9
2024-01-31 11:55:23,Jose Guadalupe Herrera Acosta,,858.59,659802020000267294,CLIP-A9WWNJK7T
2024-01-31 11:55:23,Arie Meir Hammer null,,6278.48,659802020000512622,CLIP-A897J8S47
2024-01-31 11:55:23,Ana Rosa Gonzalez Medellin,,208.41,659802020000378455,CLIP-ALD9DW8W3

In [26]:
disp1["swap"] = split[0] 
disp1["CLABE"] = split[3]

In [27]:
disp1.head()

,type,merchant_id,merchant_token,merchant_name,user_email,report_id,report_date_local,amount,status,bank_name,payment_date_local,bank_account_owner_name,bank_account_number,disbursement_method,swap,Time,INDEX,CLABE
batch_created_date,,,,,,,,,,,,,,,,,,
2024-01-31 11:55:23,LEDGER_FP,0079b7bd-0713-4cf9-9b37-992cbbba9c1e,NaN,NaN,NaN,AXS7XLPCR,2024-01-31,152.57,PAID,"BanCoppel, S.A.",2024-01-31 12:04:43,Zaida sarai aguirre hernandez,'137028104796418508,SANTANDER,Zaida sarai aguirre hernandez,02. Second_batch,AXS7XLPCR_02.Second_batch,137028104796418508
2024-01-31 11:55:23,LEDGER_FP,015ad6c6-8b77-47c6-9841-f4f7ba8354eb,NaN,NaN,NaN,AQ72RYQH9,2024-01-31,14.99,PAID,"Opciones Empresariales del Noreste, S.A. de C....",2024-01-31 12:04:43,Maricela Crisostomo Jimenez,'659802020000173650,SANTANDER,Maricela Crisostomo Jimenez,02. Second_batch,AQ72RYQH9_02.Second_batch,659802020000173650
2024-01-31 11:55:23,LEDGER_FP,019d425c-787f-4b39-99bd-e6641505ee39,NaN,NaN,NaN,A9WWNJK7T,2024-01-31,858.59,PAID,"Opciones Empresariales del Noreste, S.A. de C....",2024-01-31 12:04:43,Jose Guadalupe Herrera Acosta,'659802020000267294,SANTANDER,Jose Guadalupe Herrera Acosta,02. Second_batch,A9WWNJK7T_02.Second_batch,659802020000267294
2024-01-31 11:55:23,LEDGER_FP,037913d1-041e-4084-910b-8062f0eed2dd,NaN,NaN,NaN,A897J8S47,2024-01-31,"6,278.48",PAID,"Opciones Empresariales del Noreste, S.A. de C....",2024-01-31 12:04:43,Arie Meir Hammer null,'659802020000512622,SANTANDER,Arie Meir Hammer null,02. Second_batch,A897J8S47_02.Second_batch,659802020000512622
2024-01-31 11:55:23,LEDGER_FP,03cbdd55-5b5d-45b8-91f7-b503aa3d62f1,NaN,NaN,NaN,ALD9DW8W3,2024-01-31,208.41,PAID,"Opciones Empresariales del Noreste, S.A. de C....",2024-01-31 12:04:43,Ana Rosa Gonzalez Medellin,'659802020000378455,SANTANDER,Ana Rosa Gonzalez Medellin,02. Second_batch,ALD9DW8W3_02.Second_batch,659802020000378455

In [28]:
disp1.loc[disp1['report_date_local'] == date_respuesta, 'tipo'] = 'Pago del día'
disp1.loc[disp1['report_date_local'] != date_respuesta, 'tipo'] = 'Reprogramación'
disp1.drop(['bank_name','CLABE','status'],axis=1,inplace=True)
disp1.head()

,type,merchant_id,merchant_token,merchant_name,user_email,report_id,report_date_local,amount,payment_date_local,bank_account_owner_name,bank_account_number,disbursement_method,swap,Time,INDEX,tipo
batch_created_date,,,,,,,,,,,,,,,,
2024-01-31 11:55:23,LEDGER_FP,0079b7bd-0713-4cf9-9b37-992cbbba9c1e,NaN,NaN,NaN,AXS7XLPCR,2024-01-31,152.57,2024-01-31 12:04:43,Zaida sarai aguirre hernandez,'137028104796418508,SANTANDER,Zaida sarai aguirre hernandez,02. Second_batch,AXS7XLPCR_02.Second_batch,Pago del día
2024-01-31 11:55:23,LEDGER_FP,015ad6c6-8b77-47c6-9841-f4f7ba8354eb,NaN,NaN,NaN,AQ72RYQH9,2024-01-31,14.99,2024-01-31 12:04:43,Maricela Crisostomo Jimenez,'659802020000173650,SANTANDER,Maricela Crisostomo Jimenez,02. Second_batch,AQ72RYQH9_02.Second_batch,Pago del día
2024-01-31 11:55:23,LEDGER_FP,019d425c-787f-4b39-99bd-e6641505ee39,NaN,NaN,NaN,A9WWNJK7T,2024-01-31,858.59,2024-01-31 12:04:43,Jose Guadalupe Herrera Acosta,'659802020000267294,SANTANDER,Jose Guadalupe Herrera Acosta,02. Second_batch,A9WWNJK7T_02.Second_batch,Pago del día
2024-01-31 11:55:23,LEDGER_FP,037913d1-041e-4084-910b-8062f0eed2dd,NaN,NaN,NaN,A897J8S47,2024-01-31,"6,278.48",2024-01-31 12:04:43,Arie Meir Hammer null,'659802020000512622,SANTANDER,Arie Meir Hammer null,02. Second_batch,A897J8S47_02.Second_batch,Pago del día
2024-01-31 11:55:23,LEDGER_FP,03cbdd55-5b5d-45b8-91f7-b503aa3d62f1,NaN,NaN,NaN,ALD9DW8W3,2024-01-31,208.41,2024-01-31 12:04:43,Ana Rosa Gonzalez Medellin,'659802020000378455,SANTANDER,Ana Rosa Gonzalez Medellin,02. Second_batch,ALD9DW8W3_02.Second_batch,Pago del día

In [29]:
disp_2 = disp1.merge(rs_concat_2[['INDEX','status','Nombre de la institución','CLABE','LINEA CEP','Batch_time','Banco_emisor']]
                     ,on='INDEX', how='left')
disp_2.sort_values(by=['status'])
disp_2["Batch_time"].fillna('NO TIME',inplace=True)
disp_2.loc[disp_2['Batch_time'] == 'NO TIME', 'status'] = 'ERROR'
disp_2.loc[(disp_2['LINEA CEP'].str.contains('nan')) & (['Nombre de la institución'] == 'BANAMEX'), 'status'] = 'ERROR'
disp_2.loc[disp_2['status'] != 'PAID', 'status'] = 'ERROR'
disp_2.head()

,type,merchant_id,merchant_token,merchant_name,user_email,report_id,report_date_local,amount,payment_date_local,bank_account_owner_name,...,swap,Time,INDEX,tipo,status,Nombre de la institución,CLABE,LINEA CEP,Batch_time,Banco_emisor
0,LEDGER_FP,0079b7bd-0713-4cf9-9b37-992cbbba9c1e,NaN,NaN,NaN,AXS7XLPCR,2024-01-31,152.57,2024-01-31 12:04:43,Zaida sarai aguirre hernandez,...,Zaida sarai aguirre hernandez,02. Second_batch,AXS7XLPCR_02.Second_batch,Pago del día,PAID,BANCOPPEL,137028104796418508,"2024-01-31,20240131400140HDH0001463021150,4001...",02. Second_batch,SANTANDER
1,LEDGER_FP,015ad6c6-8b77-47c6-9841-f4f7ba8354eb,NaN,NaN,NaN,AQ72RYQH9,2024-01-31,14.99,2024-01-31 12:04:43,Maricela Crisostomo Jimenez,...,Maricela Crisostomo Jimenez,02. Second_batch,AQ72RYQH9_02.Second_batch,Pago del día,PAID,ASP INTEGRA OPC,659802020000173650,"2024-01-31,20240131400140HDH0001463021210,4001...",02. Second_batch,SANTANDER
2,LEDGER_FP,019d425c-787f-4b39-99bd-e6641505ee39,NaN,NaN,NaN,A9WWNJK7T,2024-01-31,858.59,2024-01-31 12:04:43,Jose Guadalupe Herrera Acosta,...,Jose Guadalupe Herrera Acosta,02. Second_batch,A9WWNJK7T_02.Second_batch,Pago del día,PAID,ASP INTEGRA OPC,659802020000267294,"2024-01-31,20240131400140HDH0001463021260,4001...",02. Second_batch,SANTANDER
3,LEDGER_FP,037913d1-041e-4084-910b-8062f0eed2dd,NaN,NaN,NaN,A897J8S47,2024-01-31,"6,278.48",2024-01-31 12:04:43,Arie Meir Hammer null,...,Arie Meir Hammer null,02. Second_batch,A897J8S47_02.Second_batch,Pago del día,PAID,ASP INTEGRA OPC,659802020000512622,"2024-01-31,20240131400140HDH0001463021320,4001...",02. Second_batch,SANTANDER
4,LEDGER_FP,03cbdd55-5b5d-45b8-91f7-b503aa3d62f1,NaN,NaN,NaN,ALD9DW8W3,2024-01-31,208.41,2024-01-31 12:04:43,Ana Rosa Gonzalez Medellin,...,Ana Rosa Gonzalez Medellin,02. Second_batch,ALD9DW8W3_02.Second_batch,Pago del día,PAID,ASP INTEGRA OPC,659802020000378455,"2024-01-31,20240131400140HDH0001463021370,4001...",02. Second_batch,SANTANDER

In [30]:
disp_2.loc[(disp_2['Nombre de la institución'] == 'BANAMEX') & (disp_2['Banco_emisor'] == 'BANAMEX'),
           'LINEA CEP'] = 'COMPROBANTE MISMO BANCO BANAMEX'
disp_2.loc[(disp_2['Nombre de la institución'] == 'SANTANDER') & (disp_2['Banco_emisor'] == 'SANTANDER'),
           'LINEA CEP'] = 'COMPROBANTE MISMO BANCO SANTANDER'
disp_2.loc[(disp_2['Nombre de la institución'] == 'BANORTE/IXE') & (disp_2['Banco_emisor'] == 'BANORTE'),
           'LINEA CEP'] = 'COMPROBANTE MISMO BANCO BANORTE'
disp_2.loc[disp_2['status'] == 'ERROR', 'LINEA CEP'] = ''

In [31]:
for col in disp_2.columns: 
    print(col)

type
merchant_id
merchant_token
merchant_name
user_email
report_id
report_date_local
amount
payment_date_local
bank_account_owner_name
bank_account_number
disbursement_method
swap
Time
INDEX
tipo
status
Nombre de la institución
CLABE
LINEA CEP
Batch_time
Banco_emisor

In [32]:
disp_final = disp_2[['type','merchant_id','merchant_name','user_email','report_id','report_date_local','amount','tipo'
                    ,'Nombre de la institución','swap','CLABE','status','LINEA CEP','Batch_time','Banco_emisor','INDEX']]
disp_final.rename(columns ={'Nombre de la institución':'bank','amount':'total_due'}, inplace=True)
disp_final.sort_values(by=['status','Batch_time'], ascending=True, inplace=True)
# disp_final.drop_duplicates(subset =['report_id','Time'], keep ='first', inplace=True)
disp_final.head()

C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_4244\4128104542.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  disp_final.rename(columns ={'Nombre de la institución':'bank','amount':'total_due'}, inplace=True)
C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_4244\4128104542.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  disp_final.sort_values(by=['status','Batch_time'], ascending=True, inplace=True)

,type,merchant_id,merchant_name,user_email,report_id,report_date_local,total_due,tipo,bank,swap,CLABE,status,LINEA CEP,Batch_time,Banco_emisor,INDEX
16,LEDGER_FP,08a08b69-9ba4-4da4-bd3e-941b274ea808,NaN,NaN,AKYWJVFK9,2024-01-31,215.60,Pago del día,ASP INTEGRA OPC,Ricardo Torres Hernandez,659802020000117399,ERROR,,02. Second_batch,SANTANDER,AKYWJVFK9_02.Second_batch
62,LEDGER_FP,16ddbeb1-fe42-4c50-acdc-7458bec4f47d,NaN,NaN,A2632Q7CR,2024-01-30,"1,058.85",Reprogramación,HSBC,Ricarfo Vega,021180065049226475,ERROR,,02. Second_batch,SANTANDER,A2632Q7CR_02.Second_batch
63,LEDGER_FP,16ddbeb1-fe42-4c50-acdc-7458bec4f47d,NaN,NaN,ATG4VTCVZ,2024-01-31,"1,135.52",Pago del día,HSBC,Ricarfo Vega,021180065049226475,ERROR,,02. Second_batch,SANTANDER,ATG4VTCVZ_02.Second_batch
102,LEDGER_FP,29872956-87f3-4ea9-876d-4fddba85bdcd,NaN,NaN,AHBC97N66,2024-01-31,187.82,Pago del día,ASP INTEGRA OPC,Marco Antonio Garza Diaz,659802020000215877,ERROR,,02. Second_batch,SANTANDER,AHBC97N66_02.Second_batch
178,LEDGER_FP,4558b85a-43f5-40fa-ba69-cbe9761c267f,NaN,NaN,AT8NVQ5GT,2024-01-31,170.42,Pago del día,ASP INTEGRA OPC,Silvia Rivera Ortega,659802020000319032,ERROR,,02. Second_batch,SANTANDER,AT8NVQ5GT_02.Second_batch

In [33]:
disp_final.shape

(2689, 16)

# ERROR

In [34]:
error = disp_final[(disp_final['status'] != 'PAID')]
error.head()

,type,merchant_id,merchant_name,user_email,report_id,report_date_local,total_due,tipo,bank,swap,CLABE,status,LINEA CEP,Batch_time,Banco_emisor,INDEX
16,LEDGER_FP,08a08b69-9ba4-4da4-bd3e-941b274ea808,NaN,NaN,AKYWJVFK9,2024-01-31,215.60,Pago del día,ASP INTEGRA OPC,Ricardo Torres Hernandez,659802020000117399,ERROR,,02. Second_batch,SANTANDER,AKYWJVFK9_02.Second_batch
62,LEDGER_FP,16ddbeb1-fe42-4c50-acdc-7458bec4f47d,NaN,NaN,A2632Q7CR,2024-01-30,"1,058.85",Reprogramación,HSBC,Ricarfo Vega,021180065049226475,ERROR,,02. Second_batch,SANTANDER,A2632Q7CR_02.Second_batch
63,LEDGER_FP,16ddbeb1-fe42-4c50-acdc-7458bec4f47d,NaN,NaN,ATG4VTCVZ,2024-01-31,"1,135.52",Pago del día,HSBC,Ricarfo Vega,021180065049226475,ERROR,,02. Second_batch,SANTANDER,ATG4VTCVZ_02.Second_batch
102,LEDGER_FP,29872956-87f3-4ea9-876d-4fddba85bdcd,NaN,NaN,AHBC97N66,2024-01-31,187.82,Pago del día,ASP INTEGRA OPC,Marco Antonio Garza Diaz,659802020000215877,ERROR,,02. Second_batch,SANTANDER,AHBC97N66_02.Second_batch
178,LEDGER_FP,4558b85a-43f5-40fa-ba69-cbe9761c267f,NaN,NaN,AT8NVQ5GT,2024-01-31,170.42,Pago del día,ASP INTEGRA OPC,Silvia Rivera Ortega,659802020000319032,ERROR,,02. Second_batch,SANTANDER,AT8NVQ5GT_02.Second_batch

In [35]:
error.shape

(464, 16)

In [36]:
error.loc[error['status'] == 'ERROR', 'Check'] = 'SPEI DEVUELTO'

C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_4244\2301535618.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  error.loc[error['status'] == 'ERROR', 'Check'] = 'SPEI DEVUELTO'

In [37]:
error.drop(['swap','CLABE','status','LINEA CEP','Banco_emisor'],axis=1,inplace=True)

C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_4244\4267105076.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  error.drop(['swap','CLABE','status','LINEA CEP','Banco_emisor'],axis=1,inplace=True)

In [38]:
error_final = error
error_final.head()

,type,merchant_id,merchant_name,user_email,report_id,report_date_local,total_due,tipo,bank,Batch_time,INDEX,Check
16,LEDGER_FP,08a08b69-9ba4-4da4-bd3e-941b274ea808,NaN,NaN,AKYWJVFK9,2024-01-31,215.60,Pago del día,ASP INTEGRA OPC,02. Second_batch,AKYWJVFK9_02.Second_batch,SPEI DEVUELTO
62,LEDGER_FP,16ddbeb1-fe42-4c50-acdc-7458bec4f47d,NaN,NaN,A2632Q7CR,2024-01-30,"1,058.85",Reprogramación,HSBC,02. Second_batch,A2632Q7CR_02.Second_batch,SPEI DEVUELTO
63,LEDGER_FP,16ddbeb1-fe42-4c50-acdc-7458bec4f47d,NaN,NaN,ATG4VTCVZ,2024-01-31,"1,135.52",Pago del día,HSBC,02. Second_batch,ATG4VTCVZ_02.Second_batch,SPEI DEVUELTO
102,LEDGER_FP,29872956-87f3-4ea9-876d-4fddba85bdcd,NaN,NaN,AHBC97N66,2024-01-31,187.82,Pago del día,ASP INTEGRA OPC,02. Second_batch,AHBC97N66_02.Second_batch,SPEI DEVUELTO
178,LEDGER_FP,4558b85a-43f5-40fa-ba69-cbe9761c267f,NaN,NaN,AT8NVQ5GT,2024-01-31,170.42,Pago del día,ASP INTEGRA OPC,02. Second_batch,AT8NVQ5GT_02.Second_batch,SPEI DEVUELTO

In [39]:
error.shape

(464, 12)

In [40]:
error_final = error.merge(rs_concat_2[['INDEX','error_description']],on='INDEX',how='left')
error_final.head()

,type,merchant_id,merchant_name,user_email,report_id,report_date_local,total_due,tipo,bank,Batch_time,INDEX,Check,error_description
0,LEDGER_FP,08a08b69-9ba4-4da4-bd3e-941b274ea808,NaN,NaN,AKYWJVFK9,2024-01-31,215.60,Pago del día,ASP INTEGRA OPC,02. Second_batch,AKYWJVFK9_02.Second_batch,SPEI DEVUELTO,/21/CB Return Exceeds the limit of credits all...
1,LEDGER_FP,16ddbeb1-fe42-4c50-acdc-7458bec4f47d,NaN,NaN,A2632Q7CR,2024-01-30,"1,058.85",Reprogramación,HSBC,02. Second_batch,A2632Q7CR_02.Second_batch,SPEI DEVUELTO,/21/CB Return Blocked account (BNMX_RET_2) /SB...
2,LEDGER_FP,16ddbeb1-fe42-4c50-acdc-7458bec4f47d,NaN,NaN,ATG4VTCVZ,2024-01-31,"1,135.52",Pago del día,HSBC,02. Second_batch,ATG4VTCVZ_02.Second_batch,SPEI DEVUELTO,/21/CB Return Blocked account (BNMX_RET_2) /SB...
3,LEDGER_FP,29872956-87f3-4ea9-876d-4fddba85bdcd,NaN,NaN,AHBC97N66,2024-01-31,187.82,Pago del día,ASP INTEGRA OPC,02. Second_batch,AHBC97N66_02.Second_batch,SPEI DEVUELTO,/21/CB Return Exceeds the limit of credits all...
4,LEDGER_FP,4558b85a-43f5-40fa-ba69-cbe9761c267f,NaN,NaN,AT8NVQ5GT,2024-01-31,170.42,Pago del día,ASP INTEGRA OPC,02. Second_batch,AT8NVQ5GT_02.Second_batch,SPEI DEVUELTO,/21/CB Return Account type is not applicable (...

In [41]:
error_final.shape

(464, 13)

In [42]:
disp_final.drop(['INDEX'],axis=1,inplace=True)
error_final.drop(['INDEX'],axis=1,inplace=True)

C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_4244\1854234940.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  disp_final.drop(['INDEX'],axis=1,inplace=True)

# PAGOS NO ENCONTRADOS EN LA DB

In [43]:
payouts_not_found = rs_concat.merge(disp_final[['report_id','type']] ,on='report_id', how='left')
payouts_not_found['type'].fillna('not_found',inplace=True)
payouts_not_found.head()

,report_id,status,report_date_local,amount,disbursement_batch_id,merchant_id,CLABE,bank_name,bank_account_owner_name,execution_date,...,reference_number,cep,file_name,Batch_time,Banco_emisor,Banco emisor,INDEX,Date_respuesta,BIN,type
0,A55QHSWW2,PAID,2024-02-01T00:10:55,7.18,9bcb998e-1c68-4283-ac83-6d9c92503ea5,0079b7bd-0713-4cf9-9b37-992cbbba9c1e,137028104796418508,"BanCoppel, S.A.",Zaida sarai aguirre hernandez,2024-02-01T00:25:27,...,100001,"2024-02-01,18D6214626346DF3,40002,40137,137028...",Respuesta-CITI-FP-5 2024-01-31.xlsx,05. Fifth_batch,BANAMEX,40002,A55QHSWW2_05.Fifth_batch,2024-01-31,137,LEDGER_FP
1,AFZ8BCWQH,PAID,2024-02-01T00:11:29,479.12,9bcb998e-1c68-4283-ac83-6d9c92503ea5,0088f97f-8701-4084-837b-c5cf2c0688f7,659802020000566076,"Opciones Empresariales del Noreste, S.A. de C....",Rosa Sierra Garcia,2024-02-01T00:25:27,...,100002,"2024-02-01,18D6214626413BED,40002,90659,659802...",Respuesta-CITI-FP-5 2024-01-31.xlsx,05. Fifth_batch,BANAMEX,40002,AFZ8BCWQH_05.Fifth_batch,2024-01-31,659,LEDGER_FP
2,AYDYM4JS3,ERROR,2024-01-31T12:06:19,622.86,9bcb998e-1c68-4283-ac83-6d9c92503ea5,012c539f-c3e7-47e0-8f0a-17d8c3c5ad85,058597000021452105,Banco Regional de Monterrey,Enrique Villafuerte,2024-02-01T00:25:27,...,100003,"2024-02-01,18D621462699D4C8,40002,40058,058597...",Respuesta-CITI-FP-5 2024-01-31.xlsx,05. Fifth_batch,BANAMEX,40002,AYDYM4JS3_05.Fifth_batch,2024-01-31,058,LEDGER_FP
3,AWJ7N76NH,PAID,2024-02-01T00:11:27,405.95,9bcb998e-1c68-4283-ac83-6d9c92503ea5,015ad6c6-8b77-47c6-9841-f4f7ba8354eb,659802020000173650,"Opciones Empresariales del Noreste, S.A. de C....",Maricela Crisostomo Jimenez,2024-02-01T00:25:27,...,100004,"2024-02-01,18D6214626E1AE13,40002,90659,659802...",Respuesta-CITI-FP-5 2024-01-31.xlsx,05. Fifth_batch,BANAMEX,40002,AWJ7N76NH_05.Fifth_batch,2024-01-31,659,LEDGER_FP
4,ACR5TZN85,PAID,2024-02-01T00:11,367.97,9bcb998e-1c68-4283-ac83-6d9c92503ea5,019d425c-787f-4b39-99bd-e6641505ee39,659802020000267294,"Opciones Empresariales del Noreste, S.A. de C....",Jose Guadalupe Herrera Acosta,2024-02-01T00:25:27,...,100005,"2024-02-01,18D6214627B180F8,40002,90659,659802...",Respuesta-CITI-FP-5 2024-01-31.xlsx,05. Fifth_batch,BANAMEX,40002,ACR5TZN85_05.Fifth_batch,2024-01-31,659,LEDGER_FP

In [44]:
payouts_not_found_final = payouts_not_found[(payouts_not_found['type'] == 'not_found')]
payouts_not_found_final.head()

Empty DataFrame
Columns: [report_id, status, report_date_local, amount, disbursement_batch_id, merchant_id, CLABE, bank_name, bank_account_owner_name, execution_date, aplication_date, disbursement_tracking_key, error_description, reference_number, cep, file_name, Batch_time, Banco_emisor, Banco emisor, INDEX, Date_respuesta, BIN, type]
Index: []

[0 rows x 23 columns]

In [45]:
payouts_not_found_final.shape

(0, 23)

# ARCHIVOS FINALES

### ARCHIVO DISPERSION

In [46]:
writer = pd.ExcelWriter(r'C:\Users\Cristian.Aparicio\Documents\FAST PAYMENTS\2024\01. ENERO\ARCHIVO DISPERSIONES FP\Dispersión-FP 2024-01-31.xlsx',
                        engine='xlsxwriter', engine_kwargs={'options': {'encoding':'utf-8'}})
disp_final.to_excel(writer, sheet_name='FAST PAYMENTS',index=False)
error_final.to_excel(writer, sheet_name='ERROR',index=False)
payouts_not_found_final.to_excel(writer, sheet_name='NOT FOUND IN DB',index=False)
writer.close()

### ARCHIVO RESPUESTA

In [47]:
rs_concat.to_csv(r'C:\Users\Cristian.Aparicio\Documents\FAST PAYMENTS\2024\01. ENERO\ARCHIVO RESPUESTAS FINALES\Respuesta-FP-ALL 2024-01-31.csv',index=False)

In [ ]:
# book = load_workbook('Dispersión-FP 2020-07-20.xlsx')
# writer = pd.ExcelWriter('Dispersión-FP 2020-07-20.xlsx', engine='openpyxl', options={'encoding':'utf-8'})
# writer.book = book
# match_final.to_excel(writer, sheet_name='FP-2 2020-07-20', index=False)
# writer.save()
# writer.close()