In [1]:
import pandas as pd
import numpy as np
import glob
import os
from openpyxl import load_workbook
pd.options.display.float_format = '{:,.2f}'.format

In [2]:
start_date = '2022-09-01'
final_date = '2022-09-14'

# RUTAS DE ACCESO

### REPROGRAMACIONES

In [4]:
allfiles_repro = glob.glob(r'C:\Users\Cristian.Aparicio\Documents\REPROGRAMACIONES\DATA\Reprogramaciones_septiembre_2019*.xlsx', recursive=False)
allfiles_repro

['C:\\Users\\Cristian.Aparicio\\Documents\\REPROGRAMACIONES\\DATA\\Reprogramaciones_septiembre_2019.xlsx']

# REPROGRAMACIONES

In [5]:
repro = pd.concat([pd.read_excel(f).assign(file_name=os.path.basename(f)) for f in allfiles_repro])
repro['Date']= pd.to_datetime(repro['Date'])
repro['report_date_local']= pd.to_datetime(repro['report_date_local'])
repro.sort_values(by=['Date'],ascending=True,inplace=True)
repro.head()

,type,merchant_id,merchant_name,user_email,report_id,report_date_local,total_due,tipo,bank,bank_account_owner_name,...,file_name,Date,month_conc,year_conc,month_report,year_report,tipo_reprogramacion,swap,CEP,Time
0,DAILY,001a912c-ec7f-4e8c-911f-c1daf0555f2f,La probadita,marybelcardona38@gmail.com,CZNBW8LGR,2022-08-31,212.98,Reprogramación,AZTECA,Marybel Cardona,...,Reprogramaciones_septiembre_2019.xlsx,2022-09-01,September,2022,August,2022,repro_otro_mes,NaN,NaN,NaN
668,DAILY,decb7dcf-cf64-4d49-94f4-4b08607624c6,mision coruna,janeth.jvzg@gmail.com,LRQYMGKC2,2022-08-24,619.51,Reprogramación,BBVA BANCOMER,Rogelio Morales Espinosa,...,Reprogramaciones_septiembre_2019.xlsx,2022-09-01,September,2022,August,2022,repro_otro_mes,NaN,NaN,NaN
669,DAILY,decb7dcf-cf64-4d49-94f4-4b08607624c6,mision coruna,janeth.jvzg@gmail.com,QB8SD7QK9,2022-08-25,442.72,Reprogramación,BBVA BANCOMER,Rogelio Morales Espinosa,...,Reprogramaciones_septiembre_2019.xlsx,2022-09-01,September,2022,August,2022,repro_otro_mes,NaN,NaN,NaN
670,DAILY,f713c05e-9753-45ff-919c-1bcc270e0177,Ropa Deportiva,erikbvillalba@gmail.com,42NMXDZXQ,2022-08-25,"1,051.19",Reprogramación,BBVA BANCOMER,Erik rafael bautista,...,Reprogramaciones_septiembre_2019.xlsx,2022-09-01,September,2022,August,2022,repro_otro_mes,NaN,NaN,NaN
671,DAILY,decb7dcf-cf64-4d49-94f4-4b08607624c6,mision coruna,janeth.jvzg@gmail.com,RKXNQTWCK,2022-08-26,"1,377.44",Reprogramación,BBVA BANCOMER,Rogelio Morales Espinosa,...,Reprogramaciones_septiembre_2019.xlsx,2022-09-01,September,2022,August,2022,repro_otro_mes,NaN,NaN,NaN

In [6]:
repro.shape

(12085, 25)

In [8]:
repro_final = repro[(repro['Date'] >= start_date) & (repro['Date'] <= final_date)]
repro_final['Date'].unique()

array(['2022-09-01T00:00:00.000000000', '2022-09-02T00:00:00.000000000',
       '2022-09-03T00:00:00.000000000', '2022-09-04T00:00:00.000000000',
       '2022-09-05T00:00:00.000000000', '2022-09-06T00:00:00.000000000',
       '2022-09-07T00:00:00.000000000', '2022-09-08T00:00:00.000000000',
       '2022-09-09T00:00:00.000000000', '2022-09-10T00:00:00.000000000',
       '2022-09-11T00:00:00.000000000', '2022-09-12T00:00:00.000000000',
       '2022-09-13T00:00:00.000000000', '2022-09-14T00:00:00.000000000'],
      dtype='datetime64[ns]')

In [9]:
repro_final.head()

,type,merchant_id,merchant_name,user_email,report_id,report_date_local,total_due,tipo,bank,bank_account_owner_name,...,file_name,Date,month_conc,year_conc,month_report,year_report,tipo_reprogramacion,swap,CEP,Time
0,DAILY,001a912c-ec7f-4e8c-911f-c1daf0555f2f,La probadita,marybelcardona38@gmail.com,CZNBW8LGR,2022-08-31,212.98,Reprogramación,AZTECA,Marybel Cardona,...,Reprogramaciones_septiembre_2019.xlsx,2022-09-01,September,2022,August,2022,repro_otro_mes,NaN,NaN,NaN
668,DAILY,decb7dcf-cf64-4d49-94f4-4b08607624c6,mision coruna,janeth.jvzg@gmail.com,LRQYMGKC2,2022-08-24,619.51,Reprogramación,BBVA BANCOMER,Rogelio Morales Espinosa,...,Reprogramaciones_septiembre_2019.xlsx,2022-09-01,September,2022,August,2022,repro_otro_mes,NaN,NaN,NaN
669,DAILY,decb7dcf-cf64-4d49-94f4-4b08607624c6,mision coruna,janeth.jvzg@gmail.com,QB8SD7QK9,2022-08-25,442.72,Reprogramación,BBVA BANCOMER,Rogelio Morales Espinosa,...,Reprogramaciones_septiembre_2019.xlsx,2022-09-01,September,2022,August,2022,repro_otro_mes,NaN,NaN,NaN
670,DAILY,f713c05e-9753-45ff-919c-1bcc270e0177,Ropa Deportiva,erikbvillalba@gmail.com,42NMXDZXQ,2022-08-25,"1,051.19",Reprogramación,BBVA BANCOMER,Erik rafael bautista,...,Reprogramaciones_septiembre_2019.xlsx,2022-09-01,September,2022,August,2022,repro_otro_mes,NaN,NaN,NaN
671,DAILY,decb7dcf-cf64-4d49-94f4-4b08607624c6,mision coruna,janeth.jvzg@gmail.com,RKXNQTWCK,2022-08-26,"1,377.44",Reprogramación,BBVA BANCOMER,Rogelio Morales Espinosa,...,Reprogramaciones_septiembre_2019.xlsx,2022-09-01,September,2022,August,2022,repro_otro_mes,NaN,NaN,NaN

In [10]:
repro_final.shape

(10499, 25)

In [15]:
pivot_repro = pd.pivot_table(repro_final,index=['report_id'],
                             columns=['status'],
                             values=['total_due'],
                             aggfunc=['sum', len],margins=True).reset_index()
pivot_repro.fillna(0,inplace=True)
pivot_repro.head()

        report_id       sum                         len
                  total_due                   total_due
status                ERROR     PAID      All     ERROR PAID All
0       2222NCJCZ      0.00   210.81   210.81      0.00 1.00   1
1       224NJNTQC      0.00 6,799.67 6,799.67      0.00 1.00   1
2       229F447JT      0.00   105.41   105.41      0.00 1.00   1
3       22G78ZFPP      0.00   328.69   328.69      0.00 1.00   1
4       22HBKFQLR      0.00   776.16   776.16      0.00 1.00   1

In [16]:
pivot_repro.shape

(10343, 7)

In [26]:
pivot_repro_date = pd.pivot_table(repro_final,index=['status','report_id'],
                             columns=['Date'],
                             values=['total_due'],
                             aggfunc=['sum', len],margins=True).reset_index(1)
pivot_repro_date.fillna(0,inplace=True)
pivot_repro_date.head()

        report_id                 sum                                          \
                            total_due
Date              2022-09-01 00:00:00 2022-09-02 00:00:00 2022-09-03 00:00:00
status
ERROR   25TVC8P4S                0.00                0.00                0.00
ERROR   26RT24GY2                0.00                0.00                0.00
ERROR   28383PP6K                0.00                0.00                0.00
ERROR   2D3SF44NY                0.00                0.00              344.01
ERROR   2L9J3F3DS                0.00                0.00                0.00

                                                                    \

Date   2022-09-04 00:00:00 2022-09-05 00:00:00 2022-09-06 00:00:00
status
ERROR                 0.00                0.00                0.00
ERROR                 0.00              366.05                0.00
ERROR                 0.00                0.00                0.00
ERROR                 0.00                0.00                0.00
ERROR                 0.00                0.00                0.00

                                                                    ...  \
                                                                    ...
Date   2022-09-07 00:00:00 2022-09-08 00:00:00 2022-09-09 00:00:00  ...
status                                                              ...
ERROR                 0.00                0.00                0.00  ...
ERROR                 0.00                0.00                0.00  ...
ERROR                 0.00                0.00                0.00  ...
ERROR                 0.00                0.00                0.00  ...
ERROR                 0.00                0.00                0.00  ...

                       len                                          \
                 total_due
Date   2022-09-06 00:00:00 2022-09-07 00:00:00 2022-09-08 00:00:00
status
ERROR                 0.00                0.00                0.00
ERROR                 0.00                0.00                0.00
ERROR                 0.00                0.00                0.00
ERROR                 0.00                0.00                0.00
ERROR                 0.00                0.00                0.00

                                                                    \

Date   2022-09-09 00:00:00 2022-09-10 00:00:00 2022-09-11 00:00:00
status
ERROR                 0.00                0.00                0.00
ERROR                 0.00                0.00                0.00
ERROR                 0.00                0.00                0.00
ERROR                 0.00                0.00                0.00
ERROR                 0.00                1.00                1.00



Date   2022-09-12 00:00:00 2022-09-13 00:00:00 2022-09-14 00:00:00 All
status
ERROR                 0.00                0.00                1.00   1
ERROR                 0.00                0.00                0.00   1
ERROR                 0.00                0.00                1.00   1
ERROR                 0.00                0.00                0.00   1
ERROR                 1.00                0.00                0.00   3

[5 rows x 31 columns]

In [27]:
pivot_repro_date.shape

(10411, 31)

In [28]:
writer = pd.ExcelWriter('REPROGRAMACIONES - SEPT 2022.xlsx',
                        engine='xlsxwriter',
                        engine_kwargs={'options': {'encoding':'utf-8'}})
pivot_repro.to_excel(writer, sheet_name='Repro_status')
pivot_repro_date.to_excel(writer, sheet_name='Repro_date')
writer.close()

In [ ]:
pivot_total = pd.pivot_table(swap_dia_total,index=['Date'],values=['total_due'],aggfunc = ['sum', len],margins=True)
pivot_total.reset_index(drop=False, inplace=True)
pivot_total.head()

In [ ]:
pivot_parcial = pd.pivot_table(swap_dia_total,index=['tipo','Date'],values=['total_due'],aggfunc = ['sum', len],margins=True)
pivot_parcial.reset_index(drop=False, inplace=True)
pivot_parcial.head()

## CATEGORIZACIÓN DE REPROGRAMACIONES

In [ ]:
swap_dia_total_repro = swap_dia_total[(swap_dia_total['tipo'] == 'Reprogramación')]
swap_dia_total_repro.head()

In [ ]:
swap_dia_total_repro.shape

In [ ]:
swap_dia_total_repro.loc[(swap_dia_total_repro['tipo'] == 'Reprogramación')
                   & (swap_dia_total_repro['month_report'] == month_conc) 
                   & (swap_dia_total_repro['year_report'] == year_conc),'tipo_reprogramacion'] = 'repro_mismo_mes'
swap_dia_total_repro['tipo_reprogramacion'].fillna('repro_otro_mes',inplace=True)
swap_dia_total_repro.head()

In [ ]:
pivot_tipo_repro = pd.pivot_table(swap_dia_total_repro,index=['Date'],
                                  columns=['tipo_reprogramacion'],
                                  values=['total_due']
                                  ,aggfunc = ['sum', len],margins=True)
pivot_tipo_repro.reset_index(drop=False, inplace=True)
pivot_tipo_repro.head()

# FAST PAYMENTS

In [ ]:
fp_dia_total = pd.concat([pd.read_excel(f,sheet_name='FAST PAYMENTS')
                          .assign(file_name=os.path.basename(f)) for f in allfiles_fp])
fp_dia_total['Date'] = fp_dia_total["file_name"].str[-15:-5]
fp_dia_total['Date']= pd.to_datetime(fp_dia_total['Date'])
fp_dia_total['report_date_local']= pd.to_datetime(fp_dia_total['report_date_local'])
fp_dia_total['month_conc'] = month_conc
fp_dia_total['year_conc'] = year_conc
fp_dia_total['month_report'] = fp_dia_total['report_date_local'].dt.strftime('%B')
fp_dia_total['year_report'] = fp_dia_total['report_date_local'].dt.year.astype(str)
fp_dia_total.head()

In [ ]:
fp_dia_total.shape

In [ ]:
fp_dia_total.dtypes

In [ ]:
pivot_fp_total = pd.pivot_table(fp_dia_total,index=['Date'],values=['total_due'],aggfunc = ['sum', len],margins=True)
pivot_fp_total.reset_index(drop=False, inplace=True)
pivot_fp_total.head()

In [ ]:
pivot_fp_parcial = pd.pivot_table(fp_dia_total,index=['tipo','Date'],values=['total_due'],aggfunc = ['sum', len],margins=True)
pivot_fp_parcial.reset_index(drop=False, inplace=True)
pivot_fp_parcial.head()

## CATEGORIZACIÓN DE REPROGRAMACIONES - FAST PAYMENTS

In [ ]:
fp_dia_total_repro = fp_dia_total[(fp_dia_total['tipo'] == 'Reprogramación')]
fp_dia_total_repro.head()

In [ ]:
fp_dia_total_repro.shape

In [ ]:
fp_dia_total_repro.loc[(fp_dia_total_repro['tipo'] == 'Reprogramación')
                   & (fp_dia_total_repro['month_report'] == month_conc) 
                   & (fp_dia_total_repro['year_report'] == year_conc),'tipo_reprogramacion'] = 'repro_mismo_mes'
fp_dia_total_repro['tipo_reprogramacion'].fillna('repro_otro_mes',inplace=True)
fp_dia_total_repro.head()

In [ ]:
pivot_tipo_repro_fp = pd.pivot_table(fp_dia_total_repro,index=['Date'],
                                  columns=['tipo_reprogramacion'],
                                  values=['total_due']
                                  ,aggfunc = ['sum', len],margins=True)
pivot_tipo_repro_fp.reset_index(drop=False, inplace=True)
pivot_tipo_repro_fp.head()

# UNION REPROGRAMACIONES

In [ ]:
union_repros = pd.concat([swap_dia_total_repro,fp_dia_total_repro])
union_repros.head()

In [ ]:
union_repros.shape

In [ ]:
union_repros.to_excel('Reprogramaciones_septiembre_2019.xlsx')

# EXCLUSIÓN DE PAGOS DESFASADOS

In [ ]:
pago_desfasado = pd.read_excel(r'C:\Users\Cristian.Aparicio\Documents\POLIZAS\2022\09. SEPTIEMBRE\FASE III. SETTLED VS PAGO DIA SEPTIEMBRE 2022.xlsx',
                               sheet_name='DETAIL NO ENCONTRADO',
                               converters={'report_id':str})
pago_desfasado.head()

In [ ]:
pago_desfasado.shape

In [ ]:
repros_2 = union_repros.merge(pago_desfasado[['report_id','report_date_local']] ,on='report_id', how='left')
repros_2['report_date_local_y'].fillna('not_found',inplace=True)
repros_2.head()

In [ ]:
repros_2.shape

In [ ]:
repros_pago_desfasado = repros_2[(repros_2['report_date_local_y'] != 'not_found')]
repros_pago_desfasado.head()

In [ ]:
repros_pago_desfasado.shape

In [ ]:
repros_pago_desfasado_dup = repros_pago_desfasado[repros_pago_desfasado.duplicated(['report_id'] , keep='last')]
repros_pago_desfasado_dup.head()

In [ ]:
repros_pago_desfasado_dup.shape

In [ ]:
repros_final = repros_2[(repros_2['report_date_local_y'] == 'not_found')]
repros_final.sort_values(by='Date',ascending=True,inplace=True)
repros_final.head()

In [ ]:
repros_final.shape

In [ ]:
repros_final_dup = repros_2[repros_2.duplicated(['report_id'] , keep='last')]
repros_final_dup.head()

In [ ]:
repros_final_dup.shape

# CUBETA ERROR

In [ ]:
excel_error = pd.read_excel(r'C:\Users\Cristian.Aparicio\Documents\CUBETAS\2022\09. SEPTIEMBRE\CUBETA ERROR SEPTIEMBRE-14 2022.xlsx',sheet_name='Cubeta ErrorLastMonth',converters={'report_id':str})
excel_error.head()

In [ ]:
excel_error.shape

In [ ]:
excel_error_salidas = excel_error[(excel_error['status_cubeta'] == 'SALIDA')]
excel_error_salidas.head()

In [ ]:
excel_error_salidas.shape

# CRUCE 1:  REPROGRAMACIONES VS CUBETA EN ERROR

In [ ]:
cruce_1 = union_repros.merge(excel_error_salidas[['report_id','status_cubeta','esquema final']] ,on='report_id', how='left')
cruce_1['status_cubeta'].fillna('not_found',inplace=True)
cruce_1['esquema final'].fillna('not_found',inplace=True)
cruce_1.head()

In [ ]:
cruce_1.shape

# CRUCE_2: CUBETA ERROR VS REPROGRAMACIONES

In [ ]:
cruce_2 = excel_error_salidas.merge(union_repros[['report_id','report_date_local','tipo','tipo_reprogramacion',
                                         'file_name','status']] ,on='report_id', how='left')
cruce_2['tipo_reprogramacion'].fillna('not_found',inplace=True)
cruce_2['file_name'].fillna('not_found',inplace=True)
cruce_2['status_y'].fillna('not_found',inplace=True)
cruce_2.head()

In [ ]:
cruce_2.shape

# EXCEL FINAL

In [ ]:
writer = pd.ExcelWriter('VALIDACION SALIDA - CUBETAS.xlsx',
                        engine='xlsxwriter',
                        engine_kwargs={'options': {'encoding':'utf-8'}})
cruce_1.to_excel(writer, sheet_name='DETALLE_1')
cruce_2.to_excel(writer, sheet_name='DETALLE_2')
writer.close()