In [1]:
import pandas as pd
import numpy as np
import glob
import os
from openpyxl import load_workbook
pd.options.display.float_format = '{:,.2f}'.format

# READING FILES

### EDO DE CUENTA

In [2]:
# edo_cta = pd.read_csv(r'C:\Users\Cristian.Aparicio\Documents\CONCILIACIONES\2020\12. DICIEMBRE\EDO CUENTA DICIEMBRE 2020.csv',dtype={'Cuenta': object})
# edo_cta.Depósitos = [x.strip('$') for x in edo_cta.Depósitos]
# edo_cta.Retiros = [x.strip('$') for x in edo_cta.Retiros]
# edo_cta.Saldo = [x.strip('$') for x in edo_cta.Saldo]
# edo_cta.head()

In [3]:
# edo_cta.shape

In [4]:
# edo_cta.dtypes

### INTERBANCARIOS

In [5]:
# inter_h2h = edo_cta[(edo_cta['Descripción']=='COMPRA ORDEN DE PAGO SPEI')][['Fecha_operacion','Fecha_banco','Descripción','Depósitos','Retiros','Descripción Detallada','Movimiento']]
# inter_h2h.head()

In [6]:
# inter_h2h.shape

In [7]:
# split_inter = inter_h2h["Descripción Detallada"].str.split(",",n=7,expand=True)
# split_inter.head()

In [8]:
# split_inter.shape

In [9]:
# inter_h2h["CTA/CLABE"] = split_inter[0] 
# inter_h2h['beneficiario'] = split_inter[3]
# inter_h2h['cve_rastreo'] = split_inter[5]
# inter_h2h['time'] = split_inter[6]

In [10]:
# inter_h2h[['cve_rastreo']].head()

In [11]:
# split_inter_2 = inter_h2h['cve_rastreo'].str.split(' ',n=7,expand=True).astype(str).replace(' ', '',regex=True)
# split_inter_2.head()

In [12]:
# inter_h2h['clave_rastreo'] = split_inter_2[4]

In [13]:
# split_inter_3 = inter_h2h['time'].str.split(' ',n=7,expand=True).astype(str).replace(' ', '',regex=True)
# split_inter_3.head()

In [14]:
# inter_h2h['time_deposito'] = split_inter_3[5]

In [15]:
# split_inter_4 = inter_h2h['CTA/CLABE'].str.split(':',n=7,expand=True).astype(str).replace(' ', '',regex=True)
# split_inter_4.head()

In [16]:
# inter_h2h['cuenta_clabe'] = split_inter_4[1]

In [17]:
# inter_h2h.head()

In [18]:
# inter_h2h.columns

In [19]:
# inter_h2h_final = inter_h2h[['Fecha_operacion', 'Fecha_banco', 'Descripción', 'Depósitos', 'Retiros','Descripción Detallada'
#                              ,'cuenta_clabe','clave_rastreo', 'time_deposito','Movimiento']]
# inter_h2h_final.head()

In [20]:
# inter_h2h_final.shape

### MISMO BANCO

In [21]:
# mban_h2h = edo_cta[(edo_cta['Descripción'].str.contains('TRASPASO'))][['Fecha_operacion','Fecha_banco','Descripción','Depósitos','Retiros','Descripción Detallada','Movimiento']]
# mban_h2h.head()

In [22]:
# mban_h2h.shape

In [23]:
# split_mban = mban_h2h["Descripción"].str.split(":",n=7,expand=True).replace(' ', '',regex=True)
# split_mban.head()

In [24]:
# split_mban.shape

In [25]:
# mban_h2h["cuenta_clabe"] = split_mban[1]

In [26]:
# mban_h2h.head()

In [27]:
# mban_h2h.shape

In [28]:
# mban_h2h['clave_rastreo'] = 'COMPROBANTE BANORTE'
# mban_h2h['time_deposito'] = 'TIME NO REPORTADO'

In [29]:
# mban_h2h_final = mban_h2h[['Fecha_operacion', 'Fecha_banco', 'Descripción', 'Depósitos', 'Retiros','Descripción Detallada'
#                              ,'cuenta_clabe','clave_rastreo', 'time_deposito','Movimiento']]
# mban_h2h_final.head()

In [30]:
# mban_h2h_final.shape

### COMISIONES E IVA

In [31]:
# comi_h2h = edo_cta[(edo_cta['Descripción'].str.contains('COMISION X OPERACION CB'))][['Fecha_operacion','Fecha_banco','Descripción','Depósitos','Retiros','Descripción Detallada','Movimiento']]
# comi_h2h.sort_values(by=['Movimiento'],ascending=True,inplace=True)
# comi_h2h.head()

In [32]:
# comi_h2h.shape

In [33]:
# comi_h2h['cuenta_clabe'] = ''
# comi_h2h['clave_rastreo'] = ''
# comi_h2h['time_deposito'] = ''

In [34]:
# comi_h2h_final = comi_h2h[['Fecha_operacion', 'Fecha_banco', 'Descripción', 'Depósitos', 'Retiros','Descripción Detallada'
#                              ,'cuenta_clabe','clave_rastreo', 'time_deposito','Movimiento']]
# comi_h2h_final['fecha_envio'] = pd.DatetimeIndex(comi_h2h_final['Fecha_operacion']) - pd.DateOffset(1)

In [35]:
# comi_h2h_final.loc[comi_h2h_final['Descripción'].str.contains('COMISION'), "concepto"] = 'comision'
# comi_h2h_final.loc[comi_h2h_final['Descripción'].str.contains('IVA'), "concepto"] = 'iva'

In [36]:
# comi_h2h_final.sort_values(by=['concepto','fecha_envio'],ascending=True,inplace=True)
# comi_h2h_final['Depósitos'] = comi_h2h_final['Depósitos'].str.replace(',', '').str.replace('$', '').astype(float)
# comi_h2h_final['Retiros'] = comi_h2h_final['Retiros'].str.replace(',', '').str.replace('$', '').astype(float)
# comi_h2h_final.head()

In [37]:
# comi_h2h_final.shape

In [38]:
# comi_h2h_final.dtypes

### CONSOLIDADO H2H

In [39]:
# h2h_final = pd.concat([inter_h2h_final,mban_h2h_final,comi_h2h_final])
# h2h_final.head()

In [40]:
# h2h_final.shape

### BIN

In [41]:
bin1 = pd.read_csv(r'C:\Users\Cristian.Aparicio\Documents\DISPERSIONES\Catalogo_Bancos.csv'
                   ,dtype={'BIN':str,'Clave de la institución':str,'Nombre de la institución':str})
bin1.head()

   BIN Clave de la institución Nombre de la institución
0  138                   40138              ABC CAPITAL
1  102                   40102            ACCENDO BANCO
2  133                   40133                 ACTINVER
3  062                   40062                   AFIRME
4  638                   90638                    AKALA

In [42]:
bin1.shape

(94, 3)

### ARCHIVO RESPUESTAS FAST PAYMENTS

In [43]:
fp_1 = glob.glob(r'G:\.shortcut-targets-by-id\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\3.-Settlement\5.-HISTORICO FILES PAGOS\02. FAST PAYMENTS\2024\01. ENERO\QUERIES\*.csv', recursive=False)
fp_1

['G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\02. FAST PAYMENTS\\2024\\01. ENERO\\QUERIES\\FP-ALL 2024-01-01.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\02. FAST PAYMENTS\\2024\\01. ENERO\\QUERIES\\FP-ALL 2024-01-02.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\02. FAST PAYMENTS\\2024\\01. ENERO\\QUERIES\\FP-ALL 2024-01-03.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\02. FAST PAYMENTS\\2024\\01. ENERO\\QUERIES\\FP-ALL 2024-01-04.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\02. FAST PAYMENTS\\2024\\01. ENERO\\QUERIES\\FP-ALL 2024-01-05.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\02. FAST PAYMENTS\\2024\\01. ENERO\\QUERIES\\FP-ALL 2024-01-06.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\02. FAST PAYMENTS\\2024\\01. ENERO\\QUERIES\\FP-ALL 2024-01-07.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\02. FAST PAYMENTS\\2024\\01. ENERO\\QUERIES\\FP-ALL 2024-01-08.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\02. FAST PAYMENTS\\2024\\01. ENERO\\QUERIES\\FP-ALL 2024-01-09.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\02. FAST PAYMENTS\\2024\\01. ENERO\\QUERIES\\FP-ALL 2024-01-10.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\02. FAST PAYMENTS\\2024\\01. ENERO\\QUERIES\\FP-ALL 2024-01-11.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\02. FAST PAYMENTS\\2024\\01. ENERO\\QUERIES\\FP-ALL 2024-01-12.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\02. FAST PAYMENTS\\2024\\01. ENERO\\QUERIES\\FP-ALL 2024-01-13.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\02. FAST PAYMENTS\\2024\\01. ENERO\\QUERIES\\FP-ALL 2024-01-14.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\02. FAST PAYMENTS\\2024\\01. ENERO\\QUERIES\\FP-ALL 2024-01-15.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\02. FAST PAYMENTS\\2024\\01. ENERO\\QUERIES\\FP-ALL 2024-01-16.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\02. FAST PAYMENTS\\2024\\01. ENERO\\QUERIES\\FP-ALL 2024-01-17.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\02. FAST PAYMENTS\\2024\\01. ENERO\\QUERIES\\FP-ALL 2024-01-18.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\02. FAST PAYMENTS\\2024\\01. ENERO\\QUERIES\\FP-ALL 2024-01-19.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\02. FAST PAYMENTS\\2024\\01. ENERO\\QUERIES\\FP-ALL 2024-01-20.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\02. FAST PAYMENTS\\2024\\01. ENERO\\QUERIES\\FP-ALL 2024-01-21.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\02. FAST PAYMENTS\\2024\\01. ENERO\\QUERIES\\FP-ALL 2024-01-22.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\02. FAST PAYMENTS\\2024\\01. ENERO\\QUERIES\\FP-ALL 2024-01-23.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\02. FAST PAYMENTS\\2024\\01. ENERO\\QUERIES\\FP-ALL 2024-01-24.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\02. FAST PAYMENTS\\2024\\01. ENERO\\QUERIES\\FP-ALL 2024-01-25.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\02. FAST PAYMENTS\\2024\\01. ENERO\\QUERIES\\FP-ALL 2024-01-26.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\02. FAST PAYMENTS\\2024\\01. ENERO\\QUERIES\\FP-ALL 2024-01-27.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\02. FAST PAYMENTS\\2024\\01. ENERO\\QUERIES\\FP-ALL 2024-01-28.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\02. FAST PAYMENTS\\2024\\01. ENERO\\QUERIES\\FP-ALL 2024-01-29.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\02. FAST PAYMENTS\\2024\\01. ENERO\\QUERIES\\FP-ALL 2024-01-30.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\02. FAST PAYMENTS\\2024\\01. ENERO\\QUERIES\\FP-ALL 2024-01-31.csv']

In [44]:
fp_total = pd.concat([pd.read_csv(f,dtype={'report_id':object}).assign(file_name=os.path.basename(f)) for f in fp_1])
fp_total['date_envio'] = fp_total["file_name"].str[-14:-4]
fp_total['payment_date_local'] = fp_total["payment_date_local"].str[:10]
fp_total['batch_created_date'] = fp_total["batch_created_date"].str[:10]
fp_total['date_envio'] = pd.to_datetime(fp_total['date_envio'])
fp_total['report_date_local'] = pd.to_datetime(fp_total['report_date_local']) 
fp_total['payment_date_local'] = pd.to_datetime(fp_total["payment_date_local"])
fp_total['batch_created_date'] = pd.to_datetime(fp_total['batch_created_date'])
fp_total.tail()

,type,merchant_id,merchant_token,merchant_name,user_email,report_id,report_date_local,amount,status,bank_name,payment_date_local,bank_account_owner_name,bank_account_number,batch_created_date,disbursement_method,swap,file_name,date_envio
2684,NaN,ff7cd248-8746-4f20-a7bf-68c53f67f751,NaN,NaN,NaN,AMHJ8KWCD,2024-01-31,71.87,PAID,"Opciones Empresariales del Noreste, S.A. de C....",2024-01-31,Alfonso Nieto Barbosa,'659802020000068105,2024-01-31,SANTANDER,"Alfonso Nieto Barbosa,,71.87,65980202000006810...",FP-ALL 2024-01-31.csv,2024-01-31
2685,NaN,ff8f3a93-ab04-4e3c-b672-4e210afe844e,NaN,NaN,NaN,A97V8HPNP,2024-01-31,186.86,PAID,"BBVA Bancomer, S.A.",2024-01-31,Daniela Yessenia Cruz Herbert,'012158015486793989,2024-01-31,SANTANDER,"Daniela Yessenia Cruz Herbert,,186.86,01215801...",FP-ALL 2024-01-31.csv,2024-01-31
2686,NaN,ff8f3a93-ab04-4e3c-b672-4e210afe844e,NaN,NaN,NaN,A8QFM5DPN,2024-01-31,321.01,PAID,"BBVA Bancomer, S.A.",2024-01-31,Daniela Yessenia Cruz Herbert,'012158015486793989,2024-01-31,SANTANDER,"Daniela Yessenia Cruz Herbert,,321.01,01215801...",FP-ALL 2024-01-31.csv,2024-01-31
2687,NaN,ff8f3a93-ab04-4e3c-b672-4e210afe844e,NaN,NaN,NaN,APQ32XVLK,2024-01-31,105.41,PAID,"BBVA Bancomer, S.A.",2024-01-31,Daniela Yessenia Cruz Herbert,'012158015486793989,2024-01-31,CITI,"Daniela Yessenia Cruz Herbert,,105.41,01215801...",FP-ALL 2024-01-31.csv,2024-01-31
2688,NaN,ffd8bb53-ffb9-4dde-a005-cc74be75fe1e,NaN,NaN,NaN,AWG8NSCCV,2024-01-31,271.18,ERROR,BBVA Bancomer,2024-01-31,Ester Lucero Aragon,'012180015379647039,2024-01-31,CITI,"Ester Lucero Aragon,,271.18,012180015379647039...",FP-ALL 2024-01-31.csv,2024-01-31

In [45]:
fp_total.shape

(74601, 18)

In [46]:
fp_total.dtypes

type                               object
merchant_id                        object
merchant_token                     object
merchant_name                      object
user_email                         object
report_id                          object
report_date_local          datetime64[ns]
amount                            float64
status                             object
bank_name                          object
payment_date_local         datetime64[ns]
bank_account_owner_name            object
bank_account_number                object
batch_created_date         datetime64[ns]
disbursement_method                object
swap                               object
file_name                          object
date_envio                 datetime64[ns]
dtype: object

In [47]:
split_fp = fp_total["swap"].str.split(",",n=7,expand=True)
split_fp.head()

,0,1,2,3,4
0,Guadalupe Carmen Villa Vazquez,,19.16,659802020000471271,CLIP-ANWBMZHND
1,Omar Polo Ochoa,,565.36,127456013890994028,CLIP-A5LLH3TWL
2,Omar Polo Ochoa,,340.18,127456013890994028,CLIP-A9VMKFLT9
3,Omar Polo Ochoa,,730.18,127456013890994028,CLIP-AL636FYCJ
4,Omar Polo Ochoa,,259.68,127456013890994028,CLIP-AJS284JFN

In [48]:
fp_total["beneficiario"] = split_fp[0]
fp_total["CLABE"] = split_fp[3]
fp_total['BIN'] = fp_total['CLABE'].str[:3].replace(' ', '',regex=True)

In [49]:
fp_total.head()

,type,merchant_id,merchant_token,merchant_name,user_email,report_id,report_date_local,amount,status,bank_name,...,bank_account_owner_name,bank_account_number,batch_created_date,disbursement_method,swap,file_name,date_envio,beneficiario,CLABE,BIN
0,NaN,00094c06-2b54-4569-9314-00c3c213297c,NaN,NaN,NaN,ANWBMZHND,2024-01-01,19.16,PAID,"Opciones Empresariales del Noreste, S.A. de C....",...,Guadalupe Carmen Villa Vazquez,'659802020000471271,2024-01-01,BANORTE,"Guadalupe Carmen Villa Vazquez,,19.16,65980202...",FP-ALL 2024-01-01.csv,2024-01-01,Guadalupe Carmen Villa Vazquez,659802020000471271,659
1,NaN,00bf0fb9-405a-4b41-9ace-14dfe8e0b471,NaN,NaN,NaN,A5LLH3TWL,2024-01-01,565.36,PAID,AZTECA,...,Omar Polo Ochoa,'127456013890994028,2024-01-01,BANORTE,"Omar Polo Ochoa,,565.36,127456013890994028,CLI...",FP-ALL 2024-01-01.csv,2024-01-01,Omar Polo Ochoa,127456013890994028,127
2,NaN,00bf0fb9-405a-4b41-9ace-14dfe8e0b471,NaN,NaN,NaN,A9VMKFLT9,2024-01-01,340.18,PAID,AZTECA,...,Omar Polo Ochoa,'127456013890994028,2024-01-01,BANORTE,"Omar Polo Ochoa,,340.18,127456013890994028,CLI...",FP-ALL 2024-01-01.csv,2024-01-01,Omar Polo Ochoa,127456013890994028,127
3,NaN,00bf0fb9-405a-4b41-9ace-14dfe8e0b471,NaN,NaN,NaN,AL636FYCJ,2024-01-01,730.18,PAID,AZTECA,...,Omar Polo Ochoa,'127456013890994028,2024-01-01,BANORTE,"Omar Polo Ochoa,,730.18,127456013890994028,CLI...",FP-ALL 2024-01-01.csv,2024-01-01,Omar Polo Ochoa,127456013890994028,127
4,NaN,00bf0fb9-405a-4b41-9ace-14dfe8e0b471,NaN,NaN,NaN,AJS284JFN,2024-01-01,259.68,PAID,AZTECA,...,Omar Polo Ochoa,'127456013890994028,2024-01-01,BANORTE,"Omar Polo Ochoa,,259.68,127456013890994028,CLI...",FP-ALL 2024-01-01.csv,2024-01-01,Omar Polo Ochoa,127456013890994028,127

In [50]:
fp_total.shape

(74601, 21)

In [51]:
fp_2 = fp_total.merge(bin1[['BIN','Nombre de la institución']] ,on='BIN', how='left')
fp_2.rename(columns ={'Nombre de la institución': 'bank'},inplace=True)
fp_2.head()

,type,merchant_id,merchant_token,merchant_name,user_email,report_id,report_date_local,amount,status,bank_name,...,bank_account_number,batch_created_date,disbursement_method,swap,file_name,date_envio,beneficiario,CLABE,BIN,bank
0,NaN,00094c06-2b54-4569-9314-00c3c213297c,NaN,NaN,NaN,ANWBMZHND,2024-01-01,19.16,PAID,"Opciones Empresariales del Noreste, S.A. de C....",...,'659802020000471271,2024-01-01,BANORTE,"Guadalupe Carmen Villa Vazquez,,19.16,65980202...",FP-ALL 2024-01-01.csv,2024-01-01,Guadalupe Carmen Villa Vazquez,659802020000471271,659,ASP INTEGRA OPC
1,NaN,00bf0fb9-405a-4b41-9ace-14dfe8e0b471,NaN,NaN,NaN,A5LLH3TWL,2024-01-01,565.36,PAID,AZTECA,...,'127456013890994028,2024-01-01,BANORTE,"Omar Polo Ochoa,,565.36,127456013890994028,CLI...",FP-ALL 2024-01-01.csv,2024-01-01,Omar Polo Ochoa,127456013890994028,127,AZTECA
2,NaN,00bf0fb9-405a-4b41-9ace-14dfe8e0b471,NaN,NaN,NaN,A9VMKFLT9,2024-01-01,340.18,PAID,AZTECA,...,'127456013890994028,2024-01-01,BANORTE,"Omar Polo Ochoa,,340.18,127456013890994028,CLI...",FP-ALL 2024-01-01.csv,2024-01-01,Omar Polo Ochoa,127456013890994028,127,AZTECA
3,NaN,00bf0fb9-405a-4b41-9ace-14dfe8e0b471,NaN,NaN,NaN,AL636FYCJ,2024-01-01,730.18,PAID,AZTECA,...,'127456013890994028,2024-01-01,BANORTE,"Omar Polo Ochoa,,730.18,127456013890994028,CLI...",FP-ALL 2024-01-01.csv,2024-01-01,Omar Polo Ochoa,127456013890994028,127,AZTECA
4,NaN,00bf0fb9-405a-4b41-9ace-14dfe8e0b471,NaN,NaN,NaN,AJS284JFN,2024-01-01,259.68,PAID,AZTECA,...,'127456013890994028,2024-01-01,BANORTE,"Omar Polo Ochoa,,259.68,127456013890994028,CLI...",FP-ALL 2024-01-01.csv,2024-01-01,Omar Polo Ochoa,127456013890994028,127,AZTECA

In [52]:
fp_2.shape

(74601, 22)

In [53]:
fp_2.loc[fp_2['BIN'] == '072', 'cuenta_clabe'] = fp_2['CLABE'].str[-11:-1].replace(' ', '',regex=True)
fp_2.loc[fp_2['BIN'] != '072', 'cuenta_clabe'] = fp_2['CLABE'].replace(' ', '',regex=True)

In [54]:
fp_2.head()

,type,merchant_id,merchant_token,merchant_name,user_email,report_id,report_date_local,amount,status,bank_name,...,batch_created_date,disbursement_method,swap,file_name,date_envio,beneficiario,CLABE,BIN,bank,cuenta_clabe
0,NaN,00094c06-2b54-4569-9314-00c3c213297c,NaN,NaN,NaN,ANWBMZHND,2024-01-01,19.16,PAID,"Opciones Empresariales del Noreste, S.A. de C....",...,2024-01-01,BANORTE,"Guadalupe Carmen Villa Vazquez,,19.16,65980202...",FP-ALL 2024-01-01.csv,2024-01-01,Guadalupe Carmen Villa Vazquez,659802020000471271,659,ASP INTEGRA OPC,659802020000471271
1,NaN,00bf0fb9-405a-4b41-9ace-14dfe8e0b471,NaN,NaN,NaN,A5LLH3TWL,2024-01-01,565.36,PAID,AZTECA,...,2024-01-01,BANORTE,"Omar Polo Ochoa,,565.36,127456013890994028,CLI...",FP-ALL 2024-01-01.csv,2024-01-01,Omar Polo Ochoa,127456013890994028,127,AZTECA,127456013890994028
2,NaN,00bf0fb9-405a-4b41-9ace-14dfe8e0b471,NaN,NaN,NaN,A9VMKFLT9,2024-01-01,340.18,PAID,AZTECA,...,2024-01-01,BANORTE,"Omar Polo Ochoa,,340.18,127456013890994028,CLI...",FP-ALL 2024-01-01.csv,2024-01-01,Omar Polo Ochoa,127456013890994028,127,AZTECA,127456013890994028
3,NaN,00bf0fb9-405a-4b41-9ace-14dfe8e0b471,NaN,NaN,NaN,AL636FYCJ,2024-01-01,730.18,PAID,AZTECA,...,2024-01-01,BANORTE,"Omar Polo Ochoa,,730.18,127456013890994028,CLI...",FP-ALL 2024-01-01.csv,2024-01-01,Omar Polo Ochoa,127456013890994028,127,AZTECA,127456013890994028
4,NaN,00bf0fb9-405a-4b41-9ace-14dfe8e0b471,NaN,NaN,NaN,AJS284JFN,2024-01-01,259.68,PAID,AZTECA,...,2024-01-01,BANORTE,"Omar Polo Ochoa,,259.68,127456013890994028,CLI...",FP-ALL 2024-01-01.csv,2024-01-01,Omar Polo Ochoa,127456013890994028,127,AZTECA,127456013890994028

In [55]:
fp_2.shape

(74601, 23)

In [56]:
fp_2.loc[fp_2['BIN'] == '072', "comision_sin_iva"] = 1.05
fp_2.loc[fp_2['BIN'] != '072', "comision_sin_iva"] = 1.80
fp_2['iva'] = fp_2['comision_sin_iva'] * 0.16
fp_2['comision'] = fp_2['comision_sin_iva'] + fp_2['iva']
fp_2['iva'].round(decimals=2)
fp_2['comision'].round(decimals=2)
fp_2.head()

,type,merchant_id,merchant_token,merchant_name,user_email,report_id,report_date_local,amount,status,bank_name,...,file_name,date_envio,beneficiario,CLABE,BIN,bank,cuenta_clabe,comision_sin_iva,iva,comision
0,NaN,00094c06-2b54-4569-9314-00c3c213297c,NaN,NaN,NaN,ANWBMZHND,2024-01-01,19.16,PAID,"Opciones Empresariales del Noreste, S.A. de C....",...,FP-ALL 2024-01-01.csv,2024-01-01,Guadalupe Carmen Villa Vazquez,659802020000471271,659,ASP INTEGRA OPC,659802020000471271,1.80,0.29,2.09
1,NaN,00bf0fb9-405a-4b41-9ace-14dfe8e0b471,NaN,NaN,NaN,A5LLH3TWL,2024-01-01,565.36,PAID,AZTECA,...,FP-ALL 2024-01-01.csv,2024-01-01,Omar Polo Ochoa,127456013890994028,127,AZTECA,127456013890994028,1.80,0.29,2.09
2,NaN,00bf0fb9-405a-4b41-9ace-14dfe8e0b471,NaN,NaN,NaN,A9VMKFLT9,2024-01-01,340.18,PAID,AZTECA,...,FP-ALL 2024-01-01.csv,2024-01-01,Omar Polo Ochoa,127456013890994028,127,AZTECA,127456013890994028,1.80,0.29,2.09
3,NaN,00bf0fb9-405a-4b41-9ace-14dfe8e0b471,NaN,NaN,NaN,AL636FYCJ,2024-01-01,730.18,PAID,AZTECA,...,FP-ALL 2024-01-01.csv,2024-01-01,Omar Polo Ochoa,127456013890994028,127,AZTECA,127456013890994028,1.80,0.29,2.09
4,NaN,00bf0fb9-405a-4b41-9ace-14dfe8e0b471,NaN,NaN,NaN,AJS284JFN,2024-01-01,259.68,PAID,AZTECA,...,FP-ALL 2024-01-01.csv,2024-01-01,Omar Polo Ochoa,127456013890994028,127,AZTECA,127456013890994028,1.80,0.29,2.09

In [57]:
fp_2.shape

(74601, 26)

### AGRUPAR POR FECHA DE ENVIO

In [58]:
fp_fecha_envio = fp_2.groupby(['date_envio']).agg({'report_id':'count','amount':sum,'comision_sin_iva':sum,'iva':sum,'comision':sum}).reset_index()
fp_fecha_envio.rename(columns ={'report_id': 'no_pagos'},inplace=True)
fp_fecha_envio.head()

C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_14444\1413538699.py:1: FutureWarning: The provided callable <built-in function sum> is currently using SeriesGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  fp_fecha_envio = fp_2.groupby(['date_envio']).agg({'report_id':'count','amount':sum,'comision_sin_iva':sum,'iva':sum,'comision':sum}).reset_index()

  date_envio  no_pagos       amount  comision_sin_iva    iva  comision
0 2024-01-01      1176 1,677,947.06          2,104.80 336.77  2,441.57
1 2024-01-02      2636 2,900,343.26          4,709.55 753.53  5,463.08
2 2024-01-03      2385 1,749,042.46          4,273.50 683.76  4,957.26
3 2024-01-04      2609 2,717,041.63          4,676.70 748.27  5,424.97
4 2024-01-05      2451 1,968,067.50          4,390.80 702.53  5,093.33

In [59]:
fp_fecha_envio.shape

(31, 6)

# EXCEL

In [60]:
writer = pd.ExcelWriter('FP COMISIONES ENERO 2024.xlsx',
                        engine='xlsxwriter',
                        engine_kwargs={'options': {'encoding':'utf-8'}})
fp_fecha_envio.to_excel(writer, sheet_name='COMISION CALCULADA', index=False)
writer.close()