In [1]:
import pandas as pd
import numpy as np
from openpyxl import load_workbook
import glob
import os
pd.options.display.float_format = '{:,.2f}'.format

In [2]:
query1 = pd.read_csv(r'C:\Users\Cristian.Aparicio\Downloads\BNTE1 2021-03-28.csv',dtype={'bank_account_number':object,'report_id':object})
query2 = pd.read_csv(r'C:\Users\Cristian.Aparicio\Downloads\BNTE2 2021-03-28.csv',dtype={'bank_account_number':object,'report_id':object})

In [3]:
query = pd.concat([query1,query2])
query.head()

,merchant_id,merchant_name,user_email,report_id,report_date_local,amount,status,bank_name,payment_date_local,bank_account_owner_name,bank_account_number,swap
0,0000d758-84b4-4cb0-a165-4f0d3c44864d,MAHARISHI PANTJALI SA DE CV,maharishiclip@gmail.com,6M29B9W92,2021-03-28 00:00:00,634.35,PAID,"Banco Regional de Monterrey, S.A.",2021-03-28 00:00:00,"MAHARISHI PANTJALI, S.A. DE C.V.",'058375000003160831,"MAHARISHI PANTJALI S.A. DE C.V.,,634.35,058375..."
1,00023bd5-6149-4ef9-95be-edb61d22588d,LAS PEKES,alebarradas1@hotmail.com,874T2B93Z,2021-03-28 00:00:00,102.54,PAID,"BanCoppel, S.A.",2021-03-28 00:00:00,Virginia Alejandra Barradas Prez,'137463103868892825,"Virginia Alejandra Barradas Prez,,102.54,13746..."
2,0004501b-0a75-4ace-99fd-1047fb7c3c1c,Pelucan,mr1497989@gmail.com,SYCXNP9TR,2021-03-28 00:00:00,"1,906.90",PAID,"BanCoppel, S.A.",2021-03-28 00:00:00,Miguel Rojas,'137164103851095420,"Miguel Rojas,,1906.90,137164103851095420,CLIP-..."
3,000738b5-9715-4d0d-9d1e-2ae33f3ee74f,Manolos,takikardia25@gmail.com,TTPL7KN5C,2021-03-28 00:00:00,426.42,PAID,"BBVA Bancomer, S.A.",2021-03-28 00:00:00,Majaira Maricela Villarreal Castillo,'012580015621499072,"Majaira Maricela Villarreal Castillo,,426.42,0..."
4,00094c06-2b54-4569-9314-00c3c213297c,5antas Alitas Dgo,lacosa0012@gmail.com,SN29XH9VF,2021-03-28 00:00:00,234.77,PAID,"Banco Santander, S.A.",2021-03-28 00:00:00,Guadalupe Carmen Villa Vazquez,'014190567577517067,"Guadalupe Carmen Villa Vazquez,,234.77,0141905..."

In [4]:
query.shape

(65325, 12)

In [5]:
duplicates_query = query[query.duplicated(['report_id'],keep=False)]
duplicates_query.head()

Empty DataFrame
Columns: [merchant_id, merchant_name, user_email, report_id, report_date_local, amount, status, bank_name, payment_date_local, bank_account_owner_name, bank_account_number, swap]
Index: []

In [6]:
query.to_csv(r'C:\Users\Cristian.Aparicio\Downloads\BNTE 2021-03-28.csv',index=False)