In [1]:
import pandas as pd
import numpy as np
import glob
import os
from openpyxl import load_workbook
pd.options.display.float_format = '{:,.2f}'.format

In [2]:
start_date = '2024-01-01'
final_date = '2024-01-31'

In [3]:
trad_files = glob.glob(r'C:\Users\Cristian.Aparicio\Documents\DISPERSIONES\2024\01. ENERO\ARCHIVO DISPERSIONES\Dispersión*.xlsx', recursive=False)
trad_files

['C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2024\\01. ENERO\\ARCHIVO DISPERSIONES\\Dispersión-20240101.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2024\\01. ENERO\\ARCHIVO DISPERSIONES\\Dispersión-20240102.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2024\\01. ENERO\\ARCHIVO DISPERSIONES\\Dispersión-20240103.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2024\\01. ENERO\\ARCHIVO DISPERSIONES\\Dispersión-20240104.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2024\\01. ENERO\\ARCHIVO DISPERSIONES\\Dispersión-20240105.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2024\\01. ENERO\\ARCHIVO DISPERSIONES\\Dispersión-20240106.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2024\\01. ENERO\\ARCHIVO DISPERSIONES\\Dispersión-20240107.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2024\\01. ENERO\\ARCHIVO DISPERSIONES\\Dispersión-20240108.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2024\\01. ENERO\\ARCHIVO DISPERSIONES\\Dispersión-20240109.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2024\\01. ENERO\\ARCHIVO DISPERSIONES\\Dispersión-20240110.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2024\\01. ENERO\\ARCHIVO DISPERSIONES\\Dispersión-20240111.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2024\\01. ENERO\\ARCHIVO DISPERSIONES\\Dispersión-20240112.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2024\\01. ENERO\\ARCHIVO DISPERSIONES\\Dispersión-20240113.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2024\\01. ENERO\\ARCHIVO DISPERSIONES\\Dispersión-20240114.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2024\\01. ENERO\\ARCHIVO DISPERSIONES\\Dispersión-20240115.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2024\\01. ENERO\\ARCHIVO DISPERSIONES\\Dispersión-20240116.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2024\\01. ENERO\\ARCHIVO DISPERSIONES\\Dispersión-20240117.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2024\\01. ENERO\\ARCHIVO DISPERSIONES\\Dispersión-20240118.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2024\\01. ENERO\\ARCHIVO DISPERSIONES\\Dispersión-20240119.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2024\\01. ENERO\\ARCHIVO DISPERSIONES\\Dispersión-20240120.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2024\\01. ENERO\\ARCHIVO DISPERSIONES\\Dispersión-20240121.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2024\\01. ENERO\\ARCHIVO DISPERSIONES\\Dispersión-20240122.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2024\\01. ENERO\\ARCHIVO DISPERSIONES\\Dispersión-20240123.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2024\\01. ENERO\\ARCHIVO DISPERSIONES\\Dispersión-20240124.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2024\\01. ENERO\\ARCHIVO DISPERSIONES\\Dispersión-20240125.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2024\\01. ENERO\\ARCHIVO DISPERSIONES\\Dispersión-20240126.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2024\\01. ENERO\\ARCHIVO DISPERSIONES\\Dispersión-20240127.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2024\\01. ENERO\\ARCHIVO DISPERSIONES\\Dispersión-20240128.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2024\\01. ENERO\\ARCHIVO DISPERSIONES\\Dispersión-20240129.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2024\\01. ENERO\\ARCHIVO DISPERSIONES\\Dispersión-20240130.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2024\\01. ENERO\\ARCHIVO DISPERSIONES\\Dispersión-20240131.xlsx']

# SWAP DEL DÍA

In [4]:
sf_final = pd.concat([pd.read_excel(f,sheet_name='Swap del día',
                                          converters={'CLABE':str,'report_id':str}).assign(file_name=os.path.basename(f)) for f in trad_files])
sf_final['date'] = sf_final["file_name"].str[-13:-5]
sf_final['date']= pd.to_datetime(sf_final['date'], format='%Y%m%d').dt.date
sf_final['date'] = pd.to_datetime(sf_final['date'])
sf_final['date_index'] = sf_final['date'].astype(str)
sf_final['report_date_local']= pd.to_datetime(sf_final['report_date_local'])
sf_final['INDEX'] = sf_final['report_id'] + '_' + sf_final['date_index']
sf_final.head()

,type,merchant_id,merchant_name,user_email,report_id,report_date_local,total_due,tipo,bank,bank_account_owner_name,CLABE,status,LINEA CEP,Batch_time,Banco_emisor,file_name,date,date_index,INDEX
0,LEDGER_TRAD,03c36e07-4550-4a03-addc-23932ed78f86,NaN,NaN,A935WHWRG,2024-01-01,267.34,Pago del día,BBVA BANCOMER,Flor Liliana Gonzalez Gonzalez,012500029618132855,ERROR,NaN,01. First_batch,BANORTE,Dispersión-20240101.xlsx,2024-01-01,2024-01-01,A935WHWRG_2024-01-01
1,LEDGER_TRAD,084a9e0c-e42e-48a7-a8f3-2ca27af4a296,NaN,NaN,APR7W7D4X,2024-01-01,"2,502.64",Pago del día,BBVA BANCOMER,Porfirio Diaz velazquez,012180015286019543,ERROR,NaN,01. First_batch,BANORTE,Dispersión-20240101.xlsx,2024-01-01,2024-01-01,APR7W7D4X_2024-01-01
2,LEDGER_TRAD,0a00f802-ff5a-49c6-8ad6-693c5b544f3f,NaN,NaN,AR3LJGSXN,2024-01-01,"1,612.24",Pago del día,CAJA POP MEXICA,Juan Pablo Cruz Martinez,677248044011352464,ERROR,NaN,01. First_batch,BANORTE,Dispersión-20240101.xlsx,2024-01-01,2024-01-01,AR3LJGSXN_2024-01-01
3,LEDGER_TRAD,0db5a402-c0ef-4efa-ba81-f5ded327b01b,NaN,NaN,ARHPK56L6,2024-01-01,670.76,Pago del día,CAJA POP MEXICA,Juan Alberto Lopez Gomez,677225043224574231,ERROR,NaN,01. First_batch,BANORTE,Dispersión-20240101.xlsx,2024-01-01,2024-01-01,ARHPK56L6_2024-01-01
4,LEDGER_TRAD,0f212a5b-8ee5-41bf-8872-cf478d87e420,NaN,NaN,AKJD62RC8,2024-01-01,"4,233.56",Pago del día,BBVA BANCOMER,Liping He,012685015125029898,ERROR,NaN,01. First_batch,BANORTE,Dispersión-20240101.xlsx,2024-01-01,2024-01-01,AKJD62RC8_2024-01-01

In [5]:
sf_final.shape

(2974752, 19)

# DEVOLUCIONES

In [6]:
dev_total = pd.concat([pd.read_excel(f,sheet_name='ERROR').assign(file_name=os.path.basename(f)) for f in trad_files])
dev_total['date'] = dev_total["file_name"].str[-13:-5]
dev_total['date']= pd.to_datetime(dev_total['date'], format='%Y%m%d').dt.date
dev_total['date']= pd.to_datetime(dev_total['date'])
dev_total['report_date_local']= pd.to_datetime(dev_total['report_date_local'])
dev_total.head()

,type,merchant_id,merchant_name,user_email,report_id,report_date_local,total_due,tipo,bank,Batch_time,Check,error_description,file_name,date
0,LEDGER_TRAD,03c36e07-4550-4a03-addc-23932ed78f86,NaN,NaN,A935WHWRG,2024-01-01,267.34,Pago del día,BBVA BANCOMER,01. First_batch,SPEI DEVUELTO,DEV.SPEICUENTA BLOQUEADA,Dispersión-20240101.xlsx,2024-01-01
1,LEDGER_TRAD,737fa81b-5dab-43b8-b758-f17a23e846da,NaN,NaN,A5FH67DZ7,2024-01-01,"18,515.18",Pago del día,BBVA BANCOMER,01. First_batch,SPEI DEVUELTO,DEV.SPEICUENTA BLOQUEADA,Dispersión-20240101.xlsx,2024-01-01
2,LEDGER_TRAD,7dff70e4-895c-4e68-bc3a-9efbee8396be,NaN,NaN,AK4FWMDXM,2024-01-01,"1,865.68",Pago del día,AZTECA,01. First_batch,SPEI DEVUELTO,DEV.SPEICUENTA INEXISTENTE,Dispersión-20240101.xlsx,2024-01-01
3,LEDGER_TRAD,827cca41-c0f7-4c76-b4b1-f0ca2f316152,NaN,NaN,ACS7RVXD4,2024-01-01,86.24,Pago del día,CAJA POP MEXICA,01. First_batch,SPEI DEVUELTO,BANCO RECEPTOR ESTA DESCONECTADO,Dispersión-20240101.xlsx,2024-01-01
4,LEDGER_TRAD,84d50c2e-3e32-4a7f-8d70-6222ebb5f00c,NaN,NaN,A7WT4S4CY,2024-01-01,"8,335.73",Pago del día,BANORTE/IXE,01. First_batch,SPEI DEVUELTO,NO PUEDE REALIZARSE LA OPERACION. YA ESTA BLOQ...,Dispersión-20240101.xlsx,2024-01-01

In [7]:
dev_total.shape

(7706, 14)

In [8]:
dev_total['tipo'].unique()

array(['Pago del día', 'Reprogramación'], dtype=object)

### DEVOLUCIONES TOTALES

In [9]:
dev_total_pivot = pd.pivot_table(dev_total,index=["date"],values=['total_due'],aggfunc = ['sum', len],margins=True)
dev_total_pivot.reset_index(drop=False, inplace=True)
dev_total_pivot.head()

                  date        sum       len
                        total_due total_due
0  2024-01-01 00:00:00 593,891.75        79
1  2024-01-02 00:00:00 233,426.51        56
2  2024-01-03 00:00:00 692,869.96        89
3  2024-01-04 00:00:00 322,382.54        91
4  2024-01-05 00:00:00 327,604.99       115

In [10]:
dev_total_pivot.shape

(32, 3)

### DEVOLUCIONES PAGO DEL DIA

In [11]:
dev_dia = dev_total[(dev_total['tipo'] == 'Pago del día')]

In [12]:
dev_dia_pivot = pd.pivot_table(dev_dia,index=["date"],values=['total_due'],aggfunc = ['sum', len],margins=True)
dev_dia_pivot.reset_index(drop=False, inplace=True)
dev_dia_pivot.head()

                  date        sum       len
                        total_due total_due
0  2024-01-01 00:00:00 537,058.53        70
1  2024-01-02 00:00:00  84,926.10        29
2  2024-01-03 00:00:00 209,747.89        67
3  2024-01-04 00:00:00 228,207.66        80
4  2024-01-05 00:00:00 272,569.79        97

In [13]:
dev_dia_pivot.shape

(32, 3)

### DEVOLUCIONES REPROGRAMACION

In [14]:
dev_repro = dev_total[(dev_total['tipo'] == 'Reprogramación')]

In [15]:
dev_repro_pivot = pd.pivot_table(dev_repro,index=["date"],values=['total_due'],aggfunc = ['sum', len],margins=True)
dev_repro_pivot.reset_index(drop=False, inplace=True)
dev_repro_pivot.head()

                  date        sum       len
                        total_due total_due
0  2024-01-01 00:00:00  56,833.22         9
1  2024-01-02 00:00:00 148,500.41        27
2  2024-01-03 00:00:00 483,122.07        22
3  2024-01-04 00:00:00  94,174.88        11
4  2024-01-05 00:00:00  55,035.20        18

In [16]:
dev_repro_pivot.shape

(31, 3)

## EXCEL DEVOLUCIONES

In [17]:
writer = pd.ExcelWriter('ERROR ENERO 2024.xlsx',
                        engine='xlsxwriter',
                        engine_kwargs={'options': {'encoding':'utf-8'}})
dev_total_pivot.to_excel(writer, sheet_name='TOTAL ERROR')
dev_dia_pivot.to_excel(writer, sheet_name='PAGO DEL DIA')
dev_repro_pivot.to_excel(writer, sheet_name='REPROGRAMACION')
writer.close()

# L&R DEL DIA

In [18]:
# lr_1 = pd.read_excel(r'C:\Users\Cristian.Aparicio\Google Drive\Settlement\1.-Resultado-dispersión\2020\8.-AGOSTO\Dispersión-20200801.xlsx', sheet_name='L&R del día', converters={'CLABE':str,'report_id':str})

In [19]:
# lr_dia = pd.concat([lr_1])
# lr_dia.head()

In [20]:
# lr_dia.shape

In [21]:
# writer = pd.ExcelWriter('L&R del dia_AGOSTO.xlsx', engine='xlsxwriter', options={'encoding':'utf-8'})
# lr_dia.to_excel(writer, sheet_name='LR DIA', index=False)
# writer.save()
# writer.close()

# MANUALES

In [22]:
file_manual = glob.glob(r'G:\.shortcut-targets-by-id\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\3.-Settlement\5.-HISTORICO FILES PAGOS\01. TRADICIONAL\2024\01. JANUARY\MANUALES\*.xlsx', recursive=False)
file_manual

['G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2024\\01. JANUARY\\MANUALES\\Manuales 2024.01.01 - 2024.01.31.xlsx']

In [23]:
manuales_all = pd.concat([pd.read_excel(f,sheet_name='Formato Pago Manual',skiprows=1
                                      ,converters={'Cta. CLABE de depósito':str,'report_id':str})
                          .assign(file_name=os.path.basename(f)) for f in file_manual])
manuales_all['Date']= pd.to_datetime(manuales_all['Date'])  
manuales_all['Tipo'] = 'MANUAL'

In [24]:
manuales = manuales_all[(manuales_all['Date'] >= start_date) & (manuales_all['Date'] <= final_date)]
manuales.head()

,Unnamed: 0,Solicitante,Area,Fecha de solicitud,Hora,Link del Ticket(s),Justificación para el pago,ME ID,Report ID,(mxn),...,Vobo Directora CH,Fecha.1,Vobo Finanzas,Date,Tipo de pago,Confirmación de pago,Fecha de pago,Evidencia de pago,file_name,Tipo
0,1602,Patricia Cruz,Back Office,15/01/2024,12:42:00,solicitud por correo,Re: SOP-SOP-15735 / SOP-15729 || Solicitud de ...,60276b7d-9523-4d28-9268-29655ab55d98,NaN,"2,122.74",...,na,NaN,NaN,2024-01-17,NaN,NaN,NaN,NaN,Manuales 2024.01.01 - 2024.01.31.xlsx,MANUAL
1,1603,Patricia Cruz,Back Office,17/01/2024,13:09:00,solicitud por correo,Re: SOP-SOP-15735 / SOP-15729 || Solicitud de ...,dc1c1ba2-0bff-40c6-82e1-405f9f0ee8d8,NaN,"2,899.08",...,na,NaN,NaN,2024-01-17,NaN,NaN,NaN,NaN,Manuales 2024.01.01 - 2024.01.31.xlsx,MANUAL
2,1604,Patricia Cruz,Back Office,17/01/2024,13:09:00,solicitud por correo,Re: SOP-SOP-15735 / SOP-15729 || Solicitud de ...,60276b7d-9523-4d28-9268-29655ab55d98,NaN,485.15,...,na,NaN,NaN,2024-01-18,NaN,NaN,NaN,NaN,Manuales 2024.01.01 - 2024.01.31.xlsx,MANUAL
3,1605,Patricia Cruz,Back Office,18/01/2024,15:42:00,Sales force,2384796,588ed3b3-d64a-4f01-998e-a819bb2dd1eb,QE8TGPF,283.64,...,na,NaN,NaN,2024-01-25,NaN,NaN,NaN,NaN,Manuales 2024.01.01 - 2024.01.31.xlsx,MANUAL
4,1606,Patricia Cruz,Back Office,18/01/2024,15:42:00,Sales force,2384796,588ed3b3-d64a-4f01-998e-a819bb2dd1eb,K7S0VRZ,881.58,...,na,NaN,NaN,2024-01-25,NaN,NaN,NaN,NaN,Manuales 2024.01.01 - 2024.01.31.xlsx,MANUAL

In [25]:
manuales_final = manuales[['Date','ME ID','ME NAME',' (mxn)','Banco','Justificación para el pago','Tipo','Report ID']]
manuales_final.head()

,Date,ME ID,ME NAME,(mxn),Banco,Justificación para el pago,Tipo,Report ID
0,2024-01-17,60276b7d-9523-4d28-9268-29655ab55d98,NaN,"2,122.74",Kuspit Casa de Bolsa,Re: SOP-SOP-15735 / SOP-15729 || Solicitud de ...,MANUAL,NaN
1,2024-01-17,dc1c1ba2-0bff-40c6-82e1-405f9f0ee8d8,NaN,"2,899.08",Opciones Empresariales Del Noreste,Re: SOP-SOP-15735 / SOP-15729 || Solicitud de ...,MANUAL,NaN
2,2024-01-18,60276b7d-9523-4d28-9268-29655ab55d98,NaN,485.15,Kuspit Casa de Bolsa,Re: SOP-SOP-15735 / SOP-15729 || Solicitud de ...,MANUAL,NaN
3,2024-01-25,588ed3b3-d64a-4f01-998e-a819bb2dd1eb,NaN,283.64,"BBVA Bancomer, S.A.",2384796,MANUAL,QE8TGPF
4,2024-01-25,588ed3b3-d64a-4f01-998e-a819bb2dd1eb,NaN,881.58,"BBVA Bancomer, S.A.",2384796,MANUAL,K7S0VRZ

In [26]:
manuales_final.shape

(29, 8)

In [27]:
writer = pd.ExcelWriter('MANUALES ENERO 2024.xlsx',
                        engine='xlsxwriter',
                        engine_kwargs={'options': {'encoding':'utf-8'}})
manuales_final.to_excel(writer, sheet_name='MANUALES', index=False)
writer.close()

# RESPUESTAS SWAP

In [28]:
resp_trad = glob.glob(r'G:\.shortcut-targets-by-id\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\3.-Settlement\Respuestas Swap\2024\01. Enero 2024\*.csv', recursive=False)
resp_trad

['G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\Respuestas Swap\\2024\\01. Enero 2024\\Respuesta 2024-01-01.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\Respuestas Swap\\2024\\01. Enero 2024\\Respuesta 2024-01-02.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\Respuestas Swap\\2024\\01. Enero 2024\\Respuesta 2024-01-03.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\Respuestas Swap\\2024\\01. Enero 2024\\Respuesta 2024-01-04.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\Respuestas Swap\\2024\\01. Enero 2024\\Respuesta 2024-01-05.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\Respuestas Swap\\2024\\01. Enero 2024\\Respuesta 2024-01-06.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\Respuestas Swap\\2024\\01. Enero 2024\\Respuesta 2024-01-07.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\Respuestas Swap\\2024\\01. Enero 2024\\Respuesta 2024-01-08.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\Respuestas Swap\\2024\\01. Enero 2024\\Respuesta 2024-01-09.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\Respuestas Swap\\2024\\01. Enero 2024\\Respuesta 2024-01-10.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\Respuestas Swap\\2024\\01. Enero 2024\\Respuesta 2024-01-11.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\Respuestas Swap\\2024\\01. Enero 2024\\Respuesta 2024-01-12.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\Respuestas Swap\\2024\\01. Enero 2024\\Respuesta 2024-01-13.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\Respuestas Swap\\2024\\01. Enero 2024\\Respuesta 2024-01-14.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\Respuestas Swap\\2024\\01. Enero 2024\\Respuesta 2024-01-15.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\Respuestas Swap\\2024\\01. Enero 2024\\Respuesta 2024-01-16.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\Respuestas Swap\\2024\\01. Enero 2024\\Respuesta 2024-01-17.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\Respuestas Swap\\2024\\01. Enero 2024\\Respuesta 2024-01-18.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\Respuestas Swap\\2024\\01. Enero 2024\\Respuesta 2024-01-19.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\Respuestas Swap\\2024\\01. Enero 2024\\Respuesta 2024-01-20.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\Respuestas Swap\\2024\\01. Enero 2024\\Respuesta 2024-01-21.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\Respuestas Swap\\2024\\01. Enero 2024\\Respuesta 2024-01-22.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\Respuestas Swap\\2024\\01. Enero 2024\\Respuesta 2024-01-23.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\Respuestas Swap\\2024\\01. Enero 2024\\Respuesta 2024-01-24.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\Respuestas Swap\\2024\\01. Enero 2024\\Respuesta 2024-01-25.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\Respuestas Swap\\2024\\01. Enero 2024\\Respuesta 2024-01-26.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\Respuestas Swap\\2024\\01. Enero 2024\\Respuesta 2024-01-27.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\Respuestas Swap\\2024\\01. Enero 2024\\Respuesta 2024-01-28.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\Respuestas Swap\\2024\\01. Enero 2024\\Respuesta 2024-01-29.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\Respuestas Swap\\2024\\01. Enero 2024\\Respuesta 2024-01-30.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\Respuestas Swap\\2024\\01. Enero 2024\\Respuesta 2024-01-31.csv']

In [29]:
rs_final = pd.concat([pd.read_csv(f).assign(file_name=os.path.basename(f)) for f in resp_trad])
rs_final['report_id'] = rs_final['report_id'].replace(' ', '',regex=True)
rs_final['Date_respuesta_index'] = rs_final['Date_respuesta'].astype(str)
rs_final['INDEX']= rs_final['report_id'] + '_' + rs_final['Date_respuesta_index']
rs_final.head()

C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_19328\366693088.py:1: DtypeWarning: Columns (8) have mixed types. Specify dtype option on import or set low_memory=False.
  rs_final = pd.concat([pd.read_csv(f).assign(file_name=os.path.basename(f)) for f in resp_trad])
C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_19328\366693088.py:1: DtypeWarning: Columns (8) have mixed types. Specify dtype option on import or set low_memory=False.
  rs_final = pd.concat([pd.read_csv(f).assign(file_name=os.path.basename(f)) for f in resp_trad])

,Rastreo CEP,Nombre,report_id,Cuenta,Banco,Importe,Comision,Estatus,Mensaje,Date_respuesta,Batch_time,Metodo de dispersion,file_name,Date_respuesta_index,INDEX
0,NaN,Marco Antonio Bello Serrano,ANGQHNPVT,'677245044147354368,CAJA POP MEXICA,383.30,NaN,ERROR,BANCO RECEPTOR ESTA DESCONECTADO,2024-01-01,01. First_batch,BANORTE,Respuesta 2024-01-01.csv,2024-01-01,ANGQHNPVT_2024-01-01
1,NaN,Maria Enriqueta Caballero Lopez,ACJLCKNF6,'677611044424465779,CAJA POP MEXICA,894.52,NaN,ERROR,BANCO RECEPTOR ESTA DESCONECTADO,2024-01-01,02. Second_batch,BANORTE,Respuesta 2024-01-01.csv,2024-01-01,ACJLCKNF6_2024-01-01
2,NaN,Carlos luna López,AWNWMV2F3,'072580011060378332,BANORTE/IXE,"2,141.68",NaN,ERROR,LA CUENTA DESTINO EXCEDE EL LIMITE DE DEPOSITO...,2024-01-01,02. Second_batch,BANORTE,Respuesta 2024-01-01.csv,2024-01-01,AWNWMV2F3_2024-01-01
3,42644264202401012759770224,Axel Rosa Garcia,ADZ6BX9DW,'012180015504355413,BBVA BANCOMER,"31,756.12",NaN,ERROR,DEV.SPEIEXCEDE EL LNMITE DE SA,2024-01-01,01. First_batch,BANORTE,Respuesta 2024-01-01.csv,2024-01-01,ADZ6BX9DW_2024-01-01
4,NaN,Carlos luna López,AB64FTQHR,'072580011060378332,BANORTE/IXE,"5,260.73",NaN,ERROR,LA CUENTA DESTINO EXCEDE EL LIMITE DE DEPOSITO...,2024-01-01,02. Second_batch,BANORTE,Respuesta 2024-01-01.csv,2024-01-01,AB64FTQHR_2024-01-01

In [30]:
rs_final.shape

(2974752, 15)

In [31]:
all_respuestas = rs_final.merge(sf_final[['INDEX', 'user_email','merchant_name','report_date_local']],
                                on='INDEX',how='left')
all_respuestas['Date_respuesta'] = pd.to_datetime(all_respuestas['Date_respuesta']) 
all_respuestas.head()

,Rastreo CEP,Nombre,report_id,Cuenta,Banco,Importe,Comision,Estatus,Mensaje,Date_respuesta,Batch_time,Metodo de dispersion,file_name,Date_respuesta_index,INDEX,user_email,merchant_name,report_date_local
0,NaN,Marco Antonio Bello Serrano,ANGQHNPVT,'677245044147354368,CAJA POP MEXICA,383.30,NaN,ERROR,BANCO RECEPTOR ESTA DESCONECTADO,2024-01-01,01. First_batch,BANORTE,Respuesta 2024-01-01.csv,2024-01-01,ANGQHNPVT_2024-01-01,NaN,NaN,2024-01-01
1,NaN,Marco Antonio Bello Serrano,ANGQHNPVT,'677245044147354368,CAJA POP MEXICA,383.30,NaN,ERROR,BANCO RECEPTOR ESTA DESCONECTADO,2024-01-01,01. First_batch,BANORTE,Respuesta 2024-01-01.csv,2024-01-01,ANGQHNPVT_2024-01-01,NaN,NaN,2024-01-01
2,NaN,Maria Enriqueta Caballero Lopez,ACJLCKNF6,'677611044424465779,CAJA POP MEXICA,894.52,NaN,ERROR,BANCO RECEPTOR ESTA DESCONECTADO,2024-01-01,02. Second_batch,BANORTE,Respuesta 2024-01-01.csv,2024-01-01,ACJLCKNF6_2024-01-01,NaN,NaN,2024-01-01
3,NaN,Maria Enriqueta Caballero Lopez,ACJLCKNF6,'677611044424465779,CAJA POP MEXICA,894.52,NaN,ERROR,BANCO RECEPTOR ESTA DESCONECTADO,2024-01-01,02. Second_batch,BANORTE,Respuesta 2024-01-01.csv,2024-01-01,ACJLCKNF6_2024-01-01,NaN,NaN,2024-01-01
4,NaN,Carlos luna López,AWNWMV2F3,'072580011060378332,BANORTE/IXE,"2,141.68",NaN,ERROR,LA CUENTA DESTINO EXCEDE EL LIMITE DE DEPOSITO...,2024-01-01,02. Second_batch,BANORTE,Respuesta 2024-01-01.csv,2024-01-01,AWNWMV2F3_2024-01-01,NaN,NaN,2023-12-20

In [32]:
all_respuestas.shape

(2974860, 18)

## SWAP

In [33]:
# swap = all_respuestas[(all_respuestas['Metodo de dispersion'] == 'SWAP')]

In [34]:
# swap['COMISION SIN IVA'] = 1.85
# swap['IVA'] = swap['COMISION SIN IVA'] * 0.16
# swap['COMISION'] = swap['COMISION SIN IVA'] + swap['IVA']
# swap.head()

In [35]:
# swap.shape

## BANORTE

In [36]:
bnte = rs_final[(rs_final['Metodo de dispersion'] == 'BANORTE')]

In [37]:
bnte.loc[bnte['Banco'] == 'BANORTE/IXE', "COMISION SIN IVA"] = 1.05
bnte.loc[bnte['Banco'] != 'BANORTE/IXE', "COMISION SIN IVA"] = 1.80

C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_19328\2707229720.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bnte.loc[bnte['Banco'] == 'BANORTE/IXE', "COMISION SIN IVA"] = 1.05

In [38]:
bnte['IVA'] = bnte['COMISION SIN IVA'] * 0.16
bnte['COMISION'] = bnte['COMISION SIN IVA'] + bnte['IVA']
bnte.head()

C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_19328\463632162.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bnte['IVA'] = bnte['COMISION SIN IVA'] * 0.16
C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_19328\463632162.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bnte['COMISION'] = bnte['COMISION SIN IVA'] + bnte['IVA']

,Rastreo CEP,Nombre,report_id,Cuenta,Banco,Importe,Comision,Estatus,Mensaje,Date_respuesta,Batch_time,Metodo de dispersion,file_name,Date_respuesta_index,INDEX,COMISION SIN IVA,IVA,COMISION
0,NaN,Marco Antonio Bello Serrano,ANGQHNPVT,'677245044147354368,CAJA POP MEXICA,383.30,NaN,ERROR,BANCO RECEPTOR ESTA DESCONECTADO,2024-01-01,01. First_batch,BANORTE,Respuesta 2024-01-01.csv,2024-01-01,ANGQHNPVT_2024-01-01,1.80,0.29,2.09
1,NaN,Maria Enriqueta Caballero Lopez,ACJLCKNF6,'677611044424465779,CAJA POP MEXICA,894.52,NaN,ERROR,BANCO RECEPTOR ESTA DESCONECTADO,2024-01-01,02. Second_batch,BANORTE,Respuesta 2024-01-01.csv,2024-01-01,ACJLCKNF6_2024-01-01,1.80,0.29,2.09
2,NaN,Carlos luna López,AWNWMV2F3,'072580011060378332,BANORTE/IXE,"2,141.68",NaN,ERROR,LA CUENTA DESTINO EXCEDE EL LIMITE DE DEPOSITO...,2024-01-01,02. Second_batch,BANORTE,Respuesta 2024-01-01.csv,2024-01-01,AWNWMV2F3_2024-01-01,1.05,0.17,1.22
3,42644264202401012759770224,Axel Rosa Garcia,ADZ6BX9DW,'012180015504355413,BBVA BANCOMER,"31,756.12",NaN,ERROR,DEV.SPEIEXCEDE EL LNMITE DE SA,2024-01-01,01. First_batch,BANORTE,Respuesta 2024-01-01.csv,2024-01-01,ADZ6BX9DW_2024-01-01,1.80,0.29,2.09
4,NaN,Carlos luna López,AB64FTQHR,'072580011060378332,BANORTE/IXE,"5,260.73",NaN,ERROR,LA CUENTA DESTINO EXCEDE EL LIMITE DE DEPOSITO...,2024-01-01,02. Second_batch,BANORTE,Respuesta 2024-01-01.csv,2024-01-01,AB64FTQHR_2024-01-01,1.05,0.17,1.22

In [39]:
bnte.shape

(957888, 18)

# SANTANDER

In [40]:
sant = rs_final[(rs_final['Metodo de dispersion'] == 'SANTANDER')]

In [41]:
sant.loc[sant['Banco'] == 'SANTANDER', "COMISION SIN IVA"] = 0.50
sant.loc[sant['Banco'] != 'SANTANDER', "COMISION SIN IVA"] = 0.50

C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_19328\2394002263.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sant.loc[sant['Banco'] == 'SANTANDER', "COMISION SIN IVA"] = 0.50

In [42]:
sant['IVA'] = sant['COMISION SIN IVA'] * 0.16
sant['COMISION'] = sant['COMISION SIN IVA'] + sant['IVA']
sant.head()

C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_19328\15725774.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sant['IVA'] = sant['COMISION SIN IVA'] * 0.16
C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_19328\15725774.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sant['COMISION'] = sant['COMISION SIN IVA'] + sant['IVA']

,Rastreo CEP,Nombre,report_id,Cuenta,Banco,Importe,Comision,Estatus,Mensaje,Date_respuesta,Batch_time,Metodo de dispersion,file_name,Date_respuesta_index,INDEX,COMISION SIN IVA,IVA,COMISION
0,20240102400140HDH0001468941570,Hortencia Prez,ASFNSD4WZ,'002975010114829229,BANAMEX,"1,973.98",NaN,ERROR,DEVOLUCION(06): Cuenta no pertenece al Partici...,2024-01-02,01. First_batch,SANTANDER,Respuesta 2024-01-02.csv,2024-01-02,ASFNSD4WZ_2024-01-02,0.50,0.08,0.58
1,20240102400140HDH0001468703930,Cirilo Armando Martinez Bello,ARZ5YT83V,'012672004670792306,BBVA BANCOMER,483.91,NaN,ERROR,DEVOLUCION(02): Cuenta bloqueada 012672...,2024-01-02,01. First_batch,SANTANDER,Respuesta 2024-01-02.csv,2024-01-02,ARZ5YT83V_2024-01-02,0.50,0.08,0.58
2,20240102400140HDH0001469238690,Hilda Grisel Sosa Soto,AP82H2H6S,'072580011764282656,BANORTE/IXE,"2,003.68",NaN,ERROR,DEVOLUCION(21): Excede el limite de abonos per...,2024-01-02,01. First_batch,SANTANDER,Respuesta 2024-01-02.csv,2024-01-02,AP82H2H6S_2024-01-02,0.50,0.08,0.58
3,NaN,Alexis Quintero,ASWDVVTC7,'014320567615534031,SANTANDER,24.91,NaN,ERROR,W5,2024-01-02,01. First_batch,SANTANDER,Respuesta 2024-01-02.csv,2024-01-02,ASWDVVTC7_2024-01-02,0.50,0.08,0.58
5,18CCCBBB73534C9E,Ahtziri georgette miralrio luna,AMNG4HL89,'127437001194618510,AZTECA,"1,258.16",NaN,ERROR,/21/CB Return Blocked account (BNMX_RET_2) /SB...,2024-01-02,01. First_batch,SANTANDER,Respuesta 2024-01-02.csv,2024-01-02,AMNG4HL89_2024-01-02,0.50,0.08,0.58

In [43]:
sant.shape

(2016864, 18)

## ALL RESPUESTAS

In [44]:
respuestas_conc = pd.concat([bnte,sant])
respuestas_conc.sort_values(['Date_respuesta','Estatus'], inplace=True)

In [45]:
respuestas_final = respuestas_conc[['Date_respuesta','report_id','Nombre','Importe','COMISION','COMISION SIN IVA'
                                    ,'IVA','Estatus','Banco','Metodo de dispersion']]
respuestas_final.head()

,Date_respuesta,report_id,Nombre,Importe,COMISION,COMISION SIN IVA,IVA,Estatus,Banco,Metodo de dispersion
0,2024-01-01,ANGQHNPVT,Marco Antonio Bello Serrano,383.30,2.09,1.80,0.29,ERROR,CAJA POP MEXICA,BANORTE
1,2024-01-01,ACJLCKNF6,Maria Enriqueta Caballero Lopez,894.52,2.09,1.80,0.29,ERROR,CAJA POP MEXICA,BANORTE
2,2024-01-01,AWNWMV2F3,Carlos luna López,"2,141.68",1.22,1.05,0.17,ERROR,BANORTE/IXE,BANORTE
3,2024-01-01,ADZ6BX9DW,Axel Rosa Garcia,"31,756.12",2.09,1.80,0.29,ERROR,BBVA BANCOMER,BANORTE
4,2024-01-01,AB64FTQHR,Carlos luna López,"5,260.73",1.22,1.05,0.17,ERROR,BANORTE/IXE,BANORTE

In [46]:
respuestas_final.shape

(2974752, 10)

### PIVOT SWAP

In [47]:
# respuestas_final_swap = respuestas_final[(respuestas_final['Metodo de dispersion'] == 'SWAP')]
# respuestas_final_swap.head()

In [48]:
# respuestas_final_swap.shape

In [49]:
# def error_final_swap(respuestas_final_swap):
#     if respuestas_final_swap['Estatus'] == 'paid':
#         return 'PAID'
#     elif respuestas_final_swap['Estatus'] == 'PAID':
#         return 'PAID'
#     else:
#         return 'ERROR'
    
# respuestas_final_swap['Estatus_final'] = respuestas_final_swap.apply(error_final_swap, axis=1)

In [50]:
# pt_swap = pd.pivot_table(respuestas_final_swap,index=['Date_respuesta','Estatus_final']
#                          ,values=["Importe",'COMISION',"COMISION SIN IVA",'IVA']
#                          ,aggfunc=np.sum)
# pt_swap = pt_swap.reset_index(drop=False)
# pt_swap.head()

In [51]:
# pt_swap.shape

### PIVOT BNTE

In [52]:
respuestas_final_bnte = respuestas_final[(respuestas_final['Metodo de dispersion'] == 'BANORTE')]
respuestas_final_bnte.head()

,Date_respuesta,report_id,Nombre,Importe,COMISION,COMISION SIN IVA,IVA,Estatus,Banco,Metodo de dispersion
0,2024-01-01,ANGQHNPVT,Marco Antonio Bello Serrano,383.30,2.09,1.80,0.29,ERROR,CAJA POP MEXICA,BANORTE
1,2024-01-01,ACJLCKNF6,Maria Enriqueta Caballero Lopez,894.52,2.09,1.80,0.29,ERROR,CAJA POP MEXICA,BANORTE
2,2024-01-01,AWNWMV2F3,Carlos luna López,"2,141.68",1.22,1.05,0.17,ERROR,BANORTE/IXE,BANORTE
3,2024-01-01,ADZ6BX9DW,Axel Rosa Garcia,"31,756.12",2.09,1.80,0.29,ERROR,BBVA BANCOMER,BANORTE
4,2024-01-01,AB64FTQHR,Carlos luna López,"5,260.73",1.22,1.05,0.17,ERROR,BANORTE/IXE,BANORTE

In [53]:
respuestas_final_bnte.shape

(957888, 10)

In [54]:
def error_final_bnte(respuestas_final_bnte):
    if respuestas_final_bnte['Estatus'] == 'PAID':
        return 'PAID'
    else:
        return 'ERROR'
    
respuestas_final_bnte['Estatus_final'] = respuestas_final_bnte.apply(error_final_bnte, axis=1)

C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_19328\2961879508.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  respuestas_final_bnte['Estatus_final'] = respuestas_final_bnte.apply(error_final_bnte, axis=1)

In [55]:
pt_bnte = pd.pivot_table(respuestas_final_bnte,index=['Date_respuesta','Estatus_final']
                         ,values=["Importe",'COMISION',"COMISION SIN IVA",'IVA']
                         ,aggfunc=np.sum)
pt_bnte = pt_bnte.reset_index(drop=False)
pt_bnte.head()

C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_19328\2755199912.py:1: FutureWarning: The provided callable <function sum at 0x000001F30568AD30> is currently using DataFrameGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  pt_bnte = pd.pivot_table(respuestas_final_bnte,index=['Date_respuesta','Estatus_final']

,Date_respuesta,Estatus_final,COMISION,COMISION SIN IVA,IVA,Importe
0,2024-01-01,ERROR,150.16,129.45,20.71,"593,891.75"
1,2024-01-01,PAID,"147,485.01","127,142.25","20,342.76","233,965,876.09"
2,2024-01-02,ERROR,18.79,16.20,2.59,"3,651.20"
3,2024-01-02,PAID,"1,346.24","1,160.55",185.69,"597,135.54"
4,2024-01-03,ERROR,39.67,34.20,5.47,"476,208.35"

In [56]:
pt_bnte.shape

(62, 6)

### PIVOT SANTANDER

In [57]:
respuestas_final_sant = respuestas_final[(respuestas_final['Metodo de dispersion'] == 'SANTANDER')]
respuestas_final_sant.head()

,Date_respuesta,report_id,Nombre,Importe,COMISION,COMISION SIN IVA,IVA,Estatus,Banco,Metodo de dispersion
0,2024-01-02,ASFNSD4WZ,Hortencia Prez,"1,973.98",0.58,0.50,0.08,ERROR,BANAMEX,SANTANDER
1,2024-01-02,ARZ5YT83V,Cirilo Armando Martinez Bello,483.91,0.58,0.50,0.08,ERROR,BBVA BANCOMER,SANTANDER
2,2024-01-02,AP82H2H6S,Hilda Grisel Sosa Soto,"2,003.68",0.58,0.50,0.08,ERROR,BANORTE/IXE,SANTANDER
3,2024-01-02,ASWDVVTC7,Alexis Quintero,24.91,0.58,0.50,0.08,ERROR,SANTANDER,SANTANDER
5,2024-01-02,AMNG4HL89,Ahtziri georgette miralrio luna,"1,258.16",0.58,0.50,0.08,ERROR,AZTECA,SANTANDER

In [58]:
respuestas_final_sant.shape

(2016864, 10)

In [59]:
def error_final_sant(respuestas_final_sant):
    if respuestas_final_sant['Estatus'] == 'PAID':
        return 'PAID'
    else:
        return 'ERROR'
    
respuestas_final_sant['Estatus_final'] = respuestas_final_sant.apply(error_final_sant, axis=1)

C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_19328\1667251981.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  respuestas_final_sant['Estatus_final'] = respuestas_final_sant.apply(error_final_sant, axis=1)

In [60]:
pt_sant = pd.pivot_table(respuestas_final_sant,index=['Date_respuesta','Estatus_final']
                         ,values=["Importe",'COMISION',"COMISION SIN IVA",'IVA']
                         ,aggfunc=np.sum)
pt_sant = pt_sant.reset_index(drop=False)
pt_sant.head()

C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_19328\156944804.py:1: FutureWarning: The provided callable <function sum at 0x000001F30568AD30> is currently using DataFrameGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  pt_sant = pd.pivot_table(respuestas_final_sant,index=['Date_respuesta','Estatus_final']

,Date_respuesta,Estatus_final,COMISION,COMISION SIN IVA,IVA,Importe
0,2024-01-02,ERROR,27.26,23.50,3.76,"229,775.31"
1,2024-01-02,PAID,"20,613.78","17,770.50","2,843.28","127,092,809.80"
2,2024-01-03,ERROR,40.60,35.00,5.60,"216,661.61"
3,2024-01-03,PAID,"51,642.04","44,519.00","7,123.04","232,182,245.95"
4,2024-01-04,ERROR,51.04,44.00,7.04,"267,465.47"

In [61]:
pt_sant.shape

(44, 6)

### EXCEL FINAL

In [62]:
writer = pd.ExcelWriter('RESPUESTAS ENERO 2024.xlsx',
                        engine='xlsxwriter',
                        engine_kwargs={'options': {'encoding':'utf-8'}})
# pt_swap.to_excel(writer, sheet_name='RESUMEN SWAP', index=False)
pt_bnte.to_excel(writer, sheet_name='RESUMEN BNTE', index=False)
pt_sant.to_excel(writer, sheet_name='RESUMEN SANT', index=False)
writer.close()

In [63]:
#book = load_workbook('Consolidado Swap del dia OCTUBRE.xlsx')
#writer = pd.ExcelWriter('Consolidado Swap del dia OCTUBRE.xlsx', engine='openpyxl', options={'encoding':'utf-8'})
#writer.book = book
#sf19.to_excel(writer, sheet_name='20190927', index=False)
#sf20.to_excel(writer, sheet_name='20190930', index=False)
#writer.save()
#writer.close()