In [1]:
import pandas as pd
import numpy as np
import glob
import os
from openpyxl import load_workbook
pd.options.display.float_format = '{:,.2f}'.format

In [2]:
start_date = '2024-01-01'
final_date = '2024-01-31'

# RUTAS

In [ ]:
email_files = glob.glob(r'G:\My Drive\RESPALDO-PC\DATA EMAILS\*.tsv', recursive=False)
email_files

### DIGITAL ACCOUNT SML

In [3]:
sml_files = glob.glob(r'G:\My Drive\RESPALDO-PC\DYNAMO\2024\01. ENERO\SETTLEMENT MASTER LOG\*.tsv', recursive=False)
sml_files

['G:\\My Drive\\RESPALDO-PC\\DYNAMO\\2024\\01. ENERO\\SETTLEMENT MASTER LOG\\SETTLEMENT_MASTER_LOG_MSI_DATE ENERO 2024.tsv']

### DIGITAL ACCOUNT AP JOURNAL

In [4]:
ap_files = glob.glob(r'G:\My Drive\RESPALDO-PC\DYNAMO\2024\01. ENERO\AP JOURNAL\AP-JOURNAL_DATE*.tsv', recursive=False)
ap_files

['G:\\My Drive\\RESPALDO-PC\\DYNAMO\\2024\\01. ENERO\\AP JOURNAL\\AP-JOURNAL_DATE ENERO 2024.tsv']

### DIGITAL ACCOUNT AP JOURNAL FONDEO

In [ ]:
ap_fondeo_files = glob.glob(r'C:\Users\Cristian.Aparicio\Documents\DIGITAL ACCOUNTS\2024\01. ENERO\QUERIES\AP-JOURNAL-DATA*.csv', recursive=False)
ap_fondeo_files

### DIGITAL ACCOUNT AP-PAYOUTS

In [ ]:
ap_payouts_files = glob.glob(r'C:\Users\Cristian.Aparicio\Documents\DIGITAL ACCOUNTS\2024\01. ENERO\QUERIES\DIGITAL_ACCOUNT_AP_PAY*.csv', recursive=False)
ap_payouts_files

### DIGITAL ACCOUNT MERCHANT ATTRIBUTES

In [ ]:
me_att_files = glob.glob(r'C:\Users\Cristian.Aparicio\Documents\DIGITAL ACCOUNTS\2024\01. ENERO\QUERIES\DIGITAL_ACCOUNT_ME*.csv', recursive=False)
me_att_files

# DATA SETTLEMENT MASTER LOG

In [5]:
sml = pd.concat([pd.read_csv(f,sep='\t').assign(file_name=os.path.basename(f)) for f in sml_files])
sml.columns = sml.columns.str.strip().str.lower()
sml.replace('""','', regex=True, inplace=True)
# sml['created_at'] = pd.to_datetime(sml['created_at']).dt.tz_localize(None)
# sml['eff_dt'] = pd.to_datetime(sml['eff_dt']).dt.tz_localize(None)
# sml.rename(columns={'ref_id':'transaction_id'},inplace=True)
#sml['PK'] = sml['PK'].replace('M#','',inplace=True)
sml.head()

,record_uuid,merchant_id,transaction_id,mvnt_id,mvnt_type,pymt_prg,created_at,eff_dt,psp_amount,gross_amount,...,status_code,status_msg,receipt_no,type,dcc_amount,dcc_rate,dcc_status,cc_nb_currency_code,nu_markup,file_name
0,492eb020-eb61-5694-af70-e018f7a3e56e,73961c21-32ad-4449-b1e4-52c4a3c982cc,459bbc73-853a-4d25-8409-ff087c01deaa,459bbc73-853a-4d25-8409-ff087c01deaa,STL_PCS_RQ,REGULAR_PAYMENT,2024-01-10T23:31:08Z,2024-01-11T05:30:00Z,"2,568.00","2,568.00",...,1.00,Paid,XFXVG19,PAYMENT,NaN,NaN,NaN,NaN,NaN,SETTLEMENT_MASTER_LOG_MSI_DATE ENERO 2024.tsv
1,5167cef9-35f3-5ad5-a1db-bc3ffa38ff8b,dc1c1ba2-0bff-40c6-82e1-405f9f0ee8d8,5b323756-df36-4906-9227-c6eb9f01ef36,5b323756-df36-4906-9227-c6eb9f01ef36,STL_PCS_RQ,REGULAR_PAYMENT,2024-01-10T23:08:40Z,2024-01-11T05:30:00Z,600.00,600.00,...,1.00,Paid,Szk0GRc,PAYMENT,NaN,NaN,NaN,NaN,NaN,SETTLEMENT_MASTER_LOG_MSI_DATE ENERO 2024.tsv
2,516406aa-da43-5ae4-931e-6df42978ee05,1eb96f55-a658-4cc0-b391-d125632888ac,6a97f2b3-c24f-4ea7-8120-63d964769415,6a97f2b3-c24f-4ea7-8120-63d964769415,STL_PCS_RQ,REGULAR_PAYMENT,2024-01-10T23:42:50Z,2024-01-11T05:30:00Z,354.00,354.00,...,1.00,Paid,pyyalb4,PAYMENT,NaN,NaN,NaN,NaN,NaN,SETTLEMENT_MASTER_LOG_MSI_DATE ENERO 2024.tsv
3,4fa926ad-7739-5b5b-b856-560d97513aba,a8328d17-4ce6-4020-a25a-aa31634d2e2e,f35541b5-549a-4a94-92c7-f16485ccc44b,f35541b5-549a-4a94-92c7-f16485ccc44b,STL_PCS_RQ,REGULAR_PAYMENT,2024-01-10T23:34:29Z,2024-01-11T05:30:00Z,83.00,83.00,...,1.00,Paid,8rT0oCt,PAYMENT,NaN,NaN,NaN,NaN,NaN,SETTLEMENT_MASTER_LOG_MSI_DATE ENERO 2024.tsv
4,06551abf-c44e-55b6-8d77-1b760567ee05,28429aef-15c3-4131-b9f8-3cd3b203526c,7458b587-6279-4c80-ba12-7d466702ba03,7458b587-6279-4c80-ba12-7d466702ba03,STL_PCS_RQ,REGULAR_PAYMENT,2024-01-10T23:58:47Z,2024-01-11T05:30:00Z,48.00,48.00,...,1.00,Paid,HHaZ9bF,PAYMENT,NaN,NaN,NaN,NaN,NaN,SETTLEMENT_MASTER_LOG_MSI_DATE ENERO 2024.tsv

In [6]:
sml.shape

(9998453, 26)

In [7]:
sml.dtypes

record_uuid             object
merchant_id             object
transaction_id          object
mvnt_id                 object
mvnt_type               object
pymt_prg                object
created_at              object
eff_dt                  object
psp_amount             float64
gross_amount           float64
fees                   float64
taxes                  float64
net_amount             float64
mdr                    float64
msi                    float64
number_msi             float64
status_code            float64
status_msg              object
receipt_no              object
type                    object
dcc_amount             float64
dcc_rate               float64
dcc_status              object
cc_nb_currency_code     object
nu_markup              float64
file_name               object
dtype: object

In [8]:
sml_final = sml[(sml['mvnt_type'] == 'STL_PCS_RQ')]
sml_final.head()

,record_uuid,merchant_id,transaction_id,mvnt_id,mvnt_type,pymt_prg,created_at,eff_dt,psp_amount,gross_amount,...,status_code,status_msg,receipt_no,type,dcc_amount,dcc_rate,dcc_status,cc_nb_currency_code,nu_markup,file_name
0,492eb020-eb61-5694-af70-e018f7a3e56e,73961c21-32ad-4449-b1e4-52c4a3c982cc,459bbc73-853a-4d25-8409-ff087c01deaa,459bbc73-853a-4d25-8409-ff087c01deaa,STL_PCS_RQ,REGULAR_PAYMENT,2024-01-10T23:31:08Z,2024-01-11T05:30:00Z,"2,568.00","2,568.00",...,1.00,Paid,XFXVG19,PAYMENT,NaN,NaN,NaN,NaN,NaN,SETTLEMENT_MASTER_LOG_MSI_DATE ENERO 2024.tsv
1,5167cef9-35f3-5ad5-a1db-bc3ffa38ff8b,dc1c1ba2-0bff-40c6-82e1-405f9f0ee8d8,5b323756-df36-4906-9227-c6eb9f01ef36,5b323756-df36-4906-9227-c6eb9f01ef36,STL_PCS_RQ,REGULAR_PAYMENT,2024-01-10T23:08:40Z,2024-01-11T05:30:00Z,600.00,600.00,...,1.00,Paid,Szk0GRc,PAYMENT,NaN,NaN,NaN,NaN,NaN,SETTLEMENT_MASTER_LOG_MSI_DATE ENERO 2024.tsv
2,516406aa-da43-5ae4-931e-6df42978ee05,1eb96f55-a658-4cc0-b391-d125632888ac,6a97f2b3-c24f-4ea7-8120-63d964769415,6a97f2b3-c24f-4ea7-8120-63d964769415,STL_PCS_RQ,REGULAR_PAYMENT,2024-01-10T23:42:50Z,2024-01-11T05:30:00Z,354.00,354.00,...,1.00,Paid,pyyalb4,PAYMENT,NaN,NaN,NaN,NaN,NaN,SETTLEMENT_MASTER_LOG_MSI_DATE ENERO 2024.tsv
3,4fa926ad-7739-5b5b-b856-560d97513aba,a8328d17-4ce6-4020-a25a-aa31634d2e2e,f35541b5-549a-4a94-92c7-f16485ccc44b,f35541b5-549a-4a94-92c7-f16485ccc44b,STL_PCS_RQ,REGULAR_PAYMENT,2024-01-10T23:34:29Z,2024-01-11T05:30:00Z,83.00,83.00,...,1.00,Paid,8rT0oCt,PAYMENT,NaN,NaN,NaN,NaN,NaN,SETTLEMENT_MASTER_LOG_MSI_DATE ENERO 2024.tsv
4,06551abf-c44e-55b6-8d77-1b760567ee05,28429aef-15c3-4131-b9f8-3cd3b203526c,7458b587-6279-4c80-ba12-7d466702ba03,7458b587-6279-4c80-ba12-7d466702ba03,STL_PCS_RQ,REGULAR_PAYMENT,2024-01-10T23:58:47Z,2024-01-11T05:30:00Z,48.00,48.00,...,1.00,Paid,HHaZ9bF,PAYMENT,NaN,NaN,NaN,NaN,NaN,SETTLEMENT_MASTER_LOG_MSI_DATE ENERO 2024.tsv

In [9]:
sml_final.shape

(9998453, 26)

In [10]:
duplicates_sml = sml_final[sml_final.duplicated(['mvnt_id'] , keep=False)]
duplicates_sml.head()

Empty DataFrame
Columns: [record_uuid, merchant_id, transaction_id, mvnt_id, mvnt_type, pymt_prg, created_at, eff_dt, psp_amount, gross_amount, fees, taxes, net_amount, mdr, msi, number_msi, status_code, status_msg, receipt_no, type, dcc_amount, dcc_rate, dcc_status, cc_nb_currency_code, nu_markup, file_name]
Index: []

[0 rows x 26 columns]

In [11]:
duplicates_sml.shape

(0, 26)

In [12]:
sorted(list(sml_final['pymt_prg'].unique()))

['DIGITAL_ACCOUNT', 'FAST_PAYMENT', 'REGULAR_PAYMENT']

In [13]:
sml_dig_acc_final = sml[(sml['pymt_prg'] == 'DIGITAL_ACCOUNT')]
sml_dig_acc_final.head()

,record_uuid,merchant_id,transaction_id,mvnt_id,mvnt_type,pymt_prg,created_at,eff_dt,psp_amount,gross_amount,...,status_code,status_msg,receipt_no,type,dcc_amount,dcc_rate,dcc_status,cc_nb_currency_code,nu_markup,file_name
42304,bba156b3-9e40-5a5f-a84c-fe5f0d012b75,11055d4d-be9c-4308-be06-da7501ec94bb,63271f54-0a59-47b0-945d-3d87d3581ff9,63271f54-0a59-47b0-945d-3d87d3581ff9,STL_PCS_RQ,DIGITAL_ACCOUNT,2024-01-05T18:42:13Z,2024-01-06T18:00:00Z,280.00,280.00,...,1.00,Paid,vsSgX35,PAYMENT,NaN,NaN,NaN,NaN,NaN,SETTLEMENT_MASTER_LOG_MSI_DATE ENERO 2024.tsv
49699,41f41f34-a671-52f9-b024-1fa0a23f6acc,13e050a4-91a1-43d1-9eb7-df35c63e7418,c2176a5a-554d-4537-ae7c-8912eeed8a15,c2176a5a-554d-4537-ae7c-8912eeed8a15,STL_PCS_RQ,DIGITAL_ACCOUNT,2024-01-05T12:55:48Z,2024-01-05T12:55:48Z,191.00,191.00,...,1.00,Paid,p5MUfW8,PAYMENT,NaN,NaN,NaN,NaN,NaN,SETTLEMENT_MASTER_LOG_MSI_DATE ENERO 2024.tsv
88800,b1dde906-40f5-5cc4-90c8-aaca78b6cbbe,99d2f794-ec17-4ba4-925b-75db3299f4bb,a3cac821-71b5-4a7b-9467-de3160139b8a,a3cac821-71b5-4a7b-9467-de3160139b8a,STL_PCS_RQ,DIGITAL_ACCOUNT,2024-01-10T12:27:45Z,2024-01-10T12:27:44Z,100.00,100.00,...,1.00,Paid,deAueN2,PAYMENT,NaN,NaN,NaN,NaN,NaN,SETTLEMENT_MASTER_LOG_MSI_DATE ENERO 2024.tsv
92814,f5a1b5c5-bc06-55da-ac9f-4e1b19f09887,0fba7360-6523-456f-84b5-69d1134d5e05,59cd82c3-ea34-4d92-9f9e-295ffa33fece,59cd82c3-ea34-4d92-9f9e-295ffa33fece,STL_PCS_RQ,DIGITAL_ACCOUNT,2024-01-03T21:48:17Z,2024-01-03T21:48:17Z,"10,000.00","10,000.00",...,1.00,Paid,7c75Tav,PAYMENT,NaN,NaN,NaN,NaN,NaN,SETTLEMENT_MASTER_LOG_MSI_DATE ENERO 2024.tsv
118181,7be136d2-896a-5924-97af-e065a544ceb5,e55b709a-f1fc-400f-934d-f0c97763571c,a5395555-74d0-4fa9-9088-46fb34fc758f,a5395555-74d0-4fa9-9088-46fb34fc758f,STL_PCS_RQ,DIGITAL_ACCOUNT,2024-01-08T16:51:02Z,2024-01-08T16:51:01Z,950.00,950.00,...,1.00,Paid,GUk0fKS,PAYMENT,NaN,NaN,NaN,NaN,NaN,SETTLEMENT_MASTER_LOG_MSI_DATE ENERO 2024.tsv

In [14]:
sml_dig_acc_final.shape

(1760, 26)

# DATA AP JOURNAL

In [15]:
ap = pd.concat([pd.read_csv(f, sep='\t').assign(file_name=os.path.basename(f)) for f in ap_files])
ap.columns = ap.columns.str.strip().str.lower()
ap.replace('""','', regex=True, inplace=True)
ap['eff_dt'] =  pd.to_datetime(ap['eff_dt']).dt.tz_localize(None)
ap['eff_dt_date'] =  pd.to_datetime(ap['eff_dt']).dt.date
ap['eff_dt_time'] =  pd.to_datetime(ap['eff_dt']).dt.time
ap['eff_dt_date'] =  pd.to_datetime(ap['eff_dt_date']).dt.tz_localize(None)
ap['movement_day'] = pd.to_datetime(ap['movement_day']).dt.tz_localize(None)
ap['created_at'] = pd.to_datetime(ap['created_at']).dt.tz_localize(None)
ap['request_effective_date'] = pd.to_datetime(ap['request_effective_date']).dt.tz_localize(None)
ap['slot_date'] = pd.to_datetime(ap['slot_date']).dt.tz_localize(None)
# ap['INDEX'] = (ap['eff_dt_date'].astype(str).replace(' ', '',regex=True)+'-'+
#                ap['identifier'].astype(str).replace(' ', '',regex=True)+'-'+
#                ap['eff_dt_time'].astype(str).replace(' ', '',regex=True))
ap.sort_values(by=(['merchant_id','eff_dt']), ascending=[True,False], inplace=True)
ap.head()

,merchant_id,amount,currency,type_request,mvnt_id,movement_type,source_type,created_at,eff_dt,movement_day,request_effective_date,slot_date,file_name,eff_dt_date,eff_dt_time
1,0000275f-d46b-4a9c-a227-42d6f7ce63bd,"-2,874.72",MXN,ALH6V3JL8,b86a1190-e950-32e2-a35e-f2a73f39c970,DISB_RQ,DISB,2024-01-02 07:13:11,2024-01-02 07:13:16,2024-01-02 07:13:09,2024-01-02 07:05:30,1969-12-31 18:00:00,AP-JOURNAL_DATE ENERO 2024.tsv,2024-01-02,07:13:16
0,0000275f-d46b-4a9c-a227-42d6f7ce63bd,"2,874.72",MXN,settlement processor regular payment request,98e7c45d-0f1b-4ea9-a211-773b1a746a85,REGULAR_PYMT_RQ,SETT,2024-01-01 03:59:17,2024-01-02 01:00:00,2024-01-01 03:59:17,2024-01-02 00:30:00,2024-01-02 01:00:00,AP-JOURNAL_DATE ENERO 2024.tsv,2024-01-02,01:00:00
12,00008e01-812f-487e-8f34-a80bcb0ae3e3,"-19,294.12",MXN,A2RVSXTZY,a89a4027-94e4-3b49-88b3-6c6572eb692f,DISB_RQ,DISB,2024-01-17 06:33:04,2024-01-17 06:33:09,2024-01-17 06:32:56,2024-01-17 06:06:57,1969-12-31 18:00:00,AP-JOURNAL_DATE ENERO 2024.tsv,2024-01-17,06:33:09
11,00008e01-812f-487e-8f34-a80bcb0ae3e3,"19,294.12",MXN,settlement processor regular payment request,b076821b-f2fa-4bd6-8752-e6c12cd19816,REGULAR_PYMT_RQ,SETT,2024-01-16 12:43:04,2024-01-17 03:30:00,2024-01-16 12:43:04,2024-01-17 03:00:00,2024-01-17 03:30:00,AP-JOURNAL_DATE ENERO 2024.tsv,2024-01-17,03:30:00
10,00008e01-812f-487e-8f34-a80bcb0ae3e3,"-157,345.82",MXN,AJY6HGG8N,877a8e4a-a78e-33c9-917b-d68200ce8f88,DISB_RQ,DISB,2024-01-15 06:23:01,2024-01-15 06:23:06,2024-01-15 06:22:47,2024-01-15 06:06:36,1969-12-31 18:00:00,AP-JOURNAL_DATE ENERO 2024.tsv,2024-01-15,06:23:06

In [16]:
# for i in range(1, len(ap_dig_acc_movs)):
#     ap_dig_acc_movs.loc[i, 'previous_source_type'] = ap_dig_acc_movs.loc[i+1, 'source_type']

In [17]:
ap.shape

(12840992, 15)

In [18]:
ap.dtypes

merchant_id                       object
amount                           float64
currency                          object
type_request                      object
mvnt_id                           object
movement_type                     object
source_type                       object
created_at                datetime64[ns]
eff_dt                    datetime64[ns]
movement_day              datetime64[ns]
request_effective_date    datetime64[ns]
slot_date                 datetime64[ns]
file_name                         object
eff_dt_date               datetime64[ns]
eff_dt_time                       object
dtype: object

In [19]:
ap['movement_type'].unique()

array(['DISB_RQ', 'REGULAR_PYMT_RQ', 'DEFERRED_REGULAR_PYMNT_RQ',
       'CANCEL_RQ', 'DIRECT_DEPOSIT_RQ', 'COLLTN_RQ',
       'DISPUTE_ADJUSTMENT_RQ', 'CHRBCK_RQ', 'FAST_PYMT_RQ',
       'CASHBACK_RQ', 'REVIEW_RQ', 'BILL_PYMNT_RQ', 'LENDER_RQ',
       'DWN_PAYMENT_DA_RQ', 'DISPUTE_RQ', 'IT_PYMT_RQ', 'VAT_PYMT_RQ',
       'REFUND_PYMT_RQ', 'RELEASE_RQ', 'DEFERRED_FAST_PYMNT_RQ',
       'PYMNT_DA_RQ', 'RETURN_LENDER_RQ', 'FUNDING_RQ'], dtype=object)

In [20]:
ap.reset_index(drop=True,inplace=True)

In [21]:
ap.loc[ap['source_type'] == 'DISB', 'report_id'] = ap['type_request']
ap['report_id'] = ap['report_id'].groupby(ap['merchant_id']).ffill()
#ap['report_date_local_final'] = ap['report_date_local'].groupby(ap['merchant_id']).ffill()
#ap['payment_date_local_final'] = ap['payment_date_local'].groupby(ap['merchant_id']).ffill()
#ap['status_final'] = ap['status'].groupby(ap['merchant_id']).ffill()
ap.head()

,merchant_id,amount,currency,type_request,mvnt_id,movement_type,source_type,created_at,eff_dt,movement_day,request_effective_date,slot_date,file_name,eff_dt_date,eff_dt_time,report_id
0,0000275f-d46b-4a9c-a227-42d6f7ce63bd,"-2,874.72",MXN,ALH6V3JL8,b86a1190-e950-32e2-a35e-f2a73f39c970,DISB_RQ,DISB,2024-01-02 07:13:11,2024-01-02 07:13:16,2024-01-02 07:13:09,2024-01-02 07:05:30,1969-12-31 18:00:00,AP-JOURNAL_DATE ENERO 2024.tsv,2024-01-02,07:13:16,ALH6V3JL8
1,0000275f-d46b-4a9c-a227-42d6f7ce63bd,"2,874.72",MXN,settlement processor regular payment request,98e7c45d-0f1b-4ea9-a211-773b1a746a85,REGULAR_PYMT_RQ,SETT,2024-01-01 03:59:17,2024-01-02 01:00:00,2024-01-01 03:59:17,2024-01-02 00:30:00,2024-01-02 01:00:00,AP-JOURNAL_DATE ENERO 2024.tsv,2024-01-02,01:00:00,ALH6V3JL8
2,00008e01-812f-487e-8f34-a80bcb0ae3e3,"-19,294.12",MXN,A2RVSXTZY,a89a4027-94e4-3b49-88b3-6c6572eb692f,DISB_RQ,DISB,2024-01-17 06:33:04,2024-01-17 06:33:09,2024-01-17 06:32:56,2024-01-17 06:06:57,1969-12-31 18:00:00,AP-JOURNAL_DATE ENERO 2024.tsv,2024-01-17,06:33:09,A2RVSXTZY
3,00008e01-812f-487e-8f34-a80bcb0ae3e3,"19,294.12",MXN,settlement processor regular payment request,b076821b-f2fa-4bd6-8752-e6c12cd19816,REGULAR_PYMT_RQ,SETT,2024-01-16 12:43:04,2024-01-17 03:30:00,2024-01-16 12:43:04,2024-01-17 03:00:00,2024-01-17 03:30:00,AP-JOURNAL_DATE ENERO 2024.tsv,2024-01-17,03:30:00,A2RVSXTZY
4,00008e01-812f-487e-8f34-a80bcb0ae3e3,"-157,345.82",MXN,AJY6HGG8N,877a8e4a-a78e-33c9-917b-d68200ce8f88,DISB_RQ,DISB,2024-01-15 06:23:01,2024-01-15 06:23:06,2024-01-15 06:22:47,2024-01-15 06:06:36,1969-12-31 18:00:00,AP-JOURNAL_DATE ENERO 2024.tsv,2024-01-15,06:23:06,AJY6HGG8N

In [22]:
ap.shape

(12840992, 16)

In [23]:
ap_dig_acc_movs = ap
ap_dig_acc_movs.head()

,merchant_id,amount,currency,type_request,mvnt_id,movement_type,source_type,created_at,eff_dt,movement_day,request_effective_date,slot_date,file_name,eff_dt_date,eff_dt_time,report_id
0,0000275f-d46b-4a9c-a227-42d6f7ce63bd,"-2,874.72",MXN,ALH6V3JL8,b86a1190-e950-32e2-a35e-f2a73f39c970,DISB_RQ,DISB,2024-01-02 07:13:11,2024-01-02 07:13:16,2024-01-02 07:13:09,2024-01-02 07:05:30,1969-12-31 18:00:00,AP-JOURNAL_DATE ENERO 2024.tsv,2024-01-02,07:13:16,ALH6V3JL8
1,0000275f-d46b-4a9c-a227-42d6f7ce63bd,"2,874.72",MXN,settlement processor regular payment request,98e7c45d-0f1b-4ea9-a211-773b1a746a85,REGULAR_PYMT_RQ,SETT,2024-01-01 03:59:17,2024-01-02 01:00:00,2024-01-01 03:59:17,2024-01-02 00:30:00,2024-01-02 01:00:00,AP-JOURNAL_DATE ENERO 2024.tsv,2024-01-02,01:00:00,ALH6V3JL8
2,00008e01-812f-487e-8f34-a80bcb0ae3e3,"-19,294.12",MXN,A2RVSXTZY,a89a4027-94e4-3b49-88b3-6c6572eb692f,DISB_RQ,DISB,2024-01-17 06:33:04,2024-01-17 06:33:09,2024-01-17 06:32:56,2024-01-17 06:06:57,1969-12-31 18:00:00,AP-JOURNAL_DATE ENERO 2024.tsv,2024-01-17,06:33:09,A2RVSXTZY
3,00008e01-812f-487e-8f34-a80bcb0ae3e3,"19,294.12",MXN,settlement processor regular payment request,b076821b-f2fa-4bd6-8752-e6c12cd19816,REGULAR_PYMT_RQ,SETT,2024-01-16 12:43:04,2024-01-17 03:30:00,2024-01-16 12:43:04,2024-01-17 03:00:00,2024-01-17 03:30:00,AP-JOURNAL_DATE ENERO 2024.tsv,2024-01-17,03:30:00,A2RVSXTZY
4,00008e01-812f-487e-8f34-a80bcb0ae3e3,"-157,345.82",MXN,AJY6HGG8N,877a8e4a-a78e-33c9-917b-d68200ce8f88,DISB_RQ,DISB,2024-01-15 06:23:01,2024-01-15 06:23:06,2024-01-15 06:22:47,2024-01-15 06:06:36,1969-12-31 18:00:00,AP-JOURNAL_DATE ENERO 2024.tsv,2024-01-15,06:23:06,AJY6HGG8N

In [24]:
ap_dig_acc_movs.shape

(12840992, 16)

In [ ]:
cond1 = ap_dig_acc_movs.groupby('merchant_id')['source_type'].shift(-1).eq('DISB')  & ap_dig_acc_movs['source_type'].eq('DIG_ACC')
cond2 = ap_dig_acc_movs.groupby('merchant_id')['source_type'].shift().eq('DIG_ACC')  & ap_dig_acc_movs['source_type'].eq('DISB')
ap_dig_acc_movs[cond1|cond2].head()

In [ ]:
ap_dig_acc_movs[cond1|cond2].shape

In [ ]:
ap_dig_acc_movs.loc[ap_dig_acc_movs['source_type'] == 'DISB','identifier'] = 0
ap_dig_acc_movs.loc[ap_dig_acc_movs.groupby('merchant_id')['source_type'].shift(-1).eq('DISB') & ap_dig_acc_movs['source_type'].eq('DIG_ACC'),'identifier'] = 1
ap_dig_acc_movs.loc[ap_dig_acc_movs.groupby('merchant_id')['source_type'].shift().eq('DIG_ACC') & ap_dig_acc_movs['source_type'].eq('DISB'),'identifier'] = 1

In [ ]:
ap_dig_acc_movs['identifier_final'] = ap_dig_acc_movs['identifier'].groupby(ap_dig_acc_movs['merchant_id']).ffill()

In [ ]:
ap_dig_acc_movs.shape

In [ ]:
ap_dig_acc_movs_dig_acct = ap_dig_acc_movs[(ap_dig_acc_movs['identifier_final'] == 1)]
ap_dig_acc_movs_dig_acct.head()

In [ ]:
ap_dig_acc_movs_dig_acct.shape

In [ ]:
ap_dig_acc_movs_dig_acct.loc[ap_dig_acc_movs_dig_acct['movement_type'] == 'DWN_PAYMENT_DA_RQ', 'report_id_digital_account'] = ap_dig_acc_movs_dig_acct['type_request']
ap_dig_acc_movs_dig_acct['report_id_digital_account'] = ap_dig_acc_movs_dig_acct['report_id_digital_account'].groupby(ap_dig_acc_movs_dig_acct['merchant_id']).ffill()
ap_dig_acc_movs_dig_acct.head()

In [ ]:
sorted(list(ap_dig_acc_movs['source_type'].unique()))

In [ ]:
sorted(list(ap_dig_acc_movs['movement_type'].unique()))

In [ ]:
ap_dig_acc_movs['identifier_final'].unique()

In [25]:
ap_bill_pymnt = ap_dig_acc_movs[(ap_dig_acc_movs['source_type'] == 'BILL_PYMNT')]
ap_caal = ap_dig_acc_movs[(ap_dig_acc_movs['source_type'] == 'CAAL')]
ap_data = ap_dig_acc_movs[(ap_dig_acc_movs['source_type'] == 'DATA')]
ap_dig_acc = ap_dig_acc_movs[(ap_dig_acc_movs['source_type'] == 'DIG_ACC')]
ap_disb = ap_dig_acc_movs[(ap_dig_acc_movs['source_type'] == 'DISB')]
ap_fee_refunds = ap_dig_acc_movs[(ap_dig_acc_movs['source_type'] == 'FEE_REFUNDS')]
ap_loan = ap_dig_acc_movs[(ap_dig_acc_movs['source_type'] == 'LOAN')]
ap_promo = ap_dig_acc_movs[(ap_dig_acc_movs['source_type'] == 'PROMO')]
ap_pymt = ap_dig_acc_movs[(ap_dig_acc_movs['source_type'] == 'PYMT')]
ap_refunds = ap_dig_acc_movs[(ap_dig_acc_movs['source_type'] == 'REFUNDS')]
ap_risk = ap_dig_acc_movs[(ap_dig_acc_movs['source_type'] == 'RISK')]
ap_sett = ap_dig_acc_movs[(ap_dig_acc_movs['source_type'] == 'SETT')]
ap_sett_adptr = ap_dig_acc_movs[(ap_dig_acc_movs['source_type'] == 'SETT_ADPTR')]
ap_taxes = ap_dig_acc_movs[(ap_dig_acc_movs['source_type'] == 'TAXES')]
ap_topups = ap_dig_acc_movs[(ap_dig_acc_movs['source_type'] == 'TOPUPS')]

# CRUCE_1: DATA SETTLEMENT MASTER LOG VS AP_JOURNAL

In [26]:
ap_sett.head()

,merchant_id,amount,currency,type_request,mvnt_id,movement_type,source_type,created_at,eff_dt,movement_day,request_effective_date,slot_date,file_name,eff_dt_date,eff_dt_time,report_id
1,0000275f-d46b-4a9c-a227-42d6f7ce63bd,"2,874.72",MXN,settlement processor regular payment request,98e7c45d-0f1b-4ea9-a211-773b1a746a85,REGULAR_PYMT_RQ,SETT,2024-01-01 03:59:17,2024-01-02 01:00:00,2024-01-01 03:59:17,2024-01-02 00:30:00,2024-01-02 01:00:00,AP-JOURNAL_DATE ENERO 2024.tsv,2024-01-02,01:00:00,ALH6V3JL8
3,00008e01-812f-487e-8f34-a80bcb0ae3e3,"19,294.12",MXN,settlement processor regular payment request,b076821b-f2fa-4bd6-8752-e6c12cd19816,REGULAR_PYMT_RQ,SETT,2024-01-16 12:43:04,2024-01-17 03:30:00,2024-01-16 12:43:04,2024-01-17 03:00:00,2024-01-17 03:30:00,AP-JOURNAL_DATE ENERO 2024.tsv,2024-01-17,03:30:00,A2RVSXTZY
5,00008e01-812f-487e-8f34-a80bcb0ae3e3,"47,912.00",MXN,deferred regular payment request,89642c1b-ee74-48a9-a7f4-39f9a6e54aec,DEFERRED_REGULAR_PYMNT_RQ,SETT,2024-01-14 19:06:32,2024-01-15 05:00:00,2024-01-14 19:06:32,2024-01-15 04:30:00,2024-01-15 05:00:00,AP-JOURNAL_DATE ENERO 2024.tsv,2024-01-15,05:00:00,AJY6HGG8N
6,00008e01-812f-487e-8f34-a80bcb0ae3e3,"47,918.20",MXN,settlement processor regular payment request,01f11b11-12e9-451a-9455-6c1a946acd71,REGULAR_PYMT_RQ,SETT,2024-01-14 19:13:59,2024-01-15 05:00:00,2024-01-14 19:13:59,2024-01-15 04:30:00,2024-01-15 05:00:00,AP-JOURNAL_DATE ENERO 2024.tsv,2024-01-15,05:00:00,AJY6HGG8N
7,00008e01-812f-487e-8f34-a80bcb0ae3e3,"47,230.40",MXN,settlement processor regular payment request,bc7fa476-4d6b-476e-99a6-bfe0a7156843,REGULAR_PYMT_RQ,SETT,2024-01-14 19:15:00,2024-01-15 05:00:00,2024-01-14 19:15:00,2024-01-15 04:30:00,2024-01-15 05:00:00,AP-JOURNAL_DATE ENERO 2024.tsv,2024-01-15,05:00:00,AJY6HGG8N

In [27]:
ap_sett.shape

(9998453, 16)

In [28]:
ap_sett['movement_type'].unique()

array(['REGULAR_PYMT_RQ', 'DEFERRED_REGULAR_PYMNT_RQ', 'FAST_PYMT_RQ',
       'DEFERRED_FAST_PYMNT_RQ'], dtype=object)

In [29]:
ap_sett.head()

,merchant_id,amount,currency,type_request,mvnt_id,movement_type,source_type,created_at,eff_dt,movement_day,request_effective_date,slot_date,file_name,eff_dt_date,eff_dt_time,report_id
1,0000275f-d46b-4a9c-a227-42d6f7ce63bd,"2,874.72",MXN,settlement processor regular payment request,98e7c45d-0f1b-4ea9-a211-773b1a746a85,REGULAR_PYMT_RQ,SETT,2024-01-01 03:59:17,2024-01-02 01:00:00,2024-01-01 03:59:17,2024-01-02 00:30:00,2024-01-02 01:00:00,AP-JOURNAL_DATE ENERO 2024.tsv,2024-01-02,01:00:00,ALH6V3JL8
3,00008e01-812f-487e-8f34-a80bcb0ae3e3,"19,294.12",MXN,settlement processor regular payment request,b076821b-f2fa-4bd6-8752-e6c12cd19816,REGULAR_PYMT_RQ,SETT,2024-01-16 12:43:04,2024-01-17 03:30:00,2024-01-16 12:43:04,2024-01-17 03:00:00,2024-01-17 03:30:00,AP-JOURNAL_DATE ENERO 2024.tsv,2024-01-17,03:30:00,A2RVSXTZY
5,00008e01-812f-487e-8f34-a80bcb0ae3e3,"47,912.00",MXN,deferred regular payment request,89642c1b-ee74-48a9-a7f4-39f9a6e54aec,DEFERRED_REGULAR_PYMNT_RQ,SETT,2024-01-14 19:06:32,2024-01-15 05:00:00,2024-01-14 19:06:32,2024-01-15 04:30:00,2024-01-15 05:00:00,AP-JOURNAL_DATE ENERO 2024.tsv,2024-01-15,05:00:00,AJY6HGG8N
6,00008e01-812f-487e-8f34-a80bcb0ae3e3,"47,918.20",MXN,settlement processor regular payment request,01f11b11-12e9-451a-9455-6c1a946acd71,REGULAR_PYMT_RQ,SETT,2024-01-14 19:13:59,2024-01-15 05:00:00,2024-01-14 19:13:59,2024-01-15 04:30:00,2024-01-15 05:00:00,AP-JOURNAL_DATE ENERO 2024.tsv,2024-01-15,05:00:00,AJY6HGG8N
7,00008e01-812f-487e-8f34-a80bcb0ae3e3,"47,230.40",MXN,settlement processor regular payment request,bc7fa476-4d6b-476e-99a6-bfe0a7156843,REGULAR_PYMT_RQ,SETT,2024-01-14 19:15:00,2024-01-15 05:00:00,2024-01-14 19:15:00,2024-01-15 04:30:00,2024-01-15 05:00:00,AP-JOURNAL_DATE ENERO 2024.tsv,2024-01-15,05:00:00,AJY6HGG8N

In [30]:
ap_sett.shape

(9998453, 16)

In [33]:
cruce_1 = sml_dig_acc_final.merge(ap_sett[['mvnt_id','amount','movement_type','source_type','report_id']],on='mvnt_id',how='left')
cruce_1.head()

,record_uuid,merchant_id,transaction_id,mvnt_id,mvnt_type,pymt_prg,created_at,eff_dt,psp_amount,gross_amount,...,dcc_amount,dcc_rate,dcc_status,cc_nb_currency_code,nu_markup,file_name,amount,movement_type,source_type,report_id
0,bba156b3-9e40-5a5f-a84c-fe5f0d012b75,11055d4d-be9c-4308-be06-da7501ec94bb,63271f54-0a59-47b0-945d-3d87d3581ff9,63271f54-0a59-47b0-945d-3d87d3581ff9,STL_PCS_RQ,DIGITAL_ACCOUNT,2024-01-05T18:42:13Z,2024-01-06T18:00:00Z,280.00,280.00,...,NaN,NaN,NaN,NaN,NaN,SETTLEMENT_MASTER_LOG_MSI_DATE ENERO 2024.tsv,268.31,REGULAR_PYMT_RQ,SETT,NaN
1,41f41f34-a671-52f9-b024-1fa0a23f6acc,13e050a4-91a1-43d1-9eb7-df35c63e7418,c2176a5a-554d-4537-ae7c-8912eeed8a15,c2176a5a-554d-4537-ae7c-8912eeed8a15,STL_PCS_RQ,DIGITAL_ACCOUNT,2024-01-05T12:55:48Z,2024-01-05T12:55:48Z,191.00,191.00,...,NaN,NaN,NaN,NaN,NaN,SETTLEMENT_MASTER_LOG_MSI_DATE ENERO 2024.tsv,183.02,REGULAR_PYMT_RQ,SETT,NaN
2,b1dde906-40f5-5cc4-90c8-aaca78b6cbbe,99d2f794-ec17-4ba4-925b-75db3299f4bb,a3cac821-71b5-4a7b-9467-de3160139b8a,a3cac821-71b5-4a7b-9467-de3160139b8a,STL_PCS_RQ,DIGITAL_ACCOUNT,2024-01-10T12:27:45Z,2024-01-10T12:27:44Z,100.00,100.00,...,NaN,NaN,NaN,NaN,NaN,SETTLEMENT_MASTER_LOG_MSI_DATE ENERO 2024.tsv,95.82,REGULAR_PYMT_RQ,SETT,NaN
3,f5a1b5c5-bc06-55da-ac9f-4e1b19f09887,0fba7360-6523-456f-84b5-69d1134d5e05,59cd82c3-ea34-4d92-9f9e-295ffa33fece,59cd82c3-ea34-4d92-9f9e-295ffa33fece,STL_PCS_RQ,DIGITAL_ACCOUNT,2024-01-03T21:48:17Z,2024-01-03T21:48:17Z,"10,000.00","10,000.00",...,NaN,NaN,NaN,NaN,NaN,SETTLEMENT_MASTER_LOG_MSI_DATE ENERO 2024.tsv,"9,582.40",REGULAR_PYMT_RQ,SETT,NaN
4,7be136d2-896a-5924-97af-e065a544ceb5,e55b709a-f1fc-400f-934d-f0c97763571c,a5395555-74d0-4fa9-9088-46fb34fc758f,a5395555-74d0-4fa9-9088-46fb34fc758f,STL_PCS_RQ,DIGITAL_ACCOUNT,2024-01-08T16:51:02Z,2024-01-08T16:51:01Z,950.00,950.00,...,NaN,NaN,NaN,NaN,NaN,SETTLEMENT_MASTER_LOG_MSI_DATE ENERO 2024.tsv,910.33,REGULAR_PYMT_RQ,SETT,NaN

In [34]:
cruce_1.shape

(1760, 30)

In [35]:
cruce_1_dig_acc = cruce_1[(cruce_1['pymt_prg'] == 'DIGITAL_ACCOUNT')]
cruce_1_dig_acc.head()

,record_uuid,merchant_id,transaction_id,mvnt_id,mvnt_type,pymt_prg,created_at,eff_dt,psp_amount,gross_amount,...,dcc_amount,dcc_rate,dcc_status,cc_nb_currency_code,nu_markup,file_name,amount,movement_type,source_type,report_id
0,bba156b3-9e40-5a5f-a84c-fe5f0d012b75,11055d4d-be9c-4308-be06-da7501ec94bb,63271f54-0a59-47b0-945d-3d87d3581ff9,63271f54-0a59-47b0-945d-3d87d3581ff9,STL_PCS_RQ,DIGITAL_ACCOUNT,2024-01-05T18:42:13Z,2024-01-06T18:00:00Z,280.00,280.00,...,NaN,NaN,NaN,NaN,NaN,SETTLEMENT_MASTER_LOG_MSI_DATE ENERO 2024.tsv,268.31,REGULAR_PYMT_RQ,SETT,NaN
1,41f41f34-a671-52f9-b024-1fa0a23f6acc,13e050a4-91a1-43d1-9eb7-df35c63e7418,c2176a5a-554d-4537-ae7c-8912eeed8a15,c2176a5a-554d-4537-ae7c-8912eeed8a15,STL_PCS_RQ,DIGITAL_ACCOUNT,2024-01-05T12:55:48Z,2024-01-05T12:55:48Z,191.00,191.00,...,NaN,NaN,NaN,NaN,NaN,SETTLEMENT_MASTER_LOG_MSI_DATE ENERO 2024.tsv,183.02,REGULAR_PYMT_RQ,SETT,NaN
2,b1dde906-40f5-5cc4-90c8-aaca78b6cbbe,99d2f794-ec17-4ba4-925b-75db3299f4bb,a3cac821-71b5-4a7b-9467-de3160139b8a,a3cac821-71b5-4a7b-9467-de3160139b8a,STL_PCS_RQ,DIGITAL_ACCOUNT,2024-01-10T12:27:45Z,2024-01-10T12:27:44Z,100.00,100.00,...,NaN,NaN,NaN,NaN,NaN,SETTLEMENT_MASTER_LOG_MSI_DATE ENERO 2024.tsv,95.82,REGULAR_PYMT_RQ,SETT,NaN
3,f5a1b5c5-bc06-55da-ac9f-4e1b19f09887,0fba7360-6523-456f-84b5-69d1134d5e05,59cd82c3-ea34-4d92-9f9e-295ffa33fece,59cd82c3-ea34-4d92-9f9e-295ffa33fece,STL_PCS_RQ,DIGITAL_ACCOUNT,2024-01-03T21:48:17Z,2024-01-03T21:48:17Z,"10,000.00","10,000.00",...,NaN,NaN,NaN,NaN,NaN,SETTLEMENT_MASTER_LOG_MSI_DATE ENERO 2024.tsv,"9,582.40",REGULAR_PYMT_RQ,SETT,NaN
4,7be136d2-896a-5924-97af-e065a544ceb5,e55b709a-f1fc-400f-934d-f0c97763571c,a5395555-74d0-4fa9-9088-46fb34fc758f,a5395555-74d0-4fa9-9088-46fb34fc758f,STL_PCS_RQ,DIGITAL_ACCOUNT,2024-01-08T16:51:02Z,2024-01-08T16:51:01Z,950.00,950.00,...,NaN,NaN,NaN,NaN,NaN,SETTLEMENT_MASTER_LOG_MSI_DATE ENERO 2024.tsv,910.33,REGULAR_PYMT_RQ,SETT,NaN

In [36]:
cruce_1_dig_acc.shape

(1760, 30)

In [37]:
writer = pd.ExcelWriter('Digital_account_review ENERO 2024 V5.xlsx',
                        engine='xlsxwriter',
                        engine_kwargs={'options': {'encoding':'utf-8'}})
cruce_1_dig_acc.to_excel(writer, sheet_name='SML DIG_ACC',index=False)
#ap_dig_acc_movs_dig_acct.to_excel(writer, sheet_name='AP_JOURNAL DIG_ACC',index=False)
writer.close()

In [ ]:
cruce_1_not_found.shape

In [ ]:
cruce_1_group = cruce_1.groupby(['EFF_DT_DATE','MOVEMENT_TYPE']).agg({'MVNT_ID':'count',
                                                                      'GROSS_AMOUNT':sum,
                                                                      'FEES':sum,
                                                                      'TAXES':sum,
                                                                      'NET_AMOUNT':sum,
                                                                      'AMOUNT':sum,
                                                                     'PSP_AMOUNT':sum,
                                                                     'FEES_DEFERRED':sum,
                                                                     'TAXES_DEFERRED':sum}).reset_index()
cruce_1_group.head()

In [ ]:
cruce_1_group.shape

# CRUCE_2: DATA AP(PYMT) VS. SETTLEMENT MASTER LOG

In [ ]:
ap_pymt.head()

In [ ]:
ap_pymt.shape

In [ ]:
cruce_2 = ap_pymt.merge(sml_final[['MVNT_ID','GROSS_AMOUNT','FEES','TAXES','NET_AMOUNT','MDR','MSI','PSP_AMOUNT',
                                  'FEES_DEFERRED','TAXES_DEFERRED']],
                            on='MVNT_ID',how='left')
cruce_2.head()

In [ ]:
cruce_2.shape

In [ ]:
cruce_3 = cruce_2.merge(ap_sett[['MVNT_ID','MOVEMENT_TYPE']],on='MVNT_ID',how='left')
cruce_3.rename(columns={'MOVEMENT_TYPE_x':'MOVEMENT_TYPE','MOVEMENT_TYPE_y':'MOVEMENT_TYPE_SETT'},inplace=True)
cruce_3.head()

In [ ]:
cruce_3.shape

In [ ]:
cruce_3_not_found = cruce_3[(cruce_3['MDR'].isnull())]
cruce_3_not_found.head()

In [ ]:
cruce_3_not_found.shape

In [ ]:
cruce_3_group = cruce_3.groupby(['EFF_DT_DATE','MOVEMENT_TYPE','MOVEMENT_TYPE_SETT']).agg({'MVNT_ID':'count',
                                                 'GROSS_AMOUNT':sum,
                                                 'FEES':sum,
                                                 'TAXES':sum,
                                                 'NET_AMOUNT':sum,
                                                 'AMOUNT':sum,
                                                 'PSP_AMOUNT':sum,
                                                 'FEES_DEFERRED':sum,
                                                 'TAXES_DEFERRED':sum}).reset_index()
cruce_3_group.head()

In [ ]:
cruce_3_group.shape

# PIVOTS AP JOURNAL

### TOPUPS

In [ ]:
ap_topups['TOPUPS_LEDGER'] = ap_topups['AMOUNT'] / 1.16
ap_topups['IVA_TOPUPS_LEDGER'] = ap_topups['TOPUPS_LEDGER'] * 0.16
ap_topups.head()

In [ ]:
ap_topups.shape

In [ ]:
ap_topups_group = ap_topups.groupby(['EFF_DT_DATE']).agg({'MVNT_ID':'count',
                                                     'TOPUPS_LEDGER':sum,
                                                     'IVA_TOPUPS_LEDGER':sum,
                                                     'AMOUNT':sum}).reset_index()
ap_topups_group.head()

In [ ]:
ap_topups_group.shape

### LOANS

In [ ]:
ap_loan.head()

In [ ]:
ap_loan.shape

In [ ]:
ap_loan_1 = ap_loan[(ap_loan['EFF_DT_DATE'] >= start_date) & (ap_loan['EFF_DT_DATE'] <= final_date_1)]
ap_loan_2 = ap_loan[(ap_loan['EFF_DT_DATE'] >= start_date_1) & (ap_loan['EFF_DT_DATE'] <= final_date)]

In [ ]:
ap_loan_group = ap_loan.groupby(['EFF_DT_DATE']).agg({'MVNT_ID':'count',
                                                     'AMOUNT':sum}).reset_index()
ap_loan_group.head()

In [ ]:
ap_loan_group.shape

### RIESGO

In [ ]:
ap_risk.head()

In [ ]:
ap_risk.shape

In [ ]:
ap_risk['MOVEMENT_TYPE'].unique()

In [ ]:
ap_risk_group = pd.pivot_table(ap_risk,index=['EFF_DT_DATE'],
                                  columns=['MOVEMENT_TYPE'],
                                  values=['AMOUNT'],
                               aggfunc = ['sum'],margins=True).reset_index()
ap_risk_group.fillna(0,inplace=True)
#ap_risk_group.drop(columns=['B', 'C'])
ap_risk_group.head()

In [ ]:
ap_risk_group.shape

### RIESGO CON TIPO DE PAGO

In [ ]:
ap_risk_final = pd.concat([pd.read_csv(f).assign(file_name=os.path.basename(f)) for f in ap_risk_files]).reset_index(drop=True)
ap_risk_final.replace('""','', regex=True, inplace=True)
ap_risk_final['EFF_DT'] =  pd.to_datetime(ap_risk_final['EFF_DT']).dt.tz_localize(None)
ap_risk_final['EFF_DT_DATE'] =  pd.to_datetime(ap_risk_final['EFF_DT']).dt.date
ap_risk_final['EFF_DT_DATE'] =  pd.to_datetime(ap_risk_final['EFF_DT_DATE']).dt.tz_localize(None)
ap_risk_final['EFF_DT_TIME'] =  pd.to_datetime(ap_risk_final['EFF_DT']).dt.time
ap_risk_final['MOVEMENT_DAY'] = pd.to_datetime(ap_risk_final['MOVEMENT_DAY']).dt.tz_localize(None)
ap_risk_final['CREATED_AT'] = pd.to_datetime(ap_risk_final['CREATED_AT']).dt.tz_localize(None)
ap_risk_final['REQUEST_EFFECTIVE_DATE'] = pd.to_datetime(ap_risk_final['REQUEST_EFFECTIVE_DATE']).dt.tz_localize(None)
ap_risk_final['SLOT_DATE'] = pd.to_datetime(ap_risk_final['SLOT_DATE']).dt.tz_localize(None)
ap_risk_final['IDENTIFIER'] = ap_risk_final['SOURCE_TYPE'].str[:1].astype(str)
ap_risk_final['PYMT_PRG'].fillna('NOT_FOUND',inplace=True)
ap_risk_final['INDEX'] = (ap_risk_final['EFF_DT_DATE'].astype(str).replace(' ', '',regex=True)+'-'+
               ap_risk_final['IDENTIFIER'].astype(str).replace(' ', '',regex=True)+'-'+
               ap_risk_final['EFF_DT_TIME'].astype(str).replace(' ', '',regex=True))
ap_risk_final.sort_values(by=(['MERCHANT_ID','EFF_DT']), ascending=[True,False], inplace=True)
ap_risk_final.head()

In [ ]:
ap_risk_final.shape

In [ ]:
ap_risk_final_dup = ap_risk_final[ap_risk_final.duplicated(['MVNT_ID'] , keep=False)]
ap_risk_final_dup.head()

In [ ]:
ap_risk_final_dup.shape

In [ ]:
ap_risk_final['MOVEMENT_TYPE'].unique()

In [ ]:
ap_risk_final_group = pd.pivot_table(ap_risk_final,index=['EFF_DT_DATE'],
                                  columns=['PYMT_PRG','MOVEMENT_TYPE'],
                                  values=['AMOUNT'],
                                     aggfunc = ['sum'],margins=True).reset_index()
ap_risk_final_group.fillna(0,inplace=True)
#ap_risk_group.drop(columns=['B', 'C'])
ap_risk_final_group.head()

In [ ]:
ap_risk_final_group.shape

### DISBURSEMENT

In [ ]:
ap_disb.head()

In [ ]:
ap_disb.shape

In [ ]:
ap_disb_group = ap_disb.groupby(['EFF_DT_DATE','MOVEMENT_TYPE']).agg({'MVNT_ID':'count',
                                                     'AMOUNT':sum}).reset_index()
ap_disb_group.head()

In [ ]:
ap_disb_group.shape

### SETT ADPTR

In [ ]:
ap_sett_adptr.head()

In [ ]:
ap_sett_adptr.shape

In [ ]:
ap_sett_adptr_group = ap_sett_adptr.groupby(['EFF_DT_DATE','MOVEMENT_TYPE']).agg({'MVNT_ID':'count',
                                                     'AMOUNT':sum}).reset_index()
ap_sett_adptr_group.head()

In [ ]:
ap_sett_adptr_group.shape

### TAXES

In [ ]:
ap_taxes.head()

In [ ]:
ap_taxes.shape

In [ ]:
ap_taxes_group = ap_taxes.groupby(['EFF_DT_DATE','MOVEMENT_TYPE','SOURCE_TYPE']).agg({'MVNT_ID':'count',
                                                     'AMOUNT':sum}).reset_index()
ap_taxes_group.head()

In [ ]:
ap_taxes_group.shape

### REFUNDS

In [ ]:
ap_refunds.head()

In [ ]:
ap_refunds.shape

In [ ]:
ap_refunds.to_excel('REFUNDS_NOVIEMBRE_2023.xlsx',index=False)

In [ ]:
ap_refunds_group = ap_refunds.groupby(['EFF_DT_DATE','MOVEMENT_TYPE','SOURCE_TYPE']).agg({'MVNT_ID':'count',
                                                     'AMOUNT':sum}).reset_index()
ap_refunds_group.head()

In [ ]:
ap_refunds_group.shape

### REFUNDS CON FEES Y TAXES

In [ ]:
ap_refunds_fees_taxes = pd.concat([pd.read_csv(f).assign(file_name=os.path.basename(f)) for f in ap_refunds_files]).reset_index(drop=True)
ap_refunds_fees_taxes.replace('""','', regex=True, inplace=True)
ap_refunds_fees_taxes['EFF_DT'] =  pd.to_datetime(ap_refunds_fees_taxes['EFF_DT']).dt.tz_localize(None)
ap_refunds_fees_taxes['EFF_DT_DATE'] =  pd.to_datetime(ap_refunds_fees_taxes['EFF_DT']).dt.date
ap_refunds_fees_taxes['EFF_DT_DATE'] =  pd.to_datetime(ap_refunds_fees_taxes['EFF_DT_DATE']).dt.tz_localize(None)
ap_refunds_fees_taxes['EFF_DT_TIME'] =  pd.to_datetime(ap_refunds_fees_taxes['EFF_DT']).dt.time
ap_refunds_fees_taxes['MOVEMENT_DAY'] = pd.to_datetime(ap_refunds_fees_taxes['MOVEMENT_DAY']).dt.tz_localize(None)
ap_refunds_fees_taxes['CREATED_AT'] = pd.to_datetime(ap_refunds_fees_taxes['CREATED_AT']).dt.tz_localize(None)
ap_refunds_fees_taxes['REQUEST_EFFECTIVE_DATE'] = pd.to_datetime(ap_refunds_fees_taxes['REQUEST_EFFECTIVE_DATE']).dt.tz_localize(None)
ap_refunds_fees_taxes['SLOT_DATE'] = pd.to_datetime(ap_refunds_fees_taxes['SLOT_DATE']).dt.tz_localize(None)
ap_refunds_fees_taxes.sort_values(by=(['MERCHANT_ID','EFF_DT']), ascending=[True,False], inplace=True)
ap_refunds_fees_taxes['FEES_REFUNDS'] = (ap_refunds_fees_taxes['GROSS_AMOUNT'] + ap_refunds_fees_taxes['NET_AMOUNT']) / 1.1600
ap_refunds_fees_taxes['TAXES_REFUNDS'] = ap_refunds_fees_taxes['FEES_REFUNDS'] * 0.1600 
ap_refunds_fees_taxes.head()

In [ ]:
ap_refunds_fees_taxes.shape

In [ ]:
ap_refunds_fees_taxes_group = ap_refunds_fees_taxes.groupby(['EFF_DT_DATE','MOVEMENT_TYPE','SOURCE_TYPE']).agg({'MVNT_ID':'count',
                                                     'GROSS_AMOUNT':sum,'FEES_REFUNDS':sum,'TAXES_REFUNDS':sum}).reset_index()
ap_refunds_fees_taxes_group.head()

In [ ]:
ap_refunds_fees_taxes_group.shape

### BILL PAYMENTS

In [ ]:
ap_bill_pymnt.head()

In [ ]:
ap_bill_pymnt.shape

In [ ]:
ap_bill_pymnt_group = ap_bill_pymnt.groupby(['EFF_DT_DATE','MOVEMENT_TYPE','SOURCE_TYPE']).agg({'MVNT_ID':'count',
                                                     'AMOUNT':sum}).reset_index()
ap_bill_pymnt_group.head()

In [ ]:
ap_bill_pymnt_group.shape

### BILL PAYMENTS CON FEES

In [ ]:
ap_bill_pymnt_fees_taxes = pd.concat([pd.read_csv(f).assign(file_name=os.path.basename(f)) for f in ap_bill_pymnt_files]).reset_index(drop=True)
ap_bill_pymnt_fees_taxes.replace('""','', regex=True, inplace=True)
ap_bill_pymnt_fees_taxes['EFF_DT'] =  pd.to_datetime(ap_bill_pymnt_fees_taxes['EFF_DT']).dt.tz_localize(None)
ap_bill_pymnt_fees_taxes['EFF_DT_DATE'] =  pd.to_datetime(ap_bill_pymnt_fees_taxes['EFF_DT']).dt.date
ap_bill_pymnt_fees_taxes['EFF_DT_DATE'] =  pd.to_datetime(ap_bill_pymnt_fees_taxes['EFF_DT_DATE']).dt.tz_localize(None)
ap_bill_pymnt_fees_taxes['EFF_DT_TIME'] =  pd.to_datetime(ap_bill_pymnt_fees_taxes['EFF_DT']).dt.time
ap_bill_pymnt_fees_taxes['MOVEMENT_DAY'] = pd.to_datetime(ap_bill_pymnt_fees_taxes['MOVEMENT_DAY']).dt.tz_localize(None)
ap_bill_pymnt_fees_taxes['CREATED_AT'] = pd.to_datetime(ap_bill_pymnt_fees_taxes['CREATED_AT']).dt.tz_localize(None)
ap_bill_pymnt_fees_taxes['REQUEST_EFFECTIVE_DATE'] = pd.to_datetime(ap_bill_pymnt_fees_taxes['REQUEST_EFFECTIVE_DATE']).dt.tz_localize(None)
ap_bill_pymnt_fees_taxes['SLOT_DATE'] = pd.to_datetime(ap_bill_pymnt_fees_taxes['SLOT_DATE']).dt.tz_localize(None)
ap_bill_pymnt_fees_taxes['FEES_FRONTEND_COMMISSION'] = ap_bill_pymnt_fees_taxes['FRONTEND_COMMISSION']/1.1600
ap_bill_pymnt_fees_taxes['TAXES_FRONTEND_COMMISSION'] = ap_bill_pymnt_fees_taxes['FEES_FRONTEND_COMMISSION']*0.1600
ap_bill_pymnt_fees_taxes['FEES_MERCHANT_COMMISSION'] = ap_bill_pymnt_fees_taxes['MERCHANT_COMMISSION']/1.1600
ap_bill_pymnt_fees_taxes['TAXES_MERCHANT_COMMISSION'] = ap_bill_pymnt_fees_taxes['FEES_MERCHANT_COMMISSION']*0.1600
ap_bill_pymnt_fees_taxes['FEES_NET_AMOUNT'] = ap_bill_pymnt_fees_taxes['AMOUNT']/1.1600
ap_bill_pymnt_fees_taxes['TAXES_NET_AMOUNT'] = ap_bill_pymnt_fees_taxes['FEES_NET_AMOUNT']*0.1600
ap_bill_pymnt_fees_taxes.sort_values(by=(['MERCHANT_ID','EFF_DT']), ascending=[True,False], inplace=True)
ap_bill_pymnt_fees_taxes.head()

In [ ]:
ap_bill_pymnt_fees_taxes.shape

In [ ]:
ap_bill_pymnt_fees_taxes['SERVICE_BILLERS_STATUS'].unique()

In [ ]:
ap_bill_pymnt_fees_taxes_group = ap_bill_pymnt_fees_taxes.groupby(['EFF_DT_DATE','MOVEMENT_TYPE','SOURCE_TYPE','SERVICE_BILLERS_STATUS']).agg({'MVNT_ID':'count',
                                                                                                                      'GROSS_AMOUNT':sum,
                                                                                                                     'AMOUNT_PAID':sum,
                                                                                                                     'FRONTEND_COMMISSION':sum,
                                                                                                                     'FEES_FRONTEND_COMMISSION':sum,   
                                                                                                                     'TAXES_FRONTEND_COMMISSION':sum,   
                                                                                                                     'MERCHANT_COMMISSION':sum,
                                                                                                                     'FEES_MERCHANT_COMMISSION':sum,
                                                                                                                     'TAXES_MERCHANT_COMMISSION':sum,
                                                                                                                     'AMOUNT':sum,
                                                                                                                     'FEES_NET_AMOUNT':sum,
                                                                                                                     'TAXES_NET_AMOUNT':sum}).reset_index()
ap_bill_pymnt_fees_taxes_group.head()

In [ ]:
ap_bill_pymnt_fees_taxes_group.shape

### PROMO

In [ ]:
ap_promo.head()

In [ ]:
ap_promo.shape

In [ ]:
ap_promo_group = ap_promo.groupby(['EFF_DT_DATE','MOVEMENT_TYPE','SOURCE_TYPE']).agg({'MVNT_ID':'count',
                                                     'AMOUNT':sum}).reset_index()
ap_promo_group.head()

In [ ]:
ap_promo_group.shape

### CAAL - AP JOURNAL

#### CAAL - QUERY

In [ ]:
caal = pd.concat([pd.read_csv(f).assign(file_name=os.path.basename(f)) for f in caal_files]).reset_index(drop=True)
caal['COLLECTION_DATE_LOCAL'] =  pd.to_datetime(caal['COLLECTION_DATE_LOCAL'])
caal.head()

In [ ]:
caal.shape

In [ ]:
caal_final = caal[(caal['COLLECTION_DATE_LOCAL'] >= start_date) & (caal['COLLECTION_DATE_LOCAL'] <= final_date)]
caal_final.head()

In [ ]:
caal_final.shape

In [ ]:
caal_final_group = caal_final.groupby(['COLLECTION_DATE_LOCAL','PROVIDER_CODE','COLLECTION_ORIGIN','FUNDED_BY',
                                      'SOURCE']).agg({'LOAN_ID':'count','AMOUNT':sum,'CAPITAL':sum,'INTEREST':sum,
                                                      'TAX':sum}).reset_index()
caal_final_group.head()

In [ ]:
caal_final_group.shape

#### AP JOURNAL

In [ ]:
# ap_caal.rename(columns ={'AMOUNT':'LOAN_AMOUNT'},inplace=True)
# ap_caal['LOAN_ID'] = ap_caal['MVNT_ID']
ap_caal.head()

In [ ]:
ap_caal.shape

In [ ]:
ap_caal_group = ap_caal.groupby(['EFF_DT_DATE','MOVEMENT_TYPE','SOURCE_TYPE']).agg({'MVNT_ID':'count',
                                                     'AMOUNT':sum}).reset_index()
ap_caal_group.head()

In [ ]:
ap_caal_group.shape

### FEE_REFUNDS

In [ ]:
ap_fee_refunds.head()

In [ ]:
ap_fee_refunds.shape

In [ ]:
ap_fee_refunds_group = ap_fee_refunds.groupby(['EFF_DT_DATE','MOVEMENT_TYPE','SOURCE_TYPE']).agg({'MVNT_ID':'count',
                                                     'AMOUNT':sum}).reset_index()
ap_fee_refunds_group.head()

In [ ]:
ap_fee_refunds_group.shape

In [ ]:
sorted(list(ap['SOURCE_TYPE'].unique()))

### DIGITAL ACCOUNTS

In [ ]:
ap_dig_acc.head()

In [ ]:
ap_dig_acc.shape

In [ ]:
ap_dig_acc_group = ap_dig_acc.groupby(['EFF_DT_DATE','MOVEMENT_TYPE','SOURCE_TYPE']).agg({'MVNT_ID':'count',
                                                     'AMOUNT':sum}).reset_index()
ap_dig_acc_group.head()

In [ ]:
ap_dig_acc_group.shape

### DATA

In [ ]:
ap_data.head()

In [ ]:
ap_data.shape

In [ ]:
ap_data_group = ap_data.groupby(['EFF_DT_DATE','MOVEMENT_TYPE','SOURCE_TYPE']).agg({'MVNT_ID':'count',
                                                     'AMOUNT':sum}).reset_index()
ap_data_group.head()

In [ ]:
ap_data_group.shape

# EXCEL PIVOT DYNAMO

In [ ]:
writer = pd.ExcelWriter('AGRUPACION-FECHA DYNAMO ENERO 2024.xlsx',
                        engine='xlsxwriter',
                        engine_kwargs={'options': {'encoding':'utf-8'}})
ap_bill_pymnt_group.to_excel(writer, sheet_name='BILL_PYMNT',index=False)
ap_bill_pymnt_fees_taxes_group.to_excel(writer, sheet_name='BILL_PYMNT_FEES_TAXES',index=False)
ap_caal_group.to_excel(writer, sheet_name='CAAL - AP_JOURNAL',index=False)
caal_final_group.to_excel(writer, sheet_name='CAAL - REGISTRO CONTABLE',index=False)
ap_data_group.to_excel(writer, sheet_name='DATA',index=False)
ap_dig_acc_group.to_excel(writer, sheet_name='DIG_ACC',index=False)
ap_disb_group.to_excel(writer, sheet_name='DISB',index=False)
ap_fee_refunds_group.to_excel(writer, sheet_name='FEE_REFUNDS',index=False)
ap_loan_group.to_excel(writer, sheet_name='LOANS',index=False)
ap_promo_group.to_excel(writer, sheet_name='PROMO',index=False)
cruce_3_group.to_excel(writer, sheet_name='PYMT',index=False)
ap_refunds_group.to_excel(writer, sheet_name='REFUNDS',index=False)
ap_refunds_fees_taxes_group.to_excel(writer, sheet_name='REFUNDS_FEES_TAXES',index=False)
ap_risk_group.to_excel(writer, sheet_name='RISK')
ap_risk_final_group.to_excel(writer, sheet_name='RISK_TIPO_PAGO')
cruce_1_group.to_excel(writer, sheet_name='SETT',index=False)
ap_sett_adptr_group.to_excel(writer, sheet_name='SETT_ADPTR',index=False)
ap_taxes_group.to_excel(writer, sheet_name='TAXES',index=False)
ap_topups_group.to_excel(writer, sheet_name='TOPUPS',index=False)
writer.close()

In [ ]:
writer = pd.ExcelWriter('AP-JOURNAL DYNAMO ENERO 2024.xlsx',
                        engine='xlsxwriter',
                        engine_kwargs={'options': {'encoding':'utf-8'}})
ap_bill_pymnt.to_excel(writer, sheet_name='BILL_PYMNT',index=False)
ap_bill_pymnt_fees_taxes.to_excel(writer, sheet_name='BILL_PYMNT_FEES_TAXES',index=False)
ap_caal.to_excel(writer, sheet_name='CAAL - AP_JOURNAL',index=False)
caal_final.to_excel(writer, sheet_name='CAAL - REGISTRO CONTABLE',index=False)
ap_data.to_excel(writer, sheet_name='DATA',index=False)
ap_dig_acc.to_excel(writer, sheet_name='DIG_ACC',index=False)
#ap_disb.to_excel(writer, sheet_name='DISB',index=False)
ap_fee_refunds.to_excel(writer, sheet_name='FEE_REFUNDS',index=False)
ap_loan_1.to_excel(writer, sheet_name='LOANS-1',index=False)
ap_loan_2.to_excel(writer, sheet_name='LOANS-2',index=False)
ap_promo.to_excel(writer, sheet_name='PROMO',index=False)
#cruce_3_group.to_excel(writer, sheet_name='PYMT',index=False)
ap_refunds.to_excel(writer, sheet_name='REFUNDS',index=False)
ap_refunds_fees_taxes.to_excel(writer, sheet_name='REFUNDS_FEES_TAXES',index=False)
ap_risk.to_excel(writer, sheet_name='RISK',index=False)
ap_risk_final.to_excel(writer, sheet_name='RISK_TIPO_PAGO',index=False)
#cruce_1_group.to_excel(writer, sheet_name='SETT',index=False)
ap_sett_adptr.to_excel(writer, sheet_name='SETT_ADPTR',index=False)
ap_taxes.to_excel(writer, sheet_name='TAXES',index=False)
ap_topups.to_excel(writer, sheet_name='TOPUPS',index=False)
writer.close()

In [ ]:
writer = pd.ExcelWriter('DYNAMO NOT FOUND ENERO 2024.xlsx',
                        engine='xlsxwriter',
                        engine_kwargs={'options': {'encoding':'utf-8'}})
cruce_1_not_found.to_excel(writer, sheet_name='NOT_FOUND_SETTLED',index=False)
cruce_3_not_found.to_excel(writer, sheet_name='NOT_FOUND_PAYMENT',index=False)
writer.close()

# EXCEL DETALLE DYNAMO

In [ ]:
# writer = pd.ExcelWriter('DETALLE DYNAMO MARZO 2023.xlsx',
#                         engine='xlsxwriter',
#                         engine_kwargs={'options': {'encoding':'utf-8'}})
# cruce_1_range.to_excel(writer, sheet_name='SETT_1',index=False)
# cruce_2_range.to_excel(writer, sheet_name='SETT_2',index=False)
# cruce_3_range.to_excel(writer, sheet_name='SETT_3',index=False)
# ap_topups.to_excel(writer, sheet_name='TOPUPS',index=False)
# ap_disb.to_excel(writer, sheet_name='DISB',index=False)
# ap_loan.to_excel(writer, sheet_name='LOANS',index=False)
# cruce_2.to_excel(writer, sheet_name='PYMT',index=False)
# ap_risk.to_excel(writer, sheet_name='RISK',index=False)
# writer.close()

# EXCEL AP-JOURNAL

In [ ]:
# writer = pd.ExcelWriter('DETALLE AP-JOURNAL MARZO 2023.xlsx',
#                         engine='xlsxwriter',
#                         engine_kwargs={'options': {'encoding':'utf-8'}})
# ap_range_1.to_excel(writer, sheet_name='2023.03.01 - 2023.03.10',index=False)
# ap_range_2.to_excel(writer, sheet_name='2023.03.11 - 2023.03.20',index=False)
# ap_range_3.to_excel(writer, sheet_name='2023.03.21 - 2023.03.30',index=False)
# ap_range_4.to_excel(writer, sheet_name='2023.03.31',index=False)
# writer.close()