In [1]:
import pandas as pd
import numpy as np
from openpyxl import load_workbook
import glob
import os
pd.options.display.float_format = '{:,.2f}'.format

In [2]:
start_date = '2024-01-01'
final_date = '2024-01-31'

# RESPUESTAS FP

In [3]:
bin1 = pd.read_csv(r'C:\Users\Cristian.Aparicio\Documents\DISPERSIONES\Catalogo_Bancos.csv'
                   ,dtype={'BIN':str,'Clave de la institución':str,'Nombre de la institución':str})

In [4]:
bin1.head()

   BIN Clave de la institución Nombre de la institución
0  138                   40138              ABC CAPITAL
1  102                   40102            ACCENDO BANCO
2  133                   40133                 ACTINVER
3  062                   40062                   AFIRME
4  638                   90638                    AKALA

In [5]:
rfp_1 = glob.glob(r'C:\Users\Cristian.Aparicio\Documents\FAST PAYMENTS\2024\01. ENERO\ARCHIVO RESPUESTAS FINALES\*.csv', recursive=False)
rfp_1

['C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2024\\01. ENERO\\ARCHIVO RESPUESTAS FINALES\\Respuesta-FP-ALL 2024-01-01.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2024\\01. ENERO\\ARCHIVO RESPUESTAS FINALES\\Respuesta-FP-ALL 2024-01-02.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2024\\01. ENERO\\ARCHIVO RESPUESTAS FINALES\\Respuesta-FP-ALL 2024-01-03.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2024\\01. ENERO\\ARCHIVO RESPUESTAS FINALES\\Respuesta-FP-ALL 2024-01-04.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2024\\01. ENERO\\ARCHIVO RESPUESTAS FINALES\\Respuesta-FP-ALL 2024-01-05.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2024\\01. ENERO\\ARCHIVO RESPUESTAS FINALES\\Respuesta-FP-ALL 2024-01-06.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2024\\01. ENERO\\ARCHIVO RESPUESTAS FINALES\\Respuesta-FP-ALL 2024-01-07.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2024\\01. ENERO\\ARCHIVO RESPUESTAS FINALES\\Respuesta-FP-ALL 2024-01-08.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2024\\01. ENERO\\ARCHIVO RESPUESTAS FINALES\\Respuesta-FP-ALL 2024-01-09.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2024\\01. ENERO\\ARCHIVO RESPUESTAS FINALES\\Respuesta-FP-ALL 2024-01-10.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2024\\01. ENERO\\ARCHIVO RESPUESTAS FINALES\\Respuesta-FP-ALL 2024-01-11.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2024\\01. ENERO\\ARCHIVO RESPUESTAS FINALES\\Respuesta-FP-ALL 2024-01-12.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2024\\01. ENERO\\ARCHIVO RESPUESTAS FINALES\\Respuesta-FP-ALL 2024-01-13.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2024\\01. ENERO\\ARCHIVO RESPUESTAS FINALES\\Respuesta-FP-ALL 2024-01-14.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2024\\01. ENERO\\ARCHIVO RESPUESTAS FINALES\\Respuesta-FP-ALL 2024-01-15.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2024\\01. ENERO\\ARCHIVO RESPUESTAS FINALES\\Respuesta-FP-ALL 2024-01-16.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2024\\01. ENERO\\ARCHIVO RESPUESTAS FINALES\\Respuesta-FP-ALL 2024-01-17.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2024\\01. ENERO\\ARCHIVO RESPUESTAS FINALES\\Respuesta-FP-ALL 2024-01-18.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2024\\01. ENERO\\ARCHIVO RESPUESTAS FINALES\\Respuesta-FP-ALL 2024-01-19.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2024\\01. ENERO\\ARCHIVO RESPUESTAS FINALES\\Respuesta-FP-ALL 2024-01-20.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2024\\01. ENERO\\ARCHIVO RESPUESTAS FINALES\\Respuesta-FP-ALL 2024-01-21.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2024\\01. ENERO\\ARCHIVO RESPUESTAS FINALES\\Respuesta-FP-ALL 2024-01-22.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2024\\01. ENERO\\ARCHIVO RESPUESTAS FINALES\\Respuesta-FP-ALL 2024-01-23.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2024\\01. ENERO\\ARCHIVO RESPUESTAS FINALES\\Respuesta-FP-ALL 2024-01-24.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2024\\01. ENERO\\ARCHIVO RESPUESTAS FINALES\\Respuesta-FP-ALL 2024-01-25.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2024\\01. ENERO\\ARCHIVO RESPUESTAS FINALES\\Respuesta-FP-ALL 2024-01-26.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2024\\01. ENERO\\ARCHIVO RESPUESTAS FINALES\\Respuesta-FP-ALL 2024-01-27.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2024\\01. ENERO\\ARCHIVO RESPUESTAS FINALES\\Respuesta-FP-ALL 2024-01-28.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2024\\01. ENERO\\ARCHIVO RESPUESTAS FINALES\\Respuesta-FP-ALL 2024-01-29.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2024\\01. ENERO\\ARCHIVO RESPUESTAS FINALES\\Respuesta-FP-ALL 2024-01-30.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2024\\01. ENERO\\ARCHIVO RESPUESTAS FINALES\\Respuesta-FP-ALL 2024-01-31.csv']

In [6]:
rfp_cons = pd.concat([pd.read_csv(f,dtype={'report_id':object,'disbursement_tracking_key':object,'CLABE':object})
                      .assign(file_name=os.path.basename(f)) for f in rfp_1])
rfp_cons['date_envio'] = rfp_cons["file_name"].str[-14:-4]
rfp_cons['date_envio']= pd.to_datetime(rfp_cons['date_envio'])
rfp_cons['BIN'] = rfp_cons['CLABE'].str[:3].replace(' ', '',regex=True)
rfp_cons.head()

,report_id,status,report_date_local,amount,disbursement_batch_id,merchant_id,CLABE,bank_name,bank_account_owner_name,execution_date,...,reference_number,cep,file_name,Batch_time,Banco_emisor,Banco emisor,INDEX,Date_respuesta,BIN,date_envio
0,A5LLH3TWL,PAID,2024-01-01T17:40:13,565.36,95871322-c555-47b9-976a-d4b2f58efeed,00bf0fb9-405a-4b41-9ace-14dfe8e0b471,127456013890994028,AZTECA,Omar Polo Ochoa,2024-01-01T00:00,...,400001,"2024-01-01,42644264202401012759868669,40072,40...",Respuesta-FP-ALL 2024-01-01.csv,02. Second_batch,BANORTE,40072,A5LLH3TWL_02.Second_batch,2024-01-01,127,2024-01-01
1,AQC8LSXPP,PAID,2023-12-27T13:05:46,"6,707.68",95871322-c555-47b9-976a-d4b2f58efeed,012c539f-c3e7-47e0-8f0a-17d8c3c5ad85,058597000021452105,Banco Regional de Monterrey,Enrique Villafuerte,2024-01-01T00:00,...,400002,"2024-01-01,42644264202401012759868932,40072,40...",Respuesta-FP-ALL 2024-01-01.csv,02. Second_batch,BANORTE,40072,AQC8LSXPP_02.Second_batch,2024-01-01,058,2024-01-01
2,AN4WCDXMG,PAID,2024-01-01T17:40:11,"1,145.10",95871322-c555-47b9-976a-d4b2f58efeed,019d425c-787f-4b39-99bd-e6641505ee39,659802020000267294,"Opciones Empresariales del Noreste, S.A. de C....",Jose Guadalupe Herrera Acosta,2024-01-01T00:00,...,400003,"2024-01-01,42644264202401012759868749,40072,90...",Respuesta-FP-ALL 2024-01-01.csv,02. Second_batch,BANORTE,40072,AN4WCDXMG_02.Second_batch,2024-01-01,659,2024-01-01
3,A6K44SCY7,PAID,2024-01-01T17:40:16,"1,092.39",95871322-c555-47b9-976a-d4b2f58efeed,0309b87e-4422-4fb4-9eb6-f6a437c863d9,659802020000008903,ASP INTEGRA OPC,Angela Vargas Albino,2024-01-01T00:00,...,400004,"2024-01-01,42644264202401012759868995,40072,90...",Respuesta-FP-ALL 2024-01-01.csv,02. Second_batch,BANORTE,40072,A6K44SCY7_02.Second_batch,2024-01-01,659,2024-01-01
4,AFHCGM26B,PAID,2024-01-01T17:40:17,766.59,95871322-c555-47b9-976a-d4b2f58efeed,0312be20-d0d4-480c-b877-3fcc640f95e7,659802020000065302,"Opciones Empresariales del Noreste, S.A. de C....",David Aaron Fuentes Granados,2024-01-01T00:00,...,400005,"2024-01-01,42644264202401012759868827,40072,90...",Respuesta-FP-ALL 2024-01-01.csv,02. Second_batch,BANORTE,40072,AFHCGM26B_02.Second_batch,2024-01-01,659,2024-01-01

In [7]:
rfp_cons.shape

(74601, 23)

In [8]:
rfp_total = rfp_cons[(rfp_cons['date_envio'] >= start_date) & (rfp_cons['date_envio'] <= final_date)]
rfp_total.head()

,report_id,status,report_date_local,amount,disbursement_batch_id,merchant_id,CLABE,bank_name,bank_account_owner_name,execution_date,...,reference_number,cep,file_name,Batch_time,Banco_emisor,Banco emisor,INDEX,Date_respuesta,BIN,date_envio
0,A5LLH3TWL,PAID,2024-01-01T17:40:13,565.36,95871322-c555-47b9-976a-d4b2f58efeed,00bf0fb9-405a-4b41-9ace-14dfe8e0b471,127456013890994028,AZTECA,Omar Polo Ochoa,2024-01-01T00:00,...,400001,"2024-01-01,42644264202401012759868669,40072,40...",Respuesta-FP-ALL 2024-01-01.csv,02. Second_batch,BANORTE,40072,A5LLH3TWL_02.Second_batch,2024-01-01,127,2024-01-01
1,AQC8LSXPP,PAID,2023-12-27T13:05:46,"6,707.68",95871322-c555-47b9-976a-d4b2f58efeed,012c539f-c3e7-47e0-8f0a-17d8c3c5ad85,058597000021452105,Banco Regional de Monterrey,Enrique Villafuerte,2024-01-01T00:00,...,400002,"2024-01-01,42644264202401012759868932,40072,40...",Respuesta-FP-ALL 2024-01-01.csv,02. Second_batch,BANORTE,40072,AQC8LSXPP_02.Second_batch,2024-01-01,058,2024-01-01
2,AN4WCDXMG,PAID,2024-01-01T17:40:11,"1,145.10",95871322-c555-47b9-976a-d4b2f58efeed,019d425c-787f-4b39-99bd-e6641505ee39,659802020000267294,"Opciones Empresariales del Noreste, S.A. de C....",Jose Guadalupe Herrera Acosta,2024-01-01T00:00,...,400003,"2024-01-01,42644264202401012759868749,40072,90...",Respuesta-FP-ALL 2024-01-01.csv,02. Second_batch,BANORTE,40072,AN4WCDXMG_02.Second_batch,2024-01-01,659,2024-01-01
3,A6K44SCY7,PAID,2024-01-01T17:40:16,"1,092.39",95871322-c555-47b9-976a-d4b2f58efeed,0309b87e-4422-4fb4-9eb6-f6a437c863d9,659802020000008903,ASP INTEGRA OPC,Angela Vargas Albino,2024-01-01T00:00,...,400004,"2024-01-01,42644264202401012759868995,40072,90...",Respuesta-FP-ALL 2024-01-01.csv,02. Second_batch,BANORTE,40072,A6K44SCY7_02.Second_batch,2024-01-01,659,2024-01-01
4,AFHCGM26B,PAID,2024-01-01T17:40:17,766.59,95871322-c555-47b9-976a-d4b2f58efeed,0312be20-d0d4-480c-b877-3fcc640f95e7,659802020000065302,"Opciones Empresariales del Noreste, S.A. de C....",David Aaron Fuentes Granados,2024-01-01T00:00,...,400005,"2024-01-01,42644264202401012759868827,40072,90...",Respuesta-FP-ALL 2024-01-01.csv,02. Second_batch,BANORTE,40072,AFHCGM26B_02.Second_batch,2024-01-01,659,2024-01-01

In [9]:
rfp_total.shape

(74601, 23)

In [10]:
rfp_total['date_envio'].unique()

<DatetimeArray>
['2024-01-01 00:00:00', '2024-01-02 00:00:00', '2024-01-03 00:00:00',
 '2024-01-04 00:00:00', '2024-01-05 00:00:00', '2024-01-06 00:00:00',
 '2024-01-07 00:00:00', '2024-01-08 00:00:00', '2024-01-09 00:00:00',
 '2024-01-10 00:00:00', '2024-01-11 00:00:00', '2024-01-12 00:00:00',
 '2024-01-13 00:00:00', '2024-01-14 00:00:00', '2024-01-15 00:00:00',
 '2024-01-16 00:00:00', '2024-01-17 00:00:00', '2024-01-18 00:00:00',
 '2024-01-19 00:00:00', '2024-01-20 00:00:00', '2024-01-21 00:00:00',
 '2024-01-22 00:00:00', '2024-01-23 00:00:00', '2024-01-24 00:00:00',
 '2024-01-25 00:00:00', '2024-01-26 00:00:00', '2024-01-27 00:00:00',
 '2024-01-28 00:00:00', '2024-01-29 00:00:00', '2024-01-30 00:00:00',
 '2024-01-31 00:00:00']
Length: 31, dtype: datetime64[ns]

In [11]:
rfp_total_2 = rfp_total.merge(bin1[['BIN','Clave de la institución','Nombre de la institución']] ,on='BIN', how='left')
rfp_total_2.loc[rfp_total_2['Nombre de la institución'] == 'BANORTE/IXE', "COMISION SIN IVA"] = 1.05
rfp_total_2.loc[rfp_total_2['Nombre de la institución'] != 'BANORTE/IXE', "COMISION SIN IVA"] = 1.80
rfp_total_2['IVA'] = rfp_total_2['COMISION SIN IVA'] * 0.16
rfp_total_2['COMISION'] = rfp_total_2['COMISION SIN IVA'] + rfp_total_2['IVA']
rfp_total_2.head()

,report_id,status,report_date_local,amount,disbursement_batch_id,merchant_id,CLABE,bank_name,bank_account_owner_name,execution_date,...,Banco emisor,INDEX,Date_respuesta,BIN,date_envio,Clave de la institución,Nombre de la institución,COMISION SIN IVA,IVA,COMISION
0,A5LLH3TWL,PAID,2024-01-01T17:40:13,565.36,95871322-c555-47b9-976a-d4b2f58efeed,00bf0fb9-405a-4b41-9ace-14dfe8e0b471,127456013890994028,AZTECA,Omar Polo Ochoa,2024-01-01T00:00,...,40072,A5LLH3TWL_02.Second_batch,2024-01-01,127,2024-01-01,40127,AZTECA,1.80,0.29,2.09
1,AQC8LSXPP,PAID,2023-12-27T13:05:46,"6,707.68",95871322-c555-47b9-976a-d4b2f58efeed,012c539f-c3e7-47e0-8f0a-17d8c3c5ad85,058597000021452105,Banco Regional de Monterrey,Enrique Villafuerte,2024-01-01T00:00,...,40072,AQC8LSXPP_02.Second_batch,2024-01-01,058,2024-01-01,40058,BANREGIO,1.80,0.29,2.09
2,AN4WCDXMG,PAID,2024-01-01T17:40:11,"1,145.10",95871322-c555-47b9-976a-d4b2f58efeed,019d425c-787f-4b39-99bd-e6641505ee39,659802020000267294,"Opciones Empresariales del Noreste, S.A. de C....",Jose Guadalupe Herrera Acosta,2024-01-01T00:00,...,40072,AN4WCDXMG_02.Second_batch,2024-01-01,659,2024-01-01,90659,ASP INTEGRA OPC,1.80,0.29,2.09
3,A6K44SCY7,PAID,2024-01-01T17:40:16,"1,092.39",95871322-c555-47b9-976a-d4b2f58efeed,0309b87e-4422-4fb4-9eb6-f6a437c863d9,659802020000008903,ASP INTEGRA OPC,Angela Vargas Albino,2024-01-01T00:00,...,40072,A6K44SCY7_02.Second_batch,2024-01-01,659,2024-01-01,90659,ASP INTEGRA OPC,1.80,0.29,2.09
4,AFHCGM26B,PAID,2024-01-01T17:40:17,766.59,95871322-c555-47b9-976a-d4b2f58efeed,0312be20-d0d4-480c-b877-3fcc640f95e7,659802020000065302,"Opciones Empresariales del Noreste, S.A. de C....",David Aaron Fuentes Granados,2024-01-01T00:00,...,40072,AFHCGM26B_02.Second_batch,2024-01-01,659,2024-01-01,90659,ASP INTEGRA OPC,1.80,0.29,2.09

In [12]:
rfp_total_2.shape

(74601, 28)

In [13]:
rfp_final = rfp_total_2[['Date_respuesta','report_date_local','report_id','CLABE','amount','COMISION SIN IVA','IVA',
                         'COMISION','status','Nombre de la institución']]
# rfp_final['error_description'].fillna('NO ERROR',inplace=True)

In [14]:
# rfp_final.loc[~rfp_final['error_description'].str.contains('NO ERROR'), 'status'] = 'ERROR'

In [15]:
rfp_final.sort_values(['Date_respuesta','status'], inplace=True)
rfp_final.head()

C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_9608\128289944.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  rfp_final.sort_values(['Date_respuesta','status'], inplace=True)

,Date_respuesta,report_date_local,report_id,CLABE,amount,COMISION SIN IVA,IVA,COMISION,status,Nombre de la institución
18,2024-01-01,2024-01-01T13:05:20,AR3LJGSXN,677248044011352464,"1,612.24",1.80,0.29,2.09,ERROR,CAJA POP MEXICA
23,2024-01-01,2024-01-01T13:05:13,ARHPK56L6,677225043224574231,670.76,1.80,0.29,2.09,ERROR,CAJA POP MEXICA
25,2024-01-01,2024-01-01T13:05:21,A95HMQCJ8,677010042278353012,924.70,1.80,0.29,2.09,ERROR,CAJA POP MEXICA
112,2024-01-01,2024-01-01T17:40:11,ATJ5WYZKZ,659802020000577065,"9,582.40",1.80,0.29,2.09,ERROR,ASP INTEGRA OPC
120,2024-01-01,2024-01-01T13:05:08,ANGQHNPVT,677245044147354368,383.30,1.80,0.29,2.09,ERROR,CAJA POP MEXICA

In [16]:
rfp_final.shape

(74601, 10)

In [17]:
# rfp_final_paid = rfp_final[(rfp_final['status'] == 'PAID')]
# rfp_final_paid.head()

In [18]:
# rfp_final_paid.shape

In [19]:
rfp_final_payment = pd.pivot_table(rfp_final,index=["Date_respuesta"],values=["amount",'COMISION SIN IVA','IVA','COMISION']
                                      ,aggfunc=np.sum,margins=True)
rfp_final_payment = rfp_final_payment.reset_index(drop=False)

C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_9608\3572161389.py:1: FutureWarning: The provided callable <function sum at 0x000002C8C78CA0D0> is currently using DataFrameGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  rfp_final_payment = pd.pivot_table(rfp_final,index=["Date_respuesta"],values=["amount",'COMISION SIN IVA','IVA','COMISION']

In [20]:
rfp_final_payment_pivot = rfp_final_payment[['Date_respuesta','amount','COMISION SIN IVA','IVA','COMISION']]
rfp_final_payment_pivot.head()

  Date_respuesta       amount  COMISION SIN IVA    IVA  COMISION
0     2024-01-01 1,677,947.06          2,104.80 336.77  2,441.57
1     2024-01-02 2,900,343.26          4,709.55 753.53  5,463.08
2     2024-01-03 1,749,042.46          4,273.50 683.76  4,957.26
3     2024-01-04 2,717,041.63          4,676.70 748.27  5,424.97
4     2024-01-05 1,968,067.50          4,390.80 702.53  5,093.33

In [21]:
rfp_final_payment_pivot.shape

(32, 5)

In [22]:
rfp_final_date_res = pd.pivot_table(rfp_final,index=["Date_respuesta"],values=["amount",'COMISION SIN IVA','IVA','COMISION']
                                      ,aggfunc=np.sum,margins=True)
rfp_final_date_res = rfp_final_date_res.reset_index(drop=False)

C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_9608\2992343940.py:1: FutureWarning: The provided callable <function sum at 0x000002C8C78CA0D0> is currently using DataFrameGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  rfp_final_date_res = pd.pivot_table(rfp_final,index=["Date_respuesta"],values=["amount",'COMISION SIN IVA','IVA','COMISION']

In [23]:
rfp_final_date_res_pivot = rfp_final_date_res[['Date_respuesta','amount','COMISION SIN IVA','IVA','COMISION']]
rfp_final_date_res_pivot.head()

  Date_respuesta       amount  COMISION SIN IVA    IVA  COMISION
0     2024-01-01 1,677,947.06          2,104.80 336.77  2,441.57
1     2024-01-02 2,900,343.26          4,709.55 753.53  5,463.08
2     2024-01-03 1,749,042.46          4,273.50 683.76  4,957.26
3     2024-01-04 2,717,041.63          4,676.70 748.27  5,424.97
4     2024-01-05 1,968,067.50          4,390.80 702.53  5,093.33

In [24]:
rfp_final_date_res_pivot.shape

(32, 5)

In [25]:
rfp_final_status = pd.pivot_table(rfp_final,index=["Date_respuesta",'status'],values=["amount",'COMISION SIN IVA','IVA','COMISION']
                                      ,aggfunc=np.sum,margins=True)
rfp_final_status = rfp_final_status.reset_index(drop=False)

C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_9608\102650674.py:1: FutureWarning: The provided callable <function sum at 0x000002C8C78CA0D0> is currently using DataFrameGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  rfp_final_status = pd.pivot_table(rfp_final,index=["Date_respuesta",'status'],values=["amount",'COMISION SIN IVA','IVA','COMISION']

In [26]:
rfp_final_status_pivot = rfp_final_status[['Date_respuesta','status','amount','COMISION SIN IVA','IVA','COMISION']]
rfp_final_status_pivot.head()

  Date_respuesta    status       amount  COMISION SIN IVA    IVA  COMISION
0     2024-01-01     ERROR   356,957.18             63.00  10.08     73.08
1     2024-01-01      PAID 1,320,989.88          2,041.80 326.69  2,368.49
2     2024-01-02     ERROR   385,732.19            182.85  29.26    212.11
3     2024-01-02  ERROR_TV    18,478.71             41.40   6.62     48.02
4     2024-01-02       NEW   172,375.74            106.20  16.99    123.19

In [27]:
rfp_final_status_pivot.shape

(91, 6)

In [28]:
writer = pd.ExcelWriter('FP RESPUESTA ENERO 2024.xlsx',
                        engine='xlsxwriter',
                        engine_kwargs={'options': {'encoding':'utf-8'}})
rfp_final.to_excel(writer, sheet_name='DATA DETALLE',index=False)
rfp_final_payment_pivot.to_excel(writer, sheet_name='DATA BY PAYMENT DATE',index=False)
rfp_final_date_res_pivot.to_excel(writer, sheet_name='DATA BY DATE RESPUESTA',index=False)
rfp_final_status_pivot.to_excel(writer, sheet_name='DATA BY STATUS',index=False)
writer.close()

# DEVOLUCIONES FAST PAYMENTS

In [29]:
dev_files = glob.glob(r'C:\Users\Cristian.Aparicio\Documents\FAST PAYMENTS\2024\01. ENERO\ARCHIVO DISPERSIONES FP\Dispersión-FP*.xlsx', recursive=False)
dev_files

['C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2024\\01. ENERO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2024-01-01.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2024\\01. ENERO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2024-01-02.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2024\\01. ENERO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2024-01-03.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2024\\01. ENERO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2024-01-04.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2024\\01. ENERO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2024-01-05.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2024\\01. ENERO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2024-01-06.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2024\\01. ENERO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2024-01-07.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2024\\01. ENERO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2024-01-08.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2024\\01. ENERO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2024-01-09.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2024\\01. ENERO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2024-01-10.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2024\\01. ENERO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2024-01-11.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2024\\01. ENERO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2024-01-12.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2024\\01. ENERO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2024-01-13.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2024\\01. ENERO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2024-01-14.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2024\\01. ENERO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2024-01-15.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2024\\01. ENERO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2024-01-16.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2024\\01. ENERO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2024-01-17.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2024\\01. ENERO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2024-01-18.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2024\\01. ENERO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2024-01-19.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2024\\01. ENERO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2024-01-20.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2024\\01. ENERO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2024-01-21.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2024\\01. ENERO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2024-01-22.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2024\\01. ENERO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2024-01-23.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2024\\01. ENERO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2024-01-24.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2024\\01. ENERO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2024-01-25.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2024\\01. ENERO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2024-01-26.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2024\\01. ENERO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2024-01-27.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2024\\01. ENERO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2024-01-28.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2024\\01. ENERO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2024-01-29.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2024\\01. ENERO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2024-01-30.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2024\\01. ENERO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2024-01-31.xlsx']

In [30]:
dev_1 = pd.concat([pd.read_excel(f,sheet_name='ERROR',converters={'report_id':str})
                      .assign(file_name=os.path.basename(f)) for f in dev_files])
dev_1.columns = dev_1.columns.str.strip().str.lower() 
dev_1['date_file'] = dev_1["file_name"].str[-15:-5]
dev_1['date_file']= pd.to_datetime(dev_1['date_file'])
dev_1['report_date_local'] = pd.to_datetime(dev_1['report_date_local'])
dev_1.head()

,type,merchant_id,merchant_name,user_email,report_id,report_date_local,total_due,tipo,bank,batch_time,check,error_description,file_name,date_file
0,LEDGER_FP,0a00f802-ff5a-49c6-8ad6-693c5b544f3f,NaN,NaN,AR3LJGSXN,2024-01-01,"1,612.24",Pago del día,CAJA POP MEXICA,02. Second_batch,SPEI DEVUELTO,BANCO RECEPTOR ESTA DESCONECTADO,Dispersión-FP 2024-01-01.xlsx,2024-01-01
1,LEDGER_FP,0db5a402-c0ef-4efa-ba81-f5ded327b01b,NaN,NaN,ARHPK56L6,2024-01-01,670.76,Pago del día,CAJA POP MEXICA,02. Second_batch,SPEI DEVUELTO,/21/CB Return m.BNMX_RET_98 (BNMX_RET_98) /SBS...,Dispersión-FP 2024-01-01.xlsx,2024-01-01
2,LEDGER_FP,0f8187da-2201-47a4-a080-c3fd0c295845,NaN,NaN,A95HMQCJ8,2024-01-01,924.70,Pago del día,CAJA POP MEXICA,02. Second_batch,SPEI DEVUELTO,BANCO RECEPTOR ESTA DESCONECTADO,Dispersión-FP 2024-01-01.xlsx,2024-01-01
3,LEDGER_FP,4fd8ff57-a301-4dd5-8af6-e92038329134,NaN,NaN,ATJ5WYZKZ,2024-01-01,"9,582.40",Pago del día,ASP INTEGRA OPC,02. Second_batch,SPEI DEVUELTO,DEV.SPEITIPO DE CUENTA NO CORR,Dispersión-FP 2024-01-01.xlsx,2024-01-01
4,LEDGER_FP,5516a3c0-cb46-4649-8859-4d2143583f03,NaN,NaN,ANGQHNPVT,2024-01-01,383.30,Pago del día,CAJA POP MEXICA,02. Second_batch,SPEI DEVUELTO,BANCO RECEPTOR ESTA DESCONECTADO,Dispersión-FP 2024-01-01.xlsx,2024-01-01

In [31]:
dev_1.shape

(4060, 14)

In [32]:
dev_1['tipo'].unique()

array(['Pago del día', 'Reprogramación'], dtype=object)

### DEVOLUCIONES TOTALES

In [33]:
dev_total_pivot = pd.pivot_table(dev_1,index=["date_file"],values=['total_due'],aggfunc = ['sum',len],margins=True)
dev_total_pivot.reset_index(drop=False, inplace=True)
dev_total_pivot.head()

             date_file        sum       len
                        total_due total_due
0  2024-01-01 00:00:00 356,957.18        35
1  2024-01-02 00:00:00 576,586.64       184
2  2024-01-03 00:00:00  60,155.79        31
3  2024-01-04 00:00:00 714,697.12       109
4  2024-01-05 00:00:00 188,786.73        48

In [34]:
dev_total_pivot.shape

(32, 3)

### DEVOLUCIONES PAGO DEL DIA

In [35]:
dev_dia = dev_1[(dev_1['tipo'] == 'Pago del día')]

In [36]:
dev_dia_pivot = pd.pivot_table(dev_dia,index=["date_file"],values=['total_due'],aggfunc = ['sum', len],margins=True)
dev_dia_pivot.reset_index(drop=False, inplace=True)
dev_dia_pivot.head()

             date_file        sum       len
                        total_due total_due
0  2024-01-01 00:00:00 327,922.52        28
1  2024-01-02 00:00:00 164,470.87        34
2  2024-01-03 00:00:00  53,055.23        27
3  2024-01-04 00:00:00  99,199.00        36
4  2024-01-05 00:00:00 141,402.72        45

In [37]:
dev_dia_pivot.shape

(32, 3)

### DEVOLUCIONES REPROGRAMACION

In [38]:
dev_repro = dev_1[(dev_1['tipo'] == 'Reprogramación')]

In [39]:
dev_repro_pivot = pd.pivot_table(dev_repro,index=["date_file"],values=['total_due'],aggfunc = ['sum', len],margins=True)
dev_repro_pivot.reset_index(drop=False, inplace=True)
dev_repro_pivot.head()

             date_file        sum       len
                        total_due total_due
0  2024-01-01 00:00:00  29,034.66         7
1  2024-01-02 00:00:00 412,115.77       150
2  2024-01-03 00:00:00   7,100.56         4
3  2024-01-04 00:00:00 615,498.12        73
4  2024-01-05 00:00:00  47,384.01         3

In [40]:
dev_repro_pivot.shape

(31, 3)

# EXCEL DEVOLUCIONES

In [41]:
writer = pd.ExcelWriter('FP ERROR ENERO 2024.xlsx',
                        engine='xlsxwriter',
                        engine_kwargs={'options': {'encoding':'utf-8'}})
dev_total_pivot.to_excel(writer, sheet_name='TOTAL ERROR')
dev_dia_pivot.to_excel(writer, sheet_name='PAGO DEL DIA')
dev_repro_pivot.to_excel(writer, sheet_name='REPROGRAMACION')
writer.close()

# MONTOS BY DAY

In [42]:
qu_1 = glob.glob(r'C:\Users\Cristian.Aparicio\Documents\FAST PAYMENTS\2024\01. ENERO\ARCHIVO DISPERSIONES FP\Dispersión-FP*.xlsx', recursive=False)
qu_1

['C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2024\\01. ENERO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2024-01-01.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2024\\01. ENERO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2024-01-02.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2024\\01. ENERO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2024-01-03.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2024\\01. ENERO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2024-01-04.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2024\\01. ENERO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2024-01-05.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2024\\01. ENERO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2024-01-06.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2024\\01. ENERO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2024-01-07.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2024\\01. ENERO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2024-01-08.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2024\\01. ENERO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2024-01-09.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2024\\01. ENERO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2024-01-10.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2024\\01. ENERO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2024-01-11.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2024\\01. ENERO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2024-01-12.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2024\\01. ENERO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2024-01-13.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2024\\01. ENERO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2024-01-14.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2024\\01. ENERO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2024-01-15.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2024\\01. ENERO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2024-01-16.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2024\\01. ENERO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2024-01-17.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2024\\01. ENERO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2024-01-18.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2024\\01. ENERO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2024-01-19.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2024\\01. ENERO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2024-01-20.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2024\\01. ENERO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2024-01-21.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2024\\01. ENERO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2024-01-22.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2024\\01. ENERO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2024-01-23.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2024\\01. ENERO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2024-01-24.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2024\\01. ENERO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2024-01-25.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2024\\01. ENERO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2024-01-26.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2024\\01. ENERO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2024-01-27.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2024\\01. ENERO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2024-01-28.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2024\\01. ENERO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2024-01-29.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2024\\01. ENERO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2024-01-30.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2024\\01. ENERO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2024-01-31.xlsx']

In [43]:
fp_settled = pd.concat([pd.read_excel(f,sheet_name='SETTLEMENT',converters={'report_id':str,'disbursement_tracking_key':str,'CLABE':str})
                      .assign(file_name=os.path.basename(f)) for f in qu_1])
fp_settled.columns = fp_settled.columns.str.strip().str.lower() 
fp_settled['date_envio'] = fp_settled["file_name"].str[-15:-5]
fp_settled['date_envio']= pd.to_datetime(fp_settled['date_envio'])
fp_settled['report_date_local'] = pd.to_datetime(fp_settled['report_date_local'])
fp_settled.head()

Empty DataFrame
Columns: [merchant_id, merchant_name, user_email, report_id, report_date_local, total_transactions, total_fees_charged, total_taxes, applied_fees_benefits, applied_taxes_benefits, fee_direct_deposit, taxes_direct_deposit, total_adjustments, cobranza, total_released, total_retained, tipopago, total_due, type, created_date, created_time, updated_date, updated_time, file_name, date_envio]
Index: []

[0 rows x 25 columns]

In [44]:
fp_settled.shape

(0, 25)

In [45]:
duplicates = fp_settled[fp_settled.duplicated(['report_id'] , keep=False)]
duplicates.head()

Empty DataFrame
Columns: [merchant_id, merchant_name, user_email, report_id, report_date_local, total_transactions, total_fees_charged, total_taxes, applied_fees_benefits, applied_taxes_benefits, fee_direct_deposit, taxes_direct_deposit, total_adjustments, cobranza, total_released, total_retained, tipopago, total_due, type, created_date, created_time, updated_date, updated_time, file_name, date_envio]
Index: []

[0 rows x 25 columns]

In [46]:
duplicates.shape

(0, 25)

In [47]:
# fp_settled.to_csv('FP SETTLEMENT FEBRERO 2021.csv',index=False)

In [48]:
fp_settled_2 = fp_settled.groupby(['report_date_local']).agg({'total_transactions':sum,'total_fees_charged':sum,'total_taxes':sum
                                                     ,'applied_fees_benefits':sum,'applied_taxes_benefits':sum
                                                     ,'fee_direct_deposit':sum,'taxes_direct_deposit':sum
                                                     ,'total_adjustments':sum,'cobranza':sum,'total_released':sum
                                                     ,'total_retained':sum,'total_due':sum}).reset_index()
fp_settled_2.head()

C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_9608\1753704878.py:1: FutureWarning: The provided callable <built-in function sum> is currently using SeriesGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  fp_settled_2 = fp_settled.groupby(['report_date_local']).agg({'total_transactions':sum,'total_fees_charged':sum,'total_taxes':sum

Empty DataFrame
Columns: [report_date_local, total_transactions, total_fees_charged, total_taxes, applied_fees_benefits, applied_taxes_benefits, fee_direct_deposit, taxes_direct_deposit, total_adjustments, cobranza, total_released, total_retained, total_due]
Index: []

In [49]:
fp_settled_2.shape

(0, 13)

In [50]:
# fp_settled_2.to_csv('FP MONTOS BY DAY FEBRERO.csv',index=False)

# TIPOS DE PAGO

In [51]:
disp_fp = pd.concat([pd.read_excel(f,sheet_name='FAST PAYMENTS',converters={'report_id':str,'disbursement_tracking_key':str,'CLABE':str})
                      .assign(file_name=os.path.basename(f)) for f in qu_1])
disp_fp['date_envio'] = disp_fp["file_name"].str[-15:-5]
disp_fp['date_envio']= pd.to_datetime(disp_fp['date_envio'])
disp_fp['report_date_local'] = pd.to_datetime(disp_fp['report_date_local'])
disp_fp.head()

,type,merchant_id,merchant_name,user_email,report_id,report_date_local,total_due,tipo,bank,swap,CLABE,status,LINEA CEP,Batch_time,Banco_emisor,file_name,date_envio
0,LEDGER_FP,0a00f802-ff5a-49c6-8ad6-693c5b544f3f,NaN,NaN,AR3LJGSXN,2024-01-01,"1,612.24",Pago del día,CAJA POP MEXICA,Juan Pablo Cruz Martinez,677248044011352464,ERROR,NaN,02. Second_batch,BANORTE,Dispersión-FP 2024-01-01.xlsx,2024-01-01
1,LEDGER_FP,0db5a402-c0ef-4efa-ba81-f5ded327b01b,NaN,NaN,ARHPK56L6,2024-01-01,670.76,Pago del día,CAJA POP MEXICA,Juan Alberto Lopez Gomez,677225043224574231,ERROR,NaN,02. Second_batch,BANORTE,Dispersión-FP 2024-01-01.xlsx,2024-01-01
2,LEDGER_FP,0f8187da-2201-47a4-a080-c3fd0c295845,NaN,NaN,A95HMQCJ8,2024-01-01,924.70,Pago del día,CAJA POP MEXICA,Claudia Horalia Rivera Reyes,677010042278353012,ERROR,NaN,02. Second_batch,BANORTE,Dispersión-FP 2024-01-01.xlsx,2024-01-01
3,LEDGER_FP,4fd8ff57-a301-4dd5-8af6-e92038329134,NaN,NaN,ATJ5WYZKZ,2024-01-01,"9,582.40",Pago del día,ASP INTEGRA OPC,Alejandra Rodriguez Guzman,659802020000577065,ERROR,NaN,02. Second_batch,BANORTE,Dispersión-FP 2024-01-01.xlsx,2024-01-01
4,LEDGER_FP,5516a3c0-cb46-4649-8859-4d2143583f03,NaN,NaN,ANGQHNPVT,2024-01-01,383.30,Pago del día,CAJA POP MEXICA,Marco Antonio Bello Serrano,677245044147354368,ERROR,NaN,02. Second_batch,BANORTE,Dispersión-FP 2024-01-01.xlsx,2024-01-01

In [52]:
disp_fp.shape

(74601, 17)

In [53]:
pivot_total = disp_fp.groupby(['date_envio']).agg({'total_due':sum}).reset_index()
pivot_total.head()

C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_9608\1447511370.py:1: FutureWarning: The provided callable <built-in function sum> is currently using SeriesGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  pivot_total = disp_fp.groupby(['date_envio']).agg({'total_due':sum}).reset_index()

  date_envio    total_due
0 2024-01-01 1,677,947.06
1 2024-01-02 2,900,343.26
2 2024-01-03 1,749,042.46
3 2024-01-04 2,717,041.63
4 2024-01-05 1,968,067.50

In [54]:
pivot_total.shape

(31, 2)

In [55]:
pivot_parcial = disp_fp.groupby(['tipo','date_envio']).agg({'total_due':sum}).reset_index()
pivot_parcial.head()

C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_9608\1288342160.py:1: FutureWarning: The provided callable <built-in function sum> is currently using SeriesGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  pivot_parcial = disp_fp.groupby(['tipo','date_envio']).agg({'total_due':sum}).reset_index()

           tipo date_envio    total_due
0  Pago del día 2024-01-01   919,393.73
1  Pago del día 2024-01-02 1,403,802.12
2  Pago del día 2024-01-03 1,213,483.69
3  Pago del día 2024-01-04 1,435,718.16
4  Pago del día 2024-01-05 1,558,952.34

In [56]:
pivot_parcial.shape

(62, 3)

In [57]:
writer = pd.ExcelWriter('FP TIPO DE PAGO ENERO 2024.xlsx',
                        engine='xlsxwriter',
                        engine_kwargs={'options': {'encoding':'utf-8'}})
pivot_total.to_excel(writer, sheet_name='FP TOTAL')
pivot_parcial.to_excel(writer, sheet_name='FP PARCIAL')
writer.close()