# ARCHIVOS SETTLEMENT A PARTIR DE:
# - FAST PAYMENTS DEL 01 DE ENERO 2024
# - NOT FOUND (DYNAMO) DEL 01 DE ENERO 2024
# - 01 DE ENERO 2024


# ARCHIVOS LENDER A PARTIR DEL 01 ENERO 2024

In [1]:
import pandas as pd
import numpy as np
from openpyxl import load_workbook
import glob
import os
pd.options.display.float_format = '{:,.2f}'.format

### DIFERENCIA FAST PAYMENTS

In [2]:
# df0 = pd.read_excel(r'C:\Users\Cristian.Aparicio\Documents\FACTURACION\2022\05. MAYO\DIFERENCIA MAYO 2022.xlsx', sheet_name='Sheet1')
# df0['Date'] = '2022-04-29'
# df0['Date'] = pd.to_datetime(df0['Date'])
# df0.head()

In [3]:
# df0.shape

In [4]:
# df0.columns

In [5]:
# df0['total_transactions'] = df0['total_transactions'].astype(float)
# df0['total_fees_charged'] = df0['total_fees_charged'].astype(float)
# df0['total_taxes'] = df0['total_taxes'].astype(float)
# df0['applied_fees_benefits'] = df0['applied_fees_benefits'].astype(float)
# df0['applied_taxes_benefits'] = df0['applied_taxes_benefits'].astype(float)
# df0['fee_direct_deposit'] = df0['fee_direct_deposit'].astype(float)
# df0['taxes_direct_deposit'] = df0['taxes_direct_deposit'].astype(float)
# df0['total_adjustments'] = df0['total_adjustments'].astype(float)
# df0['total_adjustment_fees_charged'] = df0['total_adjustment_fees_charged'].astype(float)
# df0['total_adjustment_taxes'] = df0['total_adjustment_taxes'].astype(float)
# df0['cobranza'] = df0['cobranza'].astype(float)
# df0['total_released'] = df0['total_released'].astype(float)
# df0['total_retained'] = df0['total_retained'].astype(float)
# df0['total_due'] = df0['total_due'].astype(float)

In [6]:
# df0.dtypes

### MES ACTUAL

In [7]:
start_date_fact = '2024-01-01'
# final_date_mes = '2020-10-26'

In [8]:
allfiles_fact = glob.glob(r'C:\Users\Cristian.Aparicio\Documents\DISPERSIONES\2024\01. ENERO\QUERIES\*.csv', recursive=False)
allfiles_fact

['C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2024\\01. ENERO\\QUERIES\\SETTLEMENT 2024-01-01.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2024\\01. ENERO\\QUERIES\\SETTLEMENT 2024-01-02.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2024\\01. ENERO\\QUERIES\\SETTLEMENT 2024-01-03.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2024\\01. ENERO\\QUERIES\\SETTLEMENT 2024-01-04.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2024\\01. ENERO\\QUERIES\\SETTLEMENT 2024-01-05.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2024\\01. ENERO\\QUERIES\\SETTLEMENT 2024-01-06.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2024\\01. ENERO\\QUERIES\\SETTLEMENT 2024-01-07.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2024\\01. ENERO\\QUERIES\\SETTLEMENT 2024-01-08.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2024\\01. ENERO\\QUERIES\\SETTLEMENT 2024-01-09.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2024\\01. ENERO\\QUERIES\\SETTLEMENT 2024-01-10.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2024\\01. ENERO\\QUERIES\\SETTLEMENT 2024-01-11.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2024\\01. ENERO\\QUERIES\\SETTLEMENT 2024-01-12.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2024\\01. ENERO\\QUERIES\\SETTLEMENT 2024-01-13.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2024\\01. ENERO\\QUERIES\\SETTLEMENT 2024-01-14.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2024\\01. ENERO\\QUERIES\\SETTLEMENT 2024-01-15.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2024\\01. ENERO\\QUERIES\\SETTLEMENT 2024-01-16.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2024\\01. ENERO\\QUERIES\\SETTLEMENT 2024-01-17.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2024\\01. ENERO\\QUERIES\\SETTLEMENT 2024-01-18.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2024\\01. ENERO\\QUERIES\\SETTLEMENT 2024-01-19.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2024\\01. ENERO\\QUERIES\\SETTLEMENT 2024-01-20.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2024\\01. ENERO\\QUERIES\\SETTLEMENT 2024-01-21.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2024\\01. ENERO\\QUERIES\\SETTLEMENT 2024-01-22.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2024\\01. ENERO\\QUERIES\\SETTLEMENT 2024-01-23.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2024\\01. ENERO\\QUERIES\\SETTLEMENT 2024-01-24.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2024\\01. ENERO\\QUERIES\\SETTLEMENT 2024-01-25.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2024\\01. ENERO\\QUERIES\\SETTLEMENT 2024-01-26.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2024\\01. ENERO\\QUERIES\\SETTLEMENT 2024-01-27.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2024\\01. ENERO\\QUERIES\\SETTLEMENT 2024-01-28.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2024\\01. ENERO\\QUERIES\\SETTLEMENT 2024-01-29.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2024\\01. ENERO\\QUERIES\\SETTLEMENT 2024-01-30.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2024\\01. ENERO\\QUERIES\\SETTLEMENT 2024-01-31.csv']

In [9]:
fact_current_month = pd.concat([pd.read_csv(f).assign(file_name=os.path.basename(f)) for f in allfiles_fact])
fact_current_month['user_email'] = fact_current_month['user_email'].str.lower()
fact_current_month['Date'] = fact_current_month["file_name"].str[-14:-4]
fact_current_month['Date']= pd.to_datetime(fact_current_month['Date'])
fact_current_month['total_transactions'] = fact_current_month['total_transactions'].astype(float)
fact_current_month.head()

Empty DataFrame
Columns: [merchant_id, merchant_name, user_email, report_id, report_date_local, total_transactions, total_fees_charged, total_taxes, applied_fees_benefits, applied_taxes_benefits, fee_direct_deposit, taxes_direct_deposit, total_adjustments, total_adjustment_fees_charged, total_adjustment_taxes, cobranza, total_released, total_retained, tipopago, total_due, type, created_date, created_time, updated_date, updated_time, file_name, Date]
Index: []

[0 rows x 27 columns]

In [10]:
fact_current_month.shape

(0, 27)

In [11]:
fact_current_month_final = fact_current_month[(fact_current_month['Date'] >= start_date_fact)]
fact_current_month_final.head()

Empty DataFrame
Columns: [merchant_id, merchant_name, user_email, report_id, report_date_local, total_transactions, total_fees_charged, total_taxes, applied_fees_benefits, applied_taxes_benefits, fee_direct_deposit, taxes_direct_deposit, total_adjustments, total_adjustment_fees_charged, total_adjustment_taxes, cobranza, total_released, total_retained, tipopago, total_due, type, created_date, created_time, updated_date, updated_time, file_name, Date]
Index: []

[0 rows x 27 columns]

In [12]:
fact_current_month_final.shape

(0, 27)

In [13]:
fact_antes_cupones_deferred = pd.concat([fact_current_month_final])
fact_antes_cupones_deferred.head()

Empty DataFrame
Columns: [merchant_id, merchant_name, user_email, report_id, report_date_local, total_transactions, total_fees_charged, total_taxes, applied_fees_benefits, applied_taxes_benefits, fee_direct_deposit, taxes_direct_deposit, total_adjustments, total_adjustment_fees_charged, total_adjustment_taxes, cobranza, total_released, total_retained, tipopago, total_due, type, created_date, created_time, updated_date, updated_time, file_name, Date]
Index: []

[0 rows x 27 columns]

In [14]:
fact_antes_cupones_deferred.shape

(0, 27)

In [15]:
fact_antes_cupones_deferred['Date'].unique()

<DatetimeArray>
[]
Length: 0, dtype: datetime64[ns]

In [16]:
fact_antes_cupones_deferred['type_data'] = fact_antes_cupones_deferred['total_transactions'].apply(lambda x: type(x).__name__)
fact_antes_cupones_deferred['type_data'].unique()

array([], dtype=float64)

In [17]:
fact_antes_cupones_deferred[fact_antes_cupones_deferred.type_data == 'datetime']

Empty DataFrame
Columns: [merchant_id, merchant_name, user_email, report_id, report_date_local, total_transactions, total_fees_charged, total_taxes, applied_fees_benefits, applied_taxes_benefits, fee_direct_deposit, taxes_direct_deposit, total_adjustments, total_adjustment_fees_charged, total_adjustment_taxes, cobranza, total_released, total_retained, tipopago, total_due, type, created_date, created_time, updated_date, updated_time, file_name, Date, type_data]
Index: []

[0 rows x 28 columns]

In [18]:
fact_antes_cupones_deferred.dtypes

merchant_id                              object
merchant_name                            object
user_email                               object
report_id                                object
report_date_local                        object
total_transactions                      float64
total_fees_charged                       object
total_taxes                              object
applied_fees_benefits                    object
applied_taxes_benefits                   object
fee_direct_deposit                       object
taxes_direct_deposit                     object
total_adjustments                        object
total_adjustment_fees_charged            object
total_adjustment_taxes                   object
cobranza                                 object
total_released                           object
total_retained                           object
tipopago                                 object
total_due                                object
type                                     object
created_date                             object
created_time                             object
updated_date                             object
updated_time                             object
file_name                                object
Date                             datetime64[ns]
type_data                               float64
dtype: object

In [19]:
fact_antes_cupones_deferred.shape

(0, 28)

# CUPONES

In [20]:
allcupon_fact = glob.glob(r'C:\Users\Cristian.Aparicio\Documents\FACTURACION\2024\01. ENERO\CUPONES*.csv', recursive=False)
allcupon_fact

['C:\\Users\\Cristian.Aparicio\\Documents\\FACTURACION\\2024\\01. ENERO\\CUPONES_MM.csv']

In [21]:
cupon_current_month = pd.concat([pd.read_csv(f,dtype={'report_id':object})
                                 .assign(file_name=os.path.basename(f)) for f in allcupon_fact])
cupon_current_month.columns = cupon_current_month.columns.str.strip().str.lower()
cupon_current_month.head()

,total_refunded,pending,number_transactions,merchant_token,fee_refund_id,created_at,source,amount,report_id,file_name
0,108.00,0.00,1,42378c70-e988-4f79-92be-a6f463ac71c6,c86928f6-1f33-41b3-8f17-641277b03f40,2022-08-02T09:09:19Z,LOYALTY,108.00,9K2YDTBBR,CUPONES_MM.csv
1,169.13,122.87,1,0f2dd322-f3af-4681-aab2-13a2fb17028c,ef10ea37-3296-43f5-a654-fa20d9713806,2021-11-10T08:11:59Z,LOYALTY,292.00,27JDTXYSQ,CUPONES_MM.csv
2,20.88,87.12,1,764289ae-5d12-4f9a-93bd-42c3fe882329,36cd5fc9-2e33-49cc-9b95-c509e49a9ee7,2022-07-17T09:21:33Z,LOYALTY,108.00,D4884FK6T,CUPONES_MM.csv
3,20.88,271.12,1,0722e81b-a023-4f39-86e2-85effb35de53,71ce72ab-ef80-436f-9f8f-e34cbda29706,2021-12-19T08:08:04Z,LOYALTY,292.00,FK9S988HN,CUPONES_MM.csv
4,96.05,11.95,1,520b2712-9304-4729-84f1-01fbfdc0c57f,8e35c7df-dd74-4afe-a4a9-c29847b5e266,2022-07-27T08:27:14Z,LOYALTY,108.00,6MR92D5QG,CUPONES_MM.csv

In [22]:
cupon_current_month.shape

(2927, 10)

# IDENTIFICACION DE CUPONES

In [23]:
fact_cupones = fact_antes_cupones_deferred.merge(cupon_current_month[['report_id','total_refunded','pending','amount',
                                              'source']] ,on='report_id', how='left')
fact_cupones['total_benefits'] = fact_cupones['applied_fees_benefits'] + fact_cupones['applied_taxes_benefits']
fact_cupones.loc[(fact_cupones['applied_fees_benefits'] != 0) & (fact_cupones['source']!= 'LOYALTY'), 'source'] = 'TOP_UPS'
fact_cupones.head()

Empty DataFrame
Columns: [merchant_id, merchant_name, user_email, report_date_local, total_transactions, total_fees_charged, total_taxes, applied_fees_benefits, applied_taxes_benefits, fee_direct_deposit, taxes_direct_deposit, total_adjustments, total_adjustment_fees_charged, total_adjustment_taxes, cobranza, total_released, total_retained, tipopago, total_due, type, created_date, created_time, updated_date, updated_time, file_name, Date, type_data, report_id, total_refunded, pending, amount, source, total_benefits]
Index: []

[0 rows x 33 columns]

In [24]:
fact_cupones['source'].unique()

array([], dtype=object)

In [25]:
fact_cupones.shape

(0, 33)

# SEPARACION DE TOPUPS Y CUPON LOYALTY

### TOPUPS

In [26]:
fact_topups_benefits = fact_cupones[(fact_cupones['source'] == 'TOP_UPS')]
fact_topups_benefits.head()

Empty DataFrame
Columns: [merchant_id, merchant_name, user_email, report_date_local, total_transactions, total_fees_charged, total_taxes, applied_fees_benefits, applied_taxes_benefits, fee_direct_deposit, taxes_direct_deposit, total_adjustments, total_adjustment_fees_charged, total_adjustment_taxes, cobranza, total_released, total_retained, tipopago, total_due, type, created_date, created_time, updated_date, updated_time, file_name, Date, type_data, report_id, total_refunded, pending, amount, source, total_benefits]
Index: []

[0 rows x 33 columns]

In [27]:
fact_topups_benefits.shape

(0, 33)

In [28]:
fact_topups_benefits.to_excel('top_ups_esquema_comision.xlsx')

In [29]:
pivot_topups_benefits = pd.pivot_table(fact_topups_benefits,index=['report_id'],values=['applied_fees_benefits',
                                                                                        'applied_taxes_benefits'],
                                       aggfunc=np.sum,margins=False).reset_index()
pivot_topups_benefits.rename(columns ={'applied_fees_benefits':'applied_fees_benefits_topups',
                                      'applied_taxes_benefits':'applied_taxes_benefits_topups'},inplace=True)
pivot_topups_benefits.head()

C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_16640\2659983397.py:1: FutureWarning: The provided callable <function sum at 0x0000012B6DC7EAF0> is currently using DataFrameGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  pivot_topups_benefits = pd.pivot_table(fact_topups_benefits,index=['report_id'],values=['applied_fees_benefits',

Empty DataFrame
Columns: [report_id]
Index: []

In [30]:
pivot_topups_benefits.shape

(0, 1)

### CUPONES

In [31]:
fact_coupons_benefits = fact_cupones[(fact_cupones['source'] == 'LOYALTY')]
fact_coupons_benefits.head()

Empty DataFrame
Columns: [merchant_id, merchant_name, user_email, report_date_local, total_transactions, total_fees_charged, total_taxes, applied_fees_benefits, applied_taxes_benefits, fee_direct_deposit, taxes_direct_deposit, total_adjustments, total_adjustment_fees_charged, total_adjustment_taxes, cobranza, total_released, total_retained, tipopago, total_due, type, created_date, created_time, updated_date, updated_time, file_name, Date, type_data, report_id, total_refunded, pending, amount, source, total_benefits]
Index: []

[0 rows x 33 columns]

In [32]:
fact_coupons_benefits.shape

(0, 33)

In [33]:
pivot_coupons_benefits = pd.pivot_table(fact_coupons_benefits,index=['report_id'],values=['applied_fees_benefits',
                                                                                        'applied_taxes_benefits'],
                                       aggfunc=np.sum,margins=False).reset_index()
pivot_coupons_benefits.rename(columns ={'applied_fees_benefits':'applied_fees_benefits_coupons',
                                      'applied_taxes_benefits':'applied_taxes_benefits_coupons'},inplace=True)
pivot_coupons_benefits.head()

C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_16640\177961379.py:1: FutureWarning: The provided callable <function sum at 0x0000012B6DC7EAF0> is currently using DataFrameGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  pivot_coupons_benefits = pd.pivot_table(fact_coupons_benefits,index=['report_id'],values=['applied_fees_benefits',

Empty DataFrame
Columns: [report_id]
Index: []

In [34]:
pivot_coupons_benefits.shape

(0, 1)

# UNION FACTURACIÓN & CUPONES

In [35]:
# fact_cupones_1 = fact_antes_cupones_deferred.merge(pivot_topups_benefits[['report_id','applied_fees_benefits_topups',
#                                                                   'applied_taxes_benefits_topups']] ,on='report_id', how='left')
# fact_cupones_2 = fact_cupones_1.merge(pivot_coupons_benefits[['report_id','applied_fees_benefits_coupons',
#                                                                   'applied_taxes_benefits_coupons']] ,on='report_id', how='left')
# fact_cupones_2.fillna(0,inplace=True)

In [36]:
# fact_cupones_2.head()

In [37]:
# fact_cupones_2.shape

In [38]:
# fact_cupones_2.columns

In [39]:
fact_cupones_2 = fact_antes_cupones_deferred
fact_cupones_2['applied_fees_benefits'] = 0
fact_cupones_2['applied_taxes_benefits'] = 0
fact_cupones_2['applied_fees_benefits_topups'] = 0
fact_cupones_2['applied_taxes_benefits_topups'] = 0
fact_cupones_2['applied_fees_benefits_coupons'] = 0
fact_cupones_2['applied_taxes_benefits_coupons'] = 0

# FACTURACION PREVIO FINAL

In [40]:
fact = fact_antes_cupones_deferred[['merchant_id','user_email','report_id','report_date_local',
                                    'total_transactions','total_fees_charged','total_taxes','applied_fees_benefits',
                                    'applied_taxes_benefits','applied_fees_benefits_topups','applied_taxes_benefits_topups',
                                    'applied_fees_benefits_coupons','applied_taxes_benefits_coupons','fee_direct_deposit',
                                    'taxes_direct_deposit','total_adjustments','total_adjustment_fees_charged',
                                    'total_adjustment_taxes','cobranza','total_released','total_retained','tipopago',
                                    'total_due','type','created_date','created_time','updated_date','updated_time','file_name',
                                    'Date']]
fact.head()

Empty DataFrame
Columns: [merchant_id, user_email, report_id, report_date_local, total_transactions, total_fees_charged, total_taxes, applied_fees_benefits, applied_taxes_benefits, applied_fees_benefits_topups, applied_taxes_benefits_topups, applied_fees_benefits_coupons, applied_taxes_benefits_coupons, fee_direct_deposit, taxes_direct_deposit, total_adjustments, total_adjustment_fees_charged, total_adjustment_taxes, cobranza, total_released, total_retained, tipopago, total_due, type, created_date, created_time, updated_date, updated_time, file_name, Date]
Index: []

[0 rows x 30 columns]

In [41]:
fact.shape

(0, 30)

# LENDERS

In [42]:
start_date_mes = '2024-01-01'
# final_date_mes = '2020-10-26'

In [43]:
allfiles_lend = glob.glob(r'G:\My Drive\RESPALDO-PC\LENDERS\2024\DB\*.csv', recursive=False)
allfiles_lend

['G:\\My Drive\\RESPALDO-PC\\LENDERS\\2024\\DB\\LENDERS DB ENERO 2024.csv']

In [44]:
lender_all = pd.concat([pd.read_csv(f).assign(file_name=os.path.basename(f)) for f in allfiles_lend])
lender_all.columns = lender_all.columns.str.strip().str.lower()
#lender_all['collection_date_local'] = pd.to_datetime(lender_all['collection_date_local'])
lender_all['Date'] = lender_all['collection_date_local']
lender_all['funded_by'].fillna('NULL',inplace=True)
lender_all.head()

,collection_date_local,merchant_token,merchant_id,loan_id,provider_code,collection_origin,source,funded_by,amount,capital,interest,tax,file_name,Date
0,2024-01-01,f58b5759-fe1e-4873-960b-fc24826e5806,db8e1932-f947-4ed5-902f-c95bf38ecb78,d548b161-1470-4f1e-9911-fcbd021fdc31,CLIP,SETTLEMENT,LEDGER,CLIP,3.96,3.04,0.79,0.13,LENDERS DB ENERO 2024.csv,2024-01-01
1,2024-01-01,8bf626d0-3e8c-474e-9989-881a6032a6e5,5d7c5deb-eed2-4929-9676-5045ceed4b9c,fb60a8d1-26eb-4a41-a29b-0fcea55507d7,CLIP,SETTLEMENT,LEDGER,CLIP,10.06,7.38,2.31,0.37,LENDERS DB ENERO 2024.csv,2024-01-01
2,2024-01-01,10a8b03d-7dc5-423c-bf8c-d8bd65a58099,56c2d837-a615-4edb-bbd3-8df8ed27fed1,f3038b12-593c-4d5b-a0f1-4c452f4c237b,CLIP,SETTLEMENT,LEDGER,CLIP,22.04,16.94,4.40,0.70,LENDERS DB ENERO 2024.csv,2024-01-01
3,2024-01-01,9a3ff5ee-a553-452c-bc23-84e6d23dc348,6686286d-00f2-4029-80c7-e53293bcc7cb,d30b8418-508d-4b12-9bca-2718bcff559f,MRP,SETTLEMENT,LEDGER,MRP,7.78,6.98,0.69,0.11,LENDERS DB ENERO 2024.csv,2024-01-01
4,2024-01-01,bc59619b-5312-40a7-8f17-62d608e3a66d,f646987d-c2a7-4666-8b35-05bbb9323890,afce611c-b1d3-4ceb-9b3a-56323e73db26,R2,SETTLEMENT,LEDGER,R2,5.82,4.17,1.42,0.23,LENDERS DB ENERO 2024.csv,2024-01-01

In [45]:
lender_all.shape

(1145362, 14)

In [46]:
lender = lender_all[(lender_all['collection_date_local'] >= start_date_mes)]

In [47]:
list(sorted(lender['provider_code'].unique()))

['APH', 'AVL', 'CLIP', 'CTO', 'MRP', 'R2']

In [48]:
list(sorted(lender['funded_by'].unique()))

['AVL', 'CLIP', 'CTO', 'MRP', 'NULL', 'R2']

In [49]:
sorted(lender['Date'].unique())

['2024-01-01',
 '2024-01-02',
 '2024-01-03',
 '2024-01-04',
 '2024-01-05',
 '2024-01-06',
 '2024-01-07',
 '2024-01-08',
 '2024-01-09',
 '2024-01-10',
 '2024-01-11',
 '2024-01-12',
 '2024-01-13',
 '2024-01-14',
 '2024-01-15',
 '2024-01-16',
 '2024-01-17',
 '2024-01-18',
 '2024-01-19',
 '2024-01-20',
 '2024-01-21',
 '2024-01-22',
 '2024-01-23',
 '2024-01-24',
 '2024-01-25',
 '2024-01-26',
 '2024-01-27',
 '2024-01-28',
 '2024-01-29',
 '2024-01-30',
 '2024-01-31']

## AMOUNT BY DATE

In [50]:
lender_amount_date = pd.pivot_table(lender,index=["Date", "provider_code",'funded_by'],values=['amount','capital',
                                                   'interest','tax'],aggfunc=np.sum,margins=False)
lender_amount_date = lender_amount_date.reset_index()
lender_amount_date.head()

C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_16640\4083362258.py:1: FutureWarning: The provided callable <function sum at 0x0000012B6DC7EAF0> is currently using DataFrameGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  lender_amount_date = pd.pivot_table(lender,index=["Date", "provider_code",'funded_by'],values=['amount','capital',

         Date provider_code funded_by     amount    capital  interest      tax
0  2024-01-01           APH      NULL      15.33      10.07      5.26     0.00
1  2024-01-01          CLIP      CLIP 299,291.40 228,643.21 42,109.10 6,737.24
2  2024-01-01           CTO       CTO   1,118.28     676.73    380.64    60.91
3  2024-01-01           MRP      CLIP  73,261.82  53,181.10 17,311.09 2,769.63
4  2024-01-01           MRP       MRP 216,106.71 160,932.97 47,563.50 7,610.24

In [51]:
lender_amount_date.loc['ALL'] = lender_amount_date.sum(numeric_only=True)
# lender_amount_date.to_csv('LENDER AMOUNT DATE ABRIL 2021.csv')

In [52]:
lender_amount_date.shape

(259, 7)

In [53]:
lender_amount_date.to_excel('LENDERS ENERO 2024.xlsx')

##### APH

In [54]:
lender_amount_date_aph = lender_amount_date[(lender_amount_date['provider_code'] == 'APH')]
lender_amount_date_aph.head()

          Date provider_code funded_by  amount  capital  interest  tax
0   2024-01-01           APH      NULL   15.33    10.07      5.26 0.00
8   2024-01-02           APH      NULL   21.08    14.87      6.21 0.00
17  2024-01-03           APH      NULL   80.49    53.90     26.59 0.00
25  2024-01-04           APH      NULL  123.03    81.61     41.42 0.00
33  2024-01-05           APH      NULL  132.23    86.87     45.36 0.00

In [55]:
lender_amount_date_aph.loc['ALL'] = lender_amount_date_aph.sum(numeric_only=True)
lender_amount_date_aph.reset_index(inplace=True)

C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_16640\630616902.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lender_amount_date_aph.loc['ALL'] = lender_amount_date_aph.sum(numeric_only=True)

In [56]:
lender_amount_date_aph.shape

(30, 8)

##### AVL

In [57]:
lender_amount_date_avl = lender_amount_date[(lender_amount_date['provider_code'] == 'AVL')]
lender_amount_date_avl.head()

          Date provider_code funded_by  amount  capital  interest   tax
9   2024-01-02           AVL       AVL   15.33    11.68      3.15  0.50
34  2024-01-05           AVL       AVL  882.81   672.26    181.51 29.04
43  2024-01-06           AVL       AVL   43.51    33.42      8.70  1.39
59  2024-01-08           AVL       AVL  193.56   148.71     38.66  6.19
75  2024-01-10           AVL       AVL   80.12    61.56     16.00  2.56

In [58]:
lender_amount_date_avl.loc['ALL'] = lender_amount_date_avl.sum(numeric_only=True)
lender_amount_date_avl.reset_index(inplace=True)

C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_16640\2554313735.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lender_amount_date_avl.loc['ALL'] = lender_amount_date_avl.sum(numeric_only=True)

In [59]:
lender_amount_date_avl.shape

(16, 8)

##### CLIP

In [60]:
lender_amount_date_clip = lender_amount_date[(lender_amount_date['provider_code'] == 'CLIP')]
lender_amount_date_clip.head()

,Date,provider_code,funded_by,amount,capital,interest,tax
1,2024-01-01,CLIP,CLIP,"299,291.40","228,643.21","42,109.10","6,737.24"
10,2024-01-02,CLIP,CLIP,"665,866.92","504,711.91","94,667.97","15,146.98"
18,2024-01-03,CLIP,CLIP,"771,325.88","586,811.91","103,266.38","16,521.95"
26,2024-01-04,CLIP,CLIP,"873,603.58","661,812.06","111,803.61","17,888.67"
35,2024-01-05,CLIP,CLIP,"1,046,865.36","791,200.72","127,825.32","20,451.76"

In [61]:
lender_amount_date_clip.loc['ALL'] = lender_amount_date_clip.sum(numeric_only=True)
lender_amount_date_clip.reset_index(inplace=True)

C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_16640\2072568486.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lender_amount_date_clip.loc['ALL'] = lender_amount_date_clip.sum(numeric_only=True)

In [62]:
lender_amount_date_clip.shape

(32, 8)

##### CTO

In [63]:
lender_amount_date_cto = lender_amount_date[(lender_amount_date['provider_code'] == 'CTO')]
lender_amount_date_cto.head()

          Date provider_code funded_by   amount  capital  interest    tax
2   2024-01-01           CTO       CTO 1,118.28   676.73    380.64  60.91
11  2024-01-02           CTO       CTO 4,254.84 2,676.45  1,360.71 217.68
19  2024-01-03           CTO       CTO 7,194.25 4,412.71  2,397.92 383.62
27  2024-01-04           CTO       CTO 9,366.81 5,798.46  3,076.17 492.18
36  2024-01-05           CTO       CTO 4,979.01 3,149.67  1,577.05 252.29

In [64]:
lender_amount_date_cto.loc['ALL'] = lender_amount_date_cto.sum(numeric_only=True)
lender_amount_date_cto.reset_index(inplace=True)

C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_16640\4084987167.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lender_amount_date_cto.loc['ALL'] = lender_amount_date_cto.sum(numeric_only=True)

In [65]:
lender_amount_date_cto.shape

(32, 8)

##### MRP

In [66]:
lender_amount_date_mrp = lender_amount_date[(lender_amount_date['provider_code'] == 'MRP')]
lender_amount_date_mrp.head()

,Date,provider_code,funded_by,amount,capital,interest,tax
3,2024-01-01,MRP,CLIP,"73,261.82","53,181.10","17,311.09","2,769.63"
4,2024-01-01,MRP,MRP,"216,106.71","160,932.97","47,563.50","7,610.24"
5,2024-01-01,MRP,NULL,"7,676.02","5,707.40","1,717.86",250.76
12,2024-01-02,MRP,CLIP,"182,812.47","132,160.97","43,665.20","6,986.30"
13,2024-01-02,MRP,MRP,"455,257.08","331,276.70","106,902.96","17,077.42"

In [67]:
lender_amount_date_mrp.loc['ALL'] = lender_amount_date_mrp.sum(numeric_only=True)
lender_amount_date_mrp.reset_index(inplace=True)

C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_16640\638768743.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lender_amount_date_mrp.loc['ALL'] = lender_amount_date_mrp.sum(numeric_only=True)

In [68]:
lender_amount_date_mrp.shape

(94, 8)

##### R2

In [69]:
lender_amount_date_r2 = lender_amount_date[(lender_amount_date['provider_code'] == 'R2')]
lender_amount_date_r2.head()

,Date,provider_code,funded_by,amount,capital,interest,tax
6,2024-01-01,R2,NULL,390.96,278.07,97.32,15.57
7,2024-01-01,R2,R2,"323,248.70","241,286.98","70,656.57","11,305.15"
15,2024-01-02,R2,NULL,"1,268.98",902.53,315.90,50.55
16,2024-01-02,R2,R2,"637,557.65","475,972.23","139,297.40","22,288.02"
23,2024-01-03,R2,NULL,904.12,643.04,225.06,36.02

In [70]:
lender_amount_date_r2.loc['ALL'] = lender_amount_date_r2.sum(numeric_only=True)
lender_amount_date_r2.reset_index(inplace=True)

C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_16640\416543063.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lender_amount_date_r2.loc['ALL'] = lender_amount_date_r2.sum(numeric_only=True)

In [71]:
lender_amount_date_r2.shape

(60, 8)

##### MOT

In [72]:
lender_amount_date_mot = lender_amount_date[(lender_amount_date['provider_code'] == 'MOT')]
lender_amount_date_mot.head()

Empty DataFrame
Columns: [Date, provider_code, funded_by, amount, capital, interest, tax]
Index: []

In [73]:
lender_amount_date_mot.loc['ALL'] = lender_amount_date_mot.sum(numeric_only=True)
lender_amount_date_mot.reset_index(inplace=True)

C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_16640\1512697895.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lender_amount_date_mot.loc['ALL'] = lender_amount_date_mot.sum(numeric_only=True)

In [74]:
lender_amount_date_mot.shape

(1, 8)

##### HCS

In [75]:
lender_amount_date_hcs = lender_amount_date[(lender_amount_date['provider_code'] == 'HCS')]
lender_amount_date_hcs.head()

Empty DataFrame
Columns: [Date, provider_code, funded_by, amount, capital, interest, tax]
Index: []

In [76]:
lender_amount_date_hcs.loc['ALL'] = lender_amount_date_hcs.sum(numeric_only=True)
lender_amount_date_hcs.reset_index(inplace=True)

C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_16640\2094493219.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lender_amount_date_hcs.loc['ALL'] = lender_amount_date_hcs.sum(numeric_only=True)

In [77]:
lender_amount_date_hcs.shape

(1, 8)

## AMOUNT BY EMAIL

In [78]:
lender_amount_email = pd.pivot_table(lender,index=["merchant_id",'provider_code'],values=['amount','capital',
                                                   'interest','tax'],aggfunc=np.sum,margins=True)
lender_amount_email = lender_amount_email.reset_index(drop=False)
# lender_amount_email.to_csv('LENDER AMOUNT EMAIL ABRIL 2021.csv', index=None)
lender_amount_email.head()

C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_16640\3972625955.py:1: FutureWarning: The provided callable <function sum at 0x0000012B6DC7EAF0> is currently using DataFrameGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  lender_amount_email = pd.pivot_table(lender,index=["merchant_id",'provider_code'],values=['amount','capital',

,merchant_id,provider_code,amount,capital,interest,tax
0,00016126-0052-402d-ba8a-95e5e1a1c673,CLIP,"10,007.51","7,687.90","1,999.68",319.93
1,000e5198-a19b-41c8-8391-fe6ac3f6f70c,CLIP,"7,286.53","5,344.67","1,674.01",267.85
2,000f9c5a-3aa0-451b-a862-f8b46d266a86,CLIP,"5,518.86","4,800.52",619.23,99.11
3,00289512-dcb7-4e46-98aa-96b287f6c234,CLIP,"1,290.12",983.32,264.47,42.33
4,00305d8a-7a5f-4c09-ac22-0ed11a028f11,CLIP,"30,647.77","22,480.36","7,040.87","1,126.54"

In [79]:
lender_amount_email.shape

(14282, 6)

In [80]:
duplicates = lender_amount_email[lender_amount_email.duplicated(['merchant_id'] , keep=False)]
duplicates

,merchant_id,provider_code,amount,capital,interest,tax
164,0326540d-b9c9-4bb8-adde-f728241d856b,CLIP,"5,866.37","4,506.72",0.00,0.00
165,0326540d-b9c9-4bb8-adde-f728241d856b,MRP,16.14,11.59,3.92,0.63
242,0490c7ad-b985-4d65-b78c-5c7c1b58e977,CLIP,"9,224.98","6,766.60",0.00,0.00
243,0490c7ad-b985-4d65-b78c-5c7c1b58e977,MRP,"4,843.97","3,728.18",961.96,153.83
359,06aa4aed-9bf2-4055-b0dc-0467754eb378,CLIP,"2,611.22","1,915.33",0.00,0.00
...,...,...,...,...,...,...
13314,ee64f1ab-0f25-40d7-b3c4-9e135a748dfd,MRP,"4,443.45","3,190.11","1,080.46",172.88
13767,f6a4f0e5-ae5b-4e93-ba6b-d226239e333d,CLIP,269.52,224.39,0.00,0.00
13768,f6a4f0e5-ae5b-4e93-ba6b-d226239e333d,MRP,122.17,101.70,17.64,2.83
14268,ffc899c0-87d0-4bca-ab18-0542b3f4db96,CLIP,450.63,330.54,0.00,0.00
14269,ffc899c0-87d0-4bca-ab18-0542b3f4db96,MRP,"2,941.88","1,914.50",885.68,141.70

In [81]:
lender_amount_email.drop_duplicates(subset="merchant_id",keep="first",inplace=True)

In [82]:
lender_amount_email.shape

(14229, 6)

# LEDGER INFO

In [83]:
dynamo_files = glob.glob(r'C:\Users\Cristian.Aparicio\Documents\FACTURACION\2024\01. ENERO\LEDGER\ledger_regular*.csv', recursive=False)
dynamo_files

['C:\\Users\\Cristian.Aparicio\\Documents\\FACTURACION\\2024\\01. ENERO\\LEDGER\\ledger_regular_fp_enero_2024.csv']

In [84]:
allfiles_deferred_payments = glob.glob(r'C:\Users\Cristian.Aparicio\Documents\FACTURACION\2024\01. ENERO\LEDGER\ledger_deferred*.csv', recursive=False)
allfiles_deferred_payments

['C:\\Users\\Cristian.Aparicio\\Documents\\FACTURACION\\2024\\01. ENERO\\LEDGER\\ledger_deferred_enero_2024.csv']

In [85]:
dynamo_files_date = glob.glob(r'C:\Users\Cristian.Aparicio\Documents\FACTURACION\2024\01. ENERO\LEDGER\Date*.xlsx', recursive=False)
dynamo_files_date

['C:\\Users\\Cristian.Aparicio\\Documents\\FACTURACION\\2024\\01. ENERO\\LEDGER\\Date_tpv_fees_taxes_ledger_enero_2024.xlsx']

In [86]:
dynamo_topups_billpymnt_cashback_files = glob.glob(r'C:\Users\Cristian.Aparicio\Documents\FACTURACION\2024\01. ENERO\LEDGER\TOPUPS*.xlsx', recursive=False)
dynamo_topups_billpymnt_cashback_files

['C:\\Users\\Cristian.Aparicio\\Documents\\FACTURACION\\2024\\01. ENERO\\LEDGER\\TOPUPS_BILL_PAYMENTS_CASHBACK_LEDGER_ENERO_2024.xlsx']

### DETALLE LEDGER

In [87]:
dynamo = pd.concat([pd.read_csv(f).assign(file_name=os.path.basename(f)) for f in dynamo_files])
dynamo.columns = dynamo.columns.str.strip().str.lower()
dynamo.head()

,merchant_id,user_email,total_transactions,total_fees_charged,total_taxes,fee_direct_deposit,taxes_direct_deposit,frontend_commission_fees,frontend_commission_taxes,merchant_commission_fees,merchant_commission_taxes,fees_cashback,taxes_cashback,total_due,file_name
0,0000275f-d46b-4a9c-a227-42d6f7ce63bd,o2794682@gmail.com,"6,000.00",216.00,34.56,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,"5,749.44",ledger_regular_fp_enero_2024.csv
1,00007725-3116-48dc-9b82-4145699dc290,dr.cesarcamarena.ortopedia@gmail.com,"2,000.00",72.00,11.52,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,"1,916.48",ledger_regular_fp_enero_2024.csv
2,00008e01-812f-487e-8f34-a80bcb0ae3e3,pagos@abz.com.mx,"218,695.00","23,450.30","3,752.04",0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,"191,492.66",ledger_regular_fp_enero_2024.csv
3,000096e6-5d2f-47e9-a924-4b413eca6a43,hazel_ara88@hotmail.com,"3,015.00",108.54,17.37,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,"2,889.09",ledger_regular_fp_enero_2024.csv
4,0000b65a-c2a2-4993-8f4c-05e5b7cbd7c0,ruvalcabapeleteros@hotmail.com,"25,177.97",906.42,145.03,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,"24,126.52",ledger_regular_fp_enero_2024.csv

In [88]:
dynamo.shape

(353615, 15)

### DETALLE POR FECHA LEDGER

In [89]:
dynamo_date = pd.concat([pd.read_excel(f).assign(file_name=os.path.basename(f)) for f in dynamo_files_date])
dynamo_date.columns = dynamo_date.columns.str.strip().str.lower()
dynamo_date['eff_dt_date']= pd.to_datetime(dynamo_date['eff_dt_date'])
dynamo_date.head()

,eff_dt_date,mvnt_id,gross_amount_sett,fees_sett,taxes_sett,net_amount_sett,gross_amount_pymt,fees_pymt,taxes_pymt,net_amount_pymt,gross_amount,fees,taxes,net_amount,amount,file_name
0,2024-01-01,499170,"250,028,698.61","9,348,418.45","1,495,752.33","239,184,527.83","1,700,534.87","62,348.44","9,975.84","1,628,210.59","247,192,414.17","9,286,070.01","1,485,776.49","237,556,317.24","239,184,527.83",Date_tpv_fees_taxes_ledger_enero_2024.xlsx
1,2024-01-02,225339,"136,026,094.33","5,107,101.76","817,140.19","130,101,852.38","830,610.04","38,045.40","6,087.13","786,477.51","134,332,483.25","5,069,056.36","811,053.06","129,315,374.87","130,101,852.38",Date_tpv_fees_taxes_ledger_enero_2024.xlsx
2,2024-01-03,437661,"248,604,532.43","9,898,617.92","1,583,789.04","237,122,125.47","1,214,442.01","56,721.46","9,075.63","1,148,644.92","245,556,658.35","9,841,896.46","1,574,713.41","235,973,480.55","237,122,125.47",Date_tpv_fees_taxes_ledger_enero_2024.xlsx
3,2024-01-04,465679,"262,997,720.77","10,499,019.18","1,679,852.83","250,818,848.76","1,305,251.60","57,637.01","9,222.02","1,238,392.57","259,877,049.39","10,441,382.17","1,670,630.81","249,580,456.19","250,818,848.76",Date_tpv_fees_taxes_ledger_enero_2024.xlsx
4,2024-01-05,496779,"271,640,122.45","10,904,523.30","1,744,737.67","258,990,861.48","1,537,810.02","65,730.65","10,516.95","1,461,562.42","267,905,414.57","10,838,792.65","1,734,220.72","257,529,299.06","258,990,861.48",Date_tpv_fees_taxes_ledger_enero_2024.xlsx

In [90]:
dynamo_date.shape

(31, 16)

### DETALLE LEDGER - DEFERRED PAYMENTS

In [91]:
deferred_payments = pd.concat([pd.read_csv(f).assign(file_name=os.path.basename(f)) for f in allfiles_deferred_payments])
deferred_payments.columns = deferred_payments.columns.str.strip().str.lower()
deferred_payments['created_at']= pd.to_datetime(deferred_payments['created_at'])
deferred_payments['eff_dt']= pd.to_datetime(deferred_payments['eff_dt'])
deferred_payments['movement_day']= pd.to_datetime(deferred_payments['movement_day'])
deferred_payments['request_effective_date']= pd.to_datetime(deferred_payments['request_effective_date'])
deferred_payments['slot_date']= pd.to_datetime(deferred_payments['slot_date'])
deferred_payments['eff_dt_date']= pd.to_datetime(deferred_payments['eff_dt_date'])
deferred_payments.rename(columns={'email':'user_email'},inplace=True)
deferred_payments.head()

,merchant_id,amount,currency,type_request,mvnt_id,movement_type,source_type,created_at,eff_dt,movement_day,...,psp_amount,gross_amount,fees,taxes,net_amount,movement_type_sml,gross_amount_dp,ingreso_deferred,fees_deferred,taxes_deferred
0,00008e01-812f-487e-8f34-a80bcb0ae3e3,"47,912.00",MXN,deferred regular payment request,89642c1b-ee74-48a9-a7f4-39f9a6e54aec,DEFERRED_REGULAR_PYMNT_RQ,SETT,2024-01-14 19:06:32,2024-01-15 05:00:00,2024-01-14 19:06:32,...,0.00,0.00,0.00,0.00,0.00,0,0.00,0.00,0.00,0.00
1,000d3241-c56d-4f94-acef-864f0b9e3f82,"1,581.10",MXN,deferred regular payment request,fbfdcba3-c098-42ab-ac37-4dc4c21ff24b,DEFERRED_REGULAR_PYMNT_RQ,SETT,2024-01-22 20:31:25,2024-01-23 05:30:00,2024-01-22 20:31:25,...,"1,779.20",0.00,59.40,9.50,"1,581.10",0,"1,650.00",129.20,111.38,17.82
2,000f9c5a-3aa0-451b-a862-f8b46d266a86,527.03,MXN,deferred regular payment request,4fd92dc2-1b65-44df-be03-1439b928a029,DEFERRED_REGULAR_PYMNT_RQ,SETT,2024-01-04 22:43:00,2024-01-05 06:00:00,2024-01-04 22:43:00,...,593.07,0.00,19.80,3.17,527.03,0,550.00,43.07,37.13,5.94
3,0012c361-20dd-41d0-bab7-562c785cc07b,344.97,MXN,deferred regular payment request,f8f7ca4f-765b-4f05-afa5-26e188b1097b,DEFERRED_REGULAR_PYMNT_RQ,SETT,2024-01-20 13:25:45,2024-01-21 03:30:00,2024-01-20 13:25:45,...,388.19,0.00,12.96,2.07,344.97,0,360.00,28.19,24.30,3.89
4,00143c00-bd17-412c-b71c-a1b97d6cc866,"22,039.52",MXN,deferred regular payment request,75f3671b-61ff-4917-96c4-f01d5270ba4b,DEFERRED_REGULAR_PYMNT_RQ,SETT,2024-01-17 08:42:50,2024-01-18 02:30:00,2024-01-17 08:42:50,...,"25,812.90",0.00,828.00,132.48,"22,039.52",0,"23,000.00","2,812.90","2,424.91",387.99

In [92]:
deferred_payments.shape

(19893, 46)

In [93]:
deferred_payments_status_1_fact = deferred_payments[['merchant_id','user_email','eff_dt_date','receipt_no',
                                                     'psp_amount','gross_amount_dp','ingreso_deferred','fees_deferred',
                                                     'taxes_deferred']]
deferred_payments_status_1_fact['eff_dt_date']= pd.to_datetime(deferred_payments_status_1_fact['eff_dt_date'])
deferred_payments_status_1_fact.head()

C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_16640\797568100.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  deferred_payments_status_1_fact['eff_dt_date']= pd.to_datetime(deferred_payments_status_1_fact['eff_dt_date'])

,merchant_id,user_email,eff_dt_date,receipt_no,psp_amount,gross_amount_dp,ingreso_deferred,fees_deferred,taxes_deferred
0,00008e01-812f-487e-8f34-a80bcb0ae3e3,pagos@abz.com.mx,2024-01-15,5UfuOTY,0.00,0.00,0.00,0.00,0.00
1,000d3241-c56d-4f94-acef-864f0b9e3f82,logisticnava@gmail.com,2024-01-23,i2jxPvb,"1,779.20","1,650.00",129.20,111.38,17.82
2,000f9c5a-3aa0-451b-a862-f8b46d266a86,cobros.sups@gmail.com,2024-01-05,s0ALCPa,593.07,550.00,43.07,37.13,5.94
3,0012c361-20dd-41d0-bab7-562c785cc07b,ms691048@gmail.com,2024-01-21,TsrAR10,388.19,360.00,28.19,24.30,3.89
4,00143c00-bd17-412c-b71c-a1b97d6cc866,cb_negocios@hotmail.com,2024-01-18,RGSMfwa,"25,812.90","23,000.00","2,812.90","2,424.91",387.99

In [94]:
deferred_payments_status_1_fact.shape

(19893, 9)

### DETALLE POR FECHA LEDGER - DEFERRED PAYMENTS

In [95]:
group_deferred_payments_status_1_fact = pd.pivot_table(deferred_payments_status_1_fact,index=["eff_dt_date"],
                                                       values=["psp_amount",'gross_amount_dp',"ingreso_deferred",
                                                                       'fees_deferred',"taxes_deferred"],
                                     aggfunc=np.sum,margins=False).reset_index()
group_deferred_payments_status_1_fact.head()

C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_16640\2540733072.py:1: FutureWarning: The provided callable <function sum at 0x0000012B6DC7EAF0> is currently using DataFrameGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  group_deferred_payments_status_1_fact = pd.pivot_table(deferred_payments_status_1_fact,index=["eff_dt_date"],

,eff_dt_date,fees_deferred,gross_amount_dp,ingreso_deferred,psp_amount,taxes_deferred
0,2024-01-01,"112,602.19","1,135,749.57","130,618.54","1,266,368.11","18,016.35"
1,2024-01-02,"102,945.30","863,001.04","119,416.55","982,417.59","16,471.25"
2,2024-01-03,"212,450.60","1,833,432.07","246,442.70","2,079,874.77","33,992.10"
3,2024-01-04,"215,647.90","1,815,419.78","250,151.56","2,065,571.34","34,503.66"
4,2024-01-05,"250,311.04","2,196,897.86","290,360.81","2,487,258.67","40,049.77"

In [96]:
group_deferred_payments_status_1_fact_final = group_deferred_payments_status_1_fact[['eff_dt_date','psp_amount',
                                                                                     'gross_amount_dp','ingreso_deferred',
                                                                                     'fees_deferred','taxes_deferred']]
group_deferred_payments_status_1_fact_final.head()

,eff_dt_date,psp_amount,gross_amount_dp,ingreso_deferred,fees_deferred,taxes_deferred
0,2024-01-01,"1,266,368.11","1,135,749.57","130,618.54","112,602.19","18,016.35"
1,2024-01-02,"982,417.59","863,001.04","119,416.55","102,945.30","16,471.25"
2,2024-01-03,"2,079,874.77","1,833,432.07","246,442.70","212,450.60","33,992.10"
3,2024-01-04,"2,065,571.34","1,815,419.78","250,151.56","215,647.90","34,503.66"
4,2024-01-05,"2,487,258.67","2,196,897.86","290,360.81","250,311.04","40,049.77"

In [97]:
group_deferred_payments_status_1_fact_final.shape

(31, 6)

### DETALLE TOPUPS

In [98]:
dynamo_topups_billpymnt_cashback = pd.concat([pd.read_excel(f).assign(file_name=os.path.basename(f)) for f in dynamo_topups_billpymnt_cashback_files])
dynamo_topups_billpymnt_cashback.columns = dynamo_topups_billpymnt_cashback.columns.str.strip().str.lower()
dynamo_topups_billpymnt_cashback['eff_dt_date']= pd.to_datetime(dynamo_topups_billpymnt_cashback['eff_dt_date'])
dynamo_topups_billpymnt_cashback.head()

,eff_dt_date,merchant_id,email,mvnt_id,fee_direct_deposit,taxes_direct_deposit,merchant_commission_fees,merchant_commission_taxes,merchant_commission,frontend_commission_fees,frontend_commission_taxes,frontend_commission,fees_cashback,taxes_cashback,amount,file_name
0,2024-01-01,000d3241-c56d-4f94-acef-864f0b9e3f82,logisticnava@gmail.com,2,4.14,0.66,0.00,0.00,0,0.00,0.00,0,0.00,0.00,4.80,TOPUPS_BILL_PAYMENTS_CASHBACK_LEDGER_ENERO_202...
1,2024-01-01,0021fcb0-73d4-44f0-8a66-c922820ad913,marimendoza43@hotmail.com,1,2.59,0.41,0.00,0.00,0,0.00,0.00,0,0.00,0.00,3.00,TOPUPS_BILL_PAYMENTS_CASHBACK_LEDGER_ENERO_202...
2,2024-01-01,0022badd-5f2c-47a9-b6f5-c1acdb4c6cb0,daniel.aspin@hotmail.com,1,0.00,0.00,2.59,0.41,3,12.93,2.07,15,0.00,0.00,3.00,TOPUPS_BILL_PAYMENTS_CASHBACK_LEDGER_ENERO_202...
3,2024-01-01,00498621-66d7-4a7d-9999-a9635388d06b,polovazquez74@gmail.com,1,0.52,0.08,0.00,0.00,0,0.00,0.00,0,0.00,0.00,0.60,TOPUPS_BILL_PAYMENTS_CASHBACK_LEDGER_ENERO_202...
4,2024-01-01,0054006c-08f9-41cc-a75a-156a28d1d613,karlamichel567@gmail.com,1,1.03,0.17,0.00,0.00,0,0.00,0.00,0,0.00,0.00,1.20,TOPUPS_BILL_PAYMENTS_CASHBACK_LEDGER_ENERO_202...

In [99]:
dynamo_topups_billpymnt_cashback.shape

(146025, 16)

### DETALLE POR FECHA TOPUPS, BILL PAYMENTS Y CASHBACK LEDGER

In [100]:
dynamo_topups_billpymnt_cashback_date = pd.pivot_table(dynamo_topups_billpymnt_cashback,index=['eff_dt_date'],
                                              values=["fee_direct_deposit",
                                                      'taxes_direct_deposit',
                                                      'frontend_commission_fees',
                                                      'frontend_commission_taxes',
                                                      'frontend_commission',
                                                      'merchant_commission_fees',
                                                      'merchant_commission_taxes',
                                                      'merchant_commission',
                                                      'fees_cashback',
                                                      'taxes_cashback',
                                                      "amount"],aggfunc=np.sum,margins=False).reset_index()
dynamo_topups_billpymnt_cashback_date.head()

C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_16640\1301566186.py:1: FutureWarning: The provided callable <function sum at 0x0000012B6DC7EAF0> is currently using DataFrameGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  dynamo_topups_billpymnt_cashback_date = pd.pivot_table(dynamo_topups_billpymnt_cashback,index=['eff_dt_date'],

,eff_dt_date,amount,fee_direct_deposit,fees_cashback,frontend_commission,frontend_commission_fees,frontend_commission_taxes,merchant_commission,merchant_commission_fees,merchant_commission_taxes,taxes_cashback,taxes_direct_deposit
0,2024-01-01,"11,865.40","9,791.72",0.00,2535,"2,185.34",349.66,507,437.07,69.93,0.00,"1,566.68"
1,2024-01-02,"24,634.20","20,176.03",0.00,6150,"5,301.72",848.28,1230,"1,060.34",169.66,0.00,"3,228.17"
2,2024-01-03,"24,115.20","19,956.21",0.00,4830,"4,163.79",666.21,966,832.76,133.24,0.00,"3,192.99"
3,2024-01-04,"22,046.80","18,211.90",0.00,4605,"3,969.83",635.17,921,793.97,127.03,0.00,"2,913.90"
4,2024-01-05,"24,337.80","20,499.83",0.00,2790,"2,405.17",384.83,558,481.03,76.97,0.00,"3,279.97"

In [101]:
dynamo_topups_billpymnt_cashback_date.shape

(31, 12)

### UNION FECHA LEDGER CON LEDGER DEFERRED PAYMENTS

In [102]:
union_dynamo_date_0 = dynamo_date.merge(group_deferred_payments_status_1_fact_final[['eff_dt_date','psp_amount',
                                                                                     'gross_amount_dp','ingreso_deferred',
                                                                                    'fees_deferred','taxes_deferred']],
                                        on='eff_dt_date', how='left')
union_dynamo_date_0.fillna(0,inplace=True)
union_dynamo_date_0.head()

,eff_dt_date,mvnt_id,gross_amount_sett,fees_sett,taxes_sett,net_amount_sett,gross_amount_pymt,fees_pymt,taxes_pymt,net_amount_pymt,...,fees,taxes,net_amount,amount,file_name,psp_amount,gross_amount_dp,ingreso_deferred,fees_deferred,taxes_deferred
0,2024-01-01,499170,"250,028,698.61","9,348,418.45","1,495,752.33","239,184,527.83","1,700,534.87","62,348.44","9,975.84","1,628,210.59",...,"9,286,070.01","1,485,776.49","237,556,317.24","239,184,527.83",Date_tpv_fees_taxes_ledger_enero_2024.xlsx,"1,266,368.11","1,135,749.57","130,618.54","112,602.19","18,016.35"
1,2024-01-02,225339,"136,026,094.33","5,107,101.76","817,140.19","130,101,852.38","830,610.04","38,045.40","6,087.13","786,477.51",...,"5,069,056.36","811,053.06","129,315,374.87","130,101,852.38",Date_tpv_fees_taxes_ledger_enero_2024.xlsx,"982,417.59","863,001.04","119,416.55","102,945.30","16,471.25"
2,2024-01-03,437661,"248,604,532.43","9,898,617.92","1,583,789.04","237,122,125.47","1,214,442.01","56,721.46","9,075.63","1,148,644.92",...,"9,841,896.46","1,574,713.41","235,973,480.55","237,122,125.47",Date_tpv_fees_taxes_ledger_enero_2024.xlsx,"2,079,874.77","1,833,432.07","246,442.70","212,450.60","33,992.10"
3,2024-01-04,465679,"262,997,720.77","10,499,019.18","1,679,852.83","250,818,848.76","1,305,251.60","57,637.01","9,222.02","1,238,392.57",...,"10,441,382.17","1,670,630.81","249,580,456.19","250,818,848.76",Date_tpv_fees_taxes_ledger_enero_2024.xlsx,"2,065,571.34","1,815,419.78","250,151.56","215,647.90","34,503.66"
4,2024-01-05,496779,"271,640,122.45","10,904,523.30","1,744,737.67","258,990,861.48","1,537,810.02","65,730.65","10,516.95","1,461,562.42",...,"10,838,792.65","1,734,220.72","257,529,299.06","258,990,861.48",Date_tpv_fees_taxes_ledger_enero_2024.xlsx,"2,487,258.67","2,196,897.86","290,360.81","250,311.04","40,049.77"

In [103]:
union_dynamo_date_0.shape

(31, 21)

### UNION FECHA LEDGER CON TOPUPS Y BILL PAYMENTS LEDGER

In [104]:
union_dynamo_date = union_dynamo_date_0.merge(dynamo_topups_billpymnt_cashback_date[['eff_dt_date','fee_direct_deposit',
                                                                                    'taxes_direct_deposit',
                                                                                    'frontend_commission_fees',
                                                                                    'frontend_commission_taxes',
                                                                                    'merchant_commission_fees',
                                                                                    'merchant_commission_taxes',
                                                                                    'fees_cashback',
                                                                                    'taxes_cashback']],
                                              on='eff_dt_date', how='left')
union_dynamo_date.fillna(0,inplace=True)
union_dynamo_date.tail()

,eff_dt_date,mvnt_id,gross_amount_sett,fees_sett,taxes_sett,net_amount_sett,gross_amount_pymt,fees_pymt,taxes_pymt,net_amount_pymt,...,fees_deferred,taxes_deferred,fee_direct_deposit,taxes_direct_deposit,frontend_commission_fees,frontend_commission_taxes,merchant_commission_fees,merchant_commission_taxes,fees_cashback,taxes_cashback
26,2024-01-27,636291,"299,639,572.00","12,044,577.25","1,927,152.58","285,667,842.17","1,173,746.84","49,066.03","7,850.65","1,116,830.16",...,"285,799.24","45,727.88","19,998.10","3,199.70","2,560.34",409.66,512.07,81.93,0.00,0.00
27,2024-01-28,640884,"320,500,443.03","12,949,773.75","2,071,978.58","305,478,690.70","1,630,533.53","64,920.23","10,387.26","1,555,226.04",...,"226,958.06","36,313.29","15,114.83","2,418.37","2,288.79",366.21,457.76,73.24,0.00,0.00
28,2024-01-29,506987,"220,363,018.50","8,724,129.57","1,395,869.94","210,243,018.99","633,041.03","32,516.15","5,202.60","595,322.28",...,"146,253.91","23,400.63","24,653.45","3,944.55","3,956.90",633.10,791.38,126.62,6.98,1.12
29,2024-01-30,481497,"235,540,732.89","9,891,556.10","1,582,668.16","224,066,508.63","1,545,584.09","115,505.45","18,480.94","1,411,597.70",...,"190,231.03","30,436.97","20,402.59","3,264.41","3,193.97",511.03,638.79,102.21,658.04,105.29
30,2024-01-31,514195,"254,341,155.28","10,636,239.68","1,701,819.16","242,003,096.44","1,443,488.23","99,177.24","15,868.56","1,328,442.43",...,"247,625.83","39,620.13","20,667.76","3,306.84","4,047.41",647.59,809.48,129.52,0.13,0.02

In [105]:
union_dynamo_date.shape

(31, 29)

In [106]:
dynamo_date_total = union_dynamo_date[['eff_dt_date',
                                       'gross_amount',
                                       'net_amount',
                                       'fees',
                                       'fee_direct_deposit',
                                       'frontend_commission_fees',
                                       'merchant_commission_fees',
                                       'fees_cashback',
                                       'gross_amount_dp',
                                       'fees_deferred',
                                       'taxes_deferred']]
dynamo_date_total.rename(columns={'eff_dt_date':'Date','gross_amount':'total_transactions','fees':'Txns fees',
                                 'fee_direct_deposit':'TopUps fees_2','net_amount':'Total due (payment)'},inplace=True)
dynamo_date_total.head()

C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_16640\2276750821.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dynamo_date_total.rename(columns={'eff_dt_date':'Date','gross_amount':'total_transactions','fees':'Txns fees',

,Date,total_transactions,Total due (payment),Txns fees,TopUps fees_2,frontend_commission_fees,merchant_commission_fees,fees_cashback,gross_amount_dp,fees_deferred,taxes_deferred
0,2024-01-01,"247,192,414.17","237,556,317.24","9,286,070.01","9,791.72","2,185.34",437.07,0.00,"1,135,749.57","112,602.19","18,016.35"
1,2024-01-02,"134,332,483.25","129,315,374.87","5,069,056.36","20,176.03","5,301.72","1,060.34",0.00,"863,001.04","102,945.30","16,471.25"
2,2024-01-03,"245,556,658.35","235,973,480.55","9,841,896.46","19,956.21","4,163.79",832.76,0.00,"1,833,432.07","212,450.60","33,992.10"
3,2024-01-04,"259,877,049.39","249,580,456.19","10,441,382.17","18,211.90","3,969.83",793.97,0.00,"1,815,419.78","215,647.90","34,503.66"
4,2024-01-05,"267,905,414.57","257,529,299.06","10,838,792.65","20,499.83","2,405.17",481.03,0.00,"2,196,897.86","250,311.04","40,049.77"

In [107]:
dynamo_date_total.shape

(31, 11)

### UNION LEDGER CON LEDGER DEFERRED PAYMENTS

In [108]:
union_dynamo = pd.concat([dynamo,deferred_payments])
union_dynamo.fillna(0,inplace=True)
union_dynamo.head()

C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_16640\583671273.py:2: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '0' has dtype incompatible with datetime64[ns], please explicitly cast to a compatible dtype first.
  union_dynamo.fillna(0,inplace=True)

,merchant_id,user_email,total_transactions,total_fees_charged,total_taxes,fee_direct_deposit,taxes_direct_deposit,frontend_commission_fees,frontend_commission_taxes,merchant_commission_fees,...,psp_amount,gross_amount,fees,taxes,net_amount,movement_type_sml,gross_amount_dp,ingreso_deferred,fees_deferred,taxes_deferred
0,0000275f-d46b-4a9c-a227-42d6f7ce63bd,o2794682@gmail.com,"6,000.00",216.00,34.56,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0,0.00,0.00,0.00,0.00
1,00007725-3116-48dc-9b82-4145699dc290,dr.cesarcamarena.ortopedia@gmail.com,"2,000.00",72.00,11.52,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0,0.00,0.00,0.00,0.00
2,00008e01-812f-487e-8f34-a80bcb0ae3e3,pagos@abz.com.mx,"218,695.00","23,450.30","3,752.04",0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0,0.00,0.00,0.00,0.00
3,000096e6-5d2f-47e9-a924-4b413eca6a43,hazel_ara88@hotmail.com,"3,015.00",108.54,17.37,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0,0.00,0.00,0.00,0.00
4,0000b65a-c2a2-4993-8f4c-05e5b7cbd7c0,ruvalcabapeleteros@hotmail.com,"25,177.97",906.42,145.03,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0,0.00,0.00,0.00,0.00

In [109]:
union_dynamo.shape

(373508, 58)

# FILE FACURACION BY EMAIL

In [110]:
facturacion = fact.merge(lender_amount_email[['merchant_id','provider_code']] ,on='merchant_id', how='left')
facturacion['provider_code'].fillna('SIN LENDER',inplace=True)
facturacion.head()

Empty DataFrame
Columns: [user_email, report_id, report_date_local, total_transactions, total_fees_charged, total_taxes, applied_fees_benefits, applied_taxes_benefits, applied_fees_benefits_topups, applied_taxes_benefits_topups, applied_fees_benefits_coupons, applied_taxes_benefits_coupons, fee_direct_deposit, taxes_direct_deposit, total_adjustments, total_adjustment_fees_charged, total_adjustment_taxes, cobranza, total_released, total_retained, tipopago, total_due, type, created_date, created_time, updated_date, updated_time, file_name, Date, merchant_id, provider_code]
Index: []

[0 rows x 31 columns]

In [111]:
fact_total = facturacion[['merchant_id','user_email','report_id','report_date_local','total_transactions','total_fees_charged'
                          ,'total_taxes','applied_fees_benefits','applied_taxes_benefits','applied_fees_benefits_topups',
                          'applied_taxes_benefits_topups','applied_fees_benefits_coupons','applied_taxes_benefits_coupons',
                          'fee_direct_deposit','taxes_direct_deposit','total_adjustments','total_adjustment_fees_charged'
                          ,'total_adjustment_taxes','cobranza','total_released','total_retained','tipopago'
                          ,'total_due','Date','type','provider_code']]
fact_total.head()

Empty DataFrame
Columns: [merchant_id, user_email, report_id, report_date_local, total_transactions, total_fees_charged, total_taxes, applied_fees_benefits, applied_taxes_benefits, applied_fees_benefits_topups, applied_taxes_benefits_topups, applied_fees_benefits_coupons, applied_taxes_benefits_coupons, fee_direct_deposit, taxes_direct_deposit, total_adjustments, total_adjustment_fees_charged, total_adjustment_taxes, cobranza, total_released, total_retained, tipopago, total_due, Date, type, provider_code]
Index: []

[0 rows x 26 columns]

In [112]:
fact_total.shape

(0, 26)

In [113]:
# fact_total.loc['All'] = fact_total.sum(numeric_only=True)
# fact_total['merchant_id'].fillna('ALL',inplace=True)

In [114]:
# fact_total.shape

In [115]:
# fact_total.tail()

In [116]:
# facturacion_by_date.drop(facturacion_by_date.tail(1).index,inplace=True)

In [117]:
pt_1 = pd.pivot_table(fact_total,index=['merchant_id',"user_email"],values=["total_due",'total_transactions',
                                                                          "total_fees_charged",'total_taxes',
                                                                          "applied_fees_benefits",'applied_taxes_benefits',
                                                                          'applied_fees_benefits_topups',
                                                                          'applied_taxes_benefits_topups',
                                                                          'applied_fees_benefits_coupons',
                                                                          'applied_taxes_benefits_coupons',
                                                                          'fee_direct_deposit','taxes_direct_deposit']
                    ,aggfunc=np.sum,margins=False)
pt_1 = pt_1.reset_index(drop=False)
# pt.to_csv('PIVOT BY EMAIL ABRIL.csv')
pt_1.head()

C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_16640\3817383449.py:1: FutureWarning: The provided callable <function sum at 0x0000012B6DC7EAF0> is currently using DataFrameGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  pt_1 = pd.pivot_table(fact_total,index=['merchant_id',"user_email"],values=["total_due",'total_transactions',

Empty DataFrame
Columns: [merchant_id, user_email]
Index: []

In [118]:
pt_1.shape

(0, 2)

# UNION CON DYNAMO

In [119]:
union_dynamo_final = pd.concat([pt_1, union_dynamo])
union_dynamo_final.fillna(0,inplace=True)
union_dynamo_final.head()

,merchant_id,user_email,total_transactions,total_fees_charged,total_taxes,fee_direct_deposit,taxes_direct_deposit,frontend_commission_fees,frontend_commission_taxes,merchant_commission_fees,...,psp_amount,gross_amount,fees,taxes,net_amount,movement_type_sml,gross_amount_dp,ingreso_deferred,fees_deferred,taxes_deferred
0,0000275f-d46b-4a9c-a227-42d6f7ce63bd,o2794682@gmail.com,"6,000.00",216.00,34.56,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0,0.00,0.00,0.00,0.00
1,00007725-3116-48dc-9b82-4145699dc290,dr.cesarcamarena.ortopedia@gmail.com,"2,000.00",72.00,11.52,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0,0.00,0.00,0.00,0.00
2,00008e01-812f-487e-8f34-a80bcb0ae3e3,pagos@abz.com.mx,"218,695.00","23,450.30","3,752.04",0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0,0.00,0.00,0.00,0.00
3,000096e6-5d2f-47e9-a924-4b413eca6a43,hazel_ara88@hotmail.com,"3,015.00",108.54,17.37,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0,0.00,0.00,0.00,0.00
4,0000b65a-c2a2-4993-8f4c-05e5b7cbd7c0,ruvalcabapeleteros@hotmail.com,"25,177.97",906.42,145.03,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0,0.00,0.00,0.00,0.00

In [120]:
union_dynamo_final.shape

(373508, 58)

In [121]:
union_dynamo_final.columns

Index(['merchant_id', 'user_email', 'total_transactions', 'total_fees_charged',
       'total_taxes', 'fee_direct_deposit', 'taxes_direct_deposit',
       'frontend_commission_fees', 'frontend_commission_taxes',
       'merchant_commission_fees', 'merchant_commission_taxes',
       'fees_cashback', 'taxes_cashback', 'total_due', 'file_name', 'amount',
       'currency', 'type_request', 'mvnt_id', 'movement_type', 'source_type',
       'created_at', 'eff_dt', 'movement_day', 'request_effective_date',
       'slot_date', 'eff_dt_date', 'eff_dt_time', 'merchant_name',
       'psp_amount_sett', 'gross_amount_sett', 'fees_sett', 'taxes_sett',
       'net_amount_sett', 'mdr', 'msi', 'number_msi', 'receipt_no',
       'status_code', 'dcc_amount', 'dcc_rate', 'dcc_status', 'pymt_prg',
       'psp_amount_pymt', 'gross_amount_pymt', 'fees_pymt', 'taxes_pymt',
       'net_amount_pymt', 'psp_amount', 'gross_amount', 'fees', 'taxes',
       'net_amount', 'movement_type_sml', 'gross_amount_dp',
       'ingreso_deferred', 'fees_deferred', 'taxes_deferred'],
      dtype='object')

# PIVOT FINAL CON INCLUSION DYNAMO

In [122]:
pt = pd.pivot_table(union_dynamo_final,index=['merchant_id',"user_email"],
                    values=["total_due",
                            'total_transactions',
                            "total_fees_charged",
                            'total_taxes',
                            #"applied_fees_benefits",
                            #'applied_taxes_benefits',
                            #'applied_fees_benefits_topups',
                            #'applied_taxes_benefits_topups',
                            #'applied_fees_benefits_coupons',
                            #'applied_taxes_benefits_coupons',
                            'fee_direct_deposit','taxes_direct_deposit',
                            'frontend_commission_fees',
                            'frontend_commission_taxes',
                            'merchant_commission_fees',
                            'merchant_commission_taxes',
                            'fees_cashback',
                            'taxes_cashback',
                            'gross_amount_dp',
                            'fees_deferred',
                            'taxes_deferred']
                    ,aggfunc=np.sum,margins=True)
pt = pt.reset_index(drop=False)
# pt.to_csv('PIVOT BY EMAIL ABRIL.csv')
pt.head()

C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_16640\2637501315.py:1: FutureWarning: The provided callable <function sum at 0x0000012B6DC7EAF0> is currently using DataFrameGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  pt = pd.pivot_table(union_dynamo_final,index=['merchant_id',"user_email"],

,merchant_id,user_email,fee_direct_deposit,fees_cashback,fees_deferred,frontend_commission_fees,frontend_commission_taxes,gross_amount_dp,merchant_commission_fees,merchant_commission_taxes,taxes_cashback,taxes_deferred,taxes_direct_deposit,total_due,total_fees_charged,total_taxes,total_transactions
0,0000275f-d46b-4a9c-a227-42d6f7ce63bd,o2794682@gmail.com,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,"5,749.44",216.00,34.56,"6,000.00"
1,00007725-3116-48dc-9b82-4145699dc290,dr.cesarcamarena.ortopedia@gmail.com,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,"1,916.48",72.00,11.52,"2,000.00"
2,00008e01-812f-487e-8f34-a80bcb0ae3e3,pagos@abz.com.mx,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,"191,492.66","23,450.30","3,752.04","218,695.00"
3,000096e6-5d2f-47e9-a924-4b413eca6a43,hazel_ara88@hotmail.com,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,"2,889.09",108.54,17.37,"3,015.00"
4,0000b65a-c2a2-4993-8f4c-05e5b7cbd7c0,ruvalcabapeleteros@hotmail.com,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,"24,126.52",906.42,145.03,"25,177.97"

In [123]:
pt.shape

(353616, 17)

In [124]:
facturacion_total = pt.merge(lender_amount_email[['merchant_id','provider_code','amount','capital',
                                                   'interest','tax']] ,on='merchant_id', how='left')
facturacion_total["amount"].fillna(0,inplace=True)
facturacion_total["capital"].fillna(0,inplace=True)
facturacion_total["interest"].fillna(0,inplace=True)
facturacion_total["tax"].fillna(0,inplace=True)
facturacion_total["provider_code"].fillna("SIN LENDER",inplace=True)
facturacion_total.head()

,merchant_id,user_email,fee_direct_deposit,fees_cashback,fees_deferred,frontend_commission_fees,frontend_commission_taxes,gross_amount_dp,merchant_commission_fees,merchant_commission_taxes,...,taxes_direct_deposit,total_due,total_fees_charged,total_taxes,total_transactions,provider_code,amount,capital,interest,tax
0,0000275f-d46b-4a9c-a227-42d6f7ce63bd,o2794682@gmail.com,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,"5,749.44",216.00,34.56,"6,000.00",SIN LENDER,0.00,0.00,0.00,0.00
1,00007725-3116-48dc-9b82-4145699dc290,dr.cesarcamarena.ortopedia@gmail.com,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,"1,916.48",72.00,11.52,"2,000.00",SIN LENDER,0.00,0.00,0.00,0.00
2,00008e01-812f-487e-8f34-a80bcb0ae3e3,pagos@abz.com.mx,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,"191,492.66","23,450.30","3,752.04","218,695.00",SIN LENDER,0.00,0.00,0.00,0.00
3,000096e6-5d2f-47e9-a924-4b413eca6a43,hazel_ara88@hotmail.com,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,"2,889.09",108.54,17.37,"3,015.00",SIN LENDER,0.00,0.00,0.00,0.00
4,0000b65a-c2a2-4993-8f4c-05e5b7cbd7c0,ruvalcabapeleteros@hotmail.com,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,"24,126.52",906.42,145.03,"25,177.97",SIN LENDER,0.00,0.00,0.00,0.00

In [125]:
facturacion_total.shape

(353616, 22)

In [126]:
duplicates = facturacion_total[facturacion_total.duplicated(['user_email'] , keep=False)]
duplicates.head()

Empty DataFrame
Columns: [merchant_id, user_email, fee_direct_deposit, fees_cashback, fees_deferred, frontend_commission_fees, frontend_commission_taxes, gross_amount_dp, merchant_commission_fees, merchant_commission_taxes, taxes_cashback, taxes_deferred, taxes_direct_deposit, total_due, total_fees_charged, total_taxes, total_transactions, provider_code, amount, capital, interest, tax]
Index: []

[0 rows x 22 columns]

In [127]:
duplicates.shape

(0, 22)

In [128]:
def lender_amount(facturacion_total):
    if facturacion_total['provider_code'] == 'MRP':
        return facturacion_total['interest']*0
    elif facturacion_total['provider_code'] == 'MOT':
        return facturacion_total['interest']*0
    elif facturacion_total['provider_code'] == 'APH':
        return facturacion_total['interest']*0
    elif facturacion_total['provider_code'] == 'HCS':
        return facturacion_total['interest']*0
    elif facturacion_total['provider_code'] == 'R2':
        return facturacion_total['interest']*0
    elif facturacion_total['provider_code'] == 'CTO':
        return facturacion_total['interest']*0
    elif facturacion_total['provider_code'] == 'AVL':
        return facturacion_total['interest']*0
    elif facturacion_total['provider_code'] == 'CLIP':
        return facturacion_total['interest']*0
    else:
        return facturacion_total['interest']
    
facturacion_total['interest'] = facturacion_total.apply(lender_amount, axis=1)

In [129]:
facturacion_total['Net fees'] = (facturacion_total['total_fees_charged'] +
                                facturacion_total['frontend_commission_fees'] -
                                # facturacion_total['applied_fees_benefits_topups'] -
                                # facturacion_total['applied_fees_benefits_coupons'] -
                                facturacion_total['fee_direct_deposit'] -
                                facturacion_total['fees_cashback'] -
                                facturacion_total['merchant_commission_fees'] +
                                facturacion_total['interest'])
facturacion_total['Global taxes'] = facturacion_total['Net fees'] * 0.16
facturacion_total.head()

,merchant_id,user_email,fee_direct_deposit,fees_cashback,fees_deferred,frontend_commission_fees,frontend_commission_taxes,gross_amount_dp,merchant_commission_fees,merchant_commission_taxes,...,total_fees_charged,total_taxes,total_transactions,provider_code,amount,capital,interest,tax,Net fees,Global taxes
0,0000275f-d46b-4a9c-a227-42d6f7ce63bd,o2794682@gmail.com,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,216.00,34.56,"6,000.00",SIN LENDER,0.00,0.00,0.00,0.00,216.00,34.56
1,00007725-3116-48dc-9b82-4145699dc290,dr.cesarcamarena.ortopedia@gmail.com,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,72.00,11.52,"2,000.00",SIN LENDER,0.00,0.00,0.00,0.00,72.00,11.52
2,00008e01-812f-487e-8f34-a80bcb0ae3e3,pagos@abz.com.mx,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,"23,450.30","3,752.04","218,695.00",SIN LENDER,0.00,0.00,0.00,0.00,"23,450.30","3,752.05"
3,000096e6-5d2f-47e9-a924-4b413eca6a43,hazel_ara88@hotmail.com,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,108.54,17.37,"3,015.00",SIN LENDER,0.00,0.00,0.00,0.00,108.54,17.37
4,0000b65a-c2a2-4993-8f4c-05e5b7cbd7c0,ruvalcabapeleteros@hotmail.com,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,906.42,145.03,"25,177.97",SIN LENDER,0.00,0.00,0.00,0.00,906.42,145.03

In [130]:
facturacion_final =  facturacion_total[['merchant_id',
                                        "user_email",
                                        'total_transactions',
                                        "total_fees_charged",
                                        # 'applied_fees_benefits_topups',
                                        "fee_direct_deposit",
                                        # 'applied_fees_benefits_coupons',
                                        'frontend_commission_fees',
                                        'merchant_commission_fees',
                                        'fees_cashback',
                                        "interest",
                                        "Net fees",
                                        "Global taxes",
                                        "total_due",
                                        'gross_amount_dp',
                                        'fees_deferred',
                                        'taxes_deferred']]
facturacion_final.rename(columns ={'total_due':'Total due (payment)',
                                   'total_fees_charged':'Txns fees',
                                   # 'applied_fees_benefits_topups':'TopUps fees',
                                   # 'applied_fees_benefits_coupons':'Coupons',
                                   'fee_direct_deposit':'TopUps fees_2',
                                   'interest':'Loans fees',
                                   'merchant_commission_fees':'Fees bonificación bill payments',
                                   'frontend_commission_fees':'Fees ingreso bill payments',
                                  'fees_cashback':'Fees bonificación cashback'},inplace=True)

C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_16640\2367814319.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  facturacion_final.rename(columns ={'total_due':'Total due (payment)',

In [131]:
facturacion_final.head()

,merchant_id,user_email,total_transactions,Txns fees,TopUps fees_2,Fees ingreso bill payments,Fees bonificación bill payments,Fees bonificación cashback,Loans fees,Net fees,Global taxes,Total due (payment),gross_amount_dp,fees_deferred,taxes_deferred
0,0000275f-d46b-4a9c-a227-42d6f7ce63bd,o2794682@gmail.com,"6,000.00",216.00,0.00,0.00,0.00,0.00,0.00,216.00,34.56,"5,749.44",0.00,0.00,0.00
1,00007725-3116-48dc-9b82-4145699dc290,dr.cesarcamarena.ortopedia@gmail.com,"2,000.00",72.00,0.00,0.00,0.00,0.00,0.00,72.00,11.52,"1,916.48",0.00,0.00,0.00
2,00008e01-812f-487e-8f34-a80bcb0ae3e3,pagos@abz.com.mx,"218,695.00","23,450.30",0.00,0.00,0.00,0.00,0.00,"23,450.30","3,752.05","191,492.66",0.00,0.00,0.00
3,000096e6-5d2f-47e9-a924-4b413eca6a43,hazel_ara88@hotmail.com,"3,015.00",108.54,0.00,0.00,0.00,0.00,0.00,108.54,17.37,"2,889.09",0.00,0.00,0.00
4,0000b65a-c2a2-4993-8f4c-05e5b7cbd7c0,ruvalcabapeleteros@hotmail.com,"25,177.97",906.42,0.00,0.00,0.00,0.00,0.00,906.42,145.03,"24,126.52",0.00,0.00,0.00

In [132]:
facturacion_final = facturacion_final[['merchant_id',
                                       'user_email',
                                       'Total due (payment)',
                                       'total_transactions',
                                       'Txns fees',
                                       # 'TopUps fees',
                                       'TopUps fees_2',
                                       # 'Coupons',
                                       'Fees ingreso bill payments',
                                       'Fees bonificación bill payments',
                                       'Fees bonificación cashback',
                                       'Loans fees',
                                       'Net fees',
                                       'Global taxes',
                                       'gross_amount_dp',
                                       'fees_deferred',
                                       'taxes_deferred']]
# facturacion_final.to_csv('PIVOT DATA FINAL ABRIL.csv')
facturacion_final.tail()

,merchant_id,user_email,Total due (payment),total_transactions,Txns fees,TopUps fees_2,Fees ingreso bill payments,Fees bonificación bill payments,Fees bonificación cashback,Loans fees,Net fees,Global taxes,gross_amount_dp,fees_deferred,taxes_deferred
353611,ffff52d6-20ef-4857-a891-af7eea153052,antonioaguirre2812@gmail.com,"4,307.30","4,495.00",161.82,0.00,0.00,0.00,0.00,0.00,161.82,25.89,0.00,0.00,0.00
353612,ffff5cfb-e301-42a2-bc2f-2f08d9c1bd1d,velvettnovedadesparati@gmail.com,"1,495.81","1,561.00",56.20,0.00,0.00,0.00,0.00,0.00,56.20,8.99,0.00,0.00,0.00
353613,ffff62dc-fba2-4dd8-be17-4aa766ae6fca,menny077@hotmail.com,"11,427.01","11,925.00",429.28,0.00,0.00,0.00,0.00,0.00,429.28,68.68,0.00,0.00,0.00
353614,ffff80f1-d0bf-41d4-af98-1885c65ca45e,curso_ingreso@hotmail.com,"11,319.40","12,640.00","1,138.44",0.00,0.00,0.00,0.00,0.00,"1,138.44",182.15,0.00,0.00,0.00
353615,All,,"7,455,892,608.15","7,763,785,087.61","313,895,827.58","600,809.31","107,715.52","21,543.10","47,414.18","13,557,668.87","326,891,445.37","52,302,631.26","56,227,090.18","6,176,882.34","988,301.17"

In [133]:
facturacion_final.shape

(353616, 15)

In [134]:
facturacion_final.drop(facturacion_final.tail(1).index,inplace=True) # drop last n rows

In [135]:
facturacion_final.loc['All'] = facturacion_final.sum(numeric_only=True)
facturacion_final['user_email'].fillna('ALL',inplace=True)

In [136]:
facturacion_final.shape

(353616, 15)

In [137]:
facturacion_final_dup = facturacion_final[facturacion_final.duplicated(['merchant_id'] , keep=False)]
facturacion_final_dup.head()

Empty DataFrame
Columns: [merchant_id, user_email, Total due (payment), total_transactions, Txns fees, TopUps fees_2, Fees ingreso bill payments, Fees bonificación bill payments, Fees bonificación cashback, Loans fees, Net fees, Global taxes, gross_amount_dp, fees_deferred, taxes_deferred]
Index: []

In [138]:
facturacion_final_dup.shape

(0, 15)

In [139]:
facturacion_final_dup_email = facturacion_final[facturacion_final.duplicated(['user_email'] , keep=False)]
facturacion_final_dup_email.head()

Empty DataFrame
Columns: [merchant_id, user_email, Total due (payment), total_transactions, Txns fees, TopUps fees_2, Fees ingreso bill payments, Fees bonificación bill payments, Fees bonificación cashback, Loans fees, Net fees, Global taxes, gross_amount_dp, fees_deferred, taxes_deferred]
Index: []

In [140]:
facturacion_final_dup_email.shape

(0, 15)

In [141]:
#facturacion_final.to_csv('fact_septiembre_2022.csv',index=False)

# FILE FACTURACION BY DATE

In [142]:
facturacion_by_date = pd.pivot_table(fact_total,index=["Date"],values=["total_due",
                                                                       'total_transactions',
                                                                       "total_fees_charged",
                                                                       'applied_fees_benefits_topups',
                                                                       "fee_direct_deposit",
                                                                       'applied_fees_benefits_coupons'],
                                     aggfunc=np.sum,margins=False)

C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_16640\4283076972.py:1: FutureWarning: The provided callable <function sum at 0x0000012B6DC7EAF0> is currently using DataFrameGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  facturacion_by_date = pd.pivot_table(fact_total,index=["Date"],values=["total_due",

In [143]:
facturacion_by_date.rename(columns ={'total_due':'Total due (payment)',
                                     'total_fees_charged':'Txns fees',
                                     'applied_fees_benefits_topups':'TopUps fees',
                                     'applied_fees_benefits_coupons':'Coupons',
                                     'fee_direct_deposit':'TopUps fees_2'},inplace=True)

In [144]:
facturacion_by_date.head()

Empty DataFrame
Columns: []
Index: []

In [145]:
facturacion_by_date.shape

(0, 0)

In [146]:
# facturacion_by_date = facturacion_by_date[['Total due (payment)',
#                                            'total_transactions',
#                                            'Txns fees',
#                                            'TopUps fees',
#                                            'TopUps fees_2',
#                                            'Coupons']]
# facturacion_by_date = facturacion_by_date.reset_index(drop=False)
# facturacion_by_date.tail()

In [147]:
# facturacion_by_date.shape

# UNION CON LEDGER BY DATE

In [148]:
union_facturacion_ledger_date = pd.concat([facturacion_by_date,dynamo_date_total])
union_facturacion_ledger_date.fillna(0,inplace=True)
union_facturacion_ledger_date.tail()

,Date,total_transactions,Total due (payment),Txns fees,TopUps fees_2,frontend_commission_fees,merchant_commission_fees,fees_cashback,gross_amount_dp,fees_deferred,taxes_deferred
26,2024-01-27,"296,107,656.05","284,551,012.01","11,995,511.22","19,998.10","2,560.34",512.07,0.00,"2,358,169.11","285,799.24","45,727.88"
27,2024-01-28,"316,700,331.93","303,923,464.66","12,884,853.52","15,114.83","2,288.79",457.76,0.00,"2,169,577.57","226,958.06","36,313.29"
28,2024-01-29,"218,350,108.61","209,647,696.71","8,691,613.42","24,653.45","3,956.90",791.38,6.98,"1,379,868.86","146,253.91","23,400.63"
29,2024-01-30,"232,229,669.34","222,654,910.93","9,776,050.65","20,402.59","3,193.97",638.79,658.04,"1,765,479.46","190,231.03","30,436.97"
30,2024-01-31,"250,481,235.95","240,674,654.01","10,537,062.44","20,667.76","4,047.41",809.48,0.13,"2,416,431.10","247,625.83","39,620.13"

In [149]:
union_facturacion_ledger_date.shape

(31, 11)

In [150]:
union_facturacion_ledger_date_total = pd.pivot_table(union_facturacion_ledger_date,index=["Date"],
                                                     values=['Total due (payment)',
                                                             'total_transactions',
                                                             'Txns fees',
                                                             # 'TopUps fees',
                                                             'TopUps fees_2',
                                                             # 'Coupons',
                                                             'frontend_commission_fees',
                                                             'merchant_commission_fees',
                                                             'fees_cashback',
                                                             'gross_amount_dp',
                                                             'fees_deferred',
                                                             'taxes_deferred'],
                                                     aggfunc=np.sum,margins=False).reset_index()
union_facturacion_ledger_date_total.head()

C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_16640\93829535.py:1: FutureWarning: The provided callable <function sum at 0x0000012B6DC7EAF0> is currently using DataFrameGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  union_facturacion_ledger_date_total = pd.pivot_table(union_facturacion_ledger_date,index=["Date"],

,Date,TopUps fees_2,Total due (payment),Txns fees,fees_cashback,fees_deferred,frontend_commission_fees,gross_amount_dp,merchant_commission_fees,taxes_deferred,total_transactions
0,2024-01-01,"9,791.72","237,556,317.24","9,286,070.01",0.00,"112,602.19","2,185.34","1,135,749.57",437.07,"18,016.35","247,192,414.17"
1,2024-01-02,"20,176.03","129,315,374.87","5,069,056.36",0.00,"102,945.30","5,301.72","863,001.04","1,060.34","16,471.25","134,332,483.25"
2,2024-01-03,"19,956.21","235,973,480.55","9,841,896.46",0.00,"212,450.60","4,163.79","1,833,432.07",832.76,"33,992.10","245,556,658.35"
3,2024-01-04,"18,211.90","249,580,456.19","10,441,382.17",0.00,"215,647.90","3,969.83","1,815,419.78",793.97,"34,503.66","259,877,049.39"
4,2024-01-05,"20,499.83","257,529,299.06","10,838,792.65",0.00,"250,311.04","2,405.17","2,196,897.86",481.03,"40,049.77","267,905,414.57"

In [151]:
union_facturacion_ledger_date_total.shape

(31, 11)

In [152]:
union_facturacion_ledger_date_final = union_facturacion_ledger_date_total[['Date',
                                                                           'Total due (payment)',
                                                                           'total_transactions',
                                                                           'Txns fees',
                                                                           # 'TopUps fees',
                                                                           'TopUps fees_2',
                                                                           # 'Coupons',
                                                                           'frontend_commission_fees',
                                                                           'merchant_commission_fees',
                                                                           'fees_cashback',
                                                                           'gross_amount_dp',
                                                                           'fees_deferred',
                                                                           'taxes_deferred']]
union_facturacion_ledger_date_final.head()

,Date,Total due (payment),total_transactions,Txns fees,TopUps fees_2,frontend_commission_fees,merchant_commission_fees,fees_cashback,gross_amount_dp,fees_deferred,taxes_deferred
0,2024-01-01,"237,556,317.24","247,192,414.17","9,286,070.01","9,791.72","2,185.34",437.07,0.00,"1,135,749.57","112,602.19","18,016.35"
1,2024-01-02,"129,315,374.87","134,332,483.25","5,069,056.36","20,176.03","5,301.72","1,060.34",0.00,"863,001.04","102,945.30","16,471.25"
2,2024-01-03,"235,973,480.55","245,556,658.35","9,841,896.46","19,956.21","4,163.79",832.76,0.00,"1,833,432.07","212,450.60","33,992.10"
3,2024-01-04,"249,580,456.19","259,877,049.39","10,441,382.17","18,211.90","3,969.83",793.97,0.00,"1,815,419.78","215,647.90","34,503.66"
4,2024-01-05,"257,529,299.06","267,905,414.57","10,838,792.65","20,499.83","2,405.17",481.03,0.00,"2,196,897.86","250,311.04","40,049.77"

In [153]:
union_facturacion_ledger_date_final.shape

(31, 11)

In [155]:
union_facturacion_ledger_date_final.loc['All'] = union_facturacion_ledger_date_final.sum(numeric_only=True)
union_facturacion_ledger_date_final['Date'].fillna('ALL',inplace=True)

C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_16640\2854952279.py:1: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  union_facturacion_ledger_date_final.loc['All'] = union_facturacion_ledger_date_final.sum(numeric_only=True)
C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_16640\2854952279.py:2: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'ALL' has dtype incompatible with datetime64[ns], please explicitly cast to a compatible dtype first.
  union_facturacion_ledger_date_final['Date'].fillna('ALL',inplace=True)

In [156]:
union_facturacion_ledger_date_final.shape

(32, 11)

In [157]:
facturacion_by_date_total = union_facturacion_ledger_date_final.merge(lender_amount_date_clip[['Date',
                                                                                               'amount',
                                                                                               'capital',
                                                                                               'interest',
                                                                                               'tax',
                                                                                               "provider_code"]] ,
                                                                      on='Date', how='left')
facturacion_by_date_total['interest'] = 0
facturacion_by_date_total['amount'].fillna(0,inplace=True)
facturacion_by_date_total['capital'].fillna(0,inplace=True)
facturacion_by_date_total['interest'].fillna(0,inplace=True)
facturacion_by_date_total['tax'].fillna(0,inplace=True)
facturacion_by_date_total.head()

,Date,Total due (payment),total_transactions,Txns fees,TopUps fees_2,frontend_commission_fees,merchant_commission_fees,fees_cashback,gross_amount_dp,fees_deferred,taxes_deferred,amount,capital,interest,tax,provider_code
0,2024-01-01 00:00:00,"237,556,317.24","247,192,414.17","9,286,070.01","9,791.72","2,185.34",437.07,0.00,"1,135,749.57","112,602.19","18,016.35",0.00,0.00,0,0.00,NaN
1,2024-01-02 00:00:00,"129,315,374.87","134,332,483.25","5,069,056.36","20,176.03","5,301.72","1,060.34",0.00,"863,001.04","102,945.30","16,471.25",0.00,0.00,0,0.00,NaN
2,2024-01-03 00:00:00,"235,973,480.55","245,556,658.35","9,841,896.46","19,956.21","4,163.79",832.76,0.00,"1,833,432.07","212,450.60","33,992.10",0.00,0.00,0,0.00,NaN
3,2024-01-04 00:00:00,"249,580,456.19","259,877,049.39","10,441,382.17","18,211.90","3,969.83",793.97,0.00,"1,815,419.78","215,647.90","34,503.66",0.00,0.00,0,0.00,NaN
4,2024-01-05 00:00:00,"257,529,299.06","267,905,414.57","10,838,792.65","20,499.83","2,405.17",481.03,0.00,"2,196,897.86","250,311.04","40,049.77",0.00,0.00,0,0.00,NaN

In [158]:
facturacion_by_date_total['Net fees'] = (facturacion_by_date_total['Txns fees'] +
                                         facturacion_by_date_total['frontend_commission_fees'] -
                                         # facturacion_by_date_total['TopUps fees'] -
                                         # facturacion_by_date_total['Coupons'] -
                                         facturacion_by_date_total['TopUps fees_2'] -
                                         facturacion_by_date_total['merchant_commission_fees'] -
                                         facturacion_by_date_total['fees_cashback'] +
                                         facturacion_by_date_total['interest'])
facturacion_by_date_total['Global taxes'] = facturacion_by_date_total['Net fees'] * 0.16
facturacion_by_date_total.head()

,Date,Total due (payment),total_transactions,Txns fees,TopUps fees_2,frontend_commission_fees,merchant_commission_fees,fees_cashback,gross_amount_dp,fees_deferred,taxes_deferred,amount,capital,interest,tax,provider_code,Net fees,Global taxes
0,2024-01-01 00:00:00,"237,556,317.24","247,192,414.17","9,286,070.01","9,791.72","2,185.34",437.07,0.00,"1,135,749.57","112,602.19","18,016.35",0.00,0.00,0,0.00,NaN,"9,278,026.56","1,484,484.25"
1,2024-01-02 00:00:00,"129,315,374.87","134,332,483.25","5,069,056.36","20,176.03","5,301.72","1,060.34",0.00,"863,001.04","102,945.30","16,471.25",0.00,0.00,0,0.00,NaN,"5,053,121.70","808,499.47"
2,2024-01-03 00:00:00,"235,973,480.55","245,556,658.35","9,841,896.46","19,956.21","4,163.79",832.76,0.00,"1,833,432.07","212,450.60","33,992.10",0.00,0.00,0,0.00,NaN,"9,825,271.29","1,572,043.41"
3,2024-01-04 00:00:00,"249,580,456.19","259,877,049.39","10,441,382.17","18,211.90","3,969.83",793.97,0.00,"1,815,419.78","215,647.90","34,503.66",0.00,0.00,0,0.00,NaN,"10,426,346.14","1,668,215.38"
4,2024-01-05 00:00:00,"257,529,299.06","267,905,414.57","10,838,792.65","20,499.83","2,405.17",481.03,0.00,"2,196,897.86","250,311.04","40,049.77",0.00,0.00,0,0.00,NaN,"10,820,216.96","1,731,234.71"

In [159]:
facturacion_by_date_total.shape

(32, 18)

In [160]:
facturacion_by_date_final = facturacion_by_date_total[['Date',
                                                       'Total due (payment)',
                                                       'total_transactions',
                                                       'Txns fees',
                                                       # 'TopUps fees',
                                                       'TopUps fees_2',
                                                       # 'Coupons',
                                                       'frontend_commission_fees',
                                                       'merchant_commission_fees',
                                                       'fees_cashback',
                                                       'interest',
                                                       'Net fees',
                                                       'Global taxes',
                                                       'gross_amount_dp',
                                                       'fees_deferred',
                                                       'taxes_deferred']]

In [161]:
facturacion_by_date_final.rename(columns ={'Interests today': 'Loans fee'},inplace=True)

C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_16640\4124834818.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  facturacion_by_date_final.rename(columns ={'Interests today': 'Loans fee'},inplace=True)

In [162]:
facturacion_by_date_final.head()

,Date,Total due (payment),total_transactions,Txns fees,TopUps fees_2,frontend_commission_fees,merchant_commission_fees,fees_cashback,interest,Net fees,Global taxes,gross_amount_dp,fees_deferred,taxes_deferred
0,2024-01-01 00:00:00,"237,556,317.24","247,192,414.17","9,286,070.01","9,791.72","2,185.34",437.07,0.00,0,"9,278,026.56","1,484,484.25","1,135,749.57","112,602.19","18,016.35"
1,2024-01-02 00:00:00,"129,315,374.87","134,332,483.25","5,069,056.36","20,176.03","5,301.72","1,060.34",0.00,0,"5,053,121.70","808,499.47","863,001.04","102,945.30","16,471.25"
2,2024-01-03 00:00:00,"235,973,480.55","245,556,658.35","9,841,896.46","19,956.21","4,163.79",832.76,0.00,0,"9,825,271.29","1,572,043.41","1,833,432.07","212,450.60","33,992.10"
3,2024-01-04 00:00:00,"249,580,456.19","259,877,049.39","10,441,382.17","18,211.90","3,969.83",793.97,0.00,0,"10,426,346.14","1,668,215.38","1,815,419.78","215,647.90","34,503.66"
4,2024-01-05 00:00:00,"257,529,299.06","267,905,414.57","10,838,792.65","20,499.83","2,405.17",481.03,0.00,0,"10,820,216.96","1,731,234.71","2,196,897.86","250,311.04","40,049.77"

In [163]:
facturacion_by_date_final.drop(facturacion_by_date_final.tail(1).index,inplace=True) # drop last n rows

C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_16640\1925696703.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  facturacion_by_date_final.drop(facturacion_by_date_final.tail(1).index,inplace=True) # drop last n rows

In [164]:
facturacion_by_date_final.loc['All'] = facturacion_by_date_final.sum(numeric_only=True)
facturacion_by_date_final['Date'].fillna('ALL',inplace=True)

C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_16640\830611324.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  facturacion_by_date_final.loc['All'] = facturacion_by_date_final.sum(numeric_only=True)
C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_16640\830611324.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  facturacion_by_date_final['Date'].fillna('ALL',inplace=True)

In [165]:
facturacion_by_date_final.shape

(32, 14)

# SPLIT DATAFRAME DE FACT_TOTAL EN 4 SHEETS DE EXCEL (DADO QUE LA MAYORÍA DE LA FACTURACIÓN SE VA POR LEDGER, SE CONSOLIDA LA INFO EN UNA SOLA PESTAÑA)

In [166]:
start_date_1 = '2024-01-01'
final_date_1 = '2024-01-31'

In [167]:
fact_total_1 = fact_total[(fact_total['Date'] >= start_date_1) & (fact_total['Date'] <= final_date_1)]
fact_total_1.head()

Empty DataFrame
Columns: [merchant_id, user_email, report_id, report_date_local, total_transactions, total_fees_charged, total_taxes, applied_fees_benefits, applied_taxes_benefits, applied_fees_benefits_topups, applied_taxes_benefits_topups, applied_fees_benefits_coupons, applied_taxes_benefits_coupons, fee_direct_deposit, taxes_direct_deposit, total_adjustments, total_adjustment_fees_charged, total_adjustment_taxes, cobranza, total_released, total_retained, tipopago, total_due, Date, type, provider_code]
Index: []

[0 rows x 26 columns]

In [168]:
fact_total_1.shape

(0, 26)

In [169]:
# start_date_2 = '2023-04-11'
# final_date_2 = '2023-04-20'

In [170]:
# fact_total_2 = fact_total[(fact_total['Date'] >= start_date_2) & (fact_total['Date'] <= final_date_2)]
# fact_total_2.head()

In [171]:
# fact_total_2.shape

In [172]:
# start_date_3 = '2023-04-21'
# final_date_3 = '2023-04-30'

In [173]:
# fact_total_3 = fact_total[(fact_total['Date'] >= start_date_3) & (fact_total['Date'] <= final_date_3)]
# fact_total_3.head()

In [174]:
# fact_total_3.shape

In [175]:
# start_date_4 = '2023-03-31'
# final_date_4 = '2023-03-31'

In [176]:
# fact_total_4 = fact_total[(fact_total['Date'] >= start_date_4) & (fact_total['Date'] <= final_date_4)]
# fact_total_4.head()

In [177]:
# fact_total_4.shape

# ULTIMO DIA FACTURACION

In [178]:
start_date_last_day = '2024-01-31'

In [179]:
fact_total_last_day = fact_total[(fact_total['Date'] == start_date_last_day)]
fact_total_last_day.head()

Empty DataFrame
Columns: [merchant_id, user_email, report_id, report_date_local, total_transactions, total_fees_charged, total_taxes, applied_fees_benefits, applied_taxes_benefits, applied_fees_benefits_topups, applied_taxes_benefits_topups, applied_fees_benefits_coupons, applied_taxes_benefits_coupons, fee_direct_deposit, taxes_direct_deposit, total_adjustments, total_adjustment_fees_charged, total_adjustment_taxes, cobranza, total_released, total_retained, tipopago, total_due, Date, type, provider_code]
Index: []

[0 rows x 26 columns]

In [180]:
fact_total_last_day.shape

(0, 26)

# EXCEL FINAL

In [181]:
writer = pd.ExcelWriter('IngresoDiarioSettlement-ENERO 2024-CUPON.xlsx',
                        engine='xlsxwriter',
                        engine_kwargs={'options': {'encoding':'utf-8'}})
fact_total_1.to_excel(writer, sheet_name='ENERO 01-31',index=False)
# fact_total_2.to_excel(writer, sheet_name='ABRIL 11-20',index=False)
# fact_total_3.to_excel(writer, sheet_name='ABRIL 21-30',index=False)
# fact_total_4.to_excel(writer, sheet_name='MARZO 31',index=False)
facturacion_by_date.to_excel(writer, sheet_name='Resumen by date',index=False)
lender_amount_date_aph.to_excel(writer, sheet_name='APH by date',index=False)
lender_amount_date_avl.to_excel(writer, sheet_name='AVL by date',index=False)
lender_amount_date_clip.to_excel(writer, sheet_name='CLIP by date',index=False)
lender_amount_date_cto.to_excel(writer, sheet_name='CTO by date',index=False)
lender_amount_date_mrp.to_excel(writer, sheet_name='MRP by date',index=False)
lender_amount_date_r2.to_excel(writer, sheet_name='R2 by date',index=False)
lender_amount_date_mot.to_excel(writer, sheet_name='MOT by date',index=False)
lender_amount_date_hcs.to_excel(writer, sheet_name='HCS by date',index=False)
group_deferred_payments_status_1_fact_final.to_excel(writer, sheet_name='Deferred payments by date',index=False)
union_dynamo_date.to_excel(writer, sheet_name='Ledger by date',index=False)
deferred_payments_status_1_fact.to_excel(writer, sheet_name='Info deferred payments',index=False)
dynamo.to_excel(writer, sheet_name='Ledger',index=False)
facturacion_final.to_excel(writer, sheet_name='Resumen',index=False)
facturacion_by_date_final.to_excel(writer,sheet_name='ENERO by date',index=False)
writer.close()

# CSV ULTIMO DIA FACTURACION Y TPV FACTURADO

In [182]:
fact_total_last_day.to_csv('LAST DAY FACT ENERO 31 2024.csv',index=False)
facturacion_by_date_final.to_csv('TPV FACTURADO ENERO 31 2024.csv',index=False)

# PIVOT LENDER BY DATE

In [183]:
# #facturacion_total_2 = pt.merge(lender_total_date[['date','Capital today', 'Interests today',
#                                                    'IVA Interests today',"tipo_loan"]] ,on='date', how='left')
#facturacion_total_2["Capital today"].fillna(0,inplace=True)
#facturacion_total_2["Interests today"].fillna(0,inplace=True)
#facturacion_total_2["IVA Interests today"].fillna(0,inplace=True)
#facturacion_total_2["tipo_loan"].fillna("N/A",inplace=True)
#facturacion_total_2.head()

In [184]:
#facturacion_total_2.shape