In [1]:
import pandas as pd
import numpy as np
import glob
import os
from openpyxl import load_workbook
pd.options.display.float_format = '{:,.2f}'.format

In [2]:
start_date = '2024-01-01'
final_date = '2024-01-31'

final_date_1 = '2024-01-15'
start_date_1 = '2024-01-16'

# RUTAS

### SETTLEMENT MASTER LOG

In [3]:
sml_files = glob.glob(r'G:\My Drive\RESPALDO-PC\DYNAMO\2024\01. ENERO\SETTLEMENT MASTER LOG\*.tsv', recursive=False)
sml_files

['G:\\My Drive\\RESPALDO-PC\\DYNAMO\\2024\\01. ENERO\\SETTLEMENT MASTER LOG\\SETTLEMENT_MASTER_LOG_MSI_DATE ENERO 31 2024.tsv',
 'G:\\My Drive\\RESPALDO-PC\\DYNAMO\\2024\\01. ENERO\\SETTLEMENT MASTER LOG\\SETTLEMENT_MASTER_LOG_MSI_DATE ENERO 11-20 2024.tsv',
 'G:\\My Drive\\RESPALDO-PC\\DYNAMO\\2024\\01. ENERO\\SETTLEMENT MASTER LOG\\SETTLEMENT_MASTER_LOG_MSI_DATE ENERO 01-10 2024.tsv']

### AP JOURNAL

In [4]:
ap_files = glob.glob(r'G:\My Drive\RESPALDO-PC\DYNAMO\2024\01. ENERO\AP JOURNAL\AP-JOURNAL_DATE*.tsv', recursive=False)
ap_files

['G:\\My Drive\\RESPALDO-PC\\DYNAMO\\2024\\01. ENERO\\AP JOURNAL\\AP-JOURNAL_DATE ENERO 2024.tsv']

### AP JOURNAL RISK

In [5]:
ap_risk_files = glob.glob(r'G:\My Drive\RESPALDO-PC\DYNAMO\2024\01. ENERO\AP JOURNAL - RISK\*.csv', recursive=False)
ap_risk_files

['G:\\My Drive\\RESPALDO-PC\\DYNAMO\\2024\\01. ENERO\\AP JOURNAL - RISK\\AP-JOURNAL-RISK-CHARGEBACKS ENERO 2024.csv',
 'G:\\My Drive\\RESPALDO-PC\\DYNAMO\\2024\\01. ENERO\\AP JOURNAL - RISK\\AP-JOURNAL-RISK-DISPUTES ENERO 2024.csv',
 'G:\\My Drive\\RESPALDO-PC\\DYNAMO\\2024\\01. ENERO\\AP JOURNAL - RISK\\AP-JOURNAL-RISK-RETENTIONS ENERO 2024.csv',
 'G:\\My Drive\\RESPALDO-PC\\DYNAMO\\2024\\01. ENERO\\AP JOURNAL - RISK\\AP-JOURNAL-RISK-RELEASE ENERO 2024.csv']

### AP JOURNAL REFUNDS

In [6]:
ap_refunds_files = glob.glob(r'G:\My Drive\RESPALDO-PC\DYNAMO\2024\01. ENERO\AP JOURNAL\AP-JOURNAL-REF*.csv', recursive=False)
ap_refunds_files

['G:\\My Drive\\RESPALDO-PC\\DYNAMO\\2024\\01. ENERO\\AP JOURNAL\\AP-JOURNAL-REFUNDS ENERO 2024.csv']

### CAAL

In [7]:
caal_files = glob.glob(r'G:\My Drive\RESPALDO-PC\LENDERS\2024\CAAL - DB\CAAL*.csv', recursive=False)
caal_files

['G:\\My Drive\\RESPALDO-PC\\LENDERS\\2024\\CAAL - DB\\CAAL ENERO 2024.csv']

### AP JOURNAL BILL PAYMENTS

In [8]:
ap_bill_pymnt_files = glob.glob(r'G:\My Drive\RESPALDO-PC\DYNAMO\2024\01. ENERO\AP JOURNAL\AP-JOURNAL-BILL*.csv', recursive=False)
ap_bill_pymnt_files

['G:\\My Drive\\RESPALDO-PC\\DYNAMO\\2024\\01. ENERO\\AP JOURNAL\\AP-JOURNAL-BILL_PYMNT ENERO 2024.csv']

# DATA SETTLEMENT MASTER LOG

In [9]:
sml = pd.concat([pd.read_csv(f, sep='\t').assign(file_name=os.path.basename(f)) for f in sml_files])
sml.replace('""','', regex=True, inplace=True)
sml['CREATED_AT'] = pd.to_datetime(sml['CREATED_AT']).dt.tz_localize(None)
sml['EFF_DT'] = pd.to_datetime(sml['EFF_DT']).dt.tz_localize(None)
sml.rename(columns={'REF_ID':'TRANSACTION_ID'},inplace=True)
sml['INGRESO_DEFERRED'] = sml['PSP_AMOUNT'] - sml['GROSS_AMOUNT']
sml['FEES_DEFERRED'] = sml['INGRESO_DEFERRED'] / 1.1600
sml['TAXES_DEFERRED'] = sml['FEES_DEFERRED'] * 0.1600
#sml['PK'] = sml['PK'].replace('M#','',inplace=True)
sml.head()

,RECORD_UUID,MERCHANT_ID,TRANSACTION_ID,MVNT_ID,MVNT_TYPE,PYMT_PRG,CREATED_AT,EFF_DT,PSP_AMOUNT,GROSS_AMOUNT,...,TYPE,DCC_AMOUNT,DCC_RATE,DCC_STATUS,CC_NB_CURRENCY_CODE,NU_MARKUP,file_name,INGRESO_DEFERRED,FEES_DEFERRED,TAXES_DEFERRED
0,f53b2a87-c19d-56c9-9421-4c1756741597,fe3505d4-c21b-4cd9-859e-6d7574f2aca8,38034f2f-9e40-4900-88ad-f1df575ba9bd,38034f2f-9e40-4900-88ad-f1df575ba9bd,STL_PCS_RQ,DIGITAL_ACCOUNT,2024-01-31 23:43:57,2024-01-31 23:43:56,88.00,88.00,...,PAYMENT,NaN,NaN,NaN,NaN,NaN,SETTLEMENT_MASTER_LOG_MSI_DATE ENERO 31 2024.tsv,0.00,0.00,0.00
1,ee15e001-7e68-5c41-acc2-7e80799a34bd,81417e85-4e4c-4428-80c6-d14a12178f51,e6d80dd9-db62-4f3a-a424-cc6e2f3b30f9,e6d80dd9-db62-4f3a-a424-cc6e2f3b30f9,STL_PCS_RQ,FAST_PAYMENT,2024-01-31 16:55:17,2024-01-31 17:50:00,65.00,65.00,...,PAYMENT,NaN,NaN,NaN,NaN,NaN,SETTLEMENT_MASTER_LOG_MSI_DATE ENERO 31 2024.tsv,0.00,0.00,0.00
2,17328c25-0cb1-5b9e-8085-9338d54297b4,8f6e3994-2582-4eb0-967f-ea6b6ca9cdcf,fe6d7494-09ef-4d02-9b92-cec1ebe8210f,fe6d7494-09ef-4d02-9b92-cec1ebe8210f,STL_PCS_RQ,FAST_PAYMENT,2024-01-31 16:35:44,2024-01-31 17:50:00,"1,200.00","1,200.00",...,PAYMENT,NaN,NaN,NaN,NaN,NaN,SETTLEMENT_MASTER_LOG_MSI_DATE ENERO 31 2024.tsv,0.00,0.00,0.00
3,ac6d6d26-17af-5f22-a32e-5320ba197a55,311aec87-562a-4bc1-908a-c60c3ce31255,95cf9ee9-9241-44c9-8e95-38865b42f46b,95cf9ee9-9241-44c9-8e95-38865b42f46b,STL_PCS_RQ,FAST_PAYMENT,2024-01-31 16:12:15,2024-01-31 17:50:00,"3,700.00","3,700.00",...,PAYMENT,NaN,NaN,NaN,NaN,NaN,SETTLEMENT_MASTER_LOG_MSI_DATE ENERO 31 2024.tsv,0.00,0.00,0.00
4,0f59aa6b-d297-59c5-857c-92f954820e19,bb5b31f4-a403-4c0e-abeb-50cb4fa690ec,0b325a54-ea38-461b-9217-f9cef6f8ff03,0b325a54-ea38-461b-9217-f9cef6f8ff03,STL_PCS_RQ,REGULAR_PAYMENT,2024-01-30 15:22:10,2024-01-31 03:30:00,116.50,116.50,...,PAYMENT,NaN,NaN,NaN,NaN,NaN,SETTLEMENT_MASTER_LOG_MSI_DATE ENERO 31 2024.tsv,0.00,0.00,0.00

In [10]:
sml.shape

(15830410, 29)

In [11]:
sml.dtypes

RECORD_UUID                    object
MERCHANT_ID                    object
TRANSACTION_ID                 object
MVNT_ID                        object
MVNT_TYPE                      object
PYMT_PRG                       object
CREATED_AT             datetime64[ns]
EFF_DT                 datetime64[ns]
PSP_AMOUNT                    float64
GROSS_AMOUNT                  float64
FEES                          float64
TAXES                         float64
NET_AMOUNT                    float64
MDR                           float64
MSI                           float64
NUMBER_MSI                    float64
STATUS_CODE                   float64
STATUS_MSG                     object
RECEIPT_NO                     object
TYPE                           object
DCC_AMOUNT                    float64
DCC_RATE                      float64
DCC_STATUS                     object
CC_NB_CURRENCY_CODE            object
NU_MARKUP                     float64
file_name                      object
INGRESO_DEFERRED              float64
FEES_DEFERRED                 float64
TAXES_DEFERRED                float64
dtype: object

In [12]:
sml_final = sml[(sml['MVNT_TYPE'] == 'STL_PCS_RQ')]
sml_final.head()

,RECORD_UUID,MERCHANT_ID,TRANSACTION_ID,MVNT_ID,MVNT_TYPE,PYMT_PRG,CREATED_AT,EFF_DT,PSP_AMOUNT,GROSS_AMOUNT,...,TYPE,DCC_AMOUNT,DCC_RATE,DCC_STATUS,CC_NB_CURRENCY_CODE,NU_MARKUP,file_name,INGRESO_DEFERRED,FEES_DEFERRED,TAXES_DEFERRED
0,f53b2a87-c19d-56c9-9421-4c1756741597,fe3505d4-c21b-4cd9-859e-6d7574f2aca8,38034f2f-9e40-4900-88ad-f1df575ba9bd,38034f2f-9e40-4900-88ad-f1df575ba9bd,STL_PCS_RQ,DIGITAL_ACCOUNT,2024-01-31 23:43:57,2024-01-31 23:43:56,88.00,88.00,...,PAYMENT,NaN,NaN,NaN,NaN,NaN,SETTLEMENT_MASTER_LOG_MSI_DATE ENERO 31 2024.tsv,0.00,0.00,0.00
1,ee15e001-7e68-5c41-acc2-7e80799a34bd,81417e85-4e4c-4428-80c6-d14a12178f51,e6d80dd9-db62-4f3a-a424-cc6e2f3b30f9,e6d80dd9-db62-4f3a-a424-cc6e2f3b30f9,STL_PCS_RQ,FAST_PAYMENT,2024-01-31 16:55:17,2024-01-31 17:50:00,65.00,65.00,...,PAYMENT,NaN,NaN,NaN,NaN,NaN,SETTLEMENT_MASTER_LOG_MSI_DATE ENERO 31 2024.tsv,0.00,0.00,0.00
2,17328c25-0cb1-5b9e-8085-9338d54297b4,8f6e3994-2582-4eb0-967f-ea6b6ca9cdcf,fe6d7494-09ef-4d02-9b92-cec1ebe8210f,fe6d7494-09ef-4d02-9b92-cec1ebe8210f,STL_PCS_RQ,FAST_PAYMENT,2024-01-31 16:35:44,2024-01-31 17:50:00,"1,200.00","1,200.00",...,PAYMENT,NaN,NaN,NaN,NaN,NaN,SETTLEMENT_MASTER_LOG_MSI_DATE ENERO 31 2024.tsv,0.00,0.00,0.00
3,ac6d6d26-17af-5f22-a32e-5320ba197a55,311aec87-562a-4bc1-908a-c60c3ce31255,95cf9ee9-9241-44c9-8e95-38865b42f46b,95cf9ee9-9241-44c9-8e95-38865b42f46b,STL_PCS_RQ,FAST_PAYMENT,2024-01-31 16:12:15,2024-01-31 17:50:00,"3,700.00","3,700.00",...,PAYMENT,NaN,NaN,NaN,NaN,NaN,SETTLEMENT_MASTER_LOG_MSI_DATE ENERO 31 2024.tsv,0.00,0.00,0.00
4,0f59aa6b-d297-59c5-857c-92f954820e19,bb5b31f4-a403-4c0e-abeb-50cb4fa690ec,0b325a54-ea38-461b-9217-f9cef6f8ff03,0b325a54-ea38-461b-9217-f9cef6f8ff03,STL_PCS_RQ,REGULAR_PAYMENT,2024-01-30 15:22:10,2024-01-31 03:30:00,116.50,116.50,...,PAYMENT,NaN,NaN,NaN,NaN,NaN,SETTLEMENT_MASTER_LOG_MSI_DATE ENERO 31 2024.tsv,0.00,0.00,0.00

In [13]:
sml_final.shape

(15830410, 29)

In [14]:
duplicates_sml = sml_final[sml_final.duplicated(['MVNT_ID'] , keep=False)]
duplicates_sml.head()

Empty DataFrame
Columns: [RECORD_UUID, MERCHANT_ID, TRANSACTION_ID, MVNT_ID, MVNT_TYPE, PYMT_PRG, CREATED_AT, EFF_DT, PSP_AMOUNT, GROSS_AMOUNT, FEES, TAXES, NET_AMOUNT, MDR, MSI, NUMBER_MSI, STATUS_CODE, STATUS_MSG, RECEIPT_NO, TYPE, DCC_AMOUNT, DCC_RATE, DCC_STATUS, CC_NB_CURRENCY_CODE, NU_MARKUP, file_name, INGRESO_DEFERRED, FEES_DEFERRED, TAXES_DEFERRED]
Index: []

[0 rows x 29 columns]

In [15]:
duplicates_sml.shape

(0, 29)

In [16]:
sorted(list(sml_final['PYMT_PRG'].unique()))

['DIGITAL_ACCOUNT', 'FAST_PAYMENT', 'REGULAR_PAYMENT']

# DATA AP JOURNAL

In [17]:
ap = pd.concat([pd.read_csv(f, sep='\t').assign(file_name=os.path.basename(f)) for f in ap_files])
ap.replace('""','', regex=True, inplace=True)
ap['EFF_DT'] =  pd.to_datetime(ap['EFF_DT']).dt.tz_localize(None)
ap['EFF_DT_DATE'] =  pd.to_datetime(ap['EFF_DT']).dt.date
ap['EFF_DT_DATE'] =  pd.to_datetime(ap['EFF_DT_DATE']).dt.tz_localize(None)
ap['EFF_DT_TIME'] =  pd.to_datetime(ap['EFF_DT']).dt.time
ap['MOVEMENT_DAY'] = pd.to_datetime(ap['MOVEMENT_DAY']).dt.tz_localize(None)
ap['CREATED_AT'] = pd.to_datetime(ap['CREATED_AT']).dt.tz_localize(None)
ap['REQUEST_EFFECTIVE_DATE'] = pd.to_datetime(ap['REQUEST_EFFECTIVE_DATE']).dt.tz_localize(None)
ap['SLOT_DATE'] = pd.to_datetime(ap['SLOT_DATE']).dt.tz_localize(None)
ap['IDENTIFIER'] = ap['SOURCE_TYPE'].str[:1].astype(str)
ap['INDEX'] = (ap['EFF_DT_DATE'].astype(str).replace(' ', '',regex=True)+'-'+
               ap['IDENTIFIER'].astype(str).replace(' ', '',regex=True)+'-'+
               ap['EFF_DT_TIME'].astype(str).replace(' ', '',regex=True))
ap.sort_values(by=(['MERCHANT_ID','EFF_DT']), ascending=[True,False], inplace=True)
ap.head()

,MERCHANT_ID,AMOUNT,CURRENCY,TYPE_REQUEST,MVNT_ID,MOVEMENT_TYPE,SOURCE_TYPE,CREATED_AT,EFF_DT,MOVEMENT_DAY,REQUEST_EFFECTIVE_DATE,SLOT_DATE,file_name,EFF_DT_DATE,EFF_DT_TIME,IDENTIFIER,INDEX
3,0000275f-d46b-4a9c-a227-42d6f7ce63bd,"-2,874.72",MXN,ARXK7Z9XP,2e17444e-5555-3a8b-99e1-22608168b7fc,DISB_RQ,DISB,2024-01-30 06:29:01,2024-01-30 06:29:06,2024-01-30 06:28:49,2024-01-30 06:06:33,1969-12-31 18:00:00,AP-JOURNAL_DATE ENERO 2024.tsv,2024-01-30,06:29:06,D,2024-01-30-D-06:29:06
2,0000275f-d46b-4a9c-a227-42d6f7ce63bd,"2,874.72",MXN,settlement processor regular payment request,54d62474-2e31-42ef-b11a-32abca59c3b6,REGULAR_PYMT_RQ,SETT,2024-01-29 21:09:35,2024-01-30 05:30:00,2024-01-29 21:09:35,2024-01-30 05:00:00,2024-01-30 05:30:00,AP-JOURNAL_DATE ENERO 2024.tsv,2024-01-30,05:30:00,S,2024-01-30-S-05:30:00
1,0000275f-d46b-4a9c-a227-42d6f7ce63bd,"-2,874.72",MXN,ALH6V3JL8,b86a1190-e950-32e2-a35e-f2a73f39c970,DISB_RQ,DISB,2024-01-02 07:13:11,2024-01-02 07:13:16,2024-01-02 07:13:09,2024-01-02 07:05:30,1969-12-31 18:00:00,AP-JOURNAL_DATE ENERO 2024.tsv,2024-01-02,07:13:16,D,2024-01-02-D-07:13:16
0,0000275f-d46b-4a9c-a227-42d6f7ce63bd,"2,874.72",MXN,settlement processor regular payment request,98e7c45d-0f1b-4ea9-a211-773b1a746a85,REGULAR_PYMT_RQ,SETT,2024-01-01 03:59:17,2024-01-02 01:00:00,2024-01-01 03:59:17,2024-01-02 00:30:00,2024-01-02 01:00:00,AP-JOURNAL_DATE ENERO 2024.tsv,2024-01-02,01:00:00,S,2024-01-02-S-01:00:00
7,00007725-3116-48dc-9b82-4145699dc290,-958.24,MXN,A6WHZXNT9,cfd169e5-2933-3d1b-88d4-f744a17138cb,DISB_RQ,DISB,2024-01-23 06:26:46,2024-01-23 06:26:51,2024-01-23 06:26:27,2024-01-23 06:06:30,1969-12-31 18:00:00,AP-JOURNAL_DATE ENERO 2024.tsv,2024-01-23,06:26:51,D,2024-01-23-D-06:26:51

In [18]:
ap.shape

(20306424, 17)

In [19]:
ap.dtypes

MERCHANT_ID                       object
AMOUNT                           float64
CURRENCY                          object
TYPE_REQUEST                      object
MVNT_ID                           object
MOVEMENT_TYPE                     object
SOURCE_TYPE                       object
CREATED_AT                datetime64[ns]
EFF_DT                    datetime64[ns]
MOVEMENT_DAY              datetime64[ns]
REQUEST_EFFECTIVE_DATE    datetime64[ns]
SLOT_DATE                 datetime64[ns]
file_name                         object
EFF_DT_DATE               datetime64[ns]
EFF_DT_TIME                       object
IDENTIFIER                        object
INDEX                             object
dtype: object

In [20]:
sorted(list(ap['SOURCE_TYPE'].unique()))

['BILL_PYMNT',
 'CAAL',
 'DATA',
 'DIG_ACC',
 'DISB',
 'FEE_REFUNDS',
 'LOAN',
 'PROMO',
 'PYMT',
 'REFUNDS',
 'RISK',
 'SETT',
 'TAXES',
 'TOPUPS']

In [21]:
ap_bill_pymnt = ap[(ap['SOURCE_TYPE'] == 'BILL_PYMNT')]
ap_caal = ap[(ap['SOURCE_TYPE'] == 'CAAL')]
ap_data = ap[(ap['SOURCE_TYPE'] == 'DATA')]
ap_dig_acc = ap[(ap['SOURCE_TYPE'] == 'DIG_ACC')]
ap_disb = ap[(ap['SOURCE_TYPE'] == 'DISB')]
ap_fee_refunds = ap[(ap['SOURCE_TYPE'] == 'FEE_REFUNDS')]
ap_loan = ap[(ap['SOURCE_TYPE'] == 'LOAN')]
ap_promo = ap[(ap['SOURCE_TYPE'] == 'PROMO')]
ap_pymt = ap[(ap['SOURCE_TYPE'] == 'PYMT')]
ap_refunds = ap[(ap['SOURCE_TYPE'] == 'REFUNDS')]
ap_risk = ap[(ap['SOURCE_TYPE'] == 'RISK')]
ap_sett = ap[(ap['SOURCE_TYPE'] == 'SETT')]
ap_sett_adptr = ap[(ap['SOURCE_TYPE'] == 'SETT_ADPTR')]
ap_taxes = ap[(ap['SOURCE_TYPE'] == 'TAXES')]
ap_topups = ap[(ap['SOURCE_TYPE'] == 'TOPUPS')]

# CRUCE_1: DATA AP(SETT) VS. DATA SETTLEMENT MASTER LOG

In [22]:
ap_sett['MOVEMENT_TYPE'].unique()

array(['REGULAR_PYMT_RQ', 'DEFERRED_REGULAR_PYMNT_RQ', 'FAST_PYMT_RQ',
       'DEFERRED_FAST_PYMNT_RQ', 'REVENUE_PYMNT_RQ'], dtype=object)

In [23]:
ap_sett.head()

,MERCHANT_ID,AMOUNT,CURRENCY,TYPE_REQUEST,MVNT_ID,MOVEMENT_TYPE,SOURCE_TYPE,CREATED_AT,EFF_DT,MOVEMENT_DAY,REQUEST_EFFECTIVE_DATE,SLOT_DATE,file_name,EFF_DT_DATE,EFF_DT_TIME,IDENTIFIER,INDEX
2,0000275f-d46b-4a9c-a227-42d6f7ce63bd,"2,874.72",MXN,settlement processor regular payment request,54d62474-2e31-42ef-b11a-32abca59c3b6,REGULAR_PYMT_RQ,SETT,2024-01-29 21:09:35,2024-01-30 05:30:00,2024-01-29 21:09:35,2024-01-30 05:00:00,2024-01-30 05:30:00,AP-JOURNAL_DATE ENERO 2024.tsv,2024-01-30,05:30:00,S,2024-01-30-S-05:30:00
0,0000275f-d46b-4a9c-a227-42d6f7ce63bd,"2,874.72",MXN,settlement processor regular payment request,98e7c45d-0f1b-4ea9-a211-773b1a746a85,REGULAR_PYMT_RQ,SETT,2024-01-01 03:59:17,2024-01-02 01:00:00,2024-01-01 03:59:17,2024-01-02 00:30:00,2024-01-02 01:00:00,AP-JOURNAL_DATE ENERO 2024.tsv,2024-01-02,01:00:00,S,2024-01-02-S-01:00:00
6,00007725-3116-48dc-9b82-4145699dc290,958.24,MXN,settlement processor regular payment request,b87ada5c-b33d-4c76-b3be-58255c264a38,REGULAR_PYMT_RQ,SETT,2024-01-22 12:09:45,2024-01-23 03:30:00,2024-01-22 12:09:45,2024-01-23 03:00:00,2024-01-23 03:30:00,AP-JOURNAL_DATE ENERO 2024.tsv,2024-01-23,03:30:00,S,2024-01-23-S-03:30:00
4,00007725-3116-48dc-9b82-4145699dc290,958.24,MXN,settlement processor regular payment request,f9429f46-4936-4b74-840d-8cfeaeeaf0ad,REGULAR_PYMT_RQ,SETT,2024-01-20 12:29:55,2024-01-21 03:30:00,2024-01-20 12:29:55,2024-01-21 03:00:00,2024-01-21 03:30:00,AP-JOURNAL_DATE ENERO 2024.tsv,2024-01-21,03:30:00,S,2024-01-21-S-03:30:00
17,00008e01-812f-487e-8f34-a80bcb0ae3e3,"19,294.12",MXN,settlement processor regular payment request,b076821b-f2fa-4bd6-8752-e6c12cd19816,REGULAR_PYMT_RQ,SETT,2024-01-16 12:43:04,2024-01-17 03:30:00,2024-01-16 12:43:04,2024-01-17 03:00:00,2024-01-17 03:30:00,AP-JOURNAL_DATE ENERO 2024.tsv,2024-01-17,03:30:00,S,2024-01-17-S-03:30:00

In [24]:
ap_sett.shape

(15830410, 17)

In [25]:
cruce_1 = ap_sett.merge(sml_final[['MVNT_ID','GROSS_AMOUNT','FEES','TAXES','NET_AMOUNT','MDR','MSI','PSP_AMOUNT',
                                  'FEES_DEFERRED','TAXES_DEFERRED']],
                            on='MVNT_ID',how='left')
cruce_1.head()

,MERCHANT_ID,AMOUNT,CURRENCY,TYPE_REQUEST,MVNT_ID,MOVEMENT_TYPE,SOURCE_TYPE,CREATED_AT,EFF_DT,MOVEMENT_DAY,...,INDEX,GROSS_AMOUNT,FEES,TAXES,NET_AMOUNT,MDR,MSI,PSP_AMOUNT,FEES_DEFERRED,TAXES_DEFERRED
0,0000275f-d46b-4a9c-a227-42d6f7ce63bd,"2,874.72",MXN,settlement processor regular payment request,54d62474-2e31-42ef-b11a-32abca59c3b6,REGULAR_PYMT_RQ,SETT,2024-01-29 21:09:35,2024-01-30 05:30:00,2024-01-29 21:09:35,...,2024-01-30-S-05:30:00,"3,000.00",108.00,17.28,"2,874.72",0.04,0.00,"3,000.00",0.00,0.00
1,0000275f-d46b-4a9c-a227-42d6f7ce63bd,"2,874.72",MXN,settlement processor regular payment request,98e7c45d-0f1b-4ea9-a211-773b1a746a85,REGULAR_PYMT_RQ,SETT,2024-01-01 03:59:17,2024-01-02 01:00:00,2024-01-01 03:59:17,...,2024-01-02-S-01:00:00,"3,000.00",108.00,17.28,"2,874.72",0.04,0.00,"3,000.00",0.00,0.00
2,00007725-3116-48dc-9b82-4145699dc290,958.24,MXN,settlement processor regular payment request,b87ada5c-b33d-4c76-b3be-58255c264a38,REGULAR_PYMT_RQ,SETT,2024-01-22 12:09:45,2024-01-23 03:30:00,2024-01-22 12:09:45,...,2024-01-23-S-03:30:00,"1,000.00",36.00,5.76,958.24,0.04,0.00,"1,000.00",0.00,0.00
3,00007725-3116-48dc-9b82-4145699dc290,958.24,MXN,settlement processor regular payment request,f9429f46-4936-4b74-840d-8cfeaeeaf0ad,REGULAR_PYMT_RQ,SETT,2024-01-20 12:29:55,2024-01-21 03:30:00,2024-01-20 12:29:55,...,2024-01-21-S-03:30:00,"1,000.00",36.00,5.76,958.24,0.04,0.00,"1,000.00",0.00,0.00
4,00008e01-812f-487e-8f34-a80bcb0ae3e3,"19,294.12",MXN,settlement processor regular payment request,b076821b-f2fa-4bd6-8752-e6c12cd19816,REGULAR_PYMT_RQ,SETT,2024-01-16 12:43:04,2024-01-17 03:30:00,2024-01-16 12:43:04,...,2024-01-17-S-03:30:00,"21,295.00","1,724.90",275.98,"19,294.12",0.04,0.04,"21,295.00",0.00,0.00

In [26]:
cruce_1.shape

(15830410, 26)

In [27]:
cruce_1_not_found = cruce_1[(cruce_1['MDR'].isnull())]
cruce_1_not_found.head()

Empty DataFrame
Columns: [MERCHANT_ID, AMOUNT, CURRENCY, TYPE_REQUEST, MVNT_ID, MOVEMENT_TYPE, SOURCE_TYPE, CREATED_AT, EFF_DT, MOVEMENT_DAY, REQUEST_EFFECTIVE_DATE, SLOT_DATE, file_name, EFF_DT_DATE, EFF_DT_TIME, IDENTIFIER, INDEX, GROSS_AMOUNT, FEES, TAXES, NET_AMOUNT, MDR, MSI, PSP_AMOUNT, FEES_DEFERRED, TAXES_DEFERRED]
Index: []

[0 rows x 26 columns]

In [28]:
cruce_1_not_found.shape

(0, 26)

In [29]:
cruce_1_group = cruce_1.groupby(['EFF_DT_DATE','MOVEMENT_TYPE']).agg({'MVNT_ID':'count',
                                                                      'GROSS_AMOUNT':sum,
                                                                      'FEES':sum,
                                                                      'TAXES':sum,
                                                                      'NET_AMOUNT':sum,
                                                                      'AMOUNT':sum,
                                                                     'PSP_AMOUNT':sum,
                                                                     'FEES_DEFERRED':sum,
                                                                     'TAXES_DEFERRED':sum}).reset_index()
cruce_1_group.head()

C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_9664\2236275182.py:1: FutureWarning: The provided callable <built-in function sum> is currently using SeriesGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  cruce_1_group = cruce_1.groupby(['EFF_DT_DATE','MOVEMENT_TYPE']).agg({'MVNT_ID':'count',

,EFF_DT_DATE,MOVEMENT_TYPE,MVNT_ID,GROSS_AMOUNT,FEES,TAXES,NET_AMOUNT,AMOUNT,PSP_AMOUNT,FEES_DEFERRED,TAXES_DEFERRED
0,2024-01-01,DEFERRED_FAST_PYMNT_RQ,3,"1,642.55",59.13,9.46,"1,573.96","1,573.96","1,771.16",110.87,17.74
1,2024-01-01,DEFERRED_REGULAR_PYMNT_RQ,718,"1,156,033.02","41,382.90","6,621.26","1,108,028.86","1,108,028.86","1,290,026.82","115,511.90","18,481.90"
2,2024-01-01,FAST_PYMT_RQ,2153,"751,541.11","31,202.44","4,992.33","715,346.34","715,346.34","751,541.11",0.00,0.00
3,2024-01-01,REGULAR_PYMT_RQ,496296,"248,119,481.93","9,275,773.98","1,484,129.28","237,359,578.67","237,359,578.67","248,119,481.93",0.00,0.00
4,2024-01-02,DEFERRED_FAST_PYMNT_RQ,8,"20,722.00",745.99,119.37,"19,856.64","19,856.64","23,540.76","2,429.97",388.79

In [30]:
cruce_1_group.shape

(125, 11)

# CRUCE_2: DATA AP(PYMT) VS. SETTLEMENT MASTER LOG

In [31]:
ap_pymt.head()

,MERCHANT_ID,AMOUNT,CURRENCY,TYPE_REQUEST,MVNT_ID,MOVEMENT_TYPE,SOURCE_TYPE,CREATED_AT,EFF_DT,MOVEMENT_DAY,REQUEST_EFFECTIVE_DATE,SLOT_DATE,file_name,EFF_DT_DATE,EFF_DT_TIME,IDENTIFIER,INDEX
13,00008e01-812f-487e-8f34-a80bcb0ae3e3,"-47,912.00",MXN,cancel request,89642c1b-ee74-48a9-a7f4-39f9a6e54aec,CANCEL_RQ,PYMT,2024-01-14 19:15:43,2024-01-15 04:30:00,2024-01-14 19:15:43,2024-01-15 04:30:00,1969-12-31 18:00:00,AP-JOURNAL_DATE ENERO 2024.tsv,2024-01-15,04:30:00,P,2024-01-15-P-04:30:00
1656,000cd34d-55cf-4955-814c-97788df1ab9b,"-6,190.23",MXN,cancel request,c4293d6c-d0d9-4613-b72b-e1835e7d11bc,CANCEL_RQ,PYMT,2024-01-25 13:22:56,2024-01-26 03:00:00,2024-01-25 13:22:56,2024-01-26 03:00:00,1969-12-31 18:00:00,AP-JOURNAL_DATE ENERO 2024.tsv,2024-01-26,03:00:00,P,2024-01-26-P-03:00:00
1658,000cd34d-55cf-4955-814c-97788df1ab9b,"-6,190.23",MXN,cancel request,fea82120-39e8-4cf8-b349-d5766117c3f0,CANCEL_RQ,PYMT,2024-01-25 13:23:27,2024-01-26 03:00:00,2024-01-25 13:23:27,2024-01-26 03:00:00,1969-12-31 18:00:00,AP-JOURNAL_DATE ENERO 2024.tsv,2024-01-26,03:00:00,P,2024-01-26-P-03:00:00
1660,000cd34d-55cf-4955-814c-97788df1ab9b,"-6,190.23",MXN,cancel request,7191c444-72a2-4c50-a560-65291a6a8390,CANCEL_RQ,PYMT,2024-01-25 13:24:11,2024-01-26 03:00:00,2024-01-25 13:24:11,2024-01-26 03:00:00,1969-12-31 18:00:00,AP-JOURNAL_DATE ENERO 2024.tsv,2024-01-26,03:00:00,P,2024-01-26-P-03:00:00
2323,000e8d30-1145-40ef-a265-d347f27e4d87,"-3,353.84",MXN,cancel request,48317244-91a0-48de-8c90-374b6fa6c6d1,CANCEL_RQ,PYMT,2024-01-14 17:19:54,2024-01-15 04:00:00,2024-01-14 17:19:54,2024-01-15 04:00:00,1969-12-31 18:00:00,AP-JOURNAL_DATE ENERO 2024.tsv,2024-01-15,04:00:00,P,2024-01-15-P-04:00:00

In [32]:
ap_pymt.shape

(24311, 17)

In [33]:
cruce_2 = ap_pymt.merge(sml_final[['MVNT_ID','GROSS_AMOUNT','FEES','TAXES','NET_AMOUNT','MDR','MSI','PSP_AMOUNT',
                                  'FEES_DEFERRED','TAXES_DEFERRED']],
                            on='MVNT_ID',how='left')
cruce_2.head()

,MERCHANT_ID,AMOUNT,CURRENCY,TYPE_REQUEST,MVNT_ID,MOVEMENT_TYPE,SOURCE_TYPE,CREATED_AT,EFF_DT,MOVEMENT_DAY,...,INDEX,GROSS_AMOUNT,FEES,TAXES,NET_AMOUNT,MDR,MSI,PSP_AMOUNT,FEES_DEFERRED,TAXES_DEFERRED
0,00008e01-812f-487e-8f34-a80bcb0ae3e3,"-47,912.00",MXN,cancel request,89642c1b-ee74-48a9-a7f4-39f9a6e54aec,CANCEL_RQ,PYMT,2024-01-14 19:15:43,2024-01-15 04:30:00,2024-01-14 19:15:43,...,2024-01-15-P-04:30:00,"50,000.00","1,800.00",288.00,"47,912.00",0.04,0.00,"58,085.00","6,969.83","1,115.17"
1,000cd34d-55cf-4955-814c-97788df1ab9b,"-6,190.23",MXN,cancel request,c4293d6c-d0d9-4613-b72b-e1835e7d11bc,CANCEL_RQ,PYMT,2024-01-25 13:22:56,2024-01-26 03:00:00,2024-01-25 13:22:56,...,2024-01-26-P-03:00:00,"6,460.00",232.56,37.21,"6,190.23",0.04,0.00,"6,460.00",0.00,0.00
2,000cd34d-55cf-4955-814c-97788df1ab9b,"-6,190.23",MXN,cancel request,fea82120-39e8-4cf8-b349-d5766117c3f0,CANCEL_RQ,PYMT,2024-01-25 13:23:27,2024-01-26 03:00:00,2024-01-25 13:23:27,...,2024-01-26-P-03:00:00,"6,460.00",232.56,37.21,"6,190.23",0.04,0.00,"6,460.00",0.00,0.00
3,000cd34d-55cf-4955-814c-97788df1ab9b,"-6,190.23",MXN,cancel request,7191c444-72a2-4c50-a560-65291a6a8390,CANCEL_RQ,PYMT,2024-01-25 13:24:11,2024-01-26 03:00:00,2024-01-25 13:24:11,...,2024-01-26-P-03:00:00,"6,460.00",232.56,37.21,"6,190.23",0.04,0.00,"6,460.00",0.00,0.00
4,000e8d30-1145-40ef-a265-d347f27e4d87,"-3,353.84",MXN,cancel request,48317244-91a0-48de-8c90-374b6fa6c6d1,CANCEL_RQ,PYMT,2024-01-14 17:19:54,2024-01-15 04:00:00,2024-01-14 17:19:54,...,2024-01-15-P-04:00:00,"3,500.00",126.00,20.16,"3,353.84",0.04,0.00,"3,500.00",0.00,0.00

In [34]:
cruce_2.shape

(24311, 26)

In [35]:
cruce_3 = cruce_2.merge(ap_sett[['MVNT_ID','MOVEMENT_TYPE']],on='MVNT_ID',how='left')
cruce_3.rename(columns={'MOVEMENT_TYPE_x':'MOVEMENT_TYPE','MOVEMENT_TYPE_y':'MOVEMENT_TYPE_SETT'},inplace=True)
cruce_3.head()

,MERCHANT_ID,AMOUNT,CURRENCY,TYPE_REQUEST,MVNT_ID,MOVEMENT_TYPE,SOURCE_TYPE,CREATED_AT,EFF_DT,MOVEMENT_DAY,...,GROSS_AMOUNT,FEES,TAXES,NET_AMOUNT,MDR,MSI,PSP_AMOUNT,FEES_DEFERRED,TAXES_DEFERRED,MOVEMENT_TYPE_SETT
0,00008e01-812f-487e-8f34-a80bcb0ae3e3,"-47,912.00",MXN,cancel request,89642c1b-ee74-48a9-a7f4-39f9a6e54aec,CANCEL_RQ,PYMT,2024-01-14 19:15:43,2024-01-15 04:30:00,2024-01-14 19:15:43,...,"50,000.00","1,800.00",288.00,"47,912.00",0.04,0.00,"58,085.00","6,969.83","1,115.17",DEFERRED_REGULAR_PYMNT_RQ
1,000cd34d-55cf-4955-814c-97788df1ab9b,"-6,190.23",MXN,cancel request,c4293d6c-d0d9-4613-b72b-e1835e7d11bc,CANCEL_RQ,PYMT,2024-01-25 13:22:56,2024-01-26 03:00:00,2024-01-25 13:22:56,...,"6,460.00",232.56,37.21,"6,190.23",0.04,0.00,"6,460.00",0.00,0.00,REGULAR_PYMT_RQ
2,000cd34d-55cf-4955-814c-97788df1ab9b,"-6,190.23",MXN,cancel request,fea82120-39e8-4cf8-b349-d5766117c3f0,CANCEL_RQ,PYMT,2024-01-25 13:23:27,2024-01-26 03:00:00,2024-01-25 13:23:27,...,"6,460.00",232.56,37.21,"6,190.23",0.04,0.00,"6,460.00",0.00,0.00,REGULAR_PYMT_RQ
3,000cd34d-55cf-4955-814c-97788df1ab9b,"-6,190.23",MXN,cancel request,7191c444-72a2-4c50-a560-65291a6a8390,CANCEL_RQ,PYMT,2024-01-25 13:24:11,2024-01-26 03:00:00,2024-01-25 13:24:11,...,"6,460.00",232.56,37.21,"6,190.23",0.04,0.00,"6,460.00",0.00,0.00,REGULAR_PYMT_RQ
4,000e8d30-1145-40ef-a265-d347f27e4d87,"-3,353.84",MXN,cancel request,48317244-91a0-48de-8c90-374b6fa6c6d1,CANCEL_RQ,PYMT,2024-01-14 17:19:54,2024-01-15 04:00:00,2024-01-14 17:19:54,...,"3,500.00",126.00,20.16,"3,353.84",0.04,0.00,"3,500.00",0.00,0.00,REGULAR_PYMT_RQ

In [36]:
cruce_3.shape

(24311, 27)

In [37]:
cruce_3_not_found = cruce_3[(cruce_3['MDR'].isnull())]
cruce_3_not_found.head()

Empty DataFrame
Columns: [MERCHANT_ID, AMOUNT, CURRENCY, TYPE_REQUEST, MVNT_ID, MOVEMENT_TYPE, SOURCE_TYPE, CREATED_AT, EFF_DT, MOVEMENT_DAY, REQUEST_EFFECTIVE_DATE, SLOT_DATE, file_name, EFF_DT_DATE, EFF_DT_TIME, IDENTIFIER, INDEX, GROSS_AMOUNT, FEES, TAXES, NET_AMOUNT, MDR, MSI, PSP_AMOUNT, FEES_DEFERRED, TAXES_DEFERRED, MOVEMENT_TYPE_SETT]
Index: []

[0 rows x 27 columns]

In [38]:
cruce_3_not_found.shape

(0, 27)

In [39]:
cruce_3_group = cruce_3.groupby(['EFF_DT_DATE','MOVEMENT_TYPE','MOVEMENT_TYPE_SETT']).agg({'MVNT_ID':'count',
                                                 'GROSS_AMOUNT':sum,
                                                 'FEES':sum,
                                                 'TAXES':sum,
                                                 'NET_AMOUNT':sum,
                                                 'AMOUNT':sum,
                                                 'PSP_AMOUNT':sum,
                                                 'FEES_DEFERRED':sum,
                                                 'TAXES_DEFERRED':sum}).reset_index()
cruce_3_group.head()

C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_9664\16007684.py:1: FutureWarning: The provided callable <built-in function sum> is currently using SeriesGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  cruce_3_group = cruce_3.groupby(['EFF_DT_DATE','MOVEMENT_TYPE','MOVEMENT_TYPE_SETT']).agg({'MVNT_ID':'count',

,EFF_DT_DATE,MOVEMENT_TYPE,MOVEMENT_TYPE_SETT,MVNT_ID,GROSS_AMOUNT,FEES,TAXES,NET_AMOUNT,AMOUNT,PSP_AMOUNT,FEES_DEFERRED,TAXES_DEFERRED
0,2024-01-01,CANCEL_RQ,DEFERRED_REGULAR_PYMNT_RQ,6,"21,926.00",767.29,122.77,"21,035.94","-21,035.94","25,429.87","3,020.58",483.29
1,2024-01-01,CANCEL_RQ,FAST_PYMT_RQ,2,"1,700.00",106.20,16.99,"1,576.81","-1,576.81","1,700.00",0.00,0.00
2,2024-01-01,CANCEL_RQ,REGULAR_PYMT_RQ,860,"1,665,308.87","61,057.35","9,769.27","1,594,482.25","-1,594,482.25","1,665,308.87",0.00,0.00
3,2024-01-02,CANCEL_RQ,DEFERRED_REGULAR_PYMNT_RQ,6,"15,350.00",539.80,86.36,"14,723.84","-14,723.84","17,004.21","1,426.04",228.17
4,2024-01-02,CANCEL_RQ,FAST_PYMT_RQ,5,"18,112.00",652.04,104.33,"17,355.63","-17,355.63","18,112.00",0.00,0.00

In [40]:
cruce_3_group.shape

(96, 12)

# PIVOTS AP JOURNAL

### TOPUPS

In [41]:
ap_topups['TOPUPS_LEDGER'] = ap_topups['AMOUNT'] / 1.16
ap_topups['IVA_TOPUPS_LEDGER'] = ap_topups['TOPUPS_LEDGER'] * 0.16
ap_topups.head()

C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_9664\3087671605.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ap_topups['TOPUPS_LEDGER'] = ap_topups['AMOUNT'] / 1.16
C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_9664\3087671605.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ap_topups['IVA_TOPUPS_LEDGER'] = ap_topups['TOPUPS_LEDGER'] * 0.16

,MERCHANT_ID,AMOUNT,CURRENCY,TYPE_REQUEST,MVNT_ID,MOVEMENT_TYPE,SOURCE_TYPE,CREATED_AT,EFF_DT,MOVEMENT_DAY,REQUEST_EFFECTIVE_DATE,SLOT_DATE,file_name,EFF_DT_DATE,EFF_DT_TIME,IDENTIFIER,INDEX,TOPUPS_LEDGER,IVA_TOPUPS_LEDGER
309,0000fab8-ac31-4003-9c08-703e6bb9d72a,1.20,MXN,direct deposit request,d242ae16-595f-40e8-8355-65771bb8a0cc,DIRECT_DEPOSIT_RQ,TOPUPS,2024-01-30 21:58:15,2024-01-30 21:58:20,2024-01-30 21:58:15,2024-01-30 21:58:15,1969-12-31 18:00:00,AP-JOURNAL_DATE ENERO 2024.tsv,2024-01-30,21:58:20,T,2024-01-30-T-21:58:20,1.03,0.17
307,0000fab8-ac31-4003-9c08-703e6bb9d72a,2.00,MXN,direct deposit request,f6000656-fcc2-4422-be43-4554b077537e,DIRECT_DEPOSIT_RQ,TOPUPS,2024-01-29 20:04:51,2024-01-29 20:04:56,2024-01-29 20:04:51,2024-01-29 20:04:51,1969-12-31 18:00:00,AP-JOURNAL_DATE ENERO 2024.tsv,2024-01-29,20:04:56,T,2024-01-29-T-20:04:56,1.72,0.28
306,0000fab8-ac31-4003-9c08-703e6bb9d72a,3.00,MXN,direct deposit request,eee3b3ae-55bb-44f2-a091-a86fde383c42,DIRECT_DEPOSIT_RQ,TOPUPS,2024-01-29 17:32:02,2024-01-29 17:32:07,2024-01-29 17:32:02,2024-01-29 17:32:02,1969-12-31 18:00:00,AP-JOURNAL_DATE ENERO 2024.tsv,2024-01-29,17:32:07,T,2024-01-29-T-17:32:07,2.59,0.41
305,0000fab8-ac31-4003-9c08-703e6bb9d72a,1.80,MXN,direct deposit request,96031d6e-3b8c-4f9e-9212-fe670963cb14,DIRECT_DEPOSIT_RQ,TOPUPS,2024-01-29 17:28:25,2024-01-29 17:28:30,2024-01-29 17:28:25,2024-01-29 17:28:25,1969-12-31 18:00:00,AP-JOURNAL_DATE ENERO 2024.tsv,2024-01-29,17:28:30,T,2024-01-29-T-17:28:30,1.55,0.25
304,0000fab8-ac31-4003-9c08-703e6bb9d72a,2.00,MXN,direct deposit request,30ed336c-5fb1-40e1-8715-718f2894df2b,DIRECT_DEPOSIT_RQ,TOPUPS,2024-01-29 13:02:17,2024-01-29 13:02:22,2024-01-29 13:02:17,2024-01-29 13:02:17,1969-12-31 18:00:00,AP-JOURNAL_DATE ENERO 2024.tsv,2024-01-29,13:02:22,T,2024-01-29-T-13:02:22,1.72,0.28

In [42]:
ap_topups.shape

(246001, 19)

In [43]:
ap_topups_group = ap_topups.groupby(['EFF_DT_DATE']).agg({'MVNT_ID':'count',
                                                     'TOPUPS_LEDGER':sum,
                                                     'IVA_TOPUPS_LEDGER':sum,
                                                     'AMOUNT':sum}).reset_index()
ap_topups_group.head()

C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_9664\321919740.py:1: FutureWarning: The provided callable <built-in function sum> is currently using SeriesGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  ap_topups_group = ap_topups.groupby(['EFF_DT_DATE']).agg({'MVNT_ID':'count',

  EFF_DT_DATE  MVNT_ID  TOPUPS_LEDGER  IVA_TOPUPS_LEDGER    AMOUNT
0  2024-01-01     3831       9,791.72           1,566.68 11,358.40
1  2024-01-02     7799      20,176.03           3,228.17 23,404.20
2  2024-01-03     7899      19,956.21           3,192.99 23,149.20
3  2024-01-04     7324      18,211.90           2,913.90 21,125.80
4  2024-01-05     8427      20,499.83           3,279.97 23,779.80

In [44]:
ap_topups_group.shape

(31, 5)

### LOANS

In [45]:
ap_loan.head()

,MERCHANT_ID,AMOUNT,CURRENCY,TYPE_REQUEST,MVNT_ID,MOVEMENT_TYPE,SOURCE_TYPE,CREATED_AT,EFF_DT,MOVEMENT_DAY,REQUEST_EFFECTIVE_DATE,SLOT_DATE,file_name,EFF_DT_DATE,EFF_DT_TIME,IDENTIFIER,INDEX
406,00016126-0052-402d-ba8a-95e5e1a1c673,-169.20,MXN,collection request,772b69d6-ca0a-30c4-bfc2-6a24e41378a1,COLLTN_RQ,LOAN,2024-01-30 16:59:09,2024-01-31 04:30:00,2024-01-30 16:59:09,2024-01-31 04:00:00,2024-01-31 04:30:00,AP-JOURNAL_DATE ENERO 2024.tsv,2024-01-31,04:30:00,L,2024-01-31-L-04:30:00
404,00016126-0052-402d-ba8a-95e5e1a1c673,-250.34,MXN,collection request,87855840-e062-34d5-af3e-f26083f6af8e,COLLTN_RQ,LOAN,2024-01-30 13:55:47,2024-01-31 03:30:00,2024-01-30 13:55:47,2024-01-31 03:00:00,2024-01-31 03:30:00,AP-JOURNAL_DATE ENERO 2024.tsv,2024-01-31,03:30:00,L,2024-01-31-L-03:30:00
402,00016126-0052-402d-ba8a-95e5e1a1c673,-822.89,MXN,collection request,2e6d7f3e-85c9-36df-8ea6-42395c2f5aa7,COLLTN_RQ,LOAN,2024-01-29 17:54:29,2024-01-30 04:30:00,2024-01-29 17:54:29,2024-01-30 04:00:00,2024-01-30 04:30:00,AP-JOURNAL_DATE ENERO 2024.tsv,2024-01-30,04:30:00,L,2024-01-30-L-04:30:00
398,00016126-0052-402d-ba8a-95e5e1a1c673,-313.82,MXN,collection request,f62715bc-4d70-39f1-846b-c284abb00bf7,COLLTN_RQ,LOAN,2024-01-29 14:13:17,2024-01-30 04:00:00,2024-01-29 14:13:17,2024-01-30 03:30:00,2024-01-30 04:00:00,AP-JOURNAL_DATE ENERO 2024.tsv,2024-01-30,04:00:00,L,2024-01-30-L-04:00:00
399,00016126-0052-402d-ba8a-95e5e1a1c673,-107.80,MXN,collection request,1eb040c7-427e-388a-b3a2-8eecfa1fcb5d,COLLTN_RQ,LOAN,2024-01-29 14:54:56,2024-01-30 04:00:00,2024-01-29 14:54:56,2024-01-30 03:30:00,2024-01-30 04:00:00,AP-JOURNAL_DATE ENERO 2024.tsv,2024-01-30,04:00:00,L,2024-01-30-L-04:00:00

In [46]:
ap_loan.shape

(1137559, 17)

In [47]:
ap_loan_1 = ap_loan[(ap_loan['EFF_DT_DATE'] >= start_date) & (ap_loan['EFF_DT_DATE'] <= final_date_1)]
ap_loan_2 = ap_loan[(ap_loan['EFF_DT_DATE'] >= start_date_1) & (ap_loan['EFF_DT_DATE'] <= final_date)]

In [48]:
ap_loan_group = ap_loan.groupby(['EFF_DT_DATE']).agg({'MVNT_ID':'count',
                                                     'AMOUNT':sum}).reset_index()
ap_loan_group.head()

C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_9664\417467519.py:1: FutureWarning: The provided callable <built-in function sum> is currently using SeriesGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  ap_loan_group = ap_loan.groupby(['EFF_DT_DATE']).agg({'MVNT_ID':'count',

  EFF_DT_DATE  MVNT_ID        AMOUNT
0  2024-01-01    28170 -2,048,897.23
1  2024-01-02    13648   -943,422.27
2  2024-01-03    27995 -1,959,178.58
3  2024-01-04    31274 -2,139,657.14
4  2024-01-05    34687 -2,289,387.05

In [49]:
ap_loan_group.shape

(31, 3)

### RIESGO

In [50]:
ap_risk.head()

,MERCHANT_ID,AMOUNT,CURRENCY,TYPE_REQUEST,MVNT_ID,MOVEMENT_TYPE,SOURCE_TYPE,CREATED_AT,EFF_DT,MOVEMENT_DAY,REQUEST_EFFECTIVE_DATE,SLOT_DATE,file_name,EFF_DT_DATE,EFF_DT_TIME,IDENTIFIER,INDEX
420,00021e0f-4be4-47d4-8e0f-af9b972c7c78,"8,624.16",MXN,dispute adjustment request,080ac021-0759-40d5-b4af-66462c274036,DISPUTE_ADJUSTMENT_RQ,RISK,2024-01-12 16:06:16,2024-01-12 16:06:21,2024-01-12 16:06:16,2024-01-12 16:06:16,1969-12-31 18:00:00,AP-JOURNAL_DATE ENERO 2024.tsv,2024-01-12,16:06:21,R,2024-01-12-R-16:06:21
419,00021e0f-4be4-47d4-8e0f-af9b972c7c78,"-8,624.16",MXN,Accepted by Review,34f10a43-ed0c-4226-ab6a-35ad18869489,CHRBCK_RQ,RISK,2024-01-12 16:06:13,2024-01-12 16:06:18,2024-01-12 16:06:13,2024-01-12 16:06:13,1969-12-31 18:00:00,AP-JOURNAL_DATE ENERO 2024.tsv,2024-01-12,16:06:18,R,2024-01-12-R-16:06:18
1802,000d5e1d-ab5d-4aab-aa1e-a1e037208344,"-24,245.39",MXN,review request,494092e4-c782-3c98-b7e3-8f97dd208ea9,REVIEW_RQ,RISK,2024-01-14 12:47:29,2024-01-15 03:00:00,2024-01-14 12:47:29,2024-01-15 02:30:00,2024-01-15 03:00:00,AP-JOURNAL_DATE ENERO 2024.tsv,2024-01-15,03:00:00,R,2024-01-15-R-03:00:00
1803,000d5e1d-ab5d-4aab-aa1e-a1e037208344,"-64,867.10",MXN,review request,29f54628-3485-3cc4-ada3-0c44d1cf3a64,REVIEW_RQ,RISK,2024-01-14 12:47:29,2024-01-15 03:00:00,2024-01-14 12:47:29,2024-01-15 02:30:00,2024-01-15 03:00:00,AP-JOURNAL_DATE ENERO 2024.tsv,2024-01-15,03:00:00,R,2024-01-15-R-03:00:00
16465,0043d549-5e9b-4ff6-b7f8-930d994e6584,"-37,777.66",MXN,review request,a9d02698-7be0-39de-846c-05bc0f211e69,REVIEW_RQ,RISK,2024-01-26 00:09:58,2024-01-26 04:00:00,2024-01-26 00:09:58,2024-01-26 03:30:00,2024-01-26 04:00:00,AP-JOURNAL_DATE ENERO 2024.tsv,2024-01-26,04:00:00,R,2024-01-26-R-04:00:00

In [51]:
ap_risk.shape

(11115, 17)

In [52]:
ap_risk['MOVEMENT_TYPE'].unique()

array(['DISPUTE_ADJUSTMENT_RQ', 'CHRBCK_RQ', 'REVIEW_RQ', 'DISPUTE_RQ',
       'REFUND_PYMT_RQ', 'RELEASE_RQ', 'CANCEL_RQ'], dtype=object)

In [53]:
ap_risk_group = pd.pivot_table(ap_risk,index=['EFF_DT_DATE'],
                                  columns=['MOVEMENT_TYPE'],
                                  values=['AMOUNT'],
                               aggfunc = ['sum'],margins=True).reset_index()
ap_risk_group.fillna(0,inplace=True)
#ap_risk_group.drop(columns=['B', 'C'])
ap_risk_group.head()

                       EFF_DT_DATE        sum                \
                                       AMOUNT
MOVEMENT_TYPE                       CANCEL_RQ     CHRBCK_RQ
0              2024-01-01 00:00:00 -11,115.59    -87,502.99
1              2024-01-02 00:00:00 -19,846.12    -14,896.17
2              2024-01-03 00:00:00 -14,845.72     -3,929.27
3              2024-01-04 00:00:00  -6,707.68    -12,073.82
4              2024-01-05 00:00:00  -9,582.40 -2,495,521.22

                                                                               \

MOVEMENT_TYPE DISPUTE_ADJUSTMENT_RQ    DISPUTE_RQ REFUND_PYMT_RQ   RELEASE_RQ
0                        108,995.11    -93,442.40           0.00   118,382.00
1                        124,400.78   -437,716.93    -124,170.35 1,229,442.20
2                        132,235.09   -288,385.88     -15,446.83   591,263.57
3                        126,778.03 -1,180,621.89  -1,301,892.66 1,711,402.17
4                      1,359,842.71   -400,448.02    -370,667.36   773,333.11



MOVEMENT_TYPE     REVIEW_RQ           All
0               -806,596.12   -771,279.99
1               -377,982.49    379,230.92
2             -1,598,745.54 -1,197,854.58
3             -2,657,961.95 -3,321,077.80
4             -1,069,862.24 -2,212,905.42

In [54]:
ap_risk_group.shape

(32, 9)

### RIESGO CON TIPO DE PAGO

In [55]:
ap_risk_final = pd.concat([pd.read_csv(f).assign(file_name=os.path.basename(f)) for f in ap_risk_files]).reset_index(drop=True)
ap_risk_final.replace('""','', regex=True, inplace=True)
ap_risk_final['EFF_DT'] =  pd.to_datetime(ap_risk_final['EFF_DT']).dt.tz_localize(None)
ap_risk_final['EFF_DT_DATE'] =  pd.to_datetime(ap_risk_final['EFF_DT']).dt.date
ap_risk_final['EFF_DT_DATE'] =  pd.to_datetime(ap_risk_final['EFF_DT_DATE']).dt.tz_localize(None)
ap_risk_final['EFF_DT_TIME'] =  pd.to_datetime(ap_risk_final['EFF_DT']).dt.time
ap_risk_final['MOVEMENT_DAY'] = pd.to_datetime(ap_risk_final['MOVEMENT_DAY']).dt.tz_localize(None)
ap_risk_final['CREATED_AT'] = pd.to_datetime(ap_risk_final['CREATED_AT']).dt.tz_localize(None)
ap_risk_final['REQUEST_EFFECTIVE_DATE'] = pd.to_datetime(ap_risk_final['REQUEST_EFFECTIVE_DATE']).dt.tz_localize(None)
ap_risk_final['SLOT_DATE'] = pd.to_datetime(ap_risk_final['SLOT_DATE']).dt.tz_localize(None)
ap_risk_final['IDENTIFIER'] = ap_risk_final['SOURCE_TYPE'].str[:1].astype(str)
ap_risk_final['PYMT_PRG'].fillna('NOT_FOUND',inplace=True)
ap_risk_final['INDEX'] = (ap_risk_final['EFF_DT_DATE'].astype(str).replace(' ', '',regex=True)+'-'+
               ap_risk_final['IDENTIFIER'].astype(str).replace(' ', '',regex=True)+'-'+
               ap_risk_final['EFF_DT_TIME'].astype(str).replace(' ', '',regex=True))
ap_risk_final.sort_values(by=(['MERCHANT_ID','EFF_DT']), ascending=[True,False], inplace=True)
ap_risk_final.head()

,MERCHANT_ID,AMOUNT,CURRENCY,TYPE_REQUEST,MVNT_ID,MOVEMENT_TYPE,SOURCE_TYPE,CREATED_AT,EFF_DT,MOVEMENT_DAY,REQUEST_EFFECTIVE_DATE,SLOT_DATE,TRANSACTION_ID,file_name,PYMT_PRG,EFF_DT_DATE,EFF_DT_TIME,IDENTIFIER,INDEX
1942,00021e0f-4be4-47d4-8e0f-af9b972c7c78,"8,624.16",MXN,dispute adjustment request,080ac021-0759-40d5-b4af-66462c274036,DISPUTE_ADJUSTMENT_RQ,RISK,2024-01-12 16:06:16,2024-01-12 16:06:21,2024-01-12 16:06:16,2024-01-12 16:06:16,1969-12-31 18:00:00,4036fb47-f274-46eb-8ace-0c94216ecd77,AP-JOURNAL-RISK-DISPUTES ENERO 2024.csv,REGULAR_PAYMENT,2024-01-12,16:06:21,R,2024-01-12-R-16:06:21
0,00021e0f-4be4-47d4-8e0f-af9b972c7c78,"-8,624.16",MXN,Accepted by Review,34f10a43-ed0c-4226-ab6a-35ad18869489,CHRBCK_RQ,RISK,2024-01-12 16:06:13,2024-01-12 16:06:18,2024-01-12 16:06:13,2024-01-12 16:06:13,1969-12-31 18:00:00,4036fb47-f274-46eb-8ace-0c94216ecd77,AP-JOURNAL-RISK-CHARGEBACKS ENERO 2024.csv,NOT_FOUND,2024-01-12,16:06:18,R,2024-01-12-R-16:06:18
5790,000d5e1d-ab5d-4aab-aa1e-a1e037208344,"-64,867.10",MXN,review request,29f54628-3485-3cc4-ada3-0c44d1cf3a64,REVIEW_RQ,RISK,2024-01-14 12:47:29,2024-01-15 03:00:00,2024-01-14 12:47:29,2024-01-15 02:30:00,2024-01-15 03:00:00,94692dbc-d355-4afc-8c4f-849af473b3c7,AP-JOURNAL-RISK-RETENTIONS ENERO 2024.csv,REGULAR_PAYMENT,2024-01-15,03:00:00,R,2024-01-15-R-03:00:00
8002,000d5e1d-ab5d-4aab-aa1e-a1e037208344,"-24,245.39",MXN,review request,494092e4-c782-3c98-b7e3-8f97dd208ea9,REVIEW_RQ,RISK,2024-01-14 12:47:29,2024-01-15 03:00:00,2024-01-14 12:47:29,2024-01-15 02:30:00,2024-01-15 03:00:00,484f8478-c3b8-4411-8368-ad1328509cf4,AP-JOURNAL-RISK-RETENTIONS ENERO 2024.csv,REGULAR_PAYMENT,2024-01-15,03:00:00,R,2024-01-15-R-03:00:00
5528,0043d549-5e9b-4ff6-b7f8-930d994e6584,"-37,777.66",MXN,review request,a9d02698-7be0-39de-846c-05bc0f211e69,REVIEW_RQ,RISK,2024-01-26 00:09:58,2024-01-26 04:00:00,2024-01-26 00:09:58,2024-01-26 03:30:00,2024-01-26 04:00:00,8470e684-912b-4273-abc7-a5f40ab5aceb,AP-JOURNAL-RISK-RETENTIONS ENERO 2024.csv,REGULAR_PAYMENT,2024-01-26,04:00:00,R,2024-01-26-R-04:00:00

In [56]:
ap_risk_final.shape

(10485, 19)

In [57]:
ap_risk_final_dup = ap_risk_final[ap_risk_final.duplicated(['MVNT_ID'] , keep=False)]
ap_risk_final_dup.head()

Empty DataFrame
Columns: [MERCHANT_ID, AMOUNT, CURRENCY, TYPE_REQUEST, MVNT_ID, MOVEMENT_TYPE, SOURCE_TYPE, CREATED_AT, EFF_DT, MOVEMENT_DAY, REQUEST_EFFECTIVE_DATE, SLOT_DATE, TRANSACTION_ID, file_name, PYMT_PRG, EFF_DT_DATE, EFF_DT_TIME, IDENTIFIER, INDEX]
Index: []

In [58]:
ap_risk_final_dup.shape

(0, 19)

In [59]:
ap_risk_final['MOVEMENT_TYPE'].unique()

array(['DISPUTE_ADJUSTMENT_RQ', 'CHRBCK_RQ', 'REVIEW_RQ', 'DISPUTE_RQ',
       'RELEASE_RQ'], dtype=object)

In [60]:
ap_risk_final_group = pd.pivot_table(ap_risk_final,index=['EFF_DT_DATE'],
                                  columns=['PYMT_PRG','MOVEMENT_TYPE'],
                                  values=['AMOUNT'],
                                     aggfunc = ['sum'],margins=True).reset_index()
ap_risk_final_group.fillna(0,inplace=True)
#ap_risk_group.drop(columns=['B', 'C'])
ap_risk_final_group.head()

                       EFF_DT_DATE             sum                        \
                                            AMOUNT
PYMT_PRG                           DIGITAL_ACCOUNT          FAST_PAYMENT
MOVEMENT_TYPE                            REVIEW_RQ DISPUTE_ADJUSTMENT_RQ
0              2024-01-01 00:00:00            0.00                  0.00
1              2024-01-02 00:00:00            0.00                  0.00
2              2024-01-03 00:00:00            0.00                  0.00
3              2024-01-04 00:00:00            0.00                  0.00
4              2024-01-05 00:00:00            0.00              5,657.80

                                                             \

PYMT_PRG                                          NOT_FOUND
MOVEMENT_TYPE DISPUTE_RQ RELEASE_RQ REVIEW_RQ     CHRBCK_RQ
0                   0.00       0.00      0.00    -87,502.99
1             -89,004.20       0.00      0.00    -14,896.17
2                   0.00       0.00      0.00     -3,929.27
3                   0.00       0.00      0.00    -12,073.82
4                   0.00       0.00      0.00 -2,495,521.22

                                                                      \

PYMT_PRG                                             REGULAR_PAYMENT
MOVEMENT_TYPE DISPUTE_ADJUSTMENT_RQ RELEASE_RQ DISPUTE_ADJUSTMENT_RQ
0                              0.00       0.00            108,995.11
1                            958.24       0.00            123,442.54
2                         23,803.64       0.00            108,431.45
3                          5,064.30       0.00            121,713.73
4                              0.00       0.00          1,354,184.91



PYMT_PRG                                                         All
MOVEMENT_TYPE    DISPUTE_RQ   RELEASE_RQ     REVIEW_RQ
0                -93,442.40   118,382.00   -806,596.12   -760,164.40
1               -348,712.73 1,229,442.20   -377,982.49    523,247.39
2               -288,385.88   591,263.57 -1,598,745.54 -1,167,562.03
3             -1,180,621.89 1,711,402.17 -2,657,961.95 -2,012,477.46
4               -400,448.02   773,333.11 -1,069,862.24 -1,832,655.66

In [61]:
ap_risk_final_group.shape

(32, 14)

### DISBURSEMENT

In [62]:
ap_disb.head()

,MERCHANT_ID,AMOUNT,CURRENCY,TYPE_REQUEST,MVNT_ID,MOVEMENT_TYPE,SOURCE_TYPE,CREATED_AT,EFF_DT,MOVEMENT_DAY,REQUEST_EFFECTIVE_DATE,SLOT_DATE,file_name,EFF_DT_DATE,EFF_DT_TIME,IDENTIFIER,INDEX
3,0000275f-d46b-4a9c-a227-42d6f7ce63bd,"-2,874.72",MXN,ARXK7Z9XP,2e17444e-5555-3a8b-99e1-22608168b7fc,DISB_RQ,DISB,2024-01-30 06:29:01,2024-01-30 06:29:06,2024-01-30 06:28:49,2024-01-30 06:06:33,1969-12-31 18:00:00,AP-JOURNAL_DATE ENERO 2024.tsv,2024-01-30,06:29:06,D,2024-01-30-D-06:29:06
1,0000275f-d46b-4a9c-a227-42d6f7ce63bd,"-2,874.72",MXN,ALH6V3JL8,b86a1190-e950-32e2-a35e-f2a73f39c970,DISB_RQ,DISB,2024-01-02 07:13:11,2024-01-02 07:13:16,2024-01-02 07:13:09,2024-01-02 07:05:30,1969-12-31 18:00:00,AP-JOURNAL_DATE ENERO 2024.tsv,2024-01-02,07:13:16,D,2024-01-02-D-07:13:16
7,00007725-3116-48dc-9b82-4145699dc290,-958.24,MXN,A6WHZXNT9,cfd169e5-2933-3d1b-88d4-f744a17138cb,DISB_RQ,DISB,2024-01-23 06:26:46,2024-01-23 06:26:51,2024-01-23 06:26:27,2024-01-23 06:06:30,1969-12-31 18:00:00,AP-JOURNAL_DATE ENERO 2024.tsv,2024-01-23,06:26:51,D,2024-01-23-D-06:26:51
5,00007725-3116-48dc-9b82-4145699dc290,-958.24,MXN,ACN2XQ5PN,7d086f8c-79ec-3b38-a046-6ef306ae1a70,DISB_RQ,DISB,2024-01-21 06:29:54,2024-01-21 06:29:59,2024-01-21 06:29:53,2024-01-21 06:06:35,1969-12-31 18:00:00,AP-JOURNAL_DATE ENERO 2024.tsv,2024-01-21,06:29:59,D,2024-01-21-D-06:29:59
18,00008e01-812f-487e-8f34-a80bcb0ae3e3,"-19,294.12",MXN,A2RVSXTZY,a89a4027-94e4-3b49-88b3-6c6572eb692f,DISB_RQ,DISB,2024-01-17 06:33:04,2024-01-17 06:33:09,2024-01-17 06:32:56,2024-01-17 06:06:57,1969-12-31 18:00:00,AP-JOURNAL_DATE ENERO 2024.tsv,2024-01-17,06:33:09,D,2024-01-17-D-06:33:09

In [63]:
ap_disb.shape

(3040876, 17)

In [64]:
ap_disb_group = ap_disb.groupby(['EFF_DT_DATE','MOVEMENT_TYPE']).agg({'MVNT_ID':'count',
                                                     'AMOUNT':sum}).reset_index()
ap_disb_group.head()

C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_9664\4062449029.py:1: FutureWarning: The provided callable <built-in function sum> is currently using SeriesGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  ap_disb_group = ap_disb.groupby(['EFF_DT_DATE','MOVEMENT_TYPE']).agg({'MVNT_ID':'count',

  EFF_DT_DATE MOVEMENT_TYPE  MVNT_ID          AMOUNT
0  2024-01-01       DISB_RQ    73772 -234,732,128.04
1  2024-01-02       DISB_RQ    37700 -136,034,754.87
2  2024-01-03       DISB_RQ    91505 -237,952,164.44
3  2024-01-04       DISB_RQ    99329 -247,169,719.61
4  2024-01-05       DISB_RQ   104481 -255,480,837.13

In [65]:
ap_disb_group.shape

(32, 4)

### SETT ADPTR

In [66]:
ap_sett_adptr.head()

Empty DataFrame
Columns: [MERCHANT_ID, AMOUNT, CURRENCY, TYPE_REQUEST, MVNT_ID, MOVEMENT_TYPE, SOURCE_TYPE, CREATED_AT, EFF_DT, MOVEMENT_DAY, REQUEST_EFFECTIVE_DATE, SLOT_DATE, file_name, EFF_DT_DATE, EFF_DT_TIME, IDENTIFIER, INDEX]
Index: []

In [67]:
ap_sett_adptr.shape

(0, 17)

In [68]:
ap_sett_adptr_group = ap_sett_adptr.groupby(['EFF_DT_DATE','MOVEMENT_TYPE']).agg({'MVNT_ID':'count',
                                                     'AMOUNT':sum}).reset_index()
ap_sett_adptr_group.head()

C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_9664\1000731884.py:1: FutureWarning: The provided callable <built-in function sum> is currently using SeriesGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  ap_sett_adptr_group = ap_sett_adptr.groupby(['EFF_DT_DATE','MOVEMENT_TYPE']).agg({'MVNT_ID':'count',

Empty DataFrame
Columns: [EFF_DT_DATE, MOVEMENT_TYPE, MVNT_ID, AMOUNT]
Index: []

In [69]:
ap_sett_adptr_group.shape

(0, 4)

### TAXES

In [70]:
ap_taxes.head()

,MERCHANT_ID,AMOUNT,CURRENCY,TYPE_REQUEST,MVNT_ID,MOVEMENT_TYPE,SOURCE_TYPE,CREATED_AT,EFF_DT,MOVEMENT_DAY,REQUEST_EFFECTIVE_DATE,SLOT_DATE,file_name,EFF_DT_DATE,EFF_DT_TIME,IDENTIFIER,INDEX
26106,006f072f-9fd9-4b34-bc9a-b37d175b31fe,-5.59,MXN,value added tax payment request,c9b660c5-ddc6-435d-be22-9e836ef1d89f,VAT_PYMT_RQ,TAXES,2024-01-09 15:49:55,2024-01-10 04:00:00,2024-01-09 15:49:55,2024-01-10 03:30:00,2024-01-10 04:00:00,AP-JOURNAL_DATE ENERO 2024.tsv,2024-01-10,04:00:00,T,2024-01-10-T-04:00:00
26107,006f072f-9fd9-4b34-bc9a-b37d175b31fe,-0.70,MXN,income tax payment request,5646fca0-685d-4d25-a39d-91e3b757fc65,IT_PYMT_RQ,TAXES,2024-01-09 15:49:55,2024-01-10 04:00:00,2024-01-09 15:49:55,2024-01-10 03:30:00,2024-01-10 04:00:00,AP-JOURNAL_DATE ENERO 2024.tsv,2024-01-10,04:00:00,T,2024-01-10-T-04:00:00
640083,0766f0f3-11b5-4f08-9121-589ec628808b,-0.43,MXN,income tax payment request,67c3d418-ba6b-4fb6-896a-644fb591a744,IT_PYMT_RQ,TAXES,2024-01-20 01:17:27,2024-01-21 00:30:00,2024-01-20 01:17:27,2024-01-21 00:00:00,2024-01-21 00:30:00,AP-JOURNAL_DATE ENERO 2024.tsv,2024-01-21,00:30:00,T,2024-01-21-T-00:30:00
640084,0766f0f3-11b5-4f08-9121-589ec628808b,-3.45,MXN,value added tax payment request,29c099a8-b702-42c3-8836-7d89d062a550,VAT_PYMT_RQ,TAXES,2024-01-20 01:17:27,2024-01-21 00:30:00,2024-01-20 01:17:27,2024-01-21 00:00:00,2024-01-21 00:30:00,AP-JOURNAL_DATE ENERO 2024.tsv,2024-01-21,00:30:00,T,2024-01-21-T-00:30:00
640078,0766f0f3-11b5-4f08-9121-589ec628808b,-0.43,MXN,income tax payment request,ea5fcf16-2f9d-42e1-92e6-d28ea847577f,IT_PYMT_RQ,TAXES,2024-01-11 22:38:39,2024-01-12 06:00:00,2024-01-11 22:38:39,2024-01-12 05:30:00,2024-01-12 06:00:00,AP-JOURNAL_DATE ENERO 2024.tsv,2024-01-12,06:00:00,T,2024-01-12-T-06:00:00

In [71]:
ap_taxes.shape

(194, 17)

In [72]:
ap_taxes_group = ap_taxes.groupby(['EFF_DT_DATE','MOVEMENT_TYPE','SOURCE_TYPE']).agg({'MVNT_ID':'count',
                                                     'AMOUNT':sum}).reset_index()
ap_taxes_group.head()

C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_9664\221232675.py:1: FutureWarning: The provided callable <built-in function sum> is currently using SeriesGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  ap_taxes_group = ap_taxes.groupby(['EFF_DT_DATE','MOVEMENT_TYPE','SOURCE_TYPE']).agg({'MVNT_ID':'count',

  EFF_DT_DATE MOVEMENT_TYPE SOURCE_TYPE  MVNT_ID    AMOUNT
0  2024-01-03    IT_PYMT_RQ       TAXES        3    -18.52
1  2024-01-03   VAT_PYMT_RQ       TAXES        3   -148.21
2  2024-01-04    IT_PYMT_RQ       TAXES        7   -333.24
3  2024-01-04   VAT_PYMT_RQ       TAXES        7 -1,176.22
4  2024-01-06    IT_PYMT_RQ       TAXES        4   -344.84

In [73]:
ap_taxes_group.shape

(54, 5)

### REFUNDS

In [74]:
ap_refunds.head()

,MERCHANT_ID,AMOUNT,CURRENCY,TYPE_REQUEST,MVNT_ID,MOVEMENT_TYPE,SOURCE_TYPE,CREATED_AT,EFF_DT,MOVEMENT_DAY,REQUEST_EFFECTIVE_DATE,SLOT_DATE,file_name,EFF_DT_DATE,EFF_DT_TIME,IDENTIFIER,INDEX
215550,026a4778-df7b-49e4-a2e2-2ab8f06bd724,"-2,635.16",MXN,refund payments request,c444d09b-7e16-4995-b63a-a38ac9d30e7d,REFUND_PYMT_RQ,REFUNDS,2024-01-22 09:09:58,2024-01-22 09:10:03,2024-01-22 09:09:58,2024-01-22 09:09:58,1969-12-31 18:00:00,AP-JOURNAL_DATE ENERO 2024.tsv,2024-01-22,09:10:03,R,2024-01-22-R-09:10:03
220840,027cb65e-7257-4d6a-bf4b-0eaf3051ffd2,-103.15,MXN,refund payments request,0cdc9404-1b4d-40ed-aeea-11b491d4bd23,REFUND_PYMT_RQ,REFUNDS,2024-01-29 15:44:41,2024-01-29 15:44:46,2024-01-29 15:44:41,2024-01-29 15:44:41,1969-12-31 18:00:00,AP-JOURNAL_DATE ENERO 2024.tsv,2024-01-29,15:44:46,R,2024-01-29-R-15:44:46
226473,02948ca6-da17-4010-a435-f5d8ca9af587,-162.90,MXN,refund payments request,fd5757b3-e810-41d2-85cf-db4cc4bee534,REFUND_PYMT_RQ,REFUNDS,2024-01-21 15:10:10,2024-01-21 15:10:15,2024-01-21 15:10:10,2024-01-21 15:10:10,1969-12-31 18:00:00,AP-JOURNAL_DATE ENERO 2024.tsv,2024-01-21,15:10:15,R,2024-01-21-R-15:10:15
334838,03b0552c-39ab-4355-8b1a-cdc43475f03b,-0.01,MXN,refund payments request,f6e0b938-7c2d-473c-936c-bf1b20a31ed0,REFUND_PYMT_RQ,REFUNDS,2024-01-19 11:53:23,2024-01-19 11:53:28,2024-01-19 11:53:23,2024-01-19 11:53:22,1969-12-31 18:00:00,AP-JOURNAL_DATE ENERO 2024.tsv,2024-01-19,11:53:28,R,2024-01-19-R-11:53:28
354212,03f1ff14-b106-42a4-813a-805cab3def7b,-297.05,MXN,refund payments request,037f9562-9281-4b69-b6f8-4094ab50298e,REFUND_PYMT_RQ,REFUNDS,2024-01-18 10:28:00,2024-01-18 10:28:05,2024-01-18 10:28:00,2024-01-18 10:28:00,1969-12-31 18:00:00,AP-JOURNAL_DATE ENERO 2024.tsv,2024-01-18,10:28:05,R,2024-01-18-R-10:28:05

In [75]:
ap_refunds.shape

(491, 17)

In [76]:
ap_refunds.to_excel('REFUNDS_ENERO_2024.xlsx',index=False)

In [77]:
ap_refunds_group = ap_refunds.groupby(['EFF_DT_DATE','MOVEMENT_TYPE','SOURCE_TYPE']).agg({'MVNT_ID':'count',
                                                     'AMOUNT':sum}).reset_index()
ap_refunds_group.head()

C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_9664\1392250661.py:1: FutureWarning: The provided callable <built-in function sum> is currently using SeriesGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  ap_refunds_group = ap_refunds.groupby(['EFF_DT_DATE','MOVEMENT_TYPE','SOURCE_TYPE']).agg({'MVNT_ID':'count',

  EFF_DT_DATE   MOVEMENT_TYPE SOURCE_TYPE  MVNT_ID     AMOUNT
0  2024-01-01  REFUND_PYMT_RQ     REFUNDS        8 -24,993.13
1  2024-01-02  REFUND_PYMT_RQ     REFUNDS        7 -32,881.30
2  2024-01-03  REFUND_PYMT_RQ     REFUNDS       19 -32,291.59
3  2024-01-04  REFUND_PYMT_RQ     REFUNDS       13 -78,957.27
4  2024-01-05  REFUND_PYMT_RQ     REFUNDS        8 -11,700.21

In [78]:
ap_refunds_group.shape

(31, 5)

### REFUNDS CON FEES Y TAXES

In [79]:
ap_refunds_fees_taxes = pd.concat([pd.read_csv(f).assign(file_name=os.path.basename(f)) for f in ap_refunds_files]).reset_index(drop=True)
ap_refunds_fees_taxes.replace('""','', regex=True, inplace=True)
ap_refunds_fees_taxes['EFF_DT'] =  pd.to_datetime(ap_refunds_fees_taxes['EFF_DT']).dt.tz_localize(None)
ap_refunds_fees_taxes['EFF_DT_DATE'] =  pd.to_datetime(ap_refunds_fees_taxes['EFF_DT']).dt.date
ap_refunds_fees_taxes['EFF_DT_DATE'] =  pd.to_datetime(ap_refunds_fees_taxes['EFF_DT_DATE']).dt.tz_localize(None)
ap_refunds_fees_taxes['EFF_DT_TIME'] =  pd.to_datetime(ap_refunds_fees_taxes['EFF_DT']).dt.time
ap_refunds_fees_taxes['MOVEMENT_DAY'] = pd.to_datetime(ap_refunds_fees_taxes['MOVEMENT_DAY']).dt.tz_localize(None)
ap_refunds_fees_taxes['CREATED_AT'] = pd.to_datetime(ap_refunds_fees_taxes['CREATED_AT']).dt.tz_localize(None)
ap_refunds_fees_taxes['REQUEST_EFFECTIVE_DATE'] = pd.to_datetime(ap_refunds_fees_taxes['REQUEST_EFFECTIVE_DATE']).dt.tz_localize(None)
ap_refunds_fees_taxes['SLOT_DATE'] = pd.to_datetime(ap_refunds_fees_taxes['SLOT_DATE']).dt.tz_localize(None)
ap_refunds_fees_taxes.sort_values(by=(['MERCHANT_ID','EFF_DT']), ascending=[True,False], inplace=True)
ap_refunds_fees_taxes['FEES_REFUNDS'] = (ap_refunds_fees_taxes['GROSS_AMOUNT'] + ap_refunds_fees_taxes['NET_AMOUNT']) / 1.1600
ap_refunds_fees_taxes['TAXES_REFUNDS'] = ap_refunds_fees_taxes['FEES_REFUNDS'] * 0.1600 
ap_refunds_fees_taxes.head()

,MERCHANT_ID,GROSS_AMOUNT,NET_AMOUNT,CURRENCY,TYPE_REQUEST,MVNT_ID,MOVEMENT_TYPE,SOURCE_TYPE,CREATED_AT,EFF_DT,MOVEMENT_DAY,REQUEST_EFFECTIVE_DATE,SLOT_DATE,file_name,EFF_DT_DATE,EFF_DT_TIME,FEES_REFUNDS,TAXES_REFUNDS
10,026a4778-df7b-49e4-a2e2-2ab8f06bd724,"2,750.00","-2,635.16",MXN,refund payments request,c444d09b-7e16-4995-b63a-a38ac9d30e7d,REFUND_PYMT_RQ,REFUNDS,2024-01-22 09:09:58,2024-01-22 09:10:03,2024-01-22 09:09:58,2024-01-22 09:09:58,1969-12-31 18:00:00,AP-JOURNAL-REFUNDS ENERO 2024.csv,2024-01-22,09:10:03,99.00,15.84
389,027cb65e-7257-4d6a-bf4b-0eaf3051ffd2,107.00,-103.15,MXN,refund payments request,0cdc9404-1b4d-40ed-aeea-11b491d4bd23,REFUND_PYMT_RQ,REFUNDS,2024-01-29 15:44:41,2024-01-29 15:44:46,2024-01-29 15:44:41,2024-01-29 15:44:41,1969-12-31 18:00:00,AP-JOURNAL-REFUNDS ENERO 2024.csv,2024-01-29,15:44:46,3.32,0.53
402,02948ca6-da17-4010-a435-f5d8ca9af587,170.00,-162.90,MXN,refund payments request,fd5757b3-e810-41d2-85cf-db4cc4bee534,REFUND_PYMT_RQ,REFUNDS,2024-01-21 15:10:10,2024-01-21 15:10:15,2024-01-21 15:10:10,2024-01-21 15:10:10,1969-12-31 18:00:00,AP-JOURNAL-REFUNDS ENERO 2024.csv,2024-01-21,15:10:15,6.12,0.98
403,03b0552c-39ab-4355-8b1a-cdc43475f03b,0.01,-0.01,MXN,refund payments request,f6e0b938-7c2d-473c-936c-bf1b20a31ed0,REFUND_PYMT_RQ,REFUNDS,2024-01-19 11:53:23,2024-01-19 11:53:28,2024-01-19 11:53:23,2024-01-19 11:53:22,1969-12-31 18:00:00,AP-JOURNAL-REFUNDS ENERO 2024.csv,2024-01-19,11:53:28,0.00,0.00
439,03f1ff14-b106-42a4-813a-805cab3def7b,310.00,-297.05,MXN,refund payments request,037f9562-9281-4b69-b6f8-4094ab50298e,REFUND_PYMT_RQ,REFUNDS,2024-01-18 10:28:00,2024-01-18 10:28:05,2024-01-18 10:28:00,2024-01-18 10:28:00,1969-12-31 18:00:00,AP-JOURNAL-REFUNDS ENERO 2024.csv,2024-01-18,10:28:05,11.16,1.79

In [80]:
ap_refunds_fees_taxes.shape

(491, 18)

In [81]:
ap_refunds_fees_taxes_group = ap_refunds_fees_taxes.groupby(['EFF_DT_DATE','MOVEMENT_TYPE','SOURCE_TYPE']).agg({'MVNT_ID':'count',
                                                     'GROSS_AMOUNT':sum,'FEES_REFUNDS':sum,'TAXES_REFUNDS':sum}).reset_index()
ap_refunds_fees_taxes_group.head()

C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_9664\2366315687.py:1: FutureWarning: The provided callable <built-in function sum> is currently using SeriesGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  ap_refunds_fees_taxes_group = ap_refunds_fees_taxes.groupby(['EFF_DT_DATE','MOVEMENT_TYPE','SOURCE_TYPE']).agg({'MVNT_ID':'count',

,EFF_DT_DATE,MOVEMENT_TYPE,SOURCE_TYPE,MVNT_ID,GROSS_AMOUNT,FEES_REFUNDS,TAXES_REFUNDS
0,2024-01-01,REFUND_PYMT_RQ,REFUNDS,8,"28,225.00","2,786.09",445.78
1,2024-01-02,REFUND_PYMT_RQ,REFUNDS,7,"34,314.29","1,235.34",197.65
2,2024-01-03,REFUND_PYMT_RQ,REFUNDS,19,"33,575.50","1,106.82",177.09
3,2024-01-04,REFUND_PYMT_RQ,REFUNDS,13,"85,094.00","5,290.28",846.45
4,2024-01-05,REFUND_PYMT_RQ,REFUNDS,8,"12,210.10",439.56,70.33

In [82]:
ap_refunds_fees_taxes_group.shape

(31, 7)

### BILL PAYMENTS

In [83]:
ap_bill_pymnt.head()

,MERCHANT_ID,AMOUNT,CURRENCY,TYPE_REQUEST,MVNT_ID,MOVEMENT_TYPE,SOURCE_TYPE,CREATED_AT,EFF_DT,MOVEMENT_DAY,REQUEST_EFFECTIVE_DATE,SLOT_DATE,file_name,EFF_DT_DATE,EFF_DT_TIME,IDENTIFIER,INDEX
1080,0007736e-5457-4c60-80da-2c27e2bfaf6b,3.00,MXN,bill payment request,136d5410-8b6e-4809-a6d3-fa06a4576b3a,BILL_PYMNT_RQ,BILL_PYMNT,2024-01-28 19:45:50,2024-01-28 19:45:55,2024-01-28 19:45:50,2024-01-28 19:45:50,1969-12-31 18:00:00,AP-JOURNAL_DATE ENERO 2024.tsv,2024-01-28,19:45:55,B,2024-01-28-B-19:45:55
1731,000d3241-c56d-4f94-acef-864f0b9e3f82,3.00,MXN,bill payment request,08aeb896-f906-4453-8dd8-7f9be5106cfe,BILL_PYMNT_RQ,BILL_PYMNT,2024-01-28 20:07:57,2024-01-28 20:08:02,2024-01-28 20:07:57,2024-01-28 20:07:57,1969-12-31 18:00:00,AP-JOURNAL_DATE ENERO 2024.tsv,2024-01-28,20:08:02,B,2024-01-28-B-20:08:02
3208,0012ad83-01bc-4d23-92ae-1986f304283f,3.00,MXN,bill payment request,00937e15-2957-49e1-af07-f222d72759bf,BILL_PYMNT_RQ,BILL_PYMNT,2024-01-26 17:30:35,2024-01-26 17:30:40,2024-01-26 17:30:35,2024-01-26 17:30:35,1969-12-31 18:00:00,AP-JOURNAL_DATE ENERO 2024.tsv,2024-01-26,17:30:40,B,2024-01-26-B-17:30:40
3204,0012ad83-01bc-4d23-92ae-1986f304283f,3.00,MXN,bill payment request,8a46699c-7e34-49c6-a5d7-09802ec2f663,BILL_PYMNT_RQ,BILL_PYMNT,2024-01-24 11:25:23,2024-01-24 11:25:28,2024-01-24 11:25:23,2024-01-24 11:25:23,1969-12-31 18:00:00,AP-JOURNAL_DATE ENERO 2024.tsv,2024-01-24,11:25:28,B,2024-01-24-B-11:25:28
3202,0012ad83-01bc-4d23-92ae-1986f304283f,3.00,MXN,bill payment request,8e587b6d-c206-4578-9add-78126b30084f,BILL_PYMNT_RQ,BILL_PYMNT,2024-01-19 09:17:28,2024-01-19 09:17:33,2024-01-19 09:17:28,2024-01-19 09:17:28,1969-12-31 18:00:00,AP-JOURNAL_DATE ENERO 2024.tsv,2024-01-19,09:17:33,B,2024-01-19-B-09:17:33

In [84]:
ap_bill_pymnt.shape

(8332, 17)

In [85]:
ap_bill_pymnt_group = ap_bill_pymnt.groupby(['EFF_DT_DATE','MOVEMENT_TYPE','SOURCE_TYPE']).agg({'MVNT_ID':'count',
                                                     'AMOUNT':sum}).reset_index()
ap_bill_pymnt_group.head()

C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_9664\1074174977.py:1: FutureWarning: The provided callable <built-in function sum> is currently using SeriesGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  ap_bill_pymnt_group = ap_bill_pymnt.groupby(['EFF_DT_DATE','MOVEMENT_TYPE','SOURCE_TYPE']).agg({'MVNT_ID':'count',

  EFF_DT_DATE  MOVEMENT_TYPE SOURCE_TYPE  MVNT_ID   AMOUNT
0  2024-01-01  BILL_PYMNT_RQ  BILL_PYMNT      169   507.00
1  2024-01-02  BILL_PYMNT_RQ  BILL_PYMNT      410 1,230.00
2  2024-01-03  BILL_PYMNT_RQ  BILL_PYMNT      322   966.00
3  2024-01-04  BILL_PYMNT_RQ  BILL_PYMNT      307   921.00
4  2024-01-05  BILL_PYMNT_RQ  BILL_PYMNT      186   558.00

In [86]:
ap_bill_pymnt_group.shape

(31, 5)

### BILL PAYMENTS CON FEES

In [87]:
ap_bill_pymnt_fees_taxes = pd.concat([pd.read_csv(f).assign(file_name=os.path.basename(f)) for f in ap_bill_pymnt_files]).reset_index(drop=True)
ap_bill_pymnt_fees_taxes.replace('""','', regex=True, inplace=True)
ap_bill_pymnt_fees_taxes['EFF_DT'] =  pd.to_datetime(ap_bill_pymnt_fees_taxes['EFF_DT']).dt.tz_localize(None)
ap_bill_pymnt_fees_taxes['EFF_DT_DATE'] =  pd.to_datetime(ap_bill_pymnt_fees_taxes['EFF_DT']).dt.date
ap_bill_pymnt_fees_taxes['EFF_DT_DATE'] =  pd.to_datetime(ap_bill_pymnt_fees_taxes['EFF_DT_DATE']).dt.tz_localize(None)
ap_bill_pymnt_fees_taxes['EFF_DT_TIME'] =  pd.to_datetime(ap_bill_pymnt_fees_taxes['EFF_DT']).dt.time
ap_bill_pymnt_fees_taxes['MOVEMENT_DAY'] = pd.to_datetime(ap_bill_pymnt_fees_taxes['MOVEMENT_DAY']).dt.tz_localize(None)
ap_bill_pymnt_fees_taxes['CREATED_AT'] = pd.to_datetime(ap_bill_pymnt_fees_taxes['CREATED_AT']).dt.tz_localize(None)
ap_bill_pymnt_fees_taxes['REQUEST_EFFECTIVE_DATE'] = pd.to_datetime(ap_bill_pymnt_fees_taxes['REQUEST_EFFECTIVE_DATE']).dt.tz_localize(None)
ap_bill_pymnt_fees_taxes['SLOT_DATE'] = pd.to_datetime(ap_bill_pymnt_fees_taxes['SLOT_DATE']).dt.tz_localize(None)
ap_bill_pymnt_fees_taxes['FEES_FRONTEND_COMMISSION'] = ap_bill_pymnt_fees_taxes['FRONTEND_COMMISSION']/1.1600
ap_bill_pymnt_fees_taxes['TAXES_FRONTEND_COMMISSION'] = ap_bill_pymnt_fees_taxes['FEES_FRONTEND_COMMISSION']*0.1600
ap_bill_pymnt_fees_taxes['FEES_MERCHANT_COMMISSION'] = ap_bill_pymnt_fees_taxes['MERCHANT_COMMISSION']/1.1600
ap_bill_pymnt_fees_taxes['TAXES_MERCHANT_COMMISSION'] = ap_bill_pymnt_fees_taxes['FEES_MERCHANT_COMMISSION']*0.1600
ap_bill_pymnt_fees_taxes['FEES_NET_AMOUNT'] = ap_bill_pymnt_fees_taxes['AMOUNT']/1.1600
ap_bill_pymnt_fees_taxes['TAXES_NET_AMOUNT'] = ap_bill_pymnt_fees_taxes['FEES_NET_AMOUNT']*0.1600
ap_bill_pymnt_fees_taxes.sort_values(by=(['MERCHANT_ID','EFF_DT']), ascending=[True,False], inplace=True)
ap_bill_pymnt_fees_taxes.head()

,MERCHANT_ID,GROSS_AMOUNT,FRONTEND_COMMISSION,AMOUNT_PAID,MERCHANT_COMMISSION,AMOUNT,CURRENCY,TYPE_REQUEST,MVNT_ID,MOVEMENT_TYPE,...,ERROR_MSG,file_name,EFF_DT_DATE,EFF_DT_TIME,FEES_FRONTEND_COMMISSION,TAXES_FRONTEND_COMMISSION,FEES_MERCHANT_COMMISSION,TAXES_MERCHANT_COMMISSION,FEES_NET_AMOUNT,TAXES_NET_AMOUNT
0,0007736e-5457-4c60-80da-2c27e2bfaf6b,404.00,15,389.00,3,3.00,MXN,bill payment request,136d5410-8b6e-4809-a6d3-fa06a4576b3a,BILL_PYMNT_RQ,...,NaN,AP-JOURNAL-BILL_PYMNT ENERO 2024.csv,2024-01-28,19:45:55,12.93,2.07,2.59,0.41,2.59,0.41
1,000d3241-c56d-4f94-acef-864f0b9e3f82,615.00,15,600.00,3,3.00,MXN,bill payment request,08aeb896-f906-4453-8dd8-7f9be5106cfe,BILL_PYMNT_RQ,...,NaN,AP-JOURNAL-BILL_PYMNT ENERO 2024.csv,2024-01-28,20:08:02,12.93,2.07,2.59,0.41,2.59,0.41
6,0012ad83-01bc-4d23-92ae-1986f304283f,354.00,15,339.00,3,3.00,MXN,bill payment request,00937e15-2957-49e1-af07-f222d72759bf,BILL_PYMNT_RQ,...,NaN,AP-JOURNAL-BILL_PYMNT ENERO 2024.csv,2024-01-26,17:30:40,12.93,2.07,2.59,0.41,2.59,0.41
5,0012ad83-01bc-4d23-92ae-1986f304283f,634.00,15,619.00,3,3.00,MXN,bill payment request,8a46699c-7e34-49c6-a5d7-09802ec2f663,BILL_PYMNT_RQ,...,NaN,AP-JOURNAL-BILL_PYMNT ENERO 2024.csv,2024-01-24,11:25:28,12.93,2.07,2.59,0.41,2.59,0.41
4,0012ad83-01bc-4d23-92ae-1986f304283f,715.00,15,700.00,3,3.00,MXN,bill payment request,8e587b6d-c206-4578-9add-78126b30084f,BILL_PYMNT_RQ,...,NaN,AP-JOURNAL-BILL_PYMNT ENERO 2024.csv,2024-01-19,09:17:33,12.93,2.07,2.59,0.41,2.59,0.41

In [88]:
ap_bill_pymnt_fees_taxes.shape

(8332, 28)

In [89]:
ap_bill_pymnt_fees_taxes['SERVICE_BILLERS_STATUS'].unique()

array(['journal-completed', 'reversal-completed'], dtype=object)

In [90]:
ap_bill_pymnt_fees_taxes_group = ap_bill_pymnt_fees_taxes.groupby(['EFF_DT_DATE','MOVEMENT_TYPE','SOURCE_TYPE','SERVICE_BILLERS_STATUS']).agg({'MVNT_ID':'count',
                                                                                                                      'GROSS_AMOUNT':sum,
                                                                                                                     'AMOUNT_PAID':sum,
                                                                                                                     'FRONTEND_COMMISSION':sum,
                                                                                                                     'FEES_FRONTEND_COMMISSION':sum,   
                                                                                                                     'TAXES_FRONTEND_COMMISSION':sum,   
                                                                                                                     'MERCHANT_COMMISSION':sum,
                                                                                                                     'FEES_MERCHANT_COMMISSION':sum,
                                                                                                                     'TAXES_MERCHANT_COMMISSION':sum,
                                                                                                                     'AMOUNT':sum,
                                                                                                                     'FEES_NET_AMOUNT':sum,
                                                                                                                     'TAXES_NET_AMOUNT':sum}).reset_index()
ap_bill_pymnt_fees_taxes_group.head()

C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_9664\2089700884.py:1: FutureWarning: The provided callable <built-in function sum> is currently using SeriesGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  ap_bill_pymnt_fees_taxes_group = ap_bill_pymnt_fees_taxes.groupby(['EFF_DT_DATE','MOVEMENT_TYPE','SOURCE_TYPE','SERVICE_BILLERS_STATUS']).agg({'MVNT_ID':'count',

,EFF_DT_DATE,MOVEMENT_TYPE,SOURCE_TYPE,SERVICE_BILLERS_STATUS,MVNT_ID,GROSS_AMOUNT,AMOUNT_PAID,FRONTEND_COMMISSION,FEES_FRONTEND_COMMISSION,TAXES_FRONTEND_COMMISSION,MERCHANT_COMMISSION,FEES_MERCHANT_COMMISSION,TAXES_MERCHANT_COMMISSION,AMOUNT,FEES_NET_AMOUNT,TAXES_NET_AMOUNT
0,2024-01-01,BILL_PYMNT_RQ,BILL_PYMNT,journal-completed,169,"122,266.95","119,731.95",2535,"2,185.34",349.66,507,437.07,69.93,507.00,437.07,69.93
1,2024-01-02,BILL_PYMNT_RQ,BILL_PYMNT,journal-completed,410,"319,934.22","313,784.22",6150,"5,301.72",848.28,1230,"1,060.34",169.66,"1,230.00","1,060.34",169.66
2,2024-01-03,BILL_PYMNT_RQ,BILL_PYMNT,journal-completed,322,"234,599.66","229,769.66",4830,"4,163.79",666.21,966,832.76,133.24,966.00,832.76,133.24
3,2024-01-04,BILL_PYMNT_RQ,BILL_PYMNT,journal-completed,307,"219,359.80","214,754.80",4605,"3,969.83",635.17,921,793.97,127.03,921.00,793.97,127.03
4,2024-01-05,BILL_PYMNT_RQ,BILL_PYMNT,journal-completed,186,"114,281.35","111,491.35",2790,"2,405.17",384.83,558,481.03,76.97,558.00,481.03,76.97

In [91]:
ap_bill_pymnt_fees_taxes_group.shape

(33, 16)

### PROMO

In [92]:
ap_promo.head()

,MERCHANT_ID,AMOUNT,CURRENCY,TYPE_REQUEST,MVNT_ID,MOVEMENT_TYPE,SOURCE_TYPE,CREATED_AT,EFF_DT,MOVEMENT_DAY,REQUEST_EFFECTIVE_DATE,SLOT_DATE,file_name,EFF_DT_DATE,EFF_DT_TIME,IDENTIFIER,INDEX
1696,000d3241-c56d-4f94-acef-864f0b9e3f82,39.59,MXN,promotion for cashback merchants - Buen Fin,39a65892-78b7-4744-b5ca-5dfe977a7aae,CASHBACK_RQ,PROMO,2024-01-11 12:49:52,2024-01-11 12:49:57,2024-01-11 12:49:52,2024-01-10 18:00:00,1969-12-31 18:00:00,AP-JOURNAL_DATE ENERO 2024.tsv,2024-01-11,12:49:57,P,2024-01-11-P-12:49:57
11323,0030bcd5-8c2e-48b2-bade-ac2a13b8a23c,56.50,MXN,promotion for cashback merchants - Buen Fin,22374719-0218-4a73-ac79-a295eee14edb,CASHBACK_RQ,PROMO,2024-01-11 12:49:09,2024-01-11 12:49:14,2024-01-11 12:49:09,2024-01-10 18:00:00,1969-12-31 18:00:00,AP-JOURNAL_DATE ENERO 2024.tsv,2024-01-11,12:49:14,P,2024-01-11-P-12:49:14
21303,005bdbd5-0b1d-4ae8-a6aa-8e1cf216573c,16.70,MXN,promotion for cashback merchants - Buen Fin,e4942602-24cd-40b0-95eb-58c4ec6e3757,CASHBACK_RQ,PROMO,2024-01-11 12:52:20,2024-01-11 12:52:25,2024-01-11 12:52:20,2024-01-10 18:00:00,1969-12-31 18:00:00,AP-JOURNAL_DATE ENERO 2024.tsv,2024-01-11,12:52:25,P,2024-01-11-P-12:52:25
27829,0071161e-9ec1-464f-9671-bd3ba91d49a9,40.21,MXN,promotion for cashback merchants - Buen Fin,aee63e75-57a7-4895-9a55-205a0943c81e,CASHBACK_RQ,PROMO,2024-01-11 12:49:51,2024-01-11 12:49:56,2024-01-11 12:49:51,2024-01-10 18:00:00,1969-12-31 18:00:00,AP-JOURNAL_DATE ENERO 2024.tsv,2024-01-11,12:49:56,P,2024-01-11-P-12:49:56
42388,00912630-e4c9-4a36-bfcb-5d18780dc87e,208.80,MXN,promotion for cashback merchants - Buen Fin,9ce9a750-bcd8-4f58-91ed-14d9c33386b4,CASHBACK_RQ,PROMO,2024-01-11 12:46:35,2024-01-11 12:46:40,2024-01-11 12:46:35,2024-01-10 18:00:00,1969-12-31 18:00:00,AP-JOURNAL_DATE ENERO 2024.tsv,2024-01-11,12:46:40,P,2024-01-11-P-12:46:40

In [93]:
ap_promo.shape

(1069, 17)

In [94]:
ap_promo_group = ap_promo.groupby(['EFF_DT_DATE','MOVEMENT_TYPE','SOURCE_TYPE']).agg({'MVNT_ID':'count',
                                                     'AMOUNT':sum}).reset_index()
ap_promo_group.head()

C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_9664\1874193761.py:1: FutureWarning: The provided callable <built-in function sum> is currently using SeriesGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  ap_promo_group = ap_promo.groupby(['EFF_DT_DATE','MOVEMENT_TYPE','SOURCE_TYPE']).agg({'MVNT_ID':'count',

  EFF_DT_DATE MOVEMENT_TYPE SOURCE_TYPE  MVNT_ID    AMOUNT
0  2024-01-11   CASHBACK_RQ       PROMO     1063 54,226.18
1  2024-01-30   CASHBACK_RQ       PROMO        6    763.33

In [95]:
ap_promo_group.shape

(2, 5)

### CAAL - AP JOURNAL

#### CAAL - QUERY

In [96]:
caal = pd.concat([pd.read_csv(f).assign(file_name=os.path.basename(f)) for f in caal_files]).reset_index(drop=True)
caal['COLLECTION_DATE_LOCAL'] =  pd.to_datetime(caal['COLLECTION_DATE_LOCAL'])
caal.head()

,COLLECTION_DATE_LOCAL,MERCHANT_TOKEN,MERCHANT_ID,LOAN_ID,COLLECTION_ID,PROVIDER_CODE,COLLECTION_ORIGIN,FUNDED_BY,SOURCE,AMOUNT,CAPITAL,INTEREST,TAX,file_name
0,2024-01-01,afee641d-2d94-447e-8890-0ac3fc1372aa,35b602b3-2d4e-4ce1-933b-f26a7f746d4b,7f2e2ce0-f9b8-4dc1-96ee-454431614da0,6c15b2b0-02d5-3b35-8282-f4e537972deb,CLIP,SETTLEMENT,CLIP,LEDGER,24.68,18.96,4.93,0.79,CAAL ENERO 2024.csv
1,2024-01-01,b7880629-3455-46b8-8c98-17305283b75e,7aed5ee2-294c-4eee-8a2e-875c4b7d760c,6582d32d-68f7-4cad-b3b0-b119acc7da6a,369331eb-8eae-3d5d-9d93-edf2d54f5e25,CLIP,SETTLEMENT,CLIP,LEDGER,7.80,5.99,1.56,0.25,CAAL ENERO 2024.csv
2,2024-01-01,fa04184a-c4a2-434c-afad-469448e71c0b,9b1593fb-f66d-413c-b3ac-3116fa45e9eb,ffa0ecc2-6e85-49c3-b9f4-60d736681c4b,ff3d7f82-4828-36ee-9a04-53599f39297d,CLIP,SETTLEMENT,CLIP,LEDGER,4.55,3.14,0.00,0.00,CAAL ENERO 2024.csv
3,2024-01-01,b15a04ab-f2bd-466d-8cef-33f864a4c492,de73e403-1a5d-489d-b4a6-0a87ccda846d,65afc672-2de5-4ede-ab25-cebb056370ee,e0609e78-41e1-3abf-9f06-812136d79aad,CLIP,SETTLEMENT,CLIP,LEDGER,23.72,21.16,0.00,0.00,CAAL ENERO 2024.csv
4,2024-01-01,d4879a3a-ddc6-4313-bd99-e0638581a6c9,fd4b8e4f-55fe-465a-945c-5f1aa2d73e40,b8fc7b2c-a368-4c02-b395-6c4c0807f808,be7363cc-fb2f-3822-aced-9a05f5dfffc1,CLIP,SETTLEMENT,CLIP,LEDGER,283.88,257.94,0.00,0.00,CAAL ENERO 2024.csv

In [97]:
caal.shape

(550597, 14)

In [98]:
caal_final = caal[(caal['COLLECTION_DATE_LOCAL'] >= start_date) & (caal['COLLECTION_DATE_LOCAL'] <= final_date)]
caal_final.head()

,COLLECTION_DATE_LOCAL,MERCHANT_TOKEN,MERCHANT_ID,LOAN_ID,COLLECTION_ID,PROVIDER_CODE,COLLECTION_ORIGIN,FUNDED_BY,SOURCE,AMOUNT,CAPITAL,INTEREST,TAX,file_name
0,2024-01-01,afee641d-2d94-447e-8890-0ac3fc1372aa,35b602b3-2d4e-4ce1-933b-f26a7f746d4b,7f2e2ce0-f9b8-4dc1-96ee-454431614da0,6c15b2b0-02d5-3b35-8282-f4e537972deb,CLIP,SETTLEMENT,CLIP,LEDGER,24.68,18.96,4.93,0.79,CAAL ENERO 2024.csv
1,2024-01-01,b7880629-3455-46b8-8c98-17305283b75e,7aed5ee2-294c-4eee-8a2e-875c4b7d760c,6582d32d-68f7-4cad-b3b0-b119acc7da6a,369331eb-8eae-3d5d-9d93-edf2d54f5e25,CLIP,SETTLEMENT,CLIP,LEDGER,7.80,5.99,1.56,0.25,CAAL ENERO 2024.csv
2,2024-01-01,fa04184a-c4a2-434c-afad-469448e71c0b,9b1593fb-f66d-413c-b3ac-3116fa45e9eb,ffa0ecc2-6e85-49c3-b9f4-60d736681c4b,ff3d7f82-4828-36ee-9a04-53599f39297d,CLIP,SETTLEMENT,CLIP,LEDGER,4.55,3.14,0.00,0.00,CAAL ENERO 2024.csv
3,2024-01-01,b15a04ab-f2bd-466d-8cef-33f864a4c492,de73e403-1a5d-489d-b4a6-0a87ccda846d,65afc672-2de5-4ede-ab25-cebb056370ee,e0609e78-41e1-3abf-9f06-812136d79aad,CLIP,SETTLEMENT,CLIP,LEDGER,23.72,21.16,0.00,0.00,CAAL ENERO 2024.csv
4,2024-01-01,d4879a3a-ddc6-4313-bd99-e0638581a6c9,fd4b8e4f-55fe-465a-945c-5f1aa2d73e40,b8fc7b2c-a368-4c02-b395-6c4c0807f808,be7363cc-fb2f-3822-aced-9a05f5dfffc1,CLIP,SETTLEMENT,CLIP,LEDGER,283.88,257.94,0.00,0.00,CAAL ENERO 2024.csv

In [99]:
caal_final.shape

(550597, 14)

In [100]:
caal_final_group = caal_final.groupby(['COLLECTION_DATE_LOCAL','PROVIDER_CODE','COLLECTION_ORIGIN','FUNDED_BY',
                                      'SOURCE']).agg({'LOAN_ID':'count','AMOUNT':sum,'CAPITAL':sum,'INTEREST':sum,
                                                      'TAX':sum}).reset_index()
caal_final_group.head()

C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_9664\2254300745.py:1: FutureWarning: The provided callable <built-in function sum> is currently using SeriesGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  caal_final_group = caal_final.groupby(['COLLECTION_DATE_LOCAL','PROVIDER_CODE','COLLECTION_ORIGIN','FUNDED_BY',

,COLLECTION_DATE_LOCAL,PROVIDER_CODE,COLLECTION_ORIGIN,FUNDED_BY,SOURCE,LOAN_ID,AMOUNT,CAPITAL,INTEREST,TAX
0,2024-01-01,CLIP,SETTLEMENT,CLIP,LEDGER,5851,"299,291.40","228,643.21","42,109.10","6,737.24"
1,2024-01-02,CLIP,SETTLEMENT,CLIP,LEDGER,11957,"665,866.92","504,711.91","94,667.97","15,146.98"
2,2024-01-03,CLIP,SETTLEMENT,CLIP,LEDGER,13882,"771,325.88","586,811.91","103,266.38","16,521.95"
3,2024-01-04,CLIP,SETTLEMENT,CLIP,LEDGER,15712,"873,603.58","661,812.06","111,803.61","17,888.67"
4,2024-01-05,CLIP,SETTLEMENT,CLIP,LEDGER,18178,"1,046,865.36","791,200.72","127,825.32","20,451.76"

In [101]:
caal_final_group.shape

(31, 10)

#### AP JOURNAL

In [102]:
# ap_caal.rename(columns ={'AMOUNT':'LOAN_AMOUNT'},inplace=True)
# ap_caal['LOAN_ID'] = ap_caal['MVNT_ID']
ap_caal.head()

,MERCHANT_ID,AMOUNT,CURRENCY,TYPE_REQUEST,MVNT_ID,MOVEMENT_TYPE,SOURCE_TYPE,CREATED_AT,EFF_DT,MOVEMENT_DAY,REQUEST_EFFECTIVE_DATE,SLOT_DATE,file_name,EFF_DT_DATE,EFF_DT_TIME,IDENTIFIER,INDEX
8908,00289512-dcb7-4e46-98aa-96b287f6c234,"2,200.00",MXN,lender request,3d7d00da-d33b-33be-a9e5-90cd3975ecc8,LENDER_RQ,CAAL,2024-01-16 10:25:00,2024-01-16 10:25:05,2024-01-16 10:25:00,2024-01-16 10:25:00,1969-12-31 18:00:00,AP-JOURNAL_DATE ENERO 2024.tsv,2024-01-16,10:25:05,C,2024-01-16-C-10:25:05
33858,00844a5d-2a69-4e53-82bb-b9a7f0052645,"7,000.00",MXN,lender request,437c3298-45e3-311b-a360-f8b6b38b6b22,LENDER_RQ,CAAL,2024-01-25 12:03:50,2024-01-25 12:03:55,2024-01-25 12:03:50,2024-01-25 12:03:50,1969-12-31 18:00:00,AP-JOURNAL_DATE ENERO 2024.tsv,2024-01-25,12:03:55,C,2024-01-25-C-12:03:55
40357,00895e24-5e17-4031-9c28-58a2f4072168,"24,000.00",MXN,lender request,6266a30b-815e-3fe3-a568-e36742ab034c,LENDER_RQ,CAAL,2024-01-08 14:40:40,2024-01-08 14:40:45,2024-01-08 14:40:40,2024-01-08 14:40:40,1969-12-31 18:00:00,AP-JOURNAL_DATE ENERO 2024.tsv,2024-01-08,14:40:45,C,2024-01-08-C-14:40:45
59892,00be0bb1-de18-4f21-b152-060d459e285b,"6,400.00",MXN,lender request,f24d6bbc-7583-3b27-a76a-0e508934e23c,LENDER_RQ,CAAL,2024-01-23 09:54:03,2024-01-23 09:54:08,2024-01-23 09:54:00,2024-01-23 09:54:00,1969-12-31 18:00:00,AP-JOURNAL_DATE ENERO 2024.tsv,2024-01-23,09:54:08,C,2024-01-23-C-09:54:08
78089,0102ae6d-475e-4d06-8dd7-9b3f9fa4c57b,"1,500.00",MXN,lender request,75954de4-139e-3db1-a83c-f7c09aad117e,LENDER_RQ,CAAL,2024-01-10 04:21:30,2024-01-10 04:21:35,2024-01-10 04:21:30,2024-01-10 04:21:30,1969-12-31 18:00:00,AP-JOURNAL_DATE ENERO 2024.tsv,2024-01-10,04:21:35,C,2024-01-10-C-04:21:35

In [103]:
ap_caal.shape

(2142, 17)

In [104]:
ap_caal_group = ap_caal.groupby(['EFF_DT_DATE','MOVEMENT_TYPE','SOURCE_TYPE']).agg({'MVNT_ID':'count',
                                                     'AMOUNT':sum}).reset_index()
ap_caal_group.head()

C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_9664\1838182710.py:1: FutureWarning: The provided callable <built-in function sum> is currently using SeriesGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  ap_caal_group = ap_caal.groupby(['EFF_DT_DATE','MOVEMENT_TYPE','SOURCE_TYPE']).agg({'MVNT_ID':'count',

  EFF_DT_DATE     MOVEMENT_TYPE SOURCE_TYPE  MVNT_ID       AMOUNT
0  2024-01-01         LENDER_RQ        CAAL        9   864,200.00
1  2024-01-02         LENDER_RQ        CAAL      317 5,848,900.00
2  2024-01-02  RETURN_LENDER_RQ        CAAL        1   -38,200.00
3  2024-01-03         LENDER_RQ        CAAL      133 3,199,100.00
4  2024-01-04         LENDER_RQ        CAAL       93 1,888,800.00

In [105]:
ap_caal_group.shape

(42, 5)

### FEE_REFUNDS

In [106]:
ap_fee_refunds.head()

,MERCHANT_ID,AMOUNT,CURRENCY,TYPE_REQUEST,MVNT_ID,MOVEMENT_TYPE,SOURCE_TYPE,CREATED_AT,EFF_DT,MOVEMENT_DAY,REQUEST_EFFECTIVE_DATE,SLOT_DATE,file_name,EFF_DT_DATE,EFF_DT_TIME,IDENTIFIER,INDEX
3103821,27310f6e-cd2e-40d7-8500-abf5715b5669,5.80,MXN,Devolucion de comisiones,0c833d81-65fd-4f64-8ee6-155a7d60718c,CASHBACK_RQ,FEE_REFUNDS,2024-01-29 15:13:05,2024-01-29 15:13:10,2024-01-29 15:13:05,2024-01-29 15:13:05,1969-12-31 18:00:00,AP-JOURNAL_DATE ENERO 2024.tsv,2024-01-29,15:13:10,F,2024-01-29-F-15:13:10
3103819,27310f6e-cd2e-40d7-8500-abf5715b5669,0.90,MXN,Devolucion de comisiones,d326e41d-6ceb-42cc-a2cc-9498688c9c4a,CASHBACK_RQ,FEE_REFUNDS,2024-01-29 11:12:58,2024-01-29 11:13:03,2024-01-29 11:12:58,2024-01-29 11:12:58,1969-12-31 18:00:00,AP-JOURNAL_DATE ENERO 2024.tsv,2024-01-29,11:13:03,F,2024-01-29-F-11:13:03
3103817,27310f6e-cd2e-40d7-8500-abf5715b5669,0.60,MXN,Devolucion de comisiones,0eb87b0d-8ed6-408d-a81c-1ea264cf5b05,CASHBACK_RQ,FEE_REFUNDS,2024-01-29 11:11:48,2024-01-29 11:11:53,2024-01-29 11:11:48,2024-01-29 11:11:48,1969-12-31 18:00:00,AP-JOURNAL_DATE ENERO 2024.tsv,2024-01-29,11:11:53,F,2024-01-29-F-11:11:53
3103814,27310f6e-cd2e-40d7-8500-abf5715b5669,0.42,MXN,Devolucion de comisiones,83b82542-898a-4339-8d8b-ff2c5376fb2e,CASHBACK_RQ,FEE_REFUNDS,2024-01-17 09:30:08,2024-01-17 09:30:13,2024-01-17 09:30:07,2024-01-17 09:30:07,1969-12-31 18:00:00,AP-JOURNAL_DATE ENERO 2024.tsv,2024-01-17,09:30:13,F,2024-01-17-F-09:30:13
5495291,46730f7c-e342-4806-b581-7cd1982ac4ad,0.17,MXN,Devolucion de comisiones,9c720419-b16d-4c43-92d2-9e6fc7ca7c19,CASHBACK_RQ,FEE_REFUNDS,2024-01-29 12:40:33,2024-01-29 12:40:38,2024-01-29 12:40:33,2024-01-29 12:40:33,1969-12-31 18:00:00,AP-JOURNAL_DATE ENERO 2024.tsv,2024-01-29,12:40:38,F,2024-01-29-F-12:40:38

In [107]:
ap_fee_refunds.shape

(23, 17)

In [108]:
ap_fee_refunds_group = ap_fee_refunds.groupby(['EFF_DT_DATE','MOVEMENT_TYPE','SOURCE_TYPE']).agg({'MVNT_ID':'count',
                                                     'AMOUNT':sum}).reset_index()
ap_fee_refunds_group.head()

C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_9664\61253389.py:1: FutureWarning: The provided callable <built-in function sum> is currently using SeriesGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  ap_fee_refunds_group = ap_fee_refunds.groupby(['EFF_DT_DATE','MOVEMENT_TYPE','SOURCE_TYPE']).agg({'MVNT_ID':'count',

  EFF_DT_DATE MOVEMENT_TYPE  SOURCE_TYPE  MVNT_ID  AMOUNT
0  2024-01-17   CASHBACK_RQ  FEE_REFUNDS        3    1.08
1  2024-01-24   CASHBACK_RQ  FEE_REFUNDS        3    1.38
2  2024-01-26   CASHBACK_RQ  FEE_REFUNDS        4    0.23
3  2024-01-29   CASHBACK_RQ  FEE_REFUNDS        8    8.10
4  2024-01-31   CASHBACK_RQ  FEE_REFUNDS        5    0.15

In [109]:
ap_fee_refunds_group.shape

(5, 5)

In [110]:
sorted(list(ap['SOURCE_TYPE'].unique()))

['BILL_PYMNT',
 'CAAL',
 'DATA',
 'DIG_ACC',
 'DISB',
 'FEE_REFUNDS',
 'LOAN',
 'PROMO',
 'PYMT',
 'REFUNDS',
 'RISK',
 'SETT',
 'TAXES',
 'TOPUPS']

### DIGITAL ACCOUNTS

In [111]:
ap_dig_acc.head()

,MERCHANT_ID,AMOUNT,CURRENCY,TYPE_REQUEST,MVNT_ID,MOVEMENT_TYPE,SOURCE_TYPE,CREATED_AT,EFF_DT,MOVEMENT_DAY,REQUEST_EFFECTIVE_DATE,SLOT_DATE,file_name,EFF_DT_DATE,EFF_DT_TIME,IDENTIFIER,INDEX
20929,00582129-7c7d-46b0-b36c-f1a70e2daeb7,0.01,MXN,CLIP CUENTA REGISTRADA,c8115df9-794d-42a5-b616-03709a09dcd9,DWN_PAYMENT_DA_RQ,DIG_ACC,2024-01-17 20:04:24,2024-01-17 20:04:29,2024-01-17 20:04:23,2024-01-17 20:04:23,1969-12-31 18:00:00,AP-JOURNAL_DATE ENERO 2024.tsv,2024-01-17,20:04:29,D,2024-01-17-D-20:04:29
63654,00cae684-a15a-4fe7-a5aa-50bd3cd9882b,-122.65,MXN,Venta 29 Ene,975760ae-5f15-4429-b238-91d89178ebed,PYMNT_DA_RQ,DIG_ACC,2024-01-29 17:54:45,2024-01-29 17:54:50,2024-01-29 17:54:37,2024-01-29 17:54:44,1969-12-31 18:00:00,AP-JOURNAL_DATE ENERO 2024.tsv,2024-01-29,17:54:50,D,2024-01-29-D-17:54:50
63652,00cae684-a15a-4fe7-a5aa-50bd3cd9882b,-9.58,MXN,prueba,6adec0ae-92f3-4cda-bd3f-415c949042a8,PYMNT_DA_RQ,DIG_ACC,2024-01-24 12:13:09,2024-01-24 12:13:14,2024-01-24 12:13:01,2024-01-24 12:13:08,1969-12-31 18:00:00,AP-JOURNAL_DATE ENERO 2024.tsv,2024-01-24,12:13:14,D,2024-01-24-D-12:13:14
81082,010fdc3c-9e3a-456d-b9af-5f177d4bbbc4,"-2,663.00",MXN,vales,caea7781-30a0-4d6f-9687-dac4d8f98801,PYMNT_DA_RQ,DIG_ACC,2024-01-30 11:34:02,2024-01-30 11:34:07,2024-01-30 11:33:52,2024-01-30 11:34:01,1969-12-31 18:00:00,AP-JOURNAL_DATE ENERO 2024.tsv,2024-01-30,11:34:07,D,2024-01-30-D-11:34:07
81081,010fdc3c-9e3a-456d-b9af-5f177d4bbbc4,"2,683.07",MXN,AJQ4S952Z GANANCIAS CLIP,6036629e-f24b-4600-95c9-206aa6b0cf14,DWN_PAYMENT_DA_RQ,DIG_ACC,2024-01-30 09:03:13,2024-01-30 09:03:18,2024-01-30 09:03:12,2024-01-30 09:03:12,1969-12-31 18:00:00,AP-JOURNAL_DATE ENERO 2024.tsv,2024-01-30,09:03:18,D,2024-01-30-D-09:03:18

In [112]:
ap_dig_acc.shape

(3851, 17)

In [113]:
ap_dig_acc_group = ap_dig_acc.groupby(['EFF_DT_DATE','MOVEMENT_TYPE','SOURCE_TYPE']).agg({'MVNT_ID':'count',
                                                     'AMOUNT':sum}).reset_index()
ap_dig_acc_group.head()

C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_9664\2704696007.py:1: FutureWarning: The provided callable <built-in function sum> is currently using SeriesGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  ap_dig_acc_group = ap_dig_acc.groupby(['EFF_DT_DATE','MOVEMENT_TYPE','SOURCE_TYPE']).agg({'MVNT_ID':'count',

  EFF_DT_DATE      MOVEMENT_TYPE SOURCE_TYPE  MVNT_ID     AMOUNT
0  2024-01-01  DWN_PAYMENT_DA_RQ     DIG_ACC       38  47,980.91
1  2024-01-01        PYMNT_DA_RQ     DIG_ACC       20 -14,423.54
2  2024-01-02  DWN_PAYMENT_DA_RQ     DIG_ACC       36  46,456.06
3  2024-01-02        PYMNT_DA_RQ     DIG_ACC       27 -75,473.05
4  2024-01-03  DWN_PAYMENT_DA_RQ     DIG_ACC       37  43,860.65

In [114]:
ap_dig_acc_group.shape

(62, 5)

### DATA

In [115]:
ap_data.head()

,MERCHANT_ID,AMOUNT,CURRENCY,TYPE_REQUEST,MVNT_ID,MOVEMENT_TYPE,SOURCE_TYPE,CREATED_AT,EFF_DT,MOVEMENT_DAY,REQUEST_EFFECTIVE_DATE,SLOT_DATE,file_name,EFF_DT_DATE,EFF_DT_TIME,IDENTIFIER,INDEX
6846253,57fa79e1-891c-4754-b7ff-ca83a1a50986,"378,692.04",MXN,funding account from S3 payload file request,774377f7-abe4-5452-bf8e-fac594c17936,FUNDING_RQ,DATA,2024-01-31 05:12:23,2024-01-31 05:12:28,2024-01-31 05:11:41,2024-01-31 05:11:41,1969-12-31 18:00:00,AP-JOURNAL_DATE ENERO 2024.tsv,2024-01-31,05:12:28,D,2024-01-31-D-05:12:28
6846251,57fa79e1-891c-4754-b7ff-ca83a1a50986,"153,212.86",MXN,funding account from S3 payload file request,b98fdc1a-f036-5a21-a8b8-0a45690747c6,FUNDING_RQ,DATA,2024-01-30 05:10:24,2024-01-30 05:10:29,2024-01-30 05:10:00,2024-01-30 05:10:00,1969-12-31 18:00:00,AP-JOURNAL_DATE ENERO 2024.tsv,2024-01-30,05:10:29,D,2024-01-30-D-05:10:29
6846249,57fa79e1-891c-4754-b7ff-ca83a1a50986,"201,703.18",MXN,funding account from S3 payload file request,b6027268-2327-5f32-a9d8-ae7573a71c41,FUNDING_RQ,DATA,2024-01-29 05:10:43,2024-01-29 05:10:48,2024-01-29 05:10:22,2024-01-29 05:10:22,1969-12-31 18:00:00,AP-JOURNAL_DATE ENERO 2024.tsv,2024-01-29,05:10:48,D,2024-01-29-D-05:10:48
6846247,57fa79e1-891c-4754-b7ff-ca83a1a50986,"172,528.28",MXN,funding account from S3 payload file request,5bad1ec4-0cfa-5096-a50e-5021813d3524,FUNDING_RQ,DATA,2024-01-28 05:11:12,2024-01-28 05:11:17,2024-01-28 05:10:32,2024-01-28 05:10:32,1969-12-31 18:00:00,AP-JOURNAL_DATE ENERO 2024.tsv,2024-01-28,05:11:17,D,2024-01-28-D-05:11:17
6846245,57fa79e1-891c-4754-b7ff-ca83a1a50986,"197,717.07",MXN,funding account from S3 payload file request,12dd1fc9-e73b-5fef-a69f-3e2b8cbbed6a,FUNDING_RQ,DATA,2024-01-27 05:10:15,2024-01-27 05:10:20,2024-01-27 05:09:51,2024-01-27 05:09:51,1969-12-31 18:00:00,AP-JOURNAL_DATE ENERO 2024.tsv,2024-01-27,05:10:20,D,2024-01-27-D-05:10:20

In [116]:
ap_data.shape

(50, 17)

In [117]:
ap_data_group = ap_data.groupby(['EFF_DT_DATE','MOVEMENT_TYPE','SOURCE_TYPE']).agg({'MVNT_ID':'count',
                                                     'AMOUNT':sum}).reset_index()
ap_data_group.head()

C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_9664\1253424330.py:1: FutureWarning: The provided callable <built-in function sum> is currently using SeriesGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  ap_data_group = ap_data.groupby(['EFF_DT_DATE','MOVEMENT_TYPE','SOURCE_TYPE']).agg({'MVNT_ID':'count',

  EFF_DT_DATE MOVEMENT_TYPE SOURCE_TYPE  MVNT_ID    AMOUNT
0  2024-01-01    FUNDING_RQ        DATA        1 49,839.31
1  2024-01-02    FUNDING_RQ        DATA        1  6,581.42
2  2024-01-03    FUNDING_RQ        DATA        2  4,809.67
3  2024-01-04    FUNDING_RQ        DATA        1 16,424.19
4  2024-01-05    FUNDING_RQ        DATA        1 24,491.95

In [118]:
ap_data_group.shape

(31, 5)

# EXCEL PIVOT DYNAMO

In [119]:
writer = pd.ExcelWriter('AGRUPACION-FECHA DYNAMO ENERO 2024.xlsx',
                        engine='xlsxwriter',
                        engine_kwargs={'options': {'encoding':'utf-8'}})
ap_bill_pymnt_group.to_excel(writer, sheet_name='BILL_PYMNT',index=False)
ap_bill_pymnt_fees_taxes_group.to_excel(writer, sheet_name='BILL_PYMNT_FEES_TAXES',index=False)
ap_caal_group.to_excel(writer, sheet_name='CAAL - AP_JOURNAL',index=False)
caal_final_group.to_excel(writer, sheet_name='CAAL - REGISTRO CONTABLE',index=False)
ap_data_group.to_excel(writer, sheet_name='DATA',index=False)
ap_dig_acc_group.to_excel(writer, sheet_name='DIG_ACC',index=False)
ap_disb_group.to_excel(writer, sheet_name='DISB',index=False)
ap_fee_refunds_group.to_excel(writer, sheet_name='FEE_REFUNDS',index=False)
ap_loan_group.to_excel(writer, sheet_name='LOANS',index=False)
ap_promo_group.to_excel(writer, sheet_name='PROMO',index=False)
cruce_3_group.to_excel(writer, sheet_name='PYMT',index=False)
ap_refunds_group.to_excel(writer, sheet_name='REFUNDS',index=False)
ap_refunds_fees_taxes_group.to_excel(writer, sheet_name='REFUNDS_FEES_TAXES',index=False)
ap_risk_group.to_excel(writer, sheet_name='RISK')
ap_risk_final_group.to_excel(writer, sheet_name='RISK_TIPO_PAGO')
cruce_1_group.to_excel(writer, sheet_name='SETT',index=False)
ap_sett_adptr_group.to_excel(writer, sheet_name='SETT_ADPTR',index=False)
ap_taxes_group.to_excel(writer, sheet_name='TAXES',index=False)
ap_topups_group.to_excel(writer, sheet_name='TOPUPS',index=False)
writer.close()

In [120]:
writer = pd.ExcelWriter('AP-JOURNAL DYNAMO ENERO 2024.xlsx',
                        engine='xlsxwriter',
                        engine_kwargs={'options': {'encoding':'utf-8'}})
ap_bill_pymnt.to_excel(writer, sheet_name='BILL_PYMNT',index=False)
ap_bill_pymnt_fees_taxes.to_excel(writer, sheet_name='BILL_PYMNT_FEES_TAXES',index=False)
ap_caal.to_excel(writer, sheet_name='CAAL - AP_JOURNAL',index=False)
caal_final.to_excel(writer, sheet_name='CAAL - REGISTRO CONTABLE',index=False)
ap_data.to_excel(writer, sheet_name='DATA',index=False)
ap_dig_acc.to_excel(writer, sheet_name='DIG_ACC',index=False)
#ap_disb.to_excel(writer, sheet_name='DISB',index=False)
ap_fee_refunds.to_excel(writer, sheet_name='FEE_REFUNDS',index=False)
ap_loan_1.to_excel(writer, sheet_name='LOANS-1',index=False)
ap_loan_2.to_excel(writer, sheet_name='LOANS-2',index=False)
ap_promo.to_excel(writer, sheet_name='PROMO',index=False)
#cruce_3_group.to_excel(writer, sheet_name='PYMT',index=False)
ap_refunds.to_excel(writer, sheet_name='REFUNDS',index=False)
ap_refunds_fees_taxes.to_excel(writer, sheet_name='REFUNDS_FEES_TAXES',index=False)
ap_risk.to_excel(writer, sheet_name='RISK',index=False)
ap_risk_final.to_excel(writer, sheet_name='RISK_TIPO_PAGO',index=False)
#cruce_1_group.to_excel(writer, sheet_name='SETT',index=False)
ap_sett_adptr.to_excel(writer, sheet_name='SETT_ADPTR',index=False)
ap_taxes.to_excel(writer, sheet_name='TAXES',index=False)
ap_topups.to_excel(writer, sheet_name='TOPUPS',index=False)
writer.close()

In [121]:
writer = pd.ExcelWriter('DYNAMO NOT FOUND ENERO 2024.xlsx',
                        engine='xlsxwriter',
                        engine_kwargs={'options': {'encoding':'utf-8'}})
cruce_1_not_found.to_excel(writer, sheet_name='NOT_FOUND_SETTLED',index=False)
cruce_3_not_found.to_excel(writer, sheet_name='NOT_FOUND_PAYMENT',index=False)
writer.close()

# EXCEL DETALLE DYNAMO

In [ ]:
# writer = pd.ExcelWriter('DETALLE DYNAMO MARZO 2023.xlsx',
#                         engine='xlsxwriter',
#                         engine_kwargs={'options': {'encoding':'utf-8'}})
# cruce_1_range.to_excel(writer, sheet_name='SETT_1',index=False)
# cruce_2_range.to_excel(writer, sheet_name='SETT_2',index=False)
# cruce_3_range.to_excel(writer, sheet_name='SETT_3',index=False)
# ap_topups.to_excel(writer, sheet_name='TOPUPS',index=False)
# ap_disb.to_excel(writer, sheet_name='DISB',index=False)
# ap_loan.to_excel(writer, sheet_name='LOANS',index=False)
# cruce_2.to_excel(writer, sheet_name='PYMT',index=False)
# ap_risk.to_excel(writer, sheet_name='RISK',index=False)
# writer.close()

# EXCEL AP-JOURNAL

In [ ]:
# writer = pd.ExcelWriter('DETALLE AP-JOURNAL MARZO 2023.xlsx',
#                         engine='xlsxwriter',
#                         engine_kwargs={'options': {'encoding':'utf-8'}})
# ap_range_1.to_excel(writer, sheet_name='2023.03.01 - 2023.03.10',index=False)
# ap_range_2.to_excel(writer, sheet_name='2023.03.11 - 2023.03.20',index=False)
# ap_range_3.to_excel(writer, sheet_name='2023.03.21 - 2023.03.30',index=False)
# ap_range_4.to_excel(writer, sheet_name='2023.03.31',index=False)
# writer.close()