In [1]:
import pandas as pd
import numpy as np
from openpyxl import load_workbook
import glob
import os
pd.options.display.float_format = '{:,.2f}'.format

### MES ACTUAL

In [2]:
start_date_fact = '2022-12-01'
# final_date_mes = '2020-10-26'

In [3]:
allfiles_fact = glob.glob(r'C:\Users\Cristian.Aparicio\Documents\DISPERSIONES\2022\12. DICIEMBRE\QUERIES\*.csv', recursive=False)
allfiles_fact

['C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\12. DICIEMBRE\\QUERIES\\SETTLEMENT 2022-12-01.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\12. DICIEMBRE\\QUERIES\\SETTLEMENT 2022-12-02.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\12. DICIEMBRE\\QUERIES\\SETTLEMENT 2022-12-03.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\12. DICIEMBRE\\QUERIES\\SETTLEMENT 2022-12-04.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\12. DICIEMBRE\\QUERIES\\SETTLEMENT 2022-12-05.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\12. DICIEMBRE\\QUERIES\\SETTLEMENT 2022-12-06.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\12. DICIEMBRE\\QUERIES\\SETTLEMENT 2022-12-07.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\12. DICIEMBRE\\QUERIES\\SETTLEMENT 2022-12-08.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\12. DICIEMBRE\\QUERIES\\SETTLEMENT 2022-12-09.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\12. DICIEMBRE\\QUERIES\\SETTLEMENT 2022-12-10.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\12. DICIEMBRE\\QUERIES\\SETTLEMENT 2022-12-11.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\12. DICIEMBRE\\QUERIES\\SETTLEMENT 2022-12-12.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\12. DICIEMBRE\\QUERIES\\SETTLEMENT 2022-12-13.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\12. DICIEMBRE\\QUERIES\\SETTLEMENT 2022-12-14.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\12. DICIEMBRE\\QUERIES\\SETTLEMENT 2022-12-15.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\12. DICIEMBRE\\QUERIES\\SETTLEMENT 2022-12-16.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\12. DICIEMBRE\\QUERIES\\SETTLEMENT 2022-12-17.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\12. DICIEMBRE\\QUERIES\\SETTLEMENT 2022-12-18.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\12. DICIEMBRE\\QUERIES\\SETTLEMENT 2022-12-19.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\12. DICIEMBRE\\QUERIES\\SETTLEMENT 2022-12-20.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\12. DICIEMBRE\\QUERIES\\SETTLEMENT 2022-12-21.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\12. DICIEMBRE\\QUERIES\\SETTLEMENT 2022-12-22.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\12. DICIEMBRE\\QUERIES\\SETTLEMENT 2022-12-23.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\12. DICIEMBRE\\QUERIES\\SETTLEMENT 2022-12-24.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\12. DICIEMBRE\\QUERIES\\SETTLEMENT 2022-12-25.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\12. DICIEMBRE\\QUERIES\\SETTLEMENT 2022-12-26.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\12. DICIEMBRE\\QUERIES\\SETTLEMENT 2022-12-27.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\12. DICIEMBRE\\QUERIES\\SETTLEMENT 2022-12-28.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\12. DICIEMBRE\\QUERIES\\SETTLEMENT 2022-12-29.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\12. DICIEMBRE\\QUERIES\\SETTLEMENT 2022-12-30.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\12. DICIEMBRE\\QUERIES\\SETTLEMENT 2022-12-31.csv']

In [4]:
fact_current_month = pd.concat([pd.read_csv(f).assign(file_name=os.path.basename(f)) for f in allfiles_fact])
fact_current_month['Date'] = fact_current_month["file_name"].str[-14:-4]
fact_current_month['Date']= pd.to_datetime(fact_current_month['Date'])
fact_current_month['total_transactions'] = fact_current_month['total_transactions'].astype(float)
fact_current_month.head()

C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_16688\3093704898.py:1: DtypeWarning: Columns (18) have mixed types. Specify dtype option on import or set low_memory=False.
  fact_current_month = pd.concat([pd.read_csv(f).assign(file_name=os.path.basename(f)) for f in allfiles_fact])
C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_16688\3093704898.py:1: DtypeWarning: Columns (18) have mixed types. Specify dtype option on import or set low_memory=False.
  fact_current_month = pd.concat([pd.read_csv(f).assign(file_name=os.path.basename(f)) for f in allfiles_fact])
C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_16688\3093704898.py:1: DtypeWarning: Columns (18) have mixed types. Specify dtype option on import or set low_memory=False.
  fact_current_month = pd.concat([pd.read_csv(f).assign(file_name=os.path.basename(f)) for f in allfiles_fact])
C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_16688\3093704898.py:1: DtypeWarning: Columns (18) have mixed types. Specify dtype option on import or set low_memory=False.
  fact_current_month = pd.concat([pd.read_csv(f).assign(file_name=os.path.basename(f)) for f in allfiles_fact])
C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_16688\3093704898.py:1: DtypeWarning: Columns (18) have mixed types. Specify dtype option on import or set low_memory=False.
  fact_current_month = pd.concat([pd.read_csv(f).assign(file_name=os.path.basename(f)) for f in allfiles_fact])
C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_16688\3093704898.py:1: DtypeWarning: Columns (18) have mixed types. Specify dtype option on import or set low_memory=False.
  fact_current_month = pd.concat([pd.read_csv(f).assign(file_name=os.path.basename(f)) for f in allfiles_fact])
C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_16688\3093704898.py:1: DtypeWarning: Columns (18) have mixed types. Specify dtype option on import or set low_memory=False.
  fact_current_month = pd.concat([pd.read_csv(f).assign(file_name=os.path.basename(f)) for f in allfiles_fact])

,merchant_id,merchant_name,user_email,report_id,report_date_local,total_transactions,total_fees_charged,total_taxes,applied_fees_benefits,applied_taxes_benefits,...,total_retained,tipopago,total_due,type,created_date,created_time,updated_date,updated_time,file_name,Date
0,1b103437-7cd3-4774-817f-d68bfc6ebb05,FRUTAS Y VERDURAS DE LA ESQUINA,juanluis1890@icloud.com,Y46DFXQNS,2022-12-01,155.65,5.61,0.90,0.00,0.00,...,0.00,NaN,149.14,DAILY,2022-12-01,02:00:30,2022-12-01,02:00:30,SETTLEMENT 2022-12-01.csv,2022-12-01
1,682fa1f6-5459-420e-8f2a-ad3f52306ef6,CONSULTORIO,katun7@gmail.com,57MPWP22S,2022-12-01,"1,400.00",50.40,8.06,0.00,0.00,...,0.00,NaN,"1,341.54",DAILY,2022-12-01,02:00:31,2022-12-01,02:00:31,SETTLEMENT 2022-12-01.csv,2022-12-01
2,b753f531-bf73-421d-9b78-8b50491dbe14,TAXI ACUATICO,luismiguelgonzalezvirgen4@gmail.com,97RHCS4Y8,2022-12-01,"1,500.00",54.00,8.64,0.00,0.00,...,0.00,NaN,"1,437.36",DAILY,2022-12-01,02:00:31,2022-12-01,02:00:31,SETTLEMENT 2022-12-01.csv,2022-12-01
3,d8bc09a9-52e8-4160-994c-8e302b3c52a2,TUCANDELABAR,Jai-mehdez@hotmail.com,DL8PLM5JB,2022-12-01,"4,509.00",162.32,25.97,0.00,0.00,...,0.00,NaN,"4,320.71",DAILY,2022-12-01,02:00:31,2022-12-01,02:00:31,SETTLEMENT 2022-12-01.csv,2022-12-01
4,b5e67fd0-9cf2-4cb3-9e91-e7cd51242f3a,LES AMIGOS,les3amigosplayadelcarmen@gmail.com,HWVC6WN8F,2022-12-01,"1,943.00",69.95,11.19,0.00,0.00,...,0.00,NaN,"1,861.86",DAILY,2022-12-01,02:00:31,2022-12-01,02:00:31,SETTLEMENT 2022-12-01.csv,2022-12-01

In [5]:
fact_current_month.shape

(2876286, 27)

In [6]:
fact_current_month_final = fact_current_month[(fact_current_month['Date'] >= start_date_fact)]
fact_current_month_final.head()

,merchant_id,merchant_name,user_email,report_id,report_date_local,total_transactions,total_fees_charged,total_taxes,applied_fees_benefits,applied_taxes_benefits,...,total_retained,tipopago,total_due,type,created_date,created_time,updated_date,updated_time,file_name,Date
0,1b103437-7cd3-4774-817f-d68bfc6ebb05,FRUTAS Y VERDURAS DE LA ESQUINA,juanluis1890@icloud.com,Y46DFXQNS,2022-12-01,155.65,5.61,0.90,0.00,0.00,...,0.00,NaN,149.14,DAILY,2022-12-01,02:00:30,2022-12-01,02:00:30,SETTLEMENT 2022-12-01.csv,2022-12-01
1,682fa1f6-5459-420e-8f2a-ad3f52306ef6,CONSULTORIO,katun7@gmail.com,57MPWP22S,2022-12-01,"1,400.00",50.40,8.06,0.00,0.00,...,0.00,NaN,"1,341.54",DAILY,2022-12-01,02:00:31,2022-12-01,02:00:31,SETTLEMENT 2022-12-01.csv,2022-12-01
2,b753f531-bf73-421d-9b78-8b50491dbe14,TAXI ACUATICO,luismiguelgonzalezvirgen4@gmail.com,97RHCS4Y8,2022-12-01,"1,500.00",54.00,8.64,0.00,0.00,...,0.00,NaN,"1,437.36",DAILY,2022-12-01,02:00:31,2022-12-01,02:00:31,SETTLEMENT 2022-12-01.csv,2022-12-01
3,d8bc09a9-52e8-4160-994c-8e302b3c52a2,TUCANDELABAR,Jai-mehdez@hotmail.com,DL8PLM5JB,2022-12-01,"4,509.00",162.32,25.97,0.00,0.00,...,0.00,NaN,"4,320.71",DAILY,2022-12-01,02:00:31,2022-12-01,02:00:31,SETTLEMENT 2022-12-01.csv,2022-12-01
4,b5e67fd0-9cf2-4cb3-9e91-e7cd51242f3a,LES AMIGOS,les3amigosplayadelcarmen@gmail.com,HWVC6WN8F,2022-12-01,"1,943.00",69.95,11.19,0.00,0.00,...,0.00,NaN,"1,861.86",DAILY,2022-12-01,02:00:31,2022-12-01,02:00:31,SETTLEMENT 2022-12-01.csv,2022-12-01

In [7]:
fact_current_month_final.shape

(2876286, 27)

In [8]:
fact_antes_cupones = pd.concat([fact_current_month_final])
fact_antes_cupones.head()

,merchant_id,merchant_name,user_email,report_id,report_date_local,total_transactions,total_fees_charged,total_taxes,applied_fees_benefits,applied_taxes_benefits,...,total_retained,tipopago,total_due,type,created_date,created_time,updated_date,updated_time,file_name,Date
0,1b103437-7cd3-4774-817f-d68bfc6ebb05,FRUTAS Y VERDURAS DE LA ESQUINA,juanluis1890@icloud.com,Y46DFXQNS,2022-12-01,155.65,5.61,0.90,0.00,0.00,...,0.00,NaN,149.14,DAILY,2022-12-01,02:00:30,2022-12-01,02:00:30,SETTLEMENT 2022-12-01.csv,2022-12-01
1,682fa1f6-5459-420e-8f2a-ad3f52306ef6,CONSULTORIO,katun7@gmail.com,57MPWP22S,2022-12-01,"1,400.00",50.40,8.06,0.00,0.00,...,0.00,NaN,"1,341.54",DAILY,2022-12-01,02:00:31,2022-12-01,02:00:31,SETTLEMENT 2022-12-01.csv,2022-12-01
2,b753f531-bf73-421d-9b78-8b50491dbe14,TAXI ACUATICO,luismiguelgonzalezvirgen4@gmail.com,97RHCS4Y8,2022-12-01,"1,500.00",54.00,8.64,0.00,0.00,...,0.00,NaN,"1,437.36",DAILY,2022-12-01,02:00:31,2022-12-01,02:00:31,SETTLEMENT 2022-12-01.csv,2022-12-01
3,d8bc09a9-52e8-4160-994c-8e302b3c52a2,TUCANDELABAR,Jai-mehdez@hotmail.com,DL8PLM5JB,2022-12-01,"4,509.00",162.32,25.97,0.00,0.00,...,0.00,NaN,"4,320.71",DAILY,2022-12-01,02:00:31,2022-12-01,02:00:31,SETTLEMENT 2022-12-01.csv,2022-12-01
4,b5e67fd0-9cf2-4cb3-9e91-e7cd51242f3a,LES AMIGOS,les3amigosplayadelcarmen@gmail.com,HWVC6WN8F,2022-12-01,"1,943.00",69.95,11.19,0.00,0.00,...,0.00,NaN,"1,861.86",DAILY,2022-12-01,02:00:31,2022-12-01,02:00:31,SETTLEMENT 2022-12-01.csv,2022-12-01

In [9]:
fact_antes_cupones.shape

(2876286, 27)

In [10]:
fact_antes_cupones['Date'].unique()

array(['2022-12-01T00:00:00.000000000', '2022-12-02T00:00:00.000000000',
       '2022-12-03T00:00:00.000000000', '2022-12-04T00:00:00.000000000',
       '2022-12-05T00:00:00.000000000', '2022-12-06T00:00:00.000000000',
       '2022-12-07T00:00:00.000000000', '2022-12-08T00:00:00.000000000',
       '2022-12-09T00:00:00.000000000', '2022-12-10T00:00:00.000000000',
       '2022-12-11T00:00:00.000000000', '2022-12-12T00:00:00.000000000',
       '2022-12-13T00:00:00.000000000', '2022-12-14T00:00:00.000000000',
       '2022-12-15T00:00:00.000000000', '2022-12-16T00:00:00.000000000',
       '2022-12-17T00:00:00.000000000', '2022-12-18T00:00:00.000000000',
       '2022-12-19T00:00:00.000000000', '2022-12-20T00:00:00.000000000',
       '2022-12-21T00:00:00.000000000', '2022-12-22T00:00:00.000000000',
       '2022-12-23T00:00:00.000000000', '2022-12-24T00:00:00.000000000',
       '2022-12-25T00:00:00.000000000', '2022-12-26T00:00:00.000000000',
       '2022-12-27T00:00:00.000000000', '2022-12-28T00:00:00.000000000',
       '2022-12-29T00:00:00.000000000', '2022-12-30T00:00:00.000000000',
       '2022-12-31T00:00:00.000000000'], dtype='datetime64[ns]')

In [11]:
fact_antes_cupones['type_data'] = fact_antes_cupones['total_transactions'].apply(lambda x: type(x).__name__)
fact_antes_cupones['type_data'].unique()

array(['float'], dtype=object)

In [12]:
fact_antes_cupones[fact_antes_cupones.type_data == 'datetime']

Empty DataFrame
Columns: [merchant_id, merchant_name, user_email, report_id, report_date_local, total_transactions, total_fees_charged, total_taxes, applied_fees_benefits, applied_taxes_benefits, fee_direct_deposit, taxes_direct_deposit, total_adjustments, total_adjustment_fees_charged, total_adjustment_taxes, cobranza, total_released, total_retained, tipopago, total_due, type, created_date, created_time, updated_date, updated_time, file_name, Date, type_data]
Index: []

[0 rows x 28 columns]

In [13]:
fact_antes_cupones.dtypes

merchant_id                              object
merchant_name                            object
user_email                               object
report_id                                object
report_date_local                        object
total_transactions                      float64
total_fees_charged                      float64
total_taxes                             float64
applied_fees_benefits                   float64
applied_taxes_benefits                  float64
fee_direct_deposit                      float64
taxes_direct_deposit                    float64
total_adjustments                       float64
total_adjustment_fees_charged           float64
total_adjustment_taxes                  float64
cobranza                                float64
total_released                          float64
total_retained                          float64
tipopago                                 object
total_due                               float64
type                                     object
created_date                             object
created_time                             object
updated_date                             object
updated_time                             object
file_name                                object
Date                             datetime64[ns]
type_data                                object
dtype: object

In [14]:
fact_antes_cupones.shape

(2876286, 28)

# CUPONES

In [15]:
allcupon_fact = glob.glob(r'C:\Users\Cristian.Aparicio\Documents\FACTURACION\2022\12. DICIEMBRE\Cupones*.csv', recursive=False)
allcupon_fact

['C:\\Users\\Cristian.Aparicio\\Documents\\FACTURACION\\2022\\12. DICIEMBRE\\Cupones_mm.csv']

In [16]:
cupon_current_month = pd.concat([pd.read_csv(f,dtype={'report_id':object})
                                 .assign(file_name=os.path.basename(f)) for f in allcupon_fact])
cupon_current_month.head()

,merchant_id,merchant_token,fee_refund_id,report_id,number_transactions,total_refunded,amount,pending,source,created_at,file_name
0,40dda9f3-518e-423f-8b04-1572ba44a0d7,fbafce7d-82d6-470f-b76a-151332042ddd,5ac1dd9f-221b-4943-bd46-ec4aa4ae749b,228LCKGVL,2,76.42,108.00,31.58,LOYALTY,2022-10-06 11:39:28,Cupones_mm.csv
1,a2760683-129f-4de4-98e3-7e7a08d44e30,95e02cc8-864b-4249-83c6-6a41b7d39b0f,f7acbad2-452a-4fca-a143-b790ca5df741,228TQD63W,1,1.67,108.00,106.33,LOYALTY,2022-11-30 10:43:51,Cupones_mm.csv
2,9f7384ad-a017-4e15-81f9-1a77eee62f5d,b4c82681-754a-4932-9d1e-11c116df2bb4,8ba3cd55-d8ac-46a8-939f-0fe124c2d08a,22BZKF2BX,2,141.40,292.00,150.60,LOYALTY,2021-11-13 11:05:44,Cupones_mm.csv
3,6856f295-75c8-4a35-8728-531630c3e0a2,5d5bff5a-e49a-4a09-95b0-0b6a19bfaf6f,31a3d5f0-b8b1-417d-83eb-03715535ebf9,22G2FKHG7,1,108.00,108.00,0.00,LOYALTY,2022-12-16 10:22:56,Cupones_mm.csv
4,738de109-77df-4182-9643-e436bb893a38,343c2a67-5c80-4779-8ede-c2e51ddd8436,0714eca4-db00-42a5-8208-c383324b096d,22R67MKYL,1,108.00,108.00,0.00,LOYALTY,2022-07-21 07:56:43,Cupones_mm.csv

In [17]:
cupon_current_month.shape

(2866, 11)

# IDENTIFICACION DE CUPONES

In [18]:
fact_cupones = fact_antes_cupones.merge(cupon_current_month[['report_id','total_refunded','pending','amount',
                                              'source']] ,on='report_id', how='left')
fact_cupones['total_benefits'] = fact_cupones['applied_fees_benefits'] + fact_cupones['applied_taxes_benefits']
fact_cupones.loc[(fact_cupones['applied_fees_benefits'] != 0) & (fact_cupones['source']!= 'LOYALTY'), 'source'] = 'TOP_UPS'
fact_cupones.head()

,merchant_id,merchant_name,user_email,report_id,report_date_local,total_transactions,total_fees_charged,total_taxes,applied_fees_benefits,applied_taxes_benefits,...,updated_date,updated_time,file_name,Date,type_data,total_refunded,pending,amount,source,total_benefits
0,1b103437-7cd3-4774-817f-d68bfc6ebb05,FRUTAS Y VERDURAS DE LA ESQUINA,juanluis1890@icloud.com,Y46DFXQNS,2022-12-01,155.65,5.61,0.90,0.00,0.00,...,2022-12-01,02:00:30,SETTLEMENT 2022-12-01.csv,2022-12-01,float,NaN,NaN,NaN,NaN,0.00
1,682fa1f6-5459-420e-8f2a-ad3f52306ef6,CONSULTORIO,katun7@gmail.com,57MPWP22S,2022-12-01,"1,400.00",50.40,8.06,0.00,0.00,...,2022-12-01,02:00:31,SETTLEMENT 2022-12-01.csv,2022-12-01,float,NaN,NaN,NaN,NaN,0.00
2,b753f531-bf73-421d-9b78-8b50491dbe14,TAXI ACUATICO,luismiguelgonzalezvirgen4@gmail.com,97RHCS4Y8,2022-12-01,"1,500.00",54.00,8.64,0.00,0.00,...,2022-12-01,02:00:31,SETTLEMENT 2022-12-01.csv,2022-12-01,float,NaN,NaN,NaN,NaN,0.00
3,d8bc09a9-52e8-4160-994c-8e302b3c52a2,TUCANDELABAR,Jai-mehdez@hotmail.com,DL8PLM5JB,2022-12-01,"4,509.00",162.32,25.97,0.00,0.00,...,2022-12-01,02:00:31,SETTLEMENT 2022-12-01.csv,2022-12-01,float,NaN,NaN,NaN,NaN,0.00
4,b5e67fd0-9cf2-4cb3-9e91-e7cd51242f3a,LES AMIGOS,les3amigosplayadelcarmen@gmail.com,HWVC6WN8F,2022-12-01,"1,943.00",69.95,11.19,0.00,0.00,...,2022-12-01,02:00:31,SETTLEMENT 2022-12-01.csv,2022-12-01,float,NaN,NaN,NaN,NaN,0.00

In [19]:
fact_cupones['source'].unique()

array([nan, 'TOP_UPS', 'LOYALTY'], dtype=object)

In [20]:
fact_cupones.shape

(2876286, 33)

# SEPARACION DE TOPUPS Y CUPON LOYALTY

### TOPUPS

In [21]:
fact_topups_benefits = fact_cupones[(fact_cupones['source'] == 'TOP_UPS')]
fact_topups_benefits.head()

,merchant_id,merchant_name,user_email,report_id,report_date_local,total_transactions,total_fees_charged,total_taxes,applied_fees_benefits,applied_taxes_benefits,...,updated_date,updated_time,file_name,Date,type_data,total_refunded,pending,amount,source,total_benefits
196,b82c0459-0627-4f26-a808-c49844141c6a,DEPOSITO DENTAL RADENT,deposito_radent@hotmail.com,J3RNVL567,2022-12-01,"1,133.00",40.79,6.53,1.72,0.28,...,2022-12-01,02:01:05,SETTLEMENT 2022-12-01.csv,2022-12-01,float,NaN,NaN,NaN,TOP_UPS,2.00
1280,6eda7d2d-f8b1-496c-a167-0e15734da100,AEROTRANSPORTES2,mykypulido@gmail.com,X2B79P7BX,2022-12-01,420.00,15.12,2.42,3.82,0.61,...,2022-12-01,02:04:48,SETTLEMENT 2022-12-01.csv,2022-12-01,float,NaN,NaN,NaN,TOP_UPS,4.43
3250,877d6b55-f50f-4e4e-acfc-a0a2177dac10,PAPELERIA Y HOBBY,oash91@hotmail.com,NR9VS688R,2022-12-01,24.00,0.86,0.14,0.86,0.14,...,2022-12-01,02:11:15,SETTLEMENT 2022-12-01.csv,2022-12-01,float,NaN,NaN,NaN,TOP_UPS,1.00
3312,0db363ff-e04a-4070-a37a-67ea3735170a,LA NUEVA,teregaytanlanueva@gmail.com,GJ2PLNSMQ,2022-12-01,567.00,20.41,3.26,6.90,1.10,...,2022-12-01,02:11:26,SETTLEMENT 2022-12-01.csv,2022-12-01,float,NaN,NaN,NaN,TOP_UPS,8.00
3657,7f038772-e651-4716-b51d-dce601b5815f,LA MICHOACANA,yari.lizeth@outlook.com,VJFMF86R9,2022-12-01,70.00,2.52,0.40,2.25,0.36,...,2022-12-01,02:12:32,SETTLEMENT 2022-12-01.csv,2022-12-01,float,NaN,NaN,NaN,TOP_UPS,2.61

In [22]:
fact_topups_benefits.shape

(2053, 33)

In [23]:
fact_topups_benefits.to_excel('top_ups_esquema_comision.xlsx')

In [24]:
pivot_topups_benefits = pd.pivot_table(fact_topups_benefits,index=['report_id'],values=['applied_fees_benefits',
                                                                                        'applied_taxes_benefits'],
                                       aggfunc=np.sum,margins=False).reset_index()
pivot_topups_benefits.rename(columns ={'applied_fees_benefits':'applied_fees_benefits_topups',
                                      'applied_taxes_benefits':'applied_taxes_benefits_topups'},inplace=True)
pivot_topups_benefits.head()

   report_id  applied_fees_benefits_topups  applied_taxes_benefits_topups
0  22598LFJN                          4.43                           0.71
1  22CPWFHCM                          1.72                           0.28
2  23B2FBGJM                          1.72                           0.28
3  24B7KDKYD                          0.09                           0.01
4  25HYJPHS6                          0.86                           0.14

In [25]:
pivot_topups_benefits.shape

(2053, 3)

### CUPONES

In [26]:
fact_coupons_benefits = fact_cupones[(fact_cupones['source'] == 'LOYALTY')]
fact_coupons_benefits.head()

,merchant_id,merchant_name,user_email,report_id,report_date_local,total_transactions,total_fees_charged,total_taxes,applied_fees_benefits,applied_taxes_benefits,...,updated_date,updated_time,file_name,Date,type_data,total_refunded,pending,amount,source,total_benefits
156018,d834ac6e-c7cf-42ce-a6fd-4c04d6511555,LA FONDITA,limon03082007@gmail.com,W249KJ56Y,2022-12-02,"6,242.57",224.73,35.96,93.10,14.90,...,2022-12-02,05:41:17,SETTLEMENT 2022-12-02.csv,2022-12-02,float,108.00,0.00,108.00,LOYALTY,108.00
189327,13d739de-8fb2-41f6-a5a4-fce715246593,SUPLEMENTOS DEPORTIVOS,ferlopeznava4980@gmail.com,5VCVDFFYY,2022-12-02,500.00,18.00,2.88,18.00,2.88,...,2022-12-02,07:20:07,SETTLEMENT 2022-12-02.csv,2022-12-02,float,20.88,87.12,108.00,LOYALTY,20.88
260566,92dbe299-bbff-4f38-be6d-4c235e67abe9,DONATELO,mx.donatelo@gmail.com,4RK273RBX,2022-12-03,101.00,3.64,0.59,3.65,0.58,...,2022-12-03,04:36:33,SETTLEMENT 2022-12-03.csv,2022-12-03,float,4.23,103.77,108.00,LOYALTY,4.23
376638,da1c8b30-1b4f-457c-8da1-c303f3611270,GOCJ,yikzac1207gonzalez@gmail.com,96VDJ72VJ,2022-12-04,"4,500.00",162.00,25.92,93.10,14.90,...,2022-12-04,04:51:58,SETTLEMENT 2022-12-04.csv,2022-12-04,float,108.00,0.00,108.00,LOYALTY,108.00
412552,30be514c-e410-4ea8-8824-00612d0bb266,PHOTOMAGNETIC,franciscoyrena@gmail.com,XZFPCDYST,2022-12-04,50.00,1.80,0.29,1.80,0.29,...,2022-12-04,06:40:44,SETTLEMENT 2022-12-04.csv,2022-12-04,float,2.09,105.91,108.00,LOYALTY,2.09

In [27]:
fact_coupons_benefits.shape

(51, 33)

In [28]:
pivot_coupons_benefits = pd.pivot_table(fact_coupons_benefits,index=['report_id'],values=['applied_fees_benefits',
                                                                                        'applied_taxes_benefits'],
                                       aggfunc=np.sum,margins=False).reset_index()
pivot_coupons_benefits.rename(columns ={'applied_fees_benefits':'applied_fees_benefits_coupons',
                                      'applied_taxes_benefits':'applied_taxes_benefits_coupons'},inplace=True)
pivot_coupons_benefits.head()

   report_id  applied_fees_benefits_coupons  applied_taxes_benefits_coupons
0  22G2FKHG7                          93.10                           14.90
1  24JDH6KHH                          44.71                            7.15
2  2BGSHNMFF                          93.10                           14.90
3  3GXMCDWVW                           0.02                            0.00
4  3XLJQN5G9                           8.10                            1.30

In [29]:
pivot_coupons_benefits.shape

(51, 3)

# UNION FACTURACIÓN & CUPONES

In [30]:
fact_cupones_1 = fact_antes_cupones.merge(pivot_topups_benefits[['report_id','applied_fees_benefits_topups',
                                                                  'applied_taxes_benefits_topups']] ,on='report_id', how='left')
fact_cupones_2 = fact_cupones_1.merge(pivot_coupons_benefits[['report_id','applied_fees_benefits_coupons',
                                                                  'applied_taxes_benefits_coupons']] ,on='report_id', how='left')
fact_cupones_2.fillna(0,inplace=True)

In [31]:
fact_cupones_2.head()

,merchant_id,merchant_name,user_email,report_id,report_date_local,total_transactions,total_fees_charged,total_taxes,applied_fees_benefits,applied_taxes_benefits,...,created_time,updated_date,updated_time,file_name,Date,type_data,applied_fees_benefits_topups,applied_taxes_benefits_topups,applied_fees_benefits_coupons,applied_taxes_benefits_coupons
0,1b103437-7cd3-4774-817f-d68bfc6ebb05,FRUTAS Y VERDURAS DE LA ESQUINA,juanluis1890@icloud.com,Y46DFXQNS,2022-12-01,155.65,5.61,0.90,0.00,0.00,...,02:00:30,2022-12-01,02:00:30,SETTLEMENT 2022-12-01.csv,2022-12-01,float,0.00,0.00,0.00,0.00
1,682fa1f6-5459-420e-8f2a-ad3f52306ef6,CONSULTORIO,katun7@gmail.com,57MPWP22S,2022-12-01,"1,400.00",50.40,8.06,0.00,0.00,...,02:00:31,2022-12-01,02:00:31,SETTLEMENT 2022-12-01.csv,2022-12-01,float,0.00,0.00,0.00,0.00
2,b753f531-bf73-421d-9b78-8b50491dbe14,TAXI ACUATICO,luismiguelgonzalezvirgen4@gmail.com,97RHCS4Y8,2022-12-01,"1,500.00",54.00,8.64,0.00,0.00,...,02:00:31,2022-12-01,02:00:31,SETTLEMENT 2022-12-01.csv,2022-12-01,float,0.00,0.00,0.00,0.00
3,d8bc09a9-52e8-4160-994c-8e302b3c52a2,TUCANDELABAR,Jai-mehdez@hotmail.com,DL8PLM5JB,2022-12-01,"4,509.00",162.32,25.97,0.00,0.00,...,02:00:31,2022-12-01,02:00:31,SETTLEMENT 2022-12-01.csv,2022-12-01,float,0.00,0.00,0.00,0.00
4,b5e67fd0-9cf2-4cb3-9e91-e7cd51242f3a,LES AMIGOS,les3amigosplayadelcarmen@gmail.com,HWVC6WN8F,2022-12-01,"1,943.00",69.95,11.19,0.00,0.00,...,02:00:31,2022-12-01,02:00:31,SETTLEMENT 2022-12-01.csv,2022-12-01,float,0.00,0.00,0.00,0.00

In [32]:
fact_cupones_2.shape

(2876286, 32)

In [33]:
fact_cupones_2.columns

Index(['merchant_id', 'merchant_name', 'user_email', 'report_id',
       'report_date_local', 'total_transactions', 'total_fees_charged',
       'total_taxes', 'applied_fees_benefits', 'applied_taxes_benefits',
       'fee_direct_deposit', 'taxes_direct_deposit', 'total_adjustments',
       'total_adjustment_fees_charged', 'total_adjustment_taxes', 'cobranza',
       'total_released', 'total_retained', 'tipopago', 'total_due', 'type',
       'created_date', 'created_time', 'updated_date', 'updated_time',
       'file_name', 'Date', 'type_data', 'applied_fees_benefits_topups',
       'applied_taxes_benefits_topups', 'applied_fees_benefits_coupons',
       'applied_taxes_benefits_coupons'],
      dtype='object')

# FACTURACION PREVIO FINAL

In [34]:
fact = fact_cupones_2[['merchant_id','merchant_name','user_email','report_id','report_date_local','total_transactions',
                       'total_fees_charged','total_taxes','applied_fees_benefits','applied_taxes_benefits',
                       'applied_fees_benefits_topups','applied_taxes_benefits_topups','applied_fees_benefits_coupons',
                       'applied_taxes_benefits_coupons','fee_direct_deposit','taxes_direct_deposit',
                       'total_adjustments','total_adjustment_fees_charged','total_adjustment_taxes','cobranza','total_released',
                       'total_retained','tipopago','total_due','type','created_date','created_time','updated_date','updated_time',
                       'file_name', 'Date']]
fact['comision_topups_all'] = fact['applied_fees_benefits_topups'] + fact['fee_direct_deposit']
fact['iva_comision_topups_all'] = fact['applied_taxes_benefits_topups'] + fact['taxes_direct_deposit']
fact['topups_all'] = fact['comision_topups_all'] + fact['iva_comision_topups_all']
fact.head()

,merchant_id,merchant_name,user_email,report_id,report_date_local,total_transactions,total_fees_charged,total_taxes,applied_fees_benefits,applied_taxes_benefits,...,type,created_date,created_time,updated_date,updated_time,file_name,Date,comision_topups_all,iva_comision_topups_all,topups_all
0,1b103437-7cd3-4774-817f-d68bfc6ebb05,FRUTAS Y VERDURAS DE LA ESQUINA,juanluis1890@icloud.com,Y46DFXQNS,2022-12-01,155.65,5.61,0.90,0.00,0.00,...,DAILY,2022-12-01,02:00:30,2022-12-01,02:00:30,SETTLEMENT 2022-12-01.csv,2022-12-01,0.00,0.00,0.00
1,682fa1f6-5459-420e-8f2a-ad3f52306ef6,CONSULTORIO,katun7@gmail.com,57MPWP22S,2022-12-01,"1,400.00",50.40,8.06,0.00,0.00,...,DAILY,2022-12-01,02:00:31,2022-12-01,02:00:31,SETTLEMENT 2022-12-01.csv,2022-12-01,0.00,0.00,0.00
2,b753f531-bf73-421d-9b78-8b50491dbe14,TAXI ACUATICO,luismiguelgonzalezvirgen4@gmail.com,97RHCS4Y8,2022-12-01,"1,500.00",54.00,8.64,0.00,0.00,...,DAILY,2022-12-01,02:00:31,2022-12-01,02:00:31,SETTLEMENT 2022-12-01.csv,2022-12-01,0.00,0.00,0.00
3,d8bc09a9-52e8-4160-994c-8e302b3c52a2,TUCANDELABAR,Jai-mehdez@hotmail.com,DL8PLM5JB,2022-12-01,"4,509.00",162.32,25.97,0.00,0.00,...,DAILY,2022-12-01,02:00:31,2022-12-01,02:00:31,SETTLEMENT 2022-12-01.csv,2022-12-01,0.00,0.00,0.00
4,b5e67fd0-9cf2-4cb3-9e91-e7cd51242f3a,LES AMIGOS,les3amigosplayadelcarmen@gmail.com,HWVC6WN8F,2022-12-01,"1,943.00",69.95,11.19,0.00,0.00,...,DAILY,2022-12-01,02:00:31,2022-12-01,02:00:31,SETTLEMENT 2022-12-01.csv,2022-12-01,0.00,0.00,0.00

In [35]:
fact.shape

(2876286, 34)

In [36]:
fact_topups = fact[(fact['topups_all'] != 0)]
fact_topups.head()

,merchant_id,merchant_name,user_email,report_id,report_date_local,total_transactions,total_fees_charged,total_taxes,applied_fees_benefits,applied_taxes_benefits,...,type,created_date,created_time,updated_date,updated_time,file_name,Date,comision_topups_all,iva_comision_topups_all,topups_all
23,78ae15db-6b21-4cb5-8f25-e2ea06ea5590,MULTISERVISIOS RODRGUEZ,manuelgperdz94@gmail.com,HHTCZTKYB,2022-12-01,0.00,0.00,0.00,0.00,0.00,...,DAILY,2022-12-01,02:00:34,2022-12-01,02:00:34,SETTLEMENT 2022-12-01.csv,2022-12-01,3.45,0.55,4.00
63,8cd32107-7118-4461-acb4-1957f89cb9b3,VADE LAVANDERIA,viruss1945@hotmail.com,DP7JCJZSD,2022-12-01,335.00,12.06,1.93,0.00,0.00,...,DAILY,2022-12-01,02:00:41,2022-12-01,02:00:41,SETTLEMENT 2022-12-01.csv,2022-12-01,1.72,0.28,2.00
77,e48f42d3-6de6-4857-816b-61be3751ea26,LACHES BY JISSEL,jisselyteto@outlook.com,HGVWKZ32R,2022-12-01,0.00,0.00,0.00,0.00,0.00,...,DAILY,2022-12-01,02:00:43,2022-12-01,02:00:43,SETTLEMENT 2022-12-01.csv,2022-12-01,3.45,0.55,4.00
82,98d664bc-675f-4a44-82c0-14a2e019b8f8,JJ SHOP,josue.dom.mar@gmail.com,FYZ37B4YW,2022-12-01,0.00,0.00,0.00,0.00,0.00,...,DAILY,2022-12-01,02:00:44,2022-12-01,02:00:44,SETTLEMENT 2022-12-01.csv,2022-12-01,0.52,0.08,0.60
91,28552808-b15c-4fbd-b53a-6d72bc9cdb5c,LAS ADICTIVAS,alvarezhernandezpatricia14@gmail.com,YLPR982FM,2022-12-01,0.00,0.00,0.00,0.00,0.00,...,DAILY,2022-12-01,02:00:45,2022-12-01,02:00:45,SETTLEMENT 2022-12-01.csv,2022-12-01,1.03,0.17,1.20

In [37]:
fact_topups.shape

(151773, 34)

In [38]:
pivot_fact_topups = pd.pivot_table(fact_topups,index=['merchant_id'],values=['applied_fees_benefits_topups',
                                                                             'applied_taxes_benefits_topups',
                                                                            'fee_direct_deposit',
                                                                            'taxes_direct_deposit',
                                                                            'topups_all'],
                                  aggfunc=np.sum,margins=False).reset_index()
pivot_fact_topups.head()

,merchant_id,applied_fees_benefits_topups,applied_taxes_benefits_topups,fee_direct_deposit,taxes_direct_deposit,topups_all
0,00023bd5-6149-4ef9-95be-edb61d22588d,0.00,0.00,7.76,1.24,9.00
1,0003a589-425d-4027-86db-48c941b45f78,9.00,1.44,0.00,0.00,10.44
2,0003f6d6-1ced-46b6-b25b-c3ce3f289214,0.00,0.00,10.51,1.69,12.20
3,00042cab-f6df-4657-ac84-8bb4ac688601,0.00,0.00,20.87,3.33,24.20
4,000d6381-e54a-4bfc-9856-3ed55d33408b,0.00,0.00,1.72,0.28,2.00

In [39]:
pivot_fact_topups.shape

(42723, 6)

# DETALLE TOPUPS

In [40]:
start_date_mes = '2022-12-01'
# final_date_mes = '2020-10-26'

In [41]:
alltopups_files = glob.glob(r'C:\Users\Cristian.Aparicio\Documents\TOPUPS\SETTLEMENT\2022\12. DICIEMBRE\*.csv', recursive=False)
alltopups_files

['C:\\Users\\Cristian.Aparicio\\Documents\\TOPUPS\\SETTLEMENT\\2022\\12. DICIEMBRE\\Topups_settlement_diciembre_2022.csv']

In [42]:
topups_all = pd.concat([pd.read_csv(f).assign(file_name=os.path.basename(f)) for f in alltopups_files])
topups_all.columns = topups_all.columns.str.strip().str.lower()
topups_all['topup_created_at'] = pd.to_datetime(topups_all['topup_created_at'])
topups_all['created_at'] = pd.to_datetime(topups_all['created_at'])
topups_all['updated_at'] = pd.to_datetime(topups_all['updated_at'])
topups_all.head()

,topups_id,merchant_id,amount,commission_amount,carrier,receipt_no,topup_created_at,created_at,updated_at,processed_date_local,file_name
0,fec7dae2-d611-4f4d-a238-5c0f3cda80ab,402e3afe-57a5-4ac5-b21d-3b177e03bef9,50,2.00,TELCEL,TU-Zpo4K2B,2019-04-08,2019-04-08,2022-12-01,2022-12-01,Topups_settlement_diciembre_2022.csv
1,23999bc8-840e-4e38-a394-942a2fa4ce48,5853b035-49bb-449d-a203-e9b60fc1e952,100,4.00,TELCEL,TU-GGEdtq4,2021-10-06,2021-10-06,2022-12-01,2022-12-01,Topups_settlement_diciembre_2022.csv
2,2f19290c-551a-4b33-9251-84ce20200a85,36061039-4319-4c14-b0a5-ca7ebf5b6389,100,4.00,TELCEL,TU-DFCC0qq,2022-04-02,2022-04-02,2022-12-01,2022-12-01,Topups_settlement_diciembre_2022.csv
3,ad5143e8-c2f5-40d3-931c-07cfa94c09f3,e839018e-1225-4045-9367-a949c2fef9ab,200,8.00,TELCEL,TU-cKoi5JR,2022-04-11,2022-04-11,2022-12-01,2022-12-01,Topups_settlement_diciembre_2022.csv
4,2cce82d2-308b-44d5-8d3f-24b5937d862c,5853b035-49bb-449d-a203-e9b60fc1e952,50,2.00,TELCEL,TU-SUX8BPa,2022-04-19,2022-04-19,2022-12-01,2022-12-01,Topups_settlement_diciembre_2022.csv

In [43]:
topups_all.shape

(253158, 11)

In [44]:
topups_all_me_id = pd.pivot_table(topups_all,index=['merchant_id'],values=['amount','commission_amount'],
                                  aggfunc=np.sum,margins=False).reset_index()
topups_all_me_id.head()

                            merchant_id  amount  commission_amount
0  00023bd5-6149-4ef9-95be-edb61d22588d     150               9.00
1  0003f6d6-1ced-46b6-b25b-c3ce3f289214     230              12.20
2  00042cab-f6df-4657-ac84-8bb4ac688601     450              24.20
3  000d6381-e54a-4bfc-9856-3ed55d33408b      50               2.00
4  000e5198-a19b-41c8-8391-fe6ac3f6f70c     600              24.00

In [45]:
topups_all_me_id.shape

(42511, 3)

In [47]:
topups_all_group_by = topups_all.groupby(['merchant_id','topups_id','created_at','processed_date_local']).agg({'amount':sum
                                                                                ,'commission_amount':sum}).reset_index()
topups_all_group_by.sort_values(by=['merchant_id','processed_date_local','created_at'],inplace=True)
topups_all_group_by.head()

,merchant_id,topups_id,created_at,processed_date_local,amount,commission_amount
0,00023bd5-6149-4ef9-95be-edb61d22588d,a6ed62ba-ceb5-42b6-8bcb-a79a7566d046,2022-12-17,2022-12-18,50,3.00
1,00023bd5-6149-4ef9-95be-edb61d22588d,ad9156f4-e681-4c62-98c2-c13c13de0533,2022-12-17,2022-12-18,50,3.00
2,00023bd5-6149-4ef9-95be-edb61d22588d,cea5e900-addd-4f31-b42e-133d4c040a7e,2022-12-17,2022-12-18,20,1.20
3,00023bd5-6149-4ef9-95be-edb61d22588d,d884734a-3256-45d6-8812-48eb6a18a0f1,2022-12-25,2022-12-26,30,1.80
7,0003f6d6-1ced-46b6-b25b-c3ce3f289214,f147f876-8075-4b26-bb6f-8929cf91cd5e,2022-12-02,2022-12-03,30,1.20

In [48]:
topups_all_group_by.shape

(253158, 6)

In [63]:
i = pd.date_range('2022-01-01', periods=31, freq='1D')
i

DatetimeIndex(['2022-01-01', '2022-01-02', '2022-01-03', '2022-01-04',
               '2022-01-05', '2022-01-06', '2022-01-07', '2022-01-08',
               '2022-01-09', '2022-01-10', '2022-01-11', '2022-01-12',
               '2022-01-13', '2022-01-14', '2022-01-15', '2022-01-16',
               '2022-01-17', '2022-01-18', '2022-01-19', '2022-01-20',
               '2022-01-21', '2022-01-22', '2022-01-23', '2022-01-24',
               '2022-01-25', '2022-01-26', '2022-01-27', '2022-01-28',
               '2022-01-29', '2022-01-30', '2022-01-31'],
              dtype='datetime64[ns]', freq='D')

In [75]:
topups_all_group_by['limit'] = topups_all_group_by.groupby('merchant_id')['merchant_id'].shift(-1)
topups_all_group_by['limit'].fillna('LIMIT',inplace=True)
topups_all_group_by['cumsum'] = topups_all_group_by.groupby(['merchant_id','created_at'])['commission_amount'].cumsum()
topups_all_group_by['cumcount'] = topups_all_group_by.groupby(['merchant_id','created_at'])['commission_amount'].cumcount()
#topups_all_group_by.set_index('processed_date_local',inplace=True)
topups_all_group_by.head()

,merchant_id,topups_id,created_at,amount,commission_amount,limit,cumsum,cumcount
processed_date_local,,,,,,,,
2022-12-18,00023bd5-6149-4ef9-95be-edb61d22588d,a6ed62ba-ceb5-42b6-8bcb-a79a7566d046,2022-12-17,50,3.00,00023bd5-6149-4ef9-95be-edb61d22588d,3.00,0
2022-12-18,00023bd5-6149-4ef9-95be-edb61d22588d,ad9156f4-e681-4c62-98c2-c13c13de0533,2022-12-17,50,3.00,00023bd5-6149-4ef9-95be-edb61d22588d,6.00,1
2022-12-18,00023bd5-6149-4ef9-95be-edb61d22588d,cea5e900-addd-4f31-b42e-133d4c040a7e,2022-12-17,20,1.20,00023bd5-6149-4ef9-95be-edb61d22588d,7.20,2
2022-12-26,00023bd5-6149-4ef9-95be-edb61d22588d,d884734a-3256-45d6-8812-48eb6a18a0f1,2022-12-25,30,1.80,LIMIT,1.80,0
2022-12-03,0003f6d6-1ced-46b6-b25b-c3ce3f289214,f147f876-8075-4b26-bb6f-8929cf91cd5e,2022-12-02,30,1.20,0003f6d6-1ced-46b6-b25b-c3ce3f289214,1.20,0

In [76]:
topups_all_group_by.shape

(253158, 8)

In [82]:
last_rows = topups_all_group_by[(topups_all_group_by['limit'] == 'LIMIT')]
last_rows.rename(columns={'cumcount':'last_counts'},inplace=True)
last_rows.head()

C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_16688\726784298.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  last_rows.rename(columns={'cumcount':'last_counts'},inplace=True)

,merchant_id,topups_id,created_at,amount,commission_amount,limit,cumsum,last_counts
processed_date_local,,,,,,,,
2022-12-26,00023bd5-6149-4ef9-95be-edb61d22588d,d884734a-3256-45d6-8812-48eb6a18a0f1,2022-12-25,30,1.80,LIMIT,1.80,0
2022-12-22,0003f6d6-1ced-46b6-b25b-c3ce3f289214,6ad6f255-bf94-4297-a09f-8f9111b57c43,2022-12-21,50,3.00,LIMIT,3.00,0
2022-12-27,00042cab-f6df-4657-ac84-8bb4ac688601,1f44e84a-64fc-4913-926c-e5930322b6e7,2022-12-26,100,4.00,LIMIT,4.00,0
2022-12-17,000d6381-e54a-4bfc-9856-3ed55d33408b,36df0456-f098-4b18-88c6-0c96940fc8b7,2022-12-16,50,2.00,LIMIT,2.00,0
2022-12-29,000e5198-a19b-41c8-8391-fe6ac3f6f70c,acc0b559-6427-47fa-9daf-9ca00d863a63,2022-12-28,100,4.00,LIMIT,4.00,0

In [83]:
last_rows.shape

(42511, 8)

# IDENTIFICADOR

In [84]:
ident_1 = topups_all_group_by.merge(last_rows[['merchant_id','last_counts']] ,on='merchant_id', how='left')
ident_1.head()

,merchant_id,topups_id,created_at,amount,commission_amount,limit,cumsum,cumcount,last_counts
0,00023bd5-6149-4ef9-95be-edb61d22588d,a6ed62ba-ceb5-42b6-8bcb-a79a7566d046,2022-12-17,50,3.00,00023bd5-6149-4ef9-95be-edb61d22588d,3.00,0,0
1,00023bd5-6149-4ef9-95be-edb61d22588d,ad9156f4-e681-4c62-98c2-c13c13de0533,2022-12-17,50,3.00,00023bd5-6149-4ef9-95be-edb61d22588d,6.00,1,0
2,00023bd5-6149-4ef9-95be-edb61d22588d,cea5e900-addd-4f31-b42e-133d4c040a7e,2022-12-17,20,1.20,00023bd5-6149-4ef9-95be-edb61d22588d,7.20,2,0
3,00023bd5-6149-4ef9-95be-edb61d22588d,d884734a-3256-45d6-8812-48eb6a18a0f1,2022-12-25,30,1.80,LIMIT,1.80,0,0
4,0003f6d6-1ced-46b6-b25b-c3ce3f289214,f147f876-8075-4b26-bb6f-8929cf91cd5e,2022-12-02,30,1.20,0003f6d6-1ced-46b6-b25b-c3ce3f289214,1.20,0,0

In [87]:
def numer_topups_last_rows(ident_1):
    if ((ident_1['limit'] == 'LIMIT') & (ident_1['cumcount'] == (ident_1['last_counts']))):
        return 'TRUE'
    else:
        return 'FALSE'
ident_1['validation_last_counts'] = ident_1.apply(numer_topups_last_rows, axis=1)

In [88]:
ident_1.head()

,merchant_id,topups_id,created_at,amount,commission_amount,limit,cumsum,cumcount,last_counts,validation_last_counts
0,00023bd5-6149-4ef9-95be-edb61d22588d,a6ed62ba-ceb5-42b6-8bcb-a79a7566d046,2022-12-17,50,3.00,00023bd5-6149-4ef9-95be-edb61d22588d,3.00,0,0,FALSE
1,00023bd5-6149-4ef9-95be-edb61d22588d,ad9156f4-e681-4c62-98c2-c13c13de0533,2022-12-17,50,3.00,00023bd5-6149-4ef9-95be-edb61d22588d,6.00,1,0,FALSE
2,00023bd5-6149-4ef9-95be-edb61d22588d,cea5e900-addd-4f31-b42e-133d4c040a7e,2022-12-17,20,1.20,00023bd5-6149-4ef9-95be-edb61d22588d,7.20,2,0,FALSE
3,00023bd5-6149-4ef9-95be-edb61d22588d,d884734a-3256-45d6-8812-48eb6a18a0f1,2022-12-25,30,1.80,LIMIT,1.80,0,0,TRUE
4,0003f6d6-1ced-46b6-b25b-c3ce3f289214,f147f876-8075-4b26-bb6f-8929cf91cd5e,2022-12-02,30,1.20,0003f6d6-1ced-46b6-b25b-c3ce3f289214,1.20,0,0,FALSE

In [89]:
ident_1.to_csv('1.csv')

In [74]:
topups_all_group_by.to_excel('validacion_topups_settlement.xlsx')

# VALIDACION_TOPUPS

In [55]:
valid_1 = pivot_fact_topups.merge(topups_all_me_id[['merchant_id','amount','commission_amount']] ,on='merchant_id', how='left')
valid_1.fillna(0,inplace=True)
valid_1['diff'] = valid_1['topups_all'] - valid_1['commission_amount']
valid_1.head()

,merchant_id,applied_fees_benefits_topups,applied_taxes_benefits_topups,fee_direct_deposit,taxes_direct_deposit,topups_all,amount,commission_amount,diff
0,00023bd5-6149-4ef9-95be-edb61d22588d,0.00,0.00,7.76,1.24,9.00,150.00,9.00,0.00
1,0003a589-425d-4027-86db-48c941b45f78,9.00,1.44,0.00,0.00,10.44,0.00,0.00,10.44
2,0003f6d6-1ced-46b6-b25b-c3ce3f289214,0.00,0.00,10.51,1.69,12.20,230.00,12.20,0.00
3,00042cab-f6df-4657-ac84-8bb4ac688601,0.00,0.00,20.87,3.33,24.20,450.00,24.20,0.00
4,000d6381-e54a-4bfc-9856-3ed55d33408b,0.00,0.00,1.72,0.28,2.00,50.00,2.00,0.00

In [56]:
valid_1.shape

(42723, 9)

In [57]:
valid_1.to_excel('Topups_detalle.xlsx',index=False)

DatetimeIndex(['2022-01-01', '2022-01-02', '2022-01-03', '2022-01-04',
               '2022-01-05', '2022-01-06', '2022-01-07', '2022-01-08',
               '2022-01-09', '2022-01-10', '2022-01-11', '2022-01-12',
               '2022-01-13', '2022-01-14', '2022-01-15', '2022-01-16',
               '2022-01-17', '2022-01-18', '2022-01-19', '2022-01-20',
               '2022-01-21', '2022-01-22', '2022-01-23', '2022-01-24',
               '2022-01-25', '2022-01-26', '2022-01-27', '2022-01-28',
               '2022-01-29', '2022-01-30', '2022-01-31'],
              dtype='datetime64[ns]', freq='D')

In [ ]:
ts.last('3D')

In [ ]:
lender = lender_all[(lender_all['collection_date_local'] >= start_date_mes)]

In [ ]:
lender['provider_code'].unique()

In [ ]:
sorted(lender['Date'].unique())

## AMOUNT BY DATE

In [ ]:
lender_amount_date = pd.pivot_table(lender,index=["Date", "provider_code"],values=['amount','capital',
                                                   'interest','tax'],aggfunc=np.sum,margins=False)
lender_amount_date = lender_amount_date.reset_index(1)
lender_amount_date.head()

In [ ]:
lender_amount_date.loc['ALL'] = lender_amount_date.sum(numeric_only=True)
# lender_amount_date.to_csv('LENDER AMOUNT DATE ABRIL 2021.csv')

In [ ]:
lender_amount_date.shape

##### MRP

In [ ]:
lender_amount_date_mrp = lender_amount_date[(lender_amount_date['provider_code'] == 'MRP')]
lender_amount_date_mrp.head()

In [ ]:
lender_amount_date_mrp.loc['ALL'] = lender_amount_date_mrp.sum(numeric_only=True)
lender_amount_date_mrp.reset_index(inplace=True)

In [ ]:
lender_amount_date_mrp.shape

##### CLIP

In [ ]:
lender_amount_date_clip = lender_amount_date[(lender_amount_date['provider_code'] == 'CLIP')]
lender_amount_date_clip.head()

In [ ]:
lender_amount_date_clip.loc['ALL'] = lender_amount_date_clip.sum(numeric_only=True)
lender_amount_date_clip.reset_index(inplace=True)

In [ ]:
lender_amount_date_clip.shape

##### MOT

In [ ]:
lender_amount_date_mot = lender_amount_date[(lender_amount_date['provider_code'] == 'MOT')]
lender_amount_date_mot.head()

In [ ]:
lender_amount_date_mot.loc['ALL'] = lender_amount_date_mot.sum(numeric_only=True)
lender_amount_date_mot.reset_index(inplace=True)

In [ ]:
lender_amount_date_mot.shape

##### APH

In [ ]:
lender_amount_date_aph = lender_amount_date[(lender_amount_date['provider_code'] == 'APH')]
lender_amount_date_aph.head()

In [ ]:
lender_amount_date_aph.loc['ALL'] = lender_amount_date_aph.sum(numeric_only=True)
lender_amount_date_aph.reset_index(inplace=True)

In [ ]:
lender_amount_date_aph.shape

##### HCS

In [ ]:
lender_amount_date_hcs = lender_amount_date[(lender_amount_date['provider_code'] == 'HCS')]
lender_amount_date_hcs.head()

In [ ]:
lender_amount_date_hcs.loc['ALL'] = lender_amount_date_hcs.sum(numeric_only=True)
lender_amount_date_hcs.reset_index(inplace=True)

In [ ]:
lender_amount_date_hcs.shape

##### R2

In [ ]:
lender_amount_date_r2 = lender_amount_date[(lender_amount_date['provider_code'] == 'R2')]
lender_amount_date_r2.head()

In [ ]:
lender_amount_date_r2.loc['ALL'] = lender_amount_date_r2.sum(numeric_only=True)
lender_amount_date_r2.reset_index(inplace=True)

In [ ]:
lender_amount_date_r2.shape

##### CTO

In [ ]:
lender_amount_date_cto = lender_amount_date[(lender_amount_date['provider_code'] == 'CTO')]
lender_amount_date_cto.head()

In [ ]:
lender_amount_date_cto.loc['ALL'] = lender_amount_date_cto.sum(numeric_only=True)
lender_amount_date_cto.reset_index(inplace=True)

In [ ]:
lender_amount_date_cto.shape

## AMOUNT BY EMAIL

In [ ]:
lender_amount_email = pd.pivot_table(lender,index=["merchant_id",'provider_code'],values=['amount','capital',
                                                   'interest','tax'],aggfunc=np.sum,margins=True)
lender_amount_email = lender_amount_email.reset_index(drop=False)
# lender_amount_email.to_csv('LENDER AMOUNT EMAIL ABRIL 2021.csv', index=None)
lender_amount_email.head()

In [ ]:
lender_amount_email.shape

In [ ]:
duplicates = lender_amount_email[lender_amount_email.duplicated(['merchant_id'] , keep=False)]
duplicates

In [ ]:
lender_amount_email.drop_duplicates(subset="merchant_id",keep="first",inplace=True)

In [ ]:
lender_amount_email.shape

# DYNAMO INFO

In [ ]:
dynamo_files = glob.glob(r'C:\Users\Cristian.Aparicio\Documents\FACTURACION\2022\12. DICIEMBRE\dynamo*.csv', recursive=False)
dynamo_files

In [ ]:
dynamo = pd.concat([pd.read_csv(f).assign(file_name=os.path.basename(f)) for f in dynamo_files])
dynamo.columns = dynamo.columns.str.strip().str.lower()
dynamo.head()

In [ ]:
dynamo.shape

# FILE FACURACION BY EMAIL

In [ ]:
facturacion = fact.merge(lender_amount_email[['merchant_id','provider_code']] ,on='merchant_id', how='left')
facturacion['provider_code'].fillna('SIN LENDER',inplace=True)
facturacion.head()

In [ ]:
fact_total = facturacion[['merchant_id','user_email','report_id','report_date_local','total_transactions','total_fees_charged'
                          ,'total_taxes','applied_fees_benefits','applied_taxes_benefits','applied_fees_benefits_topups',
                          'applied_taxes_benefits_topups','applied_fees_benefits_coupons','applied_taxes_benefits_coupons',
                          'fee_direct_deposit','taxes_direct_deposit','total_adjustments','total_adjustment_fees_charged'
                          ,'total_adjustment_taxes','cobranza','total_released','total_retained','tipopago'
                          ,'total_due','Date','type','provider_code']]
fact_total.head()

In [ ]:
fact_total.shape

In [ ]:
# fact_total.loc['All'] = fact_total.sum(numeric_only=True)
# fact_total['merchant_id'].fillna('ALL',inplace=True)

In [ ]:
# fact_total.shape

In [ ]:
# fact_total.tail()

In [ ]:
# facturacion_by_date.drop(facturacion_by_date.tail(1).index,inplace=True)

In [ ]:
pt_1 = pd.pivot_table(fact_total,index=['merchant_id',"user_email"],values=["total_due",'total_transactions',
                                                                          "total_fees_charged",'total_taxes',
                                                                          "applied_fees_benefits",'applied_taxes_benefits',
                                                                          'applied_fees_benefits_topups',
                                                                          'applied_taxes_benefits_topups',
                                                                          'applied_fees_benefits_coupons',
                                                                          'applied_taxes_benefits_coupons',
                                                                          'fee_direct_deposit','taxes_direct_deposit']
                    ,aggfunc=np.sum,margins=False)
pt_1 = pt_1.reset_index(drop=False)
# pt.to_csv('PIVOT BY EMAIL ABRIL.csv')
pt_1.head()

In [ ]:
pt_1.shape

# UNION CON DYNAMO

In [ ]:
union_dynamo = pd.concat([pt_1, dynamo])
union_dynamo.fillna(0,inplace=True)
union_dynamo.head()

In [ ]:
union_dynamo.shape

# PIVOT FINAL CON INCLUSION DYNAMO

In [ ]:
pt = pd.pivot_table(union_dynamo,index=['merchant_id',"user_email"],values=["total_due",'total_transactions',
                                                                          "total_fees_charged",'total_taxes',
                                                                          "applied_fees_benefits",'applied_taxes_benefits',
                                                                          'applied_fees_benefits_topups',
                                                                          'applied_taxes_benefits_topups',
                                                                          'applied_fees_benefits_coupons',
                                                                          'applied_taxes_benefits_coupons',
                                                                          'fee_direct_deposit','taxes_direct_deposit']
                    ,aggfunc=np.sum,margins=True)
pt = pt.reset_index(drop=False)
# pt.to_csv('PIVOT BY EMAIL ABRIL.csv')
pt.head()

In [ ]:
pt.shape

In [ ]:
facturacion_total = pt.merge(lender_amount_email[['merchant_id','provider_code','amount','capital',
                                                   'interest','tax']] ,on='merchant_id', how='left')
facturacion_total["amount"].fillna(0,inplace=True)
facturacion_total["capital"].fillna(0,inplace=True)
facturacion_total["interest"].fillna(0,inplace=True)
facturacion_total["tax"].fillna(0,inplace=True)
facturacion_total["provider_code"].fillna("SIN LENDER",inplace=True)
facturacion_total.head()

In [ ]:
facturacion_total.shape

In [ ]:
duplicates = facturacion_total[facturacion_total.duplicated(['user_email'] , keep=False)]
duplicates.head()

In [ ]:
duplicates.shape

In [ ]:
def lender_amount(facturacion_total):
    if facturacion_total['provider_code'] == 'MRP':
        return facturacion_total['interest']*0
    elif facturacion_total['provider_code'] == 'MOT':
        return facturacion_total['interest']*0
    elif facturacion_total['provider_code'] == 'APH':
        return facturacion_total['interest']*0
    elif facturacion_total['provider_code'] == 'HCS':
        return facturacion_total['interest']*0
    elif facturacion_total['provider_code'] == 'R2':
        return facturacion_total['interest']*0
    elif facturacion_total['provider_code'] == 'CTO':
        return facturacion_total['interest']*0
    else:
        return facturacion_total['interest']
    
facturacion_total['interest'] = facturacion_total.apply(lender_amount, axis=1)

In [ ]:
facturacion_total['Net fee'] = (facturacion_total['total_fees_charged'] -
                                facturacion_total['applied_fees_benefits_topups'] -
                                facturacion_total['applied_fees_benefits_coupons'] -
                                facturacion_total['fee_direct_deposit'] +
                                facturacion_total['interest'])
facturacion_total['Global taxes'] = facturacion_total['Net fee'] * 0.16
facturacion_total.head()

In [ ]:
facturacion_final =  facturacion_total[['merchant_id',"user_email",'total_transactions',"total_fees_charged",
                                        'applied_fees_benefits_topups',"fee_direct_deposit",
                                        'applied_fees_benefits_coupons',"interest","Net fee","Global taxes","total_due"]]
facturacion_final.rename(columns ={'total_due': 'Total due (payment)','total_fees_charged': 'Txns fee'
                                   ,'applied_fees_benefits_topups': 'TopUps fee','applied_fees_benefits_coupons':'Coupons'
                                   ,'fee_direct_deposit': 'TopUps fee_2'
                                   ,'interest': 'Loans fee'},inplace=True)

In [ ]:
facturacion_final.head()

In [ ]:
facturacion_final = facturacion_final[['merchant_id','user_email','Total due (payment)','total_transactions','Txns fee'
                                       ,'TopUps fee','TopUps fee_2','Coupons','Loans fee','Net fee','Global taxes']]
# facturacion_final.to_csv('PIVOT DATA FINAL ABRIL.csv')
facturacion_final.tail()

In [ ]:
facturacion_final.shape

In [ ]:
facturacion_final.drop(facturacion_final.tail(1).index,inplace=True) # drop last n rows

In [ ]:
facturacion_final.loc['All'] = facturacion_final.sum(numeric_only=True)
facturacion_final['user_email'].fillna('ALL',inplace=True)

In [ ]:
facturacion_final.shape

In [ ]:
facturacion_final_dup = facturacion_final[facturacion_final.duplicated(['merchant_id'] , keep=False)]
facturacion_final_dup.head()

In [ ]:
facturacion_final_dup.shape

In [ ]:
facturacion_final_dup_email = facturacion_final[facturacion_final.duplicated(['user_email'] , keep=False)]
facturacion_final_dup_email.head()

In [ ]:
facturacion_final.shape

In [ ]:
#facturacion_final.to_csv('fact_septiembre_2022.csv',index=False)

# FILE FACTURACION BY DATE

In [ ]:
facturacion_by_date = pd.pivot_table(fact_total,index=["Date"],values=["total_due",'total_transactions',"total_fees_charged",
                                                                       'applied_fees_benefits_topups',"fee_direct_deposit",
                                                                       'applied_fees_benefits_coupons'],
                                     aggfunc=np.sum,margins=True)

In [ ]:
facturacion_by_date.rename(columns ={'total_due': 'Total due (payment)','total_fees_charged': 'Txns fee',
                                     'applied_fees_benefits_topups': 'TopUps fee',
                                     'applied_fees_benefits_coupons':'Coupons',
                                     'fee_direct_deposit': 'TopUps fee_2'},inplace=True)

In [ ]:
facturacion_by_date = facturacion_by_date[['Total due (payment)','total_transactions','Txns fee','TopUps fee','TopUps fee_2',
                                          'Coupons']]
facturacion_by_date = facturacion_by_date.reset_index(drop=False)
# facturacion_by_date.to_csv('PIVOT BY DATE ABRIL 2021.csv')
facturacion_by_date.tail()

In [ ]:
facturacion_by_date.shape

In [ ]:
facturacion_by_date.drop(facturacion_by_date.tail(1).index,inplace=True) # drop last n rows

In [ ]:
facturacion_by_date.loc['All'] = facturacion_by_date.sum(numeric_only=True)
facturacion_by_date['Date'].fillna('ALL',inplace=True)

In [ ]:
facturacion_by_date.shape

In [ ]:
facturacion_by_date_total = facturacion_by_date.merge(lender_amount_date_clip[['Date','amount','capital',
                                                                               'interest','tax',"provider_code"]] ,
                                                      on='Date', how='left')
facturacion_by_date_total['amount'].fillna(0,inplace=True)
facturacion_by_date_total['capital'].fillna(0,inplace=True)
facturacion_by_date_total['interest'].fillna(0,inplace=True)
facturacion_by_date_total['tax'].fillna(0,inplace=True)
facturacion_by_date_total.head()

In [ ]:
facturacion_by_date_total['Net fee'] = facturacion_by_date_total['Txns fee'] - facturacion_by_date_total['TopUps fee'] - facturacion_by_date_total['TopUps fee_2'] + facturacion_by_date_total['interest']
facturacion_by_date_total['Global taxes'] = facturacion_by_date_total['Net fee'] * 0.16
facturacion_by_date_total.head()

In [ ]:
facturacion_by_date_total.shape

In [ ]:
facturacion_by_date_final = facturacion_by_date_total[['Date','Total due (payment)','total_transactions','Txns fee'
                                                       ,'TopUps fee','TopUps fee_2','Coupons','interest','Net fee',
                                                       'Global taxes']]

In [ ]:
facturacion_by_date_final.rename(columns ={'Interests today': 'Loans fee'},inplace=True)

In [ ]:
facturacion_by_date_final.head()

In [ ]:
facturacion_by_date_final.drop(facturacion_by_date_final.tail(1).index,inplace=True) # drop last n rows

In [ ]:
facturacion_by_date_final.loc['All'] = facturacion_by_date_final.sum(numeric_only=True)
facturacion_by_date_final['Date'].fillna('ALL',inplace=True)

In [ ]:
facturacion_by_date_final.shape

# SPLIT DATAFRAME DE FACT_TOTAL EN 3 SHEETS DE EXCEL

In [ ]:
start_date_1 = '2022-11-30'
final_date_1 = '2022-12-09'

In [ ]:
fact_total_1 = fact_total[(fact_total['Date'] >= start_date_1) & (fact_total['Date'] <= final_date_1)]
fact_total_1.head()

In [ ]:
fact_total_1.shape

In [ ]:
start_date_2 = '2022-12-10'
final_date_2 = '2022-12-19'

In [ ]:
fact_total_2 = fact_total[(fact_total['Date'] >= start_date_2) & (fact_total['Date'] <= final_date_2)]
fact_total_2.head()

In [ ]:
fact_total_2.shape

In [ ]:
start_date_3 = '2022-12-20'
final_date_3 = '2022-12-29'

In [ ]:
fact_total_3 = fact_total[(fact_total['Date'] >= start_date_3) & (fact_total['Date'] <= final_date_3)]
fact_total_3.head()

In [ ]:
fact_total_3.shape

In [ ]:
start_date_4 = '2022-12-30'
final_date_4 = '2022-12-31'

In [ ]:
fact_total_4 = fact_total[(fact_total['Date'] >= start_date_4) & (fact_total['Date'] <= final_date_4)]
fact_total_4.head()

In [ ]:
fact_total_4.shape

# ULTIMO DIA FACTURACION

In [ ]:
start_date_last_day = '2022-12-31'

In [ ]:
fact_total_last_day = fact_total[(fact_total['Date'] == start_date_last_day)]
fact_total_last_day.head()

In [ ]:
fact_total_last_day.shape

# EXCEL FINAL

In [ ]:
writer = pd.ExcelWriter('IngresoDiarioSettlement-DICIEMBRE 2022-CUPON.xlsx',
                        engine='xlsxwriter',
                        engine_kwargs={'options': {'encoding':'utf-8'}})
fact_total_1.to_excel(writer, sheet_name='DICIEMBRE 30-09',index=False)
fact_total_2.to_excel(writer, sheet_name='DICIEMBRE 10-19',index=False)
fact_total_3.to_excel(writer, sheet_name='DICIEMBRE 20-29',index=False)
fact_total_4.to_excel(writer, sheet_name='DICIEMBRE 30-31',index=False)
dynamo.to_excel(writer, sheet_name='Info dynamo',index=False)
facturacion_by_date.to_excel(writer, sheet_name='Resumen by date',index=False)
lender_amount_date_mrp.to_excel(writer, sheet_name='MRP by date',index=False)
lender_amount_date_mot.to_excel(writer, sheet_name='MOT by date',index=False)
lender_amount_date_aph.to_excel(writer, sheet_name='APH by date',index=False)
lender_amount_date_clip.to_excel(writer, sheet_name='CLIP by date',index=False)
lender_amount_date_hcs.to_excel(writer, sheet_name='HCS by date',index=False)
lender_amount_date_r2.to_excel(writer, sheet_name='R2 by date',index=False)
lender_amount_date_cto.to_excel(writer, sheet_name='CTO by date',index=False)
facturacion_final.to_excel(writer, sheet_name='Resumen',index=False)
facturacion_by_date_final.to_excel(writer,sheet_name='DICIEMBRE by date',index=False)
writer.close()

# CSV ULTIMO DIA FACTURACION Y TPV FACTURADO

In [ ]:
fact_total_last_day.to_csv('LAST DAY FACT DICIEMBRE 31 2022.csv',index=False)
facturacion_by_date_final.to_csv('TPV FACTURADO DICIEMBRE 31 2022.csv',index=False)

# PIVOT LENDER BY DATE

In [ ]:
# #facturacion_total_2 = pt.merge(lender_total_date[['date','Capital today', 'Interests today',
#                                                    'IVA Interests today',"tipo_loan"]] ,on='date', how='left')
#facturacion_total_2["Capital today"].fillna(0,inplace=True)
#facturacion_total_2["Interests today"].fillna(0,inplace=True)
#facturacion_total_2["IVA Interests today"].fillna(0,inplace=True)
#facturacion_total_2["tipo_loan"].fillna("N/A",inplace=True)
#facturacion_total_2.head()

In [ ]:
#facturacion_total_2.shape