In [1]:
import pandas as pd
import numpy as np
import glob
import os
from openpyxl import load_workbook
pd.options.display.float_format = '{:,.2f}'.format

In [2]:
start_date = '2023-01-01'
final_date = '2023-01-31'

final_date_1 = '2023-01-15'
start_date_1 = '2023-01-16'

# RUTAS

### SETTLEMENT MASTER LOG

In [3]:
sml_files = glob.glob(r'G:\My Drive\RESPALDO-PC\DYNAMO\2023\01. ENERO\SETTLEMENT MASTER LOG\V2\*.csv', recursive=False)
sml_files

['G:\\My Drive\\RESPALDO-PC\\DYNAMO\\2023\\01. ENERO\\SETTLEMENT MASTER LOG\\V2\\SETTLEMENT_MASTER_LOG_DATE (1).csv',
 'G:\\My Drive\\RESPALDO-PC\\DYNAMO\\2023\\01. ENERO\\SETTLEMENT MASTER LOG\\V2\\SETTLEMENT_MASTER_LOG_DATE.csv',
 'G:\\My Drive\\RESPALDO-PC\\DYNAMO\\2023\\01. ENERO\\SETTLEMENT MASTER LOG\\V2\\SETTLEMENT_MASTER_LOG_DATE (3).csv',
 'G:\\My Drive\\RESPALDO-PC\\DYNAMO\\2023\\01. ENERO\\SETTLEMENT MASTER LOG\\V2\\SETTLEMENT_MASTER_LOG_DATE (2).csv']

### AP JOURNAL

In [4]:
ap_files = glob.glob(r'G:\My Drive\RESPALDO-PC\DYNAMO\2023\01. ENERO\AP JOURNAL\V2\*.csv', recursive=False)
ap_files

['G:\\My Drive\\RESPALDO-PC\\DYNAMO\\2023\\01. ENERO\\AP JOURNAL\\V2\\AP-JOURNAL_DATE (3).csv',
 'G:\\My Drive\\RESPALDO-PC\\DYNAMO\\2023\\01. ENERO\\AP JOURNAL\\V2\\AP-JOURNAL_DATE (2).csv',
 'G:\\My Drive\\RESPALDO-PC\\DYNAMO\\2023\\01. ENERO\\AP JOURNAL\\V2\\AP-JOURNAL_DATE (1).csv',
 'G:\\My Drive\\RESPALDO-PC\\DYNAMO\\2023\\01. ENERO\\AP JOURNAL\\V2\\AP-JOURNAL_DATE.csv']

# DATA SETTLEMENT MASTER LOG

In [5]:
sml = pd.concat([pd.read_csv(f).assign(file_name=os.path.basename(f)) for f in sml_files])
sml.replace('""','', regex=True, inplace=True)
sml['CREATED_AT'] = pd.to_datetime(sml['CREATED_AT']).dt.tz_localize(None)
sml['EFF_DT'] = pd.to_datetime(sml['EFF_DT']).dt.tz_localize(None)
sml.rename(columns={'REF_ID':'TRANSACTION_ID'},inplace=True)
#sml['PK'] = sml['PK'].replace('M#','',inplace=True)
sml.head()

,RECORD_UUID,MVNT_ID,CREATED_AT,EFF_DT,EFF_DT_2,GROSS_AMOUNT,FEES,TAXES,NET_AMOUNT,MDR,MSI,MVNT_TYPE,MERCHANT_ID,PYMT_PRG,TRANSACTION_ID,STATUS_CODE,file_name
0,8cf02455-e0b5-5c51-ba1a-a3c5f3a75ae7,520d0434-3862-477c-9f9b-3f0d46247eec,2023-01-10 14:07:43,2023-01-11 01:30:00,2023-01-11,738.00,26.57,4.25,707.18,0.04,0.00,STL_PCS_RQ,0000d758-84b4-4cb0-a165-4f0d3c44864d,REGULAR_PAYMENT,520d0434-3862-477c-9f9b-3f0d46247eec,1,SETTLEMENT_MASTER_LOG_DATE (1).csv
1,c444f644-8990-563d-be3c-293612a85517,e34b060b-a5fc-4ece-91e5-9aed44773cb0,2023-01-10 18:46:43,2023-01-11 02:00:00,2023-01-11,751.00,27.04,4.33,719.63,0.04,0.00,STL_PCS_RQ,0000d758-84b4-4cb0-a165-4f0d3c44864d,REGULAR_PAYMENT,e34b060b-a5fc-4ece-91e5-9aed44773cb0,1,SETTLEMENT_MASTER_LOG_DATE (1).csv
2,8b0b14ed-2e51-5a83-9ba0-79a3e7035eb5,b0a2ad95-c41b-4537-b0d7-b90d024be3e4,2023-01-11 16:18:17,2023-01-12 02:00:00,2023-01-12,"2,091.00",75.28,12.04,"2,003.68",0.04,0.00,STL_PCS_RQ,0000d758-84b4-4cb0-a165-4f0d3c44864d,REGULAR_PAYMENT,b0a2ad95-c41b-4537-b0d7-b90d024be3e4,1,SETTLEMENT_MASTER_LOG_DATE (1).csv
3,1f0dfcfe-d2a8-5b82-ae70-60ac826abd74,76abd247-5ec2-473b-a183-58395440e92b,2023-01-11 16:10:59,2023-01-12 02:00:00,2023-01-12,255.00,9.18,1.47,244.35,0.04,0.00,STL_PCS_RQ,0000d758-84b4-4cb0-a165-4f0d3c44864d,REGULAR_PAYMENT,76abd247-5ec2-473b-a183-58395440e92b,1,SETTLEMENT_MASTER_LOG_DATE (1).csv
4,c148e17c-f614-5ed9-80af-83bc904ff28d,da78bc07-14ef-41c8-b790-8aeae605bb46,2023-01-11 20:19:43,2023-01-12 02:30:00,2023-01-12,"2,119.00",76.28,12.20,"2,030.52",0.04,0.00,STL_PCS_RQ,0000d758-84b4-4cb0-a165-4f0d3c44864d,REGULAR_PAYMENT,da78bc07-14ef-41c8-b790-8aeae605bb46,1,SETTLEMENT_MASTER_LOG_DATE (1).csv

In [6]:
sml.shape

(2320583, 17)

In [7]:
sml.dtypes

RECORD_UUID               object
MVNT_ID                   object
CREATED_AT        datetime64[ns]
EFF_DT            datetime64[ns]
EFF_DT_2                  object
GROSS_AMOUNT             float64
FEES                     float64
TAXES                    float64
NET_AMOUNT               float64
MDR                      float64
MSI                      float64
MVNT_TYPE                 object
MERCHANT_ID               object
PYMT_PRG                  object
TRANSACTION_ID            object
STATUS_CODE                int64
file_name                 object
dtype: object

In [8]:
sml_final = sml[(sml['MVNT_TYPE'] == 'STL_PCS_RQ')]
sml_final.head()

,RECORD_UUID,MVNT_ID,CREATED_AT,EFF_DT,EFF_DT_2,GROSS_AMOUNT,FEES,TAXES,NET_AMOUNT,MDR,MSI,MVNT_TYPE,MERCHANT_ID,PYMT_PRG,TRANSACTION_ID,STATUS_CODE,file_name
0,8cf02455-e0b5-5c51-ba1a-a3c5f3a75ae7,520d0434-3862-477c-9f9b-3f0d46247eec,2023-01-10 14:07:43,2023-01-11 01:30:00,2023-01-11,738.00,26.57,4.25,707.18,0.04,0.00,STL_PCS_RQ,0000d758-84b4-4cb0-a165-4f0d3c44864d,REGULAR_PAYMENT,520d0434-3862-477c-9f9b-3f0d46247eec,1,SETTLEMENT_MASTER_LOG_DATE (1).csv
1,c444f644-8990-563d-be3c-293612a85517,e34b060b-a5fc-4ece-91e5-9aed44773cb0,2023-01-10 18:46:43,2023-01-11 02:00:00,2023-01-11,751.00,27.04,4.33,719.63,0.04,0.00,STL_PCS_RQ,0000d758-84b4-4cb0-a165-4f0d3c44864d,REGULAR_PAYMENT,e34b060b-a5fc-4ece-91e5-9aed44773cb0,1,SETTLEMENT_MASTER_LOG_DATE (1).csv
2,8b0b14ed-2e51-5a83-9ba0-79a3e7035eb5,b0a2ad95-c41b-4537-b0d7-b90d024be3e4,2023-01-11 16:18:17,2023-01-12 02:00:00,2023-01-12,"2,091.00",75.28,12.04,"2,003.68",0.04,0.00,STL_PCS_RQ,0000d758-84b4-4cb0-a165-4f0d3c44864d,REGULAR_PAYMENT,b0a2ad95-c41b-4537-b0d7-b90d024be3e4,1,SETTLEMENT_MASTER_LOG_DATE (1).csv
3,1f0dfcfe-d2a8-5b82-ae70-60ac826abd74,76abd247-5ec2-473b-a183-58395440e92b,2023-01-11 16:10:59,2023-01-12 02:00:00,2023-01-12,255.00,9.18,1.47,244.35,0.04,0.00,STL_PCS_RQ,0000d758-84b4-4cb0-a165-4f0d3c44864d,REGULAR_PAYMENT,76abd247-5ec2-473b-a183-58395440e92b,1,SETTLEMENT_MASTER_LOG_DATE (1).csv
4,c148e17c-f614-5ed9-80af-83bc904ff28d,da78bc07-14ef-41c8-b790-8aeae605bb46,2023-01-11 20:19:43,2023-01-12 02:30:00,2023-01-12,"2,119.00",76.28,12.20,"2,030.52",0.04,0.00,STL_PCS_RQ,0000d758-84b4-4cb0-a165-4f0d3c44864d,REGULAR_PAYMENT,da78bc07-14ef-41c8-b790-8aeae605bb46,1,SETTLEMENT_MASTER_LOG_DATE (1).csv

In [9]:
sml_final.shape

(2320583, 17)

# DATA AP JOURNAL

In [10]:
ap = pd.concat([pd.read_csv(f).assign(file_name=os.path.basename(f)) for f in ap_files])
ap.replace('""','', regex=True, inplace=True)
ap['EFF_DT'] =  pd.to_datetime(ap['EFF_DT']).dt.tz_localize(None)
ap['EFF_DT_DATE'] =  pd.to_datetime(ap['EFF_DT']).dt.date
ap['EFF_DT_DATE'] =  pd.to_datetime(ap['EFF_DT_DATE']).dt.tz_localize(None)
ap['EFF_DT_TIME'] =  pd.to_datetime(ap['EFF_DT']).dt.time
ap['MOVEMENT_DAY'] = pd.to_datetime(ap['MOVEMENT_DAY']).dt.tz_localize(None)
ap['CREATED_AT'] = pd.to_datetime(ap['CREATED_AT']).dt.tz_localize(None)
ap['REQUEST_EFFECTIVE_DATE'] = pd.to_datetime(ap['REQUEST_EFFECTIVE_DATE']).dt.tz_localize(None)
ap['SLOT_DATE'] = pd.to_datetime(ap['SLOT_DATE']).dt.tz_localize(None)
ap['IDENTIFIER'] = ap['SOURCE_TYPE'].str[:1].astype(str)
ap['INDEX'] = (ap['EFF_DT_DATE'].astype(str).replace(' ', '',regex=True)+'-'+
               ap['IDENTIFIER'].astype(str).replace(' ', '',regex=True)+'-'+
               ap['EFF_DT_TIME'].astype(str).replace(' ', '',regex=True))
ap.sort_values(by=(['MERCHANT_ID','EFF_DT']), ascending=[True,False], inplace=True)
ap.head()

,MERCHANT_ID,AMOUNT,CREATED_AT,CURRENCY,TYPE_REQUEST,EFF_DT,MOVEMENT_DAY,MVNT_ID,MOVEMENT_TYPE,REQUEST_EFFECTIVE_DATE,SLOT_DATE,SOURCE_TYPE,file_name,EFF_DT_DATE,EFF_DT_TIME,IDENTIFIER,INDEX
31,0000d758-84b4-4cb0-a165-4f0d3c44864d,"-13,021.43",2023-01-30 07:07:16,MXN,AXTK3CVKV,2023-01-30 07:07:21,2023-01-30 07:07:13,c88cdb8d-17a8-438d-93c8-ddd972a9f0be,DISB_RQ,2023-01-30 07:05:35,1969-12-31 18:00:00,DISB,AP-JOURNAL_DATE (2).csv,2023-01-30,07:07:21,D,2023-01-30-D-07:07:21
29,0000d758-84b4-4cb0-a165-4f0d3c44864d,661.19,2023-01-29 20:01:05,MXN,settlement processor regular payment request,2023-01-30 03:00:00,2023-01-29 20:01:05,8e6a8dea-b92d-4e64-a22e-1be970585299,REGULAR_PYMT_RQ,2023-01-30 02:30:00,2023-01-30 03:00:00,SETT,AP-JOURNAL_DATE (2).csv,2023-01-30,03:00:00,S,2023-01-30-S-03:00:00
30,0000d758-84b4-4cb0-a165-4f0d3c44864d,"1,363.57",2023-01-29 21:11:26,MXN,settlement processor regular payment request,2023-01-30 03:00:00,2023-01-29 21:11:26,a2d04702-000e-44d3-8fe3-708a2f5f6b9f,REGULAR_PYMT_RQ,2023-01-30 02:30:00,2023-01-30 03:00:00,SETT,AP-JOURNAL_DATE (2).csv,2023-01-30,03:00:00,S,2023-01-30-S-03:00:00
25,0000d758-84b4-4cb0-a165-4f0d3c44864d,"2,682.97",2023-01-29 15:46:35,MXN,settlement processor regular payment request,2023-01-30 02:00:00,2023-01-29 15:46:35,ec8138f4-6ea4-4bf7-8123-9b67e7f5c9be,REGULAR_PYMT_RQ,2023-01-30 01:30:00,2023-01-30 02:00:00,SETT,AP-JOURNAL_DATE (2).csv,2023-01-30,02:00:00,S,2023-01-30-S-02:00:00
26,0000d758-84b4-4cb0-a165-4f0d3c44864d,"3,974.78",2023-01-29 15:37:27,MXN,settlement processor regular payment request,2023-01-30 02:00:00,2023-01-29 15:37:27,55b49069-5960-4369-a17d-065bf6d7daab,REGULAR_PYMT_RQ,2023-01-30 01:30:00,2023-01-30 02:00:00,SETT,AP-JOURNAL_DATE (2).csv,2023-01-30,02:00:00,S,2023-01-30-S-02:00:00

In [11]:
ap.shape

(2977776, 17)

In [12]:
ap['SOURCE_TYPE'].unique()

array(['DISB', 'SETT', 'RISK', 'TOPUPS', 'PYMT', 'LOAN'], dtype=object)

In [13]:
ap.dtypes

MERCHANT_ID                       object
AMOUNT                           float64
CREATED_AT                datetime64[ns]
CURRENCY                          object
TYPE_REQUEST                      object
EFF_DT                    datetime64[ns]
MOVEMENT_DAY              datetime64[ns]
MVNT_ID                           object
MOVEMENT_TYPE                     object
REQUEST_EFFECTIVE_DATE    datetime64[ns]
SLOT_DATE                 datetime64[ns]
SOURCE_TYPE                       object
file_name                         object
EFF_DT_DATE               datetime64[ns]
EFF_DT_TIME                       object
IDENTIFIER                        object
INDEX                             object
dtype: object

In [14]:
ap_range_1 = ap[(ap['EFF_DT_DATE'] >= '2023-01-01') & (ap['EFF_DT_DATE'] <= '2023-01-10')]
ap_range_2 = ap[(ap['EFF_DT_DATE'] >= '2023-01-11') & (ap['EFF_DT_DATE'] <= '2023-01-20')]
ap_range_3 = ap[(ap['EFF_DT_DATE'] >= '2023-01-21') & (ap['EFF_DT_DATE'] <= '2023-01-30')]
ap_range_4 = ap[(ap['EFF_DT_DATE'] >= '2023-01-31') & (ap['EFF_DT_DATE'] <= '2023-01-31')]

In [15]:
ap_range_1.shape

(902255, 17)

In [16]:
ap_range_2.shape

(977589, 17)

In [17]:
ap_range_3.shape

(1000326, 17)

In [18]:
ap_range_4.shape

(97606, 17)

In [19]:
ap_sett = ap[(ap['SOURCE_TYPE'] == 'SETT')]
ap_topups = ap[(ap['SOURCE_TYPE'] == 'TOPUPS')]
ap_disb = ap[(ap['SOURCE_TYPE'] == 'DISB')]
ap_loan = ap[(ap['SOURCE_TYPE'] == 'LOAN')]
ap_pymt = ap[(ap['SOURCE_TYPE'] == 'PYMT')]
ap_risk = ap[(ap['SOURCE_TYPE'] == 'RISK')]

# CRUCE_1: DATA AP(SETT) VS. DATA SETTLEMENT MASTER LOG

In [20]:
ap_sett.head()

,MERCHANT_ID,AMOUNT,CREATED_AT,CURRENCY,TYPE_REQUEST,EFF_DT,MOVEMENT_DAY,MVNT_ID,MOVEMENT_TYPE,REQUEST_EFFECTIVE_DATE,SLOT_DATE,SOURCE_TYPE,file_name,EFF_DT_DATE,EFF_DT_TIME,IDENTIFIER,INDEX
29,0000d758-84b4-4cb0-a165-4f0d3c44864d,661.19,2023-01-29 20:01:05,MXN,settlement processor regular payment request,2023-01-30 03:00:00,2023-01-29 20:01:05,8e6a8dea-b92d-4e64-a22e-1be970585299,REGULAR_PYMT_RQ,2023-01-30 02:30:00,2023-01-30 03:00:00,SETT,AP-JOURNAL_DATE (2).csv,2023-01-30,03:00:00,S,2023-01-30-S-03:00:00
30,0000d758-84b4-4cb0-a165-4f0d3c44864d,"1,363.57",2023-01-29 21:11:26,MXN,settlement processor regular payment request,2023-01-30 03:00:00,2023-01-29 21:11:26,a2d04702-000e-44d3-8fe3-708a2f5f6b9f,REGULAR_PYMT_RQ,2023-01-30 02:30:00,2023-01-30 03:00:00,SETT,AP-JOURNAL_DATE (2).csv,2023-01-30,03:00:00,S,2023-01-30-S-03:00:00
25,0000d758-84b4-4cb0-a165-4f0d3c44864d,"2,682.97",2023-01-29 15:46:35,MXN,settlement processor regular payment request,2023-01-30 02:00:00,2023-01-29 15:46:35,ec8138f4-6ea4-4bf7-8123-9b67e7f5c9be,REGULAR_PYMT_RQ,2023-01-30 01:30:00,2023-01-30 02:00:00,SETT,AP-JOURNAL_DATE (2).csv,2023-01-30,02:00:00,S,2023-01-30-S-02:00:00
26,0000d758-84b4-4cb0-a165-4f0d3c44864d,"3,974.78",2023-01-29 15:37:27,MXN,settlement processor regular payment request,2023-01-30 02:00:00,2023-01-29 15:37:27,55b49069-5960-4369-a17d-065bf6d7daab,REGULAR_PYMT_RQ,2023-01-30 01:30:00,2023-01-30 02:00:00,SETT,AP-JOURNAL_DATE (2).csv,2023-01-30,02:00:00,S,2023-01-30-S-02:00:00
27,0000d758-84b4-4cb0-a165-4f0d3c44864d,"3,406.54",2023-01-29 13:45:12,MXN,settlement processor regular payment request,2023-01-30 02:00:00,2023-01-29 13:45:12,944d9078-be08-4fd5-9311-3403e71b26b1,REGULAR_PYMT_RQ,2023-01-30 01:30:00,2023-01-30 02:00:00,SETT,AP-JOURNAL_DATE (2).csv,2023-01-30,02:00:00,S,2023-01-30-S-02:00:00

In [21]:
ap_sett.shape

(2320660, 17)

In [22]:
cruce_1 = ap_sett.merge(sml_final[['MVNT_ID','GROSS_AMOUNT','FEES','TAXES','NET_AMOUNT','MDR','MSI']],
                            on='MVNT_ID',how='left')
cruce_1.head()

,MERCHANT_ID,AMOUNT,CREATED_AT,CURRENCY,TYPE_REQUEST,EFF_DT,MOVEMENT_DAY,MVNT_ID,MOVEMENT_TYPE,REQUEST_EFFECTIVE_DATE,...,EFF_DT_DATE,EFF_DT_TIME,IDENTIFIER,INDEX,GROSS_AMOUNT,FEES,TAXES,NET_AMOUNT,MDR,MSI
0,0000d758-84b4-4cb0-a165-4f0d3c44864d,661.19,2023-01-29 20:01:05,MXN,settlement processor regular payment request,2023-01-30 03:00:00,2023-01-29 20:01:05,8e6a8dea-b92d-4e64-a22e-1be970585299,REGULAR_PYMT_RQ,2023-01-30 02:30:00,...,2023-01-30,03:00:00,S,2023-01-30-S-03:00:00,690.00,24.84,3.97,661.19,0.04,0.00
1,0000d758-84b4-4cb0-a165-4f0d3c44864d,"1,363.57",2023-01-29 21:11:26,MXN,settlement processor regular payment request,2023-01-30 03:00:00,2023-01-29 21:11:26,a2d04702-000e-44d3-8fe3-708a2f5f6b9f,REGULAR_PYMT_RQ,2023-01-30 02:30:00,...,2023-01-30,03:00:00,S,2023-01-30-S-03:00:00,"1,423.00",51.23,8.20,"1,363.57",0.04,0.00
2,0000d758-84b4-4cb0-a165-4f0d3c44864d,"2,682.97",2023-01-29 15:46:35,MXN,settlement processor regular payment request,2023-01-30 02:00:00,2023-01-29 15:46:35,ec8138f4-6ea4-4bf7-8123-9b67e7f5c9be,REGULAR_PYMT_RQ,2023-01-30 01:30:00,...,2023-01-30,02:00:00,S,2023-01-30-S-02:00:00,"2,799.90",100.80,16.13,"2,682.97",0.04,0.00
3,0000d758-84b4-4cb0-a165-4f0d3c44864d,"3,974.78",2023-01-29 15:37:27,MXN,settlement processor regular payment request,2023-01-30 02:00:00,2023-01-29 15:37:27,55b49069-5960-4369-a17d-065bf6d7daab,REGULAR_PYMT_RQ,2023-01-30 01:30:00,...,2023-01-30,02:00:00,S,2023-01-30-S-02:00:00,"4,148.00",149.33,23.89,"3,974.78",0.04,0.00
4,0000d758-84b4-4cb0-a165-4f0d3c44864d,"3,406.54",2023-01-29 13:45:12,MXN,settlement processor regular payment request,2023-01-30 02:00:00,2023-01-29 13:45:12,944d9078-be08-4fd5-9311-3403e71b26b1,REGULAR_PYMT_RQ,2023-01-30 01:30:00,...,2023-01-30,02:00:00,S,2023-01-30-S-02:00:00,"3,555.00",127.98,20.48,"3,406.54",0.04,0.00

In [23]:
cruce_1.shape

(2320660, 23)

In [24]:
cruce_1_range = cruce_1[(cruce_1['EFF_DT_DATE'] >= '2023-01-01') & (cruce_1['EFF_DT_DATE'] <= '2023-01-10')]
cruce_2_range = cruce_1[(cruce_1['EFF_DT_DATE'] >= '2023-01-11') & (cruce_1['EFF_DT_DATE'] <= '2023-01-20')]
cruce_3_range = cruce_1[(cruce_1['EFF_DT_DATE'] >= '2023-01-21') & (cruce_1['EFF_DT_DATE'] <= '2023-01-31')]

In [25]:
cruce_1_range.shape

(707802, 23)

In [26]:
cruce_2_range.shape

(759263, 23)

In [27]:
cruce_3_range.shape

(853595, 23)

In [28]:
cruce_1_group = cruce_1.groupby(['EFF_DT_DATE','MOVEMENT_TYPE']).agg({'MVNT_ID':'count',
                                                                      'GROSS_AMOUNT':sum,
                                                                      'FEES':sum,
                                                                      'TAXES':sum,
                                                                      'NET_AMOUNT':sum,
                                                                      'AMOUNT':sum}).reset_index()
cruce_1_group.head()

,EFF_DT_DATE,MOVEMENT_TYPE,MVNT_ID,GROSS_AMOUNT,FEES,TAXES,NET_AMOUNT,AMOUNT
0,2023-01-01,FAST_PYMT_RQ,3087,"1,192,034.63","46,937.57","7,509.89","1,137,587.17","1,137,587.17"
1,2023-01-01,REGULAR_PYMT_RQ,78001,"27,754,820.01","1,027,707.90","164,433.52","26,562,678.59","26,562,678.59"
2,2023-01-02,FAST_PYMT_RQ,5019,"2,294,690.64","88,801.35","14,208.13","2,191,681.16","2,191,681.16"
3,2023-01-02,REGULAR_PYMT_RQ,33845,"12,899,718.17","464,681.87","74,350.01","12,360,686.29","12,360,686.29"
4,2023-01-03,FAST_PYMT_RQ,5653,"2,388,346.68","95,150.96","15,224.26","2,277,971.46","2,277,971.46"

In [29]:
cruce_1_group.shape

(63, 8)

# CRUCE_2: DATA AP(PYMT) VS. SETTLEMENT MASTER LOG

In [30]:
ap_pymt.head()

,MERCHANT_ID,AMOUNT,CREATED_AT,CURRENCY,TYPE_REQUEST,EFF_DT,MOVEMENT_DAY,MVNT_ID,MOVEMENT_TYPE,REQUEST_EFFECTIVE_DATE,SLOT_DATE,SOURCE_TYPE,file_name,EFF_DT_DATE,EFF_DT_TIME,IDENTIFIER,INDEX
534,00305d8a-7a5f-4c09-ac22-0ed11a028f11,-695.68,2023-01-18 14:32:27,MXN,cancel request,2023-01-18 14:32:32,2023-01-18 14:32:27,dc943294-1a9d-4869-83fa-a79ddf419844,CANCEL_RQ,2023-01-19 01:30:00,1969-12-31 18:00:00,PYMT,AP-JOURNAL_DATE (1).csv,2023-01-18,14:32:32,P,2023-01-18-P-14:32:32
533,00305d8a-7a5f-4c09-ac22-0ed11a028f11,-695.68,2023-01-18 14:32:00,MXN,cancel request,2023-01-18 14:32:05,2023-01-18 14:32:00,c5a1cf95-ff9a-4cc1-a7a4-311bad1b5ff9,CANCEL_RQ,2023-01-19 01:30:00,1969-12-31 18:00:00,PYMT,AP-JOURNAL_DATE (1).csv,2023-01-18,14:32:05,P,2023-01-18-P-14:32:05
551,0034ffbb-02e4-4bad-88a3-afc4390fbe4f,-110.20,2023-01-02 10:41:30,MXN,cancel request,2023-01-02 10:41:35,2023-01-02 10:41:30,ac165201-9cdc-4e38-abe7-5b3e53600c40,CANCEL_RQ,2023-01-03 01:00:00,1969-12-31 18:00:00,PYMT,AP-JOURNAL_DATE.csv,2023-01-02,10:41:35,P,2023-01-02-P-10:41:35
1204,0044d3ee-12be-4e64-8ead-0da88d54d42f,-71.87,2023-01-11 16:09:01,MXN,cancel request,2023-01-11 16:09:06,2023-01-11 16:09:01,680f3b25-3855-4d34-9955-466e8e344e95,CANCEL_RQ,2023-01-12 02:00:00,1969-12-31 18:00:00,PYMT,AP-JOURNAL_DATE (1).csv,2023-01-11,16:09:06,P,2023-01-11-P-16:09:06
1753,006e4ca1-d992-4f38-a512-8cb4bc6f9e21,"-1,341.54",2023-01-11 11:57:42,MXN,cancel request,2023-01-11 11:57:47,2023-01-11 11:57:42,3e1d9e44-4df0-4ded-964b-b1c896d6ab3d,CANCEL_RQ,2023-01-12 01:00:00,1969-12-31 18:00:00,PYMT,AP-JOURNAL_DATE (1).csv,2023-01-11,11:57:47,P,2023-01-11-P-11:57:47

In [31]:
ap_pymt.shape

(2685, 17)

In [32]:
cruce_2 = ap_pymt.merge(sml_final[['MVNT_ID','GROSS_AMOUNT','FEES','TAXES','NET_AMOUNT','MDR','MSI']],
                            on='MVNT_ID',how='left')
cruce_2.head()

,MERCHANT_ID,AMOUNT,CREATED_AT,CURRENCY,TYPE_REQUEST,EFF_DT,MOVEMENT_DAY,MVNT_ID,MOVEMENT_TYPE,REQUEST_EFFECTIVE_DATE,...,EFF_DT_DATE,EFF_DT_TIME,IDENTIFIER,INDEX,GROSS_AMOUNT,FEES,TAXES,NET_AMOUNT,MDR,MSI
0,00305d8a-7a5f-4c09-ac22-0ed11a028f11,-695.68,2023-01-18 14:32:27,MXN,cancel request,2023-01-18 14:32:32,2023-01-18 14:32:27,dc943294-1a9d-4869-83fa-a79ddf419844,CANCEL_RQ,2023-01-19 01:30:00,...,2023-01-18,14:32:32,P,2023-01-18-P-14:32:32,726.00,26.14,4.18,695.68,0.04,0.00
1,00305d8a-7a5f-4c09-ac22-0ed11a028f11,-695.68,2023-01-18 14:32:00,MXN,cancel request,2023-01-18 14:32:05,2023-01-18 14:32:00,c5a1cf95-ff9a-4cc1-a7a4-311bad1b5ff9,CANCEL_RQ,2023-01-19 01:30:00,...,2023-01-18,14:32:05,P,2023-01-18-P-14:32:05,726.00,26.14,4.18,695.68,0.04,0.00
2,0034ffbb-02e4-4bad-88a3-afc4390fbe4f,-110.20,2023-01-02 10:41:30,MXN,cancel request,2023-01-02 10:41:35,2023-01-02 10:41:30,ac165201-9cdc-4e38-abe7-5b3e53600c40,CANCEL_RQ,2023-01-03 01:00:00,...,2023-01-02,10:41:35,P,2023-01-02-P-10:41:35,115.00,4.14,0.66,110.20,0.04,0.00
3,0044d3ee-12be-4e64-8ead-0da88d54d42f,-71.87,2023-01-11 16:09:01,MXN,cancel request,2023-01-11 16:09:06,2023-01-11 16:09:01,680f3b25-3855-4d34-9955-466e8e344e95,CANCEL_RQ,2023-01-12 02:00:00,...,2023-01-11,16:09:06,P,2023-01-11-P-16:09:06,75.00,2.70,0.43,71.87,0.04,0.00
4,006e4ca1-d992-4f38-a512-8cb4bc6f9e21,"-1,341.54",2023-01-11 11:57:42,MXN,cancel request,2023-01-11 11:57:47,2023-01-11 11:57:42,3e1d9e44-4df0-4ded-964b-b1c896d6ab3d,CANCEL_RQ,2023-01-12 01:00:00,...,2023-01-11,11:57:47,P,2023-01-11-P-11:57:47,"1,400.00",50.40,8.06,"1,341.54",0.04,0.00

In [33]:
cruce_2.shape

(2685, 23)

In [38]:
cruce_2.to_excel('Cancelaciones_detalle_enero_2023_v2.xlsx',index=False)

In [34]:
cruce_2_group = cruce_2.groupby(['EFF_DT_DATE']).agg({'MVNT_ID':'count',
                                                 'GROSS_AMOUNT':sum,
                                                 'FEES':sum,
                                                 'TAXES':sum,
                                                 'NET_AMOUNT':sum,
                                                 'AMOUNT':sum}).reset_index()
cruce_2_group.head()

  EFF_DT_DATE  MVNT_ID  GROSS_AMOUNT     FEES  TAXES  NET_AMOUNT     AMOUNT
0  2023-01-01       44     27,020.44   954.27 152.70   25,913.47 -25,913.47
1  2023-01-02      112     53,986.42 1,942.88 310.84   51,732.70 -51,732.70
2  2023-01-03       90     36,389.88 1,306.92 209.07   34,873.89 -34,873.89
3  2023-01-04       85     99,641.82 3,995.45 639.30   95,007.07 -95,007.07
4  2023-01-05       99     59,866.14 2,232.18 357.20   57,276.76 -57,276.76

In [35]:
cruce_2_group.shape

(31, 7)

In [36]:
cruce_2_group.to_excel('Cancelaciones_enero_2023_v2.xlsx')

# PIVOTS AP JOURNAL

### TOPUPS

In [ ]:
ap_topups['TOPUPS_LEDGER'] = ap_topups['AMOUNT'] / 1.16
ap_topups['IVA_TOPUPS_LEDGER'] = ap_topups['TOPUPS_LEDGER'] * 0.16
ap_topups.head()

In [ ]:
ap_topups.shape

In [ ]:
ap_topups_group = ap_topups.groupby(['EFF_DT_DATE']).agg({'MVNT_ID':'count',
                                                     'TOPUPS_LEDGER':sum,
                                                     'IVA_TOPUPS_LEDGER':sum,
                                                     'AMOUNT':sum}).reset_index()
ap_topups_group.head()

In [ ]:
ap_topups_group.shape

### LOANS

In [ ]:
ap_loan.head()

In [ ]:
ap_loan.shape

In [ ]:
ap_loan_group = ap_loan.groupby(['EFF_DT_DATE']).agg({'MVNT_ID':'count',
                                                     'AMOUNT':sum}).reset_index()
ap_loan_group.head()

In [ ]:
ap_loan_group.shape

### RIESGO

In [ ]:
ap_risk.head()

In [ ]:
ap_risk.shape

In [ ]:
ap_risk['MOVEMENT_TYPE'].unique()

In [ ]:
ap_risk_group = pd.pivot_table(ap_risk,index=['EFF_DT_DATE'],
                                  columns=['MOVEMENT_TYPE'],
                                  values=['MVNT_ID','AMOUNT']
                                  ,aggfunc = ['sum'],margins=True).reset_index()
ap_risk_group.fillna(0,inplace=True)
#ap_risk_group.drop(columns=['B', 'C'])
ap_risk_group.head()

In [ ]:
ap_risk_group.shape

### DISBURSEMENT

In [ ]:
ap_disb.head()

In [ ]:
ap_disb.shape

In [ ]:
ap_disb_group = ap_disb.groupby(['EFF_DT_DATE','MOVEMENT_TYPE']).agg({'MVNT_ID':'count',
                                                     'AMOUNT':sum}).reset_index()
ap_disb_group.head()

In [ ]:
ap_disb_group.shape

# EXCEL PIVOT DYNAMO

In [ ]:
writer = pd.ExcelWriter('AGRUPACION-FECHA DYNAMO ENERO 2023.xlsx',
                        engine='xlsxwriter',
                        engine_kwargs={'options': {'encoding':'utf-8'}})
cruce_1_group.to_excel(writer, sheet_name='SETT',index=False)
ap_topups_group.to_excel(writer, sheet_name='TOPUPS',index=False)
ap_disb_group.to_excel(writer, sheet_name='DISB',index=False)
ap_loan_group.to_excel(writer, sheet_name='LOANS',index=False)
cruce_2_group.to_excel(writer, sheet_name='PYMT',index=False)
ap_risk_group.to_excel(writer, sheet_name='RISK')
writer.close()

# EXCEL AP-JOURNAL

In [ ]:
writer = pd.ExcelWriter('DETALLE AP-JOURNAL ENERO 2023.xlsx',
                        engine='xlsxwriter',
                        engine_kwargs={'options': {'encoding':'utf-8'}})
ap_range_1.to_excel(writer, sheet_name='2023.01.01 - 2023.01.10',index=False)
ap_range_2.to_excel(writer, sheet_name='2023.01.11 - 2023.01.20',index=False)
ap_range_3.to_excel(writer, sheet_name='2023.01.21 - 2023.01.30',index=False)
ap_range_4.to_excel(writer, sheet_name='2023.01.31',index=False)
writer.close()

# EXCEL DETALLE DYNAMO

In [ ]:
writer = pd.ExcelWriter('DETALLE DYNAMO ENERO 2023.xlsx',
                        engine='xlsxwriter',
                        engine_kwargs={'options': {'encoding':'utf-8'}})
cruce_1_range.to_excel(writer, sheet_name='SETT_1',index=False)
cruce_2_range.to_excel(writer, sheet_name='SETT_2',index=False)
cruce_3_range.to_excel(writer, sheet_name='SETT_3',index=False)
ap_topups.to_excel(writer, sheet_name='TOPUPS',index=False)
ap_disb.to_excel(writer, sheet_name='DISB',index=False)
ap_loan.to_excel(writer, sheet_name='LOANS',index=False)
cruce_2.to_excel(writer, sheet_name='PYMT',index=False)
ap_risk.to_excel(writer, sheet_name='RISK',index=False)
writer.close()