In [1]:
import pandas as pd
import numpy as np
from openpyxl import load_workbook
import glob
import os
import datetime
pd.options.display.float_format = '{:,.2f}'.format
datetime.timedelta(days=1)
datetime.timedelta(1)

datetime.timedelta(days=1)

In [2]:
allfiles_adj = glob.glob(r'C:\Users\Cristian.Aparicio\Documents\POLIZAS\2023\06. JUNIO\DATA\ADJ*.csv', recursive=False)
allfiles_adj

['C:\\Users\\Cristian.Aparicio\\Documents\\POLIZAS\\2023\\06. JUNIO\\DATA\\ADJUSTMENTS JUNIO 2023.csv']

In [3]:
allfiles_ret = glob.glob(r'C:\Users\Cristian.Aparicio\Documents\POLIZAS\2023\06. JUNIO\DATA\RET*.csv', recursive=False)
allfiles_ret

['C:\\Users\\Cristian.Aparicio\\Documents\\POLIZAS\\2023\\06. JUNIO\\DATA\\RETENCIONES JUNIO 2023.csv']

In [4]:
allfiles_lib = glob.glob(r'C:\Users\Cristian.Aparicio\Documents\POLIZAS\2023\06. JUNIO\DATA\LIB*.csv', recursive=False)
allfiles_lib

['C:\\Users\\Cristian.Aparicio\\Documents\\POLIZAS\\2023\\06. JUNIO\\DATA\\LIBERACIONES JUNIO 2023.csv']

In [5]:
allfiles_com = sorted(glob.glob(r'G:\.shortcut-targets-by-id\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\3.-Settlement\5.-HISTORICO FILES PAGOS\01. TRADICIONAL\2023\06. JUNE\MONTOS EMAIL\*.csv', recursive=False))
allfiles_com

['G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\06. JUNE\\MONTOS EMAIL\\DIFF MONTOS-BNTE-1 2023-06-03.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\06. JUNE\\MONTOS EMAIL\\DIFF MONTOS-BNTE-1 2023-06-04.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\06. JUNE\\MONTOS EMAIL\\DIFF MONTOS-BNTE-1 2023-06-10.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\06. JUNE\\MONTOS EMAIL\\DIFF MONTOS-BNTE-1 2023-06-11.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\06. JUNE\\MONTOS EMAIL\\DIFF MONTOS-BNTE-1 2023-06-17.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\06. JUNE\\MONTOS EMAIL\\DIFF MONTOS-BNTE-1 2023-06-18.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\06. JUNE\\MONTOS EMAIL\\DIFF MONTOS-BNTE-1 2023-06-24.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\06. JUNE\\MONTOS EMAIL\\DIFF MONTOS-BNTE-1 2023-06-25.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\06. JUNE\\MONTOS EMAIL\\DIFF MONTOS-BNTE-2 2023-06-03.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\06. JUNE\\MONTOS EMAIL\\DIFF MONTOS-BNTE-2 2023-06-04.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\06. JUNE\\MONTOS EMAIL\\DIFF MONTOS-BNTE-2 2023-06-05.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\06. JUNE\\MONTOS EMAIL\\DIFF MONTOS-BNTE-2 2023-06-06.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\06. JUNE\\MONTOS EMAIL\\DIFF MONTOS-BNTE-2 2023-06-10.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\06. JUNE\\MONTOS EMAIL\\DIFF MONTOS-BNTE-2 2023-06-11.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\06. JUNE\\MONTOS EMAIL\\DIFF MONTOS-BNTE-2 2023-06-12.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\06. JUNE\\MONTOS EMAIL\\DIFF MONTOS-BNTE-2 2023-06-13.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\06. JUNE\\MONTOS EMAIL\\DIFF MONTOS-BNTE-2 2023-06-17.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\06. JUNE\\MONTOS EMAIL\\DIFF MONTOS-BNTE-2 2023-06-18.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\06. JUNE\\MONTOS EMAIL\\DIFF MONTOS-BNTE-2 2023-06-19.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\06. JUNE\\MONTOS EMAIL\\DIFF MONTOS-BNTE-2 2023-06-20.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\06. JUNE\\MONTOS EMAIL\\DIFF MONTOS-BNTE-2 2023-06-24.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\06. JUNE\\MONTOS EMAIL\\DIFF MONTOS-BNTE-2 2023-06-25.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\06. JUNE\\MONTOS EMAIL\\DIFF MONTOS-BNTE-2 2023-06-26.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\06. JUNE\\MONTOS EMAIL\\DIFF MONTOS-BNTE-2 2023-06-27.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\06. JUNE\\MONTOS EMAIL\\DIFF MONTOS-BNTE-2 2023-06-28.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\06. JUNE\\MONTOS EMAIL\\DIFF MONTOS-BNTE-3 2023-06-01.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\06. JUNE\\MONTOS EMAIL\\DIFF MONTOS-BNTE-3 2023-06-02.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\06. JUNE\\MONTOS EMAIL\\DIFF MONTOS-BNTE-3 2023-06-07.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\06. JUNE\\MONTOS EMAIL\\DIFF MONTOS-BNTE-3 2023-06-08.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\06. JUNE\\MONTOS EMAIL\\DIFF MONTOS-BNTE-3 2023-06-09.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\06. JUNE\\MONTOS EMAIL\\DIFF MONTOS-BNTE-3 2023-06-14.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\06. JUNE\\MONTOS EMAIL\\DIFF MONTOS-BNTE-3 2023-06-15.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\06. JUNE\\MONTOS EMAIL\\DIFF MONTOS-BNTE-3 2023-06-16.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\06. JUNE\\MONTOS EMAIL\\DIFF MONTOS-BNTE-3 2023-06-21.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\06. JUNE\\MONTOS EMAIL\\DIFF MONTOS-BNTE-3 2023-06-22.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\06. JUNE\\MONTOS EMAIL\\DIFF MONTOS-BNTE-3 2023-06-23.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\06. JUNE\\MONTOS EMAIL\\DIFF MONTOS-BNTE-3 2023-06-29.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\06. JUNE\\MONTOS EMAIL\\DIFF MONTOS-BNTE-3 2023-06-30.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\06. JUNE\\MONTOS EMAIL\\DIFF MONTOS-SANT-1 2023-06-01.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\06. JUNE\\MONTOS EMAIL\\DIFF MONTOS-SANT-1 2023-06-02.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\06. JUNE\\MONTOS EMAIL\\DIFF MONTOS-SANT-1 2023-06-05.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\06. JUNE\\MONTOS EMAIL\\DIFF MONTOS-SANT-1 2023-06-06.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\06. JUNE\\MONTOS EMAIL\\DIFF MONTOS-SANT-1 2023-06-07.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\06. JUNE\\MONTOS EMAIL\\DIFF MONTOS-SANT-1 2023-06-08.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\06. JUNE\\MONTOS EMAIL\\DIFF MONTOS-SANT-1 2023-06-09.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\06. JUNE\\MONTOS EMAIL\\DIFF MONTOS-SANT-1 2023-06-12.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\06. JUNE\\MONTOS EMAIL\\DIFF MONTOS-SANT-1 2023-06-13.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\06. JUNE\\MONTOS EMAIL\\DIFF MONTOS-SANT-1 2023-06-14.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\06. JUNE\\MONTOS EMAIL\\DIFF MONTOS-SANT-1 2023-06-15.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\06. JUNE\\MONTOS EMAIL\\DIFF MONTOS-SANT-1 2023-06-16.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\06. JUNE\\MONTOS EMAIL\\DIFF MONTOS-SANT-1 2023-06-19.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\06. JUNE\\MONTOS EMAIL\\DIFF MONTOS-SANT-1 2023-06-20.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\06. JUNE\\MONTOS EMAIL\\DIFF MONTOS-SANT-1 2023-06-21.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\06. JUNE\\MONTOS EMAIL\\DIFF MONTOS-SANT-1 2023-06-22.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\06. JUNE\\MONTOS EMAIL\\DIFF MONTOS-SANT-1 2023-06-23.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\06. JUNE\\MONTOS EMAIL\\DIFF MONTOS-SANT-1 2023-06-26.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\06. JUNE\\MONTOS EMAIL\\DIFF MONTOS-SANT-1 2023-06-27.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\06. JUNE\\MONTOS EMAIL\\DIFF MONTOS-SANT-1 2023-06-28.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\06. JUNE\\MONTOS EMAIL\\DIFF MONTOS-SANT-1 2023-06-29.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\06. JUNE\\MONTOS EMAIL\\DIFF MONTOS-SANT-1 2023-06-30.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\06. JUNE\\MONTOS EMAIL\\DIFF MONTOS-SANT-2 2023-06-01.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\06. JUNE\\MONTOS EMAIL\\DIFF MONTOS-SANT-2 2023-06-02.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\06. JUNE\\MONTOS EMAIL\\DIFF MONTOS-SANT-2 2023-06-07.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\06. JUNE\\MONTOS EMAIL\\DIFF MONTOS-SANT-2 2023-06-08.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\06. JUNE\\MONTOS EMAIL\\DIFF MONTOS-SANT-2 2023-06-09.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\06. JUNE\\MONTOS EMAIL\\DIFF MONTOS-SANT-2 2023-06-14.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\06. JUNE\\MONTOS EMAIL\\DIFF MONTOS-SANT-2 2023-06-15.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\06. JUNE\\MONTOS EMAIL\\DIFF MONTOS-SANT-2 2023-06-16.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\06. JUNE\\MONTOS EMAIL\\DIFF MONTOS-SANT-2 2023-06-21.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\06. JUNE\\MONTOS EMAIL\\DIFF MONTOS-SANT-2 2023-06-22.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\06. JUNE\\MONTOS EMAIL\\DIFF MONTOS-SANT-2 2023-06-23.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\06. JUNE\\MONTOS EMAIL\\DIFF MONTOS-SANT-2 2023-06-29.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\06. JUNE\\MONTOS EMAIL\\DIFF MONTOS-SANT-2 2023-06-30.csv']

In [6]:
allfiles_lender = glob.glob(r'G:\My Drive\RESPALDO-PC\LENDERS\2023\DB\LEN*.csv', recursive=False)
allfiles_lender

['G:\\My Drive\\RESPALDO-PC\\LENDERS\\2023\\DB\\LENDERS DB ENERO 2023.csv',
 'G:\\My Drive\\RESPALDO-PC\\LENDERS\\2023\\DB\\LENDERS DB FEBRERO 2023.csv',
 'G:\\My Drive\\RESPALDO-PC\\LENDERS\\2023\\DB\\LENDERS DB MARZO 2023.csv',
 'G:\\My Drive\\RESPALDO-PC\\LENDERS\\2023\\DB\\LENDERS DB ABRIL 2023.csv',
 'G:\\My Drive\\RESPALDO-PC\\LENDERS\\2023\\DB\\LENDERS DB MAYO 2023.csv',
 'G:\\My Drive\\RESPALDO-PC\\LENDERS\\2023\\DB\\LENDERS DB JUNIO 2023.csv']

In [7]:
start_date = '2023-06-01'
final_date = '2023-06-30'

# ADJUSTMENTS

In [8]:
adj_1 = pd.concat([pd.read_csv(f).assign(file_name=os.path.basename(f)) for f in allfiles_adj])
adj_1.head()

Empty DataFrame
Columns: [report_id, report_date_local, adjustment_date_local, adjustment_type, adjustment_amount, fees_charged, taxes, amount_due, type, date, file_name]
Index: []

In [9]:
adj_1.shape

(0, 11)

### CURRENT DATES

In [10]:
adj_current_month = adj_1[(adj_1['date'] >= start_date) & (adj_1['date'] <= final_date)]
adj_current_month.head()

Empty DataFrame
Columns: [report_id, report_date_local, adjustment_date_local, adjustment_type, adjustment_amount, fees_charged, taxes, amount_due, type, date, file_name]
Index: []

In [11]:
adj_current_month.shape

(0, 11)

### PIVOT

In [12]:
adj_pivot = adj_current_month.groupby(['type','adjustment_type','date']).agg({'adjustment_amount':sum
                                                                                ,'fees_charged':sum 
                                                                                ,'taxes':sum
                                                                                ,'amount_due':sum}).reset_index()
adj_pivot['adjustment_amount'] = adj_pivot['adjustment_amount']*-1 
adj_pivot['fees_charged'] = adj_pivot['fees_charged']*-1
adj_pivot['taxes'] = adj_pivot['taxes']*-1 
adj_pivot['amount_due'] = adj_pivot['amount_due']*-1 
adj_pivot.head()

Empty DataFrame
Columns: [type, adjustment_type, date, adjustment_amount, fees_charged, taxes, amount_due]
Index: []

In [13]:
adj_pivot_v2 = pd.pivot_table(adj_current_month,index=['type','date']
                              ,columns=['adjustment_type']
                              ,values=['adjustment_amount','fees_charged','taxes','amount_due']
                              ,aggfunc=np.sum,margins=True)
adj_pivot_v2.head()

C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_13480\25903760.py:1: FutureWarning: The operation <function sum at 0x00000178B1907670> failed on a column. If any error is raised, this will raise an exception in a future version of pandas. Drop these columns to avoid this warning.
  adj_pivot_v2 = pd.pivot_table(adj_current_month,index=['type','date']
C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_13480\25903760.py:1: FutureWarning: The operation <function sum at 0x00000178B1907670> failed on a column. If any error is raised, this will raise an exception in a future version of pandas. Drop these columns to avoid this warning.
  adj_pivot_v2 = pd.pivot_table(adj_current_month,index=['type','date']

ValueError: No objects to concatenate

# LIBERACIONES

In [14]:
lib_1 = pd.concat([pd.read_csv(f).assign(file_name=os.path.basename(f)) for f in allfiles_lib])
lib_1.head()

,date_release,report_date_local,retained_date_local,report_id,entry_type,amount,type,file_name
0,2023-06-01,2023-06-01,2023-01-31,DK5G262B7,LIEN,431.21,DAILY,LIBERACIONES JUNIO 2023.csv
1,2023-06-01,2023-06-01,2022-12-22,V68KNGMSH,LIEN,"17,248.32",DAILY,LIBERACIONES JUNIO 2023.csv
2,2023-06-01,2023-06-01,2022-12-21,554NQF3H7,LIEN,"54,205.63",DAILY,LIBERACIONES JUNIO 2023.csv
3,2023-06-01,2023-06-01,2023-01-31,GP6JLMT4Q,LIEN,"10,540.64",DAILY,LIBERACIONES JUNIO 2023.csv
4,2023-06-01,2023-06-01,2023-01-31,MG3CNGFSY,LIEN,47.91,DAILY,LIBERACIONES JUNIO 2023.csv

### CURRENT DATES

In [15]:
lib_current_month = lib_1[(lib_1['report_date_local'] >= start_date) & (lib_1['report_date_local'] <= final_date)]
lib_current_month.head()

,date_release,report_date_local,retained_date_local,report_id,entry_type,amount,type,file_name
0,2023-06-01,2023-06-01,2023-01-31,DK5G262B7,LIEN,431.21,DAILY,LIBERACIONES JUNIO 2023.csv
1,2023-06-01,2023-06-01,2022-12-22,V68KNGMSH,LIEN,"17,248.32",DAILY,LIBERACIONES JUNIO 2023.csv
2,2023-06-01,2023-06-01,2022-12-21,554NQF3H7,LIEN,"54,205.63",DAILY,LIBERACIONES JUNIO 2023.csv
3,2023-06-01,2023-06-01,2023-01-31,GP6JLMT4Q,LIEN,"10,540.64",DAILY,LIBERACIONES JUNIO 2023.csv
4,2023-06-01,2023-06-01,2023-01-31,MG3CNGFSY,LIEN,47.91,DAILY,LIBERACIONES JUNIO 2023.csv

In [16]:
lib_current_month.shape

(385, 8)

### PIVOT

In [17]:
lib_pivot = lib_current_month.groupby(['type','entry_type','report_date_local']).agg({'amount':sum}).reset_index()
lib_pivot.head()

    type entry_type report_date_local     amount
0  DAILY       LIEN        2023-06-01  84,342.29
1  DAILY       LIEN        2023-06-02 496,723.61
2  DAILY       LIEN        2023-06-03 193,845.22
3  DAILY       LIEN        2023-06-04 243,899.00
4  DAILY       LIEN        2023-06-05 221,288.67

In [18]:
lib_pivot.shape

(30, 4)

In [19]:
lib_pivot_v2 = pd.pivot_table(lib_current_month,index=['type','report_date_local']
                              ,columns=['entry_type']
                              ,values=['amount']
                              ,aggfunc=np.sum,margins=True)
lib_pivot_v2.head()

                            amount
entry_type                    LIEN        All
type  report_date_local
DAILY 2023-06-01         84,342.29  84,342.29
      2023-06-02        496,723.61 496,723.61
      2023-06-03        193,845.22 193,845.22
      2023-06-04        243,899.00 243,899.00
      2023-06-05        221,288.67 221,288.67

In [20]:
lib_pivot_v2.shape

(31, 2)

# RETENCIONES

In [21]:
ret_1 = pd.concat([pd.read_csv(f).assign(file_name=os.path.basename(f)) for f in allfiles_ret])
ret_1.head()

Empty DataFrame
Columns: [date_retainment, report_date_local, report_id, entry_type, amount, type, file_name]
Index: []

### CURRENT DATES

In [22]:
ret_current_month = ret_1[(ret_1['report_date_local'] >= start_date) & (ret_1['report_date_local'] <= final_date)]
ret_current_month.head()

Empty DataFrame
Columns: [date_retainment, report_date_local, report_id, entry_type, amount, type, file_name]
Index: []

In [23]:
ret_current_month.shape

(0, 7)

### PIVOT

In [24]:
ret_pivot = ret_current_month.groupby(['type','entry_type','report_date_local']).agg({'amount':sum}).reset_index()
ret_pivot.head()

Empty DataFrame
Columns: [type, entry_type, report_date_local, amount]
Index: []

In [25]:
ret_pivot.shape

(0, 4)

In [26]:
ret_pivot_v2 = pd.pivot_table(ret_current_month,index=['type','report_date_local']
                              ,columns=['entry_type']
                              ,values=['amount']
                              ,aggfunc=np.sum,margins=True)
ret_pivot_v2.head()

C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_13480\19373298.py:1: FutureWarning: The operation <function sum at 0x00000178B1907670> failed on a column. If any error is raised, this will raise an exception in a future version of pandas. Drop these columns to avoid this warning.
  ret_pivot_v2 = pd.pivot_table(ret_current_month,index=['type','report_date_local']
C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_13480\19373298.py:1: FutureWarning: The operation <function sum at 0x00000178B1907670> failed on a column. If any error is raised, this will raise an exception in a future version of pandas. Drop these columns to avoid this warning.
  ret_pivot_v2 = pd.pivot_table(ret_current_month,index=['type','report_date_local']

ValueError: No objects to concatenate

In [27]:
ret_pivot_v2.shape

NameError: name 'ret_pivot_v2' is not defined

# COMISIONES SWAP / BNTE

In [28]:
com_1 = pd.concat([pd.read_csv(f).assign(file_name=os.path.basename(f)) for f in allfiles_com])
com_1.head()

,date_disbursement,amount,payments_number,comision_dsp,iva_dsp,comision + iva,total_fondeo,monto_mail,comision_mail,iva_mail,monto_fondeo_mail,check_monto,check_comision,check_iva,check_fondeo,dsp,file_name
0,2023-06-03,"210,644,374.98",94715,"164,641.50","26,342.64","190,984.14","210,835,359.12","210,644,374.98","164,641.50","26,342.64","210,835,359.12",0.00,0.00,0.00,-0.00,BNTE,DIFF MONTOS-BNTE-1 2023-06-03.csv
0,2023-06-04,"230,734,154.40",94690,"164,674.50","26,347.92","191,022.42","230,925,176.82","230,734,154.40","164,674.50","26,347.92","230,925,176.82",0.00,0.00,0.00,0.00,BNTE,DIFF MONTOS-BNTE-1 2023-06-04.csv
0,2023-06-10,"202,032,840.78",94671,"164,505.30","26,320.85","190,826.15","202,223,666.93","202,032,840.78","164,505.30","26,320.85","202,223,666.93",0.00,0.00,-0.00,-0.00,BNTE,DIFF MONTOS-BNTE-1 2023-06-10.csv
0,2023-06-11,"228,628,050.00",94703,"164,753.40","26,360.54","191,113.94","228,819,163.94","228,628,050.00","164,753.40","26,360.54","228,819,163.94",0.00,0.00,0.00,0.00,BNTE,DIFF MONTOS-BNTE-1 2023-06-11.csv
0,2023-06-17,"212,741,651.84",94677,"164,582.85","26,333.26","190,916.11","212,932,567.95","212,741,651.84","164,582.85","26,333.26","212,932,567.95",0.00,0.00,-0.00,-0.00,BNTE,DIFF MONTOS-BNTE-1 2023-06-17.csv

In [29]:
com_1.shape

(73, 17)

### CURRENT DATES

In [30]:
com_current_month = com_1[(com_1['date_disbursement'] >= start_date) & (com_1['date_disbursement'] <= final_date)]
com_current_month.head()

,date_disbursement,amount,payments_number,comision_dsp,iva_dsp,comision + iva,total_fondeo,monto_mail,comision_mail,iva_mail,monto_fondeo_mail,check_monto,check_comision,check_iva,check_fondeo,dsp,file_name
0,2023-06-03,"210,644,374.98",94715,"164,641.50","26,342.64","190,984.14","210,835,359.12","210,644,374.98","164,641.50","26,342.64","210,835,359.12",0.00,0.00,0.00,-0.00,BNTE,DIFF MONTOS-BNTE-1 2023-06-03.csv
0,2023-06-04,"230,734,154.40",94690,"164,674.50","26,347.92","191,022.42","230,925,176.82","230,734,154.40","164,674.50","26,347.92","230,925,176.82",0.00,0.00,0.00,0.00,BNTE,DIFF MONTOS-BNTE-1 2023-06-04.csv
0,2023-06-10,"202,032,840.78",94671,"164,505.30","26,320.85","190,826.15","202,223,666.93","202,032,840.78","164,505.30","26,320.85","202,223,666.93",0.00,0.00,-0.00,-0.00,BNTE,DIFF MONTOS-BNTE-1 2023-06-10.csv
0,2023-06-11,"228,628,050.00",94703,"164,753.40","26,360.54","191,113.94","228,819,163.94","228,628,050.00","164,753.40","26,360.54","228,819,163.94",0.00,0.00,0.00,0.00,BNTE,DIFF MONTOS-BNTE-1 2023-06-11.csv
0,2023-06-17,"212,741,651.84",94677,"164,582.85","26,333.26","190,916.11","212,932,567.95","212,741,651.84","164,582.85","26,333.26","212,932,567.95",0.00,0.00,-0.00,-0.00,BNTE,DIFF MONTOS-BNTE-1 2023-06-17.csv

In [31]:
com_current_month.shape

(73, 17)

In [32]:
com_current_month.columns

Index(['date_disbursement', 'amount', 'payments_number', 'comision_dsp',
       'iva_dsp', 'comision + iva', 'total_fondeo', 'monto_mail',
       'comision_mail', 'iva_mail', 'monto_fondeo_mail', 'check_monto',
       'check_comision', 'check_iva', 'check_fondeo', 'dsp', 'file_name'],
      dtype='object')

In [33]:
com_final = com_current_month.groupby(['date_disbursement']).agg({'payments_number':sum,'amount':sum,'comision_dsp':sum,
                                                                  'iva_dsp':sum,'comision + iva':sum,'total_fondeo':sum,
                                                                 'monto_mail':sum,'comision_mail':sum,'iva_mail':sum,
                                                                 'monto_fondeo_mail':sum,'check_monto':sum,'check_comision':sum,
                                                                 'check_iva':sum,'check_fondeo':sum}).reset_index()
com_final.head()

,date_disbursement,payments_number,amount,comision_dsp,iva_dsp,comision + iva,total_fondeo,monto_mail,comision_mail,iva_mail,monto_fondeo_mail,check_monto,check_comision,check_iva,check_fondeo
0,2023-06-01,103479,"212,480,778.28","53,037.80","8,486.05","61,523.85","212,542,302.13","212,480,778.28","53,037.80","8,486.05","212,542,302.13",0.00,0.00,-0.00,-0.00
1,2023-06-02,106992,"218,079,519.67","54,676.00","8,748.16","63,424.16","218,142,943.83","218,079,519.67","54,676.00","8,748.16","218,142,943.83",0.00,0.00,0.00,0.00
2,2023-06-03,110226,"245,876,567.06","191,608.05","30,657.29","222,265.34","246,098,832.40","245,876,567.06","191,608.05","30,657.29","246,098,832.40",0.00,0.00,-0.00,-0.00
3,2023-06-04,107698,"262,534,491.76","187,314.15","29,970.26","217,284.41","262,751,776.17","262,534,491.76","187,314.15","29,970.26","262,751,776.17",0.00,0.00,0.00,0.00
4,2023-06-05,75292,"185,903,754.56","38,484.65","6,157.54","44,642.19","185,948,396.75","185,903,754.56","38,484.65","6,157.54","185,948,396.75",0.00,0.00,0.00,0.00

# LENDERS

In [34]:
lender_1 = pd.concat([pd.read_csv(f).assign(file_name=os.path.basename(f)) for f in allfiles_lender])
lender_1.columns = lender_1.columns.str.strip().str.lower() 
lender_1.head()

,collection_date_local,merchant_token,merchant_id,loan_id,provider_code,collection_origin,source,amount,capital,interest,tax,file_name
0,2023-01-01,d8d8f9b2-0585-48e0-8d1f-e3bbf4766fbe,30a435af-3c57-4063-bf36-735f5731b179,df0ca1c8-0193-426c-8a32-c164b5ca715e,MRP,SETTLEMENT,LEDGER,23.05,16.60,6.45,0.00,LENDERS DB ENERO 2023.csv
1,2023-01-01,c4bad384-1718-4f7f-980e-910738bf4c79,0ace4fbe-6ab7-4e7f-a6b0-2a1bb8d6171a,45e17b07-8134-4e21-8aa8-2f90b4df9f37,CTO,SETTLEMENT,LEDGER,18.66,12.74,5.10,0.82,LENDERS DB ENERO 2023.csv
2,2023-01-01,1592f594-8416-447e-a316-ffc57ea7596f,0614af35-a0b4-4774-ae6f-4eef4238b915,2df0924e-4f58-46c5-8ec1-32a1beec4d49,MRP,SETTLEMENT,LEDGER,98.65,71.03,27.62,0.00,LENDERS DB ENERO 2023.csv
3,2023-01-01,fa8ee41a-394c-4506-b450-9f8a048a3cfc,789ef894-8d9d-48cb-a20a-0860a44d4a1e,935289b5-6689-4a98-af7f-d91e1a399533,MRP,SETTLEMENT,LEDGER,55.43,41.57,13.86,0.00,LENDERS DB ENERO 2023.csv
4,2023-01-01,41d8b68d-d496-48bd-9d2e-d3bfe8a4628e,5fab90f8-faf0-48a8-9065-e67b2cde2abe,d4ee526d-2a99-406b-95d3-309ee8d7f84b,MRP,SETTLEMENT,LEDGER,16.44,13.48,2.96,0.00,LENDERS DB ENERO 2023.csv

In [35]:
lender_1.shape

(3677990, 12)

In [36]:
lender_1['source'].unique()

array(['LEDGER', 'REGULAR', 'FAST_PAYMENT'], dtype=object)

### CURRENT DATES

In [37]:
lender_current_month = lender_1[(lender_1['collection_date_local'] >= start_date) &
                                (lender_1['collection_date_local'] <= final_date)]
lender_current_month.head()

,collection_date_local,merchant_token,merchant_id,loan_id,provider_code,collection_origin,source,amount,capital,interest,tax,file_name
0,2023-06-01,4aac41de-6c8b-4d95-8e9e-fe77ed5dd21a,c4c082df-7d14-4ad5-b798-dfef7068796a,b8a7f382-8bb1-4971-8a24-e5dc0a0c0e5c,MRP,SETTLEMENT,LEDGER,4.17,3.46,0.61,0.10,LENDERS DB JUNIO 2023.csv
1,2023-06-01,ef38619b-65aa-4456-b281-14946a48b7c4,1f276b10-d477-492d-a38e-0b0e95fb960d,37c9ae9a-7cbb-4fe0-a3a4-f3b7d06cbe79,MRP,SETTLEMENT,LEDGER,7.44,5.36,2.08,0.00,LENDERS DB JUNIO 2023.csv
2,2023-06-01,ef38619b-65aa-4456-b281-14946a48b7c4,1f276b10-d477-492d-a38e-0b0e95fb960d,37c9ae9a-7cbb-4fe0-a3a4-f3b7d06cbe79,MRP,SETTLEMENT,LEDGER,46.80,33.70,13.10,0.00,LENDERS DB JUNIO 2023.csv
3,2023-06-01,ef38619b-65aa-4456-b281-14946a48b7c4,1f276b10-d477-492d-a38e-0b0e95fb960d,37c9ae9a-7cbb-4fe0-a3a4-f3b7d06cbe79,MRP,SETTLEMENT,LEDGER,41.48,29.87,11.61,0.00,LENDERS DB JUNIO 2023.csv
4,2023-06-01,ef38619b-65aa-4456-b281-14946a48b7c4,1f276b10-d477-492d-a38e-0b0e95fb960d,37c9ae9a-7cbb-4fe0-a3a4-f3b7d06cbe79,MRP,SETTLEMENT,LEDGER,37.05,26.68,10.37,0.00,LENDERS DB JUNIO 2023.csv

In [38]:
lender_current_month.shape

(848741, 12)

In [39]:
lender_current_month['provider_code'].unique()

array(['MRP', 'R2', 'CTO', 'AVL', 'APH'], dtype=object)

### PIVOT CLIP

In [40]:
lender_clip = lender_current_month[(lender_current_month['provider_code'] == 'CLIP')]

In [41]:
# lender_pivot_clip_1 = lender_clip.groupby(['Creation Date','Date']).agg({'Collected today':sum,'Capital today':sum
#                                                                        ,'Interests today':sum,'IVA Interests today':sum
#                                                                        ,'Overdue Interest today':sum,'Total today':sum
#                                                                        ,'CLIP Revenue today':sum}).reset_index()
# lender_pivot_clip_1.head()

In [42]:
# lender_pivot_clip_1.shape

In [43]:
lender_pivot_clip_2 = lender_clip.groupby(['collection_date_local']).agg({'amount':sum,'capital':sum,'interest':sum
                                                 ,'tax':sum}).reset_index()
lender_pivot_clip_2.head()

Empty DataFrame
Columns: [collection_date_local, amount, capital, interest, tax]
Index: []

In [44]:
lender_pivot_clip_2.shape

(0, 5)

### PIVOT OTHERS

In [45]:
lender_others = lender_current_month[(lender_current_month['provider_code'] != 'CLIP')]

In [46]:
lender_pivot_others = lender_others.groupby(['collection_date_local']).agg({'amount':sum,'capital':sum,'interest':sum
                                                 ,'tax':sum}).reset_index()
lender_pivot_others.head()

  collection_date_local       amount      capital   interest       tax
0            2023-06-01 1,754,880.33 1,295,913.40 398,117.31 60,849.62
1            2023-06-02 2,183,626.10 1,617,505.20 490,985.33 75,135.57
2            2023-06-03 2,461,642.22 1,816,100.43 559,517.87 86,023.92
3            2023-06-04 1,766,068.49 1,307,470.34 397,495.16 61,102.99
4            2023-06-05 1,354,916.53 1,002,845.43 304,911.76 47,159.34

In [47]:
lender_pivot_others.shape

(30, 5)

# EXCEL FINAL

In [48]:
writer = pd.ExcelWriter('FASE II. DATA POLIZA JUNIO 2023.xlsx',
                        engine='xlsxwriter',
                        engine_kwargs={'options': {'encoding':'utf-8'}})
lender_pivot_clip_2.to_excel(writer, sheet_name='DATA LENDER CLIP',index=False)
# lender_pivot_clip_1.to_excel(writer, sheet_name='DATA LENDER CLIP CREATION DATE',index=False)
lender_pivot_others.to_excel(writer, sheet_name='DATA LENDER OTHERS',index=False)
adj_pivot.to_excel(writer, sheet_name='DATA ADJUSTMENTS',index=False)
lib_pivot_v2.to_excel(writer, sheet_name='DATA LIBERACIONES')
# ret_pivot_v2.to_excel(writer, sheet_name='DATA RETENCIONES')
com_final.to_excel(writer, sheet_name='DATA COMISIONES',index=False)
writer.close()