In [1]:
import pandas as pd
import numpy as np
from openpyxl import load_workbook
import glob
import os
import datetime
pd.options.display.float_format = '{:,.2f}'.format
datetime.timedelta(days=1)
datetime.timedelta(1)

datetime.timedelta(days=1)

In [2]:
allfiles_adj = glob.glob(r'C:\Users\Cristian.Aparicio\Documents\POLIZAS\2022\05. MAYO\DATA\ADJ*.csv', recursive=False)
allfiles_adj

['C:\\Users\\Cristian.Aparicio\\Documents\\POLIZAS\\2022\\05. MAYO\\DATA\\ADJUSTMENTS MAYO 2022.csv']

In [3]:
allfiles_ret = glob.glob(r'C:\Users\Cristian.Aparicio\Documents\POLIZAS\2022\05. MAYO\DATA\RET*.csv', recursive=False)
allfiles_ret

['C:\\Users\\Cristian.Aparicio\\Documents\\POLIZAS\\2022\\05. MAYO\\DATA\\RETENCIONES MAYO 2022.csv']

In [4]:
allfiles_lib = glob.glob(r'C:\Users\Cristian.Aparicio\Documents\POLIZAS\2022\05. MAYO\DATA\LIB*.csv', recursive=False)
allfiles_lib

['C:\\Users\\Cristian.Aparicio\\Documents\\POLIZAS\\2022\\05. MAYO\\DATA\\LIBERACIONES MAYO 2022.csv']

In [5]:
allfiles_com = sorted(glob.glob(r'G:\My Drive\3.-Settlement\5.-HISTORICO FILES PAGOS\01. TRADICIONAL\2022\05. MAY\MONTOS EMAIL\*.csv', recursive=False))
allfiles_com

['G:\\My Drive\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2022\\05. MAY\\MONTOS EMAIL\\DIFF MONTOS 2022-04-30.csv',
 'G:\\My Drive\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2022\\05. MAY\\MONTOS EMAIL\\DIFF MONTOS 2022-05-01.csv',
 'G:\\My Drive\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2022\\05. MAY\\MONTOS EMAIL\\DIFF MONTOS 2022-05-02.csv',
 'G:\\My Drive\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2022\\05. MAY\\MONTOS EMAIL\\DIFF MONTOS 2022-05-03.csv',
 'G:\\My Drive\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2022\\05. MAY\\MONTOS EMAIL\\DIFF MONTOS 2022-05-04.csv',
 'G:\\My Drive\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2022\\05. MAY\\MONTOS EMAIL\\DIFF MONTOS 2022-05-05.csv',
 'G:\\My Drive\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2022\\05. MAY\\MONTOS EMAIL\\DIFF MONTOS 2022-05-06.csv',
 'G:\\My Drive\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2022\\05. MAY\\MONTOS EMAIL\\DIFF MONTOS 2022-05-07.csv',
 'G:\\My Drive\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2022\\05. MAY\\MONTOS EMAIL\\DIFF MONTOS 2022-05-08.csv',
 'G:\\My Drive\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2022\\05. MAY\\MONTOS EMAIL\\DIFF MONTOS 2022-05-09.csv',
 'G:\\My Drive\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2022\\05. MAY\\MONTOS EMAIL\\DIFF MONTOS 2022-05-10.csv',
 'G:\\My Drive\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2022\\05. MAY\\MONTOS EMAIL\\DIFF MONTOS 2022-05-11.csv',
 'G:\\My Drive\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2022\\05. MAY\\MONTOS EMAIL\\DIFF MONTOS 2022-05-12.csv',
 'G:\\My Drive\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2022\\05. MAY\\MONTOS EMAIL\\DIFF MONTOS 2022-05-13.csv',
 'G:\\My Drive\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2022\\05. MAY\\MONTOS EMAIL\\DIFF MONTOS 2022-05-14.csv',
 'G:\\My Drive\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2022\\05. MAY\\MONTOS EMAIL\\DIFF MONTOS 2022-05-15.csv',
 'G:\\My Drive\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2022\\05. MAY\\MONTOS EMAIL\\DIFF MONTOS 2022-05-16.csv',
 'G:\\My Drive\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2022\\05. MAY\\MONTOS EMAIL\\DIFF MONTOS 2022-05-17.csv',
 'G:\\My Drive\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2022\\05. MAY\\MONTOS EMAIL\\DIFF MONTOS 2022-05-18.csv',
 'G:\\My Drive\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2022\\05. MAY\\MONTOS EMAIL\\DIFF MONTOS 2022-05-19.csv',
 'G:\\My Drive\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2022\\05. MAY\\MONTOS EMAIL\\DIFF MONTOS 2022-05-20.csv',
 'G:\\My Drive\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2022\\05. MAY\\MONTOS EMAIL\\DIFF MONTOS 2022-05-21.csv',
 'G:\\My Drive\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2022\\05. MAY\\MONTOS EMAIL\\DIFF MONTOS 2022-05-22.csv',
 'G:\\My Drive\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2022\\05. MAY\\MONTOS EMAIL\\DIFF MONTOS 2022-05-23.csv',
 'G:\\My Drive\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2022\\05. MAY\\MONTOS EMAIL\\DIFF MONTOS 2022-05-24.csv',
 'G:\\My Drive\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2022\\05. MAY\\MONTOS EMAIL\\DIFF MONTOS 2022-05-25.csv',
 'G:\\My Drive\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2022\\05. MAY\\MONTOS EMAIL\\DIFF MONTOS 2022-05-26.csv',
 'G:\\My Drive\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2022\\05. MAY\\MONTOS EMAIL\\DIFF MONTOS 2022-05-27.csv',
 'G:\\My Drive\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2022\\05. MAY\\MONTOS EMAIL\\DIFF MONTOS 2022-05-28.csv',
 'G:\\My Drive\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2022\\05. MAY\\MONTOS EMAIL\\DIFF MONTOS 2022-05-29.csv',
 'G:\\My Drive\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2022\\05. MAY\\MONTOS EMAIL\\DIFF MONTOS 2022-05-30.csv',
 'G:\\My Drive\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2022\\05. MAY\\MONTOS EMAIL\\DIFF MONTOS 2022-05-31.csv',
 'G:\\My Drive\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2022\\05. MAY\\MONTOS EMAIL\\DIFF MONTOS-2 2022-04-30.csv']

In [6]:
allfiles_lender = glob.glob(r'G:\My Drive\RESPALDO-PC\LENDERS\2022\DB\LEN*.csv', recursive=False)
allfiles_lender

['G:\\My Drive\\RESPALDO-PC\\LENDERS\\2022\\DB\\LENDERS DB ABRIL 2022.csv',
 'G:\\My Drive\\RESPALDO-PC\\LENDERS\\2022\\DB\\LENDERS DB MAYO 2022.csv']

In [7]:
start_date = '2022-05-27'
final_date = '2022-05-31'

# ADJUSTMENTS

In [8]:
adj_1 = pd.concat([pd.read_csv(f).assign(file_name=os.path.basename(f)) for f in allfiles_adj])
adj_1.head()

,report_id,report_date_local,adjustment_date_local,adjustment_type,adjustment_amount,fees_charged,taxes,amount_due,type,date,file_name
0,XV2ZGT4DM,2022-04-30,2022-04-30,LOAN,-430.41,0.00,0.00,-430.41,DAILY,2022-04-30,ADJUSTMENTS MAYO 2022.csv
1,S7LT72KLN,2022-04-30,2022-04-30,LOAN,"-1,987.01",0.00,0.00,"-1,987.01",DAILY,2022-04-30,ADJUSTMENTS MAYO 2022.csv
2,TQ46LQ73T,2022-04-30,2022-04-30,LOAN,-114.99,0.00,0.00,-114.99,DAILY,2022-04-30,ADJUSTMENTS MAYO 2022.csv
3,X6H56MS2L,2022-04-30,2022-04-30,LOAN,-21.47,0.00,0.00,-21.47,DAILY,2022-04-30,ADJUSTMENTS MAYO 2022.csv
4,YDPRRTL3F,2022-04-30,2022-04-30,LOAN,"-3,223.77",0.00,0.00,"-3,223.77",DAILY,2022-04-30,ADJUSTMENTS MAYO 2022.csv

In [9]:
adj_1.shape

(74290, 11)

### CURRENT DATES

In [10]:
adj_current_month = adj_1[(adj_1['date'] >= start_date) & (adj_1['date'] <= final_date)]
adj_current_month.head()

,report_id,report_date_local,adjustment_date_local,adjustment_type,adjustment_amount,fees_charged,taxes,amount_due,type,date,file_name
62459,XXBL2KV5D,2022-05-27,2022-05-27,LOAN,-111.68,0.00,0.00,-111.68,DAILY,2022-05-27,ADJUSTMENTS MAYO 2022.csv
62460,KNLL78VGF,2022-05-27,2022-05-27,LOAN,-211.20,0.00,0.00,-211.20,DAILY,2022-05-27,ADJUSTMENTS MAYO 2022.csv
62461,3PNN3DTR8,2022-05-27,2022-05-27,LOAN,-687.99,0.00,0.00,-687.99,DAILY,2022-05-27,ADJUSTMENTS MAYO 2022.csv
62462,GY94R3TDY,2022-05-27,2022-05-27,LOAN,-5.40,0.00,0.00,-5.40,DAILY,2022-05-27,ADJUSTMENTS MAYO 2022.csv
62463,SGWGFM9TD,2022-05-27,2022-05-27,LOAN,-109.24,0.00,0.00,-109.24,DAILY,2022-05-27,ADJUSTMENTS MAYO 2022.csv

In [11]:
adj_current_month.shape

(11831, 11)

### PIVOT

In [12]:
adj_pivot = adj_current_month.groupby(['type','adjustment_type','date']).agg({'adjustment_amount':sum
                                                                                ,'fees_charged':sum 
                                                                                ,'taxes':sum
                                                                                ,'amount_due':sum}).reset_index()
adj_pivot['adjustment_amount'] = adj_pivot['adjustment_amount']*-1 
adj_pivot['fees_charged'] = adj_pivot['fees_charged']*-1
adj_pivot['taxes'] = adj_pivot['taxes']*-1 
adj_pivot['amount_due'] = adj_pivot['amount_due']*-1 
adj_pivot.head()

,type,adjustment_type,date,adjustment_amount,fees_charged,taxes,amount_due
0,DAILY,CANCELED_TRANSACTION,2022-05-27,"19,000.00",684.00,109.44,"18,206.56"
1,DAILY,CANCELED_TRANSACTION,2022-05-31,"108,105.00","3,891.78",622.69,"103,590.53"
2,DAILY,LOAN,2022-05-27,"1,056,725.58",-0.00,-0.00,"1,056,725.58"
3,DAILY,LOAN,2022-05-28,"1,428,459.29",-0.00,-0.00,"1,428,459.29"
4,DAILY,LOAN,2022-05-29,"1,454,805.68",-0.00,-0.00,"1,454,805.68"

In [13]:
adj_pivot_v2 = pd.pivot_table(adj_current_month,index=['type','date']
                              ,columns=['adjustment_type']
                              ,values=['adjustment_amount','fees_charged','taxes','amount_due']
                              ,aggfunc=np.sum,margins=True)
adj_pivot_v2.head()

                    adjustment_amount                              \
adjustment_type  CANCELED_TRANSACTION          LOAN           All
type  date
DAILY 2022-05-27           -19,000.00 -1,056,725.58 -1,075,725.58
      2022-05-28                  NaN -1,428,459.29 -1,428,459.29
      2022-05-29                  NaN -1,454,805.68 -1,454,805.68
      2022-05-30                  NaN -1,055,233.82 -1,055,233.82
      2022-05-31          -108,105.00   -885,986.73   -994,091.73

                           amount_due                              \
adjustment_type  CANCELED_TRANSACTION          LOAN           All
type  date
DAILY 2022-05-27           -18,206.56 -1,056,725.58 -1,074,932.14
      2022-05-28                  NaN -1,428,459.29 -1,428,459.29
      2022-05-29                  NaN -1,454,805.68 -1,454,805.68
      2022-05-30                  NaN -1,055,233.82 -1,055,233.82
      2022-05-31          -103,590.53   -885,986.73   -989,577.26

                         fees_charged                               taxes  \
adjustment_type  CANCELED_TRANSACTION LOAN       All CANCELED_TRANSACTION
type  date
DAILY 2022-05-27              -684.00 0.00   -684.00              -109.44
      2022-05-28                  NaN 0.00      0.00                  NaN
      2022-05-29                  NaN 0.00      0.00                  NaN
      2022-05-30                  NaN 0.00      0.00                  NaN
      2022-05-31            -3,891.78 0.00 -3,891.78              -622.69


adjustment_type  LOAN     All
type  date
DAILY 2022-05-27 0.00 -109.44
      2022-05-28 0.00    0.00
      2022-05-29 0.00    0.00
      2022-05-30 0.00    0.00
      2022-05-31 0.00 -622.69

# LIBERACIONES

In [14]:
lib_1 = pd.concat([pd.read_csv(f).assign(file_name=os.path.basename(f)) for f in allfiles_lib])
lib_1.head()

,date_release,report_date_local,retained_date_local,report_id,entry_type,amount,type,file_name
0,2022-04-30,2022-04-30,2022-04-29,DMFRQ2KZ4,LIEN,"102,965.88",DAILY,LIBERACIONES MAYO 2022.csv
1,2022-04-30,2022-04-30,2022-04-24,7T7DS8CKN,LIEN,"1,054.06",DAILY,LIBERACIONES MAYO 2022.csv
2,2022-04-30,2022-04-30,2022-01-19,K7MGTB3LF,LIEN,"1,795.54",DAILY,LIBERACIONES MAYO 2022.csv
3,2022-04-30,2022-04-30,2022-04-28,PM5ZQ5YWK,LIEN,"23,956.00",DAILY,LIBERACIONES MAYO 2022.csv
4,2022-04-30,2022-04-30,2022-04-29,XKSSDF5V7,LIEN,"2,874.72",DAILY,LIBERACIONES MAYO 2022.csv

### CURRENT DATES

In [15]:
lib_current_month = lib_1[(lib_1['report_date_local'] >= start_date) & (lib_1['report_date_local'] <= final_date)]
lib_current_month.head()

,date_release,report_date_local,retained_date_local,report_id,entry_type,amount,type,file_name
884,2022-05-27,2022-05-27,2022-01-26,QS7JFHS4V,LIEN,"1,207.38",DAILY,LIBERACIONES MAYO 2022.csv
885,2022-05-27,2022-05-27,2022-05-26,SDDR68WMG,LIEN,"40,948.28",DAILY,LIBERACIONES MAYO 2022.csv
886,2022-05-27,2022-05-27,2022-02-11,DHVDMWK7M,LIEN,"1,051.19",DAILY,LIBERACIONES MAYO 2022.csv
887,2022-05-27,2022-05-27,2022-02-15,FRZT87VYD,LIEN,"5,279.90",DAILY,LIBERACIONES MAYO 2022.csv
888,2022-05-27,2022-05-27,2022-02-13,FRZT87VYD,LIEN,"3,229.27",DAILY,LIBERACIONES MAYO 2022.csv

In [16]:
lib_current_month.shape

(120, 8)

### PIVOT

In [17]:
lib_pivot = lib_current_month.groupby(['type','entry_type','report_date_local']).agg({'amount':sum}).reset_index()
lib_pivot.head()

    type entry_type report_date_local     amount
0  DAILY       LIEN        2022-05-27 238,100.65
1  DAILY       LIEN        2022-05-28 264,881.80
2  DAILY       LIEN        2022-05-29 239,978.35
3  DAILY       LIEN        2022-05-30 585,636.60
4  DAILY       LIEN        2022-05-31 506,071.74

In [18]:
lib_pivot.shape

(5, 4)

In [19]:
lib_pivot_v2 = pd.pivot_table(lib_current_month,index=['type','report_date_local']
                              ,columns=['entry_type']
                              ,values=['amount']
                              ,aggfunc=np.sum,margins=True)
lib_pivot_v2.head()

                            amount
entry_type                    LIEN        All
type  report_date_local
DAILY 2022-05-27        238,100.65 238,100.65
      2022-05-28        264,881.80 264,881.80
      2022-05-29        239,978.35 239,978.35
      2022-05-30        585,636.60 585,636.60
      2022-05-31        506,071.74 506,071.74

In [20]:
lib_pivot_v2.shape

(6, 2)

# RETENCIONES

In [21]:
ret_1 = pd.concat([pd.read_csv(f).assign(file_name=os.path.basename(f)) for f in allfiles_ret])
ret_1.head()

,date_retainment,report_date_local,report_id,entry_type,amount,type,file_name
0,2022-04-30,2022-04-30,P92ZGQCLC,LIEN,"25,033.89",DAILY,RETENCIONES MAYO 2022.csv
1,2022-04-30,2022-04-30,5HZQ62VS4,LIEN,544.28,DAILY,RETENCIONES MAYO 2022.csv
2,2022-04-30,2022-04-30,QV2L23BG5,LIEN,"1,189.17",DAILY,RETENCIONES MAYO 2022.csv
3,2022-04-30,2022-04-30,B33MCQYYB,LIEN,"47,912.00",DAILY,RETENCIONES MAYO 2022.csv
4,2022-04-30,2022-04-30,WVTS5FY22,LIEN,"71,868.00",DAILY,RETENCIONES MAYO 2022.csv

### CURRENT DATES

In [22]:
ret_current_month = ret_1[(ret_1['report_date_local'] >= start_date) & (ret_1['report_date_local'] <= final_date)]
ret_current_month.head()

,date_retainment,report_date_local,report_id,entry_type,amount,type,file_name
645,2022-05-27,2022-05-27,LMFS8Y8BM,LIEN,"18,672.05",DAILY,RETENCIONES MAYO 2022.csv
646,2022-05-27,2022-05-27,PM5YXC2BR,LIEN,5.56,DAILY,RETENCIONES MAYO 2022.csv
647,2022-05-27,2022-05-27,8SRF2NB9W,LIEN,958.24,DAILY,RETENCIONES MAYO 2022.csv
648,2022-05-27,2022-05-27,BMVQV8F92,LIEN,"3,114.28",DAILY,RETENCIONES MAYO 2022.csv
649,2022-05-27,2022-05-27,JY2CGCHGK,LIEN,"1,264.88",DAILY,RETENCIONES MAYO 2022.csv

In [23]:
ret_current_month.shape

(121, 7)

### PIVOT

In [24]:
ret_pivot = ret_current_month.groupby(['type','entry_type','report_date_local']).agg({'amount':sum}).reset_index()
ret_pivot.head()

    type entry_type report_date_local       amount
0  DAILY       LIEN        2022-05-27   139,724.32
1  DAILY       LIEN        2022-05-28   335,231.90
2  DAILY       LIEN        2022-05-29   399,746.82
3  DAILY       LIEN        2022-05-30   370,427.83
4  DAILY       LIEN        2022-05-31 1,151,601.94

In [25]:
ret_pivot.shape

(5, 4)

In [26]:
ret_pivot_v2 = pd.pivot_table(ret_current_month,index=['type','report_date_local']
                              ,columns=['entry_type']
                              ,values=['amount']
                              ,aggfunc=np.sum,margins=True)
ret_pivot_v2.head()

                              amount
entry_type                      LIEN          All
type  report_date_local
DAILY 2022-05-27          139,724.32   139,724.32
      2022-05-28          335,231.90   335,231.90
      2022-05-29          399,746.82   399,746.82
      2022-05-30          370,427.83   370,427.83
      2022-05-31        1,151,601.94 1,151,601.94

In [27]:
ret_pivot_v2.shape

(6, 2)

# COMISIONES SWAP / BNTE

In [28]:
com_1 = pd.concat([pd.read_csv(f).assign(file_name=os.path.basename(f)) for f in allfiles_com])
com_1.head()

,date_disbursement,amount,payments_number,comision_dsp,iva_dsp,comision + iva,total_fondeo,monto_mail,comision_mail,iva_mail,monto_fondeo_mail,check_monto,check_comision,check_iva,check_fondeo,dsp,file_name
0,2022-04-30,"199,729,215.62",94612,"164,323.35","26,291.74","190,615.09","199,919,830.71","199,729,215.62","164,323.35","26,291.74","199,919,830.71",0.00,0.00,-0.00,-0.00,BNTE,DIFF MONTOS 2022-04-30.csv
0,2022-05-01,"222,556,997.72",94378,"164,109.90","26,257.58","190,367.48","222,747,365.20","222,556,997.72","164,109.90","26,257.58","222,747,365.20",0.00,0.00,0.00,0.00,BNTE,DIFF MONTOS 2022-05-01.csv
0,2022-05-02,"147,218,707.05",64349,"32,174.50","5,147.92","37,322.42","147,256,029.47","147,218,707.05","32,174.50","5,147.92","147,256,029.47",0.00,0.00,0.00,0.00,SANT,DIFF MONTOS 2022-05-02.csv
0,2022-05-03,"149,836,961.74",80914,"40,457.00","6,473.12","46,930.12","149,883,891.86","149,836,961.74","40,457.00","6,473.12","149,883,891.86",0.00,0.00,0.00,0.00,SANT,DIFF MONTOS 2022-05-03.csv
0,2022-05-04,"146,172,810.30",81722,"40,861.00","6,537.76","47,398.76","146,220,209.06","146,172,810.30","40,861.00","6,537.76","146,220,209.06",0.00,0.00,0.00,0.00,SANT,DIFF MONTOS 2022-05-04.csv

In [29]:
com_1.shape

(33, 17)

### CURRENT DATES

In [30]:
com_current_month = com_1[(com_1['date_disbursement'] >= start_date) & (com_1['date_disbursement'] <= final_date)]
com_current_month.head()

,date_disbursement,amount,payments_number,comision_dsp,iva_dsp,comision + iva,total_fondeo,monto_mail,comision_mail,iva_mail,monto_fondeo_mail,check_monto,check_comision,check_iva,check_fondeo,dsp,file_name
0,2022-05-27,"160,216,617.20",86156,"43,078.00","6,892.48","49,970.48","160,266,587.68","160,216,617.20","43,078.00","6,892.48","160,266,587.68",0.00,0.00,0.00,-0.00,SANT,DIFF MONTOS 2022-05-27.csv
0,2022-05-28,"191,121,282.98",92344,"160,491.45","25,678.63","186,170.08","191,307,453.06","191,121,282.98","160,491.45","25,678.63","191,307,453.06",0.00,0.00,0.00,0.00,BNTE,DIFF MONTOS 2022-05-28.csv
0,2022-05-29,"208,287,665.30",90925,"158,192.25","25,310.76","183,503.01","208,471,168.31","208,287,665.30","158,192.25","25,310.76","208,471,168.31",0.00,0.00,0.00,0.00,BNTE,DIFF MONTOS 2022-05-29.csv
0,2022-05-30,"143,748,406.62",63138,"31,569.00","5,051.04","36,620.04","143,785,026.66","143,748,406.62","31,569.00","5,051.04","143,785,026.66",0.00,0.00,0.00,0.00,SANT,DIFF MONTOS 2022-05-30.csv
0,2022-05-31,"143,908,727.66",77314,"38,657.00","6,185.12","44,842.12","143,953,569.78","143,908,727.66","38,657.00","6,185.12","143,953,569.78",0.00,0.00,0.00,0.00,SANT,DIFF MONTOS 2022-05-31.csv

In [31]:
com_current_month.shape

(5, 17)

# LENDERS

In [32]:
lender_1 = pd.concat([pd.read_csv(f).assign(file_name=os.path.basename(f)) for f in allfiles_lender])
lender_1.columns = lender_1.columns.str.strip().str.lower() 
lender_1.head()

,collection_date_local,merchant_token,merchant_id,loan_id,provider_code,collection_origin,source,amount,capital,interest,tax,file_name
0,2022-04-04,efae470b-8972-433a-93fe-c4a7c547c7ea,1525fe35-5e09-41f0-b2a2-b1af4d5ebd97,012d1432-7ec7-41fd-8395-79c186eec962,R2,SETTLEMENT,FAST_PAYMENT,132.24,94.05,32.92,5.27,LENDERS DB ABRIL 2022.csv
1,2022-04-21,efae470b-8972-433a-93fe-c4a7c547c7ea,1525fe35-5e09-41f0-b2a2-b1af4d5ebd97,012d1432-7ec7-41fd-8395-79c186eec962,R2,SETTLEMENT,FAST_PAYMENT,64.97,46.21,16.17,2.59,LENDERS DB ABRIL 2022.csv
2,2022-04-08,cf0f261c-42cd-4e54-8fca-e945f57a74d5,671b2959-0238-4e47-a63f-2d6fd298d552,01b2fa71-4b01-493e-b58c-1e735cfa4ce6,MRP,SETTLEMENT,REGULAR,64.12,56.43,7.69,0.00,LENDERS DB ABRIL 2022.csv
3,2022-04-05,cf0f261c-42cd-4e54-8fca-e945f57a74d5,671b2959-0238-4e47-a63f-2d6fd298d552,01b2fa71-4b01-493e-b58c-1e735cfa4ce6,MRP,SETTLEMENT,REGULAR,60.10,52.89,7.21,0.00,LENDERS DB ABRIL 2022.csv
4,2022-04-12,cf0f261c-42cd-4e54-8fca-e945f57a74d5,671b2959-0238-4e47-a63f-2d6fd298d552,01b2fa71-4b01-493e-b58c-1e735cfa4ce6,MRP,SETTLEMENT,REGULAR,32.73,28.80,3.93,0.00,LENDERS DB ABRIL 2022.csv

In [33]:
lender_1.shape

(172722, 12)

### CURRENT DATES

In [34]:
lender_current_month = lender_1[(lender_1['collection_date_local'] >= start_date) &
                                (lender_1['collection_date_local'] <= final_date)]
lender_current_month.head()

,collection_date_local,merchant_token,merchant_id,loan_id,provider_code,collection_origin,source,amount,capital,interest,tax,file_name
80223,2022-05-27,b8e53192-7843-498d-a95c-c9f545cc73da,d4238552-a754-48e0-8acc-254cfcd85cef,23d3a540-2adc-42de-a972-ce123d6f72ca,R2,SETTLEMENT,REGULAR,240.33,170.93,59.83,9.57,LENDERS DB MAYO 2022.csv
80224,2022-05-27,cce83adc-c1ba-4b7b-b45e-459deccd40e2,ee4eb942-c964-4d8e-90a1-d56f99e3e696,238274f8-1b18-4667-a883-db45b040ae9a,MRP,SETTLEMENT,FAST_PAYMENT,61.58,49.26,12.32,0.00,LENDERS DB MAYO 2022.csv
80225,2022-05-27,a93f5bf6-c76b-4e2c-81a3-6acfbd5804a8,58249d94-1ad3-4565-ab87-7a4a8f46c170,d750c453-7186-40d0-a37d-6bb683493f89,MRP,SETTLEMENT,FAST_PAYMENT,104.03,78.02,26.01,0.00,LENDERS DB MAYO 2022.csv
80226,2022-05-27,bb0a13cd-29ca-457f-ab9f-709dd7e4afc6,3fde4288-728e-4b7a-8b0b-5e868d325cb9,3f43c0cb-ee25-4254-bd0c-6bfb61442aa2,MRP,SETTLEMENT,FAST_PAYMENT,10.44,7.73,2.71,0.00,LENDERS DB MAYO 2022.csv
80227,2022-05-27,961877b4-36f0-460e-975b-a738f6127cb9,88d550d5-0f87-4329-bf3a-71d02024e83e,a56f829f-0345-4dbf-ae01-deecfef6b440,MRP,SETTLEMENT,FAST_PAYMENT,142.01,105.09,36.92,0.00,LENDERS DB MAYO 2022.csv

In [35]:
lender_current_month.shape

(15005, 12)

In [36]:
lender_current_month['provider_code'].unique()

array(['R2', 'MRP', 'CTO', 'MOT', 'APH'], dtype=object)

### PIVOT CLIP

In [37]:
lender_clip = lender_current_month[(lender_current_month['provider_code'] == 'CLIP')]

In [38]:
# lender_pivot_clip_1 = lender_clip.groupby(['Creation Date','Date']).agg({'Collected today':sum,'Capital today':sum
#                                                                        ,'Interests today':sum,'IVA Interests today':sum
#                                                                        ,'Overdue Interest today':sum,'Total today':sum
#                                                                        ,'CLIP Revenue today':sum}).reset_index()
# lender_pivot_clip_1.head()

In [39]:
# lender_pivot_clip_1.shape

In [40]:
lender_pivot_clip_2 = lender_clip.groupby(['collection_date_local']).agg({'amount':sum,'capital':sum,'interest':sum
                                                 ,'tax':sum}).reset_index()
lender_pivot_clip_2.head()

Empty DataFrame
Columns: [collection_date_local, amount, capital, interest, tax]
Index: []

In [41]:
lender_pivot_clip_2.shape

(0, 5)

### PIVOT OTHERS

In [42]:
lender_others = lender_current_month[(lender_current_month['provider_code'] != 'CLIP')]

In [43]:
lender_pivot_others = lender_others.groupby(['collection_date_local']).agg({'amount':sum,'capital':sum,'interest':sum
                                                 ,'tax':sum}).reset_index()
lender_pivot_others.head()

  collection_date_local       amount      capital   interest       tax
0            2022-05-27 1,167,885.05   866,106.26 277,780.83 23,997.96
1            2022-05-28 1,542,010.55 1,151,047.28 357,923.75 33,039.52
2            2022-05-29 1,535,858.10 1,139,448.50 362,673.20 33,736.40
3            2022-05-30 1,134,944.91   845,787.66 265,122.50 24,034.75
4            2022-05-31   954,343.00   711,364.79 222,896.84 20,081.37

In [44]:
lender_pivot_others.shape

(5, 5)

# EXCEL FINAL

In [45]:
writer = pd.ExcelWriter('FASE II. DATA POLIZA MAYO 27-31 2022.xlsx',
                        engine='xlsxwriter',
                        engine_kwargs={'options': {'encoding':'utf-8'}})
lender_pivot_clip_2.to_excel(writer, sheet_name='DATA LENDER CLIP',index=False)
# lender_pivot_clip_1.to_excel(writer, sheet_name='DATA LENDER CLIP CREATION DATE',index=False)
lender_pivot_others.to_excel(writer, sheet_name='DATA LENDER OTHERS',index=False)
adj_pivot.to_excel(writer, sheet_name='DATA ADJUSTMENTS',index=False)
lib_pivot_v2.to_excel(writer, sheet_name='DATA LIBERACIONES')
ret_pivot_v2.to_excel(writer, sheet_name='DATA RETENCIONES')
com_current_month.to_excel(writer, sheet_name='DATA COMISIONES',index=False)
writer.close()