In [1]:
import pandas as pd
import numpy as np
import glob
import os
from openpyxl import load_workbook
pd.options.display.float_format = '{:,.2f}'.format

# MES AÑO DE CONCILIACIÓN

In [2]:
month_conc = 'December'
year_conc = '2022'

# RUTAS DE ACCESO

### SWAP DEL DIA

In [3]:
allfiles_disp_trad = glob.glob(r'C:\Users\Cristian.Aparicio\Documents\DISPERSIONES\2022\12. DICIEMBRE\ARCHIVO DISPERSIONES\Dispersión*.xlsx', recursive=False)
allfiles_disp_trad

['C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\12. DICIEMBRE\\ARCHIVO DISPERSIONES\\Dispersión-20221201.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\12. DICIEMBRE\\ARCHIVO DISPERSIONES\\Dispersión-20221202.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\12. DICIEMBRE\\ARCHIVO DISPERSIONES\\Dispersión-20221203.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\12. DICIEMBRE\\ARCHIVO DISPERSIONES\\Dispersión-20221204.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\12. DICIEMBRE\\ARCHIVO DISPERSIONES\\Dispersión-20221205.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\12. DICIEMBRE\\ARCHIVO DISPERSIONES\\Dispersión-20221206.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\12. DICIEMBRE\\ARCHIVO DISPERSIONES\\Dispersión-20221207.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\12. DICIEMBRE\\ARCHIVO DISPERSIONES\\Dispersión-20221208.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\12. DICIEMBRE\\ARCHIVO DISPERSIONES\\Dispersión-20221209.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\12. DICIEMBRE\\ARCHIVO DISPERSIONES\\Dispersión-20221210.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\12. DICIEMBRE\\ARCHIVO DISPERSIONES\\Dispersión-20221211.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\12. DICIEMBRE\\ARCHIVO DISPERSIONES\\Dispersión-20221212.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\12. DICIEMBRE\\ARCHIVO DISPERSIONES\\Dispersión-20221213.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\12. DICIEMBRE\\ARCHIVO DISPERSIONES\\Dispersión-20221214.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\12. DICIEMBRE\\ARCHIVO DISPERSIONES\\Dispersión-20221215.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\12. DICIEMBRE\\ARCHIVO DISPERSIONES\\Dispersión-20221216.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\12. DICIEMBRE\\ARCHIVO DISPERSIONES\\Dispersión-20221217.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\12. DICIEMBRE\\ARCHIVO DISPERSIONES\\Dispersión-20221218.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\12. DICIEMBRE\\ARCHIVO DISPERSIONES\\Dispersión-20221219.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\12. DICIEMBRE\\ARCHIVO DISPERSIONES\\Dispersión-20221220.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\12. DICIEMBRE\\ARCHIVO DISPERSIONES\\Dispersión-20221221.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\12. DICIEMBRE\\ARCHIVO DISPERSIONES\\Dispersión-20221222.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\12. DICIEMBRE\\ARCHIVO DISPERSIONES\\Dispersión-20221223.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\12. DICIEMBRE\\ARCHIVO DISPERSIONES\\Dispersión-20221224.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\12. DICIEMBRE\\ARCHIVO DISPERSIONES\\Dispersión-20221225.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\12. DICIEMBRE\\ARCHIVO DISPERSIONES\\Dispersión-20221226.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\12. DICIEMBRE\\ARCHIVO DISPERSIONES\\Dispersión-20221227.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\12. DICIEMBRE\\ARCHIVO DISPERSIONES\\Dispersión-20221228.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\12. DICIEMBRE\\ARCHIVO DISPERSIONES\\Dispersión-20221229.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\12. DICIEMBRE\\ARCHIVO DISPERSIONES\\Dispersión-20221230.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\12. DICIEMBRE\\ARCHIVO DISPERSIONES\\Dispersión-20221231.xlsx']

### FAST PAYMENTS

In [4]:
allfiles_fp = glob.glob(r'C:\Users\Cristian.Aparicio\Documents\FAST PAYMENTS\2022\12. DICIEMBRE\ARCHIVO DISPERSIONES FP\Dispersión-FP*.xlsx',recursive=False)
allfiles_fp

['C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2022\\12. DICIEMBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2022-12-01.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2022\\12. DICIEMBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2022-12-02.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2022\\12. DICIEMBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2022-12-03.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2022\\12. DICIEMBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2022-12-04.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2022\\12. DICIEMBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2022-12-05.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2022\\12. DICIEMBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2022-12-06.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2022\\12. DICIEMBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2022-12-07.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2022\\12. DICIEMBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2022-12-08.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2022\\12. DICIEMBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2022-12-09.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2022\\12. DICIEMBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2022-12-10.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2022\\12. DICIEMBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2022-12-11.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2022\\12. DICIEMBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2022-12-12.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2022\\12. DICIEMBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2022-12-13.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2022\\12. DICIEMBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2022-12-14.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2022\\12. DICIEMBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2022-12-15.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2022\\12. DICIEMBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2022-12-16.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2022\\12. DICIEMBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2022-12-17.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2022\\12. DICIEMBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2022-12-18.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2022\\12. DICIEMBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2022-12-19.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2022\\12. DICIEMBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2022-12-20.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2022\\12. DICIEMBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2022-12-21.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2022\\12. DICIEMBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2022-12-22.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2022\\12. DICIEMBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2022-12-23.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2022\\12. DICIEMBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2022-12-24.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2022\\12. DICIEMBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2022-12-25.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2022\\12. DICIEMBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2022-12-26.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2022\\12. DICIEMBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2022-12-27.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2022\\12. DICIEMBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2022-12-28.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2022\\12. DICIEMBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2022-12-29.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2022\\12. DICIEMBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2022-12-30.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2022\\12. DICIEMBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2022-12-31.xlsx']

# SWAP DEL DIA

In [5]:
swap_dia_total = pd.concat([pd.read_excel(f,sheet_name = 'Swap del día')
                            .assign(file_name=os.path.basename(f)) for f in allfiles_disp_trad])
swap_dia_total['Date'] = swap_dia_total["file_name"].str[-13:-5]
swap_dia_total['Date']= pd.to_datetime(swap_dia_total['Date'], format='%Y%m%d').dt.date
swap_dia_total['Date']= pd.to_datetime(swap_dia_total['Date'])
swap_dia_total.sort_values(by=['Date'],ascending=True,inplace=True)
swap_dia_total['report_date_local']= pd.to_datetime(swap_dia_total['report_date_local'])
swap_dia_total['month_conc'] = month_conc
swap_dia_total['year_conc'] = year_conc
swap_dia_total['month_report'] = swap_dia_total['report_date_local'].dt.strftime('%B')
swap_dia_total['year_report'] = swap_dia_total['report_date_local'].dt.year.astype(str)
swap_dia_total.head()

,type,merchant_id,merchant_name,user_email,report_id,report_date_local,total_due,tipo,bank,bank_account_owner_name,...,status,LINEA CEP,Batch_time,Banco_emisor,file_name,Date,month_conc,year_conc,month_report,year_report
0,DAILY,00630937-891f-4c05-9ede-7439019ece35,monica meza valencia,elpalaciodemoni2022@gmail.com,SWW9GY7W9,2022-12-01,799.18,Pago del día,SANTANDER,monica Meza valencia,...,ERROR,NaN,01. First_batch,SANTANDER,Dispersión-20221201.xlsx,2022-12-01,December,2022,December,2022
66445,DAILY,b36501b7-9ec1-4181-9a73-ada23f900b15,Italika Pachuca,italikapachuca@hotmail.com,TH883D49D,2022-12-01,"1,625.17",Pago del día,BBVA BANCOMER,Arturo Amador Arellano,...,PAID,"2022-12-01,2022120140014 HDH0001421716440,4001...",01. First_batch,SANTANDER,Dispersión-20221201.xlsx,2022-12-01,December,2022,December,2022
66444,DAILY,b364d20b-f84d-4812-a086-00d23dd197ad,Abarrotes Uribe,clau.yayasa196511@gmail.com,ZLDWNBJML,2022-12-01,97.66,Pago del día,BANREGIO,Diego Alejandro Pacheco Uribe,...,PAID,"2022-12-01,2022120140014 HDH0001421716400,4001...",01. First_batch,SANTANDER,Dispersión-20221201.xlsx,2022-12-01,December,2022,December,2022
66443,DAILY,b36489df-7152-4a47-86e3-2cb888f62551,Pizzas Pablo,rufinasilvapablo@gmail.com,YPHZR686Y,2022-12-01,253.93,Pago del día,AZTECA,Rufina Silva Pablo,...,PAID,"2022-12-01,2022120140014 HDH0001421716410,4001...",01. First_batch,SANTANDER,Dispersión-20221201.xlsx,2022-12-01,December,2022,December,2022
66442,DAILY,b3643ee4-b52b-4605-a4eb-90123de15e39,Néctar Cafetería,anamaganao@outlook.com,77M9Y7MZ9,2022-12-01,605.60,Pago del día,SANTANDER,José Luis Ramírez Bustamante,...,PAID,COMPROBANTE MISMO BANCO SANTANDER,01. First_batch,SANTANDER,Dispersión-20221201.xlsx,2022-12-01,December,2022,December,2022

In [6]:
swap_dia_total.shape

(2946472, 21)

In [7]:
swap_dia_total.dtypes

type                               object
merchant_id                        object
merchant_name                      object
user_email                         object
report_id                          object
report_date_local          datetime64[ns]
total_due                         float64
tipo                               object
bank                               object
bank_account_owner_name            object
CLABE                               int64
status                             object
LINEA CEP                          object
Batch_time                         object
Banco_emisor                       object
file_name                          object
Date                       datetime64[ns]
month_conc                         object
year_conc                          object
month_report                       object
year_report                        object
dtype: object

In [8]:
pivot_total = pd.pivot_table(swap_dia_total,index=['type','Date'],values=['total_due'],aggfunc = ['sum', len],margins=True)
pivot_total.reset_index(drop=False, inplace=True)
pivot_total.head()

C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_17840\816911804.py:1: FutureWarning: Inferring datetime64[ns] from data containing strings is deprecated and will be removed in a future version. To retain the old behavior explicitly pass Series(data, dtype=datetime64[ns])
  pivot_total = pd.pivot_table(swap_dia_total,index=['type','Date'],values=['total_due'],aggfunc = ['sum', len],margins=True)
C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_17840\816911804.py:1: FutureWarning: Inferring datetime64[ns] from data containing strings is deprecated and will be removed in a future version. To retain the old behavior explicitly pass Series(data, dtype=datetime64[ns])
  pivot_total = pd.pivot_table(swap_dia_total,index=['type','Date'],values=['total_due'],aggfunc = ['sum', len],margins=True)

    type       Date            sum       len
                         total_due total_due
0  DAILY 2022-12-01 207,885,035.13     99658
1  DAILY 2022-12-02 219,661,959.60    104105
2  DAILY 2022-12-03 236,321,128.96    106320
3  DAILY 2022-12-04 258,032,398.84    105970
4  DAILY 2022-12-05 186,918,487.79     76392

In [9]:
pivot_parcial = pd.pivot_table(swap_dia_total,index=['type','tipo','Date'],
                               columns=['status'],values=['total_due'],aggfunc = ['sum', len],margins=True)
pivot_parcial.reset_index(drop=False, inplace=True)
pivot_parcial.head()

C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_17840\2979479322.py:1: FutureWarning: Inferring datetime64[ns] from data containing strings is deprecated and will be removed in a future version. To retain the old behavior explicitly pass Series(data, dtype=datetime64[ns])
  pivot_parcial = pd.pivot_table(swap_dia_total,index=['type','tipo','Date'],
C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_17840\2979479322.py:1: FutureWarning: Inferring datetime64[ns] from data containing strings is deprecated and will be removed in a future version. To retain the old behavior explicitly pass Series(data, dtype=datetime64[ns])
  pivot_parcial = pd.pivot_table(swap_dia_total,index=['type','tipo','Date'],

         type          tipo       Date        sum                 \
                                        total_due
status                                      ERROR           PAID
0       DAILY  Pago del día 2022-12-01 250,948.10 204,550,861.56
1       DAILY  Pago del día 2022-12-02 520,311.31 217,036,597.30
2       DAILY  Pago del día 2022-12-03 469,806.93 234,953,631.54
3       DAILY  Pago del día 2022-12-04 137,710.45 257,384,818.48
4       DAILY  Pago del día 2022-12-05 574,439.69 185,702,628.05

                            len
                      total_due
status            All     ERROR       PAID     All
0      204,801,809.66    106.00  97,625.00   97731
1      217,556,908.61    124.00 102,746.00  102870
2      235,423,438.47    122.00 105,727.00  105849
3      257,522,528.93     20.00 105,700.00  105720
4      186,277,067.74    113.00  75,996.00   76109

## CATEGORIZACIÓN DE REPROGRAMACIONES

In [10]:
swap_dia_total_repro = swap_dia_total[(swap_dia_total['tipo'] == 'Reprogramación')]
swap_dia_total_repro.head()

,type,merchant_id,merchant_name,user_email,report_id,report_date_local,total_due,tipo,bank,bank_account_owner_name,...,status,LINEA CEP,Batch_time,Banco_emisor,file_name,Date,month_conc,year_conc,month_report,year_report
66454,DAILY,b368c690-db7a-480b-99ea-2099e79dd477,El Callejn De San Miguel,akpm1302@gmail.com,273W22XK6,2022-11-25,978.99,Reprogramación,BBVA BANCOMER,Ana Karen Pérez Marin,...,PAID,"2022-12-01,2022120140014 HDH0001421716590,4001...",01. First_batch,SANTANDER,Dispersión-20221201.xlsx,2022-12-01,December,2022,November,2022
66244,DAILY,b2db1c5a-77de-4b2c-b0dc-3137fd4057fb,abarrotes chicago,AYRAMA@outlook.com,WXXTPVYVC,2022-11-30,725.39,Reprogramación,BBVA BANCOMER,Leslie de Jesus Ramirez Maldonado,...,PAID,"2022-12-01,2022120140014 HDH0001421713410,4001...",01. First_batch,SANTANDER,Dispersión-20221201.xlsx,2022-12-01,December,2022,November,2022
66243,DAILY,b2db1c5a-77de-4b2c-b0dc-3137fd4057fb,abarrotes chicago,AYRAMA@outlook.com,NR2H8PBVV,2022-11-29,415.87,Reprogramación,BBVA BANCOMER,Leslie de Jesus Ramirez Maldonado,...,PAID,"2022-12-01,2022120140014 HDH0001421713450,4001...",01. First_batch,SANTANDER,Dispersión-20221201.xlsx,2022-12-01,December,2022,November,2022
66242,DAILY,b2db1c5a-77de-4b2c-b0dc-3137fd4057fb,abarrotes chicago,AYRAMA@outlook.com,88RCTKS5P,2022-11-27,"2,028.62",Reprogramación,BBVA BANCOMER,Leslie de Jesus Ramirez Maldonado,...,PAID,"2022-12-01,2022120140014 HDH0001421713460,4001...",01. First_batch,SANTANDER,Dispersión-20221201.xlsx,2022-12-01,December,2022,November,2022
66241,DAILY,b2db1c5a-77de-4b2c-b0dc-3137fd4057fb,abarrotes chicago,AYRAMA@outlook.com,6XDG3RZWG,2022-11-23,"1,957.68",Reprogramación,BBVA BANCOMER,Leslie de Jesus Ramirez Maldonado,...,PAID,"2022-12-01,2022120140014 HDH0001421713360,4001...",01. First_batch,SANTANDER,Dispersión-20221201.xlsx,2022-12-01,December,2022,November,2022

In [11]:
swap_dia_total_repro.shape

(15953, 21)

In [12]:
swap_dia_total_repro.loc[(swap_dia_total_repro['tipo'] == 'Reprogramación')
                   & (swap_dia_total_repro['month_report'] == month_conc) 
                   & (swap_dia_total_repro['year_report'] == year_conc),'tipo_reprogramacion'] = 'repro_mismo_mes'
swap_dia_total_repro['tipo_reprogramacion'].fillna('repro_otro_mes',inplace=True)
swap_dia_total_repro.head()

C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_17840\2042991903.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  swap_dia_total_repro.loc[(swap_dia_total_repro['tipo'] == 'Reprogramación')
C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_17840\2042991903.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  swap_dia_total_repro['tipo_reprogramacion'].fillna('repro_otro_mes',inplace=True)

,type,merchant_id,merchant_name,user_email,report_id,report_date_local,total_due,tipo,bank,bank_account_owner_name,...,LINEA CEP,Batch_time,Banco_emisor,file_name,Date,month_conc,year_conc,month_report,year_report,tipo_reprogramacion
66454,DAILY,b368c690-db7a-480b-99ea-2099e79dd477,El Callejn De San Miguel,akpm1302@gmail.com,273W22XK6,2022-11-25,978.99,Reprogramación,BBVA BANCOMER,Ana Karen Pérez Marin,...,"2022-12-01,2022120140014 HDH0001421716590,4001...",01. First_batch,SANTANDER,Dispersión-20221201.xlsx,2022-12-01,December,2022,November,2022,repro_otro_mes
66244,DAILY,b2db1c5a-77de-4b2c-b0dc-3137fd4057fb,abarrotes chicago,AYRAMA@outlook.com,WXXTPVYVC,2022-11-30,725.39,Reprogramación,BBVA BANCOMER,Leslie de Jesus Ramirez Maldonado,...,"2022-12-01,2022120140014 HDH0001421713410,4001...",01. First_batch,SANTANDER,Dispersión-20221201.xlsx,2022-12-01,December,2022,November,2022,repro_otro_mes
66243,DAILY,b2db1c5a-77de-4b2c-b0dc-3137fd4057fb,abarrotes chicago,AYRAMA@outlook.com,NR2H8PBVV,2022-11-29,415.87,Reprogramación,BBVA BANCOMER,Leslie de Jesus Ramirez Maldonado,...,"2022-12-01,2022120140014 HDH0001421713450,4001...",01. First_batch,SANTANDER,Dispersión-20221201.xlsx,2022-12-01,December,2022,November,2022,repro_otro_mes
66242,DAILY,b2db1c5a-77de-4b2c-b0dc-3137fd4057fb,abarrotes chicago,AYRAMA@outlook.com,88RCTKS5P,2022-11-27,"2,028.62",Reprogramación,BBVA BANCOMER,Leslie de Jesus Ramirez Maldonado,...,"2022-12-01,2022120140014 HDH0001421713460,4001...",01. First_batch,SANTANDER,Dispersión-20221201.xlsx,2022-12-01,December,2022,November,2022,repro_otro_mes
66241,DAILY,b2db1c5a-77de-4b2c-b0dc-3137fd4057fb,abarrotes chicago,AYRAMA@outlook.com,6XDG3RZWG,2022-11-23,"1,957.68",Reprogramación,BBVA BANCOMER,Leslie de Jesus Ramirez Maldonado,...,"2022-12-01,2022120140014 HDH0001421713360,4001...",01. First_batch,SANTANDER,Dispersión-20221201.xlsx,2022-12-01,December,2022,November,2022,repro_otro_mes

In [13]:
pivot_tipo_repro = pd.pivot_table(swap_dia_total_repro,index=['type','Date'],
                                  columns=['status','tipo_reprogramacion'],
                                  values=['total_due']
                                  ,aggfunc = ['sum', len],margins=True)
pivot_tipo_repro.reset_index(drop=False, inplace=True)
pivot_tipo_repro.head()

C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_17840\1344659784.py:1: FutureWarning: Inferring datetime64[ns] from data containing strings is deprecated and will be removed in a future version. To retain the old behavior explicitly pass Series(data, dtype=datetime64[ns])
  pivot_tipo_repro = pd.pivot_table(swap_dia_total_repro,index=['type','Date'],
C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_17840\1344659784.py:1: FutureWarning: Inferring datetime64[ns] from data containing strings is deprecated and will be removed in a future version. To retain the old behavior explicitly pass Series(data, dtype=datetime64[ns])
  pivot_tipo_repro = pd.pivot_table(swap_dia_total_repro,index=['type','Date'],

                      type       Date             sum                 \
                                            total_due
status                                          ERROR
tipo_reprogramacion                   repro_mismo_mes repro_otro_mes
0                    DAILY 2022-12-01             NaN     269,514.57
1                    DAILY 2022-12-02        3,549.77     242,020.33
2                    DAILY 2022-12-03       78,927.38      86,680.60
3                    DAILY 2022-12-04       17,101.20       2,307.93
4                    DAILY 2022-12-05      153,036.38      16,031.13

                                                                 \

status                         PAID                         All
tipo_reprogramacion repro_mismo_mes repro_otro_mes
0                               NaN   2,813,710.90 3,083,225.47
1                         60,477.02   1,799,003.87 2,105,050.99
2                        127,701.31     604,381.20   897,690.49
3                         61,969.05     428,491.73   509,869.91
4                        169,732.25     302,620.29   641,420.05

                                len                                 \
                          total_due
status                        ERROR                           PAID
tipo_reprogramacion repro_mismo_mes repro_otro_mes repro_mismo_mes
0                               NaN         141.00             NaN
1                              8.00         111.00           42.00
2                             26.00          22.00           60.00
3                             10.00           5.00           55.00
4                             17.00           2.00           94.00



status                               All
tipo_reprogramacion repro_otro_mes
0                         1,786.00  1927
1                         1,074.00  1235
2                           363.00   471
3                           180.00   250
4                           170.00   283

# FAST PAYMENTS

In [14]:
fp_dia_total = pd.concat([pd.read_excel(f,sheet_name='FAST PAYMENTS')
                          .assign(file_name=os.path.basename(f)) for f in allfiles_fp])
fp_dia_total['Date'] = fp_dia_total["file_name"].str[-15:-5]
fp_dia_total['Date']= pd.to_datetime(fp_dia_total['Date'])
fp_dia_total['report_date_local']= pd.to_datetime(fp_dia_total['report_date_local'])
fp_dia_total['month_conc'] = month_conc
fp_dia_total['year_conc'] = year_conc
fp_dia_total['month_report'] = fp_dia_total['report_date_local'].dt.strftime('%B')
fp_dia_total['year_report'] = fp_dia_total['report_date_local'].dt.year.astype(str)
fp_dia_total.head()

,type,merchant_id,merchant_name,user_email,report_id,report_date_local,total_due,tipo,bank,swap,...,status,LINEA CEP,Batch_time,Banco_emisor,file_name,Date,month_conc,year_conc,month_report,year_report
0,INSTANT,2d1a4d88-8896-459d-bc57-bfdb14aa44d9,Serafina,Ebnerpalacios@gmail.com,Z8G5VFKTP,2022-11-30,148.53,Reprogramación,ASP INTEGRA OPC,Ebner Osbaldo Palacios Herrera,...,ERROR,NaN,01. First_batch,SANTANDER,Dispersión-FP 2022-12-01.xlsx,2022-12-01,December,2022,November,2022
1,INSTANT,1a09ceb7-827f-43e4-9c66-bcedf072f2f3,Le Pain,anton.soto@live.com.mx,4T3NJWYYJ,2022-11-30,504.78,Reprogramación,ASP INTEGRA OPC,Marco Antonio Lopez Soto,...,ERROR,NaN,04. Fourth_batch,SANTANDER,Dispersión-FP 2022-12-01.xlsx,2022-12-01,December,2022,November,2022
2,INSTANT,1a09ceb7-827f-43e4-9c66-bcedf072f2f3,Le Pain,anton.soto@live.com.mx,NVCVRF6X5,2022-11-30,31.89,Reprogramación,ASP INTEGRA OPC,Marco Antonio Lopez Soto,...,ERROR,NaN,04. Fourth_batch,SANTANDER,Dispersión-FP 2022-12-01.xlsx,2022-12-01,December,2022,November,2022
3,INSTANT,a4591f18-b475-4e63-bdaa-534657b12571,Miscelanea Samarath,salvadorlsw@hotmail.com,H8X8V5F3W,2022-11-30,60.84,Reprogramación,ASP INTEGRA OPC,Giovanni Salvador Luna Yepez,...,ERROR,NaN,04. Fourth_batch,SANTANDER,Dispersión-FP 2022-12-01.xlsx,2022-12-01,December,2022,November,2022
4,INSTANT,ba5e6b7f-5914-483d-96dd-0ce6cd70dee7,Andymarck,alvaradomarcos944@gmail.com,LTCRP5DHC,2022-11-30,108.67,Reprogramación,ASP INTEGRA OPC,Marcos Alvarado Martinez,...,ERROR,NaN,04. Fourth_batch,SANTANDER,Dispersión-FP 2022-12-01.xlsx,2022-12-01,December,2022,November,2022

In [15]:
fp_dia_total.shape

(118461, 21)

In [16]:
fp_dia_total.dtypes

type                         object
merchant_id                  object
merchant_name                object
user_email                   object
report_id                    object
report_date_local    datetime64[ns]
total_due                   float64
tipo                         object
bank                         object
swap                         object
CLABE                         int64
status                       object
LINEA CEP                    object
Batch_time                   object
Banco_emisor                 object
file_name                    object
Date                 datetime64[ns]
month_conc                   object
year_conc                    object
month_report                 object
year_report                  object
dtype: object

In [17]:
pivot_fp_total = pd.pivot_table(fp_dia_total,index=['type','Date'],values=['total_due'],aggfunc = ['sum', len],margins=True)
pivot_fp_total.reset_index(drop=False, inplace=True)
pivot_fp_total.head()

C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_17840\42428836.py:1: FutureWarning: Inferring datetime64[ns] from data containing strings is deprecated and will be removed in a future version. To retain the old behavior explicitly pass Series(data, dtype=datetime64[ns])
  pivot_fp_total = pd.pivot_table(fp_dia_total,index=['type','Date'],values=['total_due'],aggfunc = ['sum', len],margins=True)
C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_17840\42428836.py:1: FutureWarning: Inferring datetime64[ns] from data containing strings is deprecated and will be removed in a future version. To retain the old behavior explicitly pass Series(data, dtype=datetime64[ns])
  pivot_fp_total = pd.pivot_table(fp_dia_total,index=['type','Date'],values=['total_due'],aggfunc = ['sum', len],margins=True)

      type       Date          sum       len
                         total_due total_due
0  INSTANT 2022-12-01 2,767,026.33      4731
1  INSTANT 2022-12-02 2,955,534.18      4952
2  INSTANT 2022-12-03 3,475,168.13      4996
3  INSTANT 2022-12-04 2,587,609.47      4101
4  INSTANT 2022-12-05 2,321,433.58      3932

In [18]:
pivot_fp_parcial = pd.pivot_table(fp_dia_total,index=['type','tipo','Date'],
                                  columns=['status'],values=['total_due'],aggfunc = ['sum', len],margins=True)
pivot_fp_parcial.reset_index(drop=False, inplace=True)
pivot_fp_parcial.head()

C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_17840\3485188970.py:1: FutureWarning: Inferring datetime64[ns] from data containing strings is deprecated and will be removed in a future version. To retain the old behavior explicitly pass Series(data, dtype=datetime64[ns])
  pivot_fp_parcial = pd.pivot_table(fp_dia_total,index=['type','tipo','Date'],
C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_17840\3485188970.py:1: FutureWarning: Inferring datetime64[ns] from data containing strings is deprecated and will be removed in a future version. To retain the old behavior explicitly pass Series(data, dtype=datetime64[ns])
  pivot_fp_parcial = pd.pivot_table(fp_dia_total,index=['type','tipo','Date'],

           type          tipo       Date       sum                             \
                                         total_due
status                                       ERROR ERROR_DSP NEW         PAID
0       INSTANT  Pago del día 2022-12-01    374.66       NaN NaN 2,488,334.25
1       INSTANT  Pago del día 2022-12-02  3,409.43       NaN NaN 2,734,795.17
2       INSTANT  Pago del día 2022-12-03  6,999.00       NaN NaN 2,895,582.49
3       INSTANT  Pago del día 2022-12-04       NaN       NaN NaN 2,552,963.37
4       INSTANT  Pago del día 2022-12-05 14,798.64       NaN NaN 2,178,539.78

                          len
                    total_due
status          All     ERROR ERROR_DSP NEW     PAID   All
0      2,488,708.91      1.00       NaN NaN 4,343.00  4344
1      2,738,204.60      6.00       NaN NaN 4,503.00  4509
2      2,902,581.49      9.00       NaN NaN 4,596.00  4605
3      2,552,963.37       NaN       NaN NaN 4,060.00  4060
4      2,193,338.42      6.00       NaN NaN 3,755.00  3761

## CATEGORIZACIÓN DE REPROGRAMACIONES - FAST PAYMENTS

In [19]:
fp_dia_total_repro = fp_dia_total[(fp_dia_total['tipo'] == 'Reprogramación')]
fp_dia_total_repro.head()

,type,merchant_id,merchant_name,user_email,report_id,report_date_local,total_due,tipo,bank,swap,...,status,LINEA CEP,Batch_time,Banco_emisor,file_name,Date,month_conc,year_conc,month_report,year_report
0,INSTANT,2d1a4d88-8896-459d-bc57-bfdb14aa44d9,Serafina,Ebnerpalacios@gmail.com,Z8G5VFKTP,2022-11-30,148.53,Reprogramación,ASP INTEGRA OPC,Ebner Osbaldo Palacios Herrera,...,ERROR,NaN,01. First_batch,SANTANDER,Dispersión-FP 2022-12-01.xlsx,2022-12-01,December,2022,November,2022
1,INSTANT,1a09ceb7-827f-43e4-9c66-bcedf072f2f3,Le Pain,anton.soto@live.com.mx,4T3NJWYYJ,2022-11-30,504.78,Reprogramación,ASP INTEGRA OPC,Marco Antonio Lopez Soto,...,ERROR,NaN,04. Fourth_batch,SANTANDER,Dispersión-FP 2022-12-01.xlsx,2022-12-01,December,2022,November,2022
2,INSTANT,1a09ceb7-827f-43e4-9c66-bcedf072f2f3,Le Pain,anton.soto@live.com.mx,NVCVRF6X5,2022-11-30,31.89,Reprogramación,ASP INTEGRA OPC,Marco Antonio Lopez Soto,...,ERROR,NaN,04. Fourth_batch,SANTANDER,Dispersión-FP 2022-12-01.xlsx,2022-12-01,December,2022,November,2022
3,INSTANT,a4591f18-b475-4e63-bdaa-534657b12571,Miscelanea Samarath,salvadorlsw@hotmail.com,H8X8V5F3W,2022-11-30,60.84,Reprogramación,ASP INTEGRA OPC,Giovanni Salvador Luna Yepez,...,ERROR,NaN,04. Fourth_batch,SANTANDER,Dispersión-FP 2022-12-01.xlsx,2022-12-01,December,2022,November,2022
4,INSTANT,ba5e6b7f-5914-483d-96dd-0ce6cd70dee7,Andymarck,alvaradomarcos944@gmail.com,LTCRP5DHC,2022-11-30,108.67,Reprogramación,ASP INTEGRA OPC,Marcos Alvarado Martinez,...,ERROR,NaN,04. Fourth_batch,SANTANDER,Dispersión-FP 2022-12-01.xlsx,2022-12-01,December,2022,November,2022

In [20]:
fp_dia_total_repro.shape

(1939, 21)

In [21]:
fp_dia_total_repro.loc[(fp_dia_total_repro['tipo'] == 'Reprogramación')
                   & (fp_dia_total_repro['month_report'] == month_conc) 
                   & (fp_dia_total_repro['year_report'] == year_conc),'tipo_reprogramacion'] = 'repro_mismo_mes'
fp_dia_total_repro['tipo_reprogramacion'].fillna('repro_otro_mes',inplace=True)
fp_dia_total_repro.head()

C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_17840\939012805.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fp_dia_total_repro.loc[(fp_dia_total_repro['tipo'] == 'Reprogramación')
C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_17840\939012805.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fp_dia_total_repro['tipo_reprogramacion'].fillna('repro_otro_mes',inplace=True)

,type,merchant_id,merchant_name,user_email,report_id,report_date_local,total_due,tipo,bank,swap,...,LINEA CEP,Batch_time,Banco_emisor,file_name,Date,month_conc,year_conc,month_report,year_report,tipo_reprogramacion
0,INSTANT,2d1a4d88-8896-459d-bc57-bfdb14aa44d9,Serafina,Ebnerpalacios@gmail.com,Z8G5VFKTP,2022-11-30,148.53,Reprogramación,ASP INTEGRA OPC,Ebner Osbaldo Palacios Herrera,...,NaN,01. First_batch,SANTANDER,Dispersión-FP 2022-12-01.xlsx,2022-12-01,December,2022,November,2022,repro_otro_mes
1,INSTANT,1a09ceb7-827f-43e4-9c66-bcedf072f2f3,Le Pain,anton.soto@live.com.mx,4T3NJWYYJ,2022-11-30,504.78,Reprogramación,ASP INTEGRA OPC,Marco Antonio Lopez Soto,...,NaN,04. Fourth_batch,SANTANDER,Dispersión-FP 2022-12-01.xlsx,2022-12-01,December,2022,November,2022,repro_otro_mes
2,INSTANT,1a09ceb7-827f-43e4-9c66-bcedf072f2f3,Le Pain,anton.soto@live.com.mx,NVCVRF6X5,2022-11-30,31.89,Reprogramación,ASP INTEGRA OPC,Marco Antonio Lopez Soto,...,NaN,04. Fourth_batch,SANTANDER,Dispersión-FP 2022-12-01.xlsx,2022-12-01,December,2022,November,2022,repro_otro_mes
3,INSTANT,a4591f18-b475-4e63-bdaa-534657b12571,Miscelanea Samarath,salvadorlsw@hotmail.com,H8X8V5F3W,2022-11-30,60.84,Reprogramación,ASP INTEGRA OPC,Giovanni Salvador Luna Yepez,...,NaN,04. Fourth_batch,SANTANDER,Dispersión-FP 2022-12-01.xlsx,2022-12-01,December,2022,November,2022,repro_otro_mes
4,INSTANT,ba5e6b7f-5914-483d-96dd-0ce6cd70dee7,Andymarck,alvaradomarcos944@gmail.com,LTCRP5DHC,2022-11-30,108.67,Reprogramación,ASP INTEGRA OPC,Marcos Alvarado Martinez,...,NaN,04. Fourth_batch,SANTANDER,Dispersión-FP 2022-12-01.xlsx,2022-12-01,December,2022,November,2022,repro_otro_mes

In [22]:
pivot_tipo_repro_fp = pd.pivot_table(fp_dia_total_repro,index=['type','Date'],
                                  columns=['status','tipo_reprogramacion'],
                                  values=['total_due']
                                  ,aggfunc = ['sum', len],margins=True)
pivot_tipo_repro_fp.reset_index(drop=False, inplace=True)
pivot_tipo_repro_fp.head()

C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_17840\1846215121.py:1: FutureWarning: Inferring datetime64[ns] from data containing strings is deprecated and will be removed in a future version. To retain the old behavior explicitly pass Series(data, dtype=datetime64[ns])
  pivot_tipo_repro_fp = pd.pivot_table(fp_dia_total_repro,index=['type','Date'],
C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_17840\1846215121.py:1: FutureWarning: Inferring datetime64[ns] from data containing strings is deprecated and will be removed in a future version. To retain the old behavior explicitly pass Series(data, dtype=datetime64[ns])
  pivot_tipo_repro_fp = pd.pivot_table(fp_dia_total_repro,index=['type','Date'],

                        type       Date             sum                 \
                                              total_due
status                                            ERROR
tipo_reprogramacion                     repro_mismo_mes repro_otro_mes
0                    INSTANT 2022-12-01             NaN      38,830.70
1                    INSTANT 2022-12-02             NaN            NaN
2                    INSTANT 2022-12-03             NaN      62,043.71
3                    INSTANT 2022-12-04             NaN            NaN
4                    INSTANT 2022-12-05             NaN      26,583.28

                                                                          len  \
                                                                    total_due
status                         PAID                       All           ERROR
tipo_reprogramacion repro_mismo_mes repro_otro_mes            repro_mismo_mes
0                               NaN     239,486.72 278,317.42             NaN
1                               NaN     217,329.58 217,329.58             NaN
2                               NaN     510,542.93 572,586.64             NaN
3                               NaN      34,646.10  34,646.10             NaN
4                               NaN     101,511.88 128,095.16             NaN



status                                        PAID                 All
tipo_reprogramacion repro_otro_mes repro_mismo_mes repro_otro_mes
0                            54.00             NaN         333.00  387
1                              NaN             NaN         443.00  443
2                            25.00             NaN         366.00  391
3                              NaN             NaN          41.00   41
4                             1.00             NaN         170.00  171

# EXCEL FINAL

In [23]:
writer = pd.ExcelWriter('FASE IV. REPROGRAMACIONES DICIEMBRE 2022.xlsx',
                        engine='xlsxwriter',
                        engine_kwargs={'options': {'encoding':'utf-8'}})
pivot_total.to_excel(writer, sheet_name='SWAP DIA TOTAL')
pivot_parcial.to_excel(writer, sheet_name='SWAP DIA PARCIAL')
pivot_fp_total.to_excel(writer, sheet_name='FP TOTAL')
pivot_fp_parcial.to_excel(writer, sheet_name='FP PARCIAL')
pivot_tipo_repro.to_excel(writer, sheet_name='CATEGORIZACION REPRO')
pivot_tipo_repro_fp.to_excel(writer, sheet_name='CATEGORIZACION FP-REPRO')
writer.close()