In [1]:
import pandas as pd
import numpy as np
import glob
import os
from openpyxl import load_workbook
pd.options.display.float_format = '{:,.2f}'.format

# MES AÑO DE CONCILIACIÓN

In [2]:
month_conc = 'September'
year_conc = '2022'

# RUTAS DE ACCESO

### SWAP DEL DIA

In [3]:
allfiles_disp_trad = glob.glob(r'C:\Users\Cristian.Aparicio\Documents\DISPERSIONES\2022\09. SEPTIEMBRE\ARCHIVO DISPERSIONES\Dispersión*.xlsx', recursive=False)
allfiles_disp_trad

['C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\09. SEPTIEMBRE\\ARCHIVO DISPERSIONES\\Dispersión-20220901.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\09. SEPTIEMBRE\\ARCHIVO DISPERSIONES\\Dispersión-20220902.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\09. SEPTIEMBRE\\ARCHIVO DISPERSIONES\\Dispersión-20220903.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\09. SEPTIEMBRE\\ARCHIVO DISPERSIONES\\Dispersión-20220904.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\09. SEPTIEMBRE\\ARCHIVO DISPERSIONES\\Dispersión-20220905.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\09. SEPTIEMBRE\\ARCHIVO DISPERSIONES\\Dispersión-20220906.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\09. SEPTIEMBRE\\ARCHIVO DISPERSIONES\\Dispersión-20220907.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\09. SEPTIEMBRE\\ARCHIVO DISPERSIONES\\Dispersión-20220908.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\09. SEPTIEMBRE\\ARCHIVO DISPERSIONES\\Dispersión-20220909.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\09. SEPTIEMBRE\\ARCHIVO DISPERSIONES\\Dispersión-20220910.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\09. SEPTIEMBRE\\ARCHIVO DISPERSIONES\\Dispersión-20220911.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\09. SEPTIEMBRE\\ARCHIVO DISPERSIONES\\Dispersión-20220912.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\09. SEPTIEMBRE\\ARCHIVO DISPERSIONES\\Dispersión-20220913.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\09. SEPTIEMBRE\\ARCHIVO DISPERSIONES\\Dispersión-20220914.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\09. SEPTIEMBRE\\ARCHIVO DISPERSIONES\\Dispersión-20220915.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\09. SEPTIEMBRE\\ARCHIVO DISPERSIONES\\Dispersión-20220916.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\09. SEPTIEMBRE\\ARCHIVO DISPERSIONES\\Dispersión-20220917.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\09. SEPTIEMBRE\\ARCHIVO DISPERSIONES\\Dispersión-20220918.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\09. SEPTIEMBRE\\ARCHIVO DISPERSIONES\\Dispersión-20220919.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\09. SEPTIEMBRE\\ARCHIVO DISPERSIONES\\Dispersión-20220920.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\09. SEPTIEMBRE\\ARCHIVO DISPERSIONES\\Dispersión-20220921.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\09. SEPTIEMBRE\\ARCHIVO DISPERSIONES\\Dispersión-20220922.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\09. SEPTIEMBRE\\ARCHIVO DISPERSIONES\\Dispersión-20220923.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\09. SEPTIEMBRE\\ARCHIVO DISPERSIONES\\Dispersión-20220924.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\09. SEPTIEMBRE\\ARCHIVO DISPERSIONES\\Dispersión-20220925.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\09. SEPTIEMBRE\\ARCHIVO DISPERSIONES\\Dispersión-20220926.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\09. SEPTIEMBRE\\ARCHIVO DISPERSIONES\\Dispersión-20220927.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\09. SEPTIEMBRE\\ARCHIVO DISPERSIONES\\Dispersión-20220928.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\09. SEPTIEMBRE\\ARCHIVO DISPERSIONES\\Dispersión-20220929.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\09. SEPTIEMBRE\\ARCHIVO DISPERSIONES\\Dispersión-20220930.xlsx']

### FAST PAYMENTS

In [4]:
allfiles_fp = glob.glob(r'C:\Users\Cristian.Aparicio\Documents\FAST PAYMENTS\2022\09. SEPTIEMBRE\ARCHIVO DISPERSIONES FP\Dispersión-FP*.xlsx',recursive=False)
allfiles_fp

['C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2022\\09. SEPTIEMBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2022-09-01.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2022\\09. SEPTIEMBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2022-09-02.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2022\\09. SEPTIEMBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2022-09-03.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2022\\09. SEPTIEMBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2022-09-04.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2022\\09. SEPTIEMBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2022-09-05.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2022\\09. SEPTIEMBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2022-09-06.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2022\\09. SEPTIEMBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2022-09-07.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2022\\09. SEPTIEMBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2022-09-08.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2022\\09. SEPTIEMBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2022-09-09.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2022\\09. SEPTIEMBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2022-09-10.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2022\\09. SEPTIEMBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2022-09-11.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2022\\09. SEPTIEMBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2022-09-12.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2022\\09. SEPTIEMBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2022-09-13.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2022\\09. SEPTIEMBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2022-09-14.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2022\\09. SEPTIEMBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2022-09-15.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2022\\09. SEPTIEMBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2022-09-16.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2022\\09. SEPTIEMBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2022-09-17.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2022\\09. SEPTIEMBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2022-09-18.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2022\\09. SEPTIEMBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2022-09-19.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2022\\09. SEPTIEMBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2022-09-20.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2022\\09. SEPTIEMBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2022-09-21.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2022\\09. SEPTIEMBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2022-09-22.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2022\\09. SEPTIEMBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2022-09-23.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2022\\09. SEPTIEMBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2022-09-24.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2022\\09. SEPTIEMBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2022-09-25.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2022\\09. SEPTIEMBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2022-09-26.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2022\\09. SEPTIEMBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2022-09-27.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2022\\09. SEPTIEMBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2022-09-28.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2022\\09. SEPTIEMBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2022-09-29.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2022\\09. SEPTIEMBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2022-09-30.xlsx']

# SWAP DEL DIA

In [5]:
swap_dia_total = pd.concat([pd.read_excel(f,sheet_name = 'Swap del día')
                            .assign(file_name=os.path.basename(f)) for f in allfiles_disp_trad])
swap_dia_total['Date'] = swap_dia_total["file_name"].str[-13:-5]
swap_dia_total['Date']= pd.to_datetime(swap_dia_total['Date'], format='%Y%m%d').dt.date
swap_dia_total['Date']= pd.to_datetime(swap_dia_total['Date'])
swap_dia_total.sort_values(by=['Date'],ascending=True,inplace=True)
swap_dia_total['report_date_local']= pd.to_datetime(swap_dia_total['report_date_local'])
swap_dia_total['month_conc'] = month_conc
swap_dia_total['year_conc'] = year_conc
swap_dia_total['month_report'] = swap_dia_total['report_date_local'].dt.strftime('%B')
swap_dia_total['year_report'] = swap_dia_total['report_date_local'].dt.year.astype(str)
swap_dia_total.head()

,type,merchant_id,merchant_name,user_email,report_id,report_date_local,total_due,tipo,bank,bank_account_owner_name,...,status,LINEA CEP,Batch_time,Banco_emisor,file_name,Date,month_conc,year_conc,month_report,year_report
0,DAILY,dcc38821-11da-428e-a5dc-50a1b26240f5,Taller estetica automotriz,kruztygarage@gmail.com,JNHJBGF66,2022-09-01,"38,329.60",Pago del día,BBVA BANCOMER,Jose Isaias Reyna Cosgalla,...,ERROR,NaN,First_batch,SANTANDER,Dispersión-20220901.xlsx,2022-09-01,September,2022,September,2022
59315,DAILY,001efb79-23cf-450a-91a4-26286d49ca2a,Local 7,habita.uniformes@gmail.com,WCBSGNH7M,2022-09-01,33.54,Pago del día,BBVA BANCOMER,Daniela Vara,...,PAID,"2022-09-01,2022090140014HDH0001497735760,40014...",First_batch,SANTANDER,Dispersión-20220901.xlsx,2022-09-01,September,2022,September,2022
59314,DAILY,001f23c8-938e-45e2-8d34-e13f34a65c43,El Bacano,yerli.santos23@gmail.com,LT8Q7L6SM,2022-09-01,435.37,Pago del día,BBVA BANCOMER,Yerli Carmensa Santos Bernal,...,PAID,"2022-09-01,2022090140014HDH0001497735750,40014...",First_batch,SANTANDER,Dispersión-20220901.xlsx,2022-09-01,September,2022,September,2022
59313,DAILY,0021834c-e002-4efc-ba4c-ae7c656d5ffa,Asesores Especializados Laboratorio,as.direccion@hotmail.com,QDCWVXPXF,2022-09-01,"3,821.46",Pago del día,BBVA BANCOMER,ASESORES ESPECIALIZADOS EN LABORATORIOS SA DE CV,...,PAID,"2022-09-01,2022090140014HDH0001497735770,40014...",First_batch,SANTANDER,Dispersión-20220901.xlsx,2022-09-01,September,2022,September,2022
59312,DAILY,003fb9f8-39c9-4ed5-87d7-b55c3ef7162f,Arreglalo Plaza Polanco,arreglaloplazapolanco@gmail.com,6X49CN5V4,2022-09-01,335.38,Pago del día,BBVA BANCOMER,Ana Belen Sanz Abbud,...,PAID,"2022-09-01,2022090140014HDH0001497736160,40014...",First_batch,SANTANDER,Dispersión-20220901.xlsx,2022-09-01,September,2022,September,2022

In [6]:
swap_dia_total.shape

(2568881, 21)

In [7]:
swap_dia_total.dtypes

type                               object
merchant_id                        object
merchant_name                      object
user_email                         object
report_id                          object
report_date_local          datetime64[ns]
total_due                         float64
tipo                               object
bank                               object
bank_account_owner_name            object
CLABE                               int64
status                             object
LINEA CEP                          object
Batch_time                         object
Banco_emisor                       object
file_name                          object
Date                       datetime64[ns]
month_conc                         object
year_conc                          object
month_report                       object
year_report                        object
dtype: object

In [8]:
pivot_total = pd.pivot_table(swap_dia_total,index=['Date'],values=['total_due'],aggfunc = ['sum', len],margins=True)
pivot_total.reset_index(drop=False, inplace=True)
pivot_total.head()

                  Date            sum       len
                            total_due total_due
0  2022-09-01 00:00:00 173,909,763.73     88968
1  2022-09-02 00:00:00 168,941,977.56     91728
2  2022-09-03 00:00:00 199,517,485.02     97677
3  2022-09-04 00:00:00 225,919,148.57     97746
4  2022-09-05 00:00:00 158,369,052.14     70468

In [9]:
pivot_parcial = pd.pivot_table(swap_dia_total,index=['tipo','Date'],
                               columns=['status'],values=['total_due'],aggfunc = ['sum', len],margins=True)
pivot_parcial.reset_index(drop=False, inplace=True)
pivot_parcial.head()

C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_23292\3955082742.py:1: FutureWarning: Inferring datetime64[ns] from data containing strings is deprecated and will be removed in a future version. To retain the old behavior explicitly pass Series(data, dtype=datetime64[ns])
  pivot_parcial = pd.pivot_table(swap_dia_total,index=['tipo','Date'],
C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_23292\3955082742.py:1: FutureWarning: Inferring datetime64[ns] from data containing strings is deprecated and will be removed in a future version. To retain the old behavior explicitly pass Series(data, dtype=datetime64[ns])
  pivot_parcial = pd.pivot_table(swap_dia_total,index=['tipo','Date'],

                tipo       Date        sum                                \
                                 total_due
status                               ERROR           PAID            All
0       Pago del día 2022-09-01 180,954.14 172,646,554.75 172,827,508.89
1       Pago del día 2022-09-02 150,945.59 166,776,757.66 166,927,703.25
2       Pago del día 2022-09-03 458,402.06 197,855,362.74 198,313,764.80
3       Pago del día 2022-09-04 263,856.29 225,143,279.27 225,407,135.56
4       Pago del día 2022-09-05 251,494.07 154,792,328.02 155,043,822.09

             len
       total_due
status     ERROR   PAID    All
0            103  88182  88285
1             92  90521  90613
2            111  96846  96957
3            121  97274  97395
4             97  68060  68157

## CATEGORIZACIÓN DE REPROGRAMACIONES

In [10]:
swap_dia_total_repro = swap_dia_total[(swap_dia_total['tipo'] == 'Reprogramación')]
swap_dia_total_repro.head()

,type,merchant_id,merchant_name,user_email,report_id,report_date_local,total_due,tipo,bank,bank_account_owner_name,...,status,LINEA CEP,Batch_time,Banco_emisor,file_name,Date,month_conc,year_conc,month_report,year_report
59344,DAILY,001a912c-ec7f-4e8c-911f-c1daf0555f2f,La probadita,marybelcardona38@gmail.com,CZNBW8LGR,2022-08-31,212.98,Reprogramación,AZTECA,Marybel Cardona,...,PAID,"2022-09-01,2022090140014HDH0001497735660,40014...",First_batch,SANTANDER,Dispersión-20220901.xlsx,2022-09-01,September,2022,August,2022
58607,DAILY,0239d76a-c30e-4dbb-a4eb-10fe8f34a043,Abarrotes ASHLEY,miositachula@gmail.com,JWMRK7LRL,2022-08-25,"1,028.21",Reprogramación,BANORTE/IXE,Jos Roberto Cervantes Hurtado,...,PAID,COMPROBANTE MISMO BANCO BANORTE,First_batch,SANTANDER,Dispersión-20220901.xlsx,2022-09-01,September,2022,August,2022
58606,DAILY,0239d76a-c30e-4dbb-a4eb-10fe8f34a043,Abarrotes ASHLEY,miositachula@gmail.com,YQ42MSB75,2022-08-27,604.64,Reprogramación,BANORTE/IXE,Jos Roberto Cervantes Hurtado,...,PAID,COMPROBANTE MISMO BANCO BANORTE,First_batch,SANTANDER,Dispersión-20220901.xlsx,2022-09-01,September,2022,August,2022
58605,DAILY,0239d76a-c30e-4dbb-a4eb-10fe8f34a043,Abarrotes ASHLEY,miositachula@gmail.com,L9Y5FJDGP,2022-08-28,"1,033.95",Reprogramación,BANORTE/IXE,Jos Roberto Cervantes Hurtado,...,PAID,COMPROBANTE MISMO BANCO BANORTE,First_batch,SANTANDER,Dispersión-20220901.xlsx,2022-09-01,September,2022,August,2022
58604,DAILY,0239d76a-c30e-4dbb-a4eb-10fe8f34a043,Abarrotes ASHLEY,miositachula@gmail.com,9DD3L5HWX,2022-08-29,"1,340.14",Reprogramación,BANORTE/IXE,Jos Roberto Cervantes Hurtado,...,PAID,COMPROBANTE MISMO BANCO BANORTE,First_batch,SANTANDER,Dispersión-20220901.xlsx,2022-09-01,September,2022,August,2022

In [11]:
swap_dia_total_repro.shape

(16688, 21)

In [12]:
swap_dia_total_repro.loc[(swap_dia_total_repro['tipo'] == 'Reprogramación')
                   & (swap_dia_total_repro['month_report'] == month_conc) 
                   & (swap_dia_total_repro['year_report'] == year_conc),'tipo_reprogramacion'] = 'repro_mismo_mes'
swap_dia_total_repro['tipo_reprogramacion'].fillna('repro_otro_mes',inplace=True)
swap_dia_total_repro.head()

C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_23292\2042991903.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  swap_dia_total_repro.loc[(swap_dia_total_repro['tipo'] == 'Reprogramación')
C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_23292\2042991903.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  swap_dia_total_repro['tipo_reprogramacion'].fillna('repro_otro_mes',inplace=True)

,type,merchant_id,merchant_name,user_email,report_id,report_date_local,total_due,tipo,bank,bank_account_owner_name,...,LINEA CEP,Batch_time,Banco_emisor,file_name,Date,month_conc,year_conc,month_report,year_report,tipo_reprogramacion
59344,DAILY,001a912c-ec7f-4e8c-911f-c1daf0555f2f,La probadita,marybelcardona38@gmail.com,CZNBW8LGR,2022-08-31,212.98,Reprogramación,AZTECA,Marybel Cardona,...,"2022-09-01,2022090140014HDH0001497735660,40014...",First_batch,SANTANDER,Dispersión-20220901.xlsx,2022-09-01,September,2022,August,2022,repro_otro_mes
58607,DAILY,0239d76a-c30e-4dbb-a4eb-10fe8f34a043,Abarrotes ASHLEY,miositachula@gmail.com,JWMRK7LRL,2022-08-25,"1,028.21",Reprogramación,BANORTE/IXE,Jos Roberto Cervantes Hurtado,...,COMPROBANTE MISMO BANCO BANORTE,First_batch,SANTANDER,Dispersión-20220901.xlsx,2022-09-01,September,2022,August,2022,repro_otro_mes
58606,DAILY,0239d76a-c30e-4dbb-a4eb-10fe8f34a043,Abarrotes ASHLEY,miositachula@gmail.com,YQ42MSB75,2022-08-27,604.64,Reprogramación,BANORTE/IXE,Jos Roberto Cervantes Hurtado,...,COMPROBANTE MISMO BANCO BANORTE,First_batch,SANTANDER,Dispersión-20220901.xlsx,2022-09-01,September,2022,August,2022,repro_otro_mes
58605,DAILY,0239d76a-c30e-4dbb-a4eb-10fe8f34a043,Abarrotes ASHLEY,miositachula@gmail.com,L9Y5FJDGP,2022-08-28,"1,033.95",Reprogramación,BANORTE/IXE,Jos Roberto Cervantes Hurtado,...,COMPROBANTE MISMO BANCO BANORTE,First_batch,SANTANDER,Dispersión-20220901.xlsx,2022-09-01,September,2022,August,2022,repro_otro_mes
58604,DAILY,0239d76a-c30e-4dbb-a4eb-10fe8f34a043,Abarrotes ASHLEY,miositachula@gmail.com,9DD3L5HWX,2022-08-29,"1,340.14",Reprogramación,BANORTE/IXE,Jos Roberto Cervantes Hurtado,...,COMPROBANTE MISMO BANCO BANORTE,First_batch,SANTANDER,Dispersión-20220901.xlsx,2022-09-01,September,2022,August,2022,repro_otro_mes

In [13]:
pivot_tipo_repro = pd.pivot_table(swap_dia_total_repro,index=['Date'],
                                  columns=['status','tipo_reprogramacion'],
                                  values=['total_due']
                                  ,aggfunc = ['sum', len],margins=True)
pivot_tipo_repro.reset_index(drop=False, inplace=True)
pivot_tipo_repro.head()

                                    Date             sum                 \
                                               total_due
status                                             ERROR
tipo_reprogramacion                      repro_mismo_mes repro_otro_mes
0                    2022-09-01 00:00:00             NaN      91,047.13
1                    2022-09-02 00:00:00           95.84     122,855.61
2                    2022-09-03 00:00:00          348.80      30,845.46
3                    2022-09-04 00:00:00          315.83      35,365.84
4                    2022-09-05 00:00:00        9,175.51      39,505.29

                                                                 \

status                         PAID                         All
tipo_reprogramacion repro_mismo_mes repro_otro_mes
0                               NaN     991,207.71 1,082,254.84
1                         66,539.89   1,824,782.97 2,014,274.31
2                         59,958.03   1,112,567.93 1,203,720.22
3                        124,782.09     351,549.25   512,013.01
4                      2,716,596.32     559,952.93 3,325,230.05

                                len                                 \
                          total_due
status                        ERROR                           PAID
tipo_reprogramacion repro_mismo_mes repro_otro_mes repro_mismo_mes
0                               NaN          37.00             NaN
1                              1.00          32.00           43.00
2                              2.00          11.00           64.00
3                              4.00           9.00           69.00
4                              7.00          16.00        2,032.00



status                               All
tipo_reprogramacion repro_otro_mes
0                           646.00   683
1                         1,039.00  1115
2                           643.00   720
3                           269.00   351
4                           256.00  2311

# FAST PAYMENTS

In [14]:
fp_dia_total = pd.concat([pd.read_excel(f,sheet_name='FAST PAYMENTS')
                          .assign(file_name=os.path.basename(f)) for f in allfiles_fp])
fp_dia_total['Date'] = fp_dia_total["file_name"].str[-15:-5]
fp_dia_total['Date']= pd.to_datetime(fp_dia_total['Date'])
fp_dia_total['report_date_local']= pd.to_datetime(fp_dia_total['report_date_local'])
fp_dia_total['month_conc'] = month_conc
fp_dia_total['year_conc'] = year_conc
fp_dia_total['month_report'] = fp_dia_total['report_date_local'].dt.strftime('%B')
fp_dia_total['year_report'] = fp_dia_total['report_date_local'].dt.year.astype(str)
fp_dia_total.head()

,type,merchant_id,merchant_name,user_email,report_id,report_date_local,total_due,tipo,bank,swap,...,status,CEP,Time,Banco_emisor,file_name,Date,month_conc,year_conc,month_report,year_report
0,INSTANT,000da6bd-b66d-48d6-9984-456130ee420a,CLUB HERNAN & ZOE,Hernan.Aguirre.Campos@gmail.com,VS4HJFNG2,2022-09-01,16.97,Pago del día,ASP INTEGRA OPC,Hernan Aguirre Campos,...,PAID,"2022-09-01,2022090140014 HDH0001498826280,4001...",09:00,SANTANDER,Dispersión-FP 2022-09-01.xlsx,2022-09-01,September,2022,September,2022
1,INSTANT,00d0dc90-b79a-4c33-9100-66ba255c3a46,PITBOSSES VEGAN BBQ,thephytophagous@gmail.com,5Y6VYM3ML,2022-09-01,268.50,Pago del día,ASP INTEGRA OPC,Felix Ilich Ortiz Rangel,...,PAID,"2022-09-01,2022090140014 HDH0001498826300,4001...",09:00,SANTANDER,Dispersión-FP 2022-09-01.xlsx,2022-09-01,September,2022,September,2022
2,INSTANT,00d9ca92-4904-4eee-8f9c-b03894e3b404,Papeleria Ale,cibercafe1888@gmail.com,Q5XP2LPMC,2022-09-01,312.38,Pago del día,ASP INTEGRA OPC,Alejandra Paredes Pichardo,...,PAID,"2022-09-01,2022090140014 HDH0001498826290,4001...",09:00,SANTANDER,Dispersión-FP 2022-09-01.xlsx,2022-09-01,September,2022,September,2022
3,INSTANT,01054eec-e90e-42a8-9471-3fb1711cbbc1,Abarrotes La Perla De Magon,laperlademagon2021@hotmail.com,K2QB7SSNJ,2022-09-01,342.81,Pago del día,ASP INTEGRA OPC,Miguel Hernandez Ramirez,...,PAID,"2022-09-01,2022090140014 HDH0001498826360,4001...",09:00,SANTANDER,Dispersión-FP 2022-09-01.xlsx,2022-09-01,September,2022,September,2022
4,INSTANT,01737347-0bfd-4308-9ad5-adff4885b455,Abarrotes Las Orqudeas,abarrotes.orquideas@gmail.com,HXB33TR8K,2022-09-01,97.74,Pago del día,ASP INTEGRA OPC,Juan Nestor Ruiz Boone,...,PAID,"2022-09-01,2022090140014 HDH0001498826380,4001...",09:00,SANTANDER,Dispersión-FP 2022-09-01.xlsx,2022-09-01,September,2022,September,2022

In [15]:
fp_dia_total.shape

(132716, 21)

In [16]:
fp_dia_total.dtypes

type                         object
merchant_id                  object
merchant_name                object
user_email                   object
report_id                    object
report_date_local    datetime64[ns]
total_due                   float64
tipo                         object
bank                         object
swap                         object
CLABE                         int64
status                       object
CEP                          object
Time                         object
Banco_emisor                 object
file_name                    object
Date                 datetime64[ns]
month_conc                   object
year_conc                    object
month_report                 object
year_report                  object
dtype: object

In [17]:
pivot_fp_total = pd.pivot_table(fp_dia_total,index=['Date'],values=['total_due'],aggfunc = ['sum', len],margins=True)
pivot_fp_total.reset_index(drop=False, inplace=True)
pivot_fp_total.head()

                  Date          sum       len
                          total_due total_due
0  2022-09-01 00:00:00 3,106,204.74      5155
1  2022-09-02 00:00:00 3,119,337.38      5276
2  2022-09-03 00:00:00 3,356,642.46      5115
3  2022-09-04 00:00:00 2,535,262.47      4539
4  2022-09-05 00:00:00 2,341,498.26      4308

In [18]:
pivot_fp_parcial = pd.pivot_table(fp_dia_total,index=['tipo','Date'],
                                  columns=['status'],values=['total_due'],aggfunc = ['sum', len],margins=True)
pivot_fp_parcial.reset_index(drop=False, inplace=True)
pivot_fp_parcial.head()

C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_23292\2772441003.py:1: FutureWarning: Inferring datetime64[ns] from data containing strings is deprecated and will be removed in a future version. To retain the old behavior explicitly pass Series(data, dtype=datetime64[ns])
  pivot_fp_parcial = pd.pivot_table(fp_dia_total,index=['tipo','Date'],
C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_23292\2772441003.py:1: FutureWarning: Inferring datetime64[ns] from data containing strings is deprecated and will be removed in a future version. To retain the old behavior explicitly pass Series(data, dtype=datetime64[ns])
  pivot_fp_parcial = pd.pivot_table(fp_dia_total,index=['tipo','Date'],

                tipo       Date       sum                                    \
                                total_due
status                              ERROR         PAID PENDING          All
0       Pago del día 2022-09-01       NaN 2,808,685.27     NaN 2,808,685.27
1       Pago del día 2022-09-02    431.21 2,749,715.63     NaN 2,750,146.84
2       Pago del día 2022-09-03 46,533.82 3,220,501.80     NaN 3,267,035.62
3       Pago del día 2022-09-04 42,088.55 2,411,653.90     NaN 2,453,742.45
4       Pago del día 2022-09-05 55,649.18 2,094,153.99     NaN 2,149,803.17

             len
       total_due
status     ERROR     PAID PENDING   All
0            NaN 4,824.00     NaN  4824
1           1.00 4,766.00     NaN  4767
2           7.00 5,015.00     NaN  5022
3          12.00 4,425.00     NaN  4437
4           8.00 4,108.00     NaN  4116

## CATEGORIZACIÓN DE REPROGRAMACIONES - FAST PAYMENTS

In [19]:
fp_dia_total_repro = fp_dia_total[(fp_dia_total['tipo'] == 'Reprogramación')]
fp_dia_total_repro.head()

,type,merchant_id,merchant_name,user_email,report_id,report_date_local,total_due,tipo,bank,swap,...,status,CEP,Time,Banco_emisor,file_name,Date,month_conc,year_conc,month_report,year_report
244,INSTANT,3bf1da2e-98e2-48ac-bd8a-374e7e6b77f1,Gulivi Boutique Celular,gulivi_@hotmail.com,BN48SGSPM,2021-12-20,"1,853.24",Reprogramación,BANREGIO,Sarai Herrera,...,PAID,"2022-09-01,2022090140014 HDH0001498833860,4001...",09:00,SANTANDER,Dispersión-FP 2022-09-01.xlsx,2022-09-01,September,2022,December,2021
245,INSTANT,3bf1da2e-98e2-48ac-bd8a-374e7e6b77f1,Gulivi Boutique Celular,gulivi_@hotmail.com,RGX379MTP,2021-12-21,"4,436.65",Reprogramación,BANREGIO,Sarai Herrera,...,PAID,"2022-09-01,2022090140014 HDH0001498833870,4001...",09:00,SANTANDER,Dispersión-FP 2022-09-01.xlsx,2022-09-01,September,2022,December,2021
246,INSTANT,3bf1da2e-98e2-48ac-bd8a-374e7e6b77f1,Gulivi Boutique Celular,gulivi_@hotmail.com,GWKYF9545,2021-12-23,"2,843.10",Reprogramación,BANREGIO,Sarai Herrera,...,PAID,"2022-09-01,2022090140014 HDH0001498833920,4001...",09:00,SANTANDER,Dispersión-FP 2022-09-01.xlsx,2022-09-01,September,2022,December,2021
247,INSTANT,3bf1da2e-98e2-48ac-bd8a-374e7e6b77f1,Gulivi Boutique Celular,gulivi_@hotmail.com,M2MQ57QX2,2021-12-23,"1,804.37",Reprogramación,BANREGIO,Sarai Herrera,...,PAID,"2022-09-01,2022090140014 HDH0001498833930,4001...",09:00,SANTANDER,Dispersión-FP 2022-09-01.xlsx,2022-09-01,September,2022,December,2021
248,INSTANT,3bf1da2e-98e2-48ac-bd8a-374e7e6b77f1,Gulivi Boutique Celular,gulivi_@hotmail.com,8K3WVP5PT,2021-12-26,"2,430.09",Reprogramación,BANREGIO,Sarai Herrera,...,PAID,"2022-09-01,2022090140014 HDH0001498833960,4001...",09:00,SANTANDER,Dispersión-FP 2022-09-01.xlsx,2022-09-01,September,2022,December,2021

In [20]:
fp_dia_total_repro.shape

(2384, 21)

In [21]:
fp_dia_total_repro.loc[(fp_dia_total_repro['tipo'] == 'Reprogramación')
                   & (fp_dia_total_repro['month_report'] == month_conc) 
                   & (fp_dia_total_repro['year_report'] == year_conc),'tipo_reprogramacion'] = 'repro_mismo_mes'
fp_dia_total_repro['tipo_reprogramacion'].fillna('repro_otro_mes',inplace=True)
fp_dia_total_repro.head()

C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_23292\939012805.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fp_dia_total_repro.loc[(fp_dia_total_repro['tipo'] == 'Reprogramación')
C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_23292\939012805.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fp_dia_total_repro['tipo_reprogramacion'].fillna('repro_otro_mes',inplace=True)

,type,merchant_id,merchant_name,user_email,report_id,report_date_local,total_due,tipo,bank,swap,...,CEP,Time,Banco_emisor,file_name,Date,month_conc,year_conc,month_report,year_report,tipo_reprogramacion
244,INSTANT,3bf1da2e-98e2-48ac-bd8a-374e7e6b77f1,Gulivi Boutique Celular,gulivi_@hotmail.com,BN48SGSPM,2021-12-20,"1,853.24",Reprogramación,BANREGIO,Sarai Herrera,...,"2022-09-01,2022090140014 HDH0001498833860,4001...",09:00,SANTANDER,Dispersión-FP 2022-09-01.xlsx,2022-09-01,September,2022,December,2021,repro_otro_mes
245,INSTANT,3bf1da2e-98e2-48ac-bd8a-374e7e6b77f1,Gulivi Boutique Celular,gulivi_@hotmail.com,RGX379MTP,2021-12-21,"4,436.65",Reprogramación,BANREGIO,Sarai Herrera,...,"2022-09-01,2022090140014 HDH0001498833870,4001...",09:00,SANTANDER,Dispersión-FP 2022-09-01.xlsx,2022-09-01,September,2022,December,2021,repro_otro_mes
246,INSTANT,3bf1da2e-98e2-48ac-bd8a-374e7e6b77f1,Gulivi Boutique Celular,gulivi_@hotmail.com,GWKYF9545,2021-12-23,"2,843.10",Reprogramación,BANREGIO,Sarai Herrera,...,"2022-09-01,2022090140014 HDH0001498833920,4001...",09:00,SANTANDER,Dispersión-FP 2022-09-01.xlsx,2022-09-01,September,2022,December,2021,repro_otro_mes
247,INSTANT,3bf1da2e-98e2-48ac-bd8a-374e7e6b77f1,Gulivi Boutique Celular,gulivi_@hotmail.com,M2MQ57QX2,2021-12-23,"1,804.37",Reprogramación,BANREGIO,Sarai Herrera,...,"2022-09-01,2022090140014 HDH0001498833930,4001...",09:00,SANTANDER,Dispersión-FP 2022-09-01.xlsx,2022-09-01,September,2022,December,2021,repro_otro_mes
248,INSTANT,3bf1da2e-98e2-48ac-bd8a-374e7e6b77f1,Gulivi Boutique Celular,gulivi_@hotmail.com,8K3WVP5PT,2021-12-26,"2,430.09",Reprogramación,BANREGIO,Sarai Herrera,...,"2022-09-01,2022090140014 HDH0001498833960,4001...",09:00,SANTANDER,Dispersión-FP 2022-09-01.xlsx,2022-09-01,September,2022,December,2021,repro_otro_mes

In [22]:
pivot_tipo_repro_fp = pd.pivot_table(fp_dia_total_repro,index=['Date'],
                                  columns=['status','tipo_reprogramacion'],
                                  values=['total_due']
                                  ,aggfunc = ['sum', len],margins=True)
pivot_tipo_repro_fp.reset_index(drop=False, inplace=True)
pivot_tipo_repro_fp.head()

                                    Date             sum                 \
                                               total_due
status                                             ERROR
tipo_reprogramacion                      repro_mismo_mes repro_otro_mes
0                    2022-09-01 00:00:00             NaN            NaN
1                    2022-09-02 00:00:00             NaN            NaN
2                    2022-09-03 00:00:00             NaN      12,257.73
3                    2022-09-04 00:00:00             NaN      24,637.53
4                    2022-09-05 00:00:00             NaN       2,275.81

                                                                              \

status                         PAID                       PENDING        All
tipo_reprogramacion repro_mismo_mes repro_otro_mes repro_otro_mes
0                               NaN     297,519.47            NaN 297,519.47
1                               NaN     369,190.54            NaN 369,190.54
2                               NaN      77,349.11            NaN  89,606.84
3                               NaN      56,882.49            NaN  81,520.02
4                         28,095.04     161,324.24            NaN 191,695.09

                                len                                 \
                          total_due
status                        ERROR                           PAID
tipo_reprogramacion repro_mismo_mes repro_otro_mes repro_mismo_mes
0                               NaN            NaN             NaN
1                               NaN            NaN             NaN
2                               NaN           6.00             NaN
3                               NaN          23.00             NaN
4                               NaN           6.00            3.00



status                                    PENDING  All
tipo_reprogramacion repro_otro_mes repro_otro_mes
0                           331.00            NaN  331
1                           509.00            NaN  509
2                            87.00            NaN   93
3                            79.00            NaN  102
4                           183.00            NaN  192

# EXCEL FINAL

In [23]:
writer = pd.ExcelWriter('FASE IV. REPROGRAMACIONES SEPTIEMBRE 2022.xlsx',
                        engine='xlsxwriter',
                        engine_kwargs={'options': {'encoding':'utf-8'}})
pivot_total.to_excel(writer, sheet_name='SWAP DIA TOTAL')
pivot_parcial.to_excel(writer, sheet_name='SWAP DIA PARCIAL')
pivot_fp_total.to_excel(writer, sheet_name='FP TOTAL')
pivot_fp_parcial.to_excel(writer, sheet_name='FP PARCIAL')
pivot_tipo_repro.to_excel(writer, sheet_name='CATEGORIZACION REPRO')
pivot_tipo_repro_fp.to_excel(writer, sheet_name='CATEGORIZACION FP-REPRO')
writer.close()