In [1]:
import pandas as pd
import numpy as np
from openpyxl import load_workbook
import glob
import os
import datetime
pd.options.display.float_format = '{:,.2f}'.format
datetime.timedelta(days=1)
datetime.timedelta(1)

datetime.timedelta(days=1)

In [2]:
allfiles_adj = glob.glob(r'C:\Users\Cristian.Aparicio\Documents\POLIZAS\2023\12. DICIEMBRE\DATA\ADJ*.csv', recursive=False)
allfiles_adj

['C:\\Users\\Cristian.Aparicio\\Documents\\POLIZAS\\2023\\12. DICIEMBRE\\DATA\\ADJUSTMENTS - TEMPLATE - NULL.csv']

In [3]:
allfiles_ret = glob.glob(r'C:\Users\Cristian.Aparicio\Documents\POLIZAS\2023\12. DICIEMBRE\DATA\RET*.csv', recursive=False)
allfiles_ret

['C:\\Users\\Cristian.Aparicio\\Documents\\POLIZAS\\2023\\12. DICIEMBRE\\DATA\\RETENCIONES - TEMPLATE - NULL.csv']

In [4]:
allfiles_lib = glob.glob(r'C:\Users\Cristian.Aparicio\Documents\POLIZAS\2023\12. DICIEMBRE\DATA\LIB*.csv', recursive=False)
allfiles_lib

['C:\\Users\\Cristian.Aparicio\\Documents\\POLIZAS\\2023\\12. DICIEMBRE\\DATA\\LIBERACIONES - TEMPLATE - NULL.csv']

In [5]:
allfiles_com = sorted(glob.glob(r'G:\.shortcut-targets-by-id\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\3.-Settlement\5.-HISTORICO FILES PAGOS\01. TRADICIONAL\2023\12. DECEMBER\MONTOS EMAIL\*.csv', recursive=False))
allfiles_com

['G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\12. DECEMBER\\MONTOS EMAIL\\DIFF MONTOS-BNTE-1 2023-12-02.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\12. DECEMBER\\MONTOS EMAIL\\DIFF MONTOS-BNTE-1 2023-12-03.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\12. DECEMBER\\MONTOS EMAIL\\DIFF MONTOS-BNTE-1 2023-12-09.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\12. DECEMBER\\MONTOS EMAIL\\DIFF MONTOS-BNTE-1 2023-12-10.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\12. DECEMBER\\MONTOS EMAIL\\DIFF MONTOS-BNTE-1 2023-12-12.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\12. DECEMBER\\MONTOS EMAIL\\DIFF MONTOS-BNTE-1 2023-12-16.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\12. DECEMBER\\MONTOS EMAIL\\DIFF MONTOS-BNTE-1 2023-12-17.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\12. DECEMBER\\MONTOS EMAIL\\DIFF MONTOS-BNTE-1 2023-12-23.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\12. DECEMBER\\MONTOS EMAIL\\DIFF MONTOS-BNTE-1 2023-12-24.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\12. DECEMBER\\MONTOS EMAIL\\DIFF MONTOS-BNTE-1 2023-12-25.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\12. DECEMBER\\MONTOS EMAIL\\DIFF MONTOS-BNTE-1 2023-12-30.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\12. DECEMBER\\MONTOS EMAIL\\DIFF MONTOS-BNTE-1 2023-12-31.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\12. DECEMBER\\MONTOS EMAIL\\DIFF MONTOS-BNTE-2 2023-12-02.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\12. DECEMBER\\MONTOS EMAIL\\DIFF MONTOS-BNTE-2 2023-12-03.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\12. DECEMBER\\MONTOS EMAIL\\DIFF MONTOS-BNTE-2 2023-12-04.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\12. DECEMBER\\MONTOS EMAIL\\DIFF MONTOS-BNTE-2 2023-12-09.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\12. DECEMBER\\MONTOS EMAIL\\DIFF MONTOS-BNTE-2 2023-12-10.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\12. DECEMBER\\MONTOS EMAIL\\DIFF MONTOS-BNTE-2 2023-12-11.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\12. DECEMBER\\MONTOS EMAIL\\DIFF MONTOS-BNTE-2 2023-12-12.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\12. DECEMBER\\MONTOS EMAIL\\DIFF MONTOS-BNTE-2 2023-12-16.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\12. DECEMBER\\MONTOS EMAIL\\DIFF MONTOS-BNTE-2 2023-12-17.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\12. DECEMBER\\MONTOS EMAIL\\DIFF MONTOS-BNTE-2 2023-12-18.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\12. DECEMBER\\MONTOS EMAIL\\DIFF MONTOS-BNTE-2 2023-12-23.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\12. DECEMBER\\MONTOS EMAIL\\DIFF MONTOS-BNTE-2 2023-12-24.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\12. DECEMBER\\MONTOS EMAIL\\DIFF MONTOS-BNTE-2 2023-12-25.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\12. DECEMBER\\MONTOS EMAIL\\DIFF MONTOS-BNTE-2 2023-12-26.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\12. DECEMBER\\MONTOS EMAIL\\DIFF MONTOS-BNTE-2 2023-12-27.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\12. DECEMBER\\MONTOS EMAIL\\DIFF MONTOS-BNTE-2 2023-12-30.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\12. DECEMBER\\MONTOS EMAIL\\DIFF MONTOS-BNTE-2 2023-12-31.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\12. DECEMBER\\MONTOS EMAIL\\DIFF MONTOS-BNTE-3 2023-12-01.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\12. DECEMBER\\MONTOS EMAIL\\DIFF MONTOS-BNTE-3 2023-12-05.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\12. DECEMBER\\MONTOS EMAIL\\DIFF MONTOS-BNTE-3 2023-12-06.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\12. DECEMBER\\MONTOS EMAIL\\DIFF MONTOS-BNTE-3 2023-12-07.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\12. DECEMBER\\MONTOS EMAIL\\DIFF MONTOS-BNTE-3 2023-12-08.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\12. DECEMBER\\MONTOS EMAIL\\DIFF MONTOS-BNTE-3 2023-12-12.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\12. DECEMBER\\MONTOS EMAIL\\DIFF MONTOS-BNTE-3 2023-12-13.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\12. DECEMBER\\MONTOS EMAIL\\DIFF MONTOS-BNTE-3 2023-12-14.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\12. DECEMBER\\MONTOS EMAIL\\DIFF MONTOS-BNTE-3 2023-12-15.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\12. DECEMBER\\MONTOS EMAIL\\DIFF MONTOS-BNTE-3 2023-12-19.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\12. DECEMBER\\MONTOS EMAIL\\DIFF MONTOS-BNTE-3 2023-12-20.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\12. DECEMBER\\MONTOS EMAIL\\DIFF MONTOS-BNTE-3 2023-12-21.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\12. DECEMBER\\MONTOS EMAIL\\DIFF MONTOS-BNTE-3 2023-12-22.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\12. DECEMBER\\MONTOS EMAIL\\DIFF MONTOS-BNTE-3 2023-12-28.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\12. DECEMBER\\MONTOS EMAIL\\DIFF MONTOS-BNTE-3 2023-12-29.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\12. DECEMBER\\MONTOS EMAIL\\DIFF MONTOS-SANT-1 2023-12-01.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\12. DECEMBER\\MONTOS EMAIL\\DIFF MONTOS-SANT-1 2023-12-04.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\12. DECEMBER\\MONTOS EMAIL\\DIFF MONTOS-SANT-1 2023-12-05.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\12. DECEMBER\\MONTOS EMAIL\\DIFF MONTOS-SANT-1 2023-12-06.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\12. DECEMBER\\MONTOS EMAIL\\DIFF MONTOS-SANT-1 2023-12-07.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\12. DECEMBER\\MONTOS EMAIL\\DIFF MONTOS-SANT-1 2023-12-08.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\12. DECEMBER\\MONTOS EMAIL\\DIFF MONTOS-SANT-1 2023-12-11.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\12. DECEMBER\\MONTOS EMAIL\\DIFF MONTOS-SANT-1 2023-12-13.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\12. DECEMBER\\MONTOS EMAIL\\DIFF MONTOS-SANT-1 2023-12-14.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\12. DECEMBER\\MONTOS EMAIL\\DIFF MONTOS-SANT-1 2023-12-15.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\12. DECEMBER\\MONTOS EMAIL\\DIFF MONTOS-SANT-1 2023-12-18.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\12. DECEMBER\\MONTOS EMAIL\\DIFF MONTOS-SANT-1 2023-12-19.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\12. DECEMBER\\MONTOS EMAIL\\DIFF MONTOS-SANT-1 2023-12-20.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\12. DECEMBER\\MONTOS EMAIL\\DIFF MONTOS-SANT-1 2023-12-21.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\12. DECEMBER\\MONTOS EMAIL\\DIFF MONTOS-SANT-1 2023-12-22.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\12. DECEMBER\\MONTOS EMAIL\\DIFF MONTOS-SANT-1 2023-12-26.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\12. DECEMBER\\MONTOS EMAIL\\DIFF MONTOS-SANT-1 2023-12-27.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\12. DECEMBER\\MONTOS EMAIL\\DIFF MONTOS-SANT-1 2023-12-28.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\12. DECEMBER\\MONTOS EMAIL\\DIFF MONTOS-SANT-1 2023-12-29.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\12. DECEMBER\\MONTOS EMAIL\\DIFF MONTOS-SANT-2 2023-12-01.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\12. DECEMBER\\MONTOS EMAIL\\DIFF MONTOS-SANT-2 2023-12-05.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\12. DECEMBER\\MONTOS EMAIL\\DIFF MONTOS-SANT-2 2023-12-06.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\12. DECEMBER\\MONTOS EMAIL\\DIFF MONTOS-SANT-2 2023-12-07.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\12. DECEMBER\\MONTOS EMAIL\\DIFF MONTOS-SANT-2 2023-12-08.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\12. DECEMBER\\MONTOS EMAIL\\DIFF MONTOS-SANT-2 2023-12-13.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\12. DECEMBER\\MONTOS EMAIL\\DIFF MONTOS-SANT-2 2023-12-14.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\12. DECEMBER\\MONTOS EMAIL\\DIFF MONTOS-SANT-2 2023-12-15.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\12. DECEMBER\\MONTOS EMAIL\\DIFF MONTOS-SANT-2 2023-12-19.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\12. DECEMBER\\MONTOS EMAIL\\DIFF MONTOS-SANT-2 2023-12-20.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\12. DECEMBER\\MONTOS EMAIL\\DIFF MONTOS-SANT-2 2023-12-21.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\12. DECEMBER\\MONTOS EMAIL\\DIFF MONTOS-SANT-2 2023-12-22.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\12. DECEMBER\\MONTOS EMAIL\\DIFF MONTOS-SANT-2 2023-12-28.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\12. DECEMBER\\MONTOS EMAIL\\DIFF MONTOS-SANT-2 2023-12-29.csv']

In [6]:
allfiles_lender = glob.glob(r'G:\My Drive\RESPALDO-PC\LENDERS\2023\DB\LEN*.csv', recursive=False)
allfiles_lender

['G:\\My Drive\\RESPALDO-PC\\LENDERS\\2023\\DB\\LENDERS DB ENERO 2023.csv',
 'G:\\My Drive\\RESPALDO-PC\\LENDERS\\2023\\DB\\LENDERS DB FEBRERO 2023.csv',
 'G:\\My Drive\\RESPALDO-PC\\LENDERS\\2023\\DB\\LENDERS DB MARZO 2023.csv',
 'G:\\My Drive\\RESPALDO-PC\\LENDERS\\2023\\DB\\LENDERS DB ABRIL 2023.csv',
 'G:\\My Drive\\RESPALDO-PC\\LENDERS\\2023\\DB\\LENDERS DB MAYO 2023.csv',
 'G:\\My Drive\\RESPALDO-PC\\LENDERS\\2023\\DB\\LENDERS DB JUNIO 2023.csv',
 'G:\\My Drive\\RESPALDO-PC\\LENDERS\\2023\\DB\\LENDERS DB JULIO 2023.csv',
 'G:\\My Drive\\RESPALDO-PC\\LENDERS\\2023\\DB\\LENDERS DB AGOSTO 2023.csv',
 'G:\\My Drive\\RESPALDO-PC\\LENDERS\\2023\\DB\\LENDERS DB SEPTIEMBRE 2023.csv',
 'G:\\My Drive\\RESPALDO-PC\\LENDERS\\2023\\DB\\LENDERS DB OCTUBRE 2023.csv',
 'G:\\My Drive\\RESPALDO-PC\\LENDERS\\2023\\DB\\LENDERS DB NOVIEMBRE 2023.csv',
 'G:\\My Drive\\RESPALDO-PC\\LENDERS\\2023\\DB\\LENDERS DB DICIEMBRE 2023.csv']

In [7]:
start_date = '2023-12-01'
final_date = '2023-12-31'

# ADJUSTMENTS

In [8]:
adj_1 = pd.concat([pd.read_csv(f).assign(file_name=os.path.basename(f)) for f in allfiles_adj])
adj_1.head()

Empty DataFrame
Columns: [report_id, report_date_local, adjustment_date_local, adjustment_type, adjustment_amount, fees_charged, taxes, amount_due, type, date, file_name]
Index: []

In [9]:
adj_1.shape

(0, 11)

### CURRENT DATES

In [10]:
adj_current_month = adj_1[(adj_1['date'] >= start_date) & (adj_1['date'] <= final_date)]
adj_current_month.head()

Empty DataFrame
Columns: [report_id, report_date_local, adjustment_date_local, adjustment_type, adjustment_amount, fees_charged, taxes, amount_due, type, date, file_name]
Index: []

In [11]:
adj_current_month.shape

(0, 11)

### PIVOT

In [12]:
adj_pivot = adj_current_month.groupby(['type','adjustment_type','date']).agg({'adjustment_amount':sum
                                                                                ,'fees_charged':sum 
                                                                                ,'taxes':sum
                                                                                ,'amount_due':sum}).reset_index()
adj_pivot['adjustment_amount'] = adj_pivot['adjustment_amount']*-1 
adj_pivot['fees_charged'] = adj_pivot['fees_charged']*-1
adj_pivot['taxes'] = adj_pivot['taxes']*-1 
adj_pivot['amount_due'] = adj_pivot['amount_due']*-1 
adj_pivot.head()

C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_22036\1267365187.py:1: FutureWarning: The provided callable <built-in function sum> is currently using SeriesGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  adj_pivot = adj_current_month.groupby(['type','adjustment_type','date']).agg({'adjustment_amount':sum
C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_22036\1267365187.py:1: FutureWarning: The provided callable <built-in function sum> is currently using SeriesGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  adj_pivot = adj_current_month.groupby(['type','adjustment_type','date']).agg({'adjustment_amount':sum

Empty DataFrame
Columns: [type, adjustment_type, date, adjustment_amount, fees_charged, taxes, amount_due]
Index: []

In [13]:
adj_pivot_v2 = pd.pivot_table(adj_current_month,index=['type','date']
                              ,columns=['adjustment_type']
                              ,values=['adjustment_amount','fees_charged','taxes','amount_due']
                              ,aggfunc=np.sum,margins=True)
adj_pivot_v2.head()

C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_22036\25903760.py:1: FutureWarning: The provided callable <function sum at 0x00000238643F2EE0> is currently using DataFrameGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  adj_pivot_v2 = pd.pivot_table(adj_current_month,index=['type','date']
C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_22036\25903760.py:1: FutureWarning: The provided callable <function sum at 0x00000238643F2EE0> is currently using DataFrameGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  adj_pivot_v2 = pd.pivot_table(adj_current_month,index=['type','date']

Empty DataFrame
Columns: []
Index: []

# LIBERACIONES

In [14]:
lib_1 = pd.concat([pd.read_csv(f).assign(file_name=os.path.basename(f)) for f in allfiles_lib])
lib_1.head()

Empty DataFrame
Columns: [date_release, report_date_local, retained_date_local, report_id, entry_type, amount, type, file_name]
Index: []

### CURRENT DATES

In [15]:
lib_current_month = lib_1[(lib_1['report_date_local'] >= start_date) & (lib_1['report_date_local'] <= final_date)]
lib_current_month.head()

Empty DataFrame
Columns: [date_release, report_date_local, retained_date_local, report_id, entry_type, amount, type, file_name]
Index: []

In [16]:
lib_current_month.shape

(0, 8)

### PIVOT

In [17]:
lib_pivot = lib_current_month.groupby(['type','entry_type','report_date_local']).agg({'amount':sum}).reset_index()
lib_pivot.head()

C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_22036\3698445877.py:1: FutureWarning: The provided callable <built-in function sum> is currently using SeriesGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  lib_pivot = lib_current_month.groupby(['type','entry_type','report_date_local']).agg({'amount':sum}).reset_index()

Empty DataFrame
Columns: [type, entry_type, report_date_local, amount]
Index: []

In [18]:
lib_pivot.shape

(0, 4)

In [19]:
lib_pivot_v2 = pd.pivot_table(lib_current_month,index=['type','report_date_local']
                              ,columns=['entry_type']
                              ,values=['amount']
                              ,aggfunc=np.sum,margins=True)
lib_pivot_v2.head()

C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_22036\3827261204.py:1: FutureWarning: The provided callable <function sum at 0x00000238643F2EE0> is currently using DataFrameGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  lib_pivot_v2 = pd.pivot_table(lib_current_month,index=['type','report_date_local']
C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_22036\3827261204.py:1: FutureWarning: The provided callable <function sum at 0x00000238643F2EE0> is currently using DataFrameGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  lib_pivot_v2 = pd.pivot_table(lib_current_month,index=['type','report_date_local']

Empty DataFrame
Columns: []
Index: []

In [20]:
lib_pivot_v2.shape

(0, 0)

# RETENCIONES

In [21]:
ret_1 = pd.concat([pd.read_csv(f).assign(file_name=os.path.basename(f)) for f in allfiles_ret])
ret_1.head()

Empty DataFrame
Columns: [date_retainment, report_date_local, report_id, entry_type, amount, type, file_name]
Index: []

### CURRENT DATES

In [22]:
ret_current_month = ret_1[(ret_1['report_date_local'] >= start_date) & (ret_1['report_date_local'] <= final_date)]
ret_current_month.head()

Empty DataFrame
Columns: [date_retainment, report_date_local, report_id, entry_type, amount, type, file_name]
Index: []

In [23]:
ret_current_month.shape

(0, 7)

### PIVOT

In [24]:
ret_pivot = ret_current_month.groupby(['type','entry_type','report_date_local']).agg({'amount':sum}).reset_index()
ret_pivot.head()

C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_22036\1381901728.py:1: FutureWarning: The provided callable <built-in function sum> is currently using SeriesGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  ret_pivot = ret_current_month.groupby(['type','entry_type','report_date_local']).agg({'amount':sum}).reset_index()

Empty DataFrame
Columns: [type, entry_type, report_date_local, amount]
Index: []

In [25]:
ret_pivot.shape

(0, 4)

In [26]:
ret_pivot_v2 = pd.pivot_table(ret_current_month,index=['type','report_date_local']
                              ,columns=['entry_type']
                              ,values=['amount']
                              ,aggfunc=np.sum,margins=True)
ret_pivot_v2.head()

C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_22036\19373298.py:1: FutureWarning: The provided callable <function sum at 0x00000238643F2EE0> is currently using DataFrameGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  ret_pivot_v2 = pd.pivot_table(ret_current_month,index=['type','report_date_local']
C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_22036\19373298.py:1: FutureWarning: The provided callable <function sum at 0x00000238643F2EE0> is currently using DataFrameGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  ret_pivot_v2 = pd.pivot_table(ret_current_month,index=['type','report_date_local']

Empty DataFrame
Columns: []
Index: []

In [27]:
ret_pivot_v2.shape

(0, 0)

# COMISIONES SWAP / BNTE

In [28]:
com_1 = pd.concat([pd.read_csv(f).assign(file_name=os.path.basename(f)) for f in allfiles_com])
com_1.head()

,date_disbursement,amount,payments_number,comision_dsp,iva_dsp,comision + iva,total_fondeo,monto_mail,comision_mail,iva_mail,monto_fondeo_mail,check_monto,check_comision,check_iva,check_fondeo,dsp,file_name
0,2023-12-02,"239,503,766.37",94738,"164,668.65","26,346.98","191,015.63","239,694,782.00","239,503,766.37","164,668.65","26,346.98","239,694,782.00",0.00,0.00,0.00,0.00,BNTE,DIFF MONTOS-BNTE-1 2023-12-02.csv
0,2023-12-03,"256,736,177.43",94700,"164,718.75","26,355.00","191,073.75","256,927,251.18","256,736,177.43","164,718.75","26,355.00","256,927,251.18",0.00,0.00,0.00,0.00,BNTE,DIFF MONTOS-BNTE-1 2023-12-03.csv
0,2023-12-09,"228,545,330.05",94699,"164,566.20","26,330.59","190,896.79","228,736,226.84","228,545,330.05","164,566.20","26,330.59","228,736,226.84",0.00,0.00,0.00,0.00,BNTE,DIFF MONTOS-BNTE-1 2023-12-09.csv
0,2023-12-10,"265,036,691.01",94723,"164,754.90","26,360.78","191,115.68","265,227,806.69","265,036,691.01","164,754.90","26,360.78","265,227,806.69",0.00,0.00,0.00,0.00,BNTE,DIFF MONTOS-BNTE-1 2023-12-10.csv
0,2023-12-12,"220,782,485.67",94766,"164,697.30","26,351.57","191,048.87","220,973,534.54","220,782,485.67","164,697.30","26,351.57","220,973,534.54",0.00,0.00,-0.00,-0.00,BNTE,DIFF MONTOS-BNTE-1 2023-12-12.csv

In [29]:
com_1.shape

(77, 17)

### CURRENT DATES

In [30]:
com_current_month = com_1[(com_1['date_disbursement'] >= start_date) & (com_1['date_disbursement'] <= final_date)]
com_current_month.head()

,date_disbursement,amount,payments_number,comision_dsp,iva_dsp,comision + iva,total_fondeo,monto_mail,comision_mail,iva_mail,monto_fondeo_mail,check_monto,check_comision,check_iva,check_fondeo,dsp,file_name
0,2023-12-02,"239,503,766.37",94738,"164,668.65","26,346.98","191,015.63","239,694,782.00","239,503,766.37","164,668.65","26,346.98","239,694,782.00",0.00,0.00,0.00,0.00,BNTE,DIFF MONTOS-BNTE-1 2023-12-02.csv
0,2023-12-03,"256,736,177.43",94700,"164,718.75","26,355.00","191,073.75","256,927,251.18","256,736,177.43","164,718.75","26,355.00","256,927,251.18",0.00,0.00,0.00,0.00,BNTE,DIFF MONTOS-BNTE-1 2023-12-03.csv
0,2023-12-09,"228,545,330.05",94699,"164,566.20","26,330.59","190,896.79","228,736,226.84","228,545,330.05","164,566.20","26,330.59","228,736,226.84",0.00,0.00,0.00,0.00,BNTE,DIFF MONTOS-BNTE-1 2023-12-09.csv
0,2023-12-10,"265,036,691.01",94723,"164,754.90","26,360.78","191,115.68","265,227,806.69","265,036,691.01","164,754.90","26,360.78","265,227,806.69",0.00,0.00,0.00,0.00,BNTE,DIFF MONTOS-BNTE-1 2023-12-10.csv
0,2023-12-12,"220,782,485.67",94766,"164,697.30","26,351.57","191,048.87","220,973,534.54","220,782,485.67","164,697.30","26,351.57","220,973,534.54",0.00,0.00,-0.00,-0.00,BNTE,DIFF MONTOS-BNTE-1 2023-12-12.csv

In [31]:
com_current_month.shape

(77, 17)

In [32]:
com_current_month.columns

Index(['date_disbursement', 'amount', 'payments_number', 'comision_dsp',
       'iva_dsp', 'comision + iva', 'total_fondeo', 'monto_mail',
       'comision_mail', 'iva_mail', 'monto_fondeo_mail', 'check_monto',
       'check_comision', 'check_iva', 'check_fondeo', 'dsp', 'file_name'],
      dtype='object')

In [33]:
com_final = com_current_month.groupby(['date_disbursement']).agg({'payments_number':sum,'amount':sum,'comision_dsp':sum,
                                                                  'iva_dsp':sum,'comision + iva':sum,'total_fondeo':sum,
                                                                 'monto_mail':sum,'comision_mail':sum,'iva_mail':sum,
                                                                 'monto_fondeo_mail':sum,'check_monto':sum,'check_comision':sum,
                                                                 'check_iva':sum,'check_fondeo':sum}).reset_index()
com_final.head()

C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_22036\91613238.py:1: FutureWarning: The provided callable <built-in function sum> is currently using SeriesGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  com_final = com_current_month.groupby(['date_disbursement']).agg({'payments_number':sum,'amount':sum,'comision_dsp':sum,
C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_22036\91613238.py:1: FutureWarning: The provided callable <built-in function sum> is currently using SeriesGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  com_final = com_current_month.groupby(['date_disbursement']).agg({'payments_number':sum,'amount':sum,'comision_dsp':sum,

,date_disbursement,payments_number,amount,comision_dsp,iva_dsp,comision + iva,total_fondeo,monto_mail,comision_mail,iva_mail,monto_fondeo_mail,check_monto,check_comision,check_iva,check_fondeo
0,2023-12-01,114550,"281,422,960.17","58,292.70","9,326.83","67,619.53","281,490,579.70","281,422,960.17","58,292.70","9,326.83","281,490,579.70",0.00,0.00,0.00,0.00
1,2023-12-02,118832,"300,177,172.69","206,523.60","33,043.78","239,567.38","300,416,740.07","300,177,172.69","206,523.60","33,043.77","300,416,740.06",0.00,0.00,0.01,0.01
2,2023-12-03,116765,"317,242,796.48","203,050.50","32,488.08","235,538.58","317,478,335.06","317,242,796.48","203,050.50","32,488.08","317,478,335.06",0.00,0.00,0.00,-0.00
3,2023-12-04,83763,"226,964,029.05","42,579.40","6,812.70","49,392.10","227,013,421.15","226,964,029.05","42,579.40","6,812.70","227,013,421.15",0.00,0.00,0.00,0.00
4,2023-12-05,101622,"228,614,964.72","51,475.10","8,236.02","59,711.12","228,674,675.84","228,614,964.72","51,475.10","8,236.02","228,674,675.84",0.00,0.00,-0.00,-0.00

# LENDERS

In [34]:
lender_1 = pd.concat([pd.read_csv(f).assign(file_name=os.path.basename(f)) for f in allfiles_lender])
lender_1.columns = lender_1.columns.str.strip().str.lower() 
lender_1.head()

,collection_date_local,merchant_token,merchant_id,loan_id,provider_code,collection_origin,source,amount,capital,interest,tax,file_name,funded_by
0,2023-01-01,d8d8f9b2-0585-48e0-8d1f-e3bbf4766fbe,30a435af-3c57-4063-bf36-735f5731b179,df0ca1c8-0193-426c-8a32-c164b5ca715e,MRP,SETTLEMENT,LEDGER,23.05,16.60,6.45,0.00,LENDERS DB ENERO 2023.csv,NaN
1,2023-01-01,c4bad384-1718-4f7f-980e-910738bf4c79,0ace4fbe-6ab7-4e7f-a6b0-2a1bb8d6171a,45e17b07-8134-4e21-8aa8-2f90b4df9f37,CTO,SETTLEMENT,LEDGER,18.66,12.74,5.10,0.82,LENDERS DB ENERO 2023.csv,NaN
2,2023-01-01,1592f594-8416-447e-a316-ffc57ea7596f,0614af35-a0b4-4774-ae6f-4eef4238b915,2df0924e-4f58-46c5-8ec1-32a1beec4d49,MRP,SETTLEMENT,LEDGER,98.65,71.03,27.62,0.00,LENDERS DB ENERO 2023.csv,NaN
3,2023-01-01,fa8ee41a-394c-4506-b450-9f8a048a3cfc,789ef894-8d9d-48cb-a20a-0860a44d4a1e,935289b5-6689-4a98-af7f-d91e1a399533,MRP,SETTLEMENT,LEDGER,55.43,41.57,13.86,0.00,LENDERS DB ENERO 2023.csv,NaN
4,2023-01-01,41d8b68d-d496-48bd-9d2e-d3bfe8a4628e,5fab90f8-faf0-48a8-9065-e67b2cde2abe,d4ee526d-2a99-406b-95d3-309ee8d7f84b,MRP,SETTLEMENT,LEDGER,16.44,13.48,2.96,0.00,LENDERS DB ENERO 2023.csv,NaN

In [35]:
lender_1.shape

(9442967, 13)

In [36]:
lender_1['source'].unique()

array(['LEDGER', 'REGULAR', 'FAST_PAYMENT'], dtype=object)

### CURRENT DATES

In [37]:
lender_current_month = lender_1[(lender_1['collection_date_local'] >= start_date) &
                                (lender_1['collection_date_local'] <= final_date)]
lender_current_month.head()

,collection_date_local,merchant_token,merchant_id,loan_id,provider_code,collection_origin,source,amount,capital,interest,tax,file_name,funded_by
0,2023-12-01,5447d3d5-7cc4-40ce-a5cd-6dc71862cdb7,8cbe9c24-5fcc-47d6-8559-3a1ff128cfe3,2ddc54ea-b881-43d2-9ad5-eea9e2baae63,CLIP,SETTLEMENT,LEDGER,35.94,22.43,11.65,1.86,LENDERS DB DICIEMBRE 2023.csv,CLIP
1,2023-12-01,c386d64f-11b9-4d2a-952b-ede9026b428a,e395a762-057f-439b-be7d-6bf44e47d78f,4c3deb00-afb4-496c-805e-de85150d920e,CLIP,SETTLEMENT,LEDGER,62.29,51.87,8.98,1.44,LENDERS DB DICIEMBRE 2023.csv,CLIP
2,2023-12-01,2c234945-01b6-4a4d-8634-773b7d774578,09d3e63f-4ae5-46bc-98bd-96ff1e3210ee,21a54b93-31a6-4b7f-af08-9464c4feafb4,MRP,SETTLEMENT,LEDGER,86.24,66.37,17.13,2.74,LENDERS DB DICIEMBRE 2023.csv,CLIP
3,2023-12-01,99c9dcd0-a4b1-46e3-a535-feb11d62bbb1,7f2d4fa5-6474-46ce-8eb9-9c94d2eeeab8,0192d064-bdfa-4b49-8d38-a660204cdbf9,R2,SETTLEMENT,LEDGER,373.71,281.35,79.62,12.74,LENDERS DB DICIEMBRE 2023.csv,R2
4,2023-12-01,4fb2eaa7-4f28-4388-bac5-914d4613b7e2,cc461c84-d7ac-41c8-8e4f-b2637352e279,617431fc-eaef-4222-8eb9-5640ef4c0b73,CLIP,SETTLEMENT,LEDGER,114.99,88.51,22.83,3.65,LENDERS DB DICIEMBRE 2023.csv,CLIP

In [38]:
lender_current_month.shape

(1068544, 13)

In [39]:
lender_current_month['provider_code'].unique()

array(['CLIP', 'MRP', 'R2', 'APH', 'CTO', 'AVL'], dtype=object)

### PIVOT POR PROVIDER CODE

In [40]:
lender_pivot_provider_code = lender_current_month.groupby(['collection_date_local','provider_code']).agg({'amount':sum,
                                                                                                          'capital':sum,
                                                                                                          'interest':sum,
                                                                                                          'tax':sum}).reset_index()
lender_pivot_provider_code.head()

C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_22036\1428468905.py:1: FutureWarning: The provided callable <built-in function sum> is currently using SeriesGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  lender_pivot_provider_code = lender_current_month.groupby(['collection_date_local','provider_code']).agg({'amount':sum,
C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_22036\1428468905.py:1: FutureWarning: The provided callable <built-in function sum> is currently using SeriesGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  lender_pivot_provider_code = lender_current_month.groupby(['collection_date_local','provider_code']).agg({'amount':sum,

,collection_date_local,provider_code,amount,capital,interest,tax
0,2023-12-01,APH,266.00,177.84,88.16,0.00
1,2023-12-01,CLIP,"784,651.60","589,590.52","168,156.70","26,904.38"
2,2023-12-01,CTO,"7,180.45","4,436.34","2,365.61",378.50
3,2023-12-01,MRP,"1,169,311.90","853,535.21","272,559.95","43,216.74"
4,2023-12-01,R2,"836,201.46","627,861.04","179,603.73","28,736.69"

In [41]:
lender_pivot_provider_code.shape

(172, 6)

### PIVOT CLIP

In [42]:
lender_clip = lender_current_month[(lender_current_month['provider_code'] == 'CLIP')]

In [43]:
# lender_pivot_clip_1 = lender_clip.groupby(['Creation Date','Date']).agg({'Collected today':sum,'Capital today':sum
#                                                                        ,'Interests today':sum,'IVA Interests today':sum
#                                                                        ,'Overdue Interest today':sum,'Total today':sum
#                                                                        ,'CLIP Revenue today':sum}).reset_index()
# lender_pivot_clip_1.head()

In [44]:
# lender_pivot_clip_1.shape

In [45]:
lender_pivot_clip_2 = lender_clip.groupby(['collection_date_local']).agg({'amount':sum,'capital':sum,'interest':sum
                                                 ,'tax':sum}).reset_index()
lender_pivot_clip_2.head()

C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_22036\2945400080.py:1: FutureWarning: The provided callable <built-in function sum> is currently using SeriesGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  lender_pivot_clip_2 = lender_clip.groupby(['collection_date_local']).agg({'amount':sum,'capital':sum,'interest':sum
C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_22036\2945400080.py:1: FutureWarning: The provided callable <built-in function sum> is currently using SeriesGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  lender_pivot_clip_2 = lender_clip.groupby(['collection_date_local']).agg({'amount':sum,'capital':sum,'interest':sum

  collection_date_local     amount    capital   interest       tax
0            2023-12-01 784,651.60 589,590.52 168,156.70 26,904.38
1            2023-12-02 853,602.93 642,196.81 182,246.61 29,159.51
2            2023-12-03 599,110.60 450,582.48 128,041.68 20,486.44
3            2023-12-04 538,727.22 406,493.70 104,214.19 16,673.94
4            2023-12-05 609,940.37 458,632.93 112,577.84 18,012.00

In [46]:
lender_pivot_clip_2.shape

(31, 5)

### PIVOT OTHERS

In [47]:
lender_others = lender_current_month[(lender_current_month['provider_code'] != 'CLIP')]

In [48]:
lender_pivot_others = lender_others.groupby(['collection_date_local']).agg({'amount':sum,'capital':sum,'interest':sum
                                                 ,'tax':sum}).reset_index()
lender_pivot_others.head()

C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_22036\1304906578.py:1: FutureWarning: The provided callable <built-in function sum> is currently using SeriesGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  lender_pivot_others = lender_others.groupby(['collection_date_local']).agg({'amount':sum,'capital':sum,'interest':sum
C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_22036\1304906578.py:1: FutureWarning: The provided callable <built-in function sum> is currently using SeriesGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  lender_pivot_others = lender_others.groupby(['collection_date_local']).agg({'amount':sum,'capital':sum,'interest':sum

  collection_date_local       amount      capital   interest       tax
0            2023-12-01 2,012,959.81 1,486,010.43 454,617.45 72,331.93
1            2023-12-02 2,180,985.07 1,610,458.07 492,097.08 78,429.92
2            2023-12-03 1,641,552.90 1,213,465.26 369,263.42 58,824.22
3            2023-12-04 1,339,882.11   983,008.03 307,937.35 48,936.73
4            2023-12-05 1,399,354.37 1,030,787.45 317,934.00 50,632.92

In [49]:
lender_pivot_others.shape

(31, 5)

# EXCEL FINAL

In [50]:
writer = pd.ExcelWriter('FASE II. DATA POLIZA DICIEMBRE 2023.xlsx',
                        engine='xlsxwriter',
                        engine_kwargs={'options': {'encoding':'utf-8'}})
lender_pivot_provider_code.to_excel(writer, sheet_name='DATA LENDER PROVIDER_CODE',index=False)
lender_pivot_clip_2.to_excel(writer, sheet_name='DATA LENDER CLIP',index=False)
# lender_pivot_clip_1.to_excel(writer, sheet_name='DATA LENDER CLIP CREATION DATE',index=False)
lender_pivot_others.to_excel(writer, sheet_name='DATA LENDER OTHERS',index=False)
adj_pivot.to_excel(writer, sheet_name='DATA ADJUSTMENTS',index=False)
# lib_pivot_v2.to_excel(writer, sheet_name='DATA LIBERACIONES')
# ret_pivot_v2.to_excel(writer, sheet_name='DATA RETENCIONES')
com_final.to_excel(writer, sheet_name='DATA COMISIONES',index=False)
writer.close()