In [1]:
import pandas as pd
import numpy as np
import glob
import os
from openpyxl import load_workbook
from functools import reduce
pd.options.display.float_format = '{:,.2f}'.format

#### ACUMULADO

In [2]:
cumfiles = glob.glob(r'C:\Users\Cristian.Aparicio\Documents\DISPERSIONES\2023\09. SEPTIEMBRE\QUERIES\*.csv', recursive=False)
cumfiles

['C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\09. SEPTIEMBRE\\QUERIES\\SETTLEMENT 2023-09-01.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\09. SEPTIEMBRE\\QUERIES\\SETTLEMENT 2023-09-02.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\09. SEPTIEMBRE\\QUERIES\\SETTLEMENT 2023-09-03.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\09. SEPTIEMBRE\\QUERIES\\SETTLEMENT 2023-09-04.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\09. SEPTIEMBRE\\QUERIES\\SETTLEMENT 2023-09-05.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\09. SEPTIEMBRE\\QUERIES\\SETTLEMENT 2023-09-06.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\09. SEPTIEMBRE\\QUERIES\\SETTLEMENT 2023-09-07.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\09. SEPTIEMBRE\\QUERIES\\SETTLEMENT 2023-09-08.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\09. SEPTIEMBRE\\QUERIES\\SETTLEMENT 2023-09-09.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\09. SEPTIEMBRE\\QUERIES\\SETTLEMENT 2023-09-10.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\09. SEPTIEMBRE\\QUERIES\\SETTLEMENT 2023-09-11.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\09. SEPTIEMBRE\\QUERIES\\SETTLEMENT 2023-09-12.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\09. SEPTIEMBRE\\QUERIES\\SETTLEMENT 2023-09-13.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\09. SEPTIEMBRE\\QUERIES\\SETTLEMENT 2023-09-14.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\09. SEPTIEMBRE\\QUERIES\\SETTLEMENT 2023-09-15.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\09. SEPTIEMBRE\\QUERIES\\SETTLEMENT 2023-09-16.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\09. SEPTIEMBRE\\QUERIES\\SETTLEMENT 2023-09-17.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\09. SEPTIEMBRE\\QUERIES\\SETTLEMENT 2023-09-18.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\09. SEPTIEMBRE\\QUERIES\\SETTLEMENT 2023-09-19.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\09. SEPTIEMBRE\\QUERIES\\SETTLEMENT 2023-09-20.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\09. SEPTIEMBRE\\QUERIES\\SETTLEMENT 2023-09-21.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\09. SEPTIEMBRE\\QUERIES\\SETTLEMENT 2023-09-22.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\09. SEPTIEMBRE\\QUERIES\\SETTLEMENT 2023-09-23.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\09. SEPTIEMBRE\\QUERIES\\SETTLEMENT 2023-09-24.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\09. SEPTIEMBRE\\QUERIES\\SETTLEMENT 2023-09-25.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\09. SEPTIEMBRE\\QUERIES\\SETTLEMENT 2023-09-26.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\09. SEPTIEMBRE\\QUERIES\\SETTLEMENT 2023-09-27.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\09. SEPTIEMBRE\\QUERIES\\SETTLEMENT 2023-09-28.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\09. SEPTIEMBRE\\QUERIES\\SETTLEMENT 2023-09-29.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\09. SEPTIEMBRE\\QUERIES\\SETTLEMENT 2023-09-30.csv']

In [3]:
cum_1 = pd.concat([pd.read_csv(f).assign(file_name=os.path.basename(f)) for f in cumfiles])
cum_1.columns = cum_1.columns.str.strip().str.lower() 
cum_1['report_date_local']= pd.to_datetime(cum_1['report_date_local']) 
cum_1.head()

Empty DataFrame
Columns: [merchant_id, merchant_name, user_email, report_id, report_date_local, total_transactions, total_fees_charged, total_taxes, applied_fees_benefits, applied_taxes_benefits, fee_direct_deposit, taxes_direct_deposit, total_adjustments, total_adjustment_fees_charged, total_adjustment_taxes, cobranza, total_released, total_retained, tipopago, total_due, type, created_date, created_time, updated_date, updated_time, file_name]
Index: []

[0 rows x 26 columns]

In [4]:
cum_1.shape

(0, 26)

In [5]:
cum_distinct_0 = cum_1[(cum_1['total_due'] != 0)]
cum_distinct_0.head()

Empty DataFrame
Columns: [merchant_id, merchant_name, user_email, report_id, report_date_local, total_transactions, total_fees_charged, total_taxes, applied_fees_benefits, applied_taxes_benefits, fee_direct_deposit, taxes_direct_deposit, total_adjustments, total_adjustment_fees_charged, total_adjustment_taxes, cobranza, total_released, total_retained, tipopago, total_due, type, created_date, created_time, updated_date, updated_time, file_name]
Index: []

[0 rows x 26 columns]

In [6]:
cum_distinct_0.shape

(0, 26)

#### PAGOS DE DISPERSIONES

In [7]:
pagos_dia_files_1 = glob.glob(r'C:\Users\Cristian.Aparicio\Documents\DISPERSIONES\2023\09. SEPTIEMBRE\ARCHIVO DISPERSIONES\Dispersión*.xlsx', recursive=False)
pagos_dia_files_1

['C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\09. SEPTIEMBRE\\ARCHIVO DISPERSIONES\\Dispersión-20230901.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\09. SEPTIEMBRE\\ARCHIVO DISPERSIONES\\Dispersión-20230902.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\09. SEPTIEMBRE\\ARCHIVO DISPERSIONES\\Dispersión-20230903.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\09. SEPTIEMBRE\\ARCHIVO DISPERSIONES\\Dispersión-20230904.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\09. SEPTIEMBRE\\ARCHIVO DISPERSIONES\\Dispersión-20230905.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\09. SEPTIEMBRE\\ARCHIVO DISPERSIONES\\Dispersión-20230906.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\09. SEPTIEMBRE\\ARCHIVO DISPERSIONES\\Dispersión-20230907.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\09. SEPTIEMBRE\\ARCHIVO DISPERSIONES\\Dispersión-20230908.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\09. SEPTIEMBRE\\ARCHIVO DISPERSIONES\\Dispersión-20230909.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\09. SEPTIEMBRE\\ARCHIVO DISPERSIONES\\Dispersión-20230910.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\09. SEPTIEMBRE\\ARCHIVO DISPERSIONES\\Dispersión-20230911.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\09. SEPTIEMBRE\\ARCHIVO DISPERSIONES\\Dispersión-20230912.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\09. SEPTIEMBRE\\ARCHIVO DISPERSIONES\\Dispersión-20230913.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\09. SEPTIEMBRE\\ARCHIVO DISPERSIONES\\Dispersión-20230914.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\09. SEPTIEMBRE\\ARCHIVO DISPERSIONES\\Dispersión-20230915.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\09. SEPTIEMBRE\\ARCHIVO DISPERSIONES\\Dispersión-20230916.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\09. SEPTIEMBRE\\ARCHIVO DISPERSIONES\\Dispersión-20230917.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\09. SEPTIEMBRE\\ARCHIVO DISPERSIONES\\Dispersión-20230918.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\09. SEPTIEMBRE\\ARCHIVO DISPERSIONES\\Dispersión-20230919.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\09. SEPTIEMBRE\\ARCHIVO DISPERSIONES\\Dispersión-20230920.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\09. SEPTIEMBRE\\ARCHIVO DISPERSIONES\\Dispersión-20230921.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\09. SEPTIEMBRE\\ARCHIVO DISPERSIONES\\Dispersión-20230922.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\09. SEPTIEMBRE\\ARCHIVO DISPERSIONES\\Dispersión-20230923.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\09. SEPTIEMBRE\\ARCHIVO DISPERSIONES\\Dispersión-20230924.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\09. SEPTIEMBRE\\ARCHIVO DISPERSIONES\\Dispersión-20230925.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\09. SEPTIEMBRE\\ARCHIVO DISPERSIONES\\Dispersión-20230926.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\09. SEPTIEMBRE\\ARCHIVO DISPERSIONES\\Dispersión-20230927.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\09. SEPTIEMBRE\\ARCHIVO DISPERSIONES\\Dispersión-20230928.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\09. SEPTIEMBRE\\ARCHIVO DISPERSIONES\\Dispersión-20230929.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\09. SEPTIEMBRE\\ARCHIVO DISPERSIONES\\Dispersión-20230930.xlsx']

In [8]:
pagos_1 = pd.concat([pd.read_excel(f,sheet_name='Swap del día').assign(file_name=os.path.basename(f)) for f in pagos_dia_files_1])
pagos_1['date_file'] = pagos_1["file_name"].str[-13:-5]
pagos_1['date_file']= pd.to_datetime(pagos_1['date_file'], format='%Y%m%d').dt.date
pagos_1['date_file']= pd.to_datetime(pagos_1['date_file'])
pagos_1.sort_values(by=['date_file'],ascending=True,inplace=True)
pagos_1['report_date_local']= pd.to_datetime(pagos_1['report_date_local']) 
pagos_1.head()

,type,merchant_id,merchant_name,user_email,report_id,report_date_local,total_due,tipo,bank,bank_account_owner_name,CLABE,status,LINEA CEP,Batch_time,Banco_emisor,file_name,date_file
0,LEDGER_TRAD,00776a5d-ce34-4e34-9ede-fabe44d97163,NaN,NaN,AWDQT7GG5,2023-09-01,"1,222.71",Pago del día,SCOTIABANK,Administradora General Rubio SA DE CV,44854256000101389,ERROR,NaN,01. First_batch,SANTANDER,Dispersión-20230901.xlsx,2023-09-01
71689,LEDGER_TRAD,ac071ac1-cdd9-422b-8c18-a3acf1478888,NaN,NaN,AXWQ3DFY5,2023-09-01,452.28,Pago del día,BBVA BANCOMER,Héctor Hugo Arredondo Ramírez,12215028738032875,PAID,"2023-09-01,20230901400140HDH0001428319790,4001...",01. First_batch,SANTANDER,Dispersión-20230901.xlsx,2023-09-01
71688,LEDGER_TRAD,ac04ced4-e7b2-40b1-a399-a030998a0850,NaN,NaN,AVLVR986F,2023-09-01,"3,641.31",Pago del día,BANORTE/IXE,Jesús cisneros valdes,72078011688553164,PAID,"2023-09-01,20230901400140HDH0001428319710,4001...",01. First_batch,SANTANDER,Dispersión-20230901.xlsx,2023-09-01
71687,LEDGER_TRAD,ac044e7f-b743-4fad-aed6-ac304373c324,NaN,NaN,ALDJCF7JJ,2023-09-01,91.03,Pago del día,AZTECA,Erick Daniel Fuentes Enciso,127180013593832821,PAID,"2023-09-01,20230901400140HDH0001428319610,4001...",01. First_batch,SANTANDER,Dispersión-20230901.xlsx,2023-09-01
71686,LEDGER_TRAD,ac03bd01-f909-4906-860e-6978fd6c0c68,NaN,NaN,ACH5KHNL3,2023-09-01,546.19,Pago del día,BBVA BANCOMER,Bernardo,12190015876353599,PAID,"2023-09-01,20230901400140HDH0001428319480,4001...",01. First_batch,SANTANDER,Dispersión-20230901.xlsx,2023-09-01

In [9]:
pagos_1.shape

(2978315, 17)

In [10]:
pagos_1['report_date_local'].unique()

<DatetimeArray>
['2023-09-01 00:00:00', '2023-08-31 00:00:00', '2023-03-14 00:00:00',
 '2022-11-10 00:00:00', '2022-11-08 00:00:00', '2022-11-06 00:00:00',
 '2022-11-03 00:00:00', '2022-11-02 00:00:00', '2022-10-29 00:00:00',
 '2022-10-28 00:00:00',
 ...
 '2022-06-26 00:00:00', '2022-06-12 00:00:00', '2023-01-14 00:00:00',
 '2023-09-29 00:00:00', '2021-05-24 00:00:00', '2022-03-13 00:00:00',
 '2022-08-14 00:00:00', '2021-11-10 00:00:00', '2021-10-17 00:00:00',
 '2023-09-30 00:00:00']
Length: 577, dtype: datetime64[ns]

#### PAGOS DUPLICADOS TRADICIONAL

In [11]:
duplicates_trad = pagos_1[pagos_1.duplicated(['report_id','date_file'] , keep=False)]
duplicates_trad['INDEX'] = duplicates_trad['report_id'] + '_' + duplicates_trad['date_file'].astype('str')
duplicates_trad.sort_values(by=['date_file','report_id'],inplace=True)
duplicates_trad.head()

C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_15332\1112391532.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  duplicates_trad['INDEX'] = duplicates_trad['report_id'] + '_' + duplicates_trad['date_file'].astype('str')
C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_15332\1112391532.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  duplicates_trad.sort_values(by=['date_file','report_id'],inplace=True)

,type,merchant_id,merchant_name,user_email,report_id,report_date_local,total_due,tipo,bank,bank_account_owner_name,CLABE,status,LINEA CEP,Batch_time,Banco_emisor,file_name,date_file,INDEX
104,LEDGER_TRAD,9e168ca6-39ec-4a57-91ed-ed2993c599f1,NaN,NaN,ADSRV9MRH,2023-09-01,"1,992.19",Pago del día,BANAMEX,Cesar ivan enriquez campuzano,2164701821589312,ERROR,NaN,01. First_batch,SANTANDER,Dispersión-20230901.xlsx,2023-09-01,ADSRV9MRH_2023-09-01
139,LEDGER_TRAD,9e168ca6-39ec-4a57-91ed-ed2993c599f1,NaN,NaN,ADSRV9MRH,2023-09-01,"1,992.19",Pago del día,BANAMEX,Cesar ivan enriquez campuzano,2164701821589312,ERROR,NaN,03. Third_batch,BANORTE,Dispersión-20230901.xlsx,2023-09-01,ADSRV9MRH_2023-09-01
6,LEDGER_TRAD,173eb5aa-64da-49d0-be43-25a4ffd638af,NaN,NaN,AWP6CZJV6,2023-09-04,"2,520.16",Pago del día,BBVA BANCOMER,Emilia torres,12180015688092621,ERROR,NaN,01. First_batch,SANTANDER,Dispersión-20230904.xlsx,2023-09-04,AWP6CZJV6_2023-09-04
76,LEDGER_TRAD,173eb5aa-64da-49d0-be43-25a4ffd638af,NaN,NaN,AWP6CZJV6,2023-09-04,"2,520.16",Pago del día,BBVA BANCOMER,Emilia torres,12180015688092621,ERROR,NaN,02. Second_batch,BANORTE,Dispersión-20230904.xlsx,2023-09-04,AWP6CZJV6_2023-09-04
82,LEDGER_TRAD,216bd0ba-d830-49cf-b333-0f0714c5ace1,NaN,NaN,ANNP2B8SW,2023-09-05,"37,328.24",Pago del día,BBVA BANCOMER,Carmen Mendoza Marquez,12180015599192571,ERROR,NaN,03. Third_batch,BANORTE,Dispersión-20230905.xlsx,2023-09-05,ANNP2B8SW_2023-09-05

In [12]:
duplicates_trad.shape

(74, 18)

In [13]:
duplicates_trad['status'].unique()

array(['ERROR', 'PAID'], dtype=object)

In [14]:
duplicates_trad.drop_duplicates(subset="INDEX", keep='last', inplace=True)

C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_15332\494774456.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  duplicates_trad.drop_duplicates(subset="INDEX", keep='last', inplace=True)

In [15]:
duplicates_trad.head()

,type,merchant_id,merchant_name,user_email,report_id,report_date_local,total_due,tipo,bank,bank_account_owner_name,CLABE,status,LINEA CEP,Batch_time,Banco_emisor,file_name,date_file,INDEX
139,LEDGER_TRAD,9e168ca6-39ec-4a57-91ed-ed2993c599f1,NaN,NaN,ADSRV9MRH,2023-09-01,"1,992.19",Pago del día,BANAMEX,Cesar ivan enriquez campuzano,2164701821589312,ERROR,NaN,03. Third_batch,BANORTE,Dispersión-20230901.xlsx,2023-09-01,ADSRV9MRH_2023-09-01
76,LEDGER_TRAD,173eb5aa-64da-49d0-be43-25a4ffd638af,NaN,NaN,AWP6CZJV6,2023-09-04,"2,520.16",Pago del día,BBVA BANCOMER,Emilia torres,12180015688092621,ERROR,NaN,02. Second_batch,BANORTE,Dispersión-20230904.xlsx,2023-09-04,AWP6CZJV6_2023-09-04
9,LEDGER_TRAD,216bd0ba-d830-49cf-b333-0f0714c5ace1,NaN,NaN,ANNP2B8SW,2023-09-05,"37,328.24",Pago del día,BBVA BANCOMER,Carmen Mendoza Marquez,12180015599192571,ERROR,NaN,01. First_batch,SANTANDER,Dispersión-20230905.xlsx,2023-09-05,ANNP2B8SW_2023-09-05
18,LEDGER_TRAD,2e612e1e-8eb4-4e68-849f-6df8ea4dab1f,NaN,NaN,AXF865Y97,2023-09-05,"10,061.52",Pago del día,BBVA BANCOMER,Lisset pacheco amezquita,12180015484684660,ERROR,NaN,01. First_batch,SANTANDER,Dispersión-20230905.xlsx,2023-09-05,AXF865Y97_2023-09-05
124,LEDGER_TRAD,46ad555e-a2e7-4de3-b006-235785a98464,NaN,NaN,AKW7ZWVQN,2023-09-06,"1,245.71",Pago del día,BANAMEX,Eduardo caro,2073560146127396,ERROR,NaN,03. Third_batch,BANORTE,Dispersión-20230906.xlsx,2023-09-06,AKW7ZWVQN_2023-09-06

In [16]:
duplicates_trad.shape

(37, 18)

In [17]:
pivot_duplicates_trad = pd.pivot_table(duplicates_trad,index=['tipo','date_file'],
                                       columns=['type'],
                                  values=['total_due']
                                  ,aggfunc = ['sum', len],margins=True)
pivot_duplicates_trad.reset_index(drop=False, inplace=True)
pivot_duplicates_trad.head(10)

              tipo            date_file         sum                   len
                                          total_due             total_due
type                                    LEDGER_TRAD       All LEDGER_TRAD All
0     Pago del día  2023-09-01 00:00:00    1,992.19  1,992.19           1   1
1     Pago del día  2023-09-04 00:00:00    2,520.16  2,520.16           1   1
2     Pago del día  2023-09-05 00:00:00   47,389.76 47,389.76           2   2
3     Pago del día  2023-09-06 00:00:00    5,941.09  5,941.09           2   2
4     Pago del día  2023-09-08 00:00:00    1,111.56  1,111.56           1   1
5     Pago del día  2023-09-11 00:00:00    4,248.65  4,248.65           1   1
6     Pago del día  2023-09-12 00:00:00    3,252.85  3,252.85           1   1
7     Pago del día  2023-09-13 00:00:00   19,553.84 19,553.84           4   4
8     Pago del día  2023-09-15 00:00:00   70,833.56 70,833.56           3   3
9     Pago del día  2023-09-19 00:00:00    7,665.92  7,665.92           1   1

In [18]:
pivot_duplicates_trad.shape

(18, 6)

#### FAST PAYMENTS

In [19]:
fp_files_1 = glob.glob(r'C:\Users\Cristian.Aparicio\Documents\FAST PAYMENTS\2023\09. SEPTIEMBRE\ARCHIVO DISPERSIONES FP\Dispersión-FP*.xlsx', recursive=False)
fp_files_1

['C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2023\\09. SEPTIEMBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2023-09-01.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2023\\09. SEPTIEMBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2023-09-02.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2023\\09. SEPTIEMBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2023-09-03.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2023\\09. SEPTIEMBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2023-09-04.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2023\\09. SEPTIEMBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2023-09-05.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2023\\09. SEPTIEMBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2023-09-06.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2023\\09. SEPTIEMBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2023-09-07.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2023\\09. SEPTIEMBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2023-09-08.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2023\\09. SEPTIEMBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2023-09-09.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2023\\09. SEPTIEMBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2023-09-10.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2023\\09. SEPTIEMBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2023-09-11.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2023\\09. SEPTIEMBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2023-09-12.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2023\\09. SEPTIEMBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2023-09-13.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2023\\09. SEPTIEMBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2023-09-14.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2023\\09. SEPTIEMBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2023-09-15.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2023\\09. SEPTIEMBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2023-09-16.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2023\\09. SEPTIEMBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2023-09-17.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2023\\09. SEPTIEMBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2023-09-18.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2023\\09. SEPTIEMBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2023-09-19.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2023\\09. SEPTIEMBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2023-09-20.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2023\\09. SEPTIEMBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2023-09-21.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2023\\09. SEPTIEMBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2023-09-22.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2023\\09. SEPTIEMBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2023-09-23.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2023\\09. SEPTIEMBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2023-09-24.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2023\\09. SEPTIEMBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2023-09-25.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2023\\09. SEPTIEMBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2023-09-26.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2023\\09. SEPTIEMBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2023-09-27.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2023\\09. SEPTIEMBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2023-09-28.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2023\\09. SEPTIEMBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2023-09-29.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2023\\09. SEPTIEMBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2023-09-30.xlsx']

In [20]:
pagos_2 = pd.concat([pd.read_excel(f,sheet_name='FAST PAYMENTS').assign(file_name=os.path.basename(f)) for f in fp_files_1])
pagos_2['date_file'] = pagos_2["file_name"].str[-15:-4]
pagos_2['date_file']= pd.to_datetime(pagos_2['date_file']) 
pagos_2.sort_values(by=['date_file'],ascending=True,inplace=True)
pagos_2['report_date_local']= pd.to_datetime(pagos_2['report_date_local']) 
pagos_2.head()

,type,merchant_id,merchant_name,user_email,report_id,report_date_local,total_due,tipo,bank,swap,CLABE,status,LINEA CEP,Batch_time,Banco_emisor,file_name,date_file
0,LEDGER_FP,157a6174-e62e-4bc3-b9be-13a1d2629842,NaN,NaN,AZXPN7HK4,2023-08-25,"1,795.75",Reprogramación,ABC CAPITAL,Agustin amador riveros,138580000007632818,ERROR,NaN,02. Second_batch,SANTANDER,Dispersión-FP 2023-09-01.xlsx,2023-09-01
2615,LEDGER_FP,3d024780-d673-4a93-80df-1a222e4b6c09,NaN,NaN,AWDB6WSYQ,2023-09-01,201.23,Pago del día,ASP INTEGRA OPC,Juan Carlos Ocotoxtle Ecatl,659802020000124489,PAID,"2023-09-01,18A534D9D7C5B3E3,40002,90659,659802...",05. Fifth_batch,BANAMEX,Dispersión-FP 2023-09-01.xlsx,2023-09-01
2616,LEDGER_FP,3d2acb65-5131-4828-8d0d-eebbfde6b851,NaN,NaN,AZHY9ZWW4,2023-09-01,99.66,Pago del día,ASP INTEGRA OPC,Claudia vital Ortiz,659802020000168995,PAID,"2023-09-01,18A534DB4C65F87D,40002,90659,659802...",05. Fifth_batch,BANAMEX,Dispersión-FP 2023-09-01.xlsx,2023-09-01
2617,LEDGER_FP,3d4ad1c3-814c-4874-b443-371f6ea7fc0e,NaN,NaN,AQC8ZQB6V,2023-09-01,60.37,Pago del día,ASP INTEGRA OPC,Juana Judith Santana Rocha,659802020000382470,PAID,"2023-09-01,18A534D9B8B92D3E,40002,90659,659802...",05. Fifth_batch,BANAMEX,Dispersión-FP 2023-09-01.xlsx,2023-09-01
2618,LEDGER_FP,3dd60d2d-6f48-42a2-a88f-faa7c2197b7b,NaN,NaN,ANXQV4J4R,2023-09-01,191.65,Pago del día,ASP INTEGRA OPC,Jorge Javier Peregrina Cuellar,659802020000086488,PAID,"2023-09-01,18A534DB2E2E9B5F,40002,90659,659802...",05. Fifth_batch,BANAMEX,Dispersión-FP 2023-09-01.xlsx,2023-09-01

In [21]:
pagos_2.shape

(91362, 17)

#### PAGOS REPETIDOS FAST PAYMENTS

In [22]:
duplicates_fp = pagos_2[pagos_2.duplicated(['report_id','date_file'] , keep=False)]
duplicates_fp['INDEX'] = duplicates_fp['report_id'] + '_' + duplicates_fp['date_file'].astype('str')
duplicates_fp.sort_values(by=['date_file','report_id','Batch_time'],inplace=True)
duplicates_fp.head()

C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_15332\3928666323.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  duplicates_fp['INDEX'] = duplicates_fp['report_id'] + '_' + duplicates_fp['date_file'].astype('str')
C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_15332\3928666323.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  duplicates_fp.sort_values(by=['date_file','report_id','Batch_time'],inplace=True)

,type,merchant_id,merchant_name,user_email,report_id,report_date_local,total_due,tipo,bank,swap,CLABE,status,LINEA CEP,Batch_time,Banco_emisor,file_name,date_file,INDEX
15,LEDGER_FP,31d8ef42-0da7-4e46-8b2b-63881eeef97b,NaN,NaN,A6GZG6MXP,2023-05-28,62.29,Reprogramación,ASP INTEGRA OPC,Blanca Estela Mapula Rabago,659802020000019918,ERROR,NaN,04. Fourth_batch,SANTANDER,Dispersión-FP 2023-09-01.xlsx,2023-09-01,A6GZG6MXP_2023-09-01
48,LEDGER_FP,31d8ef42-0da7-4e46-8b2b-63881eeef97b,NaN,NaN,A6GZG6MXP,2023-05-28,62.29,Reprogramación,ASP INTEGRA OPC,Blanca Estela Mapula Rabago,659802020000019918,ERROR,NaN,06. Sixth_batch,BANAMEX,Dispersión-FP 2023-09-01.xlsx,2023-09-01,A6GZG6MXP_2023-09-01
12,LEDGER_FP,31d8ef42-0da7-4e46-8b2b-63881eeef97b,NaN,NaN,A889RR9GV,2023-05-27,271.19,Reprogramación,ASP INTEGRA OPC,Blanca Estela Mapula Rabago,659802020000019918,ERROR,NaN,04. Fourth_batch,SANTANDER,Dispersión-FP 2023-09-01.xlsx,2023-09-01,A889RR9GV_2023-09-01
45,LEDGER_FP,31d8ef42-0da7-4e46-8b2b-63881eeef97b,NaN,NaN,A889RR9GV,2023-05-27,271.19,Reprogramación,ASP INTEGRA OPC,Blanca Estela Mapula Rabago,659802020000019918,ERROR,NaN,06. Sixth_batch,BANAMEX,Dispersión-FP 2023-09-01.xlsx,2023-09-01,A889RR9GV_2023-09-01
8,LEDGER_FP,4e4123d9-02b4-4217-a791-f3e4c83df092,NaN,NaN,AD6ZJ92BW,2023-08-31,"5,829.46",Reprogramación,SCOTIABANK,Administradora General Rubio,44854256000101389,ERROR,NaN,02. Second_batch,SANTANDER,Dispersión-FP 2023-09-01.xlsx,2023-09-01,AD6ZJ92BW_2023-09-01

In [23]:
duplicates_fp.shape

(3074, 18)

In [24]:
duplicates_fp.drop_duplicates(subset="INDEX", keep='last', inplace=True)

C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_15332\2218390481.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  duplicates_fp.drop_duplicates(subset="INDEX", keep='last', inplace=True)

In [25]:
duplicates_fp.head()

,type,merchant_id,merchant_name,user_email,report_id,report_date_local,total_due,tipo,bank,swap,CLABE,status,LINEA CEP,Batch_time,Banco_emisor,file_name,date_file,INDEX
48,LEDGER_FP,31d8ef42-0da7-4e46-8b2b-63881eeef97b,NaN,NaN,A6GZG6MXP,2023-05-28,62.29,Reprogramación,ASP INTEGRA OPC,Blanca Estela Mapula Rabago,659802020000019918,ERROR,NaN,06. Sixth_batch,BANAMEX,Dispersión-FP 2023-09-01.xlsx,2023-09-01,A6GZG6MXP_2023-09-01
45,LEDGER_FP,31d8ef42-0da7-4e46-8b2b-63881eeef97b,NaN,NaN,A889RR9GV,2023-05-27,271.19,Reprogramación,ASP INTEGRA OPC,Blanca Estela Mapula Rabago,659802020000019918,ERROR,NaN,06. Sixth_batch,BANAMEX,Dispersión-FP 2023-09-01.xlsx,2023-09-01,A889RR9GV_2023-09-01
57,LEDGER_FP,4e4123d9-02b4-4217-a791-f3e4c83df092,NaN,NaN,AD6ZJ92BW,2023-08-31,"5,829.46",Reprogramación,SCOTIABANK,Administradora General Rubio,44854256000101389,ERROR,NaN,06. Sixth_batch,BANAMEX,Dispersión-FP 2023-09-01.xlsx,2023-09-01,AD6ZJ92BW_2023-09-01
47,LEDGER_FP,31d8ef42-0da7-4e46-8b2b-63881eeef97b,NaN,NaN,AGZ6K3HB3,2023-05-28,435.03,Reprogramación,ASP INTEGRA OPC,Blanca Estela Mapula Rabago,659802020000019918,ERROR,NaN,06. Sixth_batch,BANAMEX,Dispersión-FP 2023-09-01.xlsx,2023-09-01,AGZ6K3HB3_2023-09-01
56,LEDGER_FP,4e4123d9-02b4-4217-a791-f3e4c83df092,NaN,NaN,AHH5BMSJB,2023-08-30,"3,296.33",Reprogramación,SCOTIABANK,Administradora General Rubio,44854256000101389,ERROR,NaN,06. Sixth_batch,BANAMEX,Dispersión-FP 2023-09-01.xlsx,2023-09-01,AHH5BMSJB_2023-09-01

In [26]:
duplicates_fp.shape

(1440, 18)

In [27]:
pivot_duplicates_fp = pd.pivot_table(duplicates_fp,index=['tipo','date_file'],
                                     columns=['type'],
                                  values=['total_due']
                                  ,aggfunc = ['sum', len],margins=True)
pivot_duplicates_fp.reset_index(drop=False, inplace=True)
pivot_duplicates_fp.head()

              tipo            date_file       sum                      \
                                        total_due
type                                      INSTANT LEDGER_FP       All
0     Pago del día  2023-09-01 00:00:00       NaN 25,872.48 25,872.48
1     Pago del día  2023-09-02 00:00:00       NaN 93,658.31 93,658.31
2     Pago del día  2023-09-03 00:00:00       NaN 76,452.45 76,452.45
3     Pago del día  2023-09-05 00:00:00       NaN     24.12     24.12
4     Pago del día  2023-09-06 00:00:00       NaN  1,687.95  1,687.95

           len
     total_due
type   INSTANT LEDGER_FP All
0          NaN      1.00   1
1          NaN     33.00  33
2          NaN     29.00  29
3          NaN      1.00   1
4          NaN      2.00   2

In [28]:
pivot_duplicates_fp.shape

(44, 8)

In [29]:
# pivot_duplicates_fp.to_excel('DUPLICADOS FP JUNIO 2021.xlsx',index=True)

#### ALL PAGOS

In [30]:
allpagos = pd.concat([pagos_1,pagos_2])
allpagos.head()

,type,merchant_id,merchant_name,user_email,report_id,report_date_local,total_due,tipo,bank,bank_account_owner_name,CLABE,status,LINEA CEP,Batch_time,Banco_emisor,file_name,date_file,swap
0,LEDGER_TRAD,00776a5d-ce34-4e34-9ede-fabe44d97163,NaN,NaN,AWDQT7GG5,2023-09-01,"1,222.71",Pago del día,SCOTIABANK,Administradora General Rubio SA DE CV,44854256000101389,ERROR,NaN,01. First_batch,SANTANDER,Dispersión-20230901.xlsx,2023-09-01,NaN
71689,LEDGER_TRAD,ac071ac1-cdd9-422b-8c18-a3acf1478888,NaN,NaN,AXWQ3DFY5,2023-09-01,452.28,Pago del día,BBVA BANCOMER,Héctor Hugo Arredondo Ramírez,12215028738032875,PAID,"2023-09-01,20230901400140HDH0001428319790,4001...",01. First_batch,SANTANDER,Dispersión-20230901.xlsx,2023-09-01,NaN
71688,LEDGER_TRAD,ac04ced4-e7b2-40b1-a399-a030998a0850,NaN,NaN,AVLVR986F,2023-09-01,"3,641.31",Pago del día,BANORTE/IXE,Jesús cisneros valdes,72078011688553164,PAID,"2023-09-01,20230901400140HDH0001428319710,4001...",01. First_batch,SANTANDER,Dispersión-20230901.xlsx,2023-09-01,NaN
71687,LEDGER_TRAD,ac044e7f-b743-4fad-aed6-ac304373c324,NaN,NaN,ALDJCF7JJ,2023-09-01,91.03,Pago del día,AZTECA,Erick Daniel Fuentes Enciso,127180013593832821,PAID,"2023-09-01,20230901400140HDH0001428319610,4001...",01. First_batch,SANTANDER,Dispersión-20230901.xlsx,2023-09-01,NaN
71686,LEDGER_TRAD,ac03bd01-f909-4906-860e-6978fd6c0c68,NaN,NaN,ACH5KHNL3,2023-09-01,546.19,Pago del día,BBVA BANCOMER,Bernardo,12190015876353599,PAID,"2023-09-01,20230901400140HDH0001428319480,4001...",01. First_batch,SANTANDER,Dispersión-20230901.xlsx,2023-09-01,NaN

In [31]:
allpagos.shape

(3069677, 18)

In [32]:
allpagos['tipo'].unique()

array(['Pago del día', 'Reprogramación'], dtype=object)

In [33]:
group_allpagos = allpagos.groupby(['date_file']).agg({'total_due':sum,'report_id':'count'}).reset_index()
group_allpagos.head()

   date_file      total_due  report_id
0 2023-09-01 237,100,937.16     111457
1 2023-09-02 262,484,441.11     117251
2 2023-09-03 286,664,949.70     114919
3 2023-09-04 199,877,884.93      81948
4 2023-09-05 201,496,729.41     100473

In [34]:
group_allpagos.shape

(30, 3)

#### PAGOS DEL DIA

In [35]:
pagosdia = allpagos[(allpagos['tipo'].isin(['Pago del día']))]
pagosdia.head()

,type,merchant_id,merchant_name,user_email,report_id,report_date_local,total_due,tipo,bank,bank_account_owner_name,CLABE,status,LINEA CEP,Batch_time,Banco_emisor,file_name,date_file,swap
0,LEDGER_TRAD,00776a5d-ce34-4e34-9ede-fabe44d97163,NaN,NaN,AWDQT7GG5,2023-09-01,"1,222.71",Pago del día,SCOTIABANK,Administradora General Rubio SA DE CV,44854256000101389,ERROR,NaN,01. First_batch,SANTANDER,Dispersión-20230901.xlsx,2023-09-01,NaN
71689,LEDGER_TRAD,ac071ac1-cdd9-422b-8c18-a3acf1478888,NaN,NaN,AXWQ3DFY5,2023-09-01,452.28,Pago del día,BBVA BANCOMER,Héctor Hugo Arredondo Ramírez,12215028738032875,PAID,"2023-09-01,20230901400140HDH0001428319790,4001...",01. First_batch,SANTANDER,Dispersión-20230901.xlsx,2023-09-01,NaN
71688,LEDGER_TRAD,ac04ced4-e7b2-40b1-a399-a030998a0850,NaN,NaN,AVLVR986F,2023-09-01,"3,641.31",Pago del día,BANORTE/IXE,Jesús cisneros valdes,72078011688553164,PAID,"2023-09-01,20230901400140HDH0001428319710,4001...",01. First_batch,SANTANDER,Dispersión-20230901.xlsx,2023-09-01,NaN
71687,LEDGER_TRAD,ac044e7f-b743-4fad-aed6-ac304373c324,NaN,NaN,ALDJCF7JJ,2023-09-01,91.03,Pago del día,AZTECA,Erick Daniel Fuentes Enciso,127180013593832821,PAID,"2023-09-01,20230901400140HDH0001428319610,4001...",01. First_batch,SANTANDER,Dispersión-20230901.xlsx,2023-09-01,NaN
71686,LEDGER_TRAD,ac03bd01-f909-4906-860e-6978fd6c0c68,NaN,NaN,ACH5KHNL3,2023-09-01,546.19,Pago del día,BBVA BANCOMER,Bernardo,12190015876353599,PAID,"2023-09-01,20230901400140HDH0001428319480,4001...",01. First_batch,SANTANDER,Dispersión-20230901.xlsx,2023-09-01,NaN

In [36]:
pagosdia.shape

(3049148, 18)

In [37]:
group_dia = pagosdia.groupby(['date_file']).agg({'total_due':sum,'report_id':'count'}).reset_index()
group_dia.head()

   date_file      total_due  report_id
0 2023-09-01 234,565,244.71     109790
1 2023-09-02 261,100,505.60     116536
2 2023-09-03 285,839,933.25     114550
3 2023-09-04 198,474,799.31      81398
4 2023-09-05 200,303,270.86      99830

In [38]:
group_dia.shape

(30, 3)

# PRIMER MATCH (SETTLED VS PAGOS DEL DIA)

In [39]:
check_1 = cum_1.merge(pagosdia[['report_id','total_due','tipo','file_name']] ,on='report_id', how='left')
check_1['total_due_y'].fillna('NO ENCONTRADO')
check_1['tipo'].fillna('NO ENCONTRADO',inplace=True)
check_1['file_name_y'].fillna('NO ENCONTRADO',inplace=True)
# check_1.fillna({'total_due_y':'NO ENCONTRADO', 'tipo':'NO ENCONTRADO', 'file_name_y':'NO ENCONTRADO'}, inplace=True)
check_1.head()

Empty DataFrame
Columns: [merchant_id, merchant_name, user_email, report_date_local, total_transactions, total_fees_charged, total_taxes, applied_fees_benefits, applied_taxes_benefits, fee_direct_deposit, taxes_direct_deposit, total_adjustments, total_adjustment_fees_charged, total_adjustment_taxes, cobranza, total_released, total_retained, tipopago, total_due_x, type, created_date, created_time, updated_date, updated_time, file_name_x, report_id, total_due_y, tipo, file_name_y]
Index: []

[0 rows x 29 columns]

In [40]:
check_1['file_name_y'].unique()

array([], dtype=object)

In [41]:
not_found_1 = check_1[((check_1['file_name_y'].isnull()) | (check_1['file_name_y'].isin(['NO ENCONTRADO'])))
                        & (check_1['total_due_x'] != 0)]
not_found_1.head()

Empty DataFrame
Columns: [merchant_id, merchant_name, user_email, report_date_local, total_transactions, total_fees_charged, total_taxes, applied_fees_benefits, applied_taxes_benefits, fee_direct_deposit, taxes_direct_deposit, total_adjustments, total_adjustment_fees_charged, total_adjustment_taxes, cobranza, total_released, total_retained, tipopago, total_due_x, type, created_date, created_time, updated_date, updated_time, file_name_x, report_id, total_due_y, tipo, file_name_y]
Index: []

[0 rows x 29 columns]

In [42]:
not_found_1.shape

(0, 29)

In [43]:
group_notfound = not_found_1.groupby(['report_date_local']).agg({'total_due_x':sum,'report_id':'count'}).reset_index()
group_notfound.rename(columns={'report_date_local':'date_file'},inplace=True)
group_notfound.head()

Empty DataFrame
Columns: [date_file, total_due_x, report_id]
Index: []

In [44]:
group_notfound.shape

(0, 3)

#### REPROGRAMACIONES

In [45]:
repro = allpagos[(allpagos['tipo'].isin(['Reprogramación']))]
repro.head()

,type,merchant_id,merchant_name,user_email,report_id,report_date_local,total_due,tipo,bank,bank_account_owner_name,CLABE,status,LINEA CEP,Batch_time,Banco_emisor,file_name,date_file,swap
71480,LEDGER_TRAD,ab87c490-b01e-4eba-b8a3-2bcfe6b6591b,NaN,NaN,AHG9RYMDJ,2023-08-31,"5,033.63",Reprogramación,AZTECA,FRANCISCO FIGUEROA VIAL,127180013865718408,PAID,"2023-09-01,20230901400140HDH0001428300710,4001...",01. First_batch,SANTANDER,Dispersión-20230901.xlsx,2023-09-01,NaN
70771,LEDGER_TRAD,a9f134f5-220b-4786-94a8-6f956f1fc9ca,NaN,NaN,A87CSJHP9,2023-08-31,371.80,Reprogramación,ASP INTEGRA OPC,Juan Diego Gomez Cruces,659802020000191881,PAID,"2023-09-01,20230901400140HDH0001428222600,4001...",01. First_batch,SANTANDER,Dispersión-20230901.xlsx,2023-09-01,NaN
73421,DAILY,b00baf35-1f68-4592-aad3-98d18e835366,Abarrotes Brissa,manavacampos@gmail.com,VTY8YF9DK,2023-03-14,841.33,Reprogramación,BANAMEX,Maria Guadalupe Nava Campos,2073560051940299,PAID,"2023-09-01,20230901400140HDH0001428499150,4001...",01. First_batch,SANTANDER,Dispersión-20230901.xlsx,2023-09-01,NaN
73420,DAILY,b00baf35-1f68-4592-aad3-98d18e835366,Abarrotes Brissa,manavacampos@gmail.com,ZFQXH2HNZ,2022-11-10,795.32,Reprogramación,BANAMEX,Maria Guadalupe Nava Campos,2073560051940299,PAID,"2023-09-01,20230901400140HDH0001428499000,4001...",01. First_batch,SANTANDER,Dispersión-20230901.xlsx,2023-09-01,NaN
73419,DAILY,b00baf35-1f68-4592-aad3-98d18e835366,Abarrotes Brissa,manavacampos@gmail.com,LHX99PLPX,2022-11-08,"1,043.52",Reprogramación,BANAMEX,Maria Guadalupe Nava Campos,2073560051940299,PAID,"2023-09-01,20230901400140HDH0001428498860,4001...",01. First_batch,SANTANDER,Dispersión-20230901.xlsx,2023-09-01,NaN

In [46]:
repro.shape

(20529, 18)

In [47]:
group_repro = repro.groupby(['date_file']).agg({'total_due':sum,'report_id':'count'}).reset_index()
group_repro.head()

   date_file    total_due  report_id
0 2023-09-01 2,535,692.45       1667
1 2023-09-02 1,383,935.51        715
2 2023-09-03   825,016.45        369
3 2023-09-04 1,403,085.62        550
4 2023-09-05 1,193,458.55        643

In [48]:
group_repro.shape

(30, 3)

# SEGUNDO MATCH (IDENTIFICACION DE REPROGRAMACIONES)

In [49]:
check_2 = not_found_1.merge(repro[['report_id','total_due','tipo','file_name']] ,on='report_id', how='left')
check_2.head()

Empty DataFrame
Columns: [merchant_id, merchant_name, user_email, report_date_local, total_transactions, total_fees_charged, total_taxes, applied_fees_benefits, applied_taxes_benefits, fee_direct_deposit, taxes_direct_deposit, total_adjustments, total_adjustment_fees_charged, total_adjustment_taxes, cobranza, total_released, total_retained, tipopago, total_due_x, type, created_date, created_time, updated_date, updated_time, file_name_x, total_due_y, tipo_x, file_name_y, report_id, total_due, tipo_y, file_name]
Index: []

[0 rows x 32 columns]

In [50]:
check_2.shape

(0, 32)

In [51]:
# writer = pd.ExcelWriter('REPROGRAMACIONES JUNIO 2021.xlsx', engine='xlsxwriter', options={'encoding':'utf-8'})
# check_2.to_excel(writer, sheet_name='DETAIL REPROGRAMACIONES',index=False)
# writer.save()
# writer.close()

# FECHA DE PAGOS (SETTLED VS PAGOS DEL DIA)

In [52]:
fecha_pago = not_found_1.merge(repro[['report_id','date_file','tipo','status','file_name']] ,on='report_id', how='left')
fecha_pago.sort_values(by=['date_file'],ascending=True,inplace=True)
fecha_pago.head()

Empty DataFrame
Columns: [merchant_id, merchant_name, user_email, report_date_local, total_transactions, total_fees_charged, total_taxes, applied_fees_benefits, applied_taxes_benefits, fee_direct_deposit, taxes_direct_deposit, total_adjustments, total_adjustment_fees_charged, total_adjustment_taxes, cobranza, total_released, total_retained, tipopago, total_due_x, type, created_date, created_time, updated_date, updated_time, file_name_x, total_due_y, tipo_x, file_name_y, report_id, date_file, tipo_y, status, file_name]
Index: []

[0 rows x 33 columns]

In [53]:
fecha_pago.shape

(0, 33)

In [54]:
fecha_pago.drop_duplicates(subset ='report_id',keep='first',inplace=True)

Empty DataFrame
Columns: [merchant_id, merchant_name, user_email, report_date_local, total_transactions, total_fees_charged, total_taxes, applied_fees_benefits, applied_taxes_benefits, fee_direct_deposit, taxes_direct_deposit, total_adjustments, total_adjustment_fees_charged, total_adjustment_taxes, cobranza, total_released, total_retained, tipopago, total_due_x, type, created_date, created_time, updated_date, updated_time, file_name_x, total_due_y, tipo_x, file_name_y, report_id, date_file, tipo_y, status, file_name]
Index: []

[0 rows x 33 columns]

In [55]:
fecha_pago.head()

Empty DataFrame
Columns: [merchant_id, merchant_name, user_email, report_date_local, total_transactions, total_fees_charged, total_taxes, applied_fees_benefits, applied_taxes_benefits, fee_direct_deposit, taxes_direct_deposit, total_adjustments, total_adjustment_fees_charged, total_adjustment_taxes, cobranza, total_released, total_retained, tipopago, total_due_x, type, created_date, created_time, updated_date, updated_time, file_name_x, total_due_y, tipo_x, file_name_y, report_id, date_file, tipo_y, status, file_name]
Index: []

[0 rows x 33 columns]

In [56]:
fecha_pago.shape

(0, 33)

### AGRUPADO POR DÍA

In [57]:
pivot_fecha_pago = pd.pivot_table(fecha_pago,index=['report_date_local'],
                                  values=['total_due_x'],aggfunc = ['sum', len],margins=True)
pivot_fecha_pago.head()

                          sum         len
                  total_due_x total_due_x
report_date_local
All                      0.00        0.00

In [58]:
pivot_fecha_pago.shape

(1, 2)

# PAGOS MANUALES

In [59]:
file_manual = glob.glob(r'G:\.shortcut-targets-by-id\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\3.-Settlement\5.-HISTORICO FILES PAGOS\01. TRADICIONAL\2023\09. SEPTEMBER\MANUALES\*.xlsx', recursive=False)
file_manual

['G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\09. SEPTEMBER\\MANUALES\\Manuales 2023.09.01 - 2023.09.30.xlsx']

In [60]:
manuales_all = pd.concat([pd.read_excel(f,sheet_name='Formato Pago Manual',skiprows=1
                                      ,converters={'Cta. CLABE de depósito':str,'report_id':str})
                          .assign(file_name=os.path.basename(f)) for f in file_manual])
manuales_all['Date']= pd.to_datetime(manuales_all['Date'])  
manuales_all['Tipo'] = 'MANUAL'

In [61]:
manuales_final = manuales_all[['Date','ME ID','ME NAME',' (mxn)','Banco','Justificación para el pago','Tipo','Report ID']]
manuales_final.head()

,Date,ME ID,ME NAME,(mxn),Banco,Justificación para el pago,Tipo,Report ID
0,2023-09-06,d40fc595-6064-4702-a7b3-5aa14a1e1765,NaN,294.91,BBVA BANCOMER,Reembolso Manual,MANUAL,NaN
1,2023-09-06,c5ae7e78-aef5-4716-a623-f9437f3d172f,NaN,916.99,"Banco Azteca, S.A.",Reembolso Manual,MANUAL,NaN
2,2023-09-08,25144a22-39c0-4a07-a971-5e24de17e83c,NaN,199.00,BanCoppel,Reembolso 50% lector,MANUAL,NaN
3,2023-09-08,1fc0b096-14a8-4223-ac66-98953e65e419,NaN,"3,002.16",Banco Mercantil del Norte,Re: Pago Manual 30/08/202,MANUAL,NaN
4,2023-09-28,c291aa30-f5ae-4b6c-86d4-45c5bef308a3,NaN,"1,946.00",BBVA Bancomer,Re: Reembolso urgente Coppel,MANUAL,NaN

In [62]:
manuales_final.shape

(5, 8)

In [63]:
manuales_final.columns

Index(['Date', 'ME ID', 'ME NAME', ' (mxn)', 'Banco',
       'Justificación para el pago', 'Tipo', 'Report ID'],
      dtype='object')

In [64]:
group_manual = manuales_final.groupby(['Date']).agg({' (mxn)':sum,'Report ID':'count'}).reset_index()
group_manual.rename(columns={'Date':'date_file','Report ID':'report_id'},inplace=True)
group_manual.head()

   date_file    (mxn)  report_id
0 2023-09-06 1,211.90          0
1 2023-09-08 3,201.16          0
2 2023-09-28 1,946.00          0

In [65]:
group_manual.shape

(3, 3)

# ACUMULADOS SETTLEMENT

In [66]:
conc_disp = cum_distinct_0.groupby(['report_date_local']).agg({'total_due':sum,'report_id':'count'}).reset_index()
conc_disp.rename(columns={'report_date_local':'date_file'}, inplace=True)
conc_disp.head()

Empty DataFrame
Columns: [date_file, total_due, report_id]
Index: []

In [67]:
conc_disp.shape

(0, 3)

# MERGING ALL DATA FRAMES

In [68]:
total_1 = conc_disp.merge(group_repro[['date_file','total_due','report_id']],on='date_file',how='left') \
.merge(group_manual,on='date_file',how='left')
total_1[' (mxn)'].fillna(0,inplace=True)
total_1['report_id'].fillna(0,inplace=True)
total_1.head()

Empty DataFrame
Columns: [total_due_x, report_id_x, total_due_y, report_id_y, date_file,  (mxn), report_id]
Index: []

In [69]:
total_1['count_total_pago_dia'] = total_1['report_id_x'] + total_1['report_id_y'] + total_1['report_id']
total_1['sum_total_pago_dia'] = total_1['total_due_x'] + total_1['total_due_y'] + total_1[' (mxn)']

In [70]:
total_1

Empty DataFrame
Columns: [total_due_x, report_id_x, total_due_y, report_id_y, date_file,  (mxn), report_id, count_total_pago_dia, sum_total_pago_dia]
Index: []

# ACUMULADOS PAGO DEL DIA

In [71]:
total_2 = group_allpagos.merge(group_notfound[['date_file','total_due_x','report_id']],on='date_file',how='left')\
.merge(group_manual,on='date_file',how='left')
total_2[' (mxn)'].fillna(0,inplace=True)
total_2['report_id'].fillna(0,inplace=True)
total_2['total_due_x'].fillna(0,inplace=True)
total_2['report_id_y'].fillna(0,inplace=True)
total_2.head()

,date_file,total_due,report_id_x,total_due_x,report_id_y,(mxn),report_id
0,2023-09-01,"237,100,937.16",111457,0,0.00,0.00,0.00
1,2023-09-02,"262,484,441.11",117251,0,0.00,0.00,0.00
2,2023-09-03,"286,664,949.70",114919,0,0.00,0.00,0.00
3,2023-09-04,"199,877,884.93",81948,0,0.00,0.00,0.00
4,2023-09-05,"201,496,729.41",100473,0,0.00,0.00,0.00

In [72]:
total_2['count_swap_dia'] = total_2['report_id_x'] + total_2['report_id_y'] + total_2['report_id']
total_2['sum_swap_dia'] = total_2['total_due'] + total_2['total_due_x'] + total_2[' (mxn)']

In [73]:
total_2.head()

,date_file,total_due,report_id_x,total_due_x,report_id_y,(mxn),report_id,count_swap_dia,sum_swap_dia
0,2023-09-01,"237,100,937.16",111457,0,0.00,0.00,0.00,"111,457.00","237,100,937.16"
1,2023-09-02,"262,484,441.11",117251,0,0.00,0.00,0.00,"117,251.00","262,484,441.11"
2,2023-09-03,"286,664,949.70",114919,0,0.00,0.00,0.00,"114,919.00","286,664,949.70"
3,2023-09-04,"199,877,884.93",81948,0,0.00,0.00,0.00,"81,948.00","199,877,884.93"
4,2023-09-05,"201,496,729.41",100473,0,0.00,0.00,0.00,"100,473.00","201,496,729.41"

In [74]:
total_2.shape

(30, 9)

# COMPARACION FINAL

In [75]:
final_comparacion = total_1[['date_file','count_total_pago_dia','sum_total_pago_dia']] \
.merge(total_2[['date_file','count_swap_dia','sum_swap_dia']],on='date_file',how='left')
final_comparacion.head()

Empty DataFrame
Columns: [count_total_pago_dia, sum_total_pago_dia, date_file, count_swap_dia, sum_swap_dia]
Index: []

In [76]:
final_comparacion['diff_count'] = final_comparacion['count_total_pago_dia'] - final_comparacion['count_swap_dia']
final_comparacion['diff_sum'] = final_comparacion['sum_total_pago_dia'] - final_comparacion['sum_swap_dia']

In [77]:
final_comparacion

Empty DataFrame
Columns: [count_total_pago_dia, sum_total_pago_dia, date_file, count_swap_dia, sum_swap_dia, diff_count, diff_sum]
Index: []

In [78]:
writer = pd.ExcelWriter('FASE III. SETTLED VS PAGO DIA SEPTIEMBRE 2023.xlsx',
                        engine='xlsxwriter',
                        engine_kwargs={'options': {'encoding':'utf-8'}})
pivot_fecha_pago.to_excel(writer, sheet_name='ENVIADOS POSTERIOR')
fecha_pago.to_excel(writer, sheet_name='DETAIL NO ENCONTRADO',index=False)
pivot_duplicates_trad.to_excel(writer, sheet_name='PAGOS DUPLICADOS')
pivot_duplicates_fp.to_excel(writer, sheet_name='FP PAGOS DUPLICADOS')
group_manual.to_excel(writer, sheet_name='PAGOS MANUALES')
writer.close()