In [1]:
import pandas as pd
import numpy as np
from openpyxl import load_workbook
import glob
import os
import datetime
pd.options.display.float_format = '{:,.2f}'.format
datetime.timedelta(days=1)
datetime.timedelta(1)

datetime.timedelta(days=1)

In [2]:
allfiles_adj = glob.glob(r'C:\Users\Cristian.Aparicio\Documents\POLIZAS\2023\10. OCTUBRE\DATA\ADJ*.csv', recursive=False)
allfiles_adj

['C:\\Users\\Cristian.Aparicio\\Documents\\POLIZAS\\2023\\10. OCTUBRE\\DATA\\ADJUSTMENTS - TEMPLATE - NULL.csv']

In [3]:
allfiles_ret = glob.glob(r'C:\Users\Cristian.Aparicio\Documents\POLIZAS\2023\10. OCTUBRE\DATA\RET*.csv', recursive=False)
allfiles_ret

['C:\\Users\\Cristian.Aparicio\\Documents\\POLIZAS\\2023\\10. OCTUBRE\\DATA\\RETENCIONES - TEMPLATE - NULL.csv']

In [4]:
allfiles_lib = glob.glob(r'C:\Users\Cristian.Aparicio\Documents\POLIZAS\2023\10. OCTUBRE\DATA\LIB*.csv', recursive=False)
allfiles_lib

['C:\\Users\\Cristian.Aparicio\\Documents\\POLIZAS\\2023\\10. OCTUBRE\\DATA\\LIBERACIONES - TEMPLATE - NULL.csv']

In [5]:
allfiles_com = sorted(glob.glob(r'G:\.shortcut-targets-by-id\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\3.-Settlement\5.-HISTORICO FILES PAGOS\01. TRADICIONAL\2023\10. OCTOBER\MONTOS EMAIL\*.csv', recursive=False))
allfiles_com

['G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\10. OCTOBER\\MONTOS EMAIL\\DIFF MONTOS-BNTE-1 2023-10-01.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\10. OCTOBER\\MONTOS EMAIL\\DIFF MONTOS-BNTE-1 2023-10-07.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\10. OCTOBER\\MONTOS EMAIL\\DIFF MONTOS-BNTE-1 2023-10-08.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\10. OCTOBER\\MONTOS EMAIL\\DIFF MONTOS-BNTE-1 2023-10-14.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\10. OCTOBER\\MONTOS EMAIL\\DIFF MONTOS-BNTE-1 2023-10-15.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\10. OCTOBER\\MONTOS EMAIL\\DIFF MONTOS-BNTE-1 2023-10-21.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\10. OCTOBER\\MONTOS EMAIL\\DIFF MONTOS-BNTE-1 2023-10-22.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\10. OCTOBER\\MONTOS EMAIL\\DIFF MONTOS-BNTE-1 2023-10-28.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\10. OCTOBER\\MONTOS EMAIL\\DIFF MONTOS-BNTE-1 2023-10-29.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\10. OCTOBER\\MONTOS EMAIL\\DIFF MONTOS-BNTE-2 2023-10-01.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\10. OCTOBER\\MONTOS EMAIL\\DIFF MONTOS-BNTE-2 2023-10-02.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\10. OCTOBER\\MONTOS EMAIL\\DIFF MONTOS-BNTE-2 2023-10-07.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\10. OCTOBER\\MONTOS EMAIL\\DIFF MONTOS-BNTE-2 2023-10-08.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\10. OCTOBER\\MONTOS EMAIL\\DIFF MONTOS-BNTE-2 2023-10-09.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\10. OCTOBER\\MONTOS EMAIL\\DIFF MONTOS-BNTE-2 2023-10-10.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\10. OCTOBER\\MONTOS EMAIL\\DIFF MONTOS-BNTE-2 2023-10-11.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\10. OCTOBER\\MONTOS EMAIL\\DIFF MONTOS-BNTE-2 2023-10-14.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\10. OCTOBER\\MONTOS EMAIL\\DIFF MONTOS-BNTE-2 2023-10-15.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\10. OCTOBER\\MONTOS EMAIL\\DIFF MONTOS-BNTE-2 2023-10-16.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\10. OCTOBER\\MONTOS EMAIL\\DIFF MONTOS-BNTE-2 2023-10-21.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\10. OCTOBER\\MONTOS EMAIL\\DIFF MONTOS-BNTE-2 2023-10-22.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\10. OCTOBER\\MONTOS EMAIL\\DIFF MONTOS-BNTE-2 2023-10-23.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\10. OCTOBER\\MONTOS EMAIL\\DIFF MONTOS-BNTE-2 2023-10-24.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\10. OCTOBER\\MONTOS EMAIL\\DIFF MONTOS-BNTE-2 2023-10-28.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\10. OCTOBER\\MONTOS EMAIL\\DIFF MONTOS-BNTE-2 2023-10-29.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\10. OCTOBER\\MONTOS EMAIL\\DIFF MONTOS-BNTE-2 2023-10-30.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\10. OCTOBER\\MONTOS EMAIL\\DIFF MONTOS-BNTE-3 2023-10-03.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\10. OCTOBER\\MONTOS EMAIL\\DIFF MONTOS-BNTE-3 2023-10-04.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\10. OCTOBER\\MONTOS EMAIL\\DIFF MONTOS-BNTE-3 2023-10-05.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\10. OCTOBER\\MONTOS EMAIL\\DIFF MONTOS-BNTE-3 2023-10-06.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\10. OCTOBER\\MONTOS EMAIL\\DIFF MONTOS-BNTE-3 2023-10-12.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\10. OCTOBER\\MONTOS EMAIL\\DIFF MONTOS-BNTE-3 2023-10-13.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\10. OCTOBER\\MONTOS EMAIL\\DIFF MONTOS-BNTE-3 2023-10-17.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\10. OCTOBER\\MONTOS EMAIL\\DIFF MONTOS-BNTE-3 2023-10-18.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\10. OCTOBER\\MONTOS EMAIL\\DIFF MONTOS-BNTE-3 2023-10-19.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\10. OCTOBER\\MONTOS EMAIL\\DIFF MONTOS-BNTE-3 2023-10-20.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\10. OCTOBER\\MONTOS EMAIL\\DIFF MONTOS-BNTE-3 2023-10-25.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\10. OCTOBER\\MONTOS EMAIL\\DIFF MONTOS-BNTE-3 2023-10-26.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\10. OCTOBER\\MONTOS EMAIL\\DIFF MONTOS-BNTE-3 2023-10-27.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\10. OCTOBER\\MONTOS EMAIL\\DIFF MONTOS-BNTE-3 2023-10-31.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\10. OCTOBER\\MONTOS EMAIL\\DIFF MONTOS-SANT-1 2023-10-02.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\10. OCTOBER\\MONTOS EMAIL\\DIFF MONTOS-SANT-1 2023-10-03.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\10. OCTOBER\\MONTOS EMAIL\\DIFF MONTOS-SANT-1 2023-10-04.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\10. OCTOBER\\MONTOS EMAIL\\DIFF MONTOS-SANT-1 2023-10-05.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\10. OCTOBER\\MONTOS EMAIL\\DIFF MONTOS-SANT-1 2023-10-06.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\10. OCTOBER\\MONTOS EMAIL\\DIFF MONTOS-SANT-1 2023-10-09.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\10. OCTOBER\\MONTOS EMAIL\\DIFF MONTOS-SANT-1 2023-10-10.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\10. OCTOBER\\MONTOS EMAIL\\DIFF MONTOS-SANT-1 2023-10-11.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\10. OCTOBER\\MONTOS EMAIL\\DIFF MONTOS-SANT-1 2023-10-12.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\10. OCTOBER\\MONTOS EMAIL\\DIFF MONTOS-SANT-1 2023-10-13.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\10. OCTOBER\\MONTOS EMAIL\\DIFF MONTOS-SANT-1 2023-10-16.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\10. OCTOBER\\MONTOS EMAIL\\DIFF MONTOS-SANT-1 2023-10-17.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\10. OCTOBER\\MONTOS EMAIL\\DIFF MONTOS-SANT-1 2023-10-18.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\10. OCTOBER\\MONTOS EMAIL\\DIFF MONTOS-SANT-1 2023-10-19.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\10. OCTOBER\\MONTOS EMAIL\\DIFF MONTOS-SANT-1 2023-10-20.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\10. OCTOBER\\MONTOS EMAIL\\DIFF MONTOS-SANT-1 2023-10-23.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\10. OCTOBER\\MONTOS EMAIL\\DIFF MONTOS-SANT-1 2023-10-24.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\10. OCTOBER\\MONTOS EMAIL\\DIFF MONTOS-SANT-1 2023-10-25.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\10. OCTOBER\\MONTOS EMAIL\\DIFF MONTOS-SANT-1 2023-10-26.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\10. OCTOBER\\MONTOS EMAIL\\DIFF MONTOS-SANT-1 2023-10-27.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\10. OCTOBER\\MONTOS EMAIL\\DIFF MONTOS-SANT-1 2023-10-30.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\10. OCTOBER\\MONTOS EMAIL\\DIFF MONTOS-SANT-1 2023-10-31.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\10. OCTOBER\\MONTOS EMAIL\\DIFF MONTOS-SANT-2 2023-10-03.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\10. OCTOBER\\MONTOS EMAIL\\DIFF MONTOS-SANT-2 2023-10-04.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\10. OCTOBER\\MONTOS EMAIL\\DIFF MONTOS-SANT-2 2023-10-05.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\10. OCTOBER\\MONTOS EMAIL\\DIFF MONTOS-SANT-2 2023-10-06.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\10. OCTOBER\\MONTOS EMAIL\\DIFF MONTOS-SANT-2 2023-10-12.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\10. OCTOBER\\MONTOS EMAIL\\DIFF MONTOS-SANT-2 2023-10-13.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\10. OCTOBER\\MONTOS EMAIL\\DIFF MONTOS-SANT-2 2023-10-17.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\10. OCTOBER\\MONTOS EMAIL\\DIFF MONTOS-SANT-2 2023-10-18.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\10. OCTOBER\\MONTOS EMAIL\\DIFF MONTOS-SANT-2 2023-10-19.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\10. OCTOBER\\MONTOS EMAIL\\DIFF MONTOS-SANT-2 2023-10-20.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\10. OCTOBER\\MONTOS EMAIL\\DIFF MONTOS-SANT-2 2023-10-25.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\10. OCTOBER\\MONTOS EMAIL\\DIFF MONTOS-SANT-2 2023-10-26.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\10. OCTOBER\\MONTOS EMAIL\\DIFF MONTOS-SANT-2 2023-10-27.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\10. OCTOBER\\MONTOS EMAIL\\DIFF MONTOS-SANT-2 2023-10-31.csv']

In [6]:
allfiles_lender = glob.glob(r'G:\My Drive\RESPALDO-PC\LENDERS\2023\DB\LEN*.csv', recursive=False)
allfiles_lender

['G:\\My Drive\\RESPALDO-PC\\LENDERS\\2023\\DB\\LENDERS DB ENERO 2023.csv',
 'G:\\My Drive\\RESPALDO-PC\\LENDERS\\2023\\DB\\LENDERS DB FEBRERO 2023.csv',
 'G:\\My Drive\\RESPALDO-PC\\LENDERS\\2023\\DB\\LENDERS DB MARZO 2023.csv',
 'G:\\My Drive\\RESPALDO-PC\\LENDERS\\2023\\DB\\LENDERS DB ABRIL 2023.csv',
 'G:\\My Drive\\RESPALDO-PC\\LENDERS\\2023\\DB\\LENDERS DB MAYO 2023.csv',
 'G:\\My Drive\\RESPALDO-PC\\LENDERS\\2023\\DB\\LENDERS DB JUNIO 2023.csv',
 'G:\\My Drive\\RESPALDO-PC\\LENDERS\\2023\\DB\\LENDERS DB JULIO 2023.csv',
 'G:\\My Drive\\RESPALDO-PC\\LENDERS\\2023\\DB\\LENDERS DB AGOSTO 2023.csv',
 'G:\\My Drive\\RESPALDO-PC\\LENDERS\\2023\\DB\\LENDERS DB SEPTIEMBRE 2023.csv',
 'G:\\My Drive\\RESPALDO-PC\\LENDERS\\2023\\DB\\LENDERS DB OCTUBRE 2023.csv']

In [7]:
start_date = '2023-10-01'
final_date = '2023-10-31'

# ADJUSTMENTS

In [8]:
adj_1 = pd.concat([pd.read_csv(f).assign(file_name=os.path.basename(f)) for f in allfiles_adj])
adj_1.head()

Empty DataFrame
Columns: [report_id, report_date_local, adjustment_date_local, adjustment_type, adjustment_amount, fees_charged, taxes, amount_due, type, date, file_name]
Index: []

In [9]:
adj_1.shape

(0, 11)

### CURRENT DATES

In [10]:
adj_current_month = adj_1[(adj_1['date'] >= start_date) & (adj_1['date'] <= final_date)]
adj_current_month.head()

Empty DataFrame
Columns: [report_id, report_date_local, adjustment_date_local, adjustment_type, adjustment_amount, fees_charged, taxes, amount_due, type, date, file_name]
Index: []

In [11]:
adj_current_month.shape

(0, 11)

### PIVOT

In [12]:
adj_pivot = adj_current_month.groupby(['type','adjustment_type','date']).agg({'adjustment_amount':sum
                                                                                ,'fees_charged':sum 
                                                                                ,'taxes':sum
                                                                                ,'amount_due':sum}).reset_index()
adj_pivot['adjustment_amount'] = adj_pivot['adjustment_amount']*-1 
adj_pivot['fees_charged'] = adj_pivot['fees_charged']*-1
adj_pivot['taxes'] = adj_pivot['taxes']*-1 
adj_pivot['amount_due'] = adj_pivot['amount_due']*-1 
adj_pivot.head()

Empty DataFrame
Columns: [type, adjustment_type, date, adjustment_amount, fees_charged, taxes, amount_due]
Index: []

In [13]:
adj_pivot_v2 = pd.pivot_table(adj_current_month,index=['type','date']
                              ,columns=['adjustment_type']
                              ,values=['adjustment_amount','fees_charged','taxes','amount_due']
                              ,aggfunc=np.sum,margins=True)
adj_pivot_v2.head()

Empty DataFrame
Columns: []
Index: []

# LIBERACIONES

In [14]:
lib_1 = pd.concat([pd.read_csv(f).assign(file_name=os.path.basename(f)) for f in allfiles_lib])
lib_1.head()

Empty DataFrame
Columns: [date_release, report_date_local, retained_date_local, report_id, entry_type, amount, type, file_name]
Index: []

### CURRENT DATES

In [15]:
lib_current_month = lib_1[(lib_1['report_date_local'] >= start_date) & (lib_1['report_date_local'] <= final_date)]
lib_current_month.head()

Empty DataFrame
Columns: [date_release, report_date_local, retained_date_local, report_id, entry_type, amount, type, file_name]
Index: []

In [16]:
lib_current_month.shape

(0, 8)

### PIVOT

In [17]:
lib_pivot = lib_current_month.groupby(['type','entry_type','report_date_local']).agg({'amount':sum}).reset_index()
lib_pivot.head()

Empty DataFrame
Columns: [type, entry_type, report_date_local, amount]
Index: []

In [18]:
lib_pivot.shape

(0, 4)

In [19]:
lib_pivot_v2 = pd.pivot_table(lib_current_month,index=['type','report_date_local']
                              ,columns=['entry_type']
                              ,values=['amount']
                              ,aggfunc=np.sum,margins=True)
lib_pivot_v2.head()

Empty DataFrame
Columns: []
Index: []

In [20]:
lib_pivot_v2.shape

(0, 0)

# RETENCIONES

In [21]:
ret_1 = pd.concat([pd.read_csv(f).assign(file_name=os.path.basename(f)) for f in allfiles_ret])
ret_1.head()

Empty DataFrame
Columns: [date_retainment, report_date_local, report_id, entry_type, amount, type, file_name]
Index: []

### CURRENT DATES

In [22]:
ret_current_month = ret_1[(ret_1['report_date_local'] >= start_date) & (ret_1['report_date_local'] <= final_date)]
ret_current_month.head()

Empty DataFrame
Columns: [date_retainment, report_date_local, report_id, entry_type, amount, type, file_name]
Index: []

In [23]:
ret_current_month.shape

(0, 7)

### PIVOT

In [24]:
ret_pivot = ret_current_month.groupby(['type','entry_type','report_date_local']).agg({'amount':sum}).reset_index()
ret_pivot.head()

Empty DataFrame
Columns: [type, entry_type, report_date_local, amount]
Index: []

In [25]:
ret_pivot.shape

(0, 4)

In [26]:
ret_pivot_v2 = pd.pivot_table(ret_current_month,index=['type','report_date_local']
                              ,columns=['entry_type']
                              ,values=['amount']
                              ,aggfunc=np.sum,margins=True)
ret_pivot_v2.head()

Empty DataFrame
Columns: []
Index: []

In [27]:
ret_pivot_v2.shape

(0, 0)

# COMISIONES SWAP / BNTE

In [28]:
com_1 = pd.concat([pd.read_csv(f).assign(file_name=os.path.basename(f)) for f in allfiles_com])
com_1.head()

,date_disbursement,amount,payments_number,comision_dsp,iva_dsp,comision + iva,total_fondeo,monto_mail,comision_mail,iva_mail,monto_fondeo_mail,check_monto,check_comision,check_iva,check_fondeo,dsp,file_name
0,2023-10-01,"249,683,220.45",94709,"164,748.45","26,359.75","191,108.20","249,874,328.65","249,683,220.45","164,748.45","26,359.75","249,874,328.65",0.00,0.00,0.00,0.00,BNTE,DIFF MONTOS-BNTE-1 2023-10-01.csv
0,2023-10-07,"212,190,219.89",94723,"164,670.90","26,347.34","191,018.24","212,381,238.13","212,190,219.89","164,670.90","26,347.34","212,381,238.13",0.00,0.00,0.00,0.00,BNTE,DIFF MONTOS-BNTE-1 2023-10-07.csv
0,2023-10-08,"231,153,938.09",94689,"164,740.95","26,358.55","191,099.50","231,345,037.59","231,153,938.09","164,740.95","26,358.55","231,345,037.59",0.00,0.00,0.00,0.00,BNTE,DIFF MONTOS-BNTE-1 2023-10-08.csv
0,2023-10-14,"219,807,500.72",94700,"164,583.00","26,333.28","190,916.28","219,998,417.00","219,807,500.72","164,583.00","26,333.28","219,998,417.00",0.00,0.00,0.00,0.00,BNTE,DIFF MONTOS-BNTE-1 2023-10-14.csv
0,2023-10-15,"241,960,474.71",94683,"164,809.65","26,369.54","191,179.19","242,151,653.90","241,960,474.71","164,809.65","26,369.54","242,151,653.90",0.00,0.00,0.00,0.00,BNTE,DIFF MONTOS-BNTE-1 2023-10-15.csv

In [29]:
com_1.shape

(76, 17)

### CURRENT DATES

In [30]:
com_current_month = com_1[(com_1['date_disbursement'] >= start_date) & (com_1['date_disbursement'] <= final_date)]
com_current_month.head()

,date_disbursement,amount,payments_number,comision_dsp,iva_dsp,comision + iva,total_fondeo,monto_mail,comision_mail,iva_mail,monto_fondeo_mail,check_monto,check_comision,check_iva,check_fondeo,dsp,file_name
0,2023-10-01,"249,683,220.45",94709,"164,748.45","26,359.75","191,108.20","249,874,328.65","249,683,220.45","164,748.45","26,359.75","249,874,328.65",0.00,0.00,0.00,0.00,BNTE,DIFF MONTOS-BNTE-1 2023-10-01.csv
0,2023-10-07,"212,190,219.89",94723,"164,670.90","26,347.34","191,018.24","212,381,238.13","212,190,219.89","164,670.90","26,347.34","212,381,238.13",0.00,0.00,0.00,0.00,BNTE,DIFF MONTOS-BNTE-1 2023-10-07.csv
0,2023-10-08,"231,153,938.09",94689,"164,740.95","26,358.55","191,099.50","231,345,037.59","231,153,938.09","164,740.95","26,358.55","231,345,037.59",0.00,0.00,0.00,0.00,BNTE,DIFF MONTOS-BNTE-1 2023-10-08.csv
0,2023-10-14,"219,807,500.72",94700,"164,583.00","26,333.28","190,916.28","219,998,417.00","219,807,500.72","164,583.00","26,333.28","219,998,417.00",0.00,0.00,0.00,0.00,BNTE,DIFF MONTOS-BNTE-1 2023-10-14.csv
0,2023-10-15,"241,960,474.71",94683,"164,809.65","26,369.54","191,179.19","242,151,653.90","241,960,474.71","164,809.65","26,369.54","242,151,653.90",0.00,0.00,0.00,0.00,BNTE,DIFF MONTOS-BNTE-1 2023-10-15.csv

In [31]:
com_current_month.shape

(76, 17)

In [32]:
com_current_month.columns

Index(['date_disbursement', 'amount', 'payments_number', 'comision_dsp',
       'iva_dsp', 'comision + iva', 'total_fondeo', 'monto_mail',
       'comision_mail', 'iva_mail', 'monto_fondeo_mail', 'check_monto',
       'check_comision', 'check_iva', 'check_fondeo', 'dsp', 'file_name'],
      dtype='object')

In [33]:
com_final = com_current_month.groupby(['date_disbursement']).agg({'payments_number':sum,'amount':sum,'comision_dsp':sum,
                                                                  'iva_dsp':sum,'comision + iva':sum,'total_fondeo':sum,
                                                                 'monto_mail':sum,'comision_mail':sum,'iva_mail':sum,
                                                                 'monto_fondeo_mail':sum,'check_monto':sum,'check_comision':sum,
                                                                 'check_iva':sum,'check_fondeo':sum}).reset_index()
com_final.head()

,date_disbursement,payments_number,amount,comision_dsp,iva_dsp,comision + iva,total_fondeo,monto_mail,comision_mail,iva_mail,monto_fondeo_mail,check_monto,check_comision,check_iva,check_fondeo
0,2023-10-01,113734,"298,261,709.01","197,824.95","31,651.99","229,476.94","298,491,185.95","298,261,709.01","197,824.95","31,651.99","298,491,185.95",0.00,0.00,0.00,0.00
1,2023-10-02,80279,"206,191,389.27","41,040.75","6,566.52","47,607.27","206,238,996.54","206,191,389.27","41,040.75","6,566.52","206,238,996.54",-0.00,0.00,0.00,0.00
2,2023-10-03,98483,"201,865,828.58","49,894.20","7,983.07","57,877.27","201,923,705.85","201,865,828.58","49,894.20","7,983.07","201,923,705.85",0.00,0.00,0.00,0.00
3,2023-10-04,99625,"200,614,029.43","51,019.05","8,163.05","59,182.10","200,673,211.53","200,614,029.43","51,019.05","8,163.05","200,673,211.53",0.00,0.00,-0.00,-0.00
4,2023-10-05,101452,"203,987,058.56","51,332.90","8,213.26","59,546.16","204,046,604.72","203,987,058.56","51,332.90","8,213.26","204,046,604.72",0.00,0.00,0.00,0.00

# LENDERS

In [34]:
lender_1 = pd.concat([pd.read_csv(f).assign(file_name=os.path.basename(f)) for f in allfiles_lender])
lender_1.columns = lender_1.columns.str.strip().str.lower() 
lender_1.head()

,collection_date_local,merchant_token,merchant_id,loan_id,provider_code,collection_origin,source,amount,capital,interest,tax,file_name,funded_by
0,2023-01-01,d8d8f9b2-0585-48e0-8d1f-e3bbf4766fbe,30a435af-3c57-4063-bf36-735f5731b179,df0ca1c8-0193-426c-8a32-c164b5ca715e,MRP,SETTLEMENT,LEDGER,23.05,16.60,6.45,0.00,LENDERS DB ENERO 2023.csv,NaN
1,2023-01-01,c4bad384-1718-4f7f-980e-910738bf4c79,0ace4fbe-6ab7-4e7f-a6b0-2a1bb8d6171a,45e17b07-8134-4e21-8aa8-2f90b4df9f37,CTO,SETTLEMENT,LEDGER,18.66,12.74,5.10,0.82,LENDERS DB ENERO 2023.csv,NaN
2,2023-01-01,1592f594-8416-447e-a316-ffc57ea7596f,0614af35-a0b4-4774-ae6f-4eef4238b915,2df0924e-4f58-46c5-8ec1-32a1beec4d49,MRP,SETTLEMENT,LEDGER,98.65,71.03,27.62,0.00,LENDERS DB ENERO 2023.csv,NaN
3,2023-01-01,fa8ee41a-394c-4506-b450-9f8a048a3cfc,789ef894-8d9d-48cb-a20a-0860a44d4a1e,935289b5-6689-4a98-af7f-d91e1a399533,MRP,SETTLEMENT,LEDGER,55.43,41.57,13.86,0.00,LENDERS DB ENERO 2023.csv,NaN
4,2023-01-01,41d8b68d-d496-48bd-9d2e-d3bfe8a4628e,5fab90f8-faf0-48a8-9065-e67b2cde2abe,d4ee526d-2a99-406b-95d3-309ee8d7f84b,MRP,SETTLEMENT,LEDGER,16.44,13.48,2.96,0.00,LENDERS DB ENERO 2023.csv,NaN

In [35]:
lender_1.shape

(7393476, 13)

In [36]:
lender_1['source'].unique()

array(['LEDGER', 'REGULAR', 'FAST_PAYMENT'], dtype=object)

### CURRENT DATES

In [37]:
lender_current_month = lender_1[(lender_1['collection_date_local'] >= start_date) &
                                (lender_1['collection_date_local'] <= final_date)]
lender_current_month.head()

,collection_date_local,merchant_token,merchant_id,loan_id,provider_code,collection_origin,source,amount,capital,interest,tax,file_name,funded_by
0,2023-10-01,d89bbf20-95ee-4874-a46b-3ed603c3d744,58da09b0-34f7-4902-bc1f-9bf5ff00eaa7,3f3dd2f6-7096-47bf-bc0c-caab0fa39df5,MRP,SETTLEMENT,LEDGER,218.00,145.57,62.44,9.99,LENDERS DB OCTUBRE 2023.csv,CLIP
1,2023-10-01,ea57bec0-0fb0-4e03-9e88-fcbced40eb71,336624e8-3902-45b3-9945-7aa4437e847a,8cffdad3-6ce8-4dc9-a9a8-36684728836a,MRP,SETTLEMENT,LEDGER,28.98,19.97,7.77,1.24,LENDERS DB OCTUBRE 2023.csv,MRP
2,2023-10-01,7328fbce-479c-4c89-b5f2-0f1b9dff01f4,6dfe2f7c-cba1-4e3a-a9ab-9f8a4352af69,28929ecf-8f3c-4819-8c67-bd06419e9b67,R2,SETTLEMENT,LEDGER,418.56,324.46,81.12,12.98,LENDERS DB OCTUBRE 2023.csv,R2
3,2023-10-01,55c87b01-3662-49ca-9e2a-e345b978dc78,544e17c4-b207-48d9-963c-8ca057deac88,47095d1f-8e41-4490-89e2-1815046264b9,CLIP,SETTLEMENT,LEDGER,140.14,102.79,32.20,5.15,LENDERS DB OCTUBRE 2023.csv,CLIP
4,2023-10-01,9b7255a5-47e0-42aa-add8-fdf18c356a2d,09932cb1-e2b7-45d4-a230-036ad8b47f80,c243747d-25af-4440-87ad-32b3efccf4ba,CLIP,SETTLEMENT,LEDGER,144.94,116.42,24.59,3.93,LENDERS DB OCTUBRE 2023.csv,CLIP

In [38]:
lender_current_month.shape

(976177, 13)

In [39]:
lender_current_month['provider_code'].unique()

array(['MRP', 'R2', 'CLIP', 'CTO', 'AVL', 'APH'], dtype=object)

### PIVOT CLIP

In [40]:
lender_clip = lender_current_month[(lender_current_month['provider_code'] == 'CLIP')]

In [41]:
# lender_pivot_clip_1 = lender_clip.groupby(['Creation Date','Date']).agg({'Collected today':sum,'Capital today':sum
#                                                                        ,'Interests today':sum,'IVA Interests today':sum
#                                                                        ,'Overdue Interest today':sum,'Total today':sum
#                                                                        ,'CLIP Revenue today':sum}).reset_index()
# lender_pivot_clip_1.head()

In [42]:
# lender_pivot_clip_1.shape

In [43]:
lender_pivot_clip_2 = lender_clip.groupby(['collection_date_local']).agg({'amount':sum,'capital':sum,'interest':sum
                                                 ,'tax':sum}).reset_index()
lender_pivot_clip_2.head()

  collection_date_local     amount    capital  interest      tax
0            2023-10-01 160,115.82 122,530.00 32,401.52 5,184.30
1            2023-10-02 147,732.94 111,739.52 31,029.05 4,964.37
2            2023-10-03 141,500.52 106,505.59 30,167.94 4,826.99
3            2023-10-04 170,682.71 128,538.46 36,331.67 5,812.58
4            2023-10-05 194,523.11 146,002.29 41,828.59 6,692.23

In [44]:
lender_pivot_clip_2.shape

(31, 5)

### PIVOT OTHERS

In [45]:
lender_others = lender_current_month[(lender_current_month['provider_code'] != 'CLIP')]

In [46]:
lender_pivot_others = lender_others.groupby(['collection_date_local']).agg({'amount':sum,'capital':sum,'interest':sum
                                                 ,'tax':sum}).reset_index()
lender_pivot_others.head()

  collection_date_local       amount      capital   interest       tax
0            2023-10-01 1,807,021.56 1,340,984.94 402,556.22 63,480.40
1            2023-10-02 1,458,736.24 1,074,713.48 331,567.97 52,454.79
2            2023-10-03 1,465,155.23 1,082,388.29 330,424.34 52,342.60
3            2023-10-04 1,540,260.36 1,138,937.85 346,671.17 54,651.34
4            2023-10-05 1,766,593.42 1,307,202.25 396,621.71 62,769.46

In [47]:
lender_pivot_others.shape

(31, 5)

# EXCEL FINAL

In [48]:
writer = pd.ExcelWriter('FASE II. DATA POLIZA OCTUBRE 2023.xlsx',
                        engine='xlsxwriter',
                        engine_kwargs={'options': {'encoding':'utf-8'}})
lender_pivot_clip_2.to_excel(writer, sheet_name='DATA LENDER CLIP',index=False)
# lender_pivot_clip_1.to_excel(writer, sheet_name='DATA LENDER CLIP CREATION DATE',index=False)
lender_pivot_others.to_excel(writer, sheet_name='DATA LENDER OTHERS',index=False)
adj_pivot.to_excel(writer, sheet_name='DATA ADJUSTMENTS',index=False)
# lib_pivot_v2.to_excel(writer, sheet_name='DATA LIBERACIONES')
# ret_pivot_v2.to_excel(writer, sheet_name='DATA RETENCIONES')
com_final.to_excel(writer, sheet_name='DATA COMISIONES',index=False)
writer.close()