In [1]:
import pandas as pd
import numpy as np
from openpyxl import load_workbook
import glob
import os
import datetime
pd.options.display.float_format = '{:,.2f}'.format
datetime.timedelta(days=1)
datetime.timedelta(1)

datetime.timedelta(days=1)

# SETTLEMENT

In [2]:
start_date = '2023-11-01'
final_date = '2023-11-30'

In [3]:
allfiles_settled = glob.glob(r'C:\Users\Cristian.Aparicio\Documents\DISPERSIONES\2023\11. NOVIEMBRE\QUERIES\*.csv', recursive=False)
allfiles_settled

['C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\11. NOVIEMBRE\\QUERIES\\SETTLEMENT 2023-11-01.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\11. NOVIEMBRE\\QUERIES\\SETTLEMENT 2023-11-02.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\11. NOVIEMBRE\\QUERIES\\SETTLEMENT 2023-11-03.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\11. NOVIEMBRE\\QUERIES\\SETTLEMENT 2023-11-04.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\11. NOVIEMBRE\\QUERIES\\SETTLEMENT 2023-11-05.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\11. NOVIEMBRE\\QUERIES\\SETTLEMENT 2023-11-06.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\11. NOVIEMBRE\\QUERIES\\SETTLEMENT 2023-11-07.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\11. NOVIEMBRE\\QUERIES\\SETTLEMENT 2023-11-08.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\11. NOVIEMBRE\\QUERIES\\SETTLEMENT 2023-11-09.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\11. NOVIEMBRE\\QUERIES\\SETTLEMENT 2023-11-10.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\11. NOVIEMBRE\\QUERIES\\SETTLEMENT 2023-11-11.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\11. NOVIEMBRE\\QUERIES\\SETTLEMENT 2023-11-12.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\11. NOVIEMBRE\\QUERIES\\SETTLEMENT 2023-11-13.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\11. NOVIEMBRE\\QUERIES\\SETTLEMENT 2023-11-14.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\11. NOVIEMBRE\\QUERIES\\SETTLEMENT 2023-11-15.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\11. NOVIEMBRE\\QUERIES\\SETTLEMENT 2023-11-16.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\11. NOVIEMBRE\\QUERIES\\SETTLEMENT 2023-11-17.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\11. NOVIEMBRE\\QUERIES\\SETTLEMENT 2023-11-18.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\11. NOVIEMBRE\\QUERIES\\SETTLEMENT 2023-11-19.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\11. NOVIEMBRE\\QUERIES\\SETTLEMENT 2023-11-20.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\11. NOVIEMBRE\\QUERIES\\SETTLEMENT 2023-11-21.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\11. NOVIEMBRE\\QUERIES\\SETTLEMENT 2023-11-22.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\11. NOVIEMBRE\\QUERIES\\SETTLEMENT 2023-11-23.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\11. NOVIEMBRE\\QUERIES\\SETTLEMENT 2023-11-24.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\11. NOVIEMBRE\\QUERIES\\SETTLEMENT 2023-11-25.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\11. NOVIEMBRE\\QUERIES\\SETTLEMENT 2023-11-26.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\11. NOVIEMBRE\\QUERIES\\SETTLEMENT 2023-11-27.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\11. NOVIEMBRE\\QUERIES\\SETTLEMENT 2023-11-28.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\11. NOVIEMBRE\\QUERIES\\SETTLEMENT 2023-11-29.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\11. NOVIEMBRE\\QUERIES\\SETTLEMENT 2023-11-30.csv']

In [4]:
settled = pd.concat([pd.read_csv(f).assign(file_name=os.path.basename(f)) for f in allfiles_settled])
settled['Date_file'] = settled["file_name"].str[-14:-4]
settled['Date_file']= pd.to_datetime(settled['Date_file'])
settled['report_date_local']= pd.to_datetime(settled['report_date_local'])

In [5]:
settled.reset_index(inplace=True)
settled.drop(['index'],axis=1,inplace=True)
settled.head()

Empty DataFrame
Columns: [merchant_id, merchant_name, user_email, report_id, report_date_local, total_transactions, total_fees_charged, total_taxes, applied_fees_benefits, applied_taxes_benefits, fee_direct_deposit, taxes_direct_deposit, total_adjustments, total_adjustment_fees_charged, total_adjustment_taxes, cobranza, total_released, total_retained, tipopago, total_due, type, created_date, created_time, updated_date, updated_time, file_name, Date_file]
Index: []

[0 rows x 27 columns]

In [6]:
settled.shape

(0, 27)

### CURRENT MONTH

In [7]:
settled_current_month = settled[(settled['report_date_local'] >= start_date) & (settled['report_date_local'] <= final_date)]
settled_current_month.head()

Empty DataFrame
Columns: [merchant_id, merchant_name, user_email, report_id, report_date_local, total_transactions, total_fees_charged, total_taxes, applied_fees_benefits, applied_taxes_benefits, fee_direct_deposit, taxes_direct_deposit, total_adjustments, total_adjustment_fees_charged, total_adjustment_taxes, cobranza, total_released, total_retained, tipopago, total_due, type, created_date, created_time, updated_date, updated_time, file_name, Date_file]
Index: []

[0 rows x 27 columns]

In [8]:
settled_current_month.shape

(0, 27)

In [9]:
settled_current_month.dtypes

merchant_id                              object
merchant_name                            object
user_email                               object
report_id                                object
report_date_local                datetime64[ns]
total_transactions                       object
total_fees_charged                       object
total_taxes                              object
applied_fees_benefits                    object
applied_taxes_benefits                   object
fee_direct_deposit                       object
taxes_direct_deposit                     object
total_adjustments                        object
total_adjustment_fees_charged            object
total_adjustment_taxes                   object
cobranza                                 object
total_released                           object
total_retained                           object
tipopago                                 object
total_due                                object
type                                     object
created_date                             object
created_time                             object
updated_date                             object
updated_time                             object
file_name                                object
Date_file                        datetime64[ns]
dtype: object

In [10]:
# def next_date(settled_current_month):
#     if settled_current_month['updated_time'] >= '20:00:00':
#         return settled_current_month['report_date_local'] + datetime.timedelta(days=1)
#     else:
#         return settled_current_month['report_date_local']
    
# settled_current_month['poliza_date'] = settled_current_month.apply(next_date, axis=1)

In [11]:
# settled_current_month.head()

In [12]:
# settled_current_month.shape

In [13]:
# settled_current_month['poliza_date'].unique()

### CANCELACIONES

In [14]:
settled_current_month.loc[(settled_current_month['total_released'] > 0)
                          & (settled_current_month['total_adjustments'] < 0),'canc_1'] = settled_current_month['total_adjustments']
settled_current_month['canc_1'].fillna(0,inplace=True)

In [15]:
settled_current_month.loc[(settled_current_month['total_released'] > 0)
                          & (settled_current_month['total_adjustments'] < 0),'canc_2'] = settled_current_month['total_released']
settled_current_month['canc_2'].fillna(0,inplace=True)

In [16]:
settled_current_month['cancelaciones'] = (-settled_current_month['canc_1']) - (settled_current_month['canc_2'])
settled_current_month.head()

Empty DataFrame
Columns: [merchant_id, merchant_name, user_email, report_id, report_date_local, total_transactions, total_fees_charged, total_taxes, applied_fees_benefits, applied_taxes_benefits, fee_direct_deposit, taxes_direct_deposit, total_adjustments, total_adjustment_fees_charged, total_adjustment_taxes, cobranza, total_released, total_retained, tipopago, total_due, type, created_date, created_time, updated_date, updated_time, file_name, Date_file, canc_1, canc_2, cancelaciones]
Index: []

[0 rows x 30 columns]

In [17]:
settled_current_month.shape

(0, 30)

In [18]:
settled_current_month_final = settled_current_month
settled_current_month_final.head()

Empty DataFrame
Columns: [merchant_id, merchant_name, user_email, report_id, report_date_local, total_transactions, total_fees_charged, total_taxes, applied_fees_benefits, applied_taxes_benefits, fee_direct_deposit, taxes_direct_deposit, total_adjustments, total_adjustment_fees_charged, total_adjustment_taxes, cobranza, total_released, total_retained, tipopago, total_due, type, created_date, created_time, updated_date, updated_time, file_name, Date_file, canc_1, canc_2, cancelaciones]
Index: []

[0 rows x 30 columns]

In [19]:
settled_current_month_final.shape

(0, 30)

### TOTAL DUE CALCULADO

In [20]:
settled_current_month_final['total_due_calculado'] = (settled_current_month_final['total_transactions']
                                                - settled_current_month_final['total_fees_charged']
                                                - settled_current_month_final['total_taxes']
                                                + settled_current_month_final['applied_fees_benefits']
                                                + settled_current_month_final['applied_taxes_benefits']
                                                + settled_current_month_final['fee_direct_deposit']
                                                + settled_current_month_final['taxes_direct_deposit']
                                                - (-settled_current_month_final['total_adjustments'])
                                                + (-settled_current_month_final['total_adjustment_fees_charged'])
                                                + (-settled_current_month_final['total_adjustment_taxes'])
                                                - settled_current_month_final['cobranza']
                                                + settled_current_month_final['total_released']
                                                - settled_current_month_final['total_retained'])
settled_current_month_final['diferencias'] = settled_current_month_final['total_due_calculado'] - settled_current_month_final['total_due']
settled_current_month_final.head()

Empty DataFrame
Columns: [merchant_id, merchant_name, user_email, report_id, report_date_local, total_transactions, total_fees_charged, total_taxes, applied_fees_benefits, applied_taxes_benefits, fee_direct_deposit, taxes_direct_deposit, total_adjustments, total_adjustment_fees_charged, total_adjustment_taxes, cobranza, total_released, total_retained, tipopago, total_due, type, created_date, created_time, updated_date, updated_time, file_name, Date_file, canc_1, canc_2, cancelaciones, total_due_calculado, diferencias]
Index: []

[0 rows x 32 columns]

In [21]:
settled_current_month_final.shape

(0, 32)

### CONCILIACION TPV

In [22]:
conc_1 = settled_current_month_final.groupby(['report_date_local']).agg({'total_transactions':sum,
                                                                         'total_fees_charged':sum,'total_taxes':sum,
                                                                         'applied_fees_benefits':sum,
                                                                         'applied_taxes_benefits':sum,'fee_direct_deposit':sum,
                                                                         'taxes_direct_deposit':sum,'total_adjustments':sum,
                                                                         'total_adjustment_fees_charged':sum,
                                                                         'total_adjustment_taxes':sum ,
                                                                         'cobranza':sum,'total_released':sum,
                                                                         'total_retained':sum,'cancelaciones':sum,
                                                                         'total_due_calculado':sum,'total_due':sum,
                                                                         'diferencias':sum}).reset_index()
conc_1['total_adjustments'] = conc_1['total_adjustments']*-1 
conc_1['total_adjustment_fees_charged'] = conc_1['total_adjustment_fees_charged']*-1
conc_1['total_adjustment_taxes'] = conc_1['total_adjustment_taxes']*-1 
conc_1.head()

C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_18156\263022504.py:1: FutureWarning: The provided callable <built-in function sum> is currently using SeriesGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  conc_1 = settled_current_month_final.groupby(['report_date_local']).agg({'total_transactions':sum,

Empty DataFrame
Columns: [report_date_local, total_transactions, total_fees_charged, total_taxes, applied_fees_benefits, applied_taxes_benefits, fee_direct_deposit, taxes_direct_deposit, total_adjustments, total_adjustment_fees_charged, total_adjustment_taxes, cobranza, total_released, total_retained, cancelaciones, total_due_calculado, total_due, diferencias]
Index: []

In [23]:
conc_1.shape

(0, 18)

In [24]:
conc_3 = settled_current_month_final.groupby(['report_date_local','type']).agg({'total_transactions':sum,
                                                                                'total_fees_charged':sum,'total_taxes':sum,
                                                                                'applied_fees_benefits':sum,
                                                                                'applied_taxes_benefits':sum,
                                                                                'fee_direct_deposit':sum,
                                                                                'taxes_direct_deposit':sum,
                                                                                'total_adjustments':sum,
                                                                                'total_adjustment_fees_charged':sum,
                                                                                'total_adjustment_taxes':sum ,
                                                                                'cobranza':sum,'total_released':sum,
                                                                                'total_retained':sum,'cancelaciones':sum,
                                                                                'total_due_calculado':sum,'total_due':sum,
                                                                                'diferencias':sum}).reset_index()
conc_3['total_adjustments'] = conc_3['total_adjustments']*-1 
conc_3['total_adjustment_fees_charged'] = conc_3['total_adjustment_fees_charged']*-1
conc_3['total_adjustment_taxes'] = conc_3['total_adjustment_taxes']*-1 
conc_3.head()

C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_18156\163913591.py:1: FutureWarning: The provided callable <built-in function sum> is currently using SeriesGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  conc_3 = settled_current_month_final.groupby(['report_date_local','type']).agg({'total_transactions':sum,
C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_18156\163913591.py:1: FutureWarning: The provided callable <built-in function sum> is currently using SeriesGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  conc_3 = settled_current_month_final.groupby(['report_date_local','type']).agg({'total_transactions':sum,

Empty DataFrame
Columns: [report_date_local, type, total_transactions, total_fees_charged, total_taxes, applied_fees_benefits, applied_taxes_benefits, fee_direct_deposit, taxes_direct_deposit, total_adjustments, total_adjustment_fees_charged, total_adjustment_taxes, cobranza, total_released, total_retained, cancelaciones, total_due_calculado, total_due, diferencias]
Index: []

In [25]:
conc_3.shape

(0, 19)

In [26]:
conc_3['type'].unique()

array([], dtype=object)

In [27]:
data_daily = conc_3[(conc_3['type'] == 'DAILY')]
data_daily.head()

Empty DataFrame
Columns: [report_date_local, type, total_transactions, total_fees_charged, total_taxes, applied_fees_benefits, applied_taxes_benefits, fee_direct_deposit, taxes_direct_deposit, total_adjustments, total_adjustment_fees_charged, total_adjustment_taxes, cobranza, total_released, total_retained, cancelaciones, total_due_calculado, total_due, diferencias]
Index: []

In [28]:
data_daily.shape

(0, 19)

In [29]:
data_instant = conc_3[(conc_3['type'] == 'INSTANT')]
data_instant.head()

Empty DataFrame
Columns: [report_date_local, type, total_transactions, total_fees_charged, total_taxes, applied_fees_benefits, applied_taxes_benefits, fee_direct_deposit, taxes_direct_deposit, total_adjustments, total_adjustment_fees_charged, total_adjustment_taxes, cobranza, total_released, total_retained, cancelaciones, total_due_calculado, total_due, diferencias]
Index: []

In [30]:
data_instant.shape

(0, 19)

### RELEASED SIN CLABE

In [31]:
released_sinclabe = settled_current_month[(settled_current_month['tipopago'] == 'sin CLABE')]
released_sinclabe.head()

Empty DataFrame
Columns: [merchant_id, merchant_name, user_email, report_id, report_date_local, total_transactions, total_fees_charged, total_taxes, applied_fees_benefits, applied_taxes_benefits, fee_direct_deposit, taxes_direct_deposit, total_adjustments, total_adjustment_fees_charged, total_adjustment_taxes, cobranza, total_released, total_retained, tipopago, total_due, type, created_date, created_time, updated_date, updated_time, file_name, Date_file, canc_1, canc_2, cancelaciones, total_due_calculado, diferencias]
Index: []

[0 rows x 32 columns]

In [32]:
released_sinclabe.shape

(0, 32)

In [33]:
released_1 = released_sinclabe.groupby(['report_date_local']).agg({'total_released':sum}).reset_index()
released_1.head()

C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_18156\2187439585.py:1: FutureWarning: The provided callable <built-in function sum> is currently using SeriesGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  released_1 = released_sinclabe.groupby(['report_date_local']).agg({'total_released':sum}).reset_index()

Empty DataFrame
Columns: [report_date_local, total_released]
Index: []

In [34]:
released_1.shape

(0, 2)

In [35]:
released_3 = released_sinclabe.groupby(['report_date_local','type']).agg({'total_released':sum}).reset_index()
released_3.head()

C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_18156\4291723621.py:1: FutureWarning: The provided callable <built-in function sum> is currently using SeriesGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  released_3 = released_sinclabe.groupby(['report_date_local','type']).agg({'total_released':sum}).reset_index()

Empty DataFrame
Columns: [report_date_local, type, total_released]
Index: []

In [36]:
released_3.shape

(0, 3)

In [37]:
released_3['type'].unique()

array([], dtype=object)

In [38]:
released_daily = released_3[(released_3['type'] == 'DAILY')]
released_daily.head()

Empty DataFrame
Columns: [report_date_local, type, total_released]
Index: []

In [39]:
released_daily.shape

(0, 3)

In [40]:
released_instant = released_3[(released_3['type'] == 'INSTANT')]
released_instant.head()

Empty DataFrame
Columns: [report_date_local, type, total_released]
Index: []

In [41]:
released_instant.shape

(0, 3)

# INFO CUPONES

In [42]:
allcupon_fact = glob.glob(r'C:\Users\Cristian.Aparicio\Documents\FACTURACION\2023\11. NOVIEMBRE\Cupones*.csv', recursive=False)
allcupon_fact

['C:\\Users\\Cristian.Aparicio\\Documents\\FACTURACION\\2023\\11. NOVIEMBRE\\Cupones_mm.csv']

In [43]:
cupon_current_month = pd.concat([pd.read_csv(f,dtype={'report_id':object})
                                 .assign(file_name=os.path.basename(f)) for f in allcupon_fact])
cupon_current_month.head()

,merchant_id,merchant_token,fee_refund_id,report_id,number_transactions,total_refunded,amount,pending,source,created_at,file_name
0,40dda9f3-518e-423f-8b04-1572ba44a0d7,fbafce7d-82d6-470f-b76a-151332042ddd,5ac1dd9f-221b-4943-bd46-ec4aa4ae749b,228LCKGVL,2,76.42,108.00,31.58,LOYALTY,2022-10-06 11:39:28,Cupones_mm.csv
1,a2760683-129f-4de4-98e3-7e7a08d44e30,95e02cc8-864b-4249-83c6-6a41b7d39b0f,f7acbad2-452a-4fca-a143-b790ca5df741,228TQD63W,1,1.67,108.00,106.33,LOYALTY,2022-11-30 10:43:51,Cupones_mm.csv
2,9f7384ad-a017-4e15-81f9-1a77eee62f5d,b4c82681-754a-4932-9d1e-11c116df2bb4,8ba3cd55-d8ac-46a8-939f-0fe124c2d08a,22BZKF2BX,2,141.40,292.00,150.60,LOYALTY,2021-11-13 11:05:44,Cupones_mm.csv
3,6856f295-75c8-4a35-8728-531630c3e0a2,5d5bff5a-e49a-4a09-95b0-0b6a19bfaf6f,31a3d5f0-b8b1-417d-83eb-03715535ebf9,22G2FKHG7,1,108.00,108.00,0.00,LOYALTY,2022-12-16 10:22:56,Cupones_mm.csv
4,738de109-77df-4182-9643-e436bb893a38,343c2a67-5c80-4779-8ede-c2e51ddd8436,0714eca4-db00-42a5-8208-c383324b096d,22R67MKYL,1,108.00,108.00,0.00,LOYALTY,2022-07-21 07:56:43,Cupones_mm.csv

In [44]:
cupon_current_month.shape

(2924, 11)

In [45]:
cupones_data = settled_current_month.merge(cupon_current_month[['report_id','total_refunded','pending','amount',
                                              'source']] ,on='report_id', how='left')
cupones_data['total_benefits'] = cupones_data['applied_fees_benefits'] + cupones_data['applied_taxes_benefits']
cupones_data.loc[(cupones_data['applied_fees_benefits'] != 0) & (cupones_data['source']!= 'LOYALTY'), 'source'] = 'TOP_UPS'
cupones_data.head()

Empty DataFrame
Columns: [merchant_id, merchant_name, user_email, report_date_local, total_transactions, total_fees_charged, total_taxes, applied_fees_benefits, applied_taxes_benefits, fee_direct_deposit, taxes_direct_deposit, total_adjustments, total_adjustment_fees_charged, total_adjustment_taxes, cobranza, total_released, total_retained, tipopago, total_due, type, created_date, created_time, updated_date, updated_time, file_name, Date_file, canc_1, canc_2, cancelaciones, total_due_calculado, diferencias, report_id, total_refunded, pending, amount, source, total_benefits]
Index: []

[0 rows x 37 columns]

In [46]:
cupones_data['source'].unique()

array([], dtype=object)

In [47]:
cupones_data.shape

(0, 37)

### TOPUPS

In [48]:
topups_benefits = cupones_data[(cupones_data['source'] == 'TOP_UPS')]
topups_benefits.head()

Empty DataFrame
Columns: [merchant_id, merchant_name, user_email, report_date_local, total_transactions, total_fees_charged, total_taxes, applied_fees_benefits, applied_taxes_benefits, fee_direct_deposit, taxes_direct_deposit, total_adjustments, total_adjustment_fees_charged, total_adjustment_taxes, cobranza, total_released, total_retained, tipopago, total_due, type, created_date, created_time, updated_date, updated_time, file_name, Date_file, canc_1, canc_2, cancelaciones, total_due_calculado, diferencias, report_id, total_refunded, pending, amount, source, total_benefits]
Index: []

[0 rows x 37 columns]

In [49]:
topups_benefits.shape

(0, 37)

In [50]:
pivot_topups_benefits = pd.pivot_table(topups_benefits,index=['report_date_local'],values=['applied_fees_benefits',
                                                                                        'applied_taxes_benefits'],
                                       aggfunc=np.sum,margins=False).reset_index()
pivot_topups_benefits.rename(columns ={'applied_fees_benefits':'applied_fees_benefits_topups',
                                      'applied_taxes_benefits':'applied_taxes_benefits_topups'},inplace=True)
pivot_topups_benefits.head()

C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_18156\1333910541.py:1: FutureWarning: The provided callable <function sum at 0x00000274AA75F1F0> is currently using DataFrameGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  pivot_topups_benefits = pd.pivot_table(topups_benefits,index=['report_date_local'],values=['applied_fees_benefits',

Empty DataFrame
Columns: [report_date_local]
Index: []

In [51]:
pivot_topups_benefits.shape

(0, 1)

### CUPONES

In [52]:
coupons_benefits = cupones_data[(cupones_data['source'] == 'LOYALTY')]
coupons_benefits.head()

Empty DataFrame
Columns: [merchant_id, merchant_name, user_email, report_date_local, total_transactions, total_fees_charged, total_taxes, applied_fees_benefits, applied_taxes_benefits, fee_direct_deposit, taxes_direct_deposit, total_adjustments, total_adjustment_fees_charged, total_adjustment_taxes, cobranza, total_released, total_retained, tipopago, total_due, type, created_date, created_time, updated_date, updated_time, file_name, Date_file, canc_1, canc_2, cancelaciones, total_due_calculado, diferencias, report_id, total_refunded, pending, amount, source, total_benefits]
Index: []

[0 rows x 37 columns]

In [53]:
coupons_benefits.shape

(0, 37)

In [54]:
pivot_coupons_benefits = pd.pivot_table(coupons_benefits,index=['report_date_local'],values=['applied_fees_benefits',
                                                                                        'applied_taxes_benefits'],
                                       aggfunc=np.sum,margins=False).reset_index()
pivot_coupons_benefits.rename(columns ={'applied_fees_benefits':'applied_fees_benefits_coupons',
                                      'applied_taxes_benefits':'applied_taxes_benefits_coupons'},inplace=True)
pivot_coupons_benefits.head()

C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_18156\935166532.py:1: FutureWarning: The provided callable <function sum at 0x00000274AA75F1F0> is currently using DataFrameGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  pivot_coupons_benefits = pd.pivot_table(coupons_benefits,index=['report_date_local'],values=['applied_fees_benefits',

Empty DataFrame
Columns: [report_date_local]
Index: []

In [55]:
pivot_coupons_benefits.shape

(0, 1)

# EXCEL FINAL

In [56]:
writer = pd.ExcelWriter('FASE I. DATA POLIZA NOVIEMBRE 2023.xlsx',
                        engine='xlsxwriter',
                        engine_kwargs={'options': {'encoding':'utf-8'}})
conc_1.to_excel(writer, sheet_name='MONTOS REPORT_DATE',index=False)
data_daily.to_excel(writer, sheet_name='MONTOS_DAILY',index=False)
data_instant.to_excel(writer, sheet_name='MONTOS_INSTANT',index=False)
pivot_topups_benefits.to_excel(writer, sheet_name='TOPUPS',index=False)
pivot_coupons_benefits.to_excel(writer, sheet_name='COUPONS',index=False)
released_1.to_excel(writer, sheet_name='RELEASED REPORT_DATE',index=False)
released_daily.to_excel(writer, sheet_name='RELEASED_DAILY',index=False)
released_instant.to_excel(writer, sheet_name='RELEASED_INSTANT',index=False)
writer.close()