In [1]:
import pandas as pd
import numpy as np
from openpyxl import load_workbook
import glob
import os
import datetime
pd.options.display.float_format = '{:,.2f}'.format
datetime.timedelta(days=1)
datetime.timedelta(1)

datetime.timedelta(days=1)

In [2]:
allfiles_adj = glob.glob(r'C:\Users\Cristian.Aparicio\Documents\POLIZAS\2023\05. MAYO\DATA\ADJ*.csv', recursive=False)
allfiles_adj

['C:\\Users\\Cristian.Aparicio\\Documents\\POLIZAS\\2023\\05. MAYO\\DATA\\ADJUSTMENTS MAYO 2023.csv']

In [3]:
allfiles_ret = glob.glob(r'C:\Users\Cristian.Aparicio\Documents\POLIZAS\2023\05. MAYO\DATA\RET*.csv', recursive=False)
allfiles_ret

['C:\\Users\\Cristian.Aparicio\\Documents\\POLIZAS\\2023\\05. MAYO\\DATA\\RETENCIONES MAYO 2023.csv']

In [4]:
allfiles_lib = glob.glob(r'C:\Users\Cristian.Aparicio\Documents\POLIZAS\2023\05. MAYO\DATA\LIB*.csv', recursive=False)
allfiles_lib

['C:\\Users\\Cristian.Aparicio\\Documents\\POLIZAS\\2023\\05. MAYO\\DATA\\LIBERACIONES MAYO 2023.csv']

In [5]:
allfiles_com = sorted(glob.glob(r'G:\.shortcut-targets-by-id\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\3.-Settlement\5.-HISTORICO FILES PAGOS\01. TRADICIONAL\2023\05. MAY\MONTOS EMAIL\*.csv', recursive=False))
allfiles_com

['G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\05. MAY\\MONTOS EMAIL\\DIFF MONTOS-BNTE-1 2023-05-01.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\05. MAY\\MONTOS EMAIL\\DIFF MONTOS-BNTE-1 2023-05-06.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\05. MAY\\MONTOS EMAIL\\DIFF MONTOS-BNTE-1 2023-05-07.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\05. MAY\\MONTOS EMAIL\\DIFF MONTOS-BNTE-1 2023-05-13.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\05. MAY\\MONTOS EMAIL\\DIFF MONTOS-BNTE-1 2023-05-14.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\05. MAY\\MONTOS EMAIL\\DIFF MONTOS-BNTE-1 2023-05-20.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\05. MAY\\MONTOS EMAIL\\DIFF MONTOS-BNTE-1 2023-05-21.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\05. MAY\\MONTOS EMAIL\\DIFF MONTOS-BNTE-1 2023-05-27.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\05. MAY\\MONTOS EMAIL\\DIFF MONTOS-BNTE-1 2023-05-28.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\05. MAY\\MONTOS EMAIL\\DIFF MONTOS-BNTE-2 2023-05-01.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\05. MAY\\MONTOS EMAIL\\DIFF MONTOS-BNTE-2 2023-05-02.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\05. MAY\\MONTOS EMAIL\\DIFF MONTOS-BNTE-2 2023-05-06.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\05. MAY\\MONTOS EMAIL\\DIFF MONTOS-BNTE-2 2023-05-07.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\05. MAY\\MONTOS EMAIL\\DIFF MONTOS-BNTE-2 2023-05-08.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\05. MAY\\MONTOS EMAIL\\DIFF MONTOS-BNTE-2 2023-05-13.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\05. MAY\\MONTOS EMAIL\\DIFF MONTOS-BNTE-2 2023-05-14.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\05. MAY\\MONTOS EMAIL\\DIFF MONTOS-BNTE-2 2023-05-15.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\05. MAY\\MONTOS EMAIL\\DIFF MONTOS-BNTE-2 2023-05-20.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\05. MAY\\MONTOS EMAIL\\DIFF MONTOS-BNTE-2 2023-05-21.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\05. MAY\\MONTOS EMAIL\\DIFF MONTOS-BNTE-2 2023-05-22.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\05. MAY\\MONTOS EMAIL\\DIFF MONTOS-BNTE-2 2023-05-23.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\05. MAY\\MONTOS EMAIL\\DIFF MONTOS-BNTE-2 2023-05-24.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\05. MAY\\MONTOS EMAIL\\DIFF MONTOS-BNTE-2 2023-05-25.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\05. MAY\\MONTOS EMAIL\\DIFF MONTOS-BNTE-2 2023-05-27.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\05. MAY\\MONTOS EMAIL\\DIFF MONTOS-BNTE-2 2023-05-28.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\05. MAY\\MONTOS EMAIL\\DIFF MONTOS-BNTE-2 2023-05-29.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\05. MAY\\MONTOS EMAIL\\DIFF MONTOS-BNTE-2 2023-05-30.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\05. MAY\\MONTOS EMAIL\\DIFF MONTOS-BNTE-3 2023-05-03.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\05. MAY\\MONTOS EMAIL\\DIFF MONTOS-BNTE-3 2023-05-04.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\05. MAY\\MONTOS EMAIL\\DIFF MONTOS-BNTE-3 2023-05-05.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\05. MAY\\MONTOS EMAIL\\DIFF MONTOS-BNTE-3 2023-05-09.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\05. MAY\\MONTOS EMAIL\\DIFF MONTOS-BNTE-3 2023-05-10.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\05. MAY\\MONTOS EMAIL\\DIFF MONTOS-BNTE-3 2023-05-12.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\05. MAY\\MONTOS EMAIL\\DIFF MONTOS-BNTE-3 2023-05-16.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\05. MAY\\MONTOS EMAIL\\DIFF MONTOS-BNTE-3 2023-05-17.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\05. MAY\\MONTOS EMAIL\\DIFF MONTOS-BNTE-3 2023-05-18.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\05. MAY\\MONTOS EMAIL\\DIFF MONTOS-BNTE-3 2023-05-19.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\05. MAY\\MONTOS EMAIL\\DIFF MONTOS-BNTE-3 2023-05-26.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\05. MAY\\MONTOS EMAIL\\DIFF MONTOS-BNTE-3 2023-05-31.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\05. MAY\\MONTOS EMAIL\\DIFF MONTOS-SANT-1 2023-05-02.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\05. MAY\\MONTOS EMAIL\\DIFF MONTOS-SANT-1 2023-05-03.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\05. MAY\\MONTOS EMAIL\\DIFF MONTOS-SANT-1 2023-05-04.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\05. MAY\\MONTOS EMAIL\\DIFF MONTOS-SANT-1 2023-05-05.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\05. MAY\\MONTOS EMAIL\\DIFF MONTOS-SANT-1 2023-05-08.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\05. MAY\\MONTOS EMAIL\\DIFF MONTOS-SANT-1 2023-05-09.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\05. MAY\\MONTOS EMAIL\\DIFF MONTOS-SANT-1 2023-05-10.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\05. MAY\\MONTOS EMAIL\\DIFF MONTOS-SANT-1 2023-05-11.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\05. MAY\\MONTOS EMAIL\\DIFF MONTOS-SANT-1 2023-05-12.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\05. MAY\\MONTOS EMAIL\\DIFF MONTOS-SANT-1 2023-05-15.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\05. MAY\\MONTOS EMAIL\\DIFF MONTOS-SANT-1 2023-05-16.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\05. MAY\\MONTOS EMAIL\\DIFF MONTOS-SANT-1 2023-05-17.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\05. MAY\\MONTOS EMAIL\\DIFF MONTOS-SANT-1 2023-05-18.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\05. MAY\\MONTOS EMAIL\\DIFF MONTOS-SANT-1 2023-05-19.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\05. MAY\\MONTOS EMAIL\\DIFF MONTOS-SANT-1 2023-05-22.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\05. MAY\\MONTOS EMAIL\\DIFF MONTOS-SANT-1 2023-05-23.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\05. MAY\\MONTOS EMAIL\\DIFF MONTOS-SANT-1 2023-05-24.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\05. MAY\\MONTOS EMAIL\\DIFF MONTOS-SANT-1 2023-05-25.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\05. MAY\\MONTOS EMAIL\\DIFF MONTOS-SANT-1 2023-05-26.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\05. MAY\\MONTOS EMAIL\\DIFF MONTOS-SANT-1 2023-05-29.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\05. MAY\\MONTOS EMAIL\\DIFF MONTOS-SANT-1 2023-05-30.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\05. MAY\\MONTOS EMAIL\\DIFF MONTOS-SANT-1 2023-05-31.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\05. MAY\\MONTOS EMAIL\\DIFF MONTOS-SANT-2 2023-05-03.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\05. MAY\\MONTOS EMAIL\\DIFF MONTOS-SANT-2 2023-05-04.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\05. MAY\\MONTOS EMAIL\\DIFF MONTOS-SANT-2 2023-05-05.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\05. MAY\\MONTOS EMAIL\\DIFF MONTOS-SANT-2 2023-05-09.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\05. MAY\\MONTOS EMAIL\\DIFF MONTOS-SANT-2 2023-05-10.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\05. MAY\\MONTOS EMAIL\\DIFF MONTOS-SANT-2 2023-05-12.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\05. MAY\\MONTOS EMAIL\\DIFF MONTOS-SANT-2 2023-05-16.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\05. MAY\\MONTOS EMAIL\\DIFF MONTOS-SANT-2 2023-05-17.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\05. MAY\\MONTOS EMAIL\\DIFF MONTOS-SANT-2 2023-05-18.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\05. MAY\\MONTOS EMAIL\\DIFF MONTOS-SANT-2 2023-05-19.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\05. MAY\\MONTOS EMAIL\\DIFF MONTOS-SANT-2 2023-05-26.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\05. MAY\\MONTOS EMAIL\\DIFF MONTOS-SANT-2 2023-05-31.csv']

In [6]:
allfiles_lender = glob.glob(r'G:\My Drive\RESPALDO-PC\LENDERS\2023\DB\LEN*.csv', recursive=False)
allfiles_lender

['G:\\My Drive\\RESPALDO-PC\\LENDERS\\2023\\DB\\LENDERS DB ENERO 2023.csv',
 'G:\\My Drive\\RESPALDO-PC\\LENDERS\\2023\\DB\\LENDERS DB FEBRERO 2023.csv',
 'G:\\My Drive\\RESPALDO-PC\\LENDERS\\2023\\DB\\LENDERS DB MARZO 2023.csv',
 'G:\\My Drive\\RESPALDO-PC\\LENDERS\\2023\\DB\\LENDERS DB ABRIL 2023.csv',
 'G:\\My Drive\\RESPALDO-PC\\LENDERS\\2023\\DB\\LENDERS DB MAYO 2023.csv']

In [7]:
start_date = '2023-05-01'
final_date = '2023-05-31'

# ADJUSTMENTS

In [8]:
adj_1 = pd.concat([pd.read_csv(f).assign(file_name=os.path.basename(f)) for f in allfiles_adj])
adj_1.head()

,report_id,report_date_local,adjustment_date_local,adjustment_type,adjustment_amount,fees_charged,taxes,amount_due,type,date,file_name
0,NLKYXP39J,2023-05-01,2023-05-01,LOAN,-1.22,0.00,0.00,-1.22,DAILY,2023-05-01,ADJUSTMENTS MAYO 2023.csv
1,FW7FTZ4NZ,2023-05-01,2023-05-01,LOAN,-4.02,0.00,0.00,-4.02,DAILY,2023-05-01,ADJUSTMENTS MAYO 2023.csv
2,NCDVLQS6T,2023-05-01,2023-05-01,LOAN,-0.20,0.00,0.00,-0.20,DAILY,2023-05-01,ADJUSTMENTS MAYO 2023.csv
3,KQM7GHR6W,2023-05-01,2023-05-01,LOAN,-0.36,0.00,0.00,-0.36,DAILY,2023-05-01,ADJUSTMENTS MAYO 2023.csv
4,JYZW4NLSV,2023-05-01,2023-05-01,LOAN,-3.20,0.00,0.00,-3.20,DAILY,2023-05-01,ADJUSTMENTS MAYO 2023.csv

In [9]:
adj_1.shape

(248, 11)

### CURRENT DATES

In [10]:
adj_current_month = adj_1[(adj_1['date'] >= start_date) & (adj_1['date'] <= final_date)]
adj_current_month.head()

,report_id,report_date_local,adjustment_date_local,adjustment_type,adjustment_amount,fees_charged,taxes,amount_due,type,date,file_name
0,NLKYXP39J,2023-05-01,2023-05-01,LOAN,-1.22,0.00,0.00,-1.22,DAILY,2023-05-01,ADJUSTMENTS MAYO 2023.csv
1,FW7FTZ4NZ,2023-05-01,2023-05-01,LOAN,-4.02,0.00,0.00,-4.02,DAILY,2023-05-01,ADJUSTMENTS MAYO 2023.csv
2,NCDVLQS6T,2023-05-01,2023-05-01,LOAN,-0.20,0.00,0.00,-0.20,DAILY,2023-05-01,ADJUSTMENTS MAYO 2023.csv
3,KQM7GHR6W,2023-05-01,2023-05-01,LOAN,-0.36,0.00,0.00,-0.36,DAILY,2023-05-01,ADJUSTMENTS MAYO 2023.csv
4,JYZW4NLSV,2023-05-01,2023-05-01,LOAN,-3.20,0.00,0.00,-3.20,DAILY,2023-05-01,ADJUSTMENTS MAYO 2023.csv

In [11]:
adj_current_month.shape

(248, 11)

### PIVOT

In [12]:
adj_pivot = adj_current_month.groupby(['type','adjustment_type','date']).agg({'adjustment_amount':sum
                                                                                ,'fees_charged':sum 
                                                                                ,'taxes':sum
                                                                                ,'amount_due':sum}).reset_index()
adj_pivot['adjustment_amount'] = adj_pivot['adjustment_amount']*-1 
adj_pivot['fees_charged'] = adj_pivot['fees_charged']*-1
adj_pivot['taxes'] = adj_pivot['taxes']*-1 
adj_pivot['amount_due'] = adj_pivot['amount_due']*-1 
adj_pivot.head()

,type,adjustment_type,date,adjustment_amount,fees_charged,taxes,amount_due
0,DAILY,LOAN,2023-05-01,35.98,-0.00,-0.00,35.98
1,DAILY,LOAN,2023-05-02,26.88,-0.00,-0.00,26.88
2,DAILY,LOAN,2023-05-03,53.13,-0.00,-0.00,53.13
3,DAILY,LOAN,2023-05-04,34.96,-0.00,-0.00,34.96
4,DAILY,LOAN,2023-05-05,41.44,-0.00,-0.00,41.44

In [13]:
adj_pivot_v2 = pd.pivot_table(adj_current_month,index=['type','date']
                              ,columns=['adjustment_type']
                              ,values=['adjustment_amount','fees_charged','taxes','amount_due']
                              ,aggfunc=np.sum,margins=True)
adj_pivot_v2.head()

                 adjustment_amount        amount_due        fees_charged       \
adjustment_type               LOAN    All       LOAN    All         LOAN  All
type  date
DAILY 2023-05-01            -35.98 -35.98     -35.98 -35.98         0.00 0.00
      2023-05-02            -26.88 -26.88     -26.88 -26.88         0.00 0.00
      2023-05-03            -53.13 -53.13     -53.13 -53.13         0.00 0.00
      2023-05-04            -34.96 -34.96     -34.96 -34.96         0.00 0.00
      2023-05-05            -41.44 -41.44     -41.44 -41.44         0.00 0.00

                 taxes
adjustment_type   LOAN  All
type  date
DAILY 2023-05-01  0.00 0.00
      2023-05-02  0.00 0.00
      2023-05-03  0.00 0.00
      2023-05-04  0.00 0.00
      2023-05-05  0.00 0.00

# LIBERACIONES

In [14]:
lib_1 = pd.concat([pd.read_csv(f).assign(file_name=os.path.basename(f)) for f in allfiles_lib])
lib_1.head()

,date_release,report_date_local,retained_date_local,report_id,entry_type,amount,type,file_name
0,2023-05-01,2023-05-01,2022-12-30,2HQRTTZR9,LIEN,499.24,DAILY,LIBERACIONES MAYO 2023.csv
1,2023-05-01,2023-05-01,2022-12-30,LNST3CJB9,LIEN,"4,311.13",DAILY,LIBERACIONES MAYO 2023.csv
2,2023-05-01,2023-05-01,2022-12-31,TJB3HCK2Q,LIEN,"43,599.92",DAILY,LIBERACIONES MAYO 2023.csv
3,2023-05-01,2023-05-01,2022-12-30,XTSKS782G,LIEN,"7,061.28",DAILY,LIBERACIONES MAYO 2023.csv
4,2023-05-01,2023-05-01,2022-12-30,SW9QNQ2MP,LIEN,"23,956.00",DAILY,LIBERACIONES MAYO 2023.csv

### CURRENT DATES

In [15]:
lib_current_month = lib_1[(lib_1['report_date_local'] >= start_date) & (lib_1['report_date_local'] <= final_date)]
lib_current_month.head()

,date_release,report_date_local,retained_date_local,report_id,entry_type,amount,type,file_name
0,2023-05-01,2023-05-01,2022-12-30,2HQRTTZR9,LIEN,499.24,DAILY,LIBERACIONES MAYO 2023.csv
1,2023-05-01,2023-05-01,2022-12-30,LNST3CJB9,LIEN,"4,311.13",DAILY,LIBERACIONES MAYO 2023.csv
2,2023-05-01,2023-05-01,2022-12-31,TJB3HCK2Q,LIEN,"43,599.92",DAILY,LIBERACIONES MAYO 2023.csv
3,2023-05-01,2023-05-01,2022-12-30,XTSKS782G,LIEN,"7,061.28",DAILY,LIBERACIONES MAYO 2023.csv
4,2023-05-01,2023-05-01,2022-12-30,SW9QNQ2MP,LIEN,"23,956.00",DAILY,LIBERACIONES MAYO 2023.csv

In [16]:
lib_current_month.shape

(268, 8)

### PIVOT

In [17]:
lib_pivot = lib_current_month.groupby(['type','entry_type','report_date_local']).agg({'amount':sum}).reset_index()
lib_pivot.head()

    type entry_type report_date_local     amount
0  DAILY       LIEN        2023-05-01  79,427.57
1  DAILY       LIEN        2023-05-02  69,081.44
2  DAILY       LIEN        2023-05-03  74,009.69
3  DAILY       LIEN        2023-05-04  84,832.99
4  DAILY       LIEN        2023-05-05 194,109.54

In [18]:
lib_pivot.shape

(31, 4)

In [19]:
lib_pivot_v2 = pd.pivot_table(lib_current_month,index=['type','report_date_local']
                              ,columns=['entry_type']
                              ,values=['amount']
                              ,aggfunc=np.sum,margins=True)
lib_pivot_v2.head()

                            amount
entry_type                    LIEN        All
type  report_date_local
DAILY 2023-05-01         79,427.57  79,427.57
      2023-05-02         69,081.44  69,081.44
      2023-05-03         74,009.69  74,009.69
      2023-05-04         84,832.99  84,832.99
      2023-05-05        194,109.54 194,109.54

In [20]:
lib_pivot_v2.shape

(32, 2)

# RETENCIONES

In [21]:
ret_1 = pd.concat([pd.read_csv(f).assign(file_name=os.path.basename(f)) for f in allfiles_ret])
ret_1.head()

Empty DataFrame
Columns: [date_retainment, report_date_local, report_id, entry_type, amount, type, file_name]
Index: []

### CURRENT DATES

In [22]:
ret_current_month = ret_1[(ret_1['report_date_local'] >= start_date) & (ret_1['report_date_local'] <= final_date)]
ret_current_month.head()

Empty DataFrame
Columns: [date_retainment, report_date_local, report_id, entry_type, amount, type, file_name]
Index: []

In [23]:
ret_current_month.shape

(0, 7)

### PIVOT

In [24]:
ret_pivot = ret_current_month.groupby(['type','entry_type','report_date_local']).agg({'amount':sum}).reset_index()
ret_pivot.head()

Empty DataFrame
Columns: [type, entry_type, report_date_local, amount]
Index: []

In [25]:
ret_pivot.shape

(0, 4)

In [26]:
ret_pivot_v2 = pd.pivot_table(ret_current_month,index=['type','report_date_local']
                              ,columns=['entry_type']
                              ,values=['amount']
                              ,aggfunc=np.sum,margins=True)
ret_pivot_v2.head()

ValueError: No objects to concatenate

In [ ]:
ret_pivot_v2.shape

# COMISIONES SWAP / BNTE

In [27]:
com_1 = pd.concat([pd.read_csv(f).assign(file_name=os.path.basename(f)) for f in allfiles_com])
com_1.head()

,date_disbursement,amount,payments_number,comision_dsp,iva_dsp,comision + iva,total_fondeo,monto_mail,comision_mail,iva_mail,monto_fondeo_mail,check_monto,check_comision,check_iva,check_fondeo,dsp,file_name
0,2023-05-01,"230,585,913.41",81315,"141,886.50","22,701.84","164,588.34","230,750,501.75","230,585,913.41","141,886.50","22,701.84","230,750,501.75",0.00,0.00,0.00,0.00,BNTE,DIFF MONTOS-BNTE-1 2023-05-01.csv
0,2023-05-06,"211,893,977.16",94680,"164,674.50","26,347.92","191,022.42","212,084,999.58","211,893,977.16","164,674.50","26,347.92","212,084,999.58",0.00,0.00,0.00,-0.00,BNTE,DIFF MONTOS-BNTE-1 2023-05-06.csv
0,2023-05-07,"226,444,982.25",94707,"164,834.10","26,373.46","191,207.56","226,636,189.81","226,444,982.25","164,834.10","26,373.46","226,636,189.81",0.00,0.00,-0.00,-0.00,BNTE,DIFF MONTOS-BNTE-1 2023-05-07.csv
0,2023-05-13,"203,156,366.64",95000,"165,165.00","26,426.40","191,591.40","203,347,958.04","203,156,366.64","165,165.00","26,426.40","203,347,958.04",0.00,0.00,0.00,0.00,BNTE,DIFF MONTOS-BNTE-1 2023-05-13.csv
0,2023-05-14,"232,789,716.32",94720,"164,793.75","26,367.00","191,160.75","232,980,877.07","232,789,716.32","164,793.75","26,367.00","232,980,877.07",0.00,0.00,0.00,0.00,BNTE,DIFF MONTOS-BNTE-1 2023-05-14.csv

In [28]:
com_1.shape

(73, 17)

### CURRENT DATES

In [29]:
com_current_month = com_1[(com_1['date_disbursement'] >= start_date) & (com_1['date_disbursement'] <= final_date)]
com_current_month.head()

,date_disbursement,amount,payments_number,comision_dsp,iva_dsp,comision + iva,total_fondeo,monto_mail,comision_mail,iva_mail,monto_fondeo_mail,check_monto,check_comision,check_iva,check_fondeo,dsp,file_name
0,2023-05-01,"230,585,913.41",81315,"141,886.50","22,701.84","164,588.34","230,750,501.75","230,585,913.41","141,886.50","22,701.84","230,750,501.75",0.00,0.00,0.00,0.00,BNTE,DIFF MONTOS-BNTE-1 2023-05-01.csv
0,2023-05-06,"211,893,977.16",94680,"164,674.50","26,347.92","191,022.42","212,084,999.58","211,893,977.16","164,674.50","26,347.92","212,084,999.58",0.00,0.00,0.00,-0.00,BNTE,DIFF MONTOS-BNTE-1 2023-05-06.csv
0,2023-05-07,"226,444,982.25",94707,"164,834.10","26,373.46","191,207.56","226,636,189.81","226,444,982.25","164,834.10","26,373.46","226,636,189.81",0.00,0.00,-0.00,-0.00,BNTE,DIFF MONTOS-BNTE-1 2023-05-07.csv
0,2023-05-13,"203,156,366.64",95000,"165,165.00","26,426.40","191,591.40","203,347,958.04","203,156,366.64","165,165.00","26,426.40","203,347,958.04",0.00,0.00,0.00,0.00,BNTE,DIFF MONTOS-BNTE-1 2023-05-13.csv
0,2023-05-14,"232,789,716.32",94720,"164,793.75","26,367.00","191,160.75","232,980,877.07","232,789,716.32","164,793.75","26,367.00","232,980,877.07",0.00,0.00,0.00,0.00,BNTE,DIFF MONTOS-BNTE-1 2023-05-14.csv

In [30]:
com_current_month.shape

(73, 17)

In [31]:
com_current_month.columns

Index(['date_disbursement', 'amount', 'payments_number', 'comision_dsp',
       'iva_dsp', 'comision + iva', 'total_fondeo', 'monto_mail',
       'comision_mail', 'iva_mail', 'monto_fondeo_mail', 'check_monto',
       'check_comision', 'check_iva', 'check_fondeo', 'dsp', 'file_name'],
      dtype='object')

In [32]:
com_final = com_current_month.groupby(['date_disbursement']).agg({'payments_number':sum,'amount':sum,'comision_dsp':sum,
                                                                  'iva_dsp':sum,'comision + iva':sum,'total_fondeo':sum,
                                                                 'monto_mail':sum,'comision_mail':sum,'iva_mail':sum,
                                                                 'monto_fondeo_mail':sum,'check_monto':sum,'check_comision':sum,
                                                                 'check_iva':sum,'check_fondeo':sum}).reset_index()
com_final.head()

,date_disbursement,payments_number,amount,comision_dsp,iva_dsp,comision + iva,total_fondeo,monto_mail,comision_mail,iva_mail,monto_fondeo_mail,check_monto,check_comision,check_iva,check_fondeo
0,2023-05-01,81366,"230,716,415.62","141,978.30","22,716.53","164,694.83","230,881,110.45","230,716,415.62","141,978.30","22,716.53","230,881,110.45",0.00,0.00,-0.00,-0.00
1,2023-05-02,77319,"169,828,564.81","38,709.85","6,193.58","44,903.43","169,873,468.24","169,828,564.81","38,709.85","6,193.58","169,873,468.24",0.00,0.00,-0.00,-0.00
2,2023-05-03,100089,"196,610,270.15","50,075.70","8,012.11","58,087.81","196,668,357.96","196,610,270.15","50,075.70","8,012.11","196,668,357.96",0.00,0.00,0.00,0.00
3,2023-05-04,100659,"194,263,474.41","50,408.20","8,065.31","58,473.51","194,321,947.92","194,263,474.41","50,408.20","8,065.31","194,321,947.92",0.00,0.00,0.00,0.00
4,2023-05-05,105052,"212,285,773.95","52,535.10","8,405.62","60,940.72","212,346,714.67","212,285,773.95","52,535.10","8,405.62","212,346,714.67",0.00,0.00,-0.00,-0.00

# LENDERS

In [33]:
lender_1 = pd.concat([pd.read_csv(f).assign(file_name=os.path.basename(f)) for f in allfiles_lender])
lender_1.columns = lender_1.columns.str.strip().str.lower() 
lender_1.head()

,collection_date_local,merchant_token,merchant_id,loan_id,provider_code,collection_origin,source,amount,capital,interest,tax,file_name
0,2023-01-01,d8d8f9b2-0585-48e0-8d1f-e3bbf4766fbe,30a435af-3c57-4063-bf36-735f5731b179,df0ca1c8-0193-426c-8a32-c164b5ca715e,MRP,SETTLEMENT,LEDGER,23.05,16.60,6.45,0.00,LENDERS DB ENERO 2023.csv
1,2023-01-01,c4bad384-1718-4f7f-980e-910738bf4c79,0ace4fbe-6ab7-4e7f-a6b0-2a1bb8d6171a,45e17b07-8134-4e21-8aa8-2f90b4df9f37,CTO,SETTLEMENT,LEDGER,18.66,12.74,5.10,0.82,LENDERS DB ENERO 2023.csv
2,2023-01-01,1592f594-8416-447e-a316-ffc57ea7596f,0614af35-a0b4-4774-ae6f-4eef4238b915,2df0924e-4f58-46c5-8ec1-32a1beec4d49,MRP,SETTLEMENT,LEDGER,98.65,71.03,27.62,0.00,LENDERS DB ENERO 2023.csv
3,2023-01-01,fa8ee41a-394c-4506-b450-9f8a048a3cfc,789ef894-8d9d-48cb-a20a-0860a44d4a1e,935289b5-6689-4a98-af7f-d91e1a399533,MRP,SETTLEMENT,LEDGER,55.43,41.57,13.86,0.00,LENDERS DB ENERO 2023.csv
4,2023-01-01,41d8b68d-d496-48bd-9d2e-d3bfe8a4628e,5fab90f8-faf0-48a8-9065-e67b2cde2abe,d4ee526d-2a99-406b-95d3-309ee8d7f84b,MRP,SETTLEMENT,LEDGER,16.44,13.48,2.96,0.00,LENDERS DB ENERO 2023.csv

In [34]:
lender_1.shape

(2829249, 12)

In [35]:
lender_1['source'].unique()

array(['LEDGER', 'REGULAR', 'FAST_PAYMENT'], dtype=object)

### CURRENT DATES

In [36]:
lender_current_month = lender_1[(lender_1['collection_date_local'] >= start_date) &
                                (lender_1['collection_date_local'] <= final_date)]
lender_current_month.head()

,collection_date_local,merchant_token,merchant_id,loan_id,provider_code,collection_origin,source,amount,capital,interest,tax,file_name
0,2023-05-01,0a91672a-a43a-4f0b-8775-d0ff1f1b908d,44fba00b-19f7-4063-9a07-d40594259183,f3562f75-f8fe-4a95-bc9f-00b192e233bf,MRP,SETTLEMENT,LEDGER,77.04,65.90,9.60,1.54,LENDERS DB MAYO 2023.csv
1,2023-05-01,b75130a4-350b-4478-9842-8a07acf4f746,ec257ba3-3dcd-4298-ac7f-8033657e31ee,7ed62b0c-0e0b-48a9-8997-137fddadcf0f,MRP,SETTLEMENT,LEDGER,48.13,36.10,12.03,0.00,LENDERS DB MAYO 2023.csv
2,2023-05-01,84078b2f-bd92-4278-814b-402df1114dff,0e6ce766-7779-4eaa-af05-ad8688277464,61824e58-439c-4e77-a48a-0fe56e0c704f,MRP,SETTLEMENT,LEDGER,75.99,62.90,11.28,1.81,LENDERS DB MAYO 2023.csv
3,2023-05-01,c4b3aa2d-f17a-453a-a179-ec4a75baf1c8,20a730e3-02ee-4d3e-9838-2ed815232963,df2b3af0-581f-4bde-a5f2-d2af67507c82,MRP,SETTLEMENT,LEDGER,287.47,205.03,71.07,11.37,LENDERS DB MAYO 2023.csv
4,2023-05-01,a2319744-0304-407a-bb20-48d0613174d4,35f0a0bf-a295-421c-9b70-153af7244541,e554af63-b467-4aa2-91fd-dea8faa1ecbd,MRP,SETTLEMENT,LEDGER,6.44,5.33,0.96,0.15,LENDERS DB MAYO 2023.csv

In [37]:
lender_current_month.shape

(861411, 12)

In [38]:
lender_current_month['provider_code'].unique()

array(['MRP', 'R2', 'CTO', 'AVL', 'APH'], dtype=object)

### PIVOT CLIP

In [39]:
lender_clip = lender_current_month[(lender_current_month['provider_code'] == 'CLIP')]

In [40]:
# lender_pivot_clip_1 = lender_clip.groupby(['Creation Date','Date']).agg({'Collected today':sum,'Capital today':sum
#                                                                        ,'Interests today':sum,'IVA Interests today':sum
#                                                                        ,'Overdue Interest today':sum,'Total today':sum
#                                                                        ,'CLIP Revenue today':sum}).reset_index()
# lender_pivot_clip_1.head()

In [41]:
# lender_pivot_clip_1.shape

In [42]:
lender_pivot_clip_2 = lender_clip.groupby(['collection_date_local']).agg({'amount':sum,'capital':sum,'interest':sum
                                                 ,'tax':sum}).reset_index()
lender_pivot_clip_2.head()

Empty DataFrame
Columns: [collection_date_local, amount, capital, interest, tax]
Index: []

In [43]:
lender_pivot_clip_2.shape

(0, 5)

### PIVOT OTHERS

In [44]:
lender_others = lender_current_month[(lender_current_month['provider_code'] != 'CLIP')]

In [45]:
lender_pivot_others = lender_others.groupby(['collection_date_local']).agg({'amount':sum,'capital':sum,'interest':sum
                                                 ,'tax':sum}).reset_index()
lender_pivot_others.head()

  collection_date_local       amount      capital   interest       tax
0            2023-05-01 1,343,236.13   990,055.59 307,218.18 45,962.36
1            2023-05-02 1,370,841.53 1,006,226.60 317,308.85 47,306.08
2            2023-05-03 1,525,572.76 1,124,379.87 348,783.83 52,409.06
3            2023-05-04 1,678,511.99 1,230,687.41 389,343.71 58,480.87
4            2023-05-05 2,201,595.79 1,624,695.59 501,080.31 75,819.89

In [46]:
lender_pivot_others.shape

(31, 5)

# EXCEL FINAL

In [47]:
writer = pd.ExcelWriter('FASE II. DATA POLIZA MAYO 2023.xlsx',
                        engine='xlsxwriter',
                        engine_kwargs={'options': {'encoding':'utf-8'}})
lender_pivot_clip_2.to_excel(writer, sheet_name='DATA LENDER CLIP',index=False)
# lender_pivot_clip_1.to_excel(writer, sheet_name='DATA LENDER CLIP CREATION DATE',index=False)
lender_pivot_others.to_excel(writer, sheet_name='DATA LENDER OTHERS',index=False)
adj_pivot.to_excel(writer, sheet_name='DATA ADJUSTMENTS',index=False)
lib_pivot_v2.to_excel(writer, sheet_name='DATA LIBERACIONES')
ret_pivot_v2.to_excel(writer, sheet_name='DATA RETENCIONES')
com_final.to_excel(writer, sheet_name='DATA COMISIONES',index=False)
writer.close()