In [1]:
import pandas as pd
import numpy as np
import glob
import os
from openpyxl import load_workbook
from functools import reduce
pd.options.display.float_format = '{:,.2f}'.format

#### ACUMULADO

In [2]:
cumfiles = glob.glob(r'C:\Users\Cristian.Aparicio\Documents\DISPERSIONES\2023\12. DICIEMBRE\QUERIES\*.csv', recursive=False)
cumfiles

['C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\12. DICIEMBRE\\QUERIES\\SETTLEMENT 2023-12-01.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\12. DICIEMBRE\\QUERIES\\SETTLEMENT 2023-12-02.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\12. DICIEMBRE\\QUERIES\\SETTLEMENT 2023-12-03.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\12. DICIEMBRE\\QUERIES\\SETTLEMENT 2023-12-04.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\12. DICIEMBRE\\QUERIES\\SETTLEMENT 2023-12-05.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\12. DICIEMBRE\\QUERIES\\SETTLEMENT 2023-12-06.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\12. DICIEMBRE\\QUERIES\\SETTLEMENT 2023-12-07.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\12. DICIEMBRE\\QUERIES\\SETTLEMENT 2023-12-08.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\12. DICIEMBRE\\QUERIES\\SETTLEMENT 2023-12-09.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\12. DICIEMBRE\\QUERIES\\SETTLEMENT 2023-12-10.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\12. DICIEMBRE\\QUERIES\\SETTLEMENT 2023-12-11.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\12. DICIEMBRE\\QUERIES\\SETTLEMENT 2023-12-12.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\12. DICIEMBRE\\QUERIES\\SETTLEMENT 2023-12-13.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\12. DICIEMBRE\\QUERIES\\SETTLEMENT 2023-12-14.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\12. DICIEMBRE\\QUERIES\\SETTLEMENT 2023-12-15.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\12. DICIEMBRE\\QUERIES\\SETTLEMENT 2023-12-16.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\12. DICIEMBRE\\QUERIES\\SETTLEMENT 2023-12-17.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\12. DICIEMBRE\\QUERIES\\SETTLEMENT 2023-12-18.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\12. DICIEMBRE\\QUERIES\\SETTLEMENT 2023-12-19.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\12. DICIEMBRE\\QUERIES\\SETTLEMENT 2023-12-20.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\12. DICIEMBRE\\QUERIES\\SETTLEMENT 2023-12-21.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\12. DICIEMBRE\\QUERIES\\SETTLEMENT 2023-12-22.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\12. DICIEMBRE\\QUERIES\\SETTLEMENT 2023-12-23.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\12. DICIEMBRE\\QUERIES\\SETTLEMENT 2023-12-24.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\12. DICIEMBRE\\QUERIES\\SETTLEMENT 2023-12-25.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\12. DICIEMBRE\\QUERIES\\SETTLEMENT 2023-12-26.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\12. DICIEMBRE\\QUERIES\\SETTLEMENT 2023-12-27.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\12. DICIEMBRE\\QUERIES\\SETTLEMENT 2023-12-28.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\12. DICIEMBRE\\QUERIES\\SETTLEMENT 2023-12-29.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\12. DICIEMBRE\\QUERIES\\SETTLEMENT 2023-12-30.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\12. DICIEMBRE\\QUERIES\\SETTLEMENT 2023-12-31.csv']

In [3]:
cum_1 = pd.concat([pd.read_csv(f).assign(file_name=os.path.basename(f)) for f in cumfiles])
cum_1.columns = cum_1.columns.str.strip().str.lower() 
cum_1['report_date_local']= pd.to_datetime(cum_1['report_date_local']) 
cum_1.head()

Empty DataFrame
Columns: [merchant_id, merchant_name, user_email, report_id, report_date_local, total_transactions, total_fees_charged, total_taxes, applied_fees_benefits, applied_taxes_benefits, fee_direct_deposit, taxes_direct_deposit, total_adjustments, total_adjustment_fees_charged, total_adjustment_taxes, cobranza, total_released, total_retained, tipopago, total_due, type, created_date, created_time, updated_date, updated_time, file_name]
Index: []

[0 rows x 26 columns]

In [4]:
cum_1.shape

(0, 26)

In [5]:
cum_distinct_0 = cum_1[(cum_1['total_due'] != 0)]
cum_distinct_0.head()

Empty DataFrame
Columns: [merchant_id, merchant_name, user_email, report_id, report_date_local, total_transactions, total_fees_charged, total_taxes, applied_fees_benefits, applied_taxes_benefits, fee_direct_deposit, taxes_direct_deposit, total_adjustments, total_adjustment_fees_charged, total_adjustment_taxes, cobranza, total_released, total_retained, tipopago, total_due, type, created_date, created_time, updated_date, updated_time, file_name]
Index: []

[0 rows x 26 columns]

In [6]:
cum_distinct_0.shape

(0, 26)

#### PAGOS DE DISPERSIONES

In [7]:
pagos_dia_files_1 = glob.glob(r'C:\Users\Cristian.Aparicio\Documents\DISPERSIONES\2023\12. DICIEMBRE\ARCHIVO DISPERSIONES\Dispersión*.xlsx', recursive=False)
pagos_dia_files_1

['C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\12. DICIEMBRE\\ARCHIVO DISPERSIONES\\Dispersión-20231201.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\12. DICIEMBRE\\ARCHIVO DISPERSIONES\\Dispersión-20231202.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\12. DICIEMBRE\\ARCHIVO DISPERSIONES\\Dispersión-20231203.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\12. DICIEMBRE\\ARCHIVO DISPERSIONES\\Dispersión-20231204.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\12. DICIEMBRE\\ARCHIVO DISPERSIONES\\Dispersión-20231205.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\12. DICIEMBRE\\ARCHIVO DISPERSIONES\\Dispersión-20231206.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\12. DICIEMBRE\\ARCHIVO DISPERSIONES\\Dispersión-20231207.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\12. DICIEMBRE\\ARCHIVO DISPERSIONES\\Dispersión-20231208.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\12. DICIEMBRE\\ARCHIVO DISPERSIONES\\Dispersión-20231209.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\12. DICIEMBRE\\ARCHIVO DISPERSIONES\\Dispersión-20231210.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\12. DICIEMBRE\\ARCHIVO DISPERSIONES\\Dispersión-20231211.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\12. DICIEMBRE\\ARCHIVO DISPERSIONES\\Dispersión-20231212.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\12. DICIEMBRE\\ARCHIVO DISPERSIONES\\Dispersión-20231213.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\12. DICIEMBRE\\ARCHIVO DISPERSIONES\\Dispersión-20231214.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\12. DICIEMBRE\\ARCHIVO DISPERSIONES\\Dispersión-20231215.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\12. DICIEMBRE\\ARCHIVO DISPERSIONES\\Dispersión-20231216.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\12. DICIEMBRE\\ARCHIVO DISPERSIONES\\Dispersión-20231217.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\12. DICIEMBRE\\ARCHIVO DISPERSIONES\\Dispersión-20231218.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\12. DICIEMBRE\\ARCHIVO DISPERSIONES\\Dispersión-20231219.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\12. DICIEMBRE\\ARCHIVO DISPERSIONES\\Dispersión-20231220.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\12. DICIEMBRE\\ARCHIVO DISPERSIONES\\Dispersión-20231221.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\12. DICIEMBRE\\ARCHIVO DISPERSIONES\\Dispersión-20231222.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\12. DICIEMBRE\\ARCHIVO DISPERSIONES\\Dispersión-20231223.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\12. DICIEMBRE\\ARCHIVO DISPERSIONES\\Dispersión-20231224.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\12. DICIEMBRE\\ARCHIVO DISPERSIONES\\Dispersión-20231225.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\12. DICIEMBRE\\ARCHIVO DISPERSIONES\\Dispersión-20231226.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\12. DICIEMBRE\\ARCHIVO DISPERSIONES\\Dispersión-20231227.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\12. DICIEMBRE\\ARCHIVO DISPERSIONES\\Dispersión-20231228.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\12. DICIEMBRE\\ARCHIVO DISPERSIONES\\Dispersión-20231229.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\12. DICIEMBRE\\ARCHIVO DISPERSIONES\\Dispersión-20231230.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\12. DICIEMBRE\\ARCHIVO DISPERSIONES\\Dispersión-20231231.xlsx']

In [8]:
pagos_1 = pd.concat([pd.read_excel(f,sheet_name='Swap del día').assign(file_name=os.path.basename(f)) for f in pagos_dia_files_1])
pagos_1['date_file'] = pagos_1["file_name"].str[-13:-5]
pagos_1['date_file']= pd.to_datetime(pagos_1['date_file'], format='%Y%m%d').dt.date
pagos_1['date_file']= pd.to_datetime(pagos_1['date_file'])
pagos_1.sort_values(by=['date_file'],ascending=True,inplace=True)
pagos_1['report_date_local']= pd.to_datetime(pagos_1['report_date_local']) 
pagos_1.head()

,type,merchant_id,merchant_name,user_email,report_id,report_date_local,total_due,tipo,bank,bank_account_owner_name,CLABE,status,LINEA CEP,Batch_time,Banco_emisor,file_name,date_file
0,LEDGER_TRAD,0123ce92-b626-43a6-8900-c144eb979883,NaN,NaN,A6294Z6NF,2023-12-01,233.82,Pago del día,AFIRME,Enrique Valenzuela Moreno,62320163110132313,ERROR,NaN,01. First_batch,SANTANDER,Dispersión-20231201.xlsx,2023-12-01
76373,LEDGER_TRAD,ab714c20-8f6b-4987-8a18-728a37cf6f8d,NaN,NaN,A7FXCRHWD,2023-12-01,958.24,Pago del día,BANCOPPEL,Carlos Armando Mandujano Estrada,137320104112623031,PAID,"2023-12-01,20231201400140HDH0001430023110,4001...",01. First_batch,SANTANDER,Dispersión-20231201.xlsx,2023-12-01
76372,LEDGER_TRAD,ab71293b-eebb-429a-9299-e394fc59627a,NaN,NaN,APQYNTKGK,2023-12-01,91.99,Pago del día,BBVA BANCOMER,Esthela Martinez,12420015551093174,PAID,"2023-12-01,20231201400140HDH0001430023000,4001...",01. First_batch,SANTANDER,Dispersión-20231201.xlsx,2023-12-01
76371,LEDGER_TRAD,ab70e31a-f5fb-4d8a-96f9-dd60a1962824,NaN,NaN,AX4CDBZ58,2023-12-01,306.64,Pago del día,BBVA BANCOMER,Javier Diaz Flores,12720011474709168,PAID,"2023-12-01,20231201400140HDH0001430022940,4001...",01. First_batch,SANTANDER,Dispersión-20231201.xlsx,2023-12-01
76370,LEDGER_TRAD,ab70bb3f-158e-4514-99b0-c4bdd2ad83b0,NaN,NaN,A72L9YVFF,2023-12-01,"2,462.68",Pago del día,BANCOPPEL,Cipriano Mendoza Cruz,137610103560408519,PAID,"2023-12-01,20231201400140HDH0001430022850,4001...",01. First_batch,SANTANDER,Dispersión-20231201.xlsx,2023-12-01

In [9]:
pagos_1.shape

(3210268, 17)

In [10]:
pagos_1['report_date_local'].unique()

<DatetimeArray>
['2023-12-01 00:00:00', '2023-11-28 00:00:00', '2022-10-26 00:00:00',
 '2023-11-23 00:00:00', '2023-11-22 00:00:00', '2023-11-30 00:00:00',
 '2023-11-27 00:00:00', '2023-11-08 00:00:00', '2023-11-06 00:00:00',
 '2023-11-21 00:00:00',
 ...
 '2023-07-07 00:00:00', '2020-02-14 00:00:00', '2023-12-30 00:00:00',
 '2022-05-09 00:00:00', '2023-05-07 00:00:00', '2022-04-20 00:00:00',
 '2023-03-22 00:00:00', '2023-12-31 00:00:00', '2023-02-22 00:00:00',
 '2022-12-09 00:00:00']
Length: 668, dtype: datetime64[ns]

#### PAGOS DUPLICADOS TRADICIONAL

In [11]:
duplicates_trad = pagos_1[pagos_1.duplicated(['report_id','date_file'] , keep=False)]
duplicates_trad['INDEX'] = duplicates_trad['report_id'] + '_' + duplicates_trad['date_file'].astype('str')
duplicates_trad.sort_values(by=['date_file','report_id'],inplace=True)
duplicates_trad.head()

C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_23404\1112391532.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  duplicates_trad['INDEX'] = duplicates_trad['report_id'] + '_' + duplicates_trad['date_file'].astype('str')
C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_23404\1112391532.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  duplicates_trad.sort_values(by=['date_file','report_id'],inplace=True)

,type,merchant_id,merchant_name,user_email,report_id,report_date_local,total_due,tipo,bank,bank_account_owner_name,CLABE,status,LINEA CEP,Batch_time,Banco_emisor,file_name,date_file,INDEX
40,LEDGER_TRAD,6bf68a1a-4f91-4059-847c-854a40e0b350,NaN,NaN,AFJLJGNS3,2023-12-05,"14,350.02",Pago del día,AKALA,Gerardo Ahumada,638180010171290762,ERROR,NaN,01. First_batch,SANTANDER,Dispersión-20231205.xlsx,2023-12-05,AFJLJGNS3_2023-12-05
104,LEDGER_TRAD,6bf68a1a-4f91-4059-847c-854a40e0b350,NaN,NaN,AFJLJGNS3,2023-12-05,"14,350.02",Pago del día,AKALA,Gerardo Ahumada,638180010171290762,ERROR,NaN,03. Third_batch,BANORTE,Dispersión-20231205.xlsx,2023-12-05,AFJLJGNS3_2023-12-05
101330,LEDGER_TRAD,74d37594-1feb-49e0-ac7f-27c3e9b64f72,NaN,NaN,AHZH6Z7WL,2023-12-04,"6,228.56",Reprogramación,SANTANDER,Monica Aranzazu Jimnez Jasso,14975500780366902,PAID,"2023-12-05,42644264202312052698256321,40072,40...",03. Third_batch,BANORTE,Dispersión-20231205.xlsx,2023-12-05,AHZH6Z7WL_2023-12-05
43372,LEDGER_TRAD,74d37594-1feb-49e0-ac7f-27c3e9b64f72,NaN,NaN,AHZH6Z7WL,2023-12-04,"6,228.56",Reprogramación,SANTANDER,Monica Aranzazu Jimnez Jasso,14975500780366902,PAID,COMPROBANTE MISMO BANCO SANTANDER,01. First_batch,SANTANDER,Dispersión-20231205.xlsx,2023-12-05,AHZH6Z7WL_2023-12-05
92,LEDGER_TRAD,fe7c49d9-1832-4e90-a47d-f769ff517ec6,NaN,NaN,AW5JG5LS6,2023-12-05,"24,399.21",Pago del día,AZTECA,Berenice,127180016142627303,ERROR,NaN,01. First_batch,SANTANDER,Dispersión-20231205.xlsx,2023-12-05,AW5JG5LS6_2023-12-05

In [12]:
duplicates_trad.shape

(178, 18)

In [13]:
duplicates_trad['status'].unique()

array(['ERROR', 'PAID'], dtype=object)

In [14]:
duplicates_trad.drop_duplicates(subset="INDEX", keep='last', inplace=True)

C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_23404\494774456.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  duplicates_trad.drop_duplicates(subset="INDEX", keep='last', inplace=True)

In [15]:
duplicates_trad.head()

,type,merchant_id,merchant_name,user_email,report_id,report_date_local,total_due,tipo,bank,bank_account_owner_name,CLABE,status,LINEA CEP,Batch_time,Banco_emisor,file_name,date_file,INDEX
104,LEDGER_TRAD,6bf68a1a-4f91-4059-847c-854a40e0b350,NaN,NaN,AFJLJGNS3,2023-12-05,"14,350.02",Pago del día,AKALA,Gerardo Ahumada,638180010171290762,ERROR,NaN,03. Third_batch,BANORTE,Dispersión-20231205.xlsx,2023-12-05,AFJLJGNS3_2023-12-05
43372,LEDGER_TRAD,74d37594-1feb-49e0-ac7f-27c3e9b64f72,NaN,NaN,AHZH6Z7WL,2023-12-04,"6,228.56",Reprogramación,SANTANDER,Monica Aranzazu Jimnez Jasso,14975500780366902,PAID,COMPROBANTE MISMO BANCO SANTANDER,01. First_batch,SANTANDER,Dispersión-20231205.xlsx,2023-12-05,AHZH6Z7WL_2023-12-05
105,LEDGER_TRAD,fe7c49d9-1832-4e90-a47d-f769ff517ec6,NaN,NaN,AW5JG5LS6,2023-12-05,"24,399.21",Pago del día,AZTECA,Berenice,127180016142627303,ERROR,NaN,03. Third_batch,BANORTE,Dispersión-20231205.xlsx,2023-12-05,AW5JG5LS6_2023-12-05
101,LEDGER_TRAD,3e1f38fc-c9c4-483f-b8a0-654c70c96b30,NaN,NaN,A3P2VQ7KS,2023-12-06,19.16,Pago del día,BBVA BANCOMER,Deyanira Rojas Villar,12180004780522631,ERROR,NaN,03. Third_batch,BANORTE,Dispersión-20231206.xlsx,2023-12-06,A3P2VQ7KS_2023-12-06
104337,LEDGER_TRAD,93c4d5c2-6c62-429a-ad41-692d1cb3f3eb,NaN,NaN,AHB677Q2Z,2023-12-06,"1,644.34",Pago del día,SANTANDER,Jessica Del Carmen Castaneda Alvarez,14854605899806463,PAID,"2023-12-06,42644264202312062700408895,40072,40...",03. Third_batch,BANORTE,Dispersión-20231206.xlsx,2023-12-06,AHB677Q2Z_2023-12-06

In [16]:
duplicates_trad.shape

(89, 18)

In [17]:
pivot_duplicates_trad = pd.pivot_table(duplicates_trad,index=['tipo','date_file'],
                                       columns=['type'],
                                  values=['total_due']
                                  ,aggfunc = ['sum', len],margins=True)
pivot_duplicates_trad.reset_index(drop=False, inplace=True)
pivot_duplicates_trad.head(10)

              tipo            date_file         sum                   len
                                          total_due             total_due
type                                    LEDGER_TRAD       All LEDGER_TRAD All
0     Pago del día  2023-12-05 00:00:00   38,749.23 38,749.23           2   2
1     Pago del día  2023-12-06 00:00:00    1,663.50  1,663.50           2   2
2     Pago del día  2023-12-07 00:00:00   93,054.24 93,054.24           3   3
3     Pago del día  2023-12-08 00:00:00   16,090.85 16,090.85           1   1
4     Pago del día  2023-12-11 00:00:00    5,391.04  5,391.04           1   1
5     Pago del día  2023-12-12 00:00:00   61,951.96 61,951.96          20  20
6     Pago del día  2023-12-13 00:00:00   16,908.15 16,908.15           2   2
7     Pago del día  2023-12-15 00:00:00   18,671.64 18,671.64           3   3
8     Pago del día  2023-12-18 00:00:00      838.46    838.46           1   1
9     Pago del día  2023-12-19 00:00:00   46,010.85 46,010.85           4   4

In [18]:
pivot_duplicates_trad.shape

(23, 6)

#### FAST PAYMENTS

In [19]:
fp_files_1 = glob.glob(r'C:\Users\Cristian.Aparicio\Documents\FAST PAYMENTS\2023\12. DICIEMBRE\ARCHIVO DISPERSIONES FP\Dispersión-FP*.xlsx', recursive=False)
fp_files_1

['C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2023\\12. DICIEMBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2023-12-01.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2023\\12. DICIEMBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2023-12-02.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2023\\12. DICIEMBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2023-12-03.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2023\\12. DICIEMBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2023-12-04.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2023\\12. DICIEMBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2023-12-05.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2023\\12. DICIEMBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2023-12-06.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2023\\12. DICIEMBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2023-12-07.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2023\\12. DICIEMBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2023-12-08.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2023\\12. DICIEMBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2023-12-09.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2023\\12. DICIEMBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2023-12-10.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2023\\12. DICIEMBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2023-12-11.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2023\\12. DICIEMBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2023-12-12.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2023\\12. DICIEMBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2023-12-13.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2023\\12. DICIEMBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2023-12-14.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2023\\12. DICIEMBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2023-12-15.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2023\\12. DICIEMBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2023-12-16.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2023\\12. DICIEMBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2023-12-17.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2023\\12. DICIEMBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2023-12-18.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2023\\12. DICIEMBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2023-12-19.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2023\\12. DICIEMBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2023-12-20.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2023\\12. DICIEMBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2023-12-21.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2023\\12. DICIEMBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2023-12-22.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2023\\12. DICIEMBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2023-12-23.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2023\\12. DICIEMBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2023-12-24.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2023\\12. DICIEMBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2023-12-25.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2023\\12. DICIEMBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2023-12-26.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2023\\12. DICIEMBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2023-12-27.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2023\\12. DICIEMBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2023-12-28.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2023\\12. DICIEMBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2023-12-29.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2023\\12. DICIEMBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2023-12-30.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2023\\12. DICIEMBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2023-12-31.xlsx']

In [20]:
pagos_2 = pd.concat([pd.read_excel(f,sheet_name='FAST PAYMENTS').assign(file_name=os.path.basename(f)) for f in fp_files_1])
pagos_2['date_file'] = pagos_2["file_name"].str[-15:-4]
pagos_2['date_file']= pd.to_datetime(pagos_2['date_file']) 
pagos_2.sort_values(by=['date_file'],ascending=True,inplace=True)
pagos_2['report_date_local']= pd.to_datetime(pagos_2['report_date_local']) 
pagos_2.head()

,type,merchant_id,merchant_name,user_email,report_id,report_date_local,total_due,tipo,bank,swap,CLABE,status,LINEA CEP,Batch_time,Banco_emisor,file_name,date_file
0,LEDGER_FP,0612643c-8614-47d7-b487-026de81587c5,NaN,NaN,A6KGKJBR6,2023-12-01,402.46,Pago del día,ASP INTEGRA OPC,Blanca Estela Del Carmen Nava,659802020000203601,ERROR,NaN,02. Second_batch,SANTANDER,Dispersión-FP 2023-12-01.xlsx,2023-12-01
2619,LEDGER_FP,6ba30ed1-b705-4682-b740-bfcad4840267,NaN,NaN,AK2C5JS22,2023-11-16,852.84,Reprogramación,BANAMEX,Bryceidee,2730701743730330,PAID,COMPROBANTE MISMO BANCO BANAMEX,05. Fifth_batch,BANAMEX,Dispersión-FP 2023-12-01.xlsx,2023-12-01
2620,LEDGER_FP,6ba30ed1-b705-4682-b740-bfcad4840267,NaN,NaN,ACPST4QCD,2023-11-17,"1,801.50",Reprogramación,BANAMEX,Bryceidee,2730701743730330,PAID,COMPROBANTE MISMO BANCO BANAMEX,05. Fifth_batch,BANAMEX,Dispersión-FP 2023-12-01.xlsx,2023-12-01
2621,LEDGER_FP,6ba30ed1-b705-4682-b740-bfcad4840267,NaN,NaN,A598KWZ6H,2023-11-18,"1,303.20",Reprogramación,BANAMEX,Bryceidee,2730701743730330,PAID,COMPROBANTE MISMO BANCO BANAMEX,05. Fifth_batch,BANAMEX,Dispersión-FP 2023-12-01.xlsx,2023-12-01
2622,LEDGER_FP,6ba30ed1-b705-4682-b740-bfcad4840267,NaN,NaN,ALQPVTK7D,2023-11-19,"1,327.15",Reprogramación,BANAMEX,Bryceidee,2730701743730330,PAID,COMPROBANTE MISMO BANCO BANAMEX,05. Fifth_batch,BANAMEX,Dispersión-FP 2023-12-01.xlsx,2023-12-01

In [21]:
pagos_2.shape

(82269, 17)

#### PAGOS REPETIDOS FAST PAYMENTS

In [22]:
duplicates_fp = pagos_2[pagos_2.duplicated(['report_id','date_file'] , keep=False)]
duplicates_fp['INDEX'] = duplicates_fp['report_id'] + '_' + duplicates_fp['date_file'].astype('str')
duplicates_fp.sort_values(by=['date_file','report_id','Batch_time'],inplace=True)
duplicates_fp.head()

C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_23404\3928666323.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  duplicates_fp['INDEX'] = duplicates_fp['report_id'] + '_' + duplicates_fp['date_file'].astype('str')
C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_23404\3928666323.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  duplicates_fp.sort_values(by=['date_file','report_id','Batch_time'],inplace=True)

,type,merchant_id,merchant_name,user_email,report_id,report_date_local,total_due,tipo,bank,swap,CLABE,status,LINEA CEP,Batch_time,Banco_emisor,file_name,date_file,INDEX
0,LEDGER_FP,0612643c-8614-47d7-b487-026de81587c5,NaN,NaN,A6KGKJBR6,2023-12-01,402.46,Pago del día,ASP INTEGRA OPC,Blanca Estela Del Carmen Nava,659802020000203601,ERROR,NaN,02. Second_batch,SANTANDER,Dispersión-FP 2023-12-01.xlsx,2023-12-01,A6KGKJBR6_2023-12-01
85,LEDGER_FP,0612643c-8614-47d7-b487-026de81587c5,NaN,NaN,A6KGKJBR6,2023-12-01,402.46,Pago del día,ASP INTEGRA OPC,Blanca Estela Del Carmen Nava,659802020000203601,ERROR,NaN,06. Sixth_batch,BANAMEX,Dispersión-FP 2023-12-01.xlsx,2023-12-01,A6KGKJBR6_2023-12-01
44,LEDGER_FP,63844713-ba04-4b73-b005-b70a529cb0e7,NaN,NaN,AC7CPJMLQ,2023-11-30,"28,747.20",Reprogramación,ASP INTEGRA OPC,Manuel Gustavo Sainos Vega,659802020000493864,ERROR,NaN,02. Second_batch,SANTANDER,Dispersión-FP 2023-12-01.xlsx,2023-12-01,AC7CPJMLQ_2023-12-01
96,LEDGER_FP,63844713-ba04-4b73-b005-b70a529cb0e7,NaN,NaN,AC7CPJMLQ,2023-11-30,"28,747.20",Reprogramación,ASP INTEGRA OPC,Manuel Gustavo Sainos Vega,659802020000493864,ERROR,NaN,06. Sixth_batch,BANAMEX,Dispersión-FP 2023-12-01.xlsx,2023-12-01,AC7CPJMLQ_2023-12-01
45,LEDGER_FP,c69135cd-3373-4eae-b428-8357a03ea90b,NaN,NaN,ADW2HVH85,2023-12-01,4.00,Pago del día,ASP INTEGRA OPC,Maria Fernanda Ramirez Maya,659802020000082534,ERROR,NaN,02. Second_batch,SANTANDER,Dispersión-FP 2023-12-01.xlsx,2023-12-01,ADW2HVH85_2023-12-01

In [23]:
duplicates_fp.shape

(2539, 18)

In [24]:
duplicates_fp.drop_duplicates(subset="INDEX", keep='last', inplace=True)

C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_23404\2218390481.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  duplicates_fp.drop_duplicates(subset="INDEX", keep='last', inplace=True)

In [25]:
duplicates_fp.head()

,type,merchant_id,merchant_name,user_email,report_id,report_date_local,total_due,tipo,bank,swap,CLABE,status,LINEA CEP,Batch_time,Banco_emisor,file_name,date_file,INDEX
85,LEDGER_FP,0612643c-8614-47d7-b487-026de81587c5,NaN,NaN,A6KGKJBR6,2023-12-01,402.46,Pago del día,ASP INTEGRA OPC,Blanca Estela Del Carmen Nava,659802020000203601,ERROR,NaN,06. Sixth_batch,BANAMEX,Dispersión-FP 2023-12-01.xlsx,2023-12-01,A6KGKJBR6_2023-12-01
96,LEDGER_FP,63844713-ba04-4b73-b005-b70a529cb0e7,NaN,NaN,AC7CPJMLQ,2023-11-30,"28,747.20",Reprogramación,ASP INTEGRA OPC,Manuel Gustavo Sainos Vega,659802020000493864,ERROR,NaN,06. Sixth_batch,BANAMEX,Dispersión-FP 2023-12-01.xlsx,2023-12-01,AC7CPJMLQ_2023-12-01
107,LEDGER_FP,c69135cd-3373-4eae-b428-8357a03ea90b,NaN,NaN,ADW2HVH85,2023-12-01,4.00,Pago del día,ASP INTEGRA OPC,Maria Fernanda Ramirez Maya,659802020000082534,ERROR,NaN,06. Sixth_batch,BANAMEX,Dispersión-FP 2023-12-01.xlsx,2023-12-01,ADW2HVH85_2023-12-01
3787,LEDGER_FP,cb38f27d-bd05-4f19-8ad9-157f71303a52,NaN,NaN,ASJGLJCZ7,2023-11-27,"9,965.70",Reprogramación,BANREGIO,Juana Martínez Valdéz,58597000022320249,PAID,"2023-12-01,18C2870671257000,40002,40058,058597...",06. Sixth_batch,BANAMEX,Dispersión-FP 2023-12-01.xlsx,2023-12-01,ASJGLJCZ7_2023-12-01
3177,LEDGER_FP,21e07a4c-62dc-4f9b-bdc8-cb50158551da,NaN,NaN,AWJFVD4PD,2023-11-28,958.24,Reprogramación,BBVA BANCOMER,Diego Ramírez Santiago,12320029941444733,PAID,"2023-12-01,18C28707EE5248D2,40002,40012,012320...",06. Sixth_batch,BANAMEX,Dispersión-FP 2023-12-01.xlsx,2023-12-01,AWJFVD4PD_2023-12-01

In [26]:
duplicates_fp.shape

(1138, 18)

In [27]:
pivot_duplicates_fp = pd.pivot_table(duplicates_fp,index=['tipo','date_file'],
                                     columns=['type'],
                                  values=['total_due']
                                  ,aggfunc = ['sum', len],margins=True)
pivot_duplicates_fp.reset_index(drop=False, inplace=True)
pivot_duplicates_fp.head()

              tipo            date_file        sum                  len
                                         total_due            total_due
type                                     LEDGER_FP        All LEDGER_FP All
0     Pago del día  2023-12-01 00:00:00     406.46     406.46         2   2
1     Pago del día  2023-12-02 00:00:00  80,536.74  80,536.74        21  21
2     Pago del día  2023-12-03 00:00:00 111,900.23 111,900.23        21  21
3     Pago del día  2023-12-04 00:00:00   6,782.38   6,782.38         3   3
4     Pago del día  2023-12-05 00:00:00   6,106.86   6,106.86         4   4

In [28]:
pivot_duplicates_fp.shape

(46, 6)

In [29]:
# pivot_duplicates_fp.to_excel('DUPLICADOS FP JUNIO 2021.xlsx',index=True)

#### ALL PAGOS

In [30]:
allpagos = pd.concat([pagos_1,pagos_2])
allpagos.head()

,type,merchant_id,merchant_name,user_email,report_id,report_date_local,total_due,tipo,bank,bank_account_owner_name,CLABE,status,LINEA CEP,Batch_time,Banco_emisor,file_name,date_file,swap
0,LEDGER_TRAD,0123ce92-b626-43a6-8900-c144eb979883,NaN,NaN,A6294Z6NF,2023-12-01,233.82,Pago del día,AFIRME,Enrique Valenzuela Moreno,62320163110132313,ERROR,NaN,01. First_batch,SANTANDER,Dispersión-20231201.xlsx,2023-12-01,NaN
76373,LEDGER_TRAD,ab714c20-8f6b-4987-8a18-728a37cf6f8d,NaN,NaN,A7FXCRHWD,2023-12-01,958.24,Pago del día,BANCOPPEL,Carlos Armando Mandujano Estrada,137320104112623031,PAID,"2023-12-01,20231201400140HDH0001430023110,4001...",01. First_batch,SANTANDER,Dispersión-20231201.xlsx,2023-12-01,NaN
76372,LEDGER_TRAD,ab71293b-eebb-429a-9299-e394fc59627a,NaN,NaN,APQYNTKGK,2023-12-01,91.99,Pago del día,BBVA BANCOMER,Esthela Martinez,12420015551093174,PAID,"2023-12-01,20231201400140HDH0001430023000,4001...",01. First_batch,SANTANDER,Dispersión-20231201.xlsx,2023-12-01,NaN
76371,LEDGER_TRAD,ab70e31a-f5fb-4d8a-96f9-dd60a1962824,NaN,NaN,AX4CDBZ58,2023-12-01,306.64,Pago del día,BBVA BANCOMER,Javier Diaz Flores,12720011474709168,PAID,"2023-12-01,20231201400140HDH0001430022940,4001...",01. First_batch,SANTANDER,Dispersión-20231201.xlsx,2023-12-01,NaN
76370,LEDGER_TRAD,ab70bb3f-158e-4514-99b0-c4bdd2ad83b0,NaN,NaN,A72L9YVFF,2023-12-01,"2,462.68",Pago del día,BANCOPPEL,Cipriano Mendoza Cruz,137610103560408519,PAID,"2023-12-01,20231201400140HDH0001430022850,4001...",01. First_batch,SANTANDER,Dispersión-20231201.xlsx,2023-12-01,NaN

In [31]:
allpagos.shape

(3292537, 18)

In [32]:
allpagos['tipo'].unique()

array(['Pago del día', 'Reprogramación'], dtype=object)

In [33]:
group_allpagos = allpagos.groupby(['date_file']).agg({'total_due':sum,'report_id':'count'}).reset_index()
group_allpagos.head()

C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_23404\3072073980.py:1: FutureWarning: The provided callable <built-in function sum> is currently using SeriesGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  group_allpagos = allpagos.groupby(['date_file']).agg({'total_due':sum,'report_id':'count'}).reset_index()

   date_file      total_due  report_id
0 2023-12-01 285,415,114.92     118490
1 2023-12-02 303,149,485.89     122518
2 2023-12-03 319,456,101.30     119380
3 2023-12-04 229,004,765.97      86347
4 2023-12-05 230,836,818.64     104103

In [34]:
group_allpagos.shape

(31, 3)

#### PAGOS DEL DIA

In [35]:
pagosdia = allpagos[(allpagos['tipo'].isin(['Pago del día']))]
pagosdia.head()

,type,merchant_id,merchant_name,user_email,report_id,report_date_local,total_due,tipo,bank,bank_account_owner_name,CLABE,status,LINEA CEP,Batch_time,Banco_emisor,file_name,date_file,swap
0,LEDGER_TRAD,0123ce92-b626-43a6-8900-c144eb979883,NaN,NaN,A6294Z6NF,2023-12-01,233.82,Pago del día,AFIRME,Enrique Valenzuela Moreno,62320163110132313,ERROR,NaN,01. First_batch,SANTANDER,Dispersión-20231201.xlsx,2023-12-01,NaN
76373,LEDGER_TRAD,ab714c20-8f6b-4987-8a18-728a37cf6f8d,NaN,NaN,A7FXCRHWD,2023-12-01,958.24,Pago del día,BANCOPPEL,Carlos Armando Mandujano Estrada,137320104112623031,PAID,"2023-12-01,20231201400140HDH0001430023110,4001...",01. First_batch,SANTANDER,Dispersión-20231201.xlsx,2023-12-01,NaN
76372,LEDGER_TRAD,ab71293b-eebb-429a-9299-e394fc59627a,NaN,NaN,APQYNTKGK,2023-12-01,91.99,Pago del día,BBVA BANCOMER,Esthela Martinez,12420015551093174,PAID,"2023-12-01,20231201400140HDH0001430023000,4001...",01. First_batch,SANTANDER,Dispersión-20231201.xlsx,2023-12-01,NaN
76371,LEDGER_TRAD,ab70e31a-f5fb-4d8a-96f9-dd60a1962824,NaN,NaN,AX4CDBZ58,2023-12-01,306.64,Pago del día,BBVA BANCOMER,Javier Diaz Flores,12720011474709168,PAID,"2023-12-01,20231201400140HDH0001430022940,4001...",01. First_batch,SANTANDER,Dispersión-20231201.xlsx,2023-12-01,NaN
76370,LEDGER_TRAD,ab70bb3f-158e-4514-99b0-c4bdd2ad83b0,NaN,NaN,A72L9YVFF,2023-12-01,"2,462.68",Pago del día,BANCOPPEL,Cipriano Mendoza Cruz,137610103560408519,PAID,"2023-12-01,20231201400140HDH0001430022850,4001...",01. First_batch,SANTANDER,Dispersión-20231201.xlsx,2023-12-01,NaN

In [36]:
pagosdia.shape

(3277069, 18)

In [37]:
group_dia = pagosdia.groupby(['date_file']).agg({'total_due':sum,'report_id':'count'}).reset_index()
group_dia.head()

C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_23404\1000930482.py:1: FutureWarning: The provided callable <built-in function sum> is currently using SeriesGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  group_dia = pagosdia.groupby(['date_file']).agg({'total_due':sum,'report_id':'count'}).reset_index()

   date_file      total_due  report_id
0 2023-12-01 281,873,858.06     116642
1 2023-12-02 301,242,732.14     121635
2 2023-12-03 318,864,809.41     118997
3 2023-12-04 227,985,715.28      85689
4 2023-12-05 229,541,869.34     103492

In [38]:
group_dia.shape

(31, 3)

# PRIMER MATCH (SETTLED VS PAGOS DEL DIA)

In [39]:
check_1 = cum_1.merge(pagosdia[['report_id','total_due','tipo','file_name']] ,on='report_id', how='left')
check_1['total_due_y'].fillna('NO ENCONTRADO')
check_1['tipo'].fillna('NO ENCONTRADO',inplace=True)
check_1['file_name_y'].fillna('NO ENCONTRADO',inplace=True)
# check_1.fillna({'total_due_y':'NO ENCONTRADO', 'tipo':'NO ENCONTRADO', 'file_name_y':'NO ENCONTRADO'}, inplace=True)
check_1.head()

Empty DataFrame
Columns: [merchant_id, merchant_name, user_email, report_date_local, total_transactions, total_fees_charged, total_taxes, applied_fees_benefits, applied_taxes_benefits, fee_direct_deposit, taxes_direct_deposit, total_adjustments, total_adjustment_fees_charged, total_adjustment_taxes, cobranza, total_released, total_retained, tipopago, total_due_x, type, created_date, created_time, updated_date, updated_time, file_name_x, report_id, total_due_y, tipo, file_name_y]
Index: []

[0 rows x 29 columns]

In [40]:
check_1['file_name_y'].unique()

array([], dtype=object)

In [41]:
not_found_1 = check_1[((check_1['file_name_y'].isnull()) | (check_1['file_name_y'].isin(['NO ENCONTRADO'])))
                        & (check_1['total_due_x'] != 0)]
not_found_1.head()

Empty DataFrame
Columns: [merchant_id, merchant_name, user_email, report_date_local, total_transactions, total_fees_charged, total_taxes, applied_fees_benefits, applied_taxes_benefits, fee_direct_deposit, taxes_direct_deposit, total_adjustments, total_adjustment_fees_charged, total_adjustment_taxes, cobranza, total_released, total_retained, tipopago, total_due_x, type, created_date, created_time, updated_date, updated_time, file_name_x, report_id, total_due_y, tipo, file_name_y]
Index: []

[0 rows x 29 columns]

In [42]:
not_found_1.shape

(0, 29)

In [43]:
group_notfound = not_found_1.groupby(['report_date_local']).agg({'total_due_x':sum,'report_id':'count'}).reset_index()
group_notfound.rename(columns={'report_date_local':'date_file'},inplace=True)
group_notfound.head()

C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_23404\212403241.py:1: FutureWarning: The provided callable <built-in function sum> is currently using SeriesGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  group_notfound = not_found_1.groupby(['report_date_local']).agg({'total_due_x':sum,'report_id':'count'}).reset_index()

Empty DataFrame
Columns: [date_file, total_due_x, report_id]
Index: []

In [44]:
group_notfound.shape

(0, 3)

#### REPROGRAMACIONES

In [45]:
repro = allpagos[(allpagos['tipo'].isin(['Reprogramación']))]
repro.head()

,type,merchant_id,merchant_name,user_email,report_id,report_date_local,total_due,tipo,bank,bank_account_owner_name,CLABE,status,LINEA CEP,Batch_time,Banco_emisor,file_name,date_file,swap
76361,LEDGER_TRAD,ab6c6074-681f-433d-8390-6af45fb29a08,NaN,NaN,AR6RK6W6B,2023-11-28,"4,051.44",Reprogramación,BANORTE/IXE,Susan Rose Chamberlin,72240010639316147,PAID,"2023-12-01,20231201400140HDH0001430022180,4001...",01. First_batch,SANTANDER,Dispersión-20231201.xlsx,2023-12-01,NaN
76565,DAILY,abdb620d-d861-455a-8092-a1ca1e50e1b8,Bámbola,perso81@hotmail.com,ZMXSQ39F8,2022-10-26,583.56,Reprogramación,HSBC,Paola Patrizia Pane Lammoglia,21180064231586296,PAID,"2023-12-01,20231201400140HDH0001430042360,4001...",01. First_batch,SANTANDER,Dispersión-20231201.xlsx,2023-12-01,NaN
75803,LEDGER_TRAD,aa380039-8921-43e5-9086-58e081f7e2ad,NaN,NaN,A5ZJQVKCX,2023-11-23,9.58,Reprogramación,BANORTE/IXE,Aldo Leonel Sorzano Morales,72949011351573393,PAID,"2023-12-01,20231201400140HDH0001429959790,4001...",01. First_batch,SANTANDER,Dispersión-20231201.xlsx,2023-12-01,NaN
78084,LEDGER_TRAD,af684b65-3b7a-49f7-afa4-f2d609a4de29,NaN,NaN,AJHVD9V62,2023-11-22,"1,360.70",Reprogramación,BBVA BANCOMER,Gricelda Garcia De la Mora,12090011946825213,PAID,"2023-12-01,20231201400140HDH0001430190420,4001...",01. First_batch,SANTANDER,Dispersión-20231201.xlsx,2023-12-01,NaN
78302,LEDGER_TRAD,affced4b-dc76-4bae-942c-ec676752e9f9,NaN,NaN,AQFHR49GK,2023-11-30,0.95,Reprogramación,BBVA BANCOMER,Luis Alberto Estrada,12744028889641738,PAID,"2023-12-01,20231201400140HDH0001430218850,4001...",01. First_batch,SANTANDER,Dispersión-20231201.xlsx,2023-12-01,NaN

In [46]:
repro.shape

(15468, 18)

In [47]:
group_repro = repro.groupby(['date_file']).agg({'total_due':sum,'report_id':'count'}).reset_index()
group_repro.head()

C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_23404\257574048.py:1: FutureWarning: The provided callable <built-in function sum> is currently using SeriesGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  group_repro = repro.groupby(['date_file']).agg({'total_due':sum,'report_id':'count'}).reset_index()

   date_file    total_due  report_id
0 2023-12-01 3,541,256.86       1848
1 2023-12-02 1,906,753.75        883
2 2023-12-03   591,291.89        383
3 2023-12-04 1,019,050.69        658
4 2023-12-05 1,294,949.30        611

In [48]:
group_repro.shape

(31, 3)

# SEGUNDO MATCH (IDENTIFICACION DE REPROGRAMACIONES)

In [49]:
check_2 = not_found_1.merge(repro[['report_id','total_due','tipo','file_name']] ,on='report_id', how='left')
check_2.head()

Empty DataFrame
Columns: [merchant_id, merchant_name, user_email, report_date_local, total_transactions, total_fees_charged, total_taxes, applied_fees_benefits, applied_taxes_benefits, fee_direct_deposit, taxes_direct_deposit, total_adjustments, total_adjustment_fees_charged, total_adjustment_taxes, cobranza, total_released, total_retained, tipopago, total_due_x, type, created_date, created_time, updated_date, updated_time, file_name_x, total_due_y, tipo_x, file_name_y, report_id, total_due, tipo_y, file_name]
Index: []

[0 rows x 32 columns]

In [50]:
check_2.shape

(0, 32)

In [51]:
# writer = pd.ExcelWriter('REPROGRAMACIONES JUNIO 2021.xlsx', engine='xlsxwriter', options={'encoding':'utf-8'})
# check_2.to_excel(writer, sheet_name='DETAIL REPROGRAMACIONES',index=False)
# writer.save()
# writer.close()

# FECHA DE PAGOS (SETTLED VS PAGOS DEL DIA)

In [52]:
fecha_pago = not_found_1.merge(repro[['report_id','date_file','tipo','status','file_name']] ,on='report_id', how='left')
fecha_pago.sort_values(by=['date_file'],ascending=True,inplace=True)
fecha_pago.head()

Empty DataFrame
Columns: [merchant_id, merchant_name, user_email, report_date_local, total_transactions, total_fees_charged, total_taxes, applied_fees_benefits, applied_taxes_benefits, fee_direct_deposit, taxes_direct_deposit, total_adjustments, total_adjustment_fees_charged, total_adjustment_taxes, cobranza, total_released, total_retained, tipopago, total_due_x, type, created_date, created_time, updated_date, updated_time, file_name_x, total_due_y, tipo_x, file_name_y, report_id, date_file, tipo_y, status, file_name]
Index: []

[0 rows x 33 columns]

In [53]:
fecha_pago.shape

(0, 33)

In [54]:
fecha_pago.drop_duplicates(subset ='report_id',keep='first',inplace=True)

Empty DataFrame
Columns: [merchant_id, merchant_name, user_email, report_date_local, total_transactions, total_fees_charged, total_taxes, applied_fees_benefits, applied_taxes_benefits, fee_direct_deposit, taxes_direct_deposit, total_adjustments, total_adjustment_fees_charged, total_adjustment_taxes, cobranza, total_released, total_retained, tipopago, total_due_x, type, created_date, created_time, updated_date, updated_time, file_name_x, total_due_y, tipo_x, file_name_y, report_id, date_file, tipo_y, status, file_name]
Index: []

[0 rows x 33 columns]

In [55]:
fecha_pago.head()

Empty DataFrame
Columns: [merchant_id, merchant_name, user_email, report_date_local, total_transactions, total_fees_charged, total_taxes, applied_fees_benefits, applied_taxes_benefits, fee_direct_deposit, taxes_direct_deposit, total_adjustments, total_adjustment_fees_charged, total_adjustment_taxes, cobranza, total_released, total_retained, tipopago, total_due_x, type, created_date, created_time, updated_date, updated_time, file_name_x, total_due_y, tipo_x, file_name_y, report_id, date_file, tipo_y, status, file_name]
Index: []

[0 rows x 33 columns]

In [56]:
fecha_pago.shape

(0, 33)

### AGRUPADO POR DÍA

In [57]:
pivot_fecha_pago = pd.pivot_table(fecha_pago,index=['report_date_local'],
                                  values=['total_due_x'],aggfunc = ['sum', len],margins=True)
pivot_fecha_pago.head()

C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_23404\898092038.py:1: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  pivot_fecha_pago = pd.pivot_table(fecha_pago,index=['report_date_local'],
C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_23404\898092038.py:1: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  pivot_fecha_pago = pd.pivot_table(fecha_pago,index=['report_date_local'],

                          sum         len
                  total_due_x total_due_x
report_date_local
All                      0.00        0.00

In [58]:
pivot_fecha_pago.shape

(1, 2)

# PAGOS MANUALES

In [59]:
file_manual = glob.glob(r'G:\.shortcut-targets-by-id\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\3.-Settlement\5.-HISTORICO FILES PAGOS\01. TRADICIONAL\2023\12. DECEMBER\MANUALES\*.xlsx', recursive=False)
file_manual

['G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\12. DECEMBER\\MANUALES\\Manuales 2023.12.01 - 2023.12.25.xlsx',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\12. DECEMBER\\MANUALES\\Manuales 2023.12.26 - 2023.12.31.xlsx']

In [60]:
manuales_all = pd.concat([pd.read_excel(f,sheet_name='Formato Pago Manual',skiprows=1
                                      ,converters={'Cta. CLABE de depósito':str,'report_id':str})
                          .assign(file_name=os.path.basename(f)) for f in file_manual])
manuales_all['Date']= pd.to_datetime(manuales_all['Date'])  
manuales_all['Tipo'] = 'MANUAL'

In [61]:
manuales_final = manuales_all[['Date','ME ID','ME NAME',' (mxn)','Banco','Justificación para el pago','Tipo','Report ID']]
manuales_final.head()

,Date,ME ID,ME NAME,(mxn),Banco,Justificación para el pago,Tipo,Report ID
0,2023-12-06,2bfa78ce-9730-476e-9801-81505662cdde,NaN,"2,587.25","Banco Nacional de Mexico, S.A.",Fwd: Apoyo en VoBo para abono manual,MANUAL,na
1,2023-12-06,58f7e468-4f1f-4180-92ad-c0e0611649fa,NaN,"1,115.00","BBVA Bancomer, S.A.",Pago manual,MANUAL,na
2,2023-12-14,579a14ac-5cc0-479f-b6e5-9be77d4947be,NaN,"7,423.49","BBVA Bancomer, S.A.",Pago por info incorrecta cambio clabe,MANUAL,na
3,2023-12-15,77f93f88-0bf7-4057-82c9-0f17289c12ba,NaN,"4,664.52","Kuspit Casa de Bolsa, S.A. de C.V.",URGENTE || SOP-14997 || Apoyo con VoBo para pa...,MANUAL,na
4,2023-12-19,3ccf710a-d568-4fc0-b515-84a678e8dc7a,NaN,"1,898.00","Banco Nacional de Mexico, S.A.",Solicitud de reembolso manual,MANUAL,na

In [62]:
manuales_final.shape

(9, 8)

In [63]:
manuales_final.columns

Index(['Date', 'ME ID', 'ME NAME', ' (mxn)', 'Banco',
       'Justificación para el pago', 'Tipo', 'Report ID'],
      dtype='object')

In [64]:
group_manual = manuales_final.groupby(['Date']).agg({' (mxn)':sum,'Report ID':'count'}).reset_index()
group_manual.rename(columns={'Date':'date_file','Report ID':'report_id'},inplace=True)
group_manual.head()

C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_23404\3325178319.py:1: FutureWarning: The provided callable <built-in function sum> is currently using SeriesGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  group_manual = manuales_final.groupby(['Date']).agg({' (mxn)':sum,'Report ID':'count'}).reset_index()

   date_file    (mxn)  report_id
0 2023-12-06 3,702.25          2
1 2023-12-14 7,423.49          1
2 2023-12-15 4,664.52          1
3 2023-12-19 4,064.12          2
4 2023-12-28 4,601.95          3

In [65]:
group_manual.shape

(5, 3)

# ACUMULADOS SETTLEMENT

In [66]:
conc_disp = cum_distinct_0.groupby(['report_date_local']).agg({'total_due':sum,'report_id':'count'}).reset_index()
conc_disp.rename(columns={'report_date_local':'date_file'}, inplace=True)
conc_disp.head()

C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_23404\691643010.py:1: FutureWarning: The provided callable <built-in function sum> is currently using SeriesGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  conc_disp = cum_distinct_0.groupby(['report_date_local']).agg({'total_due':sum,'report_id':'count'}).reset_index()

Empty DataFrame
Columns: [date_file, total_due, report_id]
Index: []

In [67]:
conc_disp.shape

(0, 3)

# MERGING ALL DATA FRAMES

In [68]:
total_1 = conc_disp.merge(group_repro[['date_file','total_due','report_id']],on='date_file',how='left') \
.merge(group_manual,on='date_file',how='left')
total_1[' (mxn)'].fillna(0,inplace=True)
total_1['report_id'].fillna(0,inplace=True)
total_1.head()

Empty DataFrame
Columns: [total_due_x, report_id_x, total_due_y, report_id_y, date_file,  (mxn), report_id]
Index: []

In [69]:
total_1['count_total_pago_dia'] = total_1['report_id_x'] + total_1['report_id_y'] + total_1['report_id']
total_1['sum_total_pago_dia'] = total_1['total_due_x'] + total_1['total_due_y'] + total_1[' (mxn)']

In [70]:
total_1

Empty DataFrame
Columns: [total_due_x, report_id_x, total_due_y, report_id_y, date_file,  (mxn), report_id, count_total_pago_dia, sum_total_pago_dia]
Index: []

# ACUMULADOS PAGO DEL DIA

In [71]:
total_2 = group_allpagos.merge(group_notfound[['date_file','total_due_x','report_id']],on='date_file',how='left')\
.merge(group_manual,on='date_file',how='left')
total_2[' (mxn)'].fillna(0,inplace=True)
total_2['report_id'].fillna(0,inplace=True)
total_2['total_due_x'].fillna(0,inplace=True)
total_2['report_id_y'].fillna(0,inplace=True)
total_2.head()

,date_file,total_due,report_id_x,total_due_x,report_id_y,(mxn),report_id
0,2023-12-01,"285,415,114.92",118490,0,0.00,0.00,0.00
1,2023-12-02,"303,149,485.89",122518,0,0.00,0.00,0.00
2,2023-12-03,"319,456,101.30",119380,0,0.00,0.00,0.00
3,2023-12-04,"229,004,765.97",86347,0,0.00,0.00,0.00
4,2023-12-05,"230,836,818.64",104103,0,0.00,0.00,0.00

In [72]:
total_2['count_swap_dia'] = total_2['report_id_x'] + total_2['report_id_y'] + total_2['report_id']
total_2['sum_swap_dia'] = total_2['total_due'] + total_2['total_due_x'] + total_2[' (mxn)']

In [73]:
total_2.head()

,date_file,total_due,report_id_x,total_due_x,report_id_y,(mxn),report_id,count_swap_dia,sum_swap_dia
0,2023-12-01,"285,415,114.92",118490,0,0.00,0.00,0.00,"118,490.00","285,415,114.92"
1,2023-12-02,"303,149,485.89",122518,0,0.00,0.00,0.00,"122,518.00","303,149,485.89"
2,2023-12-03,"319,456,101.30",119380,0,0.00,0.00,0.00,"119,380.00","319,456,101.30"
3,2023-12-04,"229,004,765.97",86347,0,0.00,0.00,0.00,"86,347.00","229,004,765.97"
4,2023-12-05,"230,836,818.64",104103,0,0.00,0.00,0.00,"104,103.00","230,836,818.64"

In [74]:
total_2.shape

(31, 9)

# COMPARACION FINAL

In [75]:
final_comparacion = total_1[['date_file','count_total_pago_dia','sum_total_pago_dia']] \
.merge(total_2[['date_file','count_swap_dia','sum_swap_dia']],on='date_file',how='left')
final_comparacion.head()

Empty DataFrame
Columns: [count_total_pago_dia, sum_total_pago_dia, date_file, count_swap_dia, sum_swap_dia]
Index: []

In [76]:
final_comparacion['diff_count'] = final_comparacion['count_total_pago_dia'] - final_comparacion['count_swap_dia']
final_comparacion['diff_sum'] = final_comparacion['sum_total_pago_dia'] - final_comparacion['sum_swap_dia']

In [77]:
final_comparacion

Empty DataFrame
Columns: [count_total_pago_dia, sum_total_pago_dia, date_file, count_swap_dia, sum_swap_dia, diff_count, diff_sum]
Index: []

In [78]:
writer = pd.ExcelWriter('FASE III. SETTLED VS PAGO DIA DICIEMBRE 2023.xlsx',
                        engine='xlsxwriter',
                        engine_kwargs={'options': {'encoding':'utf-8'}})
pivot_fecha_pago.to_excel(writer, sheet_name='ENVIADOS POSTERIOR')
fecha_pago.to_excel(writer, sheet_name='DETAIL NO ENCONTRADO',index=False)
pivot_duplicates_trad.to_excel(writer, sheet_name='PAGOS DUPLICADOS')
pivot_duplicates_fp.to_excel(writer, sheet_name='FP PAGOS DUPLICADOS')
group_manual.to_excel(writer, sheet_name='PAGOS MANUALES')
writer.close()