In [1]:
import pandas as pd
import numpy as np
import glob
import os
from openpyxl import load_workbook
from functools import reduce
pd.options.display.float_format = '{:,.2f}'.format

#### ACUMULADO

In [2]:
cumfiles = glob.glob(r'C:\Users\Cristian.Aparicio\Documents\DISPERSIONES\2024\01. ENERO\QUERIES\*.csv', recursive=False)
cumfiles

['C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2024\\01. ENERO\\QUERIES\\SETTLEMENT 2024-01-01.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2024\\01. ENERO\\QUERIES\\SETTLEMENT 2024-01-02.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2024\\01. ENERO\\QUERIES\\SETTLEMENT 2024-01-03.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2024\\01. ENERO\\QUERIES\\SETTLEMENT 2024-01-04.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2024\\01. ENERO\\QUERIES\\SETTLEMENT 2024-01-05.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2024\\01. ENERO\\QUERIES\\SETTLEMENT 2024-01-06.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2024\\01. ENERO\\QUERIES\\SETTLEMENT 2024-01-07.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2024\\01. ENERO\\QUERIES\\SETTLEMENT 2024-01-08.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2024\\01. ENERO\\QUERIES\\SETTLEMENT 2024-01-09.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2024\\01. ENERO\\QUERIES\\SETTLEMENT 2024-01-10.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2024\\01. ENERO\\QUERIES\\SETTLEMENT 2024-01-11.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2024\\01. ENERO\\QUERIES\\SETTLEMENT 2024-01-12.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2024\\01. ENERO\\QUERIES\\SETTLEMENT 2024-01-13.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2024\\01. ENERO\\QUERIES\\SETTLEMENT 2024-01-14.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2024\\01. ENERO\\QUERIES\\SETTLEMENT 2024-01-15.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2024\\01. ENERO\\QUERIES\\SETTLEMENT 2024-01-16.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2024\\01. ENERO\\QUERIES\\SETTLEMENT 2024-01-17.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2024\\01. ENERO\\QUERIES\\SETTLEMENT 2024-01-18.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2024\\01. ENERO\\QUERIES\\SETTLEMENT 2024-01-19.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2024\\01. ENERO\\QUERIES\\SETTLEMENT 2024-01-20.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2024\\01. ENERO\\QUERIES\\SETTLEMENT 2024-01-21.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2024\\01. ENERO\\QUERIES\\SETTLEMENT 2024-01-22.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2024\\01. ENERO\\QUERIES\\SETTLEMENT 2024-01-23.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2024\\01. ENERO\\QUERIES\\SETTLEMENT 2024-01-24.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2024\\01. ENERO\\QUERIES\\SETTLEMENT 2024-01-25.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2024\\01. ENERO\\QUERIES\\SETTLEMENT 2024-01-26.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2024\\01. ENERO\\QUERIES\\SETTLEMENT 2024-01-27.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2024\\01. ENERO\\QUERIES\\SETTLEMENT 2024-01-28.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2024\\01. ENERO\\QUERIES\\SETTLEMENT 2024-01-29.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2024\\01. ENERO\\QUERIES\\SETTLEMENT 2024-01-30.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2024\\01. ENERO\\QUERIES\\SETTLEMENT 2024-01-31.csv']

In [3]:
cum_1 = pd.concat([pd.read_csv(f).assign(file_name=os.path.basename(f)) for f in cumfiles])
cum_1.columns = cum_1.columns.str.strip().str.lower() 
cum_1['report_date_local']= pd.to_datetime(cum_1['report_date_local']) 
cum_1.head()

Empty DataFrame
Columns: [merchant_id, merchant_name, user_email, report_id, report_date_local, total_transactions, total_fees_charged, total_taxes, applied_fees_benefits, applied_taxes_benefits, fee_direct_deposit, taxes_direct_deposit, total_adjustments, total_adjustment_fees_charged, total_adjustment_taxes, cobranza, total_released, total_retained, tipopago, total_due, type, created_date, created_time, updated_date, updated_time, file_name]
Index: []

[0 rows x 26 columns]

In [4]:
cum_1.shape

(0, 26)

In [5]:
cum_distinct_0 = cum_1[(cum_1['total_due'] != 0)]
cum_distinct_0.head()

Empty DataFrame
Columns: [merchant_id, merchant_name, user_email, report_id, report_date_local, total_transactions, total_fees_charged, total_taxes, applied_fees_benefits, applied_taxes_benefits, fee_direct_deposit, taxes_direct_deposit, total_adjustments, total_adjustment_fees_charged, total_adjustment_taxes, cobranza, total_released, total_retained, tipopago, total_due, type, created_date, created_time, updated_date, updated_time, file_name]
Index: []

[0 rows x 26 columns]

In [6]:
cum_distinct_0.shape

(0, 26)

#### PAGOS DE DISPERSIONES

In [7]:
pagos_dia_files_1 = glob.glob(r'C:\Users\Cristian.Aparicio\Documents\DISPERSIONES\2024\01. ENERO\ARCHIVO DISPERSIONES\Dispersión*.xlsx', recursive=False)
pagos_dia_files_1

['C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2024\\01. ENERO\\ARCHIVO DISPERSIONES\\Dispersión-20240101.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2024\\01. ENERO\\ARCHIVO DISPERSIONES\\Dispersión-20240102.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2024\\01. ENERO\\ARCHIVO DISPERSIONES\\Dispersión-20240103.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2024\\01. ENERO\\ARCHIVO DISPERSIONES\\Dispersión-20240104.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2024\\01. ENERO\\ARCHIVO DISPERSIONES\\Dispersión-20240105.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2024\\01. ENERO\\ARCHIVO DISPERSIONES\\Dispersión-20240106.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2024\\01. ENERO\\ARCHIVO DISPERSIONES\\Dispersión-20240107.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2024\\01. ENERO\\ARCHIVO DISPERSIONES\\Dispersión-20240108.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2024\\01. ENERO\\ARCHIVO DISPERSIONES\\Dispersión-20240109.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2024\\01. ENERO\\ARCHIVO DISPERSIONES\\Dispersión-20240110.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2024\\01. ENERO\\ARCHIVO DISPERSIONES\\Dispersión-20240111.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2024\\01. ENERO\\ARCHIVO DISPERSIONES\\Dispersión-20240112.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2024\\01. ENERO\\ARCHIVO DISPERSIONES\\Dispersión-20240113.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2024\\01. ENERO\\ARCHIVO DISPERSIONES\\Dispersión-20240114.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2024\\01. ENERO\\ARCHIVO DISPERSIONES\\Dispersión-20240115.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2024\\01. ENERO\\ARCHIVO DISPERSIONES\\Dispersión-20240116.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2024\\01. ENERO\\ARCHIVO DISPERSIONES\\Dispersión-20240117.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2024\\01. ENERO\\ARCHIVO DISPERSIONES\\Dispersión-20240118.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2024\\01. ENERO\\ARCHIVO DISPERSIONES\\Dispersión-20240119.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2024\\01. ENERO\\ARCHIVO DISPERSIONES\\Dispersión-20240120.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2024\\01. ENERO\\ARCHIVO DISPERSIONES\\Dispersión-20240121.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2024\\01. ENERO\\ARCHIVO DISPERSIONES\\Dispersión-20240122.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2024\\01. ENERO\\ARCHIVO DISPERSIONES\\Dispersión-20240123.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2024\\01. ENERO\\ARCHIVO DISPERSIONES\\Dispersión-20240124.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2024\\01. ENERO\\ARCHIVO DISPERSIONES\\Dispersión-20240125.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2024\\01. ENERO\\ARCHIVO DISPERSIONES\\Dispersión-20240126.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2024\\01. ENERO\\ARCHIVO DISPERSIONES\\Dispersión-20240127.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2024\\01. ENERO\\ARCHIVO DISPERSIONES\\Dispersión-20240128.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2024\\01. ENERO\\ARCHIVO DISPERSIONES\\Dispersión-20240129.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2024\\01. ENERO\\ARCHIVO DISPERSIONES\\Dispersión-20240130.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2024\\01. ENERO\\ARCHIVO DISPERSIONES\\Dispersión-20240131.xlsx']

In [8]:
pagos_1 = pd.concat([pd.read_excel(f,sheet_name='Swap del día').assign(file_name=os.path.basename(f)) for f in pagos_dia_files_1])
pagos_1['date_file'] = pagos_1["file_name"].str[-13:-5]
pagos_1['date_file']= pd.to_datetime(pagos_1['date_file'], format='%Y%m%d').dt.date
pagos_1['date_file']= pd.to_datetime(pagos_1['date_file'])
pagos_1.sort_values(by=['date_file'],ascending=True,inplace=True)
pagos_1['report_date_local']= pd.to_datetime(pagos_1['report_date_local']) 
pagos_1.head()

,type,merchant_id,merchant_name,user_email,report_id,report_date_local,total_due,tipo,bank,bank_account_owner_name,CLABE,status,LINEA CEP,Batch_time,Banco_emisor,file_name,date_file
0,LEDGER_TRAD,03c36e07-4550-4a03-addc-23932ed78f86,NaN,NaN,A935WHWRG,2024-01-01,267.34,Pago del día,BBVA BANCOMER,Flor Liliana Gonzalez Gonzalez,12500029618132855,ERROR,NaN,01. First_batch,BANORTE,Dispersión-20240101.xlsx,2024-01-01
48668,LEDGER_TRAD,ab530350-07a8-422f-bc9d-81aeaa89f1db,NaN,NaN,AC9DQF6CR,2024-01-01,"1,629.01",Pago del día,HSBC,Alejandro Garcia Gomez,21290065927796690,PAID,"2024-01-01,42644264202401012759773444,40072,40...",01. First_batch,BANORTE,Dispersión-20240101.xlsx,2024-01-01
48669,LEDGER_TRAD,ab5444dc-0e70-4ee7-9a28-e386d01bc928,NaN,NaN,A9RLJ33Q6,2024-01-01,"57,446.48",Pago del día,BAJIO,Hugo Javier Lopez Bonifaz,30320900004894431,PAID,"2024-01-01,42644264202401012759744087,40072,40...",01. First_batch,BANORTE,Dispersión-20240101.xlsx,2024-01-01
48670,LEDGER_TRAD,ab549ce9-08c3-434b-b208-58bd270c8f8c,NaN,NaN,A3Z2D3SK2,2024-01-01,172.48,Pago del día,SANTANDER,Guadalupe Rosales Jimenez,14180605766810447,PAID,"2024-01-01,42644264202401012759714239,40072,40...",01. First_batch,BANORTE,Dispersión-20240101.xlsx,2024-01-01
48671,LEDGER_TRAD,ab562636-b3ef-4a85-b9b6-1b3fc661ada0,NaN,NaN,ASNVFSMS5,2024-01-01,"10,166.03",Pago del día,BBVA BANCOMER,Felipe David Valerio Aguilar,12930011521559909,PAID,"2024-01-01,42644264202401012759758846,40072,40...",01. First_batch,BANORTE,Dispersión-20240101.xlsx,2024-01-01

In [9]:
pagos_1.shape

(2974752, 17)

In [10]:
pagos_1['report_date_local'].unique()

<DatetimeArray>
['2024-01-01 00:00:00', '2023-12-24 00:00:00', '2023-12-23 00:00:00',
 '2023-12-22 00:00:00', '2023-12-17 00:00:00', '2023-12-11 00:00:00',
 '2023-12-30 00:00:00', '2023-12-21 00:00:00', '2023-12-20 00:00:00',
 '2023-12-19 00:00:00',
 ...
 '2020-06-25 00:00:00', '2020-05-24 00:00:00', '2022-05-25 00:00:00',
 '2021-02-20 00:00:00', '2021-01-19 00:00:00', '2022-09-20 00:00:00',
 '2024-01-31 00:00:00', '2021-05-30 00:00:00', '2019-11-25 00:00:00',
 '2022-05-02 00:00:00']
Length: 660, dtype: datetime64[ns]

#### PAGOS DUPLICADOS TRADICIONAL

In [11]:
duplicates_trad = pagos_1[pagos_1.duplicated(['report_id','date_file'] , keep=False)]
duplicates_trad['INDEX'] = duplicates_trad['report_id'] + '_' + duplicates_trad['date_file'].astype('str')
duplicates_trad.sort_values(by=['date_file','report_id'],inplace=True)
duplicates_trad.head()

C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_2160\1112391532.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  duplicates_trad['INDEX'] = duplicates_trad['report_id'] + '_' + duplicates_trad['date_file'].astype('str')
C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_2160\1112391532.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  duplicates_trad.sort_values(by=['date_file','report_id'],inplace=True)

,type,merchant_id,merchant_name,user_email,report_id,report_date_local,total_due,tipo,bank,bank_account_owner_name,CLABE,status,LINEA CEP,Batch_time,Banco_emisor,file_name,date_file,INDEX
49,LEDGER_TRAD,c31b42ff-5d34-4e39-8330-f7b50edbec50,NaN,NaN,A2FWF2R93,2024-01-01,"13,951.03",Pago del día,CAJA POP MEXICA,Jacqueline Martínez Díaz,677690044356398744,ERROR,NaN,01. First_batch,BANORTE,Dispersión-20240101.xlsx,2024-01-01,A2FWF2R93_2024-01-01
75,LEDGER_TRAD,c31b42ff-5d34-4e39-8330-f7b50edbec50,NaN,NaN,A2FWF2R93,2024-01-01,"13,951.03",Pago del día,CAJA POP MEXICA,Jacqueline Martínez Díaz,677690044356398744,ERROR,NaN,02. Second_batch,BANORTE,Dispersión-20240101.xlsx,2024-01-01,A2FWF2R93_2024-01-01
72963,LEDGER_TRAD,c90766f7-5477-46aa-a4f6-27f71bacd1fe,NaN,NaN,A34XW4PYZ,2024-01-01,693.77,Pago del día,CAJA POP MEXICA,MARCO ANTONIO AGUAYO PEREZ,677222042608722629,PAID,"2024-01-01,nan,40072,90677,677222042608722629,...",02. Second_batch,BANORTE,Dispersión-20240101.xlsx,2024-01-01,A34XW4PYZ_2024-01-01
57191,LEDGER_TRAD,c90766f7-5477-46aa-a4f6-27f71bacd1fe,NaN,NaN,A34XW4PYZ,2024-01-01,693.77,Pago del día,CAJA POP MEXICA,MARCO ANTONIO AGUAYO PEREZ,677222042608722629,PAID,"2024-01-01,nan,40072,90677,677222042608722629,...",01. First_batch,BANORTE,Dispersión-20240101.xlsx,2024-01-01,A34XW4PYZ_2024-01-01
54,LEDGER_TRAD,dc547d79-14b6-484f-9609-4426530da61b,NaN,NaN,A468GN4YV,2024-01-01,"1,116.34",Pago del día,SANTANDER,Enrique Zuniga Acuna,14000606211754166,ERROR,NaN,01. First_batch,BANORTE,Dispersión-20240101.xlsx,2024-01-01,A468GN4YV_2024-01-01

In [12]:
duplicates_trad.shape

(108, 18)

In [13]:
duplicates_trad['status'].unique()

array(['ERROR', 'PAID'], dtype=object)

In [14]:
duplicates_trad.drop_duplicates(subset="INDEX", keep='last', inplace=True)

C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_2160\494774456.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  duplicates_trad.drop_duplicates(subset="INDEX", keep='last', inplace=True)

In [15]:
duplicates_trad.head()

,type,merchant_id,merchant_name,user_email,report_id,report_date_local,total_due,tipo,bank,bank_account_owner_name,CLABE,status,LINEA CEP,Batch_time,Banco_emisor,file_name,date_file,INDEX
75,LEDGER_TRAD,c31b42ff-5d34-4e39-8330-f7b50edbec50,NaN,NaN,A2FWF2R93,2024-01-01,"13,951.03",Pago del día,CAJA POP MEXICA,Jacqueline Martínez Díaz,677690044356398744,ERROR,NaN,02. Second_batch,BANORTE,Dispersión-20240101.xlsx,2024-01-01,A2FWF2R93_2024-01-01
57191,LEDGER_TRAD,c90766f7-5477-46aa-a4f6-27f71bacd1fe,NaN,NaN,A34XW4PYZ,2024-01-01,693.77,Pago del día,CAJA POP MEXICA,MARCO ANTONIO AGUAYO PEREZ,677222042608722629,PAID,"2024-01-01,nan,40072,90677,677222042608722629,...",01. First_batch,BANORTE,Dispersión-20240101.xlsx,2024-01-01,A34XW4PYZ_2024-01-01
77,LEDGER_TRAD,dc547d79-14b6-484f-9609-4426530da61b,NaN,NaN,A468GN4YV,2024-01-01,"1,116.34",Pago del día,SANTANDER,Enrique Zuniga Acuna,14000606211754166,ERROR,NaN,02. Second_batch,BANORTE,Dispersión-20240101.xlsx,2024-01-01,A468GN4YV_2024-01-01
23085,LEDGER_TRAD,5150c3c4-6b3c-4e16-b544-13ef4548d26c,NaN,NaN,A787S7QYG,2024-01-01,2.00,Pago del día,CAJA POP MEXICA,Ramon Olmos Mrquez,677180044278399195,PAID,"2024-01-01,nan,40072,90677,677180044278399195,2.0",01. First_batch,BANORTE,Dispersión-20240101.xlsx,2024-01-01,A787S7QYG_2024-01-01
5,LEDGER_TRAD,0f8187da-2201-47a4-a080-c3fd0c295845,NaN,NaN,A95HMQCJ8,2024-01-01,924.70,Pago del día,CAJA POP MEXICA,Claudia Horalia Rivera Reyes,677010042278353012,ERROR,NaN,01. First_batch,BANORTE,Dispersión-20240101.xlsx,2024-01-01,A95HMQCJ8_2024-01-01

In [16]:
duplicates_trad.shape

(54, 18)

In [17]:
pivot_duplicates_trad = pd.pivot_table(duplicates_trad,index=['tipo','date_file'],
                                       columns=['type'],
                                  values=['total_due']
                                  ,aggfunc = ['sum', len],margins=True)
pivot_duplicates_trad.reset_index(drop=False, inplace=True)
pivot_duplicates_trad.head(10)

              tipo            date_file         sum                    len
                                          total_due              total_due
type                                    LEDGER_TRAD        All LEDGER_TRAD All
0     Pago del día  2024-01-01 00:00:00  160,906.30 160,906.30          17  17
1     Pago del día  2024-01-03 00:00:00   33,538.40  33,538.40           1   1
2     Pago del día  2024-01-04 00:00:00    1,927.20   1,927.20           1   1
3     Pago del día  2024-01-08 00:00:00    3,066.37   3,066.37           1   1
4     Pago del día  2024-01-11 00:00:00   56,048.41  56,048.41           1   1
5     Pago del día  2024-01-12 00:00:00    1,130.72   1,130.72           1   1
6     Pago del día  2024-01-15 00:00:00    2,924.82   2,924.82           2   2
7     Pago del día  2024-01-16 00:00:00    1,561.93   1,561.93           2   2
8     Pago del día  2024-01-17 00:00:00    7,706.07   7,706.07           2   2
9     Pago del día  2024-01-18 00:00:00    6,184.48   6,184.48           2   2

In [18]:
pivot_duplicates_trad.shape

(20, 6)

#### FAST PAYMENTS

In [19]:
fp_files_1 = glob.glob(r'C:\Users\Cristian.Aparicio\Documents\FAST PAYMENTS\2024\01. ENERO\ARCHIVO DISPERSIONES FP\Dispersión-FP*.xlsx', recursive=False)
fp_files_1

['C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2024\\01. ENERO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2024-01-01.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2024\\01. ENERO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2024-01-02.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2024\\01. ENERO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2024-01-03.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2024\\01. ENERO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2024-01-04.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2024\\01. ENERO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2024-01-05.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2024\\01. ENERO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2024-01-06.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2024\\01. ENERO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2024-01-07.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2024\\01. ENERO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2024-01-08.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2024\\01. ENERO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2024-01-09.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2024\\01. ENERO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2024-01-10.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2024\\01. ENERO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2024-01-11.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2024\\01. ENERO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2024-01-12.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2024\\01. ENERO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2024-01-13.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2024\\01. ENERO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2024-01-14.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2024\\01. ENERO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2024-01-15.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2024\\01. ENERO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2024-01-16.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2024\\01. ENERO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2024-01-17.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2024\\01. ENERO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2024-01-18.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2024\\01. ENERO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2024-01-19.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2024\\01. ENERO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2024-01-20.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2024\\01. ENERO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2024-01-21.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2024\\01. ENERO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2024-01-22.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2024\\01. ENERO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2024-01-23.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2024\\01. ENERO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2024-01-24.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2024\\01. ENERO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2024-01-25.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2024\\01. ENERO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2024-01-26.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2024\\01. ENERO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2024-01-27.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2024\\01. ENERO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2024-01-28.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2024\\01. ENERO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2024-01-29.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2024\\01. ENERO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2024-01-30.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2024\\01. ENERO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2024-01-31.xlsx']

In [20]:
pagos_2 = pd.concat([pd.read_excel(f,sheet_name='FAST PAYMENTS').assign(file_name=os.path.basename(f)) for f in fp_files_1])
pagos_2['date_file'] = pagos_2["file_name"].str[-15:-4]
pagos_2['date_file']= pd.to_datetime(pagos_2['date_file']) 
pagos_2.sort_values(by=['date_file'],ascending=True,inplace=True)
pagos_2['report_date_local']= pd.to_datetime(pagos_2['report_date_local']) 
pagos_2.head()

,type,merchant_id,merchant_name,user_email,report_id,report_date_local,total_due,tipo,bank,swap,CLABE,status,LINEA CEP,Batch_time,Banco_emisor,file_name,date_file
0,LEDGER_FP,0a00f802-ff5a-49c6-8ad6-693c5b544f3f,NaN,NaN,AR3LJGSXN,2024-01-01,"1,612.24",Pago del día,CAJA POP MEXICA,Juan Pablo Cruz Martinez,677248044011352464,ERROR,NaN,02. Second_batch,BANORTE,Dispersión-FP 2024-01-01.xlsx,2024-01-01
787,LEDGER_FP,9b399b8b-630f-42e1-9fc9-ea7b0439be4d,NaN,NaN,AKRJLD95T,2024-01-01,63.33,Pago del día,ASP INTEGRA OPC,Omar Hernandez Hernandez,659802020000454201,PAID,"2024-01-01,42644264202401012760286209,40072,90...",05. Fifth_batch,BANORTE,Dispersión-FP 2024-01-01.xlsx,2024-01-01
786,LEDGER_FP,9a40e51f-d104-4408-af72-93cdf3ea291f,NaN,NaN,AY5D6Y8LL,2024-01-01,353.24,Pago del día,ASP INTEGRA OPC,Beatriz Gómez Francisco,659802020000352552,PAID,"2024-01-01,42644264202401012760286044,40072,90...",05. Fifth_batch,BANORTE,Dispersión-FP 2024-01-01.xlsx,2024-01-01
785,LEDGER_FP,99e565d9-6467-4767-a2a6-27306360294e,NaN,NaN,AN3V27VSB,2024-01-01,61.33,Pago del día,ASP INTEGRA OPC,Yolanda Mota Enciso,659802020000177591,PAID,"2024-01-01,42644264202401012760286157,40072,90...",05. Fifth_batch,BANORTE,Dispersión-FP 2024-01-01.xlsx,2024-01-01
784,LEDGER_FP,990c091b-8f05-48ae-9ca5-fb14c646b35f,NaN,NaN,AB9BRNC2J,2024-01-01,3.60,Pago del día,ASP INTEGRA OPC,Alejandro Israel Lugo Mejia,659802020000155102,PAID,"2024-01-01,42644264202401012760285987,40072,90...",05. Fifth_batch,BANORTE,Dispersión-FP 2024-01-01.xlsx,2024-01-01

In [21]:
pagos_2.shape

(74601, 17)

#### PAGOS REPETIDOS FAST PAYMENTS

In [22]:
duplicates_fp = pagos_2[pagos_2.duplicated(['report_id','date_file'] , keep=False)]
duplicates_fp['INDEX'] = duplicates_fp['report_id'] + '_' + duplicates_fp['date_file'].astype('str')
duplicates_fp.sort_values(by=['date_file','report_id','Batch_time'],inplace=True)
duplicates_fp.head()

C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_2160\3928666323.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  duplicates_fp['INDEX'] = duplicates_fp['report_id'] + '_' + duplicates_fp['date_file'].astype('str')
C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_2160\3928666323.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  duplicates_fp.sort_values(by=['date_file','report_id','Batch_time'],inplace=True)

,type,merchant_id,merchant_name,user_email,report_id,report_date_local,total_due,tipo,bank,swap,CLABE,status,LINEA CEP,Batch_time,Banco_emisor,file_name,date_file,INDEX
10,LEDGER_FP,c31b42ff-5d34-4e39-8330-f7b50edbec50,NaN,NaN,A2FWF2R93,2024-01-01,"13,951.03",Pago del día,CAJA POP MEXICA,Jacqueline Martínez Díaz,677690044356398744,ERROR,NaN,02. Second_batch,BANORTE,Dispersión-FP 2024-01-01.xlsx,2024-01-01,A2FWF2R93_2024-01-01
23,LEDGER_FP,c31b42ff-5d34-4e39-8330-f7b50edbec50,NaN,NaN,A2FWF2R93,2024-01-01,"13,951.03",Pago del día,CAJA POP MEXICA,Jacqueline Martínez Díaz,677690044356398744,ERROR,NaN,04. Fourth_batch,BANORTE,Dispersión-FP 2024-01-01.xlsx,2024-01-01,A2FWF2R93_2024-01-01
327,LEDGER_FP,c90766f7-5477-46aa-a4f6-27f71bacd1fe,NaN,NaN,A34XW4PYZ,2024-01-01,693.77,Pago del día,CAJA POP MEXICA,MARCO ANTONIO AGUAYO PEREZ,677222042608722629,PAID,NaN,02. Second_batch,BANORTE,Dispersión-FP 2024-01-01.xlsx,2024-01-01,A34XW4PYZ_2024-01-01
598,LEDGER_FP,c90766f7-5477-46aa-a4f6-27f71bacd1fe,NaN,NaN,A34XW4PYZ,2024-01-01,693.77,Pago del día,CAJA POP MEXICA,MARCO ANTONIO AGUAYO PEREZ,677222042608722629,PAID,NaN,04. Fourth_batch,BANORTE,Dispersión-FP 2024-01-01.xlsx,2024-01-01,A34XW4PYZ_2024-01-01
12,LEDGER_FP,dc547d79-14b6-484f-9609-4426530da61b,NaN,NaN,A468GN4YV,2024-01-01,"1,116.34",Pago del día,SANTANDER,Enrique Zuniga Acuna,14000606211754166,ERROR,NaN,02. Second_batch,BANORTE,Dispersión-FP 2024-01-01.xlsx,2024-01-01,A468GN4YV_2024-01-01

In [23]:
duplicates_fp.shape

(1479, 18)

In [24]:
duplicates_fp.drop_duplicates(subset="INDEX", keep='last', inplace=True)

C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_2160\2218390481.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  duplicates_fp.drop_duplicates(subset="INDEX", keep='last', inplace=True)

In [25]:
duplicates_fp.head()

,type,merchant_id,merchant_name,user_email,report_id,report_date_local,total_due,tipo,bank,swap,CLABE,status,LINEA CEP,Batch_time,Banco_emisor,file_name,date_file,INDEX
23,LEDGER_FP,c31b42ff-5d34-4e39-8330-f7b50edbec50,NaN,NaN,A2FWF2R93,2024-01-01,"13,951.03",Pago del día,CAJA POP MEXICA,Jacqueline Martínez Díaz,677690044356398744,ERROR,NaN,04. Fourth_batch,BANORTE,Dispersión-FP 2024-01-01.xlsx,2024-01-01,A2FWF2R93_2024-01-01
598,LEDGER_FP,c90766f7-5477-46aa-a4f6-27f71bacd1fe,NaN,NaN,A34XW4PYZ,2024-01-01,693.77,Pago del día,CAJA POP MEXICA,MARCO ANTONIO AGUAYO PEREZ,677222042608722629,PAID,NaN,04. Fourth_batch,BANORTE,Dispersión-FP 2024-01-01.xlsx,2024-01-01,A34XW4PYZ_2024-01-01
26,LEDGER_FP,dc547d79-14b6-484f-9609-4426530da61b,NaN,NaN,A468GN4YV,2024-01-01,"1,116.34",Pago del día,SANTANDER,Enrique Zuniga Acuna,14000606211754166,ERROR,NaN,04. Fourth_batch,BANORTE,Dispersión-FP 2024-01-01.xlsx,2024-01-01,A468GN4YV_2024-01-01
493,LEDGER_FP,5150c3c4-6b3c-4e16-b544-13ef4548d26c,NaN,NaN,A787S7QYG,2024-01-01,2.00,Pago del día,CAJA POP MEXICA,Ramon Olmos Mrquez,677180044278399195,PAID,NaN,04. Fourth_batch,BANORTE,Dispersión-FP 2024-01-01.xlsx,2024-01-01,A787S7QYG_2024-01-01
16,LEDGER_FP,0f8187da-2201-47a4-a080-c3fd0c295845,NaN,NaN,A95HMQCJ8,2024-01-01,924.70,Pago del día,CAJA POP MEXICA,Claudia Horalia Rivera Reyes,677010042278353012,ERROR,NaN,04. Fourth_batch,BANORTE,Dispersión-FP 2024-01-01.xlsx,2024-01-01,A95HMQCJ8_2024-01-01

In [26]:
duplicates_fp.shape

(655, 18)

In [27]:
pivot_duplicates_fp = pd.pivot_table(duplicates_fp,index=['tipo','date_file'],
                                     columns=['type'],
                                  values=['total_due']
                                  ,aggfunc = ['sum', len],margins=True)
pivot_duplicates_fp.reset_index(drop=False, inplace=True)
pivot_duplicates_fp.head()

              tipo            date_file       sum                        \
                                        total_due
type                                      INSTANT  LEDGER_FP        All
0     Pago del día  2024-01-01 00:00:00       NaN 160,906.30 160,906.30
1     Pago del día  2024-01-02 00:00:00       NaN  47,816.60  47,816.60
2     Pago del día  2024-01-03 00:00:00       NaN      64.20      64.20
3     Pago del día  2024-01-04 00:00:00       NaN  32,043.39  32,043.39
4     Pago del día  2024-01-05 00:00:00       NaN   9,957.27   9,957.27

           len
     total_due
type   INSTANT LEDGER_FP All
0          NaN     17.00  17
1          NaN      5.00   5
2          NaN      1.00   1
3          NaN      3.00   3
4          NaN      6.00   6

In [28]:
pivot_duplicates_fp.shape

(49, 8)

In [29]:
# pivot_duplicates_fp.to_excel('DUPLICADOS FP JUNIO 2021.xlsx',index=True)

#### ALL PAGOS

In [30]:
allpagos = pd.concat([pagos_1,pagos_2])
allpagos.head()

,type,merchant_id,merchant_name,user_email,report_id,report_date_local,total_due,tipo,bank,bank_account_owner_name,CLABE,status,LINEA CEP,Batch_time,Banco_emisor,file_name,date_file,swap
0,LEDGER_TRAD,03c36e07-4550-4a03-addc-23932ed78f86,NaN,NaN,A935WHWRG,2024-01-01,267.34,Pago del día,BBVA BANCOMER,Flor Liliana Gonzalez Gonzalez,12500029618132855,ERROR,NaN,01. First_batch,BANORTE,Dispersión-20240101.xlsx,2024-01-01,NaN
48668,LEDGER_TRAD,ab530350-07a8-422f-bc9d-81aeaa89f1db,NaN,NaN,AC9DQF6CR,2024-01-01,"1,629.01",Pago del día,HSBC,Alejandro Garcia Gomez,21290065927796690,PAID,"2024-01-01,42644264202401012759773444,40072,40...",01. First_batch,BANORTE,Dispersión-20240101.xlsx,2024-01-01,NaN
48669,LEDGER_TRAD,ab5444dc-0e70-4ee7-9a28-e386d01bc928,NaN,NaN,A9RLJ33Q6,2024-01-01,"57,446.48",Pago del día,BAJIO,Hugo Javier Lopez Bonifaz,30320900004894431,PAID,"2024-01-01,42644264202401012759744087,40072,40...",01. First_batch,BANORTE,Dispersión-20240101.xlsx,2024-01-01,NaN
48670,LEDGER_TRAD,ab549ce9-08c3-434b-b208-58bd270c8f8c,NaN,NaN,A3Z2D3SK2,2024-01-01,172.48,Pago del día,SANTANDER,Guadalupe Rosales Jimenez,14180605766810447,PAID,"2024-01-01,42644264202401012759714239,40072,40...",01. First_batch,BANORTE,Dispersión-20240101.xlsx,2024-01-01,NaN
48671,LEDGER_TRAD,ab562636-b3ef-4a85-b9b6-1b3fc661ada0,NaN,NaN,ASNVFSMS5,2024-01-01,"10,166.03",Pago del día,BBVA BANCOMER,Felipe David Valerio Aguilar,12930011521559909,PAID,"2024-01-01,42644264202401012759758846,40072,40...",01. First_batch,BANORTE,Dispersión-20240101.xlsx,2024-01-01,NaN

In [31]:
allpagos.shape

(3049353, 18)

In [32]:
allpagos['tipo'].unique()

array(['Pago del día', 'Reprogramación'], dtype=object)

In [33]:
group_allpagos = allpagos.groupby(['date_file']).agg({'total_due':sum,'report_id':'count'}).reset_index()
group_allpagos.head()

C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_2160\3072073980.py:1: FutureWarning: The provided callable <built-in function sum> is currently using SeriesGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  group_allpagos = allpagos.groupby(['date_file']).agg({'total_due':sum,'report_id':'count'}).reset_index()

   date_file      total_due  report_id
0 2024-01-01 236,237,714.90      74190
1 2024-01-02 130,823,715.11      38879
2 2024-01-03 235,162,100.38      92001
3 2024-01-04 247,827,537.61      99981
4 2024-01-05 256,205,736.07     104750

In [34]:
group_allpagos.shape

(31, 3)

#### PAGOS DEL DIA

In [35]:
pagosdia = allpagos[(allpagos['tipo'].isin(['Pago del día']))]
pagosdia.head()

,type,merchant_id,merchant_name,user_email,report_id,report_date_local,total_due,tipo,bank,bank_account_owner_name,CLABE,status,LINEA CEP,Batch_time,Banco_emisor,file_name,date_file,swap
0,LEDGER_TRAD,03c36e07-4550-4a03-addc-23932ed78f86,NaN,NaN,A935WHWRG,2024-01-01,267.34,Pago del día,BBVA BANCOMER,Flor Liliana Gonzalez Gonzalez,12500029618132855,ERROR,NaN,01. First_batch,BANORTE,Dispersión-20240101.xlsx,2024-01-01,NaN
48668,LEDGER_TRAD,ab530350-07a8-422f-bc9d-81aeaa89f1db,NaN,NaN,AC9DQF6CR,2024-01-01,"1,629.01",Pago del día,HSBC,Alejandro Garcia Gomez,21290065927796690,PAID,"2024-01-01,42644264202401012759773444,40072,40...",01. First_batch,BANORTE,Dispersión-20240101.xlsx,2024-01-01,NaN
48669,LEDGER_TRAD,ab5444dc-0e70-4ee7-9a28-e386d01bc928,NaN,NaN,A9RLJ33Q6,2024-01-01,"57,446.48",Pago del día,BAJIO,Hugo Javier Lopez Bonifaz,30320900004894431,PAID,"2024-01-01,42644264202401012759744087,40072,40...",01. First_batch,BANORTE,Dispersión-20240101.xlsx,2024-01-01,NaN
48670,LEDGER_TRAD,ab549ce9-08c3-434b-b208-58bd270c8f8c,NaN,NaN,A3Z2D3SK2,2024-01-01,172.48,Pago del día,SANTANDER,Guadalupe Rosales Jimenez,14180605766810447,PAID,"2024-01-01,42644264202401012759714239,40072,40...",01. First_batch,BANORTE,Dispersión-20240101.xlsx,2024-01-01,NaN
48671,LEDGER_TRAD,ab562636-b3ef-4a85-b9b6-1b3fc661ada0,NaN,NaN,ASNVFSMS5,2024-01-01,"10,166.03",Pago del día,BBVA BANCOMER,Felipe David Valerio Aguilar,12930011521559909,PAID,"2024-01-01,42644264202401012759758846,40072,40...",01. First_batch,BANORTE,Dispersión-20240101.xlsx,2024-01-01,NaN

In [36]:
pagosdia.shape

(3035101, 18)

In [37]:
group_dia = pagosdia.groupby(['date_file']).agg({'total_due':sum,'report_id':'count'}).reset_index()
group_dia.head()

C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_2160\1000930482.py:1: FutureWarning: The provided callable <built-in function sum> is currently using SeriesGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  group_dia = pagosdia.groupby(['date_file']).agg({'total_due':sum,'report_id':'count'}).reset_index()

   date_file      total_due  report_id
0 2024-01-01 234,946,040.83      73647
1 2024-01-02 128,024,896.44      37342
2 2024-01-03 233,256,567.72      91129
3 2024-01-04 245,207,003.17      99111
4 2024-01-05 253,672,758.80     104225

In [38]:
group_dia.shape

(31, 3)

# PRIMER MATCH (SETTLED VS PAGOS DEL DIA)

In [39]:
check_1 = cum_1.merge(pagosdia[['report_id','total_due','tipo','file_name']] ,on='report_id', how='left')
check_1['total_due_y'].fillna('NO ENCONTRADO')
check_1['tipo'].fillna('NO ENCONTRADO',inplace=True)
check_1['file_name_y'].fillna('NO ENCONTRADO',inplace=True)
# check_1.fillna({'total_due_y':'NO ENCONTRADO', 'tipo':'NO ENCONTRADO', 'file_name_y':'NO ENCONTRADO'}, inplace=True)
check_1.head()

Empty DataFrame
Columns: [merchant_id, merchant_name, user_email, report_date_local, total_transactions, total_fees_charged, total_taxes, applied_fees_benefits, applied_taxes_benefits, fee_direct_deposit, taxes_direct_deposit, total_adjustments, total_adjustment_fees_charged, total_adjustment_taxes, cobranza, total_released, total_retained, tipopago, total_due_x, type, created_date, created_time, updated_date, updated_time, file_name_x, report_id, total_due_y, tipo, file_name_y]
Index: []

[0 rows x 29 columns]

In [40]:
check_1['file_name_y'].unique()

array([], dtype=object)

In [41]:
not_found_1 = check_1[((check_1['file_name_y'].isnull()) | (check_1['file_name_y'].isin(['NO ENCONTRADO'])))
                        & (check_1['total_due_x'] != 0)]
not_found_1.head()

Empty DataFrame
Columns: [merchant_id, merchant_name, user_email, report_date_local, total_transactions, total_fees_charged, total_taxes, applied_fees_benefits, applied_taxes_benefits, fee_direct_deposit, taxes_direct_deposit, total_adjustments, total_adjustment_fees_charged, total_adjustment_taxes, cobranza, total_released, total_retained, tipopago, total_due_x, type, created_date, created_time, updated_date, updated_time, file_name_x, report_id, total_due_y, tipo, file_name_y]
Index: []

[0 rows x 29 columns]

In [42]:
not_found_1.shape

(0, 29)

In [43]:
group_notfound = not_found_1.groupby(['report_date_local']).agg({'total_due_x':sum,'report_id':'count'}).reset_index()
group_notfound.rename(columns={'report_date_local':'date_file'},inplace=True)
group_notfound.head()

C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_2160\212403241.py:1: FutureWarning: The provided callable <built-in function sum> is currently using SeriesGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  group_notfound = not_found_1.groupby(['report_date_local']).agg({'total_due_x':sum,'report_id':'count'}).reset_index()

Empty DataFrame
Columns: [date_file, total_due_x, report_id]
Index: []

In [44]:
group_notfound.shape

(0, 3)

#### REPROGRAMACIONES

In [45]:
repro = allpagos[(allpagos['tipo'].isin(['Reprogramación']))]
repro.head()

,type,merchant_id,merchant_name,user_email,report_id,report_date_local,total_due,tipo,bank,bank_account_owner_name,CLABE,status,LINEA CEP,Batch_time,Banco_emisor,file_name,date_file,swap
48629,LEDGER_TRAD,ab350613-f8be-4064-b760-d8e74e42b3ac,NaN,NaN,AKZY6FTWJ,2023-12-24,251.54,Reprogramación,BANORTE/IXE,Karla Lopez,72580012142528122,PAID,COMPROBANTE MISMO BANCO BANORTE,01. First_batch,BANORTE,Dispersión-20240101.xlsx,2024-01-01,NaN
48628,LEDGER_TRAD,ab350613-f8be-4064-b760-d8e74e42b3ac,NaN,NaN,A5ZMKS96D,2023-12-23,281.73,Reprogramación,BANORTE/IXE,Karla Lopez,72580012142528122,PAID,COMPROBANTE MISMO BANCO BANORTE,01. First_batch,BANORTE,Dispersión-20240101.xlsx,2024-01-01,NaN
48627,LEDGER_TRAD,ab350613-f8be-4064-b760-d8e74e42b3ac,NaN,NaN,A89S45LLS,2023-12-22,321.96,Reprogramación,BANORTE/IXE,Karla Lopez,72580012142528122,PAID,COMPROBANTE MISMO BANCO BANORTE,01. First_batch,BANORTE,Dispersión-20240101.xlsx,2024-01-01,NaN
48626,LEDGER_TRAD,ab350613-f8be-4064-b760-d8e74e42b3ac,NaN,NaN,ACWY9SYVK,2023-12-17,533.74,Reprogramación,BANORTE/IXE,Karla Lopez,72580012142528122,PAID,COMPROBANTE MISMO BANCO BANORTE,01. First_batch,BANORTE,Dispersión-20240101.xlsx,2024-01-01,NaN
48625,LEDGER_TRAD,ab350613-f8be-4064-b760-d8e74e42b3ac,NaN,NaN,AJXX94F4K,2023-12-11,271.17,Reprogramación,BANORTE/IXE,Karla Lopez,72580012142528122,PAID,COMPROBANTE MISMO BANCO BANORTE,01. First_batch,BANORTE,Dispersión-20240101.xlsx,2024-01-01,NaN

In [46]:
repro.shape

(14252, 18)

In [47]:
group_repro = repro.groupby(['date_file']).agg({'total_due':sum,'report_id':'count'}).reset_index()
group_repro.head()

C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_2160\257574048.py:1: FutureWarning: The provided callable <built-in function sum> is currently using SeriesGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  group_repro = repro.groupby(['date_file']).agg({'total_due':sum,'report_id':'count'}).reset_index()

   date_file    total_due  report_id
0 2024-01-01 1,291,674.07        543
1 2024-01-02 2,798,818.67       1537
2 2024-01-03 1,905,532.66        872
3 2024-01-04 2,620,534.44        870
4 2024-01-05 2,532,977.27        525

In [48]:
group_repro.shape

(31, 3)

# SEGUNDO MATCH (IDENTIFICACION DE REPROGRAMACIONES)

In [49]:
check_2 = not_found_1.merge(repro[['report_id','total_due','tipo','file_name']] ,on='report_id', how='left')
check_2.head()

Empty DataFrame
Columns: [merchant_id, merchant_name, user_email, report_date_local, total_transactions, total_fees_charged, total_taxes, applied_fees_benefits, applied_taxes_benefits, fee_direct_deposit, taxes_direct_deposit, total_adjustments, total_adjustment_fees_charged, total_adjustment_taxes, cobranza, total_released, total_retained, tipopago, total_due_x, type, created_date, created_time, updated_date, updated_time, file_name_x, total_due_y, tipo_x, file_name_y, report_id, total_due, tipo_y, file_name]
Index: []

[0 rows x 32 columns]

In [50]:
check_2.shape

(0, 32)

In [51]:
# writer = pd.ExcelWriter('REPROGRAMACIONES JUNIO 2021.xlsx', engine='xlsxwriter', options={'encoding':'utf-8'})
# check_2.to_excel(writer, sheet_name='DETAIL REPROGRAMACIONES',index=False)
# writer.save()
# writer.close()

# FECHA DE PAGOS (SETTLED VS PAGOS DEL DIA)

In [52]:
fecha_pago = not_found_1.merge(repro[['report_id','date_file','tipo','status','file_name']] ,on='report_id', how='left')
fecha_pago.sort_values(by=['date_file'],ascending=True,inplace=True)
fecha_pago.head()

Empty DataFrame
Columns: [merchant_id, merchant_name, user_email, report_date_local, total_transactions, total_fees_charged, total_taxes, applied_fees_benefits, applied_taxes_benefits, fee_direct_deposit, taxes_direct_deposit, total_adjustments, total_adjustment_fees_charged, total_adjustment_taxes, cobranza, total_released, total_retained, tipopago, total_due_x, type, created_date, created_time, updated_date, updated_time, file_name_x, total_due_y, tipo_x, file_name_y, report_id, date_file, tipo_y, status, file_name]
Index: []

[0 rows x 33 columns]

In [53]:
fecha_pago.shape

(0, 33)

In [54]:
fecha_pago.drop_duplicates(subset ='report_id',keep='first',inplace=True)

Empty DataFrame
Columns: [merchant_id, merchant_name, user_email, report_date_local, total_transactions, total_fees_charged, total_taxes, applied_fees_benefits, applied_taxes_benefits, fee_direct_deposit, taxes_direct_deposit, total_adjustments, total_adjustment_fees_charged, total_adjustment_taxes, cobranza, total_released, total_retained, tipopago, total_due_x, type, created_date, created_time, updated_date, updated_time, file_name_x, total_due_y, tipo_x, file_name_y, report_id, date_file, tipo_y, status, file_name]
Index: []

[0 rows x 33 columns]

In [55]:
fecha_pago.head()

Empty DataFrame
Columns: [merchant_id, merchant_name, user_email, report_date_local, total_transactions, total_fees_charged, total_taxes, applied_fees_benefits, applied_taxes_benefits, fee_direct_deposit, taxes_direct_deposit, total_adjustments, total_adjustment_fees_charged, total_adjustment_taxes, cobranza, total_released, total_retained, tipopago, total_due_x, type, created_date, created_time, updated_date, updated_time, file_name_x, total_due_y, tipo_x, file_name_y, report_id, date_file, tipo_y, status, file_name]
Index: []

[0 rows x 33 columns]

In [56]:
fecha_pago.shape

(0, 33)

### AGRUPADO POR DÍA

In [57]:
pivot_fecha_pago = pd.pivot_table(fecha_pago,index=['report_date_local'],
                                  values=['total_due_x'],aggfunc = ['sum', len],margins=True)
pivot_fecha_pago.head()

C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_2160\898092038.py:1: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  pivot_fecha_pago = pd.pivot_table(fecha_pago,index=['report_date_local'],
C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_2160\898092038.py:1: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  pivot_fecha_pago = pd.pivot_table(fecha_pago,index=['report_date_local'],

                          sum         len
                  total_due_x total_due_x
report_date_local
All                      0.00        0.00

In [58]:
pivot_fecha_pago.shape

(1, 2)

# PAGOS MANUALES

In [59]:
file_manual = glob.glob(r'G:\.shortcut-targets-by-id\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\3.-Settlement\5.-HISTORICO FILES PAGOS\01. TRADICIONAL\2024\01. JANUARY\MANUALES\*.xlsx', recursive=False)
file_manual

['G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2024\\01. JANUARY\\MANUALES\\Manuales 2024.01.01 - 2024.01.31.xlsx']

In [60]:
manuales_all = pd.concat([pd.read_excel(f,sheet_name='Formato Pago Manual',skiprows=1
                                      ,converters={'Cta. CLABE de depósito':str,'report_id':str})
                          .assign(file_name=os.path.basename(f)) for f in file_manual])
manuales_all['Date']= pd.to_datetime(manuales_all['Date'])  
manuales_all['Tipo'] = 'MANUAL'

In [61]:
manuales_final = manuales_all[['Date','ME ID','ME NAME',' (mxn)','Banco','Justificación para el pago','Tipo','Report ID']]
manuales_final.head()

,Date,ME ID,ME NAME,(mxn),Banco,Justificación para el pago,Tipo,Report ID
0,2024-01-17,60276b7d-9523-4d28-9268-29655ab55d98,NaN,"2,122.74",Kuspit Casa de Bolsa,Re: SOP-SOP-15735 / SOP-15729 || Solicitud de ...,MANUAL,NaN
1,2024-01-17,dc1c1ba2-0bff-40c6-82e1-405f9f0ee8d8,NaN,"2,899.08",Opciones Empresariales Del Noreste,Re: SOP-SOP-15735 / SOP-15729 || Solicitud de ...,MANUAL,NaN
2,2024-01-18,60276b7d-9523-4d28-9268-29655ab55d98,NaN,485.15,Kuspit Casa de Bolsa,Re: SOP-SOP-15735 / SOP-15729 || Solicitud de ...,MANUAL,NaN
3,2024-01-25,588ed3b3-d64a-4f01-998e-a819bb2dd1eb,NaN,283.64,"BBVA Bancomer, S.A.",2384796,MANUAL,QE8TGPF
4,2024-01-25,588ed3b3-d64a-4f01-998e-a819bb2dd1eb,NaN,881.58,"BBVA Bancomer, S.A.",2384796,MANUAL,K7S0VRZ

In [62]:
manuales_final.shape

(29, 8)

In [63]:
manuales_final.columns

Index(['Date', 'ME ID', 'ME NAME', ' (mxn)', 'Banco',
       'Justificación para el pago', 'Tipo', 'Report ID'],
      dtype='object')

In [64]:
group_manual = manuales_final.groupby(['Date']).agg({' (mxn)':sum,'Report ID':'count'}).reset_index()
group_manual.rename(columns={'Date':'date_file','Report ID':'report_id'},inplace=True)
group_manual.head()

C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_2160\3325178319.py:1: FutureWarning: The provided callable <built-in function sum> is currently using SeriesGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  group_manual = manuales_final.groupby(['Date']).agg({' (mxn)':sum,'Report ID':'count'}).reset_index()

   date_file     (mxn)  report_id
0 2024-01-17  5,021.82          0
1 2024-01-18    485.15          0
2 2024-01-25  7,397.23         15
3 2024-01-31 21,926.11         11

In [65]:
group_manual.shape

(4, 3)

# ACUMULADOS SETTLEMENT

In [66]:
conc_disp = cum_distinct_0.groupby(['report_date_local']).agg({'total_due':sum,'report_id':'count'}).reset_index()
conc_disp.rename(columns={'report_date_local':'date_file'}, inplace=True)
conc_disp.head()

C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_2160\691643010.py:1: FutureWarning: The provided callable <built-in function sum> is currently using SeriesGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  conc_disp = cum_distinct_0.groupby(['report_date_local']).agg({'total_due':sum,'report_id':'count'}).reset_index()

Empty DataFrame
Columns: [date_file, total_due, report_id]
Index: []

In [67]:
conc_disp.shape

(0, 3)

# MERGING ALL DATA FRAMES

In [68]:
total_1 = conc_disp.merge(group_repro[['date_file','total_due','report_id']],on='date_file',how='left') \
.merge(group_manual,on='date_file',how='left')
total_1[' (mxn)'].fillna(0,inplace=True)
total_1['report_id'].fillna(0,inplace=True)
total_1.head()

Empty DataFrame
Columns: [total_due_x, report_id_x, total_due_y, report_id_y, date_file,  (mxn), report_id]
Index: []

In [69]:
total_1['count_total_pago_dia'] = total_1['report_id_x'] + total_1['report_id_y'] + total_1['report_id']
total_1['sum_total_pago_dia'] = total_1['total_due_x'] + total_1['total_due_y'] + total_1[' (mxn)']

In [70]:
total_1

Empty DataFrame
Columns: [total_due_x, report_id_x, total_due_y, report_id_y, date_file,  (mxn), report_id, count_total_pago_dia, sum_total_pago_dia]
Index: []

# ACUMULADOS PAGO DEL DIA

In [71]:
total_2 = group_allpagos.merge(group_notfound[['date_file','total_due_x','report_id']],on='date_file',how='left')\
.merge(group_manual,on='date_file',how='left')
total_2[' (mxn)'].fillna(0,inplace=True)
total_2['report_id'].fillna(0,inplace=True)
total_2['total_due_x'].fillna(0,inplace=True)
total_2['report_id_y'].fillna(0,inplace=True)
total_2.head()

,date_file,total_due,report_id_x,total_due_x,report_id_y,(mxn),report_id
0,2024-01-01,"236,237,714.90",74190,0,0.00,0.00,0.00
1,2024-01-02,"130,823,715.11",38879,0,0.00,0.00,0.00
2,2024-01-03,"235,162,100.38",92001,0,0.00,0.00,0.00
3,2024-01-04,"247,827,537.61",99981,0,0.00,0.00,0.00
4,2024-01-05,"256,205,736.07",104750,0,0.00,0.00,0.00

In [72]:
total_2['count_swap_dia'] = total_2['report_id_x'] + total_2['report_id_y'] + total_2['report_id']
total_2['sum_swap_dia'] = total_2['total_due'] + total_2['total_due_x'] + total_2[' (mxn)']

In [73]:
total_2.head()

,date_file,total_due,report_id_x,total_due_x,report_id_y,(mxn),report_id,count_swap_dia,sum_swap_dia
0,2024-01-01,"236,237,714.90",74190,0,0.00,0.00,0.00,"74,190.00","236,237,714.90"
1,2024-01-02,"130,823,715.11",38879,0,0.00,0.00,0.00,"38,879.00","130,823,715.11"
2,2024-01-03,"235,162,100.38",92001,0,0.00,0.00,0.00,"92,001.00","235,162,100.38"
3,2024-01-04,"247,827,537.61",99981,0,0.00,0.00,0.00,"99,981.00","247,827,537.61"
4,2024-01-05,"256,205,736.07",104750,0,0.00,0.00,0.00,"104,750.00","256,205,736.07"

In [74]:
total_2.shape

(31, 9)

# COMPARACION FINAL

In [75]:
final_comparacion = total_1[['date_file','count_total_pago_dia','sum_total_pago_dia']] \
.merge(total_2[['date_file','count_swap_dia','sum_swap_dia']],on='date_file',how='left')
final_comparacion.head()

Empty DataFrame
Columns: [count_total_pago_dia, sum_total_pago_dia, date_file, count_swap_dia, sum_swap_dia]
Index: []

In [76]:
final_comparacion['diff_count'] = final_comparacion['count_total_pago_dia'] - final_comparacion['count_swap_dia']
final_comparacion['diff_sum'] = final_comparacion['sum_total_pago_dia'] - final_comparacion['sum_swap_dia']

In [77]:
final_comparacion

Empty DataFrame
Columns: [count_total_pago_dia, sum_total_pago_dia, date_file, count_swap_dia, sum_swap_dia, diff_count, diff_sum]
Index: []

In [78]:
writer = pd.ExcelWriter('FASE III. SETTLED VS PAGO DIA ENERO 2024.xlsx',
                        engine='xlsxwriter',
                        engine_kwargs={'options': {'encoding':'utf-8'}})
pivot_fecha_pago.to_excel(writer, sheet_name='ENVIADOS POSTERIOR')
fecha_pago.to_excel(writer, sheet_name='DETAIL NO ENCONTRADO',index=False)
pivot_duplicates_trad.to_excel(writer, sheet_name='PAGOS DUPLICADOS')
pivot_duplicates_fp.to_excel(writer, sheet_name='FP PAGOS DUPLICADOS')
group_manual.to_excel(writer, sheet_name='PAGOS MANUALES')
writer.close()