In [1]:
import pandas as pd
import numpy as np
import glob
import os
from openpyxl import load_workbook
pd.options.display.float_format = '{:,.2f}'.format

# MES AÑO DE CONCILIACIÓN

In [2]:
month_conc = 'August'
year_conc = '2022'

# RUTAS DE ACCESO

### SWAP DEL DIA

In [3]:
allfiles_disp_trad = glob.glob(r'C:\Users\Cristian.Aparicio\Documents\DISPERSIONES\2022\08. AGOSTO\ARCHIVO DISPERSIONES\Dispersión*.xlsx', recursive=False)
allfiles_disp_trad

['C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\08. AGOSTO\\ARCHIVO DISPERSIONES\\Dispersión-20220730.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\08. AGOSTO\\ARCHIVO DISPERSIONES\\Dispersión-20220731.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\08. AGOSTO\\ARCHIVO DISPERSIONES\\Dispersión-20220801.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\08. AGOSTO\\ARCHIVO DISPERSIONES\\Dispersión-20220802.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\08. AGOSTO\\ARCHIVO DISPERSIONES\\Dispersión-20220803.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\08. AGOSTO\\ARCHIVO DISPERSIONES\\Dispersión-20220804.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\08. AGOSTO\\ARCHIVO DISPERSIONES\\Dispersión-20220805.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\08. AGOSTO\\ARCHIVO DISPERSIONES\\Dispersión-20220806.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\08. AGOSTO\\ARCHIVO DISPERSIONES\\Dispersión-20220807.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\08. AGOSTO\\ARCHIVO DISPERSIONES\\Dispersión-20220808.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\08. AGOSTO\\ARCHIVO DISPERSIONES\\Dispersión-20220809.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\08. AGOSTO\\ARCHIVO DISPERSIONES\\Dispersión-20220810.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\08. AGOSTO\\ARCHIVO DISPERSIONES\\Dispersión-20220811.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\08. AGOSTO\\ARCHIVO DISPERSIONES\\Dispersión-20220812.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\08. AGOSTO\\ARCHIVO DISPERSIONES\\Dispersión-20220813.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\08. AGOSTO\\ARCHIVO DISPERSIONES\\Dispersión-20220814.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\08. AGOSTO\\ARCHIVO DISPERSIONES\\Dispersión-20220815.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\08. AGOSTO\\ARCHIVO DISPERSIONES\\Dispersión-20220816.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\08. AGOSTO\\ARCHIVO DISPERSIONES\\Dispersión-20220817.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\08. AGOSTO\\ARCHIVO DISPERSIONES\\Dispersión-20220818.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\08. AGOSTO\\ARCHIVO DISPERSIONES\\Dispersión-20220819.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\08. AGOSTO\\ARCHIVO DISPERSIONES\\Dispersión-20220820.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\08. AGOSTO\\ARCHIVO DISPERSIONES\\Dispersión-20220821.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\08. AGOSTO\\ARCHIVO DISPERSIONES\\Dispersión-20220822.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\08. AGOSTO\\ARCHIVO DISPERSIONES\\Dispersión-20220823.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\08. AGOSTO\\ARCHIVO DISPERSIONES\\Dispersión-20220824.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\08. AGOSTO\\ARCHIVO DISPERSIONES\\Dispersión-20220825.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\08. AGOSTO\\ARCHIVO DISPERSIONES\\Dispersión-20220826.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\08. AGOSTO\\ARCHIVO DISPERSIONES\\Dispersión-20220827.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\08. AGOSTO\\ARCHIVO DISPERSIONES\\Dispersión-20220828.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\08. AGOSTO\\ARCHIVO DISPERSIONES\\Dispersión-20220829.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\08. AGOSTO\\ARCHIVO DISPERSIONES\\Dispersión-20220830.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\08. AGOSTO\\ARCHIVO DISPERSIONES\\Dispersión-20220831.xlsx']

### FAST PAYMENTS

In [4]:
allfiles_fp = glob.glob(r'C:\Users\Cristian.Aparicio\Documents\FAST PAYMENTS\2022\08. AGOSTO\ARCHIVO DISPERSIONES FP\Dispersión-FP*.xlsx',recursive=False)
allfiles_fp

['C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2022\\08. AGOSTO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2022-07-30.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2022\\08. AGOSTO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2022-07-31.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2022\\08. AGOSTO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2022-08-01.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2022\\08. AGOSTO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2022-08-02.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2022\\08. AGOSTO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2022-08-03.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2022\\08. AGOSTO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2022-08-04.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2022\\08. AGOSTO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2022-08-05.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2022\\08. AGOSTO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2022-08-06.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2022\\08. AGOSTO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2022-08-07.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2022\\08. AGOSTO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2022-08-08.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2022\\08. AGOSTO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2022-08-09.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2022\\08. AGOSTO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2022-08-10.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2022\\08. AGOSTO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2022-08-11.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2022\\08. AGOSTO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2022-08-12.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2022\\08. AGOSTO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2022-08-13.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2022\\08. AGOSTO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2022-08-14.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2022\\08. AGOSTO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2022-08-15.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2022\\08. AGOSTO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2022-08-16.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2022\\08. AGOSTO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2022-08-17.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2022\\08. AGOSTO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2022-08-18.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2022\\08. AGOSTO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2022-08-19.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2022\\08. AGOSTO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2022-08-20.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2022\\08. AGOSTO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2022-08-21.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2022\\08. AGOSTO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2022-08-22.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2022\\08. AGOSTO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2022-08-23.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2022\\08. AGOSTO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2022-08-24.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2022\\08. AGOSTO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2022-08-25.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2022\\08. AGOSTO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2022-08-26.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2022\\08. AGOSTO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2022-08-27.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2022\\08. AGOSTO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2022-08-28.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2022\\08. AGOSTO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2022-08-29.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2022\\08. AGOSTO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2022-08-30.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2022\\08. AGOSTO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2022-08-31.xlsx']

# SWAP DEL DIA

In [5]:
swap_dia_total = pd.concat([pd.read_excel(f,sheet_name = 'Swap del día')
                            .assign(file_name=os.path.basename(f)) for f in allfiles_disp_trad])
swap_dia_total['Date'] = swap_dia_total["file_name"].str[-13:-5]
swap_dia_total['Date']= pd.to_datetime(swap_dia_total['Date'], format='%Y%m%d').dt.date
swap_dia_total['Date']= pd.to_datetime(swap_dia_total['Date'])
swap_dia_total.sort_values(by=['Date'],ascending=True,inplace=True)
swap_dia_total['report_date_local']= pd.to_datetime(swap_dia_total['report_date_local'])
swap_dia_total['month_conc'] = month_conc
swap_dia_total['year_conc'] = year_conc
swap_dia_total['month_report'] = swap_dia_total['report_date_local'].dt.strftime('%B')
swap_dia_total['year_report'] = swap_dia_total['report_date_local'].dt.year.astype(str)
swap_dia_total.head()

,type,merchant_id,merchant_name,user_email,report_id,report_date_local,total_due,tipo,bank,bank_account_owner_name,...,status,LINEA CEP,Banco_emisor,file_name,Batch_time,Date,month_conc,year_conc,month_report,year_report
0,DAILY,dfa44465-0cba-471a-bd3d-9887b183b1c8,Veterinaria,Emmanuelgg046@gmail.com,VZ32PWLL5,2022-07-22,2.00,Reprogramación,COMPARTAMOS,Rebeca Vidal Terron,...,ERROR,NaN,NaN,Dispersión-20220730.xlsx,NaN,2022-07-30,August,2022,July,2022
67695,DAILY,003c78d6-e9fb-4cf8-9f54-dc58a5679e98,Zapateria La Infantil,rudos@hotmail.com,GZQCWKNS5,2022-07-30,"1,695.13",Pago del día,SANTANDER,Roberto Higalgo Rodriguez,...,PAID,"2022-07-30,42644264202207301827639749,40072,40...",BANORTE,Dispersión-20220730.xlsx,NaN,2022-07-30,August,2022,July,2022
67694,DAILY,003f35e0-1e9f-48ab-9bb7-0835baa8fa6b,Fisioterapia Lowen,fisioterapialowen@gmail.com,FKQL8V6VM,2022-07-30,"3,334.68",Pago del día,BAJIO,Mara Lowen Frey,...,PAID,"2022-07-30,nan,40072,40030,030680900025614495,...",BANORTE,Dispersión-20220730.xlsx,NaN,2022-07-30,August,2022,July,2022
67693,DAILY,0040085e-b204-43d8-a6fd-1b147ff10467,ZAPATERA ALEXA,distribuidoracalzadoalexa@gmail.com,SVDQTSM57,2022-07-30,277.89,Pago del día,BANAMEX,Francisco Crisolo Olguin López,...,PAID,"2022-07-30,42644264202207301827660020,40072,40...",BANORTE,Dispersión-20220730.xlsx,NaN,2022-07-30,August,2022,July,2022
67692,DAILY,00401777-4c52-4f26-b415-112b790147f2,HERRAMIENTAS RANGEL,Jose_herramientas1979@hotmail.com,K439LSV2J,2022-07-30,"1,054.06",Pago del día,BANAMEX,Jose Antonio Rangel Yepez,...,PAID,"2022-07-30,42644264202207301827740587,40072,40...",BANORTE,Dispersión-20220730.xlsx,NaN,2022-07-30,August,2022,July,2022

In [6]:
swap_dia_total.shape

(2899373, 21)

In [7]:
swap_dia_total.dtypes

type                               object
merchant_id                        object
merchant_name                      object
user_email                         object
report_id                          object
report_date_local          datetime64[ns]
total_due                         float64
tipo                               object
bank                               object
bank_account_owner_name            object
CLABE                               int64
status                             object
LINEA CEP                          object
Banco_emisor                       object
file_name                          object
Batch_time                         object
Date                       datetime64[ns]
month_conc                         object
year_conc                          object
month_report                       object
year_report                        object
dtype: object

In [8]:
pivot_total = pd.pivot_table(swap_dia_total,index=['Date'],values=['total_due'],aggfunc = ['sum', len],margins=True)
pivot_total.reset_index(drop=False, inplace=True)
pivot_total.head()

                  Date            sum       len
                            total_due total_due
0  2022-07-30 00:00:00 223,420,573.50    101536
1  2022-07-31 00:00:00 229,041,274.13     96124
2  2022-08-01 00:00:00 159,019,393.18     67308
3  2022-08-02 00:00:00 163,754,103.68     85588
4  2022-08-03 00:00:00 161,521,823.34     84308

In [9]:
pivot_parcial = pd.pivot_table(swap_dia_total,index=['tipo','Date'],values=['total_due'],aggfunc = ['sum', len],margins=True)
pivot_parcial.reset_index(drop=False, inplace=True)
pivot_parcial.head()

C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_19592\10562768.py:1: FutureWarning: Inferring datetime64[ns] from data containing strings is deprecated and will be removed in a future version. To retain the old behavior explicitly pass Series(data, dtype=datetime64[ns])
  pivot_parcial = pd.pivot_table(swap_dia_total,index=['tipo','Date'],values=['total_due'],aggfunc = ['sum', len],margins=True)
C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_19592\10562768.py:1: FutureWarning: Inferring datetime64[ns] from data containing strings is deprecated and will be removed in a future version. To retain the old behavior explicitly pass Series(data, dtype=datetime64[ns])
  pivot_parcial = pd.pivot_table(swap_dia_total,index=['tipo','Date'],values=['total_due'],aggfunc = ['sum', len],margins=True)

           tipo       Date            sum       len
                                total_due total_due
0  Pago del día 2022-07-30 222,531,099.94    101048
1  Pago del día 2022-07-31 228,453,089.01     95631
2  Pago del día 2022-08-01 157,605,560.37     66477
3  Pago del día 2022-08-02 159,238,242.83     82304
4  Pago del día 2022-08-03 160,664,046.75     83787

## CATEGORIZACIÓN DE REPROGRAMACIONES

In [10]:
swap_dia_total_repro = swap_dia_total[(swap_dia_total['tipo'] == 'Reprogramación')]
swap_dia_total_repro.head()

,type,merchant_id,merchant_name,user_email,report_id,report_date_local,total_due,tipo,bank,bank_account_owner_name,...,status,LINEA CEP,Banco_emisor,file_name,Batch_time,Date,month_conc,year_conc,month_report,year_report
0,DAILY,dfa44465-0cba-471a-bd3d-9887b183b1c8,Veterinaria,Emmanuelgg046@gmail.com,VZ32PWLL5,2022-07-22,2.00,Reprogramación,COMPARTAMOS,Rebeca Vidal Terron,...,ERROR,NaN,NaN,Dispersión-20220730.xlsx,NaN,2022-07-30,August,2022,July,2022
69147,DAILY,0506f3b6-cf3b-4fc6-993b-6ab36af07819,Capitan Crispin,capitanChepesin@gmail.com,T9MLCXWD9,2022-05-24,"1,509.23",Reprogramación,BANCOPPEL,Jose Avigahil Balam Vela,...,PAID,"2022-07-30,42644264202207301827718652,40072,40...",BANORTE,Dispersión-20220730.xlsx,NaN,2022-07-30,August,2022,May,2022
64560,DAILY,085edca3-ac8d-432b-b079-137d8d325eed,Farmacia varels,marcoscorreavarela2004@gmail.com,HP5MBVV2T,2022-07-25,1.95,Reprogramación,SANTANDER,Guadalupe Varela,...,PAID,"2022-07-30,42644264202207301827719440,40072,40...",BANORTE,Dispersión-20220730.xlsx,NaN,2022-07-30,August,2022,July,2022
64559,DAILY,085edca3-ac8d-432b-b079-137d8d325eed,Farmacia varels,marcoscorreavarela2004@gmail.com,9W2M4RX55,2022-07-23,0.95,Reprogramación,SANTANDER,Guadalupe Varela,...,PAID,"2022-07-30,42644264202207301827681790,40072,40...",BANORTE,Dispersión-20220730.xlsx,NaN,2022-07-30,August,2022,July,2022
64582,DAILY,085edca3-ac8d-432b-b079-137d8d325eed,Farmacia varels,marcoscorreavarela2004@gmail.com,G5SF78D22,2022-07-24,1.90,Reprogramación,SANTANDER,Guadalupe Varela,...,PAID,"2022-07-30,42644264202207301827641621,40072,40...",BANORTE,Dispersión-20220730.xlsx,NaN,2022-07-30,August,2022,July,2022

In [11]:
swap_dia_total_repro.shape

(18110, 21)

In [12]:
swap_dia_total_repro.loc[(swap_dia_total_repro['tipo'] == 'Reprogramación')
                   & (swap_dia_total_repro['month_report'] == month_conc) 
                   & (swap_dia_total_repro['year_report'] == year_conc),'tipo_reprogramacion'] = 'repro_mismo_mes'
swap_dia_total_repro['tipo_reprogramacion'].fillna('repro_otro_mes',inplace=True)
swap_dia_total_repro.head()

C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_19592\2042991903.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  swap_dia_total_repro.loc[(swap_dia_total_repro['tipo'] == 'Reprogramación')
C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_19592\2042991903.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  swap_dia_total_repro['tipo_reprogramacion'].fillna('repro_otro_mes',inplace=True)

,type,merchant_id,merchant_name,user_email,report_id,report_date_local,total_due,tipo,bank,bank_account_owner_name,...,LINEA CEP,Banco_emisor,file_name,Batch_time,Date,month_conc,year_conc,month_report,year_report,tipo_reprogramacion
0,DAILY,dfa44465-0cba-471a-bd3d-9887b183b1c8,Veterinaria,Emmanuelgg046@gmail.com,VZ32PWLL5,2022-07-22,2.00,Reprogramación,COMPARTAMOS,Rebeca Vidal Terron,...,NaN,NaN,Dispersión-20220730.xlsx,NaN,2022-07-30,August,2022,July,2022,repro_otro_mes
69147,DAILY,0506f3b6-cf3b-4fc6-993b-6ab36af07819,Capitan Crispin,capitanChepesin@gmail.com,T9MLCXWD9,2022-05-24,"1,509.23",Reprogramación,BANCOPPEL,Jose Avigahil Balam Vela,...,"2022-07-30,42644264202207301827718652,40072,40...",BANORTE,Dispersión-20220730.xlsx,NaN,2022-07-30,August,2022,May,2022,repro_otro_mes
64560,DAILY,085edca3-ac8d-432b-b079-137d8d325eed,Farmacia varels,marcoscorreavarela2004@gmail.com,HP5MBVV2T,2022-07-25,1.95,Reprogramación,SANTANDER,Guadalupe Varela,...,"2022-07-30,42644264202207301827719440,40072,40...",BANORTE,Dispersión-20220730.xlsx,NaN,2022-07-30,August,2022,July,2022,repro_otro_mes
64559,DAILY,085edca3-ac8d-432b-b079-137d8d325eed,Farmacia varels,marcoscorreavarela2004@gmail.com,9W2M4RX55,2022-07-23,0.95,Reprogramación,SANTANDER,Guadalupe Varela,...,"2022-07-30,42644264202207301827681790,40072,40...",BANORTE,Dispersión-20220730.xlsx,NaN,2022-07-30,August,2022,July,2022,repro_otro_mes
64582,DAILY,085edca3-ac8d-432b-b079-137d8d325eed,Farmacia varels,marcoscorreavarela2004@gmail.com,G5SF78D22,2022-07-24,1.90,Reprogramación,SANTANDER,Guadalupe Varela,...,"2022-07-30,42644264202207301827641621,40072,40...",BANORTE,Dispersión-20220730.xlsx,NaN,2022-07-30,August,2022,July,2022,repro_otro_mes

In [13]:
pivot_tipo_repro = pd.pivot_table(swap_dia_total_repro,index=['Date'],
                                  columns=['tipo_reprogramacion'],
                                  values=['total_due']
                                  ,aggfunc = ['sum', len],margins=True)
pivot_tipo_repro.reset_index(drop=False, inplace=True)
pivot_tipo_repro.head()

                                    Date             sum                 \
                                               total_due
tipo_reprogramacion                      repro_mismo_mes repro_otro_mes
0                    2022-07-30 00:00:00             NaN     889,473.56
1                    2022-07-31 00:00:00             NaN     588,185.12
2                    2022-08-01 00:00:00             NaN   1,413,832.81
3                    2022-08-02 00:00:00      128,589.60   4,387,271.25
4                    2022-08-03 00:00:00       83,934.95     773,841.64

                                             len
                                       total_due
tipo_reprogramacion          All repro_mismo_mes repro_otro_mes   All
0                     889,473.56             NaN         488.00   488
1                     588,185.12             NaN         493.00   493
2                   1,413,832.81             NaN         831.00   831
3                   4,515,860.85           49.00       3,235.00  3284
4                     857,776.59           58.00         463.00   521

# FAST PAYMENTS

In [14]:
fp_dia_total = pd.concat([pd.read_excel(f,sheet_name='FAST PAYMENTS')
                          .assign(file_name=os.path.basename(f)) for f in allfiles_fp])
fp_dia_total['Date'] = fp_dia_total["file_name"].str[-15:-5]
fp_dia_total['Date']= pd.to_datetime(fp_dia_total['Date'])
fp_dia_total['report_date_local']= pd.to_datetime(fp_dia_total['report_date_local'])
fp_dia_total['month_conc'] = month_conc
fp_dia_total['year_conc'] = year_conc
fp_dia_total['month_report'] = fp_dia_total['report_date_local'].dt.strftime('%B')
fp_dia_total['year_report'] = fp_dia_total['report_date_local'].dt.year.astype(str)
fp_dia_total.head()

,type,merchant_id,merchant_name,user_email,report_id,report_date_local,total_due,tipo,bank,swap,...,status,CEP,Time,Banco_emisor,file_name,Date,month_conc,year_conc,month_report,year_report
0,INSTANT,01054eec-e90e-42a8-9471-3fb1711cbbc1,Abarrotes La Perla De Magon,laperlademagon2021@hotmail.com,MCZKTHHCG,2022-07-30,547.17,Pago del día,ASP INTEGRA OPC,Miguel Hernandez Ramirez,...,ERROR,NaN,09:00,BANORTE,Dispersión-FP 2022-07-30.xlsx,2022-07-30,August,2022,July,2022
1,INSTANT,03800b25-78a8-4f39-b8a5-7cc999e90872,Abarrotes Francisco Javier,arambulafrancisco92@gmail.com,FNRQL6DML,2022-07-30,515.52,Pago del día,ASP INTEGRA OPC,Cinthia Ines Rubio Vazquez,...,ERROR,NaN,09:00,BANORTE,Dispersión-FP 2022-07-30.xlsx,2022-07-30,August,2022,July,2022
2,INSTANT,0388371d-5da6-4891-bdb1-68b4c6ddb949,ZONATURA,leocon.17_atlas@hotmail.com,XW9M4LSZT,2022-07-30,186.86,Pago del día,ASP INTEGRA OPC,Leonardo De Jesus Negrete Contreras,...,ERROR,NaN,09:00,BANORTE,Dispersión-FP 2022-07-30.xlsx,2022-07-30,August,2022,July,2022
3,INSTANT,06c8935a-10db-4047-81bc-3195cf7dc185,Open24,E1up@hotmail.com,Q2QFKH5N6,2022-07-30,365.25,Pago del día,ASP INTEGRA OPC,Enrique Partida Rivera,...,ERROR,NaN,09:00,BANORTE,Dispersión-FP 2022-07-30.xlsx,2022-07-30,August,2022,July,2022
4,INSTANT,0d130fc1-7bd8-442b-82fa-25b9c5ce0eef,Farmacia SIMIGEN,diazalcantarajuan03@hotmail.com,DPYBCBMLV,2022-07-30,225.19,Pago del día,ASP INTEGRA OPC,Juan Diaz Alcantara,...,ERROR,NaN,09:00,BANORTE,Dispersión-FP 2022-07-30.xlsx,2022-07-30,August,2022,July,2022

In [15]:
fp_dia_total.shape

(151158, 21)

In [16]:
fp_dia_total.dtypes

type                         object
merchant_id                  object
merchant_name                object
user_email                   object
report_id                    object
report_date_local    datetime64[ns]
total_due                   float64
tipo                         object
bank                         object
swap                         object
CLABE                         int64
status                       object
CEP                          object
Time                         object
Banco_emisor                 object
file_name                    object
Date                 datetime64[ns]
month_conc                   object
year_conc                    object
month_report                 object
year_report                  object
dtype: object

In [17]:
pivot_fp_total = pd.pivot_table(fp_dia_total,index=['Date'],values=['total_due'],aggfunc = ['sum', len],margins=True)
pivot_fp_total.reset_index(drop=False, inplace=True)
pivot_fp_total.head()

                  Date          sum       len
                          total_due total_due
0  2022-07-30 00:00:00 3,569,318.93      5520
1  2022-07-31 00:00:00 2,496,018.53      4407
2  2022-08-01 00:00:00 3,100,395.70      4982
3  2022-08-02 00:00:00 2,791,095.95      4546
4  2022-08-03 00:00:00 2,755,089.35      4552

In [18]:
pivot_fp_parcial = pd.pivot_table(fp_dia_total,index=['tipo','Date'],values=['total_due'],aggfunc = ['sum', len],margins=True)
pivot_fp_parcial.reset_index(drop=False, inplace=True)
pivot_fp_parcial.head()

C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_19592\834877613.py:1: FutureWarning: Inferring datetime64[ns] from data containing strings is deprecated and will be removed in a future version. To retain the old behavior explicitly pass Series(data, dtype=datetime64[ns])
  pivot_fp_parcial = pd.pivot_table(fp_dia_total,index=['tipo','Date'],values=['total_due'],aggfunc = ['sum', len],margins=True)
C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_19592\834877613.py:1: FutureWarning: Inferring datetime64[ns] from data containing strings is deprecated and will be removed in a future version. To retain the old behavior explicitly pass Series(data, dtype=datetime64[ns])
  pivot_fp_parcial = pd.pivot_table(fp_dia_total,index=['tipo','Date'],values=['total_due'],aggfunc = ['sum', len],margins=True)

           tipo       Date          sum       len
                              total_due total_due
0  Pago del día 2022-07-30 3,553,415.02      5506
1  Pago del día 2022-07-31 2,485,831.01      4404
2  Pago del día 2022-08-01 2,538,581.17      4382
3  Pago del día 2022-08-02 2,454,308.61      4225
4  Pago del día 2022-08-03 2,630,835.38      4387

## CATEGORIZACIÓN DE REPROGRAMACIONES - FAST PAYMENTS

In [19]:
fp_dia_total_repro = fp_dia_total[(fp_dia_total['tipo'] == 'Reprogramación')]
fp_dia_total_repro.head()

,type,merchant_id,merchant_name,user_email,report_id,report_date_local,total_due,tipo,bank,swap,...,status,CEP,Time,Banco_emisor,file_name,Date,month_conc,year_conc,month_report,year_report
641,INSTANT,5031b4a9-a118-4fe7-9988-7da4fea8c461,El Ballenato,Jorge.cedano@alumnos.udg.mx,2G4KDQS8X,2022-01-18,239.56,Reprogramación,BBVA BANCOMER,jorge.cedano@alumnos.udg.mx,...,PAID,"2022-07-30,42644264202207301827809331,40072,40...",09:00,BANORTE,Dispersión-FP 2022-07-30.xlsx,2022-07-30,August,2022,January,2022
1103,INSTANT,a8cdd7fd-aadf-412f-ad18-adebb0867a9b,La Teresa Wings,aldoadrian@live.com,FH33QRHM7,2021-12-22,128.58,Reprogramación,BBVA BANCOMER,Aldo Adrian Silva Valdez,...,PAID,"2022-07-30,42644264202207301827809384,40072,40...",09:00,BANORTE,Dispersión-FP 2022-07-30.xlsx,2022-07-30,August,2022,December,2021
1104,INSTANT,a8cdd7fd-aadf-412f-ad18-adebb0867a9b,La Teresa Wings,aldoadrian@live.com,5LPWLPQV3,2022-06-29,240.33,Reprogramación,BBVA BANCOMER,Aldo Adrian Silva Valdez,...,PAID,"2022-07-30,42644264202207301827808732,40072,40...",09:00,BANORTE,Dispersión-FP 2022-07-30.xlsx,2022-07-30,August,2022,June,2022
1171,INSTANT,b3a9e973-2f6a-4270-b75b-c4683afa843e,La Cava,pabloescotoldts@hotmail.com,NZJMXW4SH,2022-07-09,311.43,Reprogramación,AZTECA,Pablo Escoto Garcia,...,PAID,"2022-07-30,42644264202207301827807771,40072,40...",09:00,BANORTE,Dispersión-FP 2022-07-30.xlsx,2022-07-30,August,2022,July,2022
1172,INSTANT,b3a9e973-2f6a-4270-b75b-c4683afa843e,La Cava,pabloescotoldts@hotmail.com,RV93LCVHZ,2022-07-10,704.31,Reprogramación,AZTECA,Pablo Escoto Garcia,...,PAID,"2022-07-30,42644264202207301827808781,40072,40...",09:00,BANORTE,Dispersión-FP 2022-07-30.xlsx,2022-07-30,August,2022,July,2022

In [20]:
fp_dia_total_repro.shape

(2281, 21)

In [21]:
fp_dia_total_repro.loc[(fp_dia_total_repro['tipo'] == 'Reprogramación')
                   & (fp_dia_total_repro['month_report'] == month_conc) 
                   & (fp_dia_total_repro['year_report'] == year_conc),'tipo_reprogramacion'] = 'repro_mismo_mes'
fp_dia_total_repro['tipo_reprogramacion'].fillna('repro_otro_mes',inplace=True)
fp_dia_total_repro.head()

C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_19592\939012805.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fp_dia_total_repro.loc[(fp_dia_total_repro['tipo'] == 'Reprogramación')
C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_19592\939012805.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fp_dia_total_repro['tipo_reprogramacion'].fillna('repro_otro_mes',inplace=True)

,type,merchant_id,merchant_name,user_email,report_id,report_date_local,total_due,tipo,bank,swap,...,CEP,Time,Banco_emisor,file_name,Date,month_conc,year_conc,month_report,year_report,tipo_reprogramacion
641,INSTANT,5031b4a9-a118-4fe7-9988-7da4fea8c461,El Ballenato,Jorge.cedano@alumnos.udg.mx,2G4KDQS8X,2022-01-18,239.56,Reprogramación,BBVA BANCOMER,jorge.cedano@alumnos.udg.mx,...,"2022-07-30,42644264202207301827809331,40072,40...",09:00,BANORTE,Dispersión-FP 2022-07-30.xlsx,2022-07-30,August,2022,January,2022,repro_otro_mes
1103,INSTANT,a8cdd7fd-aadf-412f-ad18-adebb0867a9b,La Teresa Wings,aldoadrian@live.com,FH33QRHM7,2021-12-22,128.58,Reprogramación,BBVA BANCOMER,Aldo Adrian Silva Valdez,...,"2022-07-30,42644264202207301827809384,40072,40...",09:00,BANORTE,Dispersión-FP 2022-07-30.xlsx,2022-07-30,August,2022,December,2021,repro_otro_mes
1104,INSTANT,a8cdd7fd-aadf-412f-ad18-adebb0867a9b,La Teresa Wings,aldoadrian@live.com,5LPWLPQV3,2022-06-29,240.33,Reprogramación,BBVA BANCOMER,Aldo Adrian Silva Valdez,...,"2022-07-30,42644264202207301827808732,40072,40...",09:00,BANORTE,Dispersión-FP 2022-07-30.xlsx,2022-07-30,August,2022,June,2022,repro_otro_mes
1171,INSTANT,b3a9e973-2f6a-4270-b75b-c4683afa843e,La Cava,pabloescotoldts@hotmail.com,NZJMXW4SH,2022-07-09,311.43,Reprogramación,AZTECA,Pablo Escoto Garcia,...,"2022-07-30,42644264202207301827807771,40072,40...",09:00,BANORTE,Dispersión-FP 2022-07-30.xlsx,2022-07-30,August,2022,July,2022,repro_otro_mes
1172,INSTANT,b3a9e973-2f6a-4270-b75b-c4683afa843e,La Cava,pabloescotoldts@hotmail.com,RV93LCVHZ,2022-07-10,704.31,Reprogramación,AZTECA,Pablo Escoto Garcia,...,"2022-07-30,42644264202207301827808781,40072,40...",09:00,BANORTE,Dispersión-FP 2022-07-30.xlsx,2022-07-30,August,2022,July,2022,repro_otro_mes

In [22]:
pivot_tipo_repro_fp = pd.pivot_table(fp_dia_total_repro,index=['Date'],
                                  columns=['tipo_reprogramacion'],
                                  values=['total_due']
                                  ,aggfunc = ['sum', len],margins=True)
pivot_tipo_repro_fp.reset_index(drop=False, inplace=True)
pivot_tipo_repro_fp.head()

                                    Date             sum                 \
                                               total_due
tipo_reprogramacion                      repro_mismo_mes repro_otro_mes
0                    2022-07-30 00:00:00             NaN      15,903.91
1                    2022-07-31 00:00:00             NaN      10,187.52
2                    2022-08-01 00:00:00             NaN     561,814.53
3                    2022-08-02 00:00:00       34,975.76     301,811.58
4                    2022-08-03 00:00:00             NaN     124,253.97

                                           len
                                     total_due
tipo_reprogramacion        All repro_mismo_mes repro_otro_mes  All
0                    15,903.91             NaN          14.00   14
1                    10,187.52             NaN           3.00    3
2                   561,814.53             NaN         600.00  600
3                   336,787.34            1.00         320.00  321
4                   124,253.97             NaN         165.00  165

# EXCEL FINAL

In [23]:
writer = pd.ExcelWriter('FASE IV. REPROGRAMACIONES AGOSTO 2022.xlsx',
                        engine='xlsxwriter',
                        engine_kwargs={'options': {'encoding':'utf-8'}})
pivot_total.to_excel(writer, sheet_name='SWAP DIA TOTAL')
pivot_parcial.to_excel(writer, sheet_name='SWAP DIA PARCIAL')
pivot_fp_total.to_excel(writer, sheet_name='FP TOTAL')
pivot_fp_parcial.to_excel(writer, sheet_name='FP PARCIAL')
pivot_tipo_repro.to_excel(writer, sheet_name='CATEGORIZACION REPRO')
pivot_tipo_repro_fp.to_excel(writer, sheet_name='CATEGORIZACION FP-REPRO')
writer.close()