In [1]:
import pandas as pd
import numpy as np
from openpyxl import load_workbook
import glob
import os
import datetime
pd.options.display.float_format = '{:,.2f}'.format
datetime.timedelta(days=1)
datetime.timedelta(1)

datetime.timedelta(days=1)

In [2]:
allfiles_adj = glob.glob(r'C:\Users\Cristian.Aparicio\Documents\POLIZAS\2023\11. NOVIEMBRE\DATA\ADJ*.csv', recursive=False)
allfiles_adj

['C:\\Users\\Cristian.Aparicio\\Documents\\POLIZAS\\2023\\11. NOVIEMBRE\\DATA\\ADJUSTMENTS - TEMPLATE - NULL.csv']

In [3]:
allfiles_ret = glob.glob(r'C:\Users\Cristian.Aparicio\Documents\POLIZAS\2023\11. NOVIEMBRE\DATA\RET*.csv', recursive=False)
allfiles_ret

['C:\\Users\\Cristian.Aparicio\\Documents\\POLIZAS\\2023\\11. NOVIEMBRE\\DATA\\RETENCIONES - TEMPLATE - NULL.csv']

In [4]:
allfiles_lib = glob.glob(r'C:\Users\Cristian.Aparicio\Documents\POLIZAS\2023\11. NOVIEMBRE\DATA\LIB*.csv', recursive=False)
allfiles_lib

['C:\\Users\\Cristian.Aparicio\\Documents\\POLIZAS\\2023\\11. NOVIEMBRE\\DATA\\LIBERACIONES - TEMPLATE - NULL.csv']

In [5]:
allfiles_com = sorted(glob.glob(r'G:\.shortcut-targets-by-id\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\3.-Settlement\5.-HISTORICO FILES PAGOS\01. TRADICIONAL\2023\11. NOVEMBER\MONTOS EMAIL\*.csv', recursive=False))
allfiles_com

['G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\11. NOVEMBER\\MONTOS EMAIL\\DIFF MONTOS-BNTE-1 2023-11-02.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\11. NOVEMBER\\MONTOS EMAIL\\DIFF MONTOS-BNTE-1 2023-11-04.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\11. NOVEMBER\\MONTOS EMAIL\\DIFF MONTOS-BNTE-1 2023-11-05.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\11. NOVEMBER\\MONTOS EMAIL\\DIFF MONTOS-BNTE-1 2023-11-11.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\11. NOVEMBER\\MONTOS EMAIL\\DIFF MONTOS-BNTE-1 2023-11-12.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\11. NOVEMBER\\MONTOS EMAIL\\DIFF MONTOS-BNTE-1 2023-11-18.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\11. NOVEMBER\\MONTOS EMAIL\\DIFF MONTOS-BNTE-1 2023-11-19.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\11. NOVEMBER\\MONTOS EMAIL\\DIFF MONTOS-BNTE-1 2023-11-20.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\11. NOVEMBER\\MONTOS EMAIL\\DIFF MONTOS-BNTE-1 2023-11-25.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\11. NOVEMBER\\MONTOS EMAIL\\DIFF MONTOS-BNTE-1 2023-11-26.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\11. NOVEMBER\\MONTOS EMAIL\\DIFF MONTOS-BNTE-2 2023-11-02.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\11. NOVEMBER\\MONTOS EMAIL\\DIFF MONTOS-BNTE-2 2023-11-03.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\11. NOVEMBER\\MONTOS EMAIL\\DIFF MONTOS-BNTE-2 2023-11-04.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\11. NOVEMBER\\MONTOS EMAIL\\DIFF MONTOS-BNTE-2 2023-11-05.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\11. NOVEMBER\\MONTOS EMAIL\\DIFF MONTOS-BNTE-2 2023-11-06.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\11. NOVEMBER\\MONTOS EMAIL\\DIFF MONTOS-BNTE-2 2023-11-11.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\11. NOVEMBER\\MONTOS EMAIL\\DIFF MONTOS-BNTE-2 2023-11-12.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\11. NOVEMBER\\MONTOS EMAIL\\DIFF MONTOS-BNTE-2 2023-11-13.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\11. NOVEMBER\\MONTOS EMAIL\\DIFF MONTOS-BNTE-2 2023-11-18.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\11. NOVEMBER\\MONTOS EMAIL\\DIFF MONTOS-BNTE-2 2023-11-19.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\11. NOVEMBER\\MONTOS EMAIL\\DIFF MONTOS-BNTE-2 2023-11-20.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\11. NOVEMBER\\MONTOS EMAIL\\DIFF MONTOS-BNTE-2 2023-11-21.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\11. NOVEMBER\\MONTOS EMAIL\\DIFF MONTOS-BNTE-2 2023-11-25.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\11. NOVEMBER\\MONTOS EMAIL\\DIFF MONTOS-BNTE-2 2023-11-26.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\11. NOVEMBER\\MONTOS EMAIL\\DIFF MONTOS-BNTE-2 2023-11-27.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\11. NOVEMBER\\MONTOS EMAIL\\DIFF MONTOS-BNTE-3 2023-11-01.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\11. NOVEMBER\\MONTOS EMAIL\\DIFF MONTOS-BNTE-3 2023-11-02.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\11. NOVEMBER\\MONTOS EMAIL\\DIFF MONTOS-BNTE-3 2023-11-07.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\11. NOVEMBER\\MONTOS EMAIL\\DIFF MONTOS-BNTE-3 2023-11-08.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\11. NOVEMBER\\MONTOS EMAIL\\DIFF MONTOS-BNTE-3 2023-11-09.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\11. NOVEMBER\\MONTOS EMAIL\\DIFF MONTOS-BNTE-3 2023-11-10.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\11. NOVEMBER\\MONTOS EMAIL\\DIFF MONTOS-BNTE-3 2023-11-14.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\11. NOVEMBER\\MONTOS EMAIL\\DIFF MONTOS-BNTE-3 2023-11-15.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\11. NOVEMBER\\MONTOS EMAIL\\DIFF MONTOS-BNTE-3 2023-11-16.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\11. NOVEMBER\\MONTOS EMAIL\\DIFF MONTOS-BNTE-3 2023-11-17.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\11. NOVEMBER\\MONTOS EMAIL\\DIFF MONTOS-BNTE-3 2023-11-22.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\11. NOVEMBER\\MONTOS EMAIL\\DIFF MONTOS-BNTE-3 2023-11-23.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\11. NOVEMBER\\MONTOS EMAIL\\DIFF MONTOS-BNTE-3 2023-11-24.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\11. NOVEMBER\\MONTOS EMAIL\\DIFF MONTOS-BNTE-3 2023-11-28.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\11. NOVEMBER\\MONTOS EMAIL\\DIFF MONTOS-BNTE-3 2023-11-29.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\11. NOVEMBER\\MONTOS EMAIL\\DIFF MONTOS-BNTE-3 2023-11-30.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\11. NOVEMBER\\MONTOS EMAIL\\DIFF MONTOS-SANT-1 2023-11-01.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\11. NOVEMBER\\MONTOS EMAIL\\DIFF MONTOS-SANT-1 2023-11-03.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\11. NOVEMBER\\MONTOS EMAIL\\DIFF MONTOS-SANT-1 2023-11-06.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\11. NOVEMBER\\MONTOS EMAIL\\DIFF MONTOS-SANT-1 2023-11-07.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\11. NOVEMBER\\MONTOS EMAIL\\DIFF MONTOS-SANT-1 2023-11-08.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\11. NOVEMBER\\MONTOS EMAIL\\DIFF MONTOS-SANT-1 2023-11-09.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\11. NOVEMBER\\MONTOS EMAIL\\DIFF MONTOS-SANT-1 2023-11-10.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\11. NOVEMBER\\MONTOS EMAIL\\DIFF MONTOS-SANT-1 2023-11-13.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\11. NOVEMBER\\MONTOS EMAIL\\DIFF MONTOS-SANT-1 2023-11-14.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\11. NOVEMBER\\MONTOS EMAIL\\DIFF MONTOS-SANT-1 2023-11-15.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\11. NOVEMBER\\MONTOS EMAIL\\DIFF MONTOS-SANT-1 2023-11-16.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\11. NOVEMBER\\MONTOS EMAIL\\DIFF MONTOS-SANT-1 2023-11-17.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\11. NOVEMBER\\MONTOS EMAIL\\DIFF MONTOS-SANT-1 2023-11-21.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\11. NOVEMBER\\MONTOS EMAIL\\DIFF MONTOS-SANT-1 2023-11-22.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\11. NOVEMBER\\MONTOS EMAIL\\DIFF MONTOS-SANT-1 2023-11-23.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\11. NOVEMBER\\MONTOS EMAIL\\DIFF MONTOS-SANT-1 2023-11-24.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\11. NOVEMBER\\MONTOS EMAIL\\DIFF MONTOS-SANT-1 2023-11-27.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\11. NOVEMBER\\MONTOS EMAIL\\DIFF MONTOS-SANT-1 2023-11-28.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\11. NOVEMBER\\MONTOS EMAIL\\DIFF MONTOS-SANT-1 2023-11-29.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\11. NOVEMBER\\MONTOS EMAIL\\DIFF MONTOS-SANT-1 2023-11-30.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\11. NOVEMBER\\MONTOS EMAIL\\DIFF MONTOS-SANT-2 2023-11-01.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\11. NOVEMBER\\MONTOS EMAIL\\DIFF MONTOS-SANT-2 2023-11-07.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\11. NOVEMBER\\MONTOS EMAIL\\DIFF MONTOS-SANT-2 2023-11-08.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\11. NOVEMBER\\MONTOS EMAIL\\DIFF MONTOS-SANT-2 2023-11-09.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\11. NOVEMBER\\MONTOS EMAIL\\DIFF MONTOS-SANT-2 2023-11-10.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\11. NOVEMBER\\MONTOS EMAIL\\DIFF MONTOS-SANT-2 2023-11-14.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\11. NOVEMBER\\MONTOS EMAIL\\DIFF MONTOS-SANT-2 2023-11-15.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\11. NOVEMBER\\MONTOS EMAIL\\DIFF MONTOS-SANT-2 2023-11-16.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\11. NOVEMBER\\MONTOS EMAIL\\DIFF MONTOS-SANT-2 2023-11-17.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\11. NOVEMBER\\MONTOS EMAIL\\DIFF MONTOS-SANT-2 2023-11-22.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\11. NOVEMBER\\MONTOS EMAIL\\DIFF MONTOS-SANT-2 2023-11-23.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\11. NOVEMBER\\MONTOS EMAIL\\DIFF MONTOS-SANT-2 2023-11-24.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\11. NOVEMBER\\MONTOS EMAIL\\DIFF MONTOS-SANT-2 2023-11-28.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\11. NOVEMBER\\MONTOS EMAIL\\DIFF MONTOS-SANT-2 2023-11-29.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\11. NOVEMBER\\MONTOS EMAIL\\DIFF MONTOS-SANT-2 2023-11-30.csv']

In [6]:
allfiles_lender = glob.glob(r'G:\My Drive\RESPALDO-PC\LENDERS\2023\DB\LEN*.csv', recursive=False)
allfiles_lender

['G:\\My Drive\\RESPALDO-PC\\LENDERS\\2023\\DB\\LENDERS DB ENERO 2023.csv',
 'G:\\My Drive\\RESPALDO-PC\\LENDERS\\2023\\DB\\LENDERS DB FEBRERO 2023.csv',
 'G:\\My Drive\\RESPALDO-PC\\LENDERS\\2023\\DB\\LENDERS DB MARZO 2023.csv',
 'G:\\My Drive\\RESPALDO-PC\\LENDERS\\2023\\DB\\LENDERS DB ABRIL 2023.csv',
 'G:\\My Drive\\RESPALDO-PC\\LENDERS\\2023\\DB\\LENDERS DB MAYO 2023.csv',
 'G:\\My Drive\\RESPALDO-PC\\LENDERS\\2023\\DB\\LENDERS DB JUNIO 2023.csv',
 'G:\\My Drive\\RESPALDO-PC\\LENDERS\\2023\\DB\\LENDERS DB JULIO 2023.csv',
 'G:\\My Drive\\RESPALDO-PC\\LENDERS\\2023\\DB\\LENDERS DB AGOSTO 2023.csv',
 'G:\\My Drive\\RESPALDO-PC\\LENDERS\\2023\\DB\\LENDERS DB SEPTIEMBRE 2023.csv',
 'G:\\My Drive\\RESPALDO-PC\\LENDERS\\2023\\DB\\LENDERS DB OCTUBRE 2023.csv',
 'G:\\My Drive\\RESPALDO-PC\\LENDERS\\2023\\DB\\LENDERS DB NOVIEMBRE 2023.csv']

In [7]:
start_date = '2023-11-01'
final_date = '2023-11-30'

# ADJUSTMENTS

In [8]:
adj_1 = pd.concat([pd.read_csv(f).assign(file_name=os.path.basename(f)) for f in allfiles_adj])
adj_1.head()

Empty DataFrame
Columns: [report_id, report_date_local, adjustment_date_local, adjustment_type, adjustment_amount, fees_charged, taxes, amount_due, type, date, file_name]
Index: []

In [9]:
adj_1.shape

(0, 11)

### CURRENT DATES

In [10]:
adj_current_month = adj_1[(adj_1['date'] >= start_date) & (adj_1['date'] <= final_date)]
adj_current_month.head()

Empty DataFrame
Columns: [report_id, report_date_local, adjustment_date_local, adjustment_type, adjustment_amount, fees_charged, taxes, amount_due, type, date, file_name]
Index: []

In [11]:
adj_current_month.shape

(0, 11)

### PIVOT

In [12]:
adj_pivot = adj_current_month.groupby(['type','adjustment_type','date']).agg({'adjustment_amount':sum
                                                                                ,'fees_charged':sum 
                                                                                ,'taxes':sum
                                                                                ,'amount_due':sum}).reset_index()
adj_pivot['adjustment_amount'] = adj_pivot['adjustment_amount']*-1 
adj_pivot['fees_charged'] = adj_pivot['fees_charged']*-1
adj_pivot['taxes'] = adj_pivot['taxes']*-1 
adj_pivot['amount_due'] = adj_pivot['amount_due']*-1 
adj_pivot.head()

C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_14784\1267365187.py:1: FutureWarning: The provided callable <built-in function sum> is currently using SeriesGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  adj_pivot = adj_current_month.groupby(['type','adjustment_type','date']).agg({'adjustment_amount':sum
C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_14784\1267365187.py:1: FutureWarning: The provided callable <built-in function sum> is currently using SeriesGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  adj_pivot = adj_current_month.groupby(['type','adjustment_type','date']).agg({'adjustment_amount':sum

Empty DataFrame
Columns: [type, adjustment_type, date, adjustment_amount, fees_charged, taxes, amount_due]
Index: []

In [13]:
adj_pivot_v2 = pd.pivot_table(adj_current_month,index=['type','date']
                              ,columns=['adjustment_type']
                              ,values=['adjustment_amount','fees_charged','taxes','amount_due']
                              ,aggfunc=np.sum,margins=True)
adj_pivot_v2.head()

C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_14784\25903760.py:1: FutureWarning: The provided callable <function sum at 0x00000152F77401F0> is currently using DataFrameGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  adj_pivot_v2 = pd.pivot_table(adj_current_month,index=['type','date']
C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_14784\25903760.py:1: FutureWarning: The provided callable <function sum at 0x00000152F77401F0> is currently using DataFrameGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  adj_pivot_v2 = pd.pivot_table(adj_current_month,index=['type','date']

Empty DataFrame
Columns: []
Index: []

# LIBERACIONES

In [14]:
lib_1 = pd.concat([pd.read_csv(f).assign(file_name=os.path.basename(f)) for f in allfiles_lib])
lib_1.head()

Empty DataFrame
Columns: [date_release, report_date_local, retained_date_local, report_id, entry_type, amount, type, file_name]
Index: []

### CURRENT DATES

In [15]:
lib_current_month = lib_1[(lib_1['report_date_local'] >= start_date) & (lib_1['report_date_local'] <= final_date)]
lib_current_month.head()

Empty DataFrame
Columns: [date_release, report_date_local, retained_date_local, report_id, entry_type, amount, type, file_name]
Index: []

In [16]:
lib_current_month.shape

(0, 8)

### PIVOT

In [17]:
lib_pivot = lib_current_month.groupby(['type','entry_type','report_date_local']).agg({'amount':sum}).reset_index()
lib_pivot.head()

C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_14784\3698445877.py:1: FutureWarning: The provided callable <built-in function sum> is currently using SeriesGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  lib_pivot = lib_current_month.groupby(['type','entry_type','report_date_local']).agg({'amount':sum}).reset_index()

Empty DataFrame
Columns: [type, entry_type, report_date_local, amount]
Index: []

In [18]:
lib_pivot.shape

(0, 4)

In [19]:
lib_pivot_v2 = pd.pivot_table(lib_current_month,index=['type','report_date_local']
                              ,columns=['entry_type']
                              ,values=['amount']
                              ,aggfunc=np.sum,margins=True)
lib_pivot_v2.head()

C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_14784\3827261204.py:1: FutureWarning: The provided callable <function sum at 0x00000152F77401F0> is currently using DataFrameGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  lib_pivot_v2 = pd.pivot_table(lib_current_month,index=['type','report_date_local']
C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_14784\3827261204.py:1: FutureWarning: The provided callable <function sum at 0x00000152F77401F0> is currently using DataFrameGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  lib_pivot_v2 = pd.pivot_table(lib_current_month,index=['type','report_date_local']

Empty DataFrame
Columns: []
Index: []

In [20]:
lib_pivot_v2.shape

(0, 0)

# RETENCIONES

In [21]:
ret_1 = pd.concat([pd.read_csv(f).assign(file_name=os.path.basename(f)) for f in allfiles_ret])
ret_1.head()

Empty DataFrame
Columns: [date_retainment, report_date_local, report_id, entry_type, amount, type, file_name]
Index: []

### CURRENT DATES

In [22]:
ret_current_month = ret_1[(ret_1['report_date_local'] >= start_date) & (ret_1['report_date_local'] <= final_date)]
ret_current_month.head()

Empty DataFrame
Columns: [date_retainment, report_date_local, report_id, entry_type, amount, type, file_name]
Index: []

In [23]:
ret_current_month.shape

(0, 7)

### PIVOT

In [24]:
ret_pivot = ret_current_month.groupby(['type','entry_type','report_date_local']).agg({'amount':sum}).reset_index()
ret_pivot.head()

C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_14784\1381901728.py:1: FutureWarning: The provided callable <built-in function sum> is currently using SeriesGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  ret_pivot = ret_current_month.groupby(['type','entry_type','report_date_local']).agg({'amount':sum}).reset_index()

Empty DataFrame
Columns: [type, entry_type, report_date_local, amount]
Index: []

In [25]:
ret_pivot.shape

(0, 4)

In [26]:
ret_pivot_v2 = pd.pivot_table(ret_current_month,index=['type','report_date_local']
                              ,columns=['entry_type']
                              ,values=['amount']
                              ,aggfunc=np.sum,margins=True)
ret_pivot_v2.head()

C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_14784\19373298.py:1: FutureWarning: The provided callable <function sum at 0x00000152F77401F0> is currently using DataFrameGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  ret_pivot_v2 = pd.pivot_table(ret_current_month,index=['type','report_date_local']
C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_14784\19373298.py:1: FutureWarning: The provided callable <function sum at 0x00000152F77401F0> is currently using DataFrameGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  ret_pivot_v2 = pd.pivot_table(ret_current_month,index=['type','report_date_local']

Empty DataFrame
Columns: []
Index: []

In [27]:
ret_pivot_v2.shape

(0, 0)

# COMISIONES SWAP / BNTE

In [28]:
com_1 = pd.concat([pd.read_csv(f).assign(file_name=os.path.basename(f)) for f in allfiles_com])
com_1.head()

,date_disbursement,amount,payments_number,comision_dsp,iva_dsp,comision + iva,total_fondeo,monto_mail,comision_mail,iva_mail,monto_fondeo_mail,check_monto,check_comision,check_iva,check_fondeo,dsp,file_name
0,2023-11-02,"215,768,614.75",94771,"164,618.55","26,338.97","190,957.52","215,959,572.27","215,768,614.75","164,618.55","26,338.97","215,959,572.27",0.00,0.00,-0.00,-0.00,BNTE,DIFF MONTOS-BNTE-1 2023-11-02.csv
0,2023-11-04,"235,309,414.06",94748,"164,664.90","26,346.38","191,011.28","235,500,425.34","235,309,414.06","164,664.90","26,346.38","235,500,425.34",0.00,0.00,0.00,0.00,BNTE,DIFF MONTOS-BNTE-1 2023-11-04.csv
0,2023-11-05,"247,266,756.35",94770,"164,825.25","26,372.04","191,197.29","247,457,953.64","247,266,756.35","164,825.25","26,372.04","247,457,953.64",0.00,0.00,0.00,0.00,BNTE,DIFF MONTOS-BNTE-1 2023-11-05.csv
0,2023-11-11,"226,227,043.58",94738,"164,577.90","26,332.46","190,910.36","226,417,953.94","226,227,043.58","164,577.90","26,332.46","226,417,953.94",0.00,0.00,0.00,0.00,BNTE,DIFF MONTOS-BNTE-1 2023-11-11.csv
0,2023-11-12,"254,269,339.30",94738,"164,777.40","26,364.38","191,141.78","254,460,481.08","254,269,339.30","164,777.40","26,364.38","254,460,481.08",0.00,0.00,0.00,0.00,BNTE,DIFF MONTOS-BNTE-1 2023-11-12.csv

In [29]:
com_1.shape

(76, 17)

### CURRENT DATES

In [30]:
com_current_month = com_1[(com_1['date_disbursement'] >= start_date) & (com_1['date_disbursement'] <= final_date)]
com_current_month.head()

,date_disbursement,amount,payments_number,comision_dsp,iva_dsp,comision + iva,total_fondeo,monto_mail,comision_mail,iva_mail,monto_fondeo_mail,check_monto,check_comision,check_iva,check_fondeo,dsp,file_name
0,2023-11-02,"215,768,614.75",94771,"164,618.55","26,338.97","190,957.52","215,959,572.27","215,768,614.75","164,618.55","26,338.97","215,959,572.27",0.00,0.00,-0.00,-0.00,BNTE,DIFF MONTOS-BNTE-1 2023-11-02.csv
0,2023-11-04,"235,309,414.06",94748,"164,664.90","26,346.38","191,011.28","235,500,425.34","235,309,414.06","164,664.90","26,346.38","235,500,425.34",0.00,0.00,0.00,0.00,BNTE,DIFF MONTOS-BNTE-1 2023-11-04.csv
0,2023-11-05,"247,266,756.35",94770,"164,825.25","26,372.04","191,197.29","247,457,953.64","247,266,756.35","164,825.25","26,372.04","247,457,953.64",0.00,0.00,0.00,0.00,BNTE,DIFF MONTOS-BNTE-1 2023-11-05.csv
0,2023-11-11,"226,227,043.58",94738,"164,577.90","26,332.46","190,910.36","226,417,953.94","226,227,043.58","164,577.90","26,332.46","226,417,953.94",0.00,0.00,0.00,0.00,BNTE,DIFF MONTOS-BNTE-1 2023-11-11.csv
0,2023-11-12,"254,269,339.30",94738,"164,777.40","26,364.38","191,141.78","254,460,481.08","254,269,339.30","164,777.40","26,364.38","254,460,481.08",0.00,0.00,0.00,0.00,BNTE,DIFF MONTOS-BNTE-1 2023-11-12.csv

In [31]:
com_current_month.shape

(76, 17)

In [32]:
com_current_month.columns

Index(['date_disbursement', 'amount', 'payments_number', 'comision_dsp',
       'iva_dsp', 'comision + iva', 'total_fondeo', 'monto_mail',
       'comision_mail', 'iva_mail', 'monto_fondeo_mail', 'check_monto',
       'check_comision', 'check_iva', 'check_fondeo', 'dsp', 'file_name'],
      dtype='object')

In [33]:
com_final = com_current_month.groupby(['date_disbursement']).agg({'payments_number':sum,'amount':sum,'comision_dsp':sum,
                                                                  'iva_dsp':sum,'comision + iva':sum,'total_fondeo':sum,
                                                                 'monto_mail':sum,'comision_mail':sum,'iva_mail':sum,
                                                                 'monto_fondeo_mail':sum,'check_monto':sum,'check_comision':sum,
                                                                 'check_iva':sum,'check_fondeo':sum}).reset_index()
com_final.head()

C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_14784\91613238.py:1: FutureWarning: The provided callable <built-in function sum> is currently using SeriesGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  com_final = com_current_month.groupby(['date_disbursement']).agg({'payments_number':sum,'amount':sum,'comision_dsp':sum,
C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_14784\91613238.py:1: FutureWarning: The provided callable <built-in function sum> is currently using SeriesGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  com_final = com_current_month.groupby(['date_disbursement']).agg({'payments_number':sum,'amount':sum,'comision_dsp':sum,

,date_disbursement,payments_number,amount,comision_dsp,iva_dsp,comision + iva,total_fondeo,monto_mail,comision_mail,iva_mail,monto_fondeo_mail,check_monto,check_comision,check_iva,check_fondeo
0,2023-11-01,103240,"232,065,777.87","52,580.65","8,412.90","60,993.55","232,126,771.42","232,065,777.87","52,580.65","8,412.90","232,126,771.42",0.00,0.00,0.00,0.00
1,2023-11-02,103410,"234,618,412.21","179,660.25","28,745.64","208,405.89","234,826,818.10","234,618,412.21","179,660.25","28,745.64","234,826,818.10",0.00,0.00,0.00,-0.00
2,2023-11-03,91273,"219,632,457.22","46,567.10","7,450.74","54,017.84","219,686,475.06","219,632,457.22","46,567.10","7,450.74","219,686,475.06",0.00,0.00,-0.00,-0.00
3,2023-11-04,111867,"277,559,934.35","194,415.60","31,106.50","225,522.10","277,785,456.45","277,559,934.35","194,415.60","31,106.49","277,785,456.44",0.00,0.00,0.01,0.01
4,2023-11-05,109158,"286,342,448.70","189,845.40","30,375.26","220,220.66","286,562,669.36","286,342,448.70","189,845.40","30,375.26","286,562,669.36",0.00,0.00,0.00,0.00

# LENDERS

In [34]:
lender_1 = pd.concat([pd.read_csv(f).assign(file_name=os.path.basename(f)) for f in allfiles_lender])
lender_1.columns = lender_1.columns.str.strip().str.lower() 
lender_1.head()

,collection_date_local,merchant_token,merchant_id,loan_id,provider_code,collection_origin,source,amount,capital,interest,tax,file_name,funded_by
0,2023-01-01,d8d8f9b2-0585-48e0-8d1f-e3bbf4766fbe,30a435af-3c57-4063-bf36-735f5731b179,df0ca1c8-0193-426c-8a32-c164b5ca715e,MRP,SETTLEMENT,LEDGER,23.05,16.60,6.45,0.00,LENDERS DB ENERO 2023.csv,NaN
1,2023-01-01,c4bad384-1718-4f7f-980e-910738bf4c79,0ace4fbe-6ab7-4e7f-a6b0-2a1bb8d6171a,45e17b07-8134-4e21-8aa8-2f90b4df9f37,CTO,SETTLEMENT,LEDGER,18.66,12.74,5.10,0.82,LENDERS DB ENERO 2023.csv,NaN
2,2023-01-01,1592f594-8416-447e-a316-ffc57ea7596f,0614af35-a0b4-4774-ae6f-4eef4238b915,2df0924e-4f58-46c5-8ec1-32a1beec4d49,MRP,SETTLEMENT,LEDGER,98.65,71.03,27.62,0.00,LENDERS DB ENERO 2023.csv,NaN
3,2023-01-01,fa8ee41a-394c-4506-b450-9f8a048a3cfc,789ef894-8d9d-48cb-a20a-0860a44d4a1e,935289b5-6689-4a98-af7f-d91e1a399533,MRP,SETTLEMENT,LEDGER,55.43,41.57,13.86,0.00,LENDERS DB ENERO 2023.csv,NaN
4,2023-01-01,41d8b68d-d496-48bd-9d2e-d3bfe8a4628e,5fab90f8-faf0-48a8-9065-e67b2cde2abe,d4ee526d-2a99-406b-95d3-309ee8d7f84b,MRP,SETTLEMENT,LEDGER,16.44,13.48,2.96,0.00,LENDERS DB ENERO 2023.csv,NaN

In [35]:
lender_1.shape

(8374423, 13)

In [36]:
lender_1['source'].unique()

array(['LEDGER', 'REGULAR', 'FAST_PAYMENT'], dtype=object)

### CURRENT DATES

In [37]:
lender_current_month = lender_1[(lender_1['collection_date_local'] >= start_date) &
                                (lender_1['collection_date_local'] <= final_date)]
lender_current_month.head()

,collection_date_local,merchant_token,merchant_id,loan_id,provider_code,collection_origin,source,amount,capital,interest,tax,file_name,funded_by
0,2023-11-01,4be1c222-5717-4447-9949-455233dc4685,9caa638e-7741-475a-88df-437b31f2aa12,556af834-47f7-4b51-9823-ee2651137982,MRP,SETTLEMENT,LEDGER,3.37,2.09,1.10,0.18,LENDERS DB NOVIEMBRE 2023.csv,CLIP
1,2023-11-01,9a384355-a84a-4ef1-9fe7-5ba2d6d980b1,8ff39c59-dc5c-4e5e-8578-9016b6cf8237,90538742-8f50-4864-827f-685bd6d45cd3,MRP,SETTLEMENT,LEDGER,32.32,28.27,3.49,0.56,LENDERS DB NOVIEMBRE 2023.csv,MRP
2,2023-11-01,e4012946-5a27-40e0-a44e-cf74883351e1,f2a648e6-caee-4bca-9da1-4baedc1f1f20,84b471d4-fe43-43bd-87ca-e9e4d7ad758c,MRP,SETTLEMENT,LEDGER,18.83,13.52,4.58,0.73,LENDERS DB NOVIEMBRE 2023.csv,MRP
3,2023-11-01,afa1db9d-b251-41c8-94dc-8049a611d9dd,e76073a3-a253-4aab-992f-48db9fc0fa0f,855dbd73-2be5-4e9b-8505-6512ee13e3e1,MRP,SETTLEMENT,LEDGER,143.74,110.63,28.54,4.57,LENDERS DB NOVIEMBRE 2023.csv,CLIP
4,2023-11-01,bfcf0c4e-cae2-4d8f-9bc8-94c01d1bb02c,52a4a1c9-f030-4803-828d-a3d257415a35,6f7412bd-aea9-4b2f-9b29-b05384be7b55,R2,SETTLEMENT,LEDGER,174.45,135.22,33.81,5.42,LENDERS DB NOVIEMBRE 2023.csv,R2

In [38]:
lender_current_month.shape

(980947, 13)

In [39]:
lender_current_month['provider_code'].unique()

array(['MRP', 'R2', 'CLIP', 'CTO', 'AVL', 'APH'], dtype=object)

### PIVOT POR PROVIDER CODE

In [40]:
lender_pivot_provider_code = lender_current_month.groupby(['collection_date_local','provider_code']).agg({'amount':sum,
                                                                                                          'capital':sum,
                                                                                                          'interest':sum,
                                                                                                          'tax':sum}).reset_index()
lender_pivot_provider_code.head()

C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_14784\1428468905.py:1: FutureWarning: The provided callable <built-in function sum> is currently using SeriesGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  lender_pivot_provider_code = lender_current_month.groupby(['collection_date_local','provider_code']).agg({'amount':sum,
C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_14784\1428468905.py:1: FutureWarning: The provided callable <built-in function sum> is currently using SeriesGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  lender_pivot_provider_code = lender_current_month.groupby(['collection_date_local','provider_code']).agg({'amount':sum,

,collection_date_local,provider_code,amount,capital,interest,tax
0,2023-11-01,APH,497.52,341.33,156.19,0.00
1,2023-11-01,AVL,632.44,485.90,126.33,20.21
2,2023-11-01,CLIP,"276,271.99","209,014.35","57,981.15","9,276.49"
3,2023-11-01,CTO,"23,535.44","14,840.86","7,495.32","1,199.26"
4,2023-11-01,MRP,"950,538.51","696,958.18","218,938.01","34,642.32"

In [41]:
lender_pivot_provider_code.shape

(161, 6)

### PIVOT CLIP

In [42]:
lender_clip = lender_current_month[(lender_current_month['provider_code'] == 'CLIP')]

In [43]:
# lender_pivot_clip_1 = lender_clip.groupby(['Creation Date','Date']).agg({'Collected today':sum,'Capital today':sum
#                                                                        ,'Interests today':sum,'IVA Interests today':sum
#                                                                        ,'Overdue Interest today':sum,'Total today':sum
#                                                                        ,'CLIP Revenue today':sum}).reset_index()
# lender_pivot_clip_1.head()

In [44]:
# lender_pivot_clip_1.shape

In [45]:
lender_pivot_clip_2 = lender_clip.groupby(['collection_date_local']).agg({'amount':sum,'capital':sum,'interest':sum
                                                 ,'tax':sum}).reset_index()
lender_pivot_clip_2.head()

C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_14784\2945400080.py:1: FutureWarning: The provided callable <built-in function sum> is currently using SeriesGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  lender_pivot_clip_2 = lender_clip.groupby(['collection_date_local']).agg({'amount':sum,'capital':sum,'interest':sum
C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_14784\2945400080.py:1: FutureWarning: The provided callable <built-in function sum> is currently using SeriesGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  lender_pivot_clip_2 = lender_clip.groupby(['collection_date_local']).agg({'amount':sum,'capital':sum,'interest':sum

  collection_date_local     amount    capital  interest       tax
0            2023-11-01 276,271.99 209,014.35 57,981.15  9,276.49
1            2023-11-02 302,857.04 226,533.46 65,796.32 10,527.26
2            2023-11-03 369,725.89 278,385.49 78,742.26 12,598.14
3            2023-11-04 428,028.93 319,680.65 93,403.84 14,944.44
4            2023-11-05 324,748.60 245,599.88 68,232.22 10,916.50

In [46]:
lender_pivot_clip_2.shape

(30, 5)

### PIVOT OTHERS

In [47]:
lender_others = lender_current_month[(lender_current_month['provider_code'] != 'CLIP')]

In [48]:
lender_pivot_others = lender_others.groupby(['collection_date_local']).agg({'amount':sum,'capital':sum,'interest':sum
                                                 ,'tax':sum}).reset_index()
lender_pivot_others.head()

C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_14784\1304906578.py:1: FutureWarning: The provided callable <built-in function sum> is currently using SeriesGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  lender_pivot_others = lender_others.groupby(['collection_date_local']).agg({'amount':sum,'capital':sum,'interest':sum
C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_14784\1304906578.py:1: FutureWarning: The provided callable <built-in function sum> is currently using SeriesGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  lender_pivot_others = lender_others.groupby(['collection_date_local']).agg({'amount':sum,'capital':sum,'interest':sum

  collection_date_local       amount      capital   interest       tax
0            2023-11-01 1,582,113.15 1,169,824.48 355,777.51 56,511.16
1            2023-11-02 1,571,918.41 1,164,836.01 351,333.84 55,748.56
2            2023-11-03 1,913,530.51 1,415,247.24 430,008.33 68,274.94
3            2023-11-04 2,172,083.57 1,608,856.03 486,159.90 77,067.64
4            2023-11-05 1,588,795.08 1,178,173.17 354,359.04 56,262.87

In [49]:
lender_pivot_others.shape

(30, 5)

# EXCEL FINAL

In [50]:
writer = pd.ExcelWriter('FASE II. DATA POLIZA NOVIEMBRE 2023.xlsx',
                        engine='xlsxwriter',
                        engine_kwargs={'options': {'encoding':'utf-8'}})
lender_pivot_provider_code.to_excel(writer, sheet_name='DATA LENDER PROVIDER_CODE',index=False)
lender_pivot_clip_2.to_excel(writer, sheet_name='DATA LENDER CLIP',index=False)
# lender_pivot_clip_1.to_excel(writer, sheet_name='DATA LENDER CLIP CREATION DATE',index=False)
lender_pivot_others.to_excel(writer, sheet_name='DATA LENDER OTHERS',index=False)
adj_pivot.to_excel(writer, sheet_name='DATA ADJUSTMENTS',index=False)
# lib_pivot_v2.to_excel(writer, sheet_name='DATA LIBERACIONES')
# ret_pivot_v2.to_excel(writer, sheet_name='DATA RETENCIONES')
com_final.to_excel(writer, sheet_name='DATA COMISIONES',index=False)
writer.close()