In [1]:
import pandas as pd
import numpy as np
from openpyxl import load_workbook
import glob
import os
import datetime
pd.options.display.float_format = '{:,.2f}'.format
datetime.timedelta(days=1)
datetime.timedelta(1)

datetime.timedelta(days=1)

In [2]:
allfiles_adj = glob.glob(r'C:\Users\Cristian.Aparicio\Documents\POLIZAS\2023\04. ABRIL\DATA\ADJ*.csv', recursive=False)
allfiles_adj

['C:\\Users\\Cristian.Aparicio\\Documents\\POLIZAS\\2023\\04. ABRIL\\DATA\\ADJUSTMENTS ABRIL 2023.csv']

In [3]:
allfiles_ret = glob.glob(r'C:\Users\Cristian.Aparicio\Documents\POLIZAS\2023\04. ABRIL\DATA\RET*.csv', recursive=False)
allfiles_ret

['C:\\Users\\Cristian.Aparicio\\Documents\\POLIZAS\\2023\\04. ABRIL\\DATA\\RETENCIONES ABRIL 2023.csv']

In [4]:
allfiles_lib = glob.glob(r'C:\Users\Cristian.Aparicio\Documents\POLIZAS\2023\04. ABRIL\DATA\LIB*.csv', recursive=False)
allfiles_lib

['C:\\Users\\Cristian.Aparicio\\Documents\\POLIZAS\\2023\\04. ABRIL\\DATA\\LIBERACIONES ABRIL 2023.csv']

In [5]:
allfiles_com = sorted(glob.glob(r'G:\.shortcut-targets-by-id\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\3.-Settlement\5.-HISTORICO FILES PAGOS\01. TRADICIONAL\2023\04. APRIL\MONTOS EMAIL\*.csv', recursive=False))
allfiles_com

['G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\04. APRIL\\MONTOS EMAIL\\DIFF MONTOS-BNTE-1 2023-04-01.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\04. APRIL\\MONTOS EMAIL\\DIFF MONTOS-BNTE-1 2023-04-02.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\04. APRIL\\MONTOS EMAIL\\DIFF MONTOS-BNTE-1 2023-04-06.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\04. APRIL\\MONTOS EMAIL\\DIFF MONTOS-BNTE-1 2023-04-07.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\04. APRIL\\MONTOS EMAIL\\DIFF MONTOS-BNTE-1 2023-04-08.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\04. APRIL\\MONTOS EMAIL\\DIFF MONTOS-BNTE-1 2023-04-09.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\04. APRIL\\MONTOS EMAIL\\DIFF MONTOS-BNTE-1 2023-04-15.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\04. APRIL\\MONTOS EMAIL\\DIFF MONTOS-BNTE-1 2023-04-16.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\04. APRIL\\MONTOS EMAIL\\DIFF MONTOS-BNTE-1 2023-04-22.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\04. APRIL\\MONTOS EMAIL\\DIFF MONTOS-BNTE-1 2023-04-23.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\04. APRIL\\MONTOS EMAIL\\DIFF MONTOS-BNTE-1 2023-04-24.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\04. APRIL\\MONTOS EMAIL\\DIFF MONTOS-BNTE-1 2023-04-25.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\04. APRIL\\MONTOS EMAIL\\DIFF MONTOS-BNTE-1 2023-04-26.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\04. APRIL\\MONTOS EMAIL\\DIFF MONTOS-BNTE-1 2023-04-27.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\04. APRIL\\MONTOS EMAIL\\DIFF MONTOS-BNTE-1 2023-04-28.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\04. APRIL\\MONTOS EMAIL\\DIFF MONTOS-BNTE-1 2023-04-29.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\04. APRIL\\MONTOS EMAIL\\DIFF MONTOS-BNTE-1 2023-04-30.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\04. APRIL\\MONTOS EMAIL\\DIFF MONTOS-BNTE-2 2023-04-01.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\04. APRIL\\MONTOS EMAIL\\DIFF MONTOS-BNTE-2 2023-04-02.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\04. APRIL\\MONTOS EMAIL\\DIFF MONTOS-BNTE-2 2023-04-03.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\04. APRIL\\MONTOS EMAIL\\DIFF MONTOS-BNTE-2 2023-04-06.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\04. APRIL\\MONTOS EMAIL\\DIFF MONTOS-BNTE-2 2023-04-10.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\04. APRIL\\MONTOS EMAIL\\DIFF MONTOS-BNTE-2 2023-04-11.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\04. APRIL\\MONTOS EMAIL\\DIFF MONTOS-BNTE-2 2023-04-15.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\04. APRIL\\MONTOS EMAIL\\DIFF MONTOS-BNTE-2 2023-04-16.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\04. APRIL\\MONTOS EMAIL\\DIFF MONTOS-BNTE-2 2023-04-17.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\04. APRIL\\MONTOS EMAIL\\DIFF MONTOS-BNTE-2 2023-04-22.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\04. APRIL\\MONTOS EMAIL\\DIFF MONTOS-BNTE-2 2023-04-23.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\04. APRIL\\MONTOS EMAIL\\DIFF MONTOS-BNTE-2 2023-04-24.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\04. APRIL\\MONTOS EMAIL\\DIFF MONTOS-BNTE-2 2023-04-25.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\04. APRIL\\MONTOS EMAIL\\DIFF MONTOS-BNTE-2 2023-04-26.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\04. APRIL\\MONTOS EMAIL\\DIFF MONTOS-BNTE-2 2023-04-27.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\04. APRIL\\MONTOS EMAIL\\DIFF MONTOS-BNTE-2 2023-04-28.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\04. APRIL\\MONTOS EMAIL\\DIFF MONTOS-BNTE-2 2023-04-29.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\04. APRIL\\MONTOS EMAIL\\DIFF MONTOS-BNTE-2 2023-04-30.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\04. APRIL\\MONTOS EMAIL\\DIFF MONTOS-BNTE-3 2023-04-04.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\04. APRIL\\MONTOS EMAIL\\DIFF MONTOS-BNTE-3 2023-04-13.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\04. APRIL\\MONTOS EMAIL\\DIFF MONTOS-BNTE-3 2023-04-14.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\04. APRIL\\MONTOS EMAIL\\DIFF MONTOS-BNTE-3 2023-04-18.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\04. APRIL\\MONTOS EMAIL\\DIFF MONTOS-BNTE-3 2023-04-19.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\04. APRIL\\MONTOS EMAIL\\DIFF MONTOS-BNTE-3 2023-04-21.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\04. APRIL\\MONTOS EMAIL\\DIFF MONTOS-BNTE-3 2023-04-25.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\04. APRIL\\MONTOS EMAIL\\DIFF MONTOS-BNTE-3 2023-04-26.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\04. APRIL\\MONTOS EMAIL\\DIFF MONTOS-BNTE-3 2023-04-27.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\04. APRIL\\MONTOS EMAIL\\DIFF MONTOS-BNTE-3 2023-04-28.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\04. APRIL\\MONTOS EMAIL\\DIFF MONTOS-SANT-1 2023-04-03.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\04. APRIL\\MONTOS EMAIL\\DIFF MONTOS-SANT-1 2023-04-04.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\04. APRIL\\MONTOS EMAIL\\DIFF MONTOS-SANT-1 2023-04-05.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\04. APRIL\\MONTOS EMAIL\\DIFF MONTOS-SANT-1 2023-04-10.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\04. APRIL\\MONTOS EMAIL\\DIFF MONTOS-SANT-1 2023-04-11.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\04. APRIL\\MONTOS EMAIL\\DIFF MONTOS-SANT-1 2023-04-12.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\04. APRIL\\MONTOS EMAIL\\DIFF MONTOS-SANT-1 2023-04-13.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\04. APRIL\\MONTOS EMAIL\\DIFF MONTOS-SANT-1 2023-04-14.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\04. APRIL\\MONTOS EMAIL\\DIFF MONTOS-SANT-1 2023-04-17.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\04. APRIL\\MONTOS EMAIL\\DIFF MONTOS-SANT-1 2023-04-18.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\04. APRIL\\MONTOS EMAIL\\DIFF MONTOS-SANT-1 2023-04-19.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\04. APRIL\\MONTOS EMAIL\\DIFF MONTOS-SANT-1 2023-04-20.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\04. APRIL\\MONTOS EMAIL\\DIFF MONTOS-SANT-1 2023-04-21.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\04. APRIL\\MONTOS EMAIL\\DIFF MONTOS-SANT-2 2023-04-04.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\04. APRIL\\MONTOS EMAIL\\DIFF MONTOS-SANT-2 2023-04-05.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\04. APRIL\\MONTOS EMAIL\\DIFF MONTOS-SANT-2 2023-04-12.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\04. APRIL\\MONTOS EMAIL\\DIFF MONTOS-SANT-2 2023-04-13.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\04. APRIL\\MONTOS EMAIL\\DIFF MONTOS-SANT-2 2023-04-14.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\04. APRIL\\MONTOS EMAIL\\DIFF MONTOS-SANT-2 2023-04-18.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\04. APRIL\\MONTOS EMAIL\\DIFF MONTOS-SANT-2 2023-04-19.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\04. APRIL\\MONTOS EMAIL\\DIFF MONTOS-SANT-2 2023-04-20.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\04. APRIL\\MONTOS EMAIL\\DIFF MONTOS-SANT-2 2023-04-21.csv']

In [6]:
allfiles_lender = glob.glob(r'G:\My Drive\RESPALDO-PC\LENDERS\2023\DB\LEN*.csv', recursive=False)
allfiles_lender

['G:\\My Drive\\RESPALDO-PC\\LENDERS\\2023\\DB\\LENDERS DB ENERO 2023.csv',
 'G:\\My Drive\\RESPALDO-PC\\LENDERS\\2023\\DB\\LENDERS DB FEBRERO 2023.csv',
 'G:\\My Drive\\RESPALDO-PC\\LENDERS\\2023\\DB\\LENDERS DB MARZO 2023.csv',
 'G:\\My Drive\\RESPALDO-PC\\LENDERS\\2023\\DB\\LENDERS DB ABRIL 2023.csv']

In [7]:
start_date = '2023-04-01'
final_date = '2023-04-30'

# ADJUSTMENTS

In [8]:
adj_1 = pd.concat([pd.read_csv(f).assign(file_name=os.path.basename(f)) for f in allfiles_adj])
adj_1.head()

,report_id,report_date_local,adjustment_date_local,adjustment_type,adjustment_amount,fees_charged,taxes,amount_due,type,date,file_name
0,629C29RCB,2023-04-01,2023-04-01,LOAN,-0.64,0.00,0.00,-0.64,DAILY,2023-04-01,ADJUSTMENTS ABRIL 2023.csv
1,C6WZLTLVL,2023-04-01,2023-04-01,LOAN,-3.70,0.00,0.00,-3.70,DAILY,2023-04-01,ADJUSTMENTS ABRIL 2023.csv
2,QP9DSF56Q,2023-04-01,2023-04-01,LOAN,-0.14,0.00,0.00,-0.14,DAILY,2023-04-01,ADJUSTMENTS ABRIL 2023.csv
3,ND36SL6XS,2023-04-01,2023-04-01,LOAN,-1.36,0.00,0.00,-1.36,DAILY,2023-04-01,ADJUSTMENTS ABRIL 2023.csv
4,5BRF74VML,2023-04-01,2023-04-01,LOAN,-2.20,0.00,0.00,-2.20,DAILY,2023-04-01,ADJUSTMENTS ABRIL 2023.csv

In [9]:
adj_1.shape

(1795, 11)

### CURRENT DATES

In [10]:
adj_current_month = adj_1[(adj_1['date'] >= start_date) & (adj_1['date'] <= final_date)]
adj_current_month.head()

,report_id,report_date_local,adjustment_date_local,adjustment_type,adjustment_amount,fees_charged,taxes,amount_due,type,date,file_name
0,629C29RCB,2023-04-01,2023-04-01,LOAN,-0.64,0.00,0.00,-0.64,DAILY,2023-04-01,ADJUSTMENTS ABRIL 2023.csv
1,C6WZLTLVL,2023-04-01,2023-04-01,LOAN,-3.70,0.00,0.00,-3.70,DAILY,2023-04-01,ADJUSTMENTS ABRIL 2023.csv
2,QP9DSF56Q,2023-04-01,2023-04-01,LOAN,-0.14,0.00,0.00,-0.14,DAILY,2023-04-01,ADJUSTMENTS ABRIL 2023.csv
3,ND36SL6XS,2023-04-01,2023-04-01,LOAN,-1.36,0.00,0.00,-1.36,DAILY,2023-04-01,ADJUSTMENTS ABRIL 2023.csv
4,5BRF74VML,2023-04-01,2023-04-01,LOAN,-2.20,0.00,0.00,-2.20,DAILY,2023-04-01,ADJUSTMENTS ABRIL 2023.csv

In [11]:
adj_current_month.shape

(1795, 11)

### PIVOT

In [12]:
adj_pivot = adj_current_month.groupby(['type','adjustment_type','date']).agg({'adjustment_amount':sum
                                                                                ,'fees_charged':sum 
                                                                                ,'taxes':sum
                                                                                ,'amount_due':sum}).reset_index()
adj_pivot['adjustment_amount'] = adj_pivot['adjustment_amount']*-1 
adj_pivot['fees_charged'] = adj_pivot['fees_charged']*-1
adj_pivot['taxes'] = adj_pivot['taxes']*-1 
adj_pivot['amount_due'] = adj_pivot['amount_due']*-1 
adj_pivot.head()

,type,adjustment_type,date,adjustment_amount,fees_charged,taxes,amount_due
0,DAILY,LOAN,2023-04-01,57.72,-0.00,-0.00,57.72
1,DAILY,LOAN,2023-04-02,47.59,-0.00,-0.00,47.59
2,DAILY,LOAN,2023-04-03,26.10,-0.00,-0.00,26.10
3,DAILY,LOAN,2023-04-04,43.78,-0.00,-0.00,43.78
4,DAILY,LOAN,2023-04-05,45.13,-0.00,-0.00,45.13

In [13]:
adj_pivot_v2 = pd.pivot_table(adj_current_month,index=['type','date']
                              ,columns=['adjustment_type']
                              ,values=['adjustment_amount','fees_charged','taxes','amount_due']
                              ,aggfunc=np.sum,margins=True)
adj_pivot_v2.head()

                 adjustment_amount                     amount_due            \
adjustment_type               LOAN     PROMO       All       LOAN     PROMO
type  date
DAILY 2023-04-01            -57.72       NaN    -57.72     -57.72       NaN
      2023-04-02            -47.59       NaN    -47.59     -47.59       NaN
      2023-04-03            -26.10       NaN    -26.10     -26.10       NaN
      2023-04-04            -43.78 33,223.20 33,179.42     -43.78 33,223.20
      2023-04-05            -45.13       NaN    -45.13     -45.13       NaN

                           fees_charged            taxes
adjustment_type        All         LOAN PROMO  All  LOAN PROMO  All
type  date
DAILY 2023-04-01    -57.72         0.00   NaN 0.00  0.00   NaN 0.00
      2023-04-02    -47.59         0.00   NaN 0.00  0.00   NaN 0.00
      2023-04-03    -26.10         0.00   NaN 0.00  0.00   NaN 0.00
      2023-04-04 33,179.42         0.00  0.00 0.00  0.00  0.00 0.00
      2023-04-05    -45.13         0.00   NaN 0.00  0.00   NaN 0.00

# LIBERACIONES

In [14]:
lib_1 = pd.concat([pd.read_csv(f).assign(file_name=os.path.basename(f)) for f in allfiles_lib])
lib_1.head()

,date_release,report_date_local,retained_date_local,report_id,entry_type,amount,type,file_name
0,2023-04-01,2023-04-01,2022-12-01,68HZDNW3M,LIEN,"4,109.90",DAILY,LIBERACIONES ABRIL 2023.csv
1,2023-04-01,2023-04-01,2022-11-30,Y2F8CQR39,LIEN,470.49,DAILY,LIBERACIONES ABRIL 2023.csv
2,2023-04-01,2023-04-01,2022-11-30,NJ3PBPNBV,LIEN,479.12,DAILY,LIBERACIONES ABRIL 2023.csv
3,2023-04-01,2023-04-01,2022-12-20,SWDCZJKYM,LIEN,"4,024.61",DAILY,LIBERACIONES ABRIL 2023.csv
4,2023-04-01,2023-04-01,2023-03-23,D9JD56LM2,LIEN,"4,791.20",DAILY,LIBERACIONES ABRIL 2023.csv

### CURRENT DATES

In [15]:
lib_current_month = lib_1[(lib_1['report_date_local'] >= start_date) & (lib_1['report_date_local'] <= final_date)]
lib_current_month.head()

,date_release,report_date_local,retained_date_local,report_id,entry_type,amount,type,file_name
0,2023-04-01,2023-04-01,2022-12-01,68HZDNW3M,LIEN,"4,109.90",DAILY,LIBERACIONES ABRIL 2023.csv
1,2023-04-01,2023-04-01,2022-11-30,Y2F8CQR39,LIEN,470.49,DAILY,LIBERACIONES ABRIL 2023.csv
2,2023-04-01,2023-04-01,2022-11-30,NJ3PBPNBV,LIEN,479.12,DAILY,LIBERACIONES ABRIL 2023.csv
3,2023-04-01,2023-04-01,2022-12-20,SWDCZJKYM,LIEN,"4,024.61",DAILY,LIBERACIONES ABRIL 2023.csv
4,2023-04-01,2023-04-01,2023-03-23,D9JD56LM2,LIEN,"4,791.20",DAILY,LIBERACIONES ABRIL 2023.csv

In [16]:
lib_current_month.shape

(324, 8)

### PIVOT

In [17]:
lib_pivot = lib_current_month.groupby(['type','entry_type','report_date_local']).agg({'amount':sum}).reset_index()
lib_pivot.head()

    type entry_type report_date_local     amount
0  DAILY       LIEN        2023-04-01 142,577.34
1  DAILY       LIEN        2023-04-02 762,442.19
2  DAILY       LIEN        2023-04-03 247,175.35
3  DAILY       LIEN        2023-04-04  22,413.98
4  DAILY       LIEN        2023-04-05 196,008.61

In [18]:
lib_pivot.shape

(30, 4)

In [19]:
lib_pivot_v2 = pd.pivot_table(lib_current_month,index=['type','report_date_local']
                              ,columns=['entry_type']
                              ,values=['amount']
                              ,aggfunc=np.sum,margins=True)
lib_pivot_v2.head()

                            amount
entry_type                    LIEN        All
type  report_date_local
DAILY 2023-04-01        142,577.34 142,577.34
      2023-04-02        762,442.19 762,442.19
      2023-04-03        247,175.35 247,175.35
      2023-04-04         22,413.98  22,413.98
      2023-04-05        196,008.61 196,008.61

In [20]:
lib_pivot_v2.shape

(31, 2)

# RETENCIONES

In [21]:
ret_1 = pd.concat([pd.read_csv(f).assign(file_name=os.path.basename(f)) for f in allfiles_ret])
ret_1.head()

,date_retainment,report_date_local,report_id,entry_type,amount,type,file_name
0,2023-04-06,2023-04-06,QMNCLQPGP,LIEN,"1,068.44",DAILY,RETENCIONES ABRIL 2023.csv
1,2023-04-11,2023-04-11,NPBW84N9G,LIEN,108.00,DAILY,RETENCIONES ABRIL 2023.csv
2,2023-04-13,2023-04-13,XHCJWK92V,LIEN,8.00,DAILY,RETENCIONES ABRIL 2023.csv

### CURRENT DATES

In [22]:
ret_current_month = ret_1[(ret_1['report_date_local'] >= start_date) & (ret_1['report_date_local'] <= final_date)]
ret_current_month.head()

,date_retainment,report_date_local,report_id,entry_type,amount,type,file_name
0,2023-04-06,2023-04-06,QMNCLQPGP,LIEN,"1,068.44",DAILY,RETENCIONES ABRIL 2023.csv
1,2023-04-11,2023-04-11,NPBW84N9G,LIEN,108.00,DAILY,RETENCIONES ABRIL 2023.csv
2,2023-04-13,2023-04-13,XHCJWK92V,LIEN,8.00,DAILY,RETENCIONES ABRIL 2023.csv

In [23]:
ret_current_month.shape

(3, 7)

### PIVOT

In [24]:
ret_pivot = ret_current_month.groupby(['type','entry_type','report_date_local']).agg({'amount':sum}).reset_index()
ret_pivot.head()

    type entry_type report_date_local   amount
0  DAILY       LIEN        2023-04-06 1,068.44
1  DAILY       LIEN        2023-04-11   108.00
2  DAILY       LIEN        2023-04-13     8.00

In [25]:
ret_pivot.shape

(3, 4)

In [26]:
ret_pivot_v2 = pd.pivot_table(ret_current_month,index=['type','report_date_local']
                              ,columns=['entry_type']
                              ,values=['amount']
                              ,aggfunc=np.sum,margins=True)
ret_pivot_v2.head()

                          amount
entry_type                  LIEN      All
type  report_date_local
DAILY 2023-04-06        1,068.44 1,068.44
      2023-04-11          108.00   108.00
      2023-04-13            8.00     8.00
All                     1,184.44 1,184.44

In [27]:
ret_pivot_v2.shape

(4, 2)

# COMISIONES SWAP / BNTE

In [28]:
com_1 = pd.concat([pd.read_csv(f).assign(file_name=os.path.basename(f)) for f in allfiles_com])
com_1.head()

,date_disbursement,amount,payments_number,comision_dsp,iva_dsp,comision + iva,total_fondeo,monto_mail,comision_mail,iva_mail,monto_fondeo_mail,check_monto,check_comision,check_iva,check_fondeo,dsp,file_name
0,2023-04-01,"227,062,280.92",94688,"164,724.90","26,355.98","191,080.88","227,253,361.80","227,062,280.92","164,724.90","26,355.98","227,253,361.80",0.00,0.00,0.00,0.00,BNTE,DIFF MONTOS-BNTE-1 2023-04-01.csv
0,2023-04-02,"236,606,399.40",94680,"164,931.00","26,388.96","191,319.96","236,797,719.36","236,606,399.40","164,931.00","26,388.96","236,797,719.36",0.00,0.00,0.00,0.00,BNTE,DIFF MONTOS-BNTE-1 2023-04-02.csv
0,2023-04-06,"202,454,854.78",94706,"164,749.80","26,359.97","191,109.77","202,645,964.55","202,454,854.78","164,749.80","26,359.97","202,645,964.55",0.00,0.00,-0.00,-0.00,BNTE,DIFF MONTOS-BNTE-1 2023-04-06.csv
0,2023-04-07,"211,601,079.81",89809,"156,637.20","25,061.95","181,699.15","211,782,778.96","211,601,079.81","156,637.20","25,061.95","211,782,778.96",0.00,0.00,0.00,0.00,BNTE,DIFF MONTOS-BNTE-1 2023-04-07.csv
0,2023-04-08,"175,938,164.91",64398,"112,371.90","17,979.50","130,351.40","176,068,516.31","175,938,164.91","112,371.90","17,979.50","176,068,516.31",0.00,0.00,0.00,0.00,BNTE,DIFF MONTOS-BNTE-1 2023-04-08.csv

In [29]:
com_1.shape

(67, 17)

### CURRENT DATES

In [30]:
com_current_month = com_1[(com_1['date_disbursement'] >= start_date) & (com_1['date_disbursement'] <= final_date)]
com_current_month.head()

,date_disbursement,amount,payments_number,comision_dsp,iva_dsp,comision + iva,total_fondeo,monto_mail,comision_mail,iva_mail,monto_fondeo_mail,check_monto,check_comision,check_iva,check_fondeo,dsp,file_name
0,2023-04-01,"227,062,280.92",94688,"164,724.90","26,355.98","191,080.88","227,253,361.80","227,062,280.92","164,724.90","26,355.98","227,253,361.80",0.00,0.00,0.00,0.00,BNTE,DIFF MONTOS-BNTE-1 2023-04-01.csv
0,2023-04-02,"236,606,399.40",94680,"164,931.00","26,388.96","191,319.96","236,797,719.36","236,606,399.40","164,931.00","26,388.96","236,797,719.36",0.00,0.00,0.00,0.00,BNTE,DIFF MONTOS-BNTE-1 2023-04-02.csv
0,2023-04-06,"202,454,854.78",94706,"164,749.80","26,359.97","191,109.77","202,645,964.55","202,454,854.78","164,749.80","26,359.97","202,645,964.55",0.00,0.00,-0.00,-0.00,BNTE,DIFF MONTOS-BNTE-1 2023-04-06.csv
0,2023-04-07,"211,601,079.81",89809,"156,637.20","25,061.95","181,699.15","211,782,778.96","211,601,079.81","156,637.20","25,061.95","211,782,778.96",0.00,0.00,0.00,0.00,BNTE,DIFF MONTOS-BNTE-1 2023-04-07.csv
0,2023-04-08,"175,938,164.91",64398,"112,371.90","17,979.50","130,351.40","176,068,516.31","175,938,164.91","112,371.90","17,979.50","176,068,516.31",0.00,0.00,0.00,0.00,BNTE,DIFF MONTOS-BNTE-1 2023-04-08.csv

In [31]:
com_current_month.shape

(67, 17)

In [32]:
com_current_month.columns

Index(['date_disbursement', 'amount', 'payments_number', 'comision_dsp',
       'iva_dsp', 'comision + iva', 'total_fondeo', 'monto_mail',
       'comision_mail', 'iva_mail', 'monto_fondeo_mail', 'check_monto',
       'check_comision', 'check_iva', 'check_fondeo', 'dsp', 'file_name'],
      dtype='object')

In [33]:
com_final = com_current_month.groupby(['date_disbursement']).agg({'payments_number':sum,'amount':sum,'comision_dsp':sum,
                                                                  'iva_dsp':sum,'comision + iva':sum,'total_fondeo':sum,
                                                                 'monto_mail':sum,'comision_mail':sum,'iva_mail':sum,
                                                                 'monto_fondeo_mail':sum,'check_monto':sum,'check_comision':sum,
                                                                 'check_iva':sum,'check_fondeo':sum}).reset_index()
com_final.head()

,date_disbursement,payments_number,amount,comision_dsp,iva_dsp,comision + iva,total_fondeo,monto_mail,comision_mail,iva_mail,monto_fondeo_mail,check_monto,check_comision,check_iva,check_fondeo
0,2023-04-01,115662,"276,900,031.77","201,202.35","32,192.38","233,394.73","277,133,426.50","276,900,031.77","201,202.35","32,192.37","277,133,426.49",0.00,0.00,0.01,0.01
1,2023-04-02,113329,"285,325,480.21","197,435.70","31,589.71","229,025.41","285,554,505.62","285,325,480.21","197,435.70","31,589.71","285,554,505.62",0.00,0.00,0.00,0.00
2,2023-04-03,79132,"202,397,275.13","39,572.50","6,331.60","45,904.10","202,443,179.23","202,397,275.13","39,572.50","6,331.60","202,443,179.23",0.00,0.00,0.00,-0.00
3,2023-04-04,99056,"209,926,050.77","49,530.60","7,924.90","57,455.50","209,983,506.27","209,926,050.77","49,530.60","7,924.90","209,983,506.27",0.00,0.00,-0.00,-0.00
4,2023-04-05,99909,"211,879,308.93","49,954.50","7,992.72","57,947.22","211,937,256.15","211,879,308.93","49,954.50","7,992.72","211,937,256.15",0.00,0.00,0.00,0.00

# LENDERS

In [34]:
lender_1 = pd.concat([pd.read_csv(f).assign(file_name=os.path.basename(f)) for f in allfiles_lender])
lender_1.columns = lender_1.columns.str.strip().str.lower() 
lender_1.head()

,collection_date_local,merchant_token,merchant_id,loan_id,provider_code,collection_origin,source,amount,capital,interest,tax,file_name
0,2023-01-01,d8d8f9b2-0585-48e0-8d1f-e3bbf4766fbe,30a435af-3c57-4063-bf36-735f5731b179,df0ca1c8-0193-426c-8a32-c164b5ca715e,MRP,SETTLEMENT,LEDGER,23.05,16.60,6.45,0.00,LENDERS DB ENERO 2023.csv
1,2023-01-01,c4bad384-1718-4f7f-980e-910738bf4c79,0ace4fbe-6ab7-4e7f-a6b0-2a1bb8d6171a,45e17b07-8134-4e21-8aa8-2f90b4df9f37,CTO,SETTLEMENT,LEDGER,18.66,12.74,5.10,0.82,LENDERS DB ENERO 2023.csv
2,2023-01-01,1592f594-8416-447e-a316-ffc57ea7596f,0614af35-a0b4-4774-ae6f-4eef4238b915,2df0924e-4f58-46c5-8ec1-32a1beec4d49,MRP,SETTLEMENT,LEDGER,98.65,71.03,27.62,0.00,LENDERS DB ENERO 2023.csv
3,2023-01-01,fa8ee41a-394c-4506-b450-9f8a048a3cfc,789ef894-8d9d-48cb-a20a-0860a44d4a1e,935289b5-6689-4a98-af7f-d91e1a399533,MRP,SETTLEMENT,LEDGER,55.43,41.57,13.86,0.00,LENDERS DB ENERO 2023.csv
4,2023-01-01,41d8b68d-d496-48bd-9d2e-d3bfe8a4628e,5fab90f8-faf0-48a8-9065-e67b2cde2abe,d4ee526d-2a99-406b-95d3-309ee8d7f84b,MRP,SETTLEMENT,LEDGER,16.44,13.48,2.96,0.00,LENDERS DB ENERO 2023.csv

In [35]:
lender_1.shape

(1967838, 12)

In [36]:
lender_1['source'].unique()

array(['LEDGER', 'REGULAR', 'FAST_PAYMENT'], dtype=object)

### CURRENT DATES

In [37]:
lender_current_month = lender_1[(lender_1['collection_date_local'] >= start_date) &
                                (lender_1['collection_date_local'] <= final_date)]
lender_current_month.head()

,collection_date_local,merchant_token,merchant_id,loan_id,provider_code,collection_origin,source,amount,capital,interest,tax,file_name
0,2023-04-01,a32441c6-e981-4792-a902-22604ff28f12,b1320d8a-4f74-40ba-81e3-994b258d473e,2eed14a7-9fb6-4442-9f8d-a283c59390f0,MRP,SETTLEMENT,LEDGER,201.23,176.83,21.03,3.37,LENDERS DB ABRIL 2023.csv
1,2023-04-01,a32441c6-e981-4792-a902-22604ff28f12,b1320d8a-4f74-40ba-81e3-994b258d473e,2eed14a7-9fb6-4442-9f8d-a283c59390f0,MRP,SETTLEMENT,LEDGER,89.26,78.44,9.33,1.49,LENDERS DB ABRIL 2023.csv
2,2023-04-01,a32441c6-e981-4792-a902-22604ff28f12,b1320d8a-4f74-40ba-81e3-994b258d473e,2eed14a7-9fb6-4442-9f8d-a283c59390f0,MRP,SETTLEMENT,LEDGER,43.12,37.89,4.51,0.72,LENDERS DB ABRIL 2023.csv
3,2023-04-01,a32441c6-e981-4792-a902-22604ff28f12,b1320d8a-4f74-40ba-81e3-994b258d473e,2eed14a7-9fb6-4442-9f8d-a283c59390f0,MRP,SETTLEMENT,LEDGER,89.26,78.44,9.33,1.49,LENDERS DB ABRIL 2023.csv
4,2023-04-01,a32441c6-e981-4792-a902-22604ff28f12,b1320d8a-4f74-40ba-81e3-994b258d473e,2eed14a7-9fb6-4442-9f8d-a283c59390f0,MRP,SETTLEMENT,LEDGER,105.36,92.59,11.01,1.76,LENDERS DB ABRIL 2023.csv

In [38]:
lender_current_month.shape

(796031, 12)

In [39]:
lender_current_month['provider_code'].unique()

array(['MRP', 'CTO', 'R2', 'APH', 'AVL'], dtype=object)

### PIVOT CLIP

In [40]:
lender_clip = lender_current_month[(lender_current_month['provider_code'] == 'CLIP')]

In [41]:
# lender_pivot_clip_1 = lender_clip.groupby(['Creation Date','Date']).agg({'Collected today':sum,'Capital today':sum
#                                                                        ,'Interests today':sum,'IVA Interests today':sum
#                                                                        ,'Overdue Interest today':sum,'Total today':sum
#                                                                        ,'CLIP Revenue today':sum}).reset_index()
# lender_pivot_clip_1.head()

In [42]:
# lender_pivot_clip_1.shape

In [43]:
lender_pivot_clip_2 = lender_clip.groupby(['collection_date_local']).agg({'amount':sum,'capital':sum,'interest':sum
                                                 ,'tax':sum}).reset_index()
lender_pivot_clip_2.head()

Empty DataFrame
Columns: [collection_date_local, amount, capital, interest, tax]
Index: []

In [44]:
lender_pivot_clip_2.shape

(0, 5)

### PIVOT OTHERS

In [45]:
lender_others = lender_current_month[(lender_current_month['provider_code'] != 'CLIP')]

In [46]:
lender_pivot_others = lender_others.groupby(['collection_date_local']).agg({'amount':sum,'capital':sum,'interest':sum
                                                 ,'tax':sum}).reset_index()
lender_pivot_others.head()

  collection_date_local       amount      capital   interest       tax
0            2023-04-01 2,407,698.02 1,776,383.81 554,172.66 77,141.55
1            2023-04-02 1,734,630.56 1,283,112.97 396,180.59 55,337.00
2            2023-04-03 1,435,566.18 1,061,909.25 328,188.64 45,468.29
3            2023-04-04 1,506,317.92 1,114,121.02 343,656.34 48,540.56
4            2023-04-05 1,763,300.93 1,307,563.12 399,749.86 55,987.95

In [47]:
lender_pivot_others.shape

(30, 5)

# EXCEL FINAL

In [48]:
writer = pd.ExcelWriter('FASE II. DATA POLIZA ABRIL 2023.xlsx',
                        engine='xlsxwriter',
                        engine_kwargs={'options': {'encoding':'utf-8'}})
lender_pivot_clip_2.to_excel(writer, sheet_name='DATA LENDER CLIP',index=False)
# lender_pivot_clip_1.to_excel(writer, sheet_name='DATA LENDER CLIP CREATION DATE',index=False)
lender_pivot_others.to_excel(writer, sheet_name='DATA LENDER OTHERS',index=False)
adj_pivot.to_excel(writer, sheet_name='DATA ADJUSTMENTS',index=False)
lib_pivot_v2.to_excel(writer, sheet_name='DATA LIBERACIONES')
ret_pivot_v2.to_excel(writer, sheet_name='DATA RETENCIONES')
com_final.to_excel(writer, sheet_name='DATA COMISIONES',index=False)
writer.close()