In [1]:
import pandas as pd
import numpy as np
import glob
import os
from openpyxl import load_workbook
pd.options.display.float_format = '{:,.2f}'.format

# MES AÑO DE CONCILIACIÓN

In [2]:
month_conc = 'November'
year_conc = '2022'

# RUTAS DE ACCESO

### SWAP DEL DIA

In [3]:
allfiles_disp_trad = glob.glob(r'C:\Users\Cristian.Aparicio\Documents\DISPERSIONES\2022\11. NOVIEMBRE\ARCHIVO DISPERSIONES\Dispersión*.xlsx', recursive=False)
allfiles_disp_trad

['C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\11. NOVIEMBRE\\ARCHIVO DISPERSIONES\\Dispersión-20221101.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\11. NOVIEMBRE\\ARCHIVO DISPERSIONES\\Dispersión-20221102.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\11. NOVIEMBRE\\ARCHIVO DISPERSIONES\\Dispersión-20221103.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\11. NOVIEMBRE\\ARCHIVO DISPERSIONES\\Dispersión-20221104.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\11. NOVIEMBRE\\ARCHIVO DISPERSIONES\\Dispersión-20221105.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\11. NOVIEMBRE\\ARCHIVO DISPERSIONES\\Dispersión-20221106.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\11. NOVIEMBRE\\ARCHIVO DISPERSIONES\\Dispersión-20221107.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\11. NOVIEMBRE\\ARCHIVO DISPERSIONES\\Dispersión-20221108.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\11. NOVIEMBRE\\ARCHIVO DISPERSIONES\\Dispersión-20221109.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\11. NOVIEMBRE\\ARCHIVO DISPERSIONES\\Dispersión-20221110.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\11. NOVIEMBRE\\ARCHIVO DISPERSIONES\\Dispersión-20221111.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\11. NOVIEMBRE\\ARCHIVO DISPERSIONES\\Dispersión-20221112.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\11. NOVIEMBRE\\ARCHIVO DISPERSIONES\\Dispersión-20221113.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\11. NOVIEMBRE\\ARCHIVO DISPERSIONES\\Dispersión-20221114.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\11. NOVIEMBRE\\ARCHIVO DISPERSIONES\\Dispersión-20221115.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\11. NOVIEMBRE\\ARCHIVO DISPERSIONES\\Dispersión-20221116.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\11. NOVIEMBRE\\ARCHIVO DISPERSIONES\\Dispersión-20221117.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\11. NOVIEMBRE\\ARCHIVO DISPERSIONES\\Dispersión-20221118.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\11. NOVIEMBRE\\ARCHIVO DISPERSIONES\\Dispersión-20221119.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\11. NOVIEMBRE\\ARCHIVO DISPERSIONES\\Dispersión-20221120.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\11. NOVIEMBRE\\ARCHIVO DISPERSIONES\\Dispersión-20221121.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\11. NOVIEMBRE\\ARCHIVO DISPERSIONES\\Dispersión-20221122.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\11. NOVIEMBRE\\ARCHIVO DISPERSIONES\\Dispersión-20221123.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\11. NOVIEMBRE\\ARCHIVO DISPERSIONES\\Dispersión-20221124.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\11. NOVIEMBRE\\ARCHIVO DISPERSIONES\\Dispersión-20221125.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\11. NOVIEMBRE\\ARCHIVO DISPERSIONES\\Dispersión-20221126.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\11. NOVIEMBRE\\ARCHIVO DISPERSIONES\\Dispersión-20221127.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\11. NOVIEMBRE\\ARCHIVO DISPERSIONES\\Dispersión-20221128.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\11. NOVIEMBRE\\ARCHIVO DISPERSIONES\\Dispersión-20221129.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\11. NOVIEMBRE\\ARCHIVO DISPERSIONES\\Dispersión-20221130.xlsx']

### FAST PAYMENTS

In [4]:
allfiles_fp = glob.glob(r'C:\Users\Cristian.Aparicio\Documents\FAST PAYMENTS\2022\11. NOVIEMBRE\ARCHIVO DISPERSIONES FP\Dispersión-FP*.xlsx',recursive=False)
allfiles_fp

['C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2022\\11. NOVIEMBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2022-11-01.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2022\\11. NOVIEMBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2022-11-02.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2022\\11. NOVIEMBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2022-11-03.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2022\\11. NOVIEMBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2022-11-04.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2022\\11. NOVIEMBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2022-11-05.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2022\\11. NOVIEMBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2022-11-06.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2022\\11. NOVIEMBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2022-11-07.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2022\\11. NOVIEMBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2022-11-08.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2022\\11. NOVIEMBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2022-11-09.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2022\\11. NOVIEMBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2022-11-10.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2022\\11. NOVIEMBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2022-11-11.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2022\\11. NOVIEMBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2022-11-12.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2022\\11. NOVIEMBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2022-11-13.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2022\\11. NOVIEMBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2022-11-14.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2022\\11. NOVIEMBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2022-11-15.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2022\\11. NOVIEMBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2022-11-16.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2022\\11. NOVIEMBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2022-11-17.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2022\\11. NOVIEMBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2022-11-18.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2022\\11. NOVIEMBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2022-11-19.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2022\\11. NOVIEMBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2022-11-20.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2022\\11. NOVIEMBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2022-11-21.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2022\\11. NOVIEMBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2022-11-22.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2022\\11. NOVIEMBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2022-11-23.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2022\\11. NOVIEMBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2022-11-24.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2022\\11. NOVIEMBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2022-11-25.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2022\\11. NOVIEMBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2022-11-26.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2022\\11. NOVIEMBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2022-11-27.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2022\\11. NOVIEMBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2022-11-28.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2022\\11. NOVIEMBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2022-11-29.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2022\\11. NOVIEMBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2022-11-30.xlsx']

# SWAP DEL DIA

In [5]:
swap_dia_total = pd.concat([pd.read_excel(f,sheet_name = 'Swap del día')
                            .assign(file_name=os.path.basename(f)) for f in allfiles_disp_trad])
swap_dia_total['Date'] = swap_dia_total["file_name"].str[-13:-5]
swap_dia_total['Date']= pd.to_datetime(swap_dia_total['Date'], format='%Y%m%d').dt.date
swap_dia_total['Date']= pd.to_datetime(swap_dia_total['Date'])
swap_dia_total.sort_values(by=['Date'],ascending=True,inplace=True)
swap_dia_total['report_date_local']= pd.to_datetime(swap_dia_total['report_date_local'])
swap_dia_total['month_conc'] = month_conc
swap_dia_total['year_conc'] = year_conc
swap_dia_total['month_report'] = swap_dia_total['report_date_local'].dt.strftime('%B')
swap_dia_total['year_report'] = swap_dia_total['report_date_local'].dt.year.astype(str)
swap_dia_total.head()

,type,merchant_id,merchant_name,user_email,report_id,report_date_local,total_due,tipo,bank,bank_account_owner_name,...,status,LINEA CEP,Batch_time,Banco_emisor,file_name,Date,month_conc,year_conc,month_report,year_report
0,DAILY,00582624-a7b2-4865-80d2-dfab60f15ff0,super jazmin,efrariver140616@gmail.com,JTMGC8BS8,2022-08-17,"38,921.80",Reprogramación,BANORTE/IXE,Yolanda Valdez Rosa,...,ERROR,NaN,01. First_batch,SANTANDER,Dispersión-20221101.xlsx,2022-11-01,November,2022,August,2022
60752,DAILY,aa8835e9-d0e9-4034-a20d-f0f3b08a9793,Farmacia Guadalupana,fguadalupana4c@hotmail.com,SQH5TPGJH,2022-11-01,373.90,Pago del día,SANTANDER,MONICA LIZETH SANTOS CASTRO,...,PAID,COMPROBANTE MISMO BANCO SANTANDER,01. First_batch,SANTANDER,Dispersión-20221101.xlsx,2022-11-01,November,2022,November,2022
60751,DAILY,aa877403-d775-4b57-8e35-c516196d5d3e,Gandhu,jardingandhi@hotmail.com,QBQZ6PZBJ,2022-11-01,"3,449.67",Pago del día,BANAMEX,Maria Guadalupe Olivares Fernandez,...,PAID,"2022-11-01,2022110140014HDH0001414006050,40014...",01. First_batch,SANTANDER,Dispersión-20221101.xlsx,2022-11-01,November,2022,November,2022
60750,DAILY,aa86764b-b3c9-4702-bac1-df1ae7eca0a6,GREEN CAFETERIA URN,abdiel.beltranp@gmail.com,DGRTGNZR6,2022-11-01,"1,993.07",Pago del día,BBVA BANCOMER,Abdiel Armando Beltrán Pérez,...,PAID,"2022-11-01,2022110140014HDH0001414006060,40014...",01. First_batch,SANTANDER,Dispersión-20221101.xlsx,2022-11-01,November,2022,November,2022
60749,DAILY,aa846165-2179-4648-a0c8-ff56d0700f8f,ShowTime,montana_musiccity50@hotmail.com,QL9TXKBQB,2022-11-01,"3,602.80",Pago del día,BANAMEX,Jose Antonio Villanueva Sanchez,...,PAID,"2022-11-01,2022110140014HDH0001414006020,40014...",01. First_batch,SANTANDER,Dispersión-20221101.xlsx,2022-11-01,November,2022,November,2022

In [6]:
swap_dia_total.shape

(2732549, 21)

In [7]:
swap_dia_total.dtypes

type                               object
merchant_id                        object
merchant_name                      object
user_email                         object
report_id                          object
report_date_local          datetime64[ns]
total_due                         float64
tipo                               object
bank                               object
bank_account_owner_name            object
CLABE                               int64
status                             object
LINEA CEP                          object
Batch_time                         object
Banco_emisor                       object
file_name                          object
Date                       datetime64[ns]
month_conc                         object
year_conc                          object
month_report                       object
year_report                        object
dtype: object

In [8]:
pivot_total = pd.pivot_table(swap_dia_total,index=['Date'],values=['total_due'],aggfunc = ['sum', len],margins=True)
pivot_total.reset_index(drop=False, inplace=True)
pivot_total.head()

                  Date            sum       len
                            total_due total_due
0  2022-11-01 00:00:00 184,219,233.14     91121
1  2022-11-02 00:00:00 184,094,984.96     90971
2  2022-11-03 00:00:00 158,309,993.98     76725
3  2022-11-04 00:00:00 185,335,188.63     94417
4  2022-11-05 00:00:00 215,014,851.43    100523

In [9]:
pivot_parcial = pd.pivot_table(swap_dia_total,index=['tipo','Date'],
                               columns=['status'],values=['total_due'],aggfunc = ['sum', len],margins=True)
pivot_parcial.reset_index(drop=False, inplace=True)
pivot_parcial.head()

C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_13144\3955082742.py:1: FutureWarning: Inferring datetime64[ns] from data containing strings is deprecated and will be removed in a future version. To retain the old behavior explicitly pass Series(data, dtype=datetime64[ns])
  pivot_parcial = pd.pivot_table(swap_dia_total,index=['tipo','Date'],
C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_13144\3955082742.py:1: FutureWarning: Inferring datetime64[ns] from data containing strings is deprecated and will be removed in a future version. To retain the old behavior explicitly pass Series(data, dtype=datetime64[ns])
  pivot_parcial = pd.pivot_table(swap_dia_total,index=['tipo','Date'],

                tipo       Date        sum                                \
                                 total_due
status                               ERROR           PAID            All
0       Pago del día 2022-11-01 370,028.75 181,579,704.73 181,949,733.48
1       Pago del día 2022-11-02 427,946.92 179,758,443.40 180,186,390.32
2       Pago del día 2022-11-03 305,723.44 157,433,502.23 157,739,225.67
3       Pago del día 2022-11-04 365,655.81 183,298,244.65 183,663,900.46
4       Pago del día 2022-11-05 581,362.27 213,704,504.43 214,285,866.70

             len
       total_due
status     ERROR   PAID    All
0            192  89488  89680
1            225  88540  88765
2            177  76103  76280
3            233  93651  93884
4            302  99678  99980

## CATEGORIZACIÓN DE REPROGRAMACIONES

In [10]:
swap_dia_total_repro = swap_dia_total[(swap_dia_total['tipo'] == 'Reprogramación')]
swap_dia_total_repro.head()

,type,merchant_id,merchant_name,user_email,report_id,report_date_local,total_due,tipo,bank,bank_account_owner_name,...,status,LINEA CEP,Batch_time,Banco_emisor,file_name,Date,month_conc,year_conc,month_report,year_report
0,DAILY,00582624-a7b2-4865-80d2-dfab60f15ff0,super jazmin,efrariver140616@gmail.com,JTMGC8BS8,2022-08-17,"38,921.80",Reprogramación,BANORTE/IXE,Yolanda Valdez Rosa,...,ERROR,NaN,01. First_batch,SANTANDER,Dispersión-20221101.xlsx,2022-11-01,November,2022,August,2022
60696,DAILY,aa622ced-ec67-49ee-8811-f96b471d0f52,Hamburguesas La Media,margaritachavez200381@gmail.com,TQJF2CR62,2022-10-23,185.89,Reprogramación,BBVA BANCOMER,Margarita Chavez Aguilar,...,PAID,"2022-11-01,2022110140014HDH0001414005050,40014...",01. First_batch,SANTANDER,Dispersión-20221101.xlsx,2022-11-01,November,2022,October,2022
60695,DAILY,aa622ced-ec67-49ee-8811-f96b471d0f52,Hamburguesas La Media,margaritachavez200381@gmail.com,7QLNHDJ3R,2022-10-22,609.43,Reprogramación,BBVA BANCOMER,Margarita Chavez Aguilar,...,PAID,"2022-11-01,2022110140014HDH0001414004900,40014...",01. First_batch,SANTANDER,Dispersión-20221101.xlsx,2022-11-01,November,2022,October,2022
60694,DAILY,aa622ced-ec67-49ee-8811-f96b471d0f52,Hamburguesas La Media,margaritachavez200381@gmail.com,8CSVP3NWR,2022-10-21,462.34,Reprogramación,BBVA BANCOMER,Margarita Chavez Aguilar,...,PAID,"2022-11-01,2022110140014HDH0001414004870,40014...",01. First_batch,SANTANDER,Dispersión-20221101.xlsx,2022-11-01,November,2022,October,2022
60693,DAILY,aa622ced-ec67-49ee-8811-f96b471d0f52,Hamburguesas La Media,margaritachavez200381@gmail.com,P6ZPLKQDZ,2022-10-20,341.13,Reprogramación,BBVA BANCOMER,Margarita Chavez Aguilar,...,PAID,"2022-11-01,2022110140014HDH0001414004850,40014...",01. First_batch,SANTANDER,Dispersión-20221101.xlsx,2022-11-01,November,2022,October,2022

In [11]:
swap_dia_total_repro.shape

(15816, 21)

In [12]:
swap_dia_total_repro.loc[(swap_dia_total_repro['tipo'] == 'Reprogramación')
                   & (swap_dia_total_repro['month_report'] == month_conc) 
                   & (swap_dia_total_repro['year_report'] == year_conc),'tipo_reprogramacion'] = 'repro_mismo_mes'
swap_dia_total_repro['tipo_reprogramacion'].fillna('repro_otro_mes',inplace=True)
swap_dia_total_repro.head()

C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_13144\2042991903.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  swap_dia_total_repro.loc[(swap_dia_total_repro['tipo'] == 'Reprogramación')
C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_13144\2042991903.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  swap_dia_total_repro['tipo_reprogramacion'].fillna('repro_otro_mes',inplace=True)

,type,merchant_id,merchant_name,user_email,report_id,report_date_local,total_due,tipo,bank,bank_account_owner_name,...,LINEA CEP,Batch_time,Banco_emisor,file_name,Date,month_conc,year_conc,month_report,year_report,tipo_reprogramacion
0,DAILY,00582624-a7b2-4865-80d2-dfab60f15ff0,super jazmin,efrariver140616@gmail.com,JTMGC8BS8,2022-08-17,"38,921.80",Reprogramación,BANORTE/IXE,Yolanda Valdez Rosa,...,NaN,01. First_batch,SANTANDER,Dispersión-20221101.xlsx,2022-11-01,November,2022,August,2022,repro_otro_mes
60696,DAILY,aa622ced-ec67-49ee-8811-f96b471d0f52,Hamburguesas La Media,margaritachavez200381@gmail.com,TQJF2CR62,2022-10-23,185.89,Reprogramación,BBVA BANCOMER,Margarita Chavez Aguilar,...,"2022-11-01,2022110140014HDH0001414005050,40014...",01. First_batch,SANTANDER,Dispersión-20221101.xlsx,2022-11-01,November,2022,October,2022,repro_otro_mes
60695,DAILY,aa622ced-ec67-49ee-8811-f96b471d0f52,Hamburguesas La Media,margaritachavez200381@gmail.com,7QLNHDJ3R,2022-10-22,609.43,Reprogramación,BBVA BANCOMER,Margarita Chavez Aguilar,...,"2022-11-01,2022110140014HDH0001414004900,40014...",01. First_batch,SANTANDER,Dispersión-20221101.xlsx,2022-11-01,November,2022,October,2022,repro_otro_mes
60694,DAILY,aa622ced-ec67-49ee-8811-f96b471d0f52,Hamburguesas La Media,margaritachavez200381@gmail.com,8CSVP3NWR,2022-10-21,462.34,Reprogramación,BBVA BANCOMER,Margarita Chavez Aguilar,...,"2022-11-01,2022110140014HDH0001414004870,40014...",01. First_batch,SANTANDER,Dispersión-20221101.xlsx,2022-11-01,November,2022,October,2022,repro_otro_mes
60693,DAILY,aa622ced-ec67-49ee-8811-f96b471d0f52,Hamburguesas La Media,margaritachavez200381@gmail.com,P6ZPLKQDZ,2022-10-20,341.13,Reprogramación,BBVA BANCOMER,Margarita Chavez Aguilar,...,"2022-11-01,2022110140014HDH0001414004850,40014...",01. First_batch,SANTANDER,Dispersión-20221101.xlsx,2022-11-01,November,2022,October,2022,repro_otro_mes

In [13]:
pivot_tipo_repro = pd.pivot_table(swap_dia_total_repro,index=['Date'],
                                  columns=['status','tipo_reprogramacion'],
                                  values=['total_due']
                                  ,aggfunc = ['sum', len],margins=True)
pivot_tipo_repro.reset_index(drop=False, inplace=True)
pivot_tipo_repro.head()

                                    Date             sum                 \
                                               total_due
status                                             ERROR
tipo_reprogramacion                      repro_mismo_mes repro_otro_mes
0                    2022-11-01 00:00:00             NaN     237,671.07
1                    2022-11-02 00:00:00       18,164.67     867,896.84
2                    2022-11-03 00:00:00        5,362.29      40,733.00
3                    2022-11-04 00:00:00       10,624.28      44,675.05
4                    2022-11-05 00:00:00       64,696.69      48,091.60

                                                                 \

status                         PAID                         All
tipo_reprogramacion repro_mismo_mes repro_otro_mes
0                               NaN   2,031,828.59 2,269,499.66
1                        145,480.12   2,877,053.01 3,908,594.64
2                         65,224.10     459,448.92   570,768.31
3                        165,521.85   1,450,466.99 1,671,288.17
4                        193,789.34     422,407.10   728,984.73

                                len                                 \
                          total_due
status                        ERROR                           PAID
tipo_reprogramacion repro_mismo_mes repro_otro_mes repro_mismo_mes
0                               NaN         101.00             NaN
1                              4.00         216.00           36.00
2                             10.00          36.00           30.00
3                             14.00          36.00           95.00
4                             34.00          48.00          106.00



status                               All
tipo_reprogramacion repro_otro_mes
0                         1,340.00  1441
1                         1,950.00  2206
2                           369.00   445
3                           388.00   533
4                           355.00   543

# FAST PAYMENTS

In [14]:
fp_dia_total = pd.concat([pd.read_excel(f,sheet_name='FAST PAYMENTS')
                          .assign(file_name=os.path.basename(f)) for f in allfiles_fp])
fp_dia_total['Date'] = fp_dia_total["file_name"].str[-15:-5]
fp_dia_total['Date']= pd.to_datetime(fp_dia_total['Date'])
fp_dia_total['report_date_local']= pd.to_datetime(fp_dia_total['report_date_local'])
fp_dia_total['month_conc'] = month_conc
fp_dia_total['year_conc'] = year_conc
fp_dia_total['month_report'] = fp_dia_total['report_date_local'].dt.strftime('%B')
fp_dia_total['year_report'] = fp_dia_total['report_date_local'].dt.year.astype(str)
fp_dia_total.head()

,type,merchant_id,merchant_name,user_email,report_id,report_date_local,total_due,tipo,bank,swap,...,status,LINEA CEP,Batch_time,Banco_emisor,file_name,Date,month_conc,year_conc,month_report,year_report
0,INSTANT,f03bef74-3df8-41de-9c00-2a4a5e89888a,DULCERIA TREVINO,goyob018@gmail.com,4GZJQTQCF,2022-10-27,160.98,Reprogramación,BBVA BANCOMER,012580004828704872,...,ERROR,NaN,01. First_batch,SANTANDER,Dispersión-FP 2022-11-01.xlsx,2022-11-01,November,2022,October,2022
1,INSTANT,f03bef74-3df8-41de-9c00-2a4a5e89888a,DULCERIA TREVINO,goyob018@gmail.com,KRKFPV8W5,2022-10-31,"1,441.38",Reprogramación,BBVA BANCOMER,012580004828704872,...,ERROR,NaN,01. First_batch,SANTANDER,Dispersión-FP 2022-11-01.xlsx,2022-11-01,November,2022,October,2022
2,INSTANT,0c6cd29e-9f77-4510-b7f2-298d9905acb9,LAS ALTEÑITAS,luistapiamurrieta@gmail.com,FBFKSZQDW,2022-10-27,"4,791.20",Reprogramación,ASP INTEGRA OPC,Luis Tapia Murrieta,...,ERROR,NaN,02. Second_batch,SANTANDER,Dispersión-FP 2022-11-01.xlsx,2022-11-01,November,2022,October,2022
3,INSTANT,7175596b-a83b-4e72-acd2-d389d58b0114,Barber,danielriveragranados1@gmail.com,Q3LYZFLSH,2022-10-27,632.44,Reprogramación,ASP INTEGRA OPC,Oscar Daniel Rivera Granados,...,ERROR,NaN,02. Second_batch,SANTANDER,Dispersión-FP 2022-11-01.xlsx,2022-11-01,November,2022,October,2022
4,INSTANT,7175596b-a83b-4e72-acd2-d389d58b0114,Barber,danielriveragranados1@gmail.com,G62VWJWZ4,2022-10-28,287.47,Reprogramación,ASP INTEGRA OPC,Oscar Daniel Rivera Granados,...,ERROR,NaN,02. Second_batch,SANTANDER,Dispersión-FP 2022-11-01.xlsx,2022-11-01,November,2022,October,2022

In [15]:
fp_dia_total.shape

(126333, 21)

In [16]:
fp_dia_total.dtypes

type                         object
merchant_id                  object
merchant_name                object
user_email                   object
report_id                    object
report_date_local    datetime64[ns]
total_due                   float64
tipo                         object
bank                         object
swap                         object
CLABE                         int64
status                       object
LINEA CEP                    object
Batch_time                   object
Banco_emisor                 object
file_name                    object
Date                 datetime64[ns]
month_conc                   object
year_conc                    object
month_report                 object
year_report                  object
dtype: object

In [17]:
pivot_fp_total = pd.pivot_table(fp_dia_total,index=['Date'],values=['total_due'],aggfunc = ['sum', len],margins=True)
pivot_fp_total.reset_index(drop=False, inplace=True)
pivot_fp_total.head()

                  Date          sum       len
                          total_due total_due
0  2022-11-01 00:00:00 2,786,951.23      4754
1  2022-11-02 00:00:00 2,713,371.19      4320
2  2022-11-03 00:00:00 2,453,399.51      4273
3  2022-11-04 00:00:00 2,304,008.64      4581
4  2022-11-05 00:00:00 2,861,189.34      4777

In [18]:
pivot_fp_parcial = pd.pivot_table(fp_dia_total,index=['tipo','Date'],
                                  columns=['status'],values=['total_due'],aggfunc = ['sum', len],margins=True)
pivot_fp_parcial.reset_index(drop=False, inplace=True)
pivot_fp_parcial.head()

C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_13144\2772441003.py:1: FutureWarning: Inferring datetime64[ns] from data containing strings is deprecated and will be removed in a future version. To retain the old behavior explicitly pass Series(data, dtype=datetime64[ns])
  pivot_fp_parcial = pd.pivot_table(fp_dia_total,index=['tipo','Date'],
C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_13144\2772441003.py:1: FutureWarning: Inferring datetime64[ns] from data containing strings is deprecated and will be removed in a future version. To retain the old behavior explicitly pass Series(data, dtype=datetime64[ns])
  pivot_fp_parcial = pd.pivot_table(fp_dia_total,index=['tipo','Date'],

                tipo       Date       sum                                     \
                                total_due
status                              ERROR         PAID  PENDING          All
0       Pago del día 2022-11-01    934.28 2,333,939.10      NaN 2,334,873.38
1       Pago del día 2022-11-02 98,947.40 2,140,672.62      NaN 2,239,620.02
2       Pago del día 2022-11-03 54,371.25 2,132,478.77      NaN 2,186,850.02
3       Pago del día 2022-11-04  2,665.47 2,171,541.60 1,341.55 2,175,548.62
4       Pago del día 2022-11-05 16,959.32 2,798,529.33      NaN 2,815,488.65

             len
       total_due
status     ERROR     PAID PENDING   All
0           1.00 4,154.00     NaN  4155
1          13.00 3,801.00     NaN  3814
2          10.00 4,041.00     NaN  4051
3           5.00 4,349.00    1.00  4355
4          15.00 4,672.00     NaN  4687

## CATEGORIZACIÓN DE REPROGRAMACIONES - FAST PAYMENTS

In [19]:
fp_dia_total_repro = fp_dia_total[(fp_dia_total['tipo'] == 'Reprogramación')]
fp_dia_total_repro.head()

,type,merchant_id,merchant_name,user_email,report_id,report_date_local,total_due,tipo,bank,swap,...,status,LINEA CEP,Batch_time,Banco_emisor,file_name,Date,month_conc,year_conc,month_report,year_report
0,INSTANT,f03bef74-3df8-41de-9c00-2a4a5e89888a,DULCERIA TREVINO,goyob018@gmail.com,4GZJQTQCF,2022-10-27,160.98,Reprogramación,BBVA BANCOMER,012580004828704872,...,ERROR,NaN,01. First_batch,SANTANDER,Dispersión-FP 2022-11-01.xlsx,2022-11-01,November,2022,October,2022
1,INSTANT,f03bef74-3df8-41de-9c00-2a4a5e89888a,DULCERIA TREVINO,goyob018@gmail.com,KRKFPV8W5,2022-10-31,"1,441.38",Reprogramación,BBVA BANCOMER,012580004828704872,...,ERROR,NaN,01. First_batch,SANTANDER,Dispersión-FP 2022-11-01.xlsx,2022-11-01,November,2022,October,2022
2,INSTANT,0c6cd29e-9f77-4510-b7f2-298d9905acb9,LAS ALTEÑITAS,luistapiamurrieta@gmail.com,FBFKSZQDW,2022-10-27,"4,791.20",Reprogramación,ASP INTEGRA OPC,Luis Tapia Murrieta,...,ERROR,NaN,02. Second_batch,SANTANDER,Dispersión-FP 2022-11-01.xlsx,2022-11-01,November,2022,October,2022
3,INSTANT,7175596b-a83b-4e72-acd2-d389d58b0114,Barber,danielriveragranados1@gmail.com,Q3LYZFLSH,2022-10-27,632.44,Reprogramación,ASP INTEGRA OPC,Oscar Daniel Rivera Granados,...,ERROR,NaN,02. Second_batch,SANTANDER,Dispersión-FP 2022-11-01.xlsx,2022-11-01,November,2022,October,2022
4,INSTANT,7175596b-a83b-4e72-acd2-d389d58b0114,Barber,danielriveragranados1@gmail.com,G62VWJWZ4,2022-10-28,287.47,Reprogramación,ASP INTEGRA OPC,Oscar Daniel Rivera Granados,...,ERROR,NaN,02. Second_batch,SANTANDER,Dispersión-FP 2022-11-01.xlsx,2022-11-01,November,2022,October,2022

In [20]:
fp_dia_total_repro.shape

(2588, 21)

In [21]:
fp_dia_total_repro.loc[(fp_dia_total_repro['tipo'] == 'Reprogramación')
                   & (fp_dia_total_repro['month_report'] == month_conc) 
                   & (fp_dia_total_repro['year_report'] == year_conc),'tipo_reprogramacion'] = 'repro_mismo_mes'
fp_dia_total_repro['tipo_reprogramacion'].fillna('repro_otro_mes',inplace=True)
fp_dia_total_repro.head()

C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_13144\939012805.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fp_dia_total_repro.loc[(fp_dia_total_repro['tipo'] == 'Reprogramación')
C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_13144\939012805.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fp_dia_total_repro['tipo_reprogramacion'].fillna('repro_otro_mes',inplace=True)

,type,merchant_id,merchant_name,user_email,report_id,report_date_local,total_due,tipo,bank,swap,...,LINEA CEP,Batch_time,Banco_emisor,file_name,Date,month_conc,year_conc,month_report,year_report,tipo_reprogramacion
0,INSTANT,f03bef74-3df8-41de-9c00-2a4a5e89888a,DULCERIA TREVINO,goyob018@gmail.com,4GZJQTQCF,2022-10-27,160.98,Reprogramación,BBVA BANCOMER,012580004828704872,...,NaN,01. First_batch,SANTANDER,Dispersión-FP 2022-11-01.xlsx,2022-11-01,November,2022,October,2022,repro_otro_mes
1,INSTANT,f03bef74-3df8-41de-9c00-2a4a5e89888a,DULCERIA TREVINO,goyob018@gmail.com,KRKFPV8W5,2022-10-31,"1,441.38",Reprogramación,BBVA BANCOMER,012580004828704872,...,NaN,01. First_batch,SANTANDER,Dispersión-FP 2022-11-01.xlsx,2022-11-01,November,2022,October,2022,repro_otro_mes
2,INSTANT,0c6cd29e-9f77-4510-b7f2-298d9905acb9,LAS ALTEÑITAS,luistapiamurrieta@gmail.com,FBFKSZQDW,2022-10-27,"4,791.20",Reprogramación,ASP INTEGRA OPC,Luis Tapia Murrieta,...,NaN,02. Second_batch,SANTANDER,Dispersión-FP 2022-11-01.xlsx,2022-11-01,November,2022,October,2022,repro_otro_mes
3,INSTANT,7175596b-a83b-4e72-acd2-d389d58b0114,Barber,danielriveragranados1@gmail.com,Q3LYZFLSH,2022-10-27,632.44,Reprogramación,ASP INTEGRA OPC,Oscar Daniel Rivera Granados,...,NaN,02. Second_batch,SANTANDER,Dispersión-FP 2022-11-01.xlsx,2022-11-01,November,2022,October,2022,repro_otro_mes
4,INSTANT,7175596b-a83b-4e72-acd2-d389d58b0114,Barber,danielriveragranados1@gmail.com,G62VWJWZ4,2022-10-28,287.47,Reprogramación,ASP INTEGRA OPC,Oscar Daniel Rivera Granados,...,NaN,02. Second_batch,SANTANDER,Dispersión-FP 2022-11-01.xlsx,2022-11-01,November,2022,October,2022,repro_otro_mes

In [22]:
pivot_tipo_repro_fp = pd.pivot_table(fp_dia_total_repro,index=['Date'],
                                  columns=['status','tipo_reprogramacion'],
                                  values=['total_due']
                                  ,aggfunc = ['sum', len],margins=True)
pivot_tipo_repro_fp.reset_index(drop=False, inplace=True)
pivot_tipo_repro_fp.head()

                                    Date             sum                 \
                                               total_due
status                                             ERROR
tipo_reprogramacion                      repro_mismo_mes repro_otro_mes
0                    2022-11-01 00:00:00             NaN      27,408.56
1                    2022-11-02 00:00:00             NaN      33,035.19
2                    2022-11-03 00:00:00             NaN      13,425.82
3                    2022-11-04 00:00:00             NaN            NaN
4                    2022-11-05 00:00:00             NaN       8,336.19

                                                                          len  \
                                                                    total_due
status                         PAID                       All           ERROR
tipo_reprogramacion repro_mismo_mes repro_otro_mes            repro_mismo_mes
0                               NaN     424,669.29 452,077.85             NaN
1                               NaN     440,715.98 473,751.17             NaN
2                               NaN     253,123.67 266,549.49             NaN
3                         23,956.00     104,504.02 128,460.02             NaN
4                               NaN      37,364.50  45,700.69             NaN



status                                        PAID                 All
tipo_reprogramacion repro_otro_mes repro_mismo_mes repro_otro_mes
0                            59.00             NaN         540.00  599
1                            28.00             NaN         478.00  506
2                            12.00             NaN         210.00  222
3                              NaN            1.00         225.00  226
4                            23.00             NaN          67.00   90

# EXCEL FINAL

In [23]:
writer = pd.ExcelWriter('FASE IV. REPROGRAMACIONES NOVIEMBRE 2022.xlsx',
                        engine='xlsxwriter',
                        engine_kwargs={'options': {'encoding':'utf-8'}})
pivot_total.to_excel(writer, sheet_name='SWAP DIA TOTAL')
pivot_parcial.to_excel(writer, sheet_name='SWAP DIA PARCIAL')
pivot_fp_total.to_excel(writer, sheet_name='FP TOTAL')
pivot_fp_parcial.to_excel(writer, sheet_name='FP PARCIAL')
pivot_tipo_repro.to_excel(writer, sheet_name='CATEGORIZACION REPRO')
pivot_tipo_repro_fp.to_excel(writer, sheet_name='CATEGORIZACION FP-REPRO')
writer.close()