In [1]:
import pandas as pd
import numpy as np
import glob
import os
from openpyxl import load_workbook
pd.options.display.float_format = '{:,.2f}'.format

# MES AÑO DE CONCILIACIÓN

In [2]:
month_conc = 'February'
year_conc = '2022'

# RUTAS DE ACCESO

### SWAP DEL DIA

In [3]:
allfiles_disp_trad = glob.glob(r'G:\My Drive\Settlement\1.-Resultado-dispersión\2022\02.-FEBRERO\Dispersión-2*.xlsx', recursive=False)
allfiles_disp_trad

['G:\\My Drive\\Settlement\\1.-Resultado-dispersión\\2022\\02.-FEBRERO\\Dispersión-20220201.xlsx',
 'G:\\My Drive\\Settlement\\1.-Resultado-dispersión\\2022\\02.-FEBRERO\\Dispersión-20220202.xlsx',
 'G:\\My Drive\\Settlement\\1.-Resultado-dispersión\\2022\\02.-FEBRERO\\Dispersión-20220203.xlsx',
 'G:\\My Drive\\Settlement\\1.-Resultado-dispersión\\2022\\02.-FEBRERO\\Dispersión-20220204.xlsx',
 'G:\\My Drive\\Settlement\\1.-Resultado-dispersión\\2022\\02.-FEBRERO\\Dispersión-20220205.xlsx',
 'G:\\My Drive\\Settlement\\1.-Resultado-dispersión\\2022\\02.-FEBRERO\\Dispersión-20220206.xlsx',
 'G:\\My Drive\\Settlement\\1.-Resultado-dispersión\\2022\\02.-FEBRERO\\Dispersión-20220207.xlsx',
 'G:\\My Drive\\Settlement\\1.-Resultado-dispersión\\2022\\02.-FEBRERO\\Dispersión-20220208.xlsx',
 'G:\\My Drive\\Settlement\\1.-Resultado-dispersión\\2022\\02.-FEBRERO\\Dispersión-20220209.xlsx',
 'G:\\My Drive\\Settlement\\1.-Resultado-dispersión\\2022\\02.-FEBRERO\\Dispersión-20220210.xlsx',
 'G:\\My Drive\\Settlement\\1.-Resultado-dispersión\\2022\\02.-FEBRERO\\Dispersión-20220211.xlsx',
 'G:\\My Drive\\Settlement\\1.-Resultado-dispersión\\2022\\02.-FEBRERO\\Dispersión-20220212.xlsx',
 'G:\\My Drive\\Settlement\\1.-Resultado-dispersión\\2022\\02.-FEBRERO\\Dispersión-20220213.xlsx',
 'G:\\My Drive\\Settlement\\1.-Resultado-dispersión\\2022\\02.-FEBRERO\\Dispersión-20220214.xlsx',
 'G:\\My Drive\\Settlement\\1.-Resultado-dispersión\\2022\\02.-FEBRERO\\Dispersión-20220215.xlsx',
 'G:\\My Drive\\Settlement\\1.-Resultado-dispersión\\2022\\02.-FEBRERO\\Dispersión-20220216.xlsx',
 'G:\\My Drive\\Settlement\\1.-Resultado-dispersión\\2022\\02.-FEBRERO\\Dispersión-20220217.xlsx',
 'G:\\My Drive\\Settlement\\1.-Resultado-dispersión\\2022\\02.-FEBRERO\\Dispersión-20220218.xlsx',
 'G:\\My Drive\\Settlement\\1.-Resultado-dispersión\\2022\\02.-FEBRERO\\Dispersión-20220219.xlsx',
 'G:\\My Drive\\Settlement\\1.-Resultado-dispersión\\2022\\02.-FEBRERO\\Dispersión-20220220.xlsx',
 'G:\\My Drive\\Settlement\\1.-Resultado-dispersión\\2022\\02.-FEBRERO\\Dispersión-20220221.xlsx',
 'G:\\My Drive\\Settlement\\1.-Resultado-dispersión\\2022\\02.-FEBRERO\\Dispersión-20220222.xlsx',
 'G:\\My Drive\\Settlement\\1.-Resultado-dispersión\\2022\\02.-FEBRERO\\Dispersión-20220223.xlsx',
 'G:\\My Drive\\Settlement\\1.-Resultado-dispersión\\2022\\02.-FEBRERO\\Dispersión-20220224.xlsx',
 'G:\\My Drive\\Settlement\\1.-Resultado-dispersión\\2022\\02.-FEBRERO\\Dispersión-20220225.xlsx',
 'G:\\My Drive\\Settlement\\1.-Resultado-dispersión\\2022\\02.-FEBRERO\\Dispersión-20220226.xlsx',
 'G:\\My Drive\\Settlement\\1.-Resultado-dispersión\\2022\\02.-FEBRERO\\Dispersión-20220227.xlsx',
 'G:\\My Drive\\Settlement\\1.-Resultado-dispersión\\2022\\02.-FEBRERO\\Dispersión-20220228.xlsx']

### FAST PAYMENTS

In [4]:
allfiles_fp = glob.glob(r'G:\My Drive\Settlement\1.-Resultado-dispersión\2022\02.-FEBRERO\Dispersión-FP*.xlsx',recursive=False)
allfiles_fp

['G:\\My Drive\\Settlement\\1.-Resultado-dispersión\\2022\\02.-FEBRERO\\Dispersión-FP 2022-02-02.xlsx',
 'G:\\My Drive\\Settlement\\1.-Resultado-dispersión\\2022\\02.-FEBRERO\\Dispersión-FP 2022-02-01.xlsx',
 'G:\\My Drive\\Settlement\\1.-Resultado-dispersión\\2022\\02.-FEBRERO\\Dispersión-FP 2022-02-03.xlsx',
 'G:\\My Drive\\Settlement\\1.-Resultado-dispersión\\2022\\02.-FEBRERO\\Dispersión-FP 2022-02-04.xlsx',
 'G:\\My Drive\\Settlement\\1.-Resultado-dispersión\\2022\\02.-FEBRERO\\Dispersión-FP 2022-02-05.xlsx',
 'G:\\My Drive\\Settlement\\1.-Resultado-dispersión\\2022\\02.-FEBRERO\\Dispersión-FP 2022-02-07.xlsx',
 'G:\\My Drive\\Settlement\\1.-Resultado-dispersión\\2022\\02.-FEBRERO\\Dispersión-FP 2022-02-06.xlsx',
 'G:\\My Drive\\Settlement\\1.-Resultado-dispersión\\2022\\02.-FEBRERO\\Dispersión-FP 2022-02-08.xlsx',
 'G:\\My Drive\\Settlement\\1.-Resultado-dispersión\\2022\\02.-FEBRERO\\Dispersión-FP 2022-02-09.xlsx',
 'G:\\My Drive\\Settlement\\1.-Resultado-dispersión\\2022\\02.-FEBRERO\\Dispersión-FP 2022-02-10.xlsx',
 'G:\\My Drive\\Settlement\\1.-Resultado-dispersión\\2022\\02.-FEBRERO\\Dispersión-FP 2022-02-13.xlsx',
 'G:\\My Drive\\Settlement\\1.-Resultado-dispersión\\2022\\02.-FEBRERO\\Dispersión-FP 2022-02-12.xlsx',
 'G:\\My Drive\\Settlement\\1.-Resultado-dispersión\\2022\\02.-FEBRERO\\Dispersión-FP 2022-02-11.xlsx',
 'G:\\My Drive\\Settlement\\1.-Resultado-dispersión\\2022\\02.-FEBRERO\\Dispersión-FP 2022-02-14.xlsx',
 'G:\\My Drive\\Settlement\\1.-Resultado-dispersión\\2022\\02.-FEBRERO\\Dispersión-FP 2022-02-15.xlsx',
 'G:\\My Drive\\Settlement\\1.-Resultado-dispersión\\2022\\02.-FEBRERO\\Dispersión-FP 2022-02-16.xlsx',
 'G:\\My Drive\\Settlement\\1.-Resultado-dispersión\\2022\\02.-FEBRERO\\Dispersión-FP 2022-02-17.xlsx',
 'G:\\My Drive\\Settlement\\1.-Resultado-dispersión\\2022\\02.-FEBRERO\\Dispersión-FP 2022-02-18.xlsx',
 'G:\\My Drive\\Settlement\\1.-Resultado-dispersión\\2022\\02.-FEBRERO\\Dispersión-FP 2022-02-20.xlsx',
 'G:\\My Drive\\Settlement\\1.-Resultado-dispersión\\2022\\02.-FEBRERO\\Dispersión-FP 2022-02-19.xlsx',
 'G:\\My Drive\\Settlement\\1.-Resultado-dispersión\\2022\\02.-FEBRERO\\Dispersión-FP 2022-02-21.xlsx',
 'G:\\My Drive\\Settlement\\1.-Resultado-dispersión\\2022\\02.-FEBRERO\\Dispersión-FP 2022-02-23.xlsx',
 'G:\\My Drive\\Settlement\\1.-Resultado-dispersión\\2022\\02.-FEBRERO\\Dispersión-FP 2022-02-22.xlsx',
 'G:\\My Drive\\Settlement\\1.-Resultado-dispersión\\2022\\02.-FEBRERO\\Dispersión-FP 2022-02-24.xlsx',
 'G:\\My Drive\\Settlement\\1.-Resultado-dispersión\\2022\\02.-FEBRERO\\Dispersión-FP 2022-02-26.xlsx',
 'G:\\My Drive\\Settlement\\1.-Resultado-dispersión\\2022\\02.-FEBRERO\\Dispersión-FP 2022-02-25.xlsx',
 'G:\\My Drive\\Settlement\\1.-Resultado-dispersión\\2022\\02.-FEBRERO\\Dispersión-FP 2022-02-27.xlsx',
 'G:\\My Drive\\Settlement\\1.-Resultado-dispersión\\2022\\02.-FEBRERO\\Dispersión-FP 2022-02-28.xlsx']

# SWAP DEL DIA

In [5]:
swap_dia_total = pd.concat([pd.read_excel(f,sheet_name = 'Swap del día')
                            .assign(file_name=os.path.basename(f)) for f in allfiles_disp_trad])
swap_dia_total['Date'] = swap_dia_total["file_name"].str[-13:-5]
swap_dia_total['Date']= pd.to_datetime(swap_dia_total['Date'], format='%Y%m%d').dt.date
swap_dia_total['Date']= pd.to_datetime(swap_dia_total['Date'])
swap_dia_total.sort_values(by=['Date'],ascending=True,inplace=True)
swap_dia_total['report_date_local']= pd.to_datetime(swap_dia_total['report_date_local'])
swap_dia_total['month_conc'] = month_conc
swap_dia_total['year_conc'] = year_conc
swap_dia_total['month_report'] = swap_dia_total['report_date_local'].dt.strftime('%B')
swap_dia_total['year_report'] = swap_dia_total['report_date_local'].dt.year.astype(str)
swap_dia_total.head()

,merchant_id,merchant_name,user_email,report_id,report_date_local,total_due,tipo,bank,swap,CLABE,status,CEP,Banco_emisor,file_name,Date,month_conc,year_conc,month_report,year_report
0,0a74fc00-3cc1-4def-a7a4-de68965fafde,Abarrotes Karla,kalderete342@gmail.com,X8V39XCHC,2022-02-01,60.37,Pago del día,BBVA BANCOMER,Carlos Alberto Esquivel Gonzlez,12078015065947388,failed,NaN,NaN,Dispersión-20220201.xlsx,2022-02-01,February,2022,February,2022
49024,00860631-27a5-4063-829e-042c3d4e91f1,Electromar,salvap57@hotmail.com,R6K7HZ8TK,2022-02-01,3.20,Pago del día,BANCOPPEL,Salvador Pedro Garcia,137180102454244488,paid,"2022-02-01,2022020140014 BET0000459237020,4001...",SANTANDER,Dispersión-20220201.xlsx,2022-02-01,February,2022,February,2022
49025,00327d93-311f-4deb-b44b-6f9121d0fb8c,Cibac,fertrudiz@hotmail.com,7H47H245L,2022-02-01,"4,024.62",Pago del día,INBURSA,Centro de ingenieria biomecanica aplicada a co...,36180500077755248,paid,"2022-02-01,2022020140014 BET0000458676690,4001...",SANTANDER,Dispersión-20220201.xlsx,2022-02-01,February,2022,February,2022
49026,0031a0de-784d-4791-9fe3-0732ef184a9a,Elite Body SPA,gaby_castrocabrera@yahoo.com.mx,8KD8K47SJ,2022-02-01,"1,811.07",Pago del día,BBVA BANCOMER,Gabriela Castro Cabrera,12180004761889238,paid,"2022-02-01,2022020140014 BET0000458664910,4001...",SANTANDER,Dispersión-20220201.xlsx,2022-02-01,February,2022,February,2022
49027,00315aa0-8556-44f8-950f-9af20264bb77,Consultorio Dental,dradianaguillen@gmail.com,Z3GTZB9M5,2022-02-01,479.12,Pago del día,INBURSA,Montserrat Diana Guillen Chavez,36180500213012392,paid,"2022-02-01,2022020140014 BET0000458865100,4001...",SANTANDER,Dispersión-20220201.xlsx,2022-02-01,February,2022,February,2022

In [6]:
swap_dia_total.shape

(2152274, 19)

In [7]:
swap_dia_total.dtypes

merchant_id                  object
merchant_name                object
user_email                   object
report_id                    object
report_date_local    datetime64[ns]
total_due                   float64
tipo                         object
bank                         object
swap                         object
CLABE                         int64
status                       object
CEP                          object
Banco_emisor                 object
file_name                    object
Date                 datetime64[ns]
month_conc                   object
year_conc                    object
month_report                 object
year_report                  object
dtype: object

In [8]:
pivot_total = pd.pivot_table(swap_dia_total,index=['Date'],values=['total_due'],aggfunc = ['sum', len],margins=True)
pivot_total.reset_index(drop=False, inplace=True)
pivot_total.head()

                  Date            sum       len
                            total_due total_due
0  2022-02-01 00:00:00 140,569,762.71     73549
1  2022-02-02 00:00:00 135,162,054.17     75516
2  2022-02-03 00:00:00 132,031,574.33     75176
3  2022-02-04 00:00:00 138,802,483.39     77205
4  2022-02-05 00:00:00 160,314,258.39     82217

In [9]:
pivot_parcial = pd.pivot_table(swap_dia_total,index=['tipo','Date'],values=['total_due'],aggfunc = ['sum', len],margins=True)
pivot_parcial.reset_index(drop=False, inplace=True)
pivot_parcial.head()

C:\Users\CRISTI~1.APA\AppData\Local\Temp/ipykernel_17388/10562768.py:1: FutureWarning: Inferring datetime64[ns] from data containing strings is deprecated and will be removed in a future version. To retain the old behavior explicitly pass Series(data, dtype=datetime64[ns])
  pivot_parcial = pd.pivot_table(swap_dia_total,index=['tipo','Date'],values=['total_due'],aggfunc = ['sum', len],margins=True)
C:\Users\CRISTI~1.APA\AppData\Local\Temp/ipykernel_17388/10562768.py:1: FutureWarning: Inferring datetime64[ns] from data containing strings is deprecated and will be removed in a future version. To retain the old behavior explicitly pass Series(data, dtype=datetime64[ns])
  pivot_parcial = pd.pivot_table(swap_dia_total,index=['tipo','Date'],values=['total_due'],aggfunc = ['sum', len],margins=True)

           tipo       Date            sum       len
                                total_due total_due
0  Pago del día 2022-02-01 139,865,469.31     73122
1  Pago del día 2022-02-02 134,277,293.69     74794
2  Pago del día 2022-02-03 131,033,790.78     74422
3  Pago del día 2022-02-04 137,987,186.17     76460
4  Pago del día 2022-02-05 159,375,330.74     81628

## CATEGORIZACIÓN DE REPROGRAMACIONES

In [10]:
swap_dia_total_repro = swap_dia_total[(swap_dia_total['tipo'] == 'Reprogramación')]
swap_dia_total_repro.head()

,merchant_id,merchant_name,user_email,report_id,report_date_local,total_due,tipo,bank,swap,CLABE,status,CEP,Banco_emisor,file_name,Date,month_conc,year_conc,month_report,year_report
49192,01bbb603-14a1-4a58-a545-7d1516a4ef69,Outfit DJ,julio_cesgar@hotmail.com,N8TT5VWKN,2022-01-26,"1,919.35",Reprogramación,BBVA BANCOMER,Julio Cesar Garcia Ayala,12180015626993355,paid,"2022-02-01,2022020140014 BET0000459020790,4001...",SANTANDER,Dispersión-20220201.xlsx,2022-02-01,February,2022,January,2022
49190,01bbb603-14a1-4a58-a545-7d1516a4ef69,Outfit DJ,julio_cesgar@hotmail.com,XKZ5KB22F,2022-01-28,349.76,Reprogramación,BBVA BANCOMER,Julio Cesar Garcia Ayala,12180015626993355,paid,"2022-02-01,2022020140014 BET0000458891420,4001...",SANTANDER,Dispersión-20220201.xlsx,2022-02-01,February,2022,January,2022
49191,01a41d3b-a24a-4e71-be7e-a8790e35628a,Sushi Manía,angelaapostolgarcia10@gmail.com,6XNRKTTWC,2022-01-31,"1,174.79",Reprogramación,SCOTIABANK,Israel Apostol Arango,44225256039155647,paid,"2022-02-01,2022020140014 BET0000459271100,4001...",SANTANDER,Dispersión-20220201.xlsx,2022-02-01,February,2022,January,2022
49200,01bbb603-14a1-4a58-a545-7d1516a4ef69,Outfit DJ,julio_cesgar@hotmail.com,SFHPW7NL5,2022-01-23,578.78,Reprogramación,BBVA BANCOMER,Julio Cesar Garcia Ayala,12180015626993355,paid,"2022-02-01,2022020140014 BET0000458864320,4001...",SANTANDER,Dispersión-20220201.xlsx,2022-02-01,February,2022,January,2022
48309,080f1903-b976-4c9b-bde2-022cc89247e9,Cafeteria De Chris,lozano.carla24@gmail.com,DZVCV8MZR,2021-10-29,84.32,Reprogramación,BBVA BANCOMER,CARLA CRISTINA LOZANO BENITEZ,12180029943388202,paid,"2022-02-01,2022020140014 BET0000459007870,4001...",SANTANDER,Dispersión-20220201.xlsx,2022-02-01,February,2022,October,2021

In [11]:
swap_dia_total_repro.shape

(12855, 19)

In [12]:
swap_dia_total_repro.loc[(swap_dia_total_repro['tipo'] == 'Reprogramación')
                   & (swap_dia_total_repro['month_report'] == month_conc) 
                   & (swap_dia_total_repro['year_report'] == year_conc),'tipo_reprogramacion'] = 'repro_mismo_mes'
swap_dia_total_repro['tipo_reprogramacion'].fillna('repro_otro_mes',inplace=True)
swap_dia_total_repro.head()

C:\Users\CRISTI~1.APA\AppData\Local\Temp/ipykernel_17388/1543240696.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  swap_dia_total_repro.loc[(swap_dia_total_repro['tipo'] == 'Reprogramación')
C:\Users\CRISTI~1.APA\AppData\Local\Temp/ipykernel_17388/1543240696.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  swap_dia_total_repro['tipo_reprogramacion'].fillna('repro_otro_mes',inplace=True)

,merchant_id,merchant_name,user_email,report_id,report_date_local,total_due,tipo,bank,swap,CLABE,status,CEP,Banco_emisor,file_name,Date,month_conc,year_conc,month_report,year_report,tipo_reprogramacion
49192,01bbb603-14a1-4a58-a545-7d1516a4ef69,Outfit DJ,julio_cesgar@hotmail.com,N8TT5VWKN,2022-01-26,"1,919.35",Reprogramación,BBVA BANCOMER,Julio Cesar Garcia Ayala,12180015626993355,paid,"2022-02-01,2022020140014 BET0000459020790,4001...",SANTANDER,Dispersión-20220201.xlsx,2022-02-01,February,2022,January,2022,repro_otro_mes
49190,01bbb603-14a1-4a58-a545-7d1516a4ef69,Outfit DJ,julio_cesgar@hotmail.com,XKZ5KB22F,2022-01-28,349.76,Reprogramación,BBVA BANCOMER,Julio Cesar Garcia Ayala,12180015626993355,paid,"2022-02-01,2022020140014 BET0000458891420,4001...",SANTANDER,Dispersión-20220201.xlsx,2022-02-01,February,2022,January,2022,repro_otro_mes
49191,01a41d3b-a24a-4e71-be7e-a8790e35628a,Sushi Manía,angelaapostolgarcia10@gmail.com,6XNRKTTWC,2022-01-31,"1,174.79",Reprogramación,SCOTIABANK,Israel Apostol Arango,44225256039155647,paid,"2022-02-01,2022020140014 BET0000459271100,4001...",SANTANDER,Dispersión-20220201.xlsx,2022-02-01,February,2022,January,2022,repro_otro_mes
49200,01bbb603-14a1-4a58-a545-7d1516a4ef69,Outfit DJ,julio_cesgar@hotmail.com,SFHPW7NL5,2022-01-23,578.78,Reprogramación,BBVA BANCOMER,Julio Cesar Garcia Ayala,12180015626993355,paid,"2022-02-01,2022020140014 BET0000458864320,4001...",SANTANDER,Dispersión-20220201.xlsx,2022-02-01,February,2022,January,2022,repro_otro_mes
48309,080f1903-b976-4c9b-bde2-022cc89247e9,Cafeteria De Chris,lozano.carla24@gmail.com,DZVCV8MZR,2021-10-29,84.32,Reprogramación,BBVA BANCOMER,CARLA CRISTINA LOZANO BENITEZ,12180029943388202,paid,"2022-02-01,2022020140014 BET0000459007870,4001...",SANTANDER,Dispersión-20220201.xlsx,2022-02-01,February,2022,October,2021,repro_otro_mes

In [13]:
pivot_tipo_repro = pd.pivot_table(swap_dia_total_repro,index=['Date'],
                                  columns=['tipo_reprogramacion'],
                                  values=['total_due']
                                  ,aggfunc = ['sum', len],margins=True)
pivot_tipo_repro.reset_index(drop=False, inplace=True)
pivot_tipo_repro.head()

                                    Date             sum                 \
                                               total_due
tipo_reprogramacion                      repro_mismo_mes repro_otro_mes
0                    2022-02-01 00:00:00             NaN     704,293.40
1                    2022-02-02 00:00:00       76,073.17     808,687.31
2                    2022-02-03 00:00:00      110,332.82     887,450.73
3                    2022-02-04 00:00:00      285,807.04     529,490.18
4                    2022-02-05 00:00:00      485,001.58     453,926.07

                                           len
                                     total_due
tipo_reprogramacion        All repro_mismo_mes repro_otro_mes  All
0                   704,293.40             NaN         427.00  427
1                   884,760.48           70.00         652.00  722
2                   997,783.55          129.00         625.00  754
3                   815,297.22          202.00         543.00  745
4                   938,927.65          229.00         360.00  589

# FAST PAYMENTS

In [14]:
fp_dia_total = pd.concat([pd.read_excel(f,sheet_name='FAST PAYMENTS')
                          .assign(file_name=os.path.basename(f)) for f in allfiles_fp])
fp_dia_total['Date'] = fp_dia_total["file_name"].str[-15:-5]
fp_dia_total['Date']= pd.to_datetime(fp_dia_total['Date'])
fp_dia_total['report_date_local']= pd.to_datetime(fp_dia_total['report_date_local'])
fp_dia_total['month_conc'] = month_conc
fp_dia_total['year_conc'] = year_conc
fp_dia_total['month_report'] = fp_dia_total['report_date_local'].dt.strftime('%B')
fp_dia_total['year_report'] = fp_dia_total['report_date_local'].dt.year.astype(str)
fp_dia_total.head()

,merchant_id,merchant_name,user_email,report_id,report_date_local,total_due,tipo,bank,swap,CLABE,status,CEP,Time,Banco_emisor,file_name,Date,month_conc,year_conc,month_report,year_report
0,c07a7010-6c7d-4186-bbda-55c1577d168a,FERIK BEAUTY,erikgibran@live.com,SGWMKCKVF,2022-02-02,"10,872.48",Pago del día,ASP INTEGRA OPC,Luis Fernando de Jesus Virgen Rodriguez,659802020000093099,ERROR,NaN,09:00,BANAMEX,Dispersión-FP 2022-02-02.xlsx,2022-02-02,February,2022,February,2022
1,be8e6c1d-f3ba-4d5d-9404-9654cb73d071,Farmacia similares y genericos,Elvisvalenzuela686@gmail.com,6JZMNPCFG,2022-01-27,273.10,Reprogramación,ASP INTEGRA OPC,Maria Elvira Rosales Valenzuela,659802020000418739,ERROR,NaN,14:00,BANAMEX,Dispersión-FP 2022-02-02.xlsx,2022-02-02,February,2022,January,2022
2,be8e6c1d-f3ba-4d5d-9404-9654cb73d071,Farmacia similares y genericos,Elvisvalenzuela686@gmail.com,PYLKCTB24,2022-01-27,605.61,Reprogramación,ASP INTEGRA OPC,Maria Elvira Rosales Valenzuela,659802020000418739,ERROR,NaN,14:00,BANAMEX,Dispersión-FP 2022-02-02.xlsx,2022-02-02,February,2022,January,2022
3,be8e6c1d-f3ba-4d5d-9404-9654cb73d071,Farmacia similares y genericos,Elvisvalenzuela686@gmail.com,KH4BJWQP4,2022-01-31,527.98,Reprogramación,ASP INTEGRA OPC,Maria Elvira Rosales Valenzuela,659802020000418739,ERROR,NaN,14:00,BANAMEX,Dispersión-FP 2022-02-02.xlsx,2022-02-02,February,2022,January,2022
4,be8e6c1d-f3ba-4d5d-9404-9654cb73d071,Farmacia similares y genericos,Elvisvalenzuela686@gmail.com,J2Q28GGBT,2022-02-02,602.73,Pago del día,ASP INTEGRA OPC,Maria Elvira Rosales Valenzuela,659802020000418739,ERROR,NaN,16:00,BANAMEX,Dispersión-FP 2022-02-02.xlsx,2022-02-02,February,2022,February,2022

In [15]:
fp_dia_total.shape

(152179, 20)

In [16]:
fp_dia_total.dtypes

merchant_id                  object
merchant_name                object
user_email                   object
report_id                    object
report_date_local    datetime64[ns]
total_due                   float64
tipo                         object
bank                         object
swap                         object
CLABE                         int64
status                       object
CEP                          object
Time                         object
Banco_emisor                 object
file_name                    object
Date                 datetime64[ns]
month_conc                   object
year_conc                    object
month_report                 object
year_report                  object
dtype: object

In [17]:
pivot_fp_total = pd.pivot_table(fp_dia_total,index=['Date'],values=['total_due'],aggfunc = ['sum', len],margins=True)
pivot_fp_total.reset_index(drop=False, inplace=True)
pivot_fp_total.head()

                  Date          sum       len
                          total_due total_due
0  2022-02-01 00:00:00 3,359,861.82      5363
1  2022-02-02 00:00:00 3,191,345.96      5690
2  2022-02-03 00:00:00 2,546,233.30      5307
3  2022-02-04 00:00:00 2,941,496.09      5796
4  2022-02-05 00:00:00 3,604,439.40      6062

In [18]:
pivot_fp_parcial = pd.pivot_table(fp_dia_total,index=['tipo','Date'],values=['total_due'],aggfunc = ['sum', len],margins=True)
pivot_fp_parcial.reset_index(drop=False, inplace=True)
pivot_fp_parcial.head()

C:\Users\CRISTI~1.APA\AppData\Local\Temp/ipykernel_17388/834877613.py:1: FutureWarning: Inferring datetime64[ns] from data containing strings is deprecated and will be removed in a future version. To retain the old behavior explicitly pass Series(data, dtype=datetime64[ns])
  pivot_fp_parcial = pd.pivot_table(fp_dia_total,index=['tipo','Date'],values=['total_due'],aggfunc = ['sum', len],margins=True)
C:\Users\CRISTI~1.APA\AppData\Local\Temp/ipykernel_17388/834877613.py:1: FutureWarning: Inferring datetime64[ns] from data containing strings is deprecated and will be removed in a future version. To retain the old behavior explicitly pass Series(data, dtype=datetime64[ns])
  pivot_fp_parcial = pd.pivot_table(fp_dia_total,index=['tipo','Date'],values=['total_due'],aggfunc = ['sum', len],margins=True)

           tipo       Date          sum       len
                              total_due total_due
0  Pago del día 2022-02-01 3,032,897.46      5179
1  Pago del día 2022-02-02 2,651,271.08      5078
2  Pago del día 2022-02-03 2,489,854.79      5225
3  Pago del día 2022-02-04 2,855,078.81      5680
4  Pago del día 2022-02-05 3,395,900.09      6003

## CATEGORIZACIÓN DE REPROGRAMACIONES - FAST PAYMENTS

In [19]:
fp_dia_total_repro = fp_dia_total[(fp_dia_total['tipo'] == 'Reprogramación')]
fp_dia_total_repro.head()

,merchant_id,merchant_name,user_email,report_id,report_date_local,total_due,tipo,bank,swap,CLABE,status,CEP,Time,Banco_emisor,file_name,Date,month_conc,year_conc,month_report,year_report
1,be8e6c1d-f3ba-4d5d-9404-9654cb73d071,Farmacia similares y genericos,Elvisvalenzuela686@gmail.com,6JZMNPCFG,2022-01-27,273.10,Reprogramación,ASP INTEGRA OPC,Maria Elvira Rosales Valenzuela,659802020000418739,ERROR,NaN,14:00,BANAMEX,Dispersión-FP 2022-02-02.xlsx,2022-02-02,February,2022,January,2022
2,be8e6c1d-f3ba-4d5d-9404-9654cb73d071,Farmacia similares y genericos,Elvisvalenzuela686@gmail.com,PYLKCTB24,2022-01-27,605.61,Reprogramación,ASP INTEGRA OPC,Maria Elvira Rosales Valenzuela,659802020000418739,ERROR,NaN,14:00,BANAMEX,Dispersión-FP 2022-02-02.xlsx,2022-02-02,February,2022,January,2022
3,be8e6c1d-f3ba-4d5d-9404-9654cb73d071,Farmacia similares y genericos,Elvisvalenzuela686@gmail.com,KH4BJWQP4,2022-01-31,527.98,Reprogramación,ASP INTEGRA OPC,Maria Elvira Rosales Valenzuela,659802020000418739,ERROR,NaN,14:00,BANAMEX,Dispersión-FP 2022-02-02.xlsx,2022-02-02,February,2022,January,2022
43,605ee07a-118b-44a0-adf1-3df14c1e3e94,Cuatri Tour Tepoz,eduardorr63@hotmail.com,M77QBXTWH,2022-01-29,910.33,Reprogramación,ASP INTEGRA OPC,Eduardo Rangel De La Rosa,659802020000402774,ERROR,NaN,18:00,BANAMEX,Dispersión-FP 2022-02-02.xlsx,2022-02-02,February,2022,January,2022
141,03f1cfc6-cd05-4977-bed2-1fd30e89c725,Te clonamos SA DE CV,pabloooalvarezzz@gmail.com,48NYY8WZH,2022-01-25,"28,747.20",Reprogramación,BBVA BANCOMER,Jose Pablo Alvarez Castañeda,12180015626274744,PAID,"2022-02-02,17EBB230DBCEEC94,40002,40012,012180...",09:00,BANAMEX,Dispersión-FP 2022-02-02.xlsx,2022-02-02,February,2022,January,2022

In [20]:
fp_dia_total_repro.shape

(1560, 20)

In [21]:
fp_dia_total_repro.loc[(fp_dia_total_repro['tipo'] == 'Reprogramación')
                   & (fp_dia_total_repro['month_report'] == month_conc) 
                   & (fp_dia_total_repro['year_report'] == year_conc),'tipo_reprogramacion'] = 'repro_mismo_mes'
fp_dia_total_repro['tipo_reprogramacion'].fillna('repro_otro_mes',inplace=True)
fp_dia_total_repro.head()

C:\Users\CRISTI~1.APA\AppData\Local\Temp/ipykernel_17388/3589666621.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fp_dia_total_repro.loc[(fp_dia_total_repro['tipo'] == 'Reprogramación')
C:\Users\CRISTI~1.APA\AppData\Local\Temp/ipykernel_17388/3589666621.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fp_dia_total_repro['tipo_reprogramacion'].fillna('repro_otro_mes',inplace=True)

,merchant_id,merchant_name,user_email,report_id,report_date_local,total_due,tipo,bank,swap,CLABE,...,CEP,Time,Banco_emisor,file_name,Date,month_conc,year_conc,month_report,year_report,tipo_reprogramacion
1,be8e6c1d-f3ba-4d5d-9404-9654cb73d071,Farmacia similares y genericos,Elvisvalenzuela686@gmail.com,6JZMNPCFG,2022-01-27,273.10,Reprogramación,ASP INTEGRA OPC,Maria Elvira Rosales Valenzuela,659802020000418739,...,NaN,14:00,BANAMEX,Dispersión-FP 2022-02-02.xlsx,2022-02-02,February,2022,January,2022,repro_otro_mes
2,be8e6c1d-f3ba-4d5d-9404-9654cb73d071,Farmacia similares y genericos,Elvisvalenzuela686@gmail.com,PYLKCTB24,2022-01-27,605.61,Reprogramación,ASP INTEGRA OPC,Maria Elvira Rosales Valenzuela,659802020000418739,...,NaN,14:00,BANAMEX,Dispersión-FP 2022-02-02.xlsx,2022-02-02,February,2022,January,2022,repro_otro_mes
3,be8e6c1d-f3ba-4d5d-9404-9654cb73d071,Farmacia similares y genericos,Elvisvalenzuela686@gmail.com,KH4BJWQP4,2022-01-31,527.98,Reprogramación,ASP INTEGRA OPC,Maria Elvira Rosales Valenzuela,659802020000418739,...,NaN,14:00,BANAMEX,Dispersión-FP 2022-02-02.xlsx,2022-02-02,February,2022,January,2022,repro_otro_mes
43,605ee07a-118b-44a0-adf1-3df14c1e3e94,Cuatri Tour Tepoz,eduardorr63@hotmail.com,M77QBXTWH,2022-01-29,910.33,Reprogramación,ASP INTEGRA OPC,Eduardo Rangel De La Rosa,659802020000402774,...,NaN,18:00,BANAMEX,Dispersión-FP 2022-02-02.xlsx,2022-02-02,February,2022,January,2022,repro_otro_mes
141,03f1cfc6-cd05-4977-bed2-1fd30e89c725,Te clonamos SA DE CV,pabloooalvarezzz@gmail.com,48NYY8WZH,2022-01-25,"28,747.20",Reprogramación,BBVA BANCOMER,Jose Pablo Alvarez Castañeda,12180015626274744,...,"2022-02-02,17EBB230DBCEEC94,40002,40012,012180...",09:00,BANAMEX,Dispersión-FP 2022-02-02.xlsx,2022-02-02,February,2022,January,2022,repro_otro_mes

In [22]:
pivot_tipo_repro_fp = pd.pivot_table(fp_dia_total_repro,index=['Date'],
                                  columns=['tipo_reprogramacion'],
                                  values=['total_due']
                                  ,aggfunc = ['sum', len],margins=True)
pivot_tipo_repro_fp.reset_index(drop=False, inplace=True)
pivot_tipo_repro_fp.head()

                                    Date             sum                 \
                                               total_due
tipo_reprogramacion                      repro_mismo_mes repro_otro_mes
0                    2022-02-01 00:00:00             NaN     326,964.36
1                    2022-02-02 00:00:00          295.14     539,779.74
2                    2022-02-03 00:00:00        4,884.62      51,493.89
3                    2022-02-04 00:00:00        3,478.89      82,938.39
4                    2022-02-05 00:00:00       21,043.99     187,495.32

                                           len
                                     total_due
tipo_reprogramacion        All repro_mismo_mes repro_otro_mes  All
0                   326,964.36             NaN         184.00  184
1                   540,074.88            1.00         611.00  612
2                    56,378.51            5.00          77.00   82
3                    86,417.28            4.00         112.00  116
4                   208,539.31            2.00          57.00   59

# EXCEL FINAL

In [23]:
writer = pd.ExcelWriter('FASE IV. REPROGRAMACIONES FEBRERO 2022.xlsx',
                        engine='xlsxwriter',
                        engine_kwargs={'options': {'encoding':'utf-8'}})
pivot_total.to_excel(writer, sheet_name='SWAP DIA TOTAL')
pivot_parcial.to_excel(writer, sheet_name='SWAP DIA PARCIAL')
pivot_fp_total.to_excel(writer, sheet_name='FP TOTAL')
pivot_fp_parcial.to_excel(writer, sheet_name='FP PARCIAL')
pivot_tipo_repro.to_excel(writer, sheet_name='CATEGORIZACION REPRO')
pivot_tipo_repro_fp.to_excel(writer, sheet_name='CATEGORIZACION FP-REPRO')
writer.close()