In [1]:
import pandas as pd
import numpy as np
from openpyxl import load_workbook
import glob
import os
import datetime
pd.options.display.float_format = '{:,.2f}'.format
datetime.timedelta(days=1)
datetime.timedelta(1)

datetime.timedelta(days=1)

In [2]:
allfiles_adj = glob.glob(r'C:\Users\Cristian.Aparicio\Documents\POLIZAS\2024\01. ENERO\DATA\ADJ*.csv', recursive=False)
allfiles_adj

['C:\\Users\\Cristian.Aparicio\\Documents\\POLIZAS\\2024\\01. ENERO\\DATA\\ADJUSTMENTS - TEMPLATE - NULL.csv']

In [3]:
allfiles_ret = glob.glob(r'C:\Users\Cristian.Aparicio\Documents\POLIZAS\2024\01. ENERO\DATA\RET*.csv', recursive=False)
allfiles_ret

['C:\\Users\\Cristian.Aparicio\\Documents\\POLIZAS\\2024\\01. ENERO\\DATA\\RETENCIONES - TEMPLATE - NULL.csv']

In [4]:
allfiles_lib = glob.glob(r'C:\Users\Cristian.Aparicio\Documents\POLIZAS\2024\01. ENERO\DATA\LIB*.csv', recursive=False)
allfiles_lib

['C:\\Users\\Cristian.Aparicio\\Documents\\POLIZAS\\2024\\01. ENERO\\DATA\\LIBERACIONES - TEMPLATE - NULL.csv']

In [5]:
allfiles_com = sorted(glob.glob(r'G:\.shortcut-targets-by-id\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\3.-Settlement\5.-HISTORICO FILES PAGOS\01. TRADICIONAL\2024\01. JANUARY\MONTOS EMAIL\*.csv', recursive=False))
allfiles_com

['G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2024\\01. JANUARY\\MONTOS EMAIL\\DIFF MONTOS-BNTE-1 2024-01-01.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2024\\01. JANUARY\\MONTOS EMAIL\\DIFF MONTOS-BNTE-1 2024-01-06.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2024\\01. JANUARY\\MONTOS EMAIL\\DIFF MONTOS-BNTE-1 2024-01-07.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2024\\01. JANUARY\\MONTOS EMAIL\\DIFF MONTOS-BNTE-1 2024-01-13.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2024\\01. JANUARY\\MONTOS EMAIL\\DIFF MONTOS-BNTE-1 2024-01-14.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2024\\01. JANUARY\\MONTOS EMAIL\\DIFF MONTOS-BNTE-1 2024-01-20.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2024\\01. JANUARY\\MONTOS EMAIL\\DIFF MONTOS-BNTE-1 2024-01-21.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2024\\01. JANUARY\\MONTOS EMAIL\\DIFF MONTOS-BNTE-1 2024-01-27.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2024\\01. JANUARY\\MONTOS EMAIL\\DIFF MONTOS-BNTE-1 2024-01-28.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2024\\01. JANUARY\\MONTOS EMAIL\\DIFF MONTOS-BNTE-2 2024-01-01.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2024\\01. JANUARY\\MONTOS EMAIL\\DIFF MONTOS-BNTE-2 2024-01-02.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2024\\01. JANUARY\\MONTOS EMAIL\\DIFF MONTOS-BNTE-2 2024-01-03.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2024\\01. JANUARY\\MONTOS EMAIL\\DIFF MONTOS-BNTE-2 2024-01-06.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2024\\01. JANUARY\\MONTOS EMAIL\\DIFF MONTOS-BNTE-2 2024-01-07.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2024\\01. JANUARY\\MONTOS EMAIL\\DIFF MONTOS-BNTE-2 2024-01-08.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2024\\01. JANUARY\\MONTOS EMAIL\\DIFF MONTOS-BNTE-2 2024-01-09.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2024\\01. JANUARY\\MONTOS EMAIL\\DIFF MONTOS-BNTE-2 2024-01-13.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2024\\01. JANUARY\\MONTOS EMAIL\\DIFF MONTOS-BNTE-2 2024-01-14.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2024\\01. JANUARY\\MONTOS EMAIL\\DIFF MONTOS-BNTE-2 2024-01-15.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2024\\01. JANUARY\\MONTOS EMAIL\\DIFF MONTOS-BNTE-2 2024-01-20.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2024\\01. JANUARY\\MONTOS EMAIL\\DIFF MONTOS-BNTE-2 2024-01-21.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2024\\01. JANUARY\\MONTOS EMAIL\\DIFF MONTOS-BNTE-2 2024-01-22.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2024\\01. JANUARY\\MONTOS EMAIL\\DIFF MONTOS-BNTE-2 2024-01-23.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2024\\01. JANUARY\\MONTOS EMAIL\\DIFF MONTOS-BNTE-2 2024-01-27.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2024\\01. JANUARY\\MONTOS EMAIL\\DIFF MONTOS-BNTE-2 2024-01-28.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2024\\01. JANUARY\\MONTOS EMAIL\\DIFF MONTOS-BNTE-2 2024-01-29.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2024\\01. JANUARY\\MONTOS EMAIL\\DIFF MONTOS-BNTE-3 2024-01-04.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2024\\01. JANUARY\\MONTOS EMAIL\\DIFF MONTOS-BNTE-3 2024-01-05.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2024\\01. JANUARY\\MONTOS EMAIL\\DIFF MONTOS-BNTE-3 2024-01-10.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2024\\01. JANUARY\\MONTOS EMAIL\\DIFF MONTOS-BNTE-3 2024-01-11.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2024\\01. JANUARY\\MONTOS EMAIL\\DIFF MONTOS-BNTE-3 2024-01-12.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2024\\01. JANUARY\\MONTOS EMAIL\\DIFF MONTOS-BNTE-3 2024-01-16.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2024\\01. JANUARY\\MONTOS EMAIL\\DIFF MONTOS-BNTE-3 2024-01-17.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2024\\01. JANUARY\\MONTOS EMAIL\\DIFF MONTOS-BNTE-3 2024-01-18.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2024\\01. JANUARY\\MONTOS EMAIL\\DIFF MONTOS-BNTE-3 2024-01-19.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2024\\01. JANUARY\\MONTOS EMAIL\\DIFF MONTOS-BNTE-3 2024-01-24.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2024\\01. JANUARY\\MONTOS EMAIL\\DIFF MONTOS-BNTE-3 2024-01-25.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2024\\01. JANUARY\\MONTOS EMAIL\\DIFF MONTOS-BNTE-3 2024-01-26.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2024\\01. JANUARY\\MONTOS EMAIL\\DIFF MONTOS-BNTE-3 2024-01-30.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2024\\01. JANUARY\\MONTOS EMAIL\\DIFF MONTOS-BNTE-3 2024-01-31.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2024\\01. JANUARY\\MONTOS EMAIL\\DIFF MONTOS-SANT-1 2024-01-02.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2024\\01. JANUARY\\MONTOS EMAIL\\DIFF MONTOS-SANT-1 2024-01-03.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2024\\01. JANUARY\\MONTOS EMAIL\\DIFF MONTOS-SANT-1 2024-01-04.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2024\\01. JANUARY\\MONTOS EMAIL\\DIFF MONTOS-SANT-1 2024-01-05.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2024\\01. JANUARY\\MONTOS EMAIL\\DIFF MONTOS-SANT-1 2024-01-08.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2024\\01. JANUARY\\MONTOS EMAIL\\DIFF MONTOS-SANT-1 2024-01-09.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2024\\01. JANUARY\\MONTOS EMAIL\\DIFF MONTOS-SANT-1 2024-01-10.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2024\\01. JANUARY\\MONTOS EMAIL\\DIFF MONTOS-SANT-1 2024-01-11.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2024\\01. JANUARY\\MONTOS EMAIL\\DIFF MONTOS-SANT-1 2024-01-12.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2024\\01. JANUARY\\MONTOS EMAIL\\DIFF MONTOS-SANT-1 2024-01-15.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2024\\01. JANUARY\\MONTOS EMAIL\\DIFF MONTOS-SANT-1 2024-01-16.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2024\\01. JANUARY\\MONTOS EMAIL\\DIFF MONTOS-SANT-1 2024-01-17.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2024\\01. JANUARY\\MONTOS EMAIL\\DIFF MONTOS-SANT-1 2024-01-18.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2024\\01. JANUARY\\MONTOS EMAIL\\DIFF MONTOS-SANT-1 2024-01-19.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2024\\01. JANUARY\\MONTOS EMAIL\\DIFF MONTOS-SANT-1 2024-01-22.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2024\\01. JANUARY\\MONTOS EMAIL\\DIFF MONTOS-SANT-1 2024-01-23.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2024\\01. JANUARY\\MONTOS EMAIL\\DIFF MONTOS-SANT-1 2024-01-24.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2024\\01. JANUARY\\MONTOS EMAIL\\DIFF MONTOS-SANT-1 2024-01-25.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2024\\01. JANUARY\\MONTOS EMAIL\\DIFF MONTOS-SANT-1 2024-01-26.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2024\\01. JANUARY\\MONTOS EMAIL\\DIFF MONTOS-SANT-1 2024-01-29.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2024\\01. JANUARY\\MONTOS EMAIL\\DIFF MONTOS-SANT-1 2024-01-30.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2024\\01. JANUARY\\MONTOS EMAIL\\DIFF MONTOS-SANT-1 2024-01-31.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2024\\01. JANUARY\\MONTOS EMAIL\\DIFF MONTOS-SANT-2 2024-01-04.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2024\\01. JANUARY\\MONTOS EMAIL\\DIFF MONTOS-SANT-2 2024-01-05.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2024\\01. JANUARY\\MONTOS EMAIL\\DIFF MONTOS-SANT-2 2024-01-10.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2024\\01. JANUARY\\MONTOS EMAIL\\DIFF MONTOS-SANT-2 2024-01-11.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2024\\01. JANUARY\\MONTOS EMAIL\\DIFF MONTOS-SANT-2 2024-01-12.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2024\\01. JANUARY\\MONTOS EMAIL\\DIFF MONTOS-SANT-2 2024-01-16.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2024\\01. JANUARY\\MONTOS EMAIL\\DIFF MONTOS-SANT-2 2024-01-17.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2024\\01. JANUARY\\MONTOS EMAIL\\DIFF MONTOS-SANT-2 2024-01-18.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2024\\01. JANUARY\\MONTOS EMAIL\\DIFF MONTOS-SANT-2 2024-01-19.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2024\\01. JANUARY\\MONTOS EMAIL\\DIFF MONTOS-SANT-2 2024-01-24.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2024\\01. JANUARY\\MONTOS EMAIL\\DIFF MONTOS-SANT-2 2024-01-25.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2024\\01. JANUARY\\MONTOS EMAIL\\DIFF MONTOS-SANT-2 2024-01-26.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2024\\01. JANUARY\\MONTOS EMAIL\\DIFF MONTOS-SANT-2 2024-01-30.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2024\\01. JANUARY\\MONTOS EMAIL\\DIFF MONTOS-SANT-2 2024-01-31.csv']

In [6]:
allfiles_lender = glob.glob(r'G:\My Drive\RESPALDO-PC\LENDERS\2024\DB\LEN*.csv', recursive=False)
allfiles_lender

['G:\\My Drive\\RESPALDO-PC\\LENDERS\\2024\\DB\\LENDERS DB ENERO 2024.csv']

In [7]:
start_date = '2024-01-01'
final_date = '2024-01-31'

# ADJUSTMENTS

In [8]:
adj_1 = pd.concat([pd.read_csv(f).assign(file_name=os.path.basename(f)) for f in allfiles_adj])
adj_1.head()

Empty DataFrame
Columns: [report_id, report_date_local, adjustment_date_local, adjustment_type, adjustment_amount, fees_charged, taxes, amount_due, type, date, file_name]
Index: []

In [9]:
adj_1.shape

(0, 11)

### CURRENT DATES

In [10]:
adj_current_month = adj_1[(adj_1['date'] >= start_date) & (adj_1['date'] <= final_date)]
adj_current_month.head()

Empty DataFrame
Columns: [report_id, report_date_local, adjustment_date_local, adjustment_type, adjustment_amount, fees_charged, taxes, amount_due, type, date, file_name]
Index: []

In [11]:
adj_current_month.shape

(0, 11)

### PIVOT

In [12]:
adj_pivot = adj_current_month.groupby(['type','adjustment_type','date']).agg({'adjustment_amount':sum
                                                                                ,'fees_charged':sum 
                                                                                ,'taxes':sum
                                                                                ,'amount_due':sum}).reset_index()
adj_pivot['adjustment_amount'] = adj_pivot['adjustment_amount']*-1 
adj_pivot['fees_charged'] = adj_pivot['fees_charged']*-1
adj_pivot['taxes'] = adj_pivot['taxes']*-1 
adj_pivot['amount_due'] = adj_pivot['amount_due']*-1 
adj_pivot.head()

C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_5660\1267365187.py:1: FutureWarning: The provided callable <built-in function sum> is currently using SeriesGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  adj_pivot = adj_current_month.groupby(['type','adjustment_type','date']).agg({'adjustment_amount':sum
C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_5660\1267365187.py:1: FutureWarning: The provided callable <built-in function sum> is currently using SeriesGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  adj_pivot = adj_current_month.groupby(['type','adjustment_type','date']).agg({'adjustment_amount':sum

Empty DataFrame
Columns: [type, adjustment_type, date, adjustment_amount, fees_charged, taxes, amount_due]
Index: []

In [13]:
adj_pivot_v2 = pd.pivot_table(adj_current_month,index=['type','date']
                              ,columns=['adjustment_type']
                              ,values=['adjustment_amount','fees_charged','taxes','amount_due']
                              ,aggfunc=np.sum,margins=True)
adj_pivot_v2.head()

C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_5660\25903760.py:1: FutureWarning: The provided callable <function sum at 0x000001ADC9717A60> is currently using DataFrameGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  adj_pivot_v2 = pd.pivot_table(adj_current_month,index=['type','date']
C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_5660\25903760.py:1: FutureWarning: The provided callable <function sum at 0x000001ADC9717A60> is currently using DataFrameGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  adj_pivot_v2 = pd.pivot_table(adj_current_month,index=['type','date']

Empty DataFrame
Columns: []
Index: []

# LIBERACIONES

In [14]:
lib_1 = pd.concat([pd.read_csv(f).assign(file_name=os.path.basename(f)) for f in allfiles_lib])
lib_1.head()

Empty DataFrame
Columns: [date_release, report_date_local, retained_date_local, report_id, entry_type, amount, type, file_name]
Index: []

### CURRENT DATES

In [15]:
lib_current_month = lib_1[(lib_1['report_date_local'] >= start_date) & (lib_1['report_date_local'] <= final_date)]
lib_current_month.head()

Empty DataFrame
Columns: [date_release, report_date_local, retained_date_local, report_id, entry_type, amount, type, file_name]
Index: []

In [16]:
lib_current_month.shape

(0, 8)

### PIVOT

In [17]:
lib_pivot = lib_current_month.groupby(['type','entry_type','report_date_local']).agg({'amount':sum}).reset_index()
lib_pivot.head()

C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_5660\3698445877.py:1: FutureWarning: The provided callable <built-in function sum> is currently using SeriesGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  lib_pivot = lib_current_month.groupby(['type','entry_type','report_date_local']).agg({'amount':sum}).reset_index()

Empty DataFrame
Columns: [type, entry_type, report_date_local, amount]
Index: []

In [18]:
lib_pivot.shape

(0, 4)

In [19]:
lib_pivot_v2 = pd.pivot_table(lib_current_month,index=['type','report_date_local']
                              ,columns=['entry_type']
                              ,values=['amount']
                              ,aggfunc=np.sum,margins=True)
lib_pivot_v2.head()

C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_5660\3827261204.py:1: FutureWarning: The provided callable <function sum at 0x000001ADC9717A60> is currently using DataFrameGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  lib_pivot_v2 = pd.pivot_table(lib_current_month,index=['type','report_date_local']
C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_5660\3827261204.py:1: FutureWarning: The provided callable <function sum at 0x000001ADC9717A60> is currently using DataFrameGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  lib_pivot_v2 = pd.pivot_table(lib_current_month,index=['type','report_date_local']

Empty DataFrame
Columns: []
Index: []

In [20]:
lib_pivot_v2.shape

(0, 0)

# RETENCIONES

In [21]:
ret_1 = pd.concat([pd.read_csv(f).assign(file_name=os.path.basename(f)) for f in allfiles_ret])
ret_1.head()

Empty DataFrame
Columns: [date_retainment, report_date_local, report_id, entry_type, amount, type, file_name]
Index: []

### CURRENT DATES

In [22]:
ret_current_month = ret_1[(ret_1['report_date_local'] >= start_date) & (ret_1['report_date_local'] <= final_date)]
ret_current_month.head()

Empty DataFrame
Columns: [date_retainment, report_date_local, report_id, entry_type, amount, type, file_name]
Index: []

In [23]:
ret_current_month.shape

(0, 7)

### PIVOT

In [24]:
ret_pivot = ret_current_month.groupby(['type','entry_type','report_date_local']).agg({'amount':sum}).reset_index()
ret_pivot.head()

C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_5660\1381901728.py:1: FutureWarning: The provided callable <built-in function sum> is currently using SeriesGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  ret_pivot = ret_current_month.groupby(['type','entry_type','report_date_local']).agg({'amount':sum}).reset_index()

Empty DataFrame
Columns: [type, entry_type, report_date_local, amount]
Index: []

In [25]:
ret_pivot.shape

(0, 4)

In [26]:
ret_pivot_v2 = pd.pivot_table(ret_current_month,index=['type','report_date_local']
                              ,columns=['entry_type']
                              ,values=['amount']
                              ,aggfunc=np.sum,margins=True)
ret_pivot_v2.head()

C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_5660\19373298.py:1: FutureWarning: The provided callable <function sum at 0x000001ADC9717A60> is currently using DataFrameGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  ret_pivot_v2 = pd.pivot_table(ret_current_month,index=['type','report_date_local']
C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_5660\19373298.py:1: FutureWarning: The provided callable <function sum at 0x000001ADC9717A60> is currently using DataFrameGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  ret_pivot_v2 = pd.pivot_table(ret_current_month,index=['type','report_date_local']

Empty DataFrame
Columns: []
Index: []

In [27]:
ret_pivot_v2.shape

(0, 0)

# COMISIONES SWAP / BNTE

In [28]:
com_1 = pd.concat([pd.read_csv(f).assign(file_name=os.path.basename(f)) for f in allfiles_com])
com_1.head()

,date_disbursement,amount,payments_number,comision_dsp,iva_dsp,comision + iva,total_fondeo,monto_mail,comision_mail,iva_mail,monto_fondeo_mail,check_monto,check_comision,check_iva,check_fondeo,dsp,file_name
0,2024-01-01,"234,089,784.29",72728,"126,779.40","20,284.70","147,064.10","234,236,848.39","234,089,784.29","126,779.40","20,284.70","234,236,848.39",0.00,0.00,0.00,0.00,BNTE,DIFF MONTOS-BNTE-1 2024-01-01.csv
0,2024-01-06,"250,395,461.60",94799,"164,831.70","26,373.07","191,204.77","250,586,666.37","250,395,461.60","164,831.70","26,373.07","250,586,666.37",0.00,0.00,0.00,0.00,BNTE,DIFF MONTOS-BNTE-1 2024-01-06.csv
0,2024-01-07,"249,046,241.56",94813,"164,777.40","26,364.38","191,141.78","249,237,383.34","249,046,241.56","164,777.40","26,364.38","249,237,383.34",0.00,0.00,0.00,0.00,BNTE,DIFF MONTOS-BNTE-1 2024-01-07.csv
0,2024-01-13,"234,155,972.12",94823,"164,743.65","26,358.98","191,102.63","234,347,074.75","234,155,972.12","164,743.65","26,358.98","234,347,074.75",0.00,0.00,0.00,0.00,BNTE,DIFF MONTOS-BNTE-1 2024-01-13.csv
0,2024-01-14,"265,720,953.84",94810,"164,876.25","26,380.20","191,256.45","265,912,210.29","265,720,953.84","164,876.25","26,380.20","265,912,210.29",0.00,0.00,0.00,0.00,BNTE,DIFF MONTOS-BNTE-1 2024-01-14.csv

In [29]:
com_1.shape

(76, 17)

### CURRENT DATES

In [30]:
com_current_month = com_1[(com_1['date_disbursement'] >= start_date) & (com_1['date_disbursement'] <= final_date)]
com_current_month.head()

,date_disbursement,amount,payments_number,comision_dsp,iva_dsp,comision + iva,total_fondeo,monto_mail,comision_mail,iva_mail,monto_fondeo_mail,check_monto,check_comision,check_iva,check_fondeo,dsp,file_name
0,2024-01-01,"234,089,784.29",72728,"126,779.40","20,284.70","147,064.10","234,236,848.39","234,089,784.29","126,779.40","20,284.70","234,236,848.39",0.00,0.00,0.00,0.00,BNTE,DIFF MONTOS-BNTE-1 2024-01-01.csv
0,2024-01-06,"250,395,461.60",94799,"164,831.70","26,373.07","191,204.77","250,586,666.37","250,395,461.60","164,831.70","26,373.07","250,586,666.37",0.00,0.00,0.00,0.00,BNTE,DIFF MONTOS-BNTE-1 2024-01-06.csv
0,2024-01-07,"249,046,241.56",94813,"164,777.40","26,364.38","191,141.78","249,237,383.34","249,046,241.56","164,777.40","26,364.38","249,237,383.34",0.00,0.00,0.00,0.00,BNTE,DIFF MONTOS-BNTE-1 2024-01-07.csv
0,2024-01-13,"234,155,972.12",94823,"164,743.65","26,358.98","191,102.63","234,347,074.75","234,155,972.12","164,743.65","26,358.98","234,347,074.75",0.00,0.00,0.00,0.00,BNTE,DIFF MONTOS-BNTE-1 2024-01-13.csv
0,2024-01-14,"265,720,953.84",94810,"164,876.25","26,380.20","191,256.45","265,912,210.29","265,720,953.84","164,876.25","26,380.20","265,912,210.29",0.00,0.00,0.00,0.00,BNTE,DIFF MONTOS-BNTE-1 2024-01-14.csv

In [31]:
com_current_month.shape

(76, 17)

In [32]:
com_current_month.columns

Index(['date_disbursement', 'amount', 'payments_number', 'comision_dsp',
       'iva_dsp', 'comision + iva', 'total_fondeo', 'monto_mail',
       'comision_mail', 'iva_mail', 'monto_fondeo_mail', 'check_monto',
       'check_comision', 'check_iva', 'check_fondeo', 'dsp', 'file_name'],
      dtype='object')

In [33]:
com_final = com_current_month.groupby(['date_disbursement']).agg({'payments_number':sum,'amount':sum,'comision_dsp':sum,
                                                                  'iva_dsp':sum,'comision + iva':sum,'total_fondeo':sum,
                                                                 'monto_mail':sum,'comision_mail':sum,'iva_mail':sum,
                                                                 'monto_fondeo_mail':sum,'check_monto':sum,'check_comision':sum,
                                                                 'check_iva':sum,'check_fondeo':sum}).reset_index()
com_final.head()

C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_5660\91613238.py:1: FutureWarning: The provided callable <built-in function sum> is currently using SeriesGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  com_final = com_current_month.groupby(['date_disbursement']).agg({'payments_number':sum,'amount':sum,'comision_dsp':sum,
C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_5660\91613238.py:1: FutureWarning: The provided callable <built-in function sum> is currently using SeriesGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  com_final = com_current_month.groupby(['date_disbursement']).agg({'payments_number':sum,'amount':sum,'comision_dsp':sum,

,date_disbursement,payments_number,amount,comision_dsp,iva_dsp,comision + iva,total_fondeo,monto_mail,comision_mail,iva_mail,monto_fondeo_mail,check_monto,check_comision,check_iva,check_fondeo
0,2024-01-01,73014,"234,559,767.84","127,271.70","20,363.47","147,635.17","234,707,403.01","234,559,767.84","127,271.70","20,363.47","234,707,403.01",0.00,0.00,0.00,0.00
1,2024-01-02,36243,"127,923,371.85","18,970.75","3,035.32","22,006.07","127,945,377.92","127,923,371.85","18,970.75","3,035.32","127,945,377.92",0.00,0.00,0.00,0.00
2,2024-01-03,89616,"233,413,057.92","45,464.65","7,274.34","52,738.99","233,465,796.91","233,413,057.92","45,464.65","7,274.34","233,465,796.91",0.00,0.00,0.00,0.00
3,2024-01-04,97372,"245,110,495.98","49,275.15","7,884.02","57,159.17","245,167,655.15","245,110,495.98","49,275.15","7,884.02","245,167,655.15",0.00,0.00,0.00,0.00
4,2024-01-05,102299,"254,237,668.57","51,831.25","8,293.00","60,124.25","254,297,792.82","254,237,668.57","51,831.25","8,293.00","254,297,792.82",0.00,0.00,0.00,0.00

# LENDERS

In [34]:
lender_1 = pd.concat([pd.read_csv(f).assign(file_name=os.path.basename(f)) for f in allfiles_lender])
lender_1.columns = lender_1.columns.str.strip().str.lower() 
lender_1.head()

,collection_date_local,merchant_token,merchant_id,loan_id,provider_code,collection_origin,source,funded_by,amount,capital,interest,tax,file_name
0,2024-01-01,4171ac9e-d2a7-457d-9dad-cbbd2b3049fe,cee63265-299e-4dcb-a0d4-2b0e43653a07,04a5f069-8234-477e-8f44-9547b3d7f6ad,MRP,SETTLEMENT,LEDGER,MRP,21.27,14.52,5.82,0.93,LENDERS DB ENERO 2024.csv
1,2024-01-01,4a333e93-915a-4083-bcde-647d7fe8cff9,8246a480-c002-48f8-a603-dd9d3b22b6fe,715240cf-f5bc-4be9-ae3a-c8436dc15119,CLIP,SETTLEMENT,LEDGER,CLIP,25.07,19.26,0.00,0.00,LENDERS DB ENERO 2024.csv
2,2024-01-01,f756fdd9-8624-4903-99ad-363d28f039a5,4bec7abe-dedb-4ef0-8ec4-6e1e1b545b42,c74ce46c-2028-4da2-a680-75dda6255c5f,CLIP,SETTLEMENT,LEDGER,CLIP,5.75,4.42,1.15,0.18,LENDERS DB ENERO 2024.csv
3,2024-01-01,ab290964-0efb-421e-a8e6-7b33e66e424e,3bcce3f1-9fde-4dc0-a6e3-0963e810ab04,6568a9b3-bd5c-4331-ae22-7350aef84ea7,MRP,SETTLEMENT,LEDGER,CLIP,19.17,13.23,5.12,0.82,LENDERS DB ENERO 2024.csv
4,2024-01-01,172172e1-89e7-4681-b33a-ac14bfbdc3d3,bcb8ee38-6b43-4667-b429-e629a3e726b6,bc531061-5de2-4d88-94fa-a04963f9df73,MRP,SETTLEMENT,LEDGER,CLIP,13.42,11.17,1.94,0.31,LENDERS DB ENERO 2024.csv

In [35]:
lender_1.shape

(1147398, 13)

In [36]:
lender_1['source'].unique()

array(['LEDGER'], dtype=object)

### CURRENT DATES

In [37]:
lender_current_month = lender_1[(lender_1['collection_date_local'] >= start_date) &
                                (lender_1['collection_date_local'] <= final_date)]
lender_current_month.head()

,collection_date_local,merchant_token,merchant_id,loan_id,provider_code,collection_origin,source,funded_by,amount,capital,interest,tax,file_name
0,2024-01-01,4171ac9e-d2a7-457d-9dad-cbbd2b3049fe,cee63265-299e-4dcb-a0d4-2b0e43653a07,04a5f069-8234-477e-8f44-9547b3d7f6ad,MRP,SETTLEMENT,LEDGER,MRP,21.27,14.52,5.82,0.93,LENDERS DB ENERO 2024.csv
1,2024-01-01,4a333e93-915a-4083-bcde-647d7fe8cff9,8246a480-c002-48f8-a603-dd9d3b22b6fe,715240cf-f5bc-4be9-ae3a-c8436dc15119,CLIP,SETTLEMENT,LEDGER,CLIP,25.07,19.26,0.00,0.00,LENDERS DB ENERO 2024.csv
2,2024-01-01,f756fdd9-8624-4903-99ad-363d28f039a5,4bec7abe-dedb-4ef0-8ec4-6e1e1b545b42,c74ce46c-2028-4da2-a680-75dda6255c5f,CLIP,SETTLEMENT,LEDGER,CLIP,5.75,4.42,1.15,0.18,LENDERS DB ENERO 2024.csv
3,2024-01-01,ab290964-0efb-421e-a8e6-7b33e66e424e,3bcce3f1-9fde-4dc0-a6e3-0963e810ab04,6568a9b3-bd5c-4331-ae22-7350aef84ea7,MRP,SETTLEMENT,LEDGER,CLIP,19.17,13.23,5.12,0.82,LENDERS DB ENERO 2024.csv
4,2024-01-01,172172e1-89e7-4681-b33a-ac14bfbdc3d3,bcb8ee38-6b43-4667-b429-e629a3e726b6,bc531061-5de2-4d88-94fa-a04963f9df73,MRP,SETTLEMENT,LEDGER,CLIP,13.42,11.17,1.94,0.31,LENDERS DB ENERO 2024.csv

In [38]:
lender_current_month.shape

(1147398, 13)

In [39]:
lender_current_month['provider_code'].unique()

array(['MRP', 'CLIP', 'R2', 'CTO', 'APH', 'AVL'], dtype=object)

### PIVOT POR PROVIDER CODE

In [40]:
lender_pivot_provider_code = lender_current_month.groupby(['collection_date_local','provider_code']).agg({'amount':sum,
                                                                                                          'capital':sum,
                                                                                                          'interest':sum,
                                                                                                          'tax':sum}).reset_index()
lender_pivot_provider_code.head()

C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_5660\1428468905.py:1: FutureWarning: The provided callable <built-in function sum> is currently using SeriesGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  lender_pivot_provider_code = lender_current_month.groupby(['collection_date_local','provider_code']).agg({'amount':sum,
C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_5660\1428468905.py:1: FutureWarning: The provided callable <built-in function sum> is currently using SeriesGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  lender_pivot_provider_code = lender_current_month.groupby(['collection_date_local','provider_code']).agg({'amount':sum,

,collection_date_local,provider_code,amount,capital,interest,tax
0,2024-01-01,APH,15.33,10.07,5.26,0.00
1,2024-01-01,CLIP,"299,291.40","228,643.21","42,109.10","6,737.24"
2,2024-01-01,CTO,"1,118.28",676.73,380.64,60.91
3,2024-01-01,MRP,"297,044.55","219,821.47","66,592.45","10,630.63"
4,2024-01-01,R2,"323,639.66","241,565.05","70,753.89","11,320.72"

In [41]:
lender_pivot_provider_code.shape

(168, 6)

### PIVOT CLIP

In [42]:
lender_clip = lender_current_month[(lender_current_month['provider_code'] == 'CLIP')]

In [43]:
# lender_pivot_clip_1 = lender_clip.groupby(['Creation Date','Date']).agg({'Collected today':sum,'Capital today':sum
#                                                                        ,'Interests today':sum,'IVA Interests today':sum
#                                                                        ,'Overdue Interest today':sum,'Total today':sum
#                                                                        ,'CLIP Revenue today':sum}).reset_index()
# lender_pivot_clip_1.head()

In [44]:
# lender_pivot_clip_1.shape

In [45]:
lender_pivot_clip_2 = lender_clip.groupby(['collection_date_local']).agg({'amount':sum,'capital':sum,'interest':sum
                                                 ,'tax':sum}).reset_index()
lender_pivot_clip_2.head()

C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_5660\2945400080.py:1: FutureWarning: The provided callable <built-in function sum> is currently using SeriesGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  lender_pivot_clip_2 = lender_clip.groupby(['collection_date_local']).agg({'amount':sum,'capital':sum,'interest':sum
C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_5660\2945400080.py:1: FutureWarning: The provided callable <built-in function sum> is currently using SeriesGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  lender_pivot_clip_2 = lender_clip.groupby(['collection_date_local']).agg({'amount':sum,'capital':sum,'interest':sum

  collection_date_local       amount    capital   interest       tax
0            2024-01-01   299,291.40 228,643.21  42,109.10  6,737.24
1            2024-01-02   665,866.92 504,711.91  94,667.97 15,146.98
2            2024-01-03   771,325.88 586,811.91 103,266.38 16,521.95
3            2024-01-04   873,603.58 661,812.06 111,803.61 17,888.67
4            2024-01-05 1,046,865.36 791,200.72 127,825.32 20,451.76

In [46]:
lender_pivot_clip_2.shape

(31, 5)

### PIVOT OTHERS

In [47]:
lender_others = lender_current_month[(lender_current_month['provider_code'] != 'CLIP')]

In [48]:
lender_pivot_others = lender_others.groupby(['collection_date_local']).agg({'amount':sum,'capital':sum,'interest':sum
                                                 ,'tax':sum}).reset_index()
lender_pivot_others.head()

C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_5660\1304906578.py:1: FutureWarning: The provided callable <built-in function sum> is currently using SeriesGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  lender_pivot_others = lender_others.groupby(['collection_date_local']).agg({'amount':sum,'capital':sum,'interest':sum
C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_5660\1304906578.py:1: FutureWarning: The provided callable <built-in function sum> is currently using SeriesGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  lender_pivot_others = lender_others.groupby(['collection_date_local']).agg({'amount':sum,'capital':sum,'interest':sum

  collection_date_local       amount      capital   interest       tax
0            2024-01-01   621,817.82   462,073.32 137,732.24 22,012.26
1            2024-01-02 1,295,031.98   953,086.94 294,913.17 47,031.87
2            2024-01-03 1,372,506.84 1,006,681.01 315,571.80 50,254.03
3            2024-01-04 1,403,647.60 1,028,600.25 323,538.57 51,508.78
4            2024-01-05 1,645,623.63 1,209,053.16 376,470.86 60,099.61

In [49]:
lender_pivot_others.shape

(31, 5)

# EXCEL FINAL

In [50]:
writer = pd.ExcelWriter('FASE II. DATA POLIZA ENERO 2024.xlsx',
                        engine='xlsxwriter',
                        engine_kwargs={'options': {'encoding':'utf-8'}})
lender_pivot_provider_code.to_excel(writer, sheet_name='DATA LENDER PROVIDER_CODE',index=False)
lender_pivot_clip_2.to_excel(writer, sheet_name='DATA LENDER CLIP',index=False)
# lender_pivot_clip_1.to_excel(writer, sheet_name='DATA LENDER CLIP CREATION DATE',index=False)
lender_pivot_others.to_excel(writer, sheet_name='DATA LENDER OTHERS',index=False)
adj_pivot.to_excel(writer, sheet_name='DATA ADJUSTMENTS',index=False)
# lib_pivot_v2.to_excel(writer, sheet_name='DATA LIBERACIONES')
# ret_pivot_v2.to_excel(writer, sheet_name='DATA RETENCIONES')
com_final.to_excel(writer, sheet_name='DATA COMISIONES',index=False)
writer.close()