In [1]:
import pandas as pd
import numpy as np
import glob
import os
from openpyxl import load_workbook
from functools import reduce
pd.options.display.float_format = '{:,.2f}'.format

#### ACUMULADO

In [2]:
cumfiles = glob.glob(r'C:\Users\Cristian.Aparicio\Documents\DISPERSIONES\2022\09. SEPTIEMBRE\QUERIES\*.csv', recursive=False)
cumfiles

['C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\09. SEPTIEMBRE\\QUERIES\\SETTLEMENT 2022-09-01.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\09. SEPTIEMBRE\\QUERIES\\SETTLEMENT 2022-09-02.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\09. SEPTIEMBRE\\QUERIES\\SETTLEMENT 2022-09-03.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\09. SEPTIEMBRE\\QUERIES\\SETTLEMENT 2022-09-04.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\09. SEPTIEMBRE\\QUERIES\\SETTLEMENT 2022-09-05.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\09. SEPTIEMBRE\\QUERIES\\SETTLEMENT 2022-09-06.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\09. SEPTIEMBRE\\QUERIES\\SETTLEMENT 2022-09-07.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\09. SEPTIEMBRE\\QUERIES\\SETTLEMENT 2022-09-08.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\09. SEPTIEMBRE\\QUERIES\\SETTLEMENT 2022-09-09.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\09. SEPTIEMBRE\\QUERIES\\SETTLEMENT 2022-09-10.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\09. SEPTIEMBRE\\QUERIES\\SETTLEMENT 2022-09-11.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\09. SEPTIEMBRE\\QUERIES\\SETTLEMENT 2022-09-12.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\09. SEPTIEMBRE\\QUERIES\\SETTLEMENT 2022-09-13.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\09. SEPTIEMBRE\\QUERIES\\SETTLEMENT 2022-09-14.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\09. SEPTIEMBRE\\QUERIES\\SETTLEMENT 2022-09-15.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\09. SEPTIEMBRE\\QUERIES\\SETTLEMENT 2022-09-16.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\09. SEPTIEMBRE\\QUERIES\\SETTLEMENT 2022-09-17.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\09. SEPTIEMBRE\\QUERIES\\SETTLEMENT 2022-09-18.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\09. SEPTIEMBRE\\QUERIES\\SETTLEMENT 2022-09-19.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\09. SEPTIEMBRE\\QUERIES\\SETTLEMENT 2022-09-20.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\09. SEPTIEMBRE\\QUERIES\\SETTLEMENT 2022-09-21.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\09. SEPTIEMBRE\\QUERIES\\SETTLEMENT 2022-09-22.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\09. SEPTIEMBRE\\QUERIES\\SETTLEMENT 2022-09-23.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\09. SEPTIEMBRE\\QUERIES\\SETTLEMENT 2022-09-24.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\09. SEPTIEMBRE\\QUERIES\\SETTLEMENT 2022-09-25.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\09. SEPTIEMBRE\\QUERIES\\SETTLEMENT 2022-09-26.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\09. SEPTIEMBRE\\QUERIES\\SETTLEMENT 2022-09-27.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\09. SEPTIEMBRE\\QUERIES\\SETTLEMENT 2022-09-28.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\09. SEPTIEMBRE\\QUERIES\\SETTLEMENT 2022-09-29.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\09. SEPTIEMBRE\\QUERIES\\SETTLEMENT 2022-09-30.csv']

In [3]:
cum_1 = pd.concat([pd.read_csv(f).assign(file_name=os.path.basename(f)) for f in cumfiles])
cum_1.columns = cum_1.columns.str.strip().str.lower() 
cum_1['report_date_local']= pd.to_datetime(cum_1['report_date_local']) 
cum_1.head()

C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_2040\2603350484.py:1: DtypeWarning: Columns (18) have mixed types. Specify dtype option on import or set low_memory=False.
  cum_1 = pd.concat([pd.read_csv(f).assign(file_name=os.path.basename(f)) for f in cumfiles])
C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_2040\2603350484.py:1: DtypeWarning: Columns (18) have mixed types. Specify dtype option on import or set low_memory=False.
  cum_1 = pd.concat([pd.read_csv(f).assign(file_name=os.path.basename(f)) for f in cumfiles])
C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_2040\2603350484.py:1: DtypeWarning: Columns (18) have mixed types. Specify dtype option on import or set low_memory=False.
  cum_1 = pd.concat([pd.read_csv(f).assign(file_name=os.path.basename(f)) for f in cumfiles])
C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_2040\2603350484.py:1: DtypeWarning: Columns (18) have mixed types. Specify dtype option on import or set low_memory=False.
  cum_1 = pd.concat([pd.read_csv(f).assign(file_name=os.path.basename(f)) for f in cumfiles])
C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_2040\2603350484.py:1: DtypeWarning: Columns (18) have mixed types. Specify dtype option on import or set low_memory=False.
  cum_1 = pd.concat([pd.read_csv(f).assign(file_name=os.path.basename(f)) for f in cumfiles])
C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_2040\2603350484.py:1: DtypeWarning: Columns (18) have mixed types. Specify dtype option on import or set low_memory=False.
  cum_1 = pd.concat([pd.read_csv(f).assign(file_name=os.path.basename(f)) for f in cumfiles])
C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_2040\2603350484.py:1: DtypeWarning: Columns (18) have mixed types. Specify dtype option on import or set low_memory=False.
  cum_1 = pd.concat([pd.read_csv(f).assign(file_name=os.path.basename(f)) for f in cumfiles])
C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_2040\2603350484.py:1: DtypeWarning: Columns (18) have mixed types. Specify dtype option on import or set low_memory=False.
  cum_1 = pd.concat([pd.read_csv(f).assign(file_name=os.path.basename(f)) for f in cumfiles])
C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_2040\2603350484.py:1: DtypeWarning: Columns (18) have mixed types. Specify dtype option on import or set low_memory=False.
  cum_1 = pd.concat([pd.read_csv(f).assign(file_name=os.path.basename(f)) for f in cumfiles])
C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_2040\2603350484.py:1: DtypeWarning: Columns (18) have mixed types. Specify dtype option on import or set low_memory=False.
  cum_1 = pd.concat([pd.read_csv(f).assign(file_name=os.path.basename(f)) for f in cumfiles])

,merchant_id,merchant_name,user_email,report_id,report_date_local,total_transactions,total_fees_charged,total_taxes,applied_fees_benefits,applied_taxes_benefits,...,total_released,total_retained,tipopago,total_due,type,created_date,created_time,updated_date,updated_time,file_name
0,fb7b00dc-34fd-4315-a707-f2f2cc0af11c,CASA MANCINAS,luis.albertomancinas@gmail.com,FLNH3RSW3,2022-09-01,"3,000.00",108.00,17.28,0.00,0.00,...,0.00,0.00,NaN,"2,874.72",DAILY,2022-09-01,02:00:34,2022-09-01,02:00:34,SETTLEMENT 2022-09-01.csv
1,82d8f28f-82ce-48fb-ad7d-1a05633356a5,TRAGONA FONDA,j_mizael26@hotmail.com,G9KZZ3CV6,2022-09-01,138.00,4.97,0.80,0.00,0.00,...,0.00,0.00,NaN,132.23,DAILY,2022-09-01,02:00:34,2022-09-01,02:00:34,SETTLEMENT 2022-09-01.csv
2,60bee498-10da-4461-9993-8d583fcc512e,MAS VERDE,hectorfk7@gmail.com,K5VBHL3BH,2022-09-01,"22,501.45",810.05,129.61,0.00,0.00,...,0.00,0.00,NaN,"21,561.79",DAILY,2022-09-01,02:00:34,2022-09-01,02:00:34,SETTLEMENT 2022-09-01.csv
3,98cfac80-6c04-4478-a933-c54c3efaff52,ABARROTES ABY,samuel041267@gmail.com,QTYXZJ54K,2022-09-01,542.00,19.51,3.12,0.00,0.00,...,0.00,0.00,NaN,519.37,DAILY,2022-09-01,02:00:34,2022-09-01,02:00:34,SETTLEMENT 2022-09-01.csv
4,6f9fe7c6-ad24-4b3e-b1dd-99cb24b6e375,PROCACE,procaceterminal@hotmail.com,43TBBGXDH,2022-09-01,650.00,23.40,3.74,0.00,0.00,...,0.00,0.00,NaN,622.86,DAILY,2022-09-01,02:00:35,2022-09-01,02:00:35,SETTLEMENT 2022-09-01.csv

In [4]:
cum_1.shape

(2692613, 26)

In [5]:
cum_distinct_0 = cum_1[(cum_1['total_due'] != 0)]
cum_distinct_0.head()

,merchant_id,merchant_name,user_email,report_id,report_date_local,total_transactions,total_fees_charged,total_taxes,applied_fees_benefits,applied_taxes_benefits,...,total_released,total_retained,tipopago,total_due,type,created_date,created_time,updated_date,updated_time,file_name
0,fb7b00dc-34fd-4315-a707-f2f2cc0af11c,CASA MANCINAS,luis.albertomancinas@gmail.com,FLNH3RSW3,2022-09-01,"3,000.00",108.00,17.28,0.00,0.00,...,0.00,0.00,NaN,"2,874.72",DAILY,2022-09-01,02:00:34,2022-09-01,02:00:34,SETTLEMENT 2022-09-01.csv
1,82d8f28f-82ce-48fb-ad7d-1a05633356a5,TRAGONA FONDA,j_mizael26@hotmail.com,G9KZZ3CV6,2022-09-01,138.00,4.97,0.80,0.00,0.00,...,0.00,0.00,NaN,132.23,DAILY,2022-09-01,02:00:34,2022-09-01,02:00:34,SETTLEMENT 2022-09-01.csv
2,60bee498-10da-4461-9993-8d583fcc512e,MAS VERDE,hectorfk7@gmail.com,K5VBHL3BH,2022-09-01,"22,501.45",810.05,129.61,0.00,0.00,...,0.00,0.00,NaN,"21,561.79",DAILY,2022-09-01,02:00:34,2022-09-01,02:00:34,SETTLEMENT 2022-09-01.csv
3,98cfac80-6c04-4478-a933-c54c3efaff52,ABARROTES ABY,samuel041267@gmail.com,QTYXZJ54K,2022-09-01,542.00,19.51,3.12,0.00,0.00,...,0.00,0.00,NaN,519.37,DAILY,2022-09-01,02:00:34,2022-09-01,02:00:34,SETTLEMENT 2022-09-01.csv
4,6f9fe7c6-ad24-4b3e-b1dd-99cb24b6e375,PROCACE,procaceterminal@hotmail.com,43TBBGXDH,2022-09-01,650.00,23.40,3.74,0.00,0.00,...,0.00,0.00,NaN,622.86,DAILY,2022-09-01,02:00:35,2022-09-01,02:00:35,SETTLEMENT 2022-09-01.csv

In [6]:
cum_distinct_0.shape

(2691552, 26)

#### PAGOS DE DISPERSIONES

In [7]:
pagos_dia_files_1 = glob.glob(r'C:\Users\Cristian.Aparicio\Documents\DISPERSIONES\2022\09. SEPTIEMBRE\ARCHIVO DISPERSIONES\Dispersión*.xlsx', recursive=False)
pagos_dia_files_1

['C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\09. SEPTIEMBRE\\ARCHIVO DISPERSIONES\\Dispersión-20220901.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\09. SEPTIEMBRE\\ARCHIVO DISPERSIONES\\Dispersión-20220902.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\09. SEPTIEMBRE\\ARCHIVO DISPERSIONES\\Dispersión-20220903.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\09. SEPTIEMBRE\\ARCHIVO DISPERSIONES\\Dispersión-20220904.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\09. SEPTIEMBRE\\ARCHIVO DISPERSIONES\\Dispersión-20220905.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\09. SEPTIEMBRE\\ARCHIVO DISPERSIONES\\Dispersión-20220906.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\09. SEPTIEMBRE\\ARCHIVO DISPERSIONES\\Dispersión-20220907.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\09. SEPTIEMBRE\\ARCHIVO DISPERSIONES\\Dispersión-20220908.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\09. SEPTIEMBRE\\ARCHIVO DISPERSIONES\\Dispersión-20220909.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\09. SEPTIEMBRE\\ARCHIVO DISPERSIONES\\Dispersión-20220910.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\09. SEPTIEMBRE\\ARCHIVO DISPERSIONES\\Dispersión-20220911.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\09. SEPTIEMBRE\\ARCHIVO DISPERSIONES\\Dispersión-20220912.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\09. SEPTIEMBRE\\ARCHIVO DISPERSIONES\\Dispersión-20220913.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\09. SEPTIEMBRE\\ARCHIVO DISPERSIONES\\Dispersión-20220914.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\09. SEPTIEMBRE\\ARCHIVO DISPERSIONES\\Dispersión-20220915.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\09. SEPTIEMBRE\\ARCHIVO DISPERSIONES\\Dispersión-20220916.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\09. SEPTIEMBRE\\ARCHIVO DISPERSIONES\\Dispersión-20220917.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\09. SEPTIEMBRE\\ARCHIVO DISPERSIONES\\Dispersión-20220918.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\09. SEPTIEMBRE\\ARCHIVO DISPERSIONES\\Dispersión-20220919.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\09. SEPTIEMBRE\\ARCHIVO DISPERSIONES\\Dispersión-20220920.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\09. SEPTIEMBRE\\ARCHIVO DISPERSIONES\\Dispersión-20220921.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\09. SEPTIEMBRE\\ARCHIVO DISPERSIONES\\Dispersión-20220922.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\09. SEPTIEMBRE\\ARCHIVO DISPERSIONES\\Dispersión-20220923.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\09. SEPTIEMBRE\\ARCHIVO DISPERSIONES\\Dispersión-20220924.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\09. SEPTIEMBRE\\ARCHIVO DISPERSIONES\\Dispersión-20220925.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\09. SEPTIEMBRE\\ARCHIVO DISPERSIONES\\Dispersión-20220926.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\09. SEPTIEMBRE\\ARCHIVO DISPERSIONES\\Dispersión-20220927.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\09. SEPTIEMBRE\\ARCHIVO DISPERSIONES\\Dispersión-20220928.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\09. SEPTIEMBRE\\ARCHIVO DISPERSIONES\\Dispersión-20220929.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\09. SEPTIEMBRE\\ARCHIVO DISPERSIONES\\Dispersión-20220930.xlsx']

In [8]:
pagos_1 = pd.concat([pd.read_excel(f,sheet_name='Swap del día').assign(file_name=os.path.basename(f)) for f in pagos_dia_files_1])
pagos_1['date_file'] = pagos_1["file_name"].str[-13:-5]
pagos_1['date_file']= pd.to_datetime(pagos_1['date_file'], format='%Y%m%d').dt.date
pagos_1['date_file']= pd.to_datetime(pagos_1['date_file'])
pagos_1.sort_values(by=['date_file'],ascending=True,inplace=True)
pagos_1['report_date_local']= pd.to_datetime(pagos_1['report_date_local']) 
pagos_1.head()

,type,merchant_id,merchant_name,user_email,report_id,report_date_local,total_due,tipo,bank,bank_account_owner_name,CLABE,status,LINEA CEP,Batch_time,Banco_emisor,file_name,date_file
0,DAILY,dcc38821-11da-428e-a5dc-50a1b26240f5,Taller estetica automotriz,kruztygarage@gmail.com,JNHJBGF66,2022-09-01,"38,329.60",Pago del día,BBVA BANCOMER,Jose Isaias Reyna Cosgalla,12180015650006506,ERROR,NaN,First_batch,SANTANDER,Dispersión-20220901.xlsx,2022-09-01
59315,DAILY,001efb79-23cf-450a-91a4-26286d49ca2a,Local 7,habita.uniformes@gmail.com,WCBSGNH7M,2022-09-01,33.54,Pago del día,BBVA BANCOMER,Daniela Vara,12691015599486718,PAID,"2022-09-01,2022090140014HDH0001497735760,40014...",First_batch,SANTANDER,Dispersión-20220901.xlsx,2022-09-01
59314,DAILY,001f23c8-938e-45e2-8d34-e13f34a65c43,El Bacano,yerli.santos23@gmail.com,LT8Q7L6SM,2022-09-01,435.37,Pago del día,BBVA BANCOMER,Yerli Carmensa Santos Bernal,12790015694265557,PAID,"2022-09-01,2022090140014HDH0001497735750,40014...",First_batch,SANTANDER,Dispersión-20220901.xlsx,2022-09-01
59313,DAILY,0021834c-e002-4efc-ba4c-ae7c656d5ffa,Asesores Especializados Laboratorio,as.direccion@hotmail.com,QDCWVXPXF,2022-09-01,"3,821.46",Pago del día,BBVA BANCOMER,ASESORES ESPECIALIZADOS EN LABORATORIOS SA DE CV,12650004493646761,PAID,"2022-09-01,2022090140014HDH0001497735770,40014...",First_batch,SANTANDER,Dispersión-20220901.xlsx,2022-09-01
59312,DAILY,003fb9f8-39c9-4ed5-87d7-b55c3ef7162f,Arreglalo Plaza Polanco,arreglaloplazapolanco@gmail.com,6X49CN5V4,2022-09-01,335.38,Pago del día,BBVA BANCOMER,Ana Belen Sanz Abbud,12180015507205829,PAID,"2022-09-01,2022090140014HDH0001497736160,40014...",First_batch,SANTANDER,Dispersión-20220901.xlsx,2022-09-01

In [9]:
pagos_1.shape

(2568881, 17)

In [10]:
pagos_1['report_date_local'].unique()

array(['2022-09-01T00:00:00.000000000', '2022-08-31T00:00:00.000000000',
       '2022-08-25T00:00:00.000000000', '2022-08-27T00:00:00.000000000',
       '2022-08-28T00:00:00.000000000', '2022-08-29T00:00:00.000000000',
       '2022-08-30T00:00:00.000000000', '2021-12-25T00:00:00.000000000',
       '2021-12-24T00:00:00.000000000', '2021-11-20T00:00:00.000000000',
       '2022-08-14T00:00:00.000000000', '2022-08-18T00:00:00.000000000',
       '2022-08-12T00:00:00.000000000', '2022-08-23T00:00:00.000000000',
       '2022-04-23T00:00:00.000000000', '2022-07-22T00:00:00.000000000',
       '2022-05-03T00:00:00.000000000', '2022-05-06T00:00:00.000000000',
       '2022-05-13T00:00:00.000000000', '2022-05-28T00:00:00.000000000',
       '2022-06-07T00:00:00.000000000', '2022-07-05T00:00:00.000000000',
       '2022-07-06T00:00:00.000000000', '2022-07-26T00:00:00.000000000',
       '2022-08-03T00:00:00.000000000', '2022-08-19T00:00:00.000000000',
       '2022-07-01T00:00:00.000000000', '2022-04-29T00:00:00.000000000',
       '2022-03-12T00:00:00.000000000', '2022-08-26T00:00:00.000000000',
       '2022-08-24T00:00:00.000000000', '2022-08-20T00:00:00.000000000',
       '2022-08-21T00:00:00.000000000', '2021-07-22T00:00:00.000000000',
       '2022-08-16T00:00:00.000000000', '2022-07-27T00:00:00.000000000',
       '2022-08-11T00:00:00.000000000', '2022-08-17T00:00:00.000000000',
       '2022-08-22T00:00:00.000000000', '2022-08-05T00:00:00.000000000',
       '2022-05-29T00:00:00.000000000', '2022-06-08T00:00:00.000000000',
       '2022-06-28T00:00:00.000000000', '2022-07-23T00:00:00.000000000',
       '2022-08-07T00:00:00.000000000', '2021-05-09T00:00:00.000000000',
       '2022-07-31T00:00:00.000000000', '2022-01-17T00:00:00.000000000',
       '2022-08-13T00:00:00.000000000', '2022-08-10T00:00:00.000000000',
       '2022-08-04T00:00:00.000000000', '2022-08-06T00:00:00.000000000',
       '2022-08-15T00:00:00.000000000', '2022-08-09T00:00:00.000000000',
       '2022-08-08T00:00:00.000000000', '2022-08-02T00:00:00.000000000',
       '2022-07-29T00:00:00.000000000', '2022-07-24T00:00:00.000000000',
       '2022-07-25T00:00:00.000000000', '2022-07-28T00:00:00.000000000',
       '2022-07-30T00:00:00.000000000', '2022-08-01T00:00:00.000000000',
       '2022-05-24T00:00:00.000000000', '2022-02-05T00:00:00.000000000',
       '2022-07-09T00:00:00.000000000', '2022-02-13T00:00:00.000000000',
       '2022-02-22T00:00:00.000000000', '2022-02-27T00:00:00.000000000',
       '2022-03-06T00:00:00.000000000', '2022-03-15T00:00:00.000000000',
       '2022-03-28T00:00:00.000000000', '2022-06-03T00:00:00.000000000',
       '2022-07-15T00:00:00.000000000', '2022-07-18T00:00:00.000000000',
       '2021-11-06T00:00:00.000000000', '2022-06-16T00:00:00.000000000',
       '2022-06-30T00:00:00.000000000', '2022-06-11T00:00:00.000000000',
       '2022-01-04T00:00:00.000000000', '2022-07-08T00:00:00.000000000',
       '2022-07-07T00:00:00.000000000', '2022-04-28T00:00:00.000000000',
       '2022-07-16T00:00:00.000000000', '2022-07-17T00:00:00.000000000',
       '2022-07-19T00:00:00.000000000', '2022-06-24T00:00:00.000000000',
       '2022-05-12T00:00:00.000000000', '2022-09-02T00:00:00.000000000',
       '2022-07-03T00:00:00.000000000', '2021-12-29T00:00:00.000000000',
       '2022-04-30T00:00:00.000000000', '2022-03-27T00:00:00.000000000',
       '2022-04-07T00:00:00.000000000', '2022-07-21T00:00:00.000000000',
       '2022-07-10T00:00:00.000000000', '2022-06-17T00:00:00.000000000',
       '2022-06-09T00:00:00.000000000', '2022-04-08T00:00:00.000000000',
       '2022-05-14T00:00:00.000000000', '2022-04-21T00:00:00.000000000',
       '2022-04-26T00:00:00.000000000', '2022-05-01T00:00:00.000000000',
       '2022-05-02T00:00:00.000000000', '2022-05-07T00:00:00.000000000',
       '2022-05-08T00:00:00.000000000', '2022-05-09T00:00:00.000000000',
       '2022-05-16T00:00:00.000000000', '2022-07-12T00:00:00.000000000',
       '2022-05-17T00:00:00.000000000', '2022-05-22T00:00:00.000000000',
       '2022-05-23T00:00:00.000000000', '2022-05-25T00:00:00.000000000',
       '2022-05-27T00:00:00.000000000', '2022-03-07T00:00:00.000000000',
       '2021-10-30T00:00:00.000000000', '2022-05-18T00:00:00.000000000',
       '2022-05-19T00:00:00.000000000', '2022-07-14T00:00:00.000000000',
       '2022-07-20T00:00:00.000000000', '2022-05-10T00:00:00.000000000',
       '2022-05-11T00:00:00.000000000', '2022-05-15T00:00:00.000000000',
       '2021-09-07T00:00:00.000000000', '2021-04-30T00:00:00.000000000',
       '2021-01-09T00:00:00.000000000', '2020-11-16T00:00:00.000000000',
       '2021-02-21T00:00:00.000000000', '2021-11-30T00:00:00.000000000',
       '2021-12-02T00:00:00.000000000', '2022-03-02T00:00:00.000000000',
       '2022-06-25T00:00:00.000000000', '2021-01-27T00:00:00.000000000',
       '2022-09-03T00:00:00.000000000', '2021-02-27T00:00:00.000000000',
       '2022-01-27T00:00:00.000000000', '2022-05-31T00:00:00.000000000',
       '2022-06-29T00:00:00.000000000', '2022-02-16T00:00:00.000000000',
       '2021-08-28T00:00:00.000000000', '2021-08-29T00:00:00.000000000',
       '2021-12-23T00:00:00.000000000', '2022-06-04T00:00:00.000000000',
       '2022-07-13T00:00:00.000000000', '2022-04-18T00:00:00.000000000',
       '2022-06-06T00:00:00.000000000', '2022-06-12T00:00:00.000000000',
       '2021-11-29T00:00:00.000000000', '2021-11-28T00:00:00.000000000',
       '2021-09-26T00:00:00.000000000', '2021-09-27T00:00:00.000000000',
       '2022-06-15T00:00:00.000000000', '2022-03-30T00:00:00.000000000',
       '2022-04-24T00:00:00.000000000', '2022-09-04T00:00:00.000000000',
       '2022-02-04T00:00:00.000000000', '2022-01-25T00:00:00.000000000',
       '2022-04-03T00:00:00.000000000', '2022-02-18T00:00:00.000000000',
       '2022-02-21T00:00:00.000000000', '2022-05-05T00:00:00.000000000',
       '2022-02-15T00:00:00.000000000', '2022-02-11T00:00:00.000000000',
       '2020-08-15T00:00:00.000000000', '2022-03-26T00:00:00.000000000',
       '2021-02-15T00:00:00.000000000', '2021-02-16T00:00:00.000000000',
       '2021-02-23T00:00:00.000000000', '2021-02-07T00:00:00.000000000',
       '2021-02-09T00:00:00.000000000', '2021-12-07T00:00:00.000000000',
       '2022-01-03T00:00:00.000000000', '2021-11-23T00:00:00.000000000',
       '2021-11-22T00:00:00.000000000', '2021-08-04T00:00:00.000000000',
       '2021-07-05T00:00:00.000000000', '2021-04-12T00:00:00.000000000',
       '2021-08-09T00:00:00.000000000', '2021-04-27T00:00:00.000000000',
       '2021-05-04T00:00:00.000000000', '2021-05-10T00:00:00.000000000',
       '2021-05-11T00:00:00.000000000', '2021-05-17T00:00:00.000000000',
       '2021-05-18T00:00:00.000000000', '2021-06-08T00:00:00.000000000',
       '2021-07-13T00:00:00.000000000', '2021-07-18T00:00:00.000000000',
       '2021-05-03T00:00:00.000000000', '2021-03-08T00:00:00.000000000',
       '2022-01-29T00:00:00.000000000', '2022-09-05T00:00:00.000000000',
       '2022-06-18T00:00:00.000000000', '2022-06-14T00:00:00.000000000',
       '2021-12-20T00:00:00.000000000', '2021-04-15T00:00:00.000000000',
       '2021-04-16T00:00:00.000000000', '2022-04-06T00:00:00.000000000',
       '2021-10-01T00:00:00.000000000', '2021-10-06T00:00:00.000000000',
       '2021-10-15T00:00:00.000000000', '2021-10-19T00:00:00.000000000',
       '2022-03-31T00:00:00.000000000', '2022-09-06T00:00:00.000000000',
       '2022-03-24T00:00:00.000000000', '2021-11-17T00:00:00.000000000',
       '2022-06-13T00:00:00.000000000', '2022-06-05T00:00:00.000000000',
       '2021-11-02T00:00:00.000000000', '2022-04-13T00:00:00.000000000',
       '2022-04-14T00:00:00.000000000', '2022-04-15T00:00:00.000000000',
       '2022-04-16T00:00:00.000000000', '2022-04-17T00:00:00.000000000',
       '2022-04-19T00:00:00.000000000', '2022-06-20T00:00:00.000000000',
       '2022-05-04T00:00:00.000000000', '2022-04-22T00:00:00.000000000',
       '2022-04-20T00:00:00.000000000', '2022-06-10T00:00:00.000000000',
       '2022-06-02T00:00:00.000000000', '2022-05-26T00:00:00.000000000',
       '2022-05-30T00:00:00.000000000', '2022-05-21T00:00:00.000000000',
       '2022-06-19T00:00:00.000000000', '2022-06-01T00:00:00.000000000',
       '2022-05-20T00:00:00.000000000', '2022-07-04T00:00:00.000000000',
       '2022-07-02T00:00:00.000000000', '2022-07-11T00:00:00.000000000',
       '2022-06-26T00:00:00.000000000', '2022-06-27T00:00:00.000000000',
       '2022-06-23T00:00:00.000000000', '2022-06-21T00:00:00.000000000',
       '2022-04-25T00:00:00.000000000', '2022-04-27T00:00:00.000000000',
       '2022-06-22T00:00:00.000000000', '2021-10-03T00:00:00.000000000',
       '2021-09-25T00:00:00.000000000', '2019-08-08T00:00:00.000000000',
       '2019-08-05T00:00:00.000000000', '2019-08-06T00:00:00.000000000',
       '2019-08-07T00:00:00.000000000', '2019-08-12T00:00:00.000000000',
       '2019-08-14T00:00:00.000000000', '2019-08-09T00:00:00.000000000',
       '2019-08-15T00:00:00.000000000', '2019-08-16T00:00:00.000000000',
       '2022-09-07T00:00:00.000000000', '2021-11-10T00:00:00.000000000',
       '2021-12-21T00:00:00.000000000', '2022-02-26T00:00:00.000000000',
       '2020-09-16T00:00:00.000000000', '2020-09-20T00:00:00.000000000',
       '2020-10-04T00:00:00.000000000', '2020-11-15T00:00:00.000000000',
       '2022-04-11T00:00:00.000000000', '2022-03-17T00:00:00.000000000',
       '2022-03-16T00:00:00.000000000', '2022-03-04T00:00:00.000000000',
       '2022-09-08T00:00:00.000000000', '2022-01-20T00:00:00.000000000',
       '2022-02-23T00:00:00.000000000', '2022-03-01T00:00:00.000000000',
       '2021-09-29T00:00:00.000000000', '2021-10-28T00:00:00.000000000',
       '2021-11-03T00:00:00.000000000', '2022-04-01T00:00:00.000000000',
       '2021-10-26T00:00:00.000000000', '2021-12-05T00:00:00.000000000',
       '2021-12-06T00:00:00.000000000', '2021-12-08T00:00:00.000000000',
       '2021-12-13T00:00:00.000000000', '2021-12-19T00:00:00.000000000',
       '2022-01-07T00:00:00.000000000', '2022-01-11T00:00:00.000000000',
       '2022-01-14T00:00:00.000000000', '2022-03-08T00:00:00.000000000',
       '2022-03-19T00:00:00.000000000', '2021-12-14T00:00:00.000000000',
       '2022-02-24T00:00:00.000000000', '2022-03-25T00:00:00.000000000',
       '2022-09-09T00:00:00.000000000', '2021-04-17T00:00:00.000000000',
       '2021-04-18T00:00:00.000000000', '2021-11-27T00:00:00.000000000',
       '2021-11-09T00:00:00.000000000', '2021-09-30T00:00:00.000000000',
       '2022-03-13T00:00:00.000000000', '2022-09-10T00:00:00.000000000',
       '2022-02-08T00:00:00.000000000', '2022-03-23T00:00:00.000000000',
       '2022-09-11T00:00:00.000000000', '2020-12-17T00:00:00.000000000',
       '2022-02-17T00:00:00.000000000', '2021-02-26T00:00:00.000000000',
       '2020-12-12T00:00:00.000000000', '2020-12-20T00:00:00.000000000',
       '2020-12-23T00:00:00.000000000', '2021-01-06T00:00:00.000000000',
       '2021-03-16T00:00:00.000000000', '2021-03-20T00:00:00.000000000',
       '2021-04-03T00:00:00.000000000', '2021-04-06T00:00:00.000000000',
       '2021-04-07T00:00:00.000000000', '2021-04-22T00:00:00.000000000',
       '2021-05-19T00:00:00.000000000', '2021-10-07T00:00:00.000000000',
       '2021-12-09T00:00:00.000000000', '2021-12-28T00:00:00.000000000',
       '2018-07-24T00:00:00.000000000', '2022-09-12T00:00:00.000000000',
       '2021-11-19T00:00:00.000000000', '2021-11-21T00:00:00.000000000',
       '2022-09-13T00:00:00.000000000', '2020-07-04T00:00:00.000000000',
       '2020-07-05T00:00:00.000000000', '2020-07-13T00:00:00.000000000',
       '2021-12-18T00:00:00.000000000', '2021-02-08T00:00:00.000000000',
       '2020-07-24T00:00:00.000000000', '2022-01-24T00:00:00.000000000',
       '2021-02-20T00:00:00.000000000', '2021-02-22T00:00:00.000000000',
       '2022-03-05T00:00:00.000000000', '2022-04-10T00:00:00.000000000',
       '2022-04-12T00:00:00.000000000', '2022-03-29T00:00:00.000000000',
       '2022-09-14T00:00:00.000000000', '2022-03-18T00:00:00.000000000',
       '2021-10-08T00:00:00.000000000', '2022-01-01T00:00:00.000000000',
       '2021-09-10T00:00:00.000000000', '2021-09-13T00:00:00.000000000',
       '2021-11-26T00:00:00.000000000', '2022-01-16T00:00:00.000000000',
       '2022-01-23T00:00:00.000000000', '2022-02-06T00:00:00.000000000',
       '2022-02-07T00:00:00.000000000', '2022-02-25T00:00:00.000000000',
       '2022-04-09T00:00:00.000000000', '2022-01-21T00:00:00.000000000',
       '2022-03-10T00:00:00.000000000', '2022-02-20T00:00:00.000000000',
       '2022-03-03T00:00:00.000000000', '2022-02-02T00:00:00.000000000',
       '2022-01-28T00:00:00.000000000', '2022-02-09T00:00:00.000000000',
       '2022-02-01T00:00:00.000000000', '2022-09-15T00:00:00.000000000',
       '2021-10-22T00:00:00.000000000', '2021-11-12T00:00:00.000000000',
       '2021-09-12T00:00:00.000000000', '2022-03-11T00:00:00.000000000',
       '2021-06-29T00:00:00.000000000', '2021-10-02T00:00:00.000000000',
       '2022-02-14T00:00:00.000000000', '2022-09-16T00:00:00.000000000',
       '2022-04-05T00:00:00.000000000', '2022-09-17T00:00:00.000000000',
       '2022-09-18T00:00:00.000000000', '2021-09-18T00:00:00.000000000',
       '2021-09-19T00:00:00.000000000', '2021-10-04T00:00:00.000000000',
       '2021-10-12T00:00:00.000000000', '2021-10-14T00:00:00.000000000',
       '2021-10-18T00:00:00.000000000', '2021-10-21T00:00:00.000000000',
       '2021-10-25T00:00:00.000000000', '2021-10-29T00:00:00.000000000',
       '2021-11-08T00:00:00.000000000', '2021-11-13T00:00:00.000000000',
       '2021-11-07T00:00:00.000000000', '2021-09-11T00:00:00.000000000',
       '2021-12-04T00:00:00.000000000', '2021-12-11T00:00:00.000000000',
       '2022-01-08T00:00:00.000000000', '2022-01-15T00:00:00.000000000',
       '2022-03-14T00:00:00.000000000', '2021-12-26T00:00:00.000000000',
       '2021-12-17T00:00:00.000000000', '2022-09-19T00:00:00.000000000',
       '2021-10-20T00:00:00.000000000', '2022-09-20T00:00:00.000000000',
       '2022-01-26T00:00:00.000000000', '2022-01-19T00:00:00.000000000',
       '2021-12-10T00:00:00.000000000', '2021-12-03T00:00:00.000000000',
       '2021-11-18T00:00:00.000000000', '2021-11-14T00:00:00.000000000',
       '2021-10-24T00:00:00.000000000', '2022-02-03T00:00:00.000000000',
       '2022-02-19T00:00:00.000000000', '2022-09-21T00:00:00.000000000',
       '2022-09-22T00:00:00.000000000', '2022-09-23T00:00:00.000000000',
       '2021-12-12T00:00:00.000000000', '2021-12-30T00:00:00.000000000',
       '2021-10-17T00:00:00.000000000', '2020-11-07T00:00:00.000000000',
       '2020-11-10T00:00:00.000000000', '2021-09-14T00:00:00.000000000',
       '2019-05-22T00:00:00.000000000', '2022-01-22T00:00:00.000000000',
       '2021-11-24T00:00:00.000000000', '2021-12-22T00:00:00.000000000',
       '2022-09-24T00:00:00.000000000', '2022-04-04T00:00:00.000000000',
       '2022-01-12T00:00:00.000000000', '2022-09-25T00:00:00.000000000',
       '2022-01-02T00:00:00.000000000', '2021-01-20T00:00:00.000000000',
       '2019-04-26T00:00:00.000000000', '2019-06-20T00:00:00.000000000',
       '2022-01-09T00:00:00.000000000', '2022-02-12T00:00:00.000000000',
       '2020-02-13T00:00:00.000000000', '2021-01-31T00:00:00.000000000',
       '2022-09-26T00:00:00.000000000', '2022-03-21T00:00:00.000000000',
       '2022-03-22T00:00:00.000000000', '2022-04-02T00:00:00.000000000',
       '2021-07-23T00:00:00.000000000', '2022-09-27T00:00:00.000000000',
       '2020-12-28T00:00:00.000000000', '2022-09-28T00:00:00.000000000',
       '2022-09-29T00:00:00.000000000', '2021-10-09T00:00:00.000000000',
       '2021-09-23T00:00:00.000000000', '2021-10-27T00:00:00.000000000',
       '2021-11-05T00:00:00.000000000', '2021-12-16T00:00:00.000000000',
       '2022-02-28T00:00:00.000000000', '2021-11-15T00:00:00.000000000',
       '2021-09-08T00:00:00.000000000', '2022-01-06T00:00:00.000000000',
       '2022-09-30T00:00:00.000000000', '2021-07-30T00:00:00.000000000',
       '2022-03-20T00:00:00.000000000', '2019-12-30T00:00:00.000000000',
       '2021-12-01T00:00:00.000000000', '2022-01-05T00:00:00.000000000'],
      dtype='datetime64[ns]')

#### PAGOS DUPLICADOS TRADICIONAL

In [22]:
duplicates_trad = pagos_1[pagos_1.duplicated(['report_id','date_file'] , keep=False)]
duplicates_trad.sort_values(by=['date_file','report_id'],inplace=True)
duplicates_trad.head()

C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_2040\189612330.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  duplicates_trad.sort_values(by=['date_file','report_id'],inplace=True)

,type,merchant_id,merchant_name,user_email,report_id,report_date_local,total_due,tipo,bank,bank_account_owner_name,CLABE,status,LINEA CEP,Batch_time,Banco_emisor,file_name,date_file
70438,DAILY,6e8912a2-3105-43e6-aace-ca28d58b30a2,La Esquinita,marvi0116@gmail.com,2JJJYTNTC,2022-09-02,150.77,Pago del día,COMPARTAMOS,Ana Maria Cisneros Tellez,130308001676200423,PAID,"2022-09-02,2022090240014HDH0001431756630,40014...",First_batch,SANTANDER,Dispersión-20220902.xlsx,2022-09-02
30630,DAILY,6e8912a2-3105-43e6-aace-ca28d58b30a2,La Esquinita,marvi0116@gmail.com,2JJJYTNTC,2022-09-02,150.77,Pago del día,COMPARTAMOS,Ana Maria Cisneros Tellez,130308001676200423,PAID,"2022-09-02,2022090240014HDH0001431756630,40072...",Second_batch,BANORTE,Dispersión-20220902.xlsx,2022-09-02
1142,DAILY,aa465a55-34d5-41f0-98e9-af9cbf1ba34f,Minisuper garbel,lh857656@gmail.com,8F5YKSVY8,2022-08-28,"7,132.14",Reprogramación,BBVA BANCOMER,Luis Raul,12180015274170504,PAID,"2022-09-02,2022090240014HDH0001430748810,40014...",First_batch,SANTANDER,Dispersión-20220902.xlsx,2022-09-02
30639,DAILY,aa465a55-34d5-41f0-98e9-af9cbf1ba34f,Minisuper garbel,lh857656@gmail.com,8F5YKSVY8,2022-08-28,"7,132.14",Reprogramación,BBVA BANCOMER,Luis Raul,12180015274170504,PAID,"2022-09-02,2022090240014HDH0001430748810,40072...",Second_batch,BANORTE,Dispersión-20220902.xlsx,2022-09-02
58745,DAILY,f63f38d3-a5e0-47fe-9b34-c05fff32af1c,Grupo Marea,grupo.marea1@gmail.com,JYBM4X5CR,2022-09-05,"7,347.73",Pago del día,BANREGIO,Daniel Alonso Burgos Salazar,58597000014512667,PAID,"2022-09-05,2022090540014HDH0001471793190,40072...",Second_batch,BANORTE,Dispersión-20220905.xlsx,2022-09-05

In [23]:
duplicates_trad.shape

(400, 17)

In [24]:
duplicates_trad['status'].unique()

array(['PAID', 'ERROR'], dtype=object)

In [13]:
duplicates_trad.drop_duplicates(subset="report_id", keep='last', inplace=True)

C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_2040\1645077070.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  duplicates_trad.drop_duplicates(subset="report_id", keep='last', inplace=True)

In [14]:
duplicates_trad.head()

,type,merchant_id,merchant_name,user_email,report_id,report_date_local,total_due,tipo,bank,bank_account_owner_name,CLABE,status,LINEA CEP,Batch_time,Banco_emisor,file_name,date_file
30630,DAILY,6e8912a2-3105-43e6-aace-ca28d58b30a2,La Esquinita,marvi0116@gmail.com,2JJJYTNTC,2022-09-02,150.77,Pago del día,COMPARTAMOS,Ana Maria Cisneros Tellez,130308001676200423,PAID,"2022-09-02,2022090240014HDH0001431756630,40072...",Second_batch,BANORTE,Dispersión-20220902.xlsx,2022-09-02
30639,DAILY,aa465a55-34d5-41f0-98e9-af9cbf1ba34f,Minisuper garbel,lh857656@gmail.com,8F5YKSVY8,2022-08-28,"7,132.14",Reprogramación,BBVA BANCOMER,Luis Raul,12180015274170504,PAID,"2022-09-02,2022090240014HDH0001430748810,40072...",Second_batch,BANORTE,Dispersión-20220902.xlsx,2022-09-02
25531,DAILY,f63f38d3-a5e0-47fe-9b34-c05fff32af1c,Grupo Marea,grupo.marea1@gmail.com,JYBM4X5CR,2022-09-05,"7,347.73",Pago del día,BANREGIO,Daniel Alonso Burgos Salazar,58597000014512667,PAID,"2022-09-05,2022090540014HDH0001471793190,40014...",First_batch,SANTANDER,Dispersión-20220905.xlsx,2022-09-05
34614,DAILY,f3e30e6f-fd29-4c7f-abea-fe3633dcbef4,Comercializadora Castillo,ricardoacv.mrc@hotmail.com,3DGSZCVQ9,2022-09-15,19.16,Pago del día,COMPARTAMOS,Ricardo Antonio Castillo Villanueva,130580001620605009,PAID,"2022-09-15,nan,40014,40130,130580001620605009,...",First_batch,SANTANDER,Dispersión-20220915.xlsx,2022-09-15
19374,DAILY,9f8a3d4f-2909-4764-8561-a1a62d611fa7,Racomsa,racomsa_sh@hotmail.com,BXB5288P4,2022-09-15,150.92,Pago del día,COMPARTAMOS,ARTURO ANCIRA MONTEMAYOR,130580001572259338,PAID,"2022-09-15,nan,40014,40130,130580001572259338,...",First_batch,SANTANDER,Dispersión-20220915.xlsx,2022-09-15

In [15]:
duplicates_trad.shape

(160, 17)

In [18]:
pivot_duplicates_trad = pd.pivot_table(duplicates_trad,index=['tipo','date_file'],
                                  values=['total_due']
                                  ,aggfunc = ['sum', len],margins=True)
pivot_duplicates_trad.reset_index(drop=False, inplace=True)
pivot_duplicates_trad.head(10)

C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_2040\739626261.py:1: FutureWarning: Inferring datetime64[ns] from data containing strings is deprecated and will be removed in a future version. To retain the old behavior explicitly pass Series(data, dtype=datetime64[ns])
  pivot_duplicates_trad = pd.pivot_table(duplicates_trad,index=['tipo','date_file'],
C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_2040\739626261.py:1: FutureWarning: Inferring datetime64[ns] from data containing strings is deprecated and will be removed in a future version. To retain the old behavior explicitly pass Series(data, dtype=datetime64[ns])
  pivot_duplicates_trad = pd.pivot_table(duplicates_trad,index=['tipo','date_file'],

           tipo  date_file        sum       len
                            total_due total_due
0  Pago del día 2022-09-02     150.77         1
1  Pago del día 2022-09-05   7,347.73         1
2  Pago del día 2022-09-15     170.08         2
3  Pago del día 2022-09-16   6,791.18         3
4  Pago del día 2022-09-23   6,241.02         1
5  Pago del día 2022-09-26   2,012.30         1
6  Pago del día 2022-09-27   2,074.30         2
7  Pago del día 2022-09-28  14,753.16         1
8  Pago del día 2022-09-29 114,551.16        41
9  Pago del día 2022-09-30  84,513.99        51

In [17]:
pivot_duplicates_trad.shape

(16, 4)

#### FAST PAYMENTS

In [ ]:
fp_files_1 = glob.glob(r'C:\Users\Cristian.Aparicio\Documents\FAST PAYMENTS\2022\09. SEPTIEMBRE\ARCHIVO DISPERSIONES FP\Dispersión-FP*.xlsx', recursive=False)
fp_files_1

In [ ]:
pagos_2 = pd.concat([pd.read_excel(f,sheet_name='FAST PAYMENTS').assign(file_name=os.path.basename(f)) for f in fp_files_1])
pagos_2['date_file'] = pagos_2["file_name"].str[-15:-4]
pagos_2['date_file']= pd.to_datetime(pagos_2['date_file']) 
pagos_2.sort_values(by=['date_file'],ascending=True,inplace=True)
pagos_2['report_date_local']= pd.to_datetime(pagos_2['report_date_local']) 
pagos_2.head()

In [ ]:
pagos_2.shape

#### PAGOS REPETIDOS FAST PAYMENTS

In [ ]:
duplicates_fp = pagos_2[pagos_2.duplicated(['report_id','date_file'] , keep=False)]
duplicates_fp.sort_values(by=['date_file','report_id','Time'],inplace=True)
duplicates_fp.head()

In [ ]:
duplicates_fp.shape

In [ ]:
duplicates_fp.drop_duplicates(subset="report_id", keep='last', inplace=True)

In [ ]:
duplicates_fp.head()

In [ ]:
duplicates_fp.shape

In [ ]:
pivot_duplicates_fp = pd.pivot_table(duplicates_fp,index=['tipo','date_file'],
                                  values=['total_due']
                                  ,aggfunc = ['sum', len],margins=True)
pivot_duplicates_fp.reset_index(drop=False, inplace=True)
pivot_duplicates_fp.head()

In [ ]:
pivot_duplicates_fp.shape

In [ ]:
# pivot_duplicates_fp.to_excel('DUPLICADOS FP JUNIO 2021.xlsx',index=True)

#### ALL PAGOS

In [ ]:
allpagos = pd.concat([pagos_1,pagos_2])
allpagos.head()

In [ ]:
allpagos.shape

In [ ]:
allpagos['tipo'].unique()

In [ ]:
group_allpagos = allpagos.groupby(['date_file']).agg({'total_due':sum,'report_id':'count'}).reset_index()
group_allpagos.head()

In [ ]:
group_allpagos.shape

#### PAGOS DEL DIA

In [ ]:
pagosdia = allpagos[(allpagos['tipo'].isin(['Pago del día']))]
pagosdia.head()

In [ ]:
pagosdia.shape

In [ ]:
group_dia = pagosdia.groupby(['date_file']).agg({'total_due':sum,'report_id':'count'}).reset_index()
group_dia.head()

In [ ]:
group_dia.shape

# PRIMER MATCH (SETTLED VS PAGOS DEL DIA)

In [ ]:
check_1 = cum_1.merge(pagosdia[['report_id','total_due','tipo','file_name']] ,on='report_id', how='left')
check_1['total_due_y'].fillna('NO ENCONTRADO')
check_1['tipo'].fillna('NO ENCONTRADO',inplace=True)
check_1['file_name_y'].fillna('NO ENCONTRADO',inplace=True)
# check_1.fillna({'total_due_y':'NO ENCONTRADO', 'tipo':'NO ENCONTRADO', 'file_name_y':'NO ENCONTRADO'}, inplace=True)
check_1.head()

In [ ]:
check_1['file_name_y'].unique()

In [ ]:
not_found_1 = check_1[((check_1['file_name_y'].isnull()) | (check_1['file_name_y'].isin(['NO ENCONTRADO'])))
                        & (check_1['total_due_x'] != 0)]
not_found_1.head()

In [ ]:
not_found_1.shape

In [ ]:
group_notfound = not_found_1.groupby(['report_date_local']).agg({'total_due_x':sum,'report_id':'count'}).reset_index()
group_notfound.rename(columns={'report_date_local':'date_file'},inplace=True)
group_notfound.head()

In [ ]:
group_notfound.shape

#### REPROGRAMACIONES

In [ ]:
repro = allpagos[(allpagos['tipo'].isin(['Reprogramación']))]
repro.head()

In [ ]:
repro.shape

In [ ]:
group_repro = repro.groupby(['date_file']).agg({'total_due':sum,'report_id':'count'}).reset_index()
group_repro.head()

In [ ]:
group_repro.shape

# SEGUNDO MATCH (IDENTIFICACION DE REPROGRAMACIONES)

In [ ]:
check_2 = not_found_1.merge(repro[['report_id','total_due','tipo','file_name']] ,on='report_id', how='left')
check_2.head()

In [ ]:
check_2.shape

In [ ]:
# writer = pd.ExcelWriter('REPROGRAMACIONES JUNIO 2021.xlsx', engine='xlsxwriter', options={'encoding':'utf-8'})
# check_2.to_excel(writer, sheet_name='DETAIL REPROGRAMACIONES',index=False)
# writer.save()
# writer.close()

# FECHA DE PAGOS (SETTLED VS PAGOS DEL DIA)

In [ ]:
fecha_pago = not_found_1.merge(repro[['report_id','date_file','tipo','status','file_name']] ,on='report_id', how='left')
fecha_pago.sort_values(by=['date_file'],ascending=True,inplace=True)
fecha_pago.head()

In [ ]:
fecha_pago.shape

In [ ]:
fecha_pago.drop_duplicates(subset ='report_id',keep='first',inplace=True)

In [ ]:
fecha_pago.head()

In [ ]:
fecha_pago.shape

### AGRUPADO POR DÍA

In [ ]:
pivot_fecha_pago = pd.pivot_table(fecha_pago,index=['report_date_local'],
                                  values=['total_due_x'],aggfunc = ['sum', len],margins=True)
pivot_fecha_pago.head()

In [ ]:
pivot_fecha_pago.shape

# PAGOS MANUALES

In [ ]:
file_manual = glob.glob(r'G:\.shortcut-targets-by-id\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\3.-Settlement\5.-HISTORICO FILES PAGOS\01. TRADICIONAL\2022\09. SEPTEMBER\MANUALES\*.xlsx', recursive=False)
file_manual

In [ ]:
manuales_all = pd.concat([pd.read_excel(f,sheet_name='Formato Pago Manual',skiprows=1
                                      ,converters={'Cta. CLABE de depósito':str,'report_id':str})
                          .assign(file_name=os.path.basename(f)) for f in file_manual])
manuales_all['Date']= pd.to_datetime(manuales_all['Date'])  
manuales_all['Tipo'] = 'MANUAL'

In [ ]:
manuales_final = manuales_all[['Date','ME ID','ME NAME',' (mxn)','Banco','Justificación para el pago','Tipo','Report ID']]
manuales_final.head()

In [ ]:
manuales_final.shape

In [ ]:
manuales_final.columns

In [ ]:
group_manual = manuales_final.groupby(['Date']).agg({' (mxn)':sum,'Report ID':'count'}).reset_index()
group_manual.rename(columns={'Date':'date_file','Report ID':'report_id'},inplace=True)
group_manual.head()

In [ ]:
group_manual.shape

# ACUMULADOS SETTLEMENT

In [ ]:
conc_disp = cum_distinct_0.groupby(['report_date_local']).agg({'total_due':sum,'report_id':'count'}).reset_index()
conc_disp.rename(columns={'report_date_local':'date_file'}, inplace=True)
conc_disp.head()

In [ ]:
conc_disp.shape

# MERGING ALL DATA FRAMES

In [ ]:
total_1 = conc_disp.merge(group_repro[['date_file','total_due','report_id']],on='date_file',how='left') \
.merge(group_manual,on='date_file',how='left')
total_1[' (mxn)'].fillna(0,inplace=True)
total_1['report_id'].fillna(0,inplace=True)
total_1.head()

In [ ]:
total_1['count_total_pago_dia'] = total_1['report_id_x'] + total_1['report_id_y'] + total_1['report_id']
total_1['sum_total_pago_dia'] = total_1['total_due_x'] + total_1['total_due_y'] + total_1[' (mxn)']

In [ ]:
total_1

# ACUMULADOS PAGO DEL DIA

In [ ]:
total_2 = group_allpagos.merge(group_notfound[['date_file','total_due_x','report_id']],on='date_file',how='left')\
.merge(group_manual,on='date_file',how='left')
total_2[' (mxn)'].fillna(0,inplace=True)
total_2['report_id'].fillna(0,inplace=True)
total_2['total_due_x'].fillna(0,inplace=True)
total_2['report_id_y'].fillna(0,inplace=True)
total_2.head()

In [ ]:
total_2['count_swap_dia'] = total_2['report_id_x'] + total_2['report_id_y'] + total_2['report_id']
total_2['sum_swap_dia'] = total_2['total_due'] + total_2['total_due_x'] + total_2[' (mxn)']

In [ ]:
total_2.head()

In [ ]:
total_2.shape

# COMPARACION FINAL

In [ ]:
final_comparacion = total_1[['date_file','count_total_pago_dia','sum_total_pago_dia']] \
.merge(total_2[['date_file','count_swap_dia','sum_swap_dia']],on='date_file',how='left')
final_comparacion.head()

In [ ]:
final_comparacion['diff_count'] = final_comparacion['count_total_pago_dia'] - final_comparacion['count_swap_dia']
final_comparacion['diff_sum'] = final_comparacion['sum_total_pago_dia'] - final_comparacion['sum_swap_dia']

In [ ]:
final_comparacion

In [ ]:
writer = pd.ExcelWriter('FASE III. SETTLED VS PAGO DIA SEPTIEMBRE 2022.xlsx',
                        engine='xlsxwriter',
                        engine_kwargs={'options': {'encoding':'utf-8'}})
pivot_fecha_pago.to_excel(writer, sheet_name='ENVIADOS POSTERIOR')
fecha_pago.to_excel(writer, sheet_name='DETAIL NO ENCONTRADO',index=False)
pivot_duplicates_trad.to_excel(writer, sheet_name='PAGOS DUPLICADOS')
pivot_duplicates_fp.to_excel(writer, sheet_name='FP PAGOS DUPLICADOS')
group_manual.to_excel(writer, sheet_name='PAGOS MANUALES')
writer.close()