In [1]:
import pandas as pd
import numpy as np
import glob
import os
from openpyxl import load_workbook
from functools import reduce
pd.options.display.float_format = '{:,.2f}'.format

#### ACUMULADO

In [2]:
cumfiles = glob.glob(r'C:\Users\Cristian.Aparicio\Documents\DISPERSIONES\2023\10. OCTUBRE\QUERIES\*.csv', recursive=False)
cumfiles

['C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\10. OCTUBRE\\QUERIES\\SETTLEMENT 2023-10-01.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\10. OCTUBRE\\QUERIES\\SETTLEMENT 2023-10-02.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\10. OCTUBRE\\QUERIES\\SETTLEMENT 2023-10-03.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\10. OCTUBRE\\QUERIES\\SETTLEMENT 2023-10-04.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\10. OCTUBRE\\QUERIES\\SETTLEMENT 2023-10-05.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\10. OCTUBRE\\QUERIES\\SETTLEMENT 2023-10-06.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\10. OCTUBRE\\QUERIES\\SETTLEMENT 2023-10-07.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\10. OCTUBRE\\QUERIES\\SETTLEMENT 2023-10-08.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\10. OCTUBRE\\QUERIES\\SETTLEMENT 2023-10-09.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\10. OCTUBRE\\QUERIES\\SETTLEMENT 2023-10-10.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\10. OCTUBRE\\QUERIES\\SETTLEMENT 2023-10-11.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\10. OCTUBRE\\QUERIES\\SETTLEMENT 2023-10-12.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\10. OCTUBRE\\QUERIES\\SETTLEMENT 2023-10-13.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\10. OCTUBRE\\QUERIES\\SETTLEMENT 2023-10-14.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\10. OCTUBRE\\QUERIES\\SETTLEMENT 2023-10-15.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\10. OCTUBRE\\QUERIES\\SETTLEMENT 2023-10-16.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\10. OCTUBRE\\QUERIES\\SETTLEMENT 2023-10-17.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\10. OCTUBRE\\QUERIES\\SETTLEMENT 2023-10-18.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\10. OCTUBRE\\QUERIES\\SETTLEMENT 2023-10-19.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\10. OCTUBRE\\QUERIES\\SETTLEMENT 2023-10-20.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\10. OCTUBRE\\QUERIES\\SETTLEMENT 2023-10-21.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\10. OCTUBRE\\QUERIES\\SETTLEMENT 2023-10-22.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\10. OCTUBRE\\QUERIES\\SETTLEMENT 2023-10-23.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\10. OCTUBRE\\QUERIES\\SETTLEMENT 2023-10-24.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\10. OCTUBRE\\QUERIES\\SETTLEMENT 2023-10-25.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\10. OCTUBRE\\QUERIES\\SETTLEMENT 2023-10-26.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\10. OCTUBRE\\QUERIES\\SETTLEMENT 2023-10-27.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\10. OCTUBRE\\QUERIES\\SETTLEMENT 2023-10-28.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\10. OCTUBRE\\QUERIES\\SETTLEMENT 2023-10-29.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\10. OCTUBRE\\QUERIES\\SETTLEMENT 2023-10-30.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\10. OCTUBRE\\QUERIES\\SETTLEMENT 2023-10-31.csv']

In [3]:
cum_1 = pd.concat([pd.read_csv(f).assign(file_name=os.path.basename(f)) for f in cumfiles])
cum_1.columns = cum_1.columns.str.strip().str.lower() 
cum_1['report_date_local']= pd.to_datetime(cum_1['report_date_local']) 
cum_1.head()

Empty DataFrame
Columns: [merchant_id, merchant_name, user_email, report_id, report_date_local, total_transactions, total_fees_charged, total_taxes, applied_fees_benefits, applied_taxes_benefits, fee_direct_deposit, taxes_direct_deposit, total_adjustments, total_adjustment_fees_charged, total_adjustment_taxes, cobranza, total_released, total_retained, tipopago, total_due, type, created_date, created_time, updated_date, updated_time, file_name]
Index: []

[0 rows x 26 columns]

In [4]:
cum_1.shape

(0, 26)

In [5]:
cum_distinct_0 = cum_1[(cum_1['total_due'] != 0)]
cum_distinct_0.head()

Empty DataFrame
Columns: [merchant_id, merchant_name, user_email, report_id, report_date_local, total_transactions, total_fees_charged, total_taxes, applied_fees_benefits, applied_taxes_benefits, fee_direct_deposit, taxes_direct_deposit, total_adjustments, total_adjustment_fees_charged, total_adjustment_taxes, cobranza, total_released, total_retained, tipopago, total_due, type, created_date, created_time, updated_date, updated_time, file_name]
Index: []

[0 rows x 26 columns]

In [6]:
cum_distinct_0.shape

(0, 26)

#### PAGOS DE DISPERSIONES

In [7]:
pagos_dia_files_1 = glob.glob(r'C:\Users\Cristian.Aparicio\Documents\DISPERSIONES\2023\10. OCTUBRE\ARCHIVO DISPERSIONES\Dispersión*.xlsx', recursive=False)
pagos_dia_files_1

['C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\10. OCTUBRE\\ARCHIVO DISPERSIONES\\Dispersión-20231001.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\10. OCTUBRE\\ARCHIVO DISPERSIONES\\Dispersión-20231002.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\10. OCTUBRE\\ARCHIVO DISPERSIONES\\Dispersión-20231003.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\10. OCTUBRE\\ARCHIVO DISPERSIONES\\Dispersión-20231004.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\10. OCTUBRE\\ARCHIVO DISPERSIONES\\Dispersión-20231005.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\10. OCTUBRE\\ARCHIVO DISPERSIONES\\Dispersión-20231006.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\10. OCTUBRE\\ARCHIVO DISPERSIONES\\Dispersión-20231007.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\10. OCTUBRE\\ARCHIVO DISPERSIONES\\Dispersión-20231008.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\10. OCTUBRE\\ARCHIVO DISPERSIONES\\Dispersión-20231009.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\10. OCTUBRE\\ARCHIVO DISPERSIONES\\Dispersión-20231010.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\10. OCTUBRE\\ARCHIVO DISPERSIONES\\Dispersión-20231011.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\10. OCTUBRE\\ARCHIVO DISPERSIONES\\Dispersión-20231012.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\10. OCTUBRE\\ARCHIVO DISPERSIONES\\Dispersión-20231013.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\10. OCTUBRE\\ARCHIVO DISPERSIONES\\Dispersión-20231014.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\10. OCTUBRE\\ARCHIVO DISPERSIONES\\Dispersión-20231015.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\10. OCTUBRE\\ARCHIVO DISPERSIONES\\Dispersión-20231016.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\10. OCTUBRE\\ARCHIVO DISPERSIONES\\Dispersión-20231017.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\10. OCTUBRE\\ARCHIVO DISPERSIONES\\Dispersión-20231018.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\10. OCTUBRE\\ARCHIVO DISPERSIONES\\Dispersión-20231019.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\10. OCTUBRE\\ARCHIVO DISPERSIONES\\Dispersión-20231020.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\10. OCTUBRE\\ARCHIVO DISPERSIONES\\Dispersión-20231021.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\10. OCTUBRE\\ARCHIVO DISPERSIONES\\Dispersión-20231022.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\10. OCTUBRE\\ARCHIVO DISPERSIONES\\Dispersión-20231023.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\10. OCTUBRE\\ARCHIVO DISPERSIONES\\Dispersión-20231024.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\10. OCTUBRE\\ARCHIVO DISPERSIONES\\Dispersión-20231025.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\10. OCTUBRE\\ARCHIVO DISPERSIONES\\Dispersión-20231026.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\10. OCTUBRE\\ARCHIVO DISPERSIONES\\Dispersión-20231027.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\10. OCTUBRE\\ARCHIVO DISPERSIONES\\Dispersión-20231028.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\10. OCTUBRE\\ARCHIVO DISPERSIONES\\Dispersión-20231029.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\10. OCTUBRE\\ARCHIVO DISPERSIONES\\Dispersión-20231030.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\10. OCTUBRE\\ARCHIVO DISPERSIONES\\Dispersión-20231031.xlsx']

In [8]:
pagos_1 = pd.concat([pd.read_excel(f,sheet_name='Swap del día').assign(file_name=os.path.basename(f)) for f in pagos_dia_files_1])
pagos_1['date_file'] = pagos_1["file_name"].str[-13:-5]
pagos_1['date_file']= pd.to_datetime(pagos_1['date_file'], format='%Y%m%d').dt.date
pagos_1['date_file']= pd.to_datetime(pagos_1['date_file'])
pagos_1.sort_values(by=['date_file'],ascending=True,inplace=True)
pagos_1['report_date_local']= pd.to_datetime(pagos_1['report_date_local']) 
pagos_1.head()

,type,merchant_id,merchant_name,user_email,report_id,report_date_local,total_due,tipo,bank,bank_account_owner_name,CLABE,status,LINEA CEP,Batch_time,Banco_emisor,file_name,date_file
0,LEDGER_TRAD,03817645-41bf-4990-a393-e70062edacab,NaN,NaN,A4L8622LV,2023-10-01,52.70,Pago del día,CAJA POP MEXICA,Ana Sarahi Aguiar PePe,677560042220088759,ERROR,NaN,01. First_batch,BANORTE,Dispersión-20231001.xlsx,2023-10-01
75829,LEDGER_TRAD,aa30d809-dcb9-4408-9ffb-4834e2855886,NaN,NaN,A4Z4RQ5YF,2023-10-01,645.86,Pago del día,BBVA BANCOMER,Axely Magdalena Polanco Contreras,12180015636397909,PAID,"2023-10-01,42644264202310012558909788,40072,40...",01. First_batch,BANORTE,Dispersión-20231001.xlsx,2023-10-01
75828,LEDGER_TRAD,aa3001a6-453d-48f5-98e7-97037185d5f5,NaN,NaN,AVGMQ89JX,2023-10-01,"14,742.51",Pago del día,AZTECA,MARIA LUISA MIRANDA,127180013182134985,PAID,"2023-10-01,42644264202310012558956103,40072,40...",01. First_batch,BANORTE,Dispersión-20231001.xlsx,2023-10-01
75827,LEDGER_TRAD,aa2fe9df-ec77-4854-a099-ddd2dc3a61c1,NaN,NaN,A8Q6FRQRW,2023-10-01,180.16,Pago del día,SANTANDER,MARIA SOLEDAD OROZCO CASTELLANOS,14090566470522616,PAID,"2023-10-01,nan,40072,40014,014090566470522616,...",01. First_batch,BANORTE,Dispersión-20231001.xlsx,2023-10-01
75826,LEDGER_TRAD,aa2f8064-4372-44df-b1fa-7abddc5e690f,NaN,NaN,AP56RQQJD,2023-10-01,106.37,Pago del día,AZTECA,Beatriz Avila,127180013667935832,PAID,"2023-10-01,42644264202310012558933955,40072,40...",01. First_batch,BANORTE,Dispersión-20231001.xlsx,2023-10-01

In [9]:
pagos_1.shape

(3108565, 17)

In [10]:
pagos_1['report_date_local'].unique()

<DatetimeArray>
['2023-10-01 00:00:00', '2023-09-07 00:00:00', '2023-09-29 00:00:00',
 '2023-09-11 00:00:00', '2023-08-24 00:00:00', '2023-09-28 00:00:00',
 '2023-09-30 00:00:00', '2023-09-27 00:00:00', '2023-09-25 00:00:00',
 '2023-09-23 00:00:00',
 ...
 '2021-01-14 00:00:00', '2023-10-30 00:00:00', '2022-02-13 00:00:00',
 '2023-10-31 00:00:00', '2021-11-04 00:00:00', '2022-01-07 00:00:00',
 '2021-08-17 00:00:00', '2021-06-07 00:00:00', '2020-11-17 00:00:00',
 '2022-01-06 00:00:00']
Length: 688, dtype: datetime64[ns]

#### PAGOS DUPLICADOS TRADICIONAL

In [11]:
duplicates_trad = pagos_1[pagos_1.duplicated(['report_id','date_file'] , keep=False)]
duplicates_trad['INDEX'] = duplicates_trad['report_id'] + '_' + duplicates_trad['date_file'].astype('str')
duplicates_trad.sort_values(by=['date_file','report_id'],inplace=True)
duplicates_trad.head()

C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_7712\1112391532.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  duplicates_trad['INDEX'] = duplicates_trad['report_id'] + '_' + duplicates_trad['date_file'].astype('str')
C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_7712\1112391532.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  duplicates_trad.sort_values(by=['date_file','report_id'],inplace=True)

,type,merchant_id,merchant_name,user_email,report_id,report_date_local,total_due,tipo,bank,bank_account_owner_name,CLABE,status,LINEA CEP,Batch_time,Banco_emisor,file_name,date_file,INDEX
72,LEDGER_TRAD,948af594-2960-485c-80ae-7bb2fe33a054,NaN,NaN,A3WFRKXZ9,2023-10-02,"1,149.88",Pago del día,BBVA BANCOMER,Paola Isabel Segovia Arredondo,12700004849995686,ERROR,NaN,02. Second_batch,BANORTE,Dispersión-20231002.xlsx,2023-10-02,A3WFRKXZ9_2023-10-02
37,LEDGER_TRAD,948af594-2960-485c-80ae-7bb2fe33a054,NaN,NaN,A3WFRKXZ9,2023-10-02,"1,149.88",Pago del día,BBVA BANCOMER,Paola Isabel Segovia Arredondo,12700004849995686,ERROR,NaN,01. First_batch,SANTANDER,Dispersión-20231002.xlsx,2023-10-02,A3WFRKXZ9_2023-10-02
67,LEDGER_TRAD,fd97ea77-71f7-46a2-a41b-cf6370c13da6,NaN,NaN,AF59MWXQV,2023-10-02,"28,396.48",Pago del día,AZTECA,Javier Manjarrez Olmos,127180016865626432,ERROR,NaN,01. First_batch,SANTANDER,Dispersión-20231002.xlsx,2023-10-02,AF59MWXQV_2023-10-02
74,LEDGER_TRAD,fd97ea77-71f7-46a2-a41b-cf6370c13da6,NaN,NaN,AF59MWXQV,2023-10-02,"28,396.48",Pago del día,AZTECA,Javier Manjarrez Olmos,127180016865626432,ERROR,NaN,02. Second_batch,BANORTE,Dispersión-20231002.xlsx,2023-10-02,AF59MWXQV_2023-10-02
70,LEDGER_TRAD,59d49c92-85cb-4443-b0f8-d57730bfa313,NaN,NaN,ANQFV28VY,2023-10-02,"17,727.44",Pago del día,BBVA BANCOMER,Brandon Iranh Sánchez Mancilla,12180015662060213,ERROR,NaN,02. Second_batch,BANORTE,Dispersión-20231002.xlsx,2023-10-02,ANQFV28VY_2023-10-02

In [12]:
duplicates_trad.shape

(126, 18)

In [13]:
duplicates_trad['status'].unique()

array(['ERROR', 'PAID'], dtype=object)

In [14]:
duplicates_trad.drop_duplicates(subset="INDEX", keep='last', inplace=True)

C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_7712\494774456.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  duplicates_trad.drop_duplicates(subset="INDEX", keep='last', inplace=True)

In [15]:
duplicates_trad.head()

,type,merchant_id,merchant_name,user_email,report_id,report_date_local,total_due,tipo,bank,bank_account_owner_name,CLABE,status,LINEA CEP,Batch_time,Banco_emisor,file_name,date_file,INDEX
37,LEDGER_TRAD,948af594-2960-485c-80ae-7bb2fe33a054,NaN,NaN,A3WFRKXZ9,2023-10-02,"1,149.88",Pago del día,BBVA BANCOMER,Paola Isabel Segovia Arredondo,12700004849995686,ERROR,NaN,01. First_batch,SANTANDER,Dispersión-20231002.xlsx,2023-10-02,A3WFRKXZ9_2023-10-02
74,LEDGER_TRAD,fd97ea77-71f7-46a2-a41b-cf6370c13da6,NaN,NaN,AF59MWXQV,2023-10-02,"28,396.48",Pago del día,AZTECA,Javier Manjarrez Olmos,127180016865626432,ERROR,NaN,02. Second_batch,BANORTE,Dispersión-20231002.xlsx,2023-10-02,AF59MWXQV_2023-10-02
21,LEDGER_TRAD,59d49c92-85cb-4443-b0f8-d57730bfa313,NaN,NaN,ANQFV28VY,2023-10-02,"17,727.44",Pago del día,BBVA BANCOMER,Brandon Iranh Sánchez Mancilla,12180015662060213,ERROR,NaN,01. First_batch,SANTANDER,Dispersión-20231002.xlsx,2023-10-02,ANQFV28VY_2023-10-02
100,LEDGER_TRAD,9ba6aa99-be9c-4e05-b1b1-c5cdec8e7e01,NaN,NaN,A9C79MJ4C,2023-10-03,"24,142.86",Pago del día,AKALA,Blanca Nayeli Aguilar Lopez,638180010190823042,ERROR,NaN,03. Third_batch,BANORTE,Dispersión-20231003.xlsx,2023-10-03,A9C79MJ4C_2023-10-03
102,LEDGER_TRAD,d812213d-85c3-47ce-b641-4fe239d1dd61,NaN,NaN,AWSWKCMQB,2023-10-03,"59,890.00",Pago del día,SANTANDER,Mauricio Mora Chagoya,14225250164818746,ERROR,NaN,03. Third_batch,BANORTE,Dispersión-20231003.xlsx,2023-10-03,AWSWKCMQB_2023-10-03

In [16]:
duplicates_trad.shape

(63, 18)

In [17]:
pivot_duplicates_trad = pd.pivot_table(duplicates_trad,index=['tipo','date_file'],
                                       columns=['type'],
                                  values=['total_due']
                                  ,aggfunc = ['sum', len],margins=True)
pivot_duplicates_trad.reset_index(drop=False, inplace=True)
pivot_duplicates_trad.head(10)

              tipo            date_file         sum                    len
                                          total_due              total_due
type                                    LEDGER_TRAD        All LEDGER_TRAD All
0     Pago del día  2023-10-02 00:00:00   47,273.80  47,273.80           3   3
1     Pago del día  2023-10-03 00:00:00   84,032.86  84,032.86           2   2
2     Pago del día  2023-10-04 00:00:00   38,552.86  38,552.86           2   2
3     Pago del día  2023-10-06 00:00:00      527.03     527.03           1   1
4     Pago del día  2023-10-09 00:00:00   21,617.89  21,617.89           2   2
5     Pago del día  2023-10-12 00:00:00  223,421.48 223,421.48           4   4
6     Pago del día  2023-10-13 00:00:00    2,970.54   2,970.54           1   1
7     Pago del día  2023-10-16 00:00:00   61,626.25  61,626.25           4   4
8     Pago del día  2023-10-17 00:00:00  161,827.32 161,827.32           5   5
9     Pago del día  2023-10-18 00:00:00    4,794.07   4,794.07           1   1

In [18]:
pivot_duplicates_trad.shape

(27, 6)

#### FAST PAYMENTS

In [19]:
fp_files_1 = glob.glob(r'C:\Users\Cristian.Aparicio\Documents\FAST PAYMENTS\2023\10. OCTUBRE\ARCHIVO DISPERSIONES FP\Dispersión-FP*.xlsx', recursive=False)
fp_files_1

['C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2023\\10. OCTUBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2023-10-01.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2023\\10. OCTUBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2023-10-02.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2023\\10. OCTUBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2023-10-03.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2023\\10. OCTUBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2023-10-04.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2023\\10. OCTUBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2023-10-05.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2023\\10. OCTUBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2023-10-06.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2023\\10. OCTUBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2023-10-07.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2023\\10. OCTUBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2023-10-08.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2023\\10. OCTUBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2023-10-09.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2023\\10. OCTUBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2023-10-10.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2023\\10. OCTUBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2023-10-11.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2023\\10. OCTUBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2023-10-12.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2023\\10. OCTUBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2023-10-13.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2023\\10. OCTUBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2023-10-14.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2023\\10. OCTUBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2023-10-15.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2023\\10. OCTUBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2023-10-16.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2023\\10. OCTUBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2023-10-17.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2023\\10. OCTUBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2023-10-18.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2023\\10. OCTUBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2023-10-19.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2023\\10. OCTUBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2023-10-20.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2023\\10. OCTUBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2023-10-21.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2023\\10. OCTUBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2023-10-22.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2023\\10. OCTUBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2023-10-23.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2023\\10. OCTUBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2023-10-24.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2023\\10. OCTUBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2023-10-25.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2023\\10. OCTUBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2023-10-26.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2023\\10. OCTUBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2023-10-27.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2023\\10. OCTUBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2023-10-28.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2023\\10. OCTUBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2023-10-29.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2023\\10. OCTUBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2023-10-30.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2023\\10. OCTUBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2023-10-31.xlsx']

In [20]:
pagos_2 = pd.concat([pd.read_excel(f,sheet_name='FAST PAYMENTS').assign(file_name=os.path.basename(f)) for f in fp_files_1])
pagos_2['date_file'] = pagos_2["file_name"].str[-15:-4]
pagos_2['date_file']= pd.to_datetime(pagos_2['date_file']) 
pagos_2.sort_values(by=['date_file'],ascending=True,inplace=True)
pagos_2['report_date_local']= pd.to_datetime(pagos_2['report_date_local']) 
pagos_2.head()

,type,merchant_id,merchant_name,user_email,report_id,report_date_local,total_due,tipo,bank,swap,CLABE,status,LINEA CEP,Batch_time,Banco_emisor,file_name,date_file
0,LEDGER_FP,0bed913a-0ea1-4ac1-9497-f588b6246214,NaN,NaN,AZ34TN39C,2023-10-01,114.99,Pago del día,BANAMEX,Eva Mariana Pazos Solis,2700701813455928,ERROR,NaN,02. Second_batch,BANORTE,Dispersión-FP 2023-10-01.xlsx,2023-10-01
26829,LEDGER_FP,48de5664-2fb2-4085-bc43-d92b39c492b3,NaN,NaN,A6VRZXVYJ,2023-10-01,"1,533.18",Pago del día,BBVA BANCOMER,Juan Carlos de la cruz rojas,12180026135032835,PAID,"2023-10-01,42644264202310012559883805,40072,40...",05. Fifth_batch,BANORTE,Dispersión-FP 2023-10-01.xlsx,2023-10-01
26830,LEDGER_FP,48e07bc3-37a1-4aba-8a07-223facdb2819,NaN,NaN,AZ4G47LNP,2023-10-01,"3,325.09",Pago del día,SCOTIABANK,Jaime Felipe Rayas Lazalde,44933202040133952,PAID,"2023-10-01,42644264202310012559873010,40072,40...",05. Fifth_batch,BANORTE,Dispersión-FP 2023-10-01.xlsx,2023-10-01
26831,LEDGER_FP,48e24396-e931-489d-9852-3887816863ba,NaN,NaN,A224HJMZH,2023-10-01,622.86,Pago del día,HSBC,Jonathan Eduardo martinez duarte,21028065844819932,PAID,"2023-10-01,42644264202310012559888748,40072,40...",05. Fifth_batch,BANORTE,Dispersión-FP 2023-10-01.xlsx,2023-10-01
26832,LEDGER_FP,48e66838-54af-498c-9d62-f290129fea16,NaN,NaN,AKXMQ2MX2,2023-10-01,"4,791.20",Pago del día,SCOTIABANK,Marisol Noriega Ebel,44180001074237425,PAID,"2023-10-01,42644264202310012559878495,40072,40...",05. Fifth_batch,BANORTE,Dispersión-FP 2023-10-01.xlsx,2023-10-01

In [21]:
pagos_2.shape

(135419, 17)

#### PAGOS REPETIDOS FAST PAYMENTS

In [22]:
duplicates_fp = pagos_2[pagos_2.duplicated(['report_id','date_file'] , keep=False)]
duplicates_fp['INDEX'] = duplicates_fp['report_id'] + '_' + duplicates_fp['date_file'].astype('str')
duplicates_fp.sort_values(by=['date_file','report_id','Batch_time'],inplace=True)
duplicates_fp.head()

C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_7712\3928666323.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  duplicates_fp['INDEX'] = duplicates_fp['report_id'] + '_' + duplicates_fp['date_file'].astype('str')
C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_7712\3928666323.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  duplicates_fp.sort_values(by=['date_file','report_id','Batch_time'],inplace=True)

,type,merchant_id,merchant_name,user_email,report_id,report_date_local,total_due,tipo,bank,swap,CLABE,status,LINEA CEP,Batch_time,Banco_emisor,file_name,date_file,INDEX
19988,INSTANT,e5da6198-281e-4c26-a991-9a1c309aa2a9,La Ovejita,luis_mtz7810@hotmail.com,4SP56WS9N,2022-01-19,139.91,Reprogramación,ASP INTEGRA OPC,Jose Luis Martinez Jimenez,659802020000008932,PAID,NaN,03. Third_batch,BANORTE,Dispersión-FP 2023-10-01.xlsx,2023-10-01,4SP56WS9N_2023-10-01
39368,INSTANT,e5da6198-281e-4c26-a991-9a1c309aa2a9,La Ovejita,luis_mtz7810@hotmail.com,4SP56WS9N,2022-01-19,139.91,Reprogramación,ASP INTEGRA OPC,Jose Luis Martinez Jimenez,659802020000008932,PAID,"2023-10-01,42644264202310012559893972,40072,90...",05. Fifth_batch,BANORTE,Dispersión-FP 2023-10-01.xlsx,2023-10-01,4SP56WS9N_2023-10-01
19987,INSTANT,e5da6198-281e-4c26-a991-9a1c309aa2a9,La Ovejita,luis_mtz7810@hotmail.com,7MLCZPHJN,2021-09-02,114.99,Reprogramación,ASP INTEGRA OPC,Jose Luis Martinez Jimenez,659802020000008932,PAID,NaN,03. Third_batch,BANORTE,Dispersión-FP 2023-10-01.xlsx,2023-10-01,7MLCZPHJN_2023-10-01
39367,INSTANT,e5da6198-281e-4c26-a991-9a1c309aa2a9,La Ovejita,luis_mtz7810@hotmail.com,7MLCZPHJN,2021-09-02,114.99,Reprogramación,ASP INTEGRA OPC,Jose Luis Martinez Jimenez,659802020000008932,PAID,"2023-10-01,42644264202310012559878467,40072,90...",05. Fifth_batch,BANORTE,Dispersión-FP 2023-10-01.xlsx,2023-10-01,7MLCZPHJN_2023-10-01
20126,LEDGER_FP,face56d0-51aa-459e-b62a-f41c1fbfbebd,NaN,NaN,A223NGN95,2023-10-01,84.98,Pago del día,ASP INTEGRA OPC,Selene del rocio Garcia Gallegos,659802020000030243,PAID,NaN,03. Third_batch,BANORTE,Dispersión-FP 2023-10-01.xlsx,2023-10-01,A223NGN95_2023-10-01

In [23]:
duplicates_fp.shape

(40837, 18)

In [24]:
duplicates_fp.drop_duplicates(subset="INDEX", keep='last', inplace=True)

C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_7712\2218390481.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  duplicates_fp.drop_duplicates(subset="INDEX", keep='last', inplace=True)

In [25]:
duplicates_fp.head()

,type,merchant_id,merchant_name,user_email,report_id,report_date_local,total_due,tipo,bank,swap,CLABE,status,LINEA CEP,Batch_time,Banco_emisor,file_name,date_file,INDEX
39368,INSTANT,e5da6198-281e-4c26-a991-9a1c309aa2a9,La Ovejita,luis_mtz7810@hotmail.com,4SP56WS9N,2022-01-19,139.91,Reprogramación,ASP INTEGRA OPC,Jose Luis Martinez Jimenez,659802020000008932,PAID,"2023-10-01,42644264202310012559893972,40072,90...",05. Fifth_batch,BANORTE,Dispersión-FP 2023-10-01.xlsx,2023-10-01,4SP56WS9N_2023-10-01
39367,INSTANT,e5da6198-281e-4c26-a991-9a1c309aa2a9,La Ovejita,luis_mtz7810@hotmail.com,7MLCZPHJN,2021-09-02,114.99,Reprogramación,ASP INTEGRA OPC,Jose Luis Martinez Jimenez,659802020000008932,PAID,"2023-10-01,42644264202310012559878467,40072,90...",05. Fifth_batch,BANORTE,Dispersión-FP 2023-10-01.xlsx,2023-10-01,7MLCZPHJN_2023-10-01
39517,LEDGER_FP,face56d0-51aa-459e-b62a-f41c1fbfbebd,NaN,NaN,A223NGN95,2023-10-01,84.98,Pago del día,ASP INTEGRA OPC,Selene del rocio Garcia Gallegos,659802020000030243,PAID,"2023-10-01,42644264202310012559894014,40072,90...",05. Fifth_batch,BANORTE,Dispersión-FP 2023-10-01.xlsx,2023-10-01,A223NGN95_2023-10-01
26831,LEDGER_FP,48e24396-e931-489d-9852-3887816863ba,NaN,NaN,A224HJMZH,2023-10-01,622.86,Pago del día,HSBC,Jonathan Eduardo martinez duarte,21028065844819932,PAID,"2023-10-01,42644264202310012559888748,40072,40...",05. Fifth_batch,BANORTE,Dispersión-FP 2023-10-01.xlsx,2023-10-01,A224HJMZH_2023-10-01
21763,LEDGER_FP,0d74d91f-989b-4ee6-9a19-18ebfe9f02ac,NaN,NaN,A2252K8YW,2023-10-01,"3,074.04",Pago del día,BANCOPPEL,Marcelo Meza Meza,137244104714639871,PAID,"2023-10-01,42644264202310012559868879,40072,40...",05. Fifth_batch,BANORTE,Dispersión-FP 2023-10-01.xlsx,2023-10-01,A2252K8YW_2023-10-01

In [26]:
duplicates_fp.shape

(19770, 18)

In [27]:
pivot_duplicates_fp = pd.pivot_table(duplicates_fp,index=['tipo','date_file'],
                                     columns=['type'],
                                  values=['total_due']
                                  ,aggfunc = ['sum', len],margins=True)
pivot_duplicates_fp.reset_index(drop=False, inplace=True)
pivot_duplicates_fp.head()

              tipo            date_file       sum                              \
                                        total_due
type                                      INSTANT     LEDGER_FP           All
0     Pago del día  2023-10-01 00:00:00       NaN 44,665,855.91 44,665,855.91
1     Pago del día  2023-10-02 00:00:00       NaN     25,807.48     25,807.48
2     Pago del día  2023-10-03 00:00:00       NaN         98.08         98.08
3     Pago del día  2023-10-04 00:00:00       NaN        680.11        680.11
4     Pago del día  2023-10-05 00:00:00       NaN        551.94        551.94

           len
     total_due
type   INSTANT LEDGER_FP    All
0          NaN 18,564.00  18564
1          NaN      3.00      3
2          NaN      1.00      1
3          NaN      6.00      6
4          NaN      2.00      2

In [28]:
pivot_duplicates_fp.shape

(48, 8)

In [29]:
# pivot_duplicates_fp.to_excel('DUPLICADOS FP JUNIO 2021.xlsx',index=True)

#### ALL PAGOS

In [30]:
allpagos = pd.concat([pagos_1,pagos_2])
allpagos.head()

,type,merchant_id,merchant_name,user_email,report_id,report_date_local,total_due,tipo,bank,bank_account_owner_name,CLABE,status,LINEA CEP,Batch_time,Banco_emisor,file_name,date_file,swap
0,LEDGER_TRAD,03817645-41bf-4990-a393-e70062edacab,NaN,NaN,A4L8622LV,2023-10-01,52.70,Pago del día,CAJA POP MEXICA,Ana Sarahi Aguiar PePe,677560042220088759,ERROR,NaN,01. First_batch,BANORTE,Dispersión-20231001.xlsx,2023-10-01,NaN
75829,LEDGER_TRAD,aa30d809-dcb9-4408-9ffb-4834e2855886,NaN,NaN,A4Z4RQ5YF,2023-10-01,645.86,Pago del día,BBVA BANCOMER,Axely Magdalena Polanco Contreras,12180015636397909,PAID,"2023-10-01,42644264202310012558909788,40072,40...",01. First_batch,BANORTE,Dispersión-20231001.xlsx,2023-10-01,NaN
75828,LEDGER_TRAD,aa3001a6-453d-48f5-98e7-97037185d5f5,NaN,NaN,AVGMQ89JX,2023-10-01,"14,742.51",Pago del día,AZTECA,MARIA LUISA MIRANDA,127180013182134985,PAID,"2023-10-01,42644264202310012558956103,40072,40...",01. First_batch,BANORTE,Dispersión-20231001.xlsx,2023-10-01,NaN
75827,LEDGER_TRAD,aa2fe9df-ec77-4854-a099-ddd2dc3a61c1,NaN,NaN,A8Q6FRQRW,2023-10-01,180.16,Pago del día,SANTANDER,MARIA SOLEDAD OROZCO CASTELLANOS,14090566470522616,PAID,"2023-10-01,nan,40072,40014,014090566470522616,...",01. First_batch,BANORTE,Dispersión-20231001.xlsx,2023-10-01,NaN
75826,LEDGER_TRAD,aa2f8064-4372-44df-b1fa-7abddc5e690f,NaN,NaN,AP56RQQJD,2023-10-01,106.37,Pago del día,AZTECA,Beatriz Avila,127180013667935832,PAID,"2023-10-01,42644264202310012558933955,40072,40...",01. First_batch,BANORTE,Dispersión-20231001.xlsx,2023-10-01,NaN

In [31]:
allpagos.shape

(3243984, 18)

In [32]:
allpagos['tipo'].unique()

array(['Pago del día', 'Reprogramación'], dtype=object)

In [33]:
group_allpagos = allpagos.groupby(['date_file']).agg({'total_due':sum,'report_id':'count'}).reset_index()
group_allpagos.head()

   date_file      total_due  report_id
0 2023-10-01 390,174,141.62     153983
1 2023-10-02 209,046,611.19      83455
2 2023-10-03 204,340,823.86     101235
3 2023-10-04 202,366,034.81     102467
4 2023-10-05 205,388,933.65     103895

In [34]:
group_allpagos.shape

(31, 3)

#### PAGOS DEL DIA

In [35]:
pagosdia = allpagos[(allpagos['tipo'].isin(['Pago del día']))]
pagosdia.head()

,type,merchant_id,merchant_name,user_email,report_id,report_date_local,total_due,tipo,bank,bank_account_owner_name,CLABE,status,LINEA CEP,Batch_time,Banco_emisor,file_name,date_file,swap
0,LEDGER_TRAD,03817645-41bf-4990-a393-e70062edacab,NaN,NaN,A4L8622LV,2023-10-01,52.70,Pago del día,CAJA POP MEXICA,Ana Sarahi Aguiar PePe,677560042220088759,ERROR,NaN,01. First_batch,BANORTE,Dispersión-20231001.xlsx,2023-10-01,NaN
75829,LEDGER_TRAD,aa30d809-dcb9-4408-9ffb-4834e2855886,NaN,NaN,A4Z4RQ5YF,2023-10-01,645.86,Pago del día,BBVA BANCOMER,Axely Magdalena Polanco Contreras,12180015636397909,PAID,"2023-10-01,42644264202310012558909788,40072,40...",01. First_batch,BANORTE,Dispersión-20231001.xlsx,2023-10-01,NaN
75828,LEDGER_TRAD,aa3001a6-453d-48f5-98e7-97037185d5f5,NaN,NaN,AVGMQ89JX,2023-10-01,"14,742.51",Pago del día,AZTECA,MARIA LUISA MIRANDA,127180013182134985,PAID,"2023-10-01,42644264202310012558956103,40072,40...",01. First_batch,BANORTE,Dispersión-20231001.xlsx,2023-10-01,NaN
75827,LEDGER_TRAD,aa2fe9df-ec77-4854-a099-ddd2dc3a61c1,NaN,NaN,A8Q6FRQRW,2023-10-01,180.16,Pago del día,SANTANDER,MARIA SOLEDAD OROZCO CASTELLANOS,14090566470522616,PAID,"2023-10-01,nan,40072,40014,014090566470522616,...",01. First_batch,BANORTE,Dispersión-20231001.xlsx,2023-10-01,NaN
75826,LEDGER_TRAD,aa2f8064-4372-44df-b1fa-7abddc5e690f,NaN,NaN,AP56RQQJD,2023-10-01,106.37,Pago del día,AZTECA,Beatriz Avila,127180013667935832,PAID,"2023-10-01,42644264202310012558933955,40072,40...",01. First_batch,BANORTE,Dispersión-20231001.xlsx,2023-10-01,NaN

In [36]:
pagosdia.shape

(3218839, 18)

In [37]:
group_dia = pagosdia.groupby(['date_file']).agg({'total_due':sum,'report_id':'count'}).reset_index()
group_dia.head()

   date_file      total_due  report_id
0 2023-10-01 388,542,452.83     152467
1 2023-10-02 206,621,474.78      82368
2 2023-10-03 202,609,513.28     100383
3 2023-10-04 201,198,218.65     101340
4 2023-10-05 204,574,633.09     103357

In [38]:
group_dia.shape

(31, 3)

# PRIMER MATCH (SETTLED VS PAGOS DEL DIA)

In [39]:
check_1 = cum_1.merge(pagosdia[['report_id','total_due','tipo','file_name']] ,on='report_id', how='left')
check_1['total_due_y'].fillna('NO ENCONTRADO')
check_1['tipo'].fillna('NO ENCONTRADO',inplace=True)
check_1['file_name_y'].fillna('NO ENCONTRADO',inplace=True)
# check_1.fillna({'total_due_y':'NO ENCONTRADO', 'tipo':'NO ENCONTRADO', 'file_name_y':'NO ENCONTRADO'}, inplace=True)
check_1.head()

Empty DataFrame
Columns: [merchant_id, merchant_name, user_email, report_date_local, total_transactions, total_fees_charged, total_taxes, applied_fees_benefits, applied_taxes_benefits, fee_direct_deposit, taxes_direct_deposit, total_adjustments, total_adjustment_fees_charged, total_adjustment_taxes, cobranza, total_released, total_retained, tipopago, total_due_x, type, created_date, created_time, updated_date, updated_time, file_name_x, report_id, total_due_y, tipo, file_name_y]
Index: []

[0 rows x 29 columns]

In [40]:
check_1['file_name_y'].unique()

array([], dtype=object)

In [41]:
not_found_1 = check_1[((check_1['file_name_y'].isnull()) | (check_1['file_name_y'].isin(['NO ENCONTRADO'])))
                        & (check_1['total_due_x'] != 0)]
not_found_1.head()

Empty DataFrame
Columns: [merchant_id, merchant_name, user_email, report_date_local, total_transactions, total_fees_charged, total_taxes, applied_fees_benefits, applied_taxes_benefits, fee_direct_deposit, taxes_direct_deposit, total_adjustments, total_adjustment_fees_charged, total_adjustment_taxes, cobranza, total_released, total_retained, tipopago, total_due_x, type, created_date, created_time, updated_date, updated_time, file_name_x, report_id, total_due_y, tipo, file_name_y]
Index: []

[0 rows x 29 columns]

In [42]:
not_found_1.shape

(0, 29)

In [43]:
group_notfound = not_found_1.groupby(['report_date_local']).agg({'total_due_x':sum,'report_id':'count'}).reset_index()
group_notfound.rename(columns={'report_date_local':'date_file'},inplace=True)
group_notfound.head()

Empty DataFrame
Columns: [date_file, total_due_x, report_id]
Index: []

In [44]:
group_notfound.shape

(0, 3)

#### REPROGRAMACIONES

In [45]:
repro = allpagos[(allpagos['tipo'].isin(['Reprogramación']))]
repro.head()

,type,merchant_id,merchant_name,user_email,report_id,report_date_local,total_due,tipo,bank,bank_account_owner_name,CLABE,status,LINEA CEP,Batch_time,Banco_emisor,file_name,date_file,swap
75414,LEDGER_TRAD,a93f1c28-6837-426e-ad01-854887a8a266,NaN,NaN,A7KPDN43T,2023-09-07,3.84,Reprogramación,BANCOPPEL,MARIA INES MATA ROMERO,137164101147322443,PAID,"2023-10-01,42644264202310012558909482,40072,40...",01. First_batch,BANORTE,Dispersión-20231001.xlsx,2023-10-01,NaN
77424,LEDGER_TRAD,adc64e9f-506a-4604-a5cc-309c245e8f6b,NaN,NaN,AKXDYBRSL,2023-09-29,958.24,Reprogramación,SANTANDER,Luis Javier Torres cazares,14222566338382805,PAID,"2023-10-01,42644264202310012558910991,40072,40...",01. First_batch,BANORTE,Dispersión-20231001.xlsx,2023-10-01,NaN
78181,LEDGER_TRAD,af6fd199-15b2-439d-abee-d92c4c6341f0,NaN,NaN,AY7BJW7F4,2023-09-11,0.97,Reprogramación,BBVA BANCOMER,Maricruz Salazar Frias,12180015416196540,PAID,"2023-10-01,42644264202310012558957878,40072,40...",01. First_batch,BANORTE,Dispersión-20231001.xlsx,2023-10-01,NaN
78180,LEDGER_TRAD,af6fd199-15b2-439d-abee-d92c4c6341f0,NaN,NaN,ARVQXMM7L,2023-08-24,0.95,Reprogramación,BBVA BANCOMER,Maricruz Salazar Frias,12180015416196540,PAID,"2023-10-01,nan,40072,40012,012180015416196540,...",01. First_batch,BANORTE,Dispersión-20231001.xlsx,2023-10-01,NaN
77838,LEDGER_TRAD,aebd36f0-e2f6-4f88-bed7-3227c26b178f,NaN,NaN,AFSD7CWCC,2023-09-28,19.16,Reprogramación,BBVA BANCOMER,Bertha Adriana Carmona Velazquez,12041015548522529,PAID,"2023-10-01,42644264202310012558957635,40072,40...",01. First_batch,BANORTE,Dispersión-20231001.xlsx,2023-10-01,NaN

In [46]:
repro.shape

(25145, 18)

In [47]:
group_repro = repro.groupby(['date_file']).agg({'total_due':sum,'report_id':'count'}).reset_index()
group_repro.head()

   date_file    total_due  report_id
0 2023-10-01 1,631,688.79       1516
1 2023-10-02 2,425,136.41       1087
2 2023-10-03 1,731,310.58        852
3 2023-10-04 1,167,816.16       1127
4 2023-10-05   814,300.56        538

In [48]:
group_repro.shape

(31, 3)

# SEGUNDO MATCH (IDENTIFICACION DE REPROGRAMACIONES)

In [49]:
check_2 = not_found_1.merge(repro[['report_id','total_due','tipo','file_name']] ,on='report_id', how='left')
check_2.head()

Empty DataFrame
Columns: [merchant_id, merchant_name, user_email, report_date_local, total_transactions, total_fees_charged, total_taxes, applied_fees_benefits, applied_taxes_benefits, fee_direct_deposit, taxes_direct_deposit, total_adjustments, total_adjustment_fees_charged, total_adjustment_taxes, cobranza, total_released, total_retained, tipopago, total_due_x, type, created_date, created_time, updated_date, updated_time, file_name_x, total_due_y, tipo_x, file_name_y, report_id, total_due, tipo_y, file_name]
Index: []

[0 rows x 32 columns]

In [50]:
check_2.shape

(0, 32)

In [51]:
# writer = pd.ExcelWriter('REPROGRAMACIONES JUNIO 2021.xlsx', engine='xlsxwriter', options={'encoding':'utf-8'})
# check_2.to_excel(writer, sheet_name='DETAIL REPROGRAMACIONES',index=False)
# writer.save()
# writer.close()

# FECHA DE PAGOS (SETTLED VS PAGOS DEL DIA)

In [52]:
fecha_pago = not_found_1.merge(repro[['report_id','date_file','tipo','status','file_name']] ,on='report_id', how='left')
fecha_pago.sort_values(by=['date_file'],ascending=True,inplace=True)
fecha_pago.head()

Empty DataFrame
Columns: [merchant_id, merchant_name, user_email, report_date_local, total_transactions, total_fees_charged, total_taxes, applied_fees_benefits, applied_taxes_benefits, fee_direct_deposit, taxes_direct_deposit, total_adjustments, total_adjustment_fees_charged, total_adjustment_taxes, cobranza, total_released, total_retained, tipopago, total_due_x, type, created_date, created_time, updated_date, updated_time, file_name_x, total_due_y, tipo_x, file_name_y, report_id, date_file, tipo_y, status, file_name]
Index: []

[0 rows x 33 columns]

In [53]:
fecha_pago.shape

(0, 33)

In [54]:
fecha_pago.drop_duplicates(subset ='report_id',keep='first',inplace=True)

Empty DataFrame
Columns: [merchant_id, merchant_name, user_email, report_date_local, total_transactions, total_fees_charged, total_taxes, applied_fees_benefits, applied_taxes_benefits, fee_direct_deposit, taxes_direct_deposit, total_adjustments, total_adjustment_fees_charged, total_adjustment_taxes, cobranza, total_released, total_retained, tipopago, total_due_x, type, created_date, created_time, updated_date, updated_time, file_name_x, total_due_y, tipo_x, file_name_y, report_id, date_file, tipo_y, status, file_name]
Index: []

[0 rows x 33 columns]

In [55]:
fecha_pago.head()

Empty DataFrame
Columns: [merchant_id, merchant_name, user_email, report_date_local, total_transactions, total_fees_charged, total_taxes, applied_fees_benefits, applied_taxes_benefits, fee_direct_deposit, taxes_direct_deposit, total_adjustments, total_adjustment_fees_charged, total_adjustment_taxes, cobranza, total_released, total_retained, tipopago, total_due_x, type, created_date, created_time, updated_date, updated_time, file_name_x, total_due_y, tipo_x, file_name_y, report_id, date_file, tipo_y, status, file_name]
Index: []

[0 rows x 33 columns]

In [56]:
fecha_pago.shape

(0, 33)

### AGRUPADO POR DÍA

In [57]:
pivot_fecha_pago = pd.pivot_table(fecha_pago,index=['report_date_local'],
                                  values=['total_due_x'],aggfunc = ['sum', len],margins=True)
pivot_fecha_pago.head()

                          sum         len
                  total_due_x total_due_x
report_date_local
All                      0.00        0.00

In [58]:
pivot_fecha_pago.shape

(1, 2)

# PAGOS MANUALES

In [59]:
file_manual = glob.glob(r'G:\.shortcut-targets-by-id\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\3.-Settlement\5.-HISTORICO FILES PAGOS\01. TRADICIONAL\2023\10. OCTOBER\MANUALES\*.xlsx', recursive=False)
file_manual

['G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\10. OCTOBER\\MANUALES\\Manuales 2023.10.01 - 2023.10.31.xlsx']

In [60]:
manuales_all = pd.concat([pd.read_excel(f,sheet_name='Formato Pago Manual',skiprows=1
                                      ,converters={'Cta. CLABE de depósito':str,'report_id':str})
                          .assign(file_name=os.path.basename(f)) for f in file_manual])
manuales_all['Date']= pd.to_datetime(manuales_all['Date'])  
manuales_all['Tipo'] = 'MANUAL'

In [61]:
manuales_final = manuales_all[['Date','ME ID','ME NAME',' (mxn)','Banco','Justificación para el pago','Tipo','Report ID']]
manuales_final.head()

,Date,ME ID,ME NAME,(mxn),Banco,Justificación para el pago,Tipo,Report ID
0,2023-10-18,5fa2bbe0-69d1-49b7-aa9c-35fff21d64c9,NaN,"3,149.50","Banco Nacional de Mexico, S.A.",Reembolso al 50%,MANUAL,na
1,2023-10-18,732b7e39-84a5-42e0-915f-7f2311b5747c,NaN,400.00,Banco Regional de Monterrey,Solicitud de reembolsos manuales,MANUAL,na
2,2023-10-18,d06f3829-ae30-4a67-8599-ea7becf784d6,NaN,400.00,"BBVA Bancomer, S.A.",Solicitud de reembolsos manuales,MANUAL,na
3,2023-10-18,b22579df-58a9-4b8b-af1f-e686bfb447c4,NaN,3.00,"Kuspit Casa de Bolsa, S.A. de C.V.",Solicitud de reembolsos manuales,MANUAL,na
4,2023-10-18,b22579df-58a9-4b8b-af1f-e686bfb447c4,NaN,17.50,"Kuspit Casa de Bolsa, S.A. de C.V.",Solicitud de reembolsos manuales,MANUAL,na

In [62]:
manuales_final.shape

(6, 8)

In [63]:
manuales_final.columns

Index(['Date', 'ME ID', 'ME NAME', ' (mxn)', 'Banco',
       'Justificación para el pago', 'Tipo', 'Report ID'],
      dtype='object')

In [64]:
group_manual = manuales_final.groupby(['Date']).agg({' (mxn)':sum,'Report ID':'count'}).reset_index()
group_manual.rename(columns={'Date':'date_file','Report ID':'report_id'},inplace=True)
group_manual.head()

   date_file    (mxn)  report_id
0 2023-10-18 3,988.00          6

In [65]:
group_manual.shape

(1, 3)

# ACUMULADOS SETTLEMENT

In [66]:
conc_disp = cum_distinct_0.groupby(['report_date_local']).agg({'total_due':sum,'report_id':'count'}).reset_index()
conc_disp.rename(columns={'report_date_local':'date_file'}, inplace=True)
conc_disp.head()

Empty DataFrame
Columns: [date_file, total_due, report_id]
Index: []

In [67]:
conc_disp.shape

(0, 3)

# MERGING ALL DATA FRAMES

In [68]:
total_1 = conc_disp.merge(group_repro[['date_file','total_due','report_id']],on='date_file',how='left') \
.merge(group_manual,on='date_file',how='left')
total_1[' (mxn)'].fillna(0,inplace=True)
total_1['report_id'].fillna(0,inplace=True)
total_1.head()

Empty DataFrame
Columns: [total_due_x, report_id_x, total_due_y, report_id_y, date_file,  (mxn), report_id]
Index: []

In [69]:
total_1['count_total_pago_dia'] = total_1['report_id_x'] + total_1['report_id_y'] + total_1['report_id']
total_1['sum_total_pago_dia'] = total_1['total_due_x'] + total_1['total_due_y'] + total_1[' (mxn)']

In [70]:
total_1

Empty DataFrame
Columns: [total_due_x, report_id_x, total_due_y, report_id_y, date_file,  (mxn), report_id, count_total_pago_dia, sum_total_pago_dia]
Index: []

# ACUMULADOS PAGO DEL DIA

In [71]:
total_2 = group_allpagos.merge(group_notfound[['date_file','total_due_x','report_id']],on='date_file',how='left')\
.merge(group_manual,on='date_file',how='left')
total_2[' (mxn)'].fillna(0,inplace=True)
total_2['report_id'].fillna(0,inplace=True)
total_2['total_due_x'].fillna(0,inplace=True)
total_2['report_id_y'].fillna(0,inplace=True)
total_2.head()

,date_file,total_due,report_id_x,total_due_x,report_id_y,(mxn),report_id
0,2023-10-01,"390,174,141.62",153983,0,0.00,0.00,0.00
1,2023-10-02,"209,046,611.19",83455,0,0.00,0.00,0.00
2,2023-10-03,"204,340,823.86",101235,0,0.00,0.00,0.00
3,2023-10-04,"202,366,034.81",102467,0,0.00,0.00,0.00
4,2023-10-05,"205,388,933.65",103895,0,0.00,0.00,0.00

In [72]:
total_2['count_swap_dia'] = total_2['report_id_x'] + total_2['report_id_y'] + total_2['report_id']
total_2['sum_swap_dia'] = total_2['total_due'] + total_2['total_due_x'] + total_2[' (mxn)']

In [73]:
total_2.head()

,date_file,total_due,report_id_x,total_due_x,report_id_y,(mxn),report_id,count_swap_dia,sum_swap_dia
0,2023-10-01,"390,174,141.62",153983,0,0.00,0.00,0.00,"153,983.00","390,174,141.62"
1,2023-10-02,"209,046,611.19",83455,0,0.00,0.00,0.00,"83,455.00","209,046,611.19"
2,2023-10-03,"204,340,823.86",101235,0,0.00,0.00,0.00,"101,235.00","204,340,823.86"
3,2023-10-04,"202,366,034.81",102467,0,0.00,0.00,0.00,"102,467.00","202,366,034.81"
4,2023-10-05,"205,388,933.65",103895,0,0.00,0.00,0.00,"103,895.00","205,388,933.65"

In [74]:
total_2.shape

(31, 9)

# COMPARACION FINAL

In [75]:
final_comparacion = total_1[['date_file','count_total_pago_dia','sum_total_pago_dia']] \
.merge(total_2[['date_file','count_swap_dia','sum_swap_dia']],on='date_file',how='left')
final_comparacion.head()

Empty DataFrame
Columns: [count_total_pago_dia, sum_total_pago_dia, date_file, count_swap_dia, sum_swap_dia]
Index: []

In [76]:
final_comparacion['diff_count'] = final_comparacion['count_total_pago_dia'] - final_comparacion['count_swap_dia']
final_comparacion['diff_sum'] = final_comparacion['sum_total_pago_dia'] - final_comparacion['sum_swap_dia']

In [77]:
final_comparacion

Empty DataFrame
Columns: [count_total_pago_dia, sum_total_pago_dia, date_file, count_swap_dia, sum_swap_dia, diff_count, diff_sum]
Index: []

In [78]:
writer = pd.ExcelWriter('FASE III. SETTLED VS PAGO DIA OCTUBRE 2023.xlsx',
                        engine='xlsxwriter',
                        engine_kwargs={'options': {'encoding':'utf-8'}})
pivot_fecha_pago.to_excel(writer, sheet_name='ENVIADOS POSTERIOR')
fecha_pago.to_excel(writer, sheet_name='DETAIL NO ENCONTRADO',index=False)
pivot_duplicates_trad.to_excel(writer, sheet_name='PAGOS DUPLICADOS')
pivot_duplicates_fp.to_excel(writer, sheet_name='FP PAGOS DUPLICADOS')
group_manual.to_excel(writer, sheet_name='PAGOS MANUALES')
writer.close()