In [1]:
import pandas as pd
import numpy as np
import glob
import os
from openpyxl import load_workbook
pd.options.display.float_format = '{:,.2f}'.format

# MES AÑO DE CONCILIACIÓN

In [2]:
month_conc = 'January'
year_conc = '2022'

# RUTAS DE ACCESO

### SWAP DEL DIA

In [3]:
allfiles_disp_trad = glob.glob(r'G:\My Drive\Settlement\1.-Resultado-dispersión\2022\01.-ENERO\Dispersión-2*.xlsx', recursive=False)
allfiles_disp_trad

['G:\\My Drive\\Settlement\\1.-Resultado-dispersión\\2022\\01.-ENERO\\Dispersión-20220102.xlsx',
 'G:\\My Drive\\Settlement\\1.-Resultado-dispersión\\2022\\01.-ENERO\\Dispersión-20220101.xlsx',
 'G:\\My Drive\\Settlement\\1.-Resultado-dispersión\\2022\\01.-ENERO\\Dispersión-20220103.xlsx',
 'G:\\My Drive\\Settlement\\1.-Resultado-dispersión\\2022\\01.-ENERO\\Dispersión-20220104.xlsx',
 'G:\\My Drive\\Settlement\\1.-Resultado-dispersión\\2022\\01.-ENERO\\Dispersión-20220105.xlsx',
 'G:\\My Drive\\Settlement\\1.-Resultado-dispersión\\2022\\01.-ENERO\\Dispersión-20220106.xlsx',
 'G:\\My Drive\\Settlement\\1.-Resultado-dispersión\\2022\\01.-ENERO\\Dispersión-20220107.xlsx',
 'G:\\My Drive\\Settlement\\1.-Resultado-dispersión\\2022\\01.-ENERO\\Dispersión-20220108.xlsx',
 'G:\\My Drive\\Settlement\\1.-Resultado-dispersión\\2022\\01.-ENERO\\Dispersión-20220109.xlsx',
 'G:\\My Drive\\Settlement\\1.-Resultado-dispersión\\2022\\01.-ENERO\\Dispersión-20220110.xlsx',
 'G:\\My Drive\\Settlement\\1.-Resultado-dispersión\\2022\\01.-ENERO\\Dispersión-20220111.xlsx',
 'G:\\My Drive\\Settlement\\1.-Resultado-dispersión\\2022\\01.-ENERO\\Dispersión-20220112.xlsx',
 'G:\\My Drive\\Settlement\\1.-Resultado-dispersión\\2022\\01.-ENERO\\Dispersión-20220113.xlsx',
 'G:\\My Drive\\Settlement\\1.-Resultado-dispersión\\2022\\01.-ENERO\\Dispersión-20220114.xlsx',
 'G:\\My Drive\\Settlement\\1.-Resultado-dispersión\\2022\\01.-ENERO\\Dispersión-20220115.xlsx',
 'G:\\My Drive\\Settlement\\1.-Resultado-dispersión\\2022\\01.-ENERO\\Dispersión-20220116.xlsx',
 'G:\\My Drive\\Settlement\\1.-Resultado-dispersión\\2022\\01.-ENERO\\Dispersión-20220117.xlsx',
 'G:\\My Drive\\Settlement\\1.-Resultado-dispersión\\2022\\01.-ENERO\\Dispersión-20220118.xlsx',
 'G:\\My Drive\\Settlement\\1.-Resultado-dispersión\\2022\\01.-ENERO\\Dispersión-20220119.xlsx',
 'G:\\My Drive\\Settlement\\1.-Resultado-dispersión\\2022\\01.-ENERO\\Dispersión-20220120.xlsx',
 'G:\\My Drive\\Settlement\\1.-Resultado-dispersión\\2022\\01.-ENERO\\Dispersión-20220121.xlsx',
 'G:\\My Drive\\Settlement\\1.-Resultado-dispersión\\2022\\01.-ENERO\\Dispersión-20220122.xlsx',
 'G:\\My Drive\\Settlement\\1.-Resultado-dispersión\\2022\\01.-ENERO\\Dispersión-20220123.xlsx',
 'G:\\My Drive\\Settlement\\1.-Resultado-dispersión\\2022\\01.-ENERO\\Dispersión-20220124.xlsx',
 'G:\\My Drive\\Settlement\\1.-Resultado-dispersión\\2022\\01.-ENERO\\Dispersión-20220125.xlsx',
 'G:\\My Drive\\Settlement\\1.-Resultado-dispersión\\2022\\01.-ENERO\\Dispersión-20220126.xlsx',
 'G:\\My Drive\\Settlement\\1.-Resultado-dispersión\\2022\\01.-ENERO\\Dispersión-20220127.xlsx',
 'G:\\My Drive\\Settlement\\1.-Resultado-dispersión\\2022\\01.-ENERO\\Dispersión-20220128.xlsx',
 'G:\\My Drive\\Settlement\\1.-Resultado-dispersión\\2022\\01.-ENERO\\Dispersión-20220130.xlsx',
 'G:\\My Drive\\Settlement\\1.-Resultado-dispersión\\2022\\01.-ENERO\\Dispersión-20220129.xlsx',
 'G:\\My Drive\\Settlement\\1.-Resultado-dispersión\\2022\\01.-ENERO\\Dispersión-20220131.xlsx']

### FAST PAYMENTS

In [4]:
allfiles_fp = glob.glob(r'G:\My Drive\Settlement\1.-Resultado-dispersión\2022\01.-ENERO\Dispersión-FP*.xlsx',recursive=False)
allfiles_fp

['G:\\My Drive\\Settlement\\1.-Resultado-dispersión\\2022\\01.-ENERO\\Dispersión-FP 2022-01-17.xlsx',
 'G:\\My Drive\\Settlement\\1.-Resultado-dispersión\\2022\\01.-ENERO\\Dispersión-FP 2022-01-02.xlsx',
 'G:\\My Drive\\Settlement\\1.-Resultado-dispersión\\2022\\01.-ENERO\\Dispersión-FP 2022-01-01.xlsx',
 'G:\\My Drive\\Settlement\\1.-Resultado-dispersión\\2022\\01.-ENERO\\Dispersión-FP 2022-01-04.xlsx',
 'G:\\My Drive\\Settlement\\1.-Resultado-dispersión\\2022\\01.-ENERO\\Dispersión-FP 2022-01-03.xlsx',
 'G:\\My Drive\\Settlement\\1.-Resultado-dispersión\\2022\\01.-ENERO\\Dispersión-FP 2022-01-06.xlsx',
 'G:\\My Drive\\Settlement\\1.-Resultado-dispersión\\2022\\01.-ENERO\\Dispersión-FP 2022-01-05.xlsx',
 'G:\\My Drive\\Settlement\\1.-Resultado-dispersión\\2022\\01.-ENERO\\Dispersión-FP 2022-01-08.xlsx',
 'G:\\My Drive\\Settlement\\1.-Resultado-dispersión\\2022\\01.-ENERO\\Dispersión-FP 2022-01-09.xlsx',
 'G:\\My Drive\\Settlement\\1.-Resultado-dispersión\\2022\\01.-ENERO\\Dispersión-FP 2022-01-07.xlsx',
 'G:\\My Drive\\Settlement\\1.-Resultado-dispersión\\2022\\01.-ENERO\\Dispersión-FP 2022-01-10.xlsx',
 'G:\\My Drive\\Settlement\\1.-Resultado-dispersión\\2022\\01.-ENERO\\Dispersión-FP 2022-01-11.xlsx',
 'G:\\My Drive\\Settlement\\1.-Resultado-dispersión\\2022\\01.-ENERO\\Dispersión-FP 2022-01-12.xlsx',
 'G:\\My Drive\\Settlement\\1.-Resultado-dispersión\\2022\\01.-ENERO\\Dispersión-FP 2022-01-13.xlsx',
 'G:\\My Drive\\Settlement\\1.-Resultado-dispersión\\2022\\01.-ENERO\\Dispersión-FP 2022-01-16.xlsx',
 'G:\\My Drive\\Settlement\\1.-Resultado-dispersión\\2022\\01.-ENERO\\Dispersión-FP 2022-01-15.xlsx',
 'G:\\My Drive\\Settlement\\1.-Resultado-dispersión\\2022\\01.-ENERO\\Dispersión-FP 2022-01-14.xlsx',
 'G:\\My Drive\\Settlement\\1.-Resultado-dispersión\\2022\\01.-ENERO\\Dispersión-FP 2022-01-18.xlsx',
 'G:\\My Drive\\Settlement\\1.-Resultado-dispersión\\2022\\01.-ENERO\\Dispersión-FP 2022-01-19.xlsx',
 'G:\\My Drive\\Settlement\\1.-Resultado-dispersión\\2022\\01.-ENERO\\Dispersión-FP 2022-01-20.xlsx',
 'G:\\My Drive\\Settlement\\1.-Resultado-dispersión\\2022\\01.-ENERO\\Dispersión-FP 2022-01-21.xlsx',
 'G:\\My Drive\\Settlement\\1.-Resultado-dispersión\\2022\\01.-ENERO\\Dispersión-FP 2022-01-23.xlsx',
 'G:\\My Drive\\Settlement\\1.-Resultado-dispersión\\2022\\01.-ENERO\\Dispersión-FP 2022-01-22.xlsx',
 'G:\\My Drive\\Settlement\\1.-Resultado-dispersión\\2022\\01.-ENERO\\Dispersión-FP 2022-01-24.xlsx',
 'G:\\My Drive\\Settlement\\1.-Resultado-dispersión\\2022\\01.-ENERO\\Dispersión-FP 2022-01-25.xlsx',
 'G:\\My Drive\\Settlement\\1.-Resultado-dispersión\\2022\\01.-ENERO\\Dispersión-FP 2022-01-26.xlsx',
 'G:\\My Drive\\Settlement\\1.-Resultado-dispersión\\2022\\01.-ENERO\\Dispersión-FP 2022-01-27.xlsx',
 'G:\\My Drive\\Settlement\\1.-Resultado-dispersión\\2022\\01.-ENERO\\Dispersión-FP 2022-01-30.xlsx',
 'G:\\My Drive\\Settlement\\1.-Resultado-dispersión\\2022\\01.-ENERO\\Dispersión-FP 2022-01-29.xlsx',
 'G:\\My Drive\\Settlement\\1.-Resultado-dispersión\\2022\\01.-ENERO\\Dispersión-FP 2022-01-28.xlsx',
 'G:\\My Drive\\Settlement\\1.-Resultado-dispersión\\2022\\01.-ENERO\\Dispersión-FP 2022-01-31.xlsx']

# SWAP DEL DIA

In [5]:
swap_dia_total = pd.concat([pd.read_excel(f,sheet_name = 'Swap del día')
                            .assign(file_name=os.path.basename(f)) for f in allfiles_disp_trad])
swap_dia_total['Date'] = swap_dia_total["file_name"].str[-13:-5]
swap_dia_total['Date']= pd.to_datetime(swap_dia_total['Date'], format='%Y%m%d').dt.date
swap_dia_total['Date']= pd.to_datetime(swap_dia_total['Date'])
swap_dia_total.sort_values(by=['Date'],ascending=True,inplace=True)
swap_dia_total['report_date_local']= pd.to_datetime(swap_dia_total['report_date_local'])
swap_dia_total['month_conc'] = month_conc
swap_dia_total['year_conc'] = year_conc
swap_dia_total['month_report'] = swap_dia_total['report_date_local'].dt.strftime('%B')
swap_dia_total['year_report'] = swap_dia_total['report_date_local'].dt.year.astype(str)
swap_dia_total.head()

,merchant_id,merchant_name,user_email,report_id,report_date_local,total_due,tipo,bank,swap,CLABE,status,CEP,Banco_emisor,file_name,Date,month_conc,year_conc,month_report,year_report
31932,d2566fc6-7116-4c18-887a-78a71233ddc9,Six Gallardo Salinas,mercedsalinas_67@hotmail.com,59NCNYT88,2022-01-01,"1,523.13",Pago del día,BANAMEX,Merced Salinas Torres,2822701570933535,PAID,"2022-01-01,42644264202201011552310192,40072,40...",BANORTE,Dispersión-20220101.xlsx,2022-01-01,January,2022,January,2022
17098,ead926c5-7607-4c35-973f-3a61509452c8,El Parrillon,neto.12.de@gmail.com,W6MNBD64G,2022-01-01,730.47,Pago del día,BANCOPPEL,Luz Graciela Morales Rodriguez,137580104413039342,PAID,"2022-01-01,42644264202201011552282793,40072,40...",BANORTE,Dispersión-20220101.xlsx,2022-01-01,January,2022,January,2022
17099,eadbb8a5-b432-41cc-8945-7a398f8bd132,Farmacia Shekkinah II,jb.portilla@gmail.com,LNCRVG5BG,2022-01-01,990.82,Pago del día,AZTECA,Damaris Ortiz,127180016639155511,PAID,"2022-01-01,42644264202201011552296095,40072,40...",BANORTE,Dispersión-20220101.xlsx,2022-01-01,January,2022,January,2022
17100,eae02a15-ae4f-48e7-b1cd-69996809e226,servicio automotriz trejo,servicioauttrejo@gmail.com,VPHXFXT5T,2022-01-01,"5,461.97",Pago del día,AZTECA,Juan Carlos Trejo Moreno,127180001352088857,PAID,"2022-01-01,42644264202201011552308814,40072,40...",BANORTE,Dispersión-20220101.xlsx,2022-01-01,January,2022,January,2022
17101,eae08be1-425a-4136-ac42-d3379902e8ff,Micelanea Tamy,janyan059@gmail.com,RN7WF7SQD,2022-01-01,"1,868.56",Pago del día,BANCOPPEL,Janet Venegas,137180103854446607,PAID,"2022-01-01,42644264202201011552252900,40072,40...",BANORTE,Dispersión-20220101.xlsx,2022-01-01,January,2022,January,2022

In [6]:
swap_dia_total.shape

(2149264, 19)

In [7]:
swap_dia_total.dtypes

merchant_id                  object
merchant_name                object
user_email                   object
report_id                    object
report_date_local    datetime64[ns]
total_due                   float64
tipo                         object
bank                         object
swap                         object
CLABE                         int64
status                       object
CEP                          object
Banco_emisor                 object
file_name                    object
Date                 datetime64[ns]
month_conc                   object
year_conc                    object
month_report                 object
year_report                  object
dtype: object

In [8]:
pivot_total = pd.pivot_table(swap_dia_total,index=['Date'],values=['total_due'],aggfunc = ['sum', len],margins=True)
pivot_total.reset_index(drop=False, inplace=True)
pivot_total.head()

                  Date            sum       len
                            total_due total_due
0  2022-01-01 00:00:00 180,024,315.75 67,878.00
1  2022-01-02 00:00:00  93,772,306.59 28,145.00
2  2022-01-03 00:00:00 128,560,700.65 48,267.00
3  2022-01-04 00:00:00 147,790,425.19 67,937.00
4  2022-01-05 00:00:00 149,585,220.29 71,165.00

In [9]:
pivot_parcial = pd.pivot_table(swap_dia_total,index=['tipo','Date'],values=['total_due'],aggfunc = ['sum', len],margins=True)
pivot_parcial.reset_index(drop=False, inplace=True)
pivot_parcial.head()

           tipo       Date            sum       len
                                total_due total_due
0  Pago del día 2022-01-01 179,544,394.46 67,656.00
1  Pago del día 2022-01-02  93,175,536.64 27,809.00
2  Pago del día 2022-01-03 127,824,979.41 47,856.00
3  Pago del día 2022-01-04 146,381,375.67 67,111.00
4  Pago del día 2022-01-05 146,595,010.57 70,389.00

## CATEGORIZACIÓN DE REPROGRAMACIONES

In [10]:
swap_dia_total_repro = swap_dia_total[(swap_dia_total['tipo'] == 'Reprogramación')]
swap_dia_total_repro.head()

,merchant_id,merchant_name,user_email,report_id,report_date_local,total_due,tipo,bank,swap,CLABE,status,CEP,Banco_emisor,file_name,Date,month_conc,year_conc,month_report,year_report
18351,ef9bace2-6989-44fa-bed1-3c15705601e6,ALASBURGUER,Daniel.gzz26@hotmail.com,KRLQ9CKYC,2021-12-30,"4,356.20",Reprogramación,ASP INTEGRA OPC,Hugo Daniel Gonzalez Benavides,659802020000130745,PAID,"2022-01-01,42644264202201011552282505,40072,90...",BANORTE,Dispersión-20220101.xlsx,2022-01-01,January,2022,December,2021
14327,9e9d055f-5473-4cba-a792-3481176bf7de,Modelorama Puerta de Piedra,erimarquez17099025@iCloud.com,FMVVNMT8Y,2021-12-21,71.87,Reprogramación,BBVA BANCOMER,Erika Patricia Garcia Marquez,12180015320757790,PAID,"2022-01-01,42644264202201011552291284,40072,40...",BANORTE,Dispersión-20220101.xlsx,2022-01-01,January,2022,December,2021
16305,9898716f-c919-4a25-8e2c-4a45db19cd5b,Restaurant,marcelinogarnica87@gmail.com,6JSVSL9RG,2021-12-19,"1,892.52",Reprogramación,BANORTE/IXE,Marcelino Garnica Garcia,72290011741107358,PAID,COMPROBANTE MISMO BANCO BANORTE,BANORTE,Dispersión-20220101.xlsx,2022-01-01,January,2022,December,2021
16306,9898716f-c919-4a25-8e2c-4a45db19cd5b,Restaurant,marcelinogarnica87@gmail.com,7T7Y4BYJG,2021-12-22,316.22,Reprogramación,BANORTE/IXE,Marcelino Garnica Garcia,72290011741107358,PAID,COMPROBANTE MISMO BANCO BANORTE,BANORTE,Dispersión-20220101.xlsx,2022-01-01,January,2022,December,2021
16307,9898716f-c919-4a25-8e2c-4a45db19cd5b,Restaurant,marcelinogarnica87@gmail.com,LL67WFNJX,2021-12-25,383.30,Reprogramación,BANORTE/IXE,Marcelino Garnica Garcia,72290011741107358,PAID,COMPROBANTE MISMO BANCO BANORTE,BANORTE,Dispersión-20220101.xlsx,2022-01-01,January,2022,December,2021

In [11]:
swap_dia_total_repro.shape

(11940, 19)

In [12]:
swap_dia_total_repro.loc[(swap_dia_total_repro['tipo'] == 'Reprogramación')
                   & (swap_dia_total_repro['month_report'] == month_conc) 
                   & (swap_dia_total_repro['year_report'] == year_conc),'tipo_reprogramacion'] = 'repro_mismo_mes'
swap_dia_total_repro['tipo_reprogramacion'].fillna('repro_otro_mes',inplace=True)
swap_dia_total_repro.head()

C:\Users\Cristian.Aparicio\anaconda3\lib\site-packages\pandas\core\indexing.py:844: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[key] = _infer_fill_value(value)
C:\Users\Cristian.Aparicio\anaconda3\lib\site-packages\pandas\core\indexing.py:965: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s
C:\Users\Cristian.Aparicio\anaconda3\lib\site-packages\pandas\core\generic.py:6245: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._update_inplace(new_data)

,merchant_id,merchant_name,user_email,report_id,report_date_local,total_due,tipo,bank,swap,CLABE,status,CEP,Banco_emisor,file_name,Date,month_conc,year_conc,month_report,year_report,tipo_reprogramacion
18351,ef9bace2-6989-44fa-bed1-3c15705601e6,ALASBURGUER,Daniel.gzz26@hotmail.com,KRLQ9CKYC,2021-12-30,"4,356.20",Reprogramación,ASP INTEGRA OPC,Hugo Daniel Gonzalez Benavides,659802020000130745,PAID,"2022-01-01,42644264202201011552282505,40072,90...",BANORTE,Dispersión-20220101.xlsx,2022-01-01,January,2022,December,2021,repro_otro_mes
14327,9e9d055f-5473-4cba-a792-3481176bf7de,Modelorama Puerta de Piedra,erimarquez17099025@iCloud.com,FMVVNMT8Y,2021-12-21,71.87,Reprogramación,BBVA BANCOMER,Erika Patricia Garcia Marquez,12180015320757790,PAID,"2022-01-01,42644264202201011552291284,40072,40...",BANORTE,Dispersión-20220101.xlsx,2022-01-01,January,2022,December,2021,repro_otro_mes
16305,9898716f-c919-4a25-8e2c-4a45db19cd5b,Restaurant,marcelinogarnica87@gmail.com,6JSVSL9RG,2021-12-19,"1,892.52",Reprogramación,BANORTE/IXE,Marcelino Garnica Garcia,72290011741107358,PAID,COMPROBANTE MISMO BANCO BANORTE,BANORTE,Dispersión-20220101.xlsx,2022-01-01,January,2022,December,2021,repro_otro_mes
16306,9898716f-c919-4a25-8e2c-4a45db19cd5b,Restaurant,marcelinogarnica87@gmail.com,7T7Y4BYJG,2021-12-22,316.22,Reprogramación,BANORTE/IXE,Marcelino Garnica Garcia,72290011741107358,PAID,COMPROBANTE MISMO BANCO BANORTE,BANORTE,Dispersión-20220101.xlsx,2022-01-01,January,2022,December,2021,repro_otro_mes
16307,9898716f-c919-4a25-8e2c-4a45db19cd5b,Restaurant,marcelinogarnica87@gmail.com,LL67WFNJX,2021-12-25,383.30,Reprogramación,BANORTE/IXE,Marcelino Garnica Garcia,72290011741107358,PAID,COMPROBANTE MISMO BANCO BANORTE,BANORTE,Dispersión-20220101.xlsx,2022-01-01,January,2022,December,2021,repro_otro_mes

In [13]:
pivot_tipo_repro = pd.pivot_table(swap_dia_total_repro,index=['Date'],
                                  columns=['tipo_reprogramacion'],
                                  values=['total_due']
                                  ,aggfunc = ['sum', len],margins=True)
pivot_tipo_repro.reset_index(drop=False, inplace=True)
pivot_tipo_repro.head()

                                    Date             sum                 \
                                               total_due
tipo_reprogramacion                      repro_mismo_mes repro_otro_mes
0                    2022-01-01 00:00:00             nan     479,921.29
1                    2022-01-02 00:00:00        6,746.52     590,023.43
2                    2022-01-03 00:00:00       16,870.73     718,850.51
3                    2022-01-04 00:00:00      142,955.72   1,266,093.80
4                    2022-01-05 00:00:00    1,873,875.28   1,116,334.44

                                             len
                                       total_due
tipo_reprogramacion          All repro_mismo_mes repro_otro_mes    All
0                     479,921.29             nan         222.00 222.00
1                     596,769.95            6.00         330.00 336.00
2                     735,721.24           16.00         395.00 411.00
3                   1,409,049.52           54.00         772.00 826.00
4                   2,990,209.72          127.00         649.00 776.00

# FAST PAYMENTS

In [14]:
fp_dia_total = pd.concat([pd.read_excel(f,sheet_name='FAST PAYMENTS')
                          .assign(file_name=os.path.basename(f)) for f in allfiles_fp])
fp_dia_total['Date'] = fp_dia_total["file_name"].str[-15:-5]
fp_dia_total['Date']= pd.to_datetime(fp_dia_total['Date'])
fp_dia_total['report_date_local']= pd.to_datetime(fp_dia_total['report_date_local'])
fp_dia_total['month_conc'] = month_conc
fp_dia_total['year_conc'] = year_conc
fp_dia_total['month_report'] = fp_dia_total['report_date_local'].dt.strftime('%B')
fp_dia_total['year_report'] = fp_dia_total['report_date_local'].dt.year.astype(str)
fp_dia_total.head()

,merchant_id,merchant_name,user_email,report_id,report_date_local,total_due,tipo,bank,swap,CLABE,status,CEP,Time,Banco_emisor,file_name,Date,month_conc,year_conc,month_report,year_report
0,06c70dee-c5c6-4b39-b8bc-f1162232b079,MacGiver Burger,jose.luismtzv61@gmail.com,9CF8Y5RTZ,2022-01-17,"1,542.77",Pago del día,ASP INTEGRA OPC,Jose Luis Martinez Villarreal,659802020000327419,ERROR,NaN,09:00,BANAMEX,Dispersión-FP 2022-01-17.xlsx,2022-01-17,January,2022,January,2022
1,157a8795-a667-4d3d-8092-68d35d735a06,Super GS,enriquegranadossosa189@gmail.com,NJV7T969V,2022-01-17,465.22,Pago del día,ASP INTEGRA OPC,Enrique Granados Sosa,659802020000345255,ERROR,NaN,09:00,BANAMEX,Dispersión-FP 2022-01-17.xlsx,2022-01-17,January,2022,January,2022
2,1a09ceb7-827f-43e4-9c66-bcedf072f2f3,Le Pain,anton.soto@live.com.mx,ZJN4VQMPJ,2022-01-17,306.96,Pago del día,ASP INTEGRA OPC,Marco Antonio Lopez Soto,659802020000311441,ERROR,NaN,09:00,BANAMEX,Dispersión-FP 2022-01-17.xlsx,2022-01-17,January,2022,January,2022
3,1ddfb30c-5965-4980-999c-e12c7a8e3fe4,Paradise Rentals Tulum,vandenabeele_1997@hotmail.com,698HBNSZX,2022-01-17,"6,439.37",Pago del día,ASP INTEGRA OPC,MANUEL ANDRES MIJANGOS VANDENABEELE,659802020000035866,ERROR,NaN,09:00,BANAMEX,Dispersión-FP 2022-01-17.xlsx,2022-01-17,January,2022,January,2022
4,42d3c57a-79d0-4926-a1ae-ac8e71eb40b1,Tienda Torre 27,latiendaderamy@gmail.com,DHRPFLG99,2022-01-17,279.67,Pago del día,ASP INTEGRA OPC,Ramiro Ruvalcaba Lopez,659802020000409625,ERROR,NaN,09:00,BANAMEX,Dispersión-FP 2022-01-17.xlsx,2022-01-17,January,2022,January,2022

In [15]:
fp_dia_total.shape

(159332, 20)

In [16]:
fp_dia_total.dtypes

merchant_id                  object
merchant_name                object
user_email                   object
report_id                    object
report_date_local    datetime64[ns]
total_due                   float64
tipo                         object
bank                         object
swap                         object
CLABE                         int64
status                       object
CEP                          object
Time                         object
Banco_emisor                 object
file_name                    object
Date                 datetime64[ns]
month_conc                   object
year_conc                    object
month_report                 object
year_report                  object
dtype: object

In [17]:
pivot_fp_total = pd.pivot_table(fp_dia_total,index=['Date'],values=['total_due'],aggfunc = ['sum', len],margins=True)
pivot_fp_total.reset_index(drop=False, inplace=True)
pivot_fp_total.head()

                  Date          sum       len
                          total_due total_due
0  2022-01-01 00:00:00 1,912,759.44  2,629.00
1  2022-01-02 00:00:00 2,545,514.28  3,949.00
2  2022-01-03 00:00:00 3,250,246.98  4,896.00
3  2022-01-04 00:00:00 3,379,548.96  5,498.00
4  2022-01-05 00:00:00 3,208,405.14  5,260.00

In [18]:
pivot_fp_parcial = pd.pivot_table(fp_dia_total,index=['tipo','Date'],values=['total_due'],aggfunc = ['sum', len],margins=True)
pivot_fp_parcial.reset_index(drop=False, inplace=True)
pivot_fp_parcial.head()

           tipo       Date          sum       len
                              total_due total_due
0  Pago del día 2022-01-01 1,524,748.97  2,415.00
1  Pago del día 2022-01-02 2,213,946.41  3,655.00
2  Pago del día 2022-01-03 2,882,842.95  4,631.00
3  Pago del día 2022-01-04 2,846,084.41  4,789.00
4  Pago del día 2022-01-05 2,798,894.91  5,023.00

## CATEGORIZACIÓN DE REPROGRAMACIONES - FAST PAYMENTS

In [19]:
fp_dia_total_repro = fp_dia_total[(fp_dia_total['tipo'] == 'Reprogramación')]
fp_dia_total_repro.head()

,merchant_id,merchant_name,user_email,report_id,report_date_local,total_due,tipo,bank,swap,CLABE,status,CEP,Time,Banco_emisor,file_name,Date,month_conc,year_conc,month_report,year_report
14,cfcc996e-fb95-4b1c-b383-77481be432ca,Taxista,diazrarturo@gmail.com,TBFF8JTL3,2022-01-09,"14,686.95",Reprogramación,BBVA BANCOMER,Jorge Arturo Diaz Rodriguez,12180015593185319,ERROR,NaN,11:00,BANAMEX,Dispersión-FP 2022-01-17.xlsx,2022-01-17,January,2022,January,2022
365,5b8c247f-de20-40d8-8f67-cc46b5e315d7,Ropa Y Calzado Idali,ramirezpilladoalejandra@gmail.com,YTRCWVRCB,2021-11-27,440.79,Reprogramación,BANAMEX,Dinora idali Pillado Trejo,2766701167586260,PAID,COMPROBANTE MISMO BANCO BANAMEX,09:00,BANAMEX,Dispersión-FP 2022-01-17.xlsx,2022-01-17,January,2022,November,2021
366,5b8c247f-de20-40d8-8f67-cc46b5e315d7,Ropa Y Calzado Idali,ramirezpilladoalejandra@gmail.com,TQBXBBQSP,2021-11-28,862.42,Reprogramación,BANAMEX,Dinora idali Pillado Trejo,2766701167586260,PAID,COMPROBANTE MISMO BANCO BANAMEX,09:00,BANAMEX,Dispersión-FP 2022-01-17.xlsx,2022-01-17,January,2022,November,2021
367,5b8c247f-de20-40d8-8f67-cc46b5e315d7,Ropa Y Calzado Idali,ramirezpilladoalejandra@gmail.com,BF3RZQ9Z5,2021-12-18,"3,277.18",Reprogramación,BANAMEX,Dinora idali Pillado Trejo,2766701167586260,PAID,COMPROBANTE MISMO BANCO BANAMEX,09:00,BANAMEX,Dispersión-FP 2022-01-17.xlsx,2022-01-17,January,2022,December,2021
368,5b8c247f-de20-40d8-8f67-cc46b5e315d7,Ropa Y Calzado Idali,ramirezpilladoalejandra@gmail.com,77GNJH5C6,2021-12-23,95.82,Reprogramación,BANAMEX,Dinora idali Pillado Trejo,2766701167586260,PAID,COMPROBANTE MISMO BANCO BANAMEX,09:00,BANAMEX,Dispersión-FP 2022-01-17.xlsx,2022-01-17,January,2022,December,2021

In [20]:
fp_dia_total_repro.shape

(3593, 20)

In [21]:
fp_dia_total_repro.loc[(fp_dia_total_repro['tipo'] == 'Reprogramación')
                   & (fp_dia_total_repro['month_report'] == month_conc) 
                   & (fp_dia_total_repro['year_report'] == year_conc),'tipo_reprogramacion'] = 'repro_mismo_mes'
fp_dia_total_repro['tipo_reprogramacion'].fillna('repro_otro_mes',inplace=True)
fp_dia_total_repro.head()

C:\Users\Cristian.Aparicio\anaconda3\lib\site-packages\pandas\core\indexing.py:844: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[key] = _infer_fill_value(value)
C:\Users\Cristian.Aparicio\anaconda3\lib\site-packages\pandas\core\indexing.py:965: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s
C:\Users\Cristian.Aparicio\anaconda3\lib\site-packages\pandas\core\generic.py:6245: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._update_inplace(new_data)

,merchant_id,merchant_name,user_email,report_id,report_date_local,total_due,tipo,bank,swap,CLABE,...,CEP,Time,Banco_emisor,file_name,Date,month_conc,year_conc,month_report,year_report,tipo_reprogramacion
14,cfcc996e-fb95-4b1c-b383-77481be432ca,Taxista,diazrarturo@gmail.com,TBFF8JTL3,2022-01-09,"14,686.95",Reprogramación,BBVA BANCOMER,Jorge Arturo Diaz Rodriguez,12180015593185319,...,NaN,11:00,BANAMEX,Dispersión-FP 2022-01-17.xlsx,2022-01-17,January,2022,January,2022,repro_mismo_mes
365,5b8c247f-de20-40d8-8f67-cc46b5e315d7,Ropa Y Calzado Idali,ramirezpilladoalejandra@gmail.com,YTRCWVRCB,2021-11-27,440.79,Reprogramación,BANAMEX,Dinora idali Pillado Trejo,2766701167586260,...,COMPROBANTE MISMO BANCO BANAMEX,09:00,BANAMEX,Dispersión-FP 2022-01-17.xlsx,2022-01-17,January,2022,November,2021,repro_otro_mes
366,5b8c247f-de20-40d8-8f67-cc46b5e315d7,Ropa Y Calzado Idali,ramirezpilladoalejandra@gmail.com,TQBXBBQSP,2021-11-28,862.42,Reprogramación,BANAMEX,Dinora idali Pillado Trejo,2766701167586260,...,COMPROBANTE MISMO BANCO BANAMEX,09:00,BANAMEX,Dispersión-FP 2022-01-17.xlsx,2022-01-17,January,2022,November,2021,repro_otro_mes
367,5b8c247f-de20-40d8-8f67-cc46b5e315d7,Ropa Y Calzado Idali,ramirezpilladoalejandra@gmail.com,BF3RZQ9Z5,2021-12-18,"3,277.18",Reprogramación,BANAMEX,Dinora idali Pillado Trejo,2766701167586260,...,COMPROBANTE MISMO BANCO BANAMEX,09:00,BANAMEX,Dispersión-FP 2022-01-17.xlsx,2022-01-17,January,2022,December,2021,repro_otro_mes
368,5b8c247f-de20-40d8-8f67-cc46b5e315d7,Ropa Y Calzado Idali,ramirezpilladoalejandra@gmail.com,77GNJH5C6,2021-12-23,95.82,Reprogramación,BANAMEX,Dinora idali Pillado Trejo,2766701167586260,...,COMPROBANTE MISMO BANCO BANAMEX,09:00,BANAMEX,Dispersión-FP 2022-01-17.xlsx,2022-01-17,January,2022,December,2021,repro_otro_mes

In [22]:
pivot_tipo_repro_fp = pd.pivot_table(fp_dia_total_repro,index=['Date'],
                                  columns=['tipo_reprogramacion'],
                                  values=['total_due']
                                  ,aggfunc = ['sum', len],margins=True)
pivot_tipo_repro_fp.reset_index(drop=False, inplace=True)
pivot_tipo_repro_fp.head()

                                    Date             sum                 \
                                               total_due
tipo_reprogramacion                      repro_mismo_mes repro_otro_mes
0                    2022-01-01 00:00:00             nan     388,010.47
1                    2022-01-02 00:00:00             nan     331,567.87
2                    2022-01-03 00:00:00             nan     367,404.03
3                    2022-01-04 00:00:00             nan     533,464.55
4                    2022-01-05 00:00:00             nan     409,510.23

                                           len
                                     total_due
tipo_reprogramacion        All repro_mismo_mes repro_otro_mes    All
0                   388,010.47             nan         214.00 214.00
1                   331,567.87             nan         294.00 294.00
2                   367,404.03             nan         265.00 265.00
3                   533,464.55             nan         709.00 709.00
4                   409,510.23             nan         237.00 237.00

# EXCEL FINAL

In [23]:
writer = pd.ExcelWriter('FASE IV. REPROGRAMACIONES ENERO 2022.xlsx', engine='openpyxl', options={'encoding':'utf-8'})
pivot_total.to_excel(writer, sheet_name='SWAP DIA TOTAL')
pivot_parcial.to_excel(writer, sheet_name='SWAP DIA PARCIAL')
pivot_fp_total.to_excel(writer, sheet_name='FP TOTAL')
pivot_fp_parcial.to_excel(writer, sheet_name='FP PARCIAL')
pivot_tipo_repro.to_excel(writer, sheet_name='CATEGORIZACION REPRO')
pivot_tipo_repro_fp.to_excel(writer, sheet_name='CATEGORIZACION FP-REPRO')
writer.save()
writer.close()