In [1]:
import pandas as pd
import numpy as np
from openpyxl import load_workbook
import glob
import os
import datetime
pd.options.display.float_format = '{:,.2f}'.format
datetime.timedelta(days=1)
datetime.timedelta(1)

datetime.timedelta(days=1)

In [2]:
allfiles_adj = glob.glob(r'C:\Users\Cristian.Aparicio\Documents\POLIZAS\2023\09. SEPTIEMBRE\DATA\ADJ*.csv', recursive=False)
allfiles_adj

['C:\\Users\\Cristian.Aparicio\\Documents\\POLIZAS\\2023\\09. SEPTIEMBRE\\DATA\\ADJUSTMENTS - TEMPLATE - NULL.csv']

In [3]:
allfiles_ret = glob.glob(r'C:\Users\Cristian.Aparicio\Documents\POLIZAS\2023\09. SEPTIEMBRE\DATA\RET*.csv', recursive=False)
allfiles_ret

['C:\\Users\\Cristian.Aparicio\\Documents\\POLIZAS\\2023\\09. SEPTIEMBRE\\DATA\\RETENCIONES - TEMPLATE - NULL.csv']

In [4]:
allfiles_lib = glob.glob(r'C:\Users\Cristian.Aparicio\Documents\POLIZAS\2023\09. SEPTIEMBRE\DATA\LIB*.csv', recursive=False)
allfiles_lib

['C:\\Users\\Cristian.Aparicio\\Documents\\POLIZAS\\2023\\09. SEPTIEMBRE\\DATA\\LIBERACIONES - TEMPLATE - NULL.csv']

In [5]:
allfiles_com = sorted(glob.glob(r'G:\.shortcut-targets-by-id\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\3.-Settlement\5.-HISTORICO FILES PAGOS\01. TRADICIONAL\2023\09. SEPTEMBER\MONTOS EMAIL\*.csv', recursive=False))
allfiles_com

['G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\09. SEPTEMBER\\MONTOS EMAIL\\DIFF MONTOS-BNTE-1 2023-09-02.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\09. SEPTEMBER\\MONTOS EMAIL\\DIFF MONTOS-BNTE-1 2023-09-03.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\09. SEPTEMBER\\MONTOS EMAIL\\DIFF MONTOS-BNTE-1 2023-09-09.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\09. SEPTEMBER\\MONTOS EMAIL\\DIFF MONTOS-BNTE-1 2023-09-10.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\09. SEPTEMBER\\MONTOS EMAIL\\DIFF MONTOS-BNTE-1 2023-09-16.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\09. SEPTEMBER\\MONTOS EMAIL\\DIFF MONTOS-BNTE-1 2023-09-17.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\09. SEPTEMBER\\MONTOS EMAIL\\DIFF MONTOS-BNTE-1 2023-09-23.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\09. SEPTEMBER\\MONTOS EMAIL\\DIFF MONTOS-BNTE-1 2023-09-24.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\09. SEPTEMBER\\MONTOS EMAIL\\DIFF MONTOS-BNTE-1 2023-09-30.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\09. SEPTEMBER\\MONTOS EMAIL\\DIFF MONTOS-BNTE-2 2023-09-02.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\09. SEPTEMBER\\MONTOS EMAIL\\DIFF MONTOS-BNTE-2 2023-09-03.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\09. SEPTEMBER\\MONTOS EMAIL\\DIFF MONTOS-BNTE-2 2023-09-04.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\09. SEPTEMBER\\MONTOS EMAIL\\DIFF MONTOS-BNTE-2 2023-09-09.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\09. SEPTEMBER\\MONTOS EMAIL\\DIFF MONTOS-BNTE-2 2023-09-10.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\09. SEPTEMBER\\MONTOS EMAIL\\DIFF MONTOS-BNTE-2 2023-09-11.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\09. SEPTEMBER\\MONTOS EMAIL\\DIFF MONTOS-BNTE-2 2023-09-16.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\09. SEPTEMBER\\MONTOS EMAIL\\DIFF MONTOS-BNTE-2 2023-09-18.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\09. SEPTEMBER\\MONTOS EMAIL\\DIFF MONTOS-BNTE-2 2023-09-19.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\09. SEPTEMBER\\MONTOS EMAIL\\DIFF MONTOS-BNTE-2 2023-09-23.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\09. SEPTEMBER\\MONTOS EMAIL\\DIFF MONTOS-BNTE-2 2023-09-24.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\09. SEPTEMBER\\MONTOS EMAIL\\DIFF MONTOS-BNTE-2 2023-09-25.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\09. SEPTEMBER\\MONTOS EMAIL\\DIFF MONTOS-BNTE-2 2023-09-26.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\09. SEPTEMBER\\MONTOS EMAIL\\DIFF MONTOS-BNTE-2 2023-09-30.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\09. SEPTEMBER\\MONTOS EMAIL\\DIFF MONTOS-BNTE-3 2023-09-01.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\09. SEPTEMBER\\MONTOS EMAIL\\DIFF MONTOS-BNTE-3 2023-09-05.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\09. SEPTEMBER\\MONTOS EMAIL\\DIFF MONTOS-BNTE-3 2023-09-06.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\09. SEPTEMBER\\MONTOS EMAIL\\DIFF MONTOS-BNTE-3 2023-09-07.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\09. SEPTEMBER\\MONTOS EMAIL\\DIFF MONTOS-BNTE-3 2023-09-08.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\09. SEPTEMBER\\MONTOS EMAIL\\DIFF MONTOS-BNTE-3 2023-09-12.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\09. SEPTEMBER\\MONTOS EMAIL\\DIFF MONTOS-BNTE-3 2023-09-13.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\09. SEPTEMBER\\MONTOS EMAIL\\DIFF MONTOS-BNTE-3 2023-09-14.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\09. SEPTEMBER\\MONTOS EMAIL\\DIFF MONTOS-BNTE-3 2023-09-15.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\09. SEPTEMBER\\MONTOS EMAIL\\DIFF MONTOS-BNTE-3 2023-09-20.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\09. SEPTEMBER\\MONTOS EMAIL\\DIFF MONTOS-BNTE-3 2023-09-21.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\09. SEPTEMBER\\MONTOS EMAIL\\DIFF MONTOS-BNTE-3 2023-09-22.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\09. SEPTEMBER\\MONTOS EMAIL\\DIFF MONTOS-BNTE-3 2023-09-27.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\09. SEPTEMBER\\MONTOS EMAIL\\DIFF MONTOS-BNTE-3 2023-09-28.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\09. SEPTEMBER\\MONTOS EMAIL\\DIFF MONTOS-BNTE-3 2023-09-29.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\09. SEPTEMBER\\MONTOS EMAIL\\DIFF MONTOS-SANT-1 2023-09-01.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\09. SEPTEMBER\\MONTOS EMAIL\\DIFF MONTOS-SANT-1 2023-09-04.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\09. SEPTEMBER\\MONTOS EMAIL\\DIFF MONTOS-SANT-1 2023-09-05.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\09. SEPTEMBER\\MONTOS EMAIL\\DIFF MONTOS-SANT-1 2023-09-06.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\09. SEPTEMBER\\MONTOS EMAIL\\DIFF MONTOS-SANT-1 2023-09-07.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\09. SEPTEMBER\\MONTOS EMAIL\\DIFF MONTOS-SANT-1 2023-09-08.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\09. SEPTEMBER\\MONTOS EMAIL\\DIFF MONTOS-SANT-1 2023-09-11.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\09. SEPTEMBER\\MONTOS EMAIL\\DIFF MONTOS-SANT-1 2023-09-12.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\09. SEPTEMBER\\MONTOS EMAIL\\DIFF MONTOS-SANT-1 2023-09-13.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\09. SEPTEMBER\\MONTOS EMAIL\\DIFF MONTOS-SANT-1 2023-09-14.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\09. SEPTEMBER\\MONTOS EMAIL\\DIFF MONTOS-SANT-1 2023-09-15.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\09. SEPTEMBER\\MONTOS EMAIL\\DIFF MONTOS-SANT-1 2023-09-18.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\09. SEPTEMBER\\MONTOS EMAIL\\DIFF MONTOS-SANT-1 2023-09-19.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\09. SEPTEMBER\\MONTOS EMAIL\\DIFF MONTOS-SANT-1 2023-09-20.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\09. SEPTEMBER\\MONTOS EMAIL\\DIFF MONTOS-SANT-1 2023-09-21.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\09. SEPTEMBER\\MONTOS EMAIL\\DIFF MONTOS-SANT-1 2023-09-22.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\09. SEPTEMBER\\MONTOS EMAIL\\DIFF MONTOS-SANT-1 2023-09-25.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\09. SEPTEMBER\\MONTOS EMAIL\\DIFF MONTOS-SANT-1 2023-09-26.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\09. SEPTEMBER\\MONTOS EMAIL\\DIFF MONTOS-SANT-1 2023-09-27.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\09. SEPTEMBER\\MONTOS EMAIL\\DIFF MONTOS-SANT-1 2023-09-28.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\09. SEPTEMBER\\MONTOS EMAIL\\DIFF MONTOS-SANT-1 2023-09-29.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\09. SEPTEMBER\\MONTOS EMAIL\\DIFF MONTOS-SANT-2 2023-09-01.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\09. SEPTEMBER\\MONTOS EMAIL\\DIFF MONTOS-SANT-2 2023-09-05.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\09. SEPTEMBER\\MONTOS EMAIL\\DIFF MONTOS-SANT-2 2023-09-06.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\09. SEPTEMBER\\MONTOS EMAIL\\DIFF MONTOS-SANT-2 2023-09-07.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\09. SEPTEMBER\\MONTOS EMAIL\\DIFF MONTOS-SANT-2 2023-09-08.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\09. SEPTEMBER\\MONTOS EMAIL\\DIFF MONTOS-SANT-2 2023-09-12.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\09. SEPTEMBER\\MONTOS EMAIL\\DIFF MONTOS-SANT-2 2023-09-13.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\09. SEPTEMBER\\MONTOS EMAIL\\DIFF MONTOS-SANT-2 2023-09-14.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\09. SEPTEMBER\\MONTOS EMAIL\\DIFF MONTOS-SANT-2 2023-09-15.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\09. SEPTEMBER\\MONTOS EMAIL\\DIFF MONTOS-SANT-2 2023-09-20.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\09. SEPTEMBER\\MONTOS EMAIL\\DIFF MONTOS-SANT-2 2023-09-21.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\09. SEPTEMBER\\MONTOS EMAIL\\DIFF MONTOS-SANT-2 2023-09-22.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\09. SEPTEMBER\\MONTOS EMAIL\\DIFF MONTOS-SANT-2 2023-09-27.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\09. SEPTEMBER\\MONTOS EMAIL\\DIFF MONTOS-SANT-2 2023-09-28.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\09. SEPTEMBER\\MONTOS EMAIL\\DIFF MONTOS-SANT-2 2023-09-29.csv']

In [6]:
allfiles_lender = glob.glob(r'G:\My Drive\RESPALDO-PC\LENDERS\2023\DB\LEN*.csv', recursive=False)
allfiles_lender

['G:\\My Drive\\RESPALDO-PC\\LENDERS\\2023\\DB\\LENDERS DB ENERO 2023.csv',
 'G:\\My Drive\\RESPALDO-PC\\LENDERS\\2023\\DB\\LENDERS DB FEBRERO 2023.csv',
 'G:\\My Drive\\RESPALDO-PC\\LENDERS\\2023\\DB\\LENDERS DB MARZO 2023.csv',
 'G:\\My Drive\\RESPALDO-PC\\LENDERS\\2023\\DB\\LENDERS DB ABRIL 2023.csv',
 'G:\\My Drive\\RESPALDO-PC\\LENDERS\\2023\\DB\\LENDERS DB MAYO 2023.csv',
 'G:\\My Drive\\RESPALDO-PC\\LENDERS\\2023\\DB\\LENDERS DB JUNIO 2023.csv',
 'G:\\My Drive\\RESPALDO-PC\\LENDERS\\2023\\DB\\LENDERS DB JULIO 2023.csv',
 'G:\\My Drive\\RESPALDO-PC\\LENDERS\\2023\\DB\\LENDERS DB AGOSTO 2023.csv',
 'G:\\My Drive\\RESPALDO-PC\\LENDERS\\2023\\DB\\LENDERS DB SEPTIEMBRE 2023.csv']

In [7]:
start_date = '2023-09-01'
final_date = '2023-09-30'

# ADJUSTMENTS

In [8]:
adj_1 = pd.concat([pd.read_csv(f).assign(file_name=os.path.basename(f)) for f in allfiles_adj])
adj_1.head()

Empty DataFrame
Columns: [report_id, report_date_local, adjustment_date_local, adjustment_type, adjustment_amount, fees_charged, taxes, amount_due, type, date, file_name]
Index: []

In [9]:
adj_1.shape

(0, 11)

### CURRENT DATES

In [10]:
adj_current_month = adj_1[(adj_1['date'] >= start_date) & (adj_1['date'] <= final_date)]
adj_current_month.head()

Empty DataFrame
Columns: [report_id, report_date_local, adjustment_date_local, adjustment_type, adjustment_amount, fees_charged, taxes, amount_due, type, date, file_name]
Index: []

In [11]:
adj_current_month.shape

(0, 11)

### PIVOT

In [12]:
adj_pivot = adj_current_month.groupby(['type','adjustment_type','date']).agg({'adjustment_amount':sum
                                                                                ,'fees_charged':sum 
                                                                                ,'taxes':sum
                                                                                ,'amount_due':sum}).reset_index()
adj_pivot['adjustment_amount'] = adj_pivot['adjustment_amount']*-1 
adj_pivot['fees_charged'] = adj_pivot['fees_charged']*-1
adj_pivot['taxes'] = adj_pivot['taxes']*-1 
adj_pivot['amount_due'] = adj_pivot['amount_due']*-1 
adj_pivot.head()

Empty DataFrame
Columns: [type, adjustment_type, date, adjustment_amount, fees_charged, taxes, amount_due]
Index: []

In [13]:
adj_pivot_v2 = pd.pivot_table(adj_current_month,index=['type','date']
                              ,columns=['adjustment_type']
                              ,values=['adjustment_amount','fees_charged','taxes','amount_due']
                              ,aggfunc=np.sum,margins=True)
adj_pivot_v2.head()

Empty DataFrame
Columns: []
Index: []

# LIBERACIONES

In [14]:
lib_1 = pd.concat([pd.read_csv(f).assign(file_name=os.path.basename(f)) for f in allfiles_lib])
lib_1.head()

Empty DataFrame
Columns: [date_release, report_date_local, retained_date_local, report_id, entry_type, amount, type, file_name]
Index: []

### CURRENT DATES

In [15]:
lib_current_month = lib_1[(lib_1['report_date_local'] >= start_date) & (lib_1['report_date_local'] <= final_date)]
lib_current_month.head()

Empty DataFrame
Columns: [date_release, report_date_local, retained_date_local, report_id, entry_type, amount, type, file_name]
Index: []

In [16]:
lib_current_month.shape

(0, 8)

### PIVOT

In [17]:
lib_pivot = lib_current_month.groupby(['type','entry_type','report_date_local']).agg({'amount':sum}).reset_index()
lib_pivot.head()

Empty DataFrame
Columns: [type, entry_type, report_date_local, amount]
Index: []

In [18]:
lib_pivot.shape

(0, 4)

In [19]:
lib_pivot_v2 = pd.pivot_table(lib_current_month,index=['type','report_date_local']
                              ,columns=['entry_type']
                              ,values=['amount']
                              ,aggfunc=np.sum,margins=True)
lib_pivot_v2.head()

Empty DataFrame
Columns: []
Index: []

In [20]:
lib_pivot_v2.shape

(0, 0)

# RETENCIONES

In [21]:
ret_1 = pd.concat([pd.read_csv(f).assign(file_name=os.path.basename(f)) for f in allfiles_ret])
ret_1.head()

Empty DataFrame
Columns: [date_retainment, report_date_local, report_id, entry_type, amount, type, file_name]
Index: []

### CURRENT DATES

In [22]:
ret_current_month = ret_1[(ret_1['report_date_local'] >= start_date) & (ret_1['report_date_local'] <= final_date)]
ret_current_month.head()

Empty DataFrame
Columns: [date_retainment, report_date_local, report_id, entry_type, amount, type, file_name]
Index: []

In [23]:
ret_current_month.shape

(0, 7)

### PIVOT

In [24]:
ret_pivot = ret_current_month.groupby(['type','entry_type','report_date_local']).agg({'amount':sum}).reset_index()
ret_pivot.head()

Empty DataFrame
Columns: [type, entry_type, report_date_local, amount]
Index: []

In [25]:
ret_pivot.shape

(0, 4)

In [26]:
ret_pivot_v2 = pd.pivot_table(ret_current_month,index=['type','report_date_local']
                              ,columns=['entry_type']
                              ,values=['amount']
                              ,aggfunc=np.sum,margins=True)
ret_pivot_v2.head()

Empty DataFrame
Columns: []
Index: []

In [27]:
ret_pivot_v2.shape

(0, 0)

# COMISIONES SWAP / BNTE

In [28]:
com_1 = pd.concat([pd.read_csv(f).assign(file_name=os.path.basename(f)) for f in allfiles_com])
com_1.head()

,date_disbursement,amount,payments_number,comision_dsp,iva_dsp,comision + iva,total_fondeo,monto_mail,comision_mail,iva_mail,monto_fondeo_mail,check_monto,check_comision,check_iva,check_fondeo,dsp,file_name
0,2023-09-02,"215,813,429.44",94705,"164,641.50","26,342.64","190,984.14","216,004,413.58","215,813,429.44","164,641.50","26,342.64","216,004,413.58",0.00,0.00,0.00,-0.00,BNTE,DIFF MONTOS-BNTE-1 2023-09-02.csv
0,2023-09-03,"241,038,769.01",94688,"164,758.65","26,361.38","191,120.03","241,229,889.04","241,038,769.01","164,758.65","26,361.38","241,229,889.04",0.00,0.00,0.00,0.00,BNTE,DIFF MONTOS-BNTE-1 2023-09-03.csv
0,2023-09-09,"210,460,153.06",94706,"164,642.55","26,342.81","190,985.36","210,651,138.42","210,460,153.06","164,642.55","26,342.81","210,651,138.42",0.00,0.00,-0.00,-0.00,BNTE,DIFF MONTOS-BNTE-1 2023-09-09.csv
0,2023-09-10,"236,493,609.08",94710,"164,735.25","26,357.64","191,092.89","236,684,701.97","236,493,609.08","164,735.25","26,357.64","236,684,701.97",0.00,0.00,0.00,0.00,BNTE,DIFF MONTOS-BNTE-1 2023-09-10.csv
0,2023-09-16,"217,031,271.13",94725,"164,660.25","26,345.64","191,005.89","217,222,277.02","217,031,271.13","164,660.25","26,345.64","217,222,277.02",0.00,0.00,0.00,-0.00,BNTE,DIFF MONTOS-BNTE-1 2023-09-16.csv

In [29]:
com_1.shape

(74, 17)

### CURRENT DATES

In [30]:
com_current_month = com_1[(com_1['date_disbursement'] >= start_date) & (com_1['date_disbursement'] <= final_date)]
com_current_month.head()

,date_disbursement,amount,payments_number,comision_dsp,iva_dsp,comision + iva,total_fondeo,monto_mail,comision_mail,iva_mail,monto_fondeo_mail,check_monto,check_comision,check_iva,check_fondeo,dsp,file_name
0,2023-09-02,"215,813,429.44",94705,"164,641.50","26,342.64","190,984.14","216,004,413.58","215,813,429.44","164,641.50","26,342.64","216,004,413.58",0.00,0.00,0.00,-0.00,BNTE,DIFF MONTOS-BNTE-1 2023-09-02.csv
0,2023-09-03,"241,038,769.01",94688,"164,758.65","26,361.38","191,120.03","241,229,889.04","241,038,769.01","164,758.65","26,361.38","241,229,889.04",0.00,0.00,0.00,0.00,BNTE,DIFF MONTOS-BNTE-1 2023-09-03.csv
0,2023-09-09,"210,460,153.06",94706,"164,642.55","26,342.81","190,985.36","210,651,138.42","210,460,153.06","164,642.55","26,342.81","210,651,138.42",0.00,0.00,-0.00,-0.00,BNTE,DIFF MONTOS-BNTE-1 2023-09-09.csv
0,2023-09-10,"236,493,609.08",94710,"164,735.25","26,357.64","191,092.89","236,684,701.97","236,493,609.08","164,735.25","26,357.64","236,684,701.97",0.00,0.00,0.00,0.00,BNTE,DIFF MONTOS-BNTE-1 2023-09-10.csv
0,2023-09-16,"217,031,271.13",94725,"164,660.25","26,345.64","191,005.89","217,222,277.02","217,031,271.13","164,660.25","26,345.64","217,222,277.02",0.00,0.00,0.00,-0.00,BNTE,DIFF MONTOS-BNTE-1 2023-09-16.csv

In [31]:
com_current_month.shape

(74, 17)

In [32]:
com_current_month.columns

Index(['date_disbursement', 'amount', 'payments_number', 'comision_dsp',
       'iva_dsp', 'comision + iva', 'total_fondeo', 'monto_mail',
       'comision_mail', 'iva_mail', 'monto_fondeo_mail', 'check_monto',
       'check_comision', 'check_iva', 'check_fondeo', 'dsp', 'file_name'],
      dtype='object')

In [33]:
com_final = com_current_month.groupby(['date_disbursement']).agg({'payments_number':sum,'amount':sum,'comision_dsp':sum,
                                                                  'iva_dsp':sum,'comision + iva':sum,'total_fondeo':sum,
                                                                 'monto_mail':sum,'comision_mail':sum,'iva_mail':sum,
                                                                 'monto_fondeo_mail':sum,'check_monto':sum,'check_comision':sum,
                                                                 'check_iva':sum,'check_fondeo':sum}).reset_index()
com_final.head()

,date_disbursement,payments_number,amount,comision_dsp,iva_dsp,comision + iva,total_fondeo,monto_mail,comision_mail,iva_mail,monto_fondeo_mail,check_monto,check_comision,check_iva,check_fondeo
0,2023-09-01,107524,"233,385,520.82","54,743.20","8,758.91","63,502.11","233,449,022.93","233,385,520.82","54,743.20","8,758.91","233,449,022.93",0.00,0.00,0.00,0.00
1,2023-09-02,112989,"258,890,877.78","196,465.95","31,434.55","227,900.50","259,118,778.28","258,890,877.78","196,465.95","31,434.55","259,118,778.28",0.00,0.00,0.00,0.00
2,2023-09-03,112221,"284,738,207.63","195,235.80","31,237.73","226,473.53","284,964,681.16","284,738,207.63","195,235.80","31,237.72","284,964,681.15",0.00,0.00,0.01,0.01
3,2023-09-04,79643,"198,406,489.78","40,620.05","6,499.21","47,119.26","198,453,609.04","198,406,489.78","40,620.05","6,499.21","198,453,609.04",0.00,0.00,-0.00,-0.00
4,2023-09-05,98012,"199,434,152.88","49,653.20","7,944.51","57,597.71","199,491,750.59","199,434,152.88","49,653.20","7,944.51","199,491,750.59",-0.00,0.00,0.00,0.00

# LENDERS

In [34]:
lender_1 = pd.concat([pd.read_csv(f).assign(file_name=os.path.basename(f)) for f in allfiles_lender])
lender_1.columns = lender_1.columns.str.strip().str.lower() 
lender_1.head()

,collection_date_local,merchant_token,merchant_id,loan_id,provider_code,collection_origin,source,amount,capital,interest,tax,file_name
0,2023-01-01,d8d8f9b2-0585-48e0-8d1f-e3bbf4766fbe,30a435af-3c57-4063-bf36-735f5731b179,df0ca1c8-0193-426c-8a32-c164b5ca715e,MRP,SETTLEMENT,LEDGER,23.05,16.60,6.45,0.00,LENDERS DB ENERO 2023.csv
1,2023-01-01,c4bad384-1718-4f7f-980e-910738bf4c79,0ace4fbe-6ab7-4e7f-a6b0-2a1bb8d6171a,45e17b07-8134-4e21-8aa8-2f90b4df9f37,CTO,SETTLEMENT,LEDGER,18.66,12.74,5.10,0.82,LENDERS DB ENERO 2023.csv
2,2023-01-01,1592f594-8416-447e-a316-ffc57ea7596f,0614af35-a0b4-4774-ae6f-4eef4238b915,2df0924e-4f58-46c5-8ec1-32a1beec4d49,MRP,SETTLEMENT,LEDGER,98.65,71.03,27.62,0.00,LENDERS DB ENERO 2023.csv
3,2023-01-01,fa8ee41a-394c-4506-b450-9f8a048a3cfc,789ef894-8d9d-48cb-a20a-0860a44d4a1e,935289b5-6689-4a98-af7f-d91e1a399533,MRP,SETTLEMENT,LEDGER,55.43,41.57,13.86,0.00,LENDERS DB ENERO 2023.csv
4,2023-01-01,41d8b68d-d496-48bd-9d2e-d3bfe8a4628e,5fab90f8-faf0-48a8-9065-e67b2cde2abe,d4ee526d-2a99-406b-95d3-309ee8d7f84b,MRP,SETTLEMENT,LEDGER,16.44,13.48,2.96,0.00,LENDERS DB ENERO 2023.csv

In [35]:
lender_1.shape

(6417299, 12)

In [36]:
lender_1['source'].unique()

array(['LEDGER', 'REGULAR', 'FAST_PAYMENT'], dtype=object)

### CURRENT DATES

In [37]:
lender_current_month = lender_1[(lender_1['collection_date_local'] >= start_date) &
                                (lender_1['collection_date_local'] <= final_date)]
lender_current_month.head()

,collection_date_local,merchant_token,merchant_id,loan_id,provider_code,collection_origin,source,amount,capital,interest,tax,file_name
0,2023-09-01,77b6c0f5-625b-42bc-8566-7513ab957821,2233514e-a2d8-4229-9e3d-ce80b88c0d44,219d9bf7-9007-4dc3-bc79-57930602c410,MRP,SETTLEMENT,LEDGER,34.86,24.95,9.91,0.00,LENDERS DB SEPTIEMBRE 2023.csv
1,2023-09-01,5c26033c-7764-48ba-b9be-4e185ce8e3a8,d2298275-76ff-4ed4-95e8-db0804e09cca,21c9dc53-0d9f-4e08-b369-49bf2a80125c,MRP,SETTLEMENT,LEDGER,12.27,8.37,3.36,0.54,LENDERS DB SEPTIEMBRE 2023.csv
2,2023-09-01,5c26033c-7764-48ba-b9be-4e185ce8e3a8,d2298275-76ff-4ed4-95e8-db0804e09cca,21c9dc53-0d9f-4e08-b369-49bf2a80125c,MRP,SETTLEMENT,LEDGER,11.59,7.91,3.17,0.51,LENDERS DB SEPTIEMBRE 2023.csv
3,2023-09-01,5c26033c-7764-48ba-b9be-4e185ce8e3a8,d2298275-76ff-4ed4-95e8-db0804e09cca,21c9dc53-0d9f-4e08-b369-49bf2a80125c,MRP,SETTLEMENT,LEDGER,11.59,7.91,3.17,0.51,LENDERS DB SEPTIEMBRE 2023.csv
4,2023-09-01,5c26033c-7764-48ba-b9be-4e185ce8e3a8,d2298275-76ff-4ed4-95e8-db0804e09cca,21c9dc53-0d9f-4e08-b369-49bf2a80125c,MRP,SETTLEMENT,LEDGER,27.60,18.84,7.55,1.21,LENDERS DB SEPTIEMBRE 2023.csv

In [38]:
lender_current_month.shape

(940461, 12)

In [39]:
lender_current_month['provider_code'].unique()

array(['MRP', 'R2', 'AVL', 'CLIP', 'APH', 'CTO'], dtype=object)

### PIVOT CLIP

In [40]:
lender_clip = lender_current_month[(lender_current_month['provider_code'] == 'CLIP')]

In [41]:
# lender_pivot_clip_1 = lender_clip.groupby(['Creation Date','Date']).agg({'Collected today':sum,'Capital today':sum
#                                                                        ,'Interests today':sum,'IVA Interests today':sum
#                                                                        ,'Overdue Interest today':sum,'Total today':sum
#                                                                        ,'CLIP Revenue today':sum}).reset_index()
# lender_pivot_clip_1.head()

In [42]:
# lender_pivot_clip_1.shape

In [43]:
lender_pivot_clip_2 = lender_clip.groupby(['collection_date_local']).agg({'amount':sum,'capital':sum,'interest':sum
                                                 ,'tax':sum}).reset_index()
lender_pivot_clip_2.head()

  collection_date_local    amount   capital  interest      tax
0            2023-09-01 20,959.34 15,286.35  4,890.47   782.52
1            2023-09-02 21,028.73 15,525.98  4,743.71   759.04
2            2023-09-03 22,474.65 16,730.37  4,951.96   792.32
3            2023-09-04 22,885.96 17,092.98  4,993.87   799.11
4            2023-09-05 30,326.71 22,267.45  6,947.56 1,111.70

In [44]:
lender_pivot_clip_2.shape

(30, 5)

### PIVOT OTHERS

In [45]:
lender_others = lender_current_month[(lender_current_month['provider_code'] != 'CLIP')]

In [46]:
lender_pivot_others = lender_others.groupby(['collection_date_local']).agg({'amount':sum,'capital':sum,'interest':sum
                                                 ,'tax':sum}).reset_index()
lender_pivot_others.head()

  collection_date_local       amount      capital   interest       tax
0            2023-09-01 2,248,350.82 1,668,991.42 500,532.81 78,826.59
1            2023-09-02 2,652,984.07 1,973,174.55 587,615.92 92,193.60
2            2023-09-03 1,888,682.49 1,406,909.22 416,487.38 65,285.89
3            2023-09-04 1,485,841.44 1,100,116.36 333,371.63 52,353.45
4            2023-09-05 1,516,397.82 1,124,756.15 338,258.90 53,382.77

In [47]:
lender_pivot_others.shape

(30, 5)

# EXCEL FINAL

In [48]:
writer = pd.ExcelWriter('FASE II. DATA POLIZA SEPTIEMBRE 2023.xlsx',
                        engine='xlsxwriter',
                        engine_kwargs={'options': {'encoding':'utf-8'}})
lender_pivot_clip_2.to_excel(writer, sheet_name='DATA LENDER CLIP',index=False)
# lender_pivot_clip_1.to_excel(writer, sheet_name='DATA LENDER CLIP CREATION DATE',index=False)
lender_pivot_others.to_excel(writer, sheet_name='DATA LENDER OTHERS',index=False)
adj_pivot.to_excel(writer, sheet_name='DATA ADJUSTMENTS',index=False)
# lib_pivot_v2.to_excel(writer, sheet_name='DATA LIBERACIONES')
# ret_pivot_v2.to_excel(writer, sheet_name='DATA RETENCIONES')
com_final.to_excel(writer, sheet_name='DATA COMISIONES',index=False)
writer.close()