In [1]:
import pandas as pd
import numpy as np
from openpyxl import load_workbook
import glob
import os
import datetime
pd.options.display.float_format = '{:,.2f}'.format
datetime.timedelta(days=1)
datetime.timedelta(1)

datetime.timedelta(days=1)

# SETTLEMENT

In [2]:
start_date = '2022-08-31'
final_date = '2022-08-31'

In [3]:
allfiles_settled = glob.glob(r'C:\Users\Cristian.Aparicio\Documents\DISPERSIONES\2022\08. AGOSTO\QUERIES\*.csv', recursive=False)
allfiles_settled

['C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\08. AGOSTO\\QUERIES\\SETTLEMENT 2022-07-30.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\08. AGOSTO\\QUERIES\\SETTLEMENT 2022-07-31.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\08. AGOSTO\\QUERIES\\SETTLEMENT 2022-08-01.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\08. AGOSTO\\QUERIES\\SETTLEMENT 2022-08-02.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\08. AGOSTO\\QUERIES\\SETTLEMENT 2022-08-03.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\08. AGOSTO\\QUERIES\\SETTLEMENT 2022-08-04.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\08. AGOSTO\\QUERIES\\SETTLEMENT 2022-08-05.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\08. AGOSTO\\QUERIES\\SETTLEMENT 2022-08-06.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\08. AGOSTO\\QUERIES\\SETTLEMENT 2022-08-07.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\08. AGOSTO\\QUERIES\\SETTLEMENT 2022-08-08.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\08. AGOSTO\\QUERIES\\SETTLEMENT 2022-08-09.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\08. AGOSTO\\QUERIES\\SETTLEMENT 2022-08-10.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\08. AGOSTO\\QUERIES\\SETTLEMENT 2022-08-11.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\08. AGOSTO\\QUERIES\\SETTLEMENT 2022-08-12.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\08. AGOSTO\\QUERIES\\SETTLEMENT 2022-08-13.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\08. AGOSTO\\QUERIES\\SETTLEMENT 2022-08-14.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\08. AGOSTO\\QUERIES\\SETTLEMENT 2022-08-15.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\08. AGOSTO\\QUERIES\\SETTLEMENT 2022-08-16.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\08. AGOSTO\\QUERIES\\SETTLEMENT 2022-08-17.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\08. AGOSTO\\QUERIES\\SETTLEMENT 2022-08-18.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\08. AGOSTO\\QUERIES\\SETTLEMENT 2022-08-19.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\08. AGOSTO\\QUERIES\\SETTLEMENT 2022-08-20.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\08. AGOSTO\\QUERIES\\SETTLEMENT 2022-08-21.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\08. AGOSTO\\QUERIES\\SETTLEMENT 2022-08-22.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\08. AGOSTO\\QUERIES\\SETTLEMENT 2022-08-23.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\08. AGOSTO\\QUERIES\\SETTLEMENT 2022-08-24.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\08. AGOSTO\\QUERIES\\SETTLEMENT 2022-08-25.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\08. AGOSTO\\QUERIES\\SETTLEMENT 2022-08-26.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\08. AGOSTO\\QUERIES\\SETTLEMENT 2022-08-27.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\08. AGOSTO\\QUERIES\\SETTLEMENT 2022-08-28.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\08. AGOSTO\\QUERIES\\SETTLEMENT 2022-08-29.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\08. AGOSTO\\QUERIES\\SETTLEMENT 2022-08-30.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\08. AGOSTO\\QUERIES\\SETTLEMENT 2022-08-31.csv']

In [4]:
settled = pd.concat([pd.read_csv(f).assign(file_name=os.path.basename(f)) for f in allfiles_settled])
settled['Date_file'] = settled["file_name"].str[-14:-4]
settled['Date_file']= pd.to_datetime(settled['Date_file'])
settled['report_date_local']= pd.to_datetime(settled['report_date_local'])

C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_17580\1803293925.py:1: DtypeWarning: Columns (18) have mixed types. Specify dtype option on import or set low_memory=False.
  settled = pd.concat([pd.read_csv(f).assign(file_name=os.path.basename(f)) for f in allfiles_settled])
C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_17580\1803293925.py:1: DtypeWarning: Columns (18) have mixed types. Specify dtype option on import or set low_memory=False.
  settled = pd.concat([pd.read_csv(f).assign(file_name=os.path.basename(f)) for f in allfiles_settled])
C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_17580\1803293925.py:1: DtypeWarning: Columns (18) have mixed types. Specify dtype option on import or set low_memory=False.
  settled = pd.concat([pd.read_csv(f).assign(file_name=os.path.basename(f)) for f in allfiles_settled])
C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_17580\1803293925.py:1: DtypeWarning: Columns (18) have mixed types. Specify dtype option on import or set low_memory=False.
  settled = pd.concat([pd.read_csv(f).assign(file_name=os.path.basename(f)) for f in allfiles_settled])
C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_17580\1803293925.py:1: DtypeWarning: Columns (18) have mixed types. Specify dtype option on import or set low_memory=False.
  settled = pd.concat([pd.read_csv(f).assign(file_name=os.path.basename(f)) for f in allfiles_settled])
C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_17580\1803293925.py:1: DtypeWarning: Columns (18) have mixed types. Specify dtype option on import or set low_memory=False.
  settled = pd.concat([pd.read_csv(f).assign(file_name=os.path.basename(f)) for f in allfiles_settled])
C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_17580\1803293925.py:1: DtypeWarning: Columns (18) have mixed types. Specify dtype option on import or set low_memory=False.
  settled = pd.concat([pd.read_csv(f).assign(file_name=os.path.basename(f)) for f in allfiles_settled])
C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_17580\1803293925.py:1: DtypeWarning: Columns (18) have mixed types. Specify dtype option on import or set low_memory=False.
  settled = pd.concat([pd.read_csv(f).assign(file_name=os.path.basename(f)) for f in allfiles_settled])
C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_17580\1803293925.py:1: DtypeWarning: Columns (18) have mixed types. Specify dtype option on import or set low_memory=False.
  settled = pd.concat([pd.read_csv(f).assign(file_name=os.path.basename(f)) for f in allfiles_settled])
C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_17580\1803293925.py:1: DtypeWarning: Columns (18) have mixed types. Specify dtype option on import or set low_memory=False.
  settled = pd.concat([pd.read_csv(f).assign(file_name=os.path.basename(f)) for f in allfiles_settled])
C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_17580\1803293925.py:1: DtypeWarning: Columns (18) have mixed types. Specify dtype option on import or set low_memory=False.
  settled = pd.concat([pd.read_csv(f).assign(file_name=os.path.basename(f)) for f in allfiles_settled])

In [5]:
settled.reset_index(inplace=True)
settled.drop(['index'],axis=1,inplace=True)
settled.head()

,merchant_id,merchant_name,user_email,report_id,report_date_local,total_transactions,total_fees_charged,total_taxes,applied_fees_benefits,applied_taxes_benefits,...,total_retained,tipopago,total_due,type,created_date,created_time,updated_date,updated_time,file_name,Date_file
0,fb7b00dc-34fd-4315-a707-f2f2cc0af11c,CASA MANCINAS,luis.albertomancinas@gmail.com,6MJRGK858,2022-07-30,"15,550.00",559.80,89.56,0.00,0.00,...,0.00,NaN,"14,900.64",DAILY,2022-07-30,02:00:34,2022-07-30,02:00:34,SETTLEMENT 2022-07-30.csv,2022-07-30
1,a09a033a-d358-4edb-8075-6d62f8448349,LA LUPANA,guadalu7@yahoo.com.mx,HQH9P39WX,2022-07-30,60.00,2.16,0.35,0.00,0.00,...,0.00,NaN,57.49,DAILY,2022-07-30,02:00:34,2022-07-30,02:00:34,SETTLEMENT 2022-07-30.csv,2022-07-30
2,98cfac80-6c04-4478-a933-c54c3efaff52,ABARROTES ABY,samuel041267@gmail.com,JCRY77N79,2022-07-30,210.00,7.56,1.21,0.00,0.00,...,0.00,NaN,201.23,DAILY,2022-07-30,02:00:34,2022-07-30,02:00:34,SETTLEMENT 2022-07-30.csv,2022-07-30
3,c62a160d-4af9-431b-8244-70ccb4ebb0a5,PISOS LAMINADOS Y MARMOL VR,dorisjanirmaro@gmail.com,MGH595J2N,2022-07-30,784.50,28.24,4.51,0.00,0.00,...,0.00,NaN,751.75,DAILY,2022-07-30,02:00:34,2022-07-30,02:00:34,SETTLEMENT 2022-07-30.csv,2022-07-30
4,4687b447-e395-4b0e-8d24-509ec18cf7a6,GORDITAS MI TIA ROSI,pam9057.s@gmail.com,Z95VT9Z6D,2022-07-30,427.50,15.39,2.46,0.00,0.00,...,0.00,NaN,409.65,DAILY,2022-07-30,02:00:34,2022-07-30,02:00:34,SETTLEMENT 2022-07-30.csv,2022-07-30

In [6]:
settled.shape

(2965710, 27)

### CURRENT MONTH

In [7]:
settled_current_month = settled[(settled['report_date_local'] >= start_date) & (settled['report_date_local'] <= final_date)]
settled_current_month.head()

,merchant_id,merchant_name,user_email,report_id,report_date_local,total_transactions,total_fees_charged,total_taxes,applied_fees_benefits,applied_taxes_benefits,...,total_retained,tipopago,total_due,type,created_date,created_time,updated_date,updated_time,file_name,Date_file
2875694,98cfac80-6c04-4478-a933-c54c3efaff52,ABARROTES ABY,samuel041267@gmail.com,494ZK88YK,2022-08-31,268.00,9.65,1.54,0.00,0.00,...,0.00,NaN,256.81,DAILY,2022-08-31,02:00:30,2022-08-31,02:00:30,SETTLEMENT 2022-08-31.csv,2022-08-31
2875695,82d8f28f-82ce-48fb-ad7d-1a05633356a5,TRAGONA FONDA,j_mizael26@hotmail.com,5L3DDCVNX,2022-08-31,196.00,7.06,1.13,0.00,0.00,...,0.00,NaN,187.81,DAILY,2022-08-31,02:00:30,2022-08-31,02:00:30,SETTLEMENT 2022-08-31.csv,2022-08-31
2875696,8046ed39-33ab-4222-ae2d-02d20bfade5f,ODONTOLOGIA,odontologyhealth8@gmail.com,6FXC2Q59B,2022-08-31,500.00,18.00,2.88,0.00,0.00,...,0.00,NaN,479.12,DAILY,2022-08-31,02:00:30,2022-08-31,02:00:30,SETTLEMENT 2022-08-31.csv,2022-08-31
2875697,88a522b1-8d67-45fd-8c68-3531a62bdf58,DISTRIBUIDOR AUTORIZADO ROYAL PRESTIGE,estefanylorenz@gmail.com,8KXFS2LGQ,2022-08-31,"48,480.00","7,538.65","1,206.18",0.00,0.00,...,0.00,NaN,"39,735.17",DAILY,2022-08-31,02:00:30,2022-08-31,02:00:30,SETTLEMENT 2022-08-31.csv,2022-08-31
2875698,a09a033a-d358-4edb-8075-6d62f8448349,LA LUPANA,guadalu7@yahoo.com.mx,JT2JL7KP6,2022-08-31,235.00,8.46,1.35,0.00,0.00,...,0.00,NaN,225.19,DAILY,2022-08-31,02:00:30,2022-08-31,02:00:30,SETTLEMENT 2022-08-31.csv,2022-08-31

In [8]:
settled_current_month.shape

(90016, 27)

In [9]:
settled_current_month.dtypes

merchant_id                              object
merchant_name                            object
user_email                               object
report_id                                object
report_date_local                datetime64[ns]
total_transactions                      float64
total_fees_charged                      float64
total_taxes                             float64
applied_fees_benefits                   float64
applied_taxes_benefits                  float64
fee_direct_deposit                      float64
taxes_direct_deposit                    float64
total_adjustments                       float64
total_adjustment_fees_charged           float64
total_adjustment_taxes                  float64
cobranza                                float64
total_released                          float64
total_retained                          float64
tipopago                                 object
total_due                               float64
type                                     object
created_date                             object
created_time                             object
updated_date                             object
updated_time                             object
file_name                                object
Date_file                        datetime64[ns]
dtype: object

In [10]:
# def next_date(settled_current_month):
#     if settled_current_month['updated_time'] >= '20:00:00':
#         return settled_current_month['report_date_local'] + datetime.timedelta(days=1)
#     else:
#         return settled_current_month['report_date_local']
    
# settled_current_month['poliza_date'] = settled_current_month.apply(next_date, axis=1)

In [11]:
# settled_current_month.head()

In [12]:
# settled_current_month.shape

In [13]:
# settled_current_month['poliza_date'].unique()

### CANCELACIONES

In [14]:
settled_current_month.loc[(settled_current_month['total_released'] > 0)
                          & (settled_current_month['total_adjustments'] < 0),'canc_1'] = settled_current_month['total_adjustments']
settled_current_month['canc_1'].fillna(0,inplace=True)

C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_17580\2387200959.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  settled_current_month.loc[(settled_current_month['total_released'] > 0)
C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_17580\2387200959.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  settled_current_month['canc_1'].fillna(0,inplace=True)

In [15]:
settled_current_month.loc[(settled_current_month['total_released'] > 0)
                          & (settled_current_month['total_adjustments'] < 0),'canc_2'] = settled_current_month['total_released']
settled_current_month['canc_2'].fillna(0,inplace=True)

C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_17580\97313772.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  settled_current_month.loc[(settled_current_month['total_released'] > 0)
C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_17580\97313772.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  settled_current_month['canc_2'].fillna(0,inplace=True)

In [16]:
settled_current_month['cancelaciones'] = (-settled_current_month['canc_1']) - (settled_current_month['canc_2'])
settled_current_month.head()

C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_17580\715271970.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  settled_current_month['cancelaciones'] = (-settled_current_month['canc_1']) - (settled_current_month['canc_2'])

,merchant_id,merchant_name,user_email,report_id,report_date_local,total_transactions,total_fees_charged,total_taxes,applied_fees_benefits,applied_taxes_benefits,...,type,created_date,created_time,updated_date,updated_time,file_name,Date_file,canc_1,canc_2,cancelaciones
2875694,98cfac80-6c04-4478-a933-c54c3efaff52,ABARROTES ABY,samuel041267@gmail.com,494ZK88YK,2022-08-31,268.00,9.65,1.54,0.00,0.00,...,DAILY,2022-08-31,02:00:30,2022-08-31,02:00:30,SETTLEMENT 2022-08-31.csv,2022-08-31,0.00,0.00,-0.00
2875695,82d8f28f-82ce-48fb-ad7d-1a05633356a5,TRAGONA FONDA,j_mizael26@hotmail.com,5L3DDCVNX,2022-08-31,196.00,7.06,1.13,0.00,0.00,...,DAILY,2022-08-31,02:00:30,2022-08-31,02:00:30,SETTLEMENT 2022-08-31.csv,2022-08-31,0.00,0.00,-0.00
2875696,8046ed39-33ab-4222-ae2d-02d20bfade5f,ODONTOLOGIA,odontologyhealth8@gmail.com,6FXC2Q59B,2022-08-31,500.00,18.00,2.88,0.00,0.00,...,DAILY,2022-08-31,02:00:30,2022-08-31,02:00:30,SETTLEMENT 2022-08-31.csv,2022-08-31,0.00,0.00,-0.00
2875697,88a522b1-8d67-45fd-8c68-3531a62bdf58,DISTRIBUIDOR AUTORIZADO ROYAL PRESTIGE,estefanylorenz@gmail.com,8KXFS2LGQ,2022-08-31,"48,480.00","7,538.65","1,206.18",0.00,0.00,...,DAILY,2022-08-31,02:00:30,2022-08-31,02:00:30,SETTLEMENT 2022-08-31.csv,2022-08-31,0.00,0.00,-0.00
2875698,a09a033a-d358-4edb-8075-6d62f8448349,LA LUPANA,guadalu7@yahoo.com.mx,JT2JL7KP6,2022-08-31,235.00,8.46,1.35,0.00,0.00,...,DAILY,2022-08-31,02:00:30,2022-08-31,02:00:30,SETTLEMENT 2022-08-31.csv,2022-08-31,0.00,0.00,-0.00

In [17]:
settled_current_month.shape

(90016, 30)

### TOTAL DUE CALCULADO

In [18]:
settled_current_month['total_due_calculado'] = (settled_current_month['total_transactions']
                                                - settled_current_month['total_fees_charged']
                                                - settled_current_month['total_taxes']
                                                + settled_current_month['applied_fees_benefits']
                                                + settled_current_month['applied_taxes_benefits']
                                                + settled_current_month['fee_direct_deposit']
                                                + settled_current_month['taxes_direct_deposit']
                                                - (-settled_current_month['total_adjustments'])
                                                + (-settled_current_month['total_adjustment_fees_charged'])
                                                + (-settled_current_month['total_adjustment_taxes'])
                                                - settled_current_month['cobranza']
                                                + settled_current_month['total_released']
                                                - settled_current_month['total_retained'])
settled_current_month['diferencias'] = settled_current_month['total_due_calculado'] - settled_current_month['total_due']
settled_current_month.head()

C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_17580\4192761883.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  settled_current_month['total_due_calculado'] = (settled_current_month['total_transactions']
C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_17580\4192761883.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  settled_current_month['diferencias'] = settled_current_month['total_due_calculado'] - settled_current_month['total_due']

,merchant_id,merchant_name,user_email,report_id,report_date_local,total_transactions,total_fees_charged,total_taxes,applied_fees_benefits,applied_taxes_benefits,...,created_time,updated_date,updated_time,file_name,Date_file,canc_1,canc_2,cancelaciones,total_due_calculado,diferencias
2875694,98cfac80-6c04-4478-a933-c54c3efaff52,ABARROTES ABY,samuel041267@gmail.com,494ZK88YK,2022-08-31,268.00,9.65,1.54,0.00,0.00,...,02:00:30,2022-08-31,02:00:30,SETTLEMENT 2022-08-31.csv,2022-08-31,0.00,0.00,-0.00,256.81,0.00
2875695,82d8f28f-82ce-48fb-ad7d-1a05633356a5,TRAGONA FONDA,j_mizael26@hotmail.com,5L3DDCVNX,2022-08-31,196.00,7.06,1.13,0.00,0.00,...,02:00:30,2022-08-31,02:00:30,SETTLEMENT 2022-08-31.csv,2022-08-31,0.00,0.00,-0.00,187.81,0.00
2875696,8046ed39-33ab-4222-ae2d-02d20bfade5f,ODONTOLOGIA,odontologyhealth8@gmail.com,6FXC2Q59B,2022-08-31,500.00,18.00,2.88,0.00,0.00,...,02:00:30,2022-08-31,02:00:30,SETTLEMENT 2022-08-31.csv,2022-08-31,0.00,0.00,-0.00,479.12,0.00
2875697,88a522b1-8d67-45fd-8c68-3531a62bdf58,DISTRIBUIDOR AUTORIZADO ROYAL PRESTIGE,estefanylorenz@gmail.com,8KXFS2LGQ,2022-08-31,"48,480.00","7,538.65","1,206.18",0.00,0.00,...,02:00:30,2022-08-31,02:00:30,SETTLEMENT 2022-08-31.csv,2022-08-31,0.00,0.00,-0.00,"39,735.17",0.00
2875698,a09a033a-d358-4edb-8075-6d62f8448349,LA LUPANA,guadalu7@yahoo.com.mx,JT2JL7KP6,2022-08-31,235.00,8.46,1.35,0.00,0.00,...,02:00:30,2022-08-31,02:00:30,SETTLEMENT 2022-08-31.csv,2022-08-31,0.00,0.00,-0.00,225.19,0.00

In [19]:
settled_current_month.shape

(90016, 32)

### CONCILIACION TPV

In [20]:
conc_1 = settled_current_month.groupby(['report_date_local']).agg({'total_transactions':sum,'total_fees_charged':sum
                                                                    ,'total_taxes':sum,'applied_fees_benefits':sum
                                                                    ,'applied_taxes_benefits':sum,'fee_direct_deposit':sum
                                                                    ,'taxes_direct_deposit':sum,'total_adjustments':sum
                                                                    ,'total_adjustment_fees_charged':sum
                                                                    ,'total_adjustment_taxes':sum 
                                                                    ,'cobranza':sum,'total_released':sum
                                                                    ,'total_retained':sum,'cancelaciones':sum
                                                                    ,'total_due_calculado':sum,'total_due':sum
                                                                    ,'diferencias':sum}).reset_index()
conc_1['total_adjustments'] = conc_1['total_adjustments']*-1 
conc_1['total_adjustment_fees_charged'] = conc_1['total_adjustment_fees_charged']*-1
conc_1['total_adjustment_taxes'] = conc_1['total_adjustment_taxes']*-1 
conc_1.head()

,report_date_local,total_transactions,total_fees_charged,total_taxes,applied_fees_benefits,applied_taxes_benefits,fee_direct_deposit,taxes_direct_deposit,total_adjustments,total_adjustment_fees_charged,total_adjustment_taxes,cobranza,total_released,total_retained,cancelaciones,total_due_calculado,total_due,diferencias
0,2022-08-31,"173,783,252.79","7,240,582.79","1,158,507.11","1,545.48",247.32,"22,529.58","3,608.82","1,281,560.14",-0.00,-0.00,"62,834.00","792,726.89","973,508.10",0.00,"163,886,918.74","163,886,918.74",-0.00

In [21]:
conc_1.shape

(1, 18)

In [22]:
conc_3 = settled_current_month.groupby(['report_date_local','type']).agg({'total_transactions':sum,'total_fees_charged':sum
                                                                    ,'total_taxes':sum,'applied_fees_benefits':sum
                                                                    ,'applied_taxes_benefits':sum,'fee_direct_deposit':sum
                                                                    ,'taxes_direct_deposit':sum,'total_adjustments':sum     
                                                                    ,'total_adjustment_fees_charged':sum
                                                                    ,'total_adjustment_taxes':sum 
                                                                    ,'cobranza':sum,'total_released':sum
                                                                    ,'total_retained':sum,'cancelaciones':sum
                                                                    ,'total_due_calculado':sum,'total_due':sum
                                                                    ,'diferencias':sum}).reset_index()
conc_3['total_adjustments'] = conc_3['total_adjustments']*-1 
conc_3['total_adjustment_fees_charged'] = conc_3['total_adjustment_fees_charged']*-1
conc_3['total_adjustment_taxes'] = conc_3['total_adjustment_taxes']*-1 
conc_3.head()

,report_date_local,type,total_transactions,total_fees_charged,total_taxes,applied_fees_benefits,applied_taxes_benefits,fee_direct_deposit,taxes_direct_deposit,total_adjustments,total_adjustment_fees_charged,total_adjustment_taxes,cobranza,total_released,total_retained,cancelaciones,total_due_calculado,total_due,diferencias
0,2022-08-31,DAILY,"170,743,684.56","7,118,261.73","1,138,935.66","1,545.48",247.32,"22,529.58","3,608.82","1,197,709.87",-0.00,-0.00,"62,834.00","792,726.89","973,352.10",0.00,"161,073,249.29","161,073,249.29",-0.00
1,2022-08-31,INSTANT,"3,039,568.23","122,321.06","19,571.45",0.00,0.00,0.00,0.00,"83,850.27",-0.00,-0.00,0.00,0.00,156.00,0.00,"2,813,669.45","2,813,669.45",0.00

In [23]:
conc_3.shape

(2, 19)

In [24]:
conc_3['type'].unique()

array(['DAILY', 'INSTANT'], dtype=object)

In [25]:
data_daily = conc_3[(conc_3['type'] == 'DAILY')]
data_daily.head()

,report_date_local,type,total_transactions,total_fees_charged,total_taxes,applied_fees_benefits,applied_taxes_benefits,fee_direct_deposit,taxes_direct_deposit,total_adjustments,total_adjustment_fees_charged,total_adjustment_taxes,cobranza,total_released,total_retained,cancelaciones,total_due_calculado,total_due,diferencias
0,2022-08-31,DAILY,"170,743,684.56","7,118,261.73","1,138,935.66","1,545.48",247.32,"22,529.58","3,608.82","1,197,709.87",-0.00,-0.00,"62,834.00","792,726.89","973,352.10",0.00,"161,073,249.29","161,073,249.29",-0.00

In [26]:
data_daily.shape

(1, 19)

In [27]:
data_instant = conc_3[(conc_3['type'] == 'INSTANT')]
data_instant.head()

,report_date_local,type,total_transactions,total_fees_charged,total_taxes,applied_fees_benefits,applied_taxes_benefits,fee_direct_deposit,taxes_direct_deposit,total_adjustments,total_adjustment_fees_charged,total_adjustment_taxes,cobranza,total_released,total_retained,cancelaciones,total_due_calculado,total_due,diferencias
1,2022-08-31,INSTANT,"3,039,568.23","122,321.06","19,571.45",0.00,0.00,0.00,0.00,"83,850.27",-0.00,-0.00,0.00,0.00,156.00,0.00,"2,813,669.45","2,813,669.45",0.00

In [28]:
data_instant.shape

(1, 19)

### RELEASED SIN CLABE

In [29]:
released_sinclabe = settled_current_month[(settled_current_month['tipopago'] == 'sin CLABE')]
released_sinclabe.head()

Empty DataFrame
Columns: [merchant_id, merchant_name, user_email, report_id, report_date_local, total_transactions, total_fees_charged, total_taxes, applied_fees_benefits, applied_taxes_benefits, fee_direct_deposit, taxes_direct_deposit, total_adjustments, total_adjustment_fees_charged, total_adjustment_taxes, cobranza, total_released, total_retained, tipopago, total_due, type, created_date, created_time, updated_date, updated_time, file_name, Date_file, canc_1, canc_2, cancelaciones, total_due_calculado, diferencias]
Index: []

[0 rows x 32 columns]

In [30]:
released_sinclabe.shape

(0, 32)

In [31]:
released_1 = released_sinclabe.groupby(['report_date_local']).agg({'total_released':sum}).reset_index()
released_1.head()

Empty DataFrame
Columns: [report_date_local, total_released]
Index: []

In [32]:
released_1.shape

(0, 2)

In [33]:
released_3 = released_sinclabe.groupby(['report_date_local','type']).agg({'total_released':sum}).reset_index()
released_3.head()

Empty DataFrame
Columns: [report_date_local, type, total_released]
Index: []

In [34]:
released_3.shape

(0, 3)

In [35]:
released_3['type'].unique()

array([], dtype=object)

In [36]:
released_daily = released_3[(released_3['type'] == 'DAILY')]
released_daily.head()

Empty DataFrame
Columns: [report_date_local, type, total_released]
Index: []

In [37]:
released_daily.shape

(0, 3)

In [38]:
released_instant = released_3[(released_3['type'] == 'INSTANT')]
released_instant.head()

Empty DataFrame
Columns: [report_date_local, type, total_released]
Index: []

In [39]:
released_instant.shape

(0, 3)

# EXCEL FINAL

In [40]:
writer = pd.ExcelWriter('FASE I. DATA POLIZA AGOSTO 31 2022.xlsx',
                        engine='xlsxwriter',
                        engine_kwargs={'options': {'encoding':'utf-8'}})
conc_1.to_excel(writer, sheet_name='MONTOS REPORT_DATE',index=False)
data_daily.to_excel(writer, sheet_name='MONTOS_DAILY',index=False)
data_instant.to_excel(writer, sheet_name='MONTOS_INSTANT',index=False)
released_1.to_excel(writer, sheet_name='RELEASED REPORT_DATE',index=False)
released_daily.to_excel(writer, sheet_name='RELEASED_DAILY',index=False)
released_instant.to_excel(writer, sheet_name='RELEASED_INSTANT',index=False)
writer.close()