In [1]:
import pandas as pd
import numpy as np
import glob
import os
from openpyxl import load_workbook
pd.options.display.float_format = '{:,.2f}'.format
import gc

In [2]:
start_date_fact = '2023-09-01'
final_date_fact = '2023-09-30'

# RUTAS

### EMAIL

In [3]:
email_files = glob.glob(r'G:\My Drive\RESPALDO-PC\DATA EMAILS\*.tsv', recursive=False)
email_files

['G:\\My Drive\\RESPALDO-PC\\DATA EMAILS\\MERCHANT_INFO.tsv']

### MUESTRA AUDITORES

In [8]:
muestra_audit_files = glob.glob(r'C:\Users\Cristian.Aparicio\Documents\AUDITORIA EXTERNA\Requerimiento 229\Muestra*.xlsx', recursive=False)
muestra_audit_files

['C:\\Users\\Cristian.Aparicio\\Documents\\AUDITORIA EXTERNA\\Requerimiento 229\\Muestra_auditores_diciembre_2023.xlsx']

### AP JOURNAL

In [9]:
ap_files = glob.glob(r'C:\Users\Cristian.Aparicio\Documents\AUDITORIA EXTERNA\Requerimiento 229\0. QUERIES\AUDITORIA_AP*.tsv', recursive=False)
ap_files

['C:\\Users\\Cristian.Aparicio\\Documents\\AUDITORIA EXTERNA\\Requerimiento 229\\0. QUERIES\\AUDITORIA_AP_JOURNAL SEPTIEMBRE 2023.tsv']

### SETTLEMENT MASTER LOG

In [10]:
sml_files = glob.glob(r'C:\Users\Cristian.Aparicio\Documents\AUDITORIA EXTERNA\Requerimiento 229\0. QUERIES\AUDITORIA_SETT*.tsv', recursive=False)
sml_files

['C:\\Users\\Cristian.Aparicio\\Documents\\AUDITORIA EXTERNA\\Requerimiento 229\\0. QUERIES\\AUDITORIA_SETTLEMENT_MASTER_LOG SEPTIEMBRE 2023.tsv']

In [11]:
# use_cols_sml = ['MVNT_ID','PSP_AMOUNT','GROSS_AMOUNT','FEES','TAXES','NET_AMOUNT','MDR','MSI','NUMBER_MSI','RECEIPT_NO',
#                 'STATUS_CODE','DCC_AMOUNT','DCC_RATE','DCC_STATUS','PYMT_PRG']

### AP JOURNAL - CANCELACIONES

In [12]:
ap_files_canc = glob.glob(r'G:\My Drive\RESPALDO-PC\DYNAMO\2023\12. DICIEMBRE\AP JOURNAL\FACTURACION\AP-JOURNAL-CANCEL*.tsv', recursive=False)
ap_files_canc

['G:\\My Drive\\RESPALDO-PC\\DYNAMO\\2023\\12. DICIEMBRE\\AP JOURNAL\\FACTURACION\\AP-JOURNAL-CANCEL DICIEMBRE 2023.tsv']

# DATA EMAILS

In [13]:
email = pd.concat([pd.read_csv(f,sep='\t').assign(file_name=os.path.basename(f)) for f in email_files])
email.columns = email.columns.str.strip().str.lower()
email['email'] = email['email'].str.lower()
email['merchant_name'].fillna('NULL',inplace=True)
email.sort_values(by=(['merchant_id','updated_at']), ascending=[True,False], inplace=True)
email.head()

C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_5188\1850252706.py:1: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  email = pd.concat([pd.read_csv(f,sep='\t').assign(file_name=os.path.basename(f)) for f in email_files])

,id,merchant_id,email,merchant_name,state,role,updated_at,file_name
771804,3c2a15f2-b165-45a8-9b93-76d876fca089,0000001a-e7e3-4fcc-9093-27cf0733fa93,korysalomon@gmail.com,EL MUNDO DE LOS LENTES,SUSPENDED,ADMIN,2020-11-12,MERCHANT_INFO.tsv
356800,67080a7a-20e1-4143-9edf-2a13bfb6feff,0000099a-c4d5-48dc-990b-8f06dbee9af8,rcasahonda81@gmail.com,BAGOURMETTE SUBLIMERIAS,ACTIVATED,ADMIN,2019-06-30,MERCHANT_INFO.tsv
1014402,e15155f9-b2be-4628-a68d-0045e33d3423,00000cad-bc81-43fe-ba48-7449b30d5c37,libnay21@gmail.com,FERRETERAS CRISTO REY,ACTIVATED,ADMIN,2021-08-05,MERCHANT_INFO.tsv
1165303,537bc0b4-d0f0-476f-9b86-4cfe44040bf5,00001269-1bce-4cc1-ba64-fb8b7fe4db16,ceballoshumberto93@gmail.com,ROYAL PRESTIGE CEBMA,ACTIVATED,ADMIN,2021-12-16,MERCHANT_INFO.tsv
224182,7ec397a0-532d-4239-ad5b-5618867e3622,000012b6-a453-4285-9f7f-70a7bf46a4fb,myrna.espinosa@bachoco.net,BACHOCO,SUSPENDED,ADMIN,2018-09-18,MERCHANT_INFO.tsv

In [14]:
email.shape

(2394602, 8)

In [15]:
duplicates_email = email[email.duplicated(['merchant_id'] , keep=False)]
duplicates_email.head()

,id,merchant_id,email,merchant_name,state,role,updated_at,file_name
2286437,76988280-87bf-4922-bb07-a32b150e92cb,08c6cd82-668f-4394-9749-5a2a718d4630,teamtaack@gmail.com,TEAMTAACK@GMAIL.COM,VALIDATED,ADMIN,NaN,MERCHANT_INFO.tsv
2286438,3b7d576f-d314-42a1-a401-350dee496741,08c6cd82-668f-4394-9749-5a2a718d4630,teamtaack@gmail.com,TEAMTAACK@GMAIL.COM,VALIDATED,ADMIN,NaN,MERCHANT_INFO.tsv
2363027,748184d5-77d6-4275-984b-b56b05bde583,1bf92d87-6f48-46df-a6ed-c8fb0b0bdbc0,diazderyan@gmail.com,DIAZDERYAN@GMAIL.COM,VALIDATED,ADMIN,NaN,MERCHANT_INFO.tsv
2363028,b9e46ccc-4665-45af-88f8-0a350fe36d58,1bf92d87-6f48-46df-a6ed-c8fb0b0bdbc0,diazderyan@gmail.com,DIAZDERYAN@GMAIL.COM,VALIDATED,ADMIN,NaN,MERCHANT_INFO.tsv
2256336,7aea8ccd-0abf-4c3a-bfab-2e8e15cae044,209ea42c-8b20-4a5e-978c-7c6ecc9a9487,ivanreyeshernandez2@gmail.com,IVANREYESHERNANDEZ2@GMAIL.COM,VALIDATED,ADMIN,NaN,MERCHANT_INFO.tsv

In [16]:
duplicates_email.shape

(25, 8)

In [17]:
email.drop_duplicates(subset='merchant_id', keep='first', inplace=True)

In [18]:
email.shape

(2394589, 8)

# DATA SETTLEMENT MASTER LOG

In [19]:
sml = pd.concat([pd.read_csv(f,sep='\t',dtype={'ORDER_ID':object,'BIN':object,'LAST4':object,'AFFILIATION':object,
                                              'CLAVE_AUTORIZACION':object,'RECEIPT_NO':object,
                                              'DEVICE_ID':object}).assign(file_name=os.path.basename(f)) for f in sml_files])
sml.columns = sml.columns.str.strip().str.lower()
sml.replace('""','', regex=True, inplace=True)
sml['eff_dt'] =  pd.to_datetime(sml['eff_dt'])
sml['date_transaction'] =  pd.to_datetime(sml['date_transaction'])
sml['created_at_cdmx'] =  pd.to_datetime(sml['created_at_cdmx'])
sml['updated_at_cdmx'] =  pd.to_datetime(sml['updated_at_cdmx'])
sml.head()

,record_uuid,merchant_id,transaction_id,mvnt_id,mvnt_type,pymt_prg,created_at,eff_dt,psp_amount,gross_amount,...,updated_at_cdmx,receipt_no,issuer,device_id,dcc_amount,dcc_rate,dcc_status,cc_nb_currency_code,nu_markup,file_name
0,3177e0c4-9895-5066-b15e-920886aa9eff,8116aa40-f34e-41f0-a0e7-ce21eb804510,6f1a3eb2-8942-48a9-b21a-119b8e172cc5,6f1a3eb2-8942-48a9-b21a-119b8e172cc5,STL_PCS_RQ,REGULAR_PAYMENT,2023-09-21T14:53:03Z,2023-09-22,"8,000.00","8,000.00",...,2023-09-21,AFG1u7Y,BBVA,N500W4N2208,NaN,NaN,NaN,NaN,NaN,AUDITORIA_SETTLEMENT_MASTER_LOG SEPTIEMBRE 202...
1,63d77cde-989a-55e0-938d-468fcf870a23,8116aa40-f34e-41f0-a0e7-ce21eb804510,8adef4f5-d58a-42fd-ab85-f5b35ae822a6,8adef4f5-d58a-42fd-ab85-f5b35ae822a6,STL_PCS_RQ,REGULAR_PAYMENT,2023-09-13T18:44:58Z,2023-09-14,"24,999.00","24,999.00",...,2023-09-13,XXZWjEt,BANORTE,N500W4N6315,NaN,NaN,NaN,NaN,NaN,AUDITORIA_SETTLEMENT_MASTER_LOG SEPTIEMBRE 202...
2,32bf332e-bdf4-57e2-8718-277ae1aad5d1,8116aa40-f34e-41f0-a0e7-ce21eb804510,44d43d8e-011e-421a-9366-d63f9ebf5d1a,44d43d8e-011e-421a-9366-d63f9ebf5d1a,STL_PCS_RQ,REGULAR_PAYMENT,2023-09-14T18:18:58Z,2023-09-15,"32,999.00","32,999.00",...,2023-09-14,HBEVveP,AZTECA,N500W4N2175,NaN,NaN,NaN,NaN,NaN,AUDITORIA_SETTLEMENT_MASTER_LOG SEPTIEMBRE 202...
3,01949e61-cf39-5cbb-b16b-e9d65bfa3dbe,8116aa40-f34e-41f0-a0e7-ce21eb804510,e85549b7-f4a0-4ad9-9a79-622fbd7a4b00,e85549b7-f4a0-4ad9-9a79-622fbd7a4b00,STL_PCS_RQ,REGULAR_PAYMENT,2023-09-29T13:03:39Z,2023-09-30,361.00,361.00,...,2023-09-29,5LmJxe6,BBVA,N500W4N6312,NaN,NaN,NaN,NaN,NaN,AUDITORIA_SETTLEMENT_MASTER_LOG SEPTIEMBRE 202...
4,52007b5e-7263-560d-bfcb-b5ef8ce1b271,8116aa40-f34e-41f0-a0e7-ce21eb804510,bcb5aa97-bd64-4c64-a2fa-19b683443133,bcb5aa97-bd64-4c64-a2fa-19b683443133,STL_PCS_RQ,REGULAR_PAYMENT,2023-09-27T16:51:32Z,2023-09-28,"4,999.00","4,999.00",...,2023-09-27,oHQ7M0s,BBVA,N500W4N2208,NaN,NaN,NaN,NaN,NaN,AUDITORIA_SETTLEMENT_MASTER_LOG SEPTIEMBRE 202...

In [20]:
sml.shape

(2614, 37)

In [21]:
sml.dtypes

record_uuid                    object
merchant_id                    object
transaction_id                 object
mvnt_id                        object
mvnt_type                      object
pymt_prg                       object
created_at                     object
eff_dt                 datetime64[ns]
psp_amount                    float64
gross_amount                  float64
fees                          float64
taxes                         float64
net_amount                    float64
mdr                           float64
msi                           float64
date_transaction       datetime64[ns]
order_id                       object
created_at_cdmx        datetime64[ns]
bin                            object
last4                          object
affiliation                    object
clave_autorizacion             object
number_msi                    float64
status_code                     int64
brand                          object
psp                            object
payment_sub_type               object
updated_at_cdmx        datetime64[ns]
receipt_no                     object
issuer                         object
device_id                      object
dcc_amount                    float64
dcc_rate                      float64
dcc_status                    float64
cc_nb_currency_code           float64
nu_markup                     float64
file_name                      object
dtype: object

In [22]:
sml_final = sml

In [23]:
sml_final.shape

(2614, 37)

In [24]:
sml_final['msi'].unique()

array([0.    , 0.1195, 0.075 , 0.099 , 0.045 ])

In [25]:
sml_final['mdr'].unique()

array([0.024])

In [26]:
duplicates_sml_final = sml_final[sml_final.duplicated(['mvnt_id'] , keep=False)]
duplicates_sml_final.head()

Empty DataFrame
Columns: [record_uuid, merchant_id, transaction_id, mvnt_id, mvnt_type, pymt_prg, created_at, eff_dt, psp_amount, gross_amount, fees, taxes, net_amount, mdr, msi, date_transaction, order_id, created_at_cdmx, bin, last4, affiliation, clave_autorizacion, number_msi, status_code, brand, psp, payment_sub_type, updated_at_cdmx, receipt_no, issuer, device_id, dcc_amount, dcc_rate, dcc_status, cc_nb_currency_code, nu_markup, file_name]
Index: []

[0 rows x 37 columns]

In [27]:
duplicates_sml_final.shape

(0, 37)

In [28]:
sml_final.drop_duplicates(subset='mvnt_id', keep='last', inplace=True) 
sml_final.head()

,record_uuid,merchant_id,transaction_id,mvnt_id,mvnt_type,pymt_prg,created_at,eff_dt,psp_amount,gross_amount,...,updated_at_cdmx,receipt_no,issuer,device_id,dcc_amount,dcc_rate,dcc_status,cc_nb_currency_code,nu_markup,file_name
0,3177e0c4-9895-5066-b15e-920886aa9eff,8116aa40-f34e-41f0-a0e7-ce21eb804510,6f1a3eb2-8942-48a9-b21a-119b8e172cc5,6f1a3eb2-8942-48a9-b21a-119b8e172cc5,STL_PCS_RQ,REGULAR_PAYMENT,2023-09-21T14:53:03Z,2023-09-22,"8,000.00","8,000.00",...,2023-09-21,AFG1u7Y,BBVA,N500W4N2208,NaN,NaN,NaN,NaN,NaN,AUDITORIA_SETTLEMENT_MASTER_LOG SEPTIEMBRE 202...
1,63d77cde-989a-55e0-938d-468fcf870a23,8116aa40-f34e-41f0-a0e7-ce21eb804510,8adef4f5-d58a-42fd-ab85-f5b35ae822a6,8adef4f5-d58a-42fd-ab85-f5b35ae822a6,STL_PCS_RQ,REGULAR_PAYMENT,2023-09-13T18:44:58Z,2023-09-14,"24,999.00","24,999.00",...,2023-09-13,XXZWjEt,BANORTE,N500W4N6315,NaN,NaN,NaN,NaN,NaN,AUDITORIA_SETTLEMENT_MASTER_LOG SEPTIEMBRE 202...
2,32bf332e-bdf4-57e2-8718-277ae1aad5d1,8116aa40-f34e-41f0-a0e7-ce21eb804510,44d43d8e-011e-421a-9366-d63f9ebf5d1a,44d43d8e-011e-421a-9366-d63f9ebf5d1a,STL_PCS_RQ,REGULAR_PAYMENT,2023-09-14T18:18:58Z,2023-09-15,"32,999.00","32,999.00",...,2023-09-14,HBEVveP,AZTECA,N500W4N2175,NaN,NaN,NaN,NaN,NaN,AUDITORIA_SETTLEMENT_MASTER_LOG SEPTIEMBRE 202...
3,01949e61-cf39-5cbb-b16b-e9d65bfa3dbe,8116aa40-f34e-41f0-a0e7-ce21eb804510,e85549b7-f4a0-4ad9-9a79-622fbd7a4b00,e85549b7-f4a0-4ad9-9a79-622fbd7a4b00,STL_PCS_RQ,REGULAR_PAYMENT,2023-09-29T13:03:39Z,2023-09-30,361.00,361.00,...,2023-09-29,5LmJxe6,BBVA,N500W4N6312,NaN,NaN,NaN,NaN,NaN,AUDITORIA_SETTLEMENT_MASTER_LOG SEPTIEMBRE 202...
4,52007b5e-7263-560d-bfcb-b5ef8ce1b271,8116aa40-f34e-41f0-a0e7-ce21eb804510,bcb5aa97-bd64-4c64-a2fa-19b683443133,bcb5aa97-bd64-4c64-a2fa-19b683443133,STL_PCS_RQ,REGULAR_PAYMENT,2023-09-27T16:51:32Z,2023-09-28,"4,999.00","4,999.00",...,2023-09-27,oHQ7M0s,BBVA,N500W4N2208,NaN,NaN,NaN,NaN,NaN,AUDITORIA_SETTLEMENT_MASTER_LOG SEPTIEMBRE 202...

In [29]:
sml_final.shape

(2614, 37)

In [30]:
sml_final.columns

Index(['record_uuid', 'merchant_id', 'transaction_id', 'mvnt_id', 'mvnt_type',
       'pymt_prg', 'created_at', 'eff_dt', 'psp_amount', 'gross_amount',
       'fees', 'taxes', 'net_amount', 'mdr', 'msi', 'date_transaction',
       'order_id', 'created_at_cdmx', 'bin', 'last4', 'affiliation',
       'clave_autorizacion', 'number_msi', 'status_code', 'brand', 'psp',
       'payment_sub_type', 'updated_at_cdmx', 'receipt_no', 'issuer',
       'device_id', 'dcc_amount', 'dcc_rate', 'dcc_status',
       'cc_nb_currency_code', 'nu_markup', 'file_name'],
      dtype='object')

# DATA AP JOURNAL (PREVIO EMAIL)

In [31]:
ap_init = pd.concat([pd.read_csv(f, sep='\t').assign(file_name=os.path.basename(f)) for f in ap_files])
ap_init.columns = ap_init.columns.str.strip().str.lower()
ap_init.replace('""','', regex=True, inplace=True)
ap_init['eff_dt'] =  pd.to_datetime(ap_init['eff_dt']).dt.tz_localize(None)
ap_init['eff_dt_date'] =  pd.to_datetime(ap_init['eff_dt']).dt.date
ap_init['eff_dt_date'] =  pd.to_datetime(ap_init['eff_dt_date'])
ap_init['eff_dt_time'] =  pd.to_datetime(ap_init['eff_dt']).dt.time
# ap_init['movement_day'] = pd.to_datetime(ap_init['movement_day']).dt.tz_localize(None)
ap_init['created_at'] = pd.to_datetime(ap_init['created_at']).dt.tz_localize(None)
ap_init['created_at_date'] =  pd.to_datetime(ap_init['created_at']).dt.date
ap_init['created_at_date'] =  pd.to_datetime(ap_init['created_at_date'])
ap_init['payment_date_local'] = pd.to_datetime(ap_init['payment_date_local']).dt.tz_localize(None)
ap_init['payment_date_local'] =  pd.to_datetime(ap_init['payment_date_local']).dt.date
ap_init['payment_date_local'] =  pd.to_datetime(ap_init['payment_date_local'])
ap_init['report_date_local'] = pd.to_datetime(ap_init['report_date_local']).dt.tz_localize(None)
ap_init['report_date_local'] =  pd.to_datetime(ap_init['report_date_local']).dt.date
ap_init['report_date_local'] =  pd.to_datetime(ap_init['report_date_local'])
# ap_init['request_effective_date'] = pd.to_datetime(ap_init['request_effective_date']).dt.tz_localize(None)
# ap_init['slot_date'] = pd.to_datetime(ap_init['slot_date']).dt.tz_localize(None)
# ap_init['identifier'] = ap_init['source_type'].str[:1].astype(str)
# ap_init['INDEX'] = (ap_init['eff_dt_date'].astype(str).replace(' ', '',regex=True)+'-'+
#                ap_init['identifier'].astype(str).replace(' ', '',regex=True)+'-'+
#                ap_init['eff_dt_time'].astype(str).replace(' ', '',regex=True))
ap_init.sort_values(by=(['merchant_id','eff_dt']), ascending=[True,False], inplace=True)

In [32]:
ap_init.reset_index(inplace=True)

In [33]:
ap_init.loc[ap_init['source_type'] == 'DISB', 'report_id'] = ap_init['type_request']
ap_init['report_id'] = ap_init['report_id'].groupby(ap_init['merchant_id']).ffill()
ap_init['report_date_local_final'] = ap_init['report_date_local'].groupby(ap_init['merchant_id']).ffill()
ap_init['payment_date_local_final'] = ap_init['payment_date_local'].groupby(ap_init['merchant_id']).ffill()
ap_init['status_final'] = ap_init['status'].groupby(ap_init['merchant_id']).ffill()
ap_init.head()

,index,merchant_id,amount,currency,type_request,mvnt_id,movement_type,source_type,created_at,eff_dt,...,payment_date_local,status,file_name,eff_dt_date,eff_dt_time,created_at_date,report_id,report_date_local_final,payment_date_local_final,status_final
0,2626,8116aa40-f34e-41f0-a0e7-ce21eb804510,"-1,186,978.43",MXN,ALRFM7Y28,b012f693-0b14-3beb-a11d-4f1dcb619874,DISB_RQ,DISB,2023-09-30 07:26:56,2023-09-30 07:27:01,...,2023-09-30,PAID,AUDITORIA_AP_JOURNAL SEPTIEMBRE 2023.tsv,2023-09-30,07:27:01,2023-09-30,ALRFM7Y28,2023-09-30,2023-09-30,PAID
1,2284,8116aa40-f34e-41f0-a0e7-ce21eb804510,"17,498.88",MXN,settlement processor regular payment request,0f97b4d3-1774-44e8-abfc-469a0393f0b5,REGULAR_PYMT_RQ,SETT,2023-09-29 18:00:41,2023-09-30 05:00:00,...,NaT,NaN,AUDITORIA_AP_JOURNAL SEPTIEMBRE 2023.tsv,2023-09-30,05:00:00,2023-09-29,ALRFM7Y28,2023-09-30,2023-09-30,PAID
2,2285,8116aa40-f34e-41f0-a0e7-ce21eb804510,"3,750.93",MXN,settlement processor regular payment request,0f87fc85-6935-40bf-84ad-0001131b5c9c,REGULAR_PYMT_RQ,SETT,2023-09-29 18:07:44,2023-09-30 05:00:00,...,NaT,NaN,AUDITORIA_AP_JOURNAL SEPTIEMBRE 2023.tsv,2023-09-30,05:00:00,2023-09-29,ALRFM7Y28,2023-09-30,2023-09-30,PAID
3,2286,8116aa40-f34e-41f0-a0e7-ce21eb804510,"4,373.74",MXN,settlement processor regular payment request,a254e974-273e-43a5-9831-33abcba0f6d5,REGULAR_PYMT_RQ,SETT,2023-09-29 18:10:06,2023-09-30 05:00:00,...,NaT,NaN,AUDITORIA_AP_JOURNAL SEPTIEMBRE 2023.tsv,2023-09-30,05:00:00,2023-09-29,ALRFM7Y28,2023-09-30,2023-09-30,PAID
4,2287,8116aa40-f34e-41f0-a0e7-ce21eb804510,"26,247.34",MXN,settlement processor regular payment request,6d3f70e1-913b-40c3-be52-b194077e73d1,REGULAR_PYMT_RQ,SETT,2023-09-29 18:17:48,2023-09-30 05:00:00,...,NaT,NaN,AUDITORIA_AP_JOURNAL SEPTIEMBRE 2023.tsv,2023-09-30,05:00:00,2023-09-29,ALRFM7Y28,2023-09-30,2023-09-30,PAID

In [34]:
ap_init.shape

(2662, 24)

In [35]:
ap_init.dtypes

index                                int64
merchant_id                         object
amount                             float64
currency                            object
type_request                        object
mvnt_id                             object
movement_type                       object
source_type                         object
created_at                  datetime64[ns]
eff_dt                      datetime64[ns]
movement_day                        object
request_effective_date              object
slot_date                           object
report_date_local           datetime64[ns]
payment_date_local          datetime64[ns]
status                              object
file_name                           object
eff_dt_date                 datetime64[ns]
eff_dt_time                         object
created_at_date             datetime64[ns]
report_id                           object
report_date_local_final     datetime64[ns]
payment_date_local_final    datetime64[ns]
status_final                        object
dtype: object

In [36]:
sorted(list(ap_init['source_type'].unique()))

['DISB', 'PYMT', 'SETT']

In [37]:
ap_bill_pymnt = ap_init[(ap_init['source_type'] == 'BILL_PYMNT')]
ap_caal = ap_init[(ap_init['source_type'] == 'CAAL')]
ap_data = ap_init[(ap_init['source_type'] == 'DATA')]
ap_dig_acc = ap_init[(ap_init['source_type'] == 'DIG_ACC')]
ap_disb = ap_init[(ap_init['source_type'] == 'DISB')]
ap_fee_refunds = ap_init[(ap_init['source_type'] == 'FEE_REFUNDS')]
ap_loan = ap_init[(ap_init['source_type'] == 'LOAN')]
ap_promo = ap_init[(ap_init['source_type'] == 'PROMO')]
ap_pymt = ap_init[(ap_init['source_type'] == 'PYMT')]
ap_refunds = ap_init[(ap_init['source_type'] == 'REFUNDS')]
ap_risk = ap_init[(ap_init['source_type'] == 'RISK')]
ap_preview = ap_init[(ap_init['source_type'] == 'SETT')]
ap_sett_adptr = ap_init[(ap_init['source_type'] == 'SETT_ADPTR')]
ap_taxes = ap_init[(ap_init['source_type'] == 'TAXES')]
ap_topups = ap_init[(ap_init['source_type'] == 'TOPUPS')]

In [38]:
ap_preview.head()

,index,merchant_id,amount,currency,type_request,mvnt_id,movement_type,source_type,created_at,eff_dt,...,payment_date_local,status,file_name,eff_dt_date,eff_dt_time,created_at_date,report_id,report_date_local_final,payment_date_local_final,status_final
1,2284,8116aa40-f34e-41f0-a0e7-ce21eb804510,"17,498.88",MXN,settlement processor regular payment request,0f97b4d3-1774-44e8-abfc-469a0393f0b5,REGULAR_PYMT_RQ,SETT,2023-09-29 18:00:41,2023-09-30 05:00:00,...,NaT,NaN,AUDITORIA_AP_JOURNAL SEPTIEMBRE 2023.tsv,2023-09-30,05:00:00,2023-09-29,ALRFM7Y28,2023-09-30,2023-09-30,PAID
2,2285,8116aa40-f34e-41f0-a0e7-ce21eb804510,"3,750.93",MXN,settlement processor regular payment request,0f87fc85-6935-40bf-84ad-0001131b5c9c,REGULAR_PYMT_RQ,SETT,2023-09-29 18:07:44,2023-09-30 05:00:00,...,NaT,NaN,AUDITORIA_AP_JOURNAL SEPTIEMBRE 2023.tsv,2023-09-30,05:00:00,2023-09-29,ALRFM7Y28,2023-09-30,2023-09-30,PAID
3,2286,8116aa40-f34e-41f0-a0e7-ce21eb804510,"4,373.74",MXN,settlement processor regular payment request,a254e974-273e-43a5-9831-33abcba0f6d5,REGULAR_PYMT_RQ,SETT,2023-09-29 18:10:06,2023-09-30 05:00:00,...,NaT,NaN,AUDITORIA_AP_JOURNAL SEPTIEMBRE 2023.tsv,2023-09-30,05:00:00,2023-09-29,ALRFM7Y28,2023-09-30,2023-09-30,PAID
4,2287,8116aa40-f34e-41f0-a0e7-ce21eb804510,"26,247.34",MXN,settlement processor regular payment request,6d3f70e1-913b-40c3-be52-b194077e73d1,REGULAR_PYMT_RQ,SETT,2023-09-29 18:17:48,2023-09-30 05:00:00,...,NaT,NaN,AUDITORIA_AP_JOURNAL SEPTIEMBRE 2023.tsv,2023-09-30,05:00:00,2023-09-29,ALRFM7Y28,2023-09-30,2023-09-30,PAID
5,2288,8116aa40-f34e-41f0-a0e7-ce21eb804510,"31,673.68",MXN,settlement processor regular payment request,9827b713-b9a1-46a4-9720-b43602960ef6,REGULAR_PYMT_RQ,SETT,2023-09-29 18:42:05,2023-09-30 05:00:00,...,NaT,NaN,AUDITORIA_AP_JOURNAL SEPTIEMBRE 2023.tsv,2023-09-30,05:00:00,2023-09-29,ALRFM7Y28,2023-09-30,2023-09-30,PAID

In [39]:
ap_preview.shape

(2614, 24)

In [40]:
ap_preview.dtypes

index                                int64
merchant_id                         object
amount                             float64
currency                            object
type_request                        object
mvnt_id                             object
movement_type                       object
source_type                         object
created_at                  datetime64[ns]
eff_dt                      datetime64[ns]
movement_day                        object
request_effective_date              object
slot_date                           object
report_date_local           datetime64[ns]
payment_date_local          datetime64[ns]
status                              object
file_name                           object
eff_dt_date                 datetime64[ns]
eff_dt_time                         object
created_at_date             datetime64[ns]
report_id                           object
report_date_local_final     datetime64[ns]
payment_date_local_final    datetime64[ns]
status_final                        object
dtype: object

In [41]:
ap_preview['report_id'].unique()

array(['ALRFM7Y28', 'AWS2TCXJG', 'AKD5KGJSG', 'APHWNNQCC', 'AGBTHKYJT',
       'ABH69ZG89', 'ADJQK49N3', 'A3PDDRLFD', 'ANX6DGPNG', 'AF8XPCJG4',
       'A6CZ9NBCK', 'A56WRZJGP', 'ASLFNN8D5', 'ATB6BB2XS', 'ATT53CL8G',
       'AH3FLMPQ5', 'ABJRWM2PD', 'AYBC4JNKH', 'AN3XW6W5W', 'ACKK3G72G',
       'A2LDZ3K6Z', 'AG49NX8KJ', 'AB8GZ9GXG', 'AMXGLHLGD', 'AZXPMX5DM',
       'AXJ3G935S', 'AZ3LZ8VTS', 'AKZDSRS3S', 'AMSB5M3CW', 'AYW8K7C43'],
      dtype=object)

# DATA AP JOURNAL CANCELACIONES (PREVIO EMAIL)

In [42]:
ap_preview_canc = pd.concat([pd.read_csv(f, sep='\t').assign(file_name=os.path.basename(f)) for f in ap_files_canc])
ap_preview_canc.columns = ap_preview_canc.columns.str.strip().str.lower()
ap_preview_canc.replace('""','', regex=True, inplace=True)
ap_preview_canc['eff_dt'] =  pd.to_datetime(ap_preview_canc['eff_dt']).dt.tz_localize(None)
ap_preview_canc['eff_dt_date'] =  pd.to_datetime(ap_preview_canc['eff_dt']).dt.date
ap_preview_canc['eff_dt_time'] =  pd.to_datetime(ap_preview_canc['eff_dt']).dt.time
ap_preview_canc['eff_dt_date'] =  pd.to_datetime(ap_preview_canc['eff_dt_date']).dt.tz_localize(None)
ap_preview_canc['movement_day'] = pd.to_datetime(ap_preview_canc['movement_day']).dt.tz_localize(None)
ap_preview_canc['created_at'] = pd.to_datetime(ap_preview_canc['created_at']).dt.tz_localize(None)
ap_preview_canc['request_effective_date'] = pd.to_datetime(ap_preview_canc['request_effective_date']).dt.tz_localize(None)
ap_preview_canc['slot_date'] = pd.to_datetime(ap_preview_canc['slot_date']).dt.tz_localize(None)
# ap_preview_canc['identifier'] = ap_preview_canc['source_type'].str[:1].astype(str)
# ap_preview_canc['INDEX'] = (ap_preview_canc['eff_dt_date'].astype(str).replace(' ', '',regex=True)+'-'+
#                ap_preview_canc['identifier'].astype(str).replace(' ', '',regex=True)+'-'+
#                ap_preview_canc['eff_dt_time'].astype(str).replace(' ', '',regex=True))
ap_preview_canc.sort_values(by=(['merchant_id','eff_dt']), ascending=[True,False], inplace=True)
ap_preview_canc.head()

,merchant_id,amount,currency,type_request,mvnt_id,movement_type,source_type,created_at,eff_dt,movement_day,request_effective_date,slot_date,file_name,eff_dt_date,eff_dt_time
1,0000b65a-c2a2-4993-8f4c-05e5b7cbd7c0,-787.68,MXN,cancel request,f6b65fd2-d168-4ecd-b433-97b78808adbb,CANCEL_RQ,PYMT,2023-11-09 14:03:50,2023-11-10 03:30:00,2023-11-09 14:03:50,2023-11-10 03:30:00,1969-12-31 18:00:00,AP-JOURNAL-CANCEL DICIEMBRE 2023.tsv,2023-11-10,03:30:00
0,0000b65a-c2a2-4993-8f4c-05e5b7cbd7c0,-941.28,MXN,cancel request,d739f381-95ed-4f9e-bf7f-691b44004c11,CANCEL_RQ,PYMT,2023-10-19 14:06:46,2023-10-20 03:30:00,2023-10-19 14:06:46,2023-10-20 03:30:00,1969-12-31 18:00:00,AP-JOURNAL-CANCEL DICIEMBRE 2023.tsv,2023-10-20,03:30:00
6,0000bc20-a726-4fe6-b784-1eb97c287ad5,-94.87,MXN,cancel request,62e7e6f0-aa27-45be-894f-545f4f1b0ab6,CANCEL_RQ,PYMT,2023-08-22 01:36:22,2023-08-22 01:36:27,2023-08-22 01:36:22,2023-08-23 00:00:00,1969-12-31 18:00:00,AP-JOURNAL-CANCEL DICIEMBRE 2023.tsv,2023-08-22,01:36:27
5,0000bc20-a726-4fe6-b784-1eb97c287ad5,-86.24,MXN,cancel request,6d5ac39e-d9b4-4027-9334-d160e4f41ede,CANCEL_RQ,PYMT,2023-08-06 20:10:36,2023-08-06 20:10:41,2023-08-06 20:10:36,2023-08-07 05:00:00,1969-12-31 18:00:00,AP-JOURNAL-CANCEL DICIEMBRE 2023.tsv,2023-08-06,20:10:41
4,0000bc20-a726-4fe6-b784-1eb97c287ad5,-60.37,MXN,cancel request,c4edffd4-fe43-4e42-af35-7da22df1ced4,CANCEL_RQ,PYMT,2023-06-22 22:14:53,2023-06-22 22:14:58,2023-06-22 22:14:53,2023-06-23 05:30:00,1969-12-31 18:00:00,AP-JOURNAL-CANCEL DICIEMBRE 2023.tsv,2023-06-22,22:14:58

In [43]:
ap_preview_canc.shape

(233225, 15)

In [44]:
ap_preview_canc.dtypes

merchant_id                       object
amount                           float64
currency                          object
type_request                      object
mvnt_id                           object
movement_type                     object
source_type                       object
created_at                datetime64[ns]
eff_dt                    datetime64[ns]
movement_day              datetime64[ns]
request_effective_date    datetime64[ns]
slot_date                 datetime64[ns]
file_name                         object
eff_dt_date               datetime64[ns]
eff_dt_time                       object
dtype: object

In [45]:
ap_preview_canc['source_type'].unique()

array(['PYMT', 'RISK'], dtype=object)

# UNION AP JOURNAL CON MAIL

In [46]:
ap = ap_preview.merge(email[['merchant_id','email','merchant_name']],on='merchant_id',how='left')
ap.shape

(2614, 26)

In [47]:
duplicates_ap = ap[ap.duplicated(['mvnt_id'] , keep=False)]
duplicates_ap.head()

Empty DataFrame
Columns: [index, merchant_id, amount, currency, type_request, mvnt_id, movement_type, source_type, created_at, eff_dt, movement_day, request_effective_date, slot_date, report_date_local, payment_date_local, status, file_name, eff_dt_date, eff_dt_time, created_at_date, report_id, report_date_local_final, payment_date_local_final, status_final, email, merchant_name]
Index: []

[0 rows x 26 columns]

In [48]:
duplicates_ap.shape

(0, 26)

In [49]:
ap.drop_duplicates(subset='mvnt_id', keep='last', inplace=True) 
ap.head()

,index,merchant_id,amount,currency,type_request,mvnt_id,movement_type,source_type,created_at,eff_dt,...,file_name,eff_dt_date,eff_dt_time,created_at_date,report_id,report_date_local_final,payment_date_local_final,status_final,email,merchant_name
0,2284,8116aa40-f34e-41f0-a0e7-ce21eb804510,"17,498.88",MXN,settlement processor regular payment request,0f97b4d3-1774-44e8-abfc-469a0393f0b5,REGULAR_PYMT_RQ,SETT,2023-09-29 18:00:41,2023-09-30 05:00:00,...,AUDITORIA_AP_JOURNAL SEPTIEMBRE 2023.tsv,2023-09-30,05:00:00,2023-09-29,ALRFM7Y28,2023-09-30,2023-09-30,PAID,ravila@vnagroup.us,VENTO POWERSPORTS
1,2285,8116aa40-f34e-41f0-a0e7-ce21eb804510,"3,750.93",MXN,settlement processor regular payment request,0f87fc85-6935-40bf-84ad-0001131b5c9c,REGULAR_PYMT_RQ,SETT,2023-09-29 18:07:44,2023-09-30 05:00:00,...,AUDITORIA_AP_JOURNAL SEPTIEMBRE 2023.tsv,2023-09-30,05:00:00,2023-09-29,ALRFM7Y28,2023-09-30,2023-09-30,PAID,ravila@vnagroup.us,VENTO POWERSPORTS
2,2286,8116aa40-f34e-41f0-a0e7-ce21eb804510,"4,373.74",MXN,settlement processor regular payment request,a254e974-273e-43a5-9831-33abcba0f6d5,REGULAR_PYMT_RQ,SETT,2023-09-29 18:10:06,2023-09-30 05:00:00,...,AUDITORIA_AP_JOURNAL SEPTIEMBRE 2023.tsv,2023-09-30,05:00:00,2023-09-29,ALRFM7Y28,2023-09-30,2023-09-30,PAID,ravila@vnagroup.us,VENTO POWERSPORTS
3,2287,8116aa40-f34e-41f0-a0e7-ce21eb804510,"26,247.34",MXN,settlement processor regular payment request,6d3f70e1-913b-40c3-be52-b194077e73d1,REGULAR_PYMT_RQ,SETT,2023-09-29 18:17:48,2023-09-30 05:00:00,...,AUDITORIA_AP_JOURNAL SEPTIEMBRE 2023.tsv,2023-09-30,05:00:00,2023-09-29,ALRFM7Y28,2023-09-30,2023-09-30,PAID,ravila@vnagroup.us,VENTO POWERSPORTS
4,2288,8116aa40-f34e-41f0-a0e7-ce21eb804510,"31,673.68",MXN,settlement processor regular payment request,9827b713-b9a1-46a4-9720-b43602960ef6,REGULAR_PYMT_RQ,SETT,2023-09-29 18:42:05,2023-09-30 05:00:00,...,AUDITORIA_AP_JOURNAL SEPTIEMBRE 2023.tsv,2023-09-30,05:00:00,2023-09-29,ALRFM7Y28,2023-09-30,2023-09-30,PAID,ravila@vnagroup.us,VENTO POWERSPORTS

In [50]:
ap.shape

(2614, 26)

# UNION AP JOURNAL CANCELACIONES CON MAIL

In [51]:
ap_canc = ap_preview_canc.merge(email[['merchant_id','email','merchant_name']],on='merchant_id',how='left')
ap_canc.head()

,merchant_id,amount,currency,type_request,mvnt_id,movement_type,source_type,created_at,eff_dt,movement_day,request_effective_date,slot_date,file_name,eff_dt_date,eff_dt_time,email,merchant_name
0,0000b65a-c2a2-4993-8f4c-05e5b7cbd7c0,-787.68,MXN,cancel request,f6b65fd2-d168-4ecd-b433-97b78808adbb,CANCEL_RQ,PYMT,2023-11-09 14:03:50,2023-11-10 03:30:00,2023-11-09 14:03:50,2023-11-10 03:30:00,1969-12-31 18:00:00,AP-JOURNAL-CANCEL DICIEMBRE 2023.tsv,2023-11-10,03:30:00,ruvalcabapeleteros@hotmail.com,RUVALCABA PELETEROS S.A. DE C.V.
1,0000b65a-c2a2-4993-8f4c-05e5b7cbd7c0,-941.28,MXN,cancel request,d739f381-95ed-4f9e-bf7f-691b44004c11,CANCEL_RQ,PYMT,2023-10-19 14:06:46,2023-10-20 03:30:00,2023-10-19 14:06:46,2023-10-20 03:30:00,1969-12-31 18:00:00,AP-JOURNAL-CANCEL DICIEMBRE 2023.tsv,2023-10-20,03:30:00,ruvalcabapeleteros@hotmail.com,RUVALCABA PELETEROS S.A. DE C.V.
2,0000bc20-a726-4fe6-b784-1eb97c287ad5,-94.87,MXN,cancel request,62e7e6f0-aa27-45be-894f-545f4f1b0ab6,CANCEL_RQ,PYMT,2023-08-22 01:36:22,2023-08-22 01:36:27,2023-08-22 01:36:22,2023-08-23 00:00:00,1969-12-31 18:00:00,AP-JOURNAL-CANCEL DICIEMBRE 2023.tsv,2023-08-22,01:36:27,eberardoburgos6@gmail.com,DOGOS EL WERO
3,0000bc20-a726-4fe6-b784-1eb97c287ad5,-86.24,MXN,cancel request,6d5ac39e-d9b4-4027-9334-d160e4f41ede,CANCEL_RQ,PYMT,2023-08-06 20:10:36,2023-08-06 20:10:41,2023-08-06 20:10:36,2023-08-07 05:00:00,1969-12-31 18:00:00,AP-JOURNAL-CANCEL DICIEMBRE 2023.tsv,2023-08-06,20:10:41,eberardoburgos6@gmail.com,DOGOS EL WERO
4,0000bc20-a726-4fe6-b784-1eb97c287ad5,-60.37,MXN,cancel request,c4edffd4-fe43-4e42-af35-7da22df1ced4,CANCEL_RQ,PYMT,2023-06-22 22:14:53,2023-06-22 22:14:58,2023-06-22 22:14:53,2023-06-23 05:30:00,1969-12-31 18:00:00,AP-JOURNAL-CANCEL DICIEMBRE 2023.tsv,2023-06-22,22:14:58,eberardoburgos6@gmail.com,DOGOS EL WERO

In [52]:
ap_canc.shape

(233225, 17)

In [53]:
duplicates_ap_canc = ap_canc[ap_canc.duplicated(['mvnt_id'] , keep=False)]
duplicates_ap_canc.head()

Empty DataFrame
Columns: [merchant_id, amount, currency, type_request, mvnt_id, movement_type, source_type, created_at, eff_dt, movement_day, request_effective_date, slot_date, file_name, eff_dt_date, eff_dt_time, email, merchant_name]
Index: []

In [54]:
duplicates_ap_canc.shape

(0, 17)

# CRUCE_1: AP JOURNAL VS SETTLEMENT MASTER LOG

In [55]:
cruce_1 = ap.merge(sml_final[['mvnt_id','transaction_id','mvnt_type','pymt_prg','created_at','psp_amount','gross_amount',
                              'fees','taxes','net_amount','mdr','msi','date_transaction','order_id','created_at_cdmx','bin','last4',
                              'affiliation','clave_autorizacion','number_msi','status_code','brand','psp','payment_sub_type',
                              'updated_at_cdmx','receipt_no','issuer','device_id','dcc_amount','dcc_rate','dcc_status',
                              'cc_nb_currency_code','nu_markup']],on='mvnt_id',
                               how='left')
cruce_1.head()

,index,merchant_id,amount,currency,type_request,mvnt_id,movement_type,source_type,created_at_x,eff_dt,...,payment_sub_type,updated_at_cdmx,receipt_no,issuer,device_id,dcc_amount,dcc_rate,dcc_status,cc_nb_currency_code,nu_markup
0,2284,8116aa40-f34e-41f0-a0e7-ce21eb804510,"17,498.88",MXN,settlement processor regular payment request,0f97b4d3-1774-44e8-abfc-469a0393f0b5,REGULAR_PYMT_RQ,SETT,2023-09-29 18:00:41,2023-09-30 05:00:00,...,EMV_PIN,2023-09-29,2WIrmUJ,CITIBANAMEX,N500W4N6302,NaN,NaN,NaN,NaN,NaN
1,2285,8116aa40-f34e-41f0-a0e7-ce21eb804510,"3,750.93",MXN,settlement processor regular payment request,0f87fc85-6935-40bf-84ad-0001131b5c9c,REGULAR_PYMT_RQ,SETT,2023-09-29 18:07:44,2023-09-30 05:00:00,...,EMV_PIN,2023-09-29,bpKiMUC,HSBC PR,N500W4N6302,NaN,NaN,NaN,NaN,NaN
2,2286,8116aa40-f34e-41f0-a0e7-ce21eb804510,"4,373.74",MXN,settlement processor regular payment request,a254e974-273e-43a5-9831-33abcba0f6d5,REGULAR_PYMT_RQ,SETT,2023-09-29 18:10:06,2023-09-30 05:00:00,...,EMV_PIN,2023-09-29,dZsQP6f,HSBC PR,N500W4N6302,NaN,NaN,NaN,NaN,NaN
3,2287,8116aa40-f34e-41f0-a0e7-ce21eb804510,"26,247.34",MXN,settlement processor regular payment request,6d3f70e1-913b-40c3-be52-b194077e73d1,REGULAR_PYMT_RQ,SETT,2023-09-29 18:17:48,2023-09-30 05:00:00,...,EMV_PIN,2023-09-29,kchOJAG,CITIBANAMEX,N500W4N6307,NaN,NaN,NaN,NaN,NaN
4,2288,8116aa40-f34e-41f0-a0e7-ce21eb804510,"31,673.68",MXN,settlement processor regular payment request,9827b713-b9a1-46a4-9720-b43602960ef6,REGULAR_PYMT_RQ,SETT,2023-09-29 18:42:05,2023-09-30 05:00:00,...,EMV_PIN,2023-09-29,jz4je8R,INBURSA PR,N500W4N6316,NaN,NaN,NaN,NaN,NaN

In [56]:
cruce_1.shape

(2614, 58)

In [57]:
cruce_1_email_null = cruce_1[(cruce_1['email'].isnull())]
cruce_1_email_null.head()

Empty DataFrame
Columns: [index, merchant_id, amount, currency, type_request, mvnt_id, movement_type, source_type, created_at_x, eff_dt, movement_day, request_effective_date, slot_date, report_date_local, payment_date_local, status, file_name, eff_dt_date, eff_dt_time, created_at_date, report_id, report_date_local_final, payment_date_local_final, status_final, email, merchant_name, transaction_id, mvnt_type, pymt_prg, created_at_y, psp_amount, gross_amount, fees, taxes, net_amount, mdr, msi, date_transaction, order_id, created_at_cdmx, bin, last4, affiliation, clave_autorizacion, number_msi, status_code, brand, psp, payment_sub_type, updated_at_cdmx, receipt_no, issuer, device_id, dcc_amount, dcc_rate, dcc_status, cc_nb_currency_code, nu_markup]
Index: []

[0 rows x 58 columns]

In [58]:
cruce_1_email_null.shape

(0, 58)

# CRUCE_1_CANCELACIONES: AP JOURNAL CANCELACIONES VS SETTLEMENT MASTER LOG

In [59]:
cruce_1_canc = ap_canc.merge(sml_final[['mvnt_id','transaction_id','mvnt_type','pymt_prg','created_at','psp_amount','gross_amount',
                              'fees','taxes','net_amount','mdr','msi','date_transaction','order_id','created_at_cdmx','bin','last4',
                              'affiliation','clave_autorizacion','number_msi','status_code','brand','psp','payment_sub_type',
                              'updated_at_cdmx','receipt_no','issuer','device_id','dcc_amount','dcc_rate','dcc_status',
                              'cc_nb_currency_code','nu_markup']],
                             on='mvnt_id',how='left')
cruce_1_canc.rename(columns={'psp_amount':'psp_amount_pymt','gross_amount':'gross_amount_pymt','fees':'fees_pymt',
                             'taxes':'taxes_pymt','net_amount':'net_amount_pymt'},inplace=True)
cruce_1_canc.head()

,merchant_id,amount,currency,type_request,mvnt_id,movement_type,source_type,created_at_x,eff_dt,movement_day,...,payment_sub_type,updated_at_cdmx,receipt_no,issuer,device_id,dcc_amount,dcc_rate,dcc_status,cc_nb_currency_code,nu_markup
0,0000b65a-c2a2-4993-8f4c-05e5b7cbd7c0,-787.68,MXN,cancel request,f6b65fd2-d168-4ecd-b433-97b78808adbb,CANCEL_RQ,PYMT,2023-11-09 14:03:50,2023-11-10 03:30:00,2023-11-09 14:03:50,...,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,0000b65a-c2a2-4993-8f4c-05e5b7cbd7c0,-941.28,MXN,cancel request,d739f381-95ed-4f9e-bf7f-691b44004c11,CANCEL_RQ,PYMT,2023-10-19 14:06:46,2023-10-20 03:30:00,2023-10-19 14:06:46,...,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,0000bc20-a726-4fe6-b784-1eb97c287ad5,-94.87,MXN,cancel request,62e7e6f0-aa27-45be-894f-545f4f1b0ab6,CANCEL_RQ,PYMT,2023-08-22 01:36:22,2023-08-22 01:36:27,2023-08-22 01:36:22,...,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,0000bc20-a726-4fe6-b784-1eb97c287ad5,-86.24,MXN,cancel request,6d5ac39e-d9b4-4027-9334-d160e4f41ede,CANCEL_RQ,PYMT,2023-08-06 20:10:36,2023-08-06 20:10:41,2023-08-06 20:10:36,...,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,0000bc20-a726-4fe6-b784-1eb97c287ad5,-60.37,MXN,cancel request,c4edffd4-fe43-4e42-af35-7da22df1ced4,CANCEL_RQ,PYMT,2023-06-22 22:14:53,2023-06-22 22:14:58,2023-06-22 22:14:53,...,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [60]:
cruce_1_canc.shape

(233225, 49)

In [61]:
cruce_1_canc_email_null = cruce_1_canc[(cruce_1_canc['email'].isnull())]
cruce_1_canc_email_null.head()

,merchant_id,amount,currency,type_request,mvnt_id,movement_type,source_type,created_at_x,eff_dt,movement_day,...,payment_sub_type,updated_at_cdmx,receipt_no,issuer,device_id,dcc_amount,dcc_rate,dcc_status,cc_nb_currency_code,nu_markup
151050,a29137b2-414d-428f-8f4a-c4596e48aaf5,-0.60,MXN,NaN,117a1615-c365-4d27-9bef-45c72e506cd3,CANCEL_RQ,PYMT,2022-04-28 16:57:17,2021-12-15 13:51:52,2021-10-15 14:51:52,...,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [62]:
cruce_1_canc_email_null.shape

(1, 49)

# PERIODO FACTURACION

In [63]:
ap_sett = cruce_1[(cruce_1['eff_dt_date'] >= start_date_fact) & (cruce_1['eff_dt_date'] <= final_date_fact)]
ap_sett.head()

,index,merchant_id,amount,currency,type_request,mvnt_id,movement_type,source_type,created_at_x,eff_dt,...,payment_sub_type,updated_at_cdmx,receipt_no,issuer,device_id,dcc_amount,dcc_rate,dcc_status,cc_nb_currency_code,nu_markup
0,2284,8116aa40-f34e-41f0-a0e7-ce21eb804510,"17,498.88",MXN,settlement processor regular payment request,0f97b4d3-1774-44e8-abfc-469a0393f0b5,REGULAR_PYMT_RQ,SETT,2023-09-29 18:00:41,2023-09-30 05:00:00,...,EMV_PIN,2023-09-29,2WIrmUJ,CITIBANAMEX,N500W4N6302,NaN,NaN,NaN,NaN,NaN
1,2285,8116aa40-f34e-41f0-a0e7-ce21eb804510,"3,750.93",MXN,settlement processor regular payment request,0f87fc85-6935-40bf-84ad-0001131b5c9c,REGULAR_PYMT_RQ,SETT,2023-09-29 18:07:44,2023-09-30 05:00:00,...,EMV_PIN,2023-09-29,bpKiMUC,HSBC PR,N500W4N6302,NaN,NaN,NaN,NaN,NaN
2,2286,8116aa40-f34e-41f0-a0e7-ce21eb804510,"4,373.74",MXN,settlement processor regular payment request,a254e974-273e-43a5-9831-33abcba0f6d5,REGULAR_PYMT_RQ,SETT,2023-09-29 18:10:06,2023-09-30 05:00:00,...,EMV_PIN,2023-09-29,dZsQP6f,HSBC PR,N500W4N6302,NaN,NaN,NaN,NaN,NaN
3,2287,8116aa40-f34e-41f0-a0e7-ce21eb804510,"26,247.34",MXN,settlement processor regular payment request,6d3f70e1-913b-40c3-be52-b194077e73d1,REGULAR_PYMT_RQ,SETT,2023-09-29 18:17:48,2023-09-30 05:00:00,...,EMV_PIN,2023-09-29,kchOJAG,CITIBANAMEX,N500W4N6307,NaN,NaN,NaN,NaN,NaN
4,2288,8116aa40-f34e-41f0-a0e7-ce21eb804510,"31,673.68",MXN,settlement processor regular payment request,9827b713-b9a1-46a4-9720-b43602960ef6,REGULAR_PYMT_RQ,SETT,2023-09-29 18:42:05,2023-09-30 05:00:00,...,EMV_PIN,2023-09-29,jz4je8R,INBURSA PR,N500W4N6316,NaN,NaN,NaN,NaN,NaN

In [64]:
ap_sett.shape

(2614, 58)

In [65]:
sorted(ap_sett['eff_dt_date'].unique())

[Timestamp('2023-09-01 00:00:00'),
 Timestamp('2023-09-02 00:00:00'),
 Timestamp('2023-09-03 00:00:00'),
 Timestamp('2023-09-04 00:00:00'),
 Timestamp('2023-09-05 00:00:00'),
 Timestamp('2023-09-06 00:00:00'),
 Timestamp('2023-09-07 00:00:00'),
 Timestamp('2023-09-08 00:00:00'),
 Timestamp('2023-09-09 00:00:00'),
 Timestamp('2023-09-10 00:00:00'),
 Timestamp('2023-09-11 00:00:00'),
 Timestamp('2023-09-12 00:00:00'),
 Timestamp('2023-09-13 00:00:00'),
 Timestamp('2023-09-14 00:00:00'),
 Timestamp('2023-09-15 00:00:00'),
 Timestamp('2023-09-16 00:00:00'),
 Timestamp('2023-09-17 00:00:00'),
 Timestamp('2023-09-18 00:00:00'),
 Timestamp('2023-09-19 00:00:00'),
 Timestamp('2023-09-20 00:00:00'),
 Timestamp('2023-09-21 00:00:00'),
 Timestamp('2023-09-22 00:00:00'),
 Timestamp('2023-09-23 00:00:00'),
 Timestamp('2023-09-24 00:00:00'),
 Timestamp('2023-09-25 00:00:00'),
 Timestamp('2023-09-26 00:00:00'),
 Timestamp('2023-09-27 00:00:00'),
 Timestamp('2023-09-28 00:00:00'),
 Timestamp('2023-09-29 00:00:00'),
 Timestamp('2023-09-30 00:00:00')]

# TPV NOT FOUND IN SETTLEMENT MASTER LOG

### AP SETTLEMENT

In [66]:
ap_sett['movement_type'].unique()

array(['REGULAR_PYMT_RQ'], dtype=object)

In [67]:
ap_sett_not_found = ap_sett[(ap_sett['gross_amount'].isnull())]
ap_sett_not_found.drop(['gross_amount','fees','taxes','net_amount'],axis=1,inplace=True)
ap_sett_not_found.head()

C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_5188\3254993514.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ap_sett_not_found.drop(['gross_amount','fees','taxes','net_amount'],axis=1,inplace=True)

Empty DataFrame
Columns: [index, merchant_id, amount, currency, type_request, mvnt_id, movement_type, source_type, created_at_x, eff_dt, movement_day, request_effective_date, slot_date, report_date_local, payment_date_local, status, file_name, eff_dt_date, eff_dt_time, created_at_date, report_id, report_date_local_final, payment_date_local_final, status_final, email, merchant_name, transaction_id, mvnt_type, pymt_prg, created_at_y, psp_amount, mdr, msi, date_transaction, order_id, created_at_cdmx, bin, last4, affiliation, clave_autorizacion, number_msi, status_code, brand, psp, payment_sub_type, updated_at_cdmx, receipt_no, issuer, device_id, dcc_amount, dcc_rate, dcc_status, cc_nb_currency_code, nu_markup]
Index: []

[0 rows x 54 columns]

In [68]:
ap_sett_not_found.shape

(0, 54)

# UNION TPV FINAL

### AP SETTLEMENT

In [69]:
ap_sett_found = ap_sett[(ap_sett['gross_amount'].notnull())]
ap_sett_found.head()

,index,merchant_id,amount,currency,type_request,mvnt_id,movement_type,source_type,created_at_x,eff_dt,...,payment_sub_type,updated_at_cdmx,receipt_no,issuer,device_id,dcc_amount,dcc_rate,dcc_status,cc_nb_currency_code,nu_markup
0,2284,8116aa40-f34e-41f0-a0e7-ce21eb804510,"17,498.88",MXN,settlement processor regular payment request,0f97b4d3-1774-44e8-abfc-469a0393f0b5,REGULAR_PYMT_RQ,SETT,2023-09-29 18:00:41,2023-09-30 05:00:00,...,EMV_PIN,2023-09-29,2WIrmUJ,CITIBANAMEX,N500W4N6302,NaN,NaN,NaN,NaN,NaN
1,2285,8116aa40-f34e-41f0-a0e7-ce21eb804510,"3,750.93",MXN,settlement processor regular payment request,0f87fc85-6935-40bf-84ad-0001131b5c9c,REGULAR_PYMT_RQ,SETT,2023-09-29 18:07:44,2023-09-30 05:00:00,...,EMV_PIN,2023-09-29,bpKiMUC,HSBC PR,N500W4N6302,NaN,NaN,NaN,NaN,NaN
2,2286,8116aa40-f34e-41f0-a0e7-ce21eb804510,"4,373.74",MXN,settlement processor regular payment request,a254e974-273e-43a5-9831-33abcba0f6d5,REGULAR_PYMT_RQ,SETT,2023-09-29 18:10:06,2023-09-30 05:00:00,...,EMV_PIN,2023-09-29,dZsQP6f,HSBC PR,N500W4N6302,NaN,NaN,NaN,NaN,NaN
3,2287,8116aa40-f34e-41f0-a0e7-ce21eb804510,"26,247.34",MXN,settlement processor regular payment request,6d3f70e1-913b-40c3-be52-b194077e73d1,REGULAR_PYMT_RQ,SETT,2023-09-29 18:17:48,2023-09-30 05:00:00,...,EMV_PIN,2023-09-29,kchOJAG,CITIBANAMEX,N500W4N6307,NaN,NaN,NaN,NaN,NaN
4,2288,8116aa40-f34e-41f0-a0e7-ce21eb804510,"31,673.68",MXN,settlement processor regular payment request,9827b713-b9a1-46a4-9720-b43602960ef6,REGULAR_PYMT_RQ,SETT,2023-09-29 18:42:05,2023-09-30 05:00:00,...,EMV_PIN,2023-09-29,jz4je8R,INBURSA PR,N500W4N6316,NaN,NaN,NaN,NaN,NaN

In [70]:
ap_sett_found.shape

(2614, 58)

In [71]:
ap_sett_final_1 = pd.concat([ap_sett_found])
ap_sett_final_1.rename(columns={'psp_amount':'psp_amount_sett','gross_amount':'gross_amount_sett','fees':'fees_sett',
                                'taxes':'taxes_sett','net_amount':'net_amount_sett'},inplace=True)
ap_sett_final_1.head()

,index,merchant_id,amount,currency,type_request,mvnt_id,movement_type,source_type,created_at_x,eff_dt,...,payment_sub_type,updated_at_cdmx,receipt_no,issuer,device_id,dcc_amount,dcc_rate,dcc_status,cc_nb_currency_code,nu_markup
0,2284,8116aa40-f34e-41f0-a0e7-ce21eb804510,"17,498.88",MXN,settlement processor regular payment request,0f97b4d3-1774-44e8-abfc-469a0393f0b5,REGULAR_PYMT_RQ,SETT,2023-09-29 18:00:41,2023-09-30 05:00:00,...,EMV_PIN,2023-09-29,2WIrmUJ,CITIBANAMEX,N500W4N6302,NaN,NaN,NaN,NaN,NaN
1,2285,8116aa40-f34e-41f0-a0e7-ce21eb804510,"3,750.93",MXN,settlement processor regular payment request,0f87fc85-6935-40bf-84ad-0001131b5c9c,REGULAR_PYMT_RQ,SETT,2023-09-29 18:07:44,2023-09-30 05:00:00,...,EMV_PIN,2023-09-29,bpKiMUC,HSBC PR,N500W4N6302,NaN,NaN,NaN,NaN,NaN
2,2286,8116aa40-f34e-41f0-a0e7-ce21eb804510,"4,373.74",MXN,settlement processor regular payment request,a254e974-273e-43a5-9831-33abcba0f6d5,REGULAR_PYMT_RQ,SETT,2023-09-29 18:10:06,2023-09-30 05:00:00,...,EMV_PIN,2023-09-29,dZsQP6f,HSBC PR,N500W4N6302,NaN,NaN,NaN,NaN,NaN
3,2287,8116aa40-f34e-41f0-a0e7-ce21eb804510,"26,247.34",MXN,settlement processor regular payment request,6d3f70e1-913b-40c3-be52-b194077e73d1,REGULAR_PYMT_RQ,SETT,2023-09-29 18:17:48,2023-09-30 05:00:00,...,EMV_PIN,2023-09-29,kchOJAG,CITIBANAMEX,N500W4N6307,NaN,NaN,NaN,NaN,NaN
4,2288,8116aa40-f34e-41f0-a0e7-ce21eb804510,"31,673.68",MXN,settlement processor regular payment request,9827b713-b9a1-46a4-9720-b43602960ef6,REGULAR_PYMT_RQ,SETT,2023-09-29 18:42:05,2023-09-30 05:00:00,...,EMV_PIN,2023-09-29,jz4je8R,INBURSA PR,N500W4N6316,NaN,NaN,NaN,NaN,NaN

In [72]:
ap_sett_final_1.shape

(2614, 58)

# VALIDACIONES (DEBEN ESTAR EN 0)

In [73]:
ap_sett_final_1_found = ap_sett_final_1[(ap_sett_final_1['gross_amount_sett'].isnull())]
ap_sett_final_1_found.head()

Empty DataFrame
Columns: [index, merchant_id, amount, currency, type_request, mvnt_id, movement_type, source_type, created_at_x, eff_dt, movement_day, request_effective_date, slot_date, report_date_local, payment_date_local, status, file_name, eff_dt_date, eff_dt_time, created_at_date, report_id, report_date_local_final, payment_date_local_final, status_final, email, merchant_name, transaction_id, mvnt_type, pymt_prg, created_at_y, psp_amount_sett, gross_amount_sett, fees_sett, taxes_sett, net_amount_sett, mdr, msi, date_transaction, order_id, created_at_cdmx, bin, last4, affiliation, clave_autorizacion, number_msi, status_code, brand, psp, payment_sub_type, updated_at_cdmx, receipt_no, issuer, device_id, dcc_amount, dcc_rate, dcc_status, cc_nb_currency_code, nu_markup]
Index: []

[0 rows x 58 columns]

In [74]:
ap_sett_final_1_found.shape

(0, 58)

In [75]:
# ap_pymt_final_1_found = ap_pymt_final_1[(ap_pymt_final_1['gross_amount_pymt'].isnull())]
# ap_pymt_final_1_found.head()

In [76]:
# ap_pymt_final_1_found.shape

# RESTAR CANCELACIONES DE AP SETTLEMENT

In [77]:
ap_sett_final = ap_sett_final_1.merge(cruce_1_canc[['mvnt_id','psp_amount_pymt','gross_amount_pymt','fees_pymt','taxes_pymt',
                                                             'net_amount_pymt']],on='mvnt_id',how='left')
ap_sett_final.fillna(0,inplace=True)
ap_sett_final['psp_amount'] = ap_sett_final['psp_amount_sett'] - ap_sett_final['psp_amount_pymt'] 
ap_sett_final['gross_amount'] = ap_sett_final['gross_amount_sett'] - ap_sett_final['gross_amount_pymt'] 
ap_sett_final['fees'] = ap_sett_final['fees_sett'] - ap_sett_final['fees_pymt'] 
ap_sett_final['taxes'] = ap_sett_final['taxes_sett'] - ap_sett_final['taxes_pymt'] 
ap_sett_final['net_amount'] = ap_sett_final['net_amount_sett'] - ap_sett_final['net_amount_pymt']
ap_sett_final.loc[ap_sett_final['pymt_prg'] == 'DIGITAL_ACCOUNT', 'movement_type_sml'] = ap_sett_final['pymt_prg']
ap_sett_final.loc[ap_sett_final['dcc_status'] == 'Tarjeta con DCC', 'movement_type_sml'] = ap_sett_final['dcc_status']
ap_sett_final['movement_type_sml'].fillna(0, inplace=True)
ap_sett_final.head()

C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_5188\3865887811.py:3: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '0' has dtype incompatible with datetime64[ns], please explicitly cast to a compatible dtype first.
  ap_sett_final.fillna(0,inplace=True)

,index,merchant_id,amount,currency,type_request,mvnt_id,movement_type,source_type,created_at_x,eff_dt,...,gross_amount_pymt,fees_pymt,taxes_pymt,net_amount_pymt,psp_amount,gross_amount,fees,taxes,net_amount,movement_type_sml
0,2284,8116aa40-f34e-41f0-a0e7-ce21eb804510,"17,498.88",MXN,settlement processor regular payment request,0f97b4d3-1774-44e8-abfc-469a0393f0b5,REGULAR_PYMT_RQ,SETT,2023-09-29 18:00:41,2023-09-30 05:00:00,...,0.00,0.00,0.00,0.00,"18,000.00","18,000.00",432.00,69.12,"17,498.88",0
1,2285,8116aa40-f34e-41f0-a0e7-ce21eb804510,"3,750.93",MXN,settlement processor regular payment request,0f87fc85-6935-40bf-84ad-0001131b5c9c,REGULAR_PYMT_RQ,SETT,2023-09-29 18:07:44,2023-09-30 05:00:00,...,0.00,0.00,0.00,0.00,"4,500.00","4,500.00",645.75,103.32,"3,750.93",0
2,2286,8116aa40-f34e-41f0-a0e7-ce21eb804510,"4,373.74",MXN,settlement processor regular payment request,a254e974-273e-43a5-9831-33abcba0f6d5,REGULAR_PYMT_RQ,SETT,2023-09-29 18:10:06,2023-09-30 05:00:00,...,0.00,0.00,0.00,0.00,"4,499.00","4,499.00",107.98,17.28,"4,373.74",0
3,2287,8116aa40-f34e-41f0-a0e7-ce21eb804510,"26,247.34",MXN,settlement processor regular payment request,6d3f70e1-913b-40c3-be52-b194077e73d1,REGULAR_PYMT_RQ,SETT,2023-09-29 18:17:48,2023-09-30 05:00:00,...,0.00,0.00,0.00,0.00,"26,999.00","26,999.00",647.98,103.68,"26,247.34",0
4,2288,8116aa40-f34e-41f0-a0e7-ce21eb804510,"31,673.68",MXN,settlement processor regular payment request,9827b713-b9a1-46a4-9720-b43602960ef6,REGULAR_PYMT_RQ,SETT,2023-09-29 18:42:05,2023-09-30 05:00:00,...,0.00,0.00,0.00,0.00,"37,999.00","37,999.00","5,452.86",872.46,"31,673.68",0

In [78]:
ap_sett_final.shape

(2614, 69)

In [79]:
ap_sett_final['movement_type'].unique()

array(['REGULAR_PYMT_RQ'], dtype=object)

In [80]:
ap_sett_final['pymt_prg'].unique()

array(['REGULAR_PAYMENT'], dtype=object)

In [81]:
ap_sett_final['dcc_status'].unique()

array([0.])

In [82]:
ap_sett_final['movement_type_sml'].unique()

array([0], dtype=int64)

In [83]:
ap_sett_final.columns

Index(['index', 'merchant_id', 'amount', 'currency', 'type_request', 'mvnt_id',
       'movement_type', 'source_type', 'created_at_x', 'eff_dt',
       'movement_day', 'request_effective_date', 'slot_date',
       'report_date_local', 'payment_date_local', 'status', 'file_name',
       'eff_dt_date', 'eff_dt_time', 'created_at_date', 'report_id',
       'report_date_local_final', 'payment_date_local_final', 'status_final',
       'email', 'merchant_name', 'transaction_id', 'mvnt_type', 'pymt_prg',
       'created_at_y', 'psp_amount_sett', 'gross_amount_sett', 'fees_sett',
       'taxes_sett', 'net_amount_sett', 'mdr', 'msi', 'date_transaction',
       'order_id', 'created_at_cdmx', 'bin', 'last4', 'affiliation',
       'clave_autorizacion', 'number_msi', 'status_code', 'brand', 'psp',
       'payment_sub_type', 'updated_at_cdmx', 'receipt_no', 'issuer',
       'device_id', 'dcc_amount', 'dcc_rate', 'dcc_status',
       'cc_nb_currency_code', 'nu_markup', 'psp_amount_pymt',
       'gross_amount_pymt', 'fees_pymt', 'taxes_pymt', 'net_amount_pymt',
       'psp_amount', 'gross_amount', 'fees', 'taxes', 'net_amount',
       'movement_type_sml'],
      dtype='object')

# IDENTIFICACION DE PAGOS DCC

In [84]:
ap_sett_dcc = ap_sett_final[(ap_sett_final['dcc_status'] == 'Tarjeta con DCC')]
ap_sett_dcc.head()

Empty DataFrame
Columns: [index, merchant_id, amount, currency, type_request, mvnt_id, movement_type, source_type, created_at_x, eff_dt, movement_day, request_effective_date, slot_date, report_date_local, payment_date_local, status, file_name, eff_dt_date, eff_dt_time, created_at_date, report_id, report_date_local_final, payment_date_local_final, status_final, email, merchant_name, transaction_id, mvnt_type, pymt_prg, created_at_y, psp_amount_sett, gross_amount_sett, fees_sett, taxes_sett, net_amount_sett, mdr, msi, date_transaction, order_id, created_at_cdmx, bin, last4, affiliation, clave_autorizacion, number_msi, status_code, brand, psp, payment_sub_type, updated_at_cdmx, receipt_no, issuer, device_id, dcc_amount, dcc_rate, dcc_status, cc_nb_currency_code, nu_markup, psp_amount_pymt, gross_amount_pymt, fees_pymt, taxes_pymt, net_amount_pymt, psp_amount, gross_amount, fees, taxes, net_amount, movement_type_sml]
Index: []

[0 rows x 69 columns]

In [85]:
ap_sett_dcc.shape

(0, 69)

In [86]:
ap_sett_dcc['movement_type'].unique()

array([], dtype=object)

# ONLY REGULAR - FAST PAYMENTS

In [87]:
ap_sett_final_regular_fp = ap_sett_final
ap_sett_final_regular_fp.loc[ap_sett_final_regular_fp['movement_type'] == 'DEFERRED_REGULAR_PYMNT_RQ', 'gross_amount_dp'] = ap_sett_final_regular_fp['gross_amount']
ap_sett_final_regular_fp.loc[ap_sett_final_regular_fp['movement_type'] == 'DEFERRED_REGULAR_PYMNT_RQ', 'gross_amount'] = 0
ap_sett_final_regular_fp.loc[ap_sett_final_regular_fp['movement_type'] == 'DEFERRED_FAST_PYMNT_RQ', 'gross_amount_dp'] = ap_sett_final_regular_fp['gross_amount']
ap_sett_final_regular_fp.loc[ap_sett_final_regular_fp['movement_type'] == 'DEFERRED_FAST_PYMNT_RQ', 'gross_amount'] = 0
ap_sett_final_regular_fp.head()

,index,merchant_id,amount,currency,type_request,mvnt_id,movement_type,source_type,created_at_x,eff_dt,...,fees_pymt,taxes_pymt,net_amount_pymt,psp_amount,gross_amount,fees,taxes,net_amount,movement_type_sml,gross_amount_dp
0,2284,8116aa40-f34e-41f0-a0e7-ce21eb804510,"17,498.88",MXN,settlement processor regular payment request,0f97b4d3-1774-44e8-abfc-469a0393f0b5,REGULAR_PYMT_RQ,SETT,2023-09-29 18:00:41,2023-09-30 05:00:00,...,0.00,0.00,0.00,"18,000.00","18,000.00",432.00,69.12,"17,498.88",0,NaN
1,2285,8116aa40-f34e-41f0-a0e7-ce21eb804510,"3,750.93",MXN,settlement processor regular payment request,0f87fc85-6935-40bf-84ad-0001131b5c9c,REGULAR_PYMT_RQ,SETT,2023-09-29 18:07:44,2023-09-30 05:00:00,...,0.00,0.00,0.00,"4,500.00","4,500.00",645.75,103.32,"3,750.93",0,NaN
2,2286,8116aa40-f34e-41f0-a0e7-ce21eb804510,"4,373.74",MXN,settlement processor regular payment request,a254e974-273e-43a5-9831-33abcba0f6d5,REGULAR_PYMT_RQ,SETT,2023-09-29 18:10:06,2023-09-30 05:00:00,...,0.00,0.00,0.00,"4,499.00","4,499.00",107.98,17.28,"4,373.74",0,NaN
3,2287,8116aa40-f34e-41f0-a0e7-ce21eb804510,"26,247.34",MXN,settlement processor regular payment request,6d3f70e1-913b-40c3-be52-b194077e73d1,REGULAR_PYMT_RQ,SETT,2023-09-29 18:17:48,2023-09-30 05:00:00,...,0.00,0.00,0.00,"26,999.00","26,999.00",647.98,103.68,"26,247.34",0,NaN
4,2288,8116aa40-f34e-41f0-a0e7-ce21eb804510,"31,673.68",MXN,settlement processor regular payment request,9827b713-b9a1-46a4-9720-b43602960ef6,REGULAR_PYMT_RQ,SETT,2023-09-29 18:42:05,2023-09-30 05:00:00,...,0.00,0.00,0.00,"37,999.00","37,999.00","5,452.86",872.46,"31,673.68",0,NaN

In [88]:
ap_sett_final_regular_fp.shape

(2614, 70)

In [89]:
ap_sett_final_regular_fp['movement_type'].unique()

array(['REGULAR_PYMT_RQ'], dtype=object)

In [90]:
ap_sett_final_cancelaciones = ap_sett_final_regular_fp[(ap_sett_final_regular_fp['gross_amount_pymt'] != 0)]
ap_sett_final_cancelaciones.head()

,index,merchant_id,amount,currency,type_request,mvnt_id,movement_type,source_type,created_at_x,eff_dt,...,fees_pymt,taxes_pymt,net_amount_pymt,psp_amount,gross_amount,fees,taxes,net_amount,movement_type_sml,gross_amount_dp
100,2095,8116aa40-f34e-41f0-a0e7-ce21eb804510,"15,836.42",MXN,settlement processor regular payment request,1b63a2b4-0c78-41dd-9b2e-fa12df629ce8,REGULAR_PYMT_RQ,SETT,2023-09-28 18:39:05,2023-09-29 05:00:00,...,"2,726.36",436.22,"15,836.42",0.00,0.00,0.00,0.00,0.00,0,NaN
497,1293,8116aa40-f34e-41f0-a0e7-ce21eb804510,"34,024.62",MXN,settlement processor regular payment request,60c087d1-6c61-4223-8172-80fefad094a9,REGULAR_PYMT_RQ,SETT,2023-09-24 12:04:16,2023-09-25 03:30:00,...,839.98,134.40,"34,024.62",0.00,0.00,0.00,0.00,0.00,0,NaN
572,1108,8116aa40-f34e-41f0-a0e7-ce21eb804510,"32,080.30",MXN,settlement processor regular payment request,e217bd7d-c80a-4433-96e3-c4664fa17122,REGULAR_PYMT_RQ,SETT,2023-09-23 14:17:35,2023-09-24 04:00:00,...,791.98,126.72,"32,080.30",0.00,0.00,0.00,0.00,0.00,0,NaN
693,243,8116aa40-f34e-41f0-a0e7-ce21eb804510,"6,804.14",MXN,settlement processor regular payment request,2d3bad7d-889e-4a93-8421-3658e3a0bb23,REGULAR_PYMT_RQ,SETT,2023-09-22 16:25:49,2023-09-23 04:30:00,...,167.98,26.88,"6,804.14",0.00,0.00,0.00,0.00,0.00,0,NaN
747,198,8116aa40-f34e-41f0-a0e7-ce21eb804510,2.95,MXN,settlement processor regular payment request,50a337b1-22c9-450c-b1a7-3a9a89a27e25,REGULAR_PYMT_RQ,SETT,2023-09-22 11:00:34,2023-09-23 03:00:00,...,0.07,0.01,2.95,0.00,0.00,0.00,0.00,0.00,0,NaN

In [91]:
ap_sett_final_cancelaciones.shape

(18, 70)

# DATA AUDITORIA REGULAR - FAST PAYMENTS

In [92]:
auditoria_previo_1 = ap_sett_final_regular_fp[['movement_type','email','date_transaction','merchant_id','transaction_id','mvnt_id','order_id',
                                               'created_at_cdmx','gross_amount','fees','taxes','net_amount','bin','last4','affiliation',
                                               'clave_autorizacion','number_msi','status_code','brand','psp','payment_sub_type',
                                               'updated_at_cdmx','receipt_no','issuer','device_id','report_date_local_final',
                                               'payment_date_local_final','report_id','status_final']]
auditoria_previo_1.head()

,movement_type,email,date_transaction,merchant_id,transaction_id,mvnt_id,order_id,created_at_cdmx,gross_amount,fees,...,psp,payment_sub_type,updated_at_cdmx,receipt_no,issuer,device_id,report_date_local_final,payment_date_local_final,report_id,status_final
0,REGULAR_PYMT_RQ,ravila@vnagroup.us,2023-09-29,8116aa40-f34e-41f0-a0e7-ce21eb804510,0f97b4d3-1774-44e8-abfc-469a0393f0b5,0f97b4d3-1774-44e8-abfc-469a0393f0b5,736481305381,2023-09-29,"18,000.00",432.00,...,MIT-CP,EMV_PIN,2023-09-29,2WIrmUJ,CITIBANAMEX,N500W4N6302,2023-09-30,2023-09-30,ALRFM7Y28,PAID
1,REGULAR_PYMT_RQ,ravila@vnagroup.us,2023-09-29,8116aa40-f34e-41f0-a0e7-ce21eb804510,0f87fc85-6935-40bf-84ad-0001131b5c9c,0f87fc85-6935-40bf-84ad-0001131b5c9c,142804977776,2023-09-29,"4,500.00",645.75,...,PAYWORKS-BANORTE-CP,EMV_PIN,2023-09-29,bpKiMUC,HSBC PR,N500W4N6302,2023-09-30,2023-09-30,ALRFM7Y28,PAID
2,REGULAR_PYMT_RQ,ravila@vnagroup.us,2023-09-29,8116aa40-f34e-41f0-a0e7-ce21eb804510,a254e974-273e-43a5-9831-33abcba0f6d5,a254e974-273e-43a5-9831-33abcba0f6d5,890304578056,2023-09-29,"4,499.00",107.98,...,MIT-CP,EMV_PIN,2023-09-29,dZsQP6f,HSBC PR,N500W4N6302,2023-09-30,2023-09-30,ALRFM7Y28,PAID
3,REGULAR_PYMT_RQ,ravila@vnagroup.us,2023-09-29,8116aa40-f34e-41f0-a0e7-ce21eb804510,6d3f70e1-913b-40c3-be52-b194077e73d1,6d3f70e1-913b-40c3-be52-b194077e73d1,765625146046,2023-09-29,"26,999.00",647.98,...,MIT-CP,EMV_PIN,2023-09-29,kchOJAG,CITIBANAMEX,N500W4N6307,2023-09-30,2023-09-30,ALRFM7Y28,PAID
4,REGULAR_PYMT_RQ,ravila@vnagroup.us,2023-09-29,8116aa40-f34e-41f0-a0e7-ce21eb804510,9827b713-b9a1-46a4-9720-b43602960ef6,9827b713-b9a1-46a4-9720-b43602960ef6,223312500946,2023-09-29,"37,999.00","5,452.86",...,PROSA,EMV_PIN,2023-09-29,jz4je8R,INBURSA PR,N500W4N6316,2023-09-30,2023-09-30,ALRFM7Y28,PAID

In [93]:
auditoria_previo_1.shape

(2614, 29)

# DEFERRED PAYMENTS

In [94]:
ap_sett_final_deferred = ap_sett_final[((ap_sett_final['movement_type'] == 'DEFERRED_REGULAR_PYMNT_RQ') |
                                        (ap_sett_final['movement_type'] == 'DEFERRED_FAST_PYMNT_RQ'))]
ap_sett_final_deferred['ingreso_deferred'] = ap_sett_final_deferred['psp_amount'] - ap_sett_final_deferred['gross_amount_dp']
ap_sett_final_deferred['fees_deferred'] = ap_sett_final_deferred['ingreso_deferred'] / 1.1600
ap_sett_final_deferred['taxes_deferred'] = ap_sett_final_deferred['fees_deferred']  * 0.1600
ap_sett_final_deferred.head()

Empty DataFrame
Columns: [index, merchant_id, amount, currency, type_request, mvnt_id, movement_type, source_type, created_at_x, eff_dt, movement_day, request_effective_date, slot_date, report_date_local, payment_date_local, status, file_name, eff_dt_date, eff_dt_time, created_at_date, report_id, report_date_local_final, payment_date_local_final, status_final, email, merchant_name, transaction_id, mvnt_type, pymt_prg, created_at_y, psp_amount_sett, gross_amount_sett, fees_sett, taxes_sett, net_amount_sett, mdr, msi, date_transaction, order_id, created_at_cdmx, bin, last4, affiliation, clave_autorizacion, number_msi, status_code, brand, psp, payment_sub_type, updated_at_cdmx, receipt_no, issuer, device_id, dcc_amount, dcc_rate, dcc_status, cc_nb_currency_code, nu_markup, psp_amount_pymt, gross_amount_pymt, fees_pymt, taxes_pymt, net_amount_pymt, psp_amount, gross_amount, fees, taxes, net_amount, movement_type_sml, gross_amount_dp, ingreso_deferred, fees_deferred, taxes_deferred]
Index: []

[0 rows x 73 columns]

In [95]:
ap_sett_final_deferred.shape

(0, 73)

# FILE AUDITORIA INCLUYENDO DEFERRED PAYMENTS

In [96]:
auditoria_previo_2 = auditoria_previo_1.merge(ap_sett_final_deferred[['mvnt_id','psp_amount','gross_amount_dp','ingreso_deferred',
                                                                   'fees_deferred','taxes_deferred']],on='mvnt_id',how='left')
auditoria_previo_2.fillna(0,inplace=True)
auditoria_previo_2.head()

,movement_type,email,date_transaction,merchant_id,transaction_id,mvnt_id,order_id,created_at_cdmx,gross_amount,fees,...,device_id,report_date_local_final,payment_date_local_final,report_id,status_final,psp_amount,gross_amount_dp,ingreso_deferred,fees_deferred,taxes_deferred
0,REGULAR_PYMT_RQ,ravila@vnagroup.us,2023-09-29,8116aa40-f34e-41f0-a0e7-ce21eb804510,0f97b4d3-1774-44e8-abfc-469a0393f0b5,0f97b4d3-1774-44e8-abfc-469a0393f0b5,736481305381,2023-09-29,"18,000.00",432.00,...,N500W4N6302,2023-09-30,2023-09-30,ALRFM7Y28,PAID,0.00,0.00,0.00,0.00,0.00
1,REGULAR_PYMT_RQ,ravila@vnagroup.us,2023-09-29,8116aa40-f34e-41f0-a0e7-ce21eb804510,0f87fc85-6935-40bf-84ad-0001131b5c9c,0f87fc85-6935-40bf-84ad-0001131b5c9c,142804977776,2023-09-29,"4,500.00",645.75,...,N500W4N6302,2023-09-30,2023-09-30,ALRFM7Y28,PAID,0.00,0.00,0.00,0.00,0.00
2,REGULAR_PYMT_RQ,ravila@vnagroup.us,2023-09-29,8116aa40-f34e-41f0-a0e7-ce21eb804510,a254e974-273e-43a5-9831-33abcba0f6d5,a254e974-273e-43a5-9831-33abcba0f6d5,890304578056,2023-09-29,"4,499.00",107.98,...,N500W4N6302,2023-09-30,2023-09-30,ALRFM7Y28,PAID,0.00,0.00,0.00,0.00,0.00
3,REGULAR_PYMT_RQ,ravila@vnagroup.us,2023-09-29,8116aa40-f34e-41f0-a0e7-ce21eb804510,6d3f70e1-913b-40c3-be52-b194077e73d1,6d3f70e1-913b-40c3-be52-b194077e73d1,765625146046,2023-09-29,"26,999.00",647.98,...,N500W4N6307,2023-09-30,2023-09-30,ALRFM7Y28,PAID,0.00,0.00,0.00,0.00,0.00
4,REGULAR_PYMT_RQ,ravila@vnagroup.us,2023-09-29,8116aa40-f34e-41f0-a0e7-ce21eb804510,9827b713-b9a1-46a4-9720-b43602960ef6,9827b713-b9a1-46a4-9720-b43602960ef6,223312500946,2023-09-29,"37,999.00","5,452.86",...,N500W4N6316,2023-09-30,2023-09-30,ALRFM7Y28,PAID,0.00,0.00,0.00,0.00,0.00

In [97]:
auditoria_previo_2.shape

(2614, 34)

# MUESTRA AUDITORIA

In [98]:
muestra_audit = pd.concat([pd.read_excel(f,sheet_name='Data_facturacion').assign(file_name=os.path.basename(f)) for f in muestra_audit_files])
muestra_audit.head()

,mes_facturacion,numero_partida,tipo_facturacion,merchant_id,user_email,Total due (payment),total_transactions,Txns fees,TopUps fees_2,Fees ingreso bill payments,Fees bonificación bill payments,Fees bonificación cashback,Loans fees,Net fees,Global taxes,gross_amount_dp,fees_deferred,taxes_deferred,status_me,file_name
0,Diciembre,71,Público general,3674ca47-bd2e-4155-af31-a2ddaea1f1c7,gerencia@vanguardiamex.com.mx,"176,991.22","184,704.48","6,649.35",0.00,0,0,0,0,"6,649.35","1,063.90",0,0.00,0.00,ACTIVATED,Muestra_auditores_diciembre_2023.xlsx
1,Diciembre,72,Público general,e24bea55-248e-46af-af4a-88efd48f9631,giselaer05@gmail.com,"2,433.93","2,540.00",91.44,0.00,0,0,0,0,91.44,14.63,0,0.00,0.00,ACTIVATED,Muestra_auditores_diciembre_2023.xlsx
2,Diciembre,73,Público general,eba226d4-f661-4692-a0c2-7018350b19a3,sofbet2000@yahoo.com.mx,"1,486.17","1,550.97",55.85,0.00,0,0,0,0,55.85,8.94,0,0.00,0.00,ACTIVATED,Muestra_auditores_diciembre_2023.xlsx
3,Diciembre,74,Público general,06cd2ba4-fb98-4203-920d-0eb696a92f46,areli039rr@gmail.com,202.18,211.00,7.60,0.00,0,0,0,0,7.60,1.22,0,0.00,0.00,ACTIVATED,Muestra_auditores_diciembre_2023.xlsx
4,Diciembre,75,Público general,0752dc79-0170-4012-b95f-98fc808e83d4,oh46903@gmail.com,"3,787.43","3,952.50",142.30,72.07,0,0,0,0,70.23,11.24,0,0.00,0.00,ACTIVATED,Muestra_auditores_diciembre_2023.xlsx

In [99]:
muestra_audit.shape

(10, 20)

# CRUCE ARCHIVO AUDITORIA PREVIO VS. MUESTRA AUDITORES

In [100]:
auditoria_previo_3 = auditoria_previo_2.merge(muestra_audit[['merchant_id','mes_facturacion','numero_partida','tipo_facturacion',
                                                             'status_me']],on='merchant_id',how='left')
auditoria_previo_3.fillna(0,inplace=True)
auditoria_previo_3['no_txn'] = ''
auditoria_previo_3['deposit_date'] = ''
auditoria_previo_3.head()

,movement_type,email,date_transaction,merchant_id,transaction_id,mvnt_id,order_id,created_at_cdmx,gross_amount,fees,...,gross_amount_dp,ingreso_deferred,fees_deferred,taxes_deferred,mes_facturacion,numero_partida,tipo_facturacion,status_me,no_txn,deposit_date
0,REGULAR_PYMT_RQ,ravila@vnagroup.us,2023-09-29,8116aa40-f34e-41f0-a0e7-ce21eb804510,0f97b4d3-1774-44e8-abfc-469a0393f0b5,0f97b4d3-1774-44e8-abfc-469a0393f0b5,736481305381,2023-09-29,"18,000.00",432.00,...,0.00,0.00,0.00,0.00,Agosto,78,Nominativa,ACTIVATED,,
1,REGULAR_PYMT_RQ,ravila@vnagroup.us,2023-09-29,8116aa40-f34e-41f0-a0e7-ce21eb804510,0f97b4d3-1774-44e8-abfc-469a0393f0b5,0f97b4d3-1774-44e8-abfc-469a0393f0b5,736481305381,2023-09-29,"18,000.00",432.00,...,0.00,0.00,0.00,0.00,Septiembre,80,Nominativa,ACTIVATED,,
2,REGULAR_PYMT_RQ,ravila@vnagroup.us,2023-09-29,8116aa40-f34e-41f0-a0e7-ce21eb804510,0f97b4d3-1774-44e8-abfc-469a0393f0b5,0f97b4d3-1774-44e8-abfc-469a0393f0b5,736481305381,2023-09-29,"18,000.00",432.00,...,0.00,0.00,0.00,0.00,Diciembre,81,Nominativa,ACTIVATED,,
3,REGULAR_PYMT_RQ,ravila@vnagroup.us,2023-09-29,8116aa40-f34e-41f0-a0e7-ce21eb804510,0f87fc85-6935-40bf-84ad-0001131b5c9c,0f87fc85-6935-40bf-84ad-0001131b5c9c,142804977776,2023-09-29,"4,500.00",645.75,...,0.00,0.00,0.00,0.00,Agosto,78,Nominativa,ACTIVATED,,
4,REGULAR_PYMT_RQ,ravila@vnagroup.us,2023-09-29,8116aa40-f34e-41f0-a0e7-ce21eb804510,0f87fc85-6935-40bf-84ad-0001131b5c9c,0f87fc85-6935-40bf-84ad-0001131b5c9c,142804977776,2023-09-29,"4,500.00",645.75,...,0.00,0.00,0.00,0.00,Septiembre,80,Nominativa,ACTIVATED,,

In [101]:
auditoria_previo_3.shape

(7842, 40)

In [102]:
auditoria_previo_3.columns

Index(['movement_type', 'email', 'date_transaction', 'merchant_id',
       'transaction_id', 'mvnt_id', 'order_id', 'created_at_cdmx',
       'gross_amount', 'fees', 'taxes', 'net_amount', 'bin', 'last4',
       'affiliation', 'clave_autorizacion', 'number_msi', 'status_code',
       'brand', 'psp', 'payment_sub_type', 'updated_at_cdmx', 'receipt_no',
       'issuer', 'device_id', 'report_date_local_final',
       'payment_date_local_final', 'report_id', 'status_final', 'psp_amount',
       'gross_amount_dp', 'ingreso_deferred', 'fees_deferred',
       'taxes_deferred', 'mes_facturacion', 'numero_partida',
       'tipo_facturacion', 'status_me', 'no_txn', 'deposit_date'],
      dtype='object')

# ARCHIVO AUDITORIA FINAL

In [103]:
auditoria_final = auditoria_previo_3[['mes_facturacion','numero_partida','tipo_facturacion','email','no_txn','date_transaction',
                                      'merchant_id','transaction_id','order_id','created_at_cdmx','gross_amount','fees','taxes',
                                      'psp_amount','gross_amount_dp','ingreso_deferred','fees_deferred','taxes_deferred','net_amount',
                                      'bin','last4','affiliation','clave_autorizacion','number_msi', 'status_code','brand','psp',
                                      'payment_sub_type','updated_at_cdmx','receipt_no','issuer','device_id','deposit_date',
                                      'report_date_local_final','payment_date_local_final','report_id','status_final','status_me']]
auditoria_final.sort_values(by=(['numero_partida']), ascending=[True], inplace=True)
auditoria_final.head()

C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_5188\247694932.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  auditoria_final.sort_values(by=(['numero_partida']), ascending=[True], inplace=True)

,mes_facturacion,numero_partida,tipo_facturacion,email,no_txn,date_transaction,merchant_id,transaction_id,order_id,created_at_cdmx,...,updated_at_cdmx,receipt_no,issuer,device_id,deposit_date,report_date_local_final,payment_date_local_final,report_id,status_final,status_me
0,Agosto,78,Nominativa,ravila@vnagroup.us,,2023-09-29,8116aa40-f34e-41f0-a0e7-ce21eb804510,0f97b4d3-1774-44e8-abfc-469a0393f0b5,736481305381,2023-09-29,...,2023-09-29,2WIrmUJ,CITIBANAMEX,N500W4N6302,,2023-09-30,2023-09-30,ALRFM7Y28,PAID,ACTIVATED
6789,Agosto,78,Nominativa,ravila@vnagroup.us,,2023-09-03,8116aa40-f34e-41f0-a0e7-ce21eb804510,deaefd05-82bc-4761-83d1-4c2106ac1122,491655540444,2023-09-03,...,2023-09-03,JMMJxjs,BBVA,N500W4N6305,,2023-09-04,2023-09-04,AZ3LZ8VTS,PAID,ACTIVATED
3153,Agosto,78,Nominativa,ravila@vnagroup.us,,2023-09-18,8116aa40-f34e-41f0-a0e7-ce21eb804510,1968c1c6-a6df-47db-bc4f-416bda3dd7ef,853028301563,2023-09-18,...,2023-09-18,KVdTsrp,HSBC PR,N500W4N6303,,2023-09-19,2023-09-19,A56WRZJGP,PAID,ACTIVATED
3156,Agosto,78,Nominativa,ravila@vnagroup.us,,2023-09-18,8116aa40-f34e-41f0-a0e7-ce21eb804510,579ccdcc-16ac-48bd-b3c7-ba17d78f444e,080190449994,2023-09-18,...,2023-09-18,vyBnsVT,BBVA,N500W4N6315,,2023-09-19,2023-09-19,A56WRZJGP,PAID,ACTIVATED
3159,Agosto,78,Nominativa,ravila@vnagroup.us,,2023-09-18,8116aa40-f34e-41f0-a0e7-ce21eb804510,cf93c9de-c818-489b-a294-e82b280945dd,443941936027,2023-09-18,...,2023-09-18,8TrQsau,BBVA,N500W4N2168,,2023-09-19,2023-09-19,A56WRZJGP,PAID,ACTIVATED

In [104]:
auditoria_final.shape

(7842, 38)

In [105]:
auditoria_final['numero_partida'].unique()

array([78, 80, 81], dtype=int64)

# SEPARACION POR PARTIDA

In [106]:
grouped = auditoria_final.groupby(auditoria_final.numero_partida)

In [107]:
group_80 = grouped.get_group(80)
# group_72 = grouped.get_group(72)
# group_73 = grouped.get_group(73)
# group_74 = grouped.get_group(74)
# group_75 = grouped.get_group(75)
# group_76 = grouped.get_group(76)
# group_77 = grouped.get_group(77)
# group_78 = grouped.get_group(78)
# group_80 = grouped.get_group(80)
# group_81 = grouped.get_group(81)
# group_54 = grouped.get_group(54)

In [108]:
group_80.to_excel('Partida 80.xlsx',sheet_name='Data facturación by transaction',index=False)
# group_72.to_excel('Partida 72.xlsx',sheet_name='Data facturación by transaction',index=False)
# group_73.to_excel('Partida 73.xlsx',sheet_name='Data facturación by transaction',index=False)
# group_74.to_excel('Partida 74.xlsx',sheet_name='Data facturación by transaction',index=False)
# group_75.to_excel('Partida 75.xlsx',sheet_name='Data facturación by transaction',index=False)
# group_76.to_excel('Partida 76.xlsx',sheet_name='Data facturación by transaction',index=False)
# group_77.to_excel('Partida 77.xlsx',sheet_name='Data facturación by transaction',index=False)
# group_78.to_excel('Partida 78.xlsx',sheet_name='Data facturación by transaction',index=False)
# group_80.to_excel('Partida 80.xlsx',sheet_name='Data facturación by transaction',index=False)
# group_81.to_excel('Partida 81.xlsx',sheet_name='Data facturación by transaction',index=False)
#group_54.to_excel('Partida 54.xlsx',sheet_name='Data facturación by transaction',index=False)

In [109]:
writer = pd.ExcelWriter('Data_auditoria_septiembre_2023.xlsx',
                        engine='xlsxwriter',
                        engine_kwargs={'options': {'encoding':'utf-8'}})
auditoria_final.to_excel(writer, sheet_name='Detalle',index=False)
writer.close()