In [1]:
import pandas as pd
import numpy as np
import glob
import os
from openpyxl import load_workbook
pd.options.display.float_format = '{:,.2f}'.format
import gc

In [2]:
start_date_fact = '2024-01-01'
final_date_fact = '2024-01-31

# RUTAS

### EMAIL

In [3]:
email_files = glob.glob(r'G:\My Drive\RESPALDO-PC\DATA EMAILS\*.tsv', recursive=False)
email_files

['G:\\My Drive\\RESPALDO-PC\\DATA EMAILS\\MERCHANT_INFO.tsv']

### SETTLEMENT MASTER LOG

In [4]:
sml_files = glob.glob(r'G:\My Drive\RESPALDO-PC\DYNAMO\2024\01. ENERO\SETTLEMENT MASTER LOG\SETTLEMENT*.tsv', recursive=False)
sml_files

['G:\\My Drive\\RESPALDO-PC\\DYNAMO\\2024\\01. ENERO\\SETTLEMENT MASTER LOG\\SETTLEMENT_MASTER_LOG_MSI_DATE ENERO 31 2024.tsv',
 'G:\\My Drive\\RESPALDO-PC\\DYNAMO\\2024\\01. ENERO\\SETTLEMENT MASTER LOG\\SETTLEMENT_MASTER_LOG_MSI_DATE ENERO 11-20 2024.tsv',
 'G:\\My Drive\\RESPALDO-PC\\DYNAMO\\2024\\01. ENERO\\SETTLEMENT MASTER LOG\\SETTLEMENT_MASTER_LOG_MSI_DATE ENERO 01-10 2024.tsv']

In [5]:
use_cols_sml = ['MVNT_ID','PSP_AMOUNT','GROSS_AMOUNT','FEES','TAXES','NET_AMOUNT','MDR','MSI','NUMBER_MSI','RECEIPT_NO',
                'STATUS_CODE','DCC_AMOUNT','DCC_RATE','DCC_STATUS','PYMT_PRG']

### AP JOURNAL - TRANSACCIONES

In [6]:
ap_files_sett = glob.glob(r'G:\My Drive\RESPALDO-PC\DYNAMO\2024\01. ENERO\AP JOURNAL\FACTURACION\AP-JOURNAL-SETT*.tsv', recursive=False)
ap_files_sett

['G:\\My Drive\\RESPALDO-PC\\DYNAMO\\2024\\01. ENERO\\AP JOURNAL\\FACTURACION\\AP-JOURNAL-SETT ENERO 31 2024.tsv',
 'G:\\My Drive\\RESPALDO-PC\\DYNAMO\\2024\\01. ENERO\\AP JOURNAL\\FACTURACION\\AP-JOURNAL-SETT ENERO 21-30 2024.tsv',
 'G:\\My Drive\\RESPALDO-PC\\DYNAMO\\2024\\01. ENERO\\AP JOURNAL\\FACTURACION\\AP-JOURNAL-SETT ENERO 11-20 2024.tsv',
 'G:\\My Drive\\RESPALDO-PC\\DYNAMO\\2024\\01. ENERO\\AP JOURNAL\\FACTURACION\\AP-JOURNAL-SETT ENERO 01-10 2024.tsv']

### AP JOURNAL - CANCELACIONES

In [7]:
ap_files_canc = glob.glob(r'G:\My Drive\RESPALDO-PC\DYNAMO\2024\01. ENERO\AP JOURNAL\FACTURACION\AP-JOURNAL-CANCEL*.tsv', recursive=False)
ap_files_canc

['G:\\My Drive\\RESPALDO-PC\\DYNAMO\\2024\\01. ENERO\\AP JOURNAL\\FACTURACION\\AP-JOURNAL-CANCEL ENERO 2024.tsv']

### AP JOURNAL - TOPUPS

In [8]:
ap_files_topups = glob.glob(r'G:\My Drive\RESPALDO-PC\DYNAMO\2024\01. ENERO\AP JOURNAL\FACTURACION\AP-JOURNAL-TOPUPS*.tsv', recursive=False)
ap_files_topups

['G:\\My Drive\\RESPALDO-PC\\DYNAMO\\2024\\01. ENERO\\AP JOURNAL\\FACTURACION\\AP-JOURNAL-TOPUPS ENERO 2024.tsv']

### AP JOURNAL - BILL PAYMENTS

In [9]:
ap_files_bill_payments = glob.glob(r'G:\My Drive\RESPALDO-PC\DYNAMO\2024\01. ENERO\AP JOURNAL\FACTURACION\AP-JOURNAL-BILL*.tsv', recursive=False)
ap_files_bill_payments

['G:\\My Drive\\RESPALDO-PC\\DYNAMO\\2024\\01. ENERO\\AP JOURNAL\\FACTURACION\\AP-JOURNAL-BILL_PAYMENTS ENERO 24.tsv']

### AP JOURNAL - CASHBACKS

In [10]:
ap_files_cashbacks = glob.glob(r'G:\My Drive\RESPALDO-PC\DYNAMO\2024\01. ENERO\AP JOURNAL\FACTURACION\AP-JOURNAL-CASHBACKS*.tsv', recursive=False)
ap_files_cashbacks

['G:\\My Drive\\RESPALDO-PC\\DYNAMO\\2024\\01. ENERO\\AP JOURNAL\\FACTURACION\\AP-JOURNAL-CASHBACKS ENERO 2024.tsv']

# DATA EMAILS

In [11]:
email = pd.concat([pd.read_csv(f,sep='\t').assign(file_name=os.path.basename(f)) for f in email_files])
email.columns = email.columns.str.strip().str.lower()
email['email'] = email['email'].str.lower()
email['merchant_name'].fillna('NULL',inplace=True)
email.sort_values(by=(['merchant_id','updated_at']), ascending=[True,False], inplace=True)
email.head()

C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_19592\1850252706.py:1: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  email = pd.concat([pd.read_csv(f,sep='\t').assign(file_name=os.path.basename(f)) for f in email_files])

,id,merchant_id,email,merchant_name,state,role,updated_at,file_name
771270,3c2a15f2-b165-45a8-9b93-76d876fca089,0000001a-e7e3-4fcc-9093-27cf0733fa93,korysalomon@gmail.com,EL MUNDO DE LOS LENTES,SUSPENDED,ADMIN,2020-11-12,MERCHANT_INFO.tsv
356634,67080a7a-20e1-4143-9edf-2a13bfb6feff,0000099a-c4d5-48dc-990b-8f06dbee9af8,rcasahonda81@gmail.com,BAGOURMETTE SUBLIMERIAS,ACTIVATED,ADMIN,2019-06-30,MERCHANT_INFO.tsv
1013547,e15155f9-b2be-4628-a68d-0045e33d3423,00000cad-bc81-43fe-ba48-7449b30d5c37,libnay21@gmail.com,FERRETERAS CRISTO REY,ACTIVATED,ADMIN,2021-08-05,MERCHANT_INFO.tsv
1164215,537bc0b4-d0f0-476f-9b86-4cfe44040bf5,00001269-1bce-4cc1-ba64-fb8b7fe4db16,ceballoshumberto93@gmail.com,ROYAL PRESTIGE CEBMA,ACTIVATED,ADMIN,2021-12-16,MERCHANT_INFO.tsv
224098,7ec397a0-532d-4239-ad5b-5618867e3622,000012b6-a453-4285-9f7f-70a7bf46a4fb,myrna.espinosa@bachoco.net,BACHOCO,SUSPENDED,ADMIN,2018-09-18,MERCHANT_INFO.tsv

In [12]:
email.shape

(2405295, 8)

In [13]:
duplicates_email = email[email.duplicated(['merchant_id'] , keep=False)]
duplicates_email.head()

,id,merchant_id,email,merchant_name,state,role,updated_at,file_name
2314158,3b7d576f-d314-42a1-a401-350dee496741,08c6cd82-668f-4394-9749-5a2a718d4630,teamtaack@gmail.com,TEAMTAACK@GMAIL.COM,VALIDATED,ADMIN,NaN,MERCHANT_INFO.tsv
2314159,76988280-87bf-4922-bb07-a32b150e92cb,08c6cd82-668f-4394-9749-5a2a718d4630,teamtaack@gmail.com,TEAMTAACK@GMAIL.COM,VALIDATED,ADMIN,NaN,MERCHANT_INFO.tsv
2316850,748184d5-77d6-4275-984b-b56b05bde583,1bf92d87-6f48-46df-a6ed-c8fb0b0bdbc0,diazderyan@gmail.com,DIAZDERYAN@GMAIL.COM,VALIDATED,ADMIN,NaN,MERCHANT_INFO.tsv
2316876,b9e46ccc-4665-45af-88f8-0a350fe36d58,1bf92d87-6f48-46df-a6ed-c8fb0b0bdbc0,diazderyan@gmail.com,DIAZDERYAN@GMAIL.COM,VALIDATED,ADMIN,NaN,MERCHANT_INFO.tsv
2343104,007994df-4d86-465b-85b9-5d39523b048f,209ea42c-8b20-4a5e-978c-7c6ecc9a9487,ivanreyeshernandez2@gmail.com,IVANREYESHERNANDEZ2@GMAIL.COM,VALIDATED,ADMIN,NaN,MERCHANT_INFO.tsv

In [14]:
duplicates_email.shape

(25, 8)

In [15]:
duplicates_email['state'].unique()

array(['VALIDATED', 'ACTIVATED'], dtype=object)

In [16]:
email.drop_duplicates(subset='merchant_id', keep='first', inplace=True)

In [17]:
email.shape

(2405282, 8)

# DATA SETTLEMENT MASTER LOG

In [18]:
sml = pd.concat([pd.read_csv(f,sep='\t',usecols=use_cols_sml).assign(file_name=os.path.basename(f)) for f in sml_files])
sml.columns = sml.columns.str.strip().str.lower()
sml.replace('""','', regex=True, inplace=True)
# sml['created_at'] = pd.to_datetime(sml['created_at']).dt.tz_localize(None)
# sml['eff_dt'] = pd.to_datetime(sml['eff_dt']).dt.tz_localize(None)
# sml.rename(columns={'ref_id':'transaction_id'},inplace=True)
#sml['PK'] = sml['PK'].replace('M#','',inplace=True)
sml.head()

,mvnt_id,pymt_prg,psp_amount,gross_amount,fees,taxes,net_amount,mdr,msi,number_msi,status_code,receipt_no,dcc_amount,dcc_rate,dcc_status,file_name
0,38034f2f-9e40-4900-88ad-f1df575ba9bd,DIGITAL_ACCOUNT,88.00,88.00,3.17,0.51,84.32,0.04,0.00,0.00,1.00,gqIe5sb,NaN,NaN,NaN,SETTLEMENT_MASTER_LOG_MSI_DATE ENERO 31 2024.tsv
1,e6d80dd9-db62-4f3a-a424-cc6e2f3b30f9,FAST_PAYMENT,65.00,65.00,2.34,0.37,62.29,0.04,0.00,0.00,1.00,hj8ZGrf,NaN,NaN,NaN,SETTLEMENT_MASTER_LOG_MSI_DATE ENERO 31 2024.tsv
2,fe6d7494-09ef-4d02-9b92-cec1ebe8210f,FAST_PAYMENT,"1,200.00","1,200.00",43.20,6.91,"1,149.89",0.04,0.00,0.00,1.00,Omw9oSY,NaN,NaN,NaN,SETTLEMENT_MASTER_LOG_MSI_DATE ENERO 31 2024.tsv
3,95cf9ee9-9241-44c9-8e95-38865b42f46b,FAST_PAYMENT,"3,700.00","3,700.00",133.20,21.31,"3,545.49",0.04,0.00,0.00,1.00,5HD3Dsi,NaN,NaN,NaN,SETTLEMENT_MASTER_LOG_MSI_DATE ENERO 31 2024.tsv
4,0b325a54-ea38-461b-9217-f9cef6f8ff03,REGULAR_PAYMENT,116.50,116.50,4.19,0.67,111.64,0.04,0.00,0.00,1.00,Nadh4wy,NaN,NaN,NaN,SETTLEMENT_MASTER_LOG_MSI_DATE ENERO 31 2024.tsv

In [19]:
sml.shape

(15830410, 16)

In [20]:
sml.dtypes

mvnt_id          object
pymt_prg         object
psp_amount      float64
gross_amount    float64
fees            float64
taxes           float64
net_amount      float64
mdr             float64
msi             float64
number_msi      float64
status_code     float64
receipt_no       object
dcc_amount      float64
dcc_rate        float64
dcc_status       object
file_name        object
dtype: object

In [21]:
sml_final = sml

In [22]:
sml_final.shape

(15830410, 16)

In [23]:
sml_final['msi'].unique()

array([0.    , 0.045 , 0.1195, 0.075 , 0.0685, 0.099 , 0.223 , 0.03  ,
       0.0672, 0.044 , 0.177 , 0.1136, 0.0892, 0.042 , 0.095 , 0.07  ,
       0.0385, 0.0725, 0.04  , 0.0405, 0.096 , 0.072 , 0.1165, 0.094 ,
       0.12  ])

In [24]:
sml_final['mdr'].unique()

array([0.036 , 0.025 , 0.031 , 0.026 , 0.033 , 0.03  , 0.029 , 0.028 ,
       0.032 , 0.023 , 0.016 , 0.024 , 0.022 , 0.027 , 0.0303, 0.035 ,
       0.0295, 0.    , 0.0265, 0.034 , 0.0335, 0.0325, 0.012 ])

In [25]:
duplicates_sml_final = sml_final[sml_final.duplicated(['mvnt_id'] , keep=False)]
duplicates_sml_final.head()

Empty DataFrame
Columns: [mvnt_id, pymt_prg, psp_amount, gross_amount, fees, taxes, net_amount, mdr, msi, number_msi, status_code, receipt_no, dcc_amount, dcc_rate, dcc_status, file_name]
Index: []

In [26]:
duplicates_sml_final.shape

(0, 16)

In [27]:
duplicates_sml_final.to_excel('Duplicates_sml.xlsx',index=False)

In [28]:
sml_final.drop_duplicates(subset='mvnt_id', keep='last', inplace=True) 
sml_final.head()

,mvnt_id,pymt_prg,psp_amount,gross_amount,fees,taxes,net_amount,mdr,msi,number_msi,status_code,receipt_no,dcc_amount,dcc_rate,dcc_status,file_name
0,38034f2f-9e40-4900-88ad-f1df575ba9bd,DIGITAL_ACCOUNT,88.00,88.00,3.17,0.51,84.32,0.04,0.00,0.00,1.00,gqIe5sb,NaN,NaN,NaN,SETTLEMENT_MASTER_LOG_MSI_DATE ENERO 31 2024.tsv
1,e6d80dd9-db62-4f3a-a424-cc6e2f3b30f9,FAST_PAYMENT,65.00,65.00,2.34,0.37,62.29,0.04,0.00,0.00,1.00,hj8ZGrf,NaN,NaN,NaN,SETTLEMENT_MASTER_LOG_MSI_DATE ENERO 31 2024.tsv
2,fe6d7494-09ef-4d02-9b92-cec1ebe8210f,FAST_PAYMENT,"1,200.00","1,200.00",43.20,6.91,"1,149.89",0.04,0.00,0.00,1.00,Omw9oSY,NaN,NaN,NaN,SETTLEMENT_MASTER_LOG_MSI_DATE ENERO 31 2024.tsv
3,95cf9ee9-9241-44c9-8e95-38865b42f46b,FAST_PAYMENT,"3,700.00","3,700.00",133.20,21.31,"3,545.49",0.04,0.00,0.00,1.00,5HD3Dsi,NaN,NaN,NaN,SETTLEMENT_MASTER_LOG_MSI_DATE ENERO 31 2024.tsv
4,0b325a54-ea38-461b-9217-f9cef6f8ff03,REGULAR_PAYMENT,116.50,116.50,4.19,0.67,111.64,0.04,0.00,0.00,1.00,Nadh4wy,NaN,NaN,NaN,SETTLEMENT_MASTER_LOG_MSI_DATE ENERO 31 2024.tsv

In [29]:
sml_final.shape

(15830410, 16)

# DATA AP JOURNAL (PREVIO EMAIL)

In [30]:
ap_preview = pd.concat([pd.read_csv(f, sep='\t').assign(file_name=os.path.basename(f)) for f in ap_files_sett])
ap_preview.columns = ap_preview.columns.str.strip().str.lower()
ap_preview.replace('""','', regex=True, inplace=True)
ap_preview['eff_dt'] =  pd.to_datetime(ap_preview['eff_dt']).dt.tz_localize(None)
ap_preview['eff_dt_date'] =  pd.to_datetime(ap_preview['eff_dt']).dt.date
ap_preview['eff_dt_time'] =  pd.to_datetime(ap_preview['eff_dt']).dt.time
ap_preview['eff_dt_date'] =  pd.to_datetime(ap_preview['eff_dt_date']).dt.tz_localize(None)
ap_preview['movement_day'] = pd.to_datetime(ap_preview['movement_day']).dt.tz_localize(None)
ap_preview['created_at'] = pd.to_datetime(ap_preview['created_at']).dt.tz_localize(None)
ap_preview['request_effective_date'] = pd.to_datetime(ap_preview['request_effective_date']).dt.tz_localize(None)
ap_preview['slot_date'] = pd.to_datetime(ap_preview['slot_date']).dt.tz_localize(None)
# ap_preview['identifier'] = ap_preview['source_type'].str[:1].astype(str)
# ap_preview['INDEX'] = (ap_preview['eff_dt_date'].astype(str).replace(' ', '',regex=True)+'-'+
#                ap_preview['identifier'].astype(str).replace(' ', '',regex=True)+'-'+
#                ap_preview['eff_dt_time'].astype(str).replace(' ', '',regex=True))
ap_preview.sort_values(by=(['merchant_id','eff_dt']), ascending=[True,False], inplace=True)
ap_preview.head()

,merchant_id,amount,currency,type_request,mvnt_id,movement_type,source_type,created_at,eff_dt,movement_day,request_effective_date,slot_date,file_name,eff_dt_date,eff_dt_time
0,0000275f-d46b-4a9c-a227-42d6f7ce63bd,"2,874.72",MXN,settlement processor regular payment request,54d62474-2e31-42ef-b11a-32abca59c3b6,REGULAR_PYMT_RQ,SETT,2024-01-29 21:09:35,2024-01-30 05:30:00,2024-01-29 21:09:35,2024-01-30 05:00:00,2024-01-30 05:30:00,AP-JOURNAL-SETT ENERO 21-30 2024.tsv,2024-01-30,05:30:00
0,0000275f-d46b-4a9c-a227-42d6f7ce63bd,"2,874.72",MXN,settlement processor regular payment request,98e7c45d-0f1b-4ea9-a211-773b1a746a85,REGULAR_PYMT_RQ,SETT,2024-01-01 03:59:17,2024-01-02 01:00:00,2024-01-01 03:59:17,2024-01-02 00:30:00,2024-01-02 01:00:00,AP-JOURNAL-SETT ENERO 01-10 2024.tsv,2024-01-02,01:00:00
2,00007725-3116-48dc-9b82-4145699dc290,958.24,MXN,settlement processor regular payment request,b87ada5c-b33d-4c76-b3be-58255c264a38,REGULAR_PYMT_RQ,SETT,2024-01-22 12:09:45,2024-01-23 03:30:00,2024-01-22 12:09:45,2024-01-23 03:00:00,2024-01-23 03:30:00,AP-JOURNAL-SETT ENERO 21-30 2024.tsv,2024-01-23,03:30:00
1,00007725-3116-48dc-9b82-4145699dc290,958.24,MXN,settlement processor regular payment request,f9429f46-4936-4b74-840d-8cfeaeeaf0ad,REGULAR_PYMT_RQ,SETT,2024-01-20 12:29:55,2024-01-21 03:30:00,2024-01-20 12:29:55,2024-01-21 03:00:00,2024-01-21 03:30:00,AP-JOURNAL-SETT ENERO 21-30 2024.tsv,2024-01-21,03:30:00
5,00008e01-812f-487e-8f34-a80bcb0ae3e3,"19,294.12",MXN,settlement processor regular payment request,b076821b-f2fa-4bd6-8752-e6c12cd19816,REGULAR_PYMT_RQ,SETT,2024-01-16 12:43:04,2024-01-17 03:30:00,2024-01-16 12:43:04,2024-01-17 03:00:00,2024-01-17 03:30:00,AP-JOURNAL-SETT ENERO 11-20 2024.tsv,2024-01-17,03:30:00

In [31]:
ap_preview.shape

(15830410, 15)

In [32]:
ap_preview.dtypes

merchant_id                       object
amount                           float64
currency                          object
type_request                      object
mvnt_id                           object
movement_type                     object
source_type                       object
created_at                datetime64[ns]
eff_dt                    datetime64[ns]
movement_day              datetime64[ns]
request_effective_date    datetime64[ns]
slot_date                 datetime64[ns]
file_name                         object
eff_dt_date               datetime64[ns]
eff_dt_time                       object
dtype: object

In [33]:
ap_preview['source_type'].unique()

array(['SETT'], dtype=object)

# DATA AP JOURNAL CANCELACIONES (PREVIO EMAIL)

In [34]:
ap_preview_canc = pd.concat([pd.read_csv(f, sep='\t').assign(file_name=os.path.basename(f)) for f in ap_files_canc])
ap_preview_canc.columns = ap_preview_canc.columns.str.strip().str.lower()
ap_preview_canc.replace('""','', regex=True, inplace=True)
ap_preview_canc['eff_dt'] =  pd.to_datetime(ap_preview_canc['eff_dt']).dt.tz_localize(None)
ap_preview_canc['eff_dt_date'] =  pd.to_datetime(ap_preview_canc['eff_dt']).dt.date
ap_preview_canc['eff_dt_time'] =  pd.to_datetime(ap_preview_canc['eff_dt']).dt.time
ap_preview_canc['eff_dt_date'] =  pd.to_datetime(ap_preview_canc['eff_dt_date']).dt.tz_localize(None)
ap_preview_canc['movement_day'] = pd.to_datetime(ap_preview_canc['movement_day']).dt.tz_localize(None)
ap_preview_canc['created_at'] = pd.to_datetime(ap_preview_canc['created_at']).dt.tz_localize(None)
ap_sett_final['created_at_date'] = pd.to_datetime(ap_sett_final['created_at']).dt.date
ap_sett_final['created_at_date'] =  pd.to_datetime(ap_sett_final['created_at_date']).dt.tz_localize(None)
ap_preview_canc['request_effective_date'] = pd.to_datetime(ap_preview_canc['request_effective_date']).dt.tz_localize(None)
ap_preview_canc['slot_date'] = pd.to_datetime(ap_preview_canc['slot_date']).dt.tz_localize(None)
# ap_preview_canc['identifier'] = ap_preview_canc['source_type'].str[:1].astype(str)
# ap_preview_canc['INDEX'] = (ap_preview_canc['eff_dt_date'].astype(str).replace(' ', '',regex=True)+'-'+
#                ap_preview_canc['identifier'].astype(str).replace(' ', '',regex=True)+'-'+
#                ap_preview_canc['eff_dt_time'].astype(str).replace(' ', '',regex=True))
ap_preview_canc.sort_values(by=(['merchant_id','eff_dt']), ascending=[True,False], inplace=True)
ap_preview_canc.head()

,merchant_id,amount,currency,type_request,mvnt_id,movement_type,source_type,created_at,eff_dt,movement_day,request_effective_date,slot_date,file_name,eff_dt_date,eff_dt_time
0,00008e01-812f-487e-8f34-a80bcb0ae3e3,"-47,912.00",MXN,cancel request,89642c1b-ee74-48a9-a7f4-39f9a6e54aec,CANCEL_RQ,PYMT,2024-01-14 19:15:43,2024-01-15 04:30:00,2024-01-14 19:15:43,2024-01-15 04:30:00,1969-12-31 18:00:00,AP-JOURNAL-CANCEL ENERO 2024.tsv,2024-01-15,04:30:00
2,0000b65a-c2a2-4993-8f4c-05e5b7cbd7c0,-787.68,MXN,cancel request,f6b65fd2-d168-4ecd-b433-97b78808adbb,CANCEL_RQ,PYMT,2023-11-09 14:03:50,2023-11-10 03:30:00,2023-11-09 14:03:50,2023-11-10 03:30:00,1969-12-31 18:00:00,AP-JOURNAL-CANCEL ENERO 2024.tsv,2023-11-10,03:30:00
1,0000b65a-c2a2-4993-8f4c-05e5b7cbd7c0,-941.28,MXN,cancel request,d739f381-95ed-4f9e-bf7f-691b44004c11,CANCEL_RQ,PYMT,2023-10-19 14:06:46,2023-10-20 03:30:00,2023-10-19 14:06:46,2023-10-20 03:30:00,1969-12-31 18:00:00,AP-JOURNAL-CANCEL ENERO 2024.tsv,2023-10-20,03:30:00
7,0000bc20-a726-4fe6-b784-1eb97c287ad5,-94.87,MXN,cancel request,62e7e6f0-aa27-45be-894f-545f4f1b0ab6,CANCEL_RQ,PYMT,2023-08-22 01:36:22,2023-08-22 01:36:27,2023-08-22 01:36:22,2023-08-23 00:00:00,1969-12-31 18:00:00,AP-JOURNAL-CANCEL ENERO 2024.tsv,2023-08-22,01:36:27
6,0000bc20-a726-4fe6-b784-1eb97c287ad5,-86.24,MXN,cancel request,6d5ac39e-d9b4-4027-9334-d160e4f41ede,CANCEL_RQ,PYMT,2023-08-06 20:10:36,2023-08-06 20:10:41,2023-08-06 20:10:36,2023-08-07 05:00:00,1969-12-31 18:00:00,AP-JOURNAL-CANCEL ENERO 2024.tsv,2023-08-06,20:10:41

In [35]:
ap_preview_canc.shape

(257149, 15)

In [36]:
ap_preview_canc.dtypes

merchant_id                       object
amount                           float64
currency                          object
type_request                      object
mvnt_id                           object
movement_type                     object
source_type                       object
created_at                datetime64[ns]
eff_dt                    datetime64[ns]
movement_day              datetime64[ns]
request_effective_date    datetime64[ns]
slot_date                 datetime64[ns]
file_name                         object
eff_dt_date               datetime64[ns]
eff_dt_time                       object
dtype: object

In [37]:
ap_preview_canc['source_type'].unique()

array(['PYMT', 'RISK'], dtype=object)

# UNION AP JOURNAL CON MAIL

In [38]:
ap = ap_preview.merge(email[['merchant_id','email','merchant_name']],on='merchant_id',how='left')
ap.shape

(15830410, 17)

In [39]:
duplicates_ap = ap[ap.duplicated(['mvnt_id'] , keep=False)]
duplicates_ap.head()

Empty DataFrame
Columns: [merchant_id, amount, currency, type_request, mvnt_id, movement_type, source_type, created_at, eff_dt, movement_day, request_effective_date, slot_date, file_name, eff_dt_date, eff_dt_time, email, merchant_name]
Index: []

In [40]:
duplicates_ap.shape

(0, 17)

In [41]:
duplicates_ap.to_excel('Duplicates_ap_journal.xlsx',index=False)

In [42]:
ap.drop_duplicates(subset='mvnt_id', keep='last', inplace=True) 
ap.head()

,merchant_id,amount,currency,type_request,mvnt_id,movement_type,source_type,created_at,eff_dt,movement_day,request_effective_date,slot_date,file_name,eff_dt_date,eff_dt_time,email,merchant_name
0,0000275f-d46b-4a9c-a227-42d6f7ce63bd,"2,874.72",MXN,settlement processor regular payment request,54d62474-2e31-42ef-b11a-32abca59c3b6,REGULAR_PYMT_RQ,SETT,2024-01-29 21:09:35,2024-01-30 05:30:00,2024-01-29 21:09:35,2024-01-30 05:00:00,2024-01-30 05:30:00,AP-JOURNAL-SETT ENERO 21-30 2024.tsv,2024-01-30,05:30:00,o2794682@gmail.com,POLLO VELOZ
1,0000275f-d46b-4a9c-a227-42d6f7ce63bd,"2,874.72",MXN,settlement processor regular payment request,98e7c45d-0f1b-4ea9-a211-773b1a746a85,REGULAR_PYMT_RQ,SETT,2024-01-01 03:59:17,2024-01-02 01:00:00,2024-01-01 03:59:17,2024-01-02 00:30:00,2024-01-02 01:00:00,AP-JOURNAL-SETT ENERO 01-10 2024.tsv,2024-01-02,01:00:00,o2794682@gmail.com,POLLO VELOZ
2,00007725-3116-48dc-9b82-4145699dc290,958.24,MXN,settlement processor regular payment request,b87ada5c-b33d-4c76-b3be-58255c264a38,REGULAR_PYMT_RQ,SETT,2024-01-22 12:09:45,2024-01-23 03:30:00,2024-01-22 12:09:45,2024-01-23 03:00:00,2024-01-23 03:30:00,AP-JOURNAL-SETT ENERO 21-30 2024.tsv,2024-01-23,03:30:00,dr.cesarcamarena.ortopedia@gmail.com,CESAR CAMARENA LPEZ
3,00007725-3116-48dc-9b82-4145699dc290,958.24,MXN,settlement processor regular payment request,f9429f46-4936-4b74-840d-8cfeaeeaf0ad,REGULAR_PYMT_RQ,SETT,2024-01-20 12:29:55,2024-01-21 03:30:00,2024-01-20 12:29:55,2024-01-21 03:00:00,2024-01-21 03:30:00,AP-JOURNAL-SETT ENERO 21-30 2024.tsv,2024-01-21,03:30:00,dr.cesarcamarena.ortopedia@gmail.com,CESAR CAMARENA LPEZ
4,00008e01-812f-487e-8f34-a80bcb0ae3e3,"19,294.12",MXN,settlement processor regular payment request,b076821b-f2fa-4bd6-8752-e6c12cd19816,REGULAR_PYMT_RQ,SETT,2024-01-16 12:43:04,2024-01-17 03:30:00,2024-01-16 12:43:04,2024-01-17 03:00:00,2024-01-17 03:30:00,AP-JOURNAL-SETT ENERO 11-20 2024.tsv,2024-01-17,03:30:00,pagos@abz.com.mx,ABZ CONSULTING SERVICES SA

In [43]:
ap.shape

(15830410, 17)

# UNION AP JOURNAL CANCELACIONES CON MAIL

In [44]:
ap_canc = ap_preview_canc.merge(email[['merchant_id','email','merchant_name']],on='merchant_id',how='left')
ap_canc.head()

,merchant_id,amount,currency,type_request,mvnt_id,movement_type,source_type,created_at,eff_dt,movement_day,request_effective_date,slot_date,file_name,eff_dt_date,eff_dt_time,email,merchant_name
0,00008e01-812f-487e-8f34-a80bcb0ae3e3,"-47,912.00",MXN,cancel request,89642c1b-ee74-48a9-a7f4-39f9a6e54aec,CANCEL_RQ,PYMT,2024-01-14 19:15:43,2024-01-15 04:30:00,2024-01-14 19:15:43,2024-01-15 04:30:00,1969-12-31 18:00:00,AP-JOURNAL-CANCEL ENERO 2024.tsv,2024-01-15,04:30:00,pagos@abz.com.mx,ABZ CONSULTING SERVICES SA
1,0000b65a-c2a2-4993-8f4c-05e5b7cbd7c0,-787.68,MXN,cancel request,f6b65fd2-d168-4ecd-b433-97b78808adbb,CANCEL_RQ,PYMT,2023-11-09 14:03:50,2023-11-10 03:30:00,2023-11-09 14:03:50,2023-11-10 03:30:00,1969-12-31 18:00:00,AP-JOURNAL-CANCEL ENERO 2024.tsv,2023-11-10,03:30:00,ruvalcabapeleteros@hotmail.com,RUVALCABA PELETEROS S.A. DE C.V.
2,0000b65a-c2a2-4993-8f4c-05e5b7cbd7c0,-941.28,MXN,cancel request,d739f381-95ed-4f9e-bf7f-691b44004c11,CANCEL_RQ,PYMT,2023-10-19 14:06:46,2023-10-20 03:30:00,2023-10-19 14:06:46,2023-10-20 03:30:00,1969-12-31 18:00:00,AP-JOURNAL-CANCEL ENERO 2024.tsv,2023-10-20,03:30:00,ruvalcabapeleteros@hotmail.com,RUVALCABA PELETEROS S.A. DE C.V.
3,0000bc20-a726-4fe6-b784-1eb97c287ad5,-94.87,MXN,cancel request,62e7e6f0-aa27-45be-894f-545f4f1b0ab6,CANCEL_RQ,PYMT,2023-08-22 01:36:22,2023-08-22 01:36:27,2023-08-22 01:36:22,2023-08-23 00:00:00,1969-12-31 18:00:00,AP-JOURNAL-CANCEL ENERO 2024.tsv,2023-08-22,01:36:27,eberardoburgos6@gmail.com,DOGOS EL WERO
4,0000bc20-a726-4fe6-b784-1eb97c287ad5,-86.24,MXN,cancel request,6d5ac39e-d9b4-4027-9334-d160e4f41ede,CANCEL_RQ,PYMT,2023-08-06 20:10:36,2023-08-06 20:10:41,2023-08-06 20:10:36,2023-08-07 05:00:00,1969-12-31 18:00:00,AP-JOURNAL-CANCEL ENERO 2024.tsv,2023-08-06,20:10:41,eberardoburgos6@gmail.com,DOGOS EL WERO

In [45]:
ap_canc.shape

(257149, 17)

In [46]:
duplicates_ap_canc = ap_canc[ap_canc.duplicated(['mvnt_id'] , keep=False)]
duplicates_ap_canc.head()

Empty DataFrame
Columns: [merchant_id, amount, currency, type_request, mvnt_id, movement_type, source_type, created_at, eff_dt, movement_day, request_effective_date, slot_date, file_name, eff_dt_date, eff_dt_time, email, merchant_name]
Index: []

In [47]:
duplicates_ap_canc.shape

(0, 17)

# CRUCE_1: AP JOURNAL VS SETTLEMENT MASTER LOG

In [48]:
cruce_1 = ap.merge(sml_final[['mvnt_id','psp_amount','gross_amount','fees','taxes','net_amount','mdr','msi','number_msi',
                             'receipt_no','status_code','dcc_amount','dcc_rate','dcc_status','pymt_prg']],on='mvnt_id',
                               how='left')
cruce_1.head()

,merchant_id,amount,currency,type_request,mvnt_id,movement_type,source_type,created_at,eff_dt,movement_day,...,net_amount,mdr,msi,number_msi,receipt_no,status_code,dcc_amount,dcc_rate,dcc_status,pymt_prg
0,0000275f-d46b-4a9c-a227-42d6f7ce63bd,"2,874.72",MXN,settlement processor regular payment request,54d62474-2e31-42ef-b11a-32abca59c3b6,REGULAR_PYMT_RQ,SETT,2024-01-29 21:09:35,2024-01-30 05:30:00,2024-01-29 21:09:35,...,"2,874.72",0.04,0.00,0.00,Lg96mbl,1.00,NaN,NaN,NaN,REGULAR_PAYMENT
1,0000275f-d46b-4a9c-a227-42d6f7ce63bd,"2,874.72",MXN,settlement processor regular payment request,98e7c45d-0f1b-4ea9-a211-773b1a746a85,REGULAR_PYMT_RQ,SETT,2024-01-01 03:59:17,2024-01-02 01:00:00,2024-01-01 03:59:17,...,"2,874.72",0.04,0.00,0.00,G7WmyHD,1.00,NaN,NaN,NaN,REGULAR_PAYMENT
2,00007725-3116-48dc-9b82-4145699dc290,958.24,MXN,settlement processor regular payment request,b87ada5c-b33d-4c76-b3be-58255c264a38,REGULAR_PYMT_RQ,SETT,2024-01-22 12:09:45,2024-01-23 03:30:00,2024-01-22 12:09:45,...,958.24,0.04,0.00,0.00,7I2LuEv,1.00,NaN,NaN,NaN,REGULAR_PAYMENT
3,00007725-3116-48dc-9b82-4145699dc290,958.24,MXN,settlement processor regular payment request,f9429f46-4936-4b74-840d-8cfeaeeaf0ad,REGULAR_PYMT_RQ,SETT,2024-01-20 12:29:55,2024-01-21 03:30:00,2024-01-20 12:29:55,...,958.24,0.04,0.00,0.00,NO6igcL,1.00,NaN,NaN,NaN,REGULAR_PAYMENT
4,00008e01-812f-487e-8f34-a80bcb0ae3e3,"19,294.12",MXN,settlement processor regular payment request,b076821b-f2fa-4bd6-8752-e6c12cd19816,REGULAR_PYMT_RQ,SETT,2024-01-16 12:43:04,2024-01-17 03:30:00,2024-01-16 12:43:04,...,"19,294.12",0.04,0.04,3.00,H3RgVeA,1.00,NaN,NaN,NaN,REGULAR_PAYMENT

In [49]:
cruce_1.shape

(15830410, 31)

In [50]:
cruce_1_email_null = cruce_1[(cruce_1['email'].isnull())]
cruce_1_email_null.head()

Empty DataFrame
Columns: [merchant_id, amount, currency, type_request, mvnt_id, movement_type, source_type, created_at, eff_dt, movement_day, request_effective_date, slot_date, file_name, eff_dt_date, eff_dt_time, email, merchant_name, psp_amount, gross_amount, fees, taxes, net_amount, mdr, msi, number_msi, receipt_no, status_code, dcc_amount, dcc_rate, dcc_status, pymt_prg]
Index: []

[0 rows x 31 columns]

In [51]:
cruce_1_email_null.shape

(0, 31)

# CRUCE_1_CANCELACIONES: AP JOURNAL CANCELACIONES VS SETTLEMENT MASTER LOG

In [52]:
cruce_1_canc = ap_canc.merge(sml_final[['mvnt_id','psp_amount','gross_amount','fees','taxes','net_amount','mdr','msi',
                                        'number_msi','receipt_no','status_code','dcc_amount','dcc_rate','dcc_status','pymt_prg']],
                             on='mvnt_id',how='left')
cruce_1_canc.rename(columns={'psp_amount':'psp_amount_pymt','gross_amount':'gross_amount_pymt','fees':'fees_pymt',
                             'taxes':'taxes_pymt','net_amount':'net_amount_pymt'},inplace=True)
cruce_1_canc.head()

,merchant_id,amount,currency,type_request,mvnt_id,movement_type,source_type,created_at,eff_dt,movement_day,...,net_amount_pymt,mdr,msi,number_msi,receipt_no,status_code,dcc_amount,dcc_rate,dcc_status,pymt_prg
0,00008e01-812f-487e-8f34-a80bcb0ae3e3,"-47,912.00",MXN,cancel request,89642c1b-ee74-48a9-a7f4-39f9a6e54aec,CANCEL_RQ,PYMT,2024-01-14 19:15:43,2024-01-15 04:30:00,2024-01-14 19:15:43,...,"47,912.00",0.04,0.00,9.00,5UfuOTY,3.00,NaN,NaN,NaN,REGULAR_PAYMENT
1,0000b65a-c2a2-4993-8f4c-05e5b7cbd7c0,-787.68,MXN,cancel request,f6b65fd2-d168-4ecd-b433-97b78808adbb,CANCEL_RQ,PYMT,2023-11-09 14:03:50,2023-11-10 03:30:00,2023-11-09 14:03:50,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,0000b65a-c2a2-4993-8f4c-05e5b7cbd7c0,-941.28,MXN,cancel request,d739f381-95ed-4f9e-bf7f-691b44004c11,CANCEL_RQ,PYMT,2023-10-19 14:06:46,2023-10-20 03:30:00,2023-10-19 14:06:46,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,0000bc20-a726-4fe6-b784-1eb97c287ad5,-94.87,MXN,cancel request,62e7e6f0-aa27-45be-894f-545f4f1b0ab6,CANCEL_RQ,PYMT,2023-08-22 01:36:22,2023-08-22 01:36:27,2023-08-22 01:36:22,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,0000bc20-a726-4fe6-b784-1eb97c287ad5,-86.24,MXN,cancel request,6d5ac39e-d9b4-4027-9334-d160e4f41ede,CANCEL_RQ,PYMT,2023-08-06 20:10:36,2023-08-06 20:10:41,2023-08-06 20:10:36,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [53]:
cruce_1_canc.shape

(257149, 31)

In [54]:
cruce_1_canc_email_null = cruce_1_canc[(cruce_1_canc['email'].isnull())]
cruce_1_canc_email_null.head()

,merchant_id,amount,currency,type_request,mvnt_id,movement_type,source_type,created_at,eff_dt,movement_day,...,net_amount_pymt,mdr,msi,number_msi,receipt_no,status_code,dcc_amount,dcc_rate,dcc_status,pymt_prg
166431,a29137b2-414d-428f-8f4a-c4596e48aaf5,-0.60,MXN,NaN,117a1615-c365-4d27-9bef-45c72e506cd3,CANCEL_RQ,PYMT,2022-04-28 16:57:17,2021-12-15 13:51:52,2021-10-15 14:51:52,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [55]:
cruce_1_canc_email_null.shape

(1, 31)

# PERIODO FACTURACION

In [56]:
ap_sett = cruce_1[(cruce_1['eff_dt_date'] >= start_date_fact) & (cruce_1['eff_dt_date'] <= final_date_fact)]
ap_sett.head()

,merchant_id,amount,currency,type_request,mvnt_id,movement_type,source_type,created_at,eff_dt,movement_day,...,net_amount,mdr,msi,number_msi,receipt_no,status_code,dcc_amount,dcc_rate,dcc_status,pymt_prg
0,0000275f-d46b-4a9c-a227-42d6f7ce63bd,"2,874.72",MXN,settlement processor regular payment request,54d62474-2e31-42ef-b11a-32abca59c3b6,REGULAR_PYMT_RQ,SETT,2024-01-29 21:09:35,2024-01-30 05:30:00,2024-01-29 21:09:35,...,"2,874.72",0.04,0.00,0.00,Lg96mbl,1.00,NaN,NaN,NaN,REGULAR_PAYMENT
1,0000275f-d46b-4a9c-a227-42d6f7ce63bd,"2,874.72",MXN,settlement processor regular payment request,98e7c45d-0f1b-4ea9-a211-773b1a746a85,REGULAR_PYMT_RQ,SETT,2024-01-01 03:59:17,2024-01-02 01:00:00,2024-01-01 03:59:17,...,"2,874.72",0.04,0.00,0.00,G7WmyHD,1.00,NaN,NaN,NaN,REGULAR_PAYMENT
2,00007725-3116-48dc-9b82-4145699dc290,958.24,MXN,settlement processor regular payment request,b87ada5c-b33d-4c76-b3be-58255c264a38,REGULAR_PYMT_RQ,SETT,2024-01-22 12:09:45,2024-01-23 03:30:00,2024-01-22 12:09:45,...,958.24,0.04,0.00,0.00,7I2LuEv,1.00,NaN,NaN,NaN,REGULAR_PAYMENT
3,00007725-3116-48dc-9b82-4145699dc290,958.24,MXN,settlement processor regular payment request,f9429f46-4936-4b74-840d-8cfeaeeaf0ad,REGULAR_PYMT_RQ,SETT,2024-01-20 12:29:55,2024-01-21 03:30:00,2024-01-20 12:29:55,...,958.24,0.04,0.00,0.00,NO6igcL,1.00,NaN,NaN,NaN,REGULAR_PAYMENT
4,00008e01-812f-487e-8f34-a80bcb0ae3e3,"19,294.12",MXN,settlement processor regular payment request,b076821b-f2fa-4bd6-8752-e6c12cd19816,REGULAR_PYMT_RQ,SETT,2024-01-16 12:43:04,2024-01-17 03:30:00,2024-01-16 12:43:04,...,"19,294.12",0.04,0.04,3.00,H3RgVeA,1.00,NaN,NaN,NaN,REGULAR_PAYMENT

In [57]:
ap_sett.shape

(15830410, 31)

In [58]:
sorted(ap_sett['eff_dt_date'].unique())

[Timestamp('2024-01-01 00:00:00'),
 Timestamp('2024-01-02 00:00:00'),
 Timestamp('2024-01-03 00:00:00'),
 Timestamp('2024-01-04 00:00:00'),
 Timestamp('2024-01-05 00:00:00'),
 Timestamp('2024-01-06 00:00:00'),
 Timestamp('2024-01-07 00:00:00'),
 Timestamp('2024-01-08 00:00:00'),
 Timestamp('2024-01-09 00:00:00'),
 Timestamp('2024-01-10 00:00:00'),
 Timestamp('2024-01-11 00:00:00'),
 Timestamp('2024-01-12 00:00:00'),
 Timestamp('2024-01-13 00:00:00'),
 Timestamp('2024-01-14 00:00:00'),
 Timestamp('2024-01-15 00:00:00'),
 Timestamp('2024-01-16 00:00:00'),
 Timestamp('2024-01-17 00:00:00'),
 Timestamp('2024-01-18 00:00:00'),
 Timestamp('2024-01-19 00:00:00'),
 Timestamp('2024-01-20 00:00:00'),
 Timestamp('2024-01-21 00:00:00'),
 Timestamp('2024-01-22 00:00:00'),
 Timestamp('2024-01-23 00:00:00'),
 Timestamp('2024-01-24 00:00:00'),
 Timestamp('2024-01-25 00:00:00'),
 Timestamp('2024-01-26 00:00:00'),
 Timestamp('2024-01-27 00:00:00'),
 Timestamp('2024-01-28 00:00:00'),
 Timestamp('2024-01-29 00:00:00'),
 Timestamp('2024-01-30 00:00:00'),
 Timestamp('2024-01-31 00:00:00')]

In [59]:
# ap_disb = cruce_1_period[(cruce_1_period['source_type'] == 'DISB')]
# ap_sett = cruce_1_period[(cruce_1_period['source_type'] == 'SETT')]
# ap_topups = cruce_1_period[(cruce_1_period['source_type'] == 'TOPUPS')]
# ap_loan = cruce_1_period[(cruce_1_period['source_type'] == 'LOAN')]
# ap_pymt = cruce_1_period[(cruce_1_period['source_type'] == 'PYMT')]
# ap_risk = cruce_1_period[(cruce_1_period['source_type'] == 'RISK')]
# ap_refunds = cruce_1_period[(cruce_1_period['source_type'] == 'REFUNDS')]
# ap_bill_pymnt = cruce_1_period[(cruce_1_period['source_type'] == 'BILL_PYMNT')]
# ap_taxes = cruce_1_period[(cruce_1_period['source_type'] == 'TAXES')]
# ap_sett_adptr = cruce_1_period[(cruce_1_period['source_type'] == 'SETT_ADPTR')]

# TPV NOT FOUND IN SETTLEMENT MASTER LOG

### AP SETTLEMENT

In [ ]:
ap_sett['movement_type'].unique()

In [ ]:
ap_sett_not_found = ap_sett[(ap_sett['gross_amount'].isnull())]
ap_sett_not_found.drop(['gross_amount','fees','taxes','net_amount'],axis=1,inplace=True)
ap_sett_not_found.head()

In [ ]:
ap_sett_not_found.shape

### AP CANCELACIONES

In [ ]:
# ap_pymt['movement_type'].unique()

In [ ]:
# ap_pymt_not_found = ap_pymt[(ap_pymt['gross_amount'].isnull())]
# ap_pymt_not_found.drop(['gross_amount','fees','taxes','net_amount'],axis=1,inplace=True)
# ap_pymt_not_found.head()

In [ ]:
# ap_pymt_not_found.shape

In [ ]:
# Buscar estas transacciones en TXN_BY_TRANSACTION_ID
writer = pd.ExcelWriter('TPV_ledger_enero_2024_no_encontrado.xlsx',
                        engine='xlsxwriter',
                        engine_kwargs={'options': {'encoding':'utf-8'}})
ap_sett_not_found.to_excel(writer, sheet_name='AP SETTLEMENT',index=False)
# ap_pymt_not_found.to_excel(writer, sheet_name='AP CANCELACIONES',index=False)
writer.close()

# CRUCE: UNION DE TPV NO ENCONTRADO CON TPV ENCONTRADO

In [ ]:
not_found_files_sett = glob.glob(r'C:\Users\Cristian.Aparicio\Documents\FACTURACION\2023\12. DICIEMBRE\LEDGER\TPV NOT FOUND\TXN_BY_TRANSACTION_ID_SETT*.csv', recursive=False)
not_found_files_sett

In [ ]:
# not_found_files_pymt = glob.glob(r'C:\Users\Cristian.Aparicio\Documents\FACTURACION\2023\06. JUNIO\LEDGER\TPV NOT FOUND\TXN_BY_TRANSACTION_ID_PYMT*.csv', recursive=False)
# not_found_files_pymt

### AP SETTLEMENT

In [ ]:
not_found_sett = pd.concat([pd.read_csv(f).assign(file_name=os.path.basename(f)) for f in not_found_files_sett])
not_found_sett.columns = not_found_sett.columns.str.strip().str.lower()
not_found_sett.rename(columns={'transaction_id':'mvnt_id','amount':'gross_amount'},inplace=True)
not_found_sett['transaction_fee_calculated'] = ''
not_found_sett['transaction_fee_tax_calculated'] = ''
not_found_sett['net_amount'] = ''
not_found_sett.head()

In [ ]:
not_found_sett.shape

#### CRUCE SETT NOT FOUND - PAYMENT_FACT

In [ ]:
cruce_not_found_sett = ap_sett_not_found.merge(not_found_sett[['mvnt_id','gross_amount','transaction_fee_calculated',
                                                               'transaction_fee_tax_calculated','net_amount']],on='mvnt_id',
                                               how='left')
cruce_not_found_sett.loc[cruce_not_found_sett['mdr'].isnull(), 'transaction_fee_calculated'] = ((cruce_not_found_sett['gross_amount'] - cruce_not_found_sett['amount']) / 1.1600)
cruce_not_found_sett.loc[cruce_not_found_sett['mdr'].isnull(), 'transaction_fee_tax_calculated'] = (cruce_not_found_sett['transaction_fee_calculated'] * 0.1600)
cruce_not_found_sett.loc[cruce_not_found_sett['mdr'].isnull(), 'net_amount'] = (cruce_not_found_sett['gross_amount'] - cruce_not_found_sett['transaction_fee_calculated'] - cruce_not_found_sett['transaction_fee_tax_calculated'])
cruce_not_found_sett.rename(columns ={'transaction_fee_calculated':'fees','transaction_fee_tax_calculated':'taxes'}, inplace=True)
cruce_not_found_sett.head()

In [ ]:
cruce_not_found_sett.shape

### AP CANCELACIONES

In [ ]:
# not_found_pymt = pd.concat([pd.read_csv(f).assign(file_name=os.path.basename(f)) for f in not_found_files_pymt])
# not_found_pymt.columns = not_found_pymt.columns.str.strip().str.lower()
# not_found_pymt.rename(columns={'transaction_id':'mvnt_id','amount':'gross_amount'},inplace=True)
# not_found_pymt['transaction_fee_calculated'] = ''
# not_found_pymt['transaction_fee_tax_calculated'] = ''
# not_found_pymt['net_amount'] = ''
# not_found_pymt.head()

In [ ]:
# not_found_pymt.shape

#### CRUCE PYMT NOT FOUND - PAYMENT_FACT

In [ ]:
# cruce_not_found_pymt = ap_pymt_not_found.merge(not_found_pymt[['mvnt_id','gross_amount','transaction_fee_calculated',
#                                                                'transaction_fee_tax_calculated','net_amount']],on='mvnt_id',
#                                                how='left')
# cruce_not_found_pymt.loc[cruce_not_found_pymt['mdr'].isnull(), 'transaction_fee_calculated'] = ((cruce_not_found_pymt['gross_amount'] + cruce_not_found_pymt['amount']) / 1.1600)
# cruce_not_found_pymt.loc[cruce_not_found_pymt['mdr'].isnull(), 'transaction_fee_tax_calculated'] = (cruce_not_found_pymt['transaction_fee_calculated'] * 0.1600)
# cruce_not_found_pymt.loc[cruce_not_found_pymt['mdr'].isnull(), 'net_amount'] = (cruce_not_found_pymt['gross_amount'] - cruce_not_found_pymt['transaction_fee_calculated'] - cruce_not_found_pymt['transaction_fee_tax_calculated'])
# cruce_not_found_pymt.rename(columns ={'transaction_fee_calculated':'fees','transaction_fee_tax_calculated':'taxes'}, inplace=True)
# cruce_not_found_pymt.head()

In [ ]:
# cruce_not_found_pymt.shape

# UNION TPV FINAL

### AP SETTLEMENT

In [60]:
ap_sett_found = ap_sett[(ap_sett['gross_amount'].notnull())]
ap_sett_found.head()

,merchant_id,amount,currency,type_request,mvnt_id,movement_type,source_type,created_at,eff_dt,movement_day,...,net_amount,mdr,msi,number_msi,receipt_no,status_code,dcc_amount,dcc_rate,dcc_status,pymt_prg
0,0000275f-d46b-4a9c-a227-42d6f7ce63bd,"2,874.72",MXN,settlement processor regular payment request,54d62474-2e31-42ef-b11a-32abca59c3b6,REGULAR_PYMT_RQ,SETT,2024-01-29 21:09:35,2024-01-30 05:30:00,2024-01-29 21:09:35,...,"2,874.72",0.04,0.00,0.00,Lg96mbl,1.00,NaN,NaN,NaN,REGULAR_PAYMENT
1,0000275f-d46b-4a9c-a227-42d6f7ce63bd,"2,874.72",MXN,settlement processor regular payment request,98e7c45d-0f1b-4ea9-a211-773b1a746a85,REGULAR_PYMT_RQ,SETT,2024-01-01 03:59:17,2024-01-02 01:00:00,2024-01-01 03:59:17,...,"2,874.72",0.04,0.00,0.00,G7WmyHD,1.00,NaN,NaN,NaN,REGULAR_PAYMENT
2,00007725-3116-48dc-9b82-4145699dc290,958.24,MXN,settlement processor regular payment request,b87ada5c-b33d-4c76-b3be-58255c264a38,REGULAR_PYMT_RQ,SETT,2024-01-22 12:09:45,2024-01-23 03:30:00,2024-01-22 12:09:45,...,958.24,0.04,0.00,0.00,7I2LuEv,1.00,NaN,NaN,NaN,REGULAR_PAYMENT
3,00007725-3116-48dc-9b82-4145699dc290,958.24,MXN,settlement processor regular payment request,f9429f46-4936-4b74-840d-8cfeaeeaf0ad,REGULAR_PYMT_RQ,SETT,2024-01-20 12:29:55,2024-01-21 03:30:00,2024-01-20 12:29:55,...,958.24,0.04,0.00,0.00,NO6igcL,1.00,NaN,NaN,NaN,REGULAR_PAYMENT
4,00008e01-812f-487e-8f34-a80bcb0ae3e3,"19,294.12",MXN,settlement processor regular payment request,b076821b-f2fa-4bd6-8752-e6c12cd19816,REGULAR_PYMT_RQ,SETT,2024-01-16 12:43:04,2024-01-17 03:30:00,2024-01-16 12:43:04,...,"19,294.12",0.04,0.04,3.00,H3RgVeA,1.00,NaN,NaN,NaN,REGULAR_PAYMENT

In [61]:
ap_sett_found.shape

(15830410, 31)

In [62]:
ap_sett_final_1 = pd.concat([ap_sett_found,cruce_not_found_sett])
ap_sett_final_1.rename(columns={'psp_amount':'psp_amount_sett','gross_amount':'gross_amount_sett','fees':'fees_sett',
                                'taxes':'taxes_sett','net_amount':'net_amount_sett'},inplace=True)
ap_sett_final_1.head()

,merchant_id,amount,currency,type_request,mvnt_id,movement_type,source_type,created_at,eff_dt,movement_day,...,net_amount_sett,mdr,msi,number_msi,receipt_no,status_code,dcc_amount,dcc_rate,dcc_status,pymt_prg
0,0000275f-d46b-4a9c-a227-42d6f7ce63bd,"2,874.72",MXN,settlement processor regular payment request,54d62474-2e31-42ef-b11a-32abca59c3b6,REGULAR_PYMT_RQ,SETT,2024-01-29 21:09:35,2024-01-30 05:30:00,2024-01-29 21:09:35,...,"2,874.72",0.04,0.00,0.00,Lg96mbl,1.00,NaN,NaN,NaN,REGULAR_PAYMENT
1,0000275f-d46b-4a9c-a227-42d6f7ce63bd,"2,874.72",MXN,settlement processor regular payment request,98e7c45d-0f1b-4ea9-a211-773b1a746a85,REGULAR_PYMT_RQ,SETT,2024-01-01 03:59:17,2024-01-02 01:00:00,2024-01-01 03:59:17,...,"2,874.72",0.04,0.00,0.00,G7WmyHD,1.00,NaN,NaN,NaN,REGULAR_PAYMENT
2,00007725-3116-48dc-9b82-4145699dc290,958.24,MXN,settlement processor regular payment request,b87ada5c-b33d-4c76-b3be-58255c264a38,REGULAR_PYMT_RQ,SETT,2024-01-22 12:09:45,2024-01-23 03:30:00,2024-01-22 12:09:45,...,958.24,0.04,0.00,0.00,7I2LuEv,1.00,NaN,NaN,NaN,REGULAR_PAYMENT
3,00007725-3116-48dc-9b82-4145699dc290,958.24,MXN,settlement processor regular payment request,f9429f46-4936-4b74-840d-8cfeaeeaf0ad,REGULAR_PYMT_RQ,SETT,2024-01-20 12:29:55,2024-01-21 03:30:00,2024-01-20 12:29:55,...,958.24,0.04,0.00,0.00,NO6igcL,1.00,NaN,NaN,NaN,REGULAR_PAYMENT
4,00008e01-812f-487e-8f34-a80bcb0ae3e3,"19,294.12",MXN,settlement processor regular payment request,b076821b-f2fa-4bd6-8752-e6c12cd19816,REGULAR_PYMT_RQ,SETT,2024-01-16 12:43:04,2024-01-17 03:30:00,2024-01-16 12:43:04,...,"19,294.12",0.04,0.04,3.00,H3RgVeA,1.00,NaN,NaN,NaN,REGULAR_PAYMENT

In [63]:
ap_sett_final_1.shape

(15830410, 31)

### AP CANCELACIONES

In [ ]:
# ap_pymt_found = ap_pymt[(ap_pymt['gross_amount'].notnull())]
# ap_pymt_found.head()

In [ ]:
# ap_pymt_found.shape

In [ ]:
# ap_pymt_final_1 = pd.concat([ap_pymt_found,cruce_not_found_pymt])
# ap_pymt_final_1.rename(columns={'gross_amount':'gross_amount_pymt','fees':'fees_pymt','taxes':'taxes_pymt',
#                                 'net_amount':'net_amount_pymt'},inplace=True)
# ap_pymt_final_1.head()

In [ ]:
# ap_pymt_final_1.shape

# VALIDACIONES (DEBEN ESTAR EN 0)

In [64]:
ap_sett_final_1_found = ap_sett_final_1[(ap_sett_final_1['gross_amount_sett'].isnull())]
ap_sett_final_1_found.head()

Empty DataFrame
Columns: [merchant_id, amount, currency, type_request, mvnt_id, movement_type, source_type, created_at, eff_dt, movement_day, request_effective_date, slot_date, file_name, eff_dt_date, eff_dt_time, email, merchant_name, psp_amount_sett, gross_amount_sett, fees_sett, taxes_sett, net_amount_sett, mdr, msi, number_msi, receipt_no, status_code, dcc_amount, dcc_rate, dcc_status, pymt_prg]
Index: []

[0 rows x 31 columns]

In [65]:
ap_sett_final_1_found.shape

(0, 31)

In [66]:
# ap_pymt_final_1_found = ap_pymt_final_1[(ap_pymt_final_1['gross_amount_pymt'].isnull())]
# ap_pymt_final_1_found.head()

In [67]:
# ap_pymt_final_1_found.shape

# RESTAR CANCELACIONES DE AP SETTLEMENT

In [68]:
ap_sett_final = ap_sett_final_1.merge(cruce_1_canc[['mvnt_id','psp_amount_pymt','gross_amount_pymt','fees_pymt','taxes_pymt',
                                                             'net_amount_pymt']],on='mvnt_id',how='left')
ap_sett_final.fillna(0,inplace=True)
ap_sett_final['psp_amount'] = ap_sett_final['psp_amount_sett'] - ap_sett_final['psp_amount_pymt'] 
ap_sett_final['gross_amount'] = ap_sett_final['gross_amount_sett'] - ap_sett_final['gross_amount_pymt'] 
ap_sett_final['fees'] = ap_sett_final['fees_sett'] - ap_sett_final['fees_pymt'] 
ap_sett_final['taxes'] = ap_sett_final['taxes_sett'] - ap_sett_final['taxes_pymt'] 
ap_sett_final['net_amount'] = ap_sett_final['net_amount_sett'] - ap_sett_final['net_amount_pymt']
ap_sett_final.loc[ap_sett_final['pymt_prg'] == 'DIGITAL_ACCOUNT', 'movement_type_sml'] = ap_sett_final['pymt_prg']
ap_sett_final.loc[ap_sett_final['dcc_status'] == 'Tarjeta con DCC', 'movement_type_sml'] = ap_sett_final['dcc_status']
ap_sett_final['movement_type_sml'].fillna(0, inplace=True)
ap_sett_final.head()

,merchant_id,amount,currency,type_request,mvnt_id,movement_type,source_type,created_at,eff_dt,movement_day,...,gross_amount_pymt,fees_pymt,taxes_pymt,net_amount_pymt,psp_amount,gross_amount,fees,taxes,net_amount,movement_type_sml
0,0000275f-d46b-4a9c-a227-42d6f7ce63bd,"2,874.72",MXN,settlement processor regular payment request,54d62474-2e31-42ef-b11a-32abca59c3b6,REGULAR_PYMT_RQ,SETT,2024-01-29 21:09:35,2024-01-30 05:30:00,2024-01-29 21:09:35,...,0.00,0.00,0.00,0.00,"3,000.00","3,000.00",108.00,17.28,"2,874.72",0
1,0000275f-d46b-4a9c-a227-42d6f7ce63bd,"2,874.72",MXN,settlement processor regular payment request,98e7c45d-0f1b-4ea9-a211-773b1a746a85,REGULAR_PYMT_RQ,SETT,2024-01-01 03:59:17,2024-01-02 01:00:00,2024-01-01 03:59:17,...,0.00,0.00,0.00,0.00,"3,000.00","3,000.00",108.00,17.28,"2,874.72",0
2,00007725-3116-48dc-9b82-4145699dc290,958.24,MXN,settlement processor regular payment request,b87ada5c-b33d-4c76-b3be-58255c264a38,REGULAR_PYMT_RQ,SETT,2024-01-22 12:09:45,2024-01-23 03:30:00,2024-01-22 12:09:45,...,0.00,0.00,0.00,0.00,"1,000.00","1,000.00",36.00,5.76,958.24,0
3,00007725-3116-48dc-9b82-4145699dc290,958.24,MXN,settlement processor regular payment request,f9429f46-4936-4b74-840d-8cfeaeeaf0ad,REGULAR_PYMT_RQ,SETT,2024-01-20 12:29:55,2024-01-21 03:30:00,2024-01-20 12:29:55,...,0.00,0.00,0.00,0.00,"1,000.00","1,000.00",36.00,5.76,958.24,0
4,00008e01-812f-487e-8f34-a80bcb0ae3e3,"19,294.12",MXN,settlement processor regular payment request,b076821b-f2fa-4bd6-8752-e6c12cd19816,REGULAR_PYMT_RQ,SETT,2024-01-16 12:43:04,2024-01-17 03:30:00,2024-01-16 12:43:04,...,0.00,0.00,0.00,0.00,"21,295.00","21,295.00","1,724.90",275.98,"19,294.12",0

In [69]:
ap_sett_final.shape

(15830410, 42)

In [70]:
ap_sett_final['movement_type'].unique()

array(['REGULAR_PYMT_RQ', 'DEFERRED_REGULAR_PYMNT_RQ', 'FAST_PYMT_RQ',
       'DEFERRED_FAST_PYMNT_RQ', 'REVENUE_PYMNT_RQ'], dtype=object)

In [71]:
ap_sett_final['pymt_prg'].unique()

array(['REGULAR_PAYMENT', 'FAST_PAYMENT', 'DIGITAL_ACCOUNT'], dtype=object)

In [72]:
ap_sett_final['dcc_status'].unique()

array([0, 'Tarjeta con DCC'], dtype=object)

In [73]:
ap_sett_final['movement_type_sml'].unique()

array([0, 'Tarjeta con DCC', 'DIGITAL_ACCOUNT'], dtype=object)

In [92]:
last_fecha_txn = ap_sett_final[(ap_sett_final['created_at_date'] == final_date_fact)]
last_fecha_txn.head()

,merchant_id,amount,currency,type_request,mvnt_id,movement_type,source_type,created_at,eff_dt,movement_day,...,fees_pymt,taxes_pymt,net_amount_pymt,psp_amount,gross_amount,fees,taxes,net_amount,movement_type_sml,created_at_date
24747,0079b7bd-0713-4cf9-9b37-992cbbba9c1e,143.74,MXN,settlement processor fast payment request,222f1e77-1934-4891-8e3c-27788e5eef5e,FAST_PYMT_RQ,SETT,2024-01-31 18:32:28,2024-01-31 20:30:00,2024-01-31 18:32:28,...,0.00,0.00,0.00,150.00,150.00,5.40,0.86,143.74,0,2024-01-31
24748,0079b7bd-0713-4cf9-9b37-992cbbba9c1e,9.58,MXN,settlement processor fast payment request,0698b0f7-b680-48e7-a5c4-85761d2121fc,FAST_PYMT_RQ,SETT,2024-01-31 16:44:37,2024-01-31 18:00:00,2024-01-31 16:44:37,...,0.00,0.00,0.00,10.00,10.00,0.36,0.06,9.58,0,2024-01-31
24749,0079b7bd-0713-4cf9-9b37-992cbbba9c1e,104.93,MXN,settlement processor fast payment request,2baf344a-8f11-43d2-9194-77e97ddcbeb3,FAST_PYMT_RQ,SETT,2024-01-31 11:03:24,2024-01-31 11:30:00,2024-01-31 11:03:24,...,0.00,0.00,0.00,109.50,109.50,3.94,0.63,104.93,0,2024-01-31
32406,0088f97f-8701-4084-837b-c5cf2c0688f7,479.12,MXN,settlement processor fast payment request,f17e065c-e188-4fdd-b906-cce031234e50,FAST_PYMT_RQ,SETT,2024-01-31 15:48:32,2024-01-31 18:00:00,2024-01-31 15:48:32,...,0.00,0.00,0.00,500.00,500.00,18.00,2.88,479.12,0,2024-01-31
49191,00bf0fb9-405a-4b41-9ace-14dfe8e0b471,335.38,MXN,settlement processor fast payment request,72b03179-0d5c-4885-8f66-48d9d12c5a0b,FAST_PYMT_RQ,SETT,2024-01-31 19:48:27,2024-01-31 20:30:00,2024-01-31 19:48:27,...,0.00,0.00,0.00,350.00,350.00,12.60,2.02,335.38,0,2024-01-31

In [93]:
fecha_txn.shape

(4255, 43)

In [91]:
fecha_txn.to_excel('Ultima_fecha_txn.xlsx',index=False)

# IDENTIFICACION DE PAGOS DCC

In [ ]:
ap_sett_dcc = ap_sett_final[(ap_sett_final['dcc_status'] == 'Tarjeta con DCC')]
ap_sett_dcc.head()

In [ ]:
ap_sett_dcc.shape

In [ ]:
ap_sett_dcc['movement_type'].unique()

In [ ]:
ap_sett_dcc['pymt_prg'].unique()

In [ ]:
ap_sett_dcc['movement_type_sml'].unique()

# ONLY REGULAR - FAST PAYMENTS

In [ ]:
ap_sett_final_regular_fp = ap_sett_final
ap_sett_final_regular_fp.loc[ap_sett_final_regular_fp['movement_type'] == 'DEFERRED_REGULAR_PYMNT_RQ', 'gross_amount_dp'] = ap_sett_final_regular_fp['gross_amount']
ap_sett_final_regular_fp.loc[ap_sett_final_regular_fp['movement_type'] == 'DEFERRED_REGULAR_PYMNT_RQ', 'gross_amount'] = 0
ap_sett_final_regular_fp.loc[ap_sett_final_regular_fp['movement_type'] == 'DEFERRED_FAST_PYMNT_RQ', 'gross_amount_dp'] = ap_sett_final_regular_fp['gross_amount']
ap_sett_final_regular_fp.loc[ap_sett_final_regular_fp['movement_type'] == 'DEFERRED_FAST_PYMNT_RQ', 'gross_amount'] = 0
ap_sett_final_regular_fp.head()

In [ ]:
ap_sett_final_regular_fp.shape

In [ ]:
ap_sett_final_regular_fp['movement_type'].unique()

In [ ]:
ap_sett_final_regular_fp['pymt_prg'].unique()

In [ ]:
ap_sett_final_cancelaciones = ap_sett_final_regular_fp[(ap_sett_final_regular_fp['gross_amount_pymt'] != 0)]
ap_sett_final_cancelaciones.head()

In [ ]:
ap_sett_final_cancelaciones.shape

In [ ]:
ap_sett_final_group_regular_fp = ap_sett_final_regular_fp.groupby(['eff_dt_date','merchant_id',
                                                                   'email']).agg({'mvnt_id':'count',
                                                                                  'gross_amount_sett':sum,
                                                                                  'fees_sett':sum,
                                                                                  'taxes_sett':sum,
                                                                                  'net_amount_sett':sum,
                                                                                  'gross_amount_pymt':sum,
                                                                                  'fees_pymt':sum,
                                                                                  'taxes_pymt':sum,
                                                                                  'net_amount_pymt':sum,
                                                                                  'gross_amount':sum,
                                                                                  'fees':sum,
                                                                                  'taxes':sum,
                                                                                  'net_amount':sum,
                                                                                  'amount':sum}).reset_index()
ap_sett_final_group_regular_fp.head()

In [ ]:
ap_sett_final_group_regular_fp.shape

In [ ]:
ap_sett_final_group_regular_fp_me_only = ap_sett_final_regular_fp.groupby(['merchant_id',
                                                                   'email']).agg({'mvnt_id':'count',
                                                                                  'gross_amount_sett':sum,
                                                                                  'fees_sett':sum,
                                                                                  'taxes_sett':sum,
                                                                                  'net_amount_sett':sum,
                                                                                  'gross_amount_pymt':sum,
                                                                                  'fees_pymt':sum,
                                                                                  'taxes_pymt':sum,
                                                                                  'net_amount_pymt':sum,
                                                                                  'gross_amount':sum,
                                                                                  'fees':sum,
                                                                                  'taxes':sum,
                                                                                  'net_amount':sum,
                                                                                  'amount':sum}).reset_index()
ap_sett_final_group_regular_fp_me_only.head()

In [ ]:
ap_sett_final_group_regular_fp_me_only.shape

### TPV, FEES, TAXES, NET AMOUNT

In [ ]:
cruce_1_group_regular_fp = ap_sett_final_regular_fp.groupby(['eff_dt_date']).agg({'mvnt_id':'count',
                                                                                  'gross_amount_sett':sum,
                                                                                  'fees_sett':sum,
                                                                                  'taxes_sett':sum,
                                                                                  'net_amount_sett':sum,
                                                                                  'gross_amount_pymt':sum,
                                                                                  'fees_pymt':sum,
                                                                                  'taxes_pymt':sum,
                                                                                  'net_amount_pymt':sum,
                                                                                  'gross_amount':sum,
                                                                                  'fees':sum,
                                                                                  'taxes':sum,
                                                                                  'net_amount':sum,
                                                                                  'amount':sum}).reset_index()
cruce_1_group_regular_fp.head()

In [ ]:
cruce_1_group_regular_fp.shape

In [ ]:
cruce_1_group_regular_fp.to_excel('Date_tpv_fees_taxes_ledger_enero_2024.xlsx',index=False)

In [ ]:
sorted(cruce_1_group_regular_fp['eff_dt_date'].unique())

In [ ]:
cruce_1_group_me_id_regular_fp = ap_sett_final_regular_fp.groupby(['merchant_id','email']).agg({'mvnt_id':'count',
                                                                      'gross_amount':sum,
                                                                      'fees':sum,
                                                                      'taxes':sum,
                                                                      'net_amount':sum,
                                                                      'amount':sum}).reset_index()
cruce_1_group_me_id_regular_fp.head()

In [ ]:
cruce_1_group_me_id_regular_fp.shape

### PIVOT PARA POLIZA CONTABLE

In [ ]:
pivot_poliza_regular_fp = pd.pivot_table(ap_sett_final_regular_fp,index=['movement_type_sml','pymt_prg','eff_dt_date'],
                                         columns=['movement_type'],
                                         values=['gross_amount','fees','taxes','net_amount','amount'],
                                         aggfunc=np.sum,margins=True).reset_index()
pivot_poliza_regular_fp.fillna(0,inplace=True)
pivot_poliza_regular_fp.head()

In [ ]:
pivot_poliza_regular_fp.shape

### TOPUPS

In [ ]:
ap_topups_preview = pd.concat([pd.read_csv(f, sep='\t').assign(file_name=os.path.basename(f)) for f in ap_files_topups])
ap_topups_preview.columns = ap_topups_preview.columns.str.strip().str.lower()
ap_topups_preview.replace('""','', regex=True, inplace=True)
ap_topups_preview['eff_dt'] =  pd.to_datetime(ap_topups_preview['eff_dt']).dt.tz_localize(None)
ap_topups_preview['eff_dt_date'] =  pd.to_datetime(ap_topups_preview['eff_dt']).dt.date
ap_topups_preview['eff_dt_time'] =  pd.to_datetime(ap_topups_preview['eff_dt']).dt.time
ap_topups_preview['eff_dt_date'] =  pd.to_datetime(ap_topups_preview['eff_dt_date']).dt.tz_localize(None)
ap_topups_preview['movement_day'] = pd.to_datetime(ap_topups_preview['movement_day']).dt.tz_localize(None)
ap_topups_preview['created_at'] = pd.to_datetime(ap_topups_preview['created_at']).dt.tz_localize(None)
ap_topups_preview['request_effective_date'] = pd.to_datetime(ap_topups_preview['request_effective_date']).dt.tz_localize(None)
ap_topups_preview['slot_date'] = pd.to_datetime(ap_topups_preview['slot_date']).dt.tz_localize(None)
# ap_topups_preview['identifier'] = ap_topups_preview['source_type'].str[:1].astype(str)
# ap_topups_preview['INDEX'] = (ap_topups_preview['eff_dt_date'].astype(str).replace(' ', '',regex=True)+'-'+
#                ap_topups_preview['identifier'].astype(str).replace(' ', '',regex=True)+'-'+
#                ap_topups_preview['eff_dt_time'].astype(str).replace(' ', '',regex=True))
ap_topups_preview.sort_values(by=(['merchant_id','eff_dt']), ascending=[True,False], inplace=True)
ap_topups_preview['fee_direct_deposit'] = ap_topups_preview['amount'] / 1.16
ap_topups_preview['taxes_direct_deposit'] = ap_topups_preview['fee_direct_deposit'] * 0.16
ap_topups_preview.head()

In [ ]:
ap_topups_preview.shape

In [ ]:
ap_topups = ap_topups_preview.merge(email[['merchant_id','email','merchant_name']],on='merchant_id',how='left')
ap_topups.head()

In [ ]:
ap_topups.shape

### BILL PAYMENTS

In [ ]:
ap_bill_payments_preview = pd.concat([pd.read_csv(f, sep='\t').assign(file_name=os.path.basename(f)) for f in ap_files_bill_payments])
ap_bill_payments_preview.columns = ap_bill_payments_preview.columns.str.strip().str.lower()
ap_bill_payments_preview.replace('""','', regex=True, inplace=True)
ap_bill_payments_preview['eff_dt'] =  pd.to_datetime(ap_bill_payments_preview['eff_dt']).dt.tz_localize(None)
ap_bill_payments_preview['eff_dt_date'] =  pd.to_datetime(ap_bill_payments_preview['eff_dt']).dt.date
ap_bill_payments_preview['eff_dt_time'] =  pd.to_datetime(ap_bill_payments_preview['eff_dt']).dt.time
ap_bill_payments_preview['eff_dt_date'] =  pd.to_datetime(ap_bill_payments_preview['eff_dt_date']).dt.tz_localize(None)
ap_bill_payments_preview['movement_day'] = pd.to_datetime(ap_bill_payments_preview['movement_day']).dt.tz_localize(None)
ap_bill_payments_preview['created_at'] = pd.to_datetime(ap_bill_payments_preview['created_at']).dt.tz_localize(None)
ap_bill_payments_preview['request_effective_date'] = pd.to_datetime(ap_bill_payments_preview['request_effective_date']).dt.tz_localize(None)
ap_bill_payments_preview['slot_date'] = pd.to_datetime(ap_bill_payments_preview['slot_date']).dt.tz_localize(None)
# ap_bill_payments_preview['identifier'] = ap_bill_payments_preview['source_type'].str[:1].astype(str)
# ap_bill_payments_preview['INDEX'] = (ap_bill_payments_preview['eff_dt_date'].astype(str).replace(' ', '',regex=True)+'-'+
#                ap_bill_payments_preview['identifier'].astype(str).replace(' ', '',regex=True)+'-'+
#                ap_bill_payments_preview['eff_dt_time'].astype(str).replace(' ', '',regex=True))
ap_bill_payments_preview.sort_values(by=(['merchant_id','eff_dt']), ascending=[True,False], inplace=True)
ap_bill_payments_preview['merchant_commission_fees'] = ap_bill_payments_preview['merchant_commission'] / 1.16
ap_bill_payments_preview['merchant_commission_taxes'] = ap_bill_payments_preview['merchant_commission_fees'] * 0.16
ap_bill_payments_preview['frontend_commission_fees'] = ap_bill_payments_preview['frontend_commission'] / 1.16
ap_bill_payments_preview['frontend_commission_taxes'] = ap_bill_payments_preview['frontend_commission_fees'] * 0.16
ap_bill_payments_preview.head()

In [ ]:
ap_bill_payments_preview.shape

In [ ]:
ap_bill_payments_preview_journal_completed = ap_bill_payments_preview[(ap_bill_payments_preview['service_billers_status'] == 'journal-completed')]
ap_bill_payments_preview_journal_completed.head()

In [ ]:
ap_bill_payments_preview_journal_completed.shape

In [ ]:
ap_bill_payments_preview_journal_completed['service_billers_status'].unique()

In [ ]:
ap_bill_payments = ap_bill_payments_preview_journal_completed.merge(email[['merchant_id','email','merchant_name']],
                                                                    on='merchant_id',how='left')
ap_bill_payments.head()

In [ ]:
ap_bill_payments.shape

### CASHBACKS

In [ ]:
ap_cashback_preview = pd.concat([pd.read_csv(f, sep='\t').assign(file_name=os.path.basename(f)) for f in ap_files_cashbacks])
ap_cashback_preview.columns = ap_cashback_preview.columns.str.strip().str.lower()
ap_cashback_preview.replace('""','', regex=True, inplace=True)
ap_cashback_preview['eff_dt'] =  pd.to_datetime(ap_cashback_preview['eff_dt']).dt.tz_localize(None)
ap_cashback_preview['eff_dt_date'] =  pd.to_datetime(ap_cashback_preview['eff_dt']).dt.date
ap_cashback_preview['eff_dt_time'] =  pd.to_datetime(ap_cashback_preview['eff_dt']).dt.time
ap_cashback_preview['eff_dt_date'] =  pd.to_datetime(ap_cashback_preview['eff_dt_date']).dt.tz_localize(None)
ap_cashback_preview['movement_day'] = pd.to_datetime(ap_cashback_preview['movement_day']).dt.tz_localize(None)
ap_cashback_preview['created_at'] = pd.to_datetime(ap_cashback_preview['created_at']).dt.tz_localize(None)
ap_cashback_preview['request_effective_date'] = pd.to_datetime(ap_cashback_preview['request_effective_date']).dt.tz_localize(None)
ap_cashback_preview['slot_date'] = pd.to_datetime(ap_cashback_preview['slot_date']).dt.tz_localize(None)
# ap_cashback_preview['identifier'] = ap_cashback_preview['source_type'].str[:1].astype(str)
# ap_cashback_preview['INDEX'] = (ap_cashback_preview['eff_dt_date'].astype(str).replace(' ', '',regex=True)+'-'+
#                ap_cashback_preview['identifier'].astype(str).replace(' ', '',regex=True)+'-'+
#                ap_cashback_preview['eff_dt_time'].astype(str).replace(' ', '',regex=True))
ap_cashback_preview.sort_values(by=(['merchant_id','eff_dt']), ascending=[True,False], inplace=True)
ap_cashback_preview['fees_cashback'] = ap_cashback_preview['amount'] / 1.16
ap_cashback_preview['taxes_cashback'] = ap_cashback_preview['fees_cashback'] * 0.16
ap_cashback_preview.head()

In [ ]:
ap_cashback_preview.shape

In [ ]:
ap_cashback = ap_cashback_preview.merge(email[['merchant_id','email','merchant_name']],on='merchant_id',how='left')
ap_cashback.head()

In [ ]:
ap_cashback.shape

### UNION TOPUPS, BILL PAYMENTS, CASHBACK

In [ ]:
ap_topups_billpymnt_cashback = pd.concat([ap_topups,ap_bill_payments,ap_cashback])
ap_topups_billpymnt_cashback.head()

In [ ]:
ap_topups_billpymnt_cashback.shape

In [ ]:
ap_topups_billpymnt_cashback_group = ap_topups_billpymnt_cashback.groupby(['eff_dt_date',
                                                                           'merchant_id',
                                                                           'email']).agg({'mvnt_id':'count',
                                                                                          'fee_direct_deposit':sum,
                                                                                          'taxes_direct_deposit':sum,
                                                                                          'merchant_commission_fees':sum,
                                                                                          'merchant_commission_taxes':sum,
                                                                                          'merchant_commission':sum,
                                                                                          'frontend_commission_fees':sum,
                                                                                          'frontend_commission_taxes':sum,
                                                                                          'frontend_commission':sum,
                                                                                          'fees_cashback':sum,
                                                                                          'taxes_cashback':sum,
                                                                                          'amount':sum}).reset_index()
ap_topups_billpymnt_cashback_group.head()

In [ ]:
ap_topups_billpymnt_cashback_group.shape

In [ ]:
ap_topups_billpymnt_cashback_group.to_excel('TOPUPS_BILL_PAYMENTS_CASHBACK_LEDGER_ENERO_2024.xlsx',index=False)

In [ ]:
sorted(ap_topups_billpymnt_cashback_group['eff_dt_date'].unique())

In [ ]:
ap_topups_billpymnt_cashback_group_me_id = ap_topups_billpymnt_cashback.groupby(['merchant_id',
                                                                                 'email']).agg({'mvnt_id':'count',
                                                                                                'fee_direct_deposit':sum,
                                                                                                'taxes_direct_deposit':sum,
                                                                                                'merchant_commission_fees':sum,
                                                                                                'merchant_commission_taxes':sum,
                                                                                                'merchant_commission':sum,
                                                                                                'frontend_commission_fees':sum,
                                                                                                'frontend_commission_taxes':sum,
                                                                                                'frontend_commission':sum,
                                                                                                'fees_cashback':sum,
                                                                                                'taxes_cashback':sum,
                                                                                                'amount':sum}).reset_index()
ap_topups_billpymnt_cashback_group_me_id.head()

In [ ]:
ap_topups_billpymnt_cashback_group_me_id.shape

### TOPUPS/BILL PAYMENTS/CASHBACKS ME NO ENCONTRADOS

In [ ]:
topups_billpymnt_cashback_not_found = ap_topups_billpymnt_cashback_group_me_id.merge(cruce_1_group_me_id_regular_fp[['merchant_id',
                                                                                                                     'gross_amount',
                                                                                                                     'fees',
                                                                                                                     'taxes',
                                                                                                                     'net_amount',
                                                                                                                     'amount']],
                                                                                     on='merchant_id',how='left')
topups_billpymnt_cashback_not_found.head()

In [ ]:
topups_billpymnt_cashback_not_found.shape

In [ ]:
topups_billpymnt_cashback_not_found_final = topups_billpymnt_cashback_not_found[(topups_billpymnt_cashback_not_found['gross_amount'].isnull())]
topups_billpymnt_cashback_not_found_final.rename(columns={'amount_x':'amount_y','amount_y':'amount_x'},inplace=True)
topups_billpymnt_cashback_not_found_final.head()

In [ ]:
topups_billpymnt_cashback_not_found_final.shape

# UNION PREVIA

In [ ]:
union_previa_1 = cruce_1_group_me_id_regular_fp.merge(ap_topups_billpymnt_cashback_group_me_id[['merchant_id',
                                                                                        'fee_direct_deposit',
                                                                                        'taxes_direct_deposit',
                                                                                        'merchant_commission_fees',
                                                                                        'merchant_commission_taxes',
                                                                                        'merchant_commission',
                                                                                        'frontend_commission_fees',
                                                                                        'frontend_commission_taxes',
                                                                                        'frontend_commission',
                                                                                        'fees_cashback',
                                                                                        'taxes_cashback',
                                                                                        'amount']],on='merchant_id',how='left')
union_previa_1.fillna(0,inplace=True)
union_previa_1.head()

In [ ]:
union_previa_1.shape

# UNION PREVIA CON TOPUPS NO ENCONTRADOS Y BILL PAYMENTS NO ENCONTRADOS

In [ ]:
union_previa_final = pd.concat([union_previa_1,topups_billpymnt_cashback_not_found_final])
union_previa_final.fillna(0,inplace=True)
union_previa_final.head()

In [ ]:
union_previa_final.shape

# DEFERRED PAYMENTS

In [ ]:
ap_sett_final_deferred = ap_sett_final[((ap_sett_final['movement_type'] == 'DEFERRED_REGULAR_PYMNT_RQ') |
                                        (ap_sett_final['movement_type'] == 'DEFERRED_FAST_PYMNT_RQ'))]
ap_sett_final_deferred['ingreso_deferred'] = ap_sett_final_deferred['psp_amount'] - ap_sett_final_deferred['gross_amount_dp']
ap_sett_final_deferred['fees_deferred'] = ap_sett_final_deferred['ingreso_deferred'] / 1.1600
ap_sett_final_deferred['taxes_deferred'] = ap_sett_final_deferred['fees_deferred']  * 0.1600
ap_sett_final_deferred.head()

In [ ]:
ap_sett_final_deferred.shape

In [ ]:
ap_sett_final_group_deferred = ap_sett_final_deferred.groupby(['eff_dt_date','merchant_id','email']).agg({'mvnt_id':'count',
                                                                                'psp_amount_sett':sum,
                                                                                'gross_amount_sett':sum,
                                                                                'fees_sett':sum,
                                                                                'taxes_sett':sum,
                                                                                'net_amount_sett':sum,
                                                                                'psp_amount_pymt':sum,
                                                                                'gross_amount_pymt':sum,
                                                                                'fees_pymt':sum,
                                                                                'taxes_pymt':sum,
                                                                                'net_amount_pymt':sum,
                                                                      'gross_amount':sum,
                                                                      'fees':sum,
                                                                      'taxes':sum,
                                                                      'net_amount':sum,
                                                                      'amount':sum,
                                                                      'psp_amount':sum,
                                                                      'gross_amount_dp':sum,
                                                                      'fees_deferred':sum,
                                                                      'taxes_deferred':sum}).reset_index()
ap_sett_final_group_deferred.head()

In [ ]:
ap_sett_final_group_deferred.shape

In [ ]:
date_group_deferred = ap_sett_final_group_deferred.groupby(['eff_dt_date']).agg({'mvnt_id':'count',
                                                                      'gross_amount':sum,
                                                                      'fees':sum,
                                                                      'taxes':sum,
                                                                      'net_amount':sum,
                                                                      'amount':sum,
                                                                                 'psp_amount':sum,
                                                                                 'gross_amount_dp':sum,
                                                                                'fees_deferred':sum,
                                                                                'taxes_deferred':sum}).reset_index()
date_group_deferred.head()

In [ ]:
date_group_deferred.shape

In [ ]:
group_me_id_deferred = ap_sett_final_group_deferred.groupby(['merchant_id','email']).agg({'mvnt_id':'count',
                                                                      'gross_amount':sum,
                                                                      'fees':sum,
                                                                      'taxes':sum,
                                                                      'net_amount':sum,
                                                                      'amount':sum,
                                                                        'psp_amount':sum,
                                                                        'gross_amount_dp':sum,
                                                                        'fees_deferred':sum,
                                                                        'taxes_deferred':sum}).reset_index()
group_me_id_deferred.head()

In [ ]:
group_me_id_deferred.shape

### PIVOT PARA POLIZA CONTABLE

In [ ]:
pivot_poliza_deferred = pd.pivot_table(ap_sett_final_deferred,index=['movement_type_sml','pymt_prg','eff_dt_date'],
                                       columns=['movement_type'],
                                       values=['psp_amount','gross_amount_dp','ingreso_deferred','fees_deferred','taxes_deferred'],
                                       aggfunc=np.sum,margins=True).reset_index()
pivot_poliza_deferred.fillna(0,inplace=True)
pivot_poliza_deferred.head()

In [ ]:
pivot_poliza_deferred.shape

# EXCEL PREVIO FACTURACION_DYNAMO

In [ ]:
writer = pd.ExcelWriter('PREVIO FACTURACION-LEDGER ENERO 2024.xlsx',
                        engine='xlsxwriter',
                        engine_kwargs={'options': {'encoding':'utf-8'}})
union_previa_final.to_excel(writer, sheet_name='DETALLE_PREVIO',index=False)
ap_sett_final_deferred.to_excel(writer, sheet_name='DETALLE_PREVIO_DEFERRED',index=False)
writer.close()

# INFORMACIN FINAL LEDGER

In [ ]:
union_fact_final = union_previa_final[['merchant_id',
                                       'email',
                                       'gross_amount',
                                       'fees',
                                       'taxes',
                                       'fee_direct_deposit',
                                       'taxes_direct_deposit',
                                       'frontend_commission_fees',
                                       'frontend_commission_taxes',
                                       'merchant_commission_fees',
                                       'merchant_commission_taxes',
                                       'fees_cashback',
                                       'taxes_cashback',
                                       'net_amount']]
union_fact_final.rename(columns={'email':'user_email','gross_amount':'total_transactions','fees':'total_fees_charged',
                                'taxes':'total_taxes','net_amount':'total_due'},inplace=True)
union_fact_final.head()

In [ ]:
union_fact_final.shape

In [ ]:
check_mail = union_fact_final[(union_fact_final['user_email'].isnull())]
check_mail.head()

In [ ]:
check_mail.shape

In [ ]:
union_fact_final.to_csv('ledger_regular_fp_enero_2024.csv',index=False)
union_fact_final.to_excel('ledger_regular_fp_enero_2024.xlsx',index=False)
ap_sett_final_deferred.to_excel('ledger_deferred_enero_2024.xlsx',index=False)
ap_sett_final_deferred.to_csv('ledger_deferred_enero_2024.csv',index=False)

# INFORMACION PARA POLIZA CONTABLE

In [ ]:
writer = pd.ExcelWriter('Data_poliza_contable_tpv_enero_2024.xlsx',
                        engine='xlsxwriter',
                        engine_kwargs={'options': {'encoding':'utf-8'}})
pivot_poliza_regular_fp.to_excel(writer, sheet_name='REGULAR_FP_PAYMENTS')
pivot_poliza_deferred.to_excel(writer, sheet_name='DEFERRED_PAYMENTS')
writer.close()

In [ ]:
writer = pd.ExcelWriter('Data_poliza_contable_not_found_enero_2024.xlsx',
                        engine='xlsxwriter',
                        engine_kwargs={'options': {'encoding':'utf-8'}})
cruce_not_found_sett.to_excel(writer, sheet_name='SETT')
#cruce_not_found_pymt.to_excel(writer, sheet_name='PYMT')
writer.close()

# INFORMACION CANCELACIONES

In [ ]:
writer = pd.ExcelWriter('Data_cancelaciones_enero_2024.xlsx',
                        engine='xlsxwriter',
                        engine_kwargs={'options': {'encoding':'utf-8'}})
cruce_1_group_regular_fp.to_excel(writer, sheet_name='BY DATE')
ap_sett_final_cancelaciones.to_excel(writer, sheet_name='DETALLE')
#cruce_not_found_pymt.to_excel(writer, sheet_name='PYMT')
writer.close()