In [1]:
import pandas as pd
import numpy as np
import glob
import os
from openpyxl import load_workbook
pd.options.display.float_format = '{:,.2f}'.format

# RUTAS

### SETTLEMENT MASTER LOG

In [2]:
sml_files = glob.glob(r'C:\Users\Cristian.Aparicio\Documents\COMISIONISTAS\2024\01. ENERO\LEDGER - DB\SML*.csv', recursive=False)
sml_files

['C:\\Users\\Cristian.Aparicio\\Documents\\COMISIONISTAS\\2024\\01. ENERO\\LEDGER - DB\\SML_COMISIONISTAS ENERO 2024 01-17.csv']

### AP JOURNAL

In [3]:
ap_files = glob.glob(r'C:\Users\Cristian.Aparicio\Documents\COMISIONISTAS\2024\01. ENERO\LEDGER - DB\AP*.csv', recursive=False)
ap_files

['C:\\Users\\Cristian.Aparicio\\Documents\\COMISIONISTAS\\2024\\01. ENERO\\LEDGER - DB\\AP_JOURNAL_COMISIONISTAS ENERO 2024 01-17.csv']

# DATA SETTLEMENT MASTER LOG

In [4]:
sml = pd.concat([pd.read_csv(f).assign(file_name=os.path.basename(f)) for f in sml_files])
sml.columns = sml.columns.str.strip().str.lower()
sml.replace('""','', regex=True, inplace=True)
sml['created_at'] = pd.to_datetime(sml['created_at']).dt.tz_localize(None)
sml['created_at_date'] =  pd.to_datetime(sml['created_at']).dt.date
sml['created_at_date'] =  pd.to_datetime(sml['created_at_date'])
sml['eff_dt'] = pd.to_datetime(sml['eff_dt']).dt.tz_localize(None)
sml['eff_dt_date'] =  pd.to_datetime(sml['eff_dt']).dt.date
sml['eff_dt_date'] =  pd.to_datetime(sml['eff_dt_date'])
sml.rename(columns={'ref_id':'transaction_id'},inplace=True)
#sml['PK'] = sml['PK'].replace('M#','',inplace=True)
sml.head()

,record_uuid,merchant_id,transaction_id,mvnt_id,mvnt_type,pymt_prg,created_at,eff_dt,psp_amount,gross_amount,...,mdr,msi,number_msi,status_code,status_msg,receipt_no,type,file_name,created_at_date,eff_dt_date
0,cc449d1c-76f0-57d9-820d-6814e9013d98,3ee0c85f-4617-4736-90a1-927a41e0deec,84f72a8a-9a21-4a5f-8cdb-8d3ca0843b9a,84f72a8a-9a21-4a5f-8cdb-8d3ca0843b9a,STL_PCS_RQ,REGULAR_PAYMENT,2024-01-15 10:45:57,2024-01-16 02:30:00,"3,325.00","3,325.00",...,0.00,0.00,0.00,1,Paid,ORklUxl,PAYMENT,SML_COMISIONISTAS ENERO 2024 01-17.csv,2024-01-15,2024-01-16
1,3a9a0886-abb1-5705-a1eb-c71b017826a8,3ee0c85f-4617-4736-90a1-927a41e0deec,a1f6798b-df25-418d-a590-af5844c98ad1,a1f6798b-df25-418d-a590-af5844c98ad1,STL_PCS_RQ,REGULAR_PAYMENT,2024-01-15 10:29:18,2024-01-16 02:30:00,745.00,745.00,...,0.00,0.00,0.00,1,Paid,GWez1m8,PAYMENT,SML_COMISIONISTAS ENERO 2024 01-17.csv,2024-01-15,2024-01-16
2,4d58bf30-4eca-5cd5-acf3-1c77a039696b,57b3c765-2dec-4781-a7b7-6019f92db8c0,7ef3b523-93f1-4157-80f1-17cba83af522,7ef3b523-93f1-4157-80f1-17cba83af522,STL_PCS_RQ,REGULAR_PAYMENT,2024-01-15 14:04:54,2024-01-16 03:30:00,"1,400.00","1,400.00",...,0.00,0.00,0.00,1,Paid,vbLcoj1,PAYMENT,SML_COMISIONISTAS ENERO 2024 01-17.csv,2024-01-15,2024-01-16
3,202db352-74ed-5117-8e23-f744a7c19d3f,3ee0c85f-4617-4736-90a1-927a41e0deec,045a5685-75d3-4980-9b1c-d2d0f7d180c7,045a5685-75d3-4980-9b1c-d2d0f7d180c7,STL_PCS_RQ,REGULAR_PAYMENT,2024-01-16 12:42:49,2024-01-17 03:00:00,"1,645.00","1,645.00",...,0.00,0.04,3.00,1,Paid,jCK6SJf,PAYMENT,SML_COMISIONISTAS ENERO 2024 01-17.csv,2024-01-16,2024-01-17
4,b75278cd-bbd2-5c5a-afe5-9014531110a6,3ee0c85f-4617-4736-90a1-927a41e0deec,186af159-9900-4081-89ee-a60805c4a699,186af159-9900-4081-89ee-a60805c4a699,STL_PCS_RQ,REGULAR_PAYMENT,2024-01-16 11:55:17,2024-01-17 02:30:00,"44,687.00","44,687.00",...,0.00,0.00,0.00,1,Paid,yPq8eXe,PAYMENT,SML_COMISIONISTAS ENERO 2024 01-17.csv,2024-01-16,2024-01-17

In [5]:
sml.shape

(44, 23)

In [6]:
sml.dtypes

record_uuid                object
merchant_id                object
transaction_id             object
mvnt_id                    object
mvnt_type                  object
pymt_prg                   object
created_at         datetime64[ns]
eff_dt             datetime64[ns]
psp_amount                float64
gross_amount              float64
fees                      float64
taxes                     float64
net_amount                float64
mdr                       float64
msi                       float64
number_msi                float64
status_code                 int64
status_msg                 object
receipt_no                 object
type                       object
file_name                  object
created_at_date    datetime64[ns]
eff_dt_date        datetime64[ns]
dtype: object

In [7]:
sml_final = sml[(sml['mvnt_type'] == 'STL_PCS_RQ')]
sml_final.head()

,record_uuid,merchant_id,transaction_id,mvnt_id,mvnt_type,pymt_prg,created_at,eff_dt,psp_amount,gross_amount,...,mdr,msi,number_msi,status_code,status_msg,receipt_no,type,file_name,created_at_date,eff_dt_date
0,cc449d1c-76f0-57d9-820d-6814e9013d98,3ee0c85f-4617-4736-90a1-927a41e0deec,84f72a8a-9a21-4a5f-8cdb-8d3ca0843b9a,84f72a8a-9a21-4a5f-8cdb-8d3ca0843b9a,STL_PCS_RQ,REGULAR_PAYMENT,2024-01-15 10:45:57,2024-01-16 02:30:00,"3,325.00","3,325.00",...,0.00,0.00,0.00,1,Paid,ORklUxl,PAYMENT,SML_COMISIONISTAS ENERO 2024 01-17.csv,2024-01-15,2024-01-16
1,3a9a0886-abb1-5705-a1eb-c71b017826a8,3ee0c85f-4617-4736-90a1-927a41e0deec,a1f6798b-df25-418d-a590-af5844c98ad1,a1f6798b-df25-418d-a590-af5844c98ad1,STL_PCS_RQ,REGULAR_PAYMENT,2024-01-15 10:29:18,2024-01-16 02:30:00,745.00,745.00,...,0.00,0.00,0.00,1,Paid,GWez1m8,PAYMENT,SML_COMISIONISTAS ENERO 2024 01-17.csv,2024-01-15,2024-01-16
2,4d58bf30-4eca-5cd5-acf3-1c77a039696b,57b3c765-2dec-4781-a7b7-6019f92db8c0,7ef3b523-93f1-4157-80f1-17cba83af522,7ef3b523-93f1-4157-80f1-17cba83af522,STL_PCS_RQ,REGULAR_PAYMENT,2024-01-15 14:04:54,2024-01-16 03:30:00,"1,400.00","1,400.00",...,0.00,0.00,0.00,1,Paid,vbLcoj1,PAYMENT,SML_COMISIONISTAS ENERO 2024 01-17.csv,2024-01-15,2024-01-16
3,202db352-74ed-5117-8e23-f744a7c19d3f,3ee0c85f-4617-4736-90a1-927a41e0deec,045a5685-75d3-4980-9b1c-d2d0f7d180c7,045a5685-75d3-4980-9b1c-d2d0f7d180c7,STL_PCS_RQ,REGULAR_PAYMENT,2024-01-16 12:42:49,2024-01-17 03:00:00,"1,645.00","1,645.00",...,0.00,0.04,3.00,1,Paid,jCK6SJf,PAYMENT,SML_COMISIONISTAS ENERO 2024 01-17.csv,2024-01-16,2024-01-17
4,b75278cd-bbd2-5c5a-afe5-9014531110a6,3ee0c85f-4617-4736-90a1-927a41e0deec,186af159-9900-4081-89ee-a60805c4a699,186af159-9900-4081-89ee-a60805c4a699,STL_PCS_RQ,REGULAR_PAYMENT,2024-01-16 11:55:17,2024-01-17 02:30:00,"44,687.00","44,687.00",...,0.00,0.00,0.00,1,Paid,yPq8eXe,PAYMENT,SML_COMISIONISTAS ENERO 2024 01-17.csv,2024-01-16,2024-01-17

In [8]:
sml_final.shape

(44, 23)

# DATA AP JOURNAL

In [9]:
ap = pd.concat([pd.read_csv(f).assign(file_name=os.path.basename(f)) for f in ap_files])
ap.columns = ap.columns.str.strip().str.lower()
ap.replace('""','', regex=True, inplace=True)
ap['eff_dt'] =  pd.to_datetime(ap['eff_dt']).dt.tz_localize(None)
ap['eff_dt_date'] =  pd.to_datetime(ap['eff_dt']).dt.date
ap['eff_dt_date'] =  pd.to_datetime(ap['eff_dt_date'])
ap['eff_dt_time'] =  pd.to_datetime(ap['eff_dt']).dt.time
ap['movement_day'] = pd.to_datetime(ap['movement_day']).dt.tz_localize(None)
ap['created_at'] = pd.to_datetime(ap['created_at']).dt.tz_localize(None)
ap['created_at_date'] =  pd.to_datetime(ap['created_at']).dt.date
ap['created_at_date'] =  pd.to_datetime(ap['created_at_date'])
ap['request_effective_date'] = pd.to_datetime(ap['request_effective_date']).dt.tz_localize(None)
ap['slot_date'] = pd.to_datetime(ap['slot_date']).dt.tz_localize(None)
ap['identifier'] = ap['source_type'].str[:1].astype(str)
ap['INDEX'] = (ap['eff_dt_date'].astype(str).replace(' ', '',regex=True)+'-'+
               ap['identifier'].astype(str).replace(' ', '',regex=True)+'-'+
               ap['eff_dt_time'].astype(str).replace(' ', '',regex=True))
ap.sort_values(by=(['merchant_id','eff_dt']), ascending=[True,False], inplace=True)

In [10]:
ap.loc[ap['source_type'] == 'DISB', 'report_id'] = ap['type_request']
ap['report_id'] = ap['report_id'].groupby(ap['merchant_id']).fillna(method='ffill')
ap.head()

C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_19604\1627118409.py:2: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  ap['report_id'] = ap['report_id'].groupby(ap['merchant_id']).fillna(method='ffill')

,merchant_id,amount,currency,type_request,mvnt_id,movement_type,source_type,created_at,eff_dt,movement_day,request_effective_date,slot_date,file_name,eff_dt_date,eff_dt_time,created_at_date,identifier,INDEX,report_id
43,3ee0c85f-4617-4736-90a1-927a41e0deec,"-160,372.48",MXN,AF3KPDMB5,29d041b6-9866-37d8-9ac0-cce13a01e072,DISB_RQ,DISB,2024-01-17 06:31:22,2024-01-17 06:31:27,2024-01-17 06:31:11,2024-01-17 06:07:00,1969-12-31 18:00:00,AP_JOURNAL_COMISIONISTAS ENERO 2024 01-17.csv,2024-01-17,06:31:27,2024-01-17,D,2024-01-17-D-06:31:27,AF3KPDMB5
42,3ee0c85f-4617-4736-90a1-927a41e0deec,"1,700.35",MXN,settlement processor regular payment request,52bcb294-a52e-4c43-a7ae-3dc6ec5e6e58,REGULAR_PYMT_RQ,SETT,2024-01-16 20:31:11,2024-01-17 05:30:00,2024-01-16 20:31:11,2024-01-17 05:00:00,2024-01-17 05:30:00,AP_JOURNAL_COMISIONISTAS ENERO 2024 01-17.csv,2024-01-17,05:30:00,2024-01-16,S,2024-01-17-S-05:30:00,AF3KPDMB5
40,3ee0c85f-4617-4736-90a1-927a41e0deec,"1,450.00",MXN,settlement processor regular payment request,2f697b61-ddf7-4d6c-95c0-84c335964976,REGULAR_PYMT_RQ,SETT,2024-01-16 18:19:15,2024-01-17 05:00:00,2024-01-16 18:19:15,2024-01-17 04:30:00,2024-01-17 05:00:00,AP_JOURNAL_COMISIONISTAS ENERO 2024 01-17.csv,2024-01-17,05:00:00,2024-01-16,S,2024-01-17-S-05:00:00,AF3KPDMB5
41,3ee0c85f-4617-4736-90a1-927a41e0deec,"1,899.00",MXN,settlement processor regular payment request,2d54447e-4e2d-49fe-8ab5-3af5245d9651,REGULAR_PYMT_RQ,SETT,2024-01-16 19:36:31,2024-01-17 05:00:00,2024-01-16 19:36:31,2024-01-17 04:30:00,2024-01-17 05:00:00,AP_JOURNAL_COMISIONISTAS ENERO 2024 01-17.csv,2024-01-17,05:00:00,2024-01-16,S,2024-01-17-S-05:00:00,AF3KPDMB5
38,3ee0c85f-4617-4736-90a1-927a41e0deec,"1,490.00",MXN,settlement processor regular payment request,68ae9bae-5e87-40f2-b715-d7135e913a33,REGULAR_PYMT_RQ,SETT,2024-01-16 16:22:38,2024-01-17 04:30:00,2024-01-16 16:22:38,2024-01-17 04:00:00,2024-01-17 04:30:00,AP_JOURNAL_COMISIONISTAS ENERO 2024 01-17.csv,2024-01-17,04:30:00,2024-01-16,S,2024-01-17-S-04:30:00,AF3KPDMB5

In [11]:
ap.shape

(65, 19)

In [12]:
ap.to_excel('AP-COMISIONISTAS.xlsx')

In [13]:
ap.dtypes

merchant_id                       object
amount                           float64
currency                          object
type_request                      object
mvnt_id                           object
movement_type                     object
source_type                       object
created_at                datetime64[ns]
eff_dt                    datetime64[ns]
movement_day              datetime64[ns]
request_effective_date    datetime64[ns]
slot_date                 datetime64[ns]
file_name                         object
eff_dt_date               datetime64[ns]
eff_dt_time                       object
created_at_date           datetime64[ns]
identifier                        object
INDEX                             object
report_id                         object
dtype: object

In [14]:
sorted(list(ap['source_type'].unique()))

['DISB', 'SETT', 'TOPUPS']

In [15]:
ap['report_id'].unique()

array(['AF3KPDMB5', 'AP2MFY5SN', 'ACRH2WNQ6', 'A8LD8GSKQ', 'A3VFSR3KM',
       'ALTQBNHBM', 'ACMSV2ZC7', 'AFLJPNZJW', 'AVSZYS6DW', 'AYKCX883P',
       'A838TVN87', 'APXD9KTK5', 'A3VV47KJY', 'A5DSPNP42', 'AL2MXGLF5',
       'AMTJRSSGZ', 'AXYB9ZT54'], dtype=object)

In [16]:
ap_disb = ap[(ap['source_type'] == 'DISB')]
ap_pymt = ap[(ap['source_type'] == 'PYMT')]
ap_sett = ap[(ap['source_type'] == 'SETT')]
ap_topups = ap[(ap['source_type'] == 'TOPUPS')]
ap_risk = ap[(ap['source_type'] == 'RISK')]
# ap_loan = ap[(ap['source_type'] == 'LOAN')]

# CRUCE: IDENTIFICACION DE REPORT_ID

In [17]:
cruce_1 = sml_final.merge(ap[['mvnt_id','report_id','movement_type']],on='mvnt_id',how='left')
cruce_1.head()

,record_uuid,merchant_id,transaction_id,mvnt_id,mvnt_type,pymt_prg,created_at,eff_dt,psp_amount,gross_amount,...,number_msi,status_code,status_msg,receipt_no,type,file_name,created_at_date,eff_dt_date,report_id,movement_type
0,cc449d1c-76f0-57d9-820d-6814e9013d98,3ee0c85f-4617-4736-90a1-927a41e0deec,84f72a8a-9a21-4a5f-8cdb-8d3ca0843b9a,84f72a8a-9a21-4a5f-8cdb-8d3ca0843b9a,STL_PCS_RQ,REGULAR_PAYMENT,2024-01-15 10:45:57,2024-01-16 02:30:00,"3,325.00","3,325.00",...,0.00,1,Paid,ORklUxl,PAYMENT,SML_COMISIONISTAS ENERO 2024 01-17.csv,2024-01-15,2024-01-16,AP2MFY5SN,REGULAR_PYMT_RQ
1,3a9a0886-abb1-5705-a1eb-c71b017826a8,3ee0c85f-4617-4736-90a1-927a41e0deec,a1f6798b-df25-418d-a590-af5844c98ad1,a1f6798b-df25-418d-a590-af5844c98ad1,STL_PCS_RQ,REGULAR_PAYMENT,2024-01-15 10:29:18,2024-01-16 02:30:00,745.00,745.00,...,0.00,1,Paid,GWez1m8,PAYMENT,SML_COMISIONISTAS ENERO 2024 01-17.csv,2024-01-15,2024-01-16,AP2MFY5SN,REGULAR_PYMT_RQ
2,4d58bf30-4eca-5cd5-acf3-1c77a039696b,57b3c765-2dec-4781-a7b7-6019f92db8c0,7ef3b523-93f1-4157-80f1-17cba83af522,7ef3b523-93f1-4157-80f1-17cba83af522,STL_PCS_RQ,REGULAR_PAYMENT,2024-01-15 14:04:54,2024-01-16 03:30:00,"1,400.00","1,400.00",...,0.00,1,Paid,vbLcoj1,PAYMENT,SML_COMISIONISTAS ENERO 2024 01-17.csv,2024-01-15,2024-01-16,APXD9KTK5,REGULAR_PYMT_RQ
3,202db352-74ed-5117-8e23-f744a7c19d3f,3ee0c85f-4617-4736-90a1-927a41e0deec,045a5685-75d3-4980-9b1c-d2d0f7d180c7,045a5685-75d3-4980-9b1c-d2d0f7d180c7,STL_PCS_RQ,REGULAR_PAYMENT,2024-01-16 12:42:49,2024-01-17 03:00:00,"1,645.00","1,645.00",...,3.00,1,Paid,jCK6SJf,PAYMENT,SML_COMISIONISTAS ENERO 2024 01-17.csv,2024-01-16,2024-01-17,AF3KPDMB5,REGULAR_PYMT_RQ
4,b75278cd-bbd2-5c5a-afe5-9014531110a6,3ee0c85f-4617-4736-90a1-927a41e0deec,186af159-9900-4081-89ee-a60805c4a699,186af159-9900-4081-89ee-a60805c4a699,STL_PCS_RQ,REGULAR_PAYMENT,2024-01-16 11:55:17,2024-01-17 02:30:00,"44,687.00","44,687.00",...,0.00,1,Paid,yPq8eXe,PAYMENT,SML_COMISIONISTAS ENERO 2024 01-17.csv,2024-01-16,2024-01-17,AF3KPDMB5,REGULAR_PYMT_RQ

In [18]:
cruce_1.shape

(44, 25)

In [19]:
cruce_1_not_found = cruce_1[(cruce_1['movement_type'].isnull())]
cruce_1_not_found.head()

Empty DataFrame
Columns: [record_uuid, merchant_id, transaction_id, mvnt_id, mvnt_type, pymt_prg, created_at, eff_dt, psp_amount, gross_amount, fees, taxes, net_amount, mdr, msi, number_msi, status_code, status_msg, receipt_no, type, file_name, created_at_date, eff_dt_date, report_id, movement_type]
Index: []

[0 rows x 25 columns]

In [20]:
cruce_1_not_found.shape

(0, 25)

In [21]:
cruce_1_final = cruce_1[['merchant_id','transaction_id','report_id','receipt_no','gross_amount','fees','taxes',
                        'net_amount','eff_dt_date','created_at','created_at_date','status_code','status_msg']]
cruce_1_final.head()

,merchant_id,transaction_id,report_id,receipt_no,gross_amount,fees,taxes,net_amount,eff_dt_date,created_at,created_at_date,status_code,status_msg
0,3ee0c85f-4617-4736-90a1-927a41e0deec,84f72a8a-9a21-4a5f-8cdb-8d3ca0843b9a,AP2MFY5SN,ORklUxl,"3,325.00",0.00,0.00,"3,325.00",2024-01-16,2024-01-15 10:45:57,2024-01-15,1,Paid
1,3ee0c85f-4617-4736-90a1-927a41e0deec,a1f6798b-df25-418d-a590-af5844c98ad1,AP2MFY5SN,GWez1m8,745.00,0.00,0.00,745.00,2024-01-16,2024-01-15 10:29:18,2024-01-15,1,Paid
2,57b3c765-2dec-4781-a7b7-6019f92db8c0,7ef3b523-93f1-4157-80f1-17cba83af522,APXD9KTK5,vbLcoj1,"1,400.00",0.00,0.00,"1,400.00",2024-01-16,2024-01-15 14:04:54,2024-01-15,1,Paid
3,3ee0c85f-4617-4736-90a1-927a41e0deec,045a5685-75d3-4980-9b1c-d2d0f7d180c7,AF3KPDMB5,jCK6SJf,"1,645.00",74.03,11.84,"1,559.13",2024-01-17,2024-01-16 12:42:49,2024-01-16,1,Paid
4,3ee0c85f-4617-4736-90a1-927a41e0deec,186af159-9900-4081-89ee-a60805c4a699,AF3KPDMB5,yPq8eXe,"44,687.00",0.00,0.00,"44,687.00",2024-01-17,2024-01-16 11:55:17,2024-01-16,1,Paid

In [22]:
cruce_1_final.shape

(44, 13)

In [23]:
cruce_1_dup = cruce_1[cruce_1.duplicated(['mvnt_id'] , keep=False)]
cruce_1_dup.head()

Empty DataFrame
Columns: [record_uuid, merchant_id, transaction_id, mvnt_id, mvnt_type, pymt_prg, created_at, eff_dt, psp_amount, gross_amount, fees, taxes, net_amount, mdr, msi, number_msi, status_code, status_msg, receipt_no, type, file_name, created_at_date, eff_dt_date, report_id, movement_type]
Index: []

[0 rows x 25 columns]

In [24]:
cruce_1_dup.shape

(0, 25)

In [25]:
cruce_1_final.to_excel('0. DATA COMISIONISTAS ENERO 2024 01-17.xlsx',index=False)