In [1]:
import pandas as pd
import numpy as np
import glob
import os
from openpyxl import load_workbook
pd.options.display.float_format = '{:,.2f}'.format

# RUTAS

### SETTLEMENT MASTER LOG

In [2]:
sml_files = glob.glob(r'G:\My Drive\RESPALDO-PC\DYNAMO\2023\02. FEBRERO\PROVISION - LEDGER\FEES TAXES\S*.tsv', recursive=False)
sml_files

['G:\\My Drive\\RESPALDO-PC\\DYNAMO\\2023\\02. FEBRERO\\PROVISION - LEDGER\\FEES TAXES\\SETTLEMENT_MASTER_LOG_MSI_DATE FEBRERO 2023 - FEES TAXES.tsv']

In [3]:
use_cols_sml = ['MVNT_ID','PSP_AMOUNT','GROSS_AMOUNT','FEES','TAXES','NET_AMOUNT','MDR','MSI','NUMBER_MSI','RECEIPT_NO',
                'STATUS_CODE']

### AP JOURNAL

In [4]:
ap_provision_files = glob.glob(r'G:\My Drive\RESPALDO-PC\DYNAMO\2023\02. FEBRERO\PROVISION - LEDGER\FEES TAXES\P*.tsv', recursive=False)
ap_provision_files

['G:\\My Drive\\RESPALDO-PC\\DYNAMO\\2023\\02. FEBRERO\\PROVISION - LEDGER\\FEES TAXES\\PROVISIONES - LEDGER FEBRERO 2023 - FEES TAXES.tsv']

In [5]:
use_cols_approv = ['MERCHANT_ID','MVNT_ID','TYPE_REQUEST','MOVEMENT_TYPE','SOURCE_TYPE','CREATED_AT','EFF_DT','REPORT_DATE_LOCAL',
                  'PAYMENT_DATE_LOCAL','STATUS','AMOUNT']

# DATA SETTLEMENT MASTER LOG

In [6]:
sml = pd.concat([pd.read_csv(f,sep='\t',usecols=use_cols_sml).assign(file_name=os.path.basename(f)) for f in sml_files])
sml.columns = sml.columns.str.strip().str.lower()
sml.replace('""','', regex=True, inplace=True)
# sml['created_at'] = pd.to_datetime(sml['created_at']).dt.tz_localize(None)
# sml['created_at_date'] =  pd.to_datetime(sml['created_at']).dt.date
# sml['created_at_date'] =  pd.to_datetime(sml['created_at_date'])
# sml['eff_dt'] = pd.to_datetime(sml['eff_dt']).dt.tz_localize(None)
# sml['eff_dt_date'] =  pd.to_datetime(sml['eff_dt']).dt.date
# sml['eff_dt_date'] =  pd.to_datetime(sml['eff_dt_date'])
# sml.rename(columns={'ref_id':'transaction_id'},inplace=True)
#sml['PK'] = sml['PK'].replace('M#','',inplace=True)
sml.head()

,mvnt_id,psp_amount,gross_amount,fees,taxes,net_amount,mdr,msi,number_msi,status_code,receipt_no,file_name
0,5778945a-8fff-4c3b-b393-4487c888997d,170.00,170.00,6.12,0.98,162.90,0.04,0.00,0.00,1,xxAstCw,SETTLEMENT_MASTER_LOG_MSI_DATE FEBRERO 2023 - ...
1,75e79d6d-d593-4f28-b384-975d2adc2c3f,85.00,85.00,3.06,0.49,81.45,0.04,0.00,0.00,1,CEvtyR2,SETTLEMENT_MASTER_LOG_MSI_DATE FEBRERO 2023 - ...
2,1d71f594-a390-44be-af6b-1ef8e363b7de,65.50,65.50,2.36,0.38,62.76,0.04,0.00,0.00,1,6xBsBe4,SETTLEMENT_MASTER_LOG_MSI_DATE FEBRERO 2023 - ...
3,566ae405-a060-4643-ba89-cfc860c6c9fd,324.00,324.00,11.66,1.87,310.47,0.04,0.00,0.00,1,vrogCW3,SETTLEMENT_MASTER_LOG_MSI_DATE FEBRERO 2023 - ...
4,f9f6ae1a-645b-4c39-8acf-ee5ddaf69acd,194.00,194.00,6.98,1.12,185.90,0.04,0.00,0.00,1,yU9iBuy,SETTLEMENT_MASTER_LOG_MSI_DATE FEBRERO 2023 - ...

In [7]:
sml.shape

(9513295, 12)

In [8]:
sml.dtypes

mvnt_id          object
psp_amount      float64
gross_amount    float64
fees            float64
taxes           float64
net_amount      float64
mdr             float64
msi             float64
number_msi      float64
status_code       int64
receipt_no       object
file_name        object
dtype: object

In [9]:
sml_final = sml
sml_final.head()

,mvnt_id,psp_amount,gross_amount,fees,taxes,net_amount,mdr,msi,number_msi,status_code,receipt_no,file_name
0,5778945a-8fff-4c3b-b393-4487c888997d,170.00,170.00,6.12,0.98,162.90,0.04,0.00,0.00,1,xxAstCw,SETTLEMENT_MASTER_LOG_MSI_DATE FEBRERO 2023 - ...
1,75e79d6d-d593-4f28-b384-975d2adc2c3f,85.00,85.00,3.06,0.49,81.45,0.04,0.00,0.00,1,CEvtyR2,SETTLEMENT_MASTER_LOG_MSI_DATE FEBRERO 2023 - ...
2,1d71f594-a390-44be-af6b-1ef8e363b7de,65.50,65.50,2.36,0.38,62.76,0.04,0.00,0.00,1,6xBsBe4,SETTLEMENT_MASTER_LOG_MSI_DATE FEBRERO 2023 - ...
3,566ae405-a060-4643-ba89-cfc860c6c9fd,324.00,324.00,11.66,1.87,310.47,0.04,0.00,0.00,1,vrogCW3,SETTLEMENT_MASTER_LOG_MSI_DATE FEBRERO 2023 - ...
4,f9f6ae1a-645b-4c39-8acf-ee5ddaf69acd,194.00,194.00,6.98,1.12,185.90,0.04,0.00,0.00,1,yU9iBuy,SETTLEMENT_MASTER_LOG_MSI_DATE FEBRERO 2023 - ...

In [10]:
sml_final.shape

(9513295, 12)

# DATA AP JOURNAL

In [11]:
ap = pd.concat([pd.read_csv(f, sep='\t',usecols=use_cols_approv).assign(file_name=os.path.basename(f)) for f in ap_provision_files])
ap.columns = ap.columns.str.strip().str.lower()
ap.replace('""','', regex=True, inplace=True)
ap['eff_dt'] =  pd.to_datetime(ap['eff_dt']).dt.tz_localize(None)
ap['eff_dt_date'] =  pd.to_datetime(ap['eff_dt']).dt.date
ap['eff_dt_date'] =  pd.to_datetime(ap['eff_dt_date'])
ap['eff_dt_time'] =  pd.to_datetime(ap['eff_dt']).dt.time
# ap['movement_day'] = pd.to_datetime(ap['movement_day']).dt.tz_localize(None)
ap['created_at'] = pd.to_datetime(ap['created_at']).dt.tz_localize(None)
ap['created_at_date'] =  pd.to_datetime(ap['created_at']).dt.date
ap['created_at_date'] =  pd.to_datetime(ap['created_at_date'])
ap['report_date_local'] =  pd.to_datetime(ap['report_date_local'])
ap['payment_date_local'] = pd.to_datetime(ap['payment_date_local']).dt.tz_localize(None)
ap['payment_date_local_prev'] =  pd.to_datetime(ap['payment_date_local']).dt.date
ap['payment_date_local_prev'] =  pd.to_datetime(ap['payment_date_local_prev'])
# ap['request_effective_date'] = pd.to_datetime(ap['request_effective_date']).dt.tz_localize(None)
# ap['slot_date'] = pd.to_datetime(ap['slot_date']).dt.tz_localize(None)
# ap['identifier'] = ap['source_type'].str[:1].astype(str)
# ap['INDEX'] = (ap['eff_dt_date'].astype(str).replace(' ', '',regex=True)+'-'+
#                ap['identifier'].astype(str).replace(' ', '',regex=True)+'-'+
#                ap['eff_dt_time'].astype(str).replace(' ', '',regex=True))
ap.sort_values(by=(['merchant_id','eff_dt']), ascending=[True,False], inplace=True)

C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_5300\2070668920.py:1: DtypeWarning: Columns (13,14,15) have mixed types. Specify dtype option on import or set low_memory=False.
  ap = pd.concat([pd.read_csv(f, sep='\t',usecols=use_cols_approv).assign(file_name=os.path.basename(f)) for f in ap_provision_files])

In [12]:
ap.reset_index(inplace=True)

In [13]:
ap.loc[ap['source_type'] == 'DISB', 'report_id'] = ap['type_request']
ap['report_id'] = ap['report_id'].groupby(ap['merchant_id']).fillna(method='ffill')
ap['report_date_local_final'] = ap['report_date_local'].groupby(ap['merchant_id']).fillna(method='ffill')
ap['payment_date_local_final'] = ap['payment_date_local_prev'].groupby(ap['merchant_id']).fillna(method='ffill')
ap['status_final'] = ap['status'].groupby(ap['merchant_id']).fillna(method='ffill')
ap.head()

,index,merchant_id,amount,type_request,mvnt_id,movement_type,source_type,created_at,eff_dt,report_date_local,...,status,file_name,eff_dt_date,eff_dt_time,created_at_date,payment_date_local_prev,report_id,report_date_local_final,payment_date_local_final,status_final
0,974700,00003751-a43a-4dda-b26d-0e00360ada3a,-670.77,AL87YCZ3P,f2903920-a3da-4c51-9a33-f7c977c06294,DISB_RQ,DISB,2023-03-21 07:13:48,2023-03-21 07:13:53,2023-03-21,...,PAID,PROVISIONES - LEDGER FEBRERO 2023 - FEES TAXES...,2023-03-21,07:13:53,2023-03-21,2023-03-21,AL87YCZ3P,2023-03-21,2023-03-21,PAID
1,10832260,00003751-a43a-4dda-b26d-0e00360ada3a,670.77,settlement processor regular payment request,ecaf79f0-3b4c-4f83-89b3-e11e3bbe05e8,REGULAR_PYMT_RQ,SETT,2023-03-20 17:50:45,2023-03-21 04:30:00,NaT,...,NaN,PROVISIONES - LEDGER FEBRERO 2023 - FEES TAXES...,2023-03-21,04:30:00,2023-03-20,NaT,AL87YCZ3P,2023-03-21,2023-03-21,PAID
2,3092182,00003751-a43a-4dda-b26d-0e00360ada3a,"-1,742.48",A5GGCS72L,b536be83-9b50-4581-ac31-cb68a5244941,DISB_RQ,DISB,2023-03-19 07:16:48,2023-03-19 07:16:53,2023-03-19,...,PAID,PROVISIONES - LEDGER FEBRERO 2023 - FEES TAXES...,2023-03-19,07:16:53,2023-03-19,2023-03-19,A5GGCS72L,2023-03-19,2023-03-19,PAID
3,10832259,00003751-a43a-4dda-b26d-0e00360ada3a,"1,742.48",settlement processor regular payment request,dfb0cce8-4daa-4853-a1b1-6c39719b12be,REGULAR_PYMT_RQ,SETT,2023-03-18 19:27:02,2023-03-19 05:00:00,NaT,...,NaN,PROVISIONES - LEDGER FEBRERO 2023 - FEES TAXES...,2023-03-19,05:00:00,2023-03-18,NaT,A5GGCS72L,2023-03-19,2023-03-19,PAID
4,1817772,00004998-66f3-4c36-9096-4f64f971d19b,-219.44,AFDCWJ6N2,a824e1c2-8d3a-4660-9922-e7168ad72863,DISB_RQ,DISB,2023-03-20 07:15:37,2023-03-20 07:15:42,2023-03-20,...,PAID,PROVISIONES - LEDGER FEBRERO 2023 - FEES TAXES...,2023-03-20,07:15:42,2023-03-20,2023-03-20,AFDCWJ6N2,2023-03-20,2023-03-20,PAID

In [14]:
ap.shape

(12414325, 21)

In [15]:
ap.dtypes

index                                int64
merchant_id                         object
amount                             float64
type_request                        object
mvnt_id                             object
movement_type                       object
source_type                         object
created_at                  datetime64[ns]
eff_dt                      datetime64[ns]
report_date_local           datetime64[ns]
payment_date_local          datetime64[ns]
status                              object
file_name                           object
eff_dt_date                 datetime64[ns]
eff_dt_time                         object
created_at_date             datetime64[ns]
payment_date_local_prev     datetime64[ns]
report_id                           object
report_date_local_final     datetime64[ns]
payment_date_local_final    datetime64[ns]
status_final                        object
dtype: object

In [16]:
ap['source_type'].unique()

array(['DISB', 'SETT', 'RISK', 'PYMT', 'TOPUPS', 'LOAN', 'SETT_ADPTR',
       'TAXES'], dtype=object)

In [17]:
ap['report_id'].unique()

array(['AL87YCZ3P', 'A5GGCS72L', 'AFDCWJ6N2', ..., 'AY8KG295Z',
       'ABL9S383T', 'ADKRXTW8R'], dtype=object)

In [18]:
ap_sett = ap[(ap['source_type'] == 'SETT')]
ap_topups = ap[(ap['source_type'] == 'TOPUPS')]
ap_disb = ap[(ap['source_type'] == 'DISB')]
ap_loan = ap[(ap['source_type'] == 'LOAN')]
ap_pymt = ap[(ap['source_type'] == 'PYMT')]
ap_risk = ap[(ap['source_type'] == 'RISK')]
ap_sett_adptr = ap[(ap['source_type'] == 'SETT_ADPTR')]
ap_taxes = ap[(ap['source_type'] == 'TAXES')]
ap_refunds = ap[(ap['source_type'] == 'REFUNDS')]
ap_bill_pymnt = ap[(ap['source_type'] == 'BILL_PYMNT')]

# CRUCE 1: AP JOURNAL VS SETTLEMENT MASTER LOG

In [19]:
cruce_1 = ap.merge(sml_final[['mvnt_id','psp_amount','gross_amount','fees','taxes','net_amount','mdr','msi','number_msi',
                             'receipt_no','status_code']],on='mvnt_id',how='left')
cruce_1['transaction_id'] = cruce_1['mvnt_id']
cruce_1.head()

,index,merchant_id,amount,type_request,mvnt_id,movement_type,source_type,created_at,eff_dt,report_date_local,...,gross_amount,fees,taxes,net_amount,mdr,msi,number_msi,receipt_no,status_code,transaction_id
0,974700,00003751-a43a-4dda-b26d-0e00360ada3a,-670.77,AL87YCZ3P,f2903920-a3da-4c51-9a33-f7c977c06294,DISB_RQ,DISB,2023-03-21 07:13:48,2023-03-21 07:13:53,2023-03-21,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,f2903920-a3da-4c51-9a33-f7c977c06294
1,10832260,00003751-a43a-4dda-b26d-0e00360ada3a,670.77,settlement processor regular payment request,ecaf79f0-3b4c-4f83-89b3-e11e3bbe05e8,REGULAR_PYMT_RQ,SETT,2023-03-20 17:50:45,2023-03-21 04:30:00,NaT,...,700.00,25.20,4.03,670.77,0.04,0.00,0.00,b5Q4rMk,1.00,ecaf79f0-3b4c-4f83-89b3-e11e3bbe05e8
2,3092182,00003751-a43a-4dda-b26d-0e00360ada3a,"-1,742.48",A5GGCS72L,b536be83-9b50-4581-ac31-cb68a5244941,DISB_RQ,DISB,2023-03-19 07:16:48,2023-03-19 07:16:53,2023-03-19,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,b536be83-9b50-4581-ac31-cb68a5244941
3,10832259,00003751-a43a-4dda-b26d-0e00360ada3a,"1,742.48",settlement processor regular payment request,dfb0cce8-4daa-4853-a1b1-6c39719b12be,REGULAR_PYMT_RQ,SETT,2023-03-18 19:27:02,2023-03-19 05:00:00,NaT,...,"2,000.00",222.00,35.52,"1,742.48",0.04,0.07,6.00,4NTGyCE,1.00,dfb0cce8-4daa-4853-a1b1-6c39719b12be
4,1817772,00004998-66f3-4c36-9096-4f64f971d19b,-219.44,AFDCWJ6N2,a824e1c2-8d3a-4660-9922-e7168ad72863,DISB_RQ,DISB,2023-03-20 07:15:37,2023-03-20 07:15:42,2023-03-20,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,a824e1c2-8d3a-4660-9922-e7168ad72863

In [20]:
cruce_1.shape

(12414331, 32)

In [21]:
cruce_1.columns

Index(['index', 'merchant_id', 'amount', 'type_request', 'mvnt_id',
       'movement_type', 'source_type', 'created_at', 'eff_dt',
       'report_date_local', 'payment_date_local', 'status', 'file_name',
       'eff_dt_date', 'eff_dt_time', 'created_at_date',
       'payment_date_local_prev', 'report_id', 'report_date_local_final',
       'payment_date_local_final', 'status_final', 'psp_amount',
       'gross_amount', 'fees', 'taxes', 'net_amount', 'mdr', 'msi',
       'number_msi', 'receipt_no', 'status_code', 'transaction_id'],
      dtype='object')

### FILTRO DE FECHA

In [22]:
cruce_1_filtro = cruce_1[(cruce_1['eff_dt_date'] >= '2023-03-01') & (cruce_1['eff_dt_date'] <= '2023-03-01')]
cruce_1_filtro['eff_dt_date'].unique()

array(['2023-03-01T00:00:00.000000000'], dtype='datetime64[ns]')

In [23]:
cruce_1_filtro.head()

,index,merchant_id,amount,type_request,mvnt_id,movement_type,source_type,created_at,eff_dt,report_date_local,...,gross_amount,fees,taxes,net_amount,mdr,msi,number_msi,receipt_no,status_code,transaction_id
1026,127496,000ea1f4-1df2-4c07-a720-80faec0c6c07,-835.59,A86G5R25M,fd1c3f2a-efe5-484c-9670-35c755cc4696,DISB_RQ,DISB,2023-03-01 07:07:29,2023-03-01 07:07:34,2023-03-01,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,fd1c3f2a-efe5-484c-9670-35c755cc4696
1027,10803080,000ea1f4-1df2-4c07-a720-80faec0c6c07,344.97,settlement processor regular payment request,f53e4c9c-974e-4bf3-bbcb-a3caf05bf8db,REGULAR_PYMT_RQ,SETT,2023-02-28 20:54:22,2023-03-01 03:00:00,NaT,...,360.00,12.96,2.07,344.97,0.04,0.00,0.00,aSfnGTV,1.00,f53e4c9c-974e-4bf3-bbcb-a3caf05bf8db
1028,10803081,000ea1f4-1df2-4c07-a720-80faec0c6c07,279.81,settlement processor regular payment request,8d39c6d9-0b63-4e2c-b29b-b303d3e4f73d,REGULAR_PYMT_RQ,SETT,2023-02-28 22:06:03,2023-03-01 03:00:00,NaT,...,292.00,10.51,1.68,279.81,0.04,0.00,0.00,Z4pdE87,1.00,8d39c6d9-0b63-4e2c-b29b-b303d3e4f73d
1029,10803079,000ea1f4-1df2-4c07-a720-80faec0c6c07,210.81,settlement processor regular payment request,1fa8fbec-836c-4077-a31c-50feffaa265e,REGULAR_PYMT_RQ,SETT,2023-02-28 15:33:33,2023-03-01 02:00:00,NaT,...,220.00,7.92,1.27,210.81,0.04,0.00,0.00,F9yyV55,1.00,1fa8fbec-836c-4077-a31c-50feffaa265e
1396,1833429,000f1601-f3b2-4f12-9254-bd7d7cc89849,-593.62,A3LJ79BCH,416b860f-4731-4b88-bd63-7aeea9d4b867,DISB_RQ,DISB,2023-03-01 07:07:51,2023-03-01 07:07:56,2023-03-01,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,416b860f-4731-4b88-bd63-7aeea9d4b867

In [24]:
cruce_1_filtro.shape

(103484, 32)

In [25]:
cruce_1_filtro.to_excel('Data_poliza_ledger_marzo_2023.xlsx',index=False)

# DATA PROVISION

In [ ]:
url = r'C:\Users\Cristian.Aparicio\Documents\PROVISIONES\2023\02. FEBRERO\0. DATA\Detalle_28-02-2023_ledger.xlsx'

In [ ]:
provision_file = pd.ExcelFile(url)
provision_file

In [ ]:
provision_file.sheet_names

In [ ]:
all_sheets = pd.read_excel(url, sheet_name=[0],
                           converters={'ORDER_ID':str,'LAST4':str,'AFFILIATION':str,'TRX_ID':str,
                                     'DEVICE_ID':str,'ULTIMOS_4':str})

In [ ]:
all_sheets.keys()

In [ ]:
provision = pd.concat(all_sheets).reset_index()
provision.columns = provision.columns.str.strip().str.lower() 
provision.head()

In [ ]:
provision.shape

# CRUCE 2: DATA PROVISION VS CRUCE 1

In [ ]:
cruce_2 = provision.merge(cruce_1[['transaction_id','mvnt_id','report_id','report_date_local_final','payment_date_local_final',
                                   'status_final','fees','taxes','eff_dt_date','movement_type','source_type']],
                          on='transaction_id',how='left')
# cruce_2['report_id'].fillna('not_found',inplace=True)
# cruce_2['movement_type'].fillna('not_found',inplace=True)
# cruce_2['source_type'].fillna('not_found',inplace=True)
# cruce_2['status_final'].fillna('not_found',inplace=True)
# cruce_2['report_date_local_final'].fillna('1990-01-01',inplace=True)
# cruce_2['payment_date_local_final'].fillna('1990-01-01',inplace=True)
# cruce_2['report_date_local_final'] =  pd.to_datetime(cruce_2['report_date_local_final'])
# cruce_2['payment_date_local_final'] =  pd.to_datetime(cruce_2['payment_date_local_final'])
cruce_2['fees'].fillna('not_found',inplace=True)
cruce_2['taxes'].fillna('not_found',inplace=True)
cruce_2.head()

In [ ]:
cruce_2.shape

In [ ]:
cruce_2['movement_type'].unique()

In [ ]:
cruce_2['source_type'].unique()

# EXCEL FINAL

In [ ]:
writer = pd.ExcelWriter('Data_febrero_ledger_2023 - FEES TAXES.xlsx',
                        engine='xlsxwriter',
                        engine_kwargs={'options': {'encoding':'utf-8'}})
cruce_2.to_excel(writer, sheet_name='Detalle', index=False)
writer.close()