In [1]:
import pandas as pd
import numpy as np
import glob
import os
from openpyxl import load_workbook
pd.options.display.float_format = '{:,.2f}'.format

# RUTAS

### SETTLEMENT MASTER LOG

In [2]:
sml_files = glob.glob(r'G:\My Drive\RESPALDO-PC\DYNAMO\2023\11. NOVIEMBRE\Z. PROVISION\PROVISIONES - SET*.tsv', recursive=False)
sml_files

['G:\\My Drive\\RESPALDO-PC\\DYNAMO\\2023\\11. NOVIEMBRE\\Z. PROVISION\\PROVISIONES - SETTLEMENT_MASTER_LOG_DATE NOVIEMBRE 2023.tsv']

In [3]:
use_cols_sml = ['MVNT_ID','PSP_AMOUNT','GROSS_AMOUNT','FEES','TAXES','NET_AMOUNT','MDR','MSI','NUMBER_MSI','RECEIPT_NO',
                'STATUS_CODE']

### AP JOURNAL

In [4]:
ap_provision_files = glob.glob(r'G:\My Drive\RESPALDO-PC\DYNAMO\2023\11. NOVIEMBRE\Z. PROVISION\PROVISIONES - LED*.tsv', recursive=False)
ap_provision_files

['G:\\My Drive\\RESPALDO-PC\\DYNAMO\\2023\\11. NOVIEMBRE\\Z. PROVISION\\PROVISIONES - LEDGER NOVIEMBRE 2023.tsv']

In [5]:
use_cols_approv = ['MERCHANT_ID','MVNT_ID','TYPE_REQUEST','MOVEMENT_TYPE','SOURCE_TYPE','CREATED_AT','EFF_DT','REPORT_DATE_LOCAL',
                  'PAYMENT_DATE_LOCAL','STATUS']

# DATA SETTLEMENT MASTER LOG

In [6]:
sml = pd.concat([pd.read_csv(f,sep='\t',usecols=use_cols_sml).assign(file_name=os.path.basename(f)) for f in sml_files])
sml.columns = sml.columns.str.strip().str.lower()
sml.replace('""','', regex=True, inplace=True)
# sml['created_at'] = pd.to_datetime(sml['created_at']).dt.tz_localize(None)
# sml['created_at_date'] =  pd.to_datetime(sml['created_at']).dt.date
# sml['created_at_date'] =  pd.to_datetime(sml['created_at_date'])
# sml['eff_dt'] = pd.to_datetime(sml['eff_dt']).dt.tz_localize(None)
# sml['eff_dt_date'] =  pd.to_datetime(sml['eff_dt']).dt.date
# sml['eff_dt_date'] =  pd.to_datetime(sml['eff_dt_date'])
# sml.rename(columns={'ref_id':'transaction_id'},inplace=True)
#sml['PK'] = sml['PK'].replace('M#','',inplace=True)
sml.head()

,mvnt_id,psp_amount,gross_amount,fees,taxes,net_amount,mdr,msi,number_msi,status_code,receipt_no,file_name
0,2164b348-3222-4dc8-9011-d8cec72e877f,152.00,152.00,5.47,0.88,145.65,0.04,0.00,0.00,1,q80BI8R,PROVISIONES - SETTLEMENT_MASTER_LOG_DATE NOVIE...
1,b3991ed2-292d-4f11-b045-03624472e8cd,30.00,30.00,1.08,0.17,28.75,0.04,0.00,0.00,1,nzztWGB,PROVISIONES - SETTLEMENT_MASTER_LOG_DATE NOVIE...
2,074e6ab2-cee6-4b65-ac19-59a559007dc4,116.00,116.00,4.18,0.67,111.15,0.04,0.00,0.00,1,ALbHm2H,PROVISIONES - SETTLEMENT_MASTER_LOG_DATE NOVIE...
3,6aca202f-ef65-4a38-b741-6450dd55e920,20.00,20.00,0.72,0.12,19.16,0.04,0.00,0.00,1,gIFwEgj,PROVISIONES - SETTLEMENT_MASTER_LOG_DATE NOVIE...
4,bb4513fe-4484-4cbd-9cae-fac2adb10f26,74.00,74.00,2.66,0.43,70.91,0.04,0.00,0.00,1,047jSt4,PROVISIONES - SETTLEMENT_MASTER_LOG_DATE NOVIE...

In [7]:
sml.shape

(5779357, 12)

In [8]:
sml.dtypes

mvnt_id          object
psp_amount      float64
gross_amount    float64
fees            float64
taxes           float64
net_amount      float64
mdr             float64
msi             float64
number_msi      float64
status_code       int64
receipt_no       object
file_name        object
dtype: object

In [9]:
sml_final = sml
sml_final.head()

,mvnt_id,psp_amount,gross_amount,fees,taxes,net_amount,mdr,msi,number_msi,status_code,receipt_no,file_name
0,2164b348-3222-4dc8-9011-d8cec72e877f,152.00,152.00,5.47,0.88,145.65,0.04,0.00,0.00,1,q80BI8R,PROVISIONES - SETTLEMENT_MASTER_LOG_DATE NOVIE...
1,b3991ed2-292d-4f11-b045-03624472e8cd,30.00,30.00,1.08,0.17,28.75,0.04,0.00,0.00,1,nzztWGB,PROVISIONES - SETTLEMENT_MASTER_LOG_DATE NOVIE...
2,074e6ab2-cee6-4b65-ac19-59a559007dc4,116.00,116.00,4.18,0.67,111.15,0.04,0.00,0.00,1,ALbHm2H,PROVISIONES - SETTLEMENT_MASTER_LOG_DATE NOVIE...
3,6aca202f-ef65-4a38-b741-6450dd55e920,20.00,20.00,0.72,0.12,19.16,0.04,0.00,0.00,1,gIFwEgj,PROVISIONES - SETTLEMENT_MASTER_LOG_DATE NOVIE...
4,bb4513fe-4484-4cbd-9cae-fac2adb10f26,74.00,74.00,2.66,0.43,70.91,0.04,0.00,0.00,1,047jSt4,PROVISIONES - SETTLEMENT_MASTER_LOG_DATE NOVIE...

In [10]:
sml_final.shape

(5779357, 12)

# DATA AP JOURNAL

In [11]:
ap = pd.concat([pd.read_csv(f, sep='\t',usecols=use_cols_approv).assign(file_name=os.path.basename(f)) for f in ap_provision_files])
ap.columns = ap.columns.str.strip().str.lower()
ap.replace('""','', regex=True, inplace=True)
ap['eff_dt'] =  pd.to_datetime(ap['eff_dt']).dt.tz_localize(None)
ap['eff_dt_date'] =  pd.to_datetime(ap['eff_dt']).dt.date
ap['eff_dt_date'] =  pd.to_datetime(ap['eff_dt_date'])
ap['eff_dt_time'] =  pd.to_datetime(ap['eff_dt']).dt.time
# ap['movement_day'] = pd.to_datetime(ap['movement_day']).dt.tz_localize(None)
ap['created_at'] = pd.to_datetime(ap['created_at']).dt.tz_localize(None)
ap['created_at_date'] =  pd.to_datetime(ap['created_at']).dt.date
ap['created_at_date'] =  pd.to_datetime(ap['created_at_date'])
ap['payment_date_local'] = pd.to_datetime(ap['payment_date_local']).dt.tz_localize(None)
ap['payment_date_local'] =  pd.to_datetime(ap['payment_date_local']).dt.date
ap['payment_date_local'] =  pd.to_datetime(ap['payment_date_local'])
# ap['request_effective_date'] = pd.to_datetime(ap['request_effective_date']).dt.tz_localize(None)
# ap['slot_date'] = pd.to_datetime(ap['slot_date']).dt.tz_localize(None)
# ap['identifier'] = ap['source_type'].str[:1].astype(str)
# ap['INDEX'] = (ap['eff_dt_date'].astype(str).replace(' ', '',regex=True)+'-'+
#                ap['identifier'].astype(str).replace(' ', '',regex=True)+'-'+
#                ap['eff_dt_time'].astype(str).replace(' ', '',regex=True))
ap.sort_values(by=(['merchant_id','eff_dt']), ascending=[True,False], inplace=True)

In [12]:
ap.reset_index(inplace=True)

In [13]:
ap.loc[ap['source_type'] == 'DISB', 'report_id'] = ap['type_request']
ap['report_id'] = ap['report_id'].groupby(ap['merchant_id']).ffill()
ap['report_date_local_final'] = ap['report_date_local'].groupby(ap['merchant_id']).ffill()
ap['payment_date_local_final'] = ap['payment_date_local'].groupby(ap['merchant_id']).ffill()
ap['status_final'] = ap['status'].groupby(ap['merchant_id']).ffill()
ap.head()

,index,merchant_id,type_request,mvnt_id,movement_type,source_type,created_at,eff_dt,report_date_local,payment_date_local,status,file_name,eff_dt_date,eff_dt_time,created_at_date,report_id,report_date_local_final,payment_date_local_final,status_final
0,4121578,00004998-66f3-4c36-9096-4f64f971d19b,A3YQW59PJ,ae4b1e4a-b4bb-3c64-90ce-c7dd7e0becd9,DISB_RQ,DISB,2023-12-04 07:22:36,2023-12-04 07:22:41,2023-12-04,2023-12-04,PAID,PROVISIONES - LEDGER NOVIEMBRE 2023.tsv,2023-12-04,07:22:41,2023-12-04,A3YQW59PJ,2023-12-04,2023-12-04,PAID
1,907890,00004998-66f3-4c36-9096-4f64f971d19b,settlement processor regular payment request,58e3a202-b7dd-4fac-88c3-064d66eb9cb7,REGULAR_PYMT_RQ,SETT,2023-12-03 20:48:52,2023-12-04 05:30:00,NaN,NaT,NaN,PROVISIONES - LEDGER NOVIEMBRE 2023.tsv,2023-12-04,05:30:00,2023-12-03,A3YQW59PJ,2023-12-04,2023-12-04,PAID
2,907888,00004998-66f3-4c36-9096-4f64f971d19b,settlement processor regular payment request,6b3f0784-0dda-4982-a9dd-9815784efe75,REGULAR_PYMT_RQ,SETT,2023-12-03 18:27:05,2023-12-04 05:00:00,NaN,NaT,NaN,PROVISIONES - LEDGER NOVIEMBRE 2023.tsv,2023-12-04,05:00:00,2023-12-03,A3YQW59PJ,2023-12-04,2023-12-04,PAID
3,907889,00004998-66f3-4c36-9096-4f64f971d19b,settlement processor regular payment request,1456961e-4cd8-4f53-ab60-2e61a8d43080,REGULAR_PYMT_RQ,SETT,2023-12-03 19:07:07,2023-12-04 05:00:00,NaN,NaT,NaN,PROVISIONES - LEDGER NOVIEMBRE 2023.tsv,2023-12-04,05:00:00,2023-12-03,A3YQW59PJ,2023-12-04,2023-12-04,PAID
4,907887,00004998-66f3-4c36-9096-4f64f971d19b,settlement processor regular payment request,7c954fd2-5464-4ea6-ac89-8c7b5a09e5e6,REGULAR_PYMT_RQ,SETT,2023-12-03 16:03:31,2023-12-04 04:30:00,NaN,NaT,NaN,PROVISIONES - LEDGER NOVIEMBRE 2023.tsv,2023-12-04,04:30:00,2023-12-03,A3YQW59PJ,2023-12-04,2023-12-04,PAID

In [14]:
ap.shape

(7284818, 19)

In [15]:
ap.dtypes

index                                int64
merchant_id                         object
type_request                        object
mvnt_id                             object
movement_type                       object
source_type                         object
created_at                  datetime64[ns]
eff_dt                      datetime64[ns]
report_date_local                   object
payment_date_local          datetime64[ns]
status                              object
file_name                           object
eff_dt_date                 datetime64[ns]
eff_dt_time                         object
created_at_date             datetime64[ns]
report_id                           object
report_date_local_final             object
payment_date_local_final    datetime64[ns]
status_final                        object
dtype: object

In [16]:
sorted(list(ap['source_type'].unique()))

['BILL_PYMNT',
 'CAAL',
 'DATA',
 'DIG_ACC',
 'DISB',
 'LOAN',
 'PROMO',
 'PYMT',
 'REFUNDS',
 'RISK',
 'SETT',
 'TAXES',
 'TOPUPS']

In [17]:
ap['report_id'].unique()

array(['A3YQW59PJ', 'AXNP7LBWZ', 'AX9PLBKPL', ..., 'ARZT8SQVY',
       'AKP3Y7CRS', 'ALS4BZVWJ'], dtype=object)

# CRUCE 1: AP JOURNAL VS SETTLEMENT MASTER LOG

In [18]:
cruce_1 = ap.merge(sml_final[['mvnt_id','psp_amount','gross_amount','fees','taxes','net_amount','mdr','msi','number_msi',
                             'receipt_no','status_code']],on='mvnt_id',how='left')
cruce_1['transaction_id'] = cruce_1['mvnt_id']
cruce_1.head()

,index,merchant_id,type_request,mvnt_id,movement_type,source_type,created_at,eff_dt,report_date_local,payment_date_local,...,gross_amount,fees,taxes,net_amount,mdr,msi,number_msi,receipt_no,status_code,transaction_id
0,4121578,00004998-66f3-4c36-9096-4f64f971d19b,A3YQW59PJ,ae4b1e4a-b4bb-3c64-90ce-c7dd7e0becd9,DISB_RQ,DISB,2023-12-04 07:22:36,2023-12-04 07:22:41,2023-12-04,2023-12-04,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ae4b1e4a-b4bb-3c64-90ce-c7dd7e0becd9
1,907890,00004998-66f3-4c36-9096-4f64f971d19b,settlement processor regular payment request,58e3a202-b7dd-4fac-88c3-064d66eb9cb7,REGULAR_PYMT_RQ,SETT,2023-12-03 20:48:52,2023-12-04 05:30:00,NaN,NaT,...,179.00,6.44,1.03,171.53,0.04,0.00,0.00,R8yXTCl,1.00,58e3a202-b7dd-4fac-88c3-064d66eb9cb7
2,907888,00004998-66f3-4c36-9096-4f64f971d19b,settlement processor regular payment request,6b3f0784-0dda-4982-a9dd-9815784efe75,REGULAR_PYMT_RQ,SETT,2023-12-03 18:27:05,2023-12-04 05:00:00,NaN,NaT,...,649.00,23.36,3.74,621.90,0.04,0.00,0.00,5rCasXA,1.00,6b3f0784-0dda-4982-a9dd-9815784efe75
3,907889,00004998-66f3-4c36-9096-4f64f971d19b,settlement processor regular payment request,1456961e-4cd8-4f53-ab60-2e61a8d43080,REGULAR_PYMT_RQ,SETT,2023-12-03 19:07:07,2023-12-04 05:00:00,NaN,NaT,...,738.00,26.57,4.25,707.18,0.04,0.00,0.00,gOQGPFT,1.00,1456961e-4cd8-4f53-ab60-2e61a8d43080
4,907887,00004998-66f3-4c36-9096-4f64f971d19b,settlement processor regular payment request,7c954fd2-5464-4ea6-ac89-8c7b5a09e5e6,REGULAR_PYMT_RQ,SETT,2023-12-03 16:03:31,2023-12-04 04:30:00,NaN,NaT,...,249.00,8.96,1.43,238.61,0.04,0.00,0.00,4sdCsOI,1.00,7c954fd2-5464-4ea6-ac89-8c7b5a09e5e6

In [19]:
cruce_1.shape

(7284818, 30)

In [20]:
cruce_1.columns

Index(['index', 'merchant_id', 'type_request', 'mvnt_id', 'movement_type',
       'source_type', 'created_at', 'eff_dt', 'report_date_local',
       'payment_date_local', 'status', 'file_name', 'eff_dt_date',
       'eff_dt_time', 'created_at_date', 'report_id',
       'report_date_local_final', 'payment_date_local_final', 'status_final',
       'psp_amount', 'gross_amount', 'fees', 'taxes', 'net_amount', 'mdr',
       'msi', 'number_msi', 'receipt_no', 'status_code', 'transaction_id'],
      dtype='object')

# DATA PROVISION

In [21]:
url = r'C:\Users\Cristian.Aparicio\Documents\PROVISIONES\2023\11. NOVIEMBRE\Provision Noviembre 2023 V1.xlsx'

In [22]:
provision_file = pd.ExcelFile(url)
provision_file

In [23]:
provision_file.sheet_names

['RESUMEN', 'BANORTE ', 'ECOMMERCE', 'GRRCN', 'EPA']

In [24]:
all_sheets = pd.read_excel(url, sheet_name=[1,2,3,4],
                           converters={'AFFILIATION':str,'SUB_AFFILIATION':str,'ORDER_ID':str,'COD_AUTORIZACION':str,
                                       'BIN':str,'ULTIMOS_4':str})

In [25]:
all_sheets.keys()

dict_keys([1, 2, 3, 4])

In [26]:
provision = pd.concat(all_sheets).reset_index()
provision.columns = provision.columns.str.strip().str.lower() 
provision.head()

,level_0,level_1,tablero,fecha_deposito_clip,fecha_trx_clip,affiliation,sub_affiliation,fecha_recepción,nombre_archivo,order_id,...,ultimos_4,status_code,msi,psp,proceso,monto,recuento,adquiriente,transaction_id,nombre_tablero
0,1,0,PAGOS CONCILIADOS,2023-12-01 00:00:00,2023-11-30 00:00:00,7927515,7927515,2023-12-02 00:00:00,PAYCLIP_Settlement_02122023_V1.csv,268753590692,...,82,1,0,PAYWORKS-BANORTE-CP,AGREGADOR,10.00,1,BANORTE,ebacb946-7eac-4a4f-9e44-b00abf6fc9c1,NaN
1,1,1,PAGOS CONCILIADOS,2023-12-01 00:00:00,2023-11-30 00:00:00,7927517,PP36812115002413,2023-12-02 00:00:00,PAYCLIP_Settlement_02122023_V1.csv,713714994688,...,55,1,0,PAYWORKS-BANORTE-CP,AGREGADOR,40.00,1,BANORTE,0ec9938d-1a6f-4179-9921-7ec6cf65c3b3,NaN
2,1,2,PAGOS CONCILIADOS,2023-12-01 00:00:00,2023-11-30 00:00:00,7927515,7927515,2023-12-02 00:00:00,PAYCLIP_Settlement_02122023_V1.csv,397273831896,...,4,1,0,PAYWORKS-BANORTE-CP,AGREGADOR,107.00,1,BANORTE,c3fc87bc-a581-4b2a-a848-ca65117431b2,NaN
3,1,3,PAGOS CONCILIADOS,2023-12-01 00:00:00,2023-11-30 00:00:00,7927517,P5220314003502,2023-12-02 00:00:00,PAYCLIP_Settlement_02122023_V1.csv,329955457467,...,55,1,0,PAYWORKS-BANORTE-CP,AGREGADOR,40.00,1,BANORTE,f1c1b717-5810-4998-8a0b-c32c56f16e6c,NaN
4,1,4,PAGOS CONCILIADOS,2023-12-01 00:00:00,2023-11-30 00:00:00,7927500,7927500,2023-12-02 00:00:00,PAYCLIP_Settlement_02122023_V1.csv,657266002700,...,63,1,0,PAYWORKS-BANORTE-CP,AGREGADOR,175.00,1,BANORTE,28583fec-f996-487b-bac7-eb2dd434d189,NaN

In [27]:
provision.shape

(576023, 22)

# CRUCE 2: DATA PROVISION VS CRUCE 1

In [28]:
cruce_2 = provision.merge(cruce_1[['transaction_id','mvnt_id','report_id','report_date_local_final','payment_date_local_final',
                                   'status_final','fees','taxes','eff_dt_date','movement_type','source_type']],
                          on='transaction_id',how='left')
cruce_2['report_id'].fillna('not_found',inplace=True)
cruce_2['movement_type'].fillna('not_found',inplace=True)
cruce_2['source_type'].fillna('not_found',inplace=True)
cruce_2['status_final'].fillna('not_found',inplace=True)
cruce_2['report_date_local_final'].fillna('1990-01-01',inplace=True)
cruce_2['payment_date_local_final'].fillna('1990-01-01',inplace=True)
cruce_2['report_date_local_final'] =  pd.to_datetime(cruce_2['report_date_local_final'])
cruce_2['payment_date_local_final'] =  pd.to_datetime(cruce_2['payment_date_local_final'])
cruce_2.head()

,level_0,level_1,tablero,fecha_deposito_clip,fecha_trx_clip,affiliation,sub_affiliation,fecha_recepción,nombre_archivo,order_id,...,mvnt_id,report_id,report_date_local_final,payment_date_local_final,status_final,fees,taxes,eff_dt_date,movement_type,source_type
0,1,0,PAGOS CONCILIADOS,2023-12-01 00:00:00,2023-11-30 00:00:00,7927515,7927515,2023-12-02 00:00:00,PAYCLIP_Settlement_02122023_V1.csv,268753590692,...,ebacb946-7eac-4a4f-9e44-b00abf6fc9c1,AYFV7N2LS,2023-12-01,2023-12-01,PAID,0.36,0.06,2023-12-01,REGULAR_PYMT_RQ,SETT
1,1,1,PAGOS CONCILIADOS,2023-12-01 00:00:00,2023-11-30 00:00:00,7927517,PP36812115002413,2023-12-02 00:00:00,PAYCLIP_Settlement_02122023_V1.csv,713714994688,...,0ec9938d-1a6f-4179-9921-7ec6cf65c3b3,ADHT25B7S,2023-12-01,2023-12-01,PAID,1.44,0.23,2023-12-01,REGULAR_PYMT_RQ,SETT
2,1,2,PAGOS CONCILIADOS,2023-12-01 00:00:00,2023-11-30 00:00:00,7927515,7927515,2023-12-02 00:00:00,PAYCLIP_Settlement_02122023_V1.csv,397273831896,...,c3fc87bc-a581-4b2a-a848-ca65117431b2,ACVV8MH8V,2023-12-01,2023-12-01,PAID,3.85,0.62,2023-12-01,REGULAR_PYMT_RQ,SETT
3,1,3,PAGOS CONCILIADOS,2023-12-01 00:00:00,2023-11-30 00:00:00,7927517,P5220314003502,2023-12-02 00:00:00,PAYCLIP_Settlement_02122023_V1.csv,329955457467,...,f1c1b717-5810-4998-8a0b-c32c56f16e6c,AS8WJPHGT,2023-12-01,2023-12-01,PAID,1.44,0.23,2023-12-01,REGULAR_PYMT_RQ,SETT
4,1,4,PAGOS CONCILIADOS,2023-12-01 00:00:00,2023-11-30 00:00:00,7927500,7927500,2023-12-02 00:00:00,PAYCLIP_Settlement_02122023_V1.csv,657266002700,...,28583fec-f996-487b-bac7-eb2dd434d189,A692M468P,2023-12-01,2023-12-01,PAID,6.30,1.01,2023-12-01,REGULAR_PYMT_RQ,SETT

In [29]:
cruce_2.shape

(576031, 32)

In [30]:
cruce_2['movement_type'].unique()

array(['REGULAR_PYMT_RQ', 'FAST_PYMT_RQ', 'DEFERRED_REGULAR_PYMNT_RQ',
       'not_found', 'CANCEL_RQ', 'DEFERRED_FAST_PYMNT_RQ'], dtype=object)

In [31]:
cruce_2['source_type'].unique()

array(['SETT', 'not_found', 'PYMT'], dtype=object)

In [32]:
cruce_2['level_0'].unique()

array([1, 2, 3, 4], dtype=int64)

# EXCEL FINAL

In [33]:
grouped = cruce_2.groupby(cruce_2.level_0)

In [34]:
group_1 = grouped.get_group(1)
group_2 = grouped.get_group(2)
group_3 = grouped.get_group(3)
group_4 = grouped.get_group(4)
# group_5 = grouped.get_group(5)
# group_6 = grouped.get_group(6)
# group_7 = grouped.get_group(7)

In [35]:
group_1.to_csv('1.csv',index=False)
group_2.to_csv('2.csv',index=False)
group_3.to_csv('3.csv',index=False)
group_4.to_csv('4.csv',index=False)
# group_5.to_csv('5.csv',index=False)
# group_6.to_csv('6.csv',index=False)
# group_7.to_csv('7.csv',index=False)

In [36]:
writer = pd.ExcelWriter('Data_final_provision_noviembre_2023.xlsx',
                        engine='xlsxwriter',
                        engine_kwargs={'options': {'encoding':'utf-8'}})
group_1.to_excel(writer, sheet_name='1', index=False)
group_2.to_excel(writer, sheet_name='2', index=False)
group_3.to_excel(writer, sheet_name='3', index=False)
group_4.to_excel(writer, sheet_name='4', index=False)
# group_5.to_excel(writer, sheet_name='5', index=False)
# group_6.to_excel(writer, sheet_name='6', index=False)
# group_7.to_excel(writer, sheet_name='7', index=False)
writer.close()