In [1]:
import pandas as pd
import numpy as np
import glob
import os
from openpyxl import load_workbook
pd.options.display.float_format = '{:,.2f}'.format

# RUTAS

### SETTLEMENT MASTER LOG

In [2]:
sml_files = glob.glob(r'G:\My Drive\RESPALDO-PC\DYNAMO\2023\05. MAYO\Z. PROVISION\SET*.tsv', recursive=False)
sml_files

['G:\\My Drive\\RESPALDO-PC\\DYNAMO\\2023\\05. MAYO\\Z. PROVISION\\SETTLEMENT_MASTER_LOG_MSI_DATE - PROVISION MAYO 2023.tsv']

In [3]:
use_cols_sml = ['MVNT_ID','PSP_AMOUNT','GROSS_AMOUNT','FEES','TAXES','NET_AMOUNT','MDR','MSI','NUMBER_MSI','RECEIPT_NO',
                'STATUS_CODE']

### AP JOURNAL

In [4]:
ap_provision_files = glob.glob(r'G:\My Drive\RESPALDO-PC\DYNAMO\2023\05. MAYO\Z. PROVISION\PROV*.tsv', recursive=False)
ap_provision_files

['G:\\My Drive\\RESPALDO-PC\\DYNAMO\\2023\\05. MAYO\\Z. PROVISION\\PROVISIONES - LEDGER MAYO 2023.tsv']

In [5]:
use_cols_approv = ['MERCHANT_ID','MVNT_ID','TYPE_REQUEST','MOVEMENT_TYPE','SOURCE_TYPE','CREATED_AT','EFF_DT','REPORT_DATE_LOCAL',
                  'PAYMENT_DATE_LOCAL','STATUS']

# DATA SETTLEMENT MASTER LOG

In [6]:
sml = pd.concat([pd.read_csv(f,sep='\t',usecols=use_cols_sml).assign(file_name=os.path.basename(f)) for f in sml_files])
sml.columns = sml.columns.str.strip().str.lower()
sml.replace('""','', regex=True, inplace=True)
# sml['created_at'] = pd.to_datetime(sml['created_at']).dt.tz_localize(None)
# sml['created_at_date'] =  pd.to_datetime(sml['created_at']).dt.date
# sml['created_at_date'] =  pd.to_datetime(sml['created_at_date'])
# sml['eff_dt'] = pd.to_datetime(sml['eff_dt']).dt.tz_localize(None)
# sml['eff_dt_date'] =  pd.to_datetime(sml['eff_dt']).dt.date
# sml['eff_dt_date'] =  pd.to_datetime(sml['eff_dt_date'])
# sml.rename(columns={'ref_id':'transaction_id'},inplace=True)
#sml['PK'] = sml['PK'].replace('M#','',inplace=True)
sml.head()

C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_4160\2554251773.py:1: DtypeWarning: Columns (19) have mixed types. Specify dtype option on import or set low_memory=False.
  sml = pd.concat([pd.read_csv(f,sep='\t',usecols=use_cols_sml).assign(file_name=os.path.basename(f)) for f in sml_files])

,mvnt_id,psp_amount,gross_amount,fees,taxes,net_amount,mdr,msi,number_msi,status_code,receipt_no,file_name
0,9859c46e-935f-4c6d-abbc-3c7045f8d2d7,126.00,126.00,4.54,0.73,120.73,0.04,0.00,0.00,1.00,RhqCKXy,SETTLEMENT_MASTER_LOG_MSI_DATE - PROVISION MAY...
1,732656cf-287c-439c-a277-5bada2487858,900.00,900.00,32.40,5.18,862.42,0.04,0.00,0.00,1.00,JTbITKL,SETTLEMENT_MASTER_LOG_MSI_DATE - PROVISION MAY...
2,80489684-0034-40e5-b34c-eecd18fa417f,16.00,16.00,0.58,0.09,15.33,0.04,0.00,0.00,1.00,Mgrylxq,SETTLEMENT_MASTER_LOG_MSI_DATE - PROVISION MAY...
3,7a3c4dd0-8498-4341-ae04-bf48c42129f5,14.56,14.56,0.52,0.08,13.96,0.04,0.00,0.00,1.00,3Eqy5Ct,SETTLEMENT_MASTER_LOG_MSI_DATE - PROVISION MAY...
4,659bc288-f503-4fbb-8eb5-6a983ff0d389,216.00,216.00,7.78,1.24,206.98,0.04,0.00,0.00,1.00,wMc26mr,SETTLEMENT_MASTER_LOG_MSI_DATE - PROVISION MAY...

In [7]:
sml.shape

(6750993, 12)

In [8]:
sml.dtypes

mvnt_id          object
psp_amount      float64
gross_amount    float64
fees            float64
taxes           float64
net_amount      float64
mdr             float64
msi             float64
number_msi      float64
status_code     float64
receipt_no       object
file_name        object
dtype: object

In [9]:
sml_final = sml
sml_final.head()

,mvnt_id,psp_amount,gross_amount,fees,taxes,net_amount,mdr,msi,number_msi,status_code,receipt_no,file_name
0,9859c46e-935f-4c6d-abbc-3c7045f8d2d7,126.00,126.00,4.54,0.73,120.73,0.04,0.00,0.00,1.00,RhqCKXy,SETTLEMENT_MASTER_LOG_MSI_DATE - PROVISION MAY...
1,732656cf-287c-439c-a277-5bada2487858,900.00,900.00,32.40,5.18,862.42,0.04,0.00,0.00,1.00,JTbITKL,SETTLEMENT_MASTER_LOG_MSI_DATE - PROVISION MAY...
2,80489684-0034-40e5-b34c-eecd18fa417f,16.00,16.00,0.58,0.09,15.33,0.04,0.00,0.00,1.00,Mgrylxq,SETTLEMENT_MASTER_LOG_MSI_DATE - PROVISION MAY...
3,7a3c4dd0-8498-4341-ae04-bf48c42129f5,14.56,14.56,0.52,0.08,13.96,0.04,0.00,0.00,1.00,3Eqy5Ct,SETTLEMENT_MASTER_LOG_MSI_DATE - PROVISION MAY...
4,659bc288-f503-4fbb-8eb5-6a983ff0d389,216.00,216.00,7.78,1.24,206.98,0.04,0.00,0.00,1.00,wMc26mr,SETTLEMENT_MASTER_LOG_MSI_DATE - PROVISION MAY...

In [10]:
sml_final.shape

(6750993, 12)

# DATA AP JOURNAL

In [11]:
ap = pd.concat([pd.read_csv(f, sep='\t',usecols=use_cols_approv).assign(file_name=os.path.basename(f)) for f in ap_provision_files])
ap.columns = ap.columns.str.strip().str.lower()
ap.replace('""','', regex=True, inplace=True)
ap['eff_dt'] =  pd.to_datetime(ap['eff_dt']).dt.tz_localize(None)
ap['eff_dt_date'] =  pd.to_datetime(ap['eff_dt']).dt.date
ap['eff_dt_date'] =  pd.to_datetime(ap['eff_dt_date'])
ap['eff_dt_time'] =  pd.to_datetime(ap['eff_dt']).dt.time
# ap['movement_day'] = pd.to_datetime(ap['movement_day']).dt.tz_localize(None)
ap['created_at'] = pd.to_datetime(ap['created_at']).dt.tz_localize(None)
ap['created_at_date'] =  pd.to_datetime(ap['created_at']).dt.date
ap['created_at_date'] =  pd.to_datetime(ap['created_at_date'])
ap['payment_date_local'] = pd.to_datetime(ap['payment_date_local']).dt.tz_localize(None)
ap['payment_date_local'] =  pd.to_datetime(ap['payment_date_local']).dt.date
ap['payment_date_local'] =  pd.to_datetime(ap['payment_date_local'])
# ap['request_effective_date'] = pd.to_datetime(ap['request_effective_date']).dt.tz_localize(None)
# ap['slot_date'] = pd.to_datetime(ap['slot_date']).dt.tz_localize(None)
# ap['identifier'] = ap['source_type'].str[:1].astype(str)
# ap['INDEX'] = (ap['eff_dt_date'].astype(str).replace(' ', '',regex=True)+'-'+
#                ap['identifier'].astype(str).replace(' ', '',regex=True)+'-'+
#                ap['eff_dt_time'].astype(str).replace(' ', '',regex=True))
ap.sort_values(by=(['merchant_id','eff_dt']), ascending=[True,False], inplace=True)

C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_4160\2391491094.py:1: DtypeWarning: Columns (13,14,15) have mixed types. Specify dtype option on import or set low_memory=False.
  ap = pd.concat([pd.read_csv(f, sep='\t',usecols=use_cols_approv).assign(file_name=os.path.basename(f)) for f in ap_provision_files])

In [12]:
ap.reset_index(inplace=True)

In [13]:
ap.loc[ap['source_type'] == 'DISB', 'report_id'] = ap['type_request']
ap['report_id'] = ap['report_id'].groupby(ap['merchant_id']).fillna(method='ffill')
ap['report_date_local_final'] = ap['report_date_local'].groupby(ap['merchant_id']).fillna(method='ffill')
ap['payment_date_local_final'] = ap['payment_date_local'].groupby(ap['merchant_id']).fillna(method='ffill')
ap['status_final'] = ap['status'].groupby(ap['merchant_id']).fillna(method='ffill')
ap.head()

,index,merchant_id,type_request,mvnt_id,movement_type,source_type,created_at,eff_dt,report_date_local,payment_date_local,status,file_name,eff_dt_date,eff_dt_time,created_at_date,report_id,report_date_local_final,payment_date_local_final,status_final
0,528141,0000275f-d46b-4a9c-a227-42d6f7ce63bd,AQ9R84Y7Z,9a6fc934-8fc1-3a09-8fa6-fff4c2225d17,DISB_RQ,DISB,2023-06-01 07:27:03,2023-06-01 07:27:08,2023-06-01,2023-06-01,PAID,PROVISIONES - LEDGER MAYO 2023.tsv,2023-06-01,07:27:08,2023-06-01,AQ9R84Y7Z,2023-06-01,2023-06-01,PAID
1,6348824,0000275f-d46b-4a9c-a227-42d6f7ce63bd,settlement processor regular payment request,1060d9fe-100a-4730-9d5d-6f2f91517e58,REGULAR_PYMT_RQ,SETT,2023-05-31 09:44:16,2023-06-01 02:30:00,NaN,NaT,NaN,PROVISIONES - LEDGER MAYO 2023.tsv,2023-06-01,02:30:00,2023-05-31,AQ9R84Y7Z,2023-06-01,2023-06-01,PAID
2,1202320,0000275f-d46b-4a9c-a227-42d6f7ce63bd,AVD7HLR8Y,094ee08e-52fa-3b93-8a4a-9ea122a7d5c9,DISB_RQ,DISB,2023-05-24 07:23:22,2023-05-24 07:23:27,2023-05-24,2023-05-24,PAID,PROVISIONES - LEDGER MAYO 2023.tsv,2023-05-24,07:23:27,2023-05-24,AVD7HLR8Y,2023-05-24,2023-05-24,PAID
3,6348823,0000275f-d46b-4a9c-a227-42d6f7ce63bd,settlement processor regular payment request,bfcf3d98-2fbb-4c8b-b19d-16bde76965b8,REGULAR_PYMT_RQ,SETT,2023-05-23 13:39:10,2023-05-24 03:30:00,NaN,NaT,NaN,PROVISIONES - LEDGER MAYO 2023.tsv,2023-05-24,03:30:00,2023-05-23,AVD7HLR8Y,2023-05-24,2023-05-24,PAID
4,197885,00004998-66f3-4c36-9096-4f64f971d19b,AX4JZK6HX,dddc4bf7-4787-3a51-96c5-775f4f180245,DISB_RQ,DISB,2023-05-29 07:19:11,2023-05-29 07:19:16,2023-05-29,2023-05-29,PAID,PROVISIONES - LEDGER MAYO 2023.tsv,2023-05-29,07:19:16,2023-05-29,AX4JZK6HX,2023-05-29,2023-05-29,PAID

In [14]:
ap.shape

(8647729, 19)

In [15]:
ap.dtypes

index                                int64
merchant_id                         object
type_request                        object
mvnt_id                             object
movement_type                       object
source_type                         object
created_at                  datetime64[ns]
eff_dt                      datetime64[ns]
report_date_local                   object
payment_date_local          datetime64[ns]
status                              object
file_name                           object
eff_dt_date                 datetime64[ns]
eff_dt_time                         object
created_at_date             datetime64[ns]
report_id                           object
report_date_local_final             object
payment_date_local_final    datetime64[ns]
status_final                        object
dtype: object

In [16]:
ap['source_type'].unique()

array(['DISB', 'SETT', 'PYMT', 'TOPUPS', 'LOAN', 'RISK', 'REFUNDS',
       'BILL_PYMNT', 'TAXES'], dtype=object)

In [17]:
ap['report_id'].unique()

array(['AQ9R84Y7Z', 'AVD7HLR8Y', 'AX4JZK6HX', ..., 'AM8NNZD45',
       'AF2K9DKKQ', 'AZH7LL5KZ'], dtype=object)

In [18]:
ap_disb = ap[(ap['source_type'] == 'DISB')]
ap_sett = ap[(ap['source_type'] == 'SETT')]
ap_pymt = ap[(ap['source_type'] == 'PYMT')]
ap_topups = ap[(ap['source_type'] == 'TOPUPS')]
ap_loan = ap[(ap['source_type'] == 'LOAN')]
ap_risk = ap[(ap['source_type'] == 'RISK')]
ap_refunds = ap[(ap['source_type'] == 'REFUNDS')]
ap_bill_pymnt = ap[(ap['source_type'] == 'BILL_PYMNT')]
ap_taxes = ap[(ap['source_type'] == 'TAXES')]
ap_sett_adptr = ap[(ap['source_type'] == 'SETT_ADPTR')]

# CRUCE 1: AP JOURNAL VS SETTLEMENT MASTER LOG

In [19]:
cruce_1 = ap.merge(sml_final[['mvnt_id','psp_amount','gross_amount','fees','taxes','net_amount','mdr','msi','number_msi',
                             'receipt_no','status_code']],on='mvnt_id',how='left')
cruce_1['transaction_id'] = cruce_1['mvnt_id']
cruce_1.head()

,index,merchant_id,type_request,mvnt_id,movement_type,source_type,created_at,eff_dt,report_date_local,payment_date_local,...,gross_amount,fees,taxes,net_amount,mdr,msi,number_msi,receipt_no,status_code,transaction_id
0,528141,0000275f-d46b-4a9c-a227-42d6f7ce63bd,AQ9R84Y7Z,9a6fc934-8fc1-3a09-8fa6-fff4c2225d17,DISB_RQ,DISB,2023-06-01 07:27:03,2023-06-01 07:27:08,2023-06-01,2023-06-01,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9a6fc934-8fc1-3a09-8fa6-fff4c2225d17
1,6348824,0000275f-d46b-4a9c-a227-42d6f7ce63bd,settlement processor regular payment request,1060d9fe-100a-4730-9d5d-6f2f91517e58,REGULAR_PYMT_RQ,SETT,2023-05-31 09:44:16,2023-06-01 02:30:00,NaN,NaT,...,"3,300.00",267.30,42.77,"2,989.93",0.04,0.04,3.00,aGPijbT,1.00,1060d9fe-100a-4730-9d5d-6f2f91517e58
2,1202320,0000275f-d46b-4a9c-a227-42d6f7ce63bd,AVD7HLR8Y,094ee08e-52fa-3b93-8a4a-9ea122a7d5c9,DISB_RQ,DISB,2023-05-24 07:23:22,2023-05-24 07:23:27,2023-05-24,2023-05-24,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,094ee08e-52fa-3b93-8a4a-9ea122a7d5c9
3,6348823,0000275f-d46b-4a9c-a227-42d6f7ce63bd,settlement processor regular payment request,bfcf3d98-2fbb-4c8b-b19d-16bde76965b8,REGULAR_PYMT_RQ,SETT,2023-05-23 13:39:10,2023-05-24 03:30:00,NaN,NaT,...,139.00,5.00,0.80,133.20,0.04,0.00,0.00,59KFC1n,1.00,bfcf3d98-2fbb-4c8b-b19d-16bde76965b8
4,197885,00004998-66f3-4c36-9096-4f64f971d19b,AX4JZK6HX,dddc4bf7-4787-3a51-96c5-775f4f180245,DISB_RQ,DISB,2023-05-29 07:19:11,2023-05-29 07:19:16,2023-05-29,2023-05-29,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,dddc4bf7-4787-3a51-96c5-775f4f180245

In [20]:
cruce_1.shape

(8647729, 30)

In [21]:
cruce_1.columns

Index(['index', 'merchant_id', 'type_request', 'mvnt_id', 'movement_type',
       'source_type', 'created_at', 'eff_dt', 'report_date_local',
       'payment_date_local', 'status', 'file_name', 'eff_dt_date',
       'eff_dt_time', 'created_at_date', 'report_id',
       'report_date_local_final', 'payment_date_local_final', 'status_final',
       'psp_amount', 'gross_amount', 'fees', 'taxes', 'net_amount', 'mdr',
       'msi', 'number_msi', 'receipt_no', 'status_code', 'transaction_id'],
      dtype='object')

# DATA PROVISION

In [22]:
url = r'C:\Users\Cristian.Aparicio\Documents\PROVISIONES\2023\05. MAYO\Provision Mayo 2023.xlsx'

In [23]:
provision_file = pd.ExcelFile(url)
provision_file

In [24]:
provision_file.sheet_names

['RESUMEN', 'BANORTE', 'ECOMMERCE', 'GRRCN', 'EPA']

In [25]:
all_sheets = pd.read_excel(url, sheet_name=[1,2,3,4],
                           converters={'AFFILIATION':str,'SUB_AFFILIATION':str,'ORDER_ID':str,'COD_AUTORIZACION':str,
                                       'BIN':str,'ULTIMOS_4':str})

In [26]:
all_sheets.keys()

dict_keys([1, 2, 3, 4])

In [27]:
provision = pd.concat(all_sheets).reset_index()
provision.columns = provision.columns.str.strip().str.lower() 
provision.head()

,level_0,level_1,tablero,fecha_deposito_clip,fecha_trx_clip,affiliation,sub_affiliation,fecha_recepción,nombre_archivo,order_id,...,ultimos_4,status_code,msi,psp,proceso,monto,recuento,adquiriente,transaction_id,nombre_tablero
0,1,0,PAGOS CONCILIADOS,2023-06-01,2023-05-31,7927515,7927515,2023-06-02,PAYCLIP_Settlement_02062023_V1.csv,728025551222,...,03,1,0,PROSA,AGREGADOR,174.00,1,BANORTE,d823410b-9529-4f97-98ce-fc3dc933c9d8,NaN
1,1,1,PAGOS CONCILIADOS,2023-06-01,2023-05-31,7927515,7927515,2023-06-02,PAYCLIP_Settlement_02062023_V1.csv,024214343966,...,03,1,0,PROSA,AGREGADOR,39.00,1,BANORTE,df1bd15b-3cf2-4276-8a40-63f561c7d741,NaN
2,1,2,PAGOS CONCILIADOS,2023-06-01,2023-05-31,7927500,7927500,2023-06-02,PAYCLIP_Settlement_02062023_V1.csv,742701238484,...,33,1,0,PROSA,AGREGADOR,34.00,1,BANORTE,3a179b5a-3c0c-487a-af3c-7e35533fecc6,NaN
3,1,3,PAGOS CONCILIADOS,2023-06-01,2023-05-31,7927484,7927484,2023-06-02,PAYCLIP_Settlement_02062023_V1.csv,361620245251,...,55,1,0,PROSA,AGREGADOR,"1,200.00",1,BANORTE,2468726d-83b6-4404-8bd7-abe6428fe0e1,NaN
4,1,4,PAGOS CONCILIADOS,2023-06-01,2023-05-31,7927496,7927496,2023-06-02,PAYCLIP_Settlement_02062023_V1.csv,544335324112,...,19,1,0,PROSA,AGREGADOR,"35,916.52",1,BANORTE,9ce39fea-b630-4399-860c-3472c3bcf615,NaN

In [28]:
provision.shape

(458177, 22)

# CRUCE 2: DATA PROVISION VS CRUCE 1

In [29]:
cruce_2 = provision.merge(cruce_1[['transaction_id','mvnt_id','report_id','report_date_local_final','payment_date_local_final',
                                   'status_final','fees','taxes','eff_dt_date','movement_type','source_type']],
                          on='transaction_id',how='left')
cruce_2['report_id'].fillna('not_found',inplace=True)
cruce_2['movement_type'].fillna('not_found',inplace=True)
cruce_2['source_type'].fillna('not_found',inplace=True)
cruce_2['status_final'].fillna('not_found',inplace=True)
cruce_2['report_date_local_final'].fillna('1990-01-01',inplace=True)
cruce_2['payment_date_local_final'].fillna('1990-01-01',inplace=True)
cruce_2['report_date_local_final'] =  pd.to_datetime(cruce_2['report_date_local_final'])
cruce_2['payment_date_local_final'] =  pd.to_datetime(cruce_2['payment_date_local_final'])
cruce_2.head()

,level_0,level_1,tablero,fecha_deposito_clip,fecha_trx_clip,affiliation,sub_affiliation,fecha_recepción,nombre_archivo,order_id,...,mvnt_id,report_id,report_date_local_final,payment_date_local_final,status_final,fees,taxes,eff_dt_date,movement_type,source_type
0,1,0,PAGOS CONCILIADOS,2023-06-01,2023-05-31,7927515,7927515,2023-06-02,PAYCLIP_Settlement_02062023_V1.csv,728025551222,...,d823410b-9529-4f97-98ce-fc3dc933c9d8,AVPVVTJZP,2023-06-01,2023-06-01,PAID,6.26,1.00,2023-06-01,REGULAR_PYMT_RQ,SETT
1,1,1,PAGOS CONCILIADOS,2023-06-01,2023-05-31,7927515,7927515,2023-06-02,PAYCLIP_Settlement_02062023_V1.csv,024214343966,...,df1bd15b-3cf2-4276-8a40-63f561c7d741,AHTG8XX5V,2023-06-01,2023-06-01,PAID,1.40,0.22,2023-06-01,REGULAR_PYMT_RQ,SETT
2,1,2,PAGOS CONCILIADOS,2023-06-01,2023-05-31,7927500,7927500,2023-06-02,PAYCLIP_Settlement_02062023_V1.csv,742701238484,...,3a179b5a-3c0c-487a-af3c-7e35533fecc6,AL2JZ754L,2023-06-01,2023-06-01,PAID,1.22,0.20,2023-06-01,REGULAR_PYMT_RQ,SETT
3,1,3,PAGOS CONCILIADOS,2023-06-01,2023-05-31,7927484,7927484,2023-06-02,PAYCLIP_Settlement_02062023_V1.csv,361620245251,...,2468726d-83b6-4404-8bd7-abe6428fe0e1,AQRB554HF,2023-06-01,2023-06-01,PAID,43.20,6.91,2023-06-01,REGULAR_PYMT_RQ,SETT
4,1,4,PAGOS CONCILIADOS,2023-06-01,2023-05-31,7927496,7927496,2023-06-02,PAYCLIP_Settlement_02062023_V1.csv,544335324112,...,9ce39fea-b630-4399-860c-3472c3bcf615,ACT7SF7NH,2023-06-01,2023-06-01,PAID,"1,292.99",206.88,2023-06-01,REGULAR_PYMT_RQ,SETT

In [30]:
cruce_2.shape

(458179, 32)

In [31]:
cruce_2['movement_type'].unique()

array(['REGULAR_PYMT_RQ', 'FAST_PYMT_RQ', 'DEFERRED_REGULAR_PYMNT_RQ',
       'not_found', 'DEFERRED_FAST_PYMNT_RQ', 'CANCEL_RQ'], dtype=object)

In [32]:
cruce_2['source_type'].unique()

array(['SETT', 'not_found', 'PYMT'], dtype=object)

In [33]:
cruce_2['level_0'].unique()

array([1, 2, 3, 4], dtype=int64)

# EXCEL FINAL

In [34]:
grouped = cruce_2.groupby(cruce_2.level_0)

In [35]:
group_1 = grouped.get_group(1)
group_2 = grouped.get_group(2)
group_3 = grouped.get_group(3)
group_4 = grouped.get_group(4)
# group_5 = grouped.get_group(5)
# group_6 = grouped.get_group(6)

In [36]:
group_1.to_csv('1.csv',index=False)
group_2.to_csv('2.csv',index=False)
group_3.to_csv('3.csv',index=False)
group_4.to_csv('4.csv',index=False)
# group_5.to_csv('5.csv',index=False)
# group_6.to_csv('6.csv',index=False)

In [37]:
writer = pd.ExcelWriter('Data_final_provision_mayo_2023.xlsx',
                        engine='xlsxwriter',
                        engine_kwargs={'options': {'encoding':'utf-8'}})
group_1.to_excel(writer, sheet_name='1', index=False)
group_2.to_excel(writer, sheet_name='2', index=False)
group_3.to_excel(writer, sheet_name='3', index=False)
group_4.to_excel(writer, sheet_name='4', index=False)
# group_5.to_excel(writer, sheet_name='5', index=False)
# group_6.to_excel(writer, sheet_name='6', index=False)
writer.close()