In [1]:
import pandas as pd
import numpy as np
import glob
import os
from openpyxl import load_workbook
pd.options.display.float_format = '{:,.2f}'.format

# RUTAS

### SETTLEMENT MASTER LOG

In [2]:
sml_files = glob.glob(r'G:\My Drive\RESPALDO-PC\DYNAMO\2023\09. SEPTIEMBRE\Z. PROVISION\PROVISIONES - SET*.tsv', recursive=False)
sml_files

['G:\\My Drive\\RESPALDO-PC\\DYNAMO\\2023\\09. SEPTIEMBRE\\Z. PROVISION\\PROVISIONES - SETTLEMENT_MASTER_LOG_DATE SEPTIEMBRE 2023.tsv']

In [3]:
use_cols_sml = ['MVNT_ID','PSP_AMOUNT','GROSS_AMOUNT','FEES','TAXES','NET_AMOUNT','MDR','MSI','NUMBER_MSI','RECEIPT_NO',
                'STATUS_CODE']

### AP JOURNAL

In [4]:
ap_provision_files = glob.glob(r'G:\My Drive\RESPALDO-PC\DYNAMO\2023\09. SEPTIEMBRE\Z. PROVISION\PROVISIONES - LED*.tsv', recursive=False)
ap_provision_files

['G:\\My Drive\\RESPALDO-PC\\DYNAMO\\2023\\09. SEPTIEMBRE\\Z. PROVISION\\PROVISIONES - LEDGER SEPTIEMBRE 2023.tsv']

In [5]:
use_cols_approv = ['MERCHANT_ID','MVNT_ID','TYPE_REQUEST','MOVEMENT_TYPE','SOURCE_TYPE','CREATED_AT','EFF_DT','REPORT_DATE_LOCAL',
                  'PAYMENT_DATE_LOCAL','STATUS']

# DATA SETTLEMENT MASTER LOG

In [6]:
sml = pd.concat([pd.read_csv(f,sep='\t',usecols=use_cols_sml).assign(file_name=os.path.basename(f)) for f in sml_files])
sml.columns = sml.columns.str.strip().str.lower()
sml.replace('""','', regex=True, inplace=True)
# sml['created_at'] = pd.to_datetime(sml['created_at']).dt.tz_localize(None)
# sml['created_at_date'] =  pd.to_datetime(sml['created_at']).dt.date
# sml['created_at_date'] =  pd.to_datetime(sml['created_at_date'])
# sml['eff_dt'] = pd.to_datetime(sml['eff_dt']).dt.tz_localize(None)
# sml['eff_dt_date'] =  pd.to_datetime(sml['eff_dt']).dt.date
# sml['eff_dt_date'] =  pd.to_datetime(sml['eff_dt_date'])
# sml.rename(columns={'ref_id':'transaction_id'},inplace=True)
#sml['PK'] = sml['PK'].replace('M#','',inplace=True)
sml.head()

,mvnt_id,psp_amount,gross_amount,fees,taxes,net_amount,mdr,msi,number_msi,status_code,receipt_no,file_name
0,a85f5145-8e6e-4926-8541-cc6dcfb94f13,286.00,286.00,10.30,1.65,274.05,0.04,0.00,0.00,1,ggRTM9n,PROVISIONES - SETTLEMENT_MASTER_LOG_DATE SEPTI...
1,3319f31c-83ec-4770-967d-b797626ea520,264.00,264.00,9.50,1.52,252.98,0.04,0.00,0.00,1,uUA5dTz,PROVISIONES - SETTLEMENT_MASTER_LOG_DATE SEPTI...
2,d10b7b1e-96dc-44d9-badd-a76c8fe40025,253.00,253.00,9.11,1.46,242.43,0.04,0.00,0.00,1,H5wCk3c,PROVISIONES - SETTLEMENT_MASTER_LOG_DATE SEPTI...
3,946ca70e-9526-454a-ab8c-ad338c9ebb4c,362.25,362.25,13.04,2.09,347.12,0.04,0.00,0.00,1,gvtOJT4,PROVISIONES - SETTLEMENT_MASTER_LOG_DATE SEPTI...
4,ac818541-9601-4f8d-b0fe-8fe593b85dd4,"1,093.00","1,093.00",39.35,6.30,"1,047.35",0.04,0.00,0.00,1,lWuforA,PROVISIONES - SETTLEMENT_MASTER_LOG_DATE SEPTI...

In [7]:
sml.shape

(7698867, 12)

In [8]:
sml.dtypes

mvnt_id          object
psp_amount      float64
gross_amount    float64
fees            float64
taxes           float64
net_amount      float64
mdr             float64
msi             float64
number_msi      float64
status_code       int64
receipt_no       object
file_name        object
dtype: object

In [9]:
sml_final = sml
sml_final.head()

,mvnt_id,psp_amount,gross_amount,fees,taxes,net_amount,mdr,msi,number_msi,status_code,receipt_no,file_name
0,a85f5145-8e6e-4926-8541-cc6dcfb94f13,286.00,286.00,10.30,1.65,274.05,0.04,0.00,0.00,1,ggRTM9n,PROVISIONES - SETTLEMENT_MASTER_LOG_DATE SEPTI...
1,3319f31c-83ec-4770-967d-b797626ea520,264.00,264.00,9.50,1.52,252.98,0.04,0.00,0.00,1,uUA5dTz,PROVISIONES - SETTLEMENT_MASTER_LOG_DATE SEPTI...
2,d10b7b1e-96dc-44d9-badd-a76c8fe40025,253.00,253.00,9.11,1.46,242.43,0.04,0.00,0.00,1,H5wCk3c,PROVISIONES - SETTLEMENT_MASTER_LOG_DATE SEPTI...
3,946ca70e-9526-454a-ab8c-ad338c9ebb4c,362.25,362.25,13.04,2.09,347.12,0.04,0.00,0.00,1,gvtOJT4,PROVISIONES - SETTLEMENT_MASTER_LOG_DATE SEPTI...
4,ac818541-9601-4f8d-b0fe-8fe593b85dd4,"1,093.00","1,093.00",39.35,6.30,"1,047.35",0.04,0.00,0.00,1,lWuforA,PROVISIONES - SETTLEMENT_MASTER_LOG_DATE SEPTI...

In [10]:
sml_final.shape

(7698867, 12)

# DATA AP JOURNAL

In [11]:
ap = pd.concat([pd.read_csv(f, sep='\t',usecols=use_cols_approv).assign(file_name=os.path.basename(f)) for f in ap_provision_files])
ap.columns = ap.columns.str.strip().str.lower()
ap.replace('""','', regex=True, inplace=True)
ap['eff_dt'] =  pd.to_datetime(ap['eff_dt']).dt.tz_localize(None)
ap['eff_dt_date'] =  pd.to_datetime(ap['eff_dt']).dt.date
ap['eff_dt_date'] =  pd.to_datetime(ap['eff_dt_date'])
ap['eff_dt_time'] =  pd.to_datetime(ap['eff_dt']).dt.time
# ap['movement_day'] = pd.to_datetime(ap['movement_day']).dt.tz_localize(None)
ap['created_at'] = pd.to_datetime(ap['created_at']).dt.tz_localize(None)
ap['created_at_date'] =  pd.to_datetime(ap['created_at']).dt.date
ap['created_at_date'] =  pd.to_datetime(ap['created_at_date'])
ap['payment_date_local'] = pd.to_datetime(ap['payment_date_local']).dt.tz_localize(None)
ap['payment_date_local'] =  pd.to_datetime(ap['payment_date_local']).dt.date
ap['payment_date_local'] =  pd.to_datetime(ap['payment_date_local'])
# ap['request_effective_date'] = pd.to_datetime(ap['request_effective_date']).dt.tz_localize(None)
# ap['slot_date'] = pd.to_datetime(ap['slot_date']).dt.tz_localize(None)
# ap['identifier'] = ap['source_type'].str[:1].astype(str)
# ap['INDEX'] = (ap['eff_dt_date'].astype(str).replace(' ', '',regex=True)+'-'+
#                ap['identifier'].astype(str).replace(' ', '',regex=True)+'-'+
#                ap['eff_dt_time'].astype(str).replace(' ', '',regex=True))
ap.sort_values(by=(['merchant_id','eff_dt']), ascending=[True,False], inplace=True)

In [12]:
ap.reset_index(inplace=True)

In [13]:
ap.loc[ap['source_type'] == 'DISB', 'report_id'] = ap['type_request']
ap['report_id'] = ap['report_id'].groupby(ap['merchant_id']).fillna(method='ffill')
ap['report_date_local_final'] = ap['report_date_local'].groupby(ap['merchant_id']).fillna(method='ffill')
ap['payment_date_local_final'] = ap['payment_date_local'].groupby(ap['merchant_id']).fillna(method='ffill')
ap['status_final'] = ap['status'].groupby(ap['merchant_id']).fillna(method='ffill')
ap.head()

,index,merchant_id,type_request,mvnt_id,movement_type,source_type,created_at,eff_dt,report_date_local,payment_date_local,status,file_name,eff_dt_date,eff_dt_time,created_at_date,report_id,report_date_local_final,payment_date_local_final,status_final
0,8569503,00004998-66f3-4c36-9096-4f64f971d19b,A3RGGLWQL,75cecc66-88bf-3ab0-bdd1-97029cb5e962,DISB_RQ,DISB,2023-10-02 07:24:59,2023-10-02 07:25:04,2023-10-02,2023-10-02,PAID,PROVISIONES - LEDGER SEPTIEMBRE 2023.tsv,2023-10-02,07:25:04,2023-10-02,A3RGGLWQL,2023-10-02,2023-10-02,PAID
1,683013,00004998-66f3-4c36-9096-4f64f971d19b,settlement processor regular payment request,761b9e69-6843-4c11-9642-e93511ca0e08,REGULAR_PYMT_RQ,SETT,2023-10-01 18:12:40,2023-10-02 05:00:00,NaN,NaT,NaN,PROVISIONES - LEDGER SEPTIEMBRE 2023.tsv,2023-10-02,05:00:00,2023-10-01,A3RGGLWQL,2023-10-02,2023-10-02,PAID
2,683014,00004998-66f3-4c36-9096-4f64f971d19b,settlement processor regular payment request,aaf37e01-4fcf-4b96-a259-713cf27b15a3,REGULAR_PYMT_RQ,SETT,2023-10-01 18:55:17,2023-10-02 05:00:00,NaN,NaT,NaN,PROVISIONES - LEDGER SEPTIEMBRE 2023.tsv,2023-10-02,05:00:00,2023-10-01,A3RGGLWQL,2023-10-02,2023-10-02,PAID
3,683015,00004998-66f3-4c36-9096-4f64f971d19b,settlement processor regular payment request,53414338-2ddd-4b3f-887e-d2b79cf79ae1,REGULAR_PYMT_RQ,SETT,2023-10-01 19:27:09,2023-10-02 05:00:00,NaN,NaT,NaN,PROVISIONES - LEDGER SEPTIEMBRE 2023.tsv,2023-10-02,05:00:00,2023-10-01,A3RGGLWQL,2023-10-02,2023-10-02,PAID
4,683011,00004998-66f3-4c36-9096-4f64f971d19b,settlement processor regular payment request,e5c3a677-88f1-46e7-bf69-653dcb366090,REGULAR_PYMT_RQ,SETT,2023-10-01 17:24:52,2023-10-02 04:30:00,NaN,NaT,NaN,PROVISIONES - LEDGER SEPTIEMBRE 2023.tsv,2023-10-02,04:30:00,2023-10-01,A3RGGLWQL,2023-10-02,2023-10-02,PAID

In [14]:
ap.shape

(9726564, 19)

In [15]:
ap.dtypes

index                                int64
merchant_id                         object
type_request                        object
mvnt_id                             object
movement_type                       object
source_type                         object
created_at                  datetime64[ns]
eff_dt                      datetime64[ns]
report_date_local                   object
payment_date_local          datetime64[ns]
status                              object
file_name                           object
eff_dt_date                 datetime64[ns]
eff_dt_time                         object
created_at_date             datetime64[ns]
report_id                           object
report_date_local_final             object
payment_date_local_final    datetime64[ns]
status_final                        object
dtype: object

In [18]:
sorted(list(ap['source_type'].unique()))

['BILL_PYMNT',
 'CAAL',
 'DATA',
 'DISB',
 'LOAN',
 'PROMO',
 'PYMT',
 'REFUNDS',
 'RISK',
 'SETT',
 'TAXES',
 'TOPUPS']

In [17]:
ap['report_id'].unique()

array(['A3RGGLWQL', nan, 'AJV28LGJJ', ..., 'AWRYSYQ88', 'AB2B5TNMD',
       'A468K6B4G'], dtype=object)

In [19]:
ap_bill_pymnt = ap[(ap['source_type'] == 'BILL_PYMNT')]
ap_caal = ap[(ap['source_type'] == 'CAAL')]
ap_data = ap[(ap['source_type'] == 'DATA')]
ap_disb = ap[(ap['source_type'] == 'DISB')]
ap_fee_refunds = ap[(ap['source_type'] == 'FEE_REFUNDS')]
ap_loan = ap[(ap['source_type'] == 'LOAN')]
ap_promo = ap[(ap['source_type'] == 'PROMO')]
ap_pymt = ap[(ap['source_type'] == 'PYMT')]
ap_refunds = ap[(ap['source_type'] == 'REFUNDS')]
ap_risk = ap[(ap['source_type'] == 'RISK')]
ap_sett = ap[(ap['source_type'] == 'SETT')]
ap_sett_adptr = ap[(ap['source_type'] == 'SETT_ADPTR')]
ap_taxes = ap[(ap['source_type'] == 'TAXES')]
ap_topups = ap[(ap['source_type'] == 'TOPUPS')]

# CRUCE 1: AP JOURNAL VS SETTLEMENT MASTER LOG

In [20]:
cruce_1 = ap.merge(sml_final[['mvnt_id','psp_amount','gross_amount','fees','taxes','net_amount','mdr','msi','number_msi',
                             'receipt_no','status_code']],on='mvnt_id',how='left')
cruce_1['transaction_id'] = cruce_1['mvnt_id']
cruce_1.head()

,index,merchant_id,type_request,mvnt_id,movement_type,source_type,created_at,eff_dt,report_date_local,payment_date_local,...,gross_amount,fees,taxes,net_amount,mdr,msi,number_msi,receipt_no,status_code,transaction_id
0,8569503,00004998-66f3-4c36-9096-4f64f971d19b,A3RGGLWQL,75cecc66-88bf-3ab0-bdd1-97029cb5e962,DISB_RQ,DISB,2023-10-02 07:24:59,2023-10-02 07:25:04,2023-10-02,2023-10-02,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,75cecc66-88bf-3ab0-bdd1-97029cb5e962
1,683013,00004998-66f3-4c36-9096-4f64f971d19b,settlement processor regular payment request,761b9e69-6843-4c11-9642-e93511ca0e08,REGULAR_PYMT_RQ,SETT,2023-10-01 18:12:40,2023-10-02 05:00:00,NaN,NaT,...,667.00,24.01,3.84,639.15,0.04,0.00,0.00,R4KOj5c,1.00,761b9e69-6843-4c11-9642-e93511ca0e08
2,683014,00004998-66f3-4c36-9096-4f64f971d19b,settlement processor regular payment request,aaf37e01-4fcf-4b96-a259-713cf27b15a3,REGULAR_PYMT_RQ,SETT,2023-10-01 18:55:17,2023-10-02 05:00:00,NaN,NaT,...,179.00,6.44,1.03,171.53,0.04,0.00,0.00,cYOlcbT,1.00,aaf37e01-4fcf-4b96-a259-713cf27b15a3
3,683015,00004998-66f3-4c36-9096-4f64f971d19b,settlement processor regular payment request,53414338-2ddd-4b3f-887e-d2b79cf79ae1,REGULAR_PYMT_RQ,SETT,2023-10-01 19:27:09,2023-10-02 05:00:00,NaN,NaT,...,179.00,6.44,1.03,171.53,0.04,0.00,0.00,bLwMXQu,1.00,53414338-2ddd-4b3f-887e-d2b79cf79ae1
4,683011,00004998-66f3-4c36-9096-4f64f971d19b,settlement processor regular payment request,e5c3a677-88f1-46e7-bf69-653dcb366090,REGULAR_PYMT_RQ,SETT,2023-10-01 17:24:52,2023-10-02 04:30:00,NaN,NaT,...,229.00,8.24,1.32,219.44,0.04,0.00,0.00,j9EasD1,1.00,e5c3a677-88f1-46e7-bf69-653dcb366090

In [21]:
cruce_1.shape

(9726564, 30)

In [22]:
cruce_1.columns

Index(['index', 'merchant_id', 'type_request', 'mvnt_id', 'movement_type',
       'source_type', 'created_at', 'eff_dt', 'report_date_local',
       'payment_date_local', 'status', 'file_name', 'eff_dt_date',
       'eff_dt_time', 'created_at_date', 'report_id',
       'report_date_local_final', 'payment_date_local_final', 'status_final',
       'psp_amount', 'gross_amount', 'fees', 'taxes', 'net_amount', 'mdr',
       'msi', 'number_msi', 'receipt_no', 'status_code', 'transaction_id'],
      dtype='object')

# DATA PROVISION

In [23]:
url = r'C:\Users\Cristian.Aparicio\Documents\PROVISIONES\2023\09. SEPTIEMBRE\Provision Septiembre 2023 V1.xlsx'

In [24]:
provision_file = pd.ExcelFile(url)
provision_file

In [25]:
provision_file.sheet_names

['RESUMEN',
 'BANORTE 27,28,29',
 'BANORTE 30 ',
 'BANORTE 1',
 'ECOMMERCE',
 'GRRCN',
 'EPA']

In [26]:
all_sheets = pd.read_excel(url, sheet_name=[1,2,3,4,5],
                           converters={'AFFILIATION':str,'SUB_AFFILIATION':str,'ORDER_ID':str,'COD_AUTORIZACION':str,
                                       'BIN':str,'ULTIMOS_4':str})

In [27]:
all_sheets.keys()

dict_keys([1, 2, 3, 4, 5])

In [28]:
provision = pd.concat(all_sheets).reset_index()
provision.columns = provision.columns.str.strip().str.lower() 
provision.head()

,level_0,level_1,tablero,fecha_deposito_clip,fecha_trx_clip,affiliation,sub_affiliation,fecha_recepción,nombre_archivo,order_id,...,ultimos_4,status_code,msi,psp,proceso,monto,recuento,adquiriente,transaction_id,nombre_tablero
0,1,0,PAGOS CONCILIADOS,2023-10-02,2023-09-28,7927517,N500W543622,2023-10-03,PAYCLIP_Settlement_03102023_V1.csv,522156778123,...,61,1,0,PAYWORKS-BANORTE-CP,AGREGADOR,40.00,1,BANORTE,e4abe973-749e-43d9-ac39-100779323938,NaN
1,1,1,PAGOS CONCILIADOS,2023-10-02,2023-09-28,7927515,7927515,2023-10-03,PAYCLIP_Settlement_03102023_V1.csv,628883598105,...,61,1,0,PAYWORKS-BANORTE-CP,AGREGADOR,33.00,1,BANORTE,618a7bcc-29dc-4e0c-9301-ed60c50784f8,NaN
2,1,2,PAGOS CONCILIADOS,2023-10-02,2023-09-28,7927517,N500W4N4765,2023-10-03,PAYCLIP_Settlement_03102023_V1.csv,219270260537,...,16,1,0,PAYWORKS-BANORTE-CP,AGREGADOR,500.00,1,BANORTE,2beb2e2d-be54-4aaa-955e-ed8dc2cc1e64,NaN
3,1,3,PAGOS CONCILIADOS,2023-10-02,2023-09-28,7927517,A36804912400E93F,2023-10-03,PAYCLIP_Settlement_03102023_V1.csv,974841784001,...,11,1,0,PAYWORKS-BANORTE-CP,AGREGADOR,400.50,1,BANORTE,17920193-885b-40c3-b30e-735a8d048d1a,NaN
4,1,4,PAGOS CONCILIADOS,2023-10-02,2023-09-28,7927517,N500W4C6539,2023-10-03,PAYCLIP_Settlement_03102023_V1.csv,29217199466,...,26,1,0,PAYWORKS-BANORTE-CP,AGREGADOR,195.00,1,BANORTE,c60426aa-423c-4afe-81e1-361fb808300b,NaN

In [29]:
provision.shape

(1757537, 22)

# CRUCE 2: DATA PROVISION VS CRUCE 1

In [30]:
cruce_2 = provision.merge(cruce_1[['transaction_id','mvnt_id','report_id','report_date_local_final','payment_date_local_final',
                                   'status_final','fees','taxes','eff_dt_date','movement_type','source_type']],
                          on='transaction_id',how='left')
cruce_2['report_id'].fillna('not_found',inplace=True)
cruce_2['movement_type'].fillna('not_found',inplace=True)
cruce_2['source_type'].fillna('not_found',inplace=True)
cruce_2['status_final'].fillna('not_found',inplace=True)
cruce_2['report_date_local_final'].fillna('1990-01-01',inplace=True)
cruce_2['payment_date_local_final'].fillna('1990-01-01',inplace=True)
cruce_2['report_date_local_final'] =  pd.to_datetime(cruce_2['report_date_local_final'])
cruce_2['payment_date_local_final'] =  pd.to_datetime(cruce_2['payment_date_local_final'])
cruce_2.head()

,level_0,level_1,tablero,fecha_deposito_clip,fecha_trx_clip,affiliation,sub_affiliation,fecha_recepción,nombre_archivo,order_id,...,mvnt_id,report_id,report_date_local_final,payment_date_local_final,status_final,fees,taxes,eff_dt_date,movement_type,source_type
0,1,0,PAGOS CONCILIADOS,2023-10-02,2023-09-28,7927517,N500W543622,2023-10-03,PAYCLIP_Settlement_03102023_V1.csv,522156778123,...,e4abe973-749e-43d9-ac39-100779323938,AJHNHTCLG,2023-09-29,2023-09-29,PAID,1.44,0.23,2023-09-29,REGULAR_PYMT_RQ,SETT
1,1,1,PAGOS CONCILIADOS,2023-10-02,2023-09-28,7927515,7927515,2023-10-03,PAYCLIP_Settlement_03102023_V1.csv,628883598105,...,618a7bcc-29dc-4e0c-9301-ed60c50784f8,AMGYK2X3B,2023-09-29,2023-09-29,PAID,1.19,0.19,2023-09-29,REGULAR_PYMT_RQ,SETT
2,1,2,PAGOS CONCILIADOS,2023-10-02,2023-09-28,7927517,N500W4N4765,2023-10-03,PAYCLIP_Settlement_03102023_V1.csv,219270260537,...,2beb2e2d-be54-4aaa-955e-ed8dc2cc1e64,AYX7DXD7X,2023-09-29,2023-09-29,PAID,18.00,2.88,2023-09-29,REGULAR_PYMT_RQ,SETT
3,1,3,PAGOS CONCILIADOS,2023-10-02,2023-09-28,7927517,A36804912400E93F,2023-10-03,PAYCLIP_Settlement_03102023_V1.csv,974841784001,...,17920193-885b-40c3-b30e-735a8d048d1a,AW7B58H6D,2023-09-29,2023-09-29,PAID,14.42,2.31,2023-09-29,REGULAR_PYMT_RQ,SETT
4,1,4,PAGOS CONCILIADOS,2023-10-02,2023-09-28,7927517,N500W4C6539,2023-10-03,PAYCLIP_Settlement_03102023_V1.csv,29217199466,...,c60426aa-423c-4afe-81e1-361fb808300b,AT4XLV9R3,2023-09-29,2023-09-29,PAID,7.02,1.12,2023-09-29,REGULAR_PYMT_RQ,SETT

In [31]:
cruce_2.shape

(1757541, 32)

In [32]:
cruce_2['movement_type'].unique()

array(['REGULAR_PYMT_RQ', 'FAST_PYMT_RQ', 'not_found',
       'DEFERRED_REGULAR_PYMNT_RQ', 'DEFERRED_FAST_PYMNT_RQ', 'CANCEL_RQ'],
      dtype=object)

In [33]:
cruce_2['source_type'].unique()

array(['SETT', 'not_found', 'PYMT'], dtype=object)

In [34]:
cruce_2['level_0'].unique()

array([1, 2, 3, 4, 5], dtype=int64)

# EXCEL FINAL

In [35]:
grouped = cruce_2.groupby(cruce_2.level_0)

In [36]:
group_1 = grouped.get_group(1)
group_2 = grouped.get_group(2)
group_3 = grouped.get_group(3)
group_4 = grouped.get_group(4)
group_5 = grouped.get_group(5)
# group_6 = grouped.get_group(6)
# group_7 = grouped.get_group(7)

In [37]:
group_1.to_csv('1.csv',index=False)
group_2.to_csv('2.csv',index=False)
group_3.to_csv('3.csv',index=False)
group_4.to_csv('4.csv',index=False)
group_5.to_csv('5.csv',index=False)
# group_6.to_csv('6.csv',index=False)
# group_7.to_csv('7.csv',index=False)

In [38]:
writer = pd.ExcelWriter('Data_final_provision_septiembre_2023.xlsx',
                        engine='xlsxwriter',
                        engine_kwargs={'options': {'encoding':'utf-8'}})
group_1.to_excel(writer, sheet_name='1', index=False)
group_2.to_excel(writer, sheet_name='2', index=False)
group_3.to_excel(writer, sheet_name='3', index=False)
group_4.to_excel(writer, sheet_name='4', index=False)
group_5.to_excel(writer, sheet_name='5', index=False)
# group_6.to_excel(writer, sheet_name='6', index=False)
# group_7.to_excel(writer, sheet_name='7', index=False)
writer.close()