In [1]:
import pandas as pd
import numpy as np
import glob
import os
from openpyxl import load_workbook
pd.options.display.float_format = '{:,.2f}'.format

# RUTAS

### SETTLEMENT MASTER LOG

In [4]:
sml_files = glob.glob(r'G:\My Drive\RESPALDO-PC\DYNAMO\2023\06. JUNIO\Z. PROVISION\PROVISIONES - SET*.tsv', recursive=False)
sml_files

['G:\\My Drive\\RESPALDO-PC\\DYNAMO\\2023\\06. JUNIO\\Z. PROVISION\\PROVISIONES - SETTLEMENT_MASTER_LOG_DATE JUNIO 2023.tsv']

In [5]:
use_cols_sml = ['MVNT_ID','PSP_AMOUNT','GROSS_AMOUNT','FEES','TAXES','NET_AMOUNT','MDR','MSI','NUMBER_MSI','RECEIPT_NO',
                'STATUS_CODE']

### AP JOURNAL

In [7]:
ap_provision_files = glob.glob(r'G:\My Drive\RESPALDO-PC\DYNAMO\2023\06. JUNIO\Z. PROVISION\PROVISIONES - LED*.tsv', recursive=False)
ap_provision_files

['G:\\My Drive\\RESPALDO-PC\\DYNAMO\\2023\\06. JUNIO\\Z. PROVISION\\PROVISIONES - LEDGER JUNIO 2023.tsv']

In [8]:
use_cols_approv = ['MERCHANT_ID','MVNT_ID','TYPE_REQUEST','MOVEMENT_TYPE','SOURCE_TYPE','CREATED_AT','EFF_DT','REPORT_DATE_LOCAL',
                  'PAYMENT_DATE_LOCAL','STATUS']

# DATA SETTLEMENT MASTER LOG

In [9]:
sml = pd.concat([pd.read_csv(f,sep='\t',usecols=use_cols_sml).assign(file_name=os.path.basename(f)) for f in sml_files])
sml.columns = sml.columns.str.strip().str.lower()
sml.replace('""','', regex=True, inplace=True)
# sml['created_at'] = pd.to_datetime(sml['created_at']).dt.tz_localize(None)
# sml['created_at_date'] =  pd.to_datetime(sml['created_at']).dt.date
# sml['created_at_date'] =  pd.to_datetime(sml['created_at_date'])
# sml['eff_dt'] = pd.to_datetime(sml['eff_dt']).dt.tz_localize(None)
# sml['eff_dt_date'] =  pd.to_datetime(sml['eff_dt']).dt.date
# sml['eff_dt_date'] =  pd.to_datetime(sml['eff_dt_date'])
# sml.rename(columns={'ref_id':'transaction_id'},inplace=True)
#sml['PK'] = sml['PK'].replace('M#','',inplace=True)
sml.head()

,mvnt_id,psp_amount,gross_amount,fees,taxes,net_amount,mdr,msi,number_msi,status_code,receipt_no,file_name
0,dd4a3510-828a-482b-8d40-284ae19866c3,588.50,588.50,21.19,3.39,563.92,0.04,0.00,0.00,1.00,vc3NC1w,PROVISIONES - SETTLEMENT_MASTER_LOG_DATE JUNIO...
1,0a4e9c23-62bd-4d4f-90e9-5719ef9aa435,22.00,22.00,0.79,0.13,21.08,0.04,0.00,0.00,1.00,Ilch6SM,PROVISIONES - SETTLEMENT_MASTER_LOG_DATE JUNIO...
2,72be1df0-343d-4c83-8591-b04fda43184d,20.00,20.00,0.72,0.12,19.16,0.04,0.00,0.00,1.00,s83iADG,PROVISIONES - SETTLEMENT_MASTER_LOG_DATE JUNIO...
3,f3f3912d-6166-4693-8b90-5de9c22b4b04,"2,000.00","2,000.00",72.00,11.52,"1,916.48",0.04,0.00,0.00,1.00,LsJixw0,PROVISIONES - SETTLEMENT_MASTER_LOG_DATE JUNIO...
4,37e42a0d-7d29-481a-afcc-e6b5c76fd66a,"3,150.00","3,150.00",113.40,18.14,"3,018.46",0.04,0.00,0.00,1.00,nDqFmzf,PROVISIONES - SETTLEMENT_MASTER_LOG_DATE JUNIO...

In [10]:
sml.shape

(7271195, 12)

In [11]:
sml.dtypes

mvnt_id          object
psp_amount      float64
gross_amount    float64
fees            float64
taxes           float64
net_amount      float64
mdr             float64
msi             float64
number_msi      float64
status_code     float64
receipt_no       object
file_name        object
dtype: object

In [12]:
sml_final = sml
sml_final.head()

,mvnt_id,psp_amount,gross_amount,fees,taxes,net_amount,mdr,msi,number_msi,status_code,receipt_no,file_name
0,dd4a3510-828a-482b-8d40-284ae19866c3,588.50,588.50,21.19,3.39,563.92,0.04,0.00,0.00,1.00,vc3NC1w,PROVISIONES - SETTLEMENT_MASTER_LOG_DATE JUNIO...
1,0a4e9c23-62bd-4d4f-90e9-5719ef9aa435,22.00,22.00,0.79,0.13,21.08,0.04,0.00,0.00,1.00,Ilch6SM,PROVISIONES - SETTLEMENT_MASTER_LOG_DATE JUNIO...
2,72be1df0-343d-4c83-8591-b04fda43184d,20.00,20.00,0.72,0.12,19.16,0.04,0.00,0.00,1.00,s83iADG,PROVISIONES - SETTLEMENT_MASTER_LOG_DATE JUNIO...
3,f3f3912d-6166-4693-8b90-5de9c22b4b04,"2,000.00","2,000.00",72.00,11.52,"1,916.48",0.04,0.00,0.00,1.00,LsJixw0,PROVISIONES - SETTLEMENT_MASTER_LOG_DATE JUNIO...
4,37e42a0d-7d29-481a-afcc-e6b5c76fd66a,"3,150.00","3,150.00",113.40,18.14,"3,018.46",0.04,0.00,0.00,1.00,nDqFmzf,PROVISIONES - SETTLEMENT_MASTER_LOG_DATE JUNIO...

In [13]:
sml_final.shape

(7271195, 12)

# DATA AP JOURNAL

In [14]:
ap = pd.concat([pd.read_csv(f, sep='\t',usecols=use_cols_approv).assign(file_name=os.path.basename(f)) for f in ap_provision_files])
ap.columns = ap.columns.str.strip().str.lower()
ap.replace('""','', regex=True, inplace=True)
ap['eff_dt'] =  pd.to_datetime(ap['eff_dt']).dt.tz_localize(None)
ap['eff_dt_date'] =  pd.to_datetime(ap['eff_dt']).dt.date
ap['eff_dt_date'] =  pd.to_datetime(ap['eff_dt_date'])
ap['eff_dt_time'] =  pd.to_datetime(ap['eff_dt']).dt.time
# ap['movement_day'] = pd.to_datetime(ap['movement_day']).dt.tz_localize(None)
ap['created_at'] = pd.to_datetime(ap['created_at']).dt.tz_localize(None)
ap['created_at_date'] =  pd.to_datetime(ap['created_at']).dt.date
ap['created_at_date'] =  pd.to_datetime(ap['created_at_date'])
ap['payment_date_local'] = pd.to_datetime(ap['payment_date_local']).dt.tz_localize(None)
ap['payment_date_local'] =  pd.to_datetime(ap['payment_date_local']).dt.date
ap['payment_date_local'] =  pd.to_datetime(ap['payment_date_local'])
# ap['request_effective_date'] = pd.to_datetime(ap['request_effective_date']).dt.tz_localize(None)
# ap['slot_date'] = pd.to_datetime(ap['slot_date']).dt.tz_localize(None)
# ap['identifier'] = ap['source_type'].str[:1].astype(str)
# ap['INDEX'] = (ap['eff_dt_date'].astype(str).replace(' ', '',regex=True)+'-'+
#                ap['identifier'].astype(str).replace(' ', '',regex=True)+'-'+
#                ap['eff_dt_time'].astype(str).replace(' ', '',regex=True))
ap.sort_values(by=(['merchant_id','eff_dt']), ascending=[True,False], inplace=True)

C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_22408\2391491094.py:1: DtypeWarning: Columns (13,14,15) have mixed types. Specify dtype option on import or set low_memory=False.
  ap = pd.concat([pd.read_csv(f, sep='\t',usecols=use_cols_approv).assign(file_name=os.path.basename(f)) for f in ap_provision_files])

In [15]:
ap.reset_index(inplace=True)

In [16]:
ap.loc[ap['source_type'] == 'DISB', 'report_id'] = ap['type_request']
ap['report_id'] = ap['report_id'].groupby(ap['merchant_id']).fillna(method='ffill')
ap['report_date_local_final'] = ap['report_date_local'].groupby(ap['merchant_id']).fillna(method='ffill')
ap['payment_date_local_final'] = ap['payment_date_local'].groupby(ap['merchant_id']).fillna(method='ffill')
ap['status_final'] = ap['status'].groupby(ap['merchant_id']).fillna(method='ffill')
ap.head()

,index,merchant_id,type_request,mvnt_id,movement_type,source_type,created_at,eff_dt,report_date_local,payment_date_local,status,file_name,eff_dt_date,eff_dt_time,created_at_date,report_id,report_date_local_final,payment_date_local_final,status_final
0,9229544,00007725-3116-48dc-9b82-4145699dc290,AZ64QWZMN,6b613867-9987-34ef-bbff-2749ef706378,DISB_RQ,DISB,2023-06-24 07:26:12,2023-06-24 07:26:17,2023-06-24,2023-06-24,PAID,PROVISIONES - LEDGER JUNIO 2023.tsv,2023-06-24,07:26:17,2023-06-24,AZ64QWZMN,2023-06-24,2023-06-24,PAID
1,6174503,00007725-3116-48dc-9b82-4145699dc290,settlement processor regular payment request,992be001-3e25-4cd9-9a81-ca117a8f21cb,REGULAR_PYMT_RQ,SETT,2023-06-23 19:16:54,2023-06-24 05:00:00,NaN,NaT,NaN,PROVISIONES - LEDGER JUNIO 2023.tsv,2023-06-24,05:00:00,2023-06-23,AZ64QWZMN,2023-06-24,2023-06-24,PAID
2,16946,0000b65a-c2a2-4993-8f4c-05e5b7cbd7c0,AF5G93PHM,cfebd966-9177-34ea-85ef-cca350e27c1e,DISB_RQ,DISB,2023-07-02 07:28:21,2023-07-02 07:28:26,2023-07-02,2023-07-02,PAID,PROVISIONES - LEDGER JUNIO 2023.tsv,2023-07-02,07:28:26,2023-07-02,AF5G93PHM,2023-07-02,2023-07-02,PAID
3,6174517,0000b65a-c2a2-4993-8f4c-05e5b7cbd7c0,settlement processor regular payment request,9c609d00-5ff0-48b5-9e5e-b96353508f96,REGULAR_PYMT_RQ,SETT,2023-07-01 12:00:02,2023-07-02 03:30:00,NaN,NaT,NaN,PROVISIONES - LEDGER JUNIO 2023.tsv,2023-07-02,03:30:00,2023-07-01,AF5G93PHM,2023-07-02,2023-07-02,PAID
4,6174518,0000b65a-c2a2-4993-8f4c-05e5b7cbd7c0,settlement processor regular payment request,bd6fc7dc-94c5-4309-bbe2-ef2d7ebc38e5,REGULAR_PYMT_RQ,SETT,2023-07-01 12:57:00,2023-07-02 03:30:00,NaN,NaT,NaN,PROVISIONES - LEDGER JUNIO 2023.tsv,2023-07-02,03:30:00,2023-07-01,AF5G93PHM,2023-07-02,2023-07-02,PAID

In [17]:
ap.shape

(9317615, 19)

In [18]:
ap.dtypes

index                                int64
merchant_id                         object
type_request                        object
mvnt_id                             object
movement_type                       object
source_type                         object
created_at                  datetime64[ns]
eff_dt                      datetime64[ns]
report_date_local                   object
payment_date_local          datetime64[ns]
status                              object
file_name                           object
eff_dt_date                 datetime64[ns]
eff_dt_time                         object
created_at_date             datetime64[ns]
report_id                           object
report_date_local_final             object
payment_date_local_final    datetime64[ns]
status_final                        object
dtype: object

In [19]:
ap['source_type'].unique()

array(['DISB', 'SETT', 'PYMT', 'TOPUPS', 'RISK', 'LOAN', 'REFUNDS',
       'PROMO', 'BILL_PYMNT', 'SETT_ADPTR', 'TAXES'], dtype=object)

In [20]:
ap['report_id'].unique()

array(['AZ64QWZMN', 'AF5G93PHM', 'A65W8RYG8', ..., 'AZ233L377',
       'A7BVSHJPH', 'AY8V9CMDL'], dtype=object)

In [21]:
ap_disb = ap[(ap['source_type'] == 'DISB')]
ap_sett = ap[(ap['source_type'] == 'SETT')]
ap_pymt = ap[(ap['source_type'] == 'PYMT')]
ap_topups = ap[(ap['source_type'] == 'TOPUPS')]
ap_loan = ap[(ap['source_type'] == 'LOAN')]
ap_risk = ap[(ap['source_type'] == 'RISK')]
ap_refunds = ap[(ap['source_type'] == 'REFUNDS')]
ap_promo = ap[(ap['source_type'] == 'PROMO')]
ap_bill_pymnt = ap[(ap['source_type'] == 'BILL_PYMNT')]
ap_sett_adptr = ap[(ap['source_type'] == 'SETT_ADPTR')]
ap_taxes = ap[(ap['source_type'] == 'TAXES')]

# CRUCE 1: AP JOURNAL VS SETTLEMENT MASTER LOG

In [22]:
cruce_1 = ap.merge(sml_final[['mvnt_id','psp_amount','gross_amount','fees','taxes','net_amount','mdr','msi','number_msi',
                             'receipt_no','status_code']],on='mvnt_id',how='left')
cruce_1['transaction_id'] = cruce_1['mvnt_id']
cruce_1.head()

,index,merchant_id,type_request,mvnt_id,movement_type,source_type,created_at,eff_dt,report_date_local,payment_date_local,...,gross_amount,fees,taxes,net_amount,mdr,msi,number_msi,receipt_no,status_code,transaction_id
0,9229544,00007725-3116-48dc-9b82-4145699dc290,AZ64QWZMN,6b613867-9987-34ef-bbff-2749ef706378,DISB_RQ,DISB,2023-06-24 07:26:12,2023-06-24 07:26:17,2023-06-24,2023-06-24,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6b613867-9987-34ef-bbff-2749ef706378
1,6174503,00007725-3116-48dc-9b82-4145699dc290,settlement processor regular payment request,992be001-3e25-4cd9-9a81-ca117a8f21cb,REGULAR_PYMT_RQ,SETT,2023-06-23 19:16:54,2023-06-24 05:00:00,NaN,NaT,...,"1,000.00",36.00,5.76,958.24,0.04,0.00,0.00,GhJWjWN,1.00,992be001-3e25-4cd9-9a81-ca117a8f21cb
2,16946,0000b65a-c2a2-4993-8f4c-05e5b7cbd7c0,AF5G93PHM,cfebd966-9177-34ea-85ef-cca350e27c1e,DISB_RQ,DISB,2023-07-02 07:28:21,2023-07-02 07:28:26,2023-07-02,2023-07-02,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,cfebd966-9177-34ea-85ef-cca350e27c1e
3,6174517,0000b65a-c2a2-4993-8f4c-05e5b7cbd7c0,settlement processor regular payment request,9c609d00-5ff0-48b5-9e5e-b96353508f96,REGULAR_PYMT_RQ,SETT,2023-07-01 12:00:02,2023-07-02 03:30:00,NaN,NaT,...,470.25,16.93,2.71,450.61,0.04,0.00,0.00,vTBKikY,1.00,9c609d00-5ff0-48b5-9e5e-b96353508f96
4,6174518,0000b65a-c2a2-4993-8f4c-05e5b7cbd7c0,settlement processor regular payment request,bd6fc7dc-94c5-4309-bbe2-ef2d7ebc38e5,REGULAR_PYMT_RQ,SETT,2023-07-01 12:57:00,2023-07-02 03:30:00,NaN,NaT,...,94.05,3.39,0.54,90.12,0.04,0.00,0.00,xmRbRDl,1.00,bd6fc7dc-94c5-4309-bbe2-ef2d7ebc38e5

In [23]:
cruce_1.shape

(9317617, 30)

In [24]:
cruce_1.columns

Index(['index', 'merchant_id', 'type_request', 'mvnt_id', 'movement_type',
       'source_type', 'created_at', 'eff_dt', 'report_date_local',
       'payment_date_local', 'status', 'file_name', 'eff_dt_date',
       'eff_dt_time', 'created_at_date', 'report_id',
       'report_date_local_final', 'payment_date_local_final', 'status_final',
       'psp_amount', 'gross_amount', 'fees', 'taxes', 'net_amount', 'mdr',
       'msi', 'number_msi', 'receipt_no', 'status_code', 'transaction_id'],
      dtype='object')

# DATA PROVISION

In [25]:
url = r'C:\Users\Cristian.Aparicio\Documents\PROVISIONES\2023\06. JUNIO\Provision Junio 2023.xlsx'

In [26]:
provision_file = pd.ExcelFile(url)
provision_file

In [27]:
provision_file.sheet_names

['RESUMEN',
 'BANORTE 28 y 29 JUNIO',
 'BNTE 30 JUNIO',
 'BNTE 01 JULIO ',
 'BNTE 02 JULIO ',
 'ECOMMERCE',
 'GRRCN',
 'EPA']

In [28]:
all_sheets = pd.read_excel(url, sheet_name=[1,2,3,4,5,6,7],
                           converters={'AFFILIATION':str,'SUB_AFFILIATION':str,'ORDER_ID':str,'COD_AUTORIZACION':str,
                                       'BIN':str,'ULTIMOS_4':str})

In [29]:
all_sheets.keys()

dict_keys([1, 2, 3, 4, 5, 6, 7])

In [30]:
provision = pd.concat(all_sheets).reset_index()
provision.columns = provision.columns.str.strip().str.lower() 
provision.head()

,level_0,level_1,tablero,fecha_deposito_clip,fecha_trx_clip,affiliation,sub_affiliation,fecha_recepción,nombre_archivo,order_id,...,status_code,msi,psp,proceso,monto,recuento,adquiriente,transaction_id,tablero,nombre_tablero
0,1,0,CONCILIADA REFUNDED NO CLIP,2023-07-03,2023-06-28,7927518,7927518,2023-07-04,PAYCLIP_Settlement_04072023_V1.csv,483153756111,...,REFUNDED,0,PROSA,AGREGADOR,-250.00,1,BANORTE,NaN,NaN,NaN
1,1,1,CANCELACION CONCILIADA,2023-07-03,2023-06-28,7927500,7927500,2023-07-04,PAYCLIP_Settlement_04072023_V1.csv,016079204511,...,3,0,PROSA,AGREGADOR,-36.00,1,BANORTE,bd7b89f3-2fdd-48eb-8ea2-714262cdba61,NaN,NaN
2,1,2,CANCELACION CONCILIADA,2023-07-03,2023-06-28,7927517,7927517,2023-07-04,PAYCLIP_Settlement_04072023_V1.csv,614313540276,...,3,0,PROSA,AGREGADOR,-158.00,1,BANORTE,dd130126-683f-42b9-91c6-edc2cb9cb2f6,NaN,NaN
3,1,3,CANCELACION CONCILIADA,2023-07-03,2023-06-28,7927517,7927517,2023-07-04,PAYCLIP_Settlement_04072023_V1.csv,671390267920,...,3,0,PROSA,AGREGADOR,-224.00,1,BANORTE,922afdae-d945-4c35-b9a5-4a2a5d56cf89,NaN,NaN
4,1,4,CANCELACION CONCILIADA,2023-07-03,2023-06-28,7927500,7927500,2023-07-04,PAYCLIP_Settlement_04072023_V1.csv,336039587075,...,3,0,PROSA,AGREGADOR,-29.40,1,BANORTE,24b75f85-3c08-466a-b62b-999a293673c7,NaN,NaN

In [31]:
provision.shape

(1608183, 23)

# CRUCE 2: DATA PROVISION VS CRUCE 1

In [32]:
cruce_2 = provision.merge(cruce_1[['transaction_id','mvnt_id','report_id','report_date_local_final','payment_date_local_final',
                                   'status_final','fees','taxes','eff_dt_date','movement_type','source_type']],
                          on='transaction_id',how='left')
cruce_2['report_id'].fillna('not_found',inplace=True)
cruce_2['movement_type'].fillna('not_found',inplace=True)
cruce_2['source_type'].fillna('not_found',inplace=True)
cruce_2['status_final'].fillna('not_found',inplace=True)
cruce_2['report_date_local_final'].fillna('1990-01-01',inplace=True)
cruce_2['payment_date_local_final'].fillna('1990-01-01',inplace=True)
cruce_2['report_date_local_final'] =  pd.to_datetime(cruce_2['report_date_local_final'])
cruce_2['payment_date_local_final'] =  pd.to_datetime(cruce_2['payment_date_local_final'])
cruce_2.head()

,level_0,level_1,tablero,fecha_deposito_clip,fecha_trx_clip,affiliation,sub_affiliation,fecha_recepción,nombre_archivo,order_id,...,mvnt_id,report_id,report_date_local_final,payment_date_local_final,status_final,fees,taxes,eff_dt_date,movement_type,source_type
0,1,0,CONCILIADA REFUNDED NO CLIP,2023-07-03,2023-06-28,7927518,7927518,2023-07-04,PAYCLIP_Settlement_04072023_V1.csv,483153756111,...,NaN,not_found,1990-01-01,1990-01-01,not_found,NaN,NaN,NaT,not_found,not_found
1,1,1,CANCELACION CONCILIADA,2023-07-03,2023-06-28,7927500,7927500,2023-07-04,PAYCLIP_Settlement_04072023_V1.csv,016079204511,...,NaN,not_found,1990-01-01,1990-01-01,not_found,NaN,NaN,NaT,not_found,not_found
2,1,2,CANCELACION CONCILIADA,2023-07-03,2023-06-28,7927517,7927517,2023-07-04,PAYCLIP_Settlement_04072023_V1.csv,614313540276,...,NaN,not_found,1990-01-01,1990-01-01,not_found,NaN,NaN,NaT,not_found,not_found
3,1,3,CANCELACION CONCILIADA,2023-07-03,2023-06-28,7927517,7927517,2023-07-04,PAYCLIP_Settlement_04072023_V1.csv,671390267920,...,NaN,not_found,1990-01-01,1990-01-01,not_found,NaN,NaN,NaT,not_found,not_found
4,1,4,CANCELACION CONCILIADA,2023-07-03,2023-06-28,7927500,7927500,2023-07-04,PAYCLIP_Settlement_04072023_V1.csv,336039587075,...,NaN,not_found,1990-01-01,1990-01-01,not_found,NaN,NaN,NaT,not_found,not_found

In [33]:
cruce_2.shape

(1608188, 33)

In [34]:
cruce_2['movement_type'].unique()

array(['not_found', 'REGULAR_PYMT_RQ', 'DEFERRED_REGULAR_PYMNT_RQ',
       'FAST_PYMT_RQ', 'DEFERRED_FAST_PYMNT_RQ', 'CANCEL_RQ'],
      dtype=object)

In [35]:
cruce_2['source_type'].unique()

array(['not_found', 'SETT', 'PYMT'], dtype=object)

In [36]:
cruce_2['level_0'].unique()

array([1, 2, 3, 4, 5, 6, 7], dtype=int64)

# EXCEL FINAL

In [37]:
grouped = cruce_2.groupby(cruce_2.level_0)

In [38]:
group_1 = grouped.get_group(1)
group_2 = grouped.get_group(2)
group_3 = grouped.get_group(3)
group_4 = grouped.get_group(4)
group_5 = grouped.get_group(5)
group_6 = grouped.get_group(6)
group_7 = grouped.get_group(7)

In [39]:
group_1.to_csv('1.csv',index=False)
group_2.to_csv('2.csv',index=False)
group_3.to_csv('3.csv',index=False)
group_4.to_csv('4.csv',index=False)
group_5.to_csv('5.csv',index=False)
group_6.to_csv('6.csv',index=False)
group_7.to_csv('7.csv',index=False)

In [40]:
writer = pd.ExcelWriter('Data_final_provision_junio_2023.xlsx',
                        engine='xlsxwriter',
                        engine_kwargs={'options': {'encoding':'utf-8'}})
group_1.to_excel(writer, sheet_name='1', index=False)
group_2.to_excel(writer, sheet_name='2', index=False)
group_3.to_excel(writer, sheet_name='3', index=False)
group_4.to_excel(writer, sheet_name='4', index=False)
group_5.to_excel(writer, sheet_name='5', index=False)
group_6.to_excel(writer, sheet_name='6', index=False)
group_7.to_excel(writer, sheet_name='7', index=False)
writer.close()