In [10]:
import pandas as pd
import numpy as np
import glob
import os
from openpyxl import load_workbook
pd.options.display.float_format = '{:,.2f}'.format

# RUTAS

### SETTLEMENT MASTER LOG

In [11]:
sml_files = glob.glob(r'G:\My Drive\RESPALDO-PC\DYNAMO\2023\08. AGOSTO\Z. PROVISION\PROVISIONES - SET*.tsv', recursive=False)
sml_files

['G:\\My Drive\\RESPALDO-PC\\DYNAMO\\2023\\08. AGOSTO\\Z. PROVISION\\PROVISIONES - SETTLEMENT_MASTER_LOG_DATE AGOSTO 2023.tsv']

In [12]:
use_cols_sml = ['MVNT_ID','PSP_AMOUNT','GROSS_AMOUNT','FEES','TAXES','NET_AMOUNT','MDR','MSI','NUMBER_MSI','RECEIPT_NO',
                'STATUS_CODE']

### AP JOURNAL

In [18]:
ap_provision_files = glob.glob(r'G:\My Drive\RESPALDO-PC\DYNAMO\2023\08. AGOSTO\Z. PROVISION\PROVISIONES - LED*.tsv', recursive=False)
ap_provision_files

['G:\\My Drive\\RESPALDO-PC\\DYNAMO\\2023\\08. AGOSTO\\Z. PROVISION\\PROVISIONES - LEDGER AGOSTO 2023.tsv']

In [19]:
use_cols_approv = ['MERCHANT_ID','MVNT_ID','TYPE_REQUEST','MOVEMENT_TYPE','SOURCE_TYPE','CREATED_AT','EFF_DT','REPORT_DATE_LOCAL',
                  'PAYMENT_DATE_LOCAL','STATUS']

# DATA SETTLEMENT MASTER LOG

In [13]:
sml = pd.concat([pd.read_csv(f,sep='\t',usecols=use_cols_sml).assign(file_name=os.path.basename(f)) for f in sml_files])
sml.columns = sml.columns.str.strip().str.lower()
sml.replace('""','', regex=True, inplace=True)
# sml['created_at'] = pd.to_datetime(sml['created_at']).dt.tz_localize(None)
# sml['created_at_date'] =  pd.to_datetime(sml['created_at']).dt.date
# sml['created_at_date'] =  pd.to_datetime(sml['created_at_date'])
# sml['eff_dt'] = pd.to_datetime(sml['eff_dt']).dt.tz_localize(None)
# sml['eff_dt_date'] =  pd.to_datetime(sml['eff_dt']).dt.date
# sml['eff_dt_date'] =  pd.to_datetime(sml['eff_dt_date'])
# sml.rename(columns={'ref_id':'transaction_id'},inplace=True)
#sml['PK'] = sml['PK'].replace('M#','',inplace=True)
sml.head()

,mvnt_id,psp_amount,gross_amount,fees,taxes,net_amount,mdr,msi,number_msi,status_code,receipt_no,file_name
0,4a47956b-37b1-4d50-8410-b244c426c984,"3,000.00","3,000.00",108.00,17.28,"2,874.72",0.04,0.00,0.00,1.00,UYN0tWX,PROVISIONES - SETTLEMENT_MASTER_LOG_DATE AGOST...
1,81a7dc63-f38c-4903-9008-1e13054b402b,99.00,99.00,3.56,0.57,94.87,0.04,0.00,0.00,1.00,zAivOYq,PROVISIONES - SETTLEMENT_MASTER_LOG_DATE AGOST...
2,230de455-0943-4a74-84b2-891fe6b2dd63,477.50,477.50,17.19,2.75,457.56,0.04,0.00,0.00,1.00,b0Gbgpi,PROVISIONES - SETTLEMENT_MASTER_LOG_DATE AGOST...
3,a67e216a-b4c1-4b16-80c4-b89498c47620,62.00,62.00,2.23,0.36,59.41,0.04,0.00,0.00,1.00,owPrJHC,PROVISIONES - SETTLEMENT_MASTER_LOG_DATE AGOST...
4,c5aa1523-13fb-4fa7-a994-4eeab47758dd,720.00,720.00,25.92,4.15,689.93,0.04,0.00,0.00,1.00,aWuc5JR,PROVISIONES - SETTLEMENT_MASTER_LOG_DATE AGOST...

In [14]:
sml.shape

(8415083, 12)

In [15]:
sml.dtypes

mvnt_id          object
psp_amount      float64
gross_amount    float64
fees            float64
taxes           float64
net_amount      float64
mdr             float64
msi             float64
number_msi      float64
status_code     float64
receipt_no       object
file_name        object
dtype: object

In [16]:
sml_final = sml
sml_final.head()

,mvnt_id,psp_amount,gross_amount,fees,taxes,net_amount,mdr,msi,number_msi,status_code,receipt_no,file_name
0,4a47956b-37b1-4d50-8410-b244c426c984,"3,000.00","3,000.00",108.00,17.28,"2,874.72",0.04,0.00,0.00,1.00,UYN0tWX,PROVISIONES - SETTLEMENT_MASTER_LOG_DATE AGOST...
1,81a7dc63-f38c-4903-9008-1e13054b402b,99.00,99.00,3.56,0.57,94.87,0.04,0.00,0.00,1.00,zAivOYq,PROVISIONES - SETTLEMENT_MASTER_LOG_DATE AGOST...
2,230de455-0943-4a74-84b2-891fe6b2dd63,477.50,477.50,17.19,2.75,457.56,0.04,0.00,0.00,1.00,b0Gbgpi,PROVISIONES - SETTLEMENT_MASTER_LOG_DATE AGOST...
3,a67e216a-b4c1-4b16-80c4-b89498c47620,62.00,62.00,2.23,0.36,59.41,0.04,0.00,0.00,1.00,owPrJHC,PROVISIONES - SETTLEMENT_MASTER_LOG_DATE AGOST...
4,c5aa1523-13fb-4fa7-a994-4eeab47758dd,720.00,720.00,25.92,4.15,689.93,0.04,0.00,0.00,1.00,aWuc5JR,PROVISIONES - SETTLEMENT_MASTER_LOG_DATE AGOST...

In [17]:
sml_final.shape

(8415083, 12)

# DATA AP JOURNAL

In [20]:
ap = pd.concat([pd.read_csv(f, sep='\t',usecols=use_cols_approv).assign(file_name=os.path.basename(f)) for f in ap_provision_files])
ap.columns = ap.columns.str.strip().str.lower()
ap.replace('""','', regex=True, inplace=True)
ap['eff_dt'] =  pd.to_datetime(ap['eff_dt']).dt.tz_localize(None)
ap['eff_dt_date'] =  pd.to_datetime(ap['eff_dt']).dt.date
ap['eff_dt_date'] =  pd.to_datetime(ap['eff_dt_date'])
ap['eff_dt_time'] =  pd.to_datetime(ap['eff_dt']).dt.time
# ap['movement_day'] = pd.to_datetime(ap['movement_day']).dt.tz_localize(None)
ap['created_at'] = pd.to_datetime(ap['created_at']).dt.tz_localize(None)
ap['created_at_date'] =  pd.to_datetime(ap['created_at']).dt.date
ap['created_at_date'] =  pd.to_datetime(ap['created_at_date'])
ap['payment_date_local'] = pd.to_datetime(ap['payment_date_local']).dt.tz_localize(None)
ap['payment_date_local'] =  pd.to_datetime(ap['payment_date_local']).dt.date
ap['payment_date_local'] =  pd.to_datetime(ap['payment_date_local'])
# ap['request_effective_date'] = pd.to_datetime(ap['request_effective_date']).dt.tz_localize(None)
# ap['slot_date'] = pd.to_datetime(ap['slot_date']).dt.tz_localize(None)
# ap['identifier'] = ap['source_type'].str[:1].astype(str)
# ap['INDEX'] = (ap['eff_dt_date'].astype(str).replace(' ', '',regex=True)+'-'+
#                ap['identifier'].astype(str).replace(' ', '',regex=True)+'-'+
#                ap['eff_dt_time'].astype(str).replace(' ', '',regex=True))
ap.sort_values(by=(['merchant_id','eff_dt']), ascending=[True,False], inplace=True)

In [21]:
ap.reset_index(inplace=True)

In [22]:
ap.loc[ap['source_type'] == 'DISB', 'report_id'] = ap['type_request']
ap['report_id'] = ap['report_id'].groupby(ap['merchant_id']).fillna(method='ffill')
ap['report_date_local_final'] = ap['report_date_local'].groupby(ap['merchant_id']).fillna(method='ffill')
ap['payment_date_local_final'] = ap['payment_date_local'].groupby(ap['merchant_id']).fillna(method='ffill')
ap['status_final'] = ap['status'].groupby(ap['merchant_id']).fillna(method='ffill')
ap.head()

,index,merchant_id,type_request,mvnt_id,movement_type,source_type,created_at,eff_dt,report_date_local,payment_date_local,status,file_name,eff_dt_date,eff_dt_time,created_at_date,report_id,report_date_local_final,payment_date_local_final,status_final
0,10372442,00009e28-0a2f-439a-ab47-70a36689efc9,A4ZHQBW94,33dc1e91-7776-3f17-871a-b44246a5957a,DISB_RQ,DISB,2023-09-01 07:27:22,2023-09-01 07:27:27,2023-09-01,2023-09-01,PAID,PROVISIONES - LEDGER AGOSTO 2023.tsv,2023-09-01,07:27:27,2023-09-01,A4ZHQBW94,2023-09-01,2023-09-01,PAID
1,729675,00009e28-0a2f-439a-ab47-70a36689efc9,settlement processor regular payment request,94cd6d8f-a12e-4382-bf84-3f00dd24829f,REGULAR_PYMT_RQ,SETT,2023-08-31 16:01:54,2023-09-01 04:30:00,NaN,NaT,NaN,PROVISIONES - LEDGER AGOSTO 2023.tsv,2023-09-01,04:30:00,2023-08-31,A4ZHQBW94,2023-09-01,2023-09-01,PAID
2,729697,0000b65a-c2a2-4993-8f4c-05e5b7cbd7c0,settlement processor regular payment request,87cd4778-ec57-46fd-864c-cfd21a436638,REGULAR_PYMT_RQ,SETT,2023-09-04 12:56:07,2023-09-05 03:30:00,NaN,NaT,NaN,PROVISIONES - LEDGER AGOSTO 2023.tsv,2023-09-05,03:30:00,2023-09-04,NaN,NaN,NaT,NaN
3,5506511,0000b65a-c2a2-4993-8f4c-05e5b7cbd7c0,A36TF8W8N,429b8c95-191c-372e-8e60-7a5b5053e579,DISB_RQ,DISB,2023-09-03 07:31:19,2023-09-03 07:31:24,2023-09-03,2023-09-03,PAID,PROVISIONES - LEDGER AGOSTO 2023.tsv,2023-09-03,07:31:24,2023-09-03,A36TF8W8N,2023-09-03,2023-09-03,PAID
4,729696,0000b65a-c2a2-4993-8f4c-05e5b7cbd7c0,settlement processor regular payment request,eed1bede-1718-43c3-a60a-77edc99c9c53,REGULAR_PYMT_RQ,SETT,2023-09-02 10:59:25,2023-09-03 03:00:00,NaN,NaT,NaN,PROVISIONES - LEDGER AGOSTO 2023.tsv,2023-09-03,03:00:00,2023-09-02,A36TF8W8N,2023-09-03,2023-09-03,PAID

In [23]:
ap.shape

(10671490, 19)

In [24]:
ap.dtypes

index                                int64
merchant_id                         object
type_request                        object
mvnt_id                             object
movement_type                       object
source_type                         object
created_at                  datetime64[ns]
eff_dt                      datetime64[ns]
report_date_local                   object
payment_date_local          datetime64[ns]
status                              object
file_name                           object
eff_dt_date                 datetime64[ns]
eff_dt_time                         object
created_at_date             datetime64[ns]
report_id                           object
report_date_local_final             object
payment_date_local_final    datetime64[ns]
status_final                        object
dtype: object

In [25]:
ap['source_type'].unique()

array(['DISB', 'SETT', 'PYMT', 'TOPUPS', 'LOAN', 'RISK', 'BILL_PYMNT',
       'FEE_REFUNDS', 'REFUNDS', 'TAXES', 'CAAL'], dtype=object)

In [26]:
ap['report_id'].unique()

array(['A4ZHQBW94', nan, 'A36TF8W8N', ..., 'AW9YR4XBN', 'A522LLJZ8',
       'ABKKS7V4Z'], dtype=object)

In [27]:
ap_bill_pymnt = ap[(ap['source_type'] == 'BILL_PYMNT')]
ap_caal = ap[(ap['source_type'] == 'CAAL')]
ap_disb = ap[(ap['source_type'] == 'DISB')]
ap_fee_refunds = ap[(ap['source_type'] == 'FEE_REFUNDS')]
ap_loan = ap[(ap['source_type'] == 'LOAN')]
ap_promo = ap[(ap['source_type'] == 'PROMO')]
ap_pymt = ap[(ap['source_type'] == 'PYMT')]
ap_refunds = ap[(ap['source_type'] == 'REFUNDS')]
ap_risk = ap[(ap['source_type'] == 'RISK')]
ap_sett = ap[(ap['source_type'] == 'SETT')]
ap_sett_adptr = ap[(ap['source_type'] == 'SETT_ADPTR')]
ap_taxes = ap[(ap['source_type'] == 'TAXES')]
ap_topups = ap[(ap['source_type'] == 'TOPUPS')]

# CRUCE 1: AP JOURNAL VS SETTLEMENT MASTER LOG

In [28]:
cruce_1 = ap.merge(sml_final[['mvnt_id','psp_amount','gross_amount','fees','taxes','net_amount','mdr','msi','number_msi',
                             'receipt_no','status_code']],on='mvnt_id',how='left')
cruce_1['transaction_id'] = cruce_1['mvnt_id']
cruce_1.head()

,index,merchant_id,type_request,mvnt_id,movement_type,source_type,created_at,eff_dt,report_date_local,payment_date_local,...,gross_amount,fees,taxes,net_amount,mdr,msi,number_msi,receipt_no,status_code,transaction_id
0,10372442,00009e28-0a2f-439a-ab47-70a36689efc9,A4ZHQBW94,33dc1e91-7776-3f17-871a-b44246a5957a,DISB_RQ,DISB,2023-09-01 07:27:22,2023-09-01 07:27:27,2023-09-01,2023-09-01,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,33dc1e91-7776-3f17-871a-b44246a5957a
1,729675,00009e28-0a2f-439a-ab47-70a36689efc9,settlement processor regular payment request,94cd6d8f-a12e-4382-bf84-3f00dd24829f,REGULAR_PYMT_RQ,SETT,2023-08-31 16:01:54,2023-09-01 04:30:00,NaN,NaT,...,"6,000.00",216.00,34.56,"5,749.44",0.04,0.00,0.00,Z306T5M,1.00,94cd6d8f-a12e-4382-bf84-3f00dd24829f
2,729697,0000b65a-c2a2-4993-8f4c-05e5b7cbd7c0,settlement processor regular payment request,87cd4778-ec57-46fd-864c-cfd21a436638,REGULAR_PYMT_RQ,SETT,2023-09-04 12:56:07,2023-09-05 03:30:00,NaN,NaT,...,"5,593.31",201.36,32.22,"5,359.73",0.04,0.00,0.00,Qr4KDlm,1.00,87cd4778-ec57-46fd-864c-cfd21a436638
3,5506511,0000b65a-c2a2-4993-8f4c-05e5b7cbd7c0,A36TF8W8N,429b8c95-191c-372e-8e60-7a5b5053e579,DISB_RQ,DISB,2023-09-03 07:31:19,2023-09-03 07:31:24,2023-09-03,2023-09-03,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,429b8c95-191c-372e-8e60-7a5b5053e579
4,729696,0000b65a-c2a2-4993-8f4c-05e5b7cbd7c0,settlement processor regular payment request,eed1bede-1718-43c3-a60a-77edc99c9c53,REGULAR_PYMT_RQ,SETT,2023-09-02 10:59:25,2023-09-03 03:00:00,NaN,NaT,...,57.48,2.07,0.33,55.08,0.04,0.00,0.00,9wym8Pk,1.00,eed1bede-1718-43c3-a60a-77edc99c9c53

In [29]:
cruce_1.shape

(10671490, 30)

In [30]:
cruce_1.columns

Index(['index', 'merchant_id', 'type_request', 'mvnt_id', 'movement_type',
       'source_type', 'created_at', 'eff_dt', 'report_date_local',
       'payment_date_local', 'status', 'file_name', 'eff_dt_date',
       'eff_dt_time', 'created_at_date', 'report_id',
       'report_date_local_final', 'payment_date_local_final', 'status_final',
       'psp_amount', 'gross_amount', 'fees', 'taxes', 'net_amount', 'mdr',
       'msi', 'number_msi', 'receipt_no', 'status_code', 'transaction_id'],
      dtype='object')

# DATA PROVISION

In [3]:
url = r'C:\Users\Cristian.Aparicio\Documents\PROVISIONES\2023\08. AGOSTO\Provision Agosto 2023 V1.xlsx'

In [4]:
provision_file = pd.ExcelFile(url)
provision_file

In [5]:
provision_file.sheet_names

['RESUMEN', 'BANORTE', 'ECOMMERCE', 'GRRCN', 'EPA']

In [6]:
all_sheets = pd.read_excel(url, sheet_name=[1,2,3,4],
                           converters={'AFFILIATION':str,'SUB_AFFILIATION':str,'ORDER_ID':str,'COD_AUTORIZACION':str,
                                       'BIN':str,'ULTIMOS_4':str})

In [7]:
all_sheets.keys()

dict_keys([1, 2, 3, 4])

In [8]:
provision = pd.concat(all_sheets).reset_index()
provision.columns = provision.columns.str.strip().str.lower() 
provision.head()

,level_0,level_1,tablero,fecha_deposito_clip,fecha_trx_clip,affiliation,sub_affiliation,fecha_recepción,nombre_archivo,order_id,...,ultimos_4,status_code,msi,psp,proceso,monto,recuento,adquiriente,transaction_id,nombre_tablero
0,1,0,Missings Banorte Regular,2023-09-01,2023-08-31,7668673,7668673,2023-09-02,PAYCLIP_Settlement_02092023_V1.csv,000000000000,...,84,SETTLED,0,PROSA,AGREGADOR,"3,016.00",1,BANORTE,NaN,NaN
1,1,1,Missings Banorte Regular,2023-09-01,2023-08-31,7927500,7927500,2023-09-02,PAYCLIP_Settlement_02092023_V1.csv,000000000000,...,17,SETTLED,0,PROSA,AGREGADOR,275.00,1,BANORTE,NaN,NaN
2,1,2,Missings Banorte Regular,2023-09-01,2023-08-31,7927520,7927520,2023-09-02,PAYCLIP_Settlement_02092023_V1.csv,000000000000,...,85,SETTLED,0,PROSA,AGREGADOR,"1,447.00",1,BANORTE,NaN,NaN
3,1,3,Missings Banorte Regular,2023-09-01,2023-08-31,7927482,7927482,2023-09-02,PAYCLIP_Settlement_02092023_V1.csv,000000000000,...,93,SETTLED,0,PROSA,AGREGADOR,794.00,1,BANORTE,NaN,NaN
4,1,4,Missings Banorte Regular,2023-09-01,2023-08-31,7927500,7927500,2023-09-02,PAYCLIP_Settlement_02092023_V1.csv,000000000000,...,78,SETTLED,0,PROSA,AGREGADOR,301.00,1,BANORTE,NaN,NaN

In [9]:
provision.shape

(526016, 22)

# CRUCE 2: DATA PROVISION VS CRUCE 1

In [31]:
cruce_2 = provision.merge(cruce_1[['transaction_id','mvnt_id','report_id','report_date_local_final','payment_date_local_final',
                                   'status_final','fees','taxes','eff_dt_date','movement_type','source_type']],
                          on='transaction_id',how='left')
cruce_2['report_id'].fillna('not_found',inplace=True)
cruce_2['movement_type'].fillna('not_found',inplace=True)
cruce_2['source_type'].fillna('not_found',inplace=True)
cruce_2['status_final'].fillna('not_found',inplace=True)
cruce_2['report_date_local_final'].fillna('1990-01-01',inplace=True)
cruce_2['payment_date_local_final'].fillna('1990-01-01',inplace=True)
cruce_2['report_date_local_final'] =  pd.to_datetime(cruce_2['report_date_local_final'])
cruce_2['payment_date_local_final'] =  pd.to_datetime(cruce_2['payment_date_local_final'])
cruce_2.head()

,level_0,level_1,tablero,fecha_deposito_clip,fecha_trx_clip,affiliation,sub_affiliation,fecha_recepción,nombre_archivo,order_id,...,mvnt_id,report_id,report_date_local_final,payment_date_local_final,status_final,fees,taxes,eff_dt_date,movement_type,source_type
0,1,0,Missings Banorte Regular,2023-09-01,2023-08-31,7668673,7668673,2023-09-02,PAYCLIP_Settlement_02092023_V1.csv,000000000000,...,NaN,not_found,1990-01-01,1990-01-01,not_found,NaN,NaN,NaT,not_found,not_found
1,1,1,Missings Banorte Regular,2023-09-01,2023-08-31,7927500,7927500,2023-09-02,PAYCLIP_Settlement_02092023_V1.csv,000000000000,...,NaN,not_found,1990-01-01,1990-01-01,not_found,NaN,NaN,NaT,not_found,not_found
2,1,2,Missings Banorte Regular,2023-09-01,2023-08-31,7927520,7927520,2023-09-02,PAYCLIP_Settlement_02092023_V1.csv,000000000000,...,NaN,not_found,1990-01-01,1990-01-01,not_found,NaN,NaN,NaT,not_found,not_found
3,1,3,Missings Banorte Regular,2023-09-01,2023-08-31,7927482,7927482,2023-09-02,PAYCLIP_Settlement_02092023_V1.csv,000000000000,...,NaN,not_found,1990-01-01,1990-01-01,not_found,NaN,NaN,NaT,not_found,not_found
4,1,4,Missings Banorte Regular,2023-09-01,2023-08-31,7927500,7927500,2023-09-02,PAYCLIP_Settlement_02092023_V1.csv,000000000000,...,NaN,not_found,1990-01-01,1990-01-01,not_found,NaN,NaN,NaT,not_found,not_found

In [32]:
cruce_2.shape

(526018, 32)

In [33]:
cruce_2['movement_type'].unique()

array(['not_found', 'REGULAR_PYMT_RQ', 'FAST_PYMT_RQ',
       'DEFERRED_REGULAR_PYMNT_RQ', 'DEFERRED_FAST_PYMNT_RQ', 'CANCEL_RQ'],
      dtype=object)

In [34]:
cruce_2['source_type'].unique()

array(['not_found', 'SETT', 'PYMT'], dtype=object)

In [35]:
cruce_2['level_0'].unique()

array([1, 2, 3, 4], dtype=int64)

# EXCEL FINAL

In [36]:
grouped = cruce_2.groupby(cruce_2.level_0)

In [37]:
group_1 = grouped.get_group(1)
group_2 = grouped.get_group(2)
group_3 = grouped.get_group(3)
group_4 = grouped.get_group(4)
# group_5 = grouped.get_group(5)
# group_6 = grouped.get_group(6)
# group_7 = grouped.get_group(7)

In [38]:
group_1.to_csv('1.csv',index=False)
group_2.to_csv('2.csv',index=False)
group_3.to_csv('3.csv',index=False)
group_4.to_csv('4.csv',index=False)
# group_5.to_csv('5.csv',index=False)
# group_6.to_csv('6.csv',index=False)
# group_7.to_csv('7.csv',index=False)

In [39]:
writer = pd.ExcelWriter('Data_final_provision_agosto_2023.xlsx',
                        engine='xlsxwriter',
                        engine_kwargs={'options': {'encoding':'utf-8'}})
group_1.to_excel(writer, sheet_name='1', index=False)
group_2.to_excel(writer, sheet_name='2', index=False)
group_3.to_excel(writer, sheet_name='3', index=False)
group_4.to_excel(writer, sheet_name='4', index=False)
# group_5.to_excel(writer, sheet_name='5', index=False)
# group_6.to_excel(writer, sheet_name='6', index=False)
# group_7.to_excel(writer, sheet_name='7', index=False)
writer.close()