In [1]:
import pandas as pd
import numpy as np
import glob
import os
from openpyxl import load_workbook
pd.options.display.float_format = '{:,.2f}'.format

In [2]:
start_date = '2022-09-01'
final_date = '2022-09-30'
query_error_year = 2022
query_error_month = 9

In [3]:
trad_files = glob.glob(r'C:\Users\Cristian.Aparicio\Documents\DISPERSIONES\2022\09. SEPTIEMBRE\ARCHIVO DISPERSIONES\Dispersión*.xlsx', recursive=False)
trad_files

['C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\09. SEPTIEMBRE\\ARCHIVO DISPERSIONES\\Dispersión-20220901.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\09. SEPTIEMBRE\\ARCHIVO DISPERSIONES\\Dispersión-20220902.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\09. SEPTIEMBRE\\ARCHIVO DISPERSIONES\\Dispersión-20220903.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\09. SEPTIEMBRE\\ARCHIVO DISPERSIONES\\Dispersión-20220904.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\09. SEPTIEMBRE\\ARCHIVO DISPERSIONES\\Dispersión-20220905.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\09. SEPTIEMBRE\\ARCHIVO DISPERSIONES\\Dispersión-20220906.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\09. SEPTIEMBRE\\ARCHIVO DISPERSIONES\\Dispersión-20220907.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\09. SEPTIEMBRE\\ARCHIVO DISPERSIONES\\Dispersión-20220908.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\09. SEPTIEMBRE\\ARCHIVO DISPERSIONES\\Dispersión-20220909.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\09. SEPTIEMBRE\\ARCHIVO DISPERSIONES\\Dispersión-20220910.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\09. SEPTIEMBRE\\ARCHIVO DISPERSIONES\\Dispersión-20220911.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\09. SEPTIEMBRE\\ARCHIVO DISPERSIONES\\Dispersión-20220912.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\09. SEPTIEMBRE\\ARCHIVO DISPERSIONES\\Dispersión-20220913.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\09. SEPTIEMBRE\\ARCHIVO DISPERSIONES\\Dispersión-20220914.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\09. SEPTIEMBRE\\ARCHIVO DISPERSIONES\\Dispersión-20220915.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\09. SEPTIEMBRE\\ARCHIVO DISPERSIONES\\Dispersión-20220916.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\09. SEPTIEMBRE\\ARCHIVO DISPERSIONES\\Dispersión-20220917.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\09. SEPTIEMBRE\\ARCHIVO DISPERSIONES\\Dispersión-20220918.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\09. SEPTIEMBRE\\ARCHIVO DISPERSIONES\\Dispersión-20220919.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\09. SEPTIEMBRE\\ARCHIVO DISPERSIONES\\Dispersión-20220920.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\09. SEPTIEMBRE\\ARCHIVO DISPERSIONES\\Dispersión-20220921.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\09. SEPTIEMBRE\\ARCHIVO DISPERSIONES\\Dispersión-20220922.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\09. SEPTIEMBRE\\ARCHIVO DISPERSIONES\\Dispersión-20220923.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\09. SEPTIEMBRE\\ARCHIVO DISPERSIONES\\Dispersión-20220924.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\09. SEPTIEMBRE\\ARCHIVO DISPERSIONES\\Dispersión-20220925.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\09. SEPTIEMBRE\\ARCHIVO DISPERSIONES\\Dispersión-20220926.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\09. SEPTIEMBRE\\ARCHIVO DISPERSIONES\\Dispersión-20220927.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\09. SEPTIEMBRE\\ARCHIVO DISPERSIONES\\Dispersión-20220928.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\09. SEPTIEMBRE\\ARCHIVO DISPERSIONES\\Dispersión-20220929.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\09. SEPTIEMBRE\\ARCHIVO DISPERSIONES\\Dispersión-20220930.xlsx']

In [4]:
fp_files = glob.glob(r'C:\Users\Cristian.Aparicio\Documents\FAST PAYMENTS\2022\09. SEPTIEMBRE\ARCHIVO DISPERSIONES FP\Dispersión-FP*.xlsx', recursive=False)
fp_files

['C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2022\\09. SEPTIEMBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2022-09-01.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2022\\09. SEPTIEMBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2022-09-02.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2022\\09. SEPTIEMBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2022-09-03.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2022\\09. SEPTIEMBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2022-09-04.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2022\\09. SEPTIEMBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2022-09-05.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2022\\09. SEPTIEMBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2022-09-06.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2022\\09. SEPTIEMBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2022-09-07.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2022\\09. SEPTIEMBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2022-09-08.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2022\\09. SEPTIEMBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2022-09-09.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2022\\09. SEPTIEMBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2022-09-10.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2022\\09. SEPTIEMBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2022-09-11.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2022\\09. SEPTIEMBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2022-09-12.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2022\\09. SEPTIEMBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2022-09-13.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2022\\09. SEPTIEMBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2022-09-14.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2022\\09. SEPTIEMBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2022-09-15.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2022\\09. SEPTIEMBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2022-09-16.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2022\\09. SEPTIEMBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2022-09-17.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2022\\09. SEPTIEMBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2022-09-18.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2022\\09. SEPTIEMBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2022-09-19.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2022\\09. SEPTIEMBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2022-09-20.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2022\\09. SEPTIEMBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2022-09-21.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2022\\09. SEPTIEMBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2022-09-22.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2022\\09. SEPTIEMBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2022-09-23.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2022\\09. SEPTIEMBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2022-09-24.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2022\\09. SEPTIEMBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2022-09-25.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2022\\09. SEPTIEMBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2022-09-26.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2022\\09. SEPTIEMBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2022-09-27.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2022\\09. SEPTIEMBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2022-09-28.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2022\\09. SEPTIEMBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2022-09-29.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2022\\09. SEPTIEMBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2022-09-30.xlsx']

In [5]:
red_files = glob.glob(r'C:\Users\Cristian.Aparicio\Documents\POLIZAS NETSUITE\Res*.csv', recursive=False)
red_files

['C:\\Users\\Cristian.Aparicio\\Documents\\POLIZAS NETSUITE\\Rescheduled.csv']

# REPROGRAMACIONES DB

In [6]:
rescheduled = pd.concat([pd.read_csv(f).assign(file_name=os.path.basename(f)) for f in red_files])
rescheduled['created_at']= pd.to_datetime(rescheduled['created_at'])
rescheduled.sort_values(by=['created_at'],inplace=True)
rescheduled.head()

,rescheduled_errored_disbursements_id,disbursement_id,report_id,reason,modified_by,created_at,file_name
181385,5a46dfeb-5c2a-11e9-99fa-06d3d062ef5c,fd430013-3f34-4d35-875f-c2a8b47c5b9c,93SDK7ZH2,CHANGED_CLABE,SYSTEM,2019-04-11,Rescheduled.csv
181357,5a4360a9-5c2a-11e9-99fa-06d3d062ef5c,11676b26-87e2-4be0-877a-029c6d60664c,89YGNXVZ3,CHANGED_CLABE,SYSTEM,2019-04-11,Rescheduled.csv
181363,5a445226-5c2a-11e9-99fa-06d3d062ef5c,5d943b01-b1a0-4105-8cd3-f835585db574,PRYJPBVDD,CHANGED_CLABE,SYSTEM,2019-04-11,Rescheduled.csv
181394,5a482dab-5c2a-11e9-99fa-06d3d062ef5c,753f64cb-4d5b-4062-b0ee-7a23a20d95dc,XWPVNWR98,CHANGED_CLABE,SYSTEM,2019-04-11,Rescheduled.csv
181370,5a451510-5c2a-11e9-99fa-06d3d062ef5c,63381fad-191a-44de-b479-f929cdf17692,BP4DJP2GM,CHANGED_CLABE,SYSTEM,2019-04-11,Rescheduled.csv

In [7]:
rescheduled.shape

(510585, 7)

In [8]:
rescheduled_agrupado = rescheduled.groupby(['report_id']).agg({'disbursement_id':len}).reset_index()
rescheduled_agrupado.rename(columns={'disbursement_id':'no_intentos'},inplace=True)
rescheduled_agrupado.head()

   report_id  no_intentos
0  2222BNGCQ            1
1  2222NCJCZ            1
2  2224PSCTD            1
3  2225C9VD6            1
4  2226SCJM5            1

In [9]:
rescheduled_agrupado.shape

(426137, 2)

In [10]:
duplicates_rescheduled = rescheduled[rescheduled.duplicated(['report_id'] , keep=False)]
duplicates_rescheduled.head()

,rescheduled_errored_disbursements_id,disbursement_id,report_id,reason,modified_by,created_at,file_name
52242,1b0f4407-619b-11e9-99fa-06d3d062ef5c,4b716621-6379-4baa-bef1-a61beb6f1f0a,MGWQT9J2R,CHANGED_CLABE,SYSTEM,2019-04-18,Rescheduled.csv
52220,1b0d7c75-619b-11e9-99fa-06d3d062ef5c,0f21d7cc-3b06-420e-ade3-2c5f5c27c7ab,7KL2XRPQM,CHANGED_CLABE,SYSTEM,2019-04-18,Rescheduled.csv
52212,1b0cd32d-619b-11e9-99fa-06d3d062ef5c,89af19a8-1a15-4a03-a7a8-cfa4f91c6336,3RCFBWQJR,CHANGED_CLABE,SYSTEM,2019-04-18,Rescheduled.csv
134800,439215cf-671b-11e9-99fa-06d3d062ef5c,0f21d7cc-3b06-420e-ade3-2c5f5c27c7ab,7KL2XRPQM,CHANGED_CLABE,SYSTEM,2019-04-25,Rescheduled.csv
134795,439188e8-671b-11e9-99fa-06d3d062ef5c,89af19a8-1a15-4a03-a7a8-cfa4f91c6336,3RCFBWQJR,CHANGED_CLABE,SYSTEM,2019-04-25,Rescheduled.csv

In [11]:
duplicates_rescheduled.shape

(148462, 7)

# BORRAR ELIMINADOS DE LA BASE DE REPROGRAMACIONES

In [12]:
rescheduled.drop_duplicates(subset ='report_id', keep='last', inplace=True)
rescheduled.head()

,rescheduled_errored_disbursements_id,disbursement_id,report_id,reason,modified_by,created_at,file_name
181385,5a46dfeb-5c2a-11e9-99fa-06d3d062ef5c,fd430013-3f34-4d35-875f-c2a8b47c5b9c,93SDK7ZH2,CHANGED_CLABE,SYSTEM,2019-04-11,Rescheduled.csv
181357,5a4360a9-5c2a-11e9-99fa-06d3d062ef5c,11676b26-87e2-4be0-877a-029c6d60664c,89YGNXVZ3,CHANGED_CLABE,SYSTEM,2019-04-11,Rescheduled.csv
181363,5a445226-5c2a-11e9-99fa-06d3d062ef5c,5d943b01-b1a0-4105-8cd3-f835585db574,PRYJPBVDD,CHANGED_CLABE,SYSTEM,2019-04-11,Rescheduled.csv
181394,5a482dab-5c2a-11e9-99fa-06d3d062ef5c,753f64cb-4d5b-4062-b0ee-7a23a20d95dc,XWPVNWR98,CHANGED_CLABE,SYSTEM,2019-04-11,Rescheduled.csv
181370,5a451510-5c2a-11e9-99fa-06d3d062ef5c,63381fad-191a-44de-b479-f929cdf17692,BP4DJP2GM,CHANGED_CLABE,SYSTEM,2019-04-11,Rescheduled.csv

In [13]:
rescheduled.shape

(426137, 7)

In [14]:
rescheduled_final = rescheduled.merge(rescheduled_agrupado[['report_id','no_intentos']],on='report_id',how='left')
rescheduled_final.head()

,rescheduled_errored_disbursements_id,disbursement_id,report_id,reason,modified_by,created_at,file_name,no_intentos
0,5a46dfeb-5c2a-11e9-99fa-06d3d062ef5c,fd430013-3f34-4d35-875f-c2a8b47c5b9c,93SDK7ZH2,CHANGED_CLABE,SYSTEM,2019-04-11,Rescheduled.csv,1
1,5a4360a9-5c2a-11e9-99fa-06d3d062ef5c,11676b26-87e2-4be0-877a-029c6d60664c,89YGNXVZ3,CHANGED_CLABE,SYSTEM,2019-04-11,Rescheduled.csv,1
2,5a445226-5c2a-11e9-99fa-06d3d062ef5c,5d943b01-b1a0-4105-8cd3-f835585db574,PRYJPBVDD,CHANGED_CLABE,SYSTEM,2019-04-11,Rescheduled.csv,1
3,5a482dab-5c2a-11e9-99fa-06d3d062ef5c,753f64cb-4d5b-4062-b0ee-7a23a20d95dc,XWPVNWR98,CHANGED_CLABE,SYSTEM,2019-04-11,Rescheduled.csv,1
4,5a451510-5c2a-11e9-99fa-06d3d062ef5c,63381fad-191a-44de-b479-f929cdf17692,BP4DJP2GM,CHANGED_CLABE,SYSTEM,2019-04-11,Rescheduled.csv,1

In [15]:
rescheduled_final.shape

(426137, 8)

# DEVOLUCIONES TRADICIONAL

In [16]:
dev_total = pd.concat([pd.read_excel(f,sheet_name='ERROR').assign(file_name=os.path.basename(f)) for f in trad_files])
dev_total['date_file'] = dev_total["file_name"].str[-13:-5]
dev_total['date_file']= pd.to_datetime(dev_total['date_file'], format='%Y%m%d').dt.date
dev_total['date_file']= pd.to_datetime(dev_total['date_file'])
dev_total['report_date_local']= pd.to_datetime(dev_total['report_date_local'])
dev_total.head()

,type,merchant_id,merchant_name,user_email,report_id,report_date_local,total_due,tipo,bank,Batch_time,Check,error_description,file_name,date_file
0,DAILY,dcc38821-11da-428e-a5dc-50a1b26240f5,Taller estetica automotriz,kruztygarage@gmail.com,JNHJBGF66,2022-09-01,"38,329.60",Pago del día,BBVA BANCOMER,First_batch,SPEI DEVUELTO,DN,Dispersión-20220901.xlsx,2022-09-01
1,DAILY,5482b244-5cc8-40b2-afba-7726045b7ebc,Leonardo Rosas,leonardorosas230@gmail.com,67GTP6K2V,2022-09-01,41.20,Pago del día,BBVA BANCOMER,First_batch,SPEI DEVUELTO,DB,Dispersión-20220901.xlsx,2022-09-01
2,DAILY,aa9cdd80-0892-4135-8e51-305844b4340f,Frutas y verduras CAMACHO,silvianavarrosanchez250895@gmail.com,LRS5TDNNH,2022-09-01,2.87,Pago del día,COMPARTAMOS,First_batch,SPEI DEVUELTO,DI,Dispersión-20220901.xlsx,2022-09-01
3,DAILY,ee8f9dc1-8433-490e-a29e-c7b617e7bc0e,Clip trabajo,gmoo534@gmail.com,R99JGNZGW,2022-09-01,0.01,Pago del día,SANTANDER,First_batch,SPEI DEVUELTO,X2,Dispersión-20220901.xlsx,2022-09-01
4,DAILY,fa6de1cb-d0cd-4908-9457-3f66f8d6a764,Cafe La Mision,karina@themissioninc.org,ZZPBB35X5,2022-09-01,195.49,Pago del día,BBVA BANCOMER,First_batch,SPEI DEVUELTO,DB,Dispersión-20220901.xlsx,2022-09-01

In [17]:
dev_total.shape

(7051, 14)

In [18]:
dev_total['tipo'].unique()

array(['Pago del día', 'Reprogramación'], dtype=object)

### DEVOLUCIONES TOTALES

In [19]:
dev_total_pivot = pd.pivot_table(dev_total,index=["date_file"],values=['total_due'],aggfunc = ['sum', len],margins=True)
dev_total_pivot.reset_index(drop=False, inplace=True)
dev_total_pivot.head()

             date_file        sum       len
                        total_due total_due
0  2022-09-01 00:00:00 272,001.27       140
1  2022-09-02 00:00:00 273,897.04       125
2  2022-09-03 00:00:00 489,596.32       124
3  2022-09-04 00:00:00 299,537.96       134
4  2022-09-05 00:00:00 300,174.87       120

In [20]:
dev_total_pivot.shape

(31, 3)

### DEVOLUCIONES PAGO DEL DIA

In [21]:
dev_dia = dev_total[(dev_total['tipo'] == 'Pago del día')]

In [22]:
dev_dia_pivot = pd.pivot_table(dev_dia,index=["date_file"],values=['total_due'],aggfunc = ['sum', len],margins=True)
dev_dia_pivot.reset_index(drop=False, inplace=True)
dev_dia_pivot.head()

             date_file        sum       len
                        total_due total_due
0  2022-09-01 00:00:00 180,954.14       103
1  2022-09-02 00:00:00 150,945.59        92
2  2022-09-03 00:00:00 458,402.06       111
3  2022-09-04 00:00:00 263,856.29       121
4  2022-09-05 00:00:00 251,494.07        97

In [23]:
dev_dia_pivot.shape

(31, 3)

### DEVOLUCIONES REPROGRAMACION

In [24]:
dev_repro = dev_total[(dev_total['tipo'] == 'Reprogramación')]

In [25]:
dev_repro_pivot = pd.pivot_table(dev_repro,index=["date_file"],values=['total_due'],aggfunc = ['sum', len],margins=True)
dev_repro_pivot.reset_index(drop=False, inplace=True)
dev_repro_pivot.head()

             date_file        sum       len
                        total_due total_due
0  2022-09-01 00:00:00  91,047.13        37
1  2022-09-02 00:00:00 122,951.45        33
2  2022-09-03 00:00:00  31,194.26        13
3  2022-09-04 00:00:00  35,681.67        13
4  2022-09-05 00:00:00  48,680.80        23

In [26]:
dev_repro_pivot.shape

(31, 3)

# DEVOLUCIONES FAST PAYMENTS

In [27]:
dev_total_fp = pd.concat([pd.read_excel(f,sheet_name='ERROR',converters={'report_id':str})
                      .assign(file_name=os.path.basename(f)) for f in fp_files])
dev_total_fp['date_file'] = dev_total_fp["file_name"].str[-15:-5]
dev_total_fp['date_file']= pd.to_datetime(dev_total_fp['date_file'])
dev_total_fp['report_date_local'] = pd.to_datetime(dev_total_fp['report_date_local'])
dev_total_fp.head()

,type,merchant_id,merchant_name,user_email,report_id,report_date_local,total_due,tipo,bank,Time,error_description,file_name,Check,date_file
0,INSTANT,7175596b-a83b-4e72-acd2-d389d58b0114,Barber,danielriveragranados1@gmail.com,C88B5ZC5Y,2022-09-02,431.21,Pago del día,ASP INTEGRA OPC,20:00,/21/CB Return Exceeds the limit of credits all...,Dispersión-FP 2022-09-02.xlsx,SPEI DEVUELTO,2022-09-02
0,INSTANT,06c8935a-10db-4047-81bc-3195cf7dc185,Open24,E1up@hotmail.com,C9NPCCCJG,2022-09-03,"1,116.82",Pago del día,ASP INTEGRA OPC,09:00,DEV.SPEIEXCEDE EL LNMITE DE AB,Dispersión-FP 2022-09-03.xlsx,SPEI DEVUELTO,2022-09-03
1,INSTANT,3fcd7bfc-a799-4d1c-af0b-4c9a7e670cc0,Corcega Restaurante,pigourmet.catering@gmail.com,C8PV8T954,2022-09-03,"38,137.95",Pago del día,ASP INTEGRA OPC,09:00,DEV.SPEIEXCEDE EL LNMITE DE AB,Dispersión-FP 2022-09-03.xlsx,SPEI DEVUELTO,2022-09-03
2,INSTANT,7175596b-a83b-4e72-acd2-d389d58b0114,Barber,danielriveragranados1@gmail.com,KKZTTBSKN,2022-09-03,287.47,Pago del día,ASP INTEGRA OPC,09:00,DEV.SPEIEXCEDE EL LNMITE DE AB,Dispersión-FP 2022-09-03.xlsx,SPEI DEVUELTO,2022-09-03
3,INSTANT,835868c9-7ee3-4f4f-9366-79f8a58448e3,Tecate Six Sustaita,regio_1979@hotmail.com,546V7KFVG,2022-09-03,"1,338.16",Pago del día,ASP INTEGRA OPC,09:00,DEV.SPEIEXCEDE EL LNMITE DE AB,Dispersión-FP 2022-09-03.xlsx,SPEI DEVUELTO,2022-09-03

In [28]:
dev_total_fp.shape

(2371, 14)

In [29]:
dev_total_fp['tipo'].unique()

array(['Pago del día', 'Reprogramación'], dtype=object)

### DEVOLUCIONES TOTALES

In [30]:
dev_total_fp_pivot = pd.pivot_table(dev_total_fp,index=["date_file"],values=['total_due'],aggfunc = ['sum', len],margins=True)
dev_total_fp_pivot.reset_index(drop=False, inplace=True)
dev_total_fp_pivot.head()

             date_file       sum       len
                       total_due total_due
0  2022-09-02 00:00:00    431.21         1
1  2022-09-03 00:00:00 58,791.55        13
2  2022-09-04 00:00:00 66,726.08        35
3  2022-09-05 00:00:00 57,924.99        14
4  2022-09-06 00:00:00 11,442.30         8

In [31]:
dev_total_fp_pivot.shape

(30, 3)

### DEVOLUCIONES PAGO DEL DIA

In [32]:
dev_dia_fp = dev_total_fp[(dev_total_fp['tipo'] == 'Pago del día')]

In [33]:
dev_dia_fp_pivot = pd.pivot_table(dev_dia_fp,index=["date_file"],values=['total_due'],aggfunc = ['sum', len],margins=True)
dev_dia_fp_pivot.reset_index(drop=False, inplace=True)
dev_dia_fp_pivot.head()

             date_file       sum       len
                       total_due total_due
0  2022-09-02 00:00:00    431.21         1
1  2022-09-03 00:00:00 46,533.82         7
2  2022-09-04 00:00:00 42,088.55        12
3  2022-09-05 00:00:00 55,649.18         8
4  2022-09-06 00:00:00 11,442.30         8

In [34]:
dev_dia_fp_pivot.shape

(30, 3)

### DEVOLUCIONES REPROGRAMACION

In [35]:
dev_repro_fp = dev_total_fp[(dev_total_fp['tipo'] == 'Reprogramación')]

In [36]:
dev_repro_fp_pivot = pd.pivot_table(dev_repro_fp,index=["date_file"],values=['total_due'],aggfunc = ['sum', len],margins=True)
dev_repro_fp_pivot.reset_index(drop=False, inplace=True)
dev_repro_fp_pivot.head()

             date_file       sum       len
                       total_due total_due
0  2022-09-03 00:00:00 12,257.73         6
1  2022-09-04 00:00:00 24,637.53        23
2  2022-09-05 00:00:00  2,275.81         6
3  2022-09-14 00:00:00 19,828.73        85
4  2022-09-16 00:00:00  5,246.36         6

In [37]:
dev_repro_fp_pivot.shape

(14, 3)

# TOTAL PAGOS EN ERROR

In [38]:
all_pagos_error = pd.concat([dev_total,dev_total_fp])
all_pagos_error.head()

,type,merchant_id,merchant_name,user_email,report_id,report_date_local,total_due,tipo,bank,Batch_time,Check,error_description,file_name,date_file,Time
0,DAILY,dcc38821-11da-428e-a5dc-50a1b26240f5,Taller estetica automotriz,kruztygarage@gmail.com,JNHJBGF66,2022-09-01,"38,329.60",Pago del día,BBVA BANCOMER,First_batch,SPEI DEVUELTO,DN,Dispersión-20220901.xlsx,2022-09-01,NaN
1,DAILY,5482b244-5cc8-40b2-afba-7726045b7ebc,Leonardo Rosas,leonardorosas230@gmail.com,67GTP6K2V,2022-09-01,41.20,Pago del día,BBVA BANCOMER,First_batch,SPEI DEVUELTO,DB,Dispersión-20220901.xlsx,2022-09-01,NaN
2,DAILY,aa9cdd80-0892-4135-8e51-305844b4340f,Frutas y verduras CAMACHO,silvianavarrosanchez250895@gmail.com,LRS5TDNNH,2022-09-01,2.87,Pago del día,COMPARTAMOS,First_batch,SPEI DEVUELTO,DI,Dispersión-20220901.xlsx,2022-09-01,NaN
3,DAILY,ee8f9dc1-8433-490e-a29e-c7b617e7bc0e,Clip trabajo,gmoo534@gmail.com,R99JGNZGW,2022-09-01,0.01,Pago del día,SANTANDER,First_batch,SPEI DEVUELTO,X2,Dispersión-20220901.xlsx,2022-09-01,NaN
4,DAILY,fa6de1cb-d0cd-4908-9457-3f66f8d6a764,Cafe La Mision,karina@themissioninc.org,ZZPBB35X5,2022-09-01,195.49,Pago del día,BBVA BANCOMER,First_batch,SPEI DEVUELTO,DB,Dispersión-20220901.xlsx,2022-09-01,NaN

In [39]:
all_pagos_error.shape

(9422, 15)

In [40]:
duplicates_pagos_error = all_pagos_error[all_pagos_error.duplicated(['report_id'] , keep=False)]
duplicates_pagos_error.head()

,type,merchant_id,merchant_name,user_email,report_id,report_date_local,total_due,tipo,bank,Batch_time,Check,error_description,file_name,date_file,Time
0,DAILY,dcc38821-11da-428e-a5dc-50a1b26240f5,Taller estetica automotriz,kruztygarage@gmail.com,JNHJBGF66,2022-09-01,"38,329.60",Pago del día,BBVA BANCOMER,First_batch,SPEI DEVUELTO,DN,Dispersión-20220901.xlsx,2022-09-01,NaN
9,DAILY,e7ca2fe0-3a5c-4203-8704-cc4ec1e060a3,MODA ACTUAL,conversemodaactual@live.com.mx,CGNGW5Y5P,2022-09-01,895.43,Pago del día,BANAMEX,First_batch,SPEI DEVUELTO,DB,Dispersión-20220901.xlsx,2022-09-01,NaN
11,DAILY,04d46dcd-745a-43fe-8fcb-ad9b0f71f2d8,Beijing,yongxingyou869@gmail.com,3KTXF9D7C,2022-09-01,1.90,Pago del día,BANAMEX,First_batch,SPEI DEVUELTO,DB,Dispersión-20220901.xlsx,2022-09-01,NaN
16,DAILY,8140cb35-dfa6-4b66-b020-72fb3a7df17d,Antojitos Naye,nayesaucedo05@gmail.com,MSXJSP5WM,2022-09-01,"2,146.46",Pago del día,SANTANDER,First_batch,SPEI DEVUELTO,X2,Dispersión-20220901.xlsx,2022-09-01,NaN
55,DAILY,4e455be6-99cb-40ee-9283-8fb9f6283536,D peloz,diana.tg60@gmail.com,CST6YVB68,2022-08-30,268.31,Reprogramación,BANAMEX,First_batch,SPEI DEVUELTO,DB,Dispersión-20220901.xlsx,2022-09-01,NaN

In [41]:
duplicates_pagos_error.shape

(1319, 15)

# CRUCE PAGOS EN ERROR CON REPROGRAMACIONES

In [43]:
cruce_1 = all_pagos_error.merge(rescheduled_final[['report_id','disbursement_id','reason','modified_by','created_at',
                                             'no_intentos','file_name']],
                                on='report_id',how='left')
cruce_1['disbursement_id'].fillna('not_found',inplace=True)
cruce_1['reason'].fillna('not_found',inplace=True)
cruce_1['modified_by'].fillna('not_found',inplace=True)
cruce_1['created_at'].fillna('1990-12-31',inplace=True)
cruce_1['no_intentos'].fillna(0,inplace=True)
cruce_1['file_name_y'].fillna('not_found',inplace=True)
cruce_1['created_at'] = pd.to_datetime(cruce_1['created_at'])
cruce_1.loc[(cruce_1['tipo'].str.contains('Pago del día')), 'status_pago_error'] = 'NEW'
cruce_1.loc[(~cruce_1['tipo'].str.contains('Pago del día')), 'status_pago_error'] = 'ERROR'
cruce_1.head()

,type,merchant_id,merchant_name,user_email,report_id,report_date_local,total_due,tipo,bank,Batch_time,...,file_name_x,date_file,Time,disbursement_id,reason,modified_by,created_at,no_intentos,file_name_y,status_pago_error
0,DAILY,dcc38821-11da-428e-a5dc-50a1b26240f5,Taller estetica automotriz,kruztygarage@gmail.com,JNHJBGF66,2022-09-01,"38,329.60",Pago del día,BBVA BANCOMER,First_batch,...,Dispersión-20220901.xlsx,2022-09-01,NaN,d286ffdb-fa53-49eb-97bd-57aecc3aa80e,DM,hector.marquez@payclip.com,2022-09-06,2.00,Rescheduled.csv,NEW
1,DAILY,5482b244-5cc8-40b2-afba-7726045b7ebc,Leonardo Rosas,leonardorosas230@gmail.com,67GTP6K2V,2022-09-01,41.20,Pago del día,BBVA BANCOMER,First_batch,...,Dispersión-20220901.xlsx,2022-09-01,NaN,not_found,not_found,not_found,1990-12-31,0.00,not_found,NEW
2,DAILY,aa9cdd80-0892-4135-8e51-305844b4340f,Frutas y verduras CAMACHO,silvianavarrosanchez250895@gmail.com,LRS5TDNNH,2022-09-01,2.87,Pago del día,COMPARTAMOS,First_batch,...,Dispersión-20220901.xlsx,2022-09-01,NaN,not_found,not_found,not_found,1990-12-31,0.00,not_found,NEW
3,DAILY,ee8f9dc1-8433-490e-a29e-c7b617e7bc0e,Clip trabajo,gmoo534@gmail.com,R99JGNZGW,2022-09-01,0.01,Pago del día,SANTANDER,First_batch,...,Dispersión-20220901.xlsx,2022-09-01,NaN,not_found,not_found,not_found,1990-12-31,0.00,not_found,NEW
4,DAILY,fa6de1cb-d0cd-4908-9457-3f66f8d6a764,Cafe La Mision,karina@themissioninc.org,ZZPBB35X5,2022-09-01,195.49,Pago del día,BBVA BANCOMER,First_batch,...,Dispersión-20220901.xlsx,2022-09-01,NaN,not_found,not_found,not_found,1990-12-31,0.00,not_found,NEW

In [44]:
cruce_1.shape

(9422, 22)

In [45]:
cruce_1.dtypes

type                         object
merchant_id                  object
merchant_name                object
user_email                   object
report_id                    object
report_date_local    datetime64[ns]
total_due                   float64
tipo                         object
bank                         object
Batch_time                   object
Check                        object
error_description            object
file_name_x                  object
date_file            datetime64[ns]
Time                         object
disbursement_id              object
reason                       object
modified_by                  object
created_at           datetime64[ns]
no_intentos                 float64
file_name_y                  object
status_pago_error            object
dtype: object

In [46]:
group_pagos_error = pd.pivot_table(cruce_1,index=['date_file'],
                                   columns=['status_pago_error','type','tipo'],values=['total_due'],
                                   aggfunc=np.sum,
                                   margins=True).reset_index()
group_pagos_error.fillna(0,inplace=True)
group_pagos_error.head()

                             date_file      total_due                 \
status_pago_error                               ERROR
type                                            DAILY        INSTANT
tipo                                   Reprogramación Reprogramación
0                  2022-09-01 00:00:00      91,047.13           0.00
1                  2022-09-02 00:00:00     122,951.45           0.00
2                  2022-09-03 00:00:00      31,194.26      12,257.73
3                  2022-09-04 00:00:00      35,681.67      24,637.53
4                  2022-09-05 00:00:00      48,680.80       2,275.81


status_pago_error          NEW                     All
type                     DAILY      INSTANT
tipo              Pago del día Pago del día
0                   180,954.14         0.00 272,001.27
1                   150,945.59       431.21 274,328.25
2                   458,402.06    46,533.82 548,387.87
3                   263,856.29    42,088.55 366,264.04
4                   251,494.07    55,649.18 358,099.86

In [47]:
group_pagos_error.shape

(31, 6)

## EXCEL DEVOLUCIONES

In [48]:
writer = pd.ExcelWriter('PRUEBA ERROR SEPTIEMBRE 2022.xlsx',
                        engine='xlsxwriter',
                        engine_kwargs={'options': {'encoding':'utf-8'}})
group_pagos_error.to_excel(writer, sheet_name='GROUP PAGOS ERROR')
cruce_1.to_excel(writer, sheet_name='ALL PAGOS ERROR')
dev_total.to_excel(writer, sheet_name='DETALLE TRAD')
dev_total_pivot.to_excel(writer, sheet_name='TOTAL ERROR TRAD')
dev_dia_pivot.to_excel(writer, sheet_name='PAGO DEL DIA TRAD')
dev_repro_pivot.to_excel(writer, sheet_name='REPROGRAMACION TRAD')
dev_total_fp.to_excel(writer, sheet_name='DETALLE FP')
dev_total_fp_pivot.to_excel(writer, sheet_name='TOTAL ERROR FP')
dev_dia_fp_pivot.to_excel(writer, sheet_name='PAGO DEL DIA FP')
dev_repro_fp_pivot.to_excel(writer, sheet_name='REPROGRAMACION FP')
writer.close()