In [1]:
import pandas as pd
import numpy as np
from openpyxl import load_workbook
import glob
import os
from datetime import datetime
pd.options.display.float_format = '{:,.2f}'.format

# READING FILES

In [2]:
date_respuesta = '2022-01-31'
date_respuesta = pd.to_datetime(date_respuesta)

## RESPUESTAS FP

In [3]:
rs = glob.glob(r'C:\Users\Cristian.Aparicio\Documents\FAST PAYMENTS\2022\01. ENERO\Respuesta-FP-CITI*.xlsx', recursive=False)
rs

['C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2022\\01. ENERO\\Respuesta-FP-CITI-1 2022-01-31.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2022\\01. ENERO\\Respuesta-FP-CITI-2 2022-01-31.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2022\\01. ENERO\\Respuesta-FP-CITI-3 2022-01-31.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2022\\01. ENERO\\Respuesta-FP-CITI-4 2022-01-31.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2022\\01. ENERO\\Respuesta-FP-CITI-5 2022-01-31.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2022\\01. ENERO\\Respuesta-FP-CITI-6 2022-01-31.xlsx']

In [4]:
rs_concat = pd.concat([pd.read_excel(f,sheet_name='Sheet1',converters={'dsp_reference_id':str,'bank_account_number':str
                                                                     ,'disbursement_tracking_key':str,'report_id':str})
                       .assign(file_name=os.path.basename(f)) for f in rs])
rs_concat.loc[rs_concat['file_name'].str.contains('CITI-1'), 'Time_rs'] = '09:00'
rs_concat.loc[rs_concat['file_name'].str.contains('CITI-2'), 'Time_rs'] = '11:00'
rs_concat.loc[rs_concat['file_name'].str.contains('CITI-3'), 'Time_rs'] = '14:00'
rs_concat.loc[rs_concat['file_name'].str.contains('CITI-4'), 'Time_rs'] = '16:00'
rs_concat.loc[rs_concat['file_name'].str.contains('CITI-5'), 'Time_rs'] = '18:00'
rs_concat.loc[rs_concat['file_name'].str.contains('CITI-6'), 'Time_rs'] = '20:00'
rs_concat['INDEX'] = (rs_concat['report_id'].astype(str).replace(' ', '',regex=True)+'_'
                       +rs_concat['Time_rs'].astype(str).replace(' ', '',regex=True))
rs_concat.head()

,report_id,status,report_date_local,payment_date_local,amount,disbursement_batch_id,dsp_reference_id,entry_number,disbursement_id,bank_account_number,...,execution_date,application_date,disbursement_tracking_key,number_movement,created_at,updated_at,error_description,file_name,Time_rs,INDEX
0,5QWT2C9B2,PAID,2022-01-31,2022-01-31,168.75,98aea216-b485-4bdf-96d4-434306becd9f,0900001,0,36ee5bce-0706-469e-82af-dbbefc4e1c4a,659802020000300038,...,2022-01-31,2022-01-31,17EB0D59E92E6860,0,2022-01-31,2022-02-01,NaN,Respuesta-FP-CITI-1 2022-01-31.xlsx,09:00,5QWT2C9B2_09:00
1,QV23G5DSS,PAID,2022-01-31,2022-01-31,364.13,98aea216-b485-4bdf-96d4-434306becd9f,0900002,1,27768853-407b-4bcf-b0e1-540c85a4aa15,659802020000047786,...,2022-01-31,2022-01-31,17EB0D5A0407F9C9,0,2022-01-31,2022-02-01,NaN,Respuesta-FP-CITI-1 2022-01-31.xlsx,09:00,QV23G5DSS_09:00
2,Z5DK2ZZZS,PAID,2022-01-31,2022-01-31,"1,245.43",98aea216-b485-4bdf-96d4-434306becd9f,0900003,2,85d89f7b-7b10-43ad-bfda-1ae29856021d,659802020000540733,...,2022-01-31,2022-01-31,17EB0D5A5399D1E4,0,2022-01-31,2022-02-01,NaN,Respuesta-FP-CITI-1 2022-01-31.xlsx,09:00,Z5DK2ZZZS_09:00
3,VLH3B8ZFV,PAID,2022-01-31,2022-01-31,90.56,98aea216-b485-4bdf-96d4-434306becd9f,0900004,3,41544ff6-a875-4fc9-88e5-34e4005c1b40,659802020000112941,...,2022-01-31,2022-01-31,17EB0D5A6EFD9794,0,2022-01-31,2022-02-01,NaN,Respuesta-FP-CITI-1 2022-01-31.xlsx,09:00,VLH3B8ZFV_09:00
4,9GHG3BGXF,PAID,2022-01-31,2022-01-31,320.53,98aea216-b485-4bdf-96d4-434306becd9f,0900005,4,18c2d3e2-d39e-4dce-8580-980ee20a0c65,659802020000122025,...,2022-01-31,2022-01-31,17EB0D5A63E09644,0,2022-01-31,2022-02-01,NaN,Respuesta-FP-CITI-1 2022-01-31.xlsx,09:00,9GHG3BGXF_09:00

In [5]:
rs_concat.shape

(5127, 22)

In [6]:
rs_concat.columns

Index(['report_id', 'status', 'report_date_local', 'payment_date_local',
       'amount', 'disbursement_batch_id', 'dsp_reference_id', 'entry_number',
       'disbursement_id', 'bank_account_number', 'bank_name',
       'bank_account_owner_name', 'execution_date', 'application_date',
       'disbursement_tracking_key', 'number_movement', 'created_at',
       'updated_at', 'error_description', 'file_name', 'Time_rs', 'INDEX'],
      dtype='object')

In [7]:
duplicates = rs_concat[rs_concat.duplicated(['report_id'] , keep=False)]
duplicates.head()

,report_id,status,report_date_local,payment_date_local,amount,disbursement_batch_id,dsp_reference_id,entry_number,disbursement_id,bank_account_number,...,execution_date,application_date,disbursement_tracking_key,number_movement,created_at,updated_at,error_description,file_name,Time_rs,INDEX
97,CGQNB37XM,PAID,2022-01-31,2022-01-31,64.20,3f9b1a2b-ce64-4dda-b582-66e85e0fb895,1400098,97,32cf107c-9171-4f41-b88a-d38900cfb1bc,659802020000191975,...,2022-01-31,2022-01-31,17EB3350CFFA5D09,0,2022-01-31,2022-02-01,/99999999/CB Rejected PAYMENT AMOUNT EXCEED TH...,Respuesta-FP-CITI-3 2022-01-31.xlsx,14:00,CGQNB37XM_14:00
150,CGQNB37XM,PAID,2022-01-31,2022-01-31,64.20,a22b373f-8bee-4c2e-a8c8-3ec7e60338c6,2000151,150,32cf107c-9171-4f41-b88a-d38900cfb1bc,659802020000191975,...,2022-01-31,2022-01-31,17EB3350CFFA5D09,0,2022-02-01,2022-02-01,/99999999/CB Rejected PAYMENT AMOUNT EXCEED TH...,Respuesta-FP-CITI-6 2022-01-31.xlsx,20:00,CGQNB37XM_20:00

In [8]:
duplicates.shape

(2, 22)

## QUERY PAYMENTS

In [9]:
query = pd.read_csv(r'G:\My Drive\Settlement\FAST PAYMENTS\2022\01. ENERO\FP-CITI 2022-01-31.csv')
query['batch_created_date'] = pd.to_datetime(query['batch_created_date'])
query.set_index('batch_created_date',inplace=True)
query.head()

,merchant_id,merchant_name,user_email,report_id,report_date_local,amount,status,bank_name,payment_date_local,bank_account_owner_name,bank_account_number,swap
batch_created_date,,,,,,,,,,,,
2022-01-31 16:16:13,0042f78c-1d9d-4db4-a21d-ee3b9130d44f,Alessa salon spa,alejandra.ponce.sanchez@gmail.com,GNXN4CF3S,2022-01-31 00:00:00,958.24,PAID,"Opciones Empresariales del Noreste, S.A. de C....",2022-01-31 16:22:44,Alejandra Ponce Sanchez,'659802020000137382,"Alejandra Ponce Sanchez,,958.24,65980202000013..."
2022-01-31 14:06:18,006129db-45c6-40bf-bf33-7817c9044eff,El Vasco Frances,djvbecool_18@hotmail.com,6DDVLQJ5K,2022-01-31 00:00:00,"1,050.80",PAID,"Opciones Empresariales del Noreste, S.A. de C....",2022-01-31 14:12:01,Carlos Adrian Cazares Viurquez,'659802020000031310,"Carlos Adrian Cazares Viurquez,,1050.80,659802..."
2022-01-31 18:26:32,0070e500-8215-4977-95fe-2bf192c0af09,MARISCOS EL HOSPITAL,Hospitalcrudos2019@gmail.com,BQJF8CHT8,2022-01-31 00:00:00,259.11,ERROR,"Opciones Empresariales del Noreste, S.A. de C....",2022-01-31 20:03:28,Ignacio Alberto Gallardo Luna,'659802020000338783,"Ignacio Alberto Gallardo Luna,,259.11,65980202..."
2022-01-31 18:26:32,00817ad9-b94b-4dd9-bec6-26d2b38d9e4d,Pasteles De Luna,jezrrel_89@hotmail.com,ZQPNJJ2RQ,2022-01-31 00:00:00,316.22,PAID,"Opciones Empresariales del Noreste, S.A. de C....",2022-01-31 18:33:28,Ivan Jezrrel Luna Daza,'659802020000289528,"Ivan Jezrrel Luna Daza,,316.22,659802020000289..."
2022-01-31 16:16:13,00ae274c-a015-4d09-ae9e-ab557f4c156c,Cremeria Los Angeles,arnold0019@hotmail.com,KG5H49373,2022-01-31 00:00:00,479.60,PAID,"Opciones Empresariales del Noreste, S.A. de C....",2022-01-31 16:22:45,Arnoldo Toledano Gutierrez,'659802020000281607,"Arnoldo Toledano Gutierrez,,479.60,65980202000..."

In [10]:
query.shape

(5127, 12)

In [11]:
hour1 = query.between_time('08:00','10:59')
hour1['Time'] = '09:00'
hour2 = query.between_time('11:00','13:59')
hour2['Time'] = '11:00'
hour3 = query.between_time('14:00','15:59')
hour3['Time'] = '14:00'
hour4 = query.between_time('16:00','17:59')
hour4['Time'] = '16:00'
hour5 = query.between_time('18:00','19:59')
hour5['Time'] = '18:00'
hour6 = query.between_time('20:00','23:59')
hour6['Time'] = '20:00'

C:\Users\Cristian.Aparicio\anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\Cristian.Aparicio\anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
C:\Users\Cristian.Aparicio\anaconda3\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\Cristian.Aparicio\anaconda3\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\Cristian.Aparicio\anaconda3\lib\site-packages\ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.
C:\Users\Cristian.Aparicio\anaconda3\lib\site-packages\ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if sys.path[0] == '':

In [12]:
disp1 = pd.concat([hour1,hour2,hour3,hour4,hour5,hour6])
disp1['INDEX'] = (disp1['report_id'].astype(str).replace(' ', '',regex=True)+'_'
                       +disp1['Time'].astype(str).replace(' ', '',regex=True))
disp1.head()

,merchant_id,merchant_name,user_email,report_id,report_date_local,amount,status,bank_name,payment_date_local,bank_account_owner_name,bank_account_number,swap,Time,INDEX
batch_created_date,,,,,,,,,,,,,,
2022-01-31 09:46:15,01054eec-e90e-42a8-9471-3fb1711cbbc1,Abarrotes La Perla De Magon,laperlademagon2021@hotmail.com,5QWT2C9B2,2022-01-31 00:00:00,168.75,PAID,"Opciones Empresariales del Noreste, S.A. de C....",2022-01-31 10:16:13,Miguel Hernandez Ramirez,'659802020000300038,"Miguel Hernandez Ramirez,,168.75,6598020200003...",09:00,5QWT2C9B2_09:00
2022-01-31 09:46:15,013fc256-a2c1-466a-a916-3b55aec4e7e9,Tacos Don Carmelo,tacosdoncarmelo@gmail.com,QV23G5DSS,2022-01-31 00:00:00,364.13,PAID,"Opciones Empresariales del Noreste, S.A. de C....",2022-01-31 10:16:19,Otoniel Flores Torres,'659802020000047786,"Otoniel Flores Torres,,364.13,6598020200000477...",09:00,QV23G5DSS_09:00
2022-01-31 09:46:15,016b04ff-8655-450f-afab-417b1e375cfb,Maracaibo Y Sabor,fernandezgob@gmail.com,Z5DK2ZZZS,2022-01-31 00:00:00,"1,245.43",PAID,"Opciones Empresariales del Noreste, S.A. de C....",2022-01-31 10:16:13,Richard Jose Fernandez Fernandez,'659802020000540733,"Richard Jose Fernandez Fernandez,,1245.43,6598...",09:00,Z5DK2ZZZS_09:00
2022-01-31 09:46:15,018ea728-1b9e-43ef-bc47-1de244528643,El pollo talivan,plasmakoarcade69@gmail.com,VLH3B8ZFV,2022-01-31 00:00:00,90.56,PAID,"Opciones Empresariales del Noreste, S.A. de C....",2022-01-31 10:16:19,Mario ivan Flores Hernandez,'659802020000112941,"Mario ivan Flores Hernandez,,90.56,65980202000...",09:00,VLH3B8ZFV_09:00
2022-01-31 09:46:15,020a0ad3-4e44-426a-ad94-3b9800d457fd,Miscelanea Karla,ifer1482@hotmail.com,9GHG3BGXF,2022-01-31 00:00:00,320.53,PAID,"Opciones Empresariales del Noreste, S.A. de C....",2022-01-31 10:16:13,Israel Alejandro Fernandez Hoyos,'659802020000122025,"Israel Alejandro Fernandez Hoyos,,320.53,65980...",09:00,9GHG3BGXF_09:00

In [13]:
disp1.shape

(5127, 14)

## BIN

In [14]:
bin1 = pd.read_csv(r'C:\Users\Cristian.Aparicio\Documents\DISPERSIONES\Catalogo_Bancos.csv'
                  ,dtype={'BIN':str,'Clave de la instituciÃ³n':str,'Nombre de la instituciÃ³n':str})

In [15]:
bin1.head()

   BIN Clave de la instituciÃ³n Nombre de la instituciÃ³n
0  138                   40138              ABC CAPITAL
1  102                   40102            ACCENDO BANCO
2  133                   40133                 ACTINVER
3  062                   40062                   AFIRME
4  638                   90638                    AKALA

In [16]:
bin1.shape

(88, 3)

# ARCHIVO RESPUESTA

In [17]:
rs_concat['Date_respuesta'] = date_respuesta
rs_concat.rename(columns ={'bank_account_number':'CLABE'}, inplace=True)
rs_concat['BIN'] = rs_concat['CLABE'].str[:3].replace(' ', '',regex=True)
rs_concat.head()

,report_id,status,report_date_local,payment_date_local,amount,disbursement_batch_id,dsp_reference_id,entry_number,disbursement_id,CLABE,...,disbursement_tracking_key,number_movement,created_at,updated_at,error_description,file_name,Time_rs,INDEX,Date_respuesta,BIN
0,5QWT2C9B2,PAID,2022-01-31,2022-01-31,168.75,98aea216-b485-4bdf-96d4-434306becd9f,0900001,0,36ee5bce-0706-469e-82af-dbbefc4e1c4a,659802020000300038,...,17EB0D59E92E6860,0,2022-01-31,2022-02-01,NaN,Respuesta-FP-CITI-1 2022-01-31.xlsx,09:00,5QWT2C9B2_09:00,2022-01-31,659
1,QV23G5DSS,PAID,2022-01-31,2022-01-31,364.13,98aea216-b485-4bdf-96d4-434306becd9f,0900002,1,27768853-407b-4bcf-b0e1-540c85a4aa15,659802020000047786,...,17EB0D5A0407F9C9,0,2022-01-31,2022-02-01,NaN,Respuesta-FP-CITI-1 2022-01-31.xlsx,09:00,QV23G5DSS_09:00,2022-01-31,659
2,Z5DK2ZZZS,PAID,2022-01-31,2022-01-31,"1,245.43",98aea216-b485-4bdf-96d4-434306becd9f,0900003,2,85d89f7b-7b10-43ad-bfda-1ae29856021d,659802020000540733,...,17EB0D5A5399D1E4,0,2022-01-31,2022-02-01,NaN,Respuesta-FP-CITI-1 2022-01-31.xlsx,09:00,Z5DK2ZZZS_09:00,2022-01-31,659
3,VLH3B8ZFV,PAID,2022-01-31,2022-01-31,90.56,98aea216-b485-4bdf-96d4-434306becd9f,0900004,3,41544ff6-a875-4fc9-88e5-34e4005c1b40,659802020000112941,...,17EB0D5A6EFD9794,0,2022-01-31,2022-02-01,NaN,Respuesta-FP-CITI-1 2022-01-31.xlsx,09:00,VLH3B8ZFV_09:00,2022-01-31,659
4,9GHG3BGXF,PAID,2022-01-31,2022-01-31,320.53,98aea216-b485-4bdf-96d4-434306becd9f,0900005,4,18c2d3e2-d39e-4dce-8580-980ee20a0c65,659802020000122025,...,17EB0D5A63E09644,0,2022-01-31,2022-02-01,NaN,Respuesta-FP-CITI-1 2022-01-31.xlsx,09:00,9GHG3BGXF_09:00,2022-01-31,659

In [18]:
rs_concat.shape

(5127, 24)

In [19]:
rs_concat_2 = rs_concat.merge(bin1[['BIN','Clave de la instituciÃ³n','Nombre de la instituciÃ³n']] ,on='BIN', how='left')
rs_concat_2['Banco emisor'] = '40002'
rs_concat_2['Banco_emisor'] = 'BANAMEX'
rs_concat_2['LINEA CEP'] = rs_concat_2['Date_respuesta'].astype(str).replace(' ', '',regex=True)+','+rs_concat_2['disbursement_tracking_key'].astype(str).replace(' ', '',regex=True)+','+rs_concat_2['Banco emisor'].astype(str).replace(' ', '',regex=True)+','+rs_concat_2['Clave de la instituciÃ³n'].astype(str).replace(' ', '',regex=True)+','+rs_concat_2['CLABE'].astype(str).replace(' ', '',regex=True)+','+rs_concat_2['amount'].astype(str).replace(' ', '',regex=True)
rs_concat_2.head()

,report_id,status,report_date_local,payment_date_local,amount,disbursement_batch_id,dsp_reference_id,entry_number,disbursement_id,CLABE,...,file_name,Time_rs,INDEX,Date_respuesta,BIN,Clave de la instituciÃ³n,Nombre de la instituciÃ³n,Banco emisor,Banco_emisor,LINEA CEP
0,5QWT2C9B2,PAID,2022-01-31,2022-01-31,168.75,98aea216-b485-4bdf-96d4-434306becd9f,0900001,0,36ee5bce-0706-469e-82af-dbbefc4e1c4a,659802020000300038,...,Respuesta-FP-CITI-1 2022-01-31.xlsx,09:00,5QWT2C9B2_09:00,2022-01-31,659,90659,ASP INTEGRA OPC,40002,BANAMEX,"2022-01-31,17EB0D59E92E6860,40002,90659,659802..."
1,QV23G5DSS,PAID,2022-01-31,2022-01-31,364.13,98aea216-b485-4bdf-96d4-434306becd9f,0900002,1,27768853-407b-4bcf-b0e1-540c85a4aa15,659802020000047786,...,Respuesta-FP-CITI-1 2022-01-31.xlsx,09:00,QV23G5DSS_09:00,2022-01-31,659,90659,ASP INTEGRA OPC,40002,BANAMEX,"2022-01-31,17EB0D5A0407F9C9,40002,90659,659802..."
2,Z5DK2ZZZS,PAID,2022-01-31,2022-01-31,"1,245.43",98aea216-b485-4bdf-96d4-434306becd9f,0900003,2,85d89f7b-7b10-43ad-bfda-1ae29856021d,659802020000540733,...,Respuesta-FP-CITI-1 2022-01-31.xlsx,09:00,Z5DK2ZZZS_09:00,2022-01-31,659,90659,ASP INTEGRA OPC,40002,BANAMEX,"2022-01-31,17EB0D5A5399D1E4,40002,90659,659802..."
3,VLH3B8ZFV,PAID,2022-01-31,2022-01-31,90.56,98aea216-b485-4bdf-96d4-434306becd9f,0900004,3,41544ff6-a875-4fc9-88e5-34e4005c1b40,659802020000112941,...,Respuesta-FP-CITI-1 2022-01-31.xlsx,09:00,VLH3B8ZFV_09:00,2022-01-31,659,90659,ASP INTEGRA OPC,40002,BANAMEX,"2022-01-31,17EB0D5A6EFD9794,40002,90659,659802..."
4,9GHG3BGXF,PAID,2022-01-31,2022-01-31,320.53,98aea216-b485-4bdf-96d4-434306becd9f,0900005,4,18c2d3e2-d39e-4dce-8580-980ee20a0c65,659802020000122025,...,Respuesta-FP-CITI-1 2022-01-31.xlsx,09:00,9GHG3BGXF_09:00,2022-01-31,659,90659,ASP INTEGRA OPC,40002,BANAMEX,"2022-01-31,17EB0D5A63E09644,40002,90659,659802..."

In [20]:
rs_concat_2.shape

(5127, 29)

# ARCHIVO DISPERSION

In [21]:
disp1.head()

,merchant_id,merchant_name,user_email,report_id,report_date_local,amount,status,bank_name,payment_date_local,bank_account_owner_name,bank_account_number,swap,Time,INDEX
batch_created_date,,,,,,,,,,,,,,
2022-01-31 09:46:15,01054eec-e90e-42a8-9471-3fb1711cbbc1,Abarrotes La Perla De Magon,laperlademagon2021@hotmail.com,5QWT2C9B2,2022-01-31 00:00:00,168.75,PAID,"Opciones Empresariales del Noreste, S.A. de C....",2022-01-31 10:16:13,Miguel Hernandez Ramirez,'659802020000300038,"Miguel Hernandez Ramirez,,168.75,6598020200003...",09:00,5QWT2C9B2_09:00
2022-01-31 09:46:15,013fc256-a2c1-466a-a916-3b55aec4e7e9,Tacos Don Carmelo,tacosdoncarmelo@gmail.com,QV23G5DSS,2022-01-31 00:00:00,364.13,PAID,"Opciones Empresariales del Noreste, S.A. de C....",2022-01-31 10:16:19,Otoniel Flores Torres,'659802020000047786,"Otoniel Flores Torres,,364.13,6598020200000477...",09:00,QV23G5DSS_09:00
2022-01-31 09:46:15,016b04ff-8655-450f-afab-417b1e375cfb,Maracaibo Y Sabor,fernandezgob@gmail.com,Z5DK2ZZZS,2022-01-31 00:00:00,"1,245.43",PAID,"Opciones Empresariales del Noreste, S.A. de C....",2022-01-31 10:16:13,Richard Jose Fernandez Fernandez,'659802020000540733,"Richard Jose Fernandez Fernandez,,1245.43,6598...",09:00,Z5DK2ZZZS_09:00
2022-01-31 09:46:15,018ea728-1b9e-43ef-bc47-1de244528643,El pollo talivan,plasmakoarcade69@gmail.com,VLH3B8ZFV,2022-01-31 00:00:00,90.56,PAID,"Opciones Empresariales del Noreste, S.A. de C....",2022-01-31 10:16:19,Mario ivan Flores Hernandez,'659802020000112941,"Mario ivan Flores Hernandez,,90.56,65980202000...",09:00,VLH3B8ZFV_09:00
2022-01-31 09:46:15,020a0ad3-4e44-426a-ad94-3b9800d457fd,Miscelanea Karla,ifer1482@hotmail.com,9GHG3BGXF,2022-01-31 00:00:00,320.53,PAID,"Opciones Empresariales del Noreste, S.A. de C....",2022-01-31 10:16:13,Israel Alejandro Fernandez Hoyos,'659802020000122025,"Israel Alejandro Fernandez Hoyos,,320.53,65980...",09:00,9GHG3BGXF_09:00

In [22]:
disp1['report_date_local'] = pd.to_datetime(disp1['report_date_local'])

In [23]:
split = disp1["swap"].str.split(",",n=7,expand=True)
split.head()

,0,1,2,3,4
batch_created_date,,,,,
2022-01-31 09:46:15,Miguel Hernandez Ramirez,,168.75,659802020000300038,CLIP-5QWT2C9B2
2022-01-31 09:46:15,Otoniel Flores Torres,,364.13,659802020000047786,CLIP-QV23G5DSS
2022-01-31 09:46:15,Richard Jose Fernandez Fernandez,,1245.43,659802020000540733,CLIP-Z5DK2ZZZS
2022-01-31 09:46:15,Mario ivan Flores Hernandez,,90.56,659802020000112941,CLIP-VLH3B8ZFV
2022-01-31 09:46:15,Israel Alejandro Fernandez Hoyos,,320.53,659802020000122025,CLIP-9GHG3BGXF

In [24]:
disp1["swap"] = split[0] 
disp1["CLABE"] = split[3]

In [25]:
disp1.head()

,merchant_id,merchant_name,user_email,report_id,report_date_local,amount,status,bank_name,payment_date_local,bank_account_owner_name,bank_account_number,swap,Time,INDEX,CLABE
batch_created_date,,,,,,,,,,,,,,,
2022-01-31 09:46:15,01054eec-e90e-42a8-9471-3fb1711cbbc1,Abarrotes La Perla De Magon,laperlademagon2021@hotmail.com,5QWT2C9B2,2022-01-31,168.75,PAID,"Opciones Empresariales del Noreste, S.A. de C....",2022-01-31 10:16:13,Miguel Hernandez Ramirez,'659802020000300038,Miguel Hernandez Ramirez,09:00,5QWT2C9B2_09:00,659802020000300038
2022-01-31 09:46:15,013fc256-a2c1-466a-a916-3b55aec4e7e9,Tacos Don Carmelo,tacosdoncarmelo@gmail.com,QV23G5DSS,2022-01-31,364.13,PAID,"Opciones Empresariales del Noreste, S.A. de C....",2022-01-31 10:16:19,Otoniel Flores Torres,'659802020000047786,Otoniel Flores Torres,09:00,QV23G5DSS_09:00,659802020000047786
2022-01-31 09:46:15,016b04ff-8655-450f-afab-417b1e375cfb,Maracaibo Y Sabor,fernandezgob@gmail.com,Z5DK2ZZZS,2022-01-31,"1,245.43",PAID,"Opciones Empresariales del Noreste, S.A. de C....",2022-01-31 10:16:13,Richard Jose Fernandez Fernandez,'659802020000540733,Richard Jose Fernandez Fernandez,09:00,Z5DK2ZZZS_09:00,659802020000540733
2022-01-31 09:46:15,018ea728-1b9e-43ef-bc47-1de244528643,El pollo talivan,plasmakoarcade69@gmail.com,VLH3B8ZFV,2022-01-31,90.56,PAID,"Opciones Empresariales del Noreste, S.A. de C....",2022-01-31 10:16:19,Mario ivan Flores Hernandez,'659802020000112941,Mario ivan Flores Hernandez,09:00,VLH3B8ZFV_09:00,659802020000112941
2022-01-31 09:46:15,020a0ad3-4e44-426a-ad94-3b9800d457fd,Miscelanea Karla,ifer1482@hotmail.com,9GHG3BGXF,2022-01-31,320.53,PAID,"Opciones Empresariales del Noreste, S.A. de C....",2022-01-31 10:16:13,Israel Alejandro Fernandez Hoyos,'659802020000122025,Israel Alejandro Fernandez Hoyos,09:00,9GHG3BGXF_09:00,659802020000122025

In [26]:
disp1.loc[disp1['report_date_local'] == date_respuesta, 'tipo'] = 'Pago del dÃ­a'
disp1.loc[disp1['report_date_local'] != date_respuesta, 'tipo'] = 'ReprogramaciÃ³n'
disp1.drop(['bank_name','CLABE','status'],axis=1,inplace=True)
disp1.head()

,merchant_id,merchant_name,user_email,report_id,report_date_local,amount,payment_date_local,bank_account_owner_name,bank_account_number,swap,Time,INDEX,tipo
batch_created_date,,,,,,,,,,,,,
2022-01-31 09:46:15,01054eec-e90e-42a8-9471-3fb1711cbbc1,Abarrotes La Perla De Magon,laperlademagon2021@hotmail.com,5QWT2C9B2,2022-01-31,168.75,2022-01-31 10:16:13,Miguel Hernandez Ramirez,'659802020000300038,Miguel Hernandez Ramirez,09:00,5QWT2C9B2_09:00,Pago del dÃ­a
2022-01-31 09:46:15,013fc256-a2c1-466a-a916-3b55aec4e7e9,Tacos Don Carmelo,tacosdoncarmelo@gmail.com,QV23G5DSS,2022-01-31,364.13,2022-01-31 10:16:19,Otoniel Flores Torres,'659802020000047786,Otoniel Flores Torres,09:00,QV23G5DSS_09:00,Pago del dÃ­a
2022-01-31 09:46:15,016b04ff-8655-450f-afab-417b1e375cfb,Maracaibo Y Sabor,fernandezgob@gmail.com,Z5DK2ZZZS,2022-01-31,"1,245.43",2022-01-31 10:16:13,Richard Jose Fernandez Fernandez,'659802020000540733,Richard Jose Fernandez Fernandez,09:00,Z5DK2ZZZS_09:00,Pago del dÃ­a
2022-01-31 09:46:15,018ea728-1b9e-43ef-bc47-1de244528643,El pollo talivan,plasmakoarcade69@gmail.com,VLH3B8ZFV,2022-01-31,90.56,2022-01-31 10:16:19,Mario ivan Flores Hernandez,'659802020000112941,Mario ivan Flores Hernandez,09:00,VLH3B8ZFV_09:00,Pago del dÃ­a
2022-01-31 09:46:15,020a0ad3-4e44-426a-ad94-3b9800d457fd,Miscelanea Karla,ifer1482@hotmail.com,9GHG3BGXF,2022-01-31,320.53,2022-01-31 10:16:13,Israel Alejandro Fernandez Hoyos,'659802020000122025,Israel Alejandro Fernandez Hoyos,09:00,9GHG3BGXF_09:00,Pago del dÃ­a

In [27]:
disp_2 = disp1.merge(rs_concat_2[['report_id','status','Nombre de la instituciÃ³n','CLABE','LINEA CEP','Time_rs','Banco_emisor']]
                     ,on='report_id', how='left')
disp_2.sort_values(by=['status'])
disp_2["Time"].fillna('NO TIME',inplace=True)
disp_2.loc[disp_2['Time'] == 'NO TIME', 'status'] = 'ERROR'
disp_2.loc[(disp_2['LINEA CEP'].str.contains('nan')) & (['Nombre de la instituciÃ³n'] == 'BANAMEX'), 'status'] = 'ERROR'
# disp_2.loc[pd.notnull(disp_2['error_description']), 'status'] = 'ERROR'
disp_2.head()

,merchant_id,merchant_name,user_email,report_id,report_date_local,amount,payment_date_local,bank_account_owner_name,bank_account_number,swap,Time,INDEX,tipo,status,Nombre de la instituciÃ³n,CLABE,LINEA CEP,Time_rs,Banco_emisor
0,01054eec-e90e-42a8-9471-3fb1711cbbc1,Abarrotes La Perla De Magon,laperlademagon2021@hotmail.com,5QWT2C9B2,2022-01-31,168.75,2022-01-31 10:16:13,Miguel Hernandez Ramirez,'659802020000300038,Miguel Hernandez Ramirez,09:00,5QWT2C9B2_09:00,Pago del dÃ­a,PAID,ASP INTEGRA OPC,659802020000300038,"2022-01-31,17EB0D59E92E6860,40002,90659,659802...",09:00,BANAMEX
1,013fc256-a2c1-466a-a916-3b55aec4e7e9,Tacos Don Carmelo,tacosdoncarmelo@gmail.com,QV23G5DSS,2022-01-31,364.13,2022-01-31 10:16:19,Otoniel Flores Torres,'659802020000047786,Otoniel Flores Torres,09:00,QV23G5DSS_09:00,Pago del dÃ­a,PAID,ASP INTEGRA OPC,659802020000047786,"2022-01-31,17EB0D5A0407F9C9,40002,90659,659802...",09:00,BANAMEX
2,016b04ff-8655-450f-afab-417b1e375cfb,Maracaibo Y Sabor,fernandezgob@gmail.com,Z5DK2ZZZS,2022-01-31,"1,245.43",2022-01-31 10:16:13,Richard Jose Fernandez Fernandez,'659802020000540733,Richard Jose Fernandez Fernandez,09:00,Z5DK2ZZZS_09:00,Pago del dÃ­a,PAID,ASP INTEGRA OPC,659802020000540733,"2022-01-31,17EB0D5A5399D1E4,40002,90659,659802...",09:00,BANAMEX
3,018ea728-1b9e-43ef-bc47-1de244528643,El pollo talivan,plasmakoarcade69@gmail.com,VLH3B8ZFV,2022-01-31,90.56,2022-01-31 10:16:19,Mario ivan Flores Hernandez,'659802020000112941,Mario ivan Flores Hernandez,09:00,VLH3B8ZFV_09:00,Pago del dÃ­a,PAID,ASP INTEGRA OPC,659802020000112941,"2022-01-31,17EB0D5A6EFD9794,40002,90659,659802...",09:00,BANAMEX
4,020a0ad3-4e44-426a-ad94-3b9800d457fd,Miscelanea Karla,ifer1482@hotmail.com,9GHG3BGXF,2022-01-31,320.53,2022-01-31 10:16:13,Israel Alejandro Fernandez Hoyos,'659802020000122025,Israel Alejandro Fernandez Hoyos,09:00,9GHG3BGXF_09:00,Pago del dÃ­a,PAID,ASP INTEGRA OPC,659802020000122025,"2022-01-31,17EB0D5A63E09644,40002,90659,659802...",09:00,BANAMEX

In [28]:
disp_2.loc[disp_2['Nombre de la instituciÃ³n'] == 'BANAMEX', 'LINEA CEP'] = 'COMPROBANTE MISMO BANCO BANAMEX'
disp_2.loc[disp_2['status'] == 'ERROR', 'LINEA CEP'] = ''

In [29]:
for col in disp_2.columns: 
    print(col)

merchant_id
merchant_name
user_email
report_id
report_date_local
amount
payment_date_local
bank_account_owner_name
bank_account_number
swap
Time
INDEX
tipo
status
Nombre de la instituciÃ³n
CLABE
LINEA CEP
Time_rs
Banco_emisor

In [30]:
disp_final = disp_2[['merchant_id','merchant_name','user_email','report_id','report_date_local','amount','tipo'
                    ,'Nombre de la instituciÃ³n','swap','CLABE','status','LINEA CEP','Time','Banco_emisor']]
disp_final.rename(columns ={'Nombre de la instituciÃ³n':'bank','amount':'total_due','LINEA CEP':'CEP'}, inplace=True)
disp_final.sort_values(by=['status','Time'], ascending=True, inplace=True)
disp_final.drop_duplicates(subset =['report_id','Time'], keep ='first', inplace=True)
disp_final.head()

C:\Users\Cristian.Aparicio\anaconda3\lib\site-packages\pandas\core\frame.py:4133: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,
C:\Users\Cristian.Aparicio\anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
C:\Users\Cristian.Aparicio\anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

,merchant_id,merchant_name,user_email,report_id,report_date_local,total_due,tipo,bank,swap,CLABE,status,CEP,Time,Banco_emisor
24,06c70dee-c5c6-4b39-b8bc-f1162232b079,MacGiver Burger,jose.luismtzv61@gmail.com,ZVVGFH3GZ,2022-01-31,"1,926.06",Pago del dÃ­a,ASP INTEGRA OPC,Jose Luis Martinez Villarreal,659802020000327419,ERROR,,09:00,BANAMEX
108,1a09ceb7-827f-43e4-9c66-bcedf072f2f3,Le Pain,anton.soto@live.com.mx,S848MY6P7,2022-01-31,356.77,Pago del dÃ­a,ASP INTEGRA OPC,Marco Antonio Lopez Soto,659802020000311441,ERROR,,09:00,BANAMEX
135,22382125-4dfd-4cfa-bbed-56a50ea8c736,Jose Pablo,navaj4036@gmail.com,YW2VTDNGW,2022-01-31,705.91,Pago del dÃ­a,ASP INTEGRA OPC,Jose Pablo Nava Pascual,659802020000290041,ERROR,,09:00,BANAMEX
147,242c09ae-27df-4659-8c27-b806885df97d,Modelorama El Perla,facturasmodperla@gmail.com,C2FFF7BGT,2022-01-31,458.03,Pago del dÃ­a,ASP INTEGRA OPC,Maritza Genoveva Lopez Ancheta,659802020000571029,ERROR,,09:00,BANAMEX
165,2a5c96c2-12bc-465e-9a17-882b9a3ff77d,La Choza,jaquimaldonado220@gmail.com,VHHQDDDBR,2022-01-31,996.57,Pago del dÃ­a,ASP INTEGRA OPC,Jaqueline Maldonado Lopez,659802020000384708,ERROR,,09:00,BANAMEX

In [31]:
disp_final.shape

(5127, 14)

# ERROR

In [32]:
error = disp_final[(disp_final['status'] != 'PAID')]
error.head()

,merchant_id,merchant_name,user_email,report_id,report_date_local,total_due,tipo,bank,swap,CLABE,status,CEP,Time,Banco_emisor
24,06c70dee-c5c6-4b39-b8bc-f1162232b079,MacGiver Burger,jose.luismtzv61@gmail.com,ZVVGFH3GZ,2022-01-31,"1,926.06",Pago del dÃ­a,ASP INTEGRA OPC,Jose Luis Martinez Villarreal,659802020000327419,ERROR,,09:00,BANAMEX
108,1a09ceb7-827f-43e4-9c66-bcedf072f2f3,Le Pain,anton.soto@live.com.mx,S848MY6P7,2022-01-31,356.77,Pago del dÃ­a,ASP INTEGRA OPC,Marco Antonio Lopez Soto,659802020000311441,ERROR,,09:00,BANAMEX
135,22382125-4dfd-4cfa-bbed-56a50ea8c736,Jose Pablo,navaj4036@gmail.com,YW2VTDNGW,2022-01-31,705.91,Pago del dÃ­a,ASP INTEGRA OPC,Jose Pablo Nava Pascual,659802020000290041,ERROR,,09:00,BANAMEX
147,242c09ae-27df-4659-8c27-b806885df97d,Modelorama El Perla,facturasmodperla@gmail.com,C2FFF7BGT,2022-01-31,458.03,Pago del dÃ­a,ASP INTEGRA OPC,Maritza Genoveva Lopez Ancheta,659802020000571029,ERROR,,09:00,BANAMEX
165,2a5c96c2-12bc-465e-9a17-882b9a3ff77d,La Choza,jaquimaldonado220@gmail.com,VHHQDDDBR,2022-01-31,996.57,Pago del dÃ­a,ASP INTEGRA OPC,Jaqueline Maldonado Lopez,659802020000384708,ERROR,,09:00,BANAMEX

In [33]:
error.shape

(200, 14)

In [34]:
error.drop(['swap','CLABE','status','CEP','Banco_emisor'],axis=1,inplace=True)

C:\Users\Cristian.Aparicio\anaconda3\lib\site-packages\pandas\core\frame.py:3997: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [35]:
error_final = error
error_final.head()

,merchant_id,merchant_name,user_email,report_id,report_date_local,total_due,tipo,bank,Time
24,06c70dee-c5c6-4b39-b8bc-f1162232b079,MacGiver Burger,jose.luismtzv61@gmail.com,ZVVGFH3GZ,2022-01-31,"1,926.06",Pago del dÃ­a,ASP INTEGRA OPC,09:00
108,1a09ceb7-827f-43e4-9c66-bcedf072f2f3,Le Pain,anton.soto@live.com.mx,S848MY6P7,2022-01-31,356.77,Pago del dÃ­a,ASP INTEGRA OPC,09:00
135,22382125-4dfd-4cfa-bbed-56a50ea8c736,Jose Pablo,navaj4036@gmail.com,YW2VTDNGW,2022-01-31,705.91,Pago del dÃ­a,ASP INTEGRA OPC,09:00
147,242c09ae-27df-4659-8c27-b806885df97d,Modelorama El Perla,facturasmodperla@gmail.com,C2FFF7BGT,2022-01-31,458.03,Pago del dÃ­a,ASP INTEGRA OPC,09:00
165,2a5c96c2-12bc-465e-9a17-882b9a3ff77d,La Choza,jaquimaldonado220@gmail.com,VHHQDDDBR,2022-01-31,996.57,Pago del dÃ­a,ASP INTEGRA OPC,09:00

In [36]:
error.loc[error['bank'] == 'BANAMEX', 'Check'] = 'SPEI DEVUELTO MISMO BANCO'
error.loc[error['bank'] != 'BANAMEX', 'Check'] = 'SPEI DEVUELTO'

C:\Users\Cristian.Aparicio\anaconda3\lib\site-packages\pandas\core\indexing.py:844: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[key] = _infer_fill_value(value)
C:\Users\Cristian.Aparicio\anaconda3\lib\site-packages\pandas\core\indexing.py:965: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

In [37]:
error.shape

(200, 10)

In [38]:
error_final = error.merge(rs_concat_2[['report_id','error_description']],on='report_id',how='left')
error_final.head()

,merchant_id,merchant_name,user_email,report_id,report_date_local,total_due,tipo,bank,Time,Check,error_description
0,06c70dee-c5c6-4b39-b8bc-f1162232b079,MacGiver Burger,jose.luismtzv61@gmail.com,ZVVGFH3GZ,2022-01-31,"1,926.06",Pago del dÃ­a,ASP INTEGRA OPC,09:00,SPEI DEVUELTO,/99999999/CB Rejected RECONFIRMATION NOT CARRI...
1,1a09ceb7-827f-43e4-9c66-bcedf072f2f3,Le Pain,anton.soto@live.com.mx,S848MY6P7,2022-01-31,356.77,Pago del dÃ­a,ASP INTEGRA OPC,09:00,SPEI DEVUELTO,/99999999/CB Rejected RECONFIRMATION NOT CARRI...
2,22382125-4dfd-4cfa-bbed-56a50ea8c736,Jose Pablo,navaj4036@gmail.com,YW2VTDNGW,2022-01-31,705.91,Pago del dÃ­a,ASP INTEGRA OPC,09:00,SPEI DEVUELTO,/99999999/CB Rejected RECONFIRMATION NOT CARRI...
3,242c09ae-27df-4659-8c27-b806885df97d,Modelorama El Perla,facturasmodperla@gmail.com,C2FFF7BGT,2022-01-31,458.03,Pago del dÃ­a,ASP INTEGRA OPC,09:00,SPEI DEVUELTO,/99999999/CB Rejected RECONFIRMATION NOT CARRI...
4,2a5c96c2-12bc-465e-9a17-882b9a3ff77d,La Choza,jaquimaldonado220@gmail.com,VHHQDDDBR,2022-01-31,996.57,Pago del dÃ­a,ASP INTEGRA OPC,09:00,SPEI DEVUELTO,/99999999/CB Rejected RECONFIRMATION NOT CARRI...

In [39]:
error_final.shape

(200, 11)

# ARCHIVOS FINALES

### ARCHIVO DISPERSION

In [40]:
writer = pd.ExcelWriter(r'C:\Users\Cristian.Aparicio\Documents\FAST PAYMENTS\2022\01. ENERO\ARCHIVO DISPERSIONES FP\CITI\DispersiÃ³n-FP-CITI 2022-01-31.xlsx', engine='xlsxwriter', options={'encoding':'utf-8'})
disp_final.to_excel(writer, sheet_name='FAST PAYMENTS',index=False)
error_final.to_excel(writer, sheet_name='ERROR',index=False)
writer.save()
writer.close()

### ARCHIVO DISPERSIÃ“N - TODO POR CITI

In [41]:
writer = pd.ExcelWriter(r'C:\Users\Cristian.Aparicio\Documents\FAST PAYMENTS\2022\01. ENERO\ARCHIVO DISPERSIONES FP\DispersiÃ³n-FP 2022-01-31.xlsx', engine='xlsxwriter', options={'encoding':'utf-8'})
disp_final.to_excel(writer, sheet_name='FAST PAYMENTS',index=False)
error_final.to_excel(writer, sheet_name='ERROR',index=False)
writer.save()
writer.close()

### ARCHIVO RESPUESTA

In [42]:
rs_concat.to_csv(r'C:\Users\Cristian.Aparicio\Documents\FAST PAYMENTS\2022\01. ENERO\ARCHIVO RESPUESTAS FINALES\Respuesta-FP-CITI 2022-01-31.csv',index=False)

In [ ]:
# book = load_workbook('DispersiÃ³n-FP 2020-07-20.xlsx')
# writer = pd.ExcelWriter('DispersiÃ³n-FP 2020-07-20.xlsx', engine='openpyxl', options={'encoding':'utf-8'})
# writer.book = book
# match_final.to_excel(writer, sheet_name='FP-2 2020-07-20', index=False)
# writer.save()
# writer.close()