In [1]:
import pandas as pd
import numpy as np
import glob
import os
from openpyxl import load_workbook
pd.options.display.float_format = '{:,.2f}'.format
import gc

# RUTAS

### JOURNAL - NETSUITE

In [7]:
url = r'C:\Users\Cristian.Aparicio\Documents\POLIZAS\2024\01. ENERO\Journal_netsuite ENERO 2024.xlsx'

In [8]:
poliza_ns_file = pd.ExcelFile(url)
poliza_ns_file

In [9]:
poliza_ns_file.sheet_names

['2024.01.01',
 '2024.01.02',
 '2024.01.03',
 '2024.01.04',
 '2024.01.05',
 '2024.01.06',
 '2024.01.07',
 '2024.01.08',
 '2024.01.09',
 '2024.01.10',
 '2024.01.11',
 '2024.01.12',
 '2024.01.13',
 '2024.01.14',
 '2024.01.15',
 '2024.01.16',
 '2024.01.17',
 '2024.01.18',
 '2024.01.19',
 '2024.01.20',
 '2024.01.21',
 '2024.01.22',
 '2024.01.23',
 '2024.01.24',
 '2024.01.25',
 '2024.01.26',
 '2024.01.27',
 '2024.01.28',
 '2024.01.29',
 '2024.01.30',
 '2024.01.31']

In [10]:
all_sheets = pd.read_excel(url, sheet_name=[0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30])

In [13]:
poliza_ns = pd.concat(all_sheets).reset_index()
poliza_ns.columns = poliza_ns.columns.str.strip().str.lower() 
poliza_ns.head()

,level_0,level_1,cuenta,débito,crédito,nota,pbc account type,historial,sisense_new,diff,...,new_script,diff.1,sisense_new_version,date,concept,type,key,amount,unnamed: 18,unnamed: 16
0,0,0,219-05-01 settlement process CXP : Loans : CxP...,NaN,"621,817.82",Adj Loans Lenders,Cuentas a pagar,Historial,"621,817.82",0.00,...,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN
1,0,1,219-01-01 settlement process CXP : Settlement ...,0.00,0.00,Adjustments Cancelaciones,Cuentas a pagar,Historial,NaN,0.00,...,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN
2,0,2,219-01-01 settlement process CXP : Settlement ...,0.00,0.00,Adjustments Cancelaciones Fees,Cuentas a pagar,Historial,NaN,0.00,...,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN
3,0,3,219-01-01 settlement process CXP : Settlement ...,0.00,0.00,Adjustments Cancelaciones Taxes,Cuentas a pagar,Historial,NaN,0.00,...,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN
4,0,4,603-85-01 Gastos de administración : Reserva d...,NaN,"87,502.99",Cobranza,Gasto,Historial,"87,502.99",0.00,...,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
poliza_ns.shape

(1395, 23)

In [15]:
poliza_ns['level_0'].unique()

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30],
      dtype=int64)

In [16]:
poliza_ns_final = poliza_ns[['level_0','cuenta','débito','crédito','nota','pbc account type','historial']]
poliza_ns_final.head()

,level_0,cuenta,débito,crédito,nota,pbc account type,historial
0,0,219-05-01 settlement process CXP : Loans : CxP...,NaN,"621,817.82",Adj Loans Lenders,Cuentas a pagar,Historial
1,0,219-01-01 settlement process CXP : Settlement ...,0.00,0.00,Adjustments Cancelaciones,Cuentas a pagar,Historial
2,0,219-01-01 settlement process CXP : Settlement ...,0.00,0.00,Adjustments Cancelaciones Fees,Cuentas a pagar,Historial
3,0,219-01-01 settlement process CXP : Settlement ...,0.00,0.00,Adjustments Cancelaciones Taxes,Cuentas a pagar,Historial
4,0,603-85-01 Gastos de administración : Reserva d...,NaN,"87,502.99",Cobranza,Gasto,Historial

In [17]:
poliza_ns_final.shape

(1395, 7)

In [20]:
poliza_ns_final.to_excel('Comparativo_netsuite ENERO 2024.xlsx',index=False)