In [1]:
import pandas as pd
import numpy as np
from openpyxl import load_workbook
pd.options.display.float_format = '{:,.2f}'.format

In [2]:
headers = ['merchant_id','merchant_name','report_id','report_date_local','total_transactions','total_fees_charged',
           'total_taxes','applied_fees_benefits','applied_taxes_benefits','fee_direct_deposit','taxes_direct_deposit',
           'total_adjustments','total_adjustment_fees_charged','total_adjustment_taxes','cobranza','total_released',
           'total_retained','tipopago','total_due','type','created_date','created_time','updated_date','updated_time']

In [3]:
settled= pd.read_csv(r'C:\Users\Cristian.Aparicio\Documents\DISPERSIONES\2024\01. ENERO\SETTLEMENT 2024-01-31.csv')
settled.columns = settled.columns.str.strip().str.lower() 
settled['report_date_local'] = pd.to_datetime(settled['report_date_local'])
settled.head()

Empty DataFrame
Columns: [merchant_id, merchant_name, user_email, report_id, report_date_local, total_transactions, total_fees_charged, total_taxes, applied_fees_benefits, applied_taxes_benefits, fee_direct_deposit, taxes_direct_deposit, total_adjustments, total_adjustment_fees_charged, total_adjustment_taxes, cobranza, total_released, total_retained, tipopago, total_due, type, created_date, created_time, updated_date, updated_time]
Index: []

[0 rows x 25 columns]

In [4]:
settled.shape

(0, 25)

In [5]:
duplicates = settled[settled.duplicated(['report_id'] , keep=False)]
duplicates.head()

Empty DataFrame
Columns: [merchant_id, merchant_name, user_email, report_id, report_date_local, total_transactions, total_fees_charged, total_taxes, applied_fees_benefits, applied_taxes_benefits, fee_direct_deposit, taxes_direct_deposit, total_adjustments, total_adjustment_fees_charged, total_adjustment_taxes, cobranza, total_released, total_retained, tipopago, total_due, type, created_date, created_time, updated_date, updated_time]
Index: []

[0 rows x 25 columns]

In [6]:
duplicates.shape

(0, 25)

In [7]:
settled.sort_values(by=['updated_time','tipopago','type'],ascending=True,inplace=True)
settled.drop_duplicates(subset='report_id', keep='first', inplace=True)
settled.head()

Empty DataFrame
Columns: [merchant_id, merchant_name, user_email, report_id, report_date_local, total_transactions, total_fees_charged, total_taxes, applied_fees_benefits, applied_taxes_benefits, fee_direct_deposit, taxes_direct_deposit, total_adjustments, total_adjustment_fees_charged, total_adjustment_taxes, cobranza, total_released, total_retained, tipopago, total_due, type, created_date, created_time, updated_date, updated_time]
Index: []

[0 rows x 25 columns]

In [8]:
settled.shape

(0, 25)

In [9]:
settled['report_date_local'].unique()

<DatetimeArray>
[]
Length: 0, dtype: datetime64[ns]

In [10]:
settled.to_csv('SETTLEMENT 2024-01-31.csv',index=False)