In [3]:
import pandas as pd
import numpy as np
import glob
import os
from openpyxl import load_workbook
pd.options.display.float_format = '{:,.2f}'.format
import gc

In [4]:
start_date_fact = '2024-01-01'
final_date_fact = '2024-01-31'

# RUTAS

### QUERY

In [5]:
query_files = glob.glob(r'G:\My Drive\RESPALDO-PC\FACTURACION-SISENSE\*.tsv', recursive=False)
query_files

['G:\\My Drive\\RESPALDO-PC\\FACTURACION-SISENSE\\300_FACTURACION_COMISIONES_DETALLE ENERO 2024.tsv']

In [6]:
query = pd.concat([pd.read_csv(f, sep='\t').assign(file_name=os.path.basename(f)) for f in query_files])
query.columns = query.columns.str.strip().str.lower()
query.replace('""','', regex=True, inplace=True)
query['eff_dt'] =  pd.to_datetime(query['eff_dt'])
query['created_at'] = pd.to_datetime(query['created_at'])
query.head()

,eff_dt,created_at,month_facturacion,month_transaccion,merchant_id,mvnt_id,receipt_no,mdr,msi,mvnt_type,...,bill_payments_amount_paid,bill_payments_fees_dep,bill_payments_taxes_dep,bill_payments_fees_com,bill_payments_taxes_com,ingreso_bill_payments_fees,ingreso_bill_payments_taxes,net_fee,net_fee_taxes,file_name
0,2024-01-01,2023-12-31,January,December,0000bc20-a726-4fe6-b784-1eb97c287ad5,2f7381b6-6042-421f-9fda-fb113a9d92e4,HwdiTlJ,0.04,0.00,STL_PCS_RQ,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,5.65,0.90,300_FACTURACION_COMISIONES_DETALLE ENERO 2024.tsv
1,2024-01-01,2023-12-31,January,December,0000bc20-a726-4fe6-b784-1eb97c287ad5,83ffe482-1733-45b1-a558-f9193dbc5abf,zC6EWNG,0.04,0.00,STL_PCS_RQ,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,3.31,0.53,300_FACTURACION_COMISIONES_DETALLE ENERO 2024.tsv
2,2024-01-01,2023-12-31,January,December,0000bc20-a726-4fe6-b784-1eb97c287ad5,2361a715-206d-40d6-94c7-9175f1066bb8,zOESRu8,0.04,0.00,STL_PCS_RQ,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,4.50,0.72,300_FACTURACION_COMISIONES_DETALLE ENERO 2024.tsv
3,2024-01-01,2023-12-31,January,December,0000bc20-a726-4fe6-b784-1eb97c287ad5,418daf7b-fb61-469d-b8ac-f618a35915e9,dmCbS8L,0.04,0.00,STL_PCS_RQ,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,5.51,0.88,300_FACTURACION_COMISIONES_DETALLE ENERO 2024.tsv
4,2024-01-01,2023-12-31,January,December,0000bc20-a726-4fe6-b784-1eb97c287ad5,f544d3cf-1ea7-4b71-a0aa-0b12c0e7f156,zEcf7lQ,0.04,0.00,STL_PCS_RQ,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,2.70,0.43,300_FACTURACION_COMISIONES_DETALLE ENERO 2024.tsv

In [7]:
query.shape

(16085835, 54)

In [8]:
query.columns

Index(['eff_dt', 'created_at', 'month_facturacion', 'month_transaccion',
       'merchant_id', 'mvnt_id', 'receipt_no', 'mdr', 'msi', 'mvnt_type',
       'pymt_prg', 'currency', 'type_request', 'movement_type', 'source_type',
       'status_code', 'dcc_status', 'sett_psp_amount', 'sett_gross_amount',
       'sett_fees', 'sett_taxes', 'sett_net_amount', 'sett_journal_amount',
       'cancel_psp_amount', 'cancel_gross_amount', 'cancel_fees',
       'cancel_taxes', 'cancel_net_amount', 'cancel_journal_amount',
       'psp_amount', 'gross_amount', 'gross_amount_final', 'fees', 'taxes',
       'net_amount', 'gross_amount_dp', 'ingreso_deferred', 'fees_deferred',
       'taxes_deferred', 'topups_fees', 'topups_taxes', 'fees_cashback',
       'taxes_cashback', 'bill_payments_gross_amount',
       'bill_payments_amount_paid', 'bill_payments_fees_dep',
       'bill_payments_taxes_dep', 'bill_payments_fees_com',
       'bill_payments_taxes_com', 'ingreso_bill_payments_fees',
       'ingreso_bill_payments_taxes', 'net_fee', 'net_fee_taxes', 'file_name'],
      dtype='object')

In [97]:
query.status_code.unique()

array([ 1., nan,  3., -6.,  5.,  0.,  8.,  6.])

In [99]:
query_status_code = query[(query['status_code'] != '1')]
query_status_code.head()

,eff_dt,created_at,month_facturacion,month_transaccion,merchant_id,mvnt_id,receipt_no,mdr,msi,mvnt_type,...,bill_payments_amount_paid,bill_payments_fees_dep,bill_payments_taxes_dep,bill_payments_fees_com,bill_payments_taxes_com,ingreso_bill_payments_fees,ingreso_bill_payments_taxes,net_fee,net_fee_taxes,file_name
0,2024-01-01,2023-12-31,January,December,0000bc20-a726-4fe6-b784-1eb97c287ad5,2f7381b6-6042-421f-9fda-fb113a9d92e4,HwdiTlJ,0.04,0.00,STL_PCS_RQ,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,5.65,0.90,300_FACTURACION_COMISIONES_DETALLE ENERO 2024.tsv
1,2024-01-01,2023-12-31,January,December,0000bc20-a726-4fe6-b784-1eb97c287ad5,83ffe482-1733-45b1-a558-f9193dbc5abf,zC6EWNG,0.04,0.00,STL_PCS_RQ,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,3.31,0.53,300_FACTURACION_COMISIONES_DETALLE ENERO 2024.tsv
2,2024-01-01,2023-12-31,January,December,0000bc20-a726-4fe6-b784-1eb97c287ad5,2361a715-206d-40d6-94c7-9175f1066bb8,zOESRu8,0.04,0.00,STL_PCS_RQ,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,4.50,0.72,300_FACTURACION_COMISIONES_DETALLE ENERO 2024.tsv
3,2024-01-01,2023-12-31,January,December,0000bc20-a726-4fe6-b784-1eb97c287ad5,418daf7b-fb61-469d-b8ac-f618a35915e9,dmCbS8L,0.04,0.00,STL_PCS_RQ,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,5.51,0.88,300_FACTURACION_COMISIONES_DETALLE ENERO 2024.tsv
4,2024-01-01,2023-12-31,January,December,0000bc20-a726-4fe6-b784-1eb97c287ad5,f544d3cf-1ea7-4b71-a0aa-0b12c0e7f156,zEcf7lQ,0.04,0.00,STL_PCS_RQ,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,2.70,0.43,300_FACTURACION_COMISIONES_DETALLE ENERO 2024.tsv

### PESTAÃ‘A RESUMEN

In [27]:
pivot_fact_resumen = pd.pivot_table(query,index=['month_facturacion'],
                                  values=['gross_amount_final','fees','topups_fees','ingreso_bill_payments_fees','bill_payments_fees_dep',
                                         'fees_cashback','net_fee','net_fee_taxes','gross_amount_dp','fees_deferred','taxes_deferred'],
                                  aggfunc = ['sum'],
                                  margins=True)
pivot_fact_resumen.head()

                                     sum                               \
                  bill_payments_fees_dep           fees fees_cashback
month_facturacion
January                        21,543.10 313,895,827.58     47,414.18
All                            21,543.10 313,895,827.58     47,414.18

                                                                    \
                  fees_deferred gross_amount_dp gross_amount_final
month_facturacion
January            6,176,882.34   56,227,090.18   7,763,785,087.61
All                6,176,882.34   56,227,090.18   7,763,785,087.61

                                                                           \
                  ingreso_bill_payments_fees        net_fee net_fee_taxes
month_facturacion
January                           107,715.52 313,333,776.50 50,133,404.24
All                               107,715.52 313,333,776.50 50,133,404.24


                  taxes_deferred topups_fees
month_facturacion
January               988,301.17  600,809.31
All                   988,301.17  600,809.31

In [28]:
pivot_fact_total.columns

Index(['bill_payments_fees_dep', 'fees', 'fees_cashback', 'fees_deferred',
       'gross_amount_dp', 'gross_amount_final', 'ingreso_bill_payments_fees',
       'net_fee', 'net_fee_taxes', 'taxes_deferred', 'topups_fees'],
      dtype='object')

In [29]:
pivot_fact_resumen.columns = pivot_fact_resumen.columns.droplevel(0)

In [30]:
pivot_fact_resumen.head()

,bill_payments_fees_dep,fees,fees_cashback,fees_deferred,gross_amount_dp,gross_amount_final,ingreso_bill_payments_fees,net_fee,net_fee_taxes,taxes_deferred,topups_fees
month_facturacion,,,,,,,,,,,
January,"21,543.10","313,895,827.58","47,414.18","6,176,882.34","56,227,090.18","7,763,785,087.61","107,715.52","313,333,776.50","50,133,404.24","988,301.17","600,809.31"
All,"21,543.10","313,895,827.58","47,414.18","6,176,882.34","56,227,090.18","7,763,785,087.61","107,715.52","313,333,776.50","50,133,404.24","988,301.17","600,809.31"

In [31]:
pivot_fact_total.columns

Index(['bill_payments_fees_dep', 'fees', 'fees_cashback', 'fees_deferred',
       'gross_amount_dp', 'gross_amount_final', 'ingreso_bill_payments_fees',
       'net_fee', 'net_fee_taxes', 'taxes_deferred', 'topups_fees'],
      dtype='object')

In [70]:
fact_final_resumen = pivot_fact_resumen[['gross_amount_final','fees','topups_fees','ingreso_bill_payments_fees','bill_payments_fees_dep',
                                         'fees_cashback','net_fee','net_fee_taxes','gross_amount_dp','fees_deferred','taxes_deferred']]
fact_final_resumen.reset_index(inplace=True)
fact_final_resumen.head()

,month_facturacion,gross_amount_final,fees,topups_fees,ingreso_bill_payments_fees,bill_payments_fees_dep,fees_cashback,net_fee,net_fee_taxes,gross_amount_dp,fees_deferred,taxes_deferred
0,January,"7,763,785,087.61","313,895,827.58","600,809.31","107,715.52","21,543.10","47,414.18","313,333,776.50","50,133,404.24","56,227,090.18","6,176,882.34","988,301.17"
1,All,"7,763,785,087.61","313,895,827.58","600,809.31","107,715.52","21,543.10","47,414.18","313,333,776.50","50,133,404.24","56,227,090.18","6,176,882.34","988,301.17"

In [71]:
fact_final_resumen.shape

(2, 12)

### PESTAÃ‘A FACTURACION TOTAL

In [72]:
pivot_fact_total = pd.pivot_table(query,index=['merchant_id'],
                                  values=['net_amount','gross_amount_final','fees','topups_fees','ingreso_bill_payments_fees',
                                          'bill_payments_fees_dep','fees_cashback','net_fee','net_fee_taxes','gross_amount_dp',
                                          'fees_deferred','taxes_deferred'],
                                  aggfunc = ['sum'],
                                  margins=True)
pivot_fact_total.head()

                                                        sum            \
                                     bill_payments_fees_dep      fees
merchant_id
0000275f-d46b-4a9c-a227-42d6f7ce63bd                   0.00    216.00
00007725-3116-48dc-9b82-4145699dc290                   0.00     72.00
00008e01-812f-487e-8f34-a80bcb0ae3e3                   0.00 23,450.30
000096e6-5d2f-47e9-a924-4b413eca6a43                   0.00    108.54
0000b65a-c2a2-4993-8f4c-05e5b7cbd7c0                   0.00    906.42

                                                                  \
                                     fees_cashback fees_deferred
merchant_id
0000275f-d46b-4a9c-a227-42d6f7ce63bd          0.00          0.00
00007725-3116-48dc-9b82-4145699dc290          0.00          0.00
00008e01-812f-487e-8f34-a80bcb0ae3e3          0.00          0.00
000096e6-5d2f-47e9-a924-4b413eca6a43          0.00          0.00
0000b65a-c2a2-4993-8f4c-05e5b7cbd7c0          0.00          0.00

                                                                         \
                                     gross_amount_dp gross_amount_final
merchant_id
0000275f-d46b-4a9c-a227-42d6f7ce63bd            0.00           6,000.00
00007725-3116-48dc-9b82-4145699dc290            0.00           2,000.00
00008e01-812f-487e-8f34-a80bcb0ae3e3            0.00         218,695.00
000096e6-5d2f-47e9-a924-4b413eca6a43            0.00           3,015.00
0000b65a-c2a2-4993-8f4c-05e5b7cbd7c0            0.00          25,177.97

                                                                            \
                                     ingreso_bill_payments_fees net_amount
merchant_id
0000275f-d46b-4a9c-a227-42d6f7ce63bd                       0.00   5,749.44
00007725-3116-48dc-9b82-4145699dc290                       0.00   1,916.48
00008e01-812f-487e-8f34-a80bcb0ae3e3                       0.00 191,492.66
000096e6-5d2f-47e9-a924-4b413eca6a43                       0.00   2,889.09
0000b65a-c2a2-4993-8f4c-05e5b7cbd7c0                       0.00  24,126.52

                                                                             \
                                       net_fee net_fee_taxes taxes_deferred
merchant_id
0000275f-d46b-4a9c-a227-42d6f7ce63bd    216.00         34.56           0.00
00007725-3116-48dc-9b82-4145699dc290     72.00         11.52           0.00
00008e01-812f-487e-8f34-a80bcb0ae3e3 23,450.30      3,752.05           0.00
000096e6-5d2f-47e9-a924-4b413eca6a43    108.54         17.37           0.00
0000b65a-c2a2-4993-8f4c-05e5b7cbd7c0    906.42        145.03           0.00


                                     topups_fees
merchant_id
0000275f-d46b-4a9c-a227-42d6f7ce63bd        0.00
00007725-3116-48dc-9b82-4145699dc290        0.00
00008e01-812f-487e-8f34-a80bcb0ae3e3        0.00
000096e6-5d2f-47e9-a924-4b413eca6a43        0.00
0000b65a-c2a2-4993-8f4c-05e5b7cbd7c0        0.00

In [73]:
pivot_fact_total.shape

(353616, 12)

In [74]:
pivot_fact_total.columns = pivot_fact_total.columns.droplevel(0)

In [75]:
fact_final_total = pivot_fact_total[['net_amount','gross_amount_final','fees','topups_fees','ingreso_bill_payments_fees','bill_payments_fees_dep',
                                         'fees_cashback','net_fee','net_fee_taxes','gross_amount_dp','fees_deferred','taxes_deferred']]
fact_final_total.reset_index(inplace=True)
fact_final_total.head()

,merchant_id,net_amount,gross_amount_final,fees,topups_fees,ingreso_bill_payments_fees,bill_payments_fees_dep,fees_cashback,net_fee,net_fee_taxes,gross_amount_dp,fees_deferred,taxes_deferred
0,0000275f-d46b-4a9c-a227-42d6f7ce63bd,"5,749.44","6,000.00",216.00,0.00,0.00,0.00,0.00,216.00,34.56,0.00,0.00,0.00
1,00007725-3116-48dc-9b82-4145699dc290,"1,916.48","2,000.00",72.00,0.00,0.00,0.00,0.00,72.00,11.52,0.00,0.00,0.00
2,00008e01-812f-487e-8f34-a80bcb0ae3e3,"191,492.66","218,695.00","23,450.30",0.00,0.00,0.00,0.00,"23,450.30","3,752.05",0.00,0.00,0.00
3,000096e6-5d2f-47e9-a924-4b413eca6a43,"2,889.09","3,015.00",108.54,0.00,0.00,0.00,0.00,108.54,17.37,0.00,0.00,0.00
4,0000b65a-c2a2-4993-8f4c-05e5b7cbd7c0,"24,126.52","25,177.97",906.42,0.00,0.00,0.00,0.00,906.42,145.03,0.00,0.00,0.00

In [76]:
fact_final_total.shape

(353616, 13)

### PESTAÃ‘A DEFERRED PAYMENTS

In [77]:
query_deferred_payments = query[(query['movement_type'].isin(['DEFERRED_REGULAR_PYMNT_RQ','DEFERRED_FAST_PYMNT_RQ']))]
query_deferred_payments.head()

,eff_dt,created_at,month_facturacion,month_transaccion,merchant_id,mvnt_id,receipt_no,mdr,msi,mvnt_type,...,bill_payments_amount_paid,bill_payments_fees_dep,bill_payments_taxes_dep,bill_payments_fees_com,bill_payments_taxes_com,ingreso_bill_payments_fees,ingreso_bill_payments_taxes,net_fee,net_fee_taxes,file_name
2384,2024-01-01,2023-12-31,January,December,014ec0da-f2a0-44ce-aa14-40ec23dde5c1,81473f16-24c1-4f21-91b1-291f49c9dd19,4KiWLwx,0.04,0.00,STL_PCS_RQ,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,55.80,8.93,300_FACTURACION_COMISIONES_DETALLE ENERO 2024.tsv
3354,2024-01-01,2023-12-31,January,December,01d6a5b9-ceb5-4e3b-988a-a1aabb879f7f,161a14fe-ba04-48fe-92e1-2860d2f26c22,krH11CU,0.04,0.00,STL_PCS_RQ,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,21.78,3.48,300_FACTURACION_COMISIONES_DETALLE ENERO 2024.tsv
3658,2024-01-01,2023-12-31,January,December,01e7a033-b7d6-491f-938e-0bc40f37541d,68eebc20-e1a2-439e-9c75-f0a75a5d117d,6RRZApG,0.04,0.00,STL_PCS_RQ,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,11.59,1.85,300_FACTURACION_COMISIONES_DETALLE ENERO 2024.tsv
3835,2024-01-01,2023-12-31,January,December,01ff3dcc-369f-44d3-80ba-dceaf88b1f5d,6f867013-5548-4f7b-9182-afb65100d793,0mlpKrM,0.04,0.00,STL_PCS_RQ,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,16.27,2.60,300_FACTURACION_COMISIONES_DETALLE ENERO 2024.tsv
4209,2024-01-01,2023-12-31,January,December,0238a384-af2b-4da2-affe-b4b7ea3d4ce3,1baa92c4-5ce1-40bb-8058-b5c22f2407eb,7BmEDAR,0.04,0.00,STL_PCS_RQ,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,36.00,5.76,300_FACTURACION_COMISIONES_DETALLE ENERO 2024.tsv

In [78]:
query_deferred_payments.shape

(19893, 54)

In [79]:
pivot_deferred_payments = pd.pivot_table(query_deferred_payments,index=['merchant_id','eff_dt','receipt_no'],
                                  values=['psp_amount','gross_amount_dp','ingreso_deferred','fees_deferred','taxes_deferred'],
                                  aggfunc = ['sum'],
                                  margins=True)
pivot_deferred_payments.head()

                                                                              sum  \
                                                                    fees_deferred
merchant_id                          eff_dt              receipt_no
00008e01-812f-487e-8f34-a80bcb0ae3e3 2024-01-15 00:00:00 5UfuOTY             0.00
000d3241-c56d-4f94-acef-864f0b9e3f82 2024-01-23 00:00:00 i2jxPvb           111.38
000f9c5a-3aa0-451b-a862-f8b46d266a86 2024-01-05 00:00:00 s0ALCPa            37.13
0012c361-20dd-41d0-bab7-562c785cc07b 2024-01-21 00:00:00 TsrAR10            24.30
00143c00-bd17-412c-b71c-a1b97d6cc866 2024-01-18 00:00:00 RGSMfwa         2,424.91

                                                                                     \
                                                                    gross_amount_dp
merchant_id                          eff_dt              receipt_no
00008e01-812f-487e-8f34-a80bcb0ae3e3 2024-01-15 00:00:00 5UfuOTY               0.00
000d3241-c56d-4f94-acef-864f0b9e3f82 2024-01-23 00:00:00 i2jxPvb           1,650.00
000f9c5a-3aa0-451b-a862-f8b46d266a86 2024-01-05 00:00:00 s0ALCPa             550.00
0012c361-20dd-41d0-bab7-562c785cc07b 2024-01-21 00:00:00 TsrAR10             360.00
00143c00-bd17-412c-b71c-a1b97d6cc866 2024-01-18 00:00:00 RGSMfwa          23,000.00

                                                                                      \
                                                                    ingreso_deferred
merchant_id                          eff_dt              receipt_no
00008e01-812f-487e-8f34-a80bcb0ae3e3 2024-01-15 00:00:00 5UfuOTY                0.00
000d3241-c56d-4f94-acef-864f0b9e3f82 2024-01-23 00:00:00 i2jxPvb              129.20
000f9c5a-3aa0-451b-a862-f8b46d266a86 2024-01-05 00:00:00 s0ALCPa               43.07
0012c361-20dd-41d0-bab7-562c785cc07b 2024-01-21 00:00:00 TsrAR10               28.19
00143c00-bd17-412c-b71c-a1b97d6cc866 2024-01-18 00:00:00 RGSMfwa            2,812.90

                                                                                \
                                                                    psp_amount
merchant_id                          eff_dt              receipt_no
00008e01-812f-487e-8f34-a80bcb0ae3e3 2024-01-15 00:00:00 5UfuOTY          0.00
000d3241-c56d-4f94-acef-864f0b9e3f82 2024-01-23 00:00:00 i2jxPvb      1,779.20
000f9c5a-3aa0-451b-a862-f8b46d266a86 2024-01-05 00:00:00 s0ALCPa        593.07
0012c361-20dd-41d0-bab7-562c785cc07b 2024-01-21 00:00:00 TsrAR10        388.19
00143c00-bd17-412c-b71c-a1b97d6cc866 2024-01-18 00:00:00 RGSMfwa     25,812.90


                                                                    taxes_deferred
merchant_id                          eff_dt              receipt_no
00008e01-812f-487e-8f34-a80bcb0ae3e3 2024-01-15 00:00:00 5UfuOTY              0.00
000d3241-c56d-4f94-acef-864f0b9e3f82 2024-01-23 00:00:00 i2jxPvb             17.82
000f9c5a-3aa0-451b-a862-f8b46d266a86 2024-01-05 00:00:00 s0ALCPa              5.94
0012c361-20dd-41d0-bab7-562c785cc07b 2024-01-21 00:00:00 TsrAR10              3.89
00143c00-bd17-412c-b71c-a1b97d6cc866 2024-01-18 00:00:00 RGSMfwa            387.99

In [80]:
pivot_deferred_payments.shape

(19894, 5)

In [81]:
pivot_deferred_payments.columns

MultiIndex([('sum',    'fees_deferred'),
            ('sum',  'gross_amount_dp'),
            ('sum', 'ingreso_deferred'),
            ('sum',       'psp_amount'),
            ('sum',   'taxes_deferred')],
           )

In [82]:
pivot_deferred_payments.columns = pivot_deferred_payments.columns.droplevel(0)

In [83]:
fact_final_deferred_payments = pivot_deferred_payments[['psp_amount','gross_amount_dp','ingreso_deferred','fees_deferred','taxes_deferred']]
fact_final_deferred_payments.reset_index(inplace=True)
fact_final_deferred_payments.head()

,merchant_id,eff_dt,receipt_no,psp_amount,gross_amount_dp,ingreso_deferred,fees_deferred,taxes_deferred
0,00008e01-812f-487e-8f34-a80bcb0ae3e3,2024-01-15 00:00:00,5UfuOTY,0.00,0.00,0.00,0.00,0.00
1,000d3241-c56d-4f94-acef-864f0b9e3f82,2024-01-23 00:00:00,i2jxPvb,"1,779.20","1,650.00",129.20,111.38,17.82
2,000f9c5a-3aa0-451b-a862-f8b46d266a86,2024-01-05 00:00:00,s0ALCPa,593.07,550.00,43.07,37.13,5.94
3,0012c361-20dd-41d0-bab7-562c785cc07b,2024-01-21 00:00:00,TsrAR10,388.19,360.00,28.19,24.30,3.89
4,00143c00-bd17-412c-b71c-a1b97d6cc866,2024-01-18 00:00:00,RGSMfwa,"25,812.90","23,000.00","2,812.90","2,424.91",387.99

In [84]:
fact_final_deferred_payments.shape

(19894, 8)

In [85]:
writer = pd.ExcelWriter('SISENSE-Facturacion ENERO 2024.xlsx',
                        engine='xlsxwriter',
                        engine_kwargs={'options': {'encoding':'utf-8'}})
fact_final_total.to_excel(writer, sheet_name='FacturacionTotal')
fact_final_resumen.to_excel(writer, sheet_name='RESUMEN')
fact_final_deferred_payments.to_excel(writer, sheet_name='DeferredPayments')
writer.close()

### INCLUYENDO FECHA DE TRANSACCION

In [103]:
pivot_fact_resumen_created_at = pd.pivot_table(query,index=['month_facturacion','status_code'],
                                    columns=['month_transaccion'],
                                    values=['gross_amount_final','gross_amount_dp'],
                                    aggfunc = ['sum'],
                                    margins=True)
pivot_fact_resumen_created_at.head()

                                          sum                              \
                              gross_amount_dp
month_transaccion                    December       January           All
month_facturacion status_code
January           -6.0                    NaN      3,980.00      3,980.00
                  0.0                     NaN          0.00          0.00
                  1.0            1,135,267.26 55,081,492.92 56,216,760.18
                  3.0                    0.00      6,350.00      6,350.00
                  5.0                     NaN          0.00          0.00

                                                                   \
                              gross_amount_final
month_transaccion                       December          January
month_facturacion status_code
January           -6.0                       NaN       197,494.41
                  0.0                        NaN         3,231.20
                  1.0             246,584,324.41 7,516,407,179.52
                  3.0                  26,948.40       435,392.80
                  5.0                        NaN        10,700.71



month_transaccion                          All
month_facturacion status_code
January           -6.0              197,494.41
                  0.0                 3,231.20
                  1.0         7,762,991,503.93
                  3.0               462,341.20
                  5.0                10,700.71

In [104]:
pivot_fact_resumen_created_at.shape

(8, 6)

In [102]:
pivot_fact_resumen_created_at.to_excel('SISENSE-Facturacion created_at ENERO 2024.xlsx')