# SCRIPT POLIZA CONTABLE

 WITH journal_voucher(
      settlement_daily_month,TPV_Settlement,TPV_FastPayments,FeeTxns,TaxesTxns,Fee_TopUps1,Taxes_TopUps1,Fee_TopUps2,Taxes_TopUps2,
      Adj_Loans_Lenders_collection_date_local,Adj_Loans_Lenders,report_date_local_Adjustments_Cancelaciones,Adjustments_Cancelaciones,
      adjustments_cancelaciones_fees_taxes_report_date_local,adjustments_cancelaciones_fees,adjustments_cancelaciones_taxes,
      report_date_local_total_released_total_retained_cobranza_month, cobranza, Release_Risk, Release_Risk_Fast_Payments, Retained_RR, Retained_Fast_Payments,
      REPROGRAMACION_FAST_PAYMENT_LAST_MONTH_MONTH,REPROGRAMACION_FAST_PAYMENT_LAST_MONTH_TOTAL,REPROGRAMACION_FAST_PAYMENT_SAME_MONTH_MONTH,REPROGRAMACION_FAST_PAYMENT_SAME_MONTH_TOTAL,
      REPROGRAMACION_LAST_MONTH_MONTH,REPROGRAMACION_LAST_MONTH_TOTAL,REPROGRAMACION_SAME_MONTH_MONTH,REPROGRAMACION_SAME_MONTH_TOTAL,
      Pago_desfasados_de_un_dia_mismo_mes_month,Pago_desfasados_de_un_dia_mismo_mes_total,
      REPROGRAMACION_DAILY_MONTH,REPROGRAMACION_DAILY_TOTAL,SAME_DAY_DAILY_MONTH,SAME_DAY_DAILY_TOTAL,REPROGRAMACION_INSTANT_MONTH,REPROGRAMACION_INSTANT_TOTAL,SAME_DAY_INSTANT_MONTH,SAME_DAY_INSTANT_TOTAL,
      ERROR_CLABE_ultimo_mov,Error_por_retained_alta_clabe
    ) as 
    (
    
      select * from
      
      (
          WITH settlement_daily(
           report_date_local,total_transactions,type,total_fees_charged,total_taxes,applied_fees_benefits,applied_taxes_benefits,fee_direct_deposit,taxes_direct_deposit
          ) as (
                 SELECT 
                  r.report_date_local
                  , r.total_transactions
                  , r.type
                  , r.total_fees_charged
                  , r.total_taxes
                  , round(r.total_refunds_used / 1.16,2) as applied_fees_benefits
                  , round((r.total_refunds_used / 1.16) * .16,2) as applied_taxes_benefits
                  , round(r.total_commissions / 1.16,2) as fee_direct_deposit-- New schema for top ups
                  , round((r.total_commissions / 1.16) * .16,2) as taxes_direct_deposit -- New schema for top ups
                    FROM 
                      "PRD_CLIP_ANALYTICS"."CLIPDW_SETTLEMENT".reports r
                    WHERE 
                     -- report_date_local = '2022-02-02'
            
                    report_date_local = dateadd(day, -32, CURRENT_DATE())
                     ORDER BY report_date_local
                  )
  
            select 
            FAKE.settlement_daily_FAKE_MONTH as settlement_daily_month
            ,CASE WHEN s.TPV_Settlement IS NULL THEN 0 ELSE s.TPV_Settlement END as TPV_Settlement
            ,CASE WHEN f.TPV_FastPayments IS NULL THEN 0 ELSE f.TPV_FastPayments END as TPV_FastPayments
            ,CASE WHEN ft.FeeTxns IS NULL THEN 0 ELSE ft.FeeTxns END as FeeTxns
            ,CASE WHEN ft.TaxesTxns IS NULL THEN 0 ELSE ft.TaxesTxns END as TaxesTxns
            ,CASE WHEN ft.Fee_TopUps1 IS NULL THEN 0 ELSE ft.Fee_TopUps1 END as Fee_TopUps1
            ,CASE WHEN ft.Taxes_TopUps1 IS NULL THEN 0 ELSE ft.Taxes_TopUps1 END as Taxes_TopUps1
            ,CASE WHEN ft.Fee_TopUps2 IS NULL THEN 0 ELSE ft.Fee_TopUps2 END as Fee_TopUps2
            ,CASE WHEN ft.Taxes_TopUps2 IS NULL THEN 0 ELSE ft.Taxes_TopUps2 END as Taxes_TopUps2

            from
            (
            select 
                dateadd(day, -32, CURRENT_DATE()) as settlement_daily_FAKE_MONTH
                ,uniform(0, 0, random(1)) as settlement_daily_amount_FAKE
                from table(generator(rowcount => 1)) v
            )FAKE 
            LEFT JOIN 
            (
              SELECT report_date_local as month,
                   SUM(total_transactions) as TPV_Settlement
              FROM settlement_daily
              WHERE report_date_local = dateadd(day, -32, CURRENT_DATE())
              AND type = 'DAILY'
              GROUP BY report_date_local
            ) s
            on FAKE.settlement_daily_FAKE_MONTH = s.month
            LEFT JOIN
            (
              SELECT report_date_local as month,
                   SUM(total_transactions) as TPV_FastPayments
              FROM settlement_daily
              WHERE report_date_local = dateadd(day, -32, CURRENT_DATE())
              AND type = 'INSTANT'
              GROUP BY report_date_local
            )f
             on FAKE.settlement_daily_FAKE_MONTH = f.month
            LEFT JOIN
            (
               SELECT report_date_local as month,
                   SUM(total_fees_charged) as FeeTxns,
                   SUM(total_taxes) as TaxesTxns,
                   SUM(applied_fees_benefits) as Fee_TopUps1,
                   SUM(applied_taxes_benefits) as Taxes_TopUps1,
                   SUM(fee_direct_deposit) as Fee_TopUps2,
                   SUM(taxes_direct_deposit) as Taxes_TopUps2
              FROM settlement_daily
              WHERE report_date_local = dateadd(day, -32, CURRENT_DATE())
              GROUP BY report_date_local
            )ft
            on FAKE.settlement_daily_FAKE_MONTH = ft.month
      )settlement_daily
      FULL JOIN
      (
          with lenders(collection_date_local,provider_code,collected_today,collection_origin) as (
              select 
              collection_date_local,
              provider_code,
              amount as collected_today,
              collection_origin
              from 
              "PRD_CLIP_ANALYTICS"."CLIPDW_LOANS".COLLECTIONS
               WHERE
                collection_date_local = dateadd(day, -32, CURRENT_DATE())
              ORDER BY collection_date_local
          )
          select
            dateadd(day, -32, CURRENT_DATE()) as Adj_Loans_Lenders_collection_date_local
            ,CASE WHEN adj_ll.Adj_Loans_Lenders IS NULL THEN 0 ELSE adj_ll.Adj_Loans_Lenders END as Adj_Loans_Lenders
            from
          (
            select 
                dateadd(day, -32, CURRENT_DATE()) as Adj_Loans_Lenders_FAKE_MONTH
                ,uniform(0, 0, random(1)) as Adj_Loans_Lenders_amount_FAKE
                from table(generator(rowcount => 1)) v
          )FAKE
          LEFT JOIN 
          (
            select
            collection_date_local as Adj_Loans_Lenders_collection_date_local,
            sum(collected_today) as Adj_Loans_Lenders
            from lenders where provider_code <> 'CLIP'
            and collection_origin = 'SETTLEMENT'
            GROUP BY collection_date_local
            ORDER BY collection_date_local
          )adj_ll
            on FAKE.Adj_Loans_Lenders_FAKE_MONTH = adj_ll.Adj_Loans_Lenders_collection_date_local
      
      ) Adj_Loans_Lenders
      FULL JOIN
      (
        
        WITH settlement_daily(
                report_date_local,adj_cancelaciones_total
        ) as (
              select
              sd.report_date_local,
              case 
                 when adj_loans.total_today is null and adj.adjustments_cancelaciones is not null then (adj.adjustments_cancelaciones + (sd.adjusments -  len.collected_today - adj.adjustments_cancelaciones)) 
                 when adj_loans.total_today is not null and adj.adjustments_cancelaciones is null then (sd.adjusments -  len.collected_today - adj_loans.total_today)
                 when adj_loans.total_today is null and adj.adjustments_cancelaciones is null then (sd.adjusments -  len.collected_today) 
                 else
                   (adj.adjustments_cancelaciones + (sd.adjusments -  len.collected_today - adj.adjustments_cancelaciones - adj_loans.total_today))
                 end as adj_cancelaciones_total
              from
              (
                SELECT 
                      r.report_date_local
                      , SUM(total_adjustments)* -1 as adjusments
                FROM 
                  "PRD_CLIP_ANALYTICS"."CLIPDW_SETTLEMENT".reports r
                WHERE 
                report_date_local = dateadd(day, -32, CURRENT_DATE())
                 GROUP BY report_date_local
              )sd
              LEFT JOIN
              (
               select 
                collection_date_local,
                sum(amount) as collected_today
                from 
                "PRD_CLIP_ANALYTICS"."CLIPDW_LOANS".COLLECTIONS
                 WHERE
                  collection_date_local = dateadd(day, -32, CURRENT_DATE())
                  AND provider_code <> 'CLIP'
                AND collection_origin = 'SETTLEMENT'
                 GROUP BY collection_date_local 
              )len
              ON sd.report_date_local = len.collection_date_local
              LEFT JOIN
              (
                select 
              collection_date_local,
              amount as total_today
              from 
              "PRD_CLIP_ANALYTICS"."CLIPDW_LOANS".collections
              where
              collection_date_local = dateadd(day, -32, CURRENT_DATE())
                AND
                provider_code = 'CLIP'
              )adj_loans
              ON sd.report_date_local = adj_loans.collection_date_local
              LEFT JOIN
              (
                SELECT 
                  rali.adjustment_date_local,
                  SUM(rali.adjustment_amount) * -1 as adjustments_cancelaciones
                  FROM
                      "PRD_CLIP_ANALYTICS"."CLIPDW_SETTLEMENT".report_adjustment_line_items rali
                  WHERE
                    rali.adjustment_date_local = dateadd(day, -32, CURRENT_DATE())
                     and adjustment_type = 'CANCELED_TRANSACTION'
                  GROUP BY adjustment_date_local
              )adj
              ON sd.report_date_local = adj.adjustment_date_local
        )
        
        select
            adj_cancelaciones_FAKE_MONTH as report_date_local_Adjustments_Cancelaciones
            ,CASE WHEN adj_cancelaciones.Adjustments_Cancelaciones IS NULL THEN 0 ELSE adj_cancelaciones.Adjustments_Cancelaciones END as Adjustments_Cancelaciones
        from
            (
                select 
                dateadd(day, -32, CURRENT_DATE()) as adj_cancelaciones_FAKE_MONTH
                ,uniform(0, 0, random(1)) as adj_cancelaciones_FAKE
                from table(generator(rowcount => 1)) v
            )FAKE
            LEFT JOIN 
            (
                select 
                report_date_local as report_date_local_Adjustments_Cancelaciones,
                case when to_double(SUM(adj_cancelaciones_total)) < 0.000000009 then 0
                else to_double(SUM(adj_cancelaciones_total)) end as Adjustments_Cancelaciones
                from
                settlement_daily
                GROUP BY report_date_local
            )adj_cancelaciones
            on FAKE.adj_cancelaciones_FAKE_MONTH = adj_cancelaciones.report_date_local_Adjustments_Cancelaciones
      ) Adjustments_Cancelaciones
     FULL JOIN
      (
        select
            adj_cancelaciones_fees_taxes_FAKE_MONTH as report_date_local_Adjustments_Cancelaciones_Fees_Taxes
            ,CASE WHEN adj_cancelaciones_fees_taxes.Adjustments_Cancelaciones_Fees IS NULL THEN 0 ELSE adj_cancelaciones_fees_taxes.Adjustments_Cancelaciones_Fees END as Adjustments_Cancelaciones_Fees
            ,CASE WHEN adj_cancelaciones_fees_taxes.Adjustments_Cancelaciones_Taxes IS NULL THEN 0 ELSE adj_cancelaciones_fees_taxes.Adjustments_Cancelaciones_Taxes END as Adjustments_Cancelaciones_Taxes
            from
        (
                select 
                dateadd(day, -32, CURRENT_DATE()) as adj_cancelaciones_fees_taxes_FAKE_MONTH
                ,uniform(0, 0, random(1)) as adj_cancelaciones_fees_taxes_FAKE
                from table(generator(rowcount => 1)) v
        )FAKE
        LEFT JOIN
        (
        SELECT 
            r.report_date_local as adjustments_cancelaciones_fees_taxes_report_date_local
            ,SUM(total_adjustment_fees_charged * -1) as adjustments_cancelaciones_fees
            ,SUM(total_adjustment_taxes * -1) as adjustments_cancelaciones_taxes
            FROM 
                "PRD_CLIP_ANALYTICS"."CLIPDW_SETTLEMENT".reports r
                WHERE 
                --report_date_local = '2022-04-29'
              r.report_date_local = dateadd(day, -32, CURRENT_DATE())
               GROUP BY r.report_date_local
        )adj_cancelaciones_fees_taxes
        on FAKE.adj_cancelaciones_fees_taxes_FAKE_MONTH = adj_cancelaciones_fees_taxes.adjustments_cancelaciones_fees_taxes_report_date_local
      )adjustments_cancelaciones_fees_taxes
      FULL JOIN
      (
        
        WITH settlement_daily(
            report_date_local,total_released,total_retained,cobranza, type
        ) as (
              SELECT 
              r.report_date_local
              , r.total_released
              , r.total_retained
              , r.total_chargebacks as cobranza
              , r.type
              FROM 
                "PRD_CLIP_ANALYTICS"."CLIPDW_SETTLEMENT".reports r
              WHERE 
               -- report_date_local = '2022-02-02'
              report_date_local = dateadd(day, -32, CURRENT_DATE())
               ORDER BY report_date_local
            )

       select FAKE.report_date_local_total_released_total_retained_cobranza_FAKE_MONTH as report_date_local_total_released_total_retained_cobranza_month,
       CASE WHEN r_cobranza.cobranza IS NULL THEN 0 ELSE r_cobranza.cobranza END as cobranza,
       CASE WHEN rd.Release_Risk IS NULL THEN 0 ELSE rd.Release_Risk END as Release_Risk,
       CASE WHEN ri.Release_Risk_Fast_Payments IS NULL THEN 0 ELSE ri.Release_Risk_Fast_Payments END as Release_Risk_Fast_Payments,
       CASE WHEN rd.Retained_RR IS NULL THEN 0 ELSE rd.Retained_RR END as Retained_RR,
       CASE WHEN ri.Retained_Fast_Payments IS NULL THEN 0 ELSE ri.Retained_Fast_Payments END as Retained_Fast_Payments
        from 
        (
                select 
                dateadd(day, -32, CURRENT_DATE()) as report_date_local_total_released_total_retained_cobranza_FAKE_MONTH
                ,uniform(0, 0, random(1)) as report_date_local_total_released_total_retained_cobranza_FAKE
                from table(generator(rowcount => 1)) v
        )FAKE
        LEFT JOIN
        (

          SELECT report_date_local as month,
                 SUM(total_released) as Release_Risk,
                 SUM(total_retained) as Retained_RR
          FROM settlement_daily
          WHERE
          report_date_local = dateadd(day, -32, CURRENT_DATE())
          AND type = 'DAILY'
          GROUP BY report_date_local
          ) rd on FAKE.report_date_local_total_released_total_retained_cobranza_FAKE_MONTH = rd.month
            LEFT JOIN
          (

          SELECT report_date_local as month,
                 SUM(total_released) as Release_Risk_Fast_Payments,
            SUM(total_retained) as Retained_Fast_Payments
          FROM settlement_daily
          WHERE 
            report_date_local = dateadd(day, -32, CURRENT_DATE())
          AND type = 'INSTANT'
          GROUP BY report_date_local
          )ri ON FAKE.report_date_local_total_released_total_retained_cobranza_FAKE_MONTH = ri.month
          LEFT JOIN
          (
            SELECT 
            report_date_local as month,
            SUM(cobranza) as cobranza
            FROM settlement_daily
            WHERE
            report_date_local = dateadd(day, -32, CURRENT_DATE())
            GROUP BY report_date_local
            ORDER BY report_date_local
          )r_cobranza ON FAKE.report_date_local_total_released_total_retained_cobranza_FAKE_MONTH = r_cobranza.month
      )report_date_local_total_released_total_retained_cobranza
      FULL JOIN
      (
        
        with reprogramacion(type,merchant_id,report_id,report_date_local,amount,status,bank_name,payment_date_local,batch_created_date,payment_type,rescheduled_month) as (
              SELECT
              r.type,
              d.merchant_id,
              d.report_id,
              d.report_date_local,
              d.amount,
              d.status,
              dbe.bank_name,
              DATE(CONVERT_TIMEZONE('UTC', 'America/Mexico_City', d.updated_at))AS payment_date_local,
              DATE(CONVERT_TIMEZONE('UTC', 'America/Mexico_City', dbe.created_at))AS batch_created_date,
              case when DATE(CONVERT_TIMEZONE('UTC', 'America/Mexico_City', db.created_at)) <> d.report_date_local then 'REPROGRAMED' else 'SAME_DAY' end as payment_type,
              case when month(DATE(CONVERT_TIMEZONE('UTC', 'America/Mexico_City', db.created_at))) = month(d.report_date_local) and  year(DATE(CONVERT_TIMEZONE('UTC', 'America/Mexico_City', db.created_at))) = year(d.report_date_local) then 'SAME_MONTH' else 'LAST_MONTH' end as  rescheduled_month
              FROM "PRD_CLIP_ANALYTICS"."CLIPDW_SETTLEMENT".reports r
              LEFT JOIN "PRD_CLIP_ANALYTICS"."CLIPDW_DISBURSEMENT"."DISBURSEMENTS" d ON r.report_id = d.report_id 
              LEFT JOIN "PRD_CLIP_ANALYTICS"."CLIPDW_DISBURSEMENT"."DISBURSEMENT_BATCH_ENTRIES" dbe ON dbe.disbursement_id = d.disbursement_id
              LEFT JOIN 
              (
                    select created_at, disbursement_batch_id
                    FROM "PRD_CLIP_ANALYTICS"."CLIPDW_DISBURSEMENT"."DISBURSEMENT_BATCHES"
              ) db ON dbe.disbursement_batch_id = db.disbursement_batch_id
              WHERE dbe.disbursement_batch_id IN (
                select disbursement_batch_id
                FROM "PRD_CLIP_ANALYTICS"."CLIPDW_DISBURSEMENT"."DISBURSEMENT_BATCHES" db
                LEFT JOIN
                (
                    SELECT 
                        DATE(CONVERT_TIMEZONE('UTC', 'America/Mexico_City', created_at)) as created_at, MAX(total_disbursements) as max_total_disbursements
                        FROM "PRD_CLIP_ANALYTICS"."CLIPDW_DISBURSEMENT"."DISBURSEMENT_BATCHES"
                       WHERE 
                       DATE(CONVERT_TIMEZONE('UTC', 'America/Mexico_City', created_at)) = dateadd(day, -32, CURRENT_DATE())
                       group by DATE(CONVERT_TIMEZONE('UTC', 'America/Mexico_City', created_at))
                ) db_g ON DATE(CONVERT_TIMEZONE('UTC', 'America/Mexico_City', db.created_at)) = db_g.created_at
                WHERE 
                DATE(CONVERT_TIMEZONE('UTC', 'America/Mexico_City', db.created_at)) = dateadd(day, -32, CURRENT_DATE())
                and 
                db.total_disbursements < max_total_disbursements

              )
            ORDER BY d.merchant_id, d.report_date_local, d.report_id
        )
        select 
            CASE WHEN REPROGRAMACION_FAST_PAYMENT_LAST_MONTH_MONTH IS NOT NULL THEN REPROGRAMACION_FAST_PAYMENT_LAST_MONTH_MONTH
            ELSE REPROGRAMACION_FAST_PAYMENT_FAKE_MONTH END AS REPROGRAMACION_FAST_PAYMENT_LAST_MONTH_MONTH
            ,CASE WHEN REPROGRAMACION_FAST_PAYMENT_LAST_MONTH_TOTAL IS NOT NULL THEN REPROGRAMACION_FAST_PAYMENT_LAST_MONTH_TOTAL
            ELSE REPROGRAMACION_FAST_PAYMENT_FAKE END AS REPROGRAMACION_FAST_PAYMENT_LAST_MONTH_MONTH
            ,CASE WHEN REPROGRAMACION_FAST_PAYMENT_SAME_MONTH_MONTH IS NOT NULL THEN REPROGRAMACION_FAST_PAYMENT_SAME_MONTH_MONTH
            ELSE REPROGRAMACION_FAST_PAYMENT_FAKE_MONTH END AS REPROGRAMACION_FAST_PAYMENT_SAME_MONTH_MONTH
            ,CASE WHEN REPROGRAMACION_FAST_PAYMENT_SAME_MONTH_TOTAL IS NOT NULL THEN REPROGRAMACION_FAST_PAYMENT_SAME_MONTH_TOTAL
            ELSE REPROGRAMACION_FAST_PAYMENT_FAKE END AS REPROGRAMACION_FAST_PAYMENT_SAME_MONTH_TOTAL
        from
        (
            select 
                dateadd(day, -32, CURRENT_DATE()) as REPROGRAMACION_FAST_PAYMENT_FAKE_MONTH
                ,uniform(0, 0, random(1)) as REPROGRAMACION_FAST_PAYMENT_FAKE
                from table(generator(rowcount => 1)) v
        )FAKE 
        FULL JOIN
        (
          select 
          batch_created_date as REPROGRAMACION_FAST_PAYMENT_LAST_MONTH_MONTH,
          SUM(amount) as REPROGRAMACION_FAST_PAYMENT_LAST_MONTH_TOTAL
          from
          reprogramacion
          where 
          payment_type = 'REPROGRAMED'
          and
          rescheduled_month = 'LAST_MONTH'
          and
          type = 'INSTANT'
          GROUP by batch_created_date
        )LAST_MONTH ON  LAST_MONTH.REPROGRAMACION_FAST_PAYMENT_LAST_MONTH_MONTH = FAKE.REPROGRAMACION_FAST_PAYMENT_FAKE_MONTH
        FULL JOIN
        (
          select 
          batch_created_date as REPROGRAMACION_FAST_PAYMENT_SAME_MONTH_MONTH,
          SUM(amount) as REPROGRAMACION_FAST_PAYMENT_SAME_MONTH_TOTAL
          from
          reprogramacion
          where 
          payment_type = 'REPROGRAMED'
          and
          rescheduled_month = 'SAME_MONTH'
          and
          type = 'INSTANT'
          GROUP by batch_created_date
        )SAME_MONTH ON  SAME_MONTH.REPROGRAMACION_FAST_PAYMENT_SAME_MONTH_MONTH = LAST_MONTH.REPROGRAMACION_FAST_PAYMENT_LAST_MONTH_MONTH
        
      ) REPROGRAMACION_FAST_PAYMENT
      FULL JOIN
      (
        
        with reprogramacion(type,merchant_id,report_id,report_date_local,amount,status,bank_name,payment_date_local,batch_created_date,payment_type,rescheduled_month) as (
  
         select 
          repro.type as type,
          repro.merchant_id as merchant_id,
          repro.report_id as report_id,
          repro.report_date_local as report_date_local,
          repro.amount as amount,
          repro.status as status,
          repro.bank_name as bank_name,
          repro.payment_date_local as payment_date_local,
          repro.batch_created_date as batch_created_date,
          repro.payment_type as payment_type,
          repro.rescheduled_month as rescheduled_month
           from
            (
              
              SELECT
              r.type,
              d.merchant_id,
              d.report_id,
              d.report_date_local,
              d.amount,
              d.status,
              dbe.bank_name,
              DATE(CONVERT_TIMEZONE('UTC', 'America/Mexico_City', d.updated_at))AS payment_date_local,
              DATE(CONVERT_TIMEZONE('UTC', 'America/Mexico_City', dbe.created_at))AS batch_created_date,
              case when DATE(CONVERT_TIMEZONE('UTC', 'America/Mexico_City', db.created_at)) <> d.report_date_local then 'REPROGRAMED' else 'SAME_DAY' end as payment_type,
              case when month(DATE(CONVERT_TIMEZONE('UTC', 'America/Mexico_City', db.created_at))) = month(d.report_date_local) and  year(DATE(CONVERT_TIMEZONE('UTC', 'America/Mexico_City', db.created_at))) = year(d.report_date_local) then 'SAME_MONTH' else 'LAST_MONTH' end as  rescheduled_month
              FROM "PRD_CLIP_ANALYTICS"."CLIPDW_SETTLEMENT".reports r
              LEFT JOIN "PRD_CLIP_ANALYTICS"."CLIPDW_DISBURSEMENT"."DISBURSEMENTS" d ON r.report_id = d.report_id 
              LEFT JOIN "PRD_CLIP_ANALYTICS"."CLIPDW_DISBURSEMENT"."DISBURSEMENT_BATCH_ENTRIES" dbe ON dbe.disbursement_id = d.disbursement_id
              LEFT JOIN 
              (
                    select created_at, disbursement_batch_id
                    FROM "PRD_CLIP_ANALYTICS"."CLIPDW_DISBURSEMENT"."DISBURSEMENT_BATCHES"
              ) db ON dbe.disbursement_batch_id = db.disbursement_batch_id
              WHERE dbe.disbursement_batch_id IN (
                select disbursement_batch_id
                FROM "PRD_CLIP_ANALYTICS"."CLIPDW_DISBURSEMENT"."DISBURSEMENT_BATCHES" db
                LEFT JOIN
                (
                    SELECT 
                        DATE(CONVERT_TIMEZONE('UTC', 'America/Mexico_City', created_at)) as created_at, MAX(total_disbursements) as max_total_disbursements
                        FROM "PRD_CLIP_ANALYTICS"."CLIPDW_DISBURSEMENT"."DISBURSEMENT_BATCHES"
                       WHERE 
                       DATE(CONVERT_TIMEZONE('UTC', 'America/Mexico_City', created_at)) = dateadd(day, -32, CURRENT_DATE())
                       group by DATE(CONVERT_TIMEZONE('UTC', 'America/Mexico_City', created_at))
                ) db_g ON DATE(CONVERT_TIMEZONE('UTC', 'America/Mexico_City', db.created_at)) = db_g.created_at
                WHERE 
                DATE(CONVERT_TIMEZONE('UTC', 'America/Mexico_City', db.created_at)) = dateadd(day, -32, CURRENT_DATE())
                and 
                db.total_disbursements <= max_total_disbursements

              ) and  r.type = 'DAILY' and payment_type = 'REPROGRAMED'
            ORDER BY d.merchant_id, d.report_date_local, d.report_id
              
            )repro
        )
        select 
            CASE WHEN REPROGRAMACION_LAST_MONTH_MONTH IS NOT NULL THEN REPROGRAMACION_LAST_MONTH_MONTH
            ELSE REPROGRAMACION_FAKE_MONTH END AS REPROGRAMACION_LAST_MONTH_MONTH
            ,CASE WHEN REPROGRAMACION_LAST_MONTH_TOTAL IS NOT NULL THEN REPROGRAMACION_LAST_MONTH_TOTAL
            ELSE REPROGRAMACION_FAKE END AS REPROGRAMACION_LAST_MONTH_TOTAL
            ,CASE WHEN REPROGRAMACION_SAME_MONTH_MONTH IS NOT NULL THEN REPROGRAMACION_SAME_MONTH_MONTH
            ELSE REPROGRAMACION_FAKE_MONTH END AS REPROGRAMACION_SAME_MONTH_MONTH
            ,CASE WHEN REPROGRAMACION_SAME_MONTH_TOTAL IS NOT NULL THEN REPROGRAMACION_SAME_MONTH_TOTAL
            ELSE REPROGRAMACION_FAKE END AS REPROGRAMACION_SAME_MONTH_TOTAL
        from
        (
            select 
                dateadd(day, -32, CURRENT_DATE()) as REPROGRAMACION_FAKE_MONTH
                ,uniform(0, 0, random(1)) as REPROGRAMACION_FAKE
                from table(generator(rowcount => 1)) v
        )FAKE 
        FULL JOIN
        (
          select 
          batch_created_date as REPROGRAMACION_LAST_MONTH_MONTH,
          SUM(amount) as REPROGRAMACION_LAST_MONTH_TOTAL
          from
          reprogramacion
          where 
          payment_type = 'REPROGRAMED'
          and
          rescheduled_month = 'LAST_MONTH'
          GROUP by batch_created_date
        )LAST_MONTH ON  LAST_MONTH.REPROGRAMACION_LAST_MONTH_MONTH = FAKE.REPROGRAMACION_FAKE_MONTH
        FULL JOIN
        (
          select 
          batch_created_date as REPROGRAMACION_SAME_MONTH_MONTH,
          SUM(amount) as REPROGRAMACION_SAME_MONTH_TOTAL
          from
          reprogramacion
          where 
          payment_type = 'REPROGRAMED'
          and
          rescheduled_month = 'SAME_MONTH'
          GROUP by batch_created_date
        )SAME_MONTH ON  SAME_MONTH.REPROGRAMACION_SAME_MONTH_MONTH = LAST_MONTH.REPROGRAMACION_LAST_MONTH_MONTH
        
      ) REPROGRAMACION
      FULL JOIN
      (
      
        with reprogramacion(merchant_id,report_id,report_date_local,amount,status,bank_name,payment_date_local,batch_created_date,payment_type) as (
            SELECT
            d.merchant_id,
            d.report_id,
            d.report_date_local,
            d.amount,
            d.status,
            dbe.bank_name,
            DATE(CONVERT_TIMEZONE('UTC', 'America/Mexico_City', d.updated_at))AS payment_date_local,
            DATE(CONVERT_TIMEZONE('UTC', 'America/Mexico_City', dbe.created_at))AS batch_created_date,
            case when DATE(CONVERT_TIMEZONE('UTC', 'America/Mexico_City', db.created_at)) <> d.report_date_local then 'REPROGRAMED' else 'SAME_DAY' end as payment_type
            FROM "PRD_CLIP_ANALYTICS"."CLIPDW_DISBURSEMENT"."DISBURSEMENTS" d 
            LEFT JOIN "PRD_CLIP_ANALYTICS"."CLIPDW_DISBURSEMENT"."DISBURSEMENT_BATCH_ENTRIES" dbe ON dbe.disbursement_id = d.disbursement_id
            LEFT JOIN 
            (
                  select created_at, disbursement_batch_id
                  FROM "PRD_CLIP_ANALYTICS"."CLIPDW_DISBURSEMENT"."DISBURSEMENT_BATCHES"
            ) db ON dbe.disbursement_batch_id = db.disbursement_batch_id
            WHERE dbe.disbursement_batch_id IN (
             select disbursement_batch_id
                  FROM "PRD_CLIP_ANALYTICS"."CLIPDW_DISBURSEMENT"."DISBURSEMENT_BATCHES" db
                  LEFT JOIN
                  (
                      SELECT 
                          DATE(CONVERT_TIMEZONE('UTC', 'America/Mexico_City', created_at)) as created_at, MAX(total_disbursements) as max_total_disbursements
                          FROM "PRD_CLIP_ANALYTICS"."CLIPDW_DISBURSEMENT"."DISBURSEMENT_BATCHES"
                         WHERE 
                         DATE(CONVERT_TIMEZONE('UTC', 'America/Mexico_City', created_at)) = dateadd(day, -32, CURRENT_DATE())
                         group by DATE(CONVERT_TIMEZONE('UTC', 'America/Mexico_City', created_at))
                  ) db_g ON DATE(CONVERT_TIMEZONE('UTC', 'America/Mexico_City', db.created_at)) = db_g.created_at
                  WHERE 
                  DATE(CONVERT_TIMEZONE('UTC', 'America/Mexico_City', db.created_at)) = dateadd(day, -32, CURRENT_DATE())

            )
            ORDER BY d.merchant_id, d.report_date_local, d.report_id
          )

          select 
            FAKE.Pago_desfasados_de_un_dia_mismo_mes_FAKE_MONTH,
            CASE WHEN lp_same_month.Pago_desfasados_de_un_dia_mismo_mes_total IS NOT NULL THEN lp_same_month.Pago_desfasados_de_un_dia_mismo_mes_total
            ELSE 0 END AS Pago_desfasados_de_un_dia_mismo_mes_total
          from
          (
            select 
                dateadd(day, -32, CURRENT_DATE()) as Pago_desfasados_de_un_dia_mismo_mes_FAKE_MONTH
                ,uniform(0, 0, random(1)) as Pago_desfasados_de_un_dia_mismo_mes_FAKE
                from table(generator(rowcount => 1)) v
          )FAKE
          LEFT JOIN
          (
            select 
            r.report_date_local as Pago_desfasados_de_un_dia_mismo_mes_month,
            sum(r.total_due) as Pago_desfasados_de_un_dia_mismo_mes_total
            --count(r.report_date_local)
            --*
            from 
            (
                select 
                *
                from
                "PRD_CLIP_ANALYTICS"."CLIPDW_SETTLEMENT"."REPORTS" 
                where
                report_date_local = dateadd(day, -32, CURRENT_DATE())
            )r
            LEFT JOIN
            (
                select 
                *
                from
                reprogramacion
                where
                payment_type = 'SAME_DAY'
            )repro ON repro.report_id = r.report_id
            where repro.report_id is NULL
            GROUP by r.report_date_local
          )lp_same_month
          on
          FAKE.Pago_desfasados_de_un_dia_mismo_mes_FAKE_MONTH = lp_same_month.Pago_desfasados_de_un_dia_mismo_mes_month
      )Pago_desfasados_de_un_dia_mismo_mes
      FULL JOIN
      (
        
          select * from
          (           
              with  FULL_ERROR(
                      merchant_id
                      ,merchant_name
                      ,report_id
                      ,report_date_local
                      ,created_at
                      ,amount
                      ,status
                      ,error_description
                      ,type
                      ,esquema_query
                      ,payment_type
                      ) as
                      (   
                          select * from (
                                                      select 
                                                          d.merchant_id
                                                          ,d.merchant_name
                                                          ,d.report_id
                                                          ,report_date_local
                                                          ,DATE(dbe.created_at) as created_at
                                                          ,d.amount
                                                          ,d.status
                                                          ,d.error_description, 
                                                              case when d.effective_date IS NULL then 'DAILY' else 'INSTANT' end as type,
                                                              case when d.error_description = 'Bank account information not available' then 'SIN_CLABE'
                                                              else 'ERROR_USUAL' end as esquema_query,
                                                              case when DATE(dbe.created_at) <> DATE(d.report_date_local) then 'REPROGRAMED' else 'SAME_DAY' end as payment_type
                                                              from 
                                                              (
                                                                  select * from "PRD_CLIP_ANALYTICS"."CLIPDW_DISBURSEMENT"."DISBURSEMENT_BATCH_ENTRIES"
                                                                  where DATE(created_at) = dateadd(day, -32, CURRENT_DATE())
                                                              ) dbe
                                                              LEFT JOIN 
                                                              (
                                                              select * from
                                                              "PRD_CLIP_ANALYTICS"."CLIPDW_DISBURSEMENT"."DISBURSEMENTS" d
                                                              where d.status <> 'PAID' and d.status <> 'PENDING' --and DATE(created_at) = dateadd(day, -32, CURRENT_DATE())
                                                              )d
                                                              ON dbe.report_id = d.report_id
                                                              where d.report_id IS NOT NULL
                          )qualify ROW_NUMBER() OVER (PARTITION BY report_id ORDER BY payment_type) = 1
                  )
                  select 
                              CASE WHEN REPROGRAMACION_DAILY_MONTH IS NOT NULL THEN REPROGRAMACION_DAILY_MONTH
                              ELSE REPROGRAMACION_FAKE_MONTH END AS REPROGRAMACION_DAILY_MONTH
                              ,CASE WHEN REPROGRAMACION_DAILY_TOTAL IS NOT NULL THEN REPROGRAMACION_DAILY_TOTAL
                              ELSE REPROGRAMACION_FAKE END AS REPROGRAMACION_DAILY_TOTAL
                              ,CASE WHEN SAME_DAY_DAILY_MONTH IS NOT NULL THEN SAME_DAY_DAILY_MONTH
                              ELSE REPROGRAMACION_FAKE_MONTH END AS SAME_DAY_DAILY_MONTH
                              ,CASE WHEN SAME_DAY_DAILY_TOTAL IS NOT NULL THEN SAME_DAY_DAILY_TOTAL
                              ELSE REPROGRAMACION_FAKE END AS SAME_DAY_DAILY_TOTAL
                          from
                          (
                              select 
                                  dateadd(day, -32, CURRENT_DATE()) as REPROGRAMACION_FAKE_MONTH
                                  ,uniform(0, 0, random(1)) as REPROGRAMACION_FAKE
                                  from table(generator(rowcount => 1)) v
                          )FAKE 
                          FULL JOIN
                          (
                          select 
                          created_at as REPROGRAMACION_DAILY_MONTH,
                          SUM(amount) as REPROGRAMACION_DAILY_TOTAL
                          from
                          FULL_ERROR
                          where 
                          payment_type = 'REPROGRAMED'
                          and
                          type = 'DAILY'
                          AND
                          esquema_query = 'ERROR_USUAL'
                          GROUP by created_at
                          )LAST_MONTH ON  LAST_MONTH.REPROGRAMACION_DAILY_MONTH = FAKE.REPROGRAMACION_FAKE_MONTH
                          FULL JOIN
                          (
                          select 
                          created_at as SAME_DAY_DAILY_MONTH,
                          SUM(amount) as SAME_DAY_DAILY_TOTAL
                          from
                          FULL_ERROR
                          where 
                          payment_type = 'SAME_DAY'
                          and
                          type = 'DAILY'
                          AND
                          esquema_query = 'ERROR_USUAL'
                          GROUP by created_at
                          )SAME_MONTH ON  SAME_MONTH.SAME_DAY_DAILY_MONTH = FAKE.REPROGRAMACION_FAKE_MONTH
          )ERRORS_NORMAL
          FULL JOIN
          (      
                      with  ERROR_FP(
                          type
                          ,merchant_id
                          ,merchant_name
                          ,report_id
                          ,report_date_local
                          ,amount
                          ,status
                          ,error_description
                          ,ultimo_mov
                          ,status_cubeta
                          ,esquema_query
                          ,month
                          ,year
                          ,day
                          ,mes_cierre
                          ,payment_type
                          ,payment_type_error
                          ) as(
                              select 
                              type
                              ,merchant_id
                              ,merchant_name
                              ,report_id
                              ,report_date_local
                              ,amount
                              ,status
                              ,error_description
                              ,ultimo_mov
                              ,status_cubeta
                              ,esquema_query
                              ,month
                              ,year
                              ,day
                              ,mes_cierre
                              ,payment_type
                              ,payment_type as payment_type_error
                              from (
                              select *,
                              case when d.effective_date IS NULL then 'DAILY' else 'INSTANT' end as type, 
                              case when d.status = 'ERROR' and report_date_local = dateadd(day, -32, CURRENT_DATE()) then 'NEW' 
                              when d.status = 'ERROR'  then 'ERROR'
                              else 'NONE' end as status_cubeta,
                              case when error_description = 'Bank account information not available' then 'SIN_CLABE'
                              else 'ERROR_USUAL' end as esquema_query,
                              case when ultimo_mov <> d.report_date_local then 'REPROGRAMED' else 'SAME_DAY' end as payment_type,
                              month(ultimo_mov) as month,
                              year(ultimo_mov) as year,
                              DAYOFMONTH(ultimo_mov) as day,
                              case when month(ultimo_mov) = month(dateadd(day, -32, CURRENT_DATE())) and year(ultimo_mov) = year(dateadd(day, -32, CURRENT_DATE())) then 'CURRENT'
                              else 'NOT_CURRENT' end as mes_cierre
                              from 
                              (
                                  select
                                          d.merchant_id
                                      , d.merchant_name
                                      , d.report_id
                                      , d.report_date_local
                                      , d.amount
                                      , d.status
                                      , d.error_description
                                      , d.effective_date
                                      , DATE(CONVERT_TIMEZONE('UTC', 'America/Mexico_City', d.updated_at)) as ultimo_mov
                                      from
                                          "PRD_CLIP_ANALYTICS"."CLIPDW_DISBURSEMENT"."DISBURSEMENTS" d
                                      where
                                          --CONVERT_TIMEZONE('UTC', 'America/Mexico_City', d.updated_at) <= '2022-04-29  23:59:59'
                                          DATE(CONVERT_TIMEZONE('UTC', 'America/Mexico_City', d.updated_at)) = dateadd(day, -32, CURRENT_DATE())
                                          and status <> 'PAID'
                              ) d
                              )
                              --where status_cubeta <> 'NONE'
                          )
                  select 
                  CASE WHEN REPROGRAMACION_INSTANT_MONTH IS NOT NULL THEN REPROGRAMACION_INSTANT_MONTH
                  ELSE REPROGRAMACION_FAKE_MONTH END AS REPROGRAMACION_INSTANT_MONTH
                  ,CASE WHEN REPROGRAMACION_INSTANT_TOTAL IS NOT NULL THEN REPROGRAMACION_INSTANT_TOTAL
                  ELSE REPROGRAMACION_FAKE END AS REPROGRAMACION_INSTANT_TOTAL
                  ,CASE WHEN SAME_DAY_INSTANT_MONTH IS NOT NULL THEN SAME_DAY_INSTANT_MONTH
                  ELSE REPROGRAMACION_FAKE_MONTH END AS SAME_DAY_INSTANT_MONTH
                  ,CASE WHEN SAME_DAY_INSTANT_TOTAL IS NOT NULL THEN SAME_DAY_INSTANT_TOTAL
                  ELSE REPROGRAMACION_FAKE END AS SAME_DAY_INSTANT_TOTAL
              from
              (
                  select 
                      dateadd(day, -32, CURRENT_DATE()) as REPROGRAMACION_FAKE_MONTH
                      ,uniform(0, 0, random(1)) as REPROGRAMACION_FAKE
                      from table(generator(rowcount => 1)) v
              )FAKE 
              FULL JOIN
              (
                  select 
                  ultimo_mov as REPROGRAMACION_INSTANT_MONTH,
                  SUM(amount) as REPROGRAMACION_INSTANT_TOTAL
                  from
                  ERROR_FP
                  where 
                  payment_type_error = 'REPROGRAMED'
                  and
                  type = 'INSTANT'
                  and
                  status <> 'PAID'
                  AND
                  esquema_query = 'ERROR_USUAL'
                  GROUP by ultimo_mov
              )LAST_MONTH_F ON  LAST_MONTH_F.REPROGRAMACION_INSTANT_MONTH = FAKE.REPROGRAMACION_FAKE_MONTH
              FULL JOIN
              (
                  select 
                  ultimo_mov as SAME_DAY_INSTANT_MONTH,
                  SUM(amount) as SAME_DAY_INSTANT_TOTAL
                  from
                  ERROR_FP
                  where 
                  payment_type_error = 'SAME_DAY'
                  and
                  type = 'INSTANT'
                  and
                  status <> 'PAID'
                  AND
                  esquema_query = 'ERROR_USUAL'
                  GROUP by ultimo_mov
              )SAME_MONTH_F ON  SAME_MONTH_F.SAME_DAY_INSTANT_MONTH = FAKE.REPROGRAMACION_FAKE_MONTH
          )ERRORS_FP
        
      )ERROR_REPROGRAMACION
      FULL JOIN
      (
        with  ERROR_CLABE(
              merchant_id
              ,merchant_name
              ,report_id
              ,report_date_local
              ,amount
              ,status
              ,error_description
              ,ultimo_mov
              ,status_cubeta
              ,esquema_query
              ,month
              ,year
              ,day
              ,mes_cierre
              ,payment_type
            ) as(
              select 
              merchant_id
              ,merchant_name
              ,report_id
              ,report_date_local
              ,amount
              ,status
              ,error_description
              ,ultimo_mov
              ,status_cubeta
              ,esquema_query
              ,month
              ,year
              ,day
              ,mes_cierre
              ,payment_type
              from (
                select *, 
                case when d.status = 'ERROR' and report_date_local = dateadd(day, -32, CURRENT_DATE()) then 'NEW' 
                when d.status = 'ERROR'  then 'ERROR'
                else 'NONE' end as status_cubeta,
                case when error_description = 'Bank account information not available' then 'SIN_CLABE'
                else 'ERROR_USUAL' end as esquema_query,
                case when ultimo_mov <> d.report_date_local then 'REPROGRAMED' else 'SAME_DAY' end as payment_type,
                month(ultimo_mov) as month,
                year(ultimo_mov) as year,
                DAYOFMONTH(ultimo_mov) as day,
                case when month(ultimo_mov) = '04' and year(ultimo_mov) = '2022' then 'CURRENT'
                else 'NOT_CURRENT' end as mes_cierre
                from 
                (
                  select
                         d.merchant_id
                       , d.merchant_name
                       , d.report_id
                       , d.report_date_local
                       , d.amount
                       , d.status
                       , d.error_description
                       , DATE(CONVERT_TIMEZONE('UTC', 'America/Mexico_City', d.updated_at)) as ultimo_mov
                       from
                            "PRD_CLIP_ANALYTICS"."CLIPDW_DISBURSEMENT"."DISBURSEMENTS" d
                        where
                           --CONVERT_TIMEZONE('UTC', 'America/Mexico_City', d.updated_at) <= '2022-04-29  23:59:59'
                           DATE(CONVERT_TIMEZONE('UTC', 'America/Mexico_City', d.updated_at)) <= dateadd(day, -32, CURRENT_DATE())
                           and status = 'ERROR_LEDGER' OR status = 'ERROR'
                ) d
              )
              where status_cubeta <> 'NONE'
           )

         select 
            CASE WHEN n_sin_clabe.ultimo_mov IS NOT NULL THEN n_sin_clabe.ultimo_mov
            else FAKE.ultimo_mov END as ERROR_CLABE_ultimo_mov,
            CASE WHEN new_sin_clabe IS NOT NULL THEN new_sin_clabe
            else 0 END as Error_por_retained_alta_clabe
          from
            (
                    select 
                    dateadd(day, -32, CURRENT_DATE()) as ultimo_mov
                    ,uniform(0, 0, random(1)) as ERROR_CLABE_FAKE
                    from table(generator(rowcount => 1)) v
            )FAKE
            LEFT JOIN
            (
                select 
                ultimo_mov,
                sum(amount) as new_sin_clabe
                from ERROR_CLABE
                where 
                esquema_query = 'SIN_CLABE'
                and
                status_cubeta = 'NEW'
                --and 
                --(ultimo_mov >= '2022-04-01' and ultimo_mov <= '2022-04-29')
                group by ultimo_mov
            )n_sin_clabe on FAKE.ultimo_mov = n_sin_clabe.ultimo_mov
            LEFT JOIN
            (
                select 
                ultimo_mov,
                sum(amount) as error_sin_clabe
                from ERROR_CLABE
                where 
                esquema_query = 'SIN_CLABE'
                and
                status_cubeta = 'ERROR'
                --and 
                --(ultimo_mov >= '2022-04-01' and ultimo_mov <= '2022-04-29')
                group by ultimo_mov
            )e_sin_clabe
            on FAKE.ultimo_mov = e_sin_clabe.ultimo_mov
      )ERROR_CLABE 
    ),journal_voucher_ledger(
        settlement_daily_eff_dt,TPV_Settlement,TPV_FastPayments,FeeTxns,TaxesTxns,Fee_TopUps2,Taxes_TopUps2,Cobranza,
        updated_at_deferred_payments,TPV_deferred_payments,fee_deferred_payments,taxes_deferred_payments,fees_deferred_payments_sml,taxes_deferred_payments_sml,
        Adj_Loans_Lenders_collection_date_local,Adj_Loans_Lenders,
        adj_cancel_fees_taxes_eff_dt,Adjustments_Cancelaciones,adjustments_cancelaciones_fees,adjustments_cancelaciones_taxes,
        risk_release_eff_dt,Release_Risk,Release_Risk_Fast_Payments,
        risk_retention_eff_dt,Retained_RR,Retained_Fast_Payments,
        REPROGRAMACION_SAME_MONTH_created_date,REPROGRAMACION_SAME_MONTH_TOTAL,REPROGRAMACION_LAST_MONTH_created_date,REPROGRAMACION_LAST_MONTH_TOTAL,REPROGRAMACION_FAST_PAYMENT_SAME_MONTH_created_date,REPROGRAMACION_FAST_PAYMENT_SAME_MONTH_TOTAL,REPROGRAMACION_FAST_PAYMENT_LAST_MONTH_created_date,REPROGRAMACION_FAST_PAYMENT_LAST_MONTH_TOTAL,
        REPROGRAMACION_DAILY_MONTH,REPROGRAMACION_DAILY_TOTAL,SAME_DAY_DAILY_MONTH,SAME_DAY_DAILY_TOTAL,REPROGRAMACION_INSTANT_MONTH,REPROGRAMACION_INSTANT_TOTAL,SAME_DAY_INSTANT_MONTH,SAME_DAY_INSTANT_TOTAL,
        ERROR_CLABE_ultimo_mov,Error_por_retained_alta_clabe,
        Pago_desfasados_de_un_dia_mismo_mes_month,Pago_desfasados_de_un_dia_mismo_mes_total,
        updated_at_refounds,refounds,fee_refounds,taxes_refounds,
        updated_at_dcc,tpv_dcc,
        collection_date_local_caal,amount_caal,
        EFF_DT_BILL_PAYMENTS,total_venta_plus_comision,monto_recibo,fees_ingreso_billpayments,taxes_ingreso_billpayments,fees_billpayments,taxes_billpayments
    ) as 
    (
        select * from
            (
                WITH journal_daily(
                    ACCT_ID,j_amount,created_at,currency,desc,eff_dt,full_eff_dt,full_id,mvnt_dt,mvnt_dt_id,mvnt_id,mvnt_type,src_type,sml_mvnt_id,sml_amount,sml_created_at,sml_eff_dt,sml_fees,sml_mdr,sml_msi,sml_mvnt_type,sml_net_amount,sml_payload,sml_pk,sml_pymt_prg,sml_ref_id,sml_sk,sml_status_code,sml_taxes,p_transaction_id,p_gross_amount,p_psp_amount,p_merchant_id,dcc_transaction_id,cc_nb_currency_code,dcc_amount,dcc_nu_markup
                ) as (
                    SELECT 
                    j.ACCT_ID as ACCT_ID
                    ,j.AMOUNT as j_amount
                    ,j.created_at as created_at
                    ,j.currency as currency
                    ,j.desc as desc
                    ,j.eff_dt as eff_dt
                    ,j.full_eff_dt as full_eff_dt
                    ,j.full_id as full_id
                    ,j.mvnt_dt as mvnt_dt
                    ,j.mvnt_dt_id as mvnt_dt_id
                    ,j.mvnt_id as mvnt_id
                    ,j.mvnt_type as mvnt_type
                    ,j.src_type as src_type
                    ,sml.mvnt_id as sml_mvnt_id
                    ,sml.amount as sml_amount
                    ,sml.created_at as sml_created_at
                    ,sml.eff_dt as sml_eff_dt
                    ,sml.fees as sml_fees
                    ,sml.mdr as sml_mdr
                    ,sml.msi as sml_msi
                    ,sml.mvnt_type as sml_mvnt_type
                    ,sml.net_amount as sml_net_amount
                    ,sml.payload as sml_payload
                    ,sml.pk as sml_pk
                    ,sml.pymt_prg as sml_pymt_prg
                    ,sml.ref_id as sml_ref_id
                    ,sml.sk as sml_sk
                    ,sml.status_code as sml_status_code
                    ,sml.taxes as sml_taxes
                    ,p.transaction_id as p_transaction_id
                    ,p.amount as p_gross_amount
                    ,p.psp_amount as p_psp_amount
                    ,p.merchant_id as p_merchant_id
                    ,dcc.transaction_id as dcc_transaction_id
                    ,dcc.cc_nb_currency_code as cc_nb_currency_code
                    ,dcc.dcc_amount as dcc_amount
                    ,dcc.nu_markup as dcc_nu_markup
                    FROM
                    (
                    SELECT 
                        record_data:acct_id.S as ACCT_ID
                        ,to_number(record_data:amount.N, 10, 2) as AMOUNT
                        ,DATE(CONVERT_TIMEZONE('UTC', 'America/Mexico_City', record_data:created_at.S)) as created_at
                        ,record_data:currency.S as currency
                        ,record_data:desc.S as desc
                        ,DATE(CONVERT_TIMEZONE('UTC', 'America/Mexico_City', record_data:eff_dt.S)) as eff_dt
                        ,record_data:full_eff_dt.S as full_eff_dt
                        ,record_data:full_id.S as full_id
                        ,record_data:mvnt_dt.S as mvnt_dt
                        ,record_data:mvnt_dt_id.S as mvnt_dt_id
                        ,record_data:mvnt_id.S as mvnt_id
                        ,record_data:mvnt_type.S as mvnt_type
                        ,record_data:src_type.S as src_type

                    from "PRD_CLIP_ANALYTICS"."CLIPDS_DYNAMO_SILVER"."AP_JOURNAL" 
                    --WHERE 
                    --DATE(CONVERT_TIMEZONE('UTC', 'America/Mexico_City', record_data:eff_dt.S)) = dateadd(day, -32, CURRENT_DATE())
                    ) j
                    LEFT JOIN
                    (
                        select 
                        record_data:mvnt_id.S as mvnt_id
                        ,to_number(record_data:amount.N, 10, 2) as AMOUNT
                        ,DATE(CONVERT_TIMEZONE('UTC', 'America/Mexico_City', record_data:created_at.S)) as created_at
                        ,DATE(CONVERT_TIMEZONE('UTC', 'America/Mexico_City', record_data:eff_dt.S)) as eff_dt
                        ,to_number(record_data:fees.N, 10, 2) as fees
                        ,to_number(record_data:mdr.N, 10, 2) as mdr
                        ,to_number(record_data:msi.N, 10, 2) as msi
                        ,record_data:mvnt_type.S as mvnt_type
                        ,to_number(record_data:net_amount.N, 10, 2) as net_amount
                        ,record_data:payload.S as payload
                        ,record_data:pk.S as pk
                        ,record_data:pymt_prg.S as pymt_prg
                        ,record_data:ref_id.S as ref_id
                        ,record_data:sk.S as sk
                        ,record_data:status_code.S as status_code
                        ,to_number(record_data:taxes.N, 10, 2) as taxes
                        from "PRD_CLIP_ANALYTICS"."CLIPDS_DYNAMO_SILVER"."SETTLEMENT_MASTER_LOG"
                        where 
                        mvnt_type = 'STL_PCS_RQ'
                    ) sml ON sml.mvnt_id = j.mvnt_id
                    LEFT JOIN  
                    (
                        select
                            p.transaction_id,
                            p.psp_amount as psp_amount,
                            p.amount as amount,
                            p.merchant_id
                            from "PRD_CLIP_ANALYTICS"."CLIPDW_TRANSACTION".payment p
                    )p on j.mvnt_id = p.transaction_id
                    LEFT JOIN 
                    (
                        select 
                            transaction_id
                            ,cc_nb_currency_code
                            ,dcc_amount
                            ,nu_markup
                        from "PRD_CLIP_ANALYTICS"."CLIPDS_DYNAMO_GOLD".DCC_RATE
                        where nb_status = 'Tarjeta con DCC'
                    )dcc on j.mvnt_id = dcc.transaction_id
                    
                )

                    select 
                    settlement_daily_eff_dt
                    ,SUM(TPV_Settlement) as TPV_Settlement
                    ,SUM(TPV_FastPayments) as TPV_FastPayments
                    ,SUM(FeeTxns) as FeeTxns
                    ,SUM(TaxesTxns) as TaxesTxns
                    ,SUM(Fee_TopUps2) as Fee_TopUps2
                    ,SUM(Taxes_TopUps2) as Taxes_TopUps2
                    ,SUM(Cobranza) as Cobranza
                    from 
                    (
                    select 
                        CASE WHEN f.eff_dt is NOT NULL THEN f.eff_dt
                        WHEN s.eff_dt is NOT NULL THEN s.eff_dt
                        WHEN topups.eff_dt is NOT NULL THEN topups.eff_dt
                        else dateadd(day, -32, CURRENT_DATE()) end as settlement_daily_eff_dt
                        ,CASE WHEN s.TPV_Settlement is NULL THEN 0
                        else s.TPV_Settlement end as TPV_Settlement
                        ,CASE WHEN f.TPV_FastPayments is NULL THEN 0
                        else f.TPV_FastPayments end as TPV_FastPayments
                        ,CASE WHEN f.FeeTxns is NULL AND s.FeeTxns is NULL AND mci_fees is NULL THEN 0
                        WHEN f.FeeTxns is NULL AND s.FeeTxns is NOT NULL THEN s.FeeTxns + mci_fees
                        WHEN f.FeeTxns is NOT NULL AND s.FeeTxns is NULL THEN f.FeeTxns + mci_fees
                        WHEN f.FeeTxns is NULL AND s.FeeTxns is NULL THEN mci_fees
                        else (s.FeeTxns + f.FeeTxns) + mci_fees
                        end as FeeTxns
                        ,CASE WHEN f.TaxesTxns is NULL AND s.TaxesTxns is NULL AND mci_taxes is NULL THEN 0
                        WHEN f.TaxesTxns is NULL AND s.TaxesTxns is NOT NULL THEN s.TaxesTxns + mci_taxes
                        WHEN f.TaxesTxns is NOT NULL AND s.TaxesTxns is NULL THEN f.TaxesTxns + mci_taxes
                        WHEN f.TaxesTxns is NULL AND s.TaxesTxns is NULL THEN mci_taxes
                        else (s.TaxesTxns + f.TaxesTxns) + mci_taxes
                        end as TaxesTxns
                        ,CASE WHEN topups.Fee_TopUps is NULL THEN 0
                        else topups.Fee_TopUps end as Fee_TopUps2
                        ,CASE WHEN topups.Taxes_TopUps is NULL THEN 0
                        else topups.Taxes_TopUps end as Taxes_TopUps2
                        ,CASE WHEN c_chrbck.Cobranza is NULL THEN 0
                        else c_chrbck.Cobranza end as Cobranza
                        from
                        (
                        select 
                        dateadd(day, -32, CURRENT_DATE()) as eff_dt_fake
                        ,uniform(0, 0, random(1)) as TPV_Settlement_fake
                        from table(generator(rowcount => 1)) v
                        )fake
                        FULL JOIN
                        (
                        SELECT eff_dt as eff_dt
                        ,SUM(gross_amount_sett - gross_amount_pymt) as TPV_Settlement
                        ,SUM(FeeTxns_sett - FeeTxns_pymt) as FeeTxns
                        ,SUM(TaxesTxns_sett - TaxesTxns_pymt) as TaxesTxns
                        FROM 
                            (
                                select 
                                sett.eff_dt as eff_dt
                                ,case when sett.dcc_amount is not null then 0
                                else sett.sml_amount end as gross_amount_sett
                                ,sett.FeeTxns as FeeTxns_sett
                                ,sett.TaxesTxns as TaxesTxns_sett
                                ,case when pymt.sml_amount is NULL then 0
                                when sett.dcc_amount is not null then 0
                                else pymt.sml_amount end as gross_amount_pymt
                                ,case when pymt.FeeTxns is NULL then 0
                                else pymt.FeeTxns end as FeeTxns_pymt
                                ,case when pymt.TaxesTxns is NULL then 0
                                else pymt.TaxesTxns end as TaxesTxns_pymt
                                FROM
                                (
                                    SELECT eff_dt as eff_dt
                                    ,mvnt_id
                                    ,case when sml_amount is NULL and p_gross_amount is NOT NULL then p_gross_amount
                                    when sml_amount is NULL and p_gross_amount is NULL then 0
                                    else sml_amount end as sml_amount
                                    ,case when sml_fees is NULL and p_gross_amount is NOT NULL then ((p_gross_amount - j_amount) / 1.16)
                                    when sml_fees is NULL and p_gross_amount is NULL then 0
                                    else sml_fees end as FeeTxns
                                    ,case when sml_taxes is NULL and p_gross_amount is NOT NULL then (((p_gross_amount - j_amount) / 1.16) * .16)
                                    when sml_taxes is NULL and p_gross_amount is NULL then 0
                                    else sml_taxes end as TaxesTxns
                                    ,dcc_amount
                                    FROM journal_daily
                                    WHERE 
                                    src_type = 'SETT'
                                    AND mvnt_type = 'REGULAR_PYMT_RQ'
                                    AND eff_dt = dateadd(day, -32, CURRENT_DATE())
                                )sett 
                                LEFT JOIN
                                (
                                    SELECT eff_dt as eff_dt
                                    ,mvnt_id
                                    ,case when sml_amount is NULL and p_gross_amount is NOT NULL then p_gross_amount
                                    when sml_amount is NULL and p_gross_amount is NULL then 0
                                    else sml_amount end as sml_amount
                                    ,case when sml_fees is NULL and p_gross_amount is NOT NULL then ((p_gross_amount - (j_amount * -1)) / 1.16)
                                    when sml_fees is NULL and p_gross_amount is NULL then 0
                                    else sml_fees end as FeeTxns
                                    ,case when sml_taxes is NULL and p_gross_amount is NOT NULL then (((p_gross_amount - (j_amount * -1)) / 1.16) * .16)
                                    when sml_taxes is NULL and p_gross_amount is NULL then 0
                                    else sml_taxes end as TaxesTxns
                                    FROM journal_daily
                                    WHERE 
                                    src_type = 'PYMT'
                                )pymt ON pymt.mvnt_id = sett.mvnt_id
                            )
                        WHERE
                        eff_dt = dateadd(day, -32, CURRENT_DATE())
                        GROUP BY eff_dt
                        ) s
                        on s.eff_dt = fake.eff_dt_fake
                        FULL JOIN
                        (
                        SELECT eff_dt as eff_dt
                        ,SUM(gross_amount_sett - gross_amount_pymt) as TPV_FastPayments
                        ,SUM(FeeTxns_sett - FeeTxns_pymt) as FeeTxns
                        ,SUM(TaxesTxns_sett - TaxesTxns_pymt) as TaxesTxns
                        FROM 
                            (
                                select 
                                sett.eff_dt as eff_dt
                                ,case when sett.dcc_amount is not null then 0
                                else sett.sml_amount end as gross_amount_sett
                                ,sett.FeeTxns as FeeTxns_sett
                                ,sett.TaxesTxns as TaxesTxns_sett
                                ,case when pymt.sml_amount is NULL then 0
                                when sett.dcc_amount is not null then 0
                                else pymt.sml_amount end as gross_amount_pymt
                                ,case when pymt.FeeTxns is NULL then 0
                                else pymt.FeeTxns end as FeeTxns_pymt
                                ,case when pymt.TaxesTxns is NULL then 0
                                else pymt.TaxesTxns end as TaxesTxns_pymt
                                FROM
                                (
                                    SELECT eff_dt as eff_dt
                                    ,mvnt_id
                                     ,case when sml_amount is NULL and p_gross_amount is NOT NULL then p_gross_amount
                                    when sml_amount is NULL and p_gross_amount is NULL then 0
                                    else sml_amount end as sml_amount
                                    ,case when sml_fees is NULL and p_gross_amount is NOT NULL then ((p_gross_amount - j_amount) / 1.16)
                                    when sml_fees is NULL and p_gross_amount is NULL then 0
                                    else sml_fees end as FeeTxns
                                    ,case when sml_taxes is NULL and p_gross_amount is NOT NULL then (((p_gross_amount - j_amount) / 1.16) * .16)
                                    when sml_taxes is NULL and p_gross_amount is NULL then 0
                                    else sml_taxes end as TaxesTxns
                                    ,dcc_amount
                                    FROM journal_daily
                                    WHERE 
                                    src_type = 'SETT'
                                    AND mvnt_type = 'FAST_PYMT_RQ'
                                    AND eff_dt = dateadd(day, -32, CURRENT_DATE())
                                )sett 
                                LEFT JOIN
                                (
                                    SELECT eff_dt as eff_dt
                                    ,mvnt_id
                                    ,case when sml_amount is NULL and p_gross_amount is NOT NULL then p_gross_amount
                                    when sml_amount is NULL and p_gross_amount is NULL then 0
                                    else sml_amount end as sml_amount
                                    ,case when sml_fees is NULL and p_gross_amount is NOT NULL then ((p_gross_amount - (j_amount * -1)) / 1.16)
                                    when sml_fees is NULL and p_gross_amount is NULL then 0
                                    else sml_fees end as FeeTxns
                                    ,case when sml_taxes is NULL and p_gross_amount is NOT NULL then (((p_gross_amount - (j_amount * -1)) / 1.16) * .16)
                                    when sml_taxes is NULL and p_gross_amount is NULL then 0
                                    else sml_taxes end as TaxesTxns
                                    FROM journal_daily
                                    WHERE 
                                    src_type = 'PYMT'
                                )pymt ON pymt.mvnt_id = sett.mvnt_id
                            )
                        WHERE
                        eff_dt = dateadd(day, -32, CURRENT_DATE())
                        GROUP BY eff_dt
                        )f      
                        on f.eff_dt = s.eff_dt
                        FULL JOIN
                        (
                            select
                                eff_dt_fake as eff_dt
                                ,CASE WHEN mci_fees_taxes.mci_fees is NOT NULL THEN mci_fees_taxes.mci_fees
                                ELSE 0 END as mci_fees
                                ,CASE WHEN mci_fees_taxes.mci_taxes is NOT NULL THEN mci_fees_taxes.mci_taxes
                                ELSE 0 END as mci_taxes
                            from

                            (
                                        select 
                                        dateadd(day, -32, CURRENT_DATE()) as eff_dt_fake
                                        ,uniform(0, 0, random(1)) as taxes_fees_fake
                                        from table(generator(rowcount => 1)) v
                            )fake
                            LEFT JOIN
                            (
                                select
                                sett_mci.eff_dt as eff_dt
                                ,CASE WHEN SUM(sett_mci.sml_fees - FeeTxns_pymt) is NOT NULL THEN SUM(sett_mci.sml_fees - FeeTxns_pymt)
                                ELSE 0 END as mci_fees
                                ,CASE WHEN SUM(sett_mci.sml_taxes - TaxesTxns_pymt) is NOT NULL THEN SUM(sett_mci.sml_taxes - TaxesTxns_pymt)
                                ELSE 0 END as mci_taxes
                                
                                from
                                (
                                    select 
                                    sett_mci.eff_dt as eff_dt
                                    ,sett_mci.mvnt_id
                                    ,sett_mci.sml_fees
                                    ,sett_mci.sml_taxes
                                    ,CASE WHEN pymt.FeeTxns is NULL THEN 0
                                    ELSE pymt.FeeTxns END as FeeTxns_pymt
                                    ,CASE WHEN pymt.TaxesTxns is NULL THEN 0
                                    ELSE pymt.TaxesTxns END as TaxesTxns_pymt
                                    from
                                        (
                                            SELECT eff_dt as eff_dt
                                            ,mvnt_id
                                            ,case when sml_fees is NULL and p_gross_amount is NOT NULL then ((p_psp_amount - p_gross_amount) / 1.16)
                                            when sml_fees is NULL and p_gross_amount is NULL then 0
                                            else sml_fees end as sml_fees
                                            ,case when sml_taxes is NULL and p_gross_amount is NOT NULL then (((p_psp_amount - p_gross_amount) / 1.16) * .16)
                                            when sml_taxes is NULL and p_gross_amount is NULL then 0
                                            else sml_taxes end as sml_taxes
                                            FROM journal_daily
                                            WHERE 
                                            src_type = 'SETT'
                                            AND (mvnt_type = 'DEFERRED_REGULAR_PYMNT_RQ' OR mvnt_type = 'DEFERRED_FAST_PYMNT_RQ')
                                            AND eff_dt = dateadd(day, -32, CURRENT_DATE())
                                        )sett_mci
                                        LEFT JOIN 
                                        (
                                            SELECT eff_dt as eff_dt
                                            ,mvnt_id
                                            ,case when sml_fees is NULL and p_gross_amount is NOT NULL then ((p_gross_amount - (j_amount * -1)) / 1.16)
                                            when sml_fees is NULL and p_gross_amount is NULL then 0
                                            else sml_fees end as FeeTxns
                                            ,case when sml_taxes is NULL and p_gross_amount is NOT NULL then (((p_gross_amount - (j_amount * -1)) / 1.16) * .16)
                                            when sml_taxes is NULL and p_gross_amount is NULL then 0
                                            else sml_taxes end as TaxesTxns
                                            FROM journal_daily
                                            WHERE 
                                            src_type = 'PYMT'
                                        )pymt ON pymt.mvnt_id = sett_mci.mvnt_id
                                )sett_mci
                                GROUP BY sett_mci.eff_dt
                            )mci_fees_taxes
                            ON fake.eff_dt_fake = mci_fees_taxes.eff_dt
                        )drpr      
                        on drpr.eff_dt = s.eff_dt
                        FULL JOIN
                        (
                        SELECT eff_dt as eff_dt
                        ,sum(round(j_amount / 1.16,2)) as Fee_TopUps
                        ,sum(round((j_amount / 1.16) * .16,2)) as Taxes_TopUps
                        FROM journal_daily
                        WHERE 
                        src_type = 'TOPUPS'
                        AND mvnt_type = 'DIRECT_DEPOSIT_RQ'
                        AND eff_dt = dateadd(day, -32, CURRENT_DATE())
                        GROUP BY eff_dt
                        ) topups
                        on topups.eff_dt = s.eff_dt
                        FULL JOIN
                        (
                        SELECT eff_dt as eff_dt
                        ,sum(j_amount) * -1 as Cobranza
                        FROM journal_daily
                        WHERE 
                        src_type = 'RISK'
                        AND mvnt_type = 'CHRBCK_RQ'
                        AND eff_dt = dateadd(day, -32, CURRENT_DATE())
                        GROUP BY eff_dt
                        ) c_chrbck
                        on c_chrbck.eff_dt = s.eff_dt
                    )
                    group by settlement_daily_eff_dt
            )settlement_daily
            FULL JOIN
            (
                with deferred_payments(eff_dt,merchant_id,mvnt_id,tpv_deferred_payments,fees_deferred_payments,taxes_deferred_payments,fees_deferred_payments_sml,taxes_deferred_payments_sml) as (


                        select
                        eff_dt
                        ,REPLACE(ACCT_ID, 'M#') as merchant_id
                        ,mvnt_id
                        ,gross_amount as tpv_deferred_payments
                        ,(p.psp_amount - gross_amount) / 1.16 as fees_deferred_payments
                        ,((p.psp_amount - gross_amount) / 1.16) * .16 as taxes_deferred_payments
                        ,sml_fees as fees_deferred_payments_sml
                        ,sml_taxes as taxes_deferred_payments_sml
                        from

                            (
                                SELECT 
                                    j.ACCT_ID as ACCT_ID
                                    ,j.AMOUNT as j_amount
                                    ,j.created_at as created_at
                                    ,j.currency as currency
                                    ,j.desc as desc
                                    ,j.eff_dt as eff_dt
                                    ,j.full_eff_dt as full_eff_dt
                                    ,j.full_id as full_id
                                    ,j.mvnt_dt as mvnt_dt
                                    ,j.mvnt_dt_id as mvnt_dt_id
                                    ,j.mvnt_id as mvnt_id
                                    ,j.mvnt_type as mvnt_type
                                    ,j.src_type as src_type
                                    ,sml.mvnt_id as sml_mvnt_id
                                    ,sml.amount as gross_amount
                                    ,sml.created_at as sml_created_at
                                    ,sml.eff_dt as sml_eff_dt
                                    ,sml.fees as sml_fees
                                    ,sml.mdr as sml_mdr
                                    ,sml.msi as sml_msi
                                    ,sml.mvnt_type as sml_mvnt_type
                                    ,sml.net_amount as sml_net_amount
                                    ,sml.payload as sml_payload
                                    ,sml.pk as sml_pk
                                    ,sml.pymt_prg as sml_pymt_prg
                                    ,sml.ref_id as sml_ref_id
                                    ,sml.sk as sml_sk
                                    ,sml.status_code as sml_status_code
                                    ,sml.taxes as sml_taxes
                                    FROM
                                    (
                                    SELECT 
                                        record_data:acct_id.S as ACCT_ID
                                        ,to_number(record_data:amount.N, 10, 2) as AMOUNT
                                        ,DATE(CONVERT_TIMEZONE('UTC', 'America/Mexico_City', record_data:created_at.S)) as created_at
                                        ,record_data:currency.S as currency
                                        ,record_data:desc.S as desc
                                        ,DATE(CONVERT_TIMEZONE('UTC', 'America/Mexico_City', record_data:eff_dt.S)) as eff_dt
                                        ,record_data:full_eff_dt.S as full_eff_dt
                                        ,record_data:full_id.S as full_id
                                        ,record_data:mvnt_dt.S as mvnt_dt
                                        ,record_data:mvnt_dt_id.S as mvnt_dt_id
                                        ,record_data:mvnt_id.S as mvnt_id
                                        ,record_data:mvnt_type.S as mvnt_type
                                        ,record_data:src_type.S as src_type

                                    from "PRD_CLIP_ANALYTICS"."CLIPDS_DYNAMO_SILVER"."AP_JOURNAL" 
                                    WHERE 
                                    DATE(CONVERT_TIMEZONE('UTC', 'America/Mexico_City', record_data:eff_dt.S)) = dateadd(day, -32, CURRENT_DATE())
                                    AND (record_data:mvnt_type.S = 'DEFERRED_REGULAR_PYMNT_RQ' OR record_data:mvnt_type.S = 'DEFERRED_FAST_PYMNT_RQ')

                                    ) j
                                    LEFT JOIN
                                    (
                                        select 
                                        record_data:mvnt_id.S as mvnt_id
                                        ,to_number(record_data:amount.N, 10, 2) as AMOUNT
                                        ,DATE(CONVERT_TIMEZONE('UTC', 'America/Mexico_City', record_data:created_at.S)) as created_at
                                        ,DATE(CONVERT_TIMEZONE('UTC', 'America/Mexico_City', record_data:eff_dt.S)) as eff_dt
                                        ,to_number(record_data:fees.N, 10, 2) as fees
                                        ,to_number(record_data:mdr.N, 10, 2) as mdr
                                        ,to_number(record_data:msi.N, 10, 2) as msi
                                        ,record_data:mvnt_type.S as mvnt_type
                                        ,to_number(record_data:net_amount.N, 10, 2) as net_amount
                                        ,record_data:payload.S as payload
                                        ,record_data:pk.S as pk
                                        ,record_data:pymt_prg.S as pymt_prg
                                        ,record_data:ref_id.S as ref_id
                                        ,record_data:sk.S as sk
                                        ,record_data:status_code.S as status_code
                                        ,to_number(record_data:taxes.N, 10, 2) as taxes
                                        from "PRD_CLIP_ANALYTICS"."CLIPDS_DYNAMO_SILVER"."SETTLEMENT_MASTER_LOG"
                                    ) sml ON sml.mvnt_id = j.mvnt_id
                                    where src_type = 'SETT'
                                    AND sml_mvnt_type = 'STL_PCS_RQ'

                            ) j_sml
                                LEFT JOIN  
                            (
                                select
                                    pay.updated_at
                                    ,transaction_id
                                    ,pay.psp_amount
                                    ,pay.amount
                                    ,pay.merchant_id
                                    ,pay.status_code
                                    ,mer_att.merchant_id as mer_attr_merchant_id
                                    ,mer_att.fastpay
                                    from
                                    ( 
                                        select
                                        DATE(CONVERT_TIMEZONE('UTC', 'America/Mexico_City', p.updated_at)) as updated_at,
                                        transaction_id,
                                        p.psp_amount as psp_amount,
                                        p.amount as amount,
                                        p.merchant_id,
                                        p.status_code
                                        from "PRD_CLIP_ANALYTICS"."CLIPDW_TRANSACTION".payment p
                                        where p.type = 'DEFERRED_PAYMENT'
                                    )pay
                                    LEFT JOIN
                                    (
                                        select REPLACE(merchant_id, 'mid_') as merchant_id, fastpay from "PRD_CLIP_ANALYTICS"."CLIPDS_DYNAMO_GOLD"."MERCHANT_ATTRIBUTES"
                                    )mer_att
                                    on pay.merchant_id = mer_att.merchant_id
                            )p on j_sml.mvnt_id = p.transaction_id
                            where p.transaction_id is not null AND p.status_code = 1
                                    
                )
                        select
                        updated_at_fake as updated_at_deferred_payments,
                        case when TPV_deferred_payments is null then 0 else TPV_deferred_payments end as TPV_deferred_payments,
                        case when fees_deferred_payments is null then 0 else fees_deferred_payments end as fee_deferred_payments,
                        case when taxes_deferred_payments is null then 0 else taxes_deferred_payments end as taxes_deferred_payments,
                        case when fees_deferred_payments_sml is null then 0 else fees_deferred_payments_sml end as fees_deferred_payments_sml, 
                        case when taxes_deferred_payments_sml is null then 0 else taxes_deferred_payments_sml end as taxes_deferred_payments_sml 
                        from
                            (
                                select 
                                dateadd(day, -32, CURRENT_DATE()) as updated_at_fake
                                ,uniform(0, 0, random(1)) as TPV_deferred_fake
                                from table(generator(rowcount => 1)) v
                            )fake
                            FULL JOIN
                            (
                                select 
                                eff_dt as eff_dt
                                ,sum(tpv_deferred_payments) as tpv_deferred_payments
                                ,sum(fees_deferred_payments) as fees_deferred_payments
                                ,sum(taxes_deferred_payments) as taxes_deferred_payments
                                ,sum(fees_deferred_payments_sml) as fees_deferred_payments_sml
                                ,sum(taxes_deferred_payments_sml) as taxes_deferred_payments_sml
                                from deferred_payments
                                group by eff_dt
                            )tpv_deferred_payments_daily
                            on fake.updated_at_fake = tpv_deferred_payments_daily.eff_dt

            )tpv_deferred_payments
            FULL JOIN
            (
                with lenders(collection_date_local,provider_code,collected_today,collection_origin) as (
                    select 
                    collection_date_local,
                    provider_code,
                    amount as collected_today,
                    collection_origin
                    from 
                    "PRD_CLIP_ANALYTICS"."CLIPDW_LOANS".COLLECTIONS
                    WHERE
                        collection_date_local = dateadd(day, -32, CURRENT_DATE())
                    ORDER BY collection_date_local
                )
                select
                collection_date_local as Adj_Loans_Lenders_collection_date_local,
                sum(collected_today) as Adj_Loans_Lenders
                from lenders where provider_code <> 'CLIP'
                and collection_origin = 'SETTLEMENT'
                GROUP BY collection_date_local
                ORDER BY collection_date_local
      
            ) Adj_Loans_Lenders
            FULL JOIN
            (
                WITH adjustments_cancelaciones_fees_taxes(
                                    ACCT_ID,j_amount,created_at,eff_dt,mvnt_id,mvnt_type,src_type,sml_mvnt_id,sml_amount,sml_fees,sml_taxes,pf_mvnt_id,pf_fees,pf_taxes,pf_amount,fees,taxes,amount
                                ) as ( 
                                    SELECT 
                                        j.ACCT_ID as ACCT_ID
                                        ,j.AMOUNT as j_amount
                                        ,j.created_at as created_at
                                        ,j.eff_dt as eff_dt
                                        ,j.mvnt_id as mvnt_id
                                        ,j.mvnt_type as mvnt_type
                                        ,j.src_type as src_type
                                        ,sml.mvnt_id as sml_mvnt_id
                                        ,sml.amount as sml_amount
                                        ,sml.fees as sml_fees
                                        ,sml.taxes as sml_taxes
                                        ,pf.mvnt_id as pf_mvnt_id
                                        ,pf.fees as pf_fees
                                        ,pf.taxes as pf_taxes
                                        ,pf.amount as pf_amount
                                        ,CASE
                                            WHEN sml.fees is NULL AND pf.fees is not NULL THEN truncate(pf.fees,2)
                                            WHEN sml.fees is NULL AND pf.fees is NULL THEN 0
                                            else sml.fees
                                        END as fees
                                        ,CASE
                                            WHEN sml.taxes is NULL AND pf.taxes is not NULL THEN truncate(pf.taxes,2)
                                            WHEN sml.taxes is NULL AND pf.taxes is NULL THEN 0
                                            else sml.taxes
                                        END as taxes
                                        ,CASE
                                            WHEN sml.amount is NULL AND pf.amount is not NULL THEN truncate(pf.amount,2)
                                            WHEN sml.amount is NULL AND pf.amount is NULL THEN 0
                                            else sml.amount
                                        END as amount
                                        FROM
                                        (
                                        SELECT 
                                            record_data:acct_id.S as ACCT_ID
                                            ,to_number(record_data:amount.N, 10, 2) as AMOUNT
                                            ,DATE(CONVERT_TIMEZONE('UTC', 'America/Mexico_City', record_data:created_at.S)) as created_at
                                            ,record_data:currency.S as currency
                                            ,record_data:desc.S as desc
                                            ,DATE(CONVERT_TIMEZONE('UTC', 'America/Mexico_City', record_data:eff_dt.S)) as eff_dt
                                            ,record_data:full_eff_dt.S as full_eff_dt
                                            ,record_data:full_id.S as full_id
                                            ,record_data:mvnt_dt.S as mvnt_dt
                                            ,record_data:mvnt_dt_id.S as mvnt_dt_id
                                            ,record_data:mvnt_id.S as mvnt_id
                                            ,record_data:mvnt_type.S as mvnt_type
                                            ,record_data:src_type.S as src_type

                                        from "PRD_CLIP_ANALYTICS"."CLIPDS_DYNAMO_SILVER"."AP_JOURNAL" 
                                            
                                        ) j
                                        LEFT JOIN
                                        (
                                            select 
                                            record_data:mvnt_id.S as mvnt_id
                                            ,to_number(record_data:amount.N, 10, 2) as AMOUNT
                                            ,DATE(CONVERT_TIMEZONE('UTC', 'America/Mexico_City', record_data:created_at.S)) as created_at
                                            ,DATE(CONVERT_TIMEZONE('UTC', 'America/Mexico_City', record_data:eff_dt.S)) as eff_dt
                                            ,to_number(record_data:fees.N, 10, 2) as fees
                                            ,to_number(record_data:mdr.N, 10, 2) as mdr
                                            ,to_number(record_data:msi.N, 10, 2) as msi
                                            ,record_data:mvnt_type.S as mvnt_type
                                            ,to_number(record_data:net_amount.N, 10, 2) as net_amount
                                            ,record_data:payload.S as payload
                                            ,record_data:pk.S as pk
                                            ,record_data:pymt_prg.S as pymt_prg
                                            ,record_data:ref_id.S as ref_id
                                            ,record_data:sk.S as sk
                                            ,record_data:status_code.S as status_code
                                            ,to_number(record_data:taxes.N, 10, 2) as taxes
                                            from "PRD_CLIP_ANALYTICS"."CLIPDS_DYNAMO_SILVER"."SETTLEMENT_MASTER_LOG"
                                            WHERE record_data:mvnt_type.S = 'STL_PCS_RQ'
                                        ) sml ON sml.mvnt_id = j.mvnt_id
                                        LEFT JOIN
                                        (
                                        select
                                            pf.TRANSACTION_ID as mvnt_id,
                                            pf.TRANSACTION_FEE_CALCULATED as fees,
                                            (pf.TRANSACTION_FEE_CALCULATED * 0.1600) AS taxes,
                                            (pf.FINAL_PAYMENT_AMOUNT) AS AMOUNT,
                                            (pf.TRANSACTION_FEE_CALCULATED * 0.1600) AS TRANSACTION_FEE_TAX_CALCULATED,
                                            (pf.FINAL_PAYMENT_AMOUNT - pf.TRANSACTION_FEE_CALCULATED - TRANSACTION_FEE_TAX_CALCULATED) AS net_amount
                                        FROM PRD_CLIP_ANALYTICS.DW.PAYMENT_FACT pf
                                        )pf ON pf.mvnt_id = j.mvnt_id
                                )

                                select
                                    f.adj_cancel_fees_taxes_eff_dt as adj_cancel_fees_taxes_eff_dt
                                    ,CASE WHEN acft.adjustments_cancelaciones_amount is not NULL then acft.adjustments_cancelaciones_amount
                                    else f.adjustments_cancelaciones_amount end as adjustments_cancelaciones
                                    ,CASE WHEN acft.adjustments_cancelaciones_fees is not NULL then (acft.adjustments_cancelaciones_fees)
                                    else f.adjustments_cancelaciones_fees end as adjustments_cancelaciones_fees
                                    ,CASE WHEN acft.adjustments_cancelaciones_taxes is not NULL then (acft.adjustments_cancelaciones_taxes)
                                    else f.adjustments_cancelaciones_taxes end as adjustments_cancelaciones_taxes
                                from
                                (
                                select 
                                    dateadd(day, -32, CURRENT_DATE()) as adj_cancel_fees_taxes_eff_dt
                                    ,uniform(0, 0, random(1)) as adjustments_cancelaciones_amount
                                    ,uniform(0, 0, random(1)) as adjustments_cancelaciones_fees
                                    ,uniform(0, 0, random(1)) as adjustments_cancelaciones_taxes
                                    from table(generator(rowcount => 1)) v
                                )f
                                LEFT JOIN
                                (
                                select 
                                    adj_cancel_fees_taxes_eff_dt as adj_cancel_fees_taxes_eff_dt
                                    ,CASE WHEN sum(pymnt_cancel.amount) is NOT NULL THEN sum(pymnt_cancel.amount)
                                    else 0 end as adjustments_cancelaciones_amount
                                    ,CASE WHEN SUM(pymnt_cancel.fees) is NOT NULL THEN SUM(pymnt_cancel.fees)
                                    else 0 end as adjustments_cancelaciones_fees
                                    ,CASE WHEN SUM(pymnt_cancel.taxes) is NOT NULL THEN SUM(pymnt_cancel.taxes)
                                    else 0 end as adjustments_cancelaciones_taxes
                                    from
                                    (
                                        select eff_dt as adj_cancel_fees_taxes_eff_dt
                                        ,fees
                                        ,taxes
                                        ,amount
                                        ,mvnt_id
                                        from adjustments_cancelaciones_fees_taxes
                                        where mvnt_type = 'CANCEL_RQ' AND (src_type = 'PYMT' OR src_type = 'RISK') 
                                        AND eff_dt = dateadd(day, -32, CURRENT_DATE())
                                    )pymnt_cancel LEFT JOIN
                                    (
                                        select mvnt_id
                                        ,fees
                                        ,taxes
                                        ,amount
                                        ,eff_dt
                                        from adjustments_cancelaciones_fees_taxes
                                        where (mvnt_type = 'REGULAR_PYMT_RQ' OR mvnt_type = 'FAST_PYMT_RQ' OR mvnt_type = 'DEFERRED_REGULAR_PYMNT_RQ' OR mvnt_type = 'DEFERRED_FAST_PYMNT_RQ') AND src_type = 'SETT' 
                                    )sett ON pymnt_cancel.mvnt_id = sett.mvnt_id
                                    where sett.mvnt_id is not null
                                    group by adj_cancel_fees_taxes_eff_dt
                                )acft on f.adj_cancel_fees_taxes_eff_dt = acft.adj_cancel_fees_taxes_eff_dt
            )adjustments_cancelaciones_fees_taxes
            FULL JOIN
            (
                WITH risk_release (
                            ACCT_ID
                            ,jd_amount
                            ,created_at
                            ,currency
                            ,desc
                            ,eff_dt
                            ,full_eff_dt
                            ,full_id
                            ,mvnt_dt
                            ,mvnt_dt_id
                            ,mvnt_id
                            ,mvnt_type
                            ,src_type
                            ,rlse_release_id
                            ,rlse_transaction_id
                            ,rlse_journal_movement_id
                            ,sml_mvnt_id
                            ,sml_amount
                            ,sml_created_at
                            ,sml_eff_dt
                            ,sml_fees
                            ,sml_mdr
                            ,sml_msi
                            ,sml_mvnt_type
                            ,sml_net_amount
                            ,sml_payload
                            ,sml_pk
                            ,sml_pymt_prg
                            ,sml_ref_id
                            ,sml_sk
                            ,sml_status_code
                            ,sml_taxes
                    )as (
                    WITH journal_daily(
                            ACCT_ID,j_amount,created_at,currency,desc,eff_dt,full_eff_dt,full_id,mvnt_dt,mvnt_dt_id,mvnt_id,mvnt_type,src_type
                        ) as (
                                SELECT 
                                j.ACCT_ID as ACCT_ID
                                ,j.AMOUNT as j_amount
                                ,j.created_at as created_at
                                ,j.currency as currency
                                ,j.desc as desc
                                ,j.eff_dt as eff_dt
                                ,j.full_eff_dt as full_eff_dt
                                ,j.full_id as full_id
                                ,j.mvnt_dt as mvnt_dt
                                ,j.mvnt_dt_id as mvnt_dt_id
                                ,j.mvnt_id as mvnt_id
                                ,j.mvnt_type as mvnt_type
                                ,j.src_type as src_type
                                FROM
                                    (
                                    SELECT 
                                        record_data:acct_id.S as ACCT_ID
                                        ,to_number(record_data:amount.N, 10, 2) as AMOUNT
                                        ,DATE(CONVERT_TIMEZONE('UTC', 'America/Mexico_City', record_data:created_at.S)) as created_at
                                        ,record_data:currency.S as currency
                                        ,record_data:desc.S as desc
                                        ,DATE(CONVERT_TIMEZONE('UTC', 'America/Mexico_City', record_data:eff_dt.S)) as eff_dt
                                        ,record_data:full_eff_dt.S as full_eff_dt
                                        ,record_data:full_id.S as full_id
                                        ,record_data:mvnt_dt.S as mvnt_dt
                                        ,record_data:mvnt_dt_id.S as mvnt_dt_id
                                        ,record_data:mvnt_id.S as mvnt_id
                                        ,record_data:mvnt_type.S as mvnt_type
                                        ,record_data:src_type.S as src_type

                                    from "PRD_CLIP_ANALYTICS"."CLIPDS_DYNAMO_SILVER"."AP_JOURNAL" 
                                    WHERE 
                                    DATE(CONVERT_TIMEZONE('UTC', 'America/Mexico_City', record_data:eff_dt.S)) = dateadd(day, -32, CURRENT_DATE())
                                    ) j
                            )
                            select * from (
                                    select 
                                    jd.ACCT_ID as ACCT_ID
                                    ,jd.j_amount as jd_amount
                                    ,jd.created_at as created_at
                                    ,jd.currency as currency
                                    ,jd.desc as desc
                                    ,jd.eff_dt as eff_dt
                                    ,jd.full_eff_dt as full_eff_dt
                                    ,jd.full_id as full_id
                                    ,jd.mvnt_dt as mvnt_dt
                                    ,jd.mvnt_dt_id as mvnt_dt_id
                                    ,jd.mvnt_id as mvnt_id
                                    ,jd.mvnt_type as mvnt_type
                                    ,jd.src_type as src_type
                                    ,rlse.release_id as rlse_release_id
                                    ,rlse.transaction_id as rlse_transaction_id
                                    ,rlse.journal_movement_id as rlse_journal_movement_id
                                    ,sml.mvnt_id as sml_mvnt_id
                                    ,sml.amount as sml_amount
                                    ,sml.created_at as sml_created_at
                                    ,sml.eff_dt as sml_eff_dt
                                    ,sml.fees as sml_fees
                                    ,sml.mdr as sml_mdr
                                    ,sml.msi as sml_msi
                                    ,sml.mvnt_type as sml_mvnt_type
                                    ,sml.net_amount as sml_net_amount
                                    ,sml.payload as sml_payload
                                    ,sml.pk as sml_pk
                                    ,sml.pymt_prg as sml_pymt_prg
                                    ,sml.ref_id as sml_ref_id
                                    ,sml.sk as sml_sk
                                    ,sml.status_code as sml_status_code
                                    ,sml.taxes as sml_taxes
                                    from
                                    (
                                        select ACCT_ID,j_amount,created_at,currency,desc,eff_dt,full_eff_dt,full_id,mvnt_dt,mvnt_dt_id,mvnt_id,mvnt_type,src_type 
                                        from journal_daily 
                                        WHERE 
                                        src_type = 'RISK'
                                        AND mvnt_type = 'RELEASE_RQ'
                                    
                                    )jd
                                    LEFT JOIN
                                    (
                                        select release_id, transaction_id, journal_movement_id
                                        from "PRD_CLIP_ANALYTICS"."CLIPDW_RISK_OPERATIONS".releases
                                    
                                    )rlse on rlse.journal_movement_id = jd.mvnt_id
                                    LEFT JOIN
                                    (
                                        select 
                                        record_data:mvnt_id.S as mvnt_id
                                        ,to_number(record_data:amount.N, 10, 2) as AMOUNT
                                        ,DATE(CONVERT_TIMEZONE('UTC', 'America/Mexico_City', record_data:created_at.S)) as created_at
                                        ,DATE(CONVERT_TIMEZONE('UTC', 'America/Mexico_City', record_data:eff_dt.S)) as eff_dt
                                        ,to_number(record_data:fees.N, 10, 2) as fees
                                        ,to_number(record_data:mdr.N, 10, 2) as mdr
                                        ,to_number(record_data:msi.N, 10, 2) as msi
                                        ,record_data:mvnt_type.S as mvnt_type
                                        ,to_number(record_data:net_amount.N, 10, 2) as net_amount
                                        ,record_data:payload.S as payload
                                        ,record_data:pk.S as pk
                                        ,record_data:pymt_prg.S as pymt_prg
                                        ,record_data:ref_id.S as ref_id
                                        ,record_data:sk.S as sk
                                        ,record_data:status_code.S as status_code
                                        ,to_number(record_data:taxes.N, 10, 2) as taxes
                                        from "PRD_CLIP_ANALYTICS"."CLIPDS_DYNAMO_SILVER"."SETTLEMENT_MASTER_LOG"
                                        WHERE mvnt_type = 'STL_PCS_RQ'
                                    )sml on sml.mvnt_id = rlse.transaction_id
                            )qualify ROW_NUMBER() OVER (PARTITION BY mvnt_id ORDER BY mvnt_id) = 1
                    )
                        select
                            f.eff_dt as risk_release_eff_dt
                            ,CASE WHEN rr.Release_Risk is not NULL then rr.Release_Risk
                            else f.Release_Risk end as Release_Risk
                            ,CASE WHEN rr.Release_Risk_Fast_Payments is not NULL then rr.Release_Risk_Fast_Payments
                            else f.Release_Risk_Fast_Payments end as Release_Risk_Fast_Payments
                            from
                            (
                            select 
                                dateadd(day, -32, CURRENT_DATE()) as eff_dt
                                ,uniform(0, 0, random(1)) as Release_Risk
                                ,uniform(0, 0, random(1)) as Release_Risk_Fast_Payments
                                from table(generator(rowcount => 1)) v
                            )f
                            LEFT JOIN
                            (
                            select 
                                    eff_dt
                                    ,SUM(Release_Risk) as Release_Risk
                                    ,SUM(Release_Risk_Fast_Payments) as Release_Risk_Fast_Payments
                                from (
                                    select 
                                            CASE WHEN rr_daily.eff_dt is NOT NULL THEN rr_daily.eff_dt
                                            WHEN rr_instant.eff_dt is NOT NULL THEN rr_instant.eff_dt
                                            else dateadd(day, -32, CURRENT_DATE()) end as eff_dt
                                            ,CASE WHEN rr_daily.Release_Risk is NOT NULL THEN rr_daily.Release_Risk
                                            else 0 end as Release_Risk
                                            ,CASE WHEN rr_instant.Release_Risk_Fast_Payments is NOT NULL THEN rr_instant.Release_Risk_Fast_Payments
                                            else 0 end as Release_Risk_Fast_Payments
                                        from 
                                            (
                                                select 
                                                eff_dt 
                                                ,sum(jd_amount) as Release_Risk
                                                from risk_release 
                                                where sml_pymt_prg <> 'FAST_PAYMENT'
                                                GROUP BY eff_dt
                                            ) rr_daily
                                            FULL JOIN
                                            (
                                                select
                                                eff_dt 
                                                ,sum(jd_amount) as Release_Risk_Fast_Payments 
                                                from risk_release 
                                                where sml_pymt_prg = 'FAST_PAYMENT'
                                                GROUP BY eff_dt
                                            ) rr_instant ON rr_instant.eff_dt = rr_daily.eff_dt
                                )
                                group by eff_dt
                            )rr on rr.eff_dt = f.eff_dt

            )risk_release
            FULL JOIN
            (
                WITH risk_retention (
                            ACCT_ID
                            ,jd_amount
                            ,created_at
                            ,currency
                            ,desc
                            ,eff_dt
                            ,full_eff_dt
                            ,full_id
                            ,mvnt_dt
                            ,mvnt_dt_id
                            ,mvnt_id
                            ,mvnt_type
                            ,src_type
                            ,rr_retention_id
                            ,rr_transaction_id
                            ,rr_journal_movement_id
                            ,sml_mvnt_id
                            ,sml_amount
                            ,sml_created_at
                            ,sml_eff_dt
                            ,sml_fees
                            ,sml_mdr
                            ,sml_msi
                            ,sml_mvnt_type
                            ,sml_net_amount
                            ,sml_payload
                            ,sml_pk
                            ,sml_pymt_prg
                            ,sml_ref_id
                            ,sml_sk
                            ,sml_status_code
                            ,sml_taxes
                    )as (
                    WITH journal_daily(
                            ACCT_ID,j_amount,created_at,currency,desc,eff_dt,full_eff_dt,full_id,mvnt_dt,mvnt_dt_id,mvnt_id,mvnt_type,src_type
                        ) as (
                            
                            SELECT 
                            j.ACCT_ID as ACCT_ID
                            ,j.AMOUNT as j_amount
                            ,j.created_at as created_at
                            ,j.currency as currency
                            ,j.desc as desc
                            ,j.eff_dt as eff_dt
                            ,j.full_eff_dt as full_eff_dt
                            ,j.full_id as full_id
                            ,j.mvnt_dt as mvnt_dt
                            ,j.mvnt_dt_id as mvnt_dt_id
                            ,j.mvnt_id as mvnt_id
                            ,j.mvnt_type as mvnt_type
                            ,j.src_type as src_type
                            FROM
                            (
                            SELECT 
                                record_data:acct_id.S as ACCT_ID
                                ,to_number(record_data:amount.N, 10, 2) as AMOUNT
                                ,DATE(CONVERT_TIMEZONE('UTC', 'America/Mexico_City', record_data:created_at.S)) as created_at
                                ,record_data:currency.S as currency
                                ,record_data:desc.S as desc
                                ,DATE(CONVERT_TIMEZONE('UTC', 'America/Mexico_City', record_data:eff_dt.S)) as eff_dt
                                ,record_data:full_eff_dt.S as full_eff_dt
                                ,record_data:full_id.S as full_id
                                ,record_data:mvnt_dt.S as mvnt_dt
                                ,record_data:mvnt_dt_id.S as mvnt_dt_id
                                ,record_data:mvnt_id.S as mvnt_id
                                ,record_data:mvnt_type.S as mvnt_type
                                ,record_data:src_type.S as src_type

                            from "PRD_CLIP_ANALYTICS"."CLIPDS_DYNAMO_SILVER"."AP_JOURNAL" 
                            WHERE 
                            DATE(CONVERT_TIMEZONE('UTC', 'America/Mexico_City', record_data:eff_dt.S)) = dateadd(day, -32, CURRENT_DATE())
                            ) j
                            )

                            select * from (

                                select 
                                jd.ACCT_ID as ACCT_ID
                                ,jd.j_amount as jd_amount
                                ,jd.created_at as created_at
                                ,jd.currency as currency
                                ,jd.desc as desc
                                ,jd.eff_dt as eff_dt
                                ,jd.full_eff_dt as full_eff_dt
                                ,jd.full_id as full_id
                                ,jd.mvnt_dt as mvnt_dt
                                ,jd.mvnt_dt_id as mvnt_dt_id
                                ,jd.mvnt_id as mvnt_id
                                ,jd.mvnt_type as mvnt_type
                                ,jd.src_type as src_type
                                ,rr.retention_id as rr_retention_id
                                ,rr.transaction_id as rr_transaction_id
                                ,rr.journal_movement_id as rr_journal_movement_id
                                ,sml.mvnt_id as sml_mvnt_id
                                ,sml.amount as sml_amount
                                ,sml.created_at as sml_created_at
                                ,sml.eff_dt as sml_eff_dt
                                ,sml.fees as sml_fees
                                ,sml.mdr as sml_mdr
                                ,sml.msi as sml_msi
                                ,sml.mvnt_type as sml_mvnt_type
                                ,sml.net_amount as sml_net_amount
                                ,sml.payload as sml_payload
                                ,sml.pk as sml_pk
                                ,sml.pymt_prg as sml_pymt_prg
                                ,sml.ref_id as sml_ref_id
                                ,sml.sk as sml_sk
                                ,sml.status_code as sml_status_code
                                ,sml.taxes as sml_taxes
                                from
                                (
                                    select ACCT_ID,j_amount,created_at,currency,desc,eff_dt,full_eff_dt,full_id,mvnt_dt,mvnt_dt_id,mvnt_id,mvnt_type,src_type 
                                    from journal_daily 
                                    WHERE 
                                    src_type = 'RISK'
                                    AND mvnt_type = 'REVIEW_RQ'
                                
                                )jd
                                LEFT JOIN
                                (
                                    select retention_id, transaction_id, journal_movement_id
                                    from "PRD_CLIP_ANALYTICS"."CLIPDW_RISK_OPERATIONS".retentions
                                
                                )rr on rr.journal_movement_id = jd.mvnt_id
                                LEFT JOIN
                                (
                                    select 
                                    record_data:mvnt_id.S as mvnt_id
                                    ,to_number(record_data:amount.N, 10, 2) as AMOUNT
                                    ,DATE(CONVERT_TIMEZONE('UTC', 'America/Mexico_City', record_data:created_at.S)) as created_at
                                    ,DATE(CONVERT_TIMEZONE('UTC', 'America/Mexico_City', record_data:eff_dt.S)) as eff_dt
                                    ,to_number(record_data:fees.N, 10, 2) as fees
                                    ,to_number(record_data:mdr.N, 10, 2) as mdr
                                    ,to_number(record_data:msi.N, 10, 2) as msi
                                    ,record_data:mvnt_type.S as mvnt_type
                                    ,to_number(record_data:net_amount.N, 10, 2) as net_amount
                                    ,record_data:payload.S as payload
                                    ,record_data:pk.S as pk
                                    ,record_data:pymt_prg.S as pymt_prg
                                    ,record_data:ref_id.S as ref_id
                                    ,record_data:sk.S as sk
                                    ,record_data:status_code.S as status_code
                                    ,to_number(record_data:taxes.N, 10, 2) as taxes
                                    from "PRD_CLIP_ANALYTICS"."CLIPDS_DYNAMO_SILVER"."SETTLEMENT_MASTER_LOG"
                                    WHERE mvnt_type = 'STL_PCS_RQ'
                                )sml on sml.mvnt_id = rr.transaction_id

                            )qualify ROW_NUMBER() OVER (PARTITION BY mvnt_id ORDER BY mvnt_id) = 1
                    )
                    select
                            f.eff_dt as risk_retention_eff_dt
                            ,CASE WHEN rr.Retained_RR is not NULL then rr.Retained_RR
                            else f.Retained_RR end as Retained_RR
                            ,CASE WHEN rr.Retained_Fast_Payments is not NULL then rr.Retained_Fast_Payments
                            else f.Retained_Fast_Payments end as Retained_Fast_Payments
                            from
                            (
                            select 
                                dateadd(day, -32, CURRENT_DATE()) as eff_dt
                                ,uniform(0, 0, random(1)) as Retained_RR
                                ,uniform(0, 0, random(1)) as Retained_Fast_Payments
                                from table(generator(rowcount => 1)) v
                            )f
                            LEFT JOIN
                            (
                                select
                                eff_dt
                                ,SUM(Retained_RR) as Retained_RR
                                ,SUM(Retained_Fast_Payments) as Retained_Fast_Payments
                                FROM
                                (
                                    select 
                                            CASE WHEN rr_daily.eff_dt is NOT NULL THEN rr_daily.eff_dt
                                            WHEN rr_instant.eff_dt is NOT NULL THEN rr_instant.eff_dt
                                            else dateadd(day, -32, CURRENT_DATE()) end as eff_dt
                                            ,CASE WHEN rr_daily.Retained_RR is NOT NULL THEN rr_daily.Retained_RR
                                            else 0 end as Retained_RR
                                            ,CASE WHEN rr_instant.Retained_Fast_Payments is NOT NULL THEN rr_instant.Retained_Fast_Payments
                                            else 0 end as Retained_Fast_Payments
                                    from 
                                        (
                                            select 
                                            eff_dt 
                                            ,sum(jd_amount) * -1 as Retained_RR
                                            from risk_retention 
                                            where sml_pymt_prg <> 'FAST_PAYMENT'
                                            GROUP BY eff_dt
                                        ) rr_daily
                                        FULL JOIN
                                        (
                                            select
                                            eff_dt 
                                            ,sum(jd_amount) * -1 as Retained_Fast_Payments 
                                            from risk_retention 
                                            where sml_pymt_prg = 'FAST_PAYMENT'
                                            GROUP BY eff_dt
                                        ) rr_instant ON rr_instant.eff_dt = rr_daily.eff_dt
                                ) group by eff_dt
                            )rr on rr.eff_dt = f.eff_dt

            )risk_retention
            FULL JOIN
            (
                with reprogramacion(type,merchant_id,report_id,report_date_local,amount,status,bank_name,payment_date_local,batch_created_date,report_date_local_date,report_date_local_date_local,db_created_at_date,payment_type,rescheduled_month,rescheduled_month_fast) as (
  
                    --select * from (
                           SELECT
                            case when d.effective_date IS NULL then 'DAILY' else 'INSTANT' end as type,
                            d.merchant_id,
                            d.report_id,
                            d.report_date_local,
                            d.amount,
                            d.status,
                            dbe.bank_name,
                            DATE(CONVERT_TIMEZONE('UTC', 'America/Mexico_City', d.updated_at))AS payment_date_local,
                            DATE(CONVERT_TIMEZONE('UTC', 'America/Mexico_City', dbe.created_at))AS batch_created_date,
                            DATE(d.report_date_local) as report_date_local_date,
                            DATE(CONVERT_TIMEZONE('UTC', 'America/Mexico_City', d.report_date_local)) as report_date_local_date_local,
                            DATE(CONVERT_TIMEZONE('UTC', 'America/Mexico_City', db.created_at)) as db_created_at_date,
                            CASE when TO_TIME('00:00:00.000') <> TO_TIME(d.report_date_local)
                            then 
                            (
                                case when DATE(CONVERT_TIMEZONE('UTC', 'America/Mexico_City', db.created_at)) <> DATE(CONVERT_TIMEZONE('UTC', 'America/Mexico_City', d.report_date_local))  then 'REPROGRAMED' else 'SAME_DAY' end
                            )
                            else
                                case when DATE(CONVERT_TIMEZONE('UTC', 'America/Mexico_City', db.created_at)) <> DATE(d.report_date_local)  then 'REPROGRAMED' else 'SAME_DAY' end
                            end as  payment_type,
                            case when month(DATE(CONVERT_TIMEZONE('UTC', 'America/Mexico_City', db.created_at))) = month(d.report_date_local) and  year(DATE(CONVERT_TIMEZONE('UTC', 'America/Mexico_City', db.created_at))) = year(d.report_date_local) then 'SAME_MONTH' else 'LAST_MONTH' end as  rescheduled_month,
                            CASE when TO_TIME('00:00:00.000') <> TO_TIME(d.report_date_local)
                            then 
                            (
                                case when month(DATE(CONVERT_TIMEZONE('UTC', 'America/Mexico_City', db.created_at))) = month(DATE(CONVERT_TIMEZONE('UTC', 'America/Mexico_City', d.report_date_local))) and  year(DATE(CONVERT_TIMEZONE('UTC', 'America/Mexico_City', db.created_at))) = year(DATE(CONVERT_TIMEZONE('UTC', 'America/Mexico_City', d.report_date_local))) then 'SAME_MONTH' else 'LAST_MONTH' end 
                            )
                            else
                                case when month(DATE(CONVERT_TIMEZONE('UTC', 'America/Mexico_City', db.created_at))) = month(d.report_date_local) and  year(DATE(CONVERT_TIMEZONE('UTC', 'America/Mexico_City', db.created_at))) = year(d.report_date_local) then 'SAME_MONTH' else 'LAST_MONTH' end
                            end as  rescheduled_month_fast
                            --case when month(DATE(CONVERT_TIMEZONE('UTC', 'America/Mexico_City', db.created_at))) = month(DATE(CONVERT_TIMEZONE('UTC', 'America/Mexico_City', d.report_date_local))) and  year(DATE(CONVERT_TIMEZONE('UTC', 'America/Mexico_City', db.created_at))) = year(DATE(CONVERT_TIMEZONE('UTC', 'America/Mexico_City', d.report_date_local))) then 'SAME_MONTH' else 'LAST_MONTH' end as  rescheduled_month_fast
                            FROM "PRD_CLIP_ANALYTICS"."CLIPDW_DISBURSEMENT"."DISBURSEMENTS" d
                            LEFT JOIN "PRD_CLIP_ANALYTICS"."CLIPDW_DISBURSEMENT"."DISBURSEMENT_BATCH_ENTRIES" dbe ON dbe.disbursement_id = d.disbursement_id
                            LEFT JOIN 
                            (
                                select created_at, disbursement_batch_id
                                FROM "PRD_CLIP_ANALYTICS"."CLIPDW_DISBURSEMENT"."DISBURSEMENT_BATCHES"
                            ) db ON dbe.disbursement_batch_id = db.disbursement_batch_id
                            WHERE dbe.disbursement_batch_id IN (
                            select disbursement_batch_id
                            FROM "PRD_CLIP_ANALYTICS"."CLIPDW_DISBURSEMENT"."DISBURSEMENT_BATCHES" db
                            LEFT JOIN
                            (
                                SELECT 
                                    DATE(CONVERT_TIMEZONE('UTC', 'America/Mexico_City', created_at)) as created_at, MAX(total_disbursements) as max_total_disbursements
                                    FROM "PRD_CLIP_ANALYTICS"."CLIPDW_DISBURSEMENT"."DISBURSEMENT_BATCHES"
                                    WHERE 
                                    DATE(CONVERT_TIMEZONE('UTC', 'America/Mexico_City', created_at)) = dateadd(day, -32, CURRENT_DATE())
                                    group by DATE(CONVERT_TIMEZONE('UTC', 'America/Mexico_City', created_at))
                            ) db_g ON DATE(CONVERT_TIMEZONE('UTC', 'America/Mexico_City', db.created_at)) = db_g.created_at
                            WHERE 
                            DATE(CONVERT_TIMEZONE('UTC', 'America/Mexico_City', db.created_at)) = dateadd(day, -32, CURRENT_DATE())
                            and 
                            db.total_disbursements <= max_total_disbursements
                            AND
                            (
                                (DISBURSEMENT_METHOD = 'BANORTE' AND TOTAL_AMOUNT_SUCCESSFULLY_PAID > 0)
                                OR
                                (DISBURSEMENT_METHOD <> 'BANORTE')
                            )

                            )
                        ORDER BY d.merchant_id, d.report_date_local, d.report_id
                    --)qualify ROW_NUMBER() OVER (PARTITION BY report_id ORDER BY report_id) = 1
                ),reprogramacion_journal_batch(ACCT_ID,AMOUNT,eff_dt_date,eff_dt,mvnt_id,mvnt_type,src_type,date_read,date_read_timestamp,movement_id,merchant_id,report_id_j,status,payment_type) as (


                            select 
                                   j.ACCT_ID as ACCT_ID
                                  ,j.AMOUNT as AMOUNT
                                  ,j.eff_dt_date as eff_dt_date
                                  ,j.eff_dt as eff_dt
                                  ,j.mvnt_id as mvnt_id
                                  ,j.mvnt_type as mvnt_type
                                  ,j.src_type as src_type
                                  ,j.date_read as date_read
                                  ,j.date_read_timestamp as date_read_timestamp
                                  ,j.movement_id as movement_id
                                  ,j.merchant_id as merchant_id
                                  ,j.report_id_j as report_id_j
                                  ,j.status as status
                                  ,case when DATE(CONVERT_TIMEZONE('UTC', 'America/Mexico_City', db.created_at)) <> DATE(j.eff_dt)  then 'REPROGRAMED' else 'SAME_DAY' end as payment_type
                            from
                                (
                                  select 
                                  j.ACCT_ID as ACCT_ID
                                  ,CASE 
                                    WHEN mvnt_type <> 'RETURN_RQ' THEN (j.AMOUNT *-1)
                                    ELSE j.AMOUNT END as AMOUNT
                                  ,j.eff_dt_date as eff_dt_date
                                  ,j.eff_dt as eff_dt
                                  ,j.mvnt_id as mvnt_id
                                  ,j.mvnt_type as mvnt_type
                                  ,j.src_type as src_type
                                  ,sdrt.date_read as date_read
                                  ,sdrt.date_read_timestamp as date_read_timestamp
                                  ,sdrt.movement_id as movement_id
                                  ,sdrt.merchant_id as merchant_id
                                  ,sdrt.report_id as report_id_j
                                  ,sdrt.status as status
                                    from
                                 
                                        (
                                            SELECT 
                                                            record_data:acct_id.S as ACCT_ID
                                                            ,to_number(record_data:amount.N, 10, 2) as AMOUNT
                                                            ,DATE(record_data:eff_dt.S) as eff_dt_date
                                                            ,DATE(CONVERT_TIMEZONE('UTC', 'America/Mexico_City', record_data:eff_dt.S)) as eff_dt
                                                            ,record_data:mvnt_id.S as mvnt_id
                                                            ,record_data:mvnt_type.S as mvnt_type
                                                            ,record_data:src_type.S as src_type

                                                        from "PRD_CLIP_ANALYTICS"."CLIPDS_DYNAMO_SILVER"."AP_JOURNAL" 
                                                        WHERE 
                                                        --DATE(CONVERT_TIMEZONE('UTC', 'America/Mexico_City', record_data:eff_dt.S)) = dateadd(day, -37, CURRENT_DATE())
                                                        --AND
                                                        src_type = 'DISB'
                                        )j
                                        LEFT JOIN 
                                        (
                                            SELECT 
                                                        DATE(CONVERT_TIMEZONE('UTC', 'America/Mexico_City', record_data:date_read.S)) as date_read
                                                        ,TO_TIMESTAMP(record_data:date_read.S) as date_read_timestamp
                                                        ,record_data:movement_id.S as movement_id
                                                        ,record_data:merchant_id.S as merchant_id
                                                        ,record_data:report_id.S as report_id
                                                        ,record_data:status.S as status
                                                            from prd_clip_analytics.clipds_dynamo_silver.service_disbursement_report_transactions_gt
                                        )sdrt on j.mvnt_id = sdrt.movement_id
                                   )j
                                    LEFT JOIN "PRD_CLIP_ANALYTICS"."CLIPDW_DISBURSEMENT"."DISBURSEMENT_BATCH_ENTRIES" dbe ON dbe.report_id = j.report_id_j
                                    LEFT JOIN 
                                    (
                                        select created_at, disbursement_batch_id
                                        FROM "PRD_CLIP_ANALYTICS"."CLIPDW_DISBURSEMENT"."DISBURSEMENT_BATCHES"
                                    ) db ON dbe.disbursement_batch_id = db.disbursement_batch_id
                                    WHERE dbe.disbursement_batch_id IN (
                                        select disbursement_batch_id
                                        FROM "PRD_CLIP_ANALYTICS"."CLIPDW_DISBURSEMENT"."DISBURSEMENT_BATCHES" db
                                        LEFT JOIN
                                        (
                                            SELECT 
                                                DATE(CONVERT_TIMEZONE('UTC', 'America/Mexico_City', created_at)) as created_at, MAX(total_disbursements) as max_total_disbursements
                                                FROM "PRD_CLIP_ANALYTICS"."CLIPDW_DISBURSEMENT"."DISBURSEMENT_BATCHES"
                                                WHERE 
                                                DATE(CONVERT_TIMEZONE('UTC', 'America/Mexico_City', created_at)) = dateadd(day, -32, CURRENT_DATE())
                                                group by DATE(CONVERT_TIMEZONE('UTC', 'America/Mexico_City', created_at))
                                        ) db_g ON DATE(CONVERT_TIMEZONE('UTC', 'America/Mexico_City', db.created_at)) = db_g.created_at
                                        WHERE 
                                        DATE(CONVERT_TIMEZONE('UTC', 'America/Mexico_City', db.created_at)) = dateadd(day, -32, CURRENT_DATE())
                                        and 
                                        db.total_disbursements <= max_total_disbursements

                                    )

                ),reprogramacion_journal(ACCT_ID,AMOUNT,eff_dt,mvnt_id,mvnt_type,src_type,date_read,date_read_timestamp,movement_id,merchant_id,report_id_j,status) as (


                            select 
                            j.ACCT_ID as ACCT_ID
                            ,j.AMOUNT as AMOUNT
                            ,j.eff_dt as eff_dt
                            ,j.mvnt_id as mvnt_id
                            ,j.mvnt_type as mvnt_type
                            ,j.src_type as src_type
                            ,sdrt.date_read as date_read
                            ,sdrt.date_read_timestamp as date_read_timestamp
                            ,sdrt.movement_id as movement_id
                            ,sdrt.merchant_id as merchant_id
                            ,sdrt.report_id as report_id_j
                            ,sdrt.status as status
                            from
                                    (
                                        SELECT 
                                                        record_data:acct_id.S as ACCT_ID
                                                        ,to_number(record_data:amount.N, 10, 2) as AMOUNT
                                                        ,DATE(CONVERT_TIMEZONE('UTC', 'America/Mexico_City', record_data:eff_dt.S)) as eff_dt
                                                        ,record_data:mvnt_id.S as mvnt_id
                                                        ,record_data:mvnt_type.S as mvnt_type
                                                        ,record_data:src_type.S as src_type

                                                    from "PRD_CLIP_ANALYTICS"."CLIPDS_DYNAMO_SILVER"."AP_JOURNAL" 
                                                    WHERE 
                                                    DATE(CONVERT_TIMEZONE('UTC', 'America/Mexico_City', record_data:eff_dt.S)) = dateadd(day, -32, CURRENT_DATE())
                                                    AND
                                                    src_type = 'DISB'
                                    )j
                                    LEFT JOIN 
                                    (
                                        SELECT 
                                                    DATE(CONVERT_TIMEZONE('UTC', 'America/Mexico_City', record_data:date_read.S)) as date_read
                                                    ,TO_TIMESTAMP(record_data:date_read.S) as date_read_timestamp
                                                    ,record_data:movement_id.S as movement_id
                                                    ,record_data:merchant_id.S as merchant_id
                                                    ,record_data:report_id.S as report_id
                                                    ,record_data:status.S as status
                                                        from prd_clip_analytics.clipds_dynamo_silver.service_disbursement_report_transactions_gt
                                    )sdrt on j.mvnt_id = sdrt.movement_id
                                    --where sdrt.report_id is not NULL

                    )
                    


                select 
                            CASE WHEN REPROGRAMACION_SAME_MONTH_created_date IS NOT NULL THEN REPROGRAMACION_SAME_MONTH_created_date
                            ELSE REPROGRAMACION_FAKE_MONTH END AS REPROGRAMACION_SAME_MONTH_created_date
                            ,CASE WHEN REPROGRAMACION_SAME_MONTH_TOTAL IS NOT NULL THEN REPROGRAMACION_SAME_MONTH_TOTAL
                            ELSE REPROGRAMACION_FAKE END AS REPROGRAMACION_SAME_MONTH_TOTAL
                            ,CASE WHEN REPROGRAMACION_LAST_MONTH_created_date IS NOT NULL THEN REPROGRAMACION_LAST_MONTH_created_date
                            ELSE REPROGRAMACION_FAKE_MONTH END AS REPROGRAMACION_LAST_MONTH_created_date
                            ,CASE WHEN REPROGRAMACION_LAST_MONTH_TOTAL IS NOT NULL THEN REPROGRAMACION_LAST_MONTH_TOTAL
                            ELSE REPROGRAMACION_FAKE END AS REPROGRAMACION_LAST_MONTH_TOTAL
                            ,CASE WHEN REPROGRAMACION_FAST_PAYMENT_SAME_MONTH_created_date IS NOT NULL THEN REPROGRAMACION_FAST_PAYMENT_SAME_MONTH_created_date
                            ELSE REPROGRAMACION_FAKE_MONTH END AS REPROGRAMACION_FAST_PAYMENT_SAME_MONTH_created_date
                            ,CASE WHEN REPROGRAMACION_FAST_PAYMENT_SAME_MONTH_TOTAL IS NOT NULL THEN REPROGRAMACION_FAST_PAYMENT_SAME_MONTH_TOTAL
                            ELSE REPROGRAMACION_FAKE END AS REPROGRAMACION_FAST_PAYMENT_SAME_MONTH_TOTAL
                            ,CASE WHEN REPROGRAMACION_FAST_PAYMENT_LAST_MONTH_created_date IS NOT NULL THEN REPROGRAMACION_FAST_PAYMENT_LAST_MONTH_created_date
                            ELSE REPROGRAMACION_FAKE_MONTH END AS REPROGRAMACION_FAST_PAYMENT_LAST_MONTH_created_date
                            ,CASE WHEN REPROGRAMACION_FAST_PAYMENT_LAST_MONTH_TOTAL IS NOT NULL THEN REPROGRAMACION_FAST_PAYMENT_LAST_MONTH_TOTAL
                            ELSE REPROGRAMACION_FAKE END AS REPROGRAMACION_FAST_PAYMENT_LAST_MONTH_TOTAL
                        from
                        (
                            select 
                                dateadd(day, -32, CURRENT_DATE()) as REPROGRAMACION_FAKE_MONTH
                                ,uniform(0, 0, random(1)) as REPROGRAMACION_FAKE
                                from table(generator(rowcount => 1)) v
                        )FAKE 
                        FULL JOIN
                        (
                        select 
                        batch_created_date as REPROGRAMACION_SAME_MONTH_created_date,
                        SUM(amount) as REPROGRAMACION_SAME_MONTH_TOTAL
                        from
                        reprogramacion
                        where 
                        payment_type = 'REPROGRAMED'
                        and
                        rescheduled_month = 'SAME_MONTH'
                        and
                        type = 'DAILY'
                        GROUP by batch_created_date
                        )SAME_MONTH ON  SAME_MONTH.REPROGRAMACION_SAME_MONTH_created_date = FAKE.REPROGRAMACION_FAKE_MONTH
                        LEFT JOIN
                        (
                        select 
                        batch_created_date as REPROGRAMACION_LAST_MONTH_created_date,
                        SUM(amount) as REPROGRAMACION_LAST_MONTH_TOTAL
                        from
                        reprogramacion
                        where 
                        payment_type = 'REPROGRAMED'
                        and
                        rescheduled_month = 'LAST_MONTH'
                        and
                        type = 'DAILY'
                        GROUP by batch_created_date
                        )LAST_MONTH ON  LAST_MONTH.REPROGRAMACION_LAST_MONTH_created_date = FAKE.REPROGRAMACION_FAKE_MONTH
                        LEFT JOIN
                        (
                            select 
                                REPROGRAMACION_FAKE_MONTH as REPROGRAMACION_FAST_PAYMENT_SAME_MONTH_created_date,
                                case
                                when settlement_REPROGRAMACION_FAST_PAYMENT_SAME_MONTH_TOTAL is not NULL and journal_REPROGRAMACION_FAST_PAYMENT_SAME_MONTH_TOTAL is not NULL and journal_batch_REPROGRAMACION_FAST_PAYMENT_SAME_MONTH_TOTAL is not NULL then (settlement_REPROGRAMACION_FAST_PAYMENT_SAME_MONTH_TOTAL + journal_REPROGRAMACION_FAST_PAYMENT_SAME_MONTH_TOTAL + journal_batch_REPROGRAMACION_FAST_PAYMENT_SAME_MONTH_TOTAL)
                                when settlement_REPROGRAMACION_FAST_PAYMENT_SAME_MONTH_TOTAL is not NULL and journal_REPROGRAMACION_FAST_PAYMENT_SAME_MONTH_TOTAL is not NULL then (settlement_REPROGRAMACION_FAST_PAYMENT_SAME_MONTH_TOTAL + journal_REPROGRAMACION_FAST_PAYMENT_SAME_MONTH_TOTAL)
                                when settlement_REPROGRAMACION_FAST_PAYMENT_SAME_MONTH_TOTAL is not NULL and journal_batch_REPROGRAMACION_FAST_PAYMENT_SAME_MONTH_TOTAL is not NULL then (settlement_REPROGRAMACION_FAST_PAYMENT_SAME_MONTH_TOTAL + journal_batch_REPROGRAMACION_FAST_PAYMENT_SAME_MONTH_TOTAL)
                                when journal_REPROGRAMACION_FAST_PAYMENT_SAME_MONTH_TOTAL is not NULL and journal_batch_REPROGRAMACION_FAST_PAYMENT_SAME_MONTH_TOTAL is not NULL then (journal_REPROGRAMACION_FAST_PAYMENT_SAME_MONTH_TOTAL + journal_batch_REPROGRAMACION_FAST_PAYMENT_SAME_MONTH_TOTAL)
                                when settlement_REPROGRAMACION_FAST_PAYMENT_SAME_MONTH_TOTAL is not NULL then settlement_REPROGRAMACION_FAST_PAYMENT_SAME_MONTH_TOTAL
                                when journal_REPROGRAMACION_FAST_PAYMENT_SAME_MONTH_TOTAL is not NULL then journal_REPROGRAMACION_FAST_PAYMENT_SAME_MONTH_TOTAL
                                when journal_batch_REPROGRAMACION_FAST_PAYMENT_SAME_MONTH_TOTAL is not NULL then journal_batch_REPROGRAMACION_FAST_PAYMENT_SAME_MONTH_TOTAL
                                else 0 end as REPROGRAMACION_FAST_PAYMENT_SAME_MONTH_TOTAL
                                from
                                (
                                    select 
                                        dateadd(day, -32, CURRENT_DATE()) as REPROGRAMACION_FAKE_MONTH
                                        ,uniform(0, 0, random(1)) as REPROGRAMACION_FAKE
                                        from table(generator(rowcount => 1)) v
                                )FAKE
                                LEFT JOIN
                                (
                                    
                                        select  
                                        batch_created_date as settlement_REPROGRAMACION_FAST_PAYMENT_SAME_MONTH_created_date,
                                        SUM(amount) as settlement_REPROGRAMACION_FAST_PAYMENT_SAME_MONTH_TOTAL from 
                                            reprogramacion r
                                            where 
                                            payment_type = 'REPROGRAMED'
                                            and
                                            rescheduled_month_fast = 'SAME_MONTH'
                                            and
                                            type = 'INSTANT'
                                            and
                                            (
                                             --NOT EXISTS (select 1 from reprogramacion_journal rj where r.report_id = rj.report_id_j)
                                            --NOT EXISTS (SELECT 1 from prd_clip_analytics.clipds_dynamo_silver.service_disbursement_report_transactions_gt sdrt where r.report_id = sdrt.record_data:report_id.S and
                                            --DATE(CONVERT_TIMEZONE('UTC', 'America/Mexico_City', record_data:date_read.S)) < dateadd(day, -37, CURRENT_DATE()))
                                            --and
                                                NOT EXISTS (select 1 from reprogramacion_journal rj where r.report_id = rj.report_id_j)-- and rj.mvnt_type = 'RETURN_RQ')
                                              )
                                                group by batch_created_date
                                )settlement on FAKE.REPROGRAMACION_FAKE_MONTH = settlement.settlement_REPROGRAMACION_FAST_PAYMENT_SAME_MONTH_created_date
                                LEFT JOIN
                                (
                                
                                        select 
                                        journal.eff_dt_date as journal_batch_REPROGRAMACION_FAST_PAYMENT_SAME_MONTH_created_date,
                                        SUM(journal.amount) as journal_batch_REPROGRAMACION_FAST_PAYMENT_SAME_MONTH_TOTAL
                                        from
                                        (
                                        select * from reprogramacion_journal_batch
                                          where payment_type = 'REPROGRAMED'
                                        )journal
                                          where
                                          NOT EXISTS (select 1 from reprogramacion_journal rj where journal.report_id_j = rj.report_id_j)
                                          and journal.eff_dt_date = dateadd(day, -32, CURRENT_DATE())
                                        GROUP by journal.eff_dt_date
                                
                                )journal_batch on FAKE.REPROGRAMACION_FAKE_MONTH = journal_batch.journal_batch_REPROGRAMACION_FAST_PAYMENT_SAME_MONTH_created_date
                                LEFT JOIN
                                (
                                
                                        select 
                                        journal.eff_dt as journal_REPROGRAMACION_FAST_PAYMENT_SAME_MONTH_created_date,
                                        SUM(journal.amount) as journal_REPROGRAMACION_FAST_PAYMENT_SAME_MONTH_TOTAL
                                        from
                                        (
                                        select * from reprogramacion_journal where mvnt_type = 'RETURN_RQ'
                                        )journal
                                        GROUP by journal.eff_dt
                                
                                )journal on FAKE.REPROGRAMACION_FAKE_MONTH = journal.journal_REPROGRAMACION_FAST_PAYMENT_SAME_MONTH_created_date
                        )SAME_MONTH_FP ON SAME_MONTH_FP.REPROGRAMACION_FAST_PAYMENT_SAME_MONTH_created_date = FAKE.REPROGRAMACION_FAKE_MONTH
                        LEFT JOIN
                        (
                        select 
                                        batch_created_date as REPROGRAMACION_FAST_PAYMENT_LAST_MONTH_created_date,
                                        SUM(amount) as REPROGRAMACION_FAST_PAYMENT_LAST_MONTH_TOTAL
                                        from
                                        (
                                            select * from 
                                            reprogramacion
                                            where 
                                            payment_type = 'REPROGRAMED'
                                            and
                                            rescheduled_month_fast = 'LAST_MONTH'
                                            and
                                            type = 'INSTANT'
                                        )
                                        --where
                                        --report_id not in (SELECT 
                                        --record_data:report_id.S as report_id
                                          --  from prd_clip_analytics.clipds_dynamo_silver.service_disbursement_report_transactions_gt
                                            --where
                                            --DATE(CONVERT_TIMEZONE('UTC', 'America/Mexico_City', record_data:date_read.S)) < dateadd(day, -37, CURRENT_DATE()))
                                        GROUP by batch_created_date
                        )LAST_MONTH_FP ON LAST_MONTH_FP.REPROGRAMACION_FAST_PAYMENT_LAST_MONTH_created_date = FAKE.REPROGRAMACION_FAKE_MONTH
            )REPROGRAMACION
            FULL JOIN
            (
                 
                select * from
                (           
                    with  FULL_ERROR(
                            merchant_id
                            ,merchant_name
                            ,report_id
                            ,report_date_local
                            ,created_at
                            ,amount
                            ,status
                            ,error_description
                            ,type
                            ,esquema_query
                            ,payment_type
                            ) as
                            (   
                                select * from (
                                                            select 
                                                                d.merchant_id
                                                                ,d.merchant_name
                                                                ,d.report_id
                                                                ,report_date_local
                                                                ,DATE(dbe.created_at) as created_at
                                                                ,d.amount
                                                                ,d.status
                                                                ,d.error_description, 
                                                                    case when d.effective_date IS NULL then 'DAILY' else 'INSTANT' end as type,
                                                                    case when d.error_description = 'Bank account information not available' then 'SIN_CLABE'
                                                                    else 'ERROR_USUAL' end as esquema_query,
                                                                    case when DATE(dbe.created_at) <> DATE(d.report_date_local) then 'REPROGRAMED' else 'SAME_DAY' end as payment_type
                                                                    from 
                                                                    (
                                                                        select * from "PRD_CLIP_ANALYTICS"."CLIPDW_DISBURSEMENT"."DISBURSEMENT_BATCH_ENTRIES"
                                                                        where DATE(created_at) = dateadd(day, -32, CURRENT_DATE())
                                                                    ) dbe
                                                                    LEFT JOIN 
                                                                    (
                                                                    select * from
                                                                    "PRD_CLIP_ANALYTICS"."CLIPDW_DISBURSEMENT"."DISBURSEMENTS" d
                                                                    where d.status <> 'PAID' and d.status <> 'PENDING' --and DATE(created_at) = dateadd(day, -32, CURRENT_DATE())
                                                                    )d
                                                                    ON dbe.report_id = d.report_id
                                                                    where d.report_id IS NOT NULL
                                )qualify ROW_NUMBER() OVER (PARTITION BY report_id ORDER BY payment_type) = 1
                        )
                        select 
                                    CASE WHEN REPROGRAMACION_DAILY_MONTH IS NOT NULL THEN REPROGRAMACION_DAILY_MONTH
                                    ELSE REPROGRAMACION_FAKE_MONTH END AS REPROGRAMACION_DAILY_MONTH
                                    ,CASE WHEN REPROGRAMACION_DAILY_TOTAL IS NOT NULL THEN REPROGRAMACION_DAILY_TOTAL
                                    ELSE REPROGRAMACION_FAKE END AS REPROGRAMACION_DAILY_TOTAL
                                    ,CASE WHEN SAME_DAY_DAILY_MONTH IS NOT NULL THEN SAME_DAY_DAILY_MONTH
                                    ELSE REPROGRAMACION_FAKE_MONTH END AS SAME_DAY_DAILY_MONTH
                                    ,CASE WHEN SAME_DAY_DAILY_TOTAL IS NOT NULL THEN SAME_DAY_DAILY_TOTAL
                                    ELSE REPROGRAMACION_FAKE END AS SAME_DAY_DAILY_TOTAL
                                from
                                (
                                    select 
                                        dateadd(day, -32, CURRENT_DATE()) as REPROGRAMACION_FAKE_MONTH
                                        ,uniform(0, 0, random(1)) as REPROGRAMACION_FAKE
                                        from table(generator(rowcount => 1)) v
                                )FAKE 
                                FULL JOIN
                                (
                                select 
                                created_at as REPROGRAMACION_DAILY_MONTH,
                                SUM(amount) as REPROGRAMACION_DAILY_TOTAL
                                from
                                FULL_ERROR
                                where 
                                payment_type = 'REPROGRAMED'
                                and
                                type = 'DAILY'
                                AND
                                esquema_query = 'ERROR_USUAL'
                                GROUP by created_at
                                )LAST_MONTH ON  LAST_MONTH.REPROGRAMACION_DAILY_MONTH = FAKE.REPROGRAMACION_FAKE_MONTH
                                FULL JOIN
                                (
                                select 
                                created_at as SAME_DAY_DAILY_MONTH,
                                SUM(amount) as SAME_DAY_DAILY_TOTAL
                                from
                                FULL_ERROR
                                where 
                                payment_type = 'SAME_DAY'
                                and
                                type = 'DAILY'
                                AND
                                esquema_query = 'ERROR_USUAL'
                                GROUP by created_at
                                )SAME_MONTH ON  SAME_MONTH.SAME_DAY_DAILY_MONTH = FAKE.REPROGRAMACION_FAKE_MONTH
                )ERRORS_NORMAL
                FULL JOIN
                (      
                            with  ERROR_FP(
                                type
                                ,merchant_id
                                ,merchant_name
                                ,report_id
                                ,report_date_local
                                ,amount
                                ,status
                                ,error_description
                                ,ultimo_mov
                                ,status_cubeta
                                ,esquema_query
                                ,month
                                ,year
                                ,day
                                ,mes_cierre
                                ,payment_type
                                ,payment_type_error
                                ) as(
                                    select 
                                    type
                                    ,merchant_id
                                    ,merchant_name
                                    ,report_id
                                    ,report_date_local
                                    ,amount
                                    ,status
                                    ,error_description
                                    ,ultimo_mov
                                    ,status_cubeta
                                    ,esquema_query
                                    ,month
                                    ,year
                                    ,day
                                    ,mes_cierre
                                    ,payment_type
                                    ,payment_type as payment_type_error
                                    from (
                                    select *,
                                    case when d.effective_date IS NULL then 'DAILY' else 'INSTANT' end as type, 
                                    case when d.status = 'ERROR' and report_date_local = dateadd(day, -32, CURRENT_DATE()) then 'NEW' 
                                    when d.status = 'ERROR'  then 'ERROR'
                                    else 'NONE' end as status_cubeta,
                                    case when error_description = 'Bank account information not available' then 'SIN_CLABE'
                                    else 'ERROR_USUAL' end as esquema_query,
                                    case when ultimo_mov <> d.report_date_local then 'REPROGRAMED' else 'SAME_DAY' end as payment_type,
                                    month(ultimo_mov) as month,
                                    year(ultimo_mov) as year,
                                    DAYOFMONTH(ultimo_mov) as day,
                                    case when month(ultimo_mov) = month(dateadd(day, -32, CURRENT_DATE())) and year(ultimo_mov) = year(dateadd(day, -32, CURRENT_DATE())) then 'CURRENT'
                                    else 'NOT_CURRENT' end as mes_cierre
                                    from 
                                    (
                                        select
                                                d.merchant_id
                                            , d.merchant_name
                                            , d.report_id
                                            , d.report_date_local
                                            , d.amount
                                            , d.status
                                            , d.error_description
                                            , d.effective_date
                                            , DATE(CONVERT_TIMEZONE('UTC', 'America/Mexico_City', d.updated_at)) as ultimo_mov
                                            from
                                                "PRD_CLIP_ANALYTICS"."CLIPDW_DISBURSEMENT"."DISBURSEMENTS" d
                                            where
                                                --CONVERT_TIMEZONE('UTC', 'America/Mexico_City', d.updated_at) <= '2022-04-29  23:59:59'
                                                DATE(CONVERT_TIMEZONE('UTC', 'America/Mexico_City', d.updated_at)) = dateadd(day, -32, CURRENT_DATE())
                                                and status <> 'PAID'
                                    ) d
                                    )
                                    --where status_cubeta <> 'NONE'
                                )
                        select 
                        CASE WHEN REPROGRAMACION_INSTANT_MONTH IS NOT NULL THEN REPROGRAMACION_INSTANT_MONTH
                        ELSE REPROGRAMACION_FAKE_MONTH END AS REPROGRAMACION_INSTANT_MONTH
                        ,CASE WHEN REPROGRAMACION_INSTANT_TOTAL IS NOT NULL THEN REPROGRAMACION_INSTANT_TOTAL
                        ELSE REPROGRAMACION_FAKE END AS REPROGRAMACION_INSTANT_TOTAL
                        ,CASE WHEN SAME_DAY_INSTANT_MONTH IS NOT NULL THEN SAME_DAY_INSTANT_MONTH
                        ELSE REPROGRAMACION_FAKE_MONTH END AS SAME_DAY_INSTANT_MONTH
                        ,CASE WHEN SAME_DAY_INSTANT_TOTAL IS NOT NULL THEN SAME_DAY_INSTANT_TOTAL
                        ELSE REPROGRAMACION_FAKE END AS SAME_DAY_INSTANT_TOTAL
                    from
                    (
                        select 
                            dateadd(day, -32, CURRENT_DATE()) as REPROGRAMACION_FAKE_MONTH
                            ,uniform(0, 0, random(1)) as REPROGRAMACION_FAKE
                            from table(generator(rowcount => 1)) v
                    )FAKE 
                    FULL JOIN
                    (
                        select 
                        ultimo_mov as REPROGRAMACION_INSTANT_MONTH,
                        SUM(amount) as REPROGRAMACION_INSTANT_TOTAL
                        from
                        ERROR_FP
                        where 
                        payment_type_error = 'REPROGRAMED'
                        and
                        type = 'INSTANT'
                        and
                        status <> 'PAID'
                        AND
                        esquema_query = 'ERROR_USUAL'
                        GROUP by ultimo_mov
                    )LAST_MONTH_F ON  LAST_MONTH_F.REPROGRAMACION_INSTANT_MONTH = FAKE.REPROGRAMACION_FAKE_MONTH
                    FULL JOIN
                    (
                        select 
                        ultimo_mov as SAME_DAY_INSTANT_MONTH,
                        SUM(amount) as SAME_DAY_INSTANT_TOTAL
                        from
                        ERROR_FP
                        where 
                        payment_type_error = 'SAME_DAY'
                        and
                        type = 'INSTANT'
                        and
                        status <> 'PAID'
                        AND
                        esquema_query = 'ERROR_USUAL'
                        GROUP by ultimo_mov
                    )SAME_MONTH_F ON  SAME_MONTH_F.SAME_DAY_INSTANT_MONTH = FAKE.REPROGRAMACION_FAKE_MONTH
                )ERRORS_FP
            )ERROR_REPROGRAMACION
            FULL JOIN 
            (
               with  ERROR_CLABE(
                        merchant_id
                        ,merchant_name
                        ,report_id
                        ,report_date_local
                        ,amount
                        ,status
                        ,error_description
                        ,ultimo_mov
                        ,status_cubeta
                        ,esquema_query
                        ,month
                        ,year
                        ,day
                        ,mes_cierre
                        ,payment_type
                        ) as(
                        select 
                        merchant_id
                        ,merchant_name
                        ,report_id
                        ,report_date_local
                        ,amount
                        ,status
                        ,error_description
                        ,ultimo_mov
                        ,status_cubeta
                        ,esquema_query
                        ,month
                        ,year
                        ,day
                        ,mes_cierre
                        ,payment_type
                        from (
                            select *, 
                            case when d.status = 'ERROR' and report_date_local = dateadd(day, -32, CURRENT_DATE()) then 'NEW' 
                            when d.status = 'ERROR'  then 'ERROR'
                            else 'NONE' end as status_cubeta,
                            case when error_description = 'Bank account information not available' then 'SIN_CLABE'
                            else 'ERROR_USUAL' end as esquema_query,
                            case when ultimo_mov <> d.report_date_local then 'REPROGRAMED' else 'SAME_DAY' end as payment_type,
                            month(ultimo_mov) as month,
                            year(ultimo_mov) as year,
                            DAYOFMONTH(ultimo_mov) as day,
                            case when month(ultimo_mov) = '04' and year(ultimo_mov) = '2022' then 'CURRENT'
                            else 'NOT_CURRENT' end as mes_cierre
                            from 
                            (
                            select
                                    d.merchant_id
                                , d.merchant_name
                                , d.report_id
                                , d.report_date_local
                                , d.amount
                                , d.status
                                , d.error_description
                                , DATE(CONVERT_TIMEZONE('UTC', 'America/Mexico_City', d.updated_at)) as ultimo_mov
                                from
                                        "PRD_CLIP_ANALYTICS"."CLIPDW_DISBURSEMENT"."DISBURSEMENTS" d
                                    where
                                    --CONVERT_TIMEZONE('UTC', 'America/Mexico_City', d.updated_at) <= '2022-04-29  23:59:59'
                                    DATE(CONVERT_TIMEZONE('UTC', 'America/Mexico_City', d.updated_at)) <= dateadd(day, -32, CURRENT_DATE())
                                    and status = 'ERROR_LEDGER' OR status = 'ERROR'
                            ) d
                        )
                        where status_cubeta <> 'NONE'
                    )

                    select 
                        CASE WHEN n_sin_clabe.ultimo_mov IS NOT NULL THEN n_sin_clabe.ultimo_mov
                        else FAKE.ultimo_mov END as ERROR_CLABE_ultimo_mov,
                        CASE WHEN new_sin_clabe IS NOT NULL THEN new_sin_clabe
                        else 0 END as Error_por_retained_alta_clabe
                    from
                        (
                                select 
                                dateadd(day, -32, CURRENT_DATE()) as ultimo_mov
                                ,uniform(0, 0, random(1)) as ERROR_CLABE_FAKE
                                from table(generator(rowcount => 1)) v
                        )FAKE
                        LEFT JOIN
                        (
                            select 
                            ultimo_mov,
                            sum(amount) as new_sin_clabe
                            from ERROR_CLABE
                            where 
                            esquema_query = 'SIN_CLABE'
                            and
                            status_cubeta = 'NEW'
                            --and 
                            --(ultimo_mov >= '2022-04-01' and ultimo_mov <= '2022-04-29')
                            group by ultimo_mov
                        )n_sin_clabe on FAKE.ultimo_mov = n_sin_clabe.ultimo_mov
                        LEFT JOIN
                        (
                            select 
                            ultimo_mov,
                            sum(amount) as error_sin_clabe
                            from ERROR_CLABE
                            where 
                            esquema_query = 'SIN_CLABE'
                            and
                            status_cubeta = 'ERROR'
                            --and 
                            --(ultimo_mov >= '2022-04-01' and ultimo_mov <= '2022-04-29')
                            group by ultimo_mov
                        )e_sin_clabe
                        on FAKE.ultimo_mov = e_sin_clabe.ultimo_mov
            )ERROR_CLABE
            FULL JOIN
            (
                  with reprogramacion(merchant_id,report_id,report_date_local,amount,status,bank_name,payment_date_local,batch_created_date,payment_type) as (
                                SELECT
                                d.merchant_id,
                                d.report_id,
                                d.report_date_local,
                                d.amount,
                                d.status,
                                dbe.bank_name,
                                DATE(d.updated_at)AS payment_date_local,
                                DATE(dbe.created_at)AS batch_created_date,
                                case when DATE(db.created_at) <> DATE(d.report_date_local) then 'REPROGRAMED' else 'SAME_DAY' end as payment_type
                                FROM "PRD_CLIP_ANALYTICS"."CLIPDW_DISBURSEMENT"."DISBURSEMENTS" d 
                                LEFT JOIN "PRD_CLIP_ANALYTICS"."CLIPDW_DISBURSEMENT"."DISBURSEMENT_BATCH_ENTRIES" dbe ON dbe.disbursement_id = d.disbursement_id
                                LEFT JOIN 
                                (
                                    select created_at, disbursement_batch_id
                                    FROM "PRD_CLIP_ANALYTICS"."CLIPDW_DISBURSEMENT"."DISBURSEMENT_BATCHES"
                                ) db ON dbe.disbursement_batch_id = db.disbursement_batch_id
                                WHERE dbe.disbursement_batch_id IN (
                                select disbursement_batch_id
                                    FROM "PRD_CLIP_ANALYTICS"."CLIPDW_DISBURSEMENT"."DISBURSEMENT_BATCHES" db
                                    LEFT JOIN
                                    (
                                        SELECT 
                                            DATE(created_at) as created_at, MAX(total_disbursements) as max_total_disbursements
                                            FROM "PRD_CLIP_ANALYTICS"."CLIPDW_DISBURSEMENT"."DISBURSEMENT_BATCHES"
                                            WHERE 
                                            DATE( created_at) = dateadd(day, -32, CURRENT_DATE())
                                            group by DATE(created_at)
                                    ) db_g ON DATE(db.created_at) = db_g.created_at
                                    WHERE 
                                    DATE(db.created_at) = dateadd(day, -32, CURRENT_DATE())

                                )
                                ORDER BY d.merchant_id, d.report_date_local, d.report_id
                            )
                            
                            select 
                            CASE WHEN journal_repro.date_read is not NULL then journal_repro.date_read
                            else FAKE.REPROGRAMACION_FAKE_MONTH END as Pago_desfasados_de_un_dia_mismo_mes_month,
                            CASE WHEN sum(journal_repro.journal_AMOUNT) is not NULL then sum(journal_repro.journal_AMOUNT)
                            else 0 END as  Pago_desfasados_de_un_dia_mismo_mes_total
                            from
                            (
                                    select 
                                    dateadd(day, -32, CURRENT_DATE()) as REPROGRAMACION_FAKE_MONTH
                                    ,uniform(0, 0, random(1)) as REPROGRAMACION_FAKE
                                    from table(generator(rowcount => 1)) v
                            )FAKE
                            LEFT JOIN
                            (
                                select * from 

                                (   
                                    select 
                                        j.journal_AMOUNT,
                                        j.date_read,
                                        j.date_read_timestamp,
                                        j.movement_id,
                                        j.merchant_id,
                                        j.report_id
                                        from
                                            (
                                            SELECT 
                                            to_number(record_data:amount_read.N, 10, 2) * -1 as journal_AMOUNT
                                            ,DATE(record_data:date_read.S) as date_read
                                            ,TO_TIMESTAMP(record_data:date_read.S) as date_read_timestamp
                                            ,record_data:movement_id.S as movement_id
                                            ,record_data:merchant_id.S as merchant_id
                                            ,record_data:report_id.S as report_id
                                            ,record_data:status.S as status
                                                from prd_clip_analytics.clipds_dynamo_silver.service_disbursement_report_transactions_gt
                                                where
                                                DATE(record_data:date_read.S) = dateadd(day, -32, CURRENT_DATE())
                                            )j
                                            LEFT JOIN
                                            (
                                            select report_id, status 
                                                FROM "PRD_CLIP_ANALYTICS"."CLIPDW_DISBURSEMENT"."DISBURSEMENTS"
                                                where
                                                report_id IN
                                                (
                                                    SELECT 
                                                        record_data:report_id.S as report_id
                                                        from prd_clip_analytics.clipds_dynamo_silver.service_disbursement_report_transactions_gt
                                                        where
                                                        DATE(record_data:date_read.S) = dateadd(day, -32, CURRENT_DATE())

                                                )
                                            )d on j.report_id = d.report_id
                                            where d.status <> 'ERROR_DSP'
                                
                                )journal
                                LEFT JOIN
                                (
                                    select 
                                    *
                                    from
                                    reprogramacion
                                    where
                                    payment_type = 'SAME_DAY'
                                )repro ON repro.report_id = journal.report_id
                                where repro.report_id is NULL
                            )journal_repro on journal_repro.date_read = FAKE.REPROGRAMACION_FAKE_MONTH
                            GROUP by Pago_desfasados_de_un_dia_mismo_mes_month
            )Pago_desfasados_de_un_dia_mismo_mes
            FULL JOIN
            (
                with refounds(eff_dt,merchant_id,mvnt_id,refounds,fees_refounds,taxes_refounds) as (

                    select
                    eff_dt
                    ,REPLACE(ACCT_ID, 'M#') as merchant_id
                    ,mvnt_id
                    ,gross_amount as refounds
                    ,(gross_amount - (AMOUNT_J * -1)) / 1.16 as fees_refounds
                    ,((gross_amount - (AMOUNT_J * -1)) / 1.16) * .16 as taxes_refounds
                    from
                    (
                        SELECT 
                            record_data:acct_id.S as ACCT_ID
                            ,to_number(record_data:amount.N, 10, 2) as AMOUNT_J
                            ,DATE(CONVERT_TIMEZONE('UTC', 'America/Mexico_City', record_data:created_at.S)) as created_at
                            ,record_data:currency.S as currency
                            ,record_data:desc.S as desc
                            ,DATE(CONVERT_TIMEZONE('UTC', 'America/Mexico_City', record_data:eff_dt.S)) as eff_dt
                            ,record_data:full_eff_dt.S as full_eff_dt
                            ,record_data:full_id.S as full_id
                            ,record_data:mvnt_dt.S as mvnt_dt
                            ,record_data:mvnt_dt_id.S as mvnt_dt_id
                            ,record_data:mvnt_id.S as mvnt_id
                            ,record_data:mvnt_type.S as mvnt_type
                            ,record_data:src_type.S as src_type
                        
                        from "PRD_CLIP_ANALYTICS"."CLIPDS_DYNAMO_SILVER"."AP_JOURNAL" 
                        WHERE 
                        DATE(CONVERT_TIMEZONE('UTC', 'America/Mexico_City', record_data:eff_dt.S)) = dateadd(day, -32, CURRENT_DATE())
                        AND mvnt_type = 'REFUND_PYMT_RQ'
                        AND src_type = 'REFUNDS'
                    )j
                    LEFT JOIN 
                    (
                        select
                            pay.updated_at
                            ,transaction_id
                            ,pay.amount as gross_amount
                            ,pay.merchant_id
                            ,pay.status_code
                            ,mer_att.merchant_id as mer_attr_merchant_id
                            ,mer_att.fastpay
                            ,pay.type
                            from
                            ( 
                                select
                                DATE(CONVERT_TIMEZONE('UTC', 'America/Mexico_City', p.updated_at)) as updated_at,
                                transaction_id,
                                p.amount as amount,
                                p.merchant_id,
                                p.status_code,
                                p.type
                                from "PRD_CLIP_ANALYTICS"."CLIPDW_TRANSACTION".payment p
                                --where p.type = 'DEFERRED_PAYMENT'
                            )pay
                            LEFT JOIN
                            (
                                select REPLACE(merchant_id, 'mid_') as merchant_id, fastpay from "PRD_CLIP_ANALYTICS"."CLIPDS_DYNAMO_GOLD"."MERCHANT_ATTRIBUTES"
                            )mer_att
                            on pay.merchant_id = mer_att.merchant_id
                    )p on j.mvnt_id = p.transaction_id
                    where p.transaction_id is not null
                )
                select
                updated_at_fake as updated_at_refounds,
                case when refounds is null then 0 else refounds end as refounds,
                case when fees_refounds is null then 0 else fees_refounds end as fee_refounds,
                case when taxes_refounds is null then 0 else taxes_refounds end as taxes_refounds
                from
                    (
                        select 
                        dateadd(day, -32, CURRENT_DATE()) as updated_at_fake
                        ,uniform(0, 0, random(1)) as TPV_deferred_fake
                        from table(generator(rowcount => 1)) v
                    )fake
                    FULL JOIN
                    (
                        select 
                        eff_dt as eff_dt
                        ,sum(refounds) as refounds
                        ,sum(fees_refounds) as fees_refounds
                        ,sum(taxes_refounds) as taxes_refounds
                        from refounds
                        group by eff_dt
                    )refounds
                    on fake.updated_at_fake = refounds.eff_dt
            )refounds
            FULL JOIN
            (
                with dcc_all(eff_dt,merchant_id,mvnt_id,tpv_dcc) as (
                        select
                        eff_dt
                        ,REPLACE(ACCT_ID, 'M#') as merchant_id
                        ,mvnt_id
                        ,gross_amount as tpv_dcc
                        from
                        (
                            select 
                                j_sml_dcc.eff_dt as eff_dt
                                ,j_sml_dcc.ACCT_ID
                                ,j_sml_dcc.mvnt_id
                                , case when pymt.mvnt_id is not null then 0
                                else j_sml_dcc.gross_amount end as gross_amount
                            from
                                (
                                    select * from
                                    (
                                        SELECT 
                                            j.ACCT_ID as ACCT_ID
                                            ,j.AMOUNT as j_amount
                                            ,j.created_at as created_at
                                            ,j.currency as currency
                                            ,j.desc as desc
                                            ,j.eff_dt as eff_dt
                                            ,j.full_eff_dt as full_eff_dt
                                            ,j.full_id as full_id
                                            ,j.mvnt_dt as mvnt_dt
                                            ,j.mvnt_dt_id as mvnt_dt_id
                                            ,j.mvnt_id as mvnt_id
                                            ,j.mvnt_type as mvnt_type
                                            ,j.src_type as src_type
                                            ,sml.mvnt_id as sml_mvnt_id
                                            ,sml.amount as gross_amount
                                            ,sml.created_at as sml_created_at
                                            ,sml.eff_dt as sml_eff_dt
                                            ,sml.fees as sml_fees
                                            ,sml.mdr as sml_mdr
                                            ,sml.msi as sml_msi
                                            ,sml.mvnt_type as sml_mvnt_type
                                            ,sml.net_amount as sml_net_amount
                                            ,sml.payload as sml_payload
                                            ,sml.pk as sml_pk
                                            ,sml.pymt_prg as sml_pymt_prg
                                            ,sml.ref_id as sml_ref_id
                                            ,sml.sk as sml_sk
                                            ,sml.status_code as sml_status_code
                                            ,sml.taxes as sml_taxes
                                            FROM
                                            (
                                            SELECT 
                                                record_data:acct_id.S as ACCT_ID
                                                ,to_number(record_data:amount.N, 10, 2) as AMOUNT
                                                ,DATE(CONVERT_TIMEZONE('UTC', 'America/Mexico_City', record_data:created_at.S)) as created_at
                                                ,record_data:currency.S as currency
                                                ,record_data:desc.S as desc
                                                ,DATE(CONVERT_TIMEZONE('UTC', 'America/Mexico_City', record_data:eff_dt.S)) as eff_dt
                                                ,record_data:full_eff_dt.S as full_eff_dt
                                                ,record_data:full_id.S as full_id
                                                ,record_data:mvnt_dt.S as mvnt_dt
                                                ,record_data:mvnt_dt_id.S as mvnt_dt_id
                                                ,record_data:mvnt_id.S as mvnt_id
                                                ,record_data:mvnt_type.S as mvnt_type
                                                ,record_data:src_type.S as src_type

                                            from "PRD_CLIP_ANALYTICS"."CLIPDS_DYNAMO_SILVER"."AP_JOURNAL" 
                                            WHERE 
                                            DATE(CONVERT_TIMEZONE('UTC', 'America/Mexico_City', record_data:eff_dt.S)) = dateadd(day, -32, CURRENT_DATE())

                                            ) j
                                            LEFT JOIN
                                            (
                                                select 
                                                record_data:mvnt_id.S as mvnt_id
                                                ,to_number(record_data:amount.N, 10, 2) as AMOUNT
                                                ,DATE(CONVERT_TIMEZONE('UTC', 'America/Mexico_City', record_data:created_at.S)) as created_at
                                                ,DATE(CONVERT_TIMEZONE('UTC', 'America/Mexico_City', record_data:eff_dt.S)) as eff_dt
                                                ,to_number(record_data:fees.N, 10, 2) as fees
                                                ,to_number(record_data:mdr.N, 10, 2) as mdr
                                                ,to_number(record_data:msi.N, 10, 2) as msi
                                                ,record_data:mvnt_type.S as mvnt_type
                                                ,to_number(record_data:net_amount.N, 10, 2) as net_amount
                                                ,record_data:payload.S as payload
                                                ,record_data:pk.S as pk
                                                ,record_data:pymt_prg.S as pymt_prg
                                                ,record_data:ref_id.S as ref_id
                                                ,record_data:sk.S as sk
                                                ,record_data:status_code.S as status_code
                                                ,to_number(record_data:taxes.N, 10, 2) as taxes
                                                from "PRD_CLIP_ANALYTICS"."CLIPDS_DYNAMO_SILVER"."SETTLEMENT_MASTER_LOG"
                                            ) sml ON sml.mvnt_id = j.mvnt_id
                                            where src_type = 'SETT'
                                            AND sml_mvnt_type = 'STL_PCS_RQ'

                                    ) j_sml
                                        LEFT JOIN  
                                    (
                                        select 
                                            transaction_id
                                            ,cc_nb_currency_code
                                            ,dcc_amount
                                            ,nu_markup
                                        from "PRD_CLIP_ANALYTICS"."CLIPDS_DYNAMO_GOLD".DCC_RATE
                                        where nb_status = 'Tarjeta con DCC'
                                    )dcc on j_sml.mvnt_id = dcc.transaction_id
                                    where dcc.transaction_id is not null
                                )j_sml_dcc
                                LEFT JOIN
                                (
                                    SELECT eff_dt as eff_dt
                                    ,mvnt_id
                                    ,gross_amount
                                    ,sml_fees as FeeTxns
                                    ,sml_taxes as TaxesTxns
                                    ,src_type
                                    ,sml_mvnt_type
                                    FROM 
                                        (

                                            SELECT 
                                            j.eff_dt as eff_dt
                                            ,j.mvnt_id as mvnt_id
                                            ,j.mvnt_type as mvnt_type
                                            ,j.src_type as src_type
                                            ,sml.mvnt_id as sml_mvnt_id
                                            ,sml.amount as gross_amount
                                            ,sml.fees as sml_fees
                                            ,sml.msi as sml_msi
                                            ,sml.mvnt_type as sml_mvnt_type
                                            ,sml.net_amount as sml_net_amount
                                            ,sml.status_code as sml_status_code
                                            ,sml.taxes as sml_taxes
                                            FROM
                                            (
                                            SELECT 
                                                record_data:acct_id.S as ACCT_ID
                                                ,to_number(record_data:amount.N, 10, 2) as AMOUNT
                                                ,DATE(CONVERT_TIMEZONE('UTC', 'America/Mexico_City', record_data:created_at.S)) as created_at
                                                ,DATE(CONVERT_TIMEZONE('UTC', 'America/Mexico_City', record_data:eff_dt.S)) as eff_dt
                                                ,record_data:mvnt_id.S as mvnt_id
                                                ,record_data:mvnt_type.S as mvnt_type
                                                ,record_data:src_type.S as src_type

                                            from "PRD_CLIP_ANALYTICS"."CLIPDS_DYNAMO_SILVER"."AP_JOURNAL" 
                                            ) j
                                            LEFT JOIN
                                            (
                                                select 
                                                record_data:mvnt_id.S as mvnt_id
                                                ,to_number(record_data:amount.N, 10, 2) as AMOUNT
                                                ,DATE(CONVERT_TIMEZONE('UTC', 'America/Mexico_City', record_data:created_at.S)) as created_at
                                                ,DATE(CONVERT_TIMEZONE('UTC', 'America/Mexico_City', record_data:eff_dt.S)) as eff_dt
                                                ,to_number(record_data:fees.N, 10, 2) as fees
                                                ,to_number(record_data:msi.N, 10, 2) as msi
                                                ,record_data:mvnt_type.S as mvnt_type
                                                ,to_number(record_data:net_amount.N, 10, 2) as net_amount
                                                ,record_data:status_code.S as status_code
                                                ,to_number(record_data:taxes.N, 10, 2) as taxes
                                                from "PRD_CLIP_ANALYTICS"."CLIPDS_DYNAMO_SILVER"."SETTLEMENT_MASTER_LOG"
                                            ) sml ON sml.mvnt_id = j.mvnt_id
                                            where src_type = 'PYMT'
                                            AND sml_mvnt_type = 'STL_PCS_RQ'
                                        )
                                )pymt ON j_sml_dcc.mvnt_id = pymt.mvnt_id
                        )
                                    
                )
                    select
                    updated_at_fake as updated_at_dcc,
                    case when tpv_dcc is null then 0 else tpv_dcc end as tpv_dcc
                    from
                        (
                            select 
                            dateadd(day, -32, CURRENT_DATE()) as updated_at_fake
                            ,uniform(0, 0, random(1)) as tpv_dcc_fake
                            from table(generator(rowcount => 1)) v
                        )fake
                        FULL JOIN
                        (
                            select 
                            eff_dt as eff_dt
                            ,sum(tpv_dcc) as tpv_dcc
                            from dcc_all
                            group by eff_dt
                        )tpv_dcc_daily
                        on fake.updated_at_fake = tpv_dcc_daily.eff_dt
            )dcc
            FULL JOIN
            (
                with caal_all(collection_date_local,amount) as (

                    select collection_date_local
                    ,amount
                        from (
                            SELECT c.collection_date_local,
                            c.merchant_token,
                            l.merchant_id,
                            c.loan_id,
                            c.provider_code,
                            c.collection_origin,
                            l.funded_by,
                            c.source,
                            c.amount,
                            c.capital,
                            c.interest,
                            c.tax
                            FROM "PRD_CLIP_ANALYTICS"."CLIPDW_LOANS"."COLLECTIONS" c
                            LEFT JOIN "PRD_CLIP_ANALYTICS"."CLIPDW_LOANS"."LOANS" l ON c.loan_id = l.loan_id
                            WHERE c.collection_date_local = dateadd(day, -32, CURRENT_DATE())
                            AND c.collection_origin = 'SETTLEMENT'
                            AND c.provider_code = 'CLIP'
                            AND l.funded_by = 'CLIP'
                        )
                )
                select
                    collection_date_local_fake as collection_date_local_caal,
                    case when amount is null then 0 else amount end as amount_caal
                    from
                        (
                            select 
                            dateadd(day, -32, CURRENT_DATE()) as collection_date_local_fake
                            ,0 as amount_fake
                            from table(generator(rowcount => 1)) v
                        )fake
                        FULL JOIN
                        (
                            select collection_date_local
                            ,sum(amount) as amount
                            from caal_all
                            group by collection_date_local
                        )caal
                        on fake.collection_date_local_fake = caal.collection_date_local
            )caal
            FULL JOIN
            (

                with bill_payments_all(EFF_DT,GROSS_AMOUNT,FRONTEND_COMMISSION,AMOUNT_PAID,MERCHANT_COMMISSION,NET_AMOUNT,MVNT_ID,MOVEMENT_TYPE,SOURCE_TYPE,ACTION_TYPE,SERVICE_BILLERS_STATUS,ERROR_MSG) as (

                    SELECT
                        ap_j.EFF_DT,
                        sbt.GROSS_AMOUNT,
                        sbt.FRONTEND_COMMISSION,
                        sbt.AMOUNT_PAID,
                        sbt.MERCHANT_COMMISSION,
                        ap_j.AMOUNT AS NET_AMOUNT,
                        ap_j.MVNT_ID,
                        ap_j.MOVEMENT_TYPE,
                        ap_j.SOURCE_TYPE,
                        sbt.ACTION_TYPE,
                        sbt.SERVICE_BILLERS_STATUS,
                        sbt.ERROR_MSG
                        FROM(
                            SELECT 
                                to_number(record_data:amount.N, 20, 4) as AMOUNT,
                                DATE(CONVERT_TIMEZONE('UTC', 'America/Mexico_City', record_data:eff_dt.S)) as eff_dt,
                                REPLACE(record_data:mvnt_id.S, '""') as mvnt_id,
                                REPLACE(record_data:mvnt_type.S, '""') as movement_type,
                                REPLACE(record_data:src_type.S, '""') as source_type
                                FROM "PRD_CLIP_ANALYTICS"."CLIPDS_DYNAMO_SILVER"."AP_JOURNAL"
                                WHERE source_type = 'BILL_PYMNT'
                                AND DATE(CONVERT_TIMEZONE('UTC', 'America/Mexico_City', record_data:eff_dt.S)) = dateadd(day, -32, CURRENT_DATE())
                                ) ap_j
                        LEFT JOIN(
                            SELECT txn_id,
                            (amount_paid + frontend_commission) AS gross_amount,
                            frontend_commission,
                            amount_paid,
                            merchant_commission,
                            action_type,
                            service_billers_status,
                            error_msg
                            FROM PRD_CLIP_ANALYTICS.CLIPDS_DYNAMO_GOLD.SERVICE_BILLERS_TRANSACTION
                        ) sbt ON ap_j.mvnt_id = sbt.txn_id
                        WHERE sbt.SERVICE_BILLERS_STATUS = 'journal-completed'
                )
                select
                    EFF_DT_fake as EFF_DT_BILL_PAYMENTS
                    ,case when GROSS_AMOUNT is null then 0 else GROSS_AMOUNT end as total_venta_plus_comision
                    ,case when AMOUNT_PAID is null then 0 else AMOUNT_PAID end as monto_recibo
                    ,case when FRONTEND_COMMISSION is null then 0 else (FRONTEND_COMMISSION/1.16) end as fees_ingreso_billpayments
                    ,case when FRONTEND_COMMISSION is null then 0 else ((FRONTEND_COMMISSION/1.16)*0.16) end as taxes_ingreso_billpayments
                    ,case when MERCHANT_COMMISSION is null then 0 else (MERCHANT_COMMISSION/1.16) end as fees_billpayments 
                    ,case when MERCHANT_COMMISSION is null then 0 else ((MERCHANT_COMMISSION/1.16)*0.16) end as taxes_billpayments
                    from
                        (
                            select 
                            dateadd(day, -32, CURRENT_DATE()) as EFF_DT_fake
                            ,0 as GROSS_AMOUNT_FAKE
                            ,0 as AMOUNT_PAID_FAKE
                            ,0 as FRONTEND_COMMISSION_FAKE
                            ,0 as MERCHANT_COMMISSION_FAKE
                            from table(generator(rowcount => 1)) v
                        )fake
                        FULL JOIN
                        (
                            select EFF_DT
                            ,sum(GROSS_AMOUNT) as GROSS_AMOUNT
                            ,sum(AMOUNT_PAID) as AMOUNT_PAID
                            ,sum(FRONTEND_COMMISSION) as FRONTEND_COMMISSION
                            ,sum(MERCHANT_COMMISSION) as MERCHANT_COMMISSION
                            from bill_payments_all
                            group by EFF_DT
                        )bill_payments
                        on fake.EFF_DT_fake = bill_payments.EFF_DT
            )bill_payments
    )
        

    select 
        dateadd(day, -32, CURRENT_DATE()) as "date"
        , concepto_settlement as "concept"
        ,case when tipo_concepto = 'cargo' then 'debit'
        else 'credit' end as "type"
        , var_concepto_settlement as "key"
        , case when neto is not null then neto
        else 0 end as "amount"
        from(

            WITH journal_voucher_resume_disbursement(concepto_settlement,tipo_concepto,var_concepto_settlement,neto)
            as (
                select * from
                (

                    WITH journal_voucher_resume(concepto_settlement,tipo_concepto,var_concepto_settlement,neto)
                    as (
                                select 
                            'TPV Settlement' as concepto_settlement
                            ,'cargo' as tipo_concepto
                            ,'TpvSettlement' as var_concepto_settlement
                            ,case when journal_voucher_ledger_settlement.TPV_Settlement is not null AND journal_voucher_settlement.TPV_Settlement is not null then (journal_voucher_ledger_settlement.TPV_Settlement + journal_voucher_settlement.TPV_Settlement)
                            when journal_voucher_ledger_settlement.TPV_Settlement is not null then journal_voucher_ledger_settlement.TPV_Settlement
                            when journal_voucher_settlement.TPV_Settlement is not null then journal_voucher_settlement.TPV_Settlement
                            else 0 end as neto
                            from
                            (
                                (select settlement_daily_eff_dt,TPV_Settlement from journal_voucher_ledger)journal_voucher_ledger_settlement
                                LEFT JOIN
                                (select settlement_daily_month,TPV_Settlement from journal_voucher)journal_voucher_settlement
                                on journal_voucher_ledger_settlement.settlement_daily_eff_dt = journal_voucher_settlement.settlement_daily_month
                            )
                            UNION
                            select
                            'TPV FastPayments' as concepto_settlement
                            ,'cargo' as tipo_concepto
                            ,'TpvFastPayments' as var_concepto_settlement
                            ,case when journal_voucher_ledger_settlement.TPV_FastPayments is not null AND journal_voucher_settlement.TPV_FastPayments is not null then (journal_voucher_ledger_settlement.TPV_FastPayments + journal_voucher_settlement.TPV_FastPayments)
                            when journal_voucher_ledger_settlement.TPV_FastPayments is not null then journal_voucher_ledger_settlement.TPV_FastPayments
                            when journal_voucher_settlement.TPV_FastPayments is not null then journal_voucher_settlement.TPV_FastPayments
                            else 0 end as neto
                            from 
                            (
                                (select settlement_daily_eff_dt,TPV_FastPayments from journal_voucher_ledger)journal_voucher_ledger_settlement
                                LEFT JOIN
                                (select settlement_daily_month,TPV_FastPayments from journal_voucher)journal_voucher_settlement
                                on journal_voucher_ledger_settlement.settlement_daily_eff_dt = journal_voucher_settlement.settlement_daily_month
                            )
                            UNION
                               select 
                            'TPV MCI' as concepto_settlement
                            ,'cargo' as tipo_concepto
                            ,'TPVMCI' as var_concepto_settlement
                            ,case when TPV_deferred_payments is not null then TPV_deferred_payments
                            else 0 end as neto
                            from journal_voucher_ledger
                            UNION
                                select 
                            'Fee MCI' as concepto_settlement
                            ,'abono' as tipo_concepto
                            ,'FeeMCI' as var_concepto_settlement
                            ,case when TPV_deferred_payments is not null then fee_deferred_payments
                            else 0 end as neto
                            from journal_voucher_ledger
                            UNION
                                select 
                            'Taxes MCI' as concepto_settlement
                            ,'abono' as tipo_concepto
                            ,'TaxesMCI' as var_concepto_settlement
                            ,case when TPV_deferred_payments is not null then taxes_deferred_payments
                            else 0 end as neto
                            from journal_voucher_ledger
                            UNION
                               select 
                            'TPV DCC' as concepto_settlement
                            ,'cargo' as tipo_concepto
                            ,'TPVDCC' as var_concepto_settlement
                            ,case when tpv_dcc is not null then tpv_dcc
                            else 0 end as neto
                            from journal_voucher_ledger
                            UNION
                            select
                            'FeeTxns' as concepto_settlement
                            ,'abono' as tipo_concepto
                            ,'FeeTxns' as var_concepto_settlement
                            ,case when journal_voucher_ledger_settlement.FeeTxns is not null AND journal_voucher_settlement.FeeTxns is not null then (journal_voucher_ledger_settlement.FeeTxns + journal_voucher_settlement.FeeTxns)
                            when journal_voucher_ledger_settlement.FeeTxns is not null then journal_voucher_ledger_settlement.FeeTxns
                            when journal_voucher_settlement.FeeTxns is not null then journal_voucher_settlement.FeeTxns
                            else 0 end as neto
                            from 
                            (
                                (select settlement_daily_eff_dt,FeeTxns from journal_voucher_ledger)journal_voucher_ledger_settlement
                                LEFT JOIN
                                (select settlement_daily_month,FeeTxns from journal_voucher)journal_voucher_settlement
                                on journal_voucher_ledger_settlement.settlement_daily_eff_dt = journal_voucher_settlement.settlement_daily_month
                            )
                                UNION
                            select
                            'TaxesTxns' as concepto_settlement
                            ,'abono' as tipo_concepto
                            ,'TaxesTxns' as var_concepto_settlement
                            ,case when journal_voucher_ledger_settlement.TaxesTxns is not null AND journal_voucher_settlement.TaxesTxns is not null then (journal_voucher_ledger_settlement.TaxesTxns + journal_voucher_settlement.TaxesTxns)
                            when journal_voucher_ledger_settlement.TaxesTxns is not null then journal_voucher_ledger_settlement.TaxesTxns
                            when journal_voucher_settlement.TaxesTxns is not null then journal_voucher_settlement.TaxesTxns
                            else 0 end as neto
                            from 
                            (
                                (select settlement_daily_eff_dt,TaxesTxns from journal_voucher_ledger)journal_voucher_ledger_settlement
                                LEFT JOIN
                                (select settlement_daily_month,TaxesTxns from journal_voucher)journal_voucher_settlement
                                on journal_voucher_ledger_settlement.settlement_daily_eff_dt = journal_voucher_settlement.settlement_daily_month
                            )
                                UNION
                              select
                            'Fee TopUps1' as concepto_settlement
                            ,'cargo' as tipo_concepto
                            ,'FeeTopUps1' as var_concepto_settlement
                            ,case when Fee_TopUps1 is not null then Fee_TopUps1
                            else 0 end as neto
                            from journal_voucher
                                UNION
                                select
                            'Taxes TopUps1' as concepto_settlement
                            ,'cargo' as tipo_concepto
                            ,'TaxesTopUps1' as var_concepto_settlement
                            ,case when Taxes_TopUps1 is not null then Taxes_TopUps1
                            else 0 end as neto
                            from journal_voucher
                                UNION
                                select
                            'Fee TopUps2' as concepto_settlement
                            ,'cargo' as tipo_concepto
                            ,'FeeTopUps2' as var_concepto_settlement
                            ,case when journal_voucher_ledger_settlement.Fee_TopUps2 is not null AND journal_voucher_settlement.Fee_TopUps2 is not null then (journal_voucher_ledger_settlement.Fee_TopUps2 + journal_voucher_settlement.Fee_TopUps2)
                            when journal_voucher_ledger_settlement.Fee_TopUps2 is not null then journal_voucher_ledger_settlement.Fee_TopUps2
                            when journal_voucher_settlement.Fee_TopUps2 is not null then journal_voucher_settlement.Fee_TopUps2
                            else 0 end as neto
                            from 
                            (
                                (select settlement_daily_eff_dt,Fee_TopUps2 from journal_voucher_ledger)journal_voucher_ledger_settlement
                                LEFT JOIN
                                (select settlement_daily_month,Fee_TopUps2 from journal_voucher)journal_voucher_settlement
                                on journal_voucher_ledger_settlement.settlement_daily_eff_dt = journal_voucher_settlement.settlement_daily_month
                            )
                                UNION
                                select
                            'Taxes TopUps2' as concepto_settlement
                            ,'cargo' as tipo_concepto
                            ,'TaxesTopUps2' as var_concepto_settlement
                            ,case when journal_voucher_ledger_settlement.Taxes_TopUps2 is not null AND journal_voucher_settlement.Taxes_TopUps2 is not null then (journal_voucher_ledger_settlement.Taxes_TopUps2 + journal_voucher_settlement.Taxes_TopUps2)
                            when journal_voucher_ledger_settlement.Taxes_TopUps2 is not null then journal_voucher_ledger_settlement.Taxes_TopUps2
                            when journal_voucher_settlement.Taxes_TopUps2 is not null then journal_voucher_settlement.Taxes_TopUps2
                            else 0 end as neto
                            from 
                            (
                                (select settlement_daily_eff_dt,Taxes_TopUps2 from journal_voucher_ledger)journal_voucher_ledger_settlement
                                LEFT JOIN
                                (select settlement_daily_month,Taxes_TopUps2 from journal_voucher)journal_voucher_settlement
                                on journal_voucher_ledger_settlement.settlement_daily_eff_dt = journal_voucher_settlement.settlement_daily_month
                            )
                                UNION
                                select
                            'Adj Loans Lenders' as concepto_settlement
                            ,'abono' as tipo_concepto
                            ,'AdjLoansLenders' as var_concepto_settlement
                            ,case when Adj_Loans_Lenders is not null then Adj_Loans_Lenders
                            else 0 end as neto
                            from journal_voucher_ledger
                                UNION
                                select
                            'Adjustments Cancelaciones' as concepto_settlement
                            ,'abono' as tipo_concepto
                            ,'AdjustmentsCancelaciones' as var_concepto_settlement
                            , 0 as neto
                            --,case when journal_voucher_ledger_settlement.Adjustments_Cancelaciones is not null  AND journal_voucher_settlement.Adjustments_Cancelaciones is not null AND journal_voucher_settlement.Adjustments_Cancelaciones > 0  then (journal_voucher_ledger_settlement.Adjustments_Cancelaciones + journal_voucher_settlement.Adjustments_Cancelaciones)
                            --when journal_voucher_ledger_settlement.Adjustments_Cancelaciones is not null then journal_voucher_ledger_settlement.Adjustments_Cancelaciones
                            --when journal_voucher_settlement.Adjustments_Cancelaciones is not null then journal_voucher_settlement.Adjustments_Cancelaciones
                            --else 0 end as neto
                            --from 
                            --(
                            --    (select adj_cancel_fees_taxes_eff_dt,Adjustments_Cancelaciones from journal_voucher_ledger)journal_voucher_ledger_settlement
                            --    LEFT JOIN
                            --    (select report_date_local_Adjustments_Cancelaciones,Adjustments_Cancelaciones from journal_voucher)journal_voucher_settlement
                            --    on journal_voucher_ledger_settlement.adj_cancel_fees_taxes_eff_dt = journal_voucher_settlement.report_date_local_Adjustments_Cancelaciones
                            --)
                                UNION
                                select
                            'Adjustments Cancelaciones Fees' as concepto_settlement
                            ,'cargo' as tipo_concepto
                            ,'AdjustmentsCancelacionesFees' as var_concepto_settlement
                            , 0 as neto
                            --,case when journal_voucher_ledger_settlement.adjustments_cancelaciones_fees is not null AND journal_voucher_settlement.adjustments_cancelaciones_fees is not null then (journal_voucher_ledger_settlement.adjustments_cancelaciones_fees + journal_voucher_settlement.adjustments_cancelaciones_fees)
                            --when journal_voucher_ledger_settlement.adjustments_cancelaciones_fees is not null then journal_voucher_ledger_settlement.adjustments_cancelaciones_fees
                            --when journal_voucher_settlement.adjustments_cancelaciones_fees is not null then journal_voucher_settlement.adjustments_cancelaciones_fees
                            --else 0 end as neto
                            --from 
                            --(
                            --    (select adj_cancel_fees_taxes_eff_dt,adjustments_cancelaciones_fees from journal_voucher_ledger)journal_voucher_ledger_settlement
                            --    LEFT JOIN
                            --    (select adjustments_cancelaciones_fees_taxes_report_date_local,adjustments_cancelaciones_fees from journal_voucher)journal_voucher_settlement
                            --    on journal_voucher_ledger_settlement.adj_cancel_fees_taxes_eff_dt = journal_voucher_settlement.adjustments_cancelaciones_fees_taxes_report_date_local
                            --)
                                UNION
                                select
                            'Adjustments Cancelaciones Taxes' as concepto_settlement
                            ,'cargo' as tipo_concepto
                            ,'AdjustmentsCancelacionesTaxes' as var_concepto_settlement
                            , 0 as neto
                            --,case when journal_voucher_ledger_settlement.Adjustments_Cancelaciones_Taxes is not null AND journal_voucher_settlement.Adjustments_Cancelaciones_Taxes is not null then (journal_voucher_ledger_settlement.Adjustments_Cancelaciones_Taxes + journal_voucher_settlement.Adjustments_Cancelaciones_Taxes)
                            --when journal_voucher_ledger_settlement.Adjustments_Cancelaciones_Taxes is not null then journal_voucher_ledger_settlement.Adjustments_Cancelaciones_Taxes
                            --when journal_voucher_settlement.Adjustments_Cancelaciones_Taxes is not null then journal_voucher_settlement.Adjustments_Cancelaciones_Taxes
                            --else 0 end as neto
                            --from 
                            --(
                            --    (select adj_cancel_fees_taxes_eff_dt,Adjustments_Cancelaciones_Taxes from journal_voucher_ledger)journal_voucher_ledger_settlement
                            --    LEFT JOIN
                            --    (select adjustments_cancelaciones_fees_taxes_report_date_local,Adjustments_Cancelaciones_Taxes from journal_voucher)journal_voucher_settlement
                            --    on journal_voucher_ledger_settlement.adj_cancel_fees_taxes_eff_dt = journal_voucher_settlement.adjustments_cancelaciones_fees_taxes_report_date_local
                            --)
                                UNION
                                select
                            'Cobranza' as concepto_settlement
                            ,'abono' as tipo_concepto
                            ,'Cobranza' as var_concepto_settlement
                            ,case when journal_voucher_ledger_settlement.Cobranza is not null AND journal_voucher_settlement.Cobranza is not null then (journal_voucher_ledger_settlement.Cobranza + journal_voucher_settlement.Cobranza)
                            when journal_voucher_ledger_settlement.Cobranza is not null then journal_voucher_ledger_settlement.Cobranza
                            when journal_voucher_settlement.Cobranza is not null then journal_voucher_settlement.Cobranza
                            else 0 end as neto
                            from 
                            (
                                (select settlement_daily_eff_dt,Cobranza from journal_voucher_ledger)journal_voucher_ledger_settlement
                                LEFT JOIN
                                (select report_date_local_total_released_total_retained_cobranza_month,Cobranza from journal_voucher)journal_voucher_settlement
                                on journal_voucher_ledger_settlement.settlement_daily_eff_dt = journal_voucher_settlement.report_date_local_total_released_total_retained_cobranza_month
                            )
                                UNION
                                select
                            'Release Risk' as concepto_settlement
                            ,'cargo' as tipo_concepto
                            ,'ReleaseRisk' as var_concepto_settlement
                            ,case when journal_voucher_ledger_settlement.Release_Risk is not null AND journal_voucher_settlement.Release_Risk is not null then (journal_voucher_ledger_settlement.Release_Risk + journal_voucher_settlement.Release_Risk)
                            when journal_voucher_ledger_settlement.Release_Risk is not null then journal_voucher_ledger_settlement.Release_Risk
                            when journal_voucher_settlement.Release_Risk is not null then journal_voucher_settlement.Release_Risk
                            else 0 end as neto
                            from 
                            (
                                (select risk_release_eff_dt,Release_Risk from journal_voucher_ledger)journal_voucher_ledger_settlement
                                LEFT JOIN
                                (select report_date_local_total_released_total_retained_cobranza_month,Release_Risk from journal_voucher)journal_voucher_settlement
                                on journal_voucher_ledger_settlement.risk_release_eff_dt = journal_voucher_settlement.report_date_local_total_released_total_retained_cobranza_month
                            )
                                UNION
                                select
                            'Release Risk Fast Payments' as concepto_settlement
                            ,'cargo' as tipo_concepto
                            ,'ReleaseRiskFastPayments' as var_concepto_settlement
                            ,case when journal_voucher_ledger_settlement.Release_Risk_Fast_Payments is not null AND journal_voucher_settlement.Release_Risk_Fast_Payments is not null then (journal_voucher_ledger_settlement.Release_Risk_Fast_Payments + journal_voucher_settlement.Release_Risk_Fast_Payments)
                            when journal_voucher_ledger_settlement.Release_Risk_Fast_Payments is not null then journal_voucher_ledger_settlement.Release_Risk_Fast_Payments
                            when journal_voucher_settlement.Release_Risk_Fast_Payments is not null then journal_voucher_settlement.Release_Risk_Fast_Payments
                            else 0 end as neto
                            from 
                            (
                                (select risk_release_eff_dt,Release_Risk_Fast_Payments from journal_voucher_ledger)journal_voucher_ledger_settlement
                                LEFT JOIN
                                (select report_date_local_total_released_total_retained_cobranza_month,Release_Risk_Fast_Payments from journal_voucher)journal_voucher_settlement
                                on journal_voucher_ledger_settlement.risk_release_eff_dt = journal_voucher_settlement.report_date_local_total_released_total_retained_cobranza_month
                            )
                                UNION
                                select
                            'Retained RR' as concepto_settlement
                            ,'abono' as tipo_concepto
                            ,'RetainedRR' as var_concepto_settlement
                            ,case when journal_voucher_ledger_settlement.Retained_RR is not null AND journal_voucher_settlement.Retained_RR is not null then (journal_voucher_ledger_settlement.Retained_RR + journal_voucher_settlement.Retained_RR)
                            when journal_voucher_ledger_settlement.Retained_RR is not null then journal_voucher_ledger_settlement.Retained_RR
                            when journal_voucher_settlement.Retained_RR is not null then journal_voucher_settlement.Retained_RR
                            else 0 end as neto
                            from 
                            (
                                (select risk_retention_eff_dt,Retained_RR from journal_voucher_ledger)journal_voucher_ledger_settlement
                                LEFT JOIN
                                (select report_date_local_total_released_total_retained_cobranza_month,Retained_RR from journal_voucher)journal_voucher_settlement
                                on journal_voucher_ledger_settlement.risk_retention_eff_dt = journal_voucher_settlement.report_date_local_total_released_total_retained_cobranza_month
                            )
                                UNION
                                select
                            'Retained Fast Payments' as concepto_settlement
                            ,'abono' as tipo_concepto
                            ,'RetainedFastPayments' as var_concepto_settlement
                            ,case when journal_voucher_ledger_settlement.Retained_Fast_Payments is not null AND journal_voucher_settlement.Retained_Fast_Payments is not null then (journal_voucher_ledger_settlement.Retained_Fast_Payments + journal_voucher_settlement.Retained_Fast_Payments)
                            when journal_voucher_ledger_settlement.Retained_Fast_Payments is not null then journal_voucher_ledger_settlement.Retained_Fast_Payments
                            when journal_voucher_settlement.Retained_Fast_Payments is not null then journal_voucher_settlement.Retained_Fast_Payments
                            else 0 end as neto
                            from 
                            (
                                (select risk_retention_eff_dt,Retained_Fast_Payments from journal_voucher_ledger)journal_voucher_ledger_settlement
                                LEFT JOIN
                                (select report_date_local_total_released_total_retained_cobranza_month,Retained_Fast_Payments from journal_voucher)journal_voucher_settlement
                                on journal_voucher_ledger_settlement.risk_retention_eff_dt = journal_voucher_settlement.report_date_local_total_released_total_retained_cobranza_month
                            )
                                UNION
                                select
                            'Reprogramaciones que se realizan en el mismo mes' as concepto_settlement
                            ,'cargo' as tipo_concepto
                            ,'ReprogramacionesMismoMes' as var_concepto_settlement
                            ,case when REPROGRAMACION_SAME_MONTH_TOTAL is not null then REPROGRAMACION_SAME_MONTH_TOTAL
                            else 0 end as neto
                            from journal_voucher_ledger
                                UNION
                                select
                            'Reprogramaciones de meses anteriores' as concepto_settlement
                            ,'cargo' as tipo_concepto
                            ,'ReprogramacionesMesesAnteriores' as var_concepto_settlement
                            ,case when REPROGRAMACION_LAST_MONTH_TOTAL is not null then REPROGRAMACION_LAST_MONTH_TOTAL
                            else 0 end as neto
                            from journal_voucher_ledger
                                UNION
                                select
                            'Reprogramaciones que se realizan en el mismo mes - Fast Payments' as concepto_settlement
                            ,'cargo' as tipo_concepto
                            ,'ReprogramacionesMismoMesFastPayments' as var_concepto_settlement
                            ,case when REPROGRAMACION_FAST_PAYMENT_SAME_MONTH_TOTAL is not null then REPROGRAMACION_FAST_PAYMENT_SAME_MONTH_TOTAL
                            else 0 end as neto
                            from journal_voucher_ledger
                                UNION
                                select
                            'Reprogramaciones de meses anteriores - Fast Payments' as concepto_settlement
                            ,'cargo' as tipo_concepto
                            ,'ReprogramacionesMesesAnterioresFastPayments' as var_concepto_settlement
                            ,case when REPROGRAMACION_FAST_PAYMENT_LAST_MONTH_TOTAL is not null then REPROGRAMACION_FAST_PAYMENT_LAST_MONTH_TOTAL
                            else 0 end as neto
                            from journal_voucher_ledger
                                UNION
                                select
                            'Pago desfasados de un día mismo mes' as concepto_settlement
                            ,'abono' as tipo_concepto
                            ,'PagoDesfasadosDeUnDiaMismoMes' as var_concepto_settlement
                            ,case when Pago_desfasados_de_un_dia_mismo_mes_total is not null then Pago_desfasados_de_un_dia_mismo_mes_total
                            else 0 end as neto
                            from journal_voucher
                                UNION
                                select
                            'Error reprogramaciones histórico' as concepto_settlement
                            ,'abono' as tipo_concepto
                            ,'ErrorReprogramacionesHistorico' as var_concepto_settlement
                            ,0 as neto
                            from journal_voucher_ledger
                                UNION
                                select
                            'Error pago del día nuevas entradas' as concepto_settlement
                            ,'abono' as tipo_concepto
                            ,'ErrorPagoDelDiaNuevasEntradas' as var_concepto_settlement
                            ,case when SAME_DAY_DAILY_TOTAL is not null then SAME_DAY_DAILY_TOTAL
                            else 0 end as neto
                            from journal_voucher_ledger
                                UNION
                                select
                            'Error reprogramaciones nuevas entradas' as concepto_settlement
                            ,'abono' as tipo_concepto
                            ,'ErrorReprogramacionesNuevasEntradas' as var_concepto_settlement
                            ,case when REPROGRAMACION_DAILY_TOTAL is not null then REPROGRAMACION_DAILY_TOTAL
                            else 0 end as neto
                            from journal_voucher_ledger
                                UNION
                                select
                            'Error por retained alta clabe (Anterior Retained alta clabe)' as concepto_settlement
                            ,'abono' as tipo_concepto
                            ,'ErrorPorRetainedAltaClabe' as var_concepto_settlement
                            ,case when Error_por_retained_alta_clabe is not null then Error_por_retained_alta_clabe
                            else 0 end as neto
                            from journal_voucher_ledger
                                UNION
                                select
                            'Total Return' as concepto_settlement
                            ,'abono' as tipo_concepto
                            ,'TotalReturn' as var_concepto_settlement
                            ,0 as neto
                            --,case when refounds is not null then refounds
                            --else 0 end as neto
                            from journal_voucher_ledger
                                UNION
                                select
                            'Total Return Fees' as concepto_settlement
                            ,'cargo' as tipo_concepto
                            ,'TotalReturnFees' as var_concepto_settlement
                            ,0 as neto
                            --,case when fee_refounds is not null then fee_refounds
                            --else 0 end as neto
                            from journal_voucher_ledger
                                UNION
                                select
                            'Total Return Taxes' as concepto_settlement
                            ,'cargo' as tipo_concepto
                            ,'TotalReturnTaxes' as var_concepto_settlement
                            ,0 as neto
                            --,case when taxes_refounds is not null then taxes_refounds
                            --else 0 end as neto
                            from journal_voucher_ledger
                                UNION
                                select
                            'Collections PrestaClip' as concepto_settlement
                            ,'abono' as tipo_concepto
                            ,'CollectionsPrestaClip' as var_concepto_settlement
                            ,case when amount_caal is not null then amount_caal
                            else 0 end as neto
                            from journal_voucher_ledger
                                UNION

                                select
                            'Total Venta plus Comision' as concepto_settlement
                            ,'cargo' as tipo_concepto
                            ,'TotalVentaPlusComision' as var_concepto_settlement
                            ,case when total_venta_plus_comision is not null then total_venta_plus_comision
                            else 0 end as neto
                            from journal_voucher_ledger
                                UNION
                                select
                            'Monto Recibo' as concepto_settlement
                            ,'abono' as tipo_concepto
                            ,'MontoRecibo' as var_concepto_settlement
                            ,case when monto_recibo is not null then monto_recibo
                            else 0 end as neto
                            from journal_voucher_ledger
                                UNION
                                select
                            'Depositos - Fee Billpayments' as concepto_settlement
                            ,'abono' as tipo_concepto
                            ,'DepositosFeeBillpayments' as var_concepto_settlement
                            ,case when fees_billpayments is not null then fees_billpayments
                            else 0 end as neto
                            from journal_voucher_ledger
                                UNION
                                select
                            'Comision - Fee Billpayments' as concepto_settlement
                            ,'cargo' as tipo_concepto
                            ,'ComisionFeeBillpayments' as var_concepto_settlement
                            ,case when fees_billpayments is not null then fees_billpayments
                            else 0 end as neto
                            from journal_voucher_ledger
                                UNION
                                select
                            'Depositos - Tax Billpayments' as concepto_settlement
                            ,'abono' as tipo_concepto
                            ,'DepositosTaxBillpayments' as var_concepto_settlement
                            ,case when taxes_billpayments is not null then taxes_billpayments
                            else 0 end as neto
                            from journal_voucher_ledger
                                UNION
                                select
                            'Comision - Tax Billpayments' as concepto_settlement
                            ,'cargo' as tipo_concepto
                            ,'ComisionTaxBillpayments' as var_concepto_settlement
                            ,case when taxes_billpayments is not null then taxes_billpayments
                            else 0 end as neto
                            from journal_voucher_ledger
                                UNION
                                select
                            'Ingreso - Tax Billpayments' as concepto_settlement
                            ,'abono' as tipo_concepto
                            ,'IngresoTaxBillpayments' as var_concepto_settlement
                            ,case when taxes_ingreso_billpayments  is not null then taxes_ingreso_billpayments
                            else 0 end as neto
                            from journal_voucher_ledger
                                UNION
                                select
                            'Ingreso - Fee Billpayments' as concepto_settlement
                            ,'abono' as tipo_concepto
                            ,'IngresoFeeBillpayments' as var_concepto_settlement
                            ,case when fees_ingreso_billpayments is not null then fees_ingreso_billpayments
                            else 0 end as neto
                            from journal_voucher_ledger
                        )


                    select
                    tipo_concepto as concepto_settlement
                    ,case when tipo_concepto = 'cargo' then 'total_cargo'
                    else 'total_parcial_abono' end as tipo_concepto
                    ,case when tipo_concepto = 'cargo' then 'TotalCargo'
                    else 'TotalParcialAbono' end as var_concepto_settlement
                    ,sum(neto) as neto
                    from journal_voucher_resume
                    group by tipo_concepto
                    UNION
                    select 
                    *
                    from journal_voucher_resume


                )

            )
            select
            'Disbursement' as concepto_settlement
            ,'abono' as tipo_concepto
            ,'Disbursement' as var_concepto_settlement
            ,(total_neto_cargo - total_parcial_neto_abono) as neto
            from
            (
                (
                select 
                neto as total_neto_cargo
                from journal_voucher_resume_disbursement
                where var_concepto_settlement = 'TotalCargo'
                )neto_cargo full join
                (
                select 
                neto as total_parcial_neto_abono
                from journal_voucher_resume_disbursement
                where var_concepto_settlement = 'TotalParcialAbono'
                )neto_abono
            )
            UNION
            select 
            *
            from journal_voucher_resume_disbursement

        ) where tipo_concepto <> 'total_parcial_abono' AND tipo_concepto <> 'total_cargo