In [1]:
import pandas as pd
import numpy as np
from openpyxl import load_workbook
pd.options.display.float_format = '{:,.2f}'.format

# SQL DATA

In [2]:
sql1 = pd.read_csv(r'C:\Users\Cristian.Aparicio\Documents\PROVISIONES\2020\9. SEPTIEMBRE\QUERIES\PROD PROVISION SEPTIEMBRE 2020.txt',sep='\t',names=['merchant_id','transaction_id','date','created_at','psp','amount','clave_autorizacion','bin','last4','status_code','order_id','msi','device_id','clip_reader'],dtype={'amount':float,'clave_autorizacion': object,'bin':object,'last4':object,'order_id':object,'device_id':object})
sql1.head()

,merchant_id,transaction_id,date,created_at,psp,amount,clave_autorizacion,bin,last4,status_code,order_id,msi,device_id,clip_reader
0,b19719fe-dc76-4580-9f7c-b41a5a464afc,8161d8d7-98b7-4417-848f-7191ccbf19af,2020-09-29,2020-09-29 05:00:05,PROSA,"10,600.00",939943,452421,5541,1,999049159115,0.00,37303030323138350A270011,Clip Plus
1,e8f210a7-d257-4340-ae8a-d5fec18b8d1d,349737e3-5eee-4098-a6d1-05903ed989f6,2020-09-29,2020-09-29 05:00:06,PROSA,47.00,031464,491089,1293,1,263652772494,0.00,A368C1610409EDFFFF09082999,Clip Plus 2
2,d37c721f-db9d-40ba-bb58-4252bd467ece,c83eec25-c4de-4f9b-9fda-922b4392722b,2020-09-29,2020-09-29 05:00:13,PROSA,290.00,311807,402766,0963,1,610058234391,0.00,PP36811910001559,Clip Pro
3,cece9037-611a-49e5-8478-e488f3e7a8ed,60ad0054-7801-4e3f-8bac-84bec3d9a833,2020-09-29,2020-09-29 05:00:17,PROSA,"1,578.45",001779,547046,3550,1,178800381939,3.00,37303032313835320A270006,Clip Plus
4,e5b03147-9dbc-4471-8c31-416a1b66203b,3810ed01-03b4-43c2-9e29-11b24e62d0fb,2020-09-29,2020-09-29 05:00:19,PROSA,44.50,524432,415231,4884,1,103277023651,0.00,A36884000409F56FFF092E0B4D,Clip Plus 2

In [3]:
sql1.shape

(142093, 14)

In [4]:
all_provisiones = sql1[(sql1['status_code'] == 1)]
all_provisiones.head()

,merchant_id,transaction_id,date,created_at,psp,amount,clave_autorizacion,bin,last4,status_code,order_id,msi,device_id,clip_reader
0,b19719fe-dc76-4580-9f7c-b41a5a464afc,8161d8d7-98b7-4417-848f-7191ccbf19af,2020-09-29,2020-09-29 05:00:05,PROSA,"10,600.00",939943,452421,5541,1,999049159115,0.00,37303030323138350A270011,Clip Plus
1,e8f210a7-d257-4340-ae8a-d5fec18b8d1d,349737e3-5eee-4098-a6d1-05903ed989f6,2020-09-29,2020-09-29 05:00:06,PROSA,47.00,031464,491089,1293,1,263652772494,0.00,A368C1610409EDFFFF09082999,Clip Plus 2
2,d37c721f-db9d-40ba-bb58-4252bd467ece,c83eec25-c4de-4f9b-9fda-922b4392722b,2020-09-29,2020-09-29 05:00:13,PROSA,290.00,311807,402766,0963,1,610058234391,0.00,PP36811910001559,Clip Pro
3,cece9037-611a-49e5-8478-e488f3e7a8ed,60ad0054-7801-4e3f-8bac-84bec3d9a833,2020-09-29,2020-09-29 05:00:17,PROSA,"1,578.45",001779,547046,3550,1,178800381939,3.00,37303032313835320A270006,Clip Plus
4,e5b03147-9dbc-4471-8c31-416a1b66203b,3810ed01-03b4-43c2-9e29-11b24e62d0fb,2020-09-29,2020-09-29 05:00:19,PROSA,44.50,524432,415231,4884,1,103277023651,0.00,A36884000409F56FFF092E0B4D,Clip Plus 2

In [5]:
all_provisiones.shape

(125039, 14)

In [6]:
all_provisiones['psp'].unique()

array(['PROSA', 'PAYWORKS-BANORTE', 'AMEX', 'MIT-3DS'], dtype=object)

In [7]:
query_settlement = all_provisiones[['transaction_id','psp','status_code']]
query_settlement['query_transaction'] = "'"+query_settlement['transaction_id']+"',"
query_settlement.head()

C:\Users\Cristian.Aparicio\anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,transaction_id,psp,status_code,query_transaction
0,8161d8d7-98b7-4417-848f-7191ccbf19af,PROSA,1,"'8161d8d7-98b7-4417-848f-7191ccbf19af',"
1,349737e3-5eee-4098-a6d1-05903ed989f6,PROSA,1,"'349737e3-5eee-4098-a6d1-05903ed989f6',"
2,c83eec25-c4de-4f9b-9fda-922b4392722b,PROSA,1,"'c83eec25-c4de-4f9b-9fda-922b4392722b',"
3,60ad0054-7801-4e3f-8bac-84bec3d9a833,PROSA,1,"'60ad0054-7801-4e3f-8bac-84bec3d9a833',"
4,3810ed01-03b4-43c2-9e29-11b24e62d0fb,PROSA,1,"'3810ed01-03b4-43c2-9e29-11b24e62d0fb',"

In [8]:
query_settlement_bnte = query_settlement[(query_settlement['psp'] == 'PROSA')]
query_settlement_amex = query_settlement[(query_settlement['psp'] == 'AMEX')]
query_settlement_openpay = query_settlement[(query_settlement['psp'] == 'OPENPAY')]
query_settlement_ecommerce = query_settlement[(query_settlement['psp'] == 'PAYWORKS-BANORTE')]
query_settlement_mit_3ds = query_settlement[(query_settlement['psp'] == 'MIT-3DS')]

In [9]:
writer = pd.ExcelWriter('DATA FOR QUERIES.xlsx', engine='xlsxwriter', options={'encoding':'utf-8'})
query_settlement_bnte.to_excel(writer, sheet_name='QUERY BNTE', index=False)
query_settlement_amex.to_excel(writer, sheet_name='QUERY AMEX', index=False)
query_settlement_openpay.to_excel(writer, sheet_name='QUERY OPENPAY', index=False)
query_settlement_ecommerce.to_excel(writer, sheet_name='QUERY ECOMMERCE', index=False)
query_settlement_mit_3ds.to_excel(writer, sheet_name='QUERY MIT-3DS', index=False)
writer.save()

# PROVISIONES BANORTE

In [10]:
provision_bnte = all_provisiones[(all_provisiones['psp'] == 'PROSA')]
provision_bnte['CONCAT'] = provision_bnte['order_id'].astype(str).replace(' ', '',regex=True)+'-'+provision_bnte['amount'].apply(np.floor).astype(str).replace(' ', '',regex=True)+'-'+provision_bnte['last4'].astype(str).replace(' ', '',regex=True)
provision_bnte.head()

C:\Users\Cristian.Aparicio\anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,merchant_id,transaction_id,date,created_at,psp,amount,clave_autorizacion,bin,last4,status_code,order_id,msi,device_id,clip_reader,CONCAT
0,b19719fe-dc76-4580-9f7c-b41a5a464afc,8161d8d7-98b7-4417-848f-7191ccbf19af,2020-09-29,2020-09-29 05:00:05,PROSA,"10,600.00",939943,452421,5541,1,999049159115,0.00,37303030323138350A270011,Clip Plus,999049159115-10600.0-5541
1,e8f210a7-d257-4340-ae8a-d5fec18b8d1d,349737e3-5eee-4098-a6d1-05903ed989f6,2020-09-29,2020-09-29 05:00:06,PROSA,47.00,031464,491089,1293,1,263652772494,0.00,A368C1610409EDFFFF09082999,Clip Plus 2,263652772494-47.0-1293
2,d37c721f-db9d-40ba-bb58-4252bd467ece,c83eec25-c4de-4f9b-9fda-922b4392722b,2020-09-29,2020-09-29 05:00:13,PROSA,290.00,311807,402766,0963,1,610058234391,0.00,PP36811910001559,Clip Pro,610058234391-290.0-0963
3,cece9037-611a-49e5-8478-e488f3e7a8ed,60ad0054-7801-4e3f-8bac-84bec3d9a833,2020-09-29,2020-09-29 05:00:17,PROSA,"1,578.45",001779,547046,3550,1,178800381939,3.00,37303032313835320A270006,Clip Plus,178800381939-1578.0-3550
4,e5b03147-9dbc-4471-8c31-416a1b66203b,3810ed01-03b4-43c2-9e29-11b24e62d0fb,2020-09-29,2020-09-29 05:00:19,PROSA,44.50,524432,415231,4884,1,103277023651,0.00,A36884000409F56FFF092E0B4D,Clip Plus 2,103277023651-44.0-4884

In [11]:
provision_bnte.shape

(122633, 15)

In [12]:
# SEPTIEMBRE
df1 = pd.read_csv(r'C:\Users\Cristian.Aparicio\Documents\PROVISIONES\2020\9. SEPTIEMBRE\SFTP\PAYCLIP_Settlement_26092020_V1.csv',names=["Tipo de Columna","Afiliación","Referencia","Tarjeta","Monto depositado","Comisiones","Fecha txn","Importe Bruto","Tipo Moneda","Tipo txn","Iva","Iva por pago diferido","Iva pagado por cashback","Iva cobrado por cashback","Comisión pagada por cashback","Comisión cobrada por cashback","Comisión por pago diferido","Monto del Cashback","Núm Pagos","Diferimiento Inicial","Tipo de Plan","Código de Autorización","Empty","ECI","Ref. Interbancaria","Empty.1","Empty.2","Empty.3","order_id_payworks","Ref. de Payworks","Customer_ref1","Customer_ref2","Customer_ref3","Núm de Control"],dtype={'Importe Bruto':float,'Ref. Interbancaria': object,'Afiliación':object,'Referencia':object,'Tarjeta':object,'Núm Pagos':object,'Diferimiento Inicial':object,'Tipo de Plan':object,'Código de Autorización':object,'ECI':object,'order_id_payworks':object})
df1['SFTP'] = '20200826'
df2 = pd.read_csv(r'C:\Users\Cristian.Aparicio\Documents\PROVISIONES\2020\9. SEPTIEMBRE\SFTP\PAYCLIP_Settlement_29092020_V1.csv',names=["Tipo de Columna","Afiliación","Referencia","Tarjeta","Monto depositado","Comisiones","Fecha txn","Importe Bruto","Tipo Moneda","Tipo txn","Iva","Iva por pago diferido","Iva pagado por cashback","Iva cobrado por cashback","Comisión pagada por cashback","Comisión cobrada por cashback","Comisión por pago diferido","Monto del Cashback","Núm Pagos","Diferimiento Inicial","Tipo de Plan","Código de Autorización","Empty","ECI","Ref. Interbancaria","Empty.1","Empty.2","Empty.3","order_id_payworks","Ref. de Payworks","Customer_ref1","Customer_ref2","Customer_ref3","Núm de Control"],dtype={'Importe Bruto':float,'Ref. Interbancaria': object,'Afiliación':object,'Referencia':object,'Tarjeta':object,'Núm Pagos':object,'Diferimiento Inicial':object,'Tipo de Plan':object,'Código de Autorización':object,'ECI':object,'order_id_payworks':object})
df2['SFTP'] = '20200829'
df3 = pd.read_csv(r'C:\Users\Cristian.Aparicio\Documents\PROVISIONES\2020\9. SEPTIEMBRE\SFTP\PAYCLIP_Settlement_30092020_V1.csv',names=["Tipo de Columna","Afiliación","Referencia","Tarjeta","Monto depositado","Comisiones","Fecha txn","Importe Bruto","Tipo Moneda","Tipo txn","Iva","Iva por pago diferido","Iva pagado por cashback","Iva cobrado por cashback","Comisión pagada por cashback","Comisión cobrada por cashback","Comisión por pago diferido","Monto del Cashback","Núm Pagos","Diferimiento Inicial","Tipo de Plan","Código de Autorización","Empty","ECI","Ref. Interbancaria","Empty.1","Empty.2","Empty.3","order_id_payworks","Ref. de Payworks","Customer_ref1","Customer_ref2","Customer_ref3","Núm de Control"],dtype={'Importe Bruto':float,'Ref. Interbancaria': object,'Afiliación':object,'Referencia':object,'Tarjeta':object,'Núm Pagos':object,'Diferimiento Inicial':object,'Tipo de Plan':object,'Código de Autorización':object,'ECI':object,'order_id_payworks':object})
df3['SFTP'] = '20200930'
df4 = pd.read_csv(r'C:\Users\Cristian.Aparicio\Documents\PROVISIONES\2020\9. SEPTIEMBRE\SFTP\PAYCLIP_Settlement_01102020_V1.csv',names=["Tipo de Columna","Afiliación","Referencia","Tarjeta","Monto depositado","Comisiones","Fecha txn","Importe Bruto","Tipo Moneda","Tipo txn","Iva","Iva por pago diferido","Iva pagado por cashback","Iva cobrado por cashback","Comisión pagada por cashback","Comisión cobrada por cashback","Comisión por pago diferido","Monto del Cashback","Núm Pagos","Diferimiento Inicial","Tipo de Plan","Código de Autorización","Empty","ECI","Ref. Interbancaria","Empty.1","Empty.2","Empty.3","order_id_payworks","Ref. de Payworks","Customer_ref1","Customer_ref2","Customer_ref3","Núm de Control"],dtype={'Importe Bruto':float,'Ref. Interbancaria': object,'Afiliación':object,'Referencia':object,'Tarjeta':object,'Núm Pagos':object,'Diferimiento Inicial':object,'Tipo de Plan':object,'Código de Autorización':object,'ECI':object,'order_id_payworks':object})
df4['SFTP'] = '20201001'
df5 = pd.read_csv(r'C:\Users\Cristian.Aparicio\Documents\PROVISIONES\2020\9. SEPTIEMBRE\SFTP\PAYCLIP_Settlement_02102020_V1.csv',names=["Tipo de Columna","Afiliación","Referencia","Tarjeta","Monto depositado","Comisiones","Fecha txn","Importe Bruto","Tipo Moneda","Tipo txn","Iva","Iva por pago diferido","Iva pagado por cashback","Iva cobrado por cashback","Comisión pagada por cashback","Comisión cobrada por cashback","Comisión por pago diferido","Monto del Cashback","Núm Pagos","Diferimiento Inicial","Tipo de Plan","Código de Autorización","Empty","ECI","Ref. Interbancaria","Empty.1","Empty.2","Empty.3","order_id_payworks","Ref. de Payworks","Customer_ref1","Customer_ref2","Customer_ref3","Núm de Control"],dtype={'Importe Bruto':float,'Ref. Interbancaria': object,'Afiliación':object,'Referencia':object,'Tarjeta':object,'Núm Pagos':object,'Diferimiento Inicial':object,'Tipo de Plan':object,'Código de Autorización':object,'ECI':object,'order_id_payworks':object})
df5['SFTP'] = '20201002'

In [13]:
sftp = pd.concat([df1,df2,df3,df4,df5])
sftp.head()

,Tipo de Columna,Afiliación,Referencia,Tarjeta,Monto depositado,Comisiones,Fecha txn,Importe Bruto,Tipo Moneda,Tipo txn,...,Empty.1,Empty.2,Empty.3,order_id_payworks,Ref. de Payworks,Customer_ref1,Customer_ref2,Customer_ref3,Núm de Control,SFTP
0,H,MXN,7252320686,-130551189,0,135560,2509201,"20,200,925.00",NaN,BANORTE,...,nan,nan,nan,NaN,NaN,NaN,NaN,nan,nan,20200826
1,D,07668673,7668673,4772132651,-45795,866,20200915,"-46,800.00",MXN,REFUNDED,...,nan,nan,nan,NaN,C,N,bKYXGJWehOUTNUyY,866.00,139.00,20200826
2,D,07668673,7668673,5062085626,-4136664,54600,20200921,"-4,200,000.00",MXN,REFUNDED,...,nan,nan,nan,NaN,D,N,7dupuBDSEVuBFCZa,"54,600.00","8,736.00",20200826
3,D,07668673,7668673,5499492167,-1466635,27728,20200921,"-1,498,799.00",MXN,REFUNDED,...,nan,nan,nan,NaN,C,N,7dv9UlkmNGC5F13v,"27,728.00","4,436.00",20200826
4,D,07668673,7668673,5256787090,29711,-392,20200923,"30,166.00",MXN,SETTLED,...,nan,nan,nan,NaN,D,N,bKYXGK0SSbvtC1r4,-392.00,-63.00,20200826

In [14]:
# sftp.drop(['Empty','Empty.1','Empty.2','Empty.3','Empty.4'],axis=1,inplace=True)
sftp.rename(columns ={'Ref. Interbancaria':'order_id'}, inplace=True)
sftp.head()

,Tipo de Columna,Afiliación,Referencia,Tarjeta,Monto depositado,Comisiones,Fecha txn,Importe Bruto,Tipo Moneda,Tipo txn,...,Empty.1,Empty.2,Empty.3,order_id_payworks,Ref. de Payworks,Customer_ref1,Customer_ref2,Customer_ref3,Núm de Control,SFTP
0,H,MXN,7252320686,-130551189,0,135560,2509201,"20,200,925.00",NaN,BANORTE,...,nan,nan,nan,NaN,NaN,NaN,NaN,nan,nan,20200826
1,D,07668673,7668673,4772132651,-45795,866,20200915,"-46,800.00",MXN,REFUNDED,...,nan,nan,nan,NaN,C,N,bKYXGJWehOUTNUyY,866.00,139.00,20200826
2,D,07668673,7668673,5062085626,-4136664,54600,20200921,"-4,200,000.00",MXN,REFUNDED,...,nan,nan,nan,NaN,D,N,7dupuBDSEVuBFCZa,"54,600.00","8,736.00",20200826
3,D,07668673,7668673,5499492167,-1466635,27728,20200921,"-1,498,799.00",MXN,REFUNDED,...,nan,nan,nan,NaN,C,N,7dv9UlkmNGC5F13v,"27,728.00","4,436.00",20200826
4,D,07668673,7668673,5256787090,29711,-392,20200923,"30,166.00",MXN,SETTLED,...,nan,nan,nan,NaN,D,N,bKYXGK0SSbvtC1r4,-392.00,-63.00,20200826

In [15]:
sftp.shape

(965617, 35)

In [16]:
sftp_fecha_deposito = sftp[(sftp['Tipo txn'] == 'BANORTE')]
sftp_fecha_deposito = sftp_fecha_deposito[['SFTP', 'Importe Bruto']]
sftp_fecha_deposito.rename(columns ={'Importe Bruto': 'Fecha_deposito'},inplace=True)                                                
sftp_fecha_deposito.head()

       SFTP  Fecha_deposito
0  20200826   20,200,925.00
0  20200829   20,200,928.00
0  20200930   20,200,929.00
0  20201001   20,200,930.00
0  20201002   20,201,001.00

In [17]:
sftp = sftp[(sftp['Tipo txn'] == 'SETTLED')]
sftp = sftp.merge(sftp_fecha_deposito[['SFTP', 'Fecha_deposito']],on='SFTP',how='left')

In [18]:
sftp['Fecha txn'] = pd.to_datetime(sftp['Fecha txn'], format='%Y%m%d').dt.date
sftp['SFTP'] = pd.to_datetime(sftp['SFTP'], format='%Y%m%d').dt.date
sftp['Fecha_deposito'] = pd.to_datetime(sftp['Fecha_deposito'], format='%Y%m%d').dt.date

In [19]:
sftp['Net Amount'] = sftp['Importe Bruto']/100
sftp['LAST4'] = sftp['Tarjeta'].str[-4:].astype(str)
sftp['CONCAT'] = sftp['order_id'].astype(str).replace(' ', '',regex=True)+'-'+sftp['Net Amount'].apply(np.floor).astype(str).replace(' ', '',regex=True)+'-'+sftp['LAST4'].astype(str).replace(' ', '',regex=True)
sftp['order_id'].fillna('NO EXISTE EN SFTP',inplace=True)
sftp.head()

,Tipo de Columna,Afiliación,Referencia,Tarjeta,Monto depositado,Comisiones,Fecha txn,Importe Bruto,Tipo Moneda,Tipo txn,...,Ref. de Payworks,Customer_ref1,Customer_ref2,Customer_ref3,Núm de Control,SFTP,Fecha_deposito,Net Amount,LAST4,CONCAT
0,D,07668673,7668673,5256787090,29711,-392,2020-09-23,"30,166.00",MXN,SETTLED,...,D,N,bKYXGK0SSbvtC1r4,-392.00,-63.00,2020-08-26,2020-09-25,301.66,7090,050532576522-301.0-7090
1,D,07668673,7668673,5256786999,31024,-410,2020-09-23,"31,500.00",MXN,SETTLED,...,D,N,PP36811908001411,-410.00,-66.00,2020-08-26,2020-09-25,315.00,6999,182270275366-315.0-6999
2,D,07668673,7668673,4027664103,5713,-75,2020-09-23,"5,800.00",MXN,SETTLED,...,D,N,N500W133491,-75.00,-12.00,2020-08-26,2020-09-25,58.00,4103,402533571653-58.0-4103
3,D,07668673,7668673,4915667865,2955,-39,2020-09-23,"3,000.00",MXN,SETTLED,...,D,N,7duz65KqZ9frFJ6k,-39.00,-6.00,2020-08-26,2020-09-25,30.00,7865,969047138107-30.0-7865
4,D,07668673,7668673,5204163397,70619,-932,2020-09-23,"71,700.00",MXN,SETTLED,...,D,N,7dupkvr54wwSlcRk,-932.00,-149.00,2020-08-26,2020-09-25,717.00,3397,157526782190-717.0-3397

In [20]:
sftp.shape

(963565, 39)

In [21]:
data_status_1 = provision_bnte.merge(sftp[['order_id','SFTP', 'Fecha txn', 'Fecha_deposito']],on='order_id',how='left')
data_status_1['SFTP'].fillna('NO ENCONTRADO EN SFTP',inplace=True)
data_status_1['Fecha txn'].fillna('NO ENCONTRADO EN SFTP',inplace=True)
data_status_1['Fecha_deposito'].fillna('NO ENCONTRADO EN SFTP',inplace=True)
data_status_1.drop_duplicates(subset ="CONCAT", keep = 'last', inplace = True) 
data_status_1.head()

,merchant_id,transaction_id,date,created_at,psp,amount,clave_autorizacion,bin,last4,status_code,order_id,msi,device_id,clip_reader,CONCAT,SFTP,Fecha txn,Fecha_deposito
0,b19719fe-dc76-4580-9f7c-b41a5a464afc,8161d8d7-98b7-4417-848f-7191ccbf19af,2020-09-29,2020-09-29 05:00:05,PROSA,"10,600.00",939943,452421,5541,1,999049159115,0.00,37303030323138350A270011,Clip Plus,999049159115-10600.0-5541,2020-10-01,2020-09-29,2020-09-30
1,e8f210a7-d257-4340-ae8a-d5fec18b8d1d,349737e3-5eee-4098-a6d1-05903ed989f6,2020-09-29,2020-09-29 05:00:06,PROSA,47.00,031464,491089,1293,1,263652772494,0.00,A368C1610409EDFFFF09082999,Clip Plus 2,263652772494-47.0-1293,2020-10-01,2020-09-29,2020-09-30
2,d37c721f-db9d-40ba-bb58-4252bd467ece,c83eec25-c4de-4f9b-9fda-922b4392722b,2020-09-29,2020-09-29 05:00:13,PROSA,290.00,311807,402766,0963,1,610058234391,0.00,PP36811910001559,Clip Pro,610058234391-290.0-0963,2020-10-01,2020-09-29,2020-09-30
3,cece9037-611a-49e5-8478-e488f3e7a8ed,60ad0054-7801-4e3f-8bac-84bec3d9a833,2020-09-29,2020-09-29 05:00:17,PROSA,"1,578.45",001779,547046,3550,1,178800381939,3.00,37303032313835320A270006,Clip Plus,178800381939-1578.0-3550,2020-10-01,2020-09-29,2020-09-30
4,e5b03147-9dbc-4471-8c31-416a1b66203b,3810ed01-03b4-43c2-9e29-11b24e62d0fb,2020-09-29,2020-09-29 05:00:19,PROSA,44.50,524432,415231,4884,1,103277023651,0.00,A36884000409F56FFF092E0B4D,Clip Plus 2,103277023651-44.0-4884,2020-10-01,2020-09-29,2020-09-30

In [22]:
data_status_1.shape

(122633, 18)

In [23]:
duplicates_status_1 = data_status_1[data_status_1.duplicated(['CONCAT'] , keep=False)]
duplicates_status_1.head()

Empty DataFrame
Columns: [merchant_id, transaction_id, date, created_at, psp, amount, clave_autorizacion, bin, last4, status_code, order_id, msi, device_id, clip_reader, CONCAT, SFTP, Fecha txn, Fecha_deposito]
Index: []

In [24]:
duplicates_status_1.shape

(0, 18)

In [25]:
results_status_1 = data_status_1[(data_status_1['Fecha txn'] != 'NO ENCONTRADO EN SFTP')]
results_status_1.head()

,merchant_id,transaction_id,date,created_at,psp,amount,clave_autorizacion,bin,last4,status_code,order_id,msi,device_id,clip_reader,CONCAT,SFTP,Fecha txn,Fecha_deposito
0,b19719fe-dc76-4580-9f7c-b41a5a464afc,8161d8d7-98b7-4417-848f-7191ccbf19af,2020-09-29,2020-09-29 05:00:05,PROSA,"10,600.00",939943,452421,5541,1,999049159115,0.00,37303030323138350A270011,Clip Plus,999049159115-10600.0-5541,2020-10-01,2020-09-29,2020-09-30
1,e8f210a7-d257-4340-ae8a-d5fec18b8d1d,349737e3-5eee-4098-a6d1-05903ed989f6,2020-09-29,2020-09-29 05:00:06,PROSA,47.00,031464,491089,1293,1,263652772494,0.00,A368C1610409EDFFFF09082999,Clip Plus 2,263652772494-47.0-1293,2020-10-01,2020-09-29,2020-09-30
2,d37c721f-db9d-40ba-bb58-4252bd467ece,c83eec25-c4de-4f9b-9fda-922b4392722b,2020-09-29,2020-09-29 05:00:13,PROSA,290.00,311807,402766,0963,1,610058234391,0.00,PP36811910001559,Clip Pro,610058234391-290.0-0963,2020-10-01,2020-09-29,2020-09-30
3,cece9037-611a-49e5-8478-e488f3e7a8ed,60ad0054-7801-4e3f-8bac-84bec3d9a833,2020-09-29,2020-09-29 05:00:17,PROSA,"1,578.45",001779,547046,3550,1,178800381939,3.00,37303032313835320A270006,Clip Plus,178800381939-1578.0-3550,2020-10-01,2020-09-29,2020-09-30
4,e5b03147-9dbc-4471-8c31-416a1b66203b,3810ed01-03b4-43c2-9e29-11b24e62d0fb,2020-09-29,2020-09-29 05:00:19,PROSA,44.50,524432,415231,4884,1,103277023651,0.00,A36884000409F56FFF092E0B4D,Clip Plus 2,103277023651-44.0-4884,2020-10-01,2020-09-29,2020-09-30

In [26]:
results_status_1.shape

(122619, 18)

In [27]:
NA_status_1 = data_status_1[(data_status_1['Fecha txn'] == 'NO ENCONTRADO EN SFTP')]
NA_status_1.head()

,merchant_id,transaction_id,date,created_at,psp,amount,clave_autorizacion,bin,last4,status_code,order_id,msi,device_id,clip_reader,CONCAT,SFTP,Fecha txn,Fecha_deposito
28956,7d9f950b-25f5-4a9f-9103-9fc1264ee167,e40cb4af-bbbf-4cf4-9c5c-63fe249d0ffe,2020-09-29,2020-09-29 18:04:40,PROSA,73.00,NaN,627318,4931,1,369116609996,0.00,37303030343934370A270011,Clip Plus,369116609996-73.0-4931,NO ENCONTRADO EN SFTP,NO ENCONTRADO EN SFTP,NO ENCONTRADO EN SFTP
29274,7d9f950b-25f5-4a9f-9103-9fc1264ee167,af77cdd2-0303-4382-aa55-66ff3f675afd,2020-09-29,2020-09-29 18:06:36,PROSA,92.00,NaN,627318,4958,1,826299382595,0.00,37303030343934370A270011,Clip Plus,826299382595-92.0-4958,NO ENCONTRADO EN SFTP,NO ENCONTRADO EN SFTP,NO ENCONTRADO EN SFTP
29499,7d9f950b-25f5-4a9f-9103-9fc1264ee167,ab507ced-278b-4f13-8813-72b4167f9b6c,2020-09-29,2020-09-29 18:08:04,PROSA,246.00,NaN,627318,5549,1,376071166820,0.00,37303030343934370A270011,Clip Plus,376071166820-246.0-5549,NO ENCONTRADO EN SFTP,NO ENCONTRADO EN SFTP,NO ENCONTRADO EN SFTP
29767,7d9f950b-25f5-4a9f-9103-9fc1264ee167,e3bf2cf0-983f-4142-990b-9639651017a4,2020-09-29,2020-09-29 18:09:45,PROSA,21.00,NaN,627318,4891,1,724252427501,0.00,37303030343934370A270011,Clip Plus,724252427501-21.0-4891,NO ENCONTRADO EN SFTP,NO ENCONTRADO EN SFTP,NO ENCONTRADO EN SFTP
29843,7d9f950b-25f5-4a9f-9103-9fc1264ee167,3c92264f-a7b6-4697-a66b-cefb60fc1775,2020-09-29,2020-09-29 18:10:17,PROSA,73.00,NaN,627318,4958,1,120696713018,0.00,37303030343934370A270011,Clip Plus,120696713018-73.0-4958,NO ENCONTRADO EN SFTP,NO ENCONTRADO EN SFTP,NO ENCONTRADO EN SFTP

In [28]:
NA_status_1.shape

(14, 18)

### INDEX USANDO CLAVE_AUTORIZACION

In [29]:
sinref = NA_status_1
sinref.drop(['Fecha txn','SFTP','Fecha_deposito','CONCAT'],axis=1,inplace=True)
sinref['CONCAT'] = sinref['clave_autorizacion'].astype(str).replace(' ', '',regex=True)+'-'+sinref['amount'].apply(np.floor).astype(str).replace(' ', '',regex=True)+'-'+sinref['last4'].astype(str).replace(' ', '',regex=True)
sinref.sort_values(by=('created_at'), ascending=True, inplace=True)
sinref.head()

C:\Users\Cristian.Aparicio\anaconda3\lib\site-packages\pandas\core\frame.py:3997: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,
C:\Users\Cristian.Aparicio\anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\Cristian.Aparicio\anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

,merchant_id,transaction_id,date,created_at,psp,amount,clave_autorizacion,bin,last4,status_code,order_id,msi,device_id,clip_reader,CONCAT
28956,7d9f950b-25f5-4a9f-9103-9fc1264ee167,e40cb4af-bbbf-4cf4-9c5c-63fe249d0ffe,2020-09-29,2020-09-29 18:04:40,PROSA,73.00,NaN,627318,4931,1,369116609996,0.00,37303030343934370A270011,Clip Plus,nan-73.0-4931
29274,7d9f950b-25f5-4a9f-9103-9fc1264ee167,af77cdd2-0303-4382-aa55-66ff3f675afd,2020-09-29,2020-09-29 18:06:36,PROSA,92.00,NaN,627318,4958,1,826299382595,0.00,37303030343934370A270011,Clip Plus,nan-92.0-4958
29499,7d9f950b-25f5-4a9f-9103-9fc1264ee167,ab507ced-278b-4f13-8813-72b4167f9b6c,2020-09-29,2020-09-29 18:08:04,PROSA,246.00,NaN,627318,5549,1,376071166820,0.00,37303030343934370A270011,Clip Plus,nan-246.0-5549
29767,7d9f950b-25f5-4a9f-9103-9fc1264ee167,e3bf2cf0-983f-4142-990b-9639651017a4,2020-09-29,2020-09-29 18:09:45,PROSA,21.00,NaN,627318,4891,1,724252427501,0.00,37303030343934370A270011,Clip Plus,nan-21.0-4891
29843,7d9f950b-25f5-4a9f-9103-9fc1264ee167,3c92264f-a7b6-4697-a66b-cefb60fc1775,2020-09-29,2020-09-29 18:10:17,PROSA,73.00,NaN,627318,4958,1,120696713018,0.00,37303030343934370A270011,Clip Plus,nan-73.0-4958

In [30]:
sinref.shape

(14, 15)

In [31]:
sftp_clave_autorizacion = pd.concat([df1,df2,df3,df4,df5])
# sftp_clave_autorizacion.drop(['Empty','Empty.1','Empty.2','Empty.3','Empty.4'],axis=1,inplace=True)
sftp_clave_autorizacion.rename(columns ={'Ref. Interbancaria':'order_id'}, inplace=True)

In [32]:
sftp_fecha_deposito_clave_autorizacion = sftp_clave_autorizacion[(sftp_clave_autorizacion['Tipo txn'] == 'BANORTE')]
sftp_fecha_deposito_clave_autorizacion = sftp_fecha_deposito_clave_autorizacion[['SFTP', 'Importe Bruto']]
sftp_fecha_deposito_clave_autorizacion.rename(columns ={'Importe Bruto': 'Fecha_deposito'},inplace=True)
sftp_fecha_deposito_clave_autorizacion.head()

       SFTP  Fecha_deposito
0  20200826   20,200,925.00
0  20200829   20,200,928.00
0  20200930   20,200,929.00
0  20201001   20,200,930.00
0  20201002   20,201,001.00

In [33]:
sftp_clave_autorizacion = sftp_clave_autorizacion[(sftp_clave_autorizacion['Tipo txn'] == 'SETTLED')]
sftp_clave_autorizacion = sftp_clave_autorizacion.merge(sftp_fecha_deposito_clave_autorizacion[['SFTP', 'Fecha_deposito']],on='SFTP',how='left')

In [34]:
sftp_clave_autorizacion['Fecha txn'] = pd.to_datetime(sftp_clave_autorizacion['Fecha txn'], format='%Y%m%d').dt.date
sftp_clave_autorizacion['SFTP'] = pd.to_datetime(sftp_clave_autorizacion['SFTP'], format='%Y%m%d').dt.date
sftp_clave_autorizacion['Fecha_deposito'] = pd.to_datetime(sftp_clave_autorizacion['Fecha_deposito'], format='%Y%m%d').dt.date

In [35]:
sftp_clave_autorizacion['Net Amount'] = sftp_clave_autorizacion['Importe Bruto']/100
sftp_clave_autorizacion['last4'] = sftp_clave_autorizacion['Tarjeta'].str[-4:].astype(str)
sftp_clave_autorizacion['CONCAT'] = sftp_clave_autorizacion['Código de Autorización'].astype(str).replace(' ', '',regex=True)+'-'+sftp_clave_autorizacion['Net Amount'].apply(np.floor).astype(str).replace(' ', '',regex=True)+'-'+sftp_clave_autorizacion['last4'].astype(str).replace(' ', '',regex=True)
sftp_clave_autorizacion['order_id'].fillna('NO EXISTE EN SFTP',inplace=True)
sftp_clave_autorizacion.head()

,Tipo de Columna,Afiliación,Referencia,Tarjeta,Monto depositado,Comisiones,Fecha txn,Importe Bruto,Tipo Moneda,Tipo txn,...,Ref. de Payworks,Customer_ref1,Customer_ref2,Customer_ref3,Núm de Control,SFTP,Fecha_deposito,Net Amount,last4,CONCAT
0,D,07668673,7668673,5256787090,29711,-392,2020-09-23,"30,166.00",MXN,SETTLED,...,D,N,bKYXGK0SSbvtC1r4,-392.00,-63.00,2020-08-26,2020-09-25,301.66,7090,005944-301.0-7090
1,D,07668673,7668673,5256786999,31024,-410,2020-09-23,"31,500.00",MXN,SETTLED,...,D,N,PP36811908001411,-410.00,-66.00,2020-08-26,2020-09-25,315.00,6999,023480-315.0-6999
2,D,07668673,7668673,4027664103,5713,-75,2020-09-23,"5,800.00",MXN,SETTLED,...,D,N,N500W133491,-75.00,-12.00,2020-08-26,2020-09-25,58.00,4103,098947-58.0-4103
3,D,07668673,7668673,4915667865,2955,-39,2020-09-23,"3,000.00",MXN,SETTLED,...,D,N,7duz65KqZ9frFJ6k,-39.00,-6.00,2020-08-26,2020-09-25,30.00,7865,000285-30.0-7865
4,D,07668673,7668673,5204163397,70619,-932,2020-09-23,"71,700.00",MXN,SETTLED,...,D,N,7dupkvr54wwSlcRk,-932.00,-149.00,2020-08-26,2020-09-25,717.00,3397,006566-717.0-3397

In [36]:
sftp_clave_autorizacion.shape

(963565, 39)

In [37]:
results2 = sinref.merge(sftp_clave_autorizacion[['CONCAT','SFTP', 'Fecha txn', 'Fecha_deposito']],on='CONCAT',how='left')
results2['Fecha txn'].fillna('NO ENCONTRADO EN SFTP',inplace=True)
results2['Fecha_deposito'].fillna('NO ENCONTRADO EN SFTP',inplace=True)
results2.drop_duplicates(subset ="CONCAT", keep = 'last', inplace = True)
results2.head()

,merchant_id,transaction_id,date,created_at,psp,amount,clave_autorizacion,bin,last4,status_code,order_id,msi,device_id,clip_reader,CONCAT,SFTP,Fecha txn,Fecha_deposito
0,7d9f950b-25f5-4a9f-9103-9fc1264ee167,e40cb4af-bbbf-4cf4-9c5c-63fe249d0ffe,2020-09-29,2020-09-29 18:04:40,PROSA,73.00,NaN,627318,4931,1,369116609996,0.00,37303030343934370A270011,Clip Plus,nan-73.0-4931,NaN,NO ENCONTRADO EN SFTP,NO ENCONTRADO EN SFTP
1,7d9f950b-25f5-4a9f-9103-9fc1264ee167,af77cdd2-0303-4382-aa55-66ff3f675afd,2020-09-29,2020-09-29 18:06:36,PROSA,92.00,NaN,627318,4958,1,826299382595,0.00,37303030343934370A270011,Clip Plus,nan-92.0-4958,NaN,NO ENCONTRADO EN SFTP,NO ENCONTRADO EN SFTP
2,7d9f950b-25f5-4a9f-9103-9fc1264ee167,ab507ced-278b-4f13-8813-72b4167f9b6c,2020-09-29,2020-09-29 18:08:04,PROSA,246.00,NaN,627318,5549,1,376071166820,0.00,37303030343934370A270011,Clip Plus,nan-246.0-5549,NaN,NO ENCONTRADO EN SFTP,NO ENCONTRADO EN SFTP
3,7d9f950b-25f5-4a9f-9103-9fc1264ee167,e3bf2cf0-983f-4142-990b-9639651017a4,2020-09-29,2020-09-29 18:09:45,PROSA,21.00,NaN,627318,4891,1,724252427501,0.00,37303030343934370A270011,Clip Plus,nan-21.0-4891,NaN,NO ENCONTRADO EN SFTP,NO ENCONTRADO EN SFTP
4,7d9f950b-25f5-4a9f-9103-9fc1264ee167,3c92264f-a7b6-4697-a66b-cefb60fc1775,2020-09-29,2020-09-29 18:10:17,PROSA,73.00,NaN,627318,4958,1,120696713018,0.00,37303030343934370A270011,Clip Plus,nan-73.0-4958,NaN,NO ENCONTRADO EN SFTP,NO ENCONTRADO EN SFTP

In [38]:
results2.shape

(14, 18)

In [39]:
results2_status_1 = results2[(results2['Fecha txn'] != 'NO ENCONTRADO EN SFTP')]
results2_status_1.head()

,merchant_id,transaction_id,date,created_at,psp,amount,clave_autorizacion,bin,last4,status_code,order_id,msi,device_id,clip_reader,CONCAT,SFTP,Fecha txn,Fecha_deposito
5,427a1d36-fd46-455d-ab11-df85469f5996,aace106c-93f1-4ac4-8138-bc80c3c41841,2020-09-29,2020-09-29 18:24:00,PROSA,500.00,112719,481582,2080,1,245629143812,0.00,A36849600409E40F0009265701,Clip Plus 2,112719-500.0-2080,2020-10-01,2020-09-29,2020-09-30
11,6162e915-2d65-46d3-abb6-9d2f4429758c,04f21f8b-4cce-4981-b09b-c14db9dd33f7,2020-09-29,2020-09-29 22:44:16,PROSA,700.00,174138,411773,4459,1,507140306557,0.00,A36848600409F3CFFF0908E1A1,Clip Plus 2,174138-700.0-4459,2020-10-01,2020-09-29,2020-09-30
13,d4bf06bc-ba8e-4f0b-9dec-3cc3e9482b5a,99bb9fbc-415d-4f16-b55b-9d2a6f42de53,2020-09-29,2020-09-30 01:31:31,PROSA,"1,350.00",133206,481588,9172,1,717007502583,0.00,B367C7311C09FDEFFC082233,Clip Plus,133206-1350.0-9172,2020-10-01,2020-09-29,2020-09-30

In [40]:
results2_status_1.shape

(3, 18)

In [41]:
NA2 = results2[(results2['Fecha txn'] == 'NO ENCONTRADO EN SFTP')]
NA2.head()

,merchant_id,transaction_id,date,created_at,psp,amount,clave_autorizacion,bin,last4,status_code,order_id,msi,device_id,clip_reader,CONCAT,SFTP,Fecha txn,Fecha_deposito
0,7d9f950b-25f5-4a9f-9103-9fc1264ee167,e40cb4af-bbbf-4cf4-9c5c-63fe249d0ffe,2020-09-29,2020-09-29 18:04:40,PROSA,73.00,NaN,627318,4931,1,369116609996,0.00,37303030343934370A270011,Clip Plus,nan-73.0-4931,NaN,NO ENCONTRADO EN SFTP,NO ENCONTRADO EN SFTP
1,7d9f950b-25f5-4a9f-9103-9fc1264ee167,af77cdd2-0303-4382-aa55-66ff3f675afd,2020-09-29,2020-09-29 18:06:36,PROSA,92.00,NaN,627318,4958,1,826299382595,0.00,37303030343934370A270011,Clip Plus,nan-92.0-4958,NaN,NO ENCONTRADO EN SFTP,NO ENCONTRADO EN SFTP
2,7d9f950b-25f5-4a9f-9103-9fc1264ee167,ab507ced-278b-4f13-8813-72b4167f9b6c,2020-09-29,2020-09-29 18:08:04,PROSA,246.00,NaN,627318,5549,1,376071166820,0.00,37303030343934370A270011,Clip Plus,nan-246.0-5549,NaN,NO ENCONTRADO EN SFTP,NO ENCONTRADO EN SFTP
3,7d9f950b-25f5-4a9f-9103-9fc1264ee167,e3bf2cf0-983f-4142-990b-9639651017a4,2020-09-29,2020-09-29 18:09:45,PROSA,21.00,NaN,627318,4891,1,724252427501,0.00,37303030343934370A270011,Clip Plus,nan-21.0-4891,NaN,NO ENCONTRADO EN SFTP,NO ENCONTRADO EN SFTP
4,7d9f950b-25f5-4a9f-9103-9fc1264ee167,3c92264f-a7b6-4697-a66b-cefb60fc1775,2020-09-29,2020-09-29 18:10:17,PROSA,73.00,NaN,627318,4958,1,120696713018,0.00,37303030343934370A270011,Clip Plus,nan-73.0-4958,NaN,NO ENCONTRADO EN SFTP,NO ENCONTRADO EN SFTP

In [42]:
NA2.shape

(11, 18)

In [43]:
duplicates = results2[results2.duplicated(['CONCAT'] , keep=False)]
duplicates.head()

Empty DataFrame
Columns: [merchant_id, transaction_id, date, created_at, psp, amount, clave_autorizacion, bin, last4, status_code, order_id, msi, device_id, clip_reader, CONCAT, SFTP, Fecha txn, Fecha_deposito]
Index: []

In [44]:
duplicates.shape

(0, 18)

### DATA FINAL

In [59]:
provision_settled = pd.read_csv(r'C:\Users\Cristian.Aparicio\Documents\PROVISIONES\2020\9. SEPTIEMBRE\QUERIES\SETTLED PROVISION SEPTIEMBRE 2020.txt',sep='\t',names=['transaction_id','report_id','user_email','report_date_local','transaction_date_local','transaction_amount','fees_charged','taxes','amount_due','status','status_item'])
provision_settled.head()

,transaction_id,report_id,user_email,report_date_local,transaction_date_local,transaction_amount,fees_charged,taxes,amount_due,status,status_item
0,140e6daa-f565-46c9-a95f-cd3c68687fec,YMMJ4RHRG,origami.vet@gmail.com,2020-09-29,2020-09-29,360.00,12.96,2.07,344.97,PAID,PROCESSED
1,2f70f039-fa18-4e33-a2e1-16185285a4f0,B3HDWD5RY,marian881@icloud.com,2020-09-29,2020-09-29,1.00,0.04,0.01,0.95,PAID,PROCESSED
2,329acc78-268d-4649-8937-e14494f24f89,QPVDQTYBZ,almacen.basicos@hotmail.com,2020-09-29,2020-09-29,981.00,35.32,5.65,940.03,PAID,PROCESSED
3,37385b4e-5a5c-4974-bf9e-adc34fe6cbd7,8ZBY8DBTF,almacen.basicos@hotmail.com,2020-09-29,2020-09-29,22.00,0.79,0.13,21.08,PAID,PROCESSED
4,3eae8f08-3a5d-4abc-a7ba-ce1038d7823f,QPVDQTYBZ,almacen.basicos@hotmail.com,2020-09-29,2020-09-29,23.00,0.83,0.13,22.04,PAID,PROCESSED

In [60]:
provision_settled.shape

(122633, 11)

In [61]:
provision_prod = pd.concat([results_status_1,results2_status_1,NA2])
provision_prod.drop(['SFTP'],axis=1,inplace=True)
provision_prod.head()

,merchant_id,transaction_id,date,created_at,psp,amount,clave_autorizacion,bin,last4,status_code,order_id,msi,device_id,clip_reader,CONCAT,Fecha txn,Fecha_deposito
0,b19719fe-dc76-4580-9f7c-b41a5a464afc,8161d8d7-98b7-4417-848f-7191ccbf19af,2020-09-29,2020-09-29 05:00:05,PROSA,"10,600.00",939943,452421,5541,1,999049159115,0.00,37303030323138350A270011,Clip Plus,999049159115-10600.0-5541,2020-09-29,2020-09-30
1,e8f210a7-d257-4340-ae8a-d5fec18b8d1d,349737e3-5eee-4098-a6d1-05903ed989f6,2020-09-29,2020-09-29 05:00:06,PROSA,47.00,031464,491089,1293,1,263652772494,0.00,A368C1610409EDFFFF09082999,Clip Plus 2,263652772494-47.0-1293,2020-09-29,2020-09-30
2,d37c721f-db9d-40ba-bb58-4252bd467ece,c83eec25-c4de-4f9b-9fda-922b4392722b,2020-09-29,2020-09-29 05:00:13,PROSA,290.00,311807,402766,0963,1,610058234391,0.00,PP36811910001559,Clip Pro,610058234391-290.0-0963,2020-09-29,2020-09-30
3,cece9037-611a-49e5-8478-e488f3e7a8ed,60ad0054-7801-4e3f-8bac-84bec3d9a833,2020-09-29,2020-09-29 05:00:17,PROSA,"1,578.45",001779,547046,3550,1,178800381939,3.00,37303032313835320A270006,Clip Plus,178800381939-1578.0-3550,2020-09-29,2020-09-30
4,e5b03147-9dbc-4471-8c31-416a1b66203b,3810ed01-03b4-43c2-9e29-11b24e62d0fb,2020-09-29,2020-09-29 05:00:19,PROSA,44.50,524432,415231,4884,1,103277023651,0.00,A36884000409F56FFF092E0B4D,Clip Plus 2,103277023651-44.0-4884,2020-09-29,2020-09-30

In [62]:
provision_prod.shape

(122633, 17)

In [63]:
provision_bnte_total = provision_prod.merge(provision_settled[['transaction_id','report_date_local'
                                                               ,'report_id','status']],on='transaction_id',how='left')
provision_bnte_total.fillna('RETAINED',inplace=True)
provision_bnte_total.head()

,merchant_id,transaction_id,date,created_at,psp,amount,clave_autorizacion,bin,last4,status_code,order_id,msi,device_id,clip_reader,CONCAT,Fecha txn,Fecha_deposito,report_date_local,report_id,status
0,b19719fe-dc76-4580-9f7c-b41a5a464afc,8161d8d7-98b7-4417-848f-7191ccbf19af,2020-09-29,2020-09-29 05:00:05,PROSA,"10,600.00",939943,452421,5541,1,999049159115,0.00,37303030323138350A270011,Clip Plus,999049159115-10600.0-5541,2020-09-29,2020-09-30,2020-09-30,PRTQR7NM9,PAID
1,e8f210a7-d257-4340-ae8a-d5fec18b8d1d,349737e3-5eee-4098-a6d1-05903ed989f6,2020-09-29,2020-09-29 05:00:06,PROSA,47.00,031464,491089,1293,1,263652772494,0.00,A368C1610409EDFFFF09082999,Clip Plus 2,263652772494-47.0-1293,2020-09-29,2020-09-30,2020-09-30,6RPD39K5M,PAID
2,d37c721f-db9d-40ba-bb58-4252bd467ece,c83eec25-c4de-4f9b-9fda-922b4392722b,2020-09-29,2020-09-29 05:00:13,PROSA,290.00,311807,402766,0963,1,610058234391,0.00,PP36811910001559,Clip Pro,610058234391-290.0-0963,2020-09-29,2020-09-30,2020-09-30,KPF789W94,PAID
3,cece9037-611a-49e5-8478-e488f3e7a8ed,60ad0054-7801-4e3f-8bac-84bec3d9a833,2020-09-29,2020-09-29 05:00:17,PROSA,"1,578.45",001779,547046,3550,1,178800381939,3.00,37303032313835320A270006,Clip Plus,178800381939-1578.0-3550,2020-09-29,2020-09-30,2020-09-30,KPPJZ7S8W,PAID
4,e5b03147-9dbc-4471-8c31-416a1b66203b,3810ed01-03b4-43c2-9e29-11b24e62d0fb,2020-09-29,2020-09-29 05:00:19,PROSA,44.50,524432,415231,4884,1,103277023651,0.00,A36884000409F56FFF092E0B4D,Clip Plus 2,103277023651-44.0-4884,2020-09-29,2020-09-30,2020-09-30,KPGRKP82D,PAID

In [64]:
provision_bnte_total.shape

(122633, 20)

In [65]:
provision_bnte_total['status'].unique()

array(['PAID', 'PENDING', 'ERROR', 'RETAINED', 'ERROR_RES'], dtype=object)

In [66]:
writer = pd.ExcelWriter('PROVISIONES SEPTIEMBRE 2020.xlsx', engine='xlsxwriter', options={'encoding':'utf-8'})
provision_bnte_total.to_excel(writer, sheet_name='AGOSTO BNTE', index=False)
writer.save()

# PROVISIONES AMEX

In [147]:
provision_amex = all_provisiones[(all_provisiones['psp'] == 'AMEX')]
provision_amex['order_id'] = provision_amex['order_id'].str.upper() 
provision_amex['CONCAT'] = provision_amex['order_id'].astype(str).replace(' ', '',regex=True)+'-'+provision_amex['amount'].apply(np.floor).astype(str).replace(' ', '',regex=True)+'-'+provision_amex['last4'].astype(str).replace(' ', '',regex=True)
provision_amex.head()

C:\Users\Cristian.Aparicio\anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\Cristian.Aparicio\anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

,merchant_id,transaction_id,date,created_at,psp,amount,clave_autorizacion,bin,last4,status_code,order_id,msi,device_id,clip_reader,CONCAT
93,e2cb0eb0-ee58-4d8b-96a9-bde7f78d52f6,403e48dd-9312-4211-9aec-e0a7d059029f,2020-09-29,2020-09-29 05:06:23,AMEX,840.00,001342810005483,376679,9004,1,29P7V6BS8DZV,0.00,37303032303335300A270010,Clip Plus,29P7V6BS8DZV-840.0-9004
163,e2cb0eb0-ee58-4d8b-96a9-bde7f78d52f6,28ec006c-6182-47b2-adb6-ce52d931d6c4,2020-09-29,2020-09-29 05:11:12,AMEX,"5,690.00",001342810021480,376691,1008,1,LCCOKA23IDYN,0.00,37303032303335300A270010,Clip Plus,LCCOKA23IDYN-5690.0-1008
226,cb2f1b6d-eca1-4832-ab67-d45c8e4be61b,2fd85f77-7d16-424f-a54a-329635414672,2020-09-29,2020-09-29 05:17:13,AMEX,"3,500.00",001342808148485,376720,5004,1,ULWKDC5HCCMP,0.00,37303030393138350A270007,Clip Plus,ULWKDC5HCCMP-3500.0-5004
250,f0459f9a-4915-434d-bd29-bda4d66d36df,88d59be4-4472-4805-a62f-0629f2f310f5,2020-09-29,2020-09-29 05:19:14,AMEX,"2,030.00",001342808153485,376702,1005,1,6WNAVDLWSHVK,0.00,A36848600409E7EFFE090EA7B8,Clip Plus 2,6WNAVDLWSHVK-2030.0-1005
263,44476858-031c-4bdc-bf77-8eb15061f683,e89c29ff-875b-4513-b453-abfe30805f05,2020-09-29,2020-09-29 05:19:56,AMEX,373.50,001342806284480,372652,1002,1,WELQEDFS1LUX,0.00,N500W121518,Clip Total,WELQEDFS1LUX-373.0-1002

In [148]:
provision_amex.shape

(2102, 15)

In [149]:
epa = pd.read_csv(r'C:\Users\Cristian.Aparicio\Documents\PROVISIONES\2020\9. SEPTIEMBRE\SFTP\AMEX PROVISION BANCO SEPTIEMBRE 2020.csv')
epa.rename(columns ={'reference_roc_epa': 'order_id'},inplace=True)   
epa.head()

C:\Users\Cristian.Aparicio\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (10,11,12) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,order_id,Type,Date_process_roc,last_4,Total_amount_charge_roc,total_amount_bruto,Svc_fee_amount_roc,fee_amount_EPA,Svc_fee_amount_accel_roc,roc_deposit_date,msi,COMISION CALCULADA,IVA CALCULADO,status_code,Date_clip_sin_H,Mensaje
0,LD0OGKH35SIY,4,2020-08-27,4001,"135,200.00","1,352.00","-4,056.00",-40.56,0.00,2020-09-01,3.00,33.80,5.41,1.00,2020-08-27,ABONO
1,GCHGGSCDNOOS,4,2020-08-27,2009,"99,600.00",996.00,"-2,988.00",-29.88,0.00,2020-09-01,3.00,24.90,3.98,1.00,2020-08-27,ABONO
2,ZJ5BY3HSGNJF,4,2020-08-27,1028,"234,900.00","2,349.00","-7,047.00",-70.47,0.00,2020-09-01,3.00,58.73,9.40,1.00,2020-08-27,ABONO
3,EAVPTPICNPML,4,2020-08-27,5013,"154,000.00","1,540.00","-4,620.00",-46.20,0.00,2020-09-01,3.00,38.50,6.16,1.00,2020-08-27,ABONO
4,RROZBMKUQDLZ,4,2020-08-27,2033,"2,798,000.00","27,980.00","-83,940.00",-839.40,0.00,2020-09-01,3.00,699.50,111.92,1.00,2020-08-27,ABONO

In [150]:
epa.shape

(75018, 16)

In [151]:
epa.columns

Index(['order_id', 'Type', 'Date_process_roc', 'last_4',
       'Total_amount_charge_roc', 'total_amount_bruto', 'Svc_fee_amount_roc',
       'fee_amount_EPA', 'Svc_fee_amount_accel_roc', 'roc_deposit_date', 'msi',
       'COMISION CALCULADA', 'IVA CALCULADO', 'status_code', 'Date_clip_sin_H',
       'Mensaje'],
      dtype='object')

In [152]:
provision_amex_1 = provision_amex.merge(epa[['order_id','Date_process_roc','roc_deposit_date']]
                                        ,on='order_id',how='left')
provision_amex_1.head()

,merchant_id,transaction_id,date,created_at,psp,amount,clave_autorizacion,bin,last4,status_code,order_id,msi,device_id,clip_reader,CONCAT,Date_process_roc,roc_deposit_date
0,e2cb0eb0-ee58-4d8b-96a9-bde7f78d52f6,403e48dd-9312-4211-9aec-e0a7d059029f,2020-09-29,2020-09-29 05:06:23,AMEX,840.00,001342810005483,376679,9004,1,29P7V6BS8DZV,0.00,37303032303335300A270010,Clip Plus,29P7V6BS8DZV-840.0-9004,2020-09-29,2020-10-02
1,e2cb0eb0-ee58-4d8b-96a9-bde7f78d52f6,28ec006c-6182-47b2-adb6-ce52d931d6c4,2020-09-29,2020-09-29 05:11:12,AMEX,"5,690.00",001342810021480,376691,1008,1,LCCOKA23IDYN,0.00,37303032303335300A270010,Clip Plus,LCCOKA23IDYN-5690.0-1008,2020-09-29,2020-10-02
2,cb2f1b6d-eca1-4832-ab67-d45c8e4be61b,2fd85f77-7d16-424f-a54a-329635414672,2020-09-29,2020-09-29 05:17:13,AMEX,"3,500.00",001342808148485,376720,5004,1,ULWKDC5HCCMP,0.00,37303030393138350A270007,Clip Plus,ULWKDC5HCCMP-3500.0-5004,2020-09-29,2020-10-02
3,f0459f9a-4915-434d-bd29-bda4d66d36df,88d59be4-4472-4805-a62f-0629f2f310f5,2020-09-29,2020-09-29 05:19:14,AMEX,"2,030.00",001342808153485,376702,1005,1,6WNAVDLWSHVK,0.00,A36848600409E7EFFE090EA7B8,Clip Plus 2,6WNAVDLWSHVK-2030.0-1005,2020-09-29,2020-10-02
4,44476858-031c-4bdc-bf77-8eb15061f683,e89c29ff-875b-4513-b453-abfe30805f05,2020-09-29,2020-09-29 05:19:56,AMEX,373.50,001342806284480,372652,1002,1,WELQEDFS1LUX,0.00,N500W121518,Clip Total,WELQEDFS1LUX-373.0-1002,2020-09-29,2020-10-02

### DATA FINAL

In [153]:
provision_settled_amex = pd.read_csv(r'C:\Users\Cristian.Aparicio\Documents\PROVISIONES\2020\9. SEPTIEMBRE\QUERIES\SETTLED PROVISION AMEX SEPTIEMBRE 2020.csv')
provision_settled_amex.head()

,transaction_id,report_id,user_email,report_date_local,transaction_date_local,transaction_amount,fees_charged,taxes,amount_due,status,status_item
0,4decd2f7-df76-46e0-a878-99fd3f14f596,QYFXKN83V,sossalonbarberiaclub@gmail.com,2020-09-29,2020-09-29,"1,155.00",41.58,6.65,"1,106.77",PAID,PROCESSED
1,83fca866-0f13-4ed8-a833-86657057f2c0,5F4CLW9GF,anylugtz@hotmail.com,2020-09-30,2020-09-29,891.00,32.08,5.13,853.79,PAID,PROCESSED
2,719bdf03-5520-4cc0-a57a-2c111a7bf97d,JHCX2HZK6,botanero21mexi@gmail.com,2020-09-30,2020-09-29,465.40,16.75,2.68,445.97,PAID,PROCESSED
3,4a640583-f9fb-4758-ac39-f42380f59318,GXYP9WNGK,r_malvido@hotmail.es,2020-09-30,2020-09-29,428.61,15.43,2.47,410.71,PAID,PROCESSED
4,e22694ff-1d85-4c10-b8d2-9314f5c2eebd,BLJM4M6T3,nggayton@alfaparf.com,2020-09-30,2020-09-29,"20,538.61","1,540.40",246.46,"18,751.75",PAID,PROCESSED

In [154]:
provision_settled_amex.shape

(2102, 11)

In [155]:
provision_amex_total = provision_amex_1.merge(provision_settled_amex[['transaction_id','report_date_local'
                                                               ,'report_id','status']],on='transaction_id',how='left')
provision_amex_total.fillna('RETAINED',inplace=True)
provision_amex_total.rename(columns ={'Date_process_roc': 'date_process','roc_deposit_date': 'deposit_date'},inplace=True)

In [156]:
provision_amex_total['date_process'] = pd.to_datetime(provision_amex_total['date_process'])
provision_amex_total['deposit_date'] = pd.to_datetime(provision_amex_total['deposit_date'])

In [157]:
provision_amex_total.head()

,merchant_id,transaction_id,date,created_at,psp,amount,clave_autorizacion,bin,last4,status_code,order_id,msi,device_id,clip_reader,CONCAT,date_process,deposit_date,report_date_local,report_id,status
0,e2cb0eb0-ee58-4d8b-96a9-bde7f78d52f6,403e48dd-9312-4211-9aec-e0a7d059029f,2020-09-29,2020-09-29 05:06:23,AMEX,840.00,001342810005483,376679,9004,1,29P7V6BS8DZV,0.00,37303032303335300A270010,Clip Plus,29P7V6BS8DZV-840.0-9004,2020-09-29,2020-10-02,2020-09-30,SRP7SYH8X,PAID
1,e2cb0eb0-ee58-4d8b-96a9-bde7f78d52f6,28ec006c-6182-47b2-adb6-ce52d931d6c4,2020-09-29,2020-09-29 05:11:12,AMEX,"5,690.00",001342810021480,376691,1008,1,LCCOKA23IDYN,0.00,37303032303335300A270010,Clip Plus,LCCOKA23IDYN-5690.0-1008,2020-09-29,2020-10-02,2020-09-30,SRP7SYH8X,PAID
2,cb2f1b6d-eca1-4832-ab67-d45c8e4be61b,2fd85f77-7d16-424f-a54a-329635414672,2020-09-29,2020-09-29 05:17:13,AMEX,"3,500.00",001342808148485,376720,5004,1,ULWKDC5HCCMP,0.00,37303030393138350A270007,Clip Plus,ULWKDC5HCCMP-3500.0-5004,2020-09-29,2020-10-02,2020-09-30,JLWWNGLZX,PAID
3,f0459f9a-4915-434d-bd29-bda4d66d36df,88d59be4-4472-4805-a62f-0629f2f310f5,2020-09-29,2020-09-29 05:19:14,AMEX,"2,030.00",001342808153485,376702,1005,1,6WNAVDLWSHVK,0.00,A36848600409E7EFFE090EA7B8,Clip Plus 2,6WNAVDLWSHVK-2030.0-1005,2020-09-29,2020-10-02,2020-09-30,XMYM3JT2F,PAID
4,44476858-031c-4bdc-bf77-8eb15061f683,e89c29ff-875b-4513-b453-abfe30805f05,2020-09-29,2020-09-29 05:19:56,AMEX,373.50,001342806284480,372652,1002,1,WELQEDFS1LUX,0.00,N500W121518,Clip Total,WELQEDFS1LUX-373.0-1002,2020-09-29,2020-10-02,2020-09-30,X585WHRZB,PAID

In [158]:
provision_amex_total.shape

(2102, 20)

In [159]:
book = load_workbook('PROVISIONES SEPTIEMBRE 2020.xlsx')
writer = pd.ExcelWriter('PROVISIONES SEPTIEMBRE 2020.xlsx', engine='openpyxl', options={'encoding':'utf-8'})
writer.book = book
provision_amex_total.to_excel(writer, sheet_name='SEPTIEMBRE AMEX', index=False)
writer.save()
writer.close()

# PROVISIONES OPEN PAY

In [82]:
provision_openpay = all_provisiones[(all_provisiones['psp'] == 'OPENPAY')]
provision_openpay['CONCAT'] = provision_openpay['order_id'].astype(str).replace(' ', '',regex=True)+'-'+provision_openpay['amount'].apply(np.floor).astype(str).replace(' ', '',regex=True)+'-'+provision_openpay['last4'].astype(str).replace(' ', '',regex=True)
provision_openpay.head()

Empty DataFrame
Columns: [merchant_id, transaction_id, date, created_at, psp, amount, clave_autorizacion, bin, last4, status_code, order_id, msi, device_id, clip_reader, CONCAT]
Index: []

In [83]:
provision_openpay.shape

(0, 15)

### DATA FINAL

In [85]:
provision_settled_openpay = pd.read_csv(r'C:\Users\Cristian.Aparicio\Documents\PROVISIONES\2020\9. SEPTIEMBRE\QUERIES\SETTLED PROVISION OPENPAY SEPTIEMBRE 2020.csv')
provision_settled_openpay.head()

EmptyDataError: No columns to parse from file

In [86]:
provision_openpay_total = provision_openpay.merge(provision_settled_openpay[['transaction_id','report_date_local'
                                                               ,'report_id','status']],on='transaction_id',how='left')
provision_openpay_total.fillna('RETAINED',inplace=True)
provision_openpay_total.head()

NameError: name 'provision_settled_openpay' is not defined

In [87]:
provision_openpay_total.shape

NameError: name 'provision_openpay_total' is not defined

In [88]:
book = load_workbook('PROVISIONES SEPTIEMBRE 2020.xlsx')
writer = pd.ExcelWriter('PROVISIONES SEPTIEMBRE 2020.xlsx', engine='openpyxl', options={'encoding':'utf-8'})
writer.book = book
provision_openpay_total.to_excel(writer, sheet_name='SEPTIEMBRE OPENPAY', index=False)
writer.save()
writer.close()

NameError: name 'provision_openpay_total' is not defined

# PROVISIONES ECOMMERCE

In [89]:
provision_ecommerce = all_provisiones[(all_provisiones['psp'] == 'PAYWORKS-BANORTE')]
provision_ecommerce.rename(columns ={'order_id':'order_id_payworks'}, inplace=True)
provision_ecommerce['CONCAT'] = provision_ecommerce['order_id_payworks'].astype(str).replace(' ', '',regex=True)+'-'+provision_ecommerce['amount'].apply(np.floor).astype(str).replace(' ', '',regex=True)+'-'+provision_ecommerce['last4'].astype(str).replace(' ', '',regex=True)
provision_ecommerce.head()

C:\Users\Cristian.Aparicio\anaconda3\lib\site-packages\pandas\core\frame.py:4133: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,
C:\Users\Cristian.Aparicio\anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

,merchant_id,transaction_id,date,created_at,psp,amount,clave_autorizacion,bin,last4,status_code,order_id_payworks,msi,device_id,clip_reader,CONCAT
6,814bbfd4-6ac0-4d0a-bab8-bbca1dc813e7,ebdc9aaa-d42a-470a-abf9-fdde315404ba,2020-09-29,2020-09-29 05:00:32,PAYWORKS-BANORTE,"1,000.00",009989,419691,7127,1,830421019071,0.00,80010001,Clip Classic,830421019071-1000.0-7127
66,bf4cd0ba-0cff-407f-b599-d49f2441db6a,56979f18-a283-4eed-9bdd-7ca6a35ece45,2020-09-29,2020-09-29 05:04:23,PAYWORKS-BANORTE,"1,000.00",027370,419691,3628,1,299088008100,0.00,80010001,Clip Classic,299088008100-1000.0-3628
552,19539d5f-34c0-4742-a29c-a8b64a91e006,766071eb-c7ae-40f0-a9e0-e9485138f93a,2020-09-29,2020-09-29 05:48:40,PAYWORKS-BANORTE,500.00,019280,520416,0596,1,280553803749,0.00,80010001,Clip Classic,280553803749-500.0-0596
637,610265bb-c802-430d-93f4-4770ba1d1fa2,e8c0138c-a4c2-43e9-8ffd-93b17d4226e4,2020-09-29,2020-09-29 05:57:38,PAYWORKS-BANORTE,100.00,568203,481516,4301,1,475199473078,0.00,80010001,Clip Classic,475199473078-100.0-4301
822,f0f9b4fa-6b24-47bb-ba35-344605ecbf10,e7ae7815-e573-4c10-bc9c-49dd10b8287a,2020-09-29,2020-09-29 06:25:08,PAYWORKS-BANORTE,0.01,000048,491566,9905,1,421114242937,0.00,80010001,Clip Classic,421114242937-0.0-9905

In [90]:
provision_ecommerce.shape

(289, 15)

In [91]:
data_status_ecom_1 = provision_ecommerce.merge(sftp[['order_id_payworks','order_id','SFTP', 'Fecha txn', 'Fecha_deposito']],on='order_id_payworks',how='left')
data_status_ecom_1['SFTP'].fillna('NO ENCONTRADO EN SFTP',inplace=True)
data_status_ecom_1['Fecha txn'].fillna('NO ENCONTRADO EN SFTP',inplace=True)
data_status_ecom_1['Fecha_deposito'].fillna('NO ENCONTRADO EN SFTP',inplace=True)
data_status_ecom_1.drop_duplicates(subset ="CONCAT", keep = 'last', inplace = True) 
data_status_ecom_1.head()

,merchant_id,transaction_id,date,created_at,psp,amount,clave_autorizacion,bin,last4,status_code,order_id_payworks,msi,device_id,clip_reader,CONCAT,order_id,SFTP,Fecha txn,Fecha_deposito
0,814bbfd4-6ac0-4d0a-bab8-bbca1dc813e7,ebdc9aaa-d42a-470a-abf9-fdde315404ba,2020-09-29,2020-09-29 05:00:32,PAYWORKS-BANORTE,"1,000.00",009989,419691,7127,1,830421019071,0.00,80010001,Clip Classic,830421019071-1000.0-7127,601284826397,2020-10-01,2020-09-29,2020-09-30
1,bf4cd0ba-0cff-407f-b599-d49f2441db6a,56979f18-a283-4eed-9bdd-7ca6a35ece45,2020-09-29,2020-09-29 05:04:23,PAYWORKS-BANORTE,"1,000.00",027370,419691,3628,1,299088008100,0.00,80010001,Clip Classic,299088008100-1000.0-3628,601284828925,2020-10-01,2020-09-29,2020-09-30
2,19539d5f-34c0-4742-a29c-a8b64a91e006,766071eb-c7ae-40f0-a9e0-e9485138f93a,2020-09-29,2020-09-29 05:48:40,PAYWORKS-BANORTE,500.00,019280,520416,0596,1,280553803749,0.00,80010001,Clip Classic,280553803749-500.0-0596,501279385633,2020-10-01,2020-09-29,2020-09-30
3,610265bb-c802-430d-93f4-4770ba1d1fa2,e8c0138c-a4c2-43e9-8ffd-93b17d4226e4,2020-09-29,2020-09-29 05:57:38,PAYWORKS-BANORTE,100.00,568203,481516,4301,1,475199473078,0.00,80010001,Clip Classic,475199473078-100.0-4301,901281434161,2020-10-01,2020-09-29,2020-09-30
4,f0f9b4fa-6b24-47bb-ba35-344605ecbf10,e7ae7815-e573-4c10-bc9c-49dd10b8287a,2020-09-29,2020-09-29 06:25:08,PAYWORKS-BANORTE,0.01,000048,491566,9905,1,421114242937,0.00,80010001,Clip Classic,421114242937-0.0-9905,901281446512,2020-10-01,2020-09-29,2020-09-30

In [92]:
data_status_ecom_1.shape

(289, 19)

In [93]:
duplicates_status_ecom_1 = data_status_ecom_1[data_status_ecom_1.duplicated(['CONCAT'] , keep=False)]
duplicates_status_ecom_1.head()

Empty DataFrame
Columns: [merchant_id, transaction_id, date, created_at, psp, amount, clave_autorizacion, bin, last4, status_code, order_id_payworks, msi, device_id, clip_reader, CONCAT, order_id, SFTP, Fecha txn, Fecha_deposito]
Index: []

In [94]:
duplicates_status_ecom_1.shape

(0, 19)

In [95]:
results_status_ecom_1 = data_status_ecom_1[(data_status_ecom_1['Fecha txn'] != 'NO ENCONTRADO EN SFTP')]
results_status_ecom_1.head()

,merchant_id,transaction_id,date,created_at,psp,amount,clave_autorizacion,bin,last4,status_code,order_id_payworks,msi,device_id,clip_reader,CONCAT,order_id,SFTP,Fecha txn,Fecha_deposito
0,814bbfd4-6ac0-4d0a-bab8-bbca1dc813e7,ebdc9aaa-d42a-470a-abf9-fdde315404ba,2020-09-29,2020-09-29 05:00:32,PAYWORKS-BANORTE,"1,000.00",009989,419691,7127,1,830421019071,0.00,80010001,Clip Classic,830421019071-1000.0-7127,601284826397,2020-10-01,2020-09-29,2020-09-30
1,bf4cd0ba-0cff-407f-b599-d49f2441db6a,56979f18-a283-4eed-9bdd-7ca6a35ece45,2020-09-29,2020-09-29 05:04:23,PAYWORKS-BANORTE,"1,000.00",027370,419691,3628,1,299088008100,0.00,80010001,Clip Classic,299088008100-1000.0-3628,601284828925,2020-10-01,2020-09-29,2020-09-30
2,19539d5f-34c0-4742-a29c-a8b64a91e006,766071eb-c7ae-40f0-a9e0-e9485138f93a,2020-09-29,2020-09-29 05:48:40,PAYWORKS-BANORTE,500.00,019280,520416,0596,1,280553803749,0.00,80010001,Clip Classic,280553803749-500.0-0596,501279385633,2020-10-01,2020-09-29,2020-09-30
3,610265bb-c802-430d-93f4-4770ba1d1fa2,e8c0138c-a4c2-43e9-8ffd-93b17d4226e4,2020-09-29,2020-09-29 05:57:38,PAYWORKS-BANORTE,100.00,568203,481516,4301,1,475199473078,0.00,80010001,Clip Classic,475199473078-100.0-4301,901281434161,2020-10-01,2020-09-29,2020-09-30
4,f0f9b4fa-6b24-47bb-ba35-344605ecbf10,e7ae7815-e573-4c10-bc9c-49dd10b8287a,2020-09-29,2020-09-29 06:25:08,PAYWORKS-BANORTE,0.01,000048,491566,9905,1,421114242937,0.00,80010001,Clip Classic,421114242937-0.0-9905,901281446512,2020-10-01,2020-09-29,2020-09-30

In [96]:
results_status_ecom_1.shape

(289, 19)

In [97]:
NA_status_ecom_1 = data_status_ecom_1[(data_status_ecom_1['Fecha txn'] == 'NO ENCONTRADO EN SFTP')]
NA_status_ecom_1.head()

Empty DataFrame
Columns: [merchant_id, transaction_id, date, created_at, psp, amount, clave_autorizacion, bin, last4, status_code, order_id_payworks, msi, device_id, clip_reader, CONCAT, order_id, SFTP, Fecha txn, Fecha_deposito]
Index: []

In [98]:
NA_status_ecom_1.shape

(0, 19)

### INDEX USANDO CLAVE_AUTORIZACION

In [99]:
sinref_ecom = NA_status_ecom_1
sinref_ecom.drop(['Fecha txn','SFTP','Fecha_deposito','CONCAT'],axis=1,inplace=True)
sinref_ecom['CONCAT'] = sinref_ecom['clave_autorizacion'].astype(str).replace(' ', '',regex=True)+'-'+sinref_ecom['amount'].apply(np.floor).astype(str).replace(' ', '',regex=True)+'-'+sinref_ecom['last4'].astype(str).replace(' ', '',regex=True)
sinref_ecom.sort_values(by=('created_at'), ascending=True, inplace=True)
sinref_ecom.head()

C:\Users\Cristian.Aparicio\anaconda3\lib\site-packages\pandas\core\frame.py:3997: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,
C:\Users\Cristian.Aparicio\anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

Empty DataFrame
Columns: [merchant_id, transaction_id, date, created_at, psp, amount, clave_autorizacion, bin, last4, status_code, order_id_payworks, msi, device_id, clip_reader, order_id, CONCAT]
Index: []

In [100]:
sinref_ecom.shape

(0, 16)

In [101]:
sftp_clave_autorizacion_ecom = pd.concat([df1,df2,df3,df4,df5])
# sftp_clave_autorizacion.drop(['Empty','Empty.1','Empty.2','Empty.3','Empty.4'],axis=1,inplace=True)
sftp_clave_autorizacion_ecom.rename(columns ={'Ref. Interbancaria':'order_id'}, inplace=True)

In [102]:
sftp_fecha_deposito_clave_autorizacion_ecom = sftp_clave_autorizacion_ecom[(sftp_clave_autorizacion_ecom['Tipo txn'] == 'BANORTE')]
sftp_fecha_deposito_clave_autorizacion_ecom = sftp_fecha_deposito_clave_autorizacion_ecom[['SFTP', 'Importe Bruto']]
sftp_fecha_deposito_clave_autorizacion_ecom.rename(columns ={'Importe Bruto': 'Fecha_deposito'},inplace=True)
sftp_fecha_deposito_clave_autorizacion_ecom.head()

       SFTP  Fecha_deposito
0  20200826   20,200,925.00
0  20200829   20,200,928.00
0  20200930   20,200,929.00
0  20201001   20,200,930.00
0  20201002   20,201,001.00

In [103]:
sftp_clave_autorizacion_ecom = sftp_clave_autorizacion_ecom[(sftp_clave_autorizacion_ecom['Tipo txn'] == 'SETTLED')]
sftp_clave_autorizacion_ecom = sftp_clave_autorizacion_ecom.merge(sftp_fecha_deposito_clave_autorizacion_ecom[['SFTP', 'Fecha_deposito']],on='SFTP',how='left')

In [104]:
sftp_clave_autorizacion_ecom['Fecha txn'] = pd.to_datetime(sftp_clave_autorizacion_ecom['Fecha txn'], format='%Y%m%d').dt.date
sftp_clave_autorizacion_ecom['SFTP'] = pd.to_datetime(sftp_clave_autorizacion_ecom['SFTP'], format='%Y%m%d').dt.date
sftp_clave_autorizacion_ecom['Fecha_deposito'] = pd.to_datetime(sftp_clave_autorizacion_ecom['Fecha_deposito'], format='%Y%m%d').dt.date

In [105]:
sftp_clave_autorizacion_ecom['Net Amount'] = sftp_clave_autorizacion_ecom['Importe Bruto']/100
sftp_clave_autorizacion_ecom['last4'] = sftp_clave_autorizacion_ecom['Tarjeta'].str[-4:].astype(str)
sftp_clave_autorizacion_ecom['CONCAT'] = sftp_clave_autorizacion_ecom['Código de Autorización'].astype(str).replace(' ', '',regex=True)+'-'+sftp_clave_autorizacion_ecom['Net Amount'].apply(np.floor).astype(str).replace(' ', '',regex=True)+'-'+sftp_clave_autorizacion_ecom['last4'].astype(str).replace(' ', '',regex=True)
sftp_clave_autorizacion_ecom['order_id'].fillna('NO EXISTE EN SFTP',inplace=True)
sftp_clave_autorizacion_ecom.head()

,Tipo de Columna,Afiliación,Referencia,Tarjeta,Monto depositado,Comisiones,Fecha txn,Importe Bruto,Tipo Moneda,Tipo txn,...,Ref. de Payworks,Customer_ref1,Customer_ref2,Customer_ref3,Núm de Control,SFTP,Fecha_deposito,Net Amount,last4,CONCAT
0,D,07668673,7668673,5256787090,29711,-392,2020-09-23,"30,166.00",MXN,SETTLED,...,D,N,bKYXGK0SSbvtC1r4,-392.00,-63.00,2020-08-26,2020-09-25,301.66,7090,005944-301.0-7090
1,D,07668673,7668673,5256786999,31024,-410,2020-09-23,"31,500.00",MXN,SETTLED,...,D,N,PP36811908001411,-410.00,-66.00,2020-08-26,2020-09-25,315.00,6999,023480-315.0-6999
2,D,07668673,7668673,4027664103,5713,-75,2020-09-23,"5,800.00",MXN,SETTLED,...,D,N,N500W133491,-75.00,-12.00,2020-08-26,2020-09-25,58.00,4103,098947-58.0-4103
3,D,07668673,7668673,4915667865,2955,-39,2020-09-23,"3,000.00",MXN,SETTLED,...,D,N,7duz65KqZ9frFJ6k,-39.00,-6.00,2020-08-26,2020-09-25,30.00,7865,000285-30.0-7865
4,D,07668673,7668673,5204163397,70619,-932,2020-09-23,"71,700.00",MXN,SETTLED,...,D,N,7dupkvr54wwSlcRk,-932.00,-149.00,2020-08-26,2020-09-25,717.00,3397,006566-717.0-3397

In [106]:
sftp_clave_autorizacion_ecom.shape

(963565, 39)

In [107]:
results2_ecom = sinref_ecom.merge(sftp_clave_autorizacion_ecom[['CONCAT','SFTP', 'Fecha txn', 'Fecha_deposito']],on='CONCAT',how='left')
results2_ecom['Fecha txn'].fillna('NO ENCONTRADO EN SFTP',inplace=True)
results2_ecom['Fecha_deposito'].fillna('NO ENCONTRADO EN SFTP',inplace=True)
results2_ecom.drop_duplicates(subset ="CONCAT", keep = 'last', inplace = True)
results2_ecom.head()

Empty DataFrame
Columns: [merchant_id, transaction_id, date, created_at, psp, amount, clave_autorizacion, bin, last4, status_code, order_id_payworks, msi, device_id, clip_reader, order_id, CONCAT, SFTP, Fecha txn, Fecha_deposito]
Index: []

In [108]:
results2_ecom.shape

(0, 19)

In [109]:
results2_status_1_ecom = results2_ecom[(results2_ecom['Fecha txn'] != 'NO ENCONTRADO EN SFTP')]
results2_status_1_ecom.head()

Empty DataFrame
Columns: [merchant_id, transaction_id, date, created_at, psp, amount, clave_autorizacion, bin, last4, status_code, order_id_payworks, msi, device_id, clip_reader, order_id, CONCAT, SFTP, Fecha txn, Fecha_deposito]
Index: []

In [110]:
results2_status_1_ecom.shape

(0, 19)

In [111]:
NA2_ecom = results2_ecom[(results2_ecom['Fecha txn'] == 'NO ENCONTRADO EN SFTP')]
NA2_ecom.head()

Empty DataFrame
Columns: [merchant_id, transaction_id, date, created_at, psp, amount, clave_autorizacion, bin, last4, status_code, order_id_payworks, msi, device_id, clip_reader, order_id, CONCAT, SFTP, Fecha txn, Fecha_deposito]
Index: []

In [112]:
NA2_ecom.shape

(0, 19)

In [113]:
duplicates_ecom = results2_ecom[results2_ecom.duplicated(['CONCAT'] , keep=False)]
duplicates_ecom.head()

Empty DataFrame
Columns: [merchant_id, transaction_id, date, created_at, psp, amount, clave_autorizacion, bin, last4, status_code, order_id_payworks, msi, device_id, clip_reader, order_id, CONCAT, SFTP, Fecha txn, Fecha_deposito]
Index: []

In [114]:
duplicates_ecom.shape

(0, 19)

### DATA FINAL

In [119]:
provision_settled_ecommerce = pd.read_csv(r'C:\Users\Cristian.Aparicio\Documents\PROVISIONES\2020\9. SEPTIEMBRE\QUERIES\SETTLED PROVISION XPAY SEPTIEMBRE 2020.csv')
provision_settled_ecommerce.head()

,transaction_id,report_id,user_email,report_date_local,transaction_date_local,transaction_amount,fees_charged,taxes,amount_due,status,status_item
0,0063f6aa-a4ca-4aad-84a2-9a4b11f34a20,D6GP2K72K,valeriaqgfca@gmail.com,2020-10-01,2020-09-29,100.00,3.60,0.58,95.82,PAID,PROCESSED
1,a20ee2a0-c587-4bae-a9eb-d0210c324d9b,SW7GHQ7MR,jose.reyes@diprogyn.com,2020-10-01,2020-09-29,"1,500.00",54.00,8.64,"1,437.36",PAID,PROCESSED
2,17f34325-1315-49ca-9556-919e15df58a5,55DZJ49GT,fernandoalvarez1101@gmail.com,2020-10-01,2020-09-29,249.00,8.96,1.43,238.61,PAID,PROCESSED
3,c3061bde-6113-4df9-9233-9f74b55a0828,ZLX7JJD58,colectivoarmos@gmail.com,2020-10-01,2020-09-29,20.00,0.72,0.12,19.16,PAID,PROCESSED
4,32349239-38e1-4895-8300-98f35dc4a6f5,HLF2RY5C7,sheymoa4@gmail.com,2020-10-01,2020-09-29,255.00,9.18,1.47,244.35,PAID,PROCESSED

In [120]:
provision_prod_ecom = pd.concat([results_status_ecom_1,results2_status_1_ecom,NA2_ecom])
provision_prod_ecom.drop(['SFTP'],axis=1,inplace=True)
provision_prod_ecom.head()

,merchant_id,transaction_id,date,created_at,psp,amount,clave_autorizacion,bin,last4,status_code,order_id_payworks,msi,device_id,clip_reader,CONCAT,order_id,Fecha txn,Fecha_deposito
0,814bbfd4-6ac0-4d0a-bab8-bbca1dc813e7,ebdc9aaa-d42a-470a-abf9-fdde315404ba,2020-09-29,2020-09-29 05:00:32,PAYWORKS-BANORTE,"1,000.00",009989,419691,7127,1,830421019071,0.00,80010001,Clip Classic,830421019071-1000.0-7127,601284826397,2020-09-29,2020-09-30
1,bf4cd0ba-0cff-407f-b599-d49f2441db6a,56979f18-a283-4eed-9bdd-7ca6a35ece45,2020-09-29,2020-09-29 05:04:23,PAYWORKS-BANORTE,"1,000.00",027370,419691,3628,1,299088008100,0.00,80010001,Clip Classic,299088008100-1000.0-3628,601284828925,2020-09-29,2020-09-30
2,19539d5f-34c0-4742-a29c-a8b64a91e006,766071eb-c7ae-40f0-a9e0-e9485138f93a,2020-09-29,2020-09-29 05:48:40,PAYWORKS-BANORTE,500.00,019280,520416,0596,1,280553803749,0.00,80010001,Clip Classic,280553803749-500.0-0596,501279385633,2020-09-29,2020-09-30
3,610265bb-c802-430d-93f4-4770ba1d1fa2,e8c0138c-a4c2-43e9-8ffd-93b17d4226e4,2020-09-29,2020-09-29 05:57:38,PAYWORKS-BANORTE,100.00,568203,481516,4301,1,475199473078,0.00,80010001,Clip Classic,475199473078-100.0-4301,901281434161,2020-09-29,2020-09-30
4,f0f9b4fa-6b24-47bb-ba35-344605ecbf10,e7ae7815-e573-4c10-bc9c-49dd10b8287a,2020-09-29,2020-09-29 06:25:08,PAYWORKS-BANORTE,0.01,000048,491566,9905,1,421114242937,0.00,80010001,Clip Classic,421114242937-0.0-9905,901281446512,2020-09-29,2020-09-30

In [121]:
provision_prod_ecom.shape

(289, 18)

In [122]:
provision_ecommerce_total = provision_prod_ecom.merge(provision_settled_ecommerce[['transaction_id','report_date_local'
                                                               ,'report_id','status']],on='transaction_id',how='left')
provision_ecommerce_total.fillna('RETAINED',inplace=True)
provision_ecommerce_total.head()

,merchant_id,transaction_id,date,created_at,psp,amount,clave_autorizacion,bin,last4,status_code,...,msi,device_id,clip_reader,CONCAT,order_id,Fecha txn,Fecha_deposito,report_date_local,report_id,status
0,814bbfd4-6ac0-4d0a-bab8-bbca1dc813e7,ebdc9aaa-d42a-470a-abf9-fdde315404ba,2020-09-29,2020-09-29 05:00:32,PAYWORKS-BANORTE,"1,000.00",009989,419691,7127,1,...,0.00,80010001,Clip Classic,830421019071-1000.0-7127,601284826397,2020-09-29,2020-09-30,2020-10-01,RJY6399L9,ERROR
1,bf4cd0ba-0cff-407f-b599-d49f2441db6a,56979f18-a283-4eed-9bdd-7ca6a35ece45,2020-09-29,2020-09-29 05:04:23,PAYWORKS-BANORTE,"1,000.00",027370,419691,3628,1,...,0.00,80010001,Clip Classic,299088008100-1000.0-3628,601284828925,2020-09-29,2020-09-30,2020-10-01,TF4M4BQTM,ERROR
2,19539d5f-34c0-4742-a29c-a8b64a91e006,766071eb-c7ae-40f0-a9e0-e9485138f93a,2020-09-29,2020-09-29 05:48:40,PAYWORKS-BANORTE,500.00,019280,520416,0596,1,...,0.00,80010001,Clip Classic,280553803749-500.0-0596,501279385633,2020-09-29,2020-09-30,2020-10-01,8NT85P53Z,RETAINED
3,610265bb-c802-430d-93f4-4770ba1d1fa2,e8c0138c-a4c2-43e9-8ffd-93b17d4226e4,2020-09-29,2020-09-29 05:57:38,PAYWORKS-BANORTE,100.00,568203,481516,4301,1,...,0.00,80010001,Clip Classic,475199473078-100.0-4301,901281434161,2020-09-29,2020-09-30,2020-10-01,ZZFD8BRHR,PAID
4,f0f9b4fa-6b24-47bb-ba35-344605ecbf10,e7ae7815-e573-4c10-bc9c-49dd10b8287a,2020-09-29,2020-09-29 06:25:08,PAYWORKS-BANORTE,0.01,000048,491566,9905,1,...,0.00,80010001,Clip Classic,421114242937-0.0-9905,901281446512,2020-09-29,2020-09-30,2020-10-01,M8X5QSDYK,PAID

In [123]:
provision_ecommerce_total.shape

(289, 21)

In [124]:
book = load_workbook('PROVISIONES SEPTIEMBRE 2020.xlsx')
writer = pd.ExcelWriter('PROVISIONES SEPTIEMBRE 2020.xlsx', engine='openpyxl', options={'encoding':'utf-8'})
writer.book = book
provision_ecommerce_total.to_excel(writer, sheet_name='SEPTIEMBRE XPAY', index=False)
writer.save()
writer.close()

# PROVISIONES MIT-3DS

In [125]:
provision_mit = all_provisiones[(all_provisiones['psp'] == 'MIT-3DS')]
provision_mit['CONCAT'] = provision_mit['order_id'].astype(str).replace(' ', '',regex=True)+'-'+provision_mit['amount'].apply(np.floor).astype(str).replace(' ', '',regex=True)+'-'+provision_mit['last4'].astype(str).replace(' ', '',regex=True)
provision_mit.head()

C:\Users\Cristian.Aparicio\anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,merchant_id,transaction_id,date,created_at,psp,amount,clave_autorizacion,bin,last4,status_code,order_id,msi,device_id,clip_reader,CONCAT
3552,fd053a7a-6459-4376-b054-1d54590c42a8,ccb4fb6b-a74c-4fd2-b87e-d2217121a053,2020-09-29,2020-09-29 13:42:16,MIT-3DS,130.00,100265,549949,3365,1,806944456711,0.00,80010001,Clip Classic,806944456711-130.0-3365
3595,14488dd0-1c1a-4e43-8068-816a8dbaba71,a08aa25a-1f8a-4d3c-8108-2ea0f6a23f79,2020-09-29,2020-09-29 13:43:10,MIT-3DS,360.00,034220,491573,3019,1,232688087453,0.00,80010001,Clip Classic,232688087453-360.0-3019
29676,994d113e-be5f-45c8-b171-c12f7dfa48bb,4b1d0c52-6f54-4c51-a717-9ef710a1c1ca,2020-09-29,2020-09-29 17:39:42,MIT-3DS,1.10,644953,415231,9691,1,466731877515,0.00,80010001,Clip Classic,466731877515-1.0-9691
35101,54dd8083-e84e-469b-a3ce-61d5d5cb951d,e43b469b-33b5-4fc9-aff0-f64641c8cfd7,2020-09-29,2020-09-29 18:12:20,MIT-3DS,323.00,011749,535900,0009,1,652702742830,0.00,80010001,Clip Classic,652702742830-323.0-0009
44162,2495d7c9-4ac6-439c-8f0c-145318edd647,5935431e-24e9-4a64-a27f-a4521f1ba32d,2020-09-29,2020-09-29 18:59:55,MIT-3DS,795.00,002138,547046,8952,1,682848767030,0.00,80010001,Clip Classic,682848767030-795.0-8952

In [126]:
provision_mit.shape

(15, 15)

### DATA FINAL

In [127]:
provision_settled_mit = pd.read_csv(r'C:\Users\Cristian.Aparicio\Documents\PROVISIONES\2020\9. SEPTIEMBRE\QUERIES\SETTLED PROVISION MIT SEPTIEMBRE 2020.csv')
provision_settled_mit.head()

,transaction_id,report_id,user_email,report_date_local,transaction_date_local,transaction_amount,fees_charged,taxes,amount_due,status,status_item
0,28a1e6c7-16ed-47c8-a82c-a45c437fe052,J8KCR5QDW,monsevargas@gmail.com,2020-10-01,2020-09-29,100.00,3.60,0.58,95.82,PAID,PROCESSED
1,ccb4fb6b-a74c-4fd2-b87e-d2217121a053,4DH5ZZHRR,msonscafe@gmail.com,2020-10-01,2020-09-29,130.00,4.68,0.75,124.57,PAID,PROCESSED
2,88ec5779-4297-496a-b206-cfd4745c9f94,6YFL8SV6B,lulumontemayor2080@gmail.com,2020-10-01,2020-09-29,306.00,11.02,1.76,293.22,PAID,PROCESSED
3,397132db-bed2-4be4-a456-12612310a9a8,6YFL8SV6B,lulumontemayor2080@gmail.com,2020-10-01,2020-09-29,"1,500.00",54.00,8.64,"1,437.36",PAID,PROCESSED
4,e43b469b-33b5-4fc9-aff0-f64641c8cfd7,YGQ8TXRTW,bostonbakerymx@gmail.com,2020-10-01,2020-09-29,323.00,11.63,1.86,309.51,PAID,PROCESSED

In [128]:
provision_mit_total = provision_mit.merge(provision_settled_mit[['transaction_id','report_date_local'
                                                               ,'report_id','status']],on='transaction_id',how='left')
provision_mit_total.fillna('RETAINED',inplace=True)
provision_mit_total.head()

,merchant_id,transaction_id,date,created_at,psp,amount,clave_autorizacion,bin,last4,status_code,order_id,msi,device_id,clip_reader,CONCAT,report_date_local,report_id,status
0,fd053a7a-6459-4376-b054-1d54590c42a8,ccb4fb6b-a74c-4fd2-b87e-d2217121a053,2020-09-29,2020-09-29 13:42:16,MIT-3DS,130.00,100265,549949,3365,1,806944456711,0.00,80010001,Clip Classic,806944456711-130.0-3365,2020-10-01,4DH5ZZHRR,PAID
1,14488dd0-1c1a-4e43-8068-816a8dbaba71,a08aa25a-1f8a-4d3c-8108-2ea0f6a23f79,2020-09-29,2020-09-29 13:43:10,MIT-3DS,360.00,034220,491573,3019,1,232688087453,0.00,80010001,Clip Classic,232688087453-360.0-3019,2020-10-01,CWK5R8PXW,PAID
2,994d113e-be5f-45c8-b171-c12f7dfa48bb,4b1d0c52-6f54-4c51-a717-9ef710a1c1ca,2020-09-29,2020-09-29 17:39:42,MIT-3DS,1.10,644953,415231,9691,1,466731877515,0.00,80010001,Clip Classic,466731877515-1.0-9691,2020-10-01,M3RGLHZ59,RETAINED
3,54dd8083-e84e-469b-a3ce-61d5d5cb951d,e43b469b-33b5-4fc9-aff0-f64641c8cfd7,2020-09-29,2020-09-29 18:12:20,MIT-3DS,323.00,011749,535900,0009,1,652702742830,0.00,80010001,Clip Classic,652702742830-323.0-0009,2020-10-01,YGQ8TXRTW,PAID
4,2495d7c9-4ac6-439c-8f0c-145318edd647,5935431e-24e9-4a64-a27f-a4521f1ba32d,2020-09-29,2020-09-29 18:59:55,MIT-3DS,795.00,002138,547046,8952,1,682848767030,0.00,80010001,Clip Classic,682848767030-795.0-8952,2020-10-01,HKFM6L623,PAID

In [129]:
provision_mit_total.shape

(15, 18)

In [130]:
book = load_workbook('PROVISIONES SEPTIEMBRE 2020.xlsx')
writer = pd.ExcelWriter('PROVISIONES SEPTIEMBRE 2020.xlsx', engine='openpyxl', options={'encoding':'utf-8'})
writer.book = book
provision_mit_total.to_excel(writer, sheet_name='SEPTIEMBRE OPENPAY', index=False)
writer.save()
writer.close()