In [19]:
import pandas as pd
import numpy as np
from openpyxl import load_workbook
import glob
import os
pd.options.display.float_format = '{:,.2f}'.format

In [20]:
query_1 = glob.glob(r'C:\Users\Cristian.Aparicio\Documents\FAST PAYMENTS\2021\01. ENERO\FP*.csv', recursive=False)
query_1

['C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2021\\01. ENERO\\FP 2021-01-10.csv']

In [22]:
query = pd.concat([pd.read_csv(f,sep=',',dtype={'bank_account_number':object,'report_id':object})
                   .assign(file_name=os.path.basename(f)) for f in query_1])
query.head()

,merchant_id,merchant_name,user_email,report_id,report_date_local,amount,status,bank_name,payment_date_local,bank_account_owner_name,bank_account_number,swap,file_name
0,b835fb96-098d-4bce-b75e-69d82c4bb0d2,consultorio,leo_marycarmen@hotmail.com,CYBYR2F9S,2020-07-28 00:00:00,433.50,PAID,BBVA BANCOMER,2021-01-11 00:00:00,Mary Carmen Martinez Tejeda,'012180028213237686,"Mary Carmen Martinez Tejeda,,433.50,0121800282...",FP 2021-01-10.csv
1,f6f57422-2002-4a7a-9809-7c8f5e83df90,Merlin,rubensgar@hotmail.com,LXBM66MCD,2020-11-20 00:00:00,797.26,ERROR,"Banco Inbursa, S.A.",2021-01-11 00:00:00,Ruben Garcia Jimenez,'036975000135057247,"Ruben Garcia Jimenez,,797.26,03697500013505724...",FP 2021-01-10.csv
2,ea0369bb-df6c-4f51-a1a6-85cb3c539249,CHACABAR,sandy.fernandez.s@hotmail.com,6R42XZSFR,2020-11-27 00:00:00,870.08,PAID,"Scotiabank Inverlat, S.A.",2021-01-11 00:00:00,CHACA ROMA S DE RL DE CV CHACA ROMA S DE RL DE...,'044695220000988331,"CHACA ROMA S DE RL DE CV CHACA ROMA S DE,,870....",FP 2021-01-10.csv
3,ea0369bb-df6c-4f51-a1a6-85cb3c539249,CHACABAR,sandy.fernandez.s@hotmail.com,58TJ53FSL,2020-12-05 00:00:00,"4,949.30",PAID,"Scotiabank Inverlat, S.A.",2021-01-11 00:00:00,CHACA ROMA S DE RL DE CV CHACA ROMA S DE RL DE...,'044695220000988331,"CHACA ROMA S DE RL DE CV CHACA ROMA S DE,,4949...",FP 2021-01-10.csv
4,ea0369bb-df6c-4f51-a1a6-85cb3c539249,CHACABAR,sandy.fernandez.s@hotmail.com,FZC495JLP,2020-12-16 00:00:00,"19,275.98",PAID,"Scotiabank Inverlat, S.A.",2021-01-11 00:00:00,CHACA ROMA S DE RL DE CV CHACA ROMA S DE RL DE...,'044695220000988331,"CHACA ROMA S DE RL DE CV CHACA ROMA S DE,,1927...",FP 2021-01-10.csv

In [23]:
ae = pd.read_csv(r'C:\Users\Cristian.Aparicio\Documents\FAST PAYMENTS\2021\01. ENERO\Respuesta-FP 2021-01-10.csv')
#ae['report_id'] = ae['report_id'].str[5:].replace(' ', '',regex=True)
#ae['report_id'] = ae['report_id'].replace(' ', '',regex=True)
ae.head()

,report_id,status,report_date_local,payment_date_local,amount,error_description,disbursement_batch_id,dsp_reference_id,entry_number,disbursement_id,...,bank_account_owner_name,execution_date,application_date,number_movement,created_at,updated_at,file_name,disbursement_tracking_key,Date_respuesta,Metodo de dispersion
0,G228WW9ZC,PAID,2021-01-09,2021-01-10,85.29,DISPONIBLE INSUFICIENTE AUT.,1f2155aa-e5a5-4edb-b1e2-d56cdf58a8d0,1000001,0,bb46fdf1-9d60-4cd7-9c48-54ea78c0037e,...,Manuel Guillermo Torres Fernandez,2021-01-09,2021-01-10,0,2021-01-10,2021-01-10,Respuesta-FP-1 2021-01-10.xlsx,NaN,2021-01-10,BANORTE
1,V74XW24RR,PAID,2021-01-09,2021-01-10,400.54,DISPONIBLE INSUFICIENTE AUT.,1f2155aa-e5a5-4edb-b1e2-d56cdf58a8d0,1000002,1,ed22a936-1c4e-4088-b973-a769905a0179,...,Omar Polo Ochoa,2021-01-09,2021-01-10,0,2021-01-10,2021-01-10,Respuesta-FP-1 2021-01-10.xlsx,NaN,2021-01-10,BANORTE
2,35CTN8ZSJ,PAID,2021-01-09,2021-01-10,"17,982.85",DISPONIBLE INSUFICIENTE AUT.,1f2155aa-e5a5-4edb-b1e2-d56cdf58a8d0,1000003,2,4335c238-e839-4e29-b6bd-0732e98af77f,...,Selvaraju Ponniah Alvarez,2021-01-09,2021-01-10,0,2021-01-10,2021-01-10,Respuesta-FP-1 2021-01-10.xlsx,NaN,2021-01-10,BANORTE
3,YS5XM6998,PAID,2021-01-09,2021-01-10,95.82,DISPONIBLE INSUFICIENTE AUT.,1f2155aa-e5a5-4edb-b1e2-d56cdf58a8d0,1000004,3,d6ffbe0b-b5ce-4009-908a-0a7ed0763f1a,...,Jose Luis Higuera Zuniga,2021-01-09,2021-01-10,0,2021-01-10,2021-01-10,Respuesta-FP-1 2021-01-10.xlsx,NaN,2021-01-10,BANORTE
4,3RP3BDV6G,ERROR,2021-01-09,2021-01-10,"2,206.82",RETORNO SPEI 1174018164,1f2155aa-e5a5-4edb-b1e2-d56cdf58a8d0,1000005,4,14eec520-4aa4-4460-80e7-59622ad11479,...,BALDWIN ABDAL Lizardo Rivas,2021-01-09,2021-01-10,0,2021-01-10,2021-01-10,Respuesta-FP-1 2021-01-10.xlsx,NaN,2021-01-10,BANORTE

In [24]:
query.shape

(14934, 13)

In [25]:
ae.shape

(15131, 22)

# VALIDACION REGISTROS

In [26]:
duplicates_query = query[query.duplicated(['report_id'],keep=False)]
duplicates_query.head()

Empty DataFrame
Columns: [merchant_id, merchant_name, user_email, report_id, report_date_local, amount, status, bank_name, payment_date_local, bank_account_owner_name, bank_account_number, swap, file_name]
Index: []

In [27]:
duplicates_query.shape

(0, 13)

In [28]:
duplicates_file_sent = ae[ae.duplicated(['report_id'],keep=False)]
duplicates_file_sent.head()

,report_id,status,report_date_local,payment_date_local,amount,error_description,disbursement_batch_id,dsp_reference_id,entry_number,disbursement_id,...,bank_account_owner_name,execution_date,application_date,number_movement,created_at,updated_at,file_name,disbursement_tracking_key,Date_respuesta,Metodo de dispersion
0,G228WW9ZC,PAID,2021-01-09,2021-01-10,85.29,DISPONIBLE INSUFICIENTE AUT.,1f2155aa-e5a5-4edb-b1e2-d56cdf58a8d0,1000001,0,bb46fdf1-9d60-4cd7-9c48-54ea78c0037e,...,Manuel Guillermo Torres Fernandez,2021-01-09,2021-01-10,0,2021-01-10,2021-01-10,Respuesta-FP-1 2021-01-10.xlsx,NaN,2021-01-10,BANORTE
1,V74XW24RR,PAID,2021-01-09,2021-01-10,400.54,DISPONIBLE INSUFICIENTE AUT.,1f2155aa-e5a5-4edb-b1e2-d56cdf58a8d0,1000002,1,ed22a936-1c4e-4088-b973-a769905a0179,...,Omar Polo Ochoa,2021-01-09,2021-01-10,0,2021-01-10,2021-01-10,Respuesta-FP-1 2021-01-10.xlsx,NaN,2021-01-10,BANORTE
2,35CTN8ZSJ,PAID,2021-01-09,2021-01-10,"17,982.85",DISPONIBLE INSUFICIENTE AUT.,1f2155aa-e5a5-4edb-b1e2-d56cdf58a8d0,1000003,2,4335c238-e839-4e29-b6bd-0732e98af77f,...,Selvaraju Ponniah Alvarez,2021-01-09,2021-01-10,0,2021-01-10,2021-01-10,Respuesta-FP-1 2021-01-10.xlsx,NaN,2021-01-10,BANORTE
3,YS5XM6998,PAID,2021-01-09,2021-01-10,95.82,DISPONIBLE INSUFICIENTE AUT.,1f2155aa-e5a5-4edb-b1e2-d56cdf58a8d0,1000004,3,d6ffbe0b-b5ce-4009-908a-0a7ed0763f1a,...,Jose Luis Higuera Zuniga,2021-01-09,2021-01-10,0,2021-01-10,2021-01-10,Respuesta-FP-1 2021-01-10.xlsx,NaN,2021-01-10,BANORTE
4,3RP3BDV6G,ERROR,2021-01-09,2021-01-10,"2,206.82",RETORNO SPEI 1174018164,1f2155aa-e5a5-4edb-b1e2-d56cdf58a8d0,1000005,4,14eec520-4aa4-4460-80e7-59622ad11479,...,BALDWIN ABDAL Lizardo Rivas,2021-01-09,2021-01-10,0,2021-01-10,2021-01-10,Respuesta-FP-1 2021-01-10.xlsx,NaN,2021-01-10,BANORTE

In [29]:
duplicates_file_sent.shape

(394, 22)