In [1]:
import pandas as pd
import numpy as np
from openpyxl import load_workbook
import glob
import os
pd.options.display.float_format = '{:,.2f}'.format

# READING FILES

## BNTE

In [2]:
name_header = ['merchant_id','merchant_name','user_email','report_id','report_date_local','amount','status','bank_name'
               ,'payment_date_local','bank_account_owner_name','bank_account_number','swap']

In [3]:
query_1 = glob.glob(r'G:\My Drive\Settlement\5.-HISTORICO FILES PAGOS\2022\01. JANUARY\BNTE 20*.csv', recursive=False)
# query_1 = glob.glob(r'G:\My Drive\Settlement\5.-HISTORICO FILES PAGOS\2021\03. MARCH\BNTE 20*.txt', recursive=False)
query_1

['G:\\My Drive\\Settlement\\5.-HISTORICO FILES PAGOS\\2022\\01. JANUARY\\BNTE 2022-01-30.csv']

In [4]:
query = pd.concat([pd.read_csv(f,dtype={'bank_account_number':object,'report_id':object})
                   .assign(file_name=os.path.basename(f)) for f in query_1])
# query = pd.concat([pd.read_csv(f,sep='\t',names=name_header,dtype={'bank_account_number':object,'report_id':object})
#                    .assign(file_name=os.path.basename(f)) for f in query_1])
query.head()

,merchant_id,merchant_name,user_email,report_id,report_date_local,amount,status,bank_name,payment_date_local,bank_account_owner_name,bank_account_number,batch_created_date,swap,file_name
0,00008884-ca93-4758-8aa7-b10f57145850,Dra Abryl,maah25@hotmail.com,HHSMNMGY3,2022-01-30 00:00:00,"1,437.36",PAID,SANTANDER,2022-01-30 10:20:46,Abryl Mariana Avitia Herrera,'014078567364065679,2022-01-30 08:03:41,"Abryl Mariana Avitia Herrera,,1437.36,01407856...",BNTE 2022-01-30.csv
1,0000d758-84b4-4cb0-a165-4f0d3c44864d,MAHARISHI PANTJALI SA DE CV,maharishiclip@gmail.com,NR5VVJJHM,2022-01-30 00:00:00,"41,501.02",PAID,"Banco Regional de Monterrey, S.A.",2022-01-30 10:41:41,MAHARISHI PANTJALI S.A. DE C.V.,'058375000003160831,2022-01-30 08:03:41,"MAHARISHI PANTJALI S.A. DE C.V.,,41501.02,0583...",BNTE 2022-01-30.csv
2,0000e262-e3ed-4f48-94ee-a8f0d1418a0d,Geishas S,kartf89@gmail.com,SV96SLXTH,2022-01-30 00:00:00,"1,705.67",PAID,"Banco Azteca, S.A.",2022-01-30 10:34:03,Karla Anahi Torres Fuentes,'127290013929071395,2022-01-30 08:03:41,"Karla Anahi Torres Fuentes,,1705.67,1272900139...",BNTE 2022-01-30.csv
3,0000e953-6b2c-44d0-a798-9dac1abf24ea,Super Kandy,yanellysegovia18@gmail.com,LCLJGXR5N,2022-01-30 00:00:00,"4,489.13",PAID,"Banco Nacional de México, S.A.",2022-01-30 10:45:04,Ana Yanelly Puente Gutierrez,'002580701334955664,2022-01-30 08:03:41,"Ana Yanelly Puente Gutierrez,,4489.13,00258070...",BNTE 2022-01-30.csv
4,00023bd5-6149-4ef9-95be-edb61d22588d,LAS PEKES,alebarradas1@hotmail.com,KXB3JJYHW,2022-01-30 00:00:00,250.11,PAID,"BanCoppel, S.A.",2022-01-30 10:37:29,Virginia Alejandra Barradas Prez,'137463103868892825,2022-01-30 08:03:41,"Virginia Alejandra Barradas Prez,,250.11,13746...",BNTE 2022-01-30.csv

In [5]:
ae = pd.read_csv(r'G:\My Drive\Settlement\5.-HISTORICO FILES PAGOS\2022\01. JANUARY\BnteDOWNLOAD 2022-01-30.csv'
                 ,names=['Nombre_download','Blank','amount_download','CLABE_download','report_id']
                 ,dtype={'CLABE_download':object,'report_id':object},skiprows=[0])
ae['report_id'] = ae['report_id'].str[5:].replace(' ', '',regex=True)
ae['report_id'] = ae['report_id'].replace(' ', '',regex=True)
ae.head()

,Nombre_download,Blank,amount_download,CLABE_download,report_id
0,Abryl Mariana Avitia Herrera,nan,"1,437.36",014078567364065679,HHSMNMGY3
1,MAHARISHI PANTJALI S A DE C V,nan,"41,501.02",058375000003160831,NR5VVJJHM
2,Karla Anahi Torres Fuentes,nan,"1,705.67",127290013929071395,SV96SLXTH
3,Ana Yanelly Puente Gutierrez,nan,"4,489.13",002580701334955664,LCLJGXR5N
4,Virginia Alejandra Barradas Prez,nan,250.11,137463103868892825,KXB3JJYHW

In [6]:
query.shape

(84324, 14)

In [7]:
ae.shape

(84324, 5)

# VALIDACION REGISTROS

In [8]:
duplicates_query = query[query.duplicated(['report_id'],keep=False)]
duplicates_query.head()

Empty DataFrame
Columns: [merchant_id, merchant_name, user_email, report_id, report_date_local, amount, status, bank_name, payment_date_local, bank_account_owner_name, bank_account_number, batch_created_date, swap, file_name]
Index: []

In [9]:
duplicates_file_sent = ae[ae.duplicated(['report_id'],keep=False)]
duplicates_file_sent.head()

Empty DataFrame
Columns: [Nombre_download, Blank, amount_download, CLABE_download, report_id]
Index: []